openapi: 3.0.1
info:
  title: PolicyStatesClient
  version: 2019-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: policyinsights-policyStates
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.PolicyInsights/operations:
    get:
      description: Lists available operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResults'
          description: List of available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2019-10-01
          responses:
            "200":
              body:
                '@odata.count': 3
                value:
                - display:
                    description: Query information about policy events.
                    operation: Query Policy Events
                    provider: Microsoft Policy Insights
                    resource: Policy Events
                  name: Microsoft.PolicyInsights/policyEvents/queryResults/action
                - display:
                    description: Query information about policy states.
                    operation: Query Policy States
                    provider: Microsoft Policy Insights
                    resource: Policy States
                  name: Microsoft.PolicyInsights/policyStates/queryResults/action
                - display:
                    description: Query summary information about policy latest states.
                    operation: Query Policy Latest States Summary
                    provider: Microsoft Policy Insights
                    resource: Policy States
                  name: Microsoft.PolicyInsights/policyStates/summarize/action
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults
  : post:
      description: Queries policy states for the resources under the management group.
      operationId: policy_states_list_query_results_for_management_group
      parameters:
      - description: "The virtual resource under PolicyStates resource type. In a\
          \ given time range, 'latest' represents the latest policy state(s), whereas\
          \ 'default' represents all policy state(s)."
        in: path
        name: policyStatesResource
        required: true
        schema:
          enum:
          - default
          - latest
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyStatesResource
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyStatesResource
        x-ms-parameter-location: method
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group name.
        in: path
        name: managementGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Ordering expression using OData notation. One or more comma-separated\
          \ column names with an optional \"desc\" (the default) or \"asc\", e.g.\
          \ \"$orderby=PolicyAssignmentId, ResourceId asc\"."
        in: query
        name: $orderby
        schema:
          type: string
          x-ms-client-name: OrderBy
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: OrderBy
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Select expression using OData notation. Limits the columns on\
          \ each record to just those requested, e.g. \"$select=PolicyAssignmentId,\
          \ ResourceId\"."
        in: query
        name: $select
        schema:
          type: string
          x-ms-client-name: Select
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Select
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the start time of the\
          \ interval to query. When not specified, the service uses ($to - 1-day)."
        in: query
        name: $from
        schema:
          format: date-time
          type: string
          x-ms-client-name: From
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: From
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the end time of the\
          \ interval to query. When not specified, the service uses request time."
        in: query
        name: $to
        schema:
          format: date-time
          type: string
          x-ms-client-name: To
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: To
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData apply expression for aggregations.
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatesQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Query latest at management group scope:
          parameters:
            api-version: 2019-10-01
            managementGroupName: myManagementGroup
            managementGroupsNamespace: Microsoft.Management
            policyStatesResource: latest
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: NonCompliant
                  isCompliant: false
                  managementGroupIds: "myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/1ef5d536aec743a0aa801c1a
                  policyAssignmentName: 1ef5d536aec743a0aa801c1a
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{}"
                  policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                  policyDefinitionAction: audit
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                  policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                  policyDefinitionReferenceId: "15521232277412542086"
                  policySetDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/335cefd2-ab16-430f-b364-974a170eb1d5
                  policySetDefinitionName: 335cefd2-ab16-430f-b364-974a170eb1d5
                  resourceGroup: myrg1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                  resourceLocation: westus
                  resourceTags: tbd
                  resourceType: /microsoft.insights/autoscalesettings
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-09T17:41:47Z
                - '@odata.context': https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: Compliant
                  isCompliant: true
                  managementGroupIds: "myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                  policyAssignmentName: 186044306c044a1d8c0ff76c
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{\"allowedLocations\":{\"value\":[\"\
                    centralus\"]}}"
                  policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                  policyDefinitionAction: audit
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                  policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                  policyDefinitionReferenceId: ""
                  policySetDefinitionId: ""
                  policySetDefinitionName: ""
                  resourceGroup: myrg1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                  resourceLocation: westus
                  resourceTags: tbd
                  resourceType: /microsoft.insights/autoscalesettings
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-09T17:41:47Z
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize
  : post:
      description: Summarizes policy states for the resources under the management
        group.
      operationId: policy_states_summarize_for_management_group
      parameters:
      - description: "The virtual resource under PolicyStates resource type for summarize\
          \ action. In a given time range, 'latest' represents the latest policy state(s)\
          \ and is the only allowed value."
        in: path
        name: policyStatesSummaryResource
        required: true
        schema:
          enum:
          - latest
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: management_groups_namespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group name.
        in: path
        name: management_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the start time of the\
          \ interval to query. When not specified, the service uses ($to - 1-day)."
        in: query
        name: _from
        schema:
          format: date-time
          type: string
          x-ms-client-name: From
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: From
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the end time of the\
          \ interval to query. When not specified, the service uses request time."
        in: query
        name: to
        schema:
          format: date-time
          type: string
          x-ms-client-name: To
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: To
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeResults'
          description: Summarize results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Summarize at management group scope:
          parameters:
            $filter: PolicyDefinitionAction eq 'deny' or PolicyDefinitionAction eq
              'audit'
            $from: 2019-10-05T18:00:00Z
            $to: 2019-10-06T18:00:00Z
            $top: 0
            api-version: 2019-10-01
            managementGroupName: myManagementGroup
            managementGroupsNamespace: Microsoft.Management
            policyStatesSummaryResource: latest
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                '@odata.count': 1
                value:
                - '@odata.context': https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                  policyAssignments: []
                  results:
                    nonCompliantPolicies: 68
                    nonCompliantResources: 15410
                    policyDetails:
                    - complianceState: noncompliant
                      count: 68
                    policyGroupDetails:
                    - complianceState: noncompliant
                      count: 14
                    queryResultsUri: https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-05
                      18:00:00Z&$to=2019-10-06 18:00:00Z&$filter=(PolicyDefinitionAction
                      eq 'deny' or PolicyDefinitionAction eq 'audit') and IsCompliant
                      eq false
                    resourceDetails:
                    - complianceState: compliant
                      count: 1400
                    - complianceState: noncompliant
                      count: 15410
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation:
    post:
      description: Triggers a policy evaluation scan for all the resources under the
        subscription
      operationId: policy_states_trigger_subscription_evaluation
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: The scan is done.
        "202":
          content: {}
          description: The scan was successfully triggered.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Trigger evaluations for all resources in a subscription:
          parameters:
            api-version: 2019-10-01
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults:
    post:
      description: Queries policy states for the resources under the subscription.
      operationId: policy_states_list_query_results_for_subscription
      parameters:
      - description: "The virtual resource under PolicyStates resource type. In a\
          \ given time range, 'latest' represents the latest policy state(s), whereas\
          \ 'default' represents all policy state(s)."
        in: path
        name: policy_states_resource
        required: true
        schema:
          enum:
          - default
          - latest
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyStatesResource
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyStatesResource
        x-ms-parameter-location: method
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Ordering expression using OData notation. One or more comma-separated\
          \ column names with an optional \"desc\" (the default) or \"asc\", e.g.\
          \ \"$orderby=PolicyAssignmentId, ResourceId asc\"."
        in: query
        name: orderby
        schema:
          type: string
          x-ms-client-name: OrderBy
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: OrderBy
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Select expression using OData notation. Limits the columns on\
          \ each record to just those requested, e.g. \"$select=PolicyAssignmentId,\
          \ ResourceId\"."
        in: query
        name: select
        schema:
          type: string
          x-ms-client-name: Select
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Select
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the start time of the\
          \ interval to query. When not specified, the service uses ($to - 1-day)."
        in: query
        name: _from
        schema:
          format: date-time
          type: string
          x-ms-client-name: From
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: From
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the end time of the\
          \ interval to query. When not specified, the service uses request time."
        in: query
        name: to
        schema:
          format: date-time
          type: string
          x-ms-client-name: To
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: To
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData apply expression for aggregations.
        in: query
        name: apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatesQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Filter and aggregate only:
          parameters:
            $apply: aggregate($count as NumDenyStates)
            $filter: PolicyDefinitionAction eq 'deny'
            $from: 2019-10-05T18:00:00Z
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 1
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumDenyStates: 6
        Filter and group with aggregate:
          parameters:
            $apply: "groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction,\
              \ ResourceId), aggregate($count as NumAuditDenyNonComplianceRecords))"
            $filter: IsCompliant eq false and (PolicyDefinitionAction eq 'audit' or
              PolicyDefinitionAction eq 'deny')
            $from: 2019-10-05T18:00:00Z
            $orderby: NumAuditDenyNonComplianceRecords desc
            $top: 2
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumAuditDenyNonComplianceRecords: 10
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                  policyDefinitionAction: audit
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumAuditDenyNonComplianceRecords: 10
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                  policyDefinitionAction: audit
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
        Filter and group without aggregate:
          parameters:
            $apply: "groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction,\
              \ ResourceId))"
            $filter: IsCompliant eq false and (PolicyDefinitionAction ne 'audit' and
              PolicyDefinitionAction ne 'append')
            $from: 2019-10-05T18:00:00Z
            $top: 2
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/enable
                    monitoring in azure security center
                  policyDefinitionAction: auditifnotexists
                  policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/89b27f38-e9e4-4468-ab81-801c84b8c017
                  policyDefinitionAction: auditifnotexists
                  policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
        Filter and multiple groups:
          parameters:
            $apply: "groupby((PolicyAssignmentId, PolicySetDefinitionId, PolicyDefinitionId,\
              \ PolicyDefinitionReferenceId, ResourceId))/groupby((PolicyAssignmentId,\
              \ PolicySetDefinitionId, PolicyDefinitionId, PolicyDefinitionReferenceId),\
              \ aggregate($count as NumNonCompliantResources))"
            $filter: IsCompliant eq false
            $orderby: NumNonCompliantResources desc
            $top: 10
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 10
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: "14799174781370023846"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: "1679708035638239273"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: "14799174781370023846"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: "1679708035638239273"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: ""
                  policySetDefinitionId: ""
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 557
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                  policyDefinitionReferenceId: ""
                  policySetDefinitionId: ""
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 552
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: ""
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 544
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                  policyDefinitionReferenceId: "8935913113203900114"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 526
                  policyAssignmentId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policyassignments/8174043a1e2849179635b874
                  policyDefinitionId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policydefinitions/72c0c41a-c752-4bc0-9c61-0d6adc567066
                  policyDefinitionReferenceId: ""
                  policySetDefinitionId: ""
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  NumNonCompliantResources: 509
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                  policyDefinitionReferenceId: "2124621540977569058"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
        Query latest at subscription scope:
          parameters:
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: NonCompliant
                  isCompliant: false
                  managementGroupIds: "mymg,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/Enable
                    Monitoring in Azure Security Center
                  policyAssignmentName: Enable Monitoring in Azure Security Center
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{}"
                  policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                  policyDefinitionAction: AuditIfNotExists
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                  policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                  policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  resourceGroup: myrg1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                  resourceLocation: eastus
                  resourceTags: tbd
                  resourceType: /Microsoft.Network/publicIPAddresses
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-09T17:48:05Z
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: NonCompliant
                  isCompliant: false
                  managementGroupIds: "mymg,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/9ac09b0657d942e5ad4041a6
                  policyAssignmentName: 9ac09b0657d942e5ad4041a6
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{}"
                  policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                  policyDefinitionAction: AuditIfNotExists
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                  policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                  policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  resourceGroup: myrg1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                  resourceLocation: eastus
                  resourceTags: tbd
                  resourceType: /Microsoft.Network/publicIPAddresses
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-09T17:48:05Z
        Time range; sort, select and limit:
          parameters:
            $from: 2019-10-05T18:00:00Z
            $orderby: "Timestamp desc, PolicyAssignmentId asc, SubscriptionId asc,\
              \ ResourceGroup asc, ResourceId"
            $select: "Timestamp, PolicyAssignmentId, PolicyDefinitionId, SubscriptionId,\
              \ ResourceGroup, ResourceId, policyDefinitionGroupNames"
            $to: 2019-10-06T18:00:00Z
            $top: 2
            api-version: 2019-10-01
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                  resourceGroup: myrg1
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Storage/storageAccounts/mysa1
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-06T17:58:00Z
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                  policyDefinitionGroupNames: []
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                  resourceGroup: myrg2
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg2/providers/Microsoft.Storage/storageAccounts/mysa2
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-06T17:58:00Z
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize:
    post:
      description: Summarizes policy states for the resources under the subscription.
      operationId: policy_states_summarize_for_subscription
      parameters:
      - description: "The virtual resource under PolicyStates resource type for summarize\
          \ action. In a given time range, 'latest' represents the latest policy state(s)\
          \ and is the only allowed value."
        in: path
        name: policy_states_summary_resource
        required: true
        schema:
          enum:
          - latest
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the start time of the\
          \ interval to query. When not specified, the service uses ($to - 1-day)."
        in: query
        name: _from
        schema:
          format: date-time
          type: string
          x-ms-client-name: From
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: From
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the end time of the\
          \ interval to query. When not specified, the service uses request time."
        in: query
        name: to
        schema:
          format: date-time
          type: string
          x-ms-client-name: To
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: To
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeResults'
          description: Summarize results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Summarize at subscription scope:
          parameters:
            $top: 5
            api-version: 2019-10-01
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                '@odata.count': 1
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                  policyAssignments:
                  - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                      policyDefinitionReferenceId: 1b249ab8b4741b249ab8b474
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policyGroups:
                    - policyGroupName: group1
                      results:
                        nonCompliantResources: 531
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicySetDefinitiontId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad'
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                          and 'group1' IN PolicyDefinitionGroupNames
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 557
                      policyDetails:
                      - complianceState: noncompliant
                        count: 1
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                        false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 557
                  - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                      policyDefinitionReferenceId: ""
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policyGroups:
                    - policyGroupName: ""
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=PolicyAssignmentId
                          eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7'
                        resourceDetails:
                        - complianceState: compliant
                          count: 14
                        - complianceState: noncompliant
                          count: 557
                    policySetDefinitionId: ""
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 557
                      policyDetails:
                      - complianceState: noncompliant
                        count: 1
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                        false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 557
                  - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                      policyDefinitionReferenceId: ""
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policyGroups:
                    - policyGroupName: ""
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=PolicyAssignmentId
                          eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49'
                        resourceDetails:
                        - complianceState: compliant
                          count: 14
                        - complianceState: noncompliant
                          count: 557
                    policySetDefinitionId: ""
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 557
                      policyDetails:
                      - complianceState: noncompliant
                        count: 1
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                        false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 557
                  - policyAssignmentId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policydefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                      policyDefinitionReferenceId: "2134906828137356512"
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a'
                          and PolicyDefinitionId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policydefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policyGroups:
                    - policyGroupName: group1
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicySetDefinitiontId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/335cefd2-ab16-430f-b364-974a170eb1d5'
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a'
                          and 'group1' IN PolicyDefinitionGroupNames
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 557
                    policySetDefinitionId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policysetdefinitions/335cefd2-ab16-430f-b364-974a170eb1d5
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 557
                      policyDetails:
                      - complianceState: noncompliant
                        count: 1
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                        false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 557
                  - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                      policyDefinitionReferenceId: "5434906828137356512"
                      results:
                        nonCompliantResources: 552
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 552
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition
                      policyDefinitionReferenceId: "8724906828137356512"
                      results:
                        nonCompliantResources: 29
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 29
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682
                      policyDefinitionReferenceId: "7254906828137356512"
                      results:
                        nonCompliantResources: 2
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                          false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682'
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 2
                    policyGroups:
                    - policyGroupName: group1
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 3
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicySetDefinitiontId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c'
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                          and 'group1' IN PolicyDefinitionGroupNames
                        resourceDetails:
                        - complianceState: compliant
                          count: 140
                        - complianceState: noncompliant
                          count: 552
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    results:
                      nonCompliantPolicies: 3
                      nonCompliantResources: 552
                      policyDetails:
                      - complianceState: noncompliant
                        count: 3
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq
                        false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 552
                  results:
                    nonCompliantPolicies: 40
                    nonCompliantResources: 619
                    policyDetails:
                    - complianceState: noncompliant
                      count: 1
                    policyGroupDetails:
                    - complianceState: noncompliant
                      count: 1
                    queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                      19:48:53Z&$to=2019-10-13 19:48:53Z&$filter=IsCompliant eq false
                    resourceDetails:
                    - complianceState: compliant
                      count: 140
                    - complianceState: noncompliant
                      count: 619
        Summarize at subscription scope for a policy definition group:
          parameters:
            $filter: '''group1'' IN PolicyDefinitionGroupNames'
            $top: 1
            api-version: 2019-10-01
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                '@odata.count': 1
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                  policyAssignments:
                  - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitions:
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/ab379b49-a579-4045-984e-1b249ab8b474
                      policyDefinitionReferenceId: "1595906828137356523"
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/ab379b49-a579-4045-984e-1b249ab8b474'
                        resourceDetails:
                        - complianceState: compliant
                          count: 14
                        - complianceState: noncompliant
                          count: 557
                    - effect: audit
                      policyDefinitionGroupNames:
                      - group1
                      policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                      policyDefinitionReferenceId: "2134906828137356512"
                      results:
                        nonCompliantResources: 34
                        policyDetails:
                        - complianceState: noncompliant
                          count: 1
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                          and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        resourceDetails:
                        - complianceState: compliant
                          count: 510
                        - complianceState: noncompliant
                          count: 34
                    policyGroups:
                    - policyGroupName: group1
                      results:
                        nonCompliantResources: 557
                        policyDetails:
                        - complianceState: noncompliant
                          count: 2
                        policyGroupDetails:
                        - complianceState: noncompliant
                          count: 1
                        queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                          19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                          and PolicySetDefinitiontId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad'
                          and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                          and 'group1' IN PolicyDefinitionGroupNames
                        resourceDetails:
                        - complianceState: compliant
                          count: 14
                        - complianceState: noncompliant
                          count: 557
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 557
                      policyDetails:
                      - complianceState: noncompliant
                        count: 2
                      policyGroupDetails:
                      - complianceState: noncompliant
                        count: 1
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                        19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                        and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                      resourceDetails:
                      - complianceState: compliant
                        count: 140
                      - complianceState: noncompliant
                        count: 17
                  results:
                    nonCompliantPolicies: 1
                    nonCompliantResources: 557
                    policyDetails:
                    - complianceState: noncompliant
                      count: 1
                    policyGroupDetails:
                    - complianceState: noncompliant
                      count: 1
                    queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-10-12
                      19:48:53Z&$to=2019-10-13 19:48:53Z&$filter='group1' IN PolicyDefinitionGroupNames
                    resourceDetails:
                    - complianceState: compliant
                      count: 140
                    - complianceState: noncompliant
                      count: 17
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults
  : post:
      description: Queries policy states for the subscription level policy assignment.
      operationId: policy_states_list_query_results_for_subscription_level_policy_assignment
      parameters:
      - description: "The virtual resource under PolicyStates resource type. In a\
          \ given time range, 'latest' represents the latest policy state(s), whereas\
          \ 'default' represents all policy state(s)."
        in: path
        name: policy_states_resource
        required: true
        schema:
          enum:
          - default
          - latest
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyStatesResource
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyStatesResource
        x-ms-parameter-location: method
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace for Microsoft Authorization resource provider;
          only "Microsoft.Authorization" is allowed.
        in: path
        name: authorizationNamespace
        required: true
        schema:
          enum:
          - Microsoft.Authorization
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy assignment name.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Ordering expression using OData notation. One or more comma-separated\
          \ column names with an optional \"desc\" (the default) or \"asc\", e.g.\
          \ \"$orderby=PolicyAssignmentId, ResourceId asc\"."
        in: query
        name: orderby
        schema:
          type: string
          x-ms-client-name: OrderBy
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: OrderBy
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Select expression using OData notation. Limits the columns on\
          \ each record to just those requested, e.g. \"$select=PolicyAssignmentId,\
          \ ResourceId\"."
        in: query
        name: select
        schema:
          type: string
          x-ms-client-name: Select
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Select
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the start time of the\
          \ interval to query. When not specified, the service uses ($to - 1-day)."
        in: query
        name: _from
        schema:
          format: date-time
          type: string
          x-ms-client-name: From
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: From
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "ISO 8601 formatted timestamp specifying the end time of the\
          \ interval to query. When not specified, the service uses request time."
        in: query
        name: to
        schema:
          format: date-time
          type: string
          x-ms-client-name: To
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: To
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData apply expression for aggregations.
        in: query
        name: apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatesQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Query latest at subscription level policy assignment scope:
          parameters:
            api-version: 2019-10-01
            authorizationNamespace: Microsoft.Authorization
            policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                '@odata.count': 2
                value:
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: NonCompliant
                  isCompliant: false
                  managementGroupIds: "mymg,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                  policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{\"TAGNAME_1\":{\"value\":\"test\"\
                    }}"
                  policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                  policyDefinitionAction: audit
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                  policyDefinitionName: c8b79b49-a579-4045-984e-1b249ab8b474
                  policyDefinitionReferenceId: "2124621540977569058"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  policySetDefinitionName: 12b58873-e0f8-4b95-936c-86cbe7c9d697
                  resourceGroup: myResourceGroup
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Network/publicIPAddresses/my-ip-1
                  resourceLocation: eastus
                  resourceTags: tbd
                  resourceType: /Microsoft.Network/publicIPAddresses
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-13T00:45:19Z
                - '@odata.context': https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                  complianceState: Compliant
                  isCompliant: true
                  managementGroupIds: "mymg,fff988bf-fff1-ffff-fffb-fffcd011db47"
                  policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                  policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                  policyAssignmentOwner: tbd
                  policyAssignmentParameters: "{\"TAGNAME_1\":{\"value\":\"test\"\
                    }}"
                  policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                  policyDefinitionAction: audit
                  policyDefinitionCategory: tbd
                  policyDefinitionGroupNames:
                  - myGroup
                  policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                  policyDefinitionReferenceId: "14799174781370023846"
                  policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  policySetDefinitionName: 12b58873-e0f8-4b95-936c-86cbe7c9d697
                  resourceGroup: myResourceGroup
                  resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Network/publicIPAddresses/my-ip-1
                  resourceLocation: eastus
                  resourceTags: tbd
                  resourceType: /Microsoft.Network/publicIPAddresses
                  subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                  timestamp: 2019-10-13T00:45:19Z
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize
  : post:
      description: Summarizes policy states for the subscription level policy assignment.
      operationId: policy_states_summarize_for_subscription_level_policy_assignment
      parameters:
      - description: "The virtual resource under PolicyStates resource type for summarize\
          \ action. In a given time range, 'latest' represents the latest policy state(s)\
          \ and is the only allowed value."
        in: path
        name: policy_states_summary_resource
        required: true
        schema:
          enum:
          - latest
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace for Microsoft Authorization resource provider;
          only "Microsoft.Authorization" is allowed.
        in: path
        name: authorization_namespace
        required: true
        schema:
          enum:
          - Microsoft.Authorization
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy assignment name.
        in: path
        name: policy_assignment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Maximum number of records to return.
        in: query
        name: top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
[...]
