openapi: 3.0.1
info:
  description: Shared Image Gallery Service Client.
  title: SharedImageGalleryServiceClient
  version: 2018-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/gallery.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute-gallery
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries:
    get:
      description: List galleries under a subscription.
      operationId: galleries_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        List galleries in a subscription.:
          parameters:
            api-version: 2018-06-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName"
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName"
                  location: West US
                  name: myGalleryName
                  properties:
                    description: This is the gallery description.
                    identifier:
                      uniqueName: "{subscription-id}-MYGALLERYNAME"
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries:
    get:
      description: List galleries under a resource group.
      operationId: galleries_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        List galleries in a resource group.:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName"
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName"
                  location: West US
                  name: myGalleryName
                  properties:
                    description: This is the gallery description.
                    identifier:
                      uniqueName: "{subscription-id}-MYGALLERYNAME"
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}:
    delete:
      description: Delete a Shared Image Gallery.
      operationId: galleries_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery to be deleted.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Delete a gallery.:
          parameters:
            api-version: 2018-06-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
    get:
      description: Retrieves information about a Shared Image Gallery.
      operationId: galleries_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Get a gallery.:
          parameters:
            api-version: 2018-06-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
    put:
      description: Create or update a Shared Image Gallery.
      operationId: galleries_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery. The allowed characters
          are alphabets and numbers with dots and periods allowed in the middle. The
          maximum length is 80 characters.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gallery'
        description: Parameters supplied to the create or update Shared Image Gallery
          operation.
        required: true
        x-body-name: gallery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Create or update a simple gallery.:
          parameters:
            api-version: 2018-06-01
            gallery:
              location: West US
              properties:
                description: This is the gallery description.
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Updating
            "201":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Creating
            "202":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: gallery
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images:
    get:
      description: List gallery Image Definitions in a gallery.
      operationId: gallery_images_list_by_gallery
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery from which Image Definitions
          are to be listed.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        List gallery images in a gallery.:
          parameters:
            api-version: 2018-06-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/images?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/images/myGalleryImageName"
                value:
                - location: West US
                  name: myGalleryImageName
                  properties:
                    identifier:
                      offer: myOfferName
                      publisher: myPublisherName
                      sku: mySkuName
                    osState: Generalized
                    osType: Windows
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}
  : delete:
      description: Delete a gallery image.
      operationId: gallery_images_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          is to be deleted.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition to be deleted.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Delete a gallery image.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    get:
      description: Retrieves information about a gallery Image Definition.
      operationId: gallery_images_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery from which the Image Definitions
          are to be retrieved.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition to be retrieved.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Get a gallery image.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    put:
      description: Create or update a gallery Image Definition.
      operationId: gallery_images_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          is to be created.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Definition to be created or updated.\
          \ The allowed characters are alphabets and numbers with dots, dashes, and\
          \ periods allowed in the middle. The maximum length is 80 characters."
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImage'
        description: Parameters supplied to the create or update gallery image operation.
        required: true
        x-body-name: galleryImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Create or update a simple gallery image.:
          parameters:
            api-version: 2018-06-01
            galleryImage:
              location: West US
              properties:
                identifier:
                  offer: myOfferName
                  publisher: myPublisherName
                  sku: mySkuName
                osState: Generalized
                osType: Windows
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Updating
            "201":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Creating
            "202":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryImage
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions
  : get:
      description: List gallery Image Versions in a gallery Image Definition.
      operationId: gallery_image_versions_list_by_gallery_image
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the Shared Image Gallery Image Definition from which
          the Image Versions are to be listed.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        List gallery Image Versions in a gallery Image Definition.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/images/myGalleryImageName/versions?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/images/myGalleryImageName/versions/myGalleryImageVersionName"
                value:
                - location: West US
                  name: 1.0.0
                  properties:
                    provisioningState: Succeeded
                    publishingProfile:
                      publishedDate: 2018-01-01T00:00:00Z
                      replicaCount: 1
                      source:
                        managedImage:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                      targetRegions:
                      - name: West US
                        regionalReplicaCount: 1
                      - name: East US
                        regionalReplicaCount: 2
                    storageProfile:
                      dataDiskImages:
                      - hostCaching: None
                        lun: 1
                        sizeInGB: 10
                      osDiskImage:
                        hostCaching: ReadOnly
                        sizeInGB: 10
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}
  : delete:
      description: Delete a gallery Image Version.
      operationId: gallery_image_versions_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          resides.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Version to be deleted.
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Delete a gallery Image Version.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
    get:
      description: Retrieves information about a gallery Image Version.
      operationId: gallery_image_versions_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          resides.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Version to be retrieved.
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          enum:
          - ReplicationStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReplicationStatusTypes
        x-ms-enum:
          modelAsString: true
          name: ReplicationStatusTypes
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Get a gallery Image Version with replication status.:
          parameters:
            $expand: ReplicationStatus
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  source:
                    managedImage:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    source:
                      managedImage:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                    - name: East US
                      regionalReplicaCount: 2
                  replicationStatus:
                    aggregatedState: Completed
                    summary:
                    - details: ""
                      progress: 100
                      region: West US
                      state: Completed
                    - details: ""
                      progress: 100
                      region: East US
                      state: Completed
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
        Get a gallery Image Version.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  source:
                    managedImage:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    source:
                      managedImage:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                    - name: East US
                      regionalReplicaCount: 2
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
    put:
      description: Create or update a gallery Image Version.
      operationId: gallery_image_versions_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          is to be created.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Version to be created. Needs to\
          \ follow semantic version name pattern: The allowed characters are digit\
          \ and period. Digits must be within the range of a 32-bit integer. Format:\
          \ <MajorVersion>.<MinorVersion>.<Patch>"
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageVersion'
        description: Parameters supplied to the create or update gallery Image Version
          operation.
        required: true
        x-body-name: galleryImageVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Create or update a simple gallery Image Version.:
          parameters:
            api-version: 2018-06-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  source:
                    managedImage:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    source:
                      managedImage:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                    - name: East US
                      regionalReplicaCount: 2
            "201":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Creating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    source:
                      managedImage:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                    - name: East US
                      regionalReplicaCount: 2
            "202":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    source:
                      managedImage:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                    - name: East US
                      regionalReplicaCount: 2
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryImageVersion
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiError:
      description: Api error.
      example:
        code: code
        innererror:
          errordetail: errordetail
          exceptiontype: exceptiontype
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        details:
          description: The Api error details
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          title: details
          type: array
        innererror:
          $ref: '#/components/schemas/InnerError'
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiError
      type: object
    ApiErrorBase:
      description: Api error base.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiErrorBase
      type: object
    CloudError:
      description: An error response from the Gallery service.
      example:
        error:
          code: code
          innererror:
            errordetail: errordetail
            exceptiontype: exceptiontype
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      title: CloudError
      type: object
      x-ms-external: true
    Disallowed:
      description: Describes the disallowed disk types.
      example:
        diskTypes:
        - diskTypes
        - diskTypes
      properties:
        diskTypes:
          description: A list of disk types.
          items:
            type: string
          title: diskTypes
          type: array
      title: Disallowed
      type: object
    Gallery:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Specifies information about the Shared Image Gallery that you want
        to create or update.
      example:
        properties:
          identifier:
            uniqueName: uniqueName
          description: description
          provisioningState: Creating
      properties:
        properties:
          $ref: '#/components/schemas/GalleryProperties'
      title: Gallery
    GalleryArtifactPublishingProfileBase:
      description: Describes the basic gallery artifact publishing profile.
      properties:
        source:
          $ref: '#/components/schemas/GalleryArtifactSource'
        targetRegions:
          description: The target regions where the Image Version is going to be replicated
            to. This property is updatable.
          items:
            $ref: '#/components/schemas/TargetRegion'
          title: targetRegions
          type: array
      required:
      - source
      title: GalleryArtifactPublishingProfileBase
      type: object
    GalleryArtifactSource:
      description: The source image from which the Image Version is going to be created.
      properties:
        managedImage:
          $ref: '#/components/schemas/ManagedArtifact'
      required:
      - managedImage
      title: GalleryArtifactSource
      type: object
    GalleryDataDiskImage:
      allOf:
      - $ref: '#/components/schemas/GalleryDiskImage'
      description: This is the data disk image.
      example:
        lun: 1
      properties:
        lun:
          description: This property specifies the logical unit number of the data
            disk. This value is used to identify data disks within the Virtual Machine
            and therefore must be unique for each data disk attached to the Virtual
            Machine.
          format: int32
          readOnly: true
          title: lun
          type: integer
      title: GalleryDataDiskImage
    GalleryDiskImage:
      description: This is the disk image base class.
      properties:
        hostCaching:
          description: "The host caching of the disk. Valid values are 'None', 'ReadOnly',\
            \ and 'ReadWrite'"
          enum:
          - None
          - ReadOnly
          - ReadWrite
          readOnly: true
          title: hostCaching
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostCaching
        sizeInGB:
          description: This property indicates the size of the VHD to be created.
          format: int32
          readOnly: true
          title: sizeInGB
          type: integer
      title: GalleryDiskImage
      type: object
    GalleryIdentifier:
      description: Describes the gallery unique name.
      example:
        uniqueName: uniqueName
      properties:
        uniqueName:
          description: The unique name of the Shared Image Gallery. This name is generated
            automatically by Azure.
          readOnly: true
          title: uniqueName
          type: string
      title: GalleryIdentifier
      type: object
    GalleryImage:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Specifies information about the gallery Image Definition that you
        want to create or update.
      example:
        properties:
          identifier:
            offer: offer
            publisher: publisher
            sku: sku
          osState: Generalized
          osType: Windows
          purchasePlan:
            product: product
            name: name
            publisher: publisher
          releaseNoteUri: releaseNoteUri
          description: description
          eula: eula
          provisioningState: Creating
          disallowed:
            diskTypes:
            - diskTypes
            - diskTypes
          endOfLifeDate: 2000-01-23T04:56:07.000+00:00
          privacyStatementUri: privacyStatementUri
          recommended:
            memory:
              min: 6
              max: 0
            vCPUs:
              min: 6
              max: 0
      properties:
        properties:
          $ref: '#/components/schemas/GalleryImageProperties'
      title: GalleryImage
    GalleryImageIdentifier:
      description: This is the gallery Image Definition identifier.
      example:
        offer: offer
        publisher: publisher
        sku: sku
      properties:
        offer:
          description: The name of the gallery Image Definition offer.
          title: offer
          type: string
        publisher:
          description: The name of the gallery Image Definition publisher.
          title: publisher
          type: string
        sku:
          description: The name of the gallery Image Definition SKU.
          title: sku
          type: string
      required:
      - offer
      - publisher
      - sku
      title: GalleryImageIdentifier
      type: object
    GalleryImageList:
      description: The List Gallery Images operation response.
      example:
        value:
        - properties:
            identifier:
              offer: offer
              publisher: publisher
              sku: sku
            osState: Generalized
            osType: Windows
            purchasePlan:
              product: product
              name: name
              publisher: publisher
            releaseNoteUri: releaseNoteUri
            description: description
            eula: eula
            provisioningState: Creating
            disallowed:
              diskTypes:
              - diskTypes
              - diskTypes
            endOfLifeDate: 2000-01-23T04:56:07.000+00:00
            privacyStatementUri: privacyStatementUri
            recommended:
              memory:
                min: 6
                max: 0
              vCPUs:
                min: 6
                max: 0
        - properties:
            identifier:
              offer: offer
              publisher: publisher
              sku: sku
            osState: Generalized
            osType: Windows
            purchasePlan:
              product: product
              name: name
              publisher: publisher
            releaseNoteUri: releaseNoteUri
            description: description
            eula: eula
            provisioningState: Creating
            disallowed:
              diskTypes:
              - diskTypes
              - diskTypes
            endOfLifeDate: 2000-01-23T04:56:07.000+00:00
            privacyStatementUri: privacyStatementUri
            recommended:
              memory:
                min: 6
                max: 0
              vCPUs:
                min: 6
                max: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of Image Definitions in the
            Shared Image Gallery. Call ListNext() with this to fetch the next page
            of gallery Image Definitions.
          title: nextLink
          type: string
        value:
          description: A list of Shared Image Gallery images.
          items:
            $ref: '#/components/schemas/GalleryImage'
          title: value
          type: array
      required:
      - value
      title: GalleryImageList
      type: object
    GalleryImageProperties:
      description: Describes the properties of a gallery Image Definition.
      example:
        identifier:
          offer: offer
          publisher: publisher
          sku: sku
        osState: Generalized
        osType: Windows
        purchasePlan:
          product: product
          name: name
          publisher: publisher
        releaseNoteUri: releaseNoteUri
        description: description
        eula: eula
        provisioningState: Creating
        disallowed:
          diskTypes:
          - diskTypes
          - diskTypes
        endOfLifeDate: 2000-01-23T04:56:07.000+00:00
        privacyStatementUri: privacyStatementUri
        recommended:
          memory:
            min: 6
            max: 0
          vCPUs:
            min: 6
            max: 0
      properties:
        description:
          description: The description of this gallery Image Definition resource.
            This property is updatable.
          title: description
          type: string
        disallowed:
          $ref: '#/components/schemas/Disallowed'
        endOfLifeDate:
          description: The end of life date of the gallery Image Definition. This
            property can be used for decommissioning purposes. This property is updatable.
          format: date-time
          title: endOfLifeDate
          type: string
        eula:
          description: The Eula agreement for the gallery Image Definition.
          title: eula
          type: string
        identifier:
          $ref: '#/components/schemas/GalleryImageIdentifier'
        osState:
          description: The allowed values for OS State are 'Generalized'.
          enum:
          - Generalized
          - Specialized
          title: osState
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemStateTypes
        osType:
          description: "This property allows you to specify the type of the OS that\
            \ is included in the disk when creating a VM from a managed image. <br><br>\
            \ Possible values are: <br><br> **Windows** <br><br> **Linux**"
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
        privacyStatementUri:
          description: The privacy statement uri.
          title: privacyStatementUri
          type: string
        provisioningState:
          description: "The provisioning state, which only appears in the response."
          enum:
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
          readOnly: true
          title: The current state of the gallery Image Definition.
          type: string
        purchasePlan:
          $ref: '#/components/schemas/ImagePurchasePlan'
        recommended:
          $ref: '#/components/schemas/RecommendedMachineConfiguration'
        releaseNoteUri:
          description: The release note uri.
          title: releaseNoteUri
          type: string
      required:
      - identifier
      - osState
      - osType
      title: GalleryImageProperties
      type: object
    GalleryImageVersion:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Specifies information about the gallery Image Version that you
        want to create or update.
      example:
        properties:
          publishingProfile:
            replicaCount: 0
            publishedDate: 2000-01-23T04:56:07.000+00:00
            endOfLifeDate: 2000-01-23T04:56:07.000+00:00
            excludeFromLatest: true
          storageProfile:
            osDiskImage:
              hostCaching: None
              sizeInGB: 5
            dataDiskImages:
            - lun: 1
            - lun: 1
          replicationStatus:
            summary:
            - progress: 6
              details: details
              state: Unknown
              region: region
            - progress: 6
              details: details
              state: Unknown
              region: region
            aggregatedState: Unknown
          provisioningState: Creating
      properties:
        properties:
          $ref: '#/components/schemas/GalleryImageVersionProperties'
      title: GalleryImageVersion
    GalleryImageVersionList:
      description: The List Gallery Image version operation response.
      example:
        value:
        - properties:
            publishingProfile:
              replicaCount: 0
              publishedDate: 2000-01-23T04:56:07.000+00:00
              endOfLifeDate: 2000-01-23T04:56:07.000+00:00
              excludeFromLatest: true
            storageProfile:
              osDiskImage:
                hostCaching: None
                sizeInGB: 5
              dataDiskImages:
              - lun: 1
              - lun: 1
            replicationStatus:
              summary:
              - progress: 6
                details: details
                state: Unknown
                region: region
              - progress: 6
                details: details
                state: Unknown
                region: region
              aggregatedState: Unknown
            provisioningState: Creating
        - properties:
            publishingProfile:
              replicaCount: 0
              publishedDate: 2000-01-23T04:56:07.000+00:00
              endOfLifeDate: 2000-01-23T04:56:07.000+00:00
              excludeFromLatest: true
            storageProfile:
              osDiskImage:
                hostCaching: None
                sizeInGB: 5
              dataDiskImages:
              - lun: 1
              - lun: 1
            replicationStatus:
              summary:
              - progress: 6
                details: details
                state: Unknown
                region: region
              - progress: 6
                details: details
                state: Unknown
                region: region
              aggregatedState: Unknown
            provisioningState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of gallery Image Versions. Call
            ListNext() with this to fetch the next page of gallery Image Versions.
          title: nextLink
          type: string
        value:
          description: A list of gallery Image Versions.
          items:
            $ref: '#/components/schemas/GalleryImageVersion'
          title: value
          type: array
      required:
      - value
      title: GalleryImageVersionList
      type: object
    GalleryImageVersionProperties:
      description: Describes the properties of a gallery Image Version.
      example:
        publishingProfile:
          replicaCount: 0
          publishedDate: 2000-01-23T04:56:07.000+00:00
          endOfLifeDate: 2000-01-23T04:56:07.000+00:00
          excludeFromLatest: true
        storageProfile:
          osDiskImage:
            hostCaching: None
            sizeInGB: 5
          dataDiskImages:
          - lun: 1
          - lun: 1
        replicationStatus:
          summary:
          - progress: 6
            details: details
            state: Unknown
            region: region
          - progress: 6
            details: details
            state: Unknown
            region: region
          aggregatedState: Unknown
        provisioningState: Creating
      properties:
        provisioningState:
          description: "The provisioning state, which only appears in the response."
          enum:
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
          readOnly: true
          title: The current state of the gallery Image Version.
          type: string
        publishingProfile:
          $ref: '#/components/schemas/GalleryImageVersionPublishingProfile'
        replicationStatus:
          $ref: '#/components/schemas/ReplicationStatus'
        storageProfile:
          $ref: '#/components/schemas/GalleryImageVersionStorageProfile'
      required:
      - publishingProfile
      title: GalleryImageVersionProperties
      type: object
    GalleryImageVersionPublishingProfile:
      allOf:
      - $ref: '#/components/schemas/GalleryArtifactPublishingProfileBase'
      description: The publishing profile of a gallery Image Version.
      example:
        replicaCount: 0
        publishedDate: 2000-01-23T04:56:07.000+00:00
        endOfLifeDate: 2000-01-23T04:56:07.000+00:00
        excludeFromLatest: true
      properties:
        endOfLifeDate:
          description: The end of life date of the gallery Image Version. This property
            can be used for decommissioning purposes. This property is updatable.
          format: date-time
          title: endOfLifeDate
          type: string
        excludeFromLatest:
          description: "If set to true, Virtual Machines deployed from the latest\
            \ version of the Image Definition won't use this Image Version."
          title: excludeFromLatest
          type: boolean
        publishedDate:
          description: The timestamp for when the gallery Image Version is published.
          format: date-time
          readOnly: true
          title: publishedDate
          type: string
        replicaCount:
          description: The number of replicas of the Image Version to be created per
            region. This property would take effect for a region when regionalReplicaCount
            is not specified. This property is updatable.
          format: int32
          title: replicaCount
          type: integer
      title: GalleryImageVersionPublishingProfile
    GalleryImageVersionStorageProfile:
      description: This is the storage profile of a gallery Image Version.
      example:
        osDiskImage:
          hostCaching: None
          sizeInGB: 5
        dataDiskImages:
        - lun: 1
        - lun: 1
      properties:
        dataDiskImages:
          description: A list of data disk images.
          items:
            $ref: '#/components/schemas/GalleryDataDiskImage'
          readOnly: true
          title: dataDiskImages
          type: array
        osDiskImage:
          $ref: '#/components/schemas/GalleryOSDiskImage'
      title: GalleryImageVersionStorageProfile
      type: object
    GalleryList:
      description: The List Galleries operation response.
      example:
        value:
        - properties:
            identifier:
              uniqueName: uniqueName
            description: description
            provisioningState: Creating
        - properties:
            identifier:
              uniqueName: uniqueName
            description: description
            provisioningState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of galleries. Call ListNext()
            with this to fetch the next page of galleries.
          title: nextLink
          type: string
        value:
          description: A list of galleries.
          items:
            $ref: '#/components/schemas/Gallery'
          title: value
          type: array
      required:
      - value
      title: GalleryList
      type: object
    GalleryOSDiskImage:
      allOf:
      - $ref: '#/components/schemas/GalleryDiskImage'
      description: This is the OS disk image.
      example:
        hostCaching: None
        sizeInGB: 5
      title: GalleryOSDiskImage
    GalleryProperties:
      description: Describes the properties of a Shared Image Gallery.
      example:
        identifier:
          uniqueName: uniqueName
        description: description
        provisioningState: Creating
      properties:
        description:
          description: The description of this Shared Image Gallery resource. This
            property is updatable.
          title: description
          type: string
        identifier:
          $ref: '#/components/schemas/GalleryIdentifier'
        provisioningState:
          description: "The provisioning state, which only appears in the response."
          enum:
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
          readOnly: true
          title: The current state of the gallery.
          type: string
      title: GalleryProperties
      type: object
    ImagePurchasePlan:
      description: Describes the gallery Image Definition purchase plan. This is used
        by marketplace images.
      example:
        product: product
        name: name
        publisher: publisher
      properties:
        name:
          description: The plan ID.
          title: name
          type: string
        product:
          description: The product ID.
          title: product
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
      title: ImagePurchasePlan
      type: object
    InnerError:
      description: Inner error details.
      example:
        errordetail: errordetail
        exceptiontype: exceptiontype
      properties:
        errordetail:
          description: The internal error message or exception dump.
          title: errordetail
          type: string
        exceptiontype:
          description: The exception type.
          title: exceptiontype
          type: string
      title: InnerError
      type: object
    ManagedArtifact:
      description: The managed artifact.
      properties:
        id:
          description: The managed artifact id.
          title: id
          type: string
      required:
      - id
      title: ManagedArtifact
      type: object
    RecommendedMachineConfiguration:
      description: The properties describe the recommended machine configuration for
        this Image Definition. These properties are updatable.
      example:
        memory:
          min: 6
          max: 0
        vCPUs:
          min: 6
          max: 0
      properties:
        memory:
          $ref: '#/components/schemas/ResourceRange'
        vCPUs:
          $ref: '#/components/schemas/ResourceRange'
      title: RecommendedMachineConfiguration
      type: object
    RegionalReplicationStatus:
      description: This is the regional replication status.
      example:
        progress: 6
        details: details
        state: Unknown
        region: region
      properties:
        details:
          description: The details of the replication status.
          readOnly: true
          title: details
          type: string
        progress:
          description: It indicates progress of the replication job.
          format: int32
          readOnly: true
          title: progress
          type: integer
        region:
          description: The region to which the gallery Image Version is being replicated
            to.
          readOnly: true
          title: region
          type: string
        state:
          description: This is the regional replication state.
          enum:
          - Unknown
          - Replicating
          - Completed
          - Failed
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReplicationState
      title: RegionalReplicationStatus
      type: object
    ReplicationStatus:
      description: This is the replication status of the gallery Image Version.
      example:
        summary:
        - progress: 6
          details: details
          state: Unknown
          region: region
        - progress: 6
          details: details
          state: Unknown
          region: region
        aggregatedState: Unknown
      properties:
        aggregatedState:
          description: This is the aggregated replication status based on all the
            regional replication status flags.
          enum:
          - Unknown
          - InProgress
          - Completed
          - Failed
          readOnly: true
          title: aggregatedState
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregatedReplicationState
        summary:
          description: This is a summary of replication status for each region.
          items:
            $ref: '#/components/schemas/RegionalReplicationStatus'
          readOnly: true
          title: summary
          type: array
      title: ReplicationStatus
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceRange:
      description: Describes the resource range.
      example:
        min: 6
        max: 0
      properties:
        max:
          description: The maximum number of the resource.
          format: int32
          title: max
          type: integer
        min:
          description: The minimum number of the resource.
          format: int32
          title: min
          type: integer
      title: ResourceRange
      type: object
    TargetRegion:
      description: Describes the target region information.
      properties:
        name:
          description: The name of the region.
          title: name
          type: string
        regionalReplicaCount:
          description: The number of replicas of the Image Version to be created per
            region. This property is updatable.
          format: int32
          title: regionalReplicaCount
          type: integer
      required:
      - name
      title: TargetRegion
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
