openapi: 3.0.0
info:
  description: |
    The Geographic API extends the Semantic API, using a linked data approach to enhance location concepts used in The New York Times' controlled vocabulary and data resources which combine them with the GeoNames database, an authoritative and free to use database of global geographical places, names and features.
  termsOfService: http://developer.nytimes.com/tou
  title: Geographic API
  version: 1.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/geo_api/geo_api_v2.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: geo_api
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/semantic/v2/geocodes
- url: https://api.nytimes.com/svc/semantic/v2/geocodes
security:
- apikey: []
paths:
  /query.json:
    get:
      description: Geographic API
      parameters:
      - description: A displayable name for the specified place.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The latitude of the specified place.
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          type: string
        style: form
      - description: The longitude of the specified place.
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          type: string
        style: form
      - description: "The elevation of the specified place, in meters."
        explode: true
        in: query
        name: elevation
        required: false
        schema:
          type: integer
        style: form
      - description: "Along with ne, forms a bounded box using the longitude and latitude\
          \ coordinates specified as the southwest corner. The search results are\
          \ limited to the resulting box. Two float values, separated by a comma `latitude,longitude`\
          \ <br/> The ne parameter is required to use this parameter."
        explode: true
        in: query
        name: sw
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search keywords to perform a text search on the fields: web_description, event_name and venue_name. 'AND' searches can be performed by wrapping query terms in quotes. If you do not specify a query, all results will be returned.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filters search results based on the facets provided.  For more information on the values you can filter on, see Facets.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD
        explode: true
        in: query
        name: date_range
        required: false
        schema:
          type: string
        style: form
      - description: "When facets is set to 1, a count of all facets will be included\
          \ in the response."
        explode: true
        in: query
        name: facets
        required: false
        schema:
          default: 0
          enum:
          - 0
          - 1
          type: integer
        style: form
      - description: |
          Sorts your results on the fields specified. <br/> `sort_value1+[asc | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or response will sort results on that value in ascending order. Appending +desc to a facet or response  will sort results in descending order. You can sort on multiple fields. You can sort on any facet. For the list of responses you can sort on, see the Sortable Field column in the Response table. <br/><br/>If you are doing a spatial search with the ll parameter, you can also sort by the distance from the center of the search: dist+[asc | desc] <br/> **Note:** either +asc or +desc is required when using the sort parameter.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Limits the number of results returned
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Sets the starting point of the result set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_query_json_get_200_response'
          description: An array of events
      summary: Geographic API
      tags:
      - Events
      x-accepts:
      - application/json
components:
  schemas:
    Event:
      example:
        long_running_show: true
        times_pick: true
        last_chance: true
        city: city
        festival: true
        event_id: 0
        kid_friendly: true
        web_description: web_description
        event_name: event_name
        event_schedule_id: 6
        recur_days:
        - recur_days
        - recur_days
        film_rating: true
        state: state
        event_detail_url: event_detail_url
        free: true
        recurring_start_date: recurring_start_date
        critic_name: critic_name
        last_modified: last_modified
        previews_and_openings: true
      properties:
        city:
          type: string
        critic_name:
          type: string
        event_detail_url:
          type: string
        event_id:
          type: integer
        event_name:
          type: string
        event_schedule_id:
          type: integer
        festival:
          type: boolean
        film_rating:
          type: boolean
        free:
          type: boolean
        kid_friendly:
          type: boolean
        last_chance:
          type: boolean
        last_modified:
          type: string
        long_running_show:
          type: boolean
        previews_and_openings:
          type: boolean
        recur_days:
          items:
            type: string
          type: array
        recurring_start_date:
          type: string
        state:
          type: string
        times_pick:
          type: boolean
        web_description:
          type: string
      type: object
    _query_json_get_200_response:
      example:
        results:
        - long_running_show: true
          times_pick: true
          last_chance: true
          city: city
          festival: true
          event_id: 0
          kid_friendly: true
          web_description: web_description
          event_name: event_name
          event_schedule_id: 6
          recur_days:
          - recur_days
          - recur_days
          film_rating: true
          state: state
          event_detail_url: event_detail_url
          free: true
          recurring_start_date: recurring_start_date
          critic_name: critic_name
          last_modified: last_modified
          previews_and_openings: true
        - long_running_show: true
          times_pick: true
          last_chance: true
          city: city
          festival: true
          event_id: 0
          kid_friendly: true
          web_description: web_description
          event_name: event_name
          event_schedule_id: 6
          recur_days:
          - recur_days
          - recur_days
          film_rating: true
          state: state
          event_detail_url: event_detail_url
          free: true
          recurring_start_date: recurring_start_date
          critic_name: critic_name
          last_modified: last_modified
          previews_and_openings: true
      properties:
        results:
          items:
            $ref: '#/components/schemas/Event'
          type: array
      type: object
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey

