openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<p>Amazon Route\_53 is a highly available and scalable Domain Name\
    \ System (DNS) web service.</p> <p>You can use Route\_53 to:</p> <ul> <li> <p>Register\
    \ domain names.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-domain-registration.html\"\
    >How domain registration works</a>.</p> </li> <li> <p>Route internet traffic to\
    \ the resources for your domain</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\"\
    >How internet traffic is routed to your website or web application</a>.</p> </li>\
    \ <li> <p>Check the health of your resources.</p> <p>For more information, see\
    \ <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-health-checks.html\"\
    >How Route\_53 checks the health of your resources</a>.</p> </li> </ul>"
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: Amazon Route 53
  version: 2013-04-01
  x-release: v4
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: route53
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53-2013-04-01.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/route53/
servers:
- description: The general Route 53 multi-region endpoint
  url: https://route53.amazonaws.com
- description: The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud
    (US-East)
  url: http://route53.us-gov.amazonaws.com
- description: The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud
    (US-East)
  url: https://route53.us-gov.amazonaws.com
- description: The general Route 53 endpoint for China (Beijing) and China (Ningxia)
  url: http://route53.amazonaws.com.cn
- description: The general Route 53 endpoint for China (Beijing) and China (Ningxia)
  url: https://route53.amazonaws.com.cn
security:
- hmac: []
paths:
  /2013-04-01/accountlimit/{Type}:
    get:
      description: "<p>Gets the specified limit for the current account, for example,\
        \ the maximum number of health checks that you can create using the account.</p>\
        \ <p>For the default limit, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\"\
        >Limits</a> in the <i>Amazon Route 53 Developer Guide</i>. To request a higher\
        \ limit, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-route53\"\
        >open a case</a>.</p> <note> <p>You can also view account limits in Amazon\
        \ Web Services Trusted Advisor. Sign in to the Amazon Web Services Management\
        \ Console and open the Trusted Advisor console at <a href=\"https://console.aws.amazon.com/trustedadvisor\"\
        >https://console.aws.amazon.com/trustedadvisor/</a>. Then choose <b>Service\
        \ limits</b> in the navigation pane.</p> </note>"
      operationId: get_account_limit
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The limit that you want to get. Valid values include the\
          \ following:</p> <ul> <li> <p> <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum\
          \ number of health checks that you can create using the current account.</p>\
          \ </li> <li> <p> <b>MAX_HOSTED_ZONES_BY_OWNER</b>: The maximum number of\
          \ hosted zones that you can create using the current account.</p> </li>\
          \ <li> <p> <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The maximum number\
          \ of reusable delegation sets that you can create using the current account.</p>\
          \ </li> <li> <p> <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum number\
          \ of traffic policies that you can create using the current account.</p>\
          \ </li> <li> <p> <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>: The maximum\
          \ number of traffic policy instances that you can create using the current\
          \ account. (Traffic policy instances are referred to as traffic flow policy\
          \ records in the Amazon Route 53 console.)</p> </li> </ul>"
        explode: false
        in: path
        name: Type
        required: true
        schema:
          enum:
          - MAX_HEALTH_CHECKS_BY_OWNER
          - MAX_HOSTED_ZONES_BY_OWNER
          - MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER
          - MAX_REUSABLE_DELEGATION_SETS_BY_OWNER
          - MAX_TRAFFIC_POLICIES_BY_OWNER
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetAccountLimitResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/change/{Id}:
    get:
      description: <p>Returns the current status of a change batch request. The status
        is one of the following values:</p> <ul> <li> <p> <code>PENDING</code> indicates
        that the changes in this request have not propagated to all Amazon Route 53
        DNS servers managing the hosted zone. This is the initial status of all change
        batch requests.</p> </li> <li> <p> <code>INSYNC</code> indicates that the
        changes have propagated to all Route 53 DNS servers managing the hosted zone.
        </p> </li> </ul>
      operationId: get_change
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the change batch request. The value that you specify
          here is the value that <code>ChangeResourceRecordSets</code> returned in
          the <code>Id</code> element when you submitted the request.
        explode: false
        in: path
        name: Id
        required: true
        schema:
          maxLength: 6500
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetChangeResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchChange'
          description: NoSuchChange
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/checkeripranges:
    get:
      description: "<p>Route 53 does not perform authorization for this API because\
        \ it retrieves information that is already available to the public.</p> <important>\
        \ <p> <code>GetCheckerIpRanges</code> still works, but we recommend that you\
        \ download ip-ranges.json, which includes IP address ranges for all Amazon\
        \ Web Services services. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/route-53-ip-addresses.html\"\
        >IP Address Ranges of Amazon Route 53 Servers</a> in the <i>Amazon Route 53\
        \ Developer Guide</i>.</p> </important>"
      operationId: get_checker_ip_ranges
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetCheckerIpRangesResponse'
          description: Success
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/cidrcollection:
    get:
      description: Returns a paginated list of CIDR collections in the Amazon Web
        Services account (metadata only).
      operationId: list_cidr_collections
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>An opaque pagination token to indicate where the service\
          \ is to begin enumerating results.</p> <p>If no value is provided, the listing\
          \ of results starts from the beginning.</p>"
        explode: true
        in: query
        name: nexttoken
        required: false
        schema:
          maxLength: 1024
          type: string
        style: form
      - description: The maximum number of CIDR collections to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: NextToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListCidrCollectionsResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Creates a CIDR collection in the current Amazon Web Services account.
      operationId: create_cidr_collection
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateCidrCollection_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateCidrCollectionResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitsExceeded'
          description: LimitsExceeded
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CidrCollectionAlreadyExistsException'
          description: CidrCollectionAlreadyExistsException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
          description: ConcurrentModification
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/cidrcollection/{CidrCollectionId}:
    delete:
      description: Deletes a CIDR collection in the current Amazon Web Services account.
        The collection must be empty before it can be deleted.
      operationId: delete_cidr_collection
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The UUID of the collection to delete.
        explode: false
        in: path
        name: CidrCollectionId
        required: true
        schema:
          pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DeleteCidrCollectionResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchCidrCollectionException'
          description: NoSuchCidrCollectionException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CidrCollectionInUseException'
          description: CidrCollectionInUseException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
          description: ConcurrentModification
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: "Returns a paginated list of CIDR locations for the given collection\
        \ (metadata only, does not include CIDR blocks)."
      operationId: list_cidr_locations
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The CIDR collection ID.
        explode: false
        in: path
        name: CidrCollectionId
        required: true
        schema:
          pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
          type: string
        style: simple
      - description: "<p>An opaque pagination token to indicate where the service\
          \ is to begin enumerating results.</p> <p>If no value is provided, the listing\
          \ of results starts from the beginning.</p>"
        explode: true
        in: query
        name: nexttoken
        required: false
        schema:
          maxLength: 1024
          type: string
        style: form
      - description: The maximum number of CIDR collection locations to return in
          the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: NextToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListCidrLocationsResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchCidrCollectionException'
          description: NoSuchCidrCollectionException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Creates, changes, or deletes CIDR blocks within a collection.\
        \ Contains authoritative IP information mapping blocks to one or multiple\
        \ locations.</p> <p>A change request can update multiple locations in a collection\
        \ at a time, which is helpful if you want to move one or more CIDR blocks\
        \ from one location to another in one transaction, without downtime. </p>\
        \ <p> <b>Limits</b> </p> <p>The max number of CIDR blocks included in the\
        \ request is 1000. As a result, big updates require multiple API calls.</p>\
        \ <p> <b> PUT and DELETE_IF_EXISTS</b> </p> <p>Use <code>ChangeCidrCollection</code>\
        \ to perform the following actions:</p> <ul> <li> <p> <code>PUT</code>: Create\
        \ a CIDR block within the specified collection.</p> </li> <li> <p> <code>\
        \ DELETE_IF_EXISTS</code>: Delete an existing CIDR block from the collection.</p>\
        \ </li> </ul>"
      operationId: change_cidr_collection
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The UUID of the CIDR collection to update.
        explode: false
        in: path
        name: CidrCollectionId
        required: true
        schema:
          pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeCidrCollection_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ChangeCidrCollectionResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchCidrCollectionException'
          description: NoSuchCidrCollectionException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CidrCollectionVersionMismatchException'
          description: CidrCollectionVersionMismatchException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CidrBlockInUseException'
          description: CidrBlockInUseException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitsExceeded'
          description: LimitsExceeded
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
          description: ConcurrentModification
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/cidrcollection/{CidrCollectionId}/cidrblocks:
    get:
      description: Returns a paginated list of location objects and their CIDR blocks.
      operationId: list_cidr_blocks
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The UUID of the CIDR collection.
        explode: false
        in: path
        name: CidrCollectionId
        required: true
        schema:
          pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
          type: string
        style: simple
      - description: The name of the CIDR collection location.
        explode: true
        in: query
        name: location
        required: false
        schema:
          maxLength: 16
          minLength: 1
          pattern: "[0-9A-Za-z_\\-]+"
          type: string
        style: form
      - description: An opaque pagination token to indicate where the service is to
          begin enumerating results.
        explode: true
        in: query
        name: nexttoken
        required: false
        schema:
          maxLength: 1024
          type: string
        style: form
      - description: Maximum number of results you want returned.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: NextToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListCidrBlocksResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchCidrCollectionException'
          description: NoSuchCidrCollectionException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchCidrLocationException'
          description: NoSuchCidrLocationException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/delegationset:
    get:
      description: Retrieves a list of the reusable delegation sets that are associated
        with the current Amazon Web Services account.
      operationId: list_reusable_delegation_sets
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>If the value of <code>IsTruncated</code> in the previous\
          \ response was <code>true</code>, you have more reusable delegation sets.\
          \ To get another group, submit another <code>ListReusableDelegationSets</code>\
          \ request. </p> <p>For the value of <code>marker</code>, specify the value\
          \ of <code>NextMarker</code> from the previous response, which is the ID\
          \ of the first reusable delegation set that Amazon Route 53 will return\
          \ if you submit another request.</p> <p>If the value of <code>IsTruncated</code>\
          \ in the previous response was <code>false</code>, there are no more reusable\
          \ delegation sets to get.</p>"
        explode: true
        in: query
        name: marker
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: "The number of reusable delegation sets that you want Amazon\
          \ Route 53 to return in the response to this request. If you specify a value\
          \ greater than 100, Route 53 returns only the first 100 reusable delegation\
          \ sets."
        explode: true
        in: query
        name: maxitems
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListReusableDelegationSetsResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Creates a delegation set (a group of four name servers) that\
        \ can be reused by multiple hosted zones that were created by the same Amazon\
        \ Web Services account. </p> <p>You can also create a reusable delegation\
        \ set that uses the four name servers that are associated with an existing\
        \ hosted zone. Specify the hosted zone ID in the <code>CreateReusableDelegationSet</code>\
        \ request.</p> <note> <p>You can't associate a reusable delegation set with\
        \ a private hosted zone.</p> </note> <p>For information about using a reusable\
        \ delegation set to configure white label name servers, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/white-label-name-servers.html\"\
        >Configuring White Label Name Servers</a>.</p> <p>The process for migrating\
        \ existing hosted zones to use a reusable delegation set is comparable to\
        \ the process for configuring white label name servers. You need to perform\
        \ the following steps:</p> <ol> <li> <p>Create a reusable delegation set.</p>\
        \ </li> <li> <p>Recreate hosted zones, and reduce the TTL to 60 seconds or\
        \ less.</p> </li> <li> <p>Recreate resource record sets in the new hosted\
        \ zones.</p> </li> <li> <p>Change the registrar's name servers to use the\
        \ name servers for the new hosted zones.</p> </li> <li> <p>Monitor traffic\
        \ for the website or application.</p> </li> <li> <p>Change TTLs back to their\
        \ original values.</p> </li> </ol> <p>If you want to migrate existing hosted\
        \ zones to use a reusable delegation set, the existing hosted zones can't\
        \ use any of the name servers that are assigned to the reusable delegation\
        \ set. If one or more hosted zones do use one or more name servers that are\
        \ assigned to the reusable delegation set, you can do one of the following:</p>\
        \ <ul> <li> <p>For small numbers of hosted zones—up to a few hundred—it's\
        \ relatively easy to create reusable delegation sets until you get one that\
        \ has four name servers that don't overlap with any of the name servers in\
        \ your hosted zones.</p> </li> <li> <p>For larger numbers of hosted zones,\
        \ the easiest solution is to use more than one reusable delegation set.</p>\
        \ </li> <li> <p>For larger numbers of hosted zones, you can also migrate hosted\
        \ zones that have overlapping name servers to hosted zones that don't have\
        \ overlapping name servers, then migrate the hosted zones again to use the\
        \ reusable delegation set.</p> </li> </ul>"
      operationId: create_reusable_delegation_set
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateReusableDelegationSet_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateReusableDelegationSetResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetAlreadyCreated'
          description: DelegationSetAlreadyCreated
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitsExceeded'
          description: LimitsExceeded
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HostedZoneNotFound'
          description: HostedZoneNotFound
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
          description: InvalidArgument
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotAvailable'
          description: DelegationSetNotAvailable
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetAlreadyReusable'
          description: DelegationSetAlreadyReusable
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/delegationset/{Id}:
    delete:
      description: "<p>Deletes a reusable delegation set.</p> <important> <p>You can\
        \ delete a reusable delegation set only if it isn't associated with any hosted\
        \ zones.</p> </important> <p>To verify that the reusable delegation set is\
        \ not associated with any hosted zones, submit a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetReusableDelegationSet.html\"\
        >GetReusableDelegationSet</a> request and specify the ID of the reusable delegation\
        \ set that you want to delete.</p>"
      operationId: delete_reusable_delegation_set
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the reusable delegation set that you want to delete.
        explode: false
        in: path
        name: Id
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DeleteReusableDelegationSetResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
          description: NoSuchDelegationSet
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetInUse'
          description: DelegationSetInUse
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
          description: DelegationSetNotReusable
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: "Retrieves information about a specified reusable delegation set,\
        \ including the four name servers that are assigned to the delegation set."
      operationId: get_reusable_delegation_set
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the reusable delegation set that you want to get a
          list of name servers for.
        explode: false
        in: path
        name: Id
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetReusableDelegationSetResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
          description: NoSuchDelegationSet
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
          description: DelegationSetNotReusable
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/geolocation:
    get:
      description: <p>Gets information about whether a specified geographic location
        is supported for Amazon Route 53 geolocation resource record sets.</p> <p>Route
        53 does not perform authorization for this API because it retrieves information
        that is already available to the public.</p> <p>Use the following syntax to
        determine whether a continent is supported for geolocation:</p> <p> <code>GET
        /2013-04-01/geolocation?continentcode=<i>two-letter abbreviation for a continent</i>
        </code> </p> <p>Use the following syntax to determine whether a country is
        supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?countrycode=<i>two-character
        country code</i> </code> </p> <p>Use the following syntax to determine whether
        a subdivision of a country is supported for geolocation:</p> <p> <code>GET
        /2013-04-01/geolocation?countrycode=<i>two-character country code</i>&amp;subdivisioncode=<i>subdivision
        code</i> </code> </p>
      operationId: get_geo_location
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>For geolocation resource record sets, a two-letter abbreviation\
          \ that identifies a continent. Amazon Route 53 supports the following continent\
          \ codes:</p> <ul> <li> <p> <b>AF</b>: Africa</p> </li> <li> <p> <b>AN</b>:\
          \ Antarctica</p> </li> <li> <p> <b>AS</b>: Asia</p> </li> <li> <p> <b>EU</b>:\
          \ Europe</p> </li> <li> <p> <b>OC</b>: Oceania</p> </li> <li> <p> <b>NA</b>:\
          \ North America</p> </li> <li> <p> <b>SA</b>: South America</p> </li> </ul>"
        explode: true
        in: query
        name: continentcode
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Amazon Route 53 uses the two-letter country codes that are specified
          in <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO standard
          3166-1 alpha-2</a>.
        explode: true
        in: query
        name: countrycode
        required: false
        schema:
          maxLength: 2
          minLength: 1
          type: string
        style: form
      - description: "The code for the subdivision, such as a particular state within\
          \ the United States. For a list of US state abbreviations, see <a href=\"\
          https://pe.usps.com/text/pub28/28apb.htm\">Appendix B: Two–Letter State\
          \ and Possession Abbreviations</a> on the United States Postal Service website.\
          \ For a list of all supported subdivision codes, use the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ListGeoLocations.html\"\
          >ListGeoLocations</a> API."
        explode: true
        in: query
        name: subdivisioncode
        required: false
        schema:
          maxLength: 3
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetGeoLocationResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchGeoLocation'
          description: NoSuchGeoLocation
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/geolocations:
    get:
      description: "<p>Retrieves a list of supported geographic locations.</p> <p>Countries\
        \ are listed first, and continents are listed last. If Amazon Route 53 supports\
        \ subdivisions for a country (for example, states or provinces), the subdivisions\
        \ for that country are listed in alphabetical order immediately after the\
        \ corresponding country.</p> <p>Route 53 does not perform authorization for\
        \ this API because it retrieves information that is already available to the\
        \ public.</p> <p>For a list of supported geolocation codes, see the <a href=\"\
        https://docs.aws.amazon.com/Route53/latest/APIReference/API_GeoLocation.html\"\
        >GeoLocation</a> data type.</p>"
      operationId: list_geo_locations
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The code for the continent with which you want to start listing\
          \ locations that Amazon Route 53 supports for geolocation. If Route 53 has\
          \ already returned a page or more of results, if <code>IsTruncated</code>\
          \ is true, and if <code>NextContinentCode</code> from the previous response\
          \ has a value, enter that value in <code>startcontinentcode</code> to return\
          \ the next page of results.</p> <p>Include <code>startcontinentcode</code>\
          \ only if you want to list continents. Don't include <code>startcontinentcode</code>\
          \ when you're listing countries or countries with their subdivisions.</p>"
        explode: true
        in: query
        name: startcontinentcode
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: "The code for the country with which you want to start listing\
          \ locations that Amazon Route 53 supports for geolocation. If Route 53 has\
          \ already returned a page or more of results, if <code>IsTruncated</code>\
          \ is <code>true</code>, and if <code>NextCountryCode</code> from the previous\
          \ response has a value, enter that value in <code>startcountrycode</code>\
          \ to return the next page of results."
        explode: true
        in: query
        name: startcountrycode
        required: false
        schema:
          maxLength: 2
          minLength: 1
          type: string
        style: form
      - description: "<p>The code for the state of the United States with which you\
          \ want to start listing locations that Amazon Route 53 supports for geolocation.\
          \ If Route 53 has already returned a page or more of results, if <code>IsTruncated</code>\
          \ is <code>true</code>, and if <code>NextSubdivisionCode</code> from the\
          \ previous response has a value, enter that value in <code>startsubdivisioncode</code>\
          \ to return the next page of results.</p> <p>To list subdivisions (U.S.\
          \ states), you must include both <code>startcountrycode</code> and <code>startsubdivisioncode</code>.</p>"
        explode: true
        in: query
        name: startsubdivisioncode
        required: false
        schema:
          maxLength: 3
          minLength: 1
          type: string
        style: form
      - description: "(Optional) The maximum number of geolocations to be included\
          \ in the response body for this request. If more than <code>maxitems</code>\
          \ geolocations remain to be listed, then the value of the <code>IsTruncated</code>\
          \ element in the response is <code>true</code>."
        explode: true
        in: query
        name: maxitems
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListGeoLocationsResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/healthcheck:
    get:
      description: 'Retrieve a list of the health checks that are associated with
        the current Amazon Web Services account. '
      operationId: list_health_checks
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>If the value of <code>IsTruncated</code> in the previous\
          \ response was <code>true</code>, you have more health checks. To get another\
          \ group, submit another <code>ListHealthChecks</code> request. </p> <p>For\
          \ the value of <code>marker</code>, specify the value of <code>NextMarker</code>\
          \ from the previous response, which is the ID of the first health check\
          \ that Amazon Route 53 will return if you submit another request.</p> <p>If\
          \ the value of <code>IsTruncated</code> in the previous response was <code>false</code>,\
          \ there are no more health checks to get.</p>"
        explode: true
        in: query
        name: marker
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: "The maximum number of health checks that you want <code>ListHealthChecks</code>\
          \ to return in response to the current request. Amazon Route 53 returns\
          \ a maximum of 100 items. If you set <code>MaxItems</code> to a value greater\
          \ than 100, Route 53 returns only the first 100 health checks. "
        explode: true
        in: query
        name: maxitems
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxItems
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: Marker
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListHealthChecksResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IncompatibleVersion'
          description: IncompatibleVersion
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Creates a new health check.</p> <p>For information about adding\
        \ health checks to resource record sets, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ResourceRecordSet.html#Route53-Type-ResourceRecordSet-HealthCheckId\"\
        >HealthCheckId</a> in <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\"\
        >ChangeResourceRecordSets</a>. </p> <p> <b>ELB Load Balancers</b> </p> <p>If\
        \ you're registering EC2 instances with an Elastic Load Balancing (ELB) load\
        \ balancer, do not create Amazon Route 53 health checks for the EC2 instances.\
        \ When you register an EC2 instance with a load balancer, you configure settings\
        \ for an ELB health check, which performs a similar function to a Route 53\
        \ health check.</p> <p> <b>Private Hosted Zones</b> </p> <p>You can associate\
        \ health checks with failover resource record sets in a private hosted zone.\
        \ Note the following:</p> <ul> <li> <p>Route 53 health checkers are outside\
        \ the VPC. To check the health of an endpoint within a VPC by IP address,\
        \ you must assign a public IP address to the instance in the VPC.</p> </li>\
        \ <li> <p>You can configure a health checker to check the health of an external\
        \ resource that the instance relies on, such as a database server.</p> </li>\
        \ <li> <p>You can create a CloudWatch metric, associate an alarm with the\
        \ metric, and then create a health check that is based on the state of the\
        \ alarm. For example, you might create a CloudWatch metric that checks the\
        \ status of the Amazon EC2 <code>StatusCheckFailed</code> metric, add an alarm\
        \ to the metric, and then create a health check that is based on the state\
        \ of the alarm. For information about creating CloudWatch metrics and alarms\
        \ by using the CloudWatch console, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/WhatIsCloudWatch.html\"\
        >Amazon CloudWatch User Guide</a>.</p> </li> </ul>"
      operationId: create_health_check
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateHealthCheck_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateHealthCheckResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyHealthChecks'
          description: TooManyHealthChecks
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HealthCheckAlreadyExists'
          description: HealthCheckAlreadyExists
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/healthcheck/{HealthCheckId}:
    delete:
      description: "<p>Deletes a health check.</p> <important> <p>Amazon Route 53\
        \ does not prevent you from deleting a health check even if the health check\
        \ is associated with one or more resource record sets. If you delete a health\
        \ check and you don't update the associated resource record sets, the future\
        \ status of the health check can't be predicted and may change. This will\
        \ affect the routing of DNS queries for your DNS failover configuration. For\
        \ more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html#health-checks-deleting.html\"\
        >Replacing and Deleting Health Checks</a> in the <i>Amazon Route 53 Developer\
        \ Guide</i>.</p> </important> <p>If you're using Cloud Map and you configured\
        \ Cloud Map to create a Route 53 health check when you register an instance,\
        \ you can't use the Route 53 <code>DeleteHealthCheck</code> command to delete\
        \ the health check. The health check is deleted automatically when you deregister\
        \ the instance; there can be a delay of several hours before the health check\
        \ is deleted from Route 53. </p>"
      operationId: delete_health_check
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the health check that you want to delete.
        explode: false
        in: path
        name: HealthCheckId
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DeleteHealthCheckResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
          description: NoSuchHealthCheck
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HealthCheckInUse'
          description: HealthCheckInUse
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets information about a specified health check.
      operationId: get_health_check
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "The identifier that Amazon Route 53 assigned to the health check\
          \ when you created it. When you add or update a resource record set, you\
          \ use this value to specify which health check to use. The value can be\
          \ up to 64 characters long."
        explode: false
        in: path
        name: HealthCheckId
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
          description: NoSuchHealthCheck
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IncompatibleVersion'
          description: IncompatibleVersion
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Updates an existing health check. Note that some values can't\
        \ be updated. </p> <p>For more information about updating health checks, see\
        \ <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html\"\
        >Creating, Updating, and Deleting Health Checks</a> in the <i>Amazon Route\
        \ 53 Developer Guide</i>.</p>"
      operationId: update_health_check
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "The ID for the health check for which you want detailed information.\
          \ When you created the health check, <code>CreateHealthCheck</code> returned\
          \ the ID in the response, in the <code>HealthCheckId</code> element."
        explode: false
        in: path
        name: HealthCheckId
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateHealthCheck_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateHealthCheckResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
          description: NoSuchHealthCheck
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HealthCheckVersionMismatch'
          description: HealthCheckVersionMismatch
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason:
    get:
      description: Gets the reason that a specified health check failed most recently.
      operationId: get_health_check_last_failure_reason
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The ID for the health check for which you want the last failure\
          \ reason. When you created the health check, <code>CreateHealthCheck</code>\
          \ returned the ID in the response, in the <code>HealthCheckId</code> element.</p>\
          \ <note> <p>If you want to get the last failure reason for a calculated\
          \ health check, you must use the Amazon Route 53 console or the CloudWatch\
          \ console. You can't use <code>GetHealthCheckLastFailureReason</code> for\
          \ a calculated health check.</p> </note>"
        explode: false
        in: path
        name: HealthCheckId
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckLastFailureReasonResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
          description: NoSuchHealthCheck
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/healthcheck/{HealthCheckId}/status:
    get:
      description: <p>Gets status of a specified health check. </p> <important> <p>This
        API is intended for use during development to diagnose behavior. It doesn’t
        support production use-cases with high query rates that require immediate
        and actionable responses.</p> </important>
      operationId: get_health_check_status
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The ID for the health check that you want the current status\
          \ for. When you created the health check, <code>CreateHealthCheck</code>\
          \ returned the ID in the response, in the <code>HealthCheckId</code> element.</p>\
          \ <note> <p>If you want to check the status of a calculated health check,\
          \ you must use the Amazon Route 53 console or the CloudWatch console. You\
          \ can't use <code>GetHealthCheckStatus</code> to get the status of a calculated\
          \ health check.</p> </note>"
        explode: false
        in: path
        name: HealthCheckId
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckStatusResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
          description: NoSuchHealthCheck
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/healthcheckcount:
    get:
      description: Retrieves the number of health checks that are associated with
        the current Amazon Web Services account.
      operationId: get_health_check_count
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckCountResponse'
          description: Success
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /2013-04-01/hostedzone:
    get:
      description: "<p>Retrieves a list of the public and private hosted zones that\
        \ are associated with the current Amazon Web Services account. The response\
        \ includes a <code>HostedZones</code> child element for each hosted zone.</p>\
        \ <p>Amazon Route 53 returns a maximum of 100 items in each response. If you\
        \ have a lot of hosted zones, you can use the <code>maxitems</code> parameter\
        \ to list them in groups of up to 100.</p>"
      operationId: list_hosted_zones
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>If the value of <code>IsTruncated</code> in the previous\
          \ response was <code>true</code>, you have more hosted zones. To get more\
          \ hosted zones, submit another <code>ListHostedZones</code> request. </p>\
          \ <p>For the value of <code>marker</code>, specify the value of <code>NextMarker</code>\
          \ from the previous response, which is the ID of the first hosted zone that\
          \ Amazon Route 53 will return if you submit another request.</p> <p>If the\
          \ value of <code>IsTruncated</code> in the previous response was <code>false</code>,\
          \ there are no more hosted zones to get.</p>"
        explode: true
        in: query
        name: marker
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: "(Optional) The maximum number of hosted zones that you want\
          \ Amazon Route 53 to return. If you have more than <code>maxitems</code>\
          \ hosted zones, the value of <code>IsTruncated</code> in the response is\
          \ <code>true</code>, and the value of <code>NextMarker</code> is the hosted\
          \ zone ID of the first hosted zone that Route 53 will return if you submit\
          \ another request."
        explode: true
        in: query
        name: maxitems
        required: false
        schema:
          type: string
        style: form
      - description: "If you're using reusable delegation sets and you want to list\
          \ all of the hosted zones that are associated with a reusable delegation\
          \ set, specify the ID of that reusable delegation set. "
        explode: true
        in: query
        name: delegationsetid
        required: false
        schema:
          maxLength: 32
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxItems
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: Marker
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListHostedZonesResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
          description: NoSuchDelegationSet
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
          description: DelegationSetNotReusable
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Creates a new public or private hosted zone. You create records\
        \ in a public hosted zone to define how you want to route traffic on the internet\
        \ for a domain, such as example.com, and its subdomains (apex.example.com,\
        \ acme.example.com). You create records in a private hosted zone to define\
        \ how you want to route traffic for a domain and its subdomains within one\
        \ or more Amazon Virtual Private Clouds (Amazon VPCs). </p> <important> <p>You\
        \ can't convert a public hosted zone to a private hosted zone or vice versa.\
        \ Instead, you must create a new hosted zone with the same name and create\
        \ new resource record sets.</p> </important> <p>For more information about\
        \ charges for hosted zones, see <a href=\"http://aws.amazon.com/route53/pricing/\"\
        >Amazon Route\_53 Pricing</a>.</p> <p>Note the following:</p> <ul> <li> <p>You\
        \ can't create a hosted zone for a top-level domain (TLD) such as .com.</p>\
        \ </li> <li> <p>For public hosted zones, Route 53 automatically creates a\
        \ default SOA record and four NS records for the zone. For more information\
        \ about SOA and NS records, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html\"\
        >NS and SOA Records that Route\_53 Creates for a Hosted Zone</a> in the <i>Amazon\
        \ Route 53 Developer Guide</i>.</p> <p>If you want to use the same name servers\
        \ for multiple public hosted zones, you can optionally associate a reusable\
        \ delegation set with the hosted zone. See the <code>DelegationSetId</code>\
        \ element.</p> </li> <li> <p>If your domain is registered with a registrar\
        \ other than Route\_53, you must update the name servers with your registrar\
        \ to make Route 53 the DNS service for the domain. For more information, see\
        \ <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html\"\
        >Migrating DNS Service for an Existing Domain to Amazon Route\_53</a> in the\
        \ <i>Amazon Route 53 Developer Guide</i>. </p> </li> </ul> <p>When you submit\
        \ a <code>CreateHostedZone</code> request, the initial status of the hosted\
        \ zone is <code>PENDING</code>. For public hosted zones, this means that the\
        \ NS and SOA records are not yet available on all Route\_53 DNS servers. When\
        \ the NS and SOA records are available, the status of the zone changes to\
        \ <code>INSYNC</code>.</p> <p>The <code>CreateHostedZone</code> request requires\
        \ the caller to have an <code>ec2:DescribeVpcs</code> permission.</p> <note>\
        \ <p>When creating private hosted zones, the Amazon VPC must belong to the\
        \ same partition where the hosted zone is created. A partition is a group\
        \ of Amazon Web Services Regions. Each Amazon Web Services account is scoped\
        \ to one partition.</p> <p>The following are the supported partitions:</p>\
        \ <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li>\
        \ <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code>\
        \ - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
        >Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p>\
        \ </note>"
      operationId: create_hosted_zone
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateHostedZone_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateHostedZoneResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidDomainName'
          description: InvalidDomainName
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HostedZoneAlreadyExists'
          description: HostedZoneAlreadyExists
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyHostedZones'
          description: TooManyHostedZones
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVPCId'
          description: InvalidVPCId
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotAvailable'
          description: DelegationSetNotAvailable
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConflictingDomainExists'
          description: ConflictingDomainExists
        "487":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
          description: NoSuchDelegationSet
        "488":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
          description: DelegationSetNotReusable
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /2013-04-01/hostedzone/{Id}:
    delete:
      description: "<p>Deletes a hosted zone.</p> <p>If the hosted zone was created\
        \ by another service, such as Cloud Map, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DeleteHostedZone.html#delete-public-hosted-zone-created-by-another-service\"\
        >Deleting Public Hosted Zones That Were Created by Another Service</a> in\
        \ the <i>Amazon Route\_53 Developer Guide</i> for information about how to\
        \ delete it. (The process is the same for public and private hosted zones\
        \ that were created by another service.)</p> <p>If you want to keep your domain\
        \ registration but you want to stop routing internet traffic to your website\
        \ or web application, we recommend that you delete resource record sets in\
        \ the hosted zone instead of deleting the hosted zone.</p> <important> <p>If\
        \ you delete a hosted zone, you can't undelete it. You must create a new hosted\
        \ zone and update the name servers for your domain registration, which can\
        \ require up to 48 hours to take effect. (If you delegated responsibility\
        \ for a subdomain to a hosted zone and you delete the child hosted zone, you\
        \ must update the name servers in the parent hosted zone.) In addition, if\
        \ you delete a hosted zone, someone could hijack the domain and route traffic\
        \ to their own resources using your domain name.</p> </important> <p>If you\
        \ want to avoid the monthly charge for the hosted zone, you can transfer DNS\
        \ service for the domain to a free DNS service. When you transfer DNS service,\
        \ you have to update the name servers for the domain registration. If the\
        \ domain is registered with Route\_53, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_UpdateDomainNameservers.html\"\
        >UpdateDomainNameservers</a> for information about how to replace Route\_\
        53 name servers with name servers for the new DNS service. If the domain is\
        \ registered with another registrar, use the method provided by the registrar\
        \ to update name servers for the domain registration. For more information,\
        \ perform an internet search on \"free DNS service.\"</p> <p>You can delete\
        \ a hosted zone only if it contains only the default SOA record and NS resource\
        \ record sets. If the hosted zone contains other resource record sets, you\
        \ must delete them before you can delete the hosted zone. If you try to delete\
        \ a hosted zone that contains other resource record sets, the request fails,\
        \ and Route\_53 returns a <code>HostedZoneNotEmpty</code> error. For information\
        \ about deleting records from your hosted zone, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\"\
        >ChangeResourceRecordSets</a>.</p> <p>To verify that the hosted zone has been\
        \ deleted, do one of the following:</p> <ul> <li> <p>Use the <code>GetHostedZone</code>\
        \ action to request information about the hosted zone.</p> </li> <li> <p>Use\
        \ the <code>ListHostedZones</code> action to get a list of the hosted zones\
        \ associated with the current Amazon Web Services account.</p> </li> </ul>"
      operationId: delete_hosted_zone
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the hosted zone you want to delete.
        explode: false
        in: path
        name: Id
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DeleteHostedZoneResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
          description: NoSuchHostedZone
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HostedZoneNotEmpty'
          description: HostedZoneNotEmpty
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorRequestNotComplete'
          description: PriorRequestNotComplete
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidDomainName'
          description: InvalidDomainName
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets information about a specified hosted zone including the four
        name servers assigned to the hosted zone.
      operationId: get_hosted_zone
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The ID of the hosted zone that you want to get information about.
        explode: false
        in: path
        name: Id
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHostedZoneResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
          description: NoSuchHostedZone
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
          description: InvalidInput
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Updates the comment for a specified hosted zone.
      operationId: update_hosted_zone_comment
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
[...]
