openapi: 3.0.0
info:
  contact:
    email: hello@edrv.io
    name: eDRV
    url: https://edrv.io
  description: edrv.io API Documentation
  title: eDRV API
  version: v1
  x-apisguru-categories:
  - open_data
  - transport
  - location
  x-logo:
    url: https://uploads-ssl.webflow.com/5eb5ba31ecd0593f18002773/5edcf57799287361407a98a4_Untitled%20(3)-p-500.png
  x-origin:
  - format: openapi
    url: https://developers.edrv.io/openapi/5f15c43c87b0d6001ea97414
    version: "3.0"
  x-providerName: edrv.io
servers:
- url: //api.edrv.io
security:
- oauth2: []
paths:
  /v1/chargestations:
    get:
      description: List all Chargestations
      operationId: get_charge_stations
      parameters:
      - description: Filter by Org. Id
        explode: true
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Location Id
        explode: true
        in: query
        name: location
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Online Status
        explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Chargestations that have been activated/deactivated by the admin
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Chargestations that are public
        explode: true
        in: query
        name: public
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate location
        explode: true
        in: query
        name: include_location
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate evses
        explode: true
        in: query
        name: include_evses
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: An array of chargestation objects
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
    post:
      description: Create a new charge station
      operationId: post_charge_stations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema1'
        description: Include charge station properties to create here
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postChargeStations_201_response'
          description: Returns the newly created chargestion object
        "400":
          description: A failure response
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
      x-codegen-request-body-name: body
  /v1/chargestations/{id}:
    delete:
      description: Use to delete a charge station
      operationId: delete_charge_station
      parameters:
      - description: The charge station id that needs to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns the deleted chargestion object
        "400":
          description: Request Error
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
    get:
      description: Get a single charge station's data
      operationId: get_charge_station
      parameters:
      - description: The charge station id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate location
        explode: true
        in: query
        name: include_location
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate evses
        explode: true
        in: query
        name: include_evses
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a chargestion object
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
    patch:
      description: Update a charge station's data
      operationId: patch_charge_station
      parameters:
      - description: ID of charge station that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema1'
        description: Include charge station properties to update here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the updated chargestion object
        "400":
          description: A failure response
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
      x-codegen-request-body-name: body
  /v1/chargestations/{id}/connectors:
    get:
      description: List connectors for a chargestation
      operationId: get_charge_station_connectors
      parameters:
      - description: chargeStation id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate evse
        explode: true
        in: query
        name: include_evse
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns an array of connector objects
        "400":
          description: A failure response
      tags:
      - Charge Stations
      x-openapi-router-controller: openapi_server.controllers.charge_stations_controller
  /v1/commands:
    get:
      description: Get Commands data
      operationId: get_commands
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate chargestation
        explode: true
        in: query
        name: include_chargestation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate transaction
        explode: true
        in: query
        name: include_transaction
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
  /v1/commands/cancelreservation:
    post:
      description: Use to request a delete an existing reservation. The request will
        wait for the charge station to process the command. It will timeout after
        60 seconds.
      operationId: cancelreservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelreservation_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/chargingschedule:
    delete:
      description: Delete a smart charging schedule
      operationId: deletechargingschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletechargingschedule_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setchargingschedule_201_response'
          description: A successful response
        "400":
          description: Schedule not found
      tags:
      - Smart Charging
      x-openapi-router-controller: openapi_server.controllers.smart_charging_controller
      x-codegen-request-body-name: body
    post:
      description: Set one of charging power or current of a specific chargestation
        connector
      operationId: setchargingschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setchargingschedule_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setchargingschedule_201_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Smart Charging
      x-openapi-router-controller: openapi_server.controllers.smart_charging_controller
      x-codegen-request-body-name: body
  /v1/commands/remotestart:
    post:
      description: Use to request a remote start command. The request will wait for
        the charge station to process the command. It will timeout after 60 seconds.
      operationId: remotestart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remotestart_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setchargingschedule_201_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/remotestop:
    post:
      description: Use to request a remote stop command. The request will wait for
        the charge station to process the command. It will timeout after 60 seconds.
      operationId: remotestop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remotestop_request'
        description: Remote stop transaction info here.
        required: true
        x-body-name: body
      responses:
        "201":
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/reserve:
    post:
      description: Use to request a reserve command. The request will wait for the
        charge station to process the command. It will timeout after 60 seconds.
      operationId: reserve
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reserve_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setchargingschedule_201_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/reset:
    post:
      description: Use to request a reset command. The request will wait for the charge
        station to process the command. It will timeout after 60 seconds.
      operationId: reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reset_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/unlockconnector:
    post:
      description: Use to request an unlock command for a connector. The request will
        wait for the charge station to process the command. It will timeout after
        60 seconds.
      operationId: unlockconnector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unlockconnector_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setchargingschedule_201_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/commands/{id}/variables:
    get:
      description: Get a charge station's config variables
      operationId: get_variables
      parameters:
      - description: The chargestation id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns Cs configurations array
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
    patch:
      description: Update config variables for a chargestation
      operationId: patch_charge_station_variable
      parameters:
      - description: ID of charge station
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchChargeStationVariable_request'
        description: Charge Station Variable to set
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Commands
      x-openapi-router-controller: openapi_server.controllers.commands_controller
      x-codegen-request-body-name: body
  /v1/configurations:
    get:
      description: Get Configurations data
      operationId: get_configurations
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Configurations
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
    post:
      description: Create connector with parameters
      operationId: post_configurations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postConfigurations_request'
        description: Include Configuration properties to create here
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Configurations
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
      x-codegen-request-body-name: body
  /v1/configurations/{id}:
    get:
      description: Get one Configuration data
      operationId: get_configuration
      parameters:
      - description: ID of Configuration that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      tags:
      - Configurations
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  /v1/connectors:
    get:
      description: List connectors
      operationId: get_connectors
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate evse
        explode: true
        in: query
        name: include_evse
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate rate
        explode: true
        in: query
        name: include_rate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns an array of connector objects
      tags:
      - Connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
    post:
      description: Create a new connector
      operationId: post_connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postConnectors_request'
        description: Include Connector properties to create here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the new connector object
        "400":
          description: A failure response
      tags:
      - Connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
      x-codegen-request-body-name: body
  /v1/connectors/{id}:
    delete:
      description: Delete a connector
      operationId: delete_connector
      parameters:
      - description: The connector id that needs to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns the deleted connector object
      tags:
      - Connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
    get:
      description: Get a connector
      operationId: get_connector
      parameters:
      - description: ID of connector that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate evse
        explode: true
        in: query
        name: include_evse
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate rate
        explode: true
        in: query
        name: include_rate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a connector object
      tags:
      - Connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
    patch:
      description: Update a connector's data
      operationId: patch_connector
      parameters:
      - description: ID of connector that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postConnectors_request'
        description: Include connector properties to update here
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the updated connector object
        "400":
          description: A failure response
      tags:
      - Connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
      x-codegen-request-body-name: body
  /v1/drivers:
    get:
      description: List all drivers
      operationId: get_drivers
      parameters:
      - description: Get a list of active drivers
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate tokens
        explode: true
        in: query
        name: include_tokens
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate group
        explode: true
        in: query
        name: include_group
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns a list of driver objects
        "400":
          description: A failure response
      tags:
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.drivers_controller
    post:
      description: Create a new driver
      operationId: post_drivers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDrivers_request'
        description: Include driver properties to create here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the newly created driver object
        "400":
          description: A failure response
      tags:
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.drivers_controller
      x-codegen-request-body-name: body
  /v1/drivers/{id}:
    delete:
      description: Delete a driver
      operationId: delete_driver
      parameters:
      - description: The driver id that needs to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns the deleted driver object
      tags:
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.drivers_controller
    get:
      description: Get a driver's data
      operationId: get_driver
      parameters:
      - description: The driver id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate tokens
        explode: true
        in: query
        name: include_tokens
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate group
        explode: true
        in: query
        name: include_group
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a driver object
      tags:
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.drivers_controller
    patch:
      description: Update a driver's data
      operationId: patch_driver
      parameters:
      - description: ID of driver that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchDriver_request'
        description: Include driver properties to create here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns the updated driver object
        "400":
          description: A failure response
      tags:
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.drivers_controller
      x-codegen-request-body-name: body
  /v1/location/{id}:
    delete:
      description: Delete a location
      operationId: delete_location
      parameters:
      - description: The location id that needs to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns the deleted location object
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: Get a location's data
      operationId: get_location
      parameters:
      - description: The location id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate chargestations
        explode: true
        in: query
        name: include_chargestations
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a location object
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    patch:
      description: Update a location's data
      operationId: patch_location
      parameters:
      - description: ID of location that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchLocation_request'
        description: Include location properties to create here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns the updated location object
        "400":
          description: A failure response
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/locations:
    get:
      description: Get Locations data
      operationId: get_locations
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: A failure response
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    post:
      description: Create a new location
      operationId: post_locations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postLocations_request'
        description: Include location properties to create here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the newly created location object
        "400":
          description: A failure response
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/organizations:
    get:
      description: Get an array of all Organizations
      operationId: get_organizations
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate locations
        explode: true
        in: query
        name: include_locations
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns an array of Organization Objects
      tags:
      - Organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
  /v1/organizations/{id}:
    get:
      description: Get one organization's data by id
      operationId: get_organization
      parameters:
      - description: ID of organization that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate locations
        explode: true
        in: query
        name: include_locations
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns an Organization Object
      tags:
      - Organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
    patch:
      description: Update an organization's data
      operationId: patch_organization
      parameters:
      - description: ID of organization that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchOrganization_request'
        description: Include organization properties to create here
        required: true
        x-body-name: body
      responses:
        "201":
          description: Returns the modified Organization Object
        "400":
          description: A failure response
      tags:
      - Organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
      x-codegen-request-body-name: body
  /v1/realtime:
    get:
      description: Use to request a Websockets handshake
      operationId: get_realtime
      parameters:
      - description: The JWT token to use for auth
        explode: false
        in: header
        name: sec-websocket-protocol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "101":
          description: Upgrade connection
      tags:
      - Realtime
      x-openapi-router-controller: openapi_server.controllers.realtime_controller
  /v1/reservations:
    get:
      description: Get Reservations data
      operationId: get_reservations
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate chargestation
        explode: true
        in: query
        name: include_chargestation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Reservations
      x-openapi-router-controller: openapi_server.controllers.reservations_controller
  /v1/reservations/{id}:
    get:
      description: Get one reservation data
      operationId: get_reservation
      parameters:
      - description: ID of the reservation that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate chargestation
        explode: true
        in: query
        name: include_chargestation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Reservations
      x-openapi-router-controller: openapi_server.controllers.reservations_controller
    patch:
      description: Use to request a update an existing reservation. The request will
        wait for the charge station to process the command. It will timeout after
        60 seconds.
      operationId: updatereservation
      parameters:
      - description: ID of the reservation that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatereservation_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: A successful response
        "400":
          description: A failure response
      tags:
      - Reservations
      x-openapi-router-controller: openapi_server.controllers.reservations_controller
      x-codegen-request-body-name: body
  /v1/tokens:
    get:
      description: List tokens
      operationId: get_tokens
      parameters:
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns an array of token objects
        "401":
          description: A failure response
      tags:
      - Tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
    post:
      description: Create a new token
      operationId: post_tokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTokens_request'
        description: Include token properties to create here
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns a newly created token object
        "400":
          description: A failure response
      tags:
      - Tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
      x-codegen-request-body-name: body
  /v1/tokens/{id}:
    delete:
      description: Use to delete a token
      operationId: delete_token
      parameters:
      - description: The token id that needs to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns the deleted token object
      tags:
      - Tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
    get:
      description: Get a single token's data
      operationId: get_token
      parameters:
      - description: The token id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a token object
      tags:
      - Tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
    patch:
      description: Update a token
      operationId: patch_token
      parameters:
      - description: ID of token that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchToken_request'
        description: Include token properties to create here
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns the updated token
        "400":
          description: A failure response
      tags:
      - Tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
      x-codegen-request-body-name: body
  /v1/transactions:
    get:
      description: Get a list of transactions
      operationId: get_transactions
      parameters:
      - description: Started to get only active transactions
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Started
          - Ended
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate chargestation
        explode: true
        in: query
        name: include_chargestation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate evse
        explode: true
        in: query
        name: include_evse
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate connector
        explode: true
        in: query
        name: include_connector
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate token
        explode: true
        in: query
        name: include_token
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate reservation
        explode: true
        in: query
        name: include_reservation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate rate
        explode: true
        in: query
        name: include_rate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransactions_200_response'
          description: Returns an array of transaction objects
        "400":
          description: Not Found
      tags:
      - Transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /v1/transactions/{id}:
    get:
      description: Get a specific transaction
      operationId: get_transaction
      parameters:
      - description: The transaction id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate chargestation
        explode: true
        in: query
        name: include_chargestation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate evse
        explode: true
        in: query
        name: include_evse
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate connector
        explode: true
        in: query
        name: include_connector
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate token
        explode: true
        in: query
        name: include_token
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate reservation
        explode: true
        in: query
        name: include_reservation
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate rate
        explode: true
        in: query
        name: include_rate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a transaction object
        "401":
          description: Not Found
      tags:
      - Transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /v1/transactions/{id}/cost:
    get:
      description: Get a specific transaction's cost
      operationId: get_transaction_cost
      parameters:
      - description: The transaction id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns a transaction's cost object
        "401":
          description: Not Found
      tags:
      - Transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /v1/vehicles:
    get:
      description: List all vehicles
      operationId: get_vehicles
      parameters:
      - description: Get a list of active vehicles
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: paginate_limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The queried page index
        explode: true
        in: query
        name: paginate_page
        required: false
        schema:
          type: string
        style: form
      - description: Enable pagination
        explode: true
        in: query
        name: paginate_enabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Sort data by this key
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - description: asc to sort ascending (default is desc - descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "createdAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date as ISO String
        explode: true
        in: query
        name: "updatedAt[$lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate token
        explode: true
        in: query
        name: include_token
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDrivers_200_response'
          description: Returns a list of vehicle objects
        "400":
          description: A failure response
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
  /v1/vehicles/{id}:
    get:
      description: Get a vehicle's data
      operationId: get_vehicle
      parameters:
      - description: The vehicule id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Populate driver
        explode: true
        in: query
        name: include_driver
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate token
        explode: true
        in: query
        name: include_token
        required: false
        schema:
          type: boolean
        style: form
      - description: Populate organization
        explode: true
        in: query
        name: include_organization
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Returns a vehicle object
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
  /v1/vehicles/{id}/battery:
    get:
      description: Get a vehicle's battery
      operationId: get_vehicle_battery
      parameters:
      - description: The vehicle id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns a vehicle object
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
  /v1/vehicles/{id}/charge:
    get:
      description: Get a vehicle's charge
      operationId: get_vehicle_charge
      parameters:
      - description: The vehicle id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns a vehicle object
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
    post:
      description: Change charge
      operationId: post_charge
      parameters:
      - description: The vehicle id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCharge_request'
        description: Include command properties to send here
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchChargeStation_200_response'
          description: Returns the status of the command
        "400":
          description: A failure response
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
      x-codegen-request-body-name: body
  /v1/vehicles/{id}/location:
    get:
      description: Get a vehicle's location
      operationId: get_vehicle_location
      parameters:
      - description: The vehicle id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns a vehicle object
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
  /v1/vehicles/{id}/odometer:
    get:
      description: Get a vehicle's odometer
      operationId: get_vehicle_odometer
      parameters:
      - description: The vehicle id that needs to be fetched
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns a vehicle object
      tags:
      - Vehicles
      x-openapi-router-controller: openapi_server.controllers.vehicles_controller
components:
  parameters:
    include_chargestation1:
      description: Populate chargestation
      explode: true
      in: query
      name: include_chargestation
      required: false
      schema:
        type: boolean
      style: form
    include_connector1:
      description: Populate connector
      explode: true
      in: query
      name: include_connector
      required: false
      schema:
        type: boolean
      style: form
    include_driver1:
      description: Populate driver
      explode: true
      in: query
      name: include_driver
      required: false
      schema:
        type: boolean
      style: form
    include_evse1:
      description: Populate evse
      explode: true
      in: query
      name: include_evse
      required: false
      schema:
        type: boolean
      style: form
    include_organization1:
      description: Populate organization
      explode: true
      in: query
      name: include_organization
      required: false
      schema:
        type: boolean
      style: form
    include_rate1:
      description: Populate rate
      explode: true
      in: query
      name: include_rate
      required: false
      schema:
        type: boolean
      style: form
    include_reservation1:
      description: Populate reservation
      explode: true
      in: query
      name: include_reservation
      required: false
      schema:
        type: boolean
      style: form
    include_token1:
      description: Populate token
      explode: true
      in: query
      name: include_token
      required: false
      schema:
        type: boolean
      style: form
    paginate_enabled1:
      description: Enable pagination
      explode: true
      in: query
      name: paginate_enabled
      required: false
      schema:
        default: true
        type: boolean
      style: form
    paginate_limit1:
      description: Number of results per page
      explode: true
      in: query
      name: paginate_limit
      required: false
      schema:
        default: 20
        maximum: 1000
        minimum: 1
        type: integer
      style: form
    paginate_page1:
      description: The queried page index
      explode: true
      in: query
      name: paginate_page
      required: false
      schema:
        type: string
      style: form
    parameter1:
      description: Date as ISO String
      explode: true
      in: query
      name: "createdAt[$gte]"
      required: false
      schema:
        format: date-time
        type: string
      style: form
    parameter2:
      description: Date as ISO String
      explode: true
      in: query
      name: "createdAt[$lte]"
      required: false
      schema:
        format: date-time
        type: string
      style: form
    parameter3:
      description: Date as ISO String
      explode: true
      in: query
      name: "updatedAt[$gte]"
      required: false
      schema:
        format: date-time
        type: string
      style: form
    parameter4:
      description: Date as ISO String
      explode: true
      in: query
      name: "updatedAt[$lte]"
      required: false
      schema:
        format: date-time
        type: string
      style: form
    sort_by1:
      description: Sort data by this key
      explode: true
      in: query
      name: sort_by
      required: false
      schema:
        default: createdAt
        type: string
      style: form
    sort_order1:
      description: asc to sort ascending (default is desc - descending)
      explode: true
      in: query
      name: sort_order
      required: false
      schema:
        default: desc
        enum:
        - desc
        - asc
        type: string
      style: form
  schemas:
    schema1:
      properties:
        location:
          title: location
          type: string
        manufacturer:
          title: manufacturer
          type: string
        model:
          title: model
          type: string
        protocol:
          title: protocol
          type: string
        public:
          title: public
          type: boolean
      title: schema1
      type: object
    postChargeStations_201_response:
      example:
        message: message
        ok: true
        chargestation: "{}"
      properties:
        chargestation:
          title: chargestation
          type: object
        message:
          title: message
          type: string
        ok:
          title: ok
          type: boolean
      title: postChargeStations_201_response
      type: object
    patchChargeStation_200_response:
      example:
        result: "{}"
        message: message
        ok: true
      properties:
        message:
          title: message
          type: string
        ok:
          title: ok
          type: boolean
        result:
          title: result
          type: object
      title: patchChargeStation_200_response
      type: object
    cancelreservation_request:
      properties:
        reservation:
          title: reservation
          type: string
      title: cancelreservation_request
      type: object
    setchargingschedule_request_schedule_inner:
      properties:
        endDate:
          title: endDate
          type: string
        limit:
          title: limit
          type: number
        startDate:
          title: startDate
          type: string
        unit:
          title: unit
          type: string
      title: setchargingschedule_request_schedule_inner
      type: object
    setchargingschedule_request:
      properties:
        connector:
          title: connector
          type: string
        schedule:
          items:
            $ref: '#/components/schemas/setchargingschedule_request_schedule_inner'
          title: schedule
          type: array
      title: setchargingschedule_request
    setchargingschedule_201_response:
      example:
        message: message
        ok: true
        command: "{}"
      properties:
        command:
          title: command
          type: object
        message:
          title: message
          type: string
        ok:
          title: ok
          type: boolean
      title: setchargingschedule_201_response
      type: object
    deletechargingschedule_request:
      properties:
        id:
          title: id
          type: string
      title: deletechargingschedule_request
      type: object
    remotestart_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        connector:
          title: connector
          type: string
        driver:
          title: driver
          type: string
        token:
          title: token
          type: string
      title: remotestart_request
      type: object
    remotestop_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        driver:
          title: driver
          type: string
        transaction:
          title: transaction
          type: string
      title: remotestop_request
      type: object
    reserve_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        connector:
          title: connector
          type: string
        driver:
          title: driver
          type: string
        endDate:
          title: endDate
          type: string
        token:
          title: token
          type: string
      title: reserve_request
      type: object
    reset_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        type:
          title: type
          type: string
      title: reset_request
      type: object
    unlockconnector_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        connector:
          title: connector
          type: string
      title: unlockconnector_request
      type: object
    patchChargeStationVariable_request:
      properties:
        value:
          title: value
          type: string
        variable:
          enum:
          - MeterValueSampleInterval
          - HeartbeatInterval
          - ConnectionTimeOut
          - WebSocketPingInterval
          - TransactionMessageRetryInterval
          - TransactionMessageAttempts
          title: variable
          type: string
      title: patchChargeStationVariable_request
      type: object
    postConfigurations_request:
      properties:
        key:
          title: key
          type: string
        value:
          title: value
          type: string
      title: postConfigurations_request
      type: object
    postConnectors_request:
      properties:
        chargestation:
          title: chargestation
          type: string
        format:
          title: format
          type: string
        power:
          title: power
          type: integer
        power_type:
          title: power_type
          type: string
        rate:
          title: rate
          type: string
        type:
          title: type
          type: string
      title: postConnectors_request
      type: object
    getDrivers_200_response:
      example:
        result:
        - ""
        - ""
        message: message
        ok: true
      properties:
        message:
          title: message
          type: string
        ok:
          title: ok
          type: boolean
        result:
          items: {}
          title: result
          type: array
      title: getDrivers_200_response
      type: object
    postDrivers_request_address:
      properties:
        city:
          title: city
          type: string
        country:
          title: country
          type: string
        postalCode:
          title: postalCode
          type: string
        streetAndNumber:
          title: streetAndNumber
          type: string
      title: postDrivers_request_address
      type: object
    postDrivers_request_phone:
      properties:
        home:
          title: home
          type: string
        mobile:
          title: mobile
          type: string
        work:
          title: work
          type: string
      title: postDrivers_request_phone
      type: object
    postDrivers_request:
      properties:
        active:
          default: true
          title: active
          type: boolean
        address:
          $ref: '#/components/schemas/postDrivers_request_address'
        email:
          title: email
          type: string
        firstname:
          title: firstname
          type: string
        lastname:
          title: lastname
          type: string
        phone:
          $ref: '#/components/schemas/postDrivers_request_phone'
        source:
          enum:
          - physical
          - slack
          - telegram
          - sms
          title: source
          type: string
      required:
      - firstname
      - lastname
      - source
      title: postDrivers_request
      type: object
    patchDriver_request:
      properties:
        active:
          title: active
          type: boolean
        address:
          $ref: '#/components/schemas/postDrivers_request_address'
        email:
          title: email
          type: string
        firstname:
          title: firstname
          type: string
        lastname:
          title: lastname
          type: string
        phone:
          $ref: '#/components/schemas/postDrivers_request_phone'
        source:
          title: source
          type: string
        tokens:
          items: {}
          title: tokens
          type: array
      title: patchDriver_request
      type: object
    patchLocation_request_address:
      properties:
        city:
          title: city
          type: string
        country:
          title: country
          type: string
        postalCode:
          title: postalCode
          type: string
        state:
          title: state
          type: string
        streetAndNumber:
          title: streetAndNumber
          type: string
      title: patchLocation_request_address
      type: object
    patchLocation_request_coordinates:
      properties:
        latitude:
          title: latitude
          type: number
        longitude:
          title: longitude
          type: number
      title: patchLocation_request_coordinates
      type: object
    patchLocation_request_openingHours_0_inner:
      properties:
        endTime:
          title: endTime
          type: string
        startTime:
          title: startTime
          type: string
      title: patchLocation_request_openingHours_0_inner
      type: object
    patchLocation_request_openingHours:
      properties:
        "0":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "0"
          type: array
        "1":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "1"
          type: array
        "2":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "2"
          type: array
        "3":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "3"
          type: array
        "4":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "4"
          type: array
        "5":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "5"
          type: array
        "6":
          items:
            $ref: '#/components/schemas/patchLocation_request_openingHours_0_inner'
          title: "6"
          type: array
      title: patchLocation_request_openingHours
      type: object
    patchLocation_request:
      properties:
        active:
          default: true
          title: active
          type: boolean
        address:
          $ref: '#/components/schemas/patchLocation_request_address'
        chargestations:
          items: {}
          title: chargestations
          type: array
        coordinates:
          $ref: '#/components/schemas/patchLocation_request_coordinates'
        openingHours:
          $ref: '#/components/schemas/patchLocation_request_openingHours'
        operatorName:
          title: operatorName
          type: string
        timezone:
          title: timezone
          type: string
      title: patchLocation_request
      type: object
    postLocations_request:
      properties:
        active:
          default: true
          title: active
          type: boolean
        address:
          $ref: '#/components/schemas/postDrivers_request_address'
        chargestations:
          items: {}
          title: chargestations
          type: array
        coordinates:
          $ref: '#/components/schemas/patchLocation_request_coordinates'
        operatorName:
          title: operatorName
          type: string
      required:
      - address
      - coordinates
      - operatorName
      title: postLocations_request
      type: object
    patchOrganization_request_channels:
      properties:
        slack:
          title: slack
          type: object
        telegram:
          title: telegram
          type: object
      title: patchOrganization_request_channels
      type: object
    patchOrganization_request_configurations:
      properties:
        basicAuthEnabled:
          title: basicAuthEnabled
          type: boolean
        basicAuthPassword:
          title: basicAuthPassword
          type: boolean
      title: patchOrganization_request_configurations
      type: object
    patchOrganization_request_links:
      properties:
        about:
          title: about
          type: string
        contact:
          title: contact
          type: string
        privacy:
          title: privacy
          type: string
        support:
          title: support
          type: string
      title: patchOrganization_request_links
      type: object
    patchOrganization_request_support_chat:
      properties:
        type:
          title: type
          type: string
        value:
          title: value
          type: string
      title: patchOrganization_request_support_chat
      type: object
    patchOrganization_request_support:
      properties:
        business_hours:
          title: business_hours
          type: string
        chat:
          $ref: '#/components/schemas/patchOrganization_request_support_chat'
        contact_number:
          title: contact_number
          type: string
        email:
          title: email
          type: string
      title: patchOrganization_request_support
      type: object
    patchOrganization_request_supportChat:
      properties:
        id:
          title: id
          type: string
        name:
          title: name
          type: string
      title: patchOrganization_request_supportChat
      type: object
    patchOrganization_request_theme_colors:
      properties:
        primary:
          title: primary
          type: string
        secondary:
          title: secondary
          type: string
      title: patchOrganization_request_theme_colors
      type: object
    patchOrganization_request_theme:
      properties:
        colors:
          $ref: '#/components/schemas/patchOrganization_request_theme_colors'
      title: patchOrganization_request_theme
      type: object
    patchOrganization_request:
      properties:
        active:
          title: active
          type: boolean
        address:
          $ref: '#/components/schemas/postDrivers_request_address'
        channels:
          $ref: '#/components/schemas/patchOrganization_request_channels'
        configurations:
          $ref: '#/components/schemas/patchOrganization_request_configurations'
        links:
          $ref: '#/components/schemas/patchOrganization_request_links'
        locations:
          items: {}
          title: locations
          type: array
        logo:
          title: logo
          type: string
        name:
          title: name
          type: string
        otp:
          title: otp
          type: string
        stripe_connected_account_id:
          title: stripe_connected_account_id
          type: string
        stripe_country:
          title: stripe_country
          type: string
        stripe_currency:
          title: stripe_currency
          type: string
        stripe_reserve_amount:
          title: stripe_reserve_amount
          type: integer
        support:
          $ref: '#/components/schemas/patchOrganization_request_support'
        supportChat:
          $ref: '#/components/schemas/patchOrganization_request_supportChat'
        theme:
          $ref: '#/components/schemas/patchOrganization_request_theme'
      title: patchOrganization_request
      type: object
    updatereservation_request:
      properties:
        connector:
          minimum: 1
          title: connector
          type: integer
        driver:
          title: driver
          type: string
        endDate:
          title: endDate
          type: string
        evse:
          minimum: 1
          title: evse
          type: integer
      title: updatereservation_request
      type: object
    postTokens_request:
      properties:
        active:
          default: true
          title: active
          type: boolean
        channel:
          enum:
          - physical
          - slack
          - telegram
          - sms
          title: channel
          type: string
        driver:
          title: driver
          type: string
        physicalId:
          title: physicalId
          type: string
        type:
          title: type
          type: string
      required:
      - active
      - channel
      - driver
      - physicalId
      title: postTokens_request
      type: object
    patchToken_request:
      properties:
        active:
          default: true
          title: active
          type: boolean
        channel:
          enum:
          - physical
          - slack
          - telegram
          - sms
          title: channel
          type: string
        driver:
          title: driver
          type: string
        physicalId:
          title: physicalId
          type: string
        type:
          title: type
          type: string
      title: patchToken_request
      type: object
    getTransactions_200_response:
      example:
        result:
        - ""
        - ""
        hasPrevious: true
        hasNext: true
        message: message
        ok: true
      properties:
        hasNext:
          title: hasNext
          type: boolean
        hasPrevious:
          title: hasPrevious
          type: boolean
        message:
          title: message
          type: string
        ok:
          title: ok
          type: boolean
        result:
          items: {}
          title: result
          type: array
      title: getTransactions_200_response
      type: object
    postCharge_request:
      properties:
        action:
          enum:
          - START
          - STOP
          title: action
          type: string
      required:
      - action
      title: postCharge_request
      type: object
  securitySchemes:
    oauth2:
      flows:
        implicit:
          authorizationUrl: https://auth.edrv.io/authorize
          scopes:
            read:chargestations: Read chargestations
            read:chargestations/:id: Read a chargestation
            read:chargestations/:id/connectors: Read connectors for a chargestation
            read:connectors: Read connectors
            read:connectors/:id: Read a connector
            read:drivers: Read drivers
            read:drivers/:id: Read a driver
            read:locations: Read locations
            read:locations/:id: Read a location
            read:organizations: Read organizations
            read:organizations/:id: Read an organization
            read:realtime: Read realtime
            read:reservations: Read reservations
            read:reservations/:id: Read a reservations
            read:stats/:asset/:statistic: Read a statistic
            read:tokens: Read tokens
            read:tokens/:id: Read a token
            read:transactions: Read transactions
            read:transactions/:id: Read a transaction
            write:chargestations: Write chargestations
            write:chargestations/:id: Write a chargestation
            write:commands/remotestart: Write remotestart for commands
            write:commands/remotestop: Write remotestop for commands
            write:commands/reserve: Write reserve for commands
            write:commands/reset: Write reset for commands
            write:commands/unlockconnector: Write unlockconnector for commands
            write:connectors: Write connectors
            write:connectors/:id: Write a connector
            write:drivers: Write drivers
            write:drivers/:id: Write a driver
            write:locations: Write locations
            write:locations/:id: Write a location
            write:organizations: Write organizations
            write:organizations/:id: Writen an organization
            write:reservations: Write reservations
            write:reservations/:id: Write a reservation
            write:tokens: Write tokens
            write:tokens/:id: Write a token
            write:transactions: Write transactions
            write:transactions/:id: Write a transactions
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2
x-explorer-enabled: true
x-github-repo: rsafaya-edrv/edrv-api
x-github-sha: 2df8793f7607c6d41b7c8c4c552d6423896000ca
x-proxy-enabled: true
x-samples-enabled: true
x-samples-languages:
- curl
- node
- ruby
- javascript
- python
x-si-base: /home/runner/work/edrv-api/edrv-api/swagger.yml
