openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NHL v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nhl-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/nhl/projections
- url: https://azure-api.sportsdata.io/v3/nhl/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured NHL players, along\
        \ with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      operationId: ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000378</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameProjection'
          description: ""
      summary: "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/StartingGoaltendersByDate/{date}:
    get:
      description: This endpoint provides the projected & confirmed starting goaltenders
        for NHL games on a given date.
      operationId: StartingGoaltendersByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2021-OCT-12</code>, <code>2021-DEC-09</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StartingGoaltenders'
                type: array
          description: ""
      summary: Starting Goaltenders by Date
      x-accepts:
      - application/json
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 1
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 2
            HomeTeamMoneyLine: 7
            HomeTeamID: 4
            AwayTeamID: 1
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 1
            UnderPayout: 4
            GlobalHomeTeamID: 3
            Season: 3
            GameID: 2
            GlobalGameID: 9
            OverPayout: 1
            Attendance: 0
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 4
            Channel: Channel
            Period: Period
            OverUnder: 1.4894159098541704
            NeutralVenue: true
            StadiumID: 6
            Periods:
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            SeriesInfo:
              GameNumber: 3
              MaxLength: 0
              AwayTeamWins: 5
              HomeTeamWins: 4
            SeasonType: 7
            HomeTeamScore: 1
            PointSpread: 8.969578798196912
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 7
            AwayTeamScore: 5
            GlobalAwayTeamID: 7
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 3
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 9
          SlateGameID: 0
          SlateID: 9
          GameID: 7
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 2
            HomeTeamMoneyLine: 7
            HomeTeamID: 4
            AwayTeamID: 1
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 1
            UnderPayout: 4
            GlobalHomeTeamID: 3
            Season: 3
            GameID: 2
            GlobalGameID: 9
            OverPayout: 1
            Attendance: 0
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 4
            Channel: Channel
            Period: Period
            OverUnder: 1.4894159098541704
            NeutralVenue: true
            StadiumID: 6
            Periods:
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            SeriesInfo:
              GameNumber: 3
              MaxLength: 0
              AwayTeamWins: 5
              HomeTeamWins: 4
            SeasonType: 7
            HomeTeamScore: 1
            PointSpread: 8.969578798196912
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 7
            AwayTeamScore: 5
            GlobalAwayTeamID: 7
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 3
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 9
          SlateGameID: 0
          SlateID: 9
          GameID: 7
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 2
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 3
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 5
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 6
          SlatePlayerID: 8
          TeamID: 4
          PlayerGameProjectionStatID: 7
          OperatorSalary: 0
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 4
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 5
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 6
          SlatePlayerID: 8
          TeamID: 4
          PlayerGameProjectionStatID: 7
          OperatorSalary: 0
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 4
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 0
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 2
          HomeTeamMoneyLine: 7
          HomeTeamID: 4
          AwayTeamID: 1
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 1
          UnderPayout: 4
          GlobalHomeTeamID: 3
          Season: 3
          GameID: 2
          GlobalGameID: 9
          OverPayout: 1
          Attendance: 0
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 4
          Channel: Channel
          Period: Period
          OverUnder: 1.4894159098541704
          NeutralVenue: true
          StadiumID: 6
          Periods:
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          SeriesInfo:
            GameNumber: 3
            MaxLength: 0
            AwayTeamWins: 5
            HomeTeamWins: 4
          SeasonType: 7
          HomeTeamScore: 1
          PointSpread: 8.969578798196912
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 7
          AwayTeamScore: 5
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 3
          AwayTeamMoneyLine: 5
          Day: Day
        OperatorGameID: 9
        SlateGameID: 0
        SlateID: 9
        GameID: 7
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 5
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 6
        SlatePlayerID: 8
        TeamID: 4
        PlayerGameProjectionStatID: 7
        OperatorSalary: 0
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 4
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 2
        HomeTeamMoneyLine: 7
        HomeTeamID: 4
        AwayTeamID: 1
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 1
        UnderPayout: 4
        GlobalHomeTeamID: 3
        Season: 3
        GameID: 2
        GlobalGameID: 9
        OverPayout: 1
        Attendance: 0
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 4
        Channel: Channel
        Period: Period
        OverUnder: 1.4894159098541704
        NeutralVenue: true
        StadiumID: 6
        Periods:
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        SeriesInfo:
          GameNumber: 3
          MaxLength: 0
          AwayTeamWins: 5
          HomeTeamWins: 4
        SeasonType: 7
        HomeTeamScore: 1
        PointSpread: 8.969578798196912
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 7
        AwayTeamScore: 5
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 3
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: true
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Goaltender:
      example:
        PlayerID: 6
        FirstName: FirstName
        Team: Team
        Confirmed: true
        Jersey: 0
        LastName: LastName
        TeamID: 1
      properties:
        Confirmed:
          nullable: false
          type: boolean
        FirstName:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
    Penalty:
      example:
        Description: Description
        TimeRemainingMinutes: 6
        DrawnByTeamID: 9
        IsBenchPenalty: true
        PeriodID: 6
        Sequence: 3
        PenaltyMinutes: 9
        PenaltyID: 8
        DrawnByPlayerID: 5
        TimeRemainingSeconds: 1
        PenalizedTeamID: 6
        PenalizedPlayerID: 9
        BenchPenaltyServedByPlayerID: 4
      properties:
        BenchPenaltyServedByPlayerID:
          nullable: true
          type: integer
        Description:
          nullable: true
          type: string
        DrawnByPlayerID:
          nullable: true
          type: integer
        DrawnByTeamID:
          nullable: true
          type: integer
        IsBenchPenalty:
          nullable: true
          type: boolean
        PenalizedPlayerID:
          nullable: true
          type: integer
        PenalizedTeamID:
          nullable: true
          type: integer
        PenaltyID:
          nullable: false
          type: integer
        PenaltyMinutes:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Period:
      example:
        HomeScore: 1
        ScoringPlays:
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        Penalties:
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        AwayScore: 6
        PeriodID: 2
        GameID: 7
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Penalties:
          items:
            $ref: '#/components/schemas/Penalty'
          type: array
        PeriodID:
          nullable: false
          type: integer
        ScoringPlays:
          items:
            $ref: '#/components/schemas/ScoringPlay'
          type: array
    Player:
      example:
        PlayerID: 3
        FantasyDraftPlayerID: 5
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 2
        FanDuelName: FanDuelName
        RotoworldPlayerID: 4
        TeamID: 1
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        Catches: Catches
        SportsDirectPlayerID: 7
        DraftKingsPlayerID: 6
        UsaTodayPlayerID: 1
        DepthChartPosition: DepthChartPosition
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 7
        Team: Team
        Jersey: 9
        PhotoUrl: PhotoUrl
        Shoots: Shoots
        YahooPlayerID: 1
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        Status: Status
        Position: Position
        FanDuelPlayerID: 1
        FirstName: FirstName
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        BirthState: BirthState
        XmlTeamPlayerID: 7
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        Weight: 6
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        DepthChartOrder: 0
        FantasyAlarmPlayerID: 5
        SportRadarPlayerID: SportRadarPlayerID
        BirthCity: BirthCity
        LastName: LastName
        BirthDate: BirthDate
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Catches:
          nullable: true
          type: string
        DepthChartOrder:
          nullable: true
          type: integer
        DepthChartPosition:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Shoots:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGameProjection:
      example:
        PlayerID: 7
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        ShootoutGoals: 7.04836565559697
        GoaltendingShotsAgainst: 1.284659006116532
        GlobalTeamID: 9
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 6
        ShortHandedAssists: 5.533258397034986
        DraftKingsSalary: 5
        Name: Name
        PlusMinus: 6.519180951018382
        ShotsOnGoal: 4.078845849666752
        GoaltendingMinutes: 9
        PowerPlayAssists: 0.10263654006109402
        Takeaways: 4.258773108174356
        ShortHandedGoals: 3.2588565619047607
        GameID: 6
        FaceoffsLost: 2.3021358869347655
        GoaltendingOvertimeLosses: 6.438423552598547
        OpponentPositionRank: 3
        Updated: Updated
        Position: Position
        FaceoffsWon: 7.061401241503109
        FantasyDraftSalary: 2
        FantasyPointsFanDuel: 1.2315135367772556
        PenaltyMinutes: 0.8851374739011653
        OpponentID: 3
        Assists: 0.8008281904610115
        GoaltendingWins: 6.778324963048013
        FantasyPointsDraftKings: 7.386281948385884
        GoaltendingGoalsAgainst: 6.683562403749608
        Games: 7
        Goals: 9.369310271410669
        StatID: 6
        Hits: 5.944895607614016
        Started: 0
        GoaltendingSeconds: 6
        IsGameOver: true
        GoaltendingLosses: 8.762042012749001
        FantasyPointsYahoo: 1.4894159098541704
        OpponentRank: 7
        TeamID: 1
        YahooSalary: 4
        FantasyDataSalary: 3
        EmptyNetGoals: 5.637376656633329
        PowerPlayGoals: 4.652396432933246
        DraftKingsPosition: DraftKingsPosition
        FantasyPointsFantasyDraft: 1.0246457001441578
        GlobalOpponentID: 5
        GoaltendingSaves: 3.5571952270680973
        Opponent: Opponent
        Team: Team
        Season: 8
        Shifts: 3.0576100241049344
        GlobalGameID: 4
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FanDuelSalary: 9
        FantasyPoints: 4.145608029883936
        Blocks: 1.4658129805029452
        BenchPenaltyMinutes: 6.027456183070403
        Giveaways: 1.1730742509559433
        HatTricks: 6.878052220127876
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        GoaltendingShutouts: 2.8841621266687802
        SeasonType: 7
        Seconds: 3
        Day: Day
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsGameOver:
          nullable: false
          type: boolean
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PlusMinus:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        YahooPosition:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    ScoringPlay:
      example:
        EmptyNet: true
        ShortHanded: true
        TimeRemainingMinutes: 0
        PowerPlay: true
        AssistedByPlayerID2: 5
        AssistedByPlayerID1: 6
        PeriodID: 3
        Sequence: 6
        TimeRemainingSeconds: 4
        HomeTeamScore: 3
        AwayTeamScore: 6
        ScoringPlayID: 7
        AllowedByTeamID: 6
        ScoredByTeamID: 0
        ScoredByPlayerID: 7
      properties:
        AllowedByTeamID:
          nullable: true
          type: integer
        AssistedByPlayerID1:
          nullable: true
          type: integer
        AssistedByPlayerID2:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        EmptyNet:
          nullable: true
          type: boolean
        HomeTeamScore:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PowerPlay:
          nullable: true
          type: boolean
        ScoredByPlayerID:
          nullable: true
          type: integer
        ScoredByTeamID:
          nullable: true
          type: integer
        ScoringPlayID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        ShortHanded:
          nullable: true
          type: boolean
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Series:
      example:
        GameNumber: 3
        MaxLength: 0
        AwayTeamWins: 5
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
    StartingGoaltenders:
      example:
        Status: Status
        AwayTeam: AwayTeam
        HomeTeam: HomeTeam
        SeasonType: 9
        HomeGoaltender:
          PlayerID: 6
          FirstName: FirstName
          Team: Team
          Confirmed: true
          Jersey: 0
          LastName: LastName
          TeamID: 1
        AwayGoaltender:
          PlayerID: 6
          FirstName: FirstName
          Team: Team
          Confirmed: true
          Jersey: 0
          LastName: LastName
          TeamID: 1
        HomeTeamID: 2
        AwayTeamID: 5
        Season: 7
        Day: Day
        DateTime: DateTime
        GameID: 5
      properties:
        AwayGoaltender:
          $ref: '#/components/schemas/Goaltender'
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        HomeGoaltender:
          $ref: '#/components/schemas/Goaltender'
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

