openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/natGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-natGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/natGateways:
    get:
      description: Gets all the Nat Gateways in a subscription.
      operationId: nat_gateways_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGatewayListResult'
          description: Request successful. The operation returns a list of NatGateway
            resources.
      tags:
      - NatGateways
      x-ms-examples:
        List all nat gateways:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateways/test-natGateway
                  location: westus
                  name: test-natGateway
                  properties:
                    idleTimeoutInMinutes: 5
                    provisioningState: Succeeded
                    publicIpAddresses:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                    publicIpPrefixes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                  sku:
                    name: Standard
                  type: Microsoft.Network/natGateways
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/natGatewayes/test-natGateway2
                  location: westus
                  name: test-natGateway2
                  properties:
                    idleTimeoutInMinutes: 5
                    provisioningState: Succeeded
                    publicIpAddresses:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                    publicIpPrefixes:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                  sku:
                    name: Standard
                  type: Microsoft.Network/natGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways:
    get:
      description: Gets all nat gateways in a resource group.
      operationId: nat_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGatewayListResult'
          description: Request successful. The operation returns a list of NatGateway
            resources.
      tags:
      - NatGateways
      x-ms-examples:
        List nat gateways in resource group:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateway/test-natGateway
                  location: westus
                  name: test-natGateway
                  properties:
                    idleTimeoutInMinutes: 5
                    provisioningState: Succeeded
                    publicIpAddresses:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                    publicIpPrefixes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                  sku:
                    name: Standard
                  type: Microsoft.Network/natGateways
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/natGateway/test-natGateway2
                  location: westus
                  name: test-natGateway2
                  properties:
                    idleTimeoutInMinutes: 5
                    provisioningState: Succeeded
                    publicIpAddresses:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                    publicIpPrefixes:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                  sku:
                    name: Standard
                  type: Microsoft.Network/natGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways/{natGatewayName}:
    delete:
      description: Deletes the specified nat gateway.
      operationId: nat_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the nat gateway.
        in: path
        name: natGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource does not exist.
      tags:
      - NatGateways
      x-ms-examples:
        Delete nat gateway:
          parameters:
            api-version: 2019-02-01
            natGatewayName: test-natGateway
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
    get:
      description: Gets the specified nat gateway in a specified resource group.
      operationId: nat_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the nat gateway.
        in: path
        name: natGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Request successful. The operation returns the resulting NatGateway
            resource.
      tags:
      - NatGateways
      x-ms-examples:
        Get nat gateway:
          parameters:
            api-version: 2019-02-01
            natGatewayName: test-natGateway
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateways/test-natGateway
                location: westus
                name: test-natGateway
                properties:
                  idleTimeoutInMinutes: 5
                  provisioningState: Succeeded
                  publicIpAddresses:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                  publicIpPrefixes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  name: Standard
                type: Microsoft.Network/natGateways
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
    patch:
      description: Updates nat gateway tags.
      operationId: nat_gateways_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the nat gateway.
        in: path
        name: natGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NatGateways_UpdateTags_request'
        description: Parameters supplied to update nat gateway tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Update successful. The operation returns the resulting NatGateway
            resource.
      tags:
      - NatGateways
      x-ms-examples:
        Update nat gateway tags:
          parameters:
            api-version: 2019-02-01
            natGatewayName: test-natGateway
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateways/test-natGateway
                location: westus
                name: test-natGateway
                properties:
                  idleTimeoutInMinutes: 5
                  provisioningState: Succeeded
                  publicIpAddresses:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                  publicIpPrefixes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  name: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/natGateways
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
    put:
      description: Creates or updates a nat gateway.
      operationId: nat_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the nat gateway.
        in: path
        name: natGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NatGateway'
        description: Parameters supplied to the create or update nat gateway operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Update successful. The operation returns the resulting NatGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Create successful. The operation returns the resulting NatGateway
            resource.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NatGateways
      x-ms-examples:
        Create nat gateway:
          parameters:
            api-version: 2019-02-01
            natGatewayName: test-natgateway
            parameters:
              properties:
                publicIpAddresses:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                publicIpPrefixes:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateways/test-natGateway
                location: westus
                name: test-natGateway
                properties:
                  idleTimeoutInMinutes: 5
                  provisioningState: Succeeded
                  publicIpAddresses:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                  publicIpPrefixes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  name: Standard
                type: Microsoft.Network/natGateways
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/natGateways/test-natGateway
                location: westus
                name: test-natGateway
                properties:
                  idleTimeoutInMinutes: 5
                  provisioningState: Succeeded
                  publicIpAddresses:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/PublicIpAddress1
                  publicIpPrefixes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPPrefixes/PublicIpPrefix1
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  name: Standard
                type: Microsoft.Network/natGateways
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.nat_gateways_controller
components:
  schemas:
    NatGateway:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Nat Gateway resource.
      example:
        etag: etag
        sku:
          name: Standard
        properties:
          publicIpPrefixes:
          - id: id
          - id: id
          publicIpAddresses:
          - id: id
          - id: id
          resourceGuid: resourceGuid
          idleTimeoutInMinutes: 0
          subnets:
          - id: id
          - id: id
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/NatGatewayPropertiesFormat'
        sku:
          $ref: '#/components/schemas/NatGatewaySku'
      title: NatGateway
    NatGatewayListResult:
      description: Response for ListNatGateways API service call.
      example:
        value:
        - etag: etag
          sku:
            name: Standard
          properties:
            publicIpPrefixes:
            - id: id
            - id: id
            publicIpAddresses:
            - id: id
            - id: id
            resourceGuid: resourceGuid
            idleTimeoutInMinutes: 0
            subnets:
            - id: id
            - id: id
            provisioningState: provisioningState
        - etag: etag
          sku:
            name: Standard
          properties:
            publicIpPrefixes:
            - id: id
            - id: id
            publicIpAddresses:
            - id: id
            - id: id
            resourceGuid: resourceGuid
            idleTimeoutInMinutes: 0
            subnets:
            - id: id
            - id: id
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of Nat Gateways that exists in a resource group.
          items:
            $ref: '#/components/schemas/NatGateway'
          title: value
          type: array
      title: NatGatewayListResult
      type: object
    NatGatewayPropertiesFormat:
      description: Nat Gateway properties.
      example:
        publicIpPrefixes:
        - id: id
        - id: id
        publicIpAddresses:
        - id: id
        - id: id
        resourceGuid: resourceGuid
        idleTimeoutInMinutes: 0
        subnets:
        - id: id
        - id: id
        provisioningState: provisioningState
      properties:
        idleTimeoutInMinutes:
          description: The idle timeout of the nat gateway.
          format: int32
          title: idleTimeoutInMinutes
          type: integer
        provisioningState:
          description: "The provisioning state of the NatGateway resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        publicIpAddresses:
          description: An array of public ip addresses associated with the nat gateway
            resource.
          items:
            $ref: '#/components/schemas/NatGatewayPropertiesFormat_publicIpAddresses_inner'
          title: publicIpAddresses
          type: array
        publicIpPrefixes:
          description: An array of public ip prefixes associated with the nat gateway
            resource.
          items:
            $ref: '#/components/schemas/NatGatewayPropertiesFormat_publicIpAddresses_inner'
          title: publicIpPrefixes
          type: array
        resourceGuid:
          description: The resource GUID property of the nat gateway resource.
          title: resourceGuid
          type: string
        subnets:
          description: An array of references to the subnets using this nat gateway
            resource.
          items:
            $ref: '#/components/schemas/NatGatewayPropertiesFormat_publicIpAddresses_inner'
          readOnly: true
          title: subnets
          type: array
      title: NatGatewayPropertiesFormat
      type: object
    NatGatewaySku:
      description: SKU of nat gateway
      example:
        name: Standard
      properties:
        name:
          description: Name of Nat Gateway SKU.
          enum:
          - Standard
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: NatGatewaySkuName
      title: NatGatewaySku
      type: object
    NatGateways_UpdateTags_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: NatGateways_UpdateTags_request
      type: object
    NatGatewayPropertiesFormat_publicIpAddresses_inner:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: NatGatewayPropertiesFormat_publicIpAddresses_inner
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
