openapi: 3.0.1
info:
  contact:
    email: NPROneEnterprise@npr.org
    name: NPR One Enterprise Team
    url: https://dev.npr.org
  description: The entry point to user-specific information
  termsOfService: https://dev.npr.org/guide/prerequisites/terms-of-use
  title: NPR Identity Service
  version: "2"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/NPR/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://identity.api.npr.org/v2/swagger.json
    version: "2.0"
  x-providerName: npr.org
  x-serviceName: identity
externalDocs:
  description: Learn more at the NPR One Developer Center
  url: https://dev.npr.org/guide/services/identity
servers:
- url: https://identity.api.npr.org/
paths:
  /v2/following:
    post:
      description: "After a successful call, this returns a User document with an\
        \ updated list of affiliations."
      operationId: post_following
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Affiliation'
        description: "A JSON-serialized object which contains data about a user affiliation\
          \ such as the aggregation ID, affiliation rating, aggregation URL, days\
          \ since last listen, and following status."
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
          description: The request was successful
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "A bad request; generally, one or more parameters passed in\
            \ were incorrect or missing"
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - identity.write
      summary: Update the following status of the logged-in user for a particular
        aggregation
      tags:
      - identity
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.identity_controller
  /v2/stations:
    put:
      description: "Right now, only the primary station can be changed. Previously\
        \ selected stations will not be deleted, but the new station will be moved\
        \ to first in the array."
      operationId: update_stations
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: integer
              type: array
          application/vnd.collection.doc+json:
            schema:
              items:
                type: integer
              type: array
        description: A JSON-serialized array of station IDs
        required: false
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
          description: The request was successful
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "A bad request; generally, one or more parameters passed in\
            \ were incorrect or missing"
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - identity.write
      summary: Update the logged-in user's favorite station(s)
      tags:
      - identity
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.identity_controller
  /v2/user:
    delete:
      description: "Use with caution as some steps are irreverisble. Initiates the\
        \ user account deletion process, including removal of all user PII and account\
        \ access."
      operationId: delete_user
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
          description: The request was successful
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - identity.write
      summary: Delete the user's account
      tags:
      - identity
      x-openapi-router-controller: openapi_server.controllers.identity_controller
    get:
      description: "After a successful login, the client should send a `GET` call\
        \ approximately once an hour to refresh the user data."
      operationId: get_user
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
          description: The request was successful
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - identity.readonly
      summary: Get the latest state information about the logged-in user
      tags:
      - identity
      x-openapi-router-controller: openapi_server.controllers.identity_controller
  /v2/user/inherit:
    post:
      description: |-
        This can and should only be used by clients who have access to the `temporary_user` grant type.
            Third-party developers do not have access to this grant type by default, and will not need this endpoint.
      operationId: inherit_from_temp_user
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The temporary user's ID before the user registered or logged
          in
        in: query
        name: temp_user
        required: true
        schema:
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
          description: The request was successful
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "A bad request; generally, one or more parameters passed in\
            \ were incorrect or missing"
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - identity.write
      summary: Copy listening data from a temporary user account to the logged-in
        user's account
      tags:
      - identity
      x-openapi-router-controller: openapi_server.controllers.identity_controller
components:
  parameters:
    Authorization:
      description: "Your access token from the Authorization Service. Should start\
        \ with `Bearer`, followed by a space, followed by the token."
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    X-Advertising-ID:
      description: "A device-specific advertising identifier, if possible. Apple's\
        \ IDFA is an example."
      in: header
      name: X-Advertising-ID
      schema:
        type: string
  responses:
    "400WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "A bad request; generally, one or more parameters passed in were\
        \ incorrect or missing"
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "401WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: The client is not authorized to complete this request. Check to
        ensure a valid access token was passed in the headers.
    "404WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "The resource with the requested ID could not be found, and the\
        \ server was unable to complete the request."
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "429WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "The client has exceeded the number of daily calls as per their\
        \ rate limit. For now, this only applies to prototype applications and untrusted\
        \ clients. Trusted clients will never be rate-limited, nor will any production\
        \ apps."
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "500WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: A server error
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "503WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: The system is undergoing maintenance and we are unable to fulfill
        this request. Look for a `Retry-After` header to see the predicted time the
        system will be back up.
      headers:
        Retry-After:
          description: The predicted time the system will be back up
          schema:
            format: date-time
            type: string
    IdentitySuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/UserDocument'
      description: The request was successful
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
  schemas:
    AbstractCDocLink:
      allOf:
      - $ref: '#/components/schemas/AbstractLink'
      - properties:
          content-type:
            description: The MIME type of the response of this link
            type: string
        required:
        - content-type
        type: object
    AbstractLink:
      properties:
        href:
          description: The link to be followed
          format: uri
          title: href
          type: string
      required:
      - href
      title: AbstractLink
      type: object
    Affiliation:
      description: A program (aggregation) that a given user has shown an affiliation
        with
      example:
        notif_rated:
        - notif_rated
        - notif_rated
        following: false
        notif_following:
        - notif_following
        - notif_following
        rating: 6.0274563
        href: href
        id: id
        title: title
        daysSinceLastListen: 0
      properties:
        daysSinceLastListen:
          description: The number of days since a user last listened to a story from
            this aggregation. Absent if user never listened to the aggregation.
          format: int32
          title: daysSinceLastListen
          type: integer
        following:
          default: false
          description: "Whether or not the user is following the aggregation. When\
            \ changing affiliation status, the client is expected to toggle this value\
            \ and then send the entire object back."
          title: following
          type: boolean
        href:
          description: A link to more details about the program from the NPR Story
            API
          title: href
          type: string
        id:
          description: A unique identifier for the aggregation (program)
          title: id
          type: string
        notif_following:
          description: The topic in Firebase Cloud Messaging to which the device should
            subscribe if it supports notifications and the user wants notifications
            about the podcasts they follow.
          items:
            type: string
          title: notif_following
          type: array
        notif_rated:
          description: The topic in Firebase Cloud Messaging to which the device should
            subscribe if it supports notifications and the user wants notifications
            about the podcasts they have highly rated.
          items:
            type: string
          title: notif_rated
          type: array
        rating:
          description: The user's average rating for this affiliation on a scale of
            0-1. Absent if user never listened to the aggregation.
          format: float
          title: rating
          type: number
        title:
          description: The title for the aggregation (program)
          title: title
          type: string
      required:
      - following
      - href
      - id
      title: Affiliation
      type: object
    Algolia:
      description: Parameters for querying the Algolia Search SDK for content
      example:
        apiKey: apiKey
      properties:
        apiKey:
          description: A search API key for this user
          title: apiKey
          type: string
      required:
      - apiKey
      title: Algolia
      type: object
    Cohort:
      description: An experimental grouping for User Experience A/B Testing
      example:
        public: public
        test: test
        name: name
        id: id
      properties:
        id:
          description: A short ID for this cohort; ignored on a PUT
          title: id
          type: string
        name:
          description: "A text string identifying the cohort, useful for metrics;\
            \ ignored on a PUT"
          title: name
          type: string
        public:
          description: For internal use only; represents the current configuration
            file being used by the Listening Service
          title: public
          type: string
        test:
          description: For internal use only; represents the test configuration file
            being used by the Listening Service
          title: test
          type: string
      required:
      - id
      - name
      title: Cohort
      type: object
    CollectionDocument:
      description: Base Collection.Doc+JSON output
      properties:
        attributes:
          properties: {}
          title: attributes
          type: object
        errors:
          description: "A list of encountered errors, ignored on POST, PUT"
          items:
            properties: {}
            type: object
          title: errors
          type: array
        href:
          description: A URL representation of the resource; should generally be ignored
            by clients unless noted otherwise
          title: href
          type: string
        items:
          items:
            properties: {}
            type: object
          title: items
          type: array
        links:
          properties: {}
          title: links
          type: object
        version:
          default: "1.0"
          description: The version of the Collection.Doc+JSON spec being used
          title: version
          type: string
      required:
      - attributes
      - errors
      - href
      - items
      - links
      - version
      title: CollectionDocument
      type: object
    Error:
      description: A serialized version of any error encountered when processing this
        request
      example:
        code: 1
        debug: debug
        text: text
      properties:
        code:
          description: The error code
          format: int32
          title: code
          type: integer
        debug:
          description: Additional debug information if debug mode is turned on
          title: debug
          type: string
        text:
          description: The error description
          title: text
          type: string
      required:
      - code
      title: Error
      type: object
    ErrorDocument:
      allOf:
      - $ref: '#/components/schemas/CollectionDocument'
      - properties:
          attributes:
            $ref: '#/components/schemas/ErrorDocument_allOf_attributes'
          errors:
            description: "A list of encountered errors, ignored on POST, PUT"
            items:
              $ref: '#/components/schemas/Error'
            type: array
          items:
            description: Ignore; will be empty for errors
            items:
              properties: {}
              type: object
            type: array
          links:
            $ref: '#/components/schemas/ErrorDocument_allOf_attributes'
        type: object
      description: A Collection.doc+JSON representation of an error result from an
        API call
      example:
        attributes: {}
        links: {}
        href: href
        items:
        - "{}"
        - "{}"
        version: "1.0"
        errors:
        - code: 1
          debug: debug
          text: text
        - code: 1
          debug: debug
          text: text
      title: ErrorDocument
    Organization:
      description: A station that a user has an affiliation with
      example:
        call: call
        notif_org:
        - notif_org
        - notif_org
        city: city
        displayName: displayName
        logo: logo
        smallLogo: smallLogo
        donationUrl: donationUrl
        id: id
        serviceId: serviceId
      properties:
        call:
          description: Station call letters
          title: call
          type: string
        city:
          description: A short description of the station's main market city
          title: city
          type: string
        displayName:
          description: "A short displayable text field for the end user, strictly\
            \ text; ignored on PUT"
          title: displayName
          type: string
        donationUrl:
          description: Station donation page URL
          title: donationUrl
          type: string
        id:
          description: Some unique identifier for the organization for the user
          title: id
          type: string
        logo:
          description: Station logo image url
          title: logo
          type: string
        notif_org:
          description: The topic in Firebase Cloud Messaging to which the device should
            subscribe if it supports notifications and the user wants notifications
            about their localized station.
          items:
            type: string
          title: notif_org
          type: array
        serviceId:
          description: "Some unique identifier for the user's organization's primary\
            \ service, or null if the org has no services"
          title: serviceId
          type: string
        smallLogo:
          description: Station logo image url
          title: smallLogo
          type: string
      required:
      - call
      - city
      - displayName
      - id
      title: Organization
      type: object
    UserData:
      description: Object; see description of a user object below
      example:
        firstName: firstName
        lastName: lastName
        algolia:
        - apiKey: apiKey
        - apiKey: apiKey
        organizations:
        - call: call
          notif_org:
          - notif_org
          - notif_org
          city: city
          displayName: displayName
          logo: logo
          smallLogo: smallLogo
          donationUrl: donationUrl
          id: id
          serviceId: serviceId
        - call: call
          notif_org:
          - notif_org
          - notif_org
          city: city
          displayName: displayName
          logo: logo
          smallLogo: smallLogo
          donationUrl: donationUrl
          id: id
          serviceId: serviceId
        totalListeningTime: totalListeningTime
        affiliations:
        - notif_rated:
          - notif_rated
          - notif_rated
          following: false
          notif_following:
          - notif_following
          - notif_following
          rating: 6.0274563
          href: href
          id: id
          title: title
          daysSinceLastListen: 0
        - notif_rated:
          - notif_rated
          - notif_rated
          following: false
          notif_following:
          - notif_following
          - notif_following
          rating: 6.0274563
          href: href
          id: id
          title: title
          daysSinceLastListen: 0
        cohort:
          public: public
          test: test
          name: name
          id: id
        id: id
        email: email
      properties:
        affiliations:
          description: Program(s) that the user has positively interacted with
          items:
            $ref: '#/components/schemas/Affiliation'
          title: affiliations
          type: array
        algolia:
          description: Use this information to search Algolia for stories
          items:
            $ref: '#/components/schemas/Algolia'
          title: algolia
          type: array
        cohort:
          $ref: '#/components/schemas/Cohort'
        email:
          description: The user's email address
          title: email
          type: string
        firstName:
          description: The user's first name
          title: firstName
          type: string
        id:
          description: Some unique identifier for the user
          title: id
          type: string
        lastName:
          description: The user's last name
          title: lastName
          type: string
        organizations:
          description: User's chosen NPR Member Station(s)
          items:
            $ref: '#/components/schemas/Organization'
          title: organizations
          type: array
        totalListeningTime:
          description: Internal use only. User's total listening time across all platforms.
          title: totalListeningTime
          type: string
      required:
      - algolia
      - cohort
      - id
      - organizations
      title: UserData
      type: object
    UserDocument:
      allOf:
      - $ref: '#/components/schemas/CollectionDocument'
      - properties:
          attributes:
            $ref: '#/components/schemas/UserData'
          items:
            description: "Not used, ignored on a PUT"
            items:
              properties: {}
              type: object
            type: array
          links:
            $ref: '#/components/schemas/UserDocument_allOf_links'
        type: object
      example:
        attributes:
          firstName: firstName
          lastName: lastName
          algolia:
          - apiKey: apiKey
          - apiKey: apiKey
          organizations:
          - call: call
            notif_org:
            - notif_org
            - notif_org
            city: city
            displayName: displayName
            logo: logo
            smallLogo: smallLogo
            donationUrl: donationUrl
            id: id
            serviceId: serviceId
          - call: call
            notif_org:
            - notif_org
            - notif_org
            city: city
            displayName: displayName
            logo: logo
            smallLogo: smallLogo
            donationUrl: donationUrl
            id: id
            serviceId: serviceId
          totalListeningTime: totalListeningTime
          affiliations:
          - notif_rated:
            - notif_rated
            - notif_rated
            following: false
            notif_following:
            - notif_following
            - notif_following
            rating: 6.0274563
            href: href
            id: id
            title: title
            daysSinceLastListen: 0
          - notif_rated:
            - notif_rated
            - notif_rated
            following: false
            notif_following:
            - notif_following
            - notif_following
            rating: 6.0274563
            href: href
            id: id
            title: title
            daysSinceLastListen: 0
          cohort:
            public: public
            test: test
            name: name
            id: id
          id: id
          email: email
        links: {}
        href: href
        items:
        - "{}"
        - "{}"
        version: "1.0"
        errors:
        - "{}"
        - "{}"
      title: UserDocument
    ErrorDocument_allOf_attributes:
      description: Ignore; will be empty for errors
      example: {}
      properties: {}
      type: object
    UserDocument_allOf_links:
      description: "A list of links, not used by the Identity Service; ignored on\
        \ a PUT"
      example: {}
      properties: {}
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://authorization.api.npr.org/v2/authorize
          scopes:
            identity.readonly: "See your personal information, such as your first\
              \ name, last name, and favorite station."
            identity.write: "Update your personal information, such as your favorite\
              \ station(s) or program(s) you follow, on your behalf."
            listening.readonly: See your NPR One listening history and get audio recommendations.
            listening.write: "Record that you have heard, marked as interesting, and/or\
              \ skipped NPR One stories in order to personalize future audio recommendations."
            localactivation: Connect you with your local NPR member station for communication
              purposes.
          tokenUrl: https://authorization.api.npr.org/v2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2
x-original-swagger-version: "2.0"
