openapi: 3.0.1
info:
  description: Fabric location operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FabricLocation.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FabricLocation
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations:
    get:
      description: Returns a list of all fabric locations.
      operationId: FabricLocations_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLocationList'
          description: OK
      tags:
      - FabricLocations
      x-ms-examples:
        Returns a list of all fabric locations.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                  location: local
                  name: local
                  properties: {}
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations
      x-ms-odata: '#/definitions/FabricLocation'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}
  : get:
      description: Returns the requested fabric location.
      operationId: FabricLocations_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Fabric location.
        in: path
        name: fabricLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLocation'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - FabricLocations
      x-ms-examples:
        Returns the requested fabric location.:
          parameters:
            api-version: 2016-05-01
            fabricLocation: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                location: local
                name: local
                properties: {}
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations
            "404": {}
      x-accepts:
      - application/json
components:
  parameters:
    FabricLocationParameter:
      description: Fabric location.
      in: path
      name: fabricLocation
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    FabricLocation:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Fabric Location resource.
      example:
        properties:
          exclusiveAdminOperationName: exclusiveAdminOperationName
          stampInformationId: stampInformationId
          timeServer: timeServer
          exclusiveAdminOperationRunning: true
          externalDNSIPAddress01: externalDNSIPAddress01
          startUpActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
          externalDNSIPAddress02: externalDNSIPAddress02
          shutDownActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
          pepIpAddresses:
          - pepIpAddresses
          - pepIpAddresses
          shutDownActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
          startUpActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/FabricLocationModel'
    FabricLocationList:
      description: Pageable list of fabric locations.
      example:
        value:
        - properties:
            exclusiveAdminOperationName: exclusiveAdminOperationName
            stampInformationId: stampInformationId
            timeServer: timeServer
            exclusiveAdminOperationRunning: true
            externalDNSIPAddress01: externalDNSIPAddress01
            startUpActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
            externalDNSIPAddress02: externalDNSIPAddress02
            shutDownActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
            pepIpAddresses:
            - pepIpAddresses
            - pepIpAddresses
            shutDownActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
            startUpActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
        - properties:
            exclusiveAdminOperationName: exclusiveAdminOperationName
            stampInformationId: stampInformationId
            timeServer: timeServer
            exclusiveAdminOperationRunning: true
            externalDNSIPAddress01: externalDNSIPAddress01
            startUpActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
            externalDNSIPAddress02: externalDNSIPAddress02
            shutDownActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
            pepIpAddresses:
            - pepIpAddresses
            - pepIpAddresses
            shutDownActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
            startUpActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of fabric locations.
          items:
            $ref: '#/components/schemas/FabricLocation'
          type: array
      type: object
    FabricLocationModel:
      description: All properties of a fabric location resource.
      example:
        exclusiveAdminOperationName: exclusiveAdminOperationName
        stampInformationId: stampInformationId
        timeServer: timeServer
        exclusiveAdminOperationRunning: true
        externalDNSIPAddress01: externalDNSIPAddress01
        startUpActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
        externalDNSIPAddress02: externalDNSIPAddress02
        shutDownActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
        pepIpAddresses:
        - pepIpAddresses
        - pepIpAddresses
        shutDownActionPlanStartTime: 2000-01-23T04:56:07.000+00:00
        startUpActionPlanEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        exclusiveAdminOperationName:
          description: Name of the running exclusive admin operation.
          type: string
        exclusiveAdminOperationRunning:
          description: Value for whether an exclusive admin operation is running.
          type: boolean
        externalDNSIPAddress01:
          description: First external IP address of the DNS server.
          type: string
        externalDNSIPAddress02:
          description: Second external IP Address of the DNS server.
          type: string
        pepIpAddresses:
          description: The IP addresses of the privileged endpoints.
          items:
            type: string
          type: array
        shutDownActionPlanEndTime:
          description: Last known stamp stop time for the shut down action plan.
          format: date-time
          type: string
        shutDownActionPlanStartTime:
          description: Last known stamp start time for the shut down action plan
          format: date-time
          type: string
        stampInformationId:
          description: The deployment id of the stamp.
          type: string
        startUpActionPlanEndTime:
          description: Last known stamp stop time for the start up action plan.
          format: date-time
          type: string
        startUpActionPlanStartTime:
          description: Last known stamp start time for the start up action plan.
          format: date-time
          type: string
        timeServer:
          description: The IP address of the time server.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

