openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2015-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/eventCategories_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-eventCategories_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/microsoft.insights/eventcategories:
    get:
      description: "Get the list of available event categories supported in the Activity\
        \ Logs Service.<br>The current list includes the following: Administrative,\
        \ Security, ServiceHealth, Alert, Recommendation, Policy."
      operationId: event_categories_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCategoryCollection'
          description: Successful request to get the list of event categories
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - EventCategories
      x-ms-examples:
        Get event categories:
          parameters:
            api-version: 2015-04-01
          responses:
            "200":
              body:
                value:
                - localizedValue: category1
                  value: category1
                - localizedValue: category2
                  value: category2
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_categories_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    EventCategoryCollection:
      description: "A collection of event categories. Currently possible values are:\
        \ Administrative, Security, ServiceHealth, Alert, Recommendation, Policy."
      example:
        value:
        - localizedValue: localizedValue
          value: value
        - localizedValue: localizedValue
          value: value
      properties:
        value:
          description: the list that includes the Azure event categories.
          items:
            $ref: '#/components/schemas/LocalizableString'
          title: value
          type: array
      required:
      - value
      title: EventCategoryCollection
      type: object
    LocalizableString:
      description: The localizable string class.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: the locale specific value.
          title: localizedValue
          type: string
        value:
          description: the invariant value.
          title: value
          type: string
      required:
      - value
      title: LocalizableString
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
