openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/extensions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: hdinsight-extensions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/clustermonitoring
  : delete:
      description: Disables the Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extension_DisableMonitoring
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Ok response definition.
        "202":
          content: {}
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Enable cluster monitoring:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the status of Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extension_GetMonitoringStatus
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterMonitoringResponse'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Enable cluster monitoring:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                clusterMonitoringEnabled: true
                workspaceId: id
      x-accepts:
      - application/json
    put:
      description: Enables the Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extension_EnableMonitoring
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterMonitoringRequest'
        description: The Operations Management Suite (OMS) workspace parameters.
        required: true
      responses:
        "200":
          content: {}
          description: Ok response definition.
        "202":
          content: {}
          description: Accepted response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Enable cluster monitoring:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              primaryKey: '**********'
              workspaceId: a2090ead-8c9f-4fba-b70e-533e3e003163
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}
  : delete:
      description: Deletes the specified extension for HDInsight cluster.
      operationId: Extension_Delete
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster extension.
        in: path
        name: extensionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Ok response definition.
        "202":
          content: {}
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Delete an extension:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            extensionName: clustermonitoring
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-accepts:
      - application/json
    get:
      description: Gets the extension properties for the specified HDInsight cluster
        extension.
      operationId: Extension_Get
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster extension.
        in: path
        name: extensionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Get an extension:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            extensionName: clustermonitoring
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                primaryKey: key
                workspaceId: id
      x-accepts:
      - application/json
    put:
      description: Creates an HDInsight cluster extension.
      operationId: Extension_Create
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster extension.
        in: path
        name: extensionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Extension'
        description: The cluster extensions create request.
        required: true
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_GetMonitoringStatus_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Extensions
      x-ms-examples:
        Create a monitoring extension on Hadoop Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            extensionName: clustermonitoring
            parameters:
              primaryKey: '**********'
              workspaceId: a2090ead-8c9f-4fba-b70e-533e3e003163
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ExtensionNameParameter:
      description: The name of the cluster extension.
      in: path
      name: extensionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ClusterMonitoringRequest:
      description: The Operations Management Suite (OMS) parameters.
      example:
        primaryKey: primaryKey
        workspaceId: workspaceId
      properties:
        primaryKey:
          description: The Operations Management Suite (OMS) workspace key.
          type: string
        workspaceId:
          description: The Operations Management Suite (OMS) workspace ID.
          type: string
      type: object
    ClusterMonitoringResponse:
      description: The Operations Management Suite (OMS) status response
      example:
        clusterMonitoringEnabled: true
        workspaceId: workspaceId
      properties:
        clusterMonitoringEnabled:
          description: The status of the Operations Management Suite (OMS) on the
            HDInsight cluster.
          type: boolean
        workspaceId:
          description: The workspace ID of the Operations Management Suite (OMS) on
            the HDInsight cluster.
          type: string
      type: object
    Extension:
      description: Cluster monitoring extensions
      example:
        primaryKey: primaryKey
        workspaceId: workspaceId
      properties:
        primaryKey:
          description: The certificate for the cluster monitoring extensions.
          type: string
        workspaceId:
          description: The workspace ID for the cluster monitoring extension.
          type: string
      type: object
    Extension_GetMonitoringStatus_default_response:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

