openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/azureFirewallFqdnTag.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-azureFirewallFqdnTag
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags:
    get:
      description: Gets all the Azure Firewall FQDN Tags in a subscription.
      operationId: azure_firewall_fqdn_tags_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallFqdnTagListResult'
          description: Success. The operation returns a list of Azure Firewall FQDN
            Tag resources.
      tags:
      - AzureFirewallFqdnTags
      x-ms-examples:
        List all Azure Firewall FQDN Tags for a given subscription:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewallFqdnTags/azfwfqdntag
                  location: West US
                  name: azfwfqdntag
                  properties:
                    fqdnTagName: azfwfqdntag
                    provisioningState: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.Network/azureFirewallFqdnTags
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_firewall_fqdn_tags_controller
components:
  schemas:
    AzureFirewallFqdnTag:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Azure Firewall FQDN Tag Resource.
      example:
        etag: etag
        properties:
          fqdnTagName: fqdnTagName
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallFqdnTagPropertiesFormat'
      title: AzureFirewallFqdnTag
    AzureFirewallFqdnTagListResult:
      description: Response for ListAzureFirewallFqdnTags API service call.
      example:
        value:
        - etag: etag
          properties:
            fqdnTagName: fqdnTagName
            provisioningState: Succeeded
        - etag: etag
          properties:
            fqdnTagName: fqdnTagName
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Azure Firewall FQDN Tags in a resource group.
          items:
            $ref: '#/components/schemas/AzureFirewallFqdnTag'
          title: value
          type: array
      title: AzureFirewallFqdnTagListResult
      type: object
    AzureFirewallFqdnTagPropertiesFormat:
      description: Azure Firewall FQDN Tag Properties.
      example:
        fqdnTagName: fqdnTagName
        provisioningState: Succeeded
      properties:
        fqdnTagName:
          description: The name of this FQDN Tag.
          readOnly: true
          title: fqdnTagName
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      title: AzureFirewallFqdnTagPropertiesFormat
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
