openapi: 3.0.1
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: 2019-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Volume.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Volume
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes
  : get:
      description: Returns a list of all storage volumes at a location.
      operationId: volumes_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Volumes
      x-ms-examples:
        Returns a list of all storage volumes at a location.:
          parameters:
            api-version: 2019-05-01
            location: redmond
            resourceGroupName: System.redmond
            scaleUnit: s-cluster
            storageSubSystem: s-cluster.v.masd.stbtest.microsoft.com
            subscriptionId: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/volumes/48f356d4-362d-49cb-a021-fafffbe0e8ad
                  location: redmond
                  name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/48f356d4-362d-49cb-a021-fafffbe0e8ad
                  properties:
                    action: ""
                    description: ""
                    healthStatus: Healthy
                    operationalStatus: OK
                    remainingCapacityGB: 1317
                    repairStatus: ""
                    totalCapacityGB: 1375
                    volumeLabel: ObjStore_1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
      x-ms-odata: '#/definitions/Volume'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}
  : get:
      description: Return the requested a storage volume.
      operationId: volumes_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage volume.
        in: path
        name: volume
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Volumes
      x-ms-examples:
        Return the requested a storage volume.:
          parameters:
            api-version: 2019-05-01
            location: redmond
            resourceGroupName: System.redmond
            scaleUnit: s-cluster
            storageSubSystem: s-cluster.v.masd.stbtest.microsoft.com
            subscriptionId: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
            volume: 48f356d4-362d-49cb-a021-fafffbe0e8ad
          responses:
            "200":
              body:
                id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/volumes/48f356d4-362d-49cb-a021-fafffbe0e8ad
                location: redmond
                name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/48f356d4-362d-49cb-a021-fafffbe0e8ad
                properties:
                  action: ""
                  description: ""
                  healthStatus: Healthy
                  operationalStatus: OK
                  remainingCapacityGB: 1317
                  repairStatus: ""
                  totalCapacityGB: 1375
                  volumeLabel: ObjStore_1
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2019-05-01
        type: string
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Volume:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Representation of a volume resource.
      example:
        properties:
          operationalStatus: operationalStatus
          volumeLabel: volumeLabel
          healthStatus: healthStatus
          repairStatus: repairStatus
          remainingCapacityGB: 0
          action: action
          description: description
          totalCapacityGB: 6
      properties:
        properties:
          $ref: '#/components/schemas/VolumeModel'
      title: Volume
    VolumeList:
      description: Pageable list of storage volumes.
      example:
        value:
        - properties:
            operationalStatus: operationalStatus
            volumeLabel: volumeLabel
            healthStatus: healthStatus
            repairStatus: repairStatus
            remainingCapacityGB: 0
            action: action
            description: description
            totalCapacityGB: 6
        - properties:
            operationalStatus: operationalStatus
            volumeLabel: volumeLabel
            healthStatus: healthStatus
            repairStatus: repairStatus
            remainingCapacityGB: 0
            action: action
            description: description
            totalCapacityGB: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: '#/components/schemas/Volume'
          title: value
          type: array
      title: VolumeList
      type: object
    VolumeModel:
      description: Properties of a volume.
      example:
        operationalStatus: operationalStatus
        volumeLabel: volumeLabel
        healthStatus: healthStatus
        repairStatus: repairStatus
        remainingCapacityGB: 0
        action: action
        description: description
        totalCapacityGB: 6
      properties:
        action:
          description: Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          title: action
          type: string
        description:
          description: Detailed description for HealthStatus/OperationalStatus. Empty
            if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          title: description
          type: string
        healthStatus:
          description: Health status of the volume.
          readOnly: true
          title: healthStatus
          type: string
        operationalStatus:
          description: Operational status of the volume.
          readOnly: true
          title: operationalStatus
          type: string
        remainingCapacityGB:
          description: Remaining capacity in GB of the volume.
          format: int32
          readOnly: true
          title: remainingCapacityGB
          type: integer
        repairStatus:
          description: "Repair status of the volume. Empty if no repair job running,\
            \ something like 'Running, 90%' when repairing."
          readOnly: true
          title: repairStatus
          type: string
        totalCapacityGB:
          description: Total capacity in GB of the volume.
          format: int32
          readOnly: true
          title: totalCapacityGB
          type: integer
        volumeLabel:
          description: Volume label.
          readOnly: true
          title: volumeLabel
          type: string
      title: VolumeModel
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
