openapi: 3.0.1
info:
  title: Certificates API Client
  version: 2018-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/Certificates.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-Certificates
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates:
    get:
      description: Get all certificates for a subscription.
      operationId: certificates_list
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_List_default_response'
          description: App Service error response.
      summary: Get all certificates for a subscription.
      tags:
      - Certificates
      x-ms-examples:
        List Certificates for subscription:
          parameters:
            api-version: 2018-02-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
                  location: East US
                  name: testc6282
                  properties:
                    expirationDate: 2039-12-31T23:59:59+00:00
                    friendlyName: ""
                    hostNames:
                    - ServerCert
                    issueDate: 2015-11-12T23:40:25+00:00
                    issuer: CACert
                    password: SWsSsd__233$Sdsds#%Sd!
                    subjectName: ServerCert
                    thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
                  type: Microsoft.Web/certificates
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc4912
                  location: West US
                  name: testc4912
                  properties:
                    expirationDate: 2040-12-31T23:59:59+00:00
                    friendlyName: ""
                    hostNames:
                    - ServerCert2
                    issueDate: 2015-12-12T23:40:25+00:00
                    issuer: CACert
                    password: SWsSsd__233$Sdsds#%Sd!
                    subjectName: ServerCert2
                    thumbprint: FE703D7411A44163B6D32B3AD9B0490D5886EBFE
                  type: Microsoft.Web/certificates
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates:
    get:
      description: Get all certificates in a resource group.
      operationId: certificates_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_List_default_response'
          description: App Service error response.
      summary: Get all certificates in a resource group.
      tags:
      - Certificates
      x-ms-examples:
        List Certificates by resource group:
          parameters:
            api-version: 2018-02-01
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
                  location: East US
                  name: testc6282
                  properties:
                    expirationDate: 2039-12-31T23:59:59+00:00
                    friendlyName: ""
                    hostNames:
                    - ServerCert
                    issueDate: 2015-11-12T23:40:25+00:00
                    issuer: CACert
                    password: SWsSsd__233$Sdsds#%Sd!
                    subjectName: ServerCert
                    thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
                  type: Microsoft.Web/certificates
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc4912
                  location: West US
                  name: testc4912
                  properties:
                    expirationDate: 2040-12-31T23:59:59+00:00
                    friendlyName: ""
                    hostNames:
                    - ServerCert2
                    issueDate: 2015-12-12T23:40:25+00:00
                    issuer: CACert
                    password: SWsSsd__233$Sdsds#%Sd!
                    subjectName: ServerCert2
                    thumbprint: FE703D7411A44163B6D32B3AD9B0490D5886EBFE
                  type: Microsoft.Web/certificates
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}:
    delete:
      description: Delete a certificate.
      operationId: certificates_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted certificate.
        "204":
          content: {}
          description: Certificate does not exist.
      summary: Delete a certificate.
      tags:
      - Certificates
      x-ms-examples:
        Delete Certificate:
          parameters:
            api-version: 2018-02-01
            name: testc6282
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      description: Get a certificate.
      operationId: certificates_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_List_default_response'
          description: App Service error response.
      summary: Get a certificate.
      tags:
      - Certificates
      x-ms-examples:
        Get Certificate:
          parameters:
            api-version: 2018-02-01
            name: testc6282
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
                location: East US
                name: testc6282
                properties:
                  expirationDate: 2039-12-31T23:59:59+00:00
                  friendlyName: ""
                  hostNames:
                  - ServerCert
                  issueDate: 2015-11-12T23:40:25+00:00
                  issuer: CACert
                  password: SWsSsd__233$Sdsds#%Sd!
                  subjectName: ServerCert
                  thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
                type: Microsoft.Web/certificates
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    patch:
      description: Create or update a certificate.
      operationId: certificates_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificatePatchResource'
        description: "Details of certificate, if it exists already."
        required: true
        x-body-name: certificateEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_List_default_response'
          description: App Service error response.
      summary: Create or update a certificate.
      tags:
      - Certificates
      x-ms-examples:
        Patch Certificate:
          parameters:
            api-version: 2018-02-01
            certificateEnvelope:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
              name: testc6282
              properties:
                password: SWsSsd__233$Sdsds#%Sd!
              type: Microsoft.Web/certificates
            name: testc6282
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
                location: East US
                name: testc6282
                properties:
                  expirationDate: 2039-12-31T23:59:59+00:00
                  friendlyName: ""
                  hostNames:
                  - ServerCert
                  issueDate: 2015-11-12T23:40:25+00:00
                  issuer: CACert
                  password: SWsSsd__233$Sdsds#%Sd!
                  subjectName: ServerCert
                  thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
                type: Microsoft.Web/certificates
              headers: {}
      x-codegen-request-body-name: certificateEnvelope
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      description: Create or update a certificate.
      operationId: certificates_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: "Details of certificate, if it exists already."
        required: true
        x-body-name: certificateEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_List_default_response'
          description: App Service error response.
      summary: Create or update a certificate.
      tags:
      - Certificates
      x-ms-examples:
        Create Or Update Certificate:
          parameters:
            api-version: 2018-02-01
            certificateEnvelope:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
              location: East US
              name: testc6282
              properties:
                expirationDate: 2039-12-31T23:59:59+00:00
                friendlyName: ""
                hostNames:
                - ServerCert
                issueDate: 2015-11-12T23:40:25+00:00
                issuer: CACert
                password: SWsSsd__233$Sdsds#%Sd!
                subjectName: ServerCert
                thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
              type: Microsoft.Web/certificates
            name: testc6282
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/certificates/testc6282
                location: East US
                name: testc6282
                properties:
                  expirationDate: 2039-12-31T23:59:59+00:00
                  friendlyName: ""
                  hostNames:
                  - ServerCert
                  issueDate: 2015-11-12T23:40:25+00:00
                  issuer: CACert
                  password: SWsSsd__233$Sdsds#%Sd!
                  subjectName: ServerCert
                  thumbprint: FE703D7411A44163B6D32B3AD9B03E175886EBFE
                type: Microsoft.Web/certificates
              headers: {}
      x-codegen-request-body-name: certificateEnvelope
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Certificate:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: SSL certificate for an app.
      example:
        properties: "{}"
      properties:
        properties:
          description: Certificate resource specific properties
          properties:
            cerBlob:
              description: Raw bytes of .cer file
              format: byte
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              readOnly: true
              title: cerBlob
              type: string
            expirationDate:
              description: Certificate expiration date.
              format: date-time
              readOnly: true
              title: expirationDate
              type: string
            friendlyName:
              description: Friendly name of the certificate.
              readOnly: true
              title: friendlyName
              type: string
            hostNames:
              description: Host names the certificate applies to.
              items:
                type: string
              title: hostNames
              type: array
            hostingEnvironmentProfile:
              description: Specification for an App Service Environment to use for
                this resource.
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  title: id
                  type: string
                name:
                  description: Name of the App Service Environment.
                  readOnly: true
                  title: name
                  type: string
                type:
                  description: Resource type of the App Service Environment.
                  readOnly: true
                  title: type
                  type: string
              title: hostingEnvironmentProfile
              type: object
            issueDate:
              description: Certificate issue Date.
              format: date-time
              readOnly: true
              title: issueDate
              type: string
            issuer:
              description: Certificate issuer.
              readOnly: true
              title: issuer
              type: string
            keyVaultId:
              description: Key Vault Csm resource Id.
              title: keyVaultId
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              title: keyVaultSecretName
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - ExternalPrivateKey
              - Unknown
              readOnly: true
              title: keyVaultSecretStatus
              type: string
              x-ms-enum:
                modelAsString: false
                name: KeyVaultSecretStatus
            password:
              description: Certificate password.
              title: password
              type: string
              x-ms-mutability:
              - create
            pfxBlob:
              description: Pfx blob.
              format: byte
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              title: pfxBlob
              type: string
            publicKeyHash:
              description: Public key hash.
              readOnly: true
              title: publicKeyHash
              type: string
            selfLink:
              description: Self link.
              readOnly: true
              title: selfLink
              type: string
            serverFarmId:
              description: "Resource ID of the associated App Service plan, formatted\
                \ as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"\
                ."
              title: serverFarmId
              type: string
            siteName:
              description: App name.
              readOnly: true
              title: siteName
              type: string
            subjectName:
              description: Subject name of the certificate.
              readOnly: true
              title: subjectName
              type: string
            thumbprint:
              description: Certificate thumbprint.
              readOnly: true
              title: thumbprint
              type: string
            valid:
              description: Is the certificate valid?.
              readOnly: true
              title: valid
              type: boolean
          required:
          - password
          title: properties
          type: object
          x-ms-client-flatten: true
      title: Certificate
    CertificateCollection:
      description: Collection of certificates.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Certificate'
          title: value
          type: array
      required:
      - value
      title: CertificateCollection
      type: object
    CertificatePatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a certificate.
      example:
        properties: "{}"
      properties:
        properties:
          description: CertificatePatchResource resource specific properties
          properties:
            cerBlob:
              description: Raw bytes of .cer file
              format: byte
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              readOnly: true
              title: cerBlob
              type: string
            expirationDate:
              description: Certificate expiration date.
              format: date-time
              readOnly: true
              title: expirationDate
              type: string
            friendlyName:
              description: Friendly name of the certificate.
              readOnly: true
              title: friendlyName
              type: string
            hostNames:
              description: Host names the certificate applies to.
              items:
                type: string
              title: hostNames
              type: array
            hostingEnvironmentProfile:
              description: Specification for an App Service Environment to use for
                this resource.
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  title: id
                  type: string
                name:
                  description: Name of the App Service Environment.
                  readOnly: true
                  title: name
                  type: string
                type:
                  description: Resource type of the App Service Environment.
                  readOnly: true
                  title: type
                  type: string
              title: hostingEnvironmentProfile
              type: object
            issueDate:
              description: Certificate issue Date.
              format: date-time
              readOnly: true
              title: issueDate
              type: string
            issuer:
              description: Certificate issuer.
              readOnly: true
              title: issuer
              type: string
            keyVaultId:
              description: Key Vault Csm resource Id.
              title: keyVaultId
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              title: keyVaultSecretName
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - ExternalPrivateKey
              - Unknown
              readOnly: true
              title: keyVaultSecretStatus
              type: string
              x-ms-enum:
                modelAsString: false
                name: KeyVaultSecretStatus
            password:
              description: Certificate password.
              title: password
              type: string
              x-ms-mutability:
              - create
            pfxBlob:
              description: Pfx blob.
              format: byte
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              title: pfxBlob
              type: string
            publicKeyHash:
              description: Public key hash.
              readOnly: true
              title: publicKeyHash
              type: string
            selfLink:
              description: Self link.
              readOnly: true
              title: selfLink
              type: string
            serverFarmId:
              description: "Resource ID of the associated App Service plan, formatted\
                \ as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"\
                ."
              title: serverFarmId
              type: string
            siteName:
              description: App name.
              readOnly: true
              title: siteName
              type: string
            subjectName:
              description: Subject name of the certificate.
              readOnly: true
              title: subjectName
              type: string
            thumbprint:
              description: Certificate thumbprint.
              readOnly: true
              title: thumbprint
              type: string
            valid:
              description: Is the certificate valid?.
              readOnly: true
              title: valid
              type: boolean
          required:
          - password
          title: properties
          type: object
          x-ms-client-flatten: true
      title: CertificatePatchResource
    Certificates_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Certificates_List_default_response_error_details_inner
      type: object
    Certificates_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/Certificates_List_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Certificates_List_default_response_error
      type: object
    Certificates_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/Certificates_List_default_response_error'
      title: Certificates_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
