openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<fullname>Health</fullname> <p>The Health API provides access to the\
    \ Health information that appears in the <a href=\"https://health.aws.amazon.com/health/home\"\
    >Health Dashboard</a>. You can use the API operations to get information about\
    \ events that might affect your Amazon Web Services and resources.</p> <p>You\
    \ must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a\
    \ href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>\
    \ to use the Health API. If you call the Health API from an Amazon Web Services\
    \ account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support\
    \ plan, you receive a <code>SubscriptionRequiredException</code> error.</p> <p>For\
    \ API access, you need an access key ID and a secret access key. Use temporary\
    \ credentials instead of long-term access keys when possible. Temporary credentials\
    \ include an access key ID, a secret access key, and a security token that indicates\
    \ when the credentials expire. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\"\
    >Best practices for managing Amazon Web Services access keys</a> in the <i>Amazon\
    \ Web Services General Reference</i>.</p> <p>You can use the Health endpoint health.us-east-1.amazonaws.com\
    \ (HTTPS) to call the Health API operations. Health supports a multi-Region application\
    \ architecture and has two regional endpoints in an active-passive configuration.\
    \ You can use the high availability endpoint example to determine which Amazon\
    \ Web Services Region is active, so that you can get the latest information from\
    \ the API. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/health-api.html\"\
    >Accessing the Health API</a> in the <i>Health User Guide</i>.</p> <p>For authentication\
    \ of requests, Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"\
    >Signature Version 4 Signing Process</a>.</p> <p>If your Amazon Web Services account\
    \ is part of Organizations, you can use the Health organizational view feature.\
    \ This feature provides a centralized view of Health events across all accounts\
    \ in your organization. You can aggregate Health events in real time to identify\
    \ accounts in your organization that are affected by an operational event or get\
    \ notified of security vulnerabilities. Use the organizational view API operations\
    \ to enable this feature and return event information. For more information, see\
    \ <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\"\
    >Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <note> <p>When\
    \ you use the Health API operations to return Health events, see the following\
    \ recommendations:</p> <ul> <li> <p>Use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\"\
    >eventScopeCode</a> parameter to specify whether to return Health events that\
    \ are public or account-specific.</p> </li> <li> <p>Use pagination to view all\
    \ events from the response. For example, if you call the <code>DescribeEventsForOrganization</code>\
    \ operation to get all events in your organization, you might receive several\
    \ page results. Specify the <code>nextToken</code> in the next request to return\
    \ more results.</p> </li> </ul> </note>"
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: AWS Health APIs and Notifications
  version: 2016-08-04
  x-release: v4
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: health
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/health/
servers:
- description: The general AWSHealth multi-region endpoint
  url: https://health.us-east-1.amazonaws.com
- description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
  url: "http://health.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
- description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
  url: "https://health.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
security:
- hmac: []
paths:
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedAccountsForOrganization:
    post:
      description: "<p>Returns a list of accounts in the organization from Organizations\
        \ that are affected by the provided event. For more information about the\
        \ different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\"\
        >Event</a>. </p> <p>Before you can call this operation, you must first enable\
        \ Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\"\
        >EnableHealthServiceAccessForOrganization</a> operation from your organization's\
        \ management account.</p> <note> <p>This API operation uses pagination. Specify\
        \ the <code>nextToken</code> parameter in the next request to return more\
        \ results.</p> </note>"
      operationId: DescribeAffectedAccountsForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeAffectedAccountsForOrganization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAffectedAccountsForOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAffectedAccountsForOrganizationResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedEntities:
    post:
      description: "<p>Returns a list of entities that have been affected by the specified\
        \ events, based on the specified filter criteria. Entities can refer to individual\
        \ customer resources, groups of customer resources, or any other construct,\
        \ depending on the Amazon Web Service. Events that have impact beyond that\
        \ of the affected entities, or where the extent of impact is unknown, include\
        \ at least one entity indicating this.</p> <p>At least one event ARN is required.</p>\
        \ <note> <ul> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code>\
        \ parameter in the next request to return more results.</p> </li> <li> <p>This\
        \ operation supports resource-level permissions. You can use this operation\
        \ to allow or deny access to specific Health events. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\"\
        >Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\
        \ </li> </ul> </note>"
      operationId: DescribeAffectedEntities
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeAffectedEntities
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAffectedEntitiesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAffectedEntitiesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedEntitiesForOrganization:
    post:
      description: "<p>Returns a list of entities that have been affected by one or\
        \ more events for one or more accounts in your organization in Organizations,\
        \ based on the filter criteria. Entities can refer to individual customer\
        \ resources, groups of customer resources, or any other construct, depending\
        \ on the Amazon Web Service.</p> <p>At least one event Amazon Resource Name\
        \ (ARN) and account ID are required.</p> <p>Before you can call this operation,\
        \ you must first enable Health to work with Organizations. To do this, call\
        \ the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\"\
        >EnableHealthServiceAccessForOrganization</a> operation from your organization's\
        \ management account.</p> <note> <ul> <li> <p>This API operation uses pagination.\
        \ Specify the <code>nextToken</code> parameter in the next request to return\
        \ more results.</p> </li> <li> <p>This operation doesn't support resource-level\
        \ permissions. You can't use this operation to allow or deny access to specific\
        \ Health events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\"\
        >Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\
        \ </li> </ul> </note>"
      operationId: DescribeAffectedEntitiesForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeAffectedEntitiesForOrganization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAffectedEntitiesForOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAffectedEntitiesForOrganizationResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEntityAggregates:
    post:
      description: Returns the number of entities that are affected by each of the
        specified events.
      operationId: DescribeEntityAggregates
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEntityAggregates
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEntityAggregatesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEntityAggregatesResponse'
          description: Success
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventAggregates:
    post:
      description: "<p>Returns the number of events of each event type (issue, scheduled\
        \ change, and account notification). If no filter is specified, the counts\
        \ of all events in each category are returned.</p> <note> <p>This API operation\
        \ uses pagination. Specify the <code>nextToken</code> parameter in the next\
        \ request to return more results.</p> </note>"
      operationId: DescribeEventAggregates
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEventAggregates
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventAggregatesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventAggregatesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventDetails:
    post:
      description: "<p>Returns detailed information about one or more specified events.\
        \ Information includes standard event data (Amazon Web Services Region, service,\
        \ and so on, as returned by <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html\"\
        >DescribeEvents</a>), a detailed event description, and possible additional\
        \ metadata that depends upon the nature of the event. Affected entities are\
        \ not included. To retrieve the entities, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\"\
        >DescribeAffectedEntities</a> operation.</p> <p>If a specified event can't\
        \ be retrieved, an error message is returned for that event.</p> <note> <p>This\
        \ operation supports resource-level permissions. You can use this operation\
        \ to allow or deny access to specific Health events. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\"\
        >Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\
        \ </note>"
      operationId: DescribeEventDetails
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEventDetails
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventDetailsResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventDetailsForOrganization:
    post:
      description: "<p>Returns detailed information about one or more specified events\
        \ for one or more Amazon Web Services accounts in your organization. This\
        \ information includes standard event data (such as the Amazon Web Services\
        \ Region and service), an event description, and (depending on the event)\
        \ possible metadata. This operation doesn't return affected entities, such\
        \ as the resources related to the event. To return affected entities, use\
        \ the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\"\
        >DescribeAffectedEntitiesForOrganization</a> operation.</p> <note> <p>Before\
        \ you can call this operation, you must first enable Health to work with Organizations.\
        \ To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\"\
        >EnableHealthServiceAccessForOrganization</a> operation from your organization's\
        \ management account.</p> </note> <p>When you call the <code>DescribeEventDetailsForOrganization</code>\
        \ operation, specify the <code>organizationEventDetailFilters</code> object\
        \ in the request. Depending on the Health event type, note the following differences:</p>\
        \ <ul> <li> <p>To return event details for a public event, you must specify\
        \ a null value for the <code>awsAccountId</code> parameter. If you specify\
        \ an account ID for a public event, Health returns an error message because\
        \ public events aren't specific to an account.</p> </li> <li> <p>To return\
        \ event details for an event that is specific to an account in your organization,\
        \ you must specify the <code>awsAccountId</code> parameter in the request.\
        \ If you don't specify an account ID, Health returns an error message because\
        \ the event is specific to an account in your organization. </p> </li> </ul>\
        \ <p>For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\"\
        >Event</a>.</p> <note> <p>This operation doesn't support resource-level permissions.\
        \ You can't use this operation to allow or deny access to specific Health\
        \ events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\"\
        >Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\
        \ </note>"
      operationId: DescribeEventDetailsForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEventDetailsForOrganization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventDetailsForOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventDetailsForOrganizationResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventTypes:
    post:
      description: "<p>Returns the event types that meet the specified filter criteria.\
        \ You can use this API operation to find information about the Health event,\
        \ such as the category, Amazon Web Service, and event code. The metadata for\
        \ each event appears in the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventType.html\"\
        >EventType</a> object. </p> <p>If you don't specify a filter criteria, the\
        \ API operation returns all event types, in no particular order. </p> <note>\
        \ <p>This API operation uses pagination. Specify the <code>nextToken</code>\
        \ parameter in the next request to return more results.</p> </note>"
      operationId: DescribeEventTypes
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEventTypes
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventTypesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventTypesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEvents:
    post:
      description: "<p> Returns information about events that meet the specified filter\
        \ criteria. Events are returned in a summary form and do not include the detailed\
        \ description, any additional metadata that depends on the event type, or\
        \ any affected resources. To retrieve that information, use the <a href=\"\
        https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\"\
        >DescribeEventDetails</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\"\
        >DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are\
        \ specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>,\
        \ starting with the most recent event.</p> <note> <ul> <li> <p>When you call\
        \ the <code>DescribeEvents</code> operation and specify an entity for the\
        \ <code>entityValues</code> parameter, Health might return public events that\
        \ aren't specific to that resource. For example, if you call <code>DescribeEvents</code>\
        \ and specify an ID for an Amazon Elastic Compute Cloud (Amazon EC2) instance,\
        \ Health might return events that aren't specific to that resource or service.\
        \ To get events that are specific to a service, use the <code>services</code>\
        \ parameter in the <code>filter</code> object. For more information, see <a\
        \ href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\"\
        >Event</a>.</p> </li> <li> <p>This API operation uses pagination. Specify\
        \ the <code>nextToken</code> parameter in the next request to return more\
        \ results.</p> </li> </ul> </note>"
      operationId: DescribeEvents
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEvents
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventsResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventsForOrganization:
    post:
      description: "<p>Returns information about events across your organization in\
        \ Organizations. You can use the<code>filters</code> parameter to specify\
        \ the events that you want to return. Events are returned in a summary form\
        \ and don't include the affected accounts, detailed description, any additional\
        \ metadata that depends on the event type, or any affected resources. To retrieve\
        \ that information, use the following operations:</p> <ul> <li> <p> <a href=\"\
        https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedAccountsForOrganization.html\"\
        >DescribeAffectedAccountsForOrganization</a> </p> </li> <li> <p> <a href=\"\
        https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\"\
        >DescribeEventDetailsForOrganization</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\"\
        >DescribeAffectedEntitiesForOrganization</a> </p> </li> </ul> <p>If you don't\
        \ specify a <code>filter</code>, the <code>DescribeEventsForOrganizations</code>\
        \ returns all events across your organization. Results are sorted by <code>lastModifiedTime</code>,\
        \ starting with the most recent event. </p> <p>For more information about\
        \ the different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\"\
        >Event</a>.</p> <p>Before you can call this operation, you must first enable\
        \ Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\"\
        >EnableHealthServiceAccessForOrganization</a> operation from your organization's\
        \ management account.</p> <note> <p>This API operation uses pagination. Specify\
        \ the <code>nextToken</code> parameter in the next request to return more\
        \ results.</p> </note>"
      operationId: DescribeEventsForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeEventsForOrganization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventsForOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventsForOrganizationResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
          description: InvalidPaginationToken
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
          description: UnsupportedLocale
      x-content-type: application/json
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DescribeHealthServiceStatusForOrganization:
    post:
      description: "This operation provides status information on enabling or disabling\
        \ Health to work with your organization. To call this operation, you must\
        \ use the organization's management account."
      operationId: DescribeHealthServiceStatusForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DescribeHealthServiceStatusForOrganization
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeHealthServiceStatusForOrganizationResponse'
          description: Success
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.DisableHealthServiceAccessForOrganization:
    post:
      description: "<p>Disables Health from working with Organizations. To call this\
        \ operation, you must sign in to the organization's management account. For\
        \ more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\"\
        >Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <p>This\
        \ operation doesn't remove the service-linked role from the management account\
        \ in your organization. You must use the IAM console, API, or Command Line\
        \ Interface (CLI) to remove the service-linked role. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html#delete-service-linked-role\"\
        >Deleting a Service-Linked Role</a> in the <i>IAM User Guide</i>.</p> <note>\
        \ <p>You can also disable the organizational feature by using the Organizations\
        \ <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_DisableAWSServiceAccess.html\"\
        >DisableAWSServiceAccess</a> API operation. After you call this operation,\
        \ Health stops aggregating events for all other Amazon Web Services accounts\
        \ in your organization. If you call the Health API operations for organizational\
        \ view, Health returns an error. Health continues to aggregate health events\
        \ for your Amazon Web Services account.</p> </note>"
      operationId: DisableHealthServiceAccessForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.DisableHealthServiceAccessForOrganization
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
      x-accepts:
      - application/json
  /#X-Amz-Target=AWSHealth_20160804.EnableHealthServiceAccessForOrganization:
    post:
      description: "<p>Enables Health to work with Organizations. You can use the\
        \ organizational view feature to aggregate events from all Amazon Web Services\
        \ accounts in your organization in a centralized location. </p> <p>This operation\
        \ also creates a service-linked role for the management account in the organization.\
        \ </p> <note> <p>To call this operation, you must meet the following requirements:</p>\
        \ <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon\
        \ Web Services Support</a> to use the Health API. If you call the Health API\
        \ from an Amazon Web Services account that doesn't have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code>\
        \ error.</p> </li> <li> <p>You must have permission to call this operation\
        \ from the organization's management account. For example IAM policies, see\
        \ <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html\"\
        >Health identity-based policy examples</a>.</p> </li> </ul> </note> <p>If\
        \ you don't have the required support plan, you can instead use the Health\
        \ console to enable the organizational view feature. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\"\
        >Aggregating Health events</a> in the <i>Health User Guide</i>.</p>"
      operationId: EnableHealthServiceAccessForOrganization
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSHealth_20160804.EnableHealthServiceAccessForOrganization
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
      x-accepts:
      - application/json
components:
  parameters:
    X-Amz-Content-Sha256:
      explode: false
      in: header
      name: X-Amz-Content-Sha256
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Date:
      explode: false
      in: header
      name: X-Amz-Date
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Algorithm:
      explode: false
      in: header
      name: X-Amz-Algorithm
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Credential:
      explode: false
      in: header
      name: X-Amz-Credential
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Security-Token:
      explode: false
      in: header
      name: X-Amz-Security-Token
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Signature:
      explode: false
      in: header
      name: X-Amz-Signature
      required: false
      schema:
        type: string
      style: simple
    X-Amz-SignedHeaders:
      explode: false
      in: header
      name: X-Amz-SignedHeaders
      required: false
      schema:
        type: string
      style: simple
  schemas:
    DescribeAffectedAccountsForOrganizationResponse:
      example:
        nextToken: ""
        affectedAccounts: ""
        eventScopeCode: ""
      properties:
        affectedAccounts:
          allOf:
          - $ref: '#/components/schemas/affectedAccountsList'
          - description: A JSON set of elements of the affected accounts.
        eventScopeCode:
          allOf:
          - $ref: '#/components/schemas/eventScopeCode'
          - description: "<p>This parameter specifies if the Health event is a public\
              \ Amazon Web Service event or an account-specific event.</p> <ul> <li>\
              \ <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>,\
              \ then the <code>affectedAccounts</code> value is always empty.</p>\
              \ </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>,\
              \ then the <code>affectedAccounts</code> value lists the affected Amazon\
              \ Web Services accounts in your organization. For example, if an event\
              \ affects a service such as Amazon Elastic Compute Cloud and you have\
              \ Amazon Web Services accounts that use that service, those account\
              \ IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code>\
              \ value is <code>NONE</code>, then the <code>eventArn</code> that you\
              \ specified in the request is invalid or doesn't exist.</p> </li> </ul>"
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeAffectedAccountsForOrganizationRequest:
      example:
        eventArn: ""
        nextToken: ""
        maxResults: ""
      properties:
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: "<p>The unique identifier for the event. The event ARN has\
              \ the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\
              \ </code> format.</p> <p>For example, an event ARN might look like the\
              \ following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\
              \ </p>"
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResults'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
      required:
      - eventArn
      title: DescribeAffectedAccountsForOrganizationRequest
      type: object
    InvalidPaginationToken: {}
    DescribeAffectedEntitiesResponse:
      example:
        entities: ""
        nextToken: ""
      properties:
        entities:
          allOf:
          - $ref: '#/components/schemas/EntityList'
          - description: The entities that match the filter criteria.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeAffectedEntitiesRequest:
      example:
        filter:
          statusCodes: ""
          eventArns: ""
          lastUpdatedTimes: ""
          entityArns: ""
          entityValues: ""
          tags: ""
        nextToken: ""
        maxResults: ""
        locale: ""
      properties:
        filter:
          $ref: '#/components/schemas/DescribeAffectedEntitiesRequest_filter'
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResults'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
      required:
      - filter
      title: DescribeAffectedEntitiesRequest
      type: object
    UnsupportedLocale: {}
    DescribeAffectedEntitiesForOrganizationResponse:
      example:
        entities: ""
        nextToken: ""
        failedSet: ""
      properties:
        entities:
          allOf:
          - $ref: '#/components/schemas/EntityList'
          - description: "A JSON set of elements including the <code>awsAccountId</code>\
              \ and its <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>,\
              \ <code>lastUpdatedTime</code>, and <code>statusCode</code>."
        failedSet:
          allOf:
          - $ref: '#/components/schemas/DescribeAffectedEntitiesForOrganizationFailedSet'
          - description: "A JSON set of elements of the failed response, including\
              \ the <code>awsAccountId</code>, <code>errorMessage</code>, <code>errorName</code>,\
              \ and <code>eventArn</code>."
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeAffectedEntitiesForOrganizationRequest:
      example:
        organizationEntityFilters: ""
        nextToken: ""
        maxResults: ""
        locale: ""
      properties:
        organizationEntityFilters:
          allOf:
          - $ref: '#/components/schemas/OrganizationEntityFiltersList'
          - description: A JSON set of elements including the <code>awsAccountId</code>
              and the <code>eventArn</code>.
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResultsLowerRange'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
      required:
      - organizationEntityFilters
      title: DescribeAffectedEntitiesForOrganizationRequest
      type: object
    DescribeEntityAggregatesResponse:
      example:
        entityAggregates: ""
      properties:
        entityAggregates:
          allOf:
          - $ref: '#/components/schemas/EntityAggregateList'
          - description: The number of entities that are affected by each of the specified
              events.
      type: object
    DescribeEntityAggregatesRequest:
      example:
        eventArns: ""
      properties:
        eventArns:
          allOf:
          - $ref: '#/components/schemas/EventArnsList'
          - description: "A list of event ARNs (unique identifiers). For example:\
              \ <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\"\
              , \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"\
              </code> "
      title: DescribeEntityAggregatesRequest
      type: object
    DescribeEventAggregatesResponse:
      example:
        nextToken: ""
        eventAggregates: ""
      properties:
        eventAggregates:
          allOf:
          - $ref: '#/components/schemas/EventAggregateList'
          - description: The number of events in each category that meet the optional
              filter criteria.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeEventAggregatesRequest:
      example:
        filter:
          regions: ""
          eventStatusCodes: ""
          eventTypeCategories: ""
          eventArns: ""
          lastUpdatedTimes: ""
          availabilityZones: ""
          services: ""
          entityArns: ""
          tags: ""
          endTimes: ""
          eventTypeCodes: ""
          entityValues: ""
          startTimes: ""
        aggregateField: ""
        maxResults: ""
        nextToken: ""
      properties:
        filter:
          $ref: '#/components/schemas/DescribeEventAggregatesRequest_filter'
        aggregateField:
          allOf:
          - $ref: '#/components/schemas/eventAggregateField'
          - description: The only currently supported value is <code>eventTypeCategory</code>.
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResults'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      required:
      - aggregateField
      title: DescribeEventAggregatesRequest
      type: object
    DescribeEventDetailsResponse:
      example:
        successfulSet: ""
        failedSet: ""
      properties:
        successfulSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsSuccessfulSet'
          - description: Information about the events that could be retrieved.
        failedSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsFailedSet'
          - description: Error messages for any events that could not be retrieved.
      type: object
    DescribeEventDetailsRequest:
      example:
        eventArns: ""
        locale: ""
      properties:
        eventArns:
          allOf:
          - $ref: '#/components/schemas/eventArnList'
          - description: "A list of event ARNs (unique identifiers). For example:\
              \ <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\"\
              , \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"\
              </code> "
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
      required:
      - eventArns
      title: DescribeEventDetailsRequest
      type: object
    DescribeEventDetailsForOrganizationResponse:
      example:
        successfulSet: ""
        failedSet: ""
      properties:
        successfulSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsForOrganizationSuccessfulSet'
          - description: Information about the events that could be retrieved.
        failedSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsForOrganizationFailedSet'
          - description: Error messages for any events that could not be retrieved.
      type: object
    DescribeEventDetailsForOrganizationRequest:
      example:
        organizationEventDetailFilters: ""
        locale: ""
      properties:
        organizationEventDetailFilters:
          allOf:
          - $ref: '#/components/schemas/OrganizationEventDetailFiltersList'
          - description: A set of JSON elements that includes the <code>awsAccountId</code>
              and the <code>eventArn</code>.
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
      required:
      - organizationEventDetailFilters
      title: DescribeEventDetailsForOrganizationRequest
      type: object
    DescribeEventTypesResponse:
      example:
        nextToken: ""
        eventTypes: ""
      properties:
        eventTypes:
          allOf:
          - $ref: '#/components/schemas/EventTypeList'
          - description: "A list of event types that match the filter criteria. Event\
              \ types have a category (<code>issue</code>, <code>accountNotification</code>,\
              \ or <code>scheduledChange</code>), a service (for example, <code>EC2</code>,\
              \ <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>),\
              \ and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\
              \ </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>)."
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeEventTypesRequest:
      example:
        filter:
          eventTypeCodes: ""
          eventTypeCategories: ""
          services: ""
        nextToken: ""
        maxResults: ""
        locale: ""
      properties:
        filter:
          $ref: '#/components/schemas/DescribeEventTypesRequest_filter'
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResults'
          - description: "<p>The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive.</p> <note> <p>If you don't specify the <code>maxResults</code>\
              \ parameter, this operation returns a maximum of 30 items by default.</p>\
              \ </note>"
      title: DescribeEventTypesRequest
      type: object
    DescribeEventsResponse:
      example:
        nextToken: ""
        events: ""
      properties:
        events:
          allOf:
          - $ref: '#/components/schemas/EventList'
          - description: The events that match the specified filter criteria.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeEventsRequest:
      example:
        filter:
          regions: ""
          eventStatusCodes: ""
          eventTypeCategories: ""
          eventArns: ""
          lastUpdatedTimes: ""
          availabilityZones: ""
          services: ""
          entityArns: ""
          tags: ""
          endTimes: ""
          eventTypeCodes: ""
          entityValues: ""
          startTimes: ""
        nextToken: ""
        maxResults: ""
        locale: ""
      properties:
        filter:
          $ref: '#/components/schemas/DescribeEventAggregatesRequest_filter'
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResults'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
      title: DescribeEventsRequest
      type: object
    DescribeEventsForOrganizationResponse:
      example:
        nextToken: ""
        events: ""
      properties:
        events:
          allOf:
          - $ref: '#/components/schemas/OrganizationEventList'
          - description: The events that match the specified filter criteria.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
      type: object
    DescribeEventsForOrganizationRequest:
      example:
        filter:
          eventTypeCodes: ""
          regions: ""
          eventStatusCodes: ""
          eventTypeCategories: ""
          startTime:
            from: ""
            to: ""
          lastUpdatedTime:
            from: ""
            to: ""
          services: ""
          endTime:
            from: ""
            to: ""
          entityArns: ""
          awsAccountIds: ""
          entityValues: ""
        nextToken: ""
        maxResults: ""
        locale: ""
      properties:
        filter:
          $ref: '#/components/schemas/DescribeEventsForOrganizationRequest_filter'
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: "If the results of a search are large, only a portion of\
              \ the results are returned, and a <code>nextToken</code> pagination\
              \ token is returned in the response. To retrieve the next batch of results,\
              \ reissue the search request and include the returned token. When all\
              \ results have been returned, the response does not contain a pagination\
              \ token value."
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResultsLowerRange'
          - description: "The maximum number of items to return in one batch, between\
              \ 10 and 100, inclusive."
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en)
              is the default and the only supported value at this time.
      title: DescribeEventsForOrganizationRequest
      type: object
    DescribeHealthServiceStatusForOrganizationResponse:
      example:
        healthServiceAccessStatusForOrganization: ""
      properties:
        healthServiceAccessStatusForOrganization:
          allOf:
          - $ref: '#/components/schemas/healthServiceAccessStatusForOrganization'
          - description: <p>Information about the status of enabling or disabling
              the Health organizational view feature in your organization.</p> <p>Valid
              values are <code>ENABLED | DISABLED | PENDING</code>. </p>
      type: object
    ConcurrentModificationException: {}
    entityArn:
      maxLength: 1600
      pattern: ".{0,1600}"
      type: string
    eventArn:
      maxLength: 1600
      pattern: "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}"
      type: string
    entityValue:
      maxLength: 1224
      pattern: ".{0,1224}"
      type: string
    entityUrl:
      type: string
    accountId:
      maxLength: 12
      pattern: ^\S+$
      type: string
    timestamp:
      format: date-time
      type: string
    entityStatusCode:
      enum:
      - IMPAIRED
      - UNIMPAIRED
      - UNKNOWN
      type: string
    tagSet:
      additionalProperties:
        $ref: '#/components/schemas/tagValue'
      maxProperties: 50
      type: object
    AffectedEntity:
      description: Information about an entity that is affected by a Health event.
      properties:
        entityArn:
          allOf:
          - $ref: '#/components/schemas/entityArn'
          - description: "The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>\
              \ </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code> "
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: "<p>The unique identifier for the event. The event ARN has\
              \ the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\
              \ </code> format.</p> <p>For example, an event ARN might look like the\
              \ following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\
              \ </p>"
        entityValue:
          allOf:
          - $ref: '#/components/schemas/entityValue'
          - description: The ID of the affected entity.
        entityUrl:
          allOf:
          - $ref: '#/components/schemas/entityUrl'
          - description: The URL of the affected entity.
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: The 12-digit Amazon Web Services account number that contains
              the affected entity.
        lastUpdatedTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The most recent time that the entity was updated.
        statusCode:
          allOf:
          - $ref: '#/components/schemas/entityStatusCode'
          - description: "The most recent status of the entity affected by the event.\
              \ The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>,\
              \ and <code>UNKNOWN</code>."
        tags:
          allOf:
          - $ref: '#/components/schemas/tagSet'
          - description: "<p>A map of entity tags attached to the affected entity.</p>\
              \ <note> <p>Currently, the <code>tags</code> property isn't supported.</p>\
              \ </note>"
      type: object
    DateTimeRange:
      description: "A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\"\
        >EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\"\
        >EntityFilter</a> objects. If <code>from</code> is set and <code>to</code>\
        \ is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>,\
        \ or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code>\
        \ inclusive. If <code>from</code> is set and <code>to</code> is not set: match\
        \ items where the timestamp value is equal to or after <code>from</code>.\
        \ If <code>from</code> is not set and <code>to</code> is set: match items\
        \ where the timestamp value is equal to or before <code>to</code>."
      example:
        from: ""
        to: ""
      properties:
        from:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The starting date and time of a time range.
        to:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The ending date and time of a time range.
      type: object
    nextToken:
      maxLength: 10000
      minLength: 4
      pattern: "[a-zA-Z0-9=/+_.-]{4,10000}"
      type: string
    maxResults:
      maximum: 100
      minimum: 10
      type: integer
    affectedAccountsList:
      items:
        $ref: '#/components/schemas/accountId'
      type: array
    eventScopeCode:
      enum:
      - PUBLIC
      - ACCOUNT_SPECIFIC
      - NONE
      type: string
    OrganizationAffectedEntitiesErrorItem:
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a>
        operation can't find or process a specific entity.
      properties:
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: The 12-digit Amazon Web Services account numbers that contains
              the affected entities.
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: "<p>The unique identifier for the event. The event ARN has\
              \ the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\
              \ </code> format.</p> <p>For example, an event ARN might look like the\
              \ following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\
              \ </p>"
        errorName:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: The name of the error.
        errorMessage:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: "<p>A message that describes the error. Follow the error\
              \ message and retry your request.</p> <p>For example, the <code>InvalidAccountInputError</code>\
              \ error message appears if you call the <code>DescribeAffectedEntitiesForOrganization</code>\
              \ operation and specify the <code>AccountSpecific</code> value for the\
              \ <code>EventScopeCode</code> parameter, but don't specify an Amazon\
              \ Web Services account.</p>"
      type: object
    DescribeAffectedEntitiesForOrganizationFailedSet:
      items:
        $ref: '#/components/schemas/OrganizationAffectedEntitiesErrorItem'
      type: array
    OrganizationEntityFiltersList:
      items:
        $ref: '#/components/schemas/EventAccountFilter'
      maxItems: 10
      minItems: 1
      type: array
    locale:
      maxLength: 256
      minLength: 2
      pattern: ".{2,256}"
      type: string
    maxResultsLowerRange:
      maximum: 100
      minimum: 1
      type: integer
    EntityList:
      items:
        $ref: '#/components/schemas/AffectedEntity'
      type: array
    EntityFilter:
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html">DescribeAffectedEntities</a>
        operation.
      properties:
        eventArns:
          allOf:
          - $ref: '#/components/schemas/eventArnList'
          - description: "A list of event ARNs (unique identifiers). For example:\
              \ <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\"\
              , \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"\
              </code> "
        entityArns:
          allOf:
          - $ref: '#/components/schemas/entityArnList'
          - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
          - $ref: '#/components/schemas/entityValueList'
          - description: A list of IDs for affected entities.
        lastUpdatedTimes:
          allOf:
          - $ref: '#/components/schemas/dateTimeRangeList'
          - description: A list of the most recent dates and times that the entity
              was updated.
        tags:
          allOf:
          - $ref: '#/components/schemas/tagFilter'
          - description: "<p>A map of entity tags attached to the affected entity.</p>\
              \ <note> <p>Currently, the <code>tags</code> property isn't supported.</p>\
              \ </note>"
        statusCodes:
          allOf:
          - $ref: '#/components/schemas/entityStatusCodeList'
          - description: "A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>,\
              \ or <code>UNKNOWN</code>)."
      required:
      - eventArns
      type: object
    EventArnsList:
      items:
        $ref: '#/components/schemas/eventArn'
      maxItems: 50
      minItems: 1
      type: array
    EntityAggregateList:
      items:
        $ref: '#/components/schemas/EntityAggregate'
      type: array
    EventFilter:
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html">DescribeEvents</a>
        and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html">DescribeEventAggregates</a>
        operations.
      properties:
        eventArns:
          allOf:
          - $ref: '#/components/schemas/eventArnList'
          - description: "A list of event ARNs (unique identifiers). For example:\
              \ <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\"\
              , \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"\
              </code> "
        eventTypeCodes:
          allOf:
          - $ref: '#/components/schemas/eventTypeList'
          - description: "A list of unique identifiers for event types. For example,\
              \ <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\"\
              .</code> "
        services:
          allOf:
          - $ref: '#/components/schemas/serviceList'
          - description: "The Amazon Web Services associated with the event. For example,\
              \ <code>EC2</code>, <code>RDS</code>."
        regions:
          allOf:
          - $ref: '#/components/schemas/regionList'
          - description: A list of Amazon Web Services Regions.
        availabilityZones:
          allOf:
          - $ref: '#/components/schemas/availabilityZones'
          - description: A list of Amazon Web Services Availability Zones.
        startTimes:
          allOf:
          - $ref: '#/components/schemas/dateTimeRangeList'
          - description: A list of dates and times that the event began.
        endTimes:
          allOf:
          - $ref: '#/components/schemas/dateTimeRangeList'
          - description: A list of dates and times that the event ended.
        lastUpdatedTimes:
          allOf:
          - $ref: '#/components/schemas/dateTimeRangeList'
          - description: A list of dates and times that the event was last updated.
        entityArns:
          allOf:
          - $ref: '#/components/schemas/entityArnList'
          - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
          - $ref: '#/components/schemas/entityValueList'
          - description: "A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>)\
              \ or EBS volumes (<code>vol-426ab23e</code>)."
        eventTypeCategories:
          allOf:
          - $ref: '#/components/schemas/eventTypeCategoryList'
          - description: "A list of event type category codes. Possible values are\
              \ <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>.\
              \ Currently, the <code>investigation</code> value isn't supported at\
              \ this time."
        tags:
          allOf:
          - $ref: '#/components/schemas/tagFilter'
          - description: "<p>A map of entity tags attached to the affected entity.</p>\
              \ <note> <p>Currently, the <code>tags</code> property isn't supported.</p>\
              \ </note>"
        eventStatusCodes:
          allOf:
          - $ref: '#/components/schemas/eventStatusCodeList'
          - description: A list of event status codes.
      type: object
    eventAggregateField:
      enum:
      - eventTypeCategory
      type: string
    EventAggregateList:
      items:
        $ref: '#/components/schemas/EventAggregate'
      type: array
    EventDetailsErrorItem:
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a>
        operation can't find a specified event.
      properties:
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: "<p>The unique identifier for the event. The event ARN has\
              \ the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\
              \ </code> format.</p> <p>For example, an event ARN might look like the\
              \ following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\
              \ </p>"
        errorName:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: The name of the error.
        errorMessage:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: A message that describes the error.
      type: object
    DescribeEventDetailsFailedSet:
      items:
        $ref: '#/components/schemas/EventDetailsErrorItem'
      type: array
    OrganizationEventDetailsErrorItem:
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a>
        operation can't find a specified event.
      properties:
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a>
              operation can't find a specified event.
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: "<p>The unique identifier for the event. The event ARN has\
              \ the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\
              \ </code> format.</p> <p>For example, an event ARN might look like the\
              \ following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\
              \ </p>"
        errorName:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: The name of the error.
        errorMessage:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: "<p>A message that describes the error.</p> <p>If you call\
              \ the <code>DescribeEventDetailsForOrganization</code> operation and\
              \ receive one of the following errors, follow the recommendations in\
              \ the message:</p> <ul> <li> <p>We couldn't find a public event that\
              \ matches your request. To find an event that is account specific, you\
              \ must enter an Amazon Web Services account ID in the request.</p> </li>\
              \ <li> <p>We couldn't find an account specific event for the specified\
              \ Amazon Web Services account. To find an event that is public, you\
              \ must enter a null value for the Amazon Web Services account ID in\
              \ the request.</p> </li> <li> <p>Your Amazon Web Services account doesn't\
              \ include the Amazon Web Services Support plan required to use the Health\
              \ API. You must have either a Business, Enterprise On-Ramp, or Enterprise\
              \ Support plan.</p> </li> </ul>"
      type: object
    DescribeEventDetailsForOrganizationFailedSet:
      items:
        $ref: '#/components/schemas/OrganizationEventDetailsErrorItem'
      type: array
    OrganizationEventDetailFiltersList:
      items:
        $ref: '#/components/schemas/EventAccountFilter'
      maxItems: 10
      minItems: 1
      type: array
    DescribeEventDetailsForOrganizationSuccessfulSet:
      items:
        $ref: '#/components/schemas/OrganizationEventDetails'
      type: array
    OrganizationEventDetails:
      description: "Detailed information about an event. A combination of an <a href=\"\
        https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>\
        \ object, an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html\"\
        >EventDescription</a> object, and additional metadata about the event. Returned\
        \ by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\"\
        >DescribeEventDetailsForOrganization</a> operation."
      properties:
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: The 12-digit Amazon Web Services account numbers that contains
              the affected entities.
        event:
          $ref: '#/components/schemas/Event'
        eventDescription:
          $ref: '#/components/schemas/EventDescription'
        eventMetadata:
          allOf:
          - $ref: '#/components/schemas/eventMetadata'
          - description: Additional metadata about the event.
      type: object
    eventArnList:
      items:
        $ref: '#/components/schemas/eventArn'
      maxItems: 10
      minItems: 1
      type: array
    DescribeEventDetailsSuccessfulSet:
      items:
        $ref: '#/components/schemas/EventDetails'
      type: array
    EventDetails:
      description: "Detailed information about an event. A combination of an <a href=\"\
        https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>\
        \ object, an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html\"\
        >EventDescription</a> object, and additional metadata about the event. Returned\
        \ by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\"\
        >DescribeEventDetails</a> operation."
      properties:
        event:
          $ref: '#/components/schemas/EventDetails_event'
        eventDescription:
          $ref: '#/components/schemas/EventDetails_eventDescription'
        eventMetadata:
          allOf:
          - $ref: '#/components/schemas/eventMetadata'
          - description: Additional metadata about the event.
      type: object
    EventTypeFilter:
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html">DescribeEventTypes</a>
        operation.
      properties:
        eventTypeCodes:
          allOf:
          - $ref: '#/components/schemas/EventTypeCodeList'
          - description: A list of event type codes.
        services:
          allOf:
          - $ref: '#/components/schemas/serviceList'
          - description: "The Amazon Web Services associated with the event. For example,\
              \ <code>EC2</code>, <code>RDS</code>."
        eventTypeCategories:
          allOf:
          - $ref: '#/components/schemas/EventTypeCategoryList'
          - description: "A list of event type category codes. Possible values are\
              \ <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>.\
              \ Currently, the <code>investigation</code> value isn't supported at\
              \ this time."
      type: object
    EventTypeList:
      items:
        $ref: '#/components/schemas/EventType'
      type: array
    OrganizationEventFilter:
      description: The values to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html">DescribeEventsForOrganization</a>
        operation.
      properties:
        eventTypeCodes:
          allOf:
          - $ref: '#/components/schemas/eventTypeList'
          - description: "A list of unique identifiers for event types. For example,\
              \ <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\"\
              .</code> "
        awsAccountIds:
          allOf:
          - $ref: '#/components/schemas/awsAccountIdsList'
          - description: A list of 12-digit Amazon Web Services account numbers that
              contains the affected entities.
        services:
          allOf:
          - $ref: '#/components/schemas/serviceList'
          - description: "The Amazon Web Services associated with the event. For example,\
              \ <code>EC2</code>, <code>RDS</code>."
        regions:
          allOf:
          - $ref: '#/components/schemas/regionList'
          - description: A list of Amazon Web Services Regions.
        startTime:
          $ref: '#/components/schemas/DateTimeRange'
        endTime:
          $ref: '#/components/schemas/DateTimeRange'
        lastUpdatedTime:
          $ref: '#/components/schemas/DateTimeRange'
        entityArns:
          allOf:
          - $ref: '#/components/schemas/entityArnList'
          - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
          - $ref: '#/components/schemas/entityValueList'
          - description: "A list of entity identifiers, such as EC2 instance IDs (i-34ab692e)\
              \ or EBS volumes (vol-426ab23e)."
        eventTypeCategories:
          allOf:
          - $ref: '#/components/schemas/eventTypeCategoryList'
          - description: "A list of event type category codes. Possible values are\
              \ <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>.\
              \ Currently, the <code>investigation</code> value isn't supported at\
              \ this time."
        eventStatusCodes:
          allOf:
          - $ref: '#/components/schemas/eventStatusCodeList'
          - description: A list of event status codes.
      type: object
    OrganizationEventList:
      items:
        $ref: '#/components/schemas/OrganizationEvent'
      type: array
    EventList:
      items:
        $ref: '#/components/schemas/Event'
      type: array
    healthServiceAccessStatusForOrganization:
      type: string
    count:
      type: integer
    EntityAggregate:
[...]
