openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/jobSchedule.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-jobSchedule
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules
  : get:
      description: Retrieve a list of job schedules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      operationId: JobSchedule_ListByAutomationAccount
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobScheduleListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - JobSchedule
      x-ms-examples:
        List all job schedules by automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/2f4d8f35-ecd5-44ee-a019-2382fec58fb7
                  properties:
                    jobScheduleId: 2f4d8f35-ecd5-44ee-a019-2382fec58fb7
                    runbook:
                      name: TestRunbook
                    schedule:
                      name: JobScheduleforTestRunbook
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/446f7a33-86ff-45a1-b71c-f998f701b443
                  properties:
                    jobScheduleId: 446f7a33-86ff-45a1-b71c-f998f701b443
                    runbook:
                      name: TestRunbook
                    schedule:
                      name: TestSchedule
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                  properties:
                    jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                    runbook:
                      name: TestRunbook
                    schedule:
                      name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
      x-ms-odata: '#/definitions/JobSchedule'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}
  : delete:
      description: Delete the job schedule identified by job schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      operationId: JobSchedule_Delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The job schedule name.
        in: path
        name: jobScheduleId
        required: true
        schema:
          format: uuid
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - JobSchedule
      x-ms-examples:
        Delete a job schedule:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve the job schedule identified by job schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      operationId: JobSchedule_Get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The job schedule name.
        in: path
        name: jobScheduleId
        required: true
        schema:
          format: uuid
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - JobSchedule
      x-ms-examples:
        Get a job schedule:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                properties:
                  jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                  parameters:
                    jobscheduletag01: jobschedulevalue01
                    jobscheduletag02: jobschedulevalue02
                  runbook:
                    name: TestRunbook
                  schedule:
                    name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Create a job schedule.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      operationId: JobSchedule_Create
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The job schedule name.
        in: path
        name: jobScheduleId
        required: true
        schema:
          format: uuid
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobScheduleCreateParameters'
        description: The parameters supplied to the create job schedule operation.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - JobSchedule
      x-ms-examples:
        Create a job schedule:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            parameters:
              properties:
                parameters:
                  jobscheduletag01: jobschedulevalue01
                  jobscheduletag02: jobschedulevalue02
                runbook:
                  name: TestRunbook
                schedule:
                  name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                properties:
                  jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                  parameters:
                    jobscheduletag01: jobschedulevalue01
                    jobscheduletag02: jobschedulevalue02
                  runbook:
                    name: TestRunbook
                  schedule:
                    name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    JobSchedule:
      description: Definition of the job schedule.
      example:
        name: name
        id: id
        type: type
        properties:
          schedule:
            name: name
          runOn: runOn
          jobScheduleId: jobScheduleId
          parameters:
            key: parameters
          runbook:
            name: name
      properties:
        id:
          description: Gets the id of the resource.
          readOnly: true
          type: string
        name:
          description: Gets the name of the variable.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/JobScheduleProperties'
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
    JobScheduleCreateParameters:
      description: The parameters supplied to the create job schedule operation.
      example:
        properties:
          schedule:
            name: name
          runOn: runOn
          parameters:
            key: parameters
          runbook:
            name: name
      properties:
        properties:
          $ref: '#/components/schemas/JobScheduleCreateProperties'
      required:
      - properties
      type: object
    JobScheduleCreateProperties:
      description: The parameters supplied to the create job schedule operation.
      example:
        schedule:
          name: name
        runOn: runOn
        parameters:
          key: parameters
        runbook:
          name: name
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets a list of job properties.
          type: object
        runOn:
          description: Gets or sets the hybrid worker group that the scheduled job
            should run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
        schedule:
          $ref: '#/components/schemas/ScheduleAssociationProperty'
      required:
      - runbook
      - schedule
      type: object
    JobScheduleListResult:
      description: The response model for the list job schedule operation.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            schedule:
              name: name
            runOn: runOn
            jobScheduleId: jobScheduleId
            parameters:
              key: parameters
            runbook:
              name: name
        - name: name
          id: id
          type: type
          properties:
            schedule:
              name: name
            runOn: runOn
            jobScheduleId: jobScheduleId
            parameters:
              key: parameters
            runbook:
              name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of job schedules.
          items:
            $ref: '#/components/schemas/JobSchedule'
          type: array
      type: object
    JobScheduleProperties:
      description: Definition of job schedule parameters.
      example:
        schedule:
          name: name
        runOn: runOn
        jobScheduleId: jobScheduleId
        parameters:
          key: parameters
        runbook:
          name: name
      properties:
        jobScheduleId:
          description: Gets or sets the id of job schedule.
          type: string
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job schedule.
          type: object
        runOn:
          description: Gets or sets the hybrid worker group that the scheduled job
            should run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
        schedule:
          $ref: '#/components/schemas/ScheduleAssociationProperty'
      type: object
    RunbookAssociationProperty:
      description: The runbook property associated with the entity.
      example:
        name: name
      properties:
        name:
          description: Gets or sets the name of the runbook.
          type: string
      type: object
    ScheduleAssociationProperty:
      description: The schedule property associated with the entity.
      example:
        name: name
      properties:
        name:
          description: Gets or sets the name of the Schedule.
          type: string
      type: object
    JobSchedule_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

