openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Views Abusive Experience Report data, and gets a list of sites that\
    \ have a significant number of abusive experiences."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Abusive Experience Report API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: abusiveexperiencereport
externalDocs:
  url: https://developers.google.com/abusive-experience-report/
servers:
- url: https://abusiveexperiencereport.googleapis.com/
tags:
- name: sites
- name: violatingSites
paths:
  /v1/violatingSites:
    get:
      description: Lists sites that are failing in the Abusive Experience Report.
      operationId: abusiveexperiencereport_violating_sites_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolatingSitesResponse'
          description: Successful response
      tags:
      - violatingSites
      x-openapi-router-controller: openapi_server.controllers.violating_sites_controller
  /v1/{name}:
    get:
      description: Gets a site's Abusive Experience Report summary.
      operationId: abusiveexperiencereport_sites_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the site whose summary to get, e.g. `sites/http%3A%2F%2Fwww.google.com%2F`.\
          \ Format: `sites/{site}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteSummaryResponse'
          description: Successful response
      tags:
      - sites
      x-openapi-router-controller: openapi_server.controllers.sites_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    SiteSummaryResponse:
      description: Response message for GetSiteSummary.
      example:
        underReview: true
        abusiveStatus: UNKNOWN
        enforcementTime: enforcementTime
        lastChangeTime: lastChangeTime
        filterStatus: UNKNOWN
        reportUrl: reportUrl
        reviewedSite: reviewedSite
      properties:
        abusiveStatus:
          description: The site's Abusive Experience Report status.
          enum:
          - UNKNOWN
          - PASSING
          - FAILING
          title: abusiveStatus
          type: string
        enforcementTime:
          description: "The time at which [enforcement](https://support.google.com/webtools/answer/7538608)\
            \ against the site began or will begin. Not set when the filter_status\
            \ is OFF."
          format: google-datetime
          title: enforcementTime
          type: string
        filterStatus:
          description: "The site's [enforcement status](https://support.google.com/webtools/answer/7538608)."
          enum:
          - UNKNOWN
          - "true"
          - "false"
          - PAUSED
          - PENDING
          title: filterStatus
          type: string
        lastChangeTime:
          description: The time at which the site's status last changed.
          format: google-datetime
          title: lastChangeTime
          type: string
        reportUrl:
          description: "A link to the full Abusive Experience Report for the site.\
            \ Not set in ViolatingSitesResponse. Note that you must complete the [Search\
            \ Console verification process](https://support.google.com/webmasters/answer/9008080)\
            \ for the site before you can access the full report."
          title: reportUrl
          type: string
        reviewedSite:
          description: "The name of the reviewed site, e.g. `google.com`."
          title: reviewedSite
          type: string
        underReview:
          description: Whether the site is currently under review.
          title: underReview
          type: boolean
      title: SiteSummaryResponse
      type: object
    ViolatingSitesResponse:
      description: Response message for ListViolatingSites.
      example:
        violatingSites:
        - underReview: true
          abusiveStatus: UNKNOWN
          enforcementTime: enforcementTime
          lastChangeTime: lastChangeTime
          filterStatus: UNKNOWN
          reportUrl: reportUrl
          reviewedSite: reviewedSite
        - underReview: true
          abusiveStatus: UNKNOWN
          enforcementTime: enforcementTime
          lastChangeTime: lastChangeTime
          filterStatus: UNKNOWN
          reportUrl: reportUrl
          reviewedSite: reviewedSite
      properties:
        violatingSites:
          description: The list of violating sites.
          items:
            $ref: '#/components/schemas/SiteSummaryResponse'
          title: violatingSites
          type: array
      title: ViolatingSitesResponse
      type: object
