openapi: 3.0.1
info:
  description: APIs to manage Peering resources through the Azure Resource Manager.
  title: PeeringManagementClient
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/peering.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: peering
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Peering/operations:
    get:
      description: Lists all of the available API operations for peering resources.
      operationId: operations_list
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Operations
      x-ms-examples:
        List peering operations:
          parameters:
            api-version: 2019-08-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Peering Resource
                      Provider and enables the creation of peerings
                    operation: Registers the Peering Resource Provider
                    provider: Microsoft.Peering
                    resource: Peering Resource Provider
                  isDataAction: false
                  name: Microsoft.Peering/register/action
                - display:
                    description: Write any peerAsns
                    operation: Write PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/write
                - display:
                    description: Read any peerAsns
                    operation: Read PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/read
                - display:
                    description: Delete any peerAsns
                    operation: Delete PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/delete
                - display:
                    description: Read any peeringLocations
                    operation: Read PeeringLocation
                    provider: Microsoft.Peering
                    resource: peeringLocations
                  isDataAction: false
                  name: Microsoft.Peering/peeringLocations/read
                - display:
                    description: Read any legacyPeerings
                    operation: Read LegacyPeering
                    provider: Microsoft.Peering
                    resource: legacyPeerings
                  isDataAction: false
                  name: Microsoft.Peering/legacyPeerings/read
                - display:
                    description: Write any peerings
                    operation: Write Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/write
                - display:
                    description: Read any peerings
                    operation: Read Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/read
                - display:
                    description: Delete any peerings
                    operation: Delete Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/delete
                - display:
                    description: Read any peeringServiceLocations
                    operation: Read PeeringServiceLocations
                    provider: Microsoft.Peering
                    resource: peeringServiceLocations
                  isDataAction: false
                  name: Microsoft.Peering/peeringServiceLocations/read
                - display:
                    description: Read any peeringServiceProviders
                    operation: Read PeeringServiceProviders
                    provider: Microsoft.Peering
                    resource: peeringServiceProviders
                  isDataAction: false
                  name: Microsoft.Peering/peeringServiceProviders/read
                - display:
                    description: Read any peeringServices
                    operation: Read PeeringServices
                    provider: Microsoft.Peering
                    resource: peeringServices
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/read
                - display:
                    description: Write any peeringServices
                    operation: Write PeeringService
                    provider: Microsoft.Peering
                    resource: peeringServices
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/write
                - display:
                    description: Delete any peeringServices
                    operation: Delete PeeringServices
                    provider: Microsoft.Peering
                    resource: peeringServices
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/delete
                - display:
                    description: Read any prefixes
                    operation: Read PeeringServicePrefixes
                    provider: Microsoft.Peering
                    resource: prefixes
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/prefixes/read
                - display:
                    description: Write any prefixes
                    operation: Write PeeringServicePrefixes
                    provider: Microsoft.Peering
                    resource: prefixes
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/prefixes/write
                - display:
                    description: Delete any prefixes
                    operation: Delete PeeringServicePrefixes
                    provider: Microsoft.Peering
                    resource: prefixes
                  isDataAction: false
                  name: Microsoft.Peering/peeringServices/prefixes/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/CheckServiceProviderAvailability:
    post:
      description: Checks if the peering service provider is present within 1000 miles
        of customer's location
      operationId: check_service_provider_availability
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckServiceProviderAvailabilityInput'
        description: "The CheckServiceProviderAvailabilityInput\r\n            indicating\
          \ customer location and service provider."
        required: true
        x-body-name: checkServiceProviderAvailabilityInput
      responses:
        "200":
          content:
            application/json:
              schema:
                enum:
                - Available
                - UnAvailable
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - CheckServiceProviderAvailability
      x-ms-examples:
        Check if peering service provider is available in customer location:
          parameters:
            api-version: 2019-08-01-preview
            checkServiceProviderAvailabilityInput:
              peeringServiceLocation: peeringServiceLocation1
              peeringServiceProvider: peeringServiceProvider1
            subscriptionId: subId
          responses:
            "200":
              body: Available
      x-codegen-request-body-name: checkServiceProviderAvailabilityInput
      x-openapi-router-controller: openapi_server.controllers.check_service_provider_availability_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings:
    get:
      description: Lists all of the legacy peerings under the given subscription matching
        the specified kind and location.
      operationId: legacy_peerings_list
      parameters:
      - description: The location of the peering.
        in: query
        name: peeringLocation
        required: true
        schema:
          type: string
      - description: The kind of the peering.
        in: query
        name: kind
        required: true
        schema:
          enum:
          - Direct
          - Exchange
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - LegacyPeerings
      x-ms-examples:
        List legacy peerings:
          parameters:
            api-version: 2019-08-01-preview
            kind: Exchange
            peeringLocation: peeringLocation0
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peerings/MyPeering
                  kind: Exchange
                  location: centralus
                  name: MyPeering
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.legacy_peerings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns:
    get:
      description: Lists all of the peer ASNs under the given subscription.
      operationId: peer_asns_list_by_subscription
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsnListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        List peer ASNs in a subscription:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/MyPeerAsn
                  name: MyPeerAsn
                  properties:
                    peerAsn: 65000
                    peerContactInfo:
                      emails:
                      - abc@contoso.com
                      - xyz@contoso.com
                      phone:
                      - +1 (234) 567-8900
                    peerName: Contoso
                    validationState: Approved
                  type: Microsoft.Peering/peerAsns
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}:
    delete:
      description: Deletes an existing peer ASN with the specified name under the
        given subscription.
      operationId: peer_asns_delete
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Delete a peer ASN:
          parameters:
            api-version: 2019-08-01-preview
            peerAsnName: MyPeerAsn
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
    get:
      description: Gets the peer ASN with the specified name under the given subscription.
      operationId: peer_asns_get
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Get a peer ASN:
          parameters:
            api-version: 2019-08-01-preview
            peerAsnName: MyPeerAsn
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/MyPeerAsn
                name: MyPeerAsn
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Approved
                type: Microsoft.Peering/peerAsns
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
    put:
      description: Creates a new peer ASN or updates an existing peer ASN with the
        specified name under the given subscription.
      operationId: peer_asns_create_or_update
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeerAsn'
        description: The peer ASN.
        required: true
        x-body-name: peerAsn
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Create a peer ASN:
          parameters:
            api-version: 2019-08-01-preview
            peerAsn:
              properties:
                peerAsn: 65000
                peerContactInfo:
                  emails:
                  - abc@contoso.com
                  - xyz@contoso.com
                  phone:
                  - +1 (234) 567-8900
                peerName: Contoso
            peerAsnName: MyPeerAsn
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/MyPeerAsn
                name: MyPeerAsn
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Pending
                type: Microsoft.Peering/peerAsns
            "201":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/MyPeerAsn
                name: MyPeerAsn
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Pending
                type: Microsoft.Peering/peerAsns
      x-codegen-request-body-name: peerAsn
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations:
    get:
      description: Lists all of the available peering locations for the specified
        kind of peering.
      operationId: peering_locations_list
      parameters:
      - description: The kind of the peering.
        in: query
        name: kind
        required: true
        schema:
          enum:
          - Direct
          - Exchange
          type: string
      - description: The type of direct peering.
        in: query
        name: directPeeringType
        schema:
          enum:
          - Edge
          - Transit
          - Cdn
          - Internal
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringLocationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringLocations
      x-ms-examples:
        List direct peering locations:
          parameters:
            api-version: 2019-08-01-preview
            kind: Direct
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1
                  kind: Direct
                  name: peeringLocation1
                  properties:
                    country: country1
                    direct:
                      bandwidthOffers:
                      - offerName: 10Gbps
                        valueInMbps: 10000
                      - offerName: 100Gbps
                        valueInMbps: 100000
                      peeringFacilities:
                      - address: address1
                        directPeeringType: Edge
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                      - address: address3
                        directPeeringType: Cdn
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                    peeringLocation: peeringLocation1
                  type: Microsoft.Peering/peeringLocations
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2
                  kind: Direct
                  name: peeringLocation2
                  properties:
                    country: country2
                    direct:
                      bandwidthOffers:
                      - offerName: 10Gbps
                        valueInMbps: 10000
                      - offerName: 100Gbps
                        valueInMbps: 100000
                      peeringFacilities:
                      - address: address2
                        directPeeringType: Edge
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                    peeringLocation: peeringLocation2
                  type: Microsoft.Peering/peeringLocations
        List exchange peering locations:
          parameters:
            api-version: 2019-08-01-preview
            kind: Exchange
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1
                  kind: Exchange
                  name: peeringLocation1
                  properties:
                    country: country1
                    exchange:
                      peeringFacilities:
                      - bandwidthInMbps: 10000
                        exchangeName: name1
                        facilityIPv4Prefix: 192.168.128.0/17
                        facilityIPv6Prefix: fd00::1000:0/98
                        microsoftIPv4Address: 192.168.131.1
                        microsoftIPv6Address: fd00::1:1
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                      - bandwidthInMbps: 10000
                        exchangeName: name3
                        facilityIPv4Prefix: 192.168.0.0/17
                        facilityIPv6Prefix: fd00::0/98
                        microsoftIPv4Address: 192.168.2.2
                        microsoftIPv6Address: fd00::2
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                    peeringLocation: peeringLocation1
                  type: Microsoft.Peering/peeringLocations
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2
                  kind: Exchange
                  name: peeringLocation2
                  properties:
                    country: country2
                    exchange:
                      peeringFacilities:
                      - bandwidthInMbps: 10000
                        exchangeName: name2
                        facilityIPv4Prefix: 192.168.0.0/16
                        facilityIPv6Prefix: fd00::0/98
                        microsoftIPv4Address: 192.168.2.1
                        microsoftIPv6Address: fd00::2
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                    peeringLocation: peeringLocation2
                  type: Microsoft.Peering/peeringLocations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_locations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceLocations:
    get:
      description: Lists all of the available peering service locations for the specified
        kind of peering.
      operationId: peering_service_locations_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceLocationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServiceLocations
      x-ms-examples:
        List peering service locations:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringServiceLocations/peeringServiceLocation1
                  name: peeringServiceLocation1
                  properties:
                    country: country1
                    state: state1
                  type: Microsoft.Peering/peeringServiceLocations
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringServiceLocations/peeringServiceLocation2
                  name: peeringServiceLocation2
                  properties:
                    country: country2
                    state: state2
                  type: Microsoft.Peering/peeringServiceLocations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_service_locations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders:
    get:
      description: Lists all of the available peering service locations for the specified
        kind of peering.
      operationId: peering_service_providers_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceProviderListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServiceProviders
      x-ms-examples:
        List peering service providers:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringServiceProviders/peeringServiceProvider1
                  name: peeringServiceProvider1
                  properties:
                    serviceProviderName: peeringServiceProvider1
                  type: Microsoft.Peering/peeringServiceProviders
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringServiceProviders/peeringServiceProvider2
                  name: peeringServiceProvider2
                  properties:
                    serviceProviderName: peeringServiceProvider2
                  type: Microsoft.Peering/peeringServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_service_providers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServices:
    get:
      description: Lists all of the peerings under the given subscription.
      operationId: peering_services_list_by_subscription
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        List peering services in a subscription:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                  location: eastus
                  name: MyPeeringService
                  properties:
                    peeringServiceLocation: state1
                    peeringServiceProvider: serviceProvider1
                    provisioningState: Succeeded
                  type: Microsoft.Peering/peeringServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerings:
    get:
      description: Lists all of the peerings under the given subscription.
      operationId: peerings_list_by_subscription
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        List peerings in a subscription:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                  kind: Exchange
                  location: eastus
                  name: MyPeering
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices:
    get:
      description: Lists all of the peering services under the given subscription
        and resource group.
      operationId: peering_services_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        List peering services in a resource group:
          parameters:
            api-version: 2019-08-01-preview
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                  location: eastus
                  name: MyPeeringService
                  properties:
                    peeringServiceLocation: state1
                    peeringServiceProvider: serviceProvider1
                    provisioningState: Succeeded
                  type: Microsoft.Peering/peeringServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}
  : delete:
      description: Deletes an existing peering service with the specified name under
        the given subscription and resource group.
      operationId: peering_services_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering service.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        Delete a peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
    get:
      description: Gets an existing peering service with the specified name under
        the given subscription and resource group.
      operationId: peering_services_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        Get a peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                location: eastus
                name: MyPeeringService
                properties:
                  peeringServiceLocation: state1
                  peeringServiceProvider: serviceProvider1
                  provisioningState: Succeeded
                type: Microsoft.Peering/peeringServices
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
    patch:
      description: Updates tags for a peering service with the specified name under
        the given subscription and resource group.
      operationId: peering_services_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering service.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTags'
        description: The resource tags.
        required: true
        x-body-name: tags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        Update peering service tags:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
            tags:
              tags:
                tag0: value0
                tag1: value1
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                location: eastus
                name: MyPeeringService
                properties:
                  peeringServiceLocation: state1
                  peeringServiceProvider: serviceProvider1
                  provisioningState: Succeeded
                tags:
                  tag0: value0
                  tag1: value1
                type: Microsoft.Peering/peeringServices
      x-codegen-request-body-name: tags
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
    put:
      description: Creates a new peering service or updates an existing peering with
        the specified name under the given subscription and resource group.
      operationId: peering_services_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering service.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeeringService'
        description: The properties needed to create or update a peering service.
        required: true
        x-body-name: peeringService
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServices
      x-ms-examples:
        Create a  peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringService:
              location: eastus
              properties:
                peeringServiceLocation: state1
                peeringServiceProvider: serviceProvider1
            peeringServiceName: MyPeeringService
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                location: eastus
                name: MyPeeringService
                properties:
                  peeringServiceLocation: state1
                  peeringServiceProvider: serviceProvider1
                  provisioningState: Succeeded
                type: Microsoft.Peering/peeringServices
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService
                location: eastus
                name: MyPeeringService
                properties:
                  peeringServiceLocation: state1
                  peeringServiceProvider: serviceProvider1
                  provisioningState: Succeeded
                type: Microsoft.Peering/peeringServices
      x-codegen-request-body-name: peeringService
      x-openapi-router-controller: openapi_server.controllers.peering_services_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes
  : get:
      description: Lists the peerings prefix in the resource group.
      operationId: prefixes_list_by_peering_service
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The peering service name.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServicePrefixListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServicePrefixes
      x-ms-examples:
        List all the prefixes associated with the peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix1
                  name: MyPeeringServicePrefix1
                  properties:
                    learnedType: None
                    prefix: 192.168.1.0/24
                    prefixValidationState: Verified
                    provisioningState: Succeeded
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix2
                  name: MyPeeringServicePrefix2
                  properties:
                    learnedType: None
                    prefix: 192.168.2.0/24
                    prefixValidationState: Verified
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_service_prefixes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}
  : delete:
      description: removes the peering prefix.
      operationId: peering_service_prefixes_delete
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The peering service name.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The prefix name
        in: path
        name: prefixName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServicePrefixes
      x-ms-examples:
        Delete a prefix associated with the peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            prefixName: MyPeeringServicePrefix
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peering_service_prefixes_controller
    get:
      description: Gets the peering service prefix.
      operationId: peering_service_prefixes_get
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The peering service name.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The prefix name.
        in: path
        name: prefixName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServicePrefix'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServicePrefixes
      x-ms-examples:
        Get a prefix associated with the peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            prefixName: MyPeeringServicePrefix
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix
                name: MyPeeringServicePrefix
                properties:
                  learnedType: None
                  prefix: 192.168.1.0/24
                  prefixValidationState: Verified
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.peering_service_prefixes_controller
    put:
      description: Creates or updates the peering prefix.
      operationId: peering_service_prefixes_create_or_update
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The peering service name.
        in: path
        name: peeringServiceName
        required: true
        schema:
          type: string
      - description: The prefix name
        in: path
        name: prefixName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeeringServicePrefix'
        description: The IP prefix for an peering
        required: true
        x-body-name: peeringServicePrefix
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServicePrefix'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServicePrefix'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringServicePrefixes
      x-ms-examples:
        Create or update a prefix for the peering service:
          parameters:
            api-version: 2019-08-01-preview
            peeringServiceName: MyPeeringService
            peeringServicePrefix:
              properties:
                prefix: 192.168.1.0/24
            prefixName: MyPeeringServicePrefix
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix
                name: MyPeeringServicePrefix
                properties:
                  learnedType: None
                  prefix: 192.168.1.0/24
                  prefixValidationState: Pending
                  provisioningState: Succeeded
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix
                name: MyPeeringServicePrefix
                properties:
                  learnedType: None
                  prefix: 192.168.1.0/24
                  prefixValidationState: Pending
                  provisioningState: Succeeded
      x-codegen-request-body-name: peeringServicePrefix
      x-openapi-router-controller: openapi_server.controllers.peering_service_prefixes_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings:
    get:
      description: Lists all of the peerings under the given subscription and resource
        group.
      operationId: peerings_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        List peerings in a resource group:
          parameters:
            api-version: 2019-08-01-preview
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                  kind: Exchange
                  location: eastus
                  name: MyPeering
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}:
    delete:
      description: Deletes an existing peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Delete a peering:
          parameters:
            api-version: 2019-08-01-preview
            peeringName: MyPeering
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    get:
      description: Gets an existing peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Get a peering:
          parameters:
            api-version: 2019-08-01-preview
            peeringName: MyPeering
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Exchange
                location: eastus
                name: MyPeering
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    patch:
      description: Updates tags for a peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTags'
        description: The resource tags.
        required: true
        x-body-name: tags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Update peering tags:
          parameters:
            api-version: 2019-08-01-preview
            peeringName: MyPeering
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
            tags:
              tags:
                tag0: value0
                tag1: value1
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Exchange
                location: eastus
                name: MyPeering
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                tags:
                  tag0: value0
                  tag1: value1
                type: Microsoft.Peering/peerings
      x-codegen-request-body-name: tags
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    put:
      description: Creates a new peering or updates an existing peering with the specified
        name under the given subscription and resource group.
      operationId: peerings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peering'
        description: The properties needed to create or update a peering.
        required: true
        x-body-name: peering
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Create a direct peering:
          parameters:
            api-version: 2019-08-01-preview
            peering:
              kind: Direct
              location: eastus
              properties:
                direct:
                  connections:
                  - bandwidthInMbps: 10000
                    bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      sessionPrefixV4: 192.168.0.0/31
                      sessionPrefixV6: fd00::0/127
                    connectionIdentifier: 5F4CB5C7-6B43-4444-9338-9ABC72606C16
                    peeringDBFacilityId: 99999
                    sessionAddressProvider: Peer
                    useForPeeringService: false
                  - bandwidthInMbps: 10000
                    bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      sessionPrefixV4: 192.168.1.0/31
                      sessionPrefixV6: fd00::2/127
                    connectionIdentifier: 8AB00818-D533-4504-A25A-03A17F61201C
                    peeringDBFacilityId: 99999
                    sessionAddressProvider: Microsoft
                    useForPeeringService: true
                  directPeeringType: Edge
                  peerAsn:
                    id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  useForPeeringService: false
                peeringLocation: peeringLocation0
              sku:
                name: Basic_Direct_Free
            peeringName: MyPeering
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Direct
                location: eastus
                name: MyPeering
                properties:
                  direct:
                    connections:
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.0.0/31
                        sessionPrefixV6: fd00::0/127
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 5F4CB5C7-6B43-4444-9338-9ABC72606C16
                      connectionState: Active
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 10000
                      sessionAddressProvider: Peer
                      useForPeeringService: false
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.1.0/31
                        sessionPrefixV6: fd00::2/127
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 8AB00818-D533-4504-A25A-03A17F61201C
                      connectionState: Active
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 10000
                      sessionAddressProvider: Microsoft
                      useForPeeringService: true
                    directPeeringType: Edge
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    useForPeeringService: false
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Direct
                  name: Basic_Direct_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Direct
                location: eastus
                name: MyPeering
                properties:
                  direct:
                    connections:
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.0.0/31
                        sessionPrefixV6: fd00::0/127
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 5F4CB5C7-6B43-4444-9338-9ABC72606C16
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 0
                      sessionAddressProvider: Peer
                      useForPeeringService: false
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.1.0/31
                        sessionPrefixV6: fd00::2/127
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 8AB00818-D533-4504-A25A-03A17F61201C
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 0
                      sessionAddressProvider: Microsoft
                      useForPeeringService: true
                    directPeeringType: Edge
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    useForPeeringService: false
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Direct
                  name: Basic_Direct_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
        Create an exchange peering:
          parameters:
            api-version: 2019-08-01-preview
            peering:
              kind: Exchange
              location: eastus
              properties:
                exchange:
                  connections:
                  - bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      peerSessionIPv4Address: 192.168.2.1
                      peerSessionIPv6Address: fd00::1
                    connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                    peeringDBFacilityId: 99999
                  - bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      peerSessionIPv4Address: 192.168.2.2
                      peerSessionIPv6Address: fd00::2
                    connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                    peeringDBFacilityId: 99999
                  peerAsn:
                    id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                peeringLocation: peeringLocation0
              sku:
                name: Basic_Exchange_Free
            peeringName: MyPeering
            resourceGroupName: MyResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Exchange
                location: eastus
                name: MyPeering
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Peering/peerings/MyPeering
                kind: Exchange
                location: eastus
                name: MyPeering
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: CE495334-0E94-4E51-8164-8116D6CD284D
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: CDD8E673-CB07-47E6-84DE-3739F778762B
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
      x-codegen-request-body-name: peering
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BgpSession:
      description: The properties that define a BGP session.
      example:
        peerSessionIPv4Address: peerSessionIPv4Address
        md5AuthenticationKey: md5AuthenticationKey
        microsoftSessionIPv6Address: microsoftSessionIPv6Address
        sessionPrefixV4: sessionPrefixV4
        microsoftSessionIPv4Address: microsoftSessionIPv4Address
        peerSessionIPv6Address: peerSessionIPv6Address
        maxPrefixesAdvertisedV4: 6
        sessionStateV6: None
        sessionStateV4: None
        maxPrefixesAdvertisedV6: 1
        sessionPrefixV6: sessionPrefixV6
      properties:
        maxPrefixesAdvertisedV4:
          description: The maximum number of prefixes advertised over the IPv4 session.
          format: int32
          title: maxPrefixesAdvertisedV4
          type: integer
        maxPrefixesAdvertisedV6:
          description: The maximum number of prefixes advertised over the IPv6 session.
          format: int32
          title: maxPrefixesAdvertisedV6
          type: integer
        md5AuthenticationKey:
          description: The MD5 authentication key of the session.
          title: md5AuthenticationKey
          type: string
        microsoftSessionIPv4Address:
          description: The IPv4 session address on Microsoft's end.
          readOnly: true
          title: microsoftSessionIPv4Address
          type: string
        microsoftSessionIPv6Address:
          description: The IPv6 session address on Microsoft's end.
          readOnly: true
          title: microsoftSessionIPv6Address
          type: string
        peerSessionIPv4Address:
          description: The IPv4 session address on peer's end.
          title: peerSessionIPv4Address
          type: string
        peerSessionIPv6Address:
          description: The IPv6 session address on peer's end.
          title: peerSessionIPv6Address
          type: string
        sessionPrefixV4:
          description: The IPv4 prefix that contains both ends' IPv4 addresses.
          title: sessionPrefixV4
          type: string
        sessionPrefixV6:
          description: The IPv6 prefix that contains both ends' IPv6 addresses.
          title: sessionPrefixV6
          type: string
        sessionStateV4:
          description: The state of the IPv4 session.
          enum:
          - None
          - Idle
          - Connect
          - Active
          - OpenSent
          - OpenConfirm
          - OpenReceived
          - Established
          - PendingAdd
          - PendingUpdate
          - PendingRemove
          readOnly: true
          title: sessionStateV4
          type: string
          x-ms-enum:
            modelAsString: true
            name: sessionStateV4
        sessionStateV6:
          description: The state of the IPv6 session.
          enum:
          - None
          - Idle
          - Connect
          - Active
          - OpenSent
          - OpenConfirm
          - OpenReceived
          - Established
          - PendingAdd
          - PendingUpdate
          - PendingRemove
          readOnly: true
          title: sessionStateV6
          type: string
          x-ms-enum:
            modelAsString: true
            name: sessionStateV6
      title: BgpSession
      type: object
    CheckServiceProviderAvailabilityInput:
      description: Class for CheckServiceProviderAvailabilityInput
      example:
        peeringServiceLocation: peeringServiceLocation
        peeringServiceProvider: peeringServiceProvider
      properties:
        peeringServiceLocation:
          description: Gets or sets the PeeringServiceLocation
          title: peeringServiceLocation
          type: string
        peeringServiceProvider:
          description: Gets or sets the PeeringServiceProvider
          title: peeringServiceProvider
          type: string
      title: CheckServiceProviderAvailabilityInput
      type: object
    ContactInfo:
      description: The contact information of the peer.
      example:
        emails:
        - emails
        - emails
        phone:
        - phone
        - phone
      properties:
        emails:
          description: The list of email addresses.
          items:
            type: string
          title: emails
          type: array
        phone:
          description: The list of contact numbers.
          items:
            type: string
          title: phone
          type: array
      title: ContactInfo
      type: object
    DirectConnection:
      description: The properties that define a direct connection.
      example:
        provisionedBandwidthInMbps: 5
        sessionAddressProvider: Microsoft
        bandwidthInMbps: 0
        connectionState: None
        peeringDBFacilityId: 5
        useForPeeringService: true
        bgpSession:
          peerSessionIPv4Address: peerSessionIPv4Address
          md5AuthenticationKey: md5AuthenticationKey
          microsoftSessionIPv6Address: microsoftSessionIPv6Address
          sessionPrefixV4: sessionPrefixV4
          microsoftSessionIPv4Address: microsoftSessionIPv4Address
          peerSessionIPv6Address: peerSessionIPv6Address
          maxPrefixesAdvertisedV4: 6
          sessionStateV6: None
          sessionStateV4: None
          maxPrefixesAdvertisedV6: 1
          sessionPrefixV6: sessionPrefixV6
        connectionIdentifier: connectionIdentifier
      properties:
        bandwidthInMbps:
          description: The bandwidth of the connection.
          format: int32
          title: bandwidthInMbps
          type: integer
        bgpSession:
          $ref: '#/components/schemas/BgpSession'
        connectionIdentifier:
          description: The unique identifier (GUID) for the connection.
          title: connectionIdentifier
          type: string
        connectionState:
          description: The state of the connection.
          enum:
          - None
          - PendingApproval
          - Approved
          - ProvisioningStarted
          - ProvisioningFailed
          - ProvisioningCompleted
          - Validating
          - Active
          readOnly: true
          title: connectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: connectionState
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility at which the connection
            has to be set up.
          format: int32
          title: peeringDBFacilityId
          type: integer
        provisionedBandwidthInMbps:
          description: The bandwidth that is actually provisioned.
          format: int32
          title: provisionedBandwidthInMbps
          type: integer
        sessionAddressProvider:
          description: The field indicating if Microsoft provides session ip addresses.
          enum:
          - Microsoft
          - Peer
          title: sessionAddressProvider
          type: string
          x-ms-enum:
            modelAsString: true
            name: sessionAddressProvider
        useForPeeringService:
          description: The flag that indicates whether or not the connection is used
            for peering service.
          title: useForPeeringService
          type: boolean
      title: DirectConnection
      type: object
    DirectPeeringFacility:
      description: The properties that define a direct peering facility.
      example:
        address: address
        peeringDBFacilityId: 6
        directPeeringType: Edge
        peeringDBFacilityLink: peeringDBFacilityLink
      properties:
        address:
          description: The address of the direct peering facility.
          title: address
          type: string
        directPeeringType:
          description: The type of the direct peering.
          enum:
          - Edge
          - Transit
          - Cdn
          - Internal
          title: directPeeringType
          type: string
          x-ms-enum:
            modelAsString: true
            name: directPeeringType
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility.
          format: int32
          title: peeringDBFacilityId
          type: integer
        peeringDBFacilityLink:
          description: The PeeringDB.com URL of the facility.
          title: peeringDBFacilityLink
          type: string
      title: DirectPeeringFacility
      type: object
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      example:
        code: code
        message: message
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    ExchangeConnection:
      description: The properties that define an exchange connection.
      example:
        connectionState: None
        peeringDBFacilityId: 2
        bgpSession:
          peerSessionIPv4Address: peerSessionIPv4Address
          md5AuthenticationKey: md5AuthenticationKey
          microsoftSessionIPv6Address: microsoftSessionIPv6Address
          sessionPrefixV4: sessionPrefixV4
          microsoftSessionIPv4Address: microsoftSessionIPv4Address
          peerSessionIPv6Address: peerSessionIPv6Address
          maxPrefixesAdvertisedV4: 6
          sessionStateV6: None
          sessionStateV4: None
          maxPrefixesAdvertisedV6: 1
          sessionPrefixV6: sessionPrefixV6
        connectionIdentifier: connectionIdentifier
      properties:
        bgpSession:
          $ref: '#/components/schemas/BgpSession'
        connectionIdentifier:
          description: The unique identifier (GUID) for the connection.
          title: connectionIdentifier
          type: string
        connectionState:
          description: The state of the connection.
          enum:
          - None
          - PendingApproval
          - Approved
          - ProvisioningStarted
          - ProvisioningFailed
          - ProvisioningCompleted
          - Validating
          - Active
          readOnly: true
          title: connectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: connectionState
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility at which the connection
            has to be set up.
          format: int32
          title: peeringDBFacilityId
          type: integer
      title: ExchangeConnection
      type: object
    ExchangePeeringFacility:
      description: The properties that define an exchange peering facility.
      example:
[...]
