openapi: 3.0.1
info:
  title: WebApps API Client
  version: 2016-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-WebApps
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/sites:
    get:
      description: Get all apps for a subscription.
      operationId: WebApps_List
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_200_response'
          description: OK
      summary: Get all apps for a subscription.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites:
    get:
      description: "Gets all web, mobile, and API apps in the specified resource group."
      operationId: WebApps_ListByResourceGroup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Specify <strong>true</strong> to include deployment slots in\
          \ results. The default is false, which only gives you the production slot\
          \ of all apps."
        in: query
        name: includeSlots
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_200_response'
          description: OK
      summary: "Gets all web, mobile, and API apps in the specified resource group."
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}:
    delete:
      description: "Deletes a web, mobile, or API app, or one of the deployment slots."
      operationId: WebApps_Delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app to delete.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "If true, web app metrics are also deleted."
        in: query
        name: deleteMetrics
        schema:
          type: boolean
      - description: "Specify false if you want to keep empty App Service plan. By\
          \ default, empty App Service plan is deleted."
        in: query
        name: deleteEmptyServerFarm
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted web app.
        "204":
          content: {}
          description: Successfully deleted web app.
        "404":
          content: {}
          description: Web app not found.
      summary: "Deletes a web, mobile, or API app, or one of the deployment slots."
      tags:
      - WebApps
      x-accepts:
      - application/json
    get:
      description: "Gets the details of a web, mobile, or API app."
      operationId: WebApps_Get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "404":
          content: {}
          description: Not found.
      summary: "Gets the details of a web, mobile, or API app."
      tags:
      - WebApps
      x-accepts:
      - application/json
    patch:
      description: "Creates a new web, mobile, or API app in an existing resource\
        \ group, or updates an existing app."
      operationId: WebApps_Update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Unique name of the app to create or update. To create or update\
          \ a deployment slot, use the {slot} parameter."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitePatchResource'
        description: A JSON representation of the app properties. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: Asynchronous operation in progress.
      summary: "Creates a new web, mobile, or API app in an existing resource group,\
        \ or updates an existing app."
      tags:
      - WebApps
      x-codegen-request-body-name: siteEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Creates a new web, mobile, or API app in an existing resource\
        \ group, or updates an existing app."
      operationId: WebApps_CreateOrUpdate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Unique name of the app to create or update. To create or update\
          \ a deployment slot, use the {slot} parameter."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_Get_200_response'
        description: A JSON representation of the app properties. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: Asynchronous operation in progress.
      summary: "Creates a new web, mobile, or API app in an existing resource group,\
        \ or updates an existing app."
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: siteEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname:
    get:
      description: Analyze a custom hostname.
      operationId: WebApps_AnalyzeCustomHostname
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Custom hostname.
        in: query
        name: hostName
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHostnameAnalysisResult'
          description: OK
      summary: Analyze a custom hostname.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig:
    post:
      description: Applies the configuration settings from the target slot onto the
        current slot.
      operationId: WebApps_ApplySlotConfigToProduction
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmSlotEntity'
        description: JSON object that contains the target slot name. See example.
        required: true
      responses:
        "200":
          content: {}
          description: OK.
      summary: Applies the configuration settings from the target slot onto the current
        slot.
      tags:
      - WebApps
      x-codegen-request-body-name: slotSwapEntity
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup:
    post:
      description: Creates a backup of an app.
      operationId: WebApps_Backup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Backup configuration. You can use the JSON response from the
          POST action as input here.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
      summary: Creates a backup of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups:
    get:
      description: Gets existing backups of an app.
      operationId: WebApps_ListBackups
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItemCollection'
          description: OK
      summary: Gets existing backups of an app.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/discover:
    put:
      description: Discovers an existing app backup that can be restored from a blob
        in Azure storage.
      operationId: WebApps_DiscoverRestore
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequest'
        description: A RestoreRequest object that includes Azure storage URL and blog
          name for discovery of backup.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreRequest'
          description: OK
      summary: Discovers an existing app backup that can be restored from a blob in
        Azure storage.
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}:
    delete:
      description: Deletes a backup of an app by its ID.
      operationId: WebApps_DeleteBackup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted web app backup item.
        "404":
          content: {}
          description: Web app backup item does not exist.
      summary: Deletes a backup of an app by its ID.
      tags:
      - WebApps
      x-accepts:
      - application/json
    get:
      description: Gets a backup of an app by its ID.
      operationId: WebApps_GetBackupStatus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
      summary: Gets a backup of an app by its ID.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/list:
    post:
      description: "Gets status of a web app backup that may be in progress, including\
        \ secrets associated with the backup, such as the Azure Storage SAS URL. Also\
        \ can be used to update the SAS URL for the backup if a new URL is passed\
        \ in the request body."
      operationId: WebApps_ListBackupStatusSecrets
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Information on backup request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
      summary: "Gets status of a web app backup that may be in progress, including\
        \ secrets associated with the backup, such as the Azure Storage SAS URL. Also\
        \ can be used to update the SAS URL for the backup if a new URL is passed\
        \ in the request body."
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/restore
  : post:
      description: "Restores a specific backup to another app (or deployment slot,\
        \ if specified)."
      operationId: WebApps_Restore
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequest'
        description: Information on restore request .
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreResponse'
          description: OK
      summary: "Restores a specific backup to another app (or deployment slot, if\
        \ specified)."
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config:
    get:
      description: List the configurations of an app
      operationId: WebApps_ListConfigurations
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResourceCollection'
          description: OK
      summary: List the configurations of an app
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings:
    put:
      description: Replaces the application settings of an app.
      operationId: WebApps_UpdateApplicationSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StringDictionary'
        description: Application settings of the app.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
      summary: Replaces the application settings of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: appSettings
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings/list:
    post:
      description: Gets the application settings of an app.
      operationId: WebApps_ListApplicationSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
      summary: Gets the application settings of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings:
    put:
      description: Updates the Authentication / Authorization settings associated
        with web app.
      operationId: WebApps_UpdateAuthSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteAuthSettings'
        description: Auth settings associated with web app.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
          description: OK
      summary: Updates the Authentication / Authorization settings associated with
        web app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteAuthSettings
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings/list
  : post:
      description: Gets the Authentication/Authorization settings of an app.
      operationId: WebApps_GetAuthSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
          description: OK
      summary: Gets the Authentication/Authorization settings of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup:
    delete:
      description: Deletes the backup configuration of an app.
      operationId: WebApps_DeleteBackupConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted backup configuration.
      summary: Deletes the backup configuration of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
    put:
      description: Updates the backup configuration of an app.
      operationId: WebApps_UpdateBackupConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Edited backup configuration.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
          description: OK
      summary: Updates the backup configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup/list:
    post:
      description: Gets the backup configuration of an app.
      operationId: WebApps_GetBackupConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
          description: OK
      summary: Gets the backup configuration of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings
  : put:
      description: Replaces the connection strings of an app.
      operationId: WebApps_UpdateConnectionStrings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionStringDictionary'
        description: Connection strings of the app or deployment slot. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
          description: OK
      summary: Replaces the connection strings of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: connectionStrings
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings/list
  : post:
      description: Gets the connection strings of an app.
      operationId: WebApps_ListConnectionStrings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
          description: OK
      summary: Gets the connection strings of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/logs:
    get:
      description: Gets the logging configuration of an app.
      operationId: WebApps_GetDiagnosticLogsConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
          description: OK
      summary: Gets the logging configuration of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
    put:
      description: Updates the logging configuration of an app.
      operationId: WebApps_UpdateDiagnosticLogsConfig
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteLogsConfig'
        description: A SiteLogsConfig JSON object that contains the logging configuration
          to change in the "properties" property.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
          description: OK
      summary: Updates the logging configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteLogsConfig
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata:
    put:
      description: Replaces the metadata of an app.
      operationId: WebApps_UpdateMetadata
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StringDictionary'
        description: Edited metadata of the app or deployment slot. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
      summary: Replaces the metadata of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata/list:
    post:
      description: Gets the metadata of an app.
      operationId: WebApps_ListMetadata
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
      summary: Gets the metadata of an app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/publishingcredentials/list
  : post:
      description: Gets the Git/FTP publishing credentials of an app.
      operationId: WebApps_ListPublishingCredentials
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_ListPublishingCredentials_200_response'
          description: OK
      summary: Gets the Git/FTP publishing credentials of an app.
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings:
    put:
      description: Updates the Push settings associated with web app.
      operationId: WebApps_UpdateSitePushSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
        description: Push settings associated with web app.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
          description: OK
      summary: Updates the Push settings associated with web app.
      tags:
      - WebApps
      x-codegen-request-body-name: pushSettings
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings/list
  : post:
      description: Gets the Push settings associated with web app.
      operationId: WebApps_ListSitePushSettings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
          description: OK
      summary: Gets the Push settings associated with web app.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/slotConfigNames:
    get:
      description: Gets the names of app settings and connection strings that stick
        to the slot (not swapped).
      operationId: WebApps_ListSlotConfigurationNames
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
          description: OK
      summary: Gets the names of app settings and connection strings that stick to
        the slot (not swapped).
      tags:
      - WebApps
      x-accepts:
      - application/json
    put:
      description: Updates the names of application settings and connection string
        that remain with the slot during swap operation.
      operationId: WebApps_UpdateSlotConfigurationNames
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigNamesResource'
        description: Names of application settings and connection strings. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
          description: OK
      summary: Updates the names of application settings and connection string that
        remain with the slot during swap operation.
      tags:
      - WebApps
      x-codegen-request-body-name: slotConfigNames
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web:
    get:
      description: "Gets the configuration of an app, such as platform version and\
        \ bitness, default documents, virtual applications, Always On, etc."
      operationId: WebApps_GetConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
      summary: "Gets the configuration of an app, such as platform version and bitness,\
        \ default documents, virtual applications, Always On, etc."
      tags:
      - WebApps
      x-accepts:
      - application/json
    patch:
      description: Updates the configuration of an app.
      operationId: WebApps_UpdateConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
      summary: Updates the configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteConfig
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates the configuration of an app.
      operationId: WebApps_CreateOrUpdateConfiguration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
      summary: Updates the configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteConfig
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots:
    get:
      description: Gets a list of web app configuration snapshots identifiers. Each
        element of the list contains a timestamp and the ID of the snapshot.
      operationId: WebApps_ListConfigurationSnapshotInfo
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationSnapshotInfoCollection'
          description: OK
      summary: Gets a list of web app configuration snapshots identifiers. Each element
        of the list contains a timestamp and the ID of the snapshot.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}
  : get:
      description: Gets a snapshot of the configuration of an app at a previous point
        in time.
      operationId: WebApps_GetConfigurationSnapshot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the snapshot to read.
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
      summary: Gets a snapshot of the configuration of an app at a previous point
        in time.
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}/recover
  : post:
      description: Reverts the configuration of an app to a previous snapshot.
      operationId: WebApps_RecoverSiteConfigurationSnapshot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the snapshot to read.
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Reverts the configuration of an app to a previous snapshot.
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs:
    post:
      description: Gets the last lines of docker logs for the given site
      operationId: WebApps_GetWebSiteContainerLogs
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "204":
          content: {}
          description: No Content
      summary: Gets the last lines of docker logs for the given site
      tags:
      - WebApps
      x-accepts:
      - application/octet-stream
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs/zip/download
  : post:
      description: Gets the ZIP archived docker log files for the given site
      operationId: WebApps_GetWebSiteContainerLogsZip
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: OK
        "204":
          content: {}
          description: No Content
      summary: Gets the ZIP archived docker log files for the given site
      tags:
      - WebApps
      x-accepts:
      - application/zip
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs:
    get:
      description: "List continuous web jobs for an app, or a deployment slot."
      operationId: WebApps_ListContinuousWebJobs
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJobCollection'
          description: OK
      summary: "List continuous web jobs for an app, or a deployment slot."
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}
  : delete:
      description: "Delete a continuous web job by its ID for an app, or a deployment\
        \ slot."
      operationId: WebApps_DeleteContinuousWebJob
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted continuous web job.
        "204":
          content: {}
          description: Continuous web job does not exist.
      summary: "Delete a continuous web job by its ID for an app, or a deployment\
        \ slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
    get:
      description: "Gets a continuous web job by its ID for an app, or a deployment\
        \ slot."
      operationId: WebApps_GetContinuousWebJob
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJob'
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
      summary: "Gets a continuous web job by its ID for an app, or a deployment slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/start
  : post:
      description: "Start a continuous web job for an app, or a deployment slot."
      operationId: WebApps_StartContinuousWebJob
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
      summary: "Start a continuous web job for an app, or a deployment slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/stop
  : post:
      description: "Stop a continuous web job for an app, or a deployment slot."
      operationId: WebApps_StopContinuousWebJob
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
      summary: "Stop a continuous web job for an app, or a deployment slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments:
    get:
      description: "List deployments for an app, or a deployment slot."
      operationId: WebApps_ListDeployments
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentCollection'
          description: OK
      summary: "List deployments for an app, or a deployment slot."
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}:
    delete:
      description: "Delete a deployment by its ID for an app, or a deployment slot."
      operationId: WebApps_DeleteDeployment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Deployment ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted deployment.
        "204":
          content: {}
          description: Deployment does not exist.
      summary: "Delete a deployment by its ID for an app, or a deployment slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
    get:
      description: "Get a deployment by its ID for an app, or a deployment slot."
      operationId: WebApps_GetDeployment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Deployment ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: OK
      summary: "Get a deployment by its ID for an app, or a deployment slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
    put:
      description: "Create a deployment for an app, or a deployment slot."
      operationId: WebApps_CreateDeployment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of an existing deployment.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Deployment details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: OK
      summary: "Create a deployment for an app, or a deployment slot."
      tags:
      - WebApps
      x-codegen-request-body-name: deployment
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}/log:
    get:
      description: "List deployment log for specific deployment for an app, or a deployment\
        \ slot."
      operationId: WebApps_ListDeploymentLog
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of a specific deployment. This is the value of the name\
          \ property in the JSON response from \"GET /api/sites/{siteName}/deployments\"\
          ."
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: OK
      summary: "List deployment log for specific deployment for an app, or a deployment\
        \ slot."
      tags:
      - WebApps
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers
  : get:
      description: Lists ownership identifiers for domain associated with web app.
      operationId: WebApps_ListDomainOwnershipIdentifiers
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_ListDomainOwnershipIdentifiers_200_response'
          description: OK
      summary: Lists ownership identifiers for domain associated with web app.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers/{domainOwnershipIdentifierName}
  : delete:
      description: Deletes a domain ownership identifier for a web app.
      operationId: WebApps_DeleteDomainOwnershipIdentifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of domain ownership identifier.
        in: path
        name: domainOwnershipIdentifierName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted domain ownership identifier.
        "204":
          content: {}
          description: Domain ownership identifier does not exist.
      summary: Deletes a domain ownership identifier for a web app.
      tags:
      - WebApps
      x-accepts:
      - application/json
    get:
      description: Get domain ownership identifier for web app.
      operationId: WebApps_GetDomainOwnershipIdentifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of domain ownership identifier.
        in: path
        name: domainOwnershipIdentifierName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_GetDomainOwnershipIdentifier_200_response'
          description: OK
      summary: Get domain ownership identifier for web app.
      tags:
      - WebApps
      x-accepts:
      - application/json
    patch:
      description: "Creates a domain ownership identifier for web app, or updates\
        \ an existing ownership identifier."
      operationId: WebApps_UpdateDomainOwnershipIdentifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of domain ownership identifier.
        in: path
        name: domainOwnershipIdentifierName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_GetDomainOwnershipIdentifier_200_response'
        description: A JSON representation of the domain ownership properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_GetDomainOwnershipIdentifier_200_response'
          description: OK
      summary: "Creates a domain ownership identifier for web app, or updates an existing\
        \ ownership identifier."
      tags:
      - WebApps
      x-codegen-request-body-name: domainOwnershipIdentifier
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Creates a domain ownership identifier for web app, or updates\
        \ an existing ownership identifier."
      operationId: WebApps_CreateOrUpdateDomainOwnershipIdentifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of domain ownership identifier.
        in: path
        name: domainOwnershipIdentifierName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_GetDomainOwnershipIdentifier_200_response'
        description: A JSON representation of the domain ownership properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_GetDomainOwnershipIdentifier_200_response'
          description: OK
      summary: "Creates a domain ownership identifier for web app, or updates an existing\
        \ ownership identifier."
      tags:
      - WebApps
      x-codegen-request-body-name: domainOwnershipIdentifier
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/extensions/MSDeploy:
    get:
      description: Get the status of the last MSDeploy operation.
      operationId: WebApps_GetMSDeployStatus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSDeployStatus'
          description: OK
      summary: Get the status of the last MSDeploy operation.
      tags:
      - WebApps
      x-accepts:
      - application/json
    put:
      description: Invoke the MSDeploy web app extension.
      operationId: WebApps_CreateMSDeployOperation
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSDeploy'
        description: Details of MSDeploy operation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSDeployStatus'
          description: Deployment is scheduled.
        "409":
          content: {}
          description: Another deployment is in progress.
      summary: Invoke the MSDeploy web app extension.
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: MSDeploy
      x-content-type: application/json
      x-accepts:
      - application/json
[...]
