openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2016-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRulesIncidents_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-alertRulesIncidents_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents:
    get:
      description: Gets a list of incidents associated to an alert rule
      operationId: AlertRuleIncidents_ListByAlertRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentListResult'
          description: Successful request for a list of alert rule related incidents
      tags:
      - AlertRuleIncidents
      x-ms-examples:
        List alert rule incidents:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Rac46PostSwapRG
            ruleName: myRuleName
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                value:
                - activatedTime: 2017-09-13T15:45:26.9792776Z
                  isActive: true
                  name: Website_started
                  resolvedTime: 2017-09-13T22:14:28.9792776Z
                  ruleName: myRuleName
              headers: {}
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents/{incidentName}
  : get:
      description: Gets an incident associated to an alert rule
      operationId: AlertRuleIncidents_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the incident to retrieve.
        in: path
        name: incidentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
          description: Successful request for one alert rule related incident
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AlertRuleIncidents
      x-ms-examples:
        Get a single alert rule incident:
          parameters:
            api-version: 2016-03-01
            incidentName: Website_started
            resourceGroupName: Rac46PostSwapRG
            ruleName: myRuleName
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                activatedTime: 2017-09-13T15:45:26.9792776Z
                isActive: true
                name: Website_started
                resolvedTime: 2017-09-13T22:14:28.9792776Z
                ruleName: myRuleName
              headers: {}
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RuleNameParameter:
      description: The name of the rule.
      in: path
      name: ruleName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Incident:
      description: An alert incident indicates the activation status of an alert rule.
      example:
        activatedTime: 2000-01-23T04:56:07.000+00:00
        resolvedTime: 2000-01-23T04:56:07.000+00:00
        name: name
        ruleName: ruleName
        isActive: true
      properties:
        activatedTime:
          description: The time at which the incident was activated in ISO8601 format.
          format: date-time
          readOnly: true
          type: string
        isActive:
          description: A boolean to indicate whether the incident is active or resolved.
          readOnly: true
          type: boolean
        name:
          description: Incident name.
          readOnly: true
          type: string
        resolvedTime:
          description: "The time at which the incident was resolved in ISO8601 format.\
            \ If null, it means the incident is still active."
          format: date-time
          readOnly: true
          type: string
        ruleName:
          description: Rule name that is associated with the incident.
          readOnly: true
          type: string
      type: object
    IncidentListResult:
      description: The List incidents operation response.
      example:
        value:
        - activatedTime: 2000-01-23T04:56:07.000+00:00
          resolvedTime: 2000-01-23T04:56:07.000+00:00
          name: name
          ruleName: ruleName
          isActive: true
        - activatedTime: 2000-01-23T04:56:07.000+00:00
          resolvedTime: 2000-01-23T04:56:07.000+00:00
          name: name
          ruleName: ruleName
          isActive: true
      properties:
        value:
          description: the incident collection.
          items:
            $ref: '#/components/schemas/Incident'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

