openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "CFB schedules, scores, team stats, odds, weather, and news API."
  title: CFB v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/cfb-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: cfb-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/cfb/scores
- url: https://azure-api.sportsdata.io/v3/cfb/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: integer
          description: ""
      summary: Current Season
      x-accepts:
      - application/json
  /{format}/CurrentSeasonDetails:
    get:
      operationId: CurrentSeasonDetails
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season Details
      x-accepts:
      - application/json
  /{format}/CurrentSeasonType:
    get:
      operationId: CurrentSeasontype
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: string
          description: ""
      summary: Current SeasonType
      x-accepts:
      - application/json
  /{format}/CurrentWeek:
    get:
      operationId: CurrentWeek
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Current Week
      x-accepts:
      - application/json
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          The date of the game(s).\n          <br>Examples:\
          \ <code>2016-SEP-01</code>, <code>2017-SEP-10</code>.\n        "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/GamesByWeek/{season}/{week}:
    get:
      operationId: GamesByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season.\n          <br>Examples: <code>2015</code>,\
          \ <code>2016</code>, etc.\n        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          The week of the game(s).\n          <br>Examples:\
          \ <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Week
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured college football\
        \ players, along with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/LeagueHierarchy:
    get:
      operationId: ConferenceHierarchyWithTeams
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conference'
                type: array
          description: ""
      summary: Conference Hierarchy (with Teams)
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Unique FantasyData Player ID.\n          Example:<code>50002016</code>.\n\
          \        "
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details By Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details By Active
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayerDetailsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          The abbreviation of the requested team.\n      \
          \    <br>Examples: <code>SF</code>, <code>NYY</code>.\n        "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Team
      x-accepts:
      - application/json
  /{format}/PlayersBasic/{team}:
    get:
      operationId: PlayersByTeamBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          The abbreviation of the requested team.\n      \
          \    <br>Examples: <code>SF</code>, <code>NYY</code>.\n        "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerBasic'
                type: array
          description: ""
      summary: Players by Team (Basic)
      x-accepts:
      - application/json
  /{format}/SchedulesBasic/{season}:
    get:
      operationId: SchedulesBasic
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedules (Basic)
      x-accepts:
      - application/json
  /{format}/ScoresBasic/{season}/{week}:
    get:
      operationId: GamesByWeekBasic
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season.\n          <br>Examples: <code>2015</code>,\
          \ <code>2016</code>, etc.\n        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          The week of the game(s).\n          <br>Examples:\
          \ <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: Games by Week (Basic)
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>\
          \        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 1 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamGameStatsByWeek/{season}/{week}:
    get:
      operationId: TeamGameStatsByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season.\n          <br>Examples: <code>2015</code>,\
          \ <code>2016</code>, etc.\n        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          The week of the game(s).\n          <br>Examples:\
          \ <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Week
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStatsStandings
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2017</code>, <code>2017POST</code>, <code>2018</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats & Standings
      x-accepts:
      - application/json
  /{format}/Teams:
    get:
      operationId: Teams
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-accepts:
      - application/json
  /{format}/TeamsBasic:
    get:
      operationId: TeamsBasic
      parameters:
      - description: Desired response format. Valid entries are <code>xml</code> or
          <code>json</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamBasic'
                type: array
          description: ""
      summary: Teams (Basic)
      x-accepts:
      - application/json
components:
  schemas:
    Conference:
      example:
        DivisionName: DivisionName
        Teams:
        - RankSeason: 2
          RankSeasonType: 4
          ConferenceLosses: 5
          CoachesRank: 1
          ApRank: 6
          GlobalTeamID: 7
          TeamID: 1
          Conference: Conference
          Name: Name
          StadiumID: 1
          Active: true
          PlayoffRank: 3
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 9
          ShortDisplayName: ShortDisplayName
          ConferenceID: 5
          ConferenceWins: 2
          Key: Key
          RankWeek: 7
          Wins: 1
        - RankSeason: 2
          RankSeasonType: 4
          ConferenceLosses: 5
          CoachesRank: 1
          ApRank: 6
          GlobalTeamID: 7
          TeamID: 1
          Conference: Conference
          Name: Name
          StadiumID: 1
          Active: true
          PlayoffRank: 3
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 9
          ShortDisplayName: ShortDisplayName
          ConferenceID: 5
          ConferenceWins: 2
          Key: Key
          RankWeek: 7
          Wins: 1
        ConferenceID: 0
        ConferenceName: ConferenceName
        Name: Name
      properties:
        ConferenceID:
          nullable: false
          type: integer
        ConferenceName:
          nullable: true
          type: string
        DivisionName:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Teams:
          items:
            $ref: '#/components/schemas/Team'
          type: array
    Game:
      example:
        Stadium:
          Active: true
          Dome: true
          GeoLat: 6.965117697638846
          State: State
          GeoLong: 1.284659006116532
          City: City
          Name: Name
          StadiumID: 2
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 1
        HomeTeamMoneyLine: 6
        YardLineTerritory: YardLineTerritory
        HomeTeamID: 1
        AwayTeamID: 5
        IsClosed: true
        DateTime: DateTime
        AwayTeamName: AwayTeamName
        Created: Created
        HomePointSpreadPayout: 1
        TimeRemainingSeconds: 5
        UnderPayout: 6
        GlobalHomeTeamID: 7
        Season: 6
        YardLine: 3
        Distance: 7
        GameID: 3
        GlobalGameID: 4
        OverPayout: 1
        Attendance: 0
        Status: Status
        Down: 9
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 6
        Channel: Channel
        Period: Period
        Title: Title
        OverUnder: 4.965218492984954
        HomeTeamName: HomeTeamName
        NeutralVenue: true
        StadiumID: 6
        Periods:
        - HomeScore: 9
          Number: 6
          AwayScore: 5
          PeriodID: 8
          GameID: 9
          Name: Name
        - HomeScore: 9
          Number: 6
          AwayScore: 5
          PeriodID: 8
          GameID: 9
          Name: Name
        SeasonType: 3
        HomeTeamScore: 7
        PointSpread: 9.018348186070783
        Possession: Possession
        AwayRotationNumber: 1
        AwayPointSpreadPayout: 6
        AwayTeamScore: 2
        GlobalAwayTeamID: 2
        DateTimeUTC: DateTimeUTC
        AwayTeamMoneyLine: 5
        Day: Day
        Week: 3
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayPointSpreadPayout:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamName:
          nullable: true
          type: string
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        Created:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Distance:
          nullable: true
          type: integer
        Down:
          nullable: true
          type: integer
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomePointSpreadPayout:
          nullable: true
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamName:
          nullable: true
          type: string
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PointSpread:
          nullable: true
          type: number
        Possession:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Stadium:
          $ref: '#/components/schemas/Stadium'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        Title:
          nullable: true
          type: string
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
        YardLine:
          nullable: true
          type: integer
        YardLineTerritory:
          nullable: true
          type: string
    Period:
      example:
        HomeScore: 9
        Number: 6
        AwayScore: 5
        PeriodID: 8
        GameID: 9
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        PeriodID:
          nullable: false
          type: integer
    Player:
      example:
        PlayerID: 5
        InjuryStartDate: InjuryStartDate
        Updated: Updated
        Position: Position
        FirstName: FirstName
        PositionCategory: PositionCategory
        GlobalTeamID: 0
        BirthState: BirthState
        TeamID: 5
        InjuryBodyPart: InjuryBodyPart
        InjuryStatus: InjuryStatus
        Weight: 2
        Created: Created
        InjuryNotes: InjuryNotes
        BirthCity: BirthCity
        Class: Class
        Height: 6
        Team: Team
        Jersey: 1
        LastName: LastName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Class:
          nullable: true
          type: string
        Created:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Weight:
          nullable: true
          type: integer
    PlayerBasic:
      example:
        PlayerID: 5
        Updated: Updated
        Position: Position
        FirstName: FirstName
        PositionCategory: PositionCategory
        GlobalTeamID: 0
        BirthState: BirthState
        TeamID: 5
        Weight: 2
        Created: Created
        BirthCity: BirthCity
        Class: Class
        Height: 6
        Team: Team
        Jersey: 1
        LastName: LastName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Class:
          nullable: true
          type: string
        Created:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Weight:
          nullable: true
          type: integer
    ScheduleBasic:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeamID: 7
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        AwayTeamName: AwayTeamName
        Created: Created
        GlobalHomeTeamID: 2
        Season: 3
        GameID: 1
        GlobalGameID: 5
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        Title: Title
        HomeTeamName: HomeTeamName
        NeutralVenue: true
        StadiumID: 4
        SeasonType: 2
        HomeTeamScore: 9
        AwayTeamScore: 6
        GlobalAwayTeamID: 5
        DateTimeUTC: DateTimeUTC
        Day: Day
        Week: 7
      properties:
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamName:
          nullable: true
          type: string
        AwayTeamScore:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamName:
          nullable: true
          type: string
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
    Season:
      example:
        Description: Description
        EndYear: 6
        StartYear: 5
        ApiWeek: 0
        ApiSeason: ApiSeason
        Season: 1
      properties:
        ApiSeason:
          nullable: true
          type: string
        ApiWeek:
          nullable: true
          type: integer
        Description:
          nullable: true
          type: string
        EndYear:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        StartYear:
          nullable: false
          type: integer
    Stadium:
      example:
        Active: true
        Dome: true
        GeoLat: 6.965117697638846
        State: State
        GeoLong: 1.284659006116532
        City: City
        Name: Name
        StadiumID: 2
      properties:
        Active:
          nullable: false
          type: boolean
        City:
          nullable: true
          type: string
        Dome:
          nullable: false
          type: boolean
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
    Team:
      example:
        RankSeason: 2
        RankSeasonType: 4
        ConferenceLosses: 5
        CoachesRank: 1
        ApRank: 6
        GlobalTeamID: 7
        TeamID: 1
        Conference: Conference
        Name: Name
        StadiumID: 1
        Active: true
        PlayoffRank: 3
        School: School
        TeamLogoUrl: TeamLogoUrl
        Losses: 9
        ShortDisplayName: ShortDisplayName
        ConferenceID: 5
        ConferenceWins: 2
        Key: Key
        RankWeek: 7
        Wins: 1
      properties:
        Active:
          nullable: false
          type: boolean
        ApRank:
          nullable: true
          type: integer
        CoachesRank:
          nullable: true
          type: integer
        Conference:
          nullable: true
          type: string
        ConferenceID:
          nullable: true
          type: integer
        ConferenceLosses:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        Losses:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayoffRank:
          nullable: true
          type: integer
        RankSeason:
          nullable: true
          type: integer
        RankSeasonType:
          nullable: true
          type: integer
        RankWeek:
          nullable: true
          type: integer
        School:
          nullable: true
          type: string
        ShortDisplayName:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        TeamID:
          nullable: false
          type: integer
        TeamLogoUrl:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
    TeamBasic:
      example:
        Active: true
        School: School
        TeamLogoUrl: TeamLogoUrl
        ShortDisplayName: ShortDisplayName
        ConferenceID: 0
        GlobalTeamID: 6
        TeamID: 5
        Conference: Conference
        Key: Key
        Name: Name
        StadiumID: 1
      properties:
        Active:
          nullable: false
          type: boolean
        Conference:
          nullable: true
          type: string
        ConferenceID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        School:
          nullable: true
          type: string
        ShortDisplayName:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        TeamID:
          nullable: false
          type: integer
        TeamLogoUrl:
          nullable: true
          type: string
    TeamGame:
      example:
        FumblesRecovered: 1.4894159098541704
        PassingYardsPerAttempt: 7.058770351582356
        RushingTouchdowns: 0.5199002018724985
        FieldGoalsLongestMade: 7.061401241503109
        FourthDownConversions: 4
        ReceivingTouchdowns: 1.041444916118296
        Receptions: 9.132027271330688
        GlobalTeamID: 5
        PenaltyYards: 4
        DateTime: DateTime
        Name: Name
        Penalties: 0
        ReceivingYardsPerReception: 7.260521264802104
        PuntLong: 7.740351818741173
        ReceivingLong: 4.258773108174356
        RushingAttempts: 0.8774076871421566
        ThirdDownConversions: 6
        KickReturns: 6.965117697638846
        AssistedTackles: 0.8008281904610115
        Fumbles: 1.2315135367772556
        GameID: 6
        InterceptionReturnTouchdowns: 9.965781217890562
        Updated: Updated
        TacklesForLoss: 2.9409642974827896
        FieldGoalPercentage: 5.637376656633329
        PassingAttempts: 6.878052220127876
        PassingTouchdowns: 7.143538047012306
        KickReturnTouchdowns: 9.018348186070783
        PassingInterceptions: 3.353193347011243
        OpponentID: 1
        PuntReturnYardsPerAttempt: 5.533258397034986
        PuntYards: 4.078845849666752
        PuntReturns: 3.2588565619047607
        Score: 6
        Punts: 0.2025324113236393
        Games: 7
        TimeOfPossessionMinutes: 4
        ExtraPointsMade: 1.4658129805029452
        StatID: 0
        Week: 9
        PassesDefended: 6.778324963048013
        InterceptionReturnYards: 9.369310271410669
        KickReturnYards: 6.438423552598547
        FumbleReturnTouchdowns: 7.386281948385884
        IsGameOver: true
        PuntReturnTouchdowns: 3.0576100241049344
        TeamID: 1
        ExtraPointsAttempted: 6.027456183070403
        PuntReturnYards: 7.04836565559697
        Created: Created
        SoloTackles: 3.901545264248647
        KickReturnLong: 8.762042012749001
        FieldGoalsAttempted: 2.3021358869347655
        KickReturnYardsPerAttempt: 3.5571952270680973
        RushingYardsPerAttempt: 5.507386964179881
        GlobalOpponentID: 4
        Opponent: Opponent
        Team: Team
        TimeOfPossessionSeconds: 8
        FirstDowns: 3
        Season: 8
        QuarterbackHurries: 6.628464275087742
        PassingCompletionPercentage: 5.944895607614016
        FourthDownAttempts: 2
        GlobalGameID: 1
        FantasyPoints: 5.962133916683182
        Sacks: 4.86315908102884
        PassingRating: 3.0937452626664474
        ThirdDownAttempts: 8
        ReceivingYards: 4.678947989005849
        HomeOrAway: HomeOrAway
        Interceptions: 6.683562403749608
        PassingYards: 0.8851374739011653
        SeasonType: 4
        PassingCompletions: 6.704019297950036
        RushingYards: 7.933506881737151
        FieldGoalsMade: 9.301444243932576
        FumblesLost: 1.0246457001441578
        RushingLong: 9.702963800023566
        PuntAverage: 8.969578798196912
        Day: Day
        OpponentScore: 2
        PuntReturnLong: 3.0205796992916243
        PassingYardsPerCompletion: 6.519180951018382
      properties:
        AssistedTackles:
          nullable: true
          type: number
        Created:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        ExtraPointsAttempted:
          nullable: true
          type: number
        ExtraPointsMade:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FieldGoalPercentage:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: number
        FieldGoalsLongestMade:
          nullable: true
          type: number
        FieldGoalsMade:
          nullable: true
          type: number
        FirstDowns:
          nullable: true
          type: integer
        FourthDownAttempts:
          nullable: true
          type: integer
        FourthDownConversions:
          nullable: true
          type: integer
        FumbleReturnTouchdowns:
          nullable: true
          type: number
        Fumbles:
          nullable: true
          type: number
        FumblesLost:
          nullable: true
          type: number
        FumblesRecovered:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        InterceptionReturnTouchdowns:
          nullable: true
          type: number
        InterceptionReturnYards:
          nullable: true
          type: number
        Interceptions:
          nullable: true
          type: number
        IsGameOver:
          nullable: false
          type: boolean
        KickReturnLong:
          nullable: true
          type: number
        KickReturnTouchdowns:
          nullable: true
          type: number
        KickReturnYards:
          nullable: true
          type: number
        KickReturnYardsPerAttempt:
          nullable: true
          type: number
        KickReturns:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentScore:
          nullable: true
          type: integer
        PassesDefended:
          nullable: true
          type: number
        PassingAttempts:
          nullable: true
          type: number
        PassingCompletionPercentage:
          nullable: true
          type: number
        PassingCompletions:
          nullable: true
          type: number
        PassingInterceptions:
          nullable: true
          type: number
        PassingRating:
          nullable: true
          type: number
        PassingTouchdowns:
          nullable: true
          type: number
        PassingYards:
          nullable: true
          type: number
        PassingYardsPerAttempt:
          nullable: true
          type: number
        PassingYardsPerCompletion:
          nullable: true
          type: number
        Penalties:
          nullable: true
          type: integer
        PenaltyYards:
          nullable: true
          type: integer
        PuntAverage:
          nullable: true
          type: number
        PuntLong:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: true
          type: number
        PuntReturnTouchdowns:
          nullable: true
          type: number
        PuntReturnYards:
          nullable: true
          type: number
        PuntReturnYardsPerAttempt:
          nullable: true
          type: number
        PuntReturns:
          nullable: true
          type: number
        PuntYards:
          nullable: true
          type: number
        Punts:
          nullable: true
          type: number
        QuarterbackHurries:
          nullable: true
          type: number
        ReceivingLong:
          nullable: true
          type: number
        ReceivingTouchdowns:
          nullable: true
          type: number
        ReceivingYards:
          nullable: true
          type: number
        ReceivingYardsPerReception:
          nullable: true
          type: number
        Receptions:
          nullable: true
          type: number
        RushingAttempts:
          nullable: true
          type: number
        RushingLong:
          nullable: true
          type: number
        RushingTouchdowns:
          nullable: true
          type: number
        RushingYards:
          nullable: true
          type: number
        RushingYardsPerAttempt:
          nullable: true
          type: number
        Sacks:
          nullable: true
          type: number
        Score:
          nullable: true
          type: integer
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        SoloTackles:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThirdDownAttempts:
          nullable: true
          type: integer
        ThirdDownConversions:
          nullable: true
          type: integer
        TimeOfPossessionMinutes:
          nullable: true
          type: integer
        TimeOfPossessionSeconds:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
    TeamSeason:
      example:
        PointsAgainst: 5
        FumblesRecovered: 9.965781217890562
        DivisionRank: 7
        PassingYardsPerAttempt: 7.740351818741173
        RushingTouchdowns: 2.9409642974827896
        FieldGoalsLongestMade: 1.2315135367772556
        FourthDownConversions: 7
        PointsFor: 3
        ReceivingTouchdowns: 7.933506881737151
        Receptions: 6.073898085781152
        RoadLosses: 8
        GlobalTeamID: 6
        PenaltyYards: 7
        Name: Name
        Penalties: 3
        ReceivingYardsPerReception: 4.86315908102884
        PuntLong: 0.2025324113236393
        ReceivingLong: 0.5199002018724985
        RushingAttempts: 3.901545264248647
        ThirdDownConversions: 5
        KickReturns: 5.944895607614016
        AssistedTackles: 0.8008281904610115
        Wins: 3
        Fumbles: 4.965218492984954
        ConferencePointsAgainst: 1
        ConferenceRank: 5
        InterceptionReturnTouchdowns: 6.438423552598547
        Streak: 9
        Updated: Updated
        TacklesForLoss: 8.761432466225475
        FieldGoalPercentage: 4.145608029883936
        PassingAttempts: 7.143538047012306
        PassingTouchdowns: 4.652396432933246
        KickReturnTouchdowns: 2.8841621266687802
        PassingInterceptions: 6.519180951018382
        PuntReturnYardsPerAttempt: 4.678947989005849
        PuntYards: 9.132027271330688
        PuntReturns: 7.260521264802104
        Score: 4
        Losses: 6
        Punts: 0.8774076871421566
        Games: 9
        TimeOfPossessionMinutes: 8
        ExtraPointsMade: 3.616076749251911
        StatID: 3
        PassesDefended: 3.0937452626664474
        InterceptionReturnYards: 3.5571952270680973
        KickReturnYards: 6.778324963048013
        FumbleReturnTouchdowns: 1.1730742509559433
        PuntReturnTouchdowns: 4.258773108174356
        TeamID: 0
        ExtraPointsAttempted: 9.301444243932576
        PuntReturnYards: 1.041444916118296
        Created: Created
        SoloTackles: 1.8268702177058116
        KickReturnLong: 1.284659006116532
        FieldGoalsAttempted: 7.386281948385884
        RoadWins: 4
        KickReturnYardsPerAttempt: 6.878052220127876
        RushingYardsPerAttempt: 8.28965939814297
        HomeWins: 9
        Team: Team
        TimeOfPossessionSeconds: 7
        ConferenceWins: 2
        FirstDowns: 1
        Season: 8
        QuarterbackHurries: 9.702963800023566
        PassingCompletionPercentage: 0.8851374739011653
        FourthDownAttempts: 6
        ConferenceLosses: 6
        FantasyPoints: 2.027123023002322
        Sacks: 6.623518433804886
        PassingRating: 0.10263654006109402
        ThirdDownAttempts: 5
        ReceivingYards: 5.507386964179881
        Interceptions: 6.965117697638846
        PassingYards: 8.969578798196912
        ConferencePointsFor: 5
        SeasonType: 9
        PassingCompletions: 7.058770351582356
        RushingYards: 1.7325933120207193
        FieldGoalsMade: 1.0246457001441578
        FumblesLost: 5.025004791520295
        HomeLosses: 8
        RushingLong: 0.43431398824148815
        PuntAverage: 4.078845849666752
        OpponentScore: 3
        PuntReturnLong: 6.628464275087742
        PassingYardsPerCompletion: 3.0205796992916243
      properties:
        AssistedTackles:
          nullable: true
          type: number
        ConferenceLosses:
          nullable: true
          type: integer
        ConferencePointsAgainst:
          nullable: true
          type: integer
        ConferencePointsFor:
          nullable: true
          type: integer
        ConferenceRank:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        DivisionRank:
          nullable: true
          type: integer
        ExtraPointsAttempted:
          nullable: true
          type: number
        ExtraPointsMade:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FieldGoalPercentage:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: number
        FieldGoalsLongestMade:
          nullable: true
          type: number
        FieldGoalsMade:
          nullable: true
          type: number
        FirstDowns:
          nullable: true
          type: integer
        FourthDownAttempts:
          nullable: true
          type: integer
        FourthDownConversions:
          nullable: true
          type: integer
        FumbleReturnTouchdowns:
          nullable: true
          type: number
        Fumbles:
          nullable: true
          type: number
        FumblesLost:
          nullable: true
          type: number
        FumblesRecovered:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeLosses:
          nullable: true
          type: integer
        HomeWins:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: true
          type: number
        InterceptionReturnYards:
          nullable: true
          type: number
        Interceptions:
          nullable: true
          type: number
        KickReturnLong:
          nullable: true
          type: number
        KickReturnTouchdowns:
          nullable: true
          type: number
        KickReturnYards:
          nullable: true
          type: number
        KickReturnYardsPerAttempt:
          nullable: true
          type: number
        KickReturns:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OpponentScore:
          nullable: true
          type: integer
        PassesDefended:
          nullable: true
          type: number
        PassingAttempts:
          nullable: true
          type: number
        PassingCompletionPercentage:
          nullable: true
          type: number
        PassingCompletions:
          nullable: true
          type: number
        PassingInterceptions:
          nullable: true
          type: number
        PassingRating:
          nullable: true
          type: number
        PassingTouchdowns:
          nullable: true
          type: number
        PassingYards:
          nullable: true
          type: number
        PassingYardsPerAttempt:
          nullable: true
          type: number
        PassingYardsPerCompletion:
          nullable: true
          type: number
        Penalties:
          nullable: true
          type: integer
        PenaltyYards:
          nullable: true
          type: integer
        PointsAgainst:
          nullable: true
          type: integer
        PointsFor:
          nullable: true
          type: integer
        PuntAverage:
          nullable: true
          type: number
        PuntLong:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: true
          type: number
        PuntReturnTouchdowns:
          nullable: true
          type: number
        PuntReturnYards:
          nullable: true
          type: number
        PuntReturnYardsPerAttempt:
          nullable: true
          type: number
        PuntReturns:
          nullable: true
          type: number
        PuntYards:
          nullable: true
          type: number
        Punts:
          nullable: true
          type: number
        QuarterbackHurries:
          nullable: true
          type: number
        ReceivingLong:
          nullable: true
          type: number
        ReceivingTouchdowns:
          nullable: true
          type: number
        ReceivingYards:
          nullable: true
          type: number
        ReceivingYardsPerReception:
          nullable: true
          type: number
        Receptions:
          nullable: true
          type: number
        RoadLosses:
          nullable: true
          type: integer
        RoadWins:
          nullable: true
          type: integer
        RushingAttempts:
          nullable: true
          type: number
        RushingLong:
          nullable: true
          type: number
        RushingTouchdowns:
          nullable: true
          type: number
        RushingYards:
          nullable: true
          type: number
        RushingYardsPerAttempt:
          nullable: true
          type: number
        Sacks:
          nullable: true
          type: number
        Score:
          nullable: true
          type: integer
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        SoloTackles:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        Streak:
          nullable: true
          type: integer
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThirdDownAttempts:
          nullable: true
          type: integer
        ThirdDownConversions:
          nullable: true
          type: integer
        TimeOfPossessionMinutes:
          nullable: true
          type: integer
        TimeOfPossessionSeconds:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

