openapi: 3.0.1
info:
  description: Time Series Insights client
  title: TimeSeriesInsightsClient
  version: 2018-08-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: timeseriesinsights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.TimeSeriesInsights/operations:
    get:
      description: Lists all of the available Time Series Insights related operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Successfully listed the available operations.
      tags:
      - Operations
      x-ms-examples:
        List available operations for the Time Series Insights resource provider:
          parameters:
            api-version: 2016-03-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Time Series Insights
                      resource provider and enables the creation of Time Series Insights
                      environments.
                    operation: Registers the Time Series Insights Resource Provider
                    provider: Microsoft Time Series Insights
                    resource: Time Series Insights Resource Provider
                  name: Microsoft.TimeSeriesInsights/register/action
                - display:
                    description: Get the properties of an environment.
                    operation: Read Environment
                    provider: Microsoft Time Series Insights
                    resource: Environment
                  name: Microsoft.TimeSeriesInsights/environments/read
                - display:
                    description: "Creates a new environment, or updates an existing\
                      \ environment."
                    operation: Create or Update Environment
                    provider: Microsoft Time Series Insights
                    resource: Environment
                  name: Microsoft.TimeSeriesInsights/environments/write
                - display:
                    description: Deletes the environment.
                    operation: Delete Environment
                    provider: Microsoft Time Series Insights
                    resource: Environment
                  name: Microsoft.TimeSeriesInsights/environments/delete
                - display:
                    description: Get the properties of an event source.
                    operation: Read Event Source
                    provider: Microsoft Time Series Insights
                    resource: Event Source
                  name: Microsoft.TimeSeriesInsights/environments/eventsources/read
                - display:
                    description: "Creates a new event source for an environment, or\
                      \ updates an existing event source."
                    operation: Create or Update Event Source
                    provider: Microsoft Time Series Insights
                    resource: Event Source
                  name: Microsoft.TimeSeriesInsights/environments/eventsources/write
                - display:
                    description: Deletes the event source.
                    operation: Delete Event Source
                    provider: Microsoft Time Series Insights
                    resource: Event Source
                  name: Microsoft.TimeSeriesInsights/environments/eventsources/delete
                - display:
                    description: Get the properties of a reference data set.
                    operation: Read Reference Data Set
                    provider: Microsoft Time Series Insights
                    resource: Reference Data Set
                  name: Microsoft.TimeSeriesInsights/environments/referencedatasets/read
                - display:
                    description: "Creates a new reference data set for an environment,\
                      \ or updates an existing reference data set."
                    operation: Create or Update Reference Data Set
                    provider: Microsoft Time Series Insights
                    resource: Reference Data Set
                  name: Microsoft.TimeSeriesInsights/environments/referencedatasets/write
                - display:
                    description: Deletes the reference data set.
                    operation: Delete Reference Data Set
                    provider: Microsoft Time Series Insights
                    resource: Reference Data Set
                  name: Microsoft.TimeSeriesInsights/environments/referencedatasets/delete
                - display:
                    description: Get the properties of an access policy.
                    operation: Read Access Policy
                    provider: Microsoft Time Series Insights
                    resource: Access Policy
                  name: Microsoft.TimeSeriesInsights/environments/accesspolicies/read
                - display:
                    description: "Creates a new access policy for an environment,\
                      \ or updates an existing access policy."
                    operation: Create or Update Access Policy
                    provider: Microsoft Time Series Insights
                    resource: Access Policy
                  name: Microsoft.TimeSeriesInsights/environments/accesspolicies/write
                - display:
                    description: Deletes the access policy.
                    operation: Delete Access Policy
                    provider: Microsoft Time Series Insights
                    resource: Access Policy
                  name: Microsoft.TimeSeriesInsights/environments/accesspolicies/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.TimeSeriesInsights/environments:
    get:
      description: "Lists all the available environments within a subscription, irrespective\
        \ of the resource groups."
      operationId: environments_list_by_subscription
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
          description: Environments returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription could not be found."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsBySubscription:
          parameters:
            api-version: 2018-08-15-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                  kind: Standard
                  location: West US
                  name: env1
                  properties:
                    creationTime: 2017-04-18T19:20:33.2288820Z
                    dataRetentionTime: P31D
                    provisioningState: Succeeded
                  sku:
                    capacity: 1
                    name: S1
                  tags: {}
                  type: Microsoft.TimeSeriesInsights/Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments:
    get:
      description: Lists all the available environments associated with the subscription
        and within the specified resource group.
      operationId: environments_list_by_resource_group
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
          description: Environments returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, or resource group\
            \ could not be found."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsByResourceGroup:
          parameters:
            api-version: 2018-08-15-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                  kind: Standard
                  location: West US
                  name: env1
                  properties:
                    creationTime: 2017-04-18T19:20:33.2288820Z
                    dataRetentionTime: P31D
                    provisioningState: Succeeded
                  sku:
                    capacity: 1
                    name: S1
                  tags: {}
                  type: Microsoft.TimeSeriesInsights/Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}
  : delete:
      description: Deletes the environment with the specified name in the specified
        subscription and resource group.
      operationId: environments_delete
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The environment was successfully deleted.
        "204":
          content: {}
          description: The environment was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsDelete:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    get:
      description: Gets the environment with the specified name in the specified subscription
        and resource group.
      operationId: environments_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Setting $expand=status will include the status of the internal
          services of the environment in the Time Series Insights service.
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResource'
          description: "The environment definition was successfully retrieved and\
            \ is in the response. If you are polling for the completion of a provisioning\
            \ or scale operation, you can check its status via the provisioningState\
            \ property."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsGet:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                kind: Standard
                location: West US
                name: env1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  dataRetentionTime: P31D
                  partitionKeyProperties:
                  - name: DeviceId1
                    type: String
                  provisioningState: Succeeded
                sku:
                  capacity: 1
                  name: S1
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    patch:
      description: Updates the environment with the specified name in the specified
        subscription and resource group.
      operationId: environments_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardEnvironmentUpdateParameters'
        description: Request object that contains the updated information for the
          environment.
        required: true
        x-body-name: standardEnvironmentUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResource'
          description: "The environment definition was successfully updated and is\
            \ in the response. If the environment was updated synchronously, the response\
            \ will include a provisioningState value of \"Succeeded\". If the environment\
            \ was updated asynchronous, the response will include a provisioningState\
            \ value of \"Updating\".  You can periodically get your environment definition\
            \ and monitor progress of the update via the provisioningState property."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsUpdate:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            standardEnvironmentUpdateParameters:
              sku:
                capacity: 10
                name: S1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                kind: Standard
                location: West US
                name: env1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  dataRetentionTime: P31D
                  provisioningState: Succeeded
                sku:
                  capacity: 10
                  name: S1
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: standardEnvironmentUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    put:
      description: Create or update an environment in the specified subscription and
        resource group.
      operationId: environments_create_or_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the environment
        in: path
        name: environmentName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreateOrUpdateParameters'
        description: Parameters for creating an environment resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResource'
          description: The existing environment definition was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResource'
          description: The environment create request was accepted. Environment provisioning
            is an asynchronous operation. You can periodically get your environment
            definition and monitor progress via the provisioningState property.
        "404":
          content: {}
          description: The subscription or resource group could not be found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 400 (Bad Request): The given environment request body\
            \ is invalid; See the error code and message in the response for details."
      tags:
      - Environments
      x-ms-examples:
        EnvironmentsCreate:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            parameters:
              kind: Standard
              location: West US
              properties:
                dataRetentionTime: P31D
                partitionKeyProperties:
                - name: DeviceId1
                  type: String
              sku:
                capacity: 1
                name: S1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                kind: Standard
                location: West US
                name: env1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  dataRetentionTime: P31D
                  provisioningState: Succeeded
                sku:
                  capacity: 1
                  name: S1
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1
                kind: Standard
                location: West US
                name: env1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  dataRetentionTime: P31D
                  provisioningState: Creating
                sku:
                  capacity: 1
                  name: S1
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments
            "404": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/accessPolicies
  : get:
      description: Lists all the available access policies associated with the environment.
      operationId: access_policies_list_by_environment
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyListResponse'
          description: access policies returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - AccessPolicies
      x-ms-examples:
        AccessPoliciesByEnvironment:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/accessPolicies/ap1
                  name: ap1
                  properties:
                    description: some description
                    principalObjectId: aGuid
                    roles:
                    - Reader
                  type: Microsoft.TimeSeriesInsights/Environments/AccessPolicies
      x-openapi-router-controller: openapi_server.controllers.access_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/accessPolicies/{accessPolicyName}
  : delete:
      description: "Deletes the access policy with the specified name in the specified\
        \ subscription, resource group, and environment"
      operationId: access_policies_delete
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights access policy associated
          with the specified environment.
        in: path
        name: access_policy_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The access policy was successfully deleted.
        "204":
          content: {}
          description: The access policy was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or access policy could not be found."
      tags:
      - AccessPolicies
      x-ms-examples:
        AccessPoliciesDelete:
          parameters:
            accessPolicyName: ap1
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.access_policies_controller
    get:
      description: Gets the access policy with the specified name in the specified
        environment.
      operationId: access_policies_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights access policy associated
          with the specified environment.
        in: path
        name: accessPolicyName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyResource'
          description: The access policy definition was successfully retrieved and
            is in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or access policy could not be found."
      tags:
      - AccessPolicies
      x-ms-examples:
        AccessPoliciesGet:
          parameters:
            accessPolicyName: ap1
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/accessPolicies/ap1
                name: ap1
                properties:
                  description: some description
                  principalObjectId: aGuid
                  roles:
                  - Reader
                type: Microsoft.TimeSeriesInsights/Environments/AccessPolicies
      x-openapi-router-controller: openapi_server.controllers.access_policies_controller
    patch:
      description: "Updates the access policy with the specified name in the specified\
        \ subscription, resource group, and environment."
      operationId: access_policies_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights access policy associated
          with the specified environment.
        in: path
        name: access_policy_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyUpdateParameters'
        description: Request object that contains the updated information for the
          access policy.
        required: true
        x-body-name: accessPolicyUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyResource'
          description: The access policy definition was successfully updated and is
            in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or access policy could not be found."
      tags:
      - AccessPolicies
      x-ms-examples:
        AccessPoliciesUpdate:
          parameters:
            accessPolicyName: ap1
            accessPolicyUpdateParameters:
              properties:
                roles:
                - Reader
                - Contributor
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/accessPolicies/ap1
                name: ap1
                properties:
                  description: some description
                  principalObjectId: aGuid
                  roles:
                  - Reader
                type: Microsoft.TimeSeriesInsights/Environments/AccessPolicies
      x-codegen-request-body-name: accessPolicyUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.access_policies_controller
    put:
      description: Create or update an access policy in the specified environment.
      operationId: access_policies_create_or_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the access policy.
        in: path
        name: accessPolicyName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyCreateOrUpdateParameters'
        description: Parameters for creating an access policy.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyResource'
          description: The existing access policy definition was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyResource'
          description: The access policy was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 400 (Bad Request): The given access policy request body\
            \ is invalid; See the error code and message in the response for details."
      tags:
      - AccessPolicies
      x-ms-examples:
        AccessPoliciesCreate:
          parameters:
            accessPolicyName: ap1
            api-version: 2018-08-15-preview
            environmentName: env1
            parameters:
              properties:
                description: some description
                principalObjectId: aGuid
                roles:
                - Reader
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/accessPolicies/ap1
                name: ap1
                properties:
                  description: some description
                  principalObjectId: aGuid
                  roles:
                  - Reader
                type: Microsoft.TimeSeriesInsights/Environments/AccessPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/accessPolicies/ap1
                name: ap1
                properties:
                  description: some description
                  principalObjectId: aGuid
                  roles:
                  - Reader
                type: Microsoft.TimeSeriesInsights/Environments/AccessPolicies
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.access_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/eventSources
  : get:
      description: Lists all the available event sources associated with the subscription
        and within the specified resource group and environment.
      operationId: event_sources_list_by_environment
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceListResponse'
          description: Environments returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - EventSources
      x-ms-examples:
        ListEventSourcesByEnvironment:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/eventSources/es1
                  kind: Microsoft.EventHub
                  location: West US
                  name: es1
                  properties:
                    consumerGroupName: cgn
                    creationTime: 2017-04-18T19:20:33.2288820Z
                    eventHubName: ehn
                    eventSourceResourceId: somePathInArm
                    keyName: managementKey
                    provisioningState: Succeeded
                    serviceBusNamespace: sbn
                  tags: {}
                  type: Microsoft.TimeSeriesInsights/Environments/EventSources
      x-openapi-router-controller: openapi_server.controllers.event_sources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/eventSources/{eventSourceName}
  : delete:
      description: "Deletes the event source with the specified name in the specified\
        \ subscription, resource group, and environment"
      operationId: event_sources_delete
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights event source associated
          with the specified environment.
        in: path
        name: event_source_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The event source was successfully deleted.
        "204":
          content: {}
          description: The event source was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or event source could not be found."
      tags:
      - EventSources
      x-ms-examples:
        DeleteEventSource:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            eventSourceName: es1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.event_sources_controller
    get:
      description: Gets the event source with the specified name in the specified
        environment.
      operationId: event_sources_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights event source associated
          with the specified environment.
        in: path
        name: eventSourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
          description: The event source definition was successfully retrieved and
            is in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or event source could not be found."
      tags:
      - EventSources
      x-ms-examples:
        GetEventHubEventSource:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            eventSourceName: es1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/eventSources/es1
                kind: Microsoft.EventHub
                location: West US
                name: es1
                properties:
                  consumerGroupName: cgn
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  eventHubName: ehn
                  eventSourceResourceId: somePathInArm
                  keyName: managementKey
                  provisioningState: Succeeded
                  serviceBusNamespace: sbn
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/EventSources
      x-openapi-router-controller: openapi_server.controllers.event_sources_controller
    patch:
      description: "Updates the event source with the specified name in the specified\
        \ subscription, resource group, and environment."
      operationId: event_sources_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights event source associated
          with the specified environment.
        in: path
        name: event_source_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSourceUpdateParameters'
        description: Request object that contains the updated information for the
          event source.
        required: true
        x-body-name: eventSourceUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
          description: The event source definition was successfully updated and is
            in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or event source could not be found."
      tags:
      - EventSources
      x-ms-examples:
        UpdateEventSource:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            eventSourceName: es1
            eventSourceUpdateParameters:
              tags:
                someKey: someValue
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/eventSources/es1
                kind: Microsoft.EventHub
                location: West US
                name: es1
                properties:
                  consumerGroupName: cgn
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  eventHubName: ehn
                  eventSourceResourceId: somePathInArm
                  keyName: managementKey
                  provisioningState: Succeeded
                  serviceBusNamespace: sbn
                  timestampPropertyName: someOtherTimestampProperty
                tags:
                  someKey: someValue
                type: Microsoft.TimeSeriesInsights/Environments/EventSources
      x-codegen-request-body-name: eventSourceUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.event_sources_controller
    put:
      description: Create or update an event source under the specified environment.
      operationId: event_sources_create_or_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the event source.
        in: path
        name: eventSourceName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSourceCreateOrUpdateParameters'
        description: Parameters for creating an event source resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
          description: The existing event source definition was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
          description: The event source was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 400 (Bad Request): The given event source request body\
            \ is invalid; See the error code and message in the response for details."
      tags:
      - EventSources
      x-ms-examples:
        CreateEventHubEventSource:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            eventSourceName: es1
            parameters:
              kind: Microsoft.EventHub
              location: West US
              properties:
                consumerGroupName: cgn
                eventHubName: ehn
                eventSourceResourceId: somePathInArm
                keyName: managementKey
                serviceBusNamespace: sbn
                sharedAccessKey: someSecretvalue
                timestampPropertyName: someTimestampProperty
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/eventSources/es1
                kind: Microsoft.EventHub
                location: West US
                name: es1
                properties:
                  consumerGroupName: cgn
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  eventHubName: ehn
                  eventSourceResourceId: somePathInArm
                  keyName: managementKey
                  provisioningState: Succeeded
                  serviceBusNamespace: sbn
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/EventSources
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/eventSources/es1
                kind: Microsoft.EventHub
                location: West US
                name: es1
                properties:
                  consumerGroupName: cgn
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  eventHubName: ehn
                  eventSourceResourceId: somePathInArm
                  keyName: managementKey
                  provisioningState: Succeeded
                  serviceBusNamespace: sbn
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/EventSources
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_sources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/referenceDataSets
  : get:
      description: Lists all the available reference data sets associated with the
        subscription and within the specified resource group and environment.
      operationId: reference_data_sets_list_by_environment
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataSetListResponse'
          description: Reference data sets returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, or\
            \ environment could not be found."
      tags:
      - ReferenceDataSets
      x-ms-examples:
        ReferenceDataSetsListByEnvironment:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/referenceDataSets/rds1
                  location: West US
                  name: rds1
                  properties:
                    creationTime: 2017-04-18T19:20:33.2288820Z
                    keyProperties:
                    - name: DeviceId1
                      type: String
                    - name: DeviceFloor
                      type: Double
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.TimeSeriesInsights/Environments/ReferenceDataSets
      x-openapi-router-controller: openapi_server.controllers.reference_data_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/referenceDataSets/{referenceDataSetName}
  : delete:
      description: "Deletes the reference data set with the specified name in the\
        \ specified subscription, resource group, and environment"
      operationId: reference_data_sets_delete
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights reference data set associated
          with the specified environment.
        in: path
        name: reference_data_set_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The reference data set was successfully deleted.
        "204":
          content: {}
          description: The reference data set was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or reference data set could not be found."
      tags:
      - ReferenceDataSets
      x-ms-examples:
        ReferenceDataSetsDelete:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            referenceDataSetName: rds1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.reference_data_sets_controller
    get:
      description: Gets the reference data set with the specified name in the specified
        environment.
      operationId: reference_data_sets_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights reference data set associated
          with the specified environment.
        in: path
        name: referenceDataSetName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataSetResource'
          description: The reference data set definition was successfully retrieved
            and is in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or reference data set could not be found."
      tags:
      - ReferenceDataSets
      x-ms-examples:
        ReferenceDataSetsGet:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            referenceDataSetName: rds1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/referenceDataSets/rds1
                location: West US
                name: rds1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  keyProperties:
                  - name: DeviceId1
                    type: String
                  - name: DeviceFloor
                    type: Double
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/ReferenceDataSets
      x-openapi-router-controller: openapi_server.controllers.reference_data_sets_controller
    patch:
      description: "Updates the reference data set with the specified name in the\
        \ specified subscription, resource group, and environment."
      operationId: reference_data_sets_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights reference data set associated
          with the specified environment.
        in: path
        name: reference_data_set_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceDataSetUpdateParameters'
        description: Request object that contains the updated information for the
          reference data set.
        required: true
        x-body-name: referenceDataSetUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataSetResource'
          description: The reference data set definition was successfully updated
            and is in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 404 (Not Found): The subscription, resource group, environment,\
            \ or reference data set could not be found."
      tags:
      - ReferenceDataSets
      x-ms-examples:
        ReferenceDataSetsUpdate:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            referenceDataSetName: rds1
            referenceDataSetUpdateParameters:
              tags:
                someKey: someValue
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/referenceDataSets/rds1
                location: West US
                name: rds1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  keyProperties:
                  - name: DeviceId1
                    type: String
                  - name: DeviceFloor
                    type: Double
                  provisioningState: Succeeded
                tags:
                  someKey: someValue
                type: Microsoft.TimeSeriesInsights/Environments/ReferenceDataSets
      x-codegen-request-body-name: referenceDataSetUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.reference_data_sets_controller
    put:
      description: Create or update a reference data set in the specified environment.
      operationId: reference_data_sets_create_or_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Time Series Insights environment associated with
          the specified resource group.
        in: path
        name: environment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the reference data set.
        in: path
        name: referenceDataSetName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]"
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceDataSetCreateOrUpdateParameters'
        description: Parameters for creating a reference data set.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataSetResource'
          description: The existing reference data set definition was successfully
            updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataSetResource'
          description: The reference data set was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "HTTP 400 (Bad Request): The given reference data set request\
            \ body is invalid; See the error code and message in the response for\
            \ details."
      tags:
      - ReferenceDataSets
      x-ms-examples:
        ReferenceDataSetsCreate:
          parameters:
            api-version: 2018-08-15-preview
            environmentName: env1
            parameters:
              location: West US
              properties:
                keyProperties:
                - name: DeviceId1
                  type: String
                - name: DeviceFloor
                  type: Double
            referenceDataSetName: rds1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/referenceDataSets/rds1
                location: West US
                name: rds1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  keyProperties:
                  - name: DeviceId1
                    type: String
                  - name: DeviceFloor
                    type: Double
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/ReferenceDataSets
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.TimeSeriesInsights/Environments/env1/referenceDataSets/rds1
                location: West US
                name: rds1
                properties:
                  creationTime: 2017-04-18T19:20:33.2288820Z
                  keyProperties:
                  - name: DeviceId1
                    type: String
                  - name: DeviceFloor
                    type: Double
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.TimeSeriesInsights/Environments/ReferenceDataSets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reference_data_sets_controller
components:
  parameters:
    AccessPolicyNameParameter:
      description: The name of the Time Series Insights access policy associated with
        the specified environment.
      in: path
      name: accessPolicyName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    EnvironmentNameParameter:
      description: The name of the Time Series Insights environment associated with
        the specified resource group.
      in: path
      name: environmentName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    EventSourceNameParameter:
      description: The name of the Time Series Insights event source associated with
        the specified environment.
      in: path
      name: eventSourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ExpandParameter:
      description: Setting $expand=status will include the status of the internal
        services of the environment in the Time Series Insights service.
      in: query
      name: $expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReferenceDataSetNameParameter:
      description: The name of the Time Series Insights reference data set associated
        with the specified environment.
      in: path
      name: referenceDataSetName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of an Azure Resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccessPolicyCreateOrUpdateParameters:
      example:
        properties:
          principalObjectId: principalObjectId
          roles:
          - Reader
          - Reader
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/AccessPolicyResourceProperties'
      required:
      - properties
      title: AccessPolicyCreateOrUpdateParameters
      type: object
    AccessPolicyListResponse:
      description: The response of the List access policies operation.
      example:
        value:
        - properties:
            principalObjectId: principalObjectId
            roles:
            - Reader
            - Reader
            description: description
        - properties:
            principalObjectId: principalObjectId
            roles:
            - Reader
            - Reader
            description: description
      properties:
        value:
          description: Result of the List access policies operation.
          items:
            $ref: '#/components/schemas/AccessPolicyResource'
          title: value
          type: array
      title: AccessPolicyListResponse
      type: object
    AccessPolicyMutableProperties:
      description: An object that represents a set of mutable access policy resource
        properties.
      example:
        roles:
        - Reader
        - Reader
        description: description
      properties:
        description:
          description: An description of the access policy.
          title: description
          type: string
        roles:
          description: The list of roles the principal is assigned on the environment.
          items:
            description: A role defining the data plane operations that a principal
              can perform on a Time Series Insights client.
            enum:
            - Reader
            - Contributor
            type: string
            x-ms-enum:
              modelAsString: true
              name: AccessPolicyRole
          title: roles
          type: array
      title: AccessPolicyMutableProperties
      type: object
    AccessPolicyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An access policy is used to grant users and applications access
        to the environment. Roles are assigned to service principals in Azure Active
        Directory. These roles define the actions the principal can perform through
        the Time Series Insights data plane APIs.
      example:
        properties:
          principalObjectId: principalObjectId
          roles:
          - Reader
          - Reader
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/AccessPolicyResourceProperties'
      title: AccessPolicyResource
    AccessPolicyResourceProperties:
      example:
        principalObjectId: principalObjectId
        roles:
        - Reader
        - Reader
        description: description
      properties:
        description:
          description: An description of the access policy.
          title: description
          type: string
        principalObjectId:
          description: The objectId of the principal in Azure Active Directory.
          title: principalObjectId
          type: string
        roles:
          description: The list of roles the principal is assigned on the environment.
          items:
            description: A role defining the data plane operations that a principal
              can perform on a Time Series Insights client.
            enum:
            - Reader
            - Contributor
            type: string
            x-ms-enum:
              modelAsString: true
              name: AccessPolicyRole
          title: roles
          type: array
      title: AccessPolicyResourceProperties
      type: object
    AccessPolicyUpdateParameters:
      example:
        properties:
          roles:
          - Reader
          - Reader
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/AccessPolicyMutableProperties'
      title: AccessPolicyUpdateParameters
      type: object
    AzureEventSourceProperties:
      allOf:
      - $ref: '#/components/schemas/EventSourceCommonProperties'
      description: Properties of an event source that reads events from an event broker
        in Azure.
      properties:
        eventSourceResourceId:
          description: The resource id of the event source in Azure Resource Manager.
          title: eventSourceResourceId
          type: string
      required:
      - eventSourceResourceId
      title: AzureEventSourceProperties
    CloudError:
      description: Contains information about an API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Describes a particular API error with an error code and a message.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An error code that describes the error condition more precisely
            than an HTTP status code. Can be used to programmatically handle specific
            error cases.
          title: code
          type: string
        details:
          description: Contains nested errors that are related to this error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: A message that describes the error in detail and provides debugging
            information.
          title: message
          type: string
        target:
          description: "The target of the particular error (for example, the name\
            \ of the property in error)."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    CreateOrUpdateTrackedResourceProperties:
      description: Properties required to create any resource tracked by Azure Resource
        Manager.
      properties:
        location:
          description: The location of the resource.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Key-value pairs of additional properties for the resource.
          title: tags
          type: object
      required:
      - location
      title: CreateOrUpdateTrackedResourceProperties
      type: object
    EnvironmentCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/CreateOrUpdateTrackedResourceProperties'
      description: Parameters supplied to the CreateOrUpdate Environment operation.
      example:
        kind: Standard
        sku:
          name: S1
          capacity: 1
      properties:
        kind:
          description: The kind of the environment.
          enum:
          - Standard
          - LongTerm
          title: kind
          type: string
          x-ms-enum:
            modelAsString: true
            name: Kind
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - kind
      - sku
      title: EnvironmentCreateOrUpdateParameters
    EnvironmentListResponse:
      description: The response of the List Environments operation.
      example:
        value:
        - kind: Standard
          sku:
            name: S1
            capacity: 1
        - kind: Standard
          sku:
            name: S1
            capacity: 1
      properties:
        value:
          description: Result of the List Environments operation.
          items:
            $ref: '#/components/schemas/EnvironmentResource'
          title: value
          type: array
      title: EnvironmentListResponse
      type: object
    EnvironmentResource:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: "An environment is a set of time-series data available for query,\
        \ and is the top level Azure Time Series Insights resource."
      example:
        kind: Standard
        sku:
          name: S1
          capacity: 1
      properties:
        kind:
          description: The kind of the environment.
          enum:
          - Standard
          - LongTerm
          title: kind
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - kind
      - sku
      title: EnvironmentResource
    EnvironmentResourceProperties:
      allOf:
      - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of the environment.
      properties:
        dataAccessFqdn:
          description: "The fully qualified domain name used to access the environment\
            \ data, e.g. to query the environment's events or upload reference data\
            \ for the environment."
          readOnly: true
          title: dataAccessFqdn
          type: string
        dataAccessId:
          description: "An id used to access the environment data, e.g. to query the\
            \ environment's events or upload reference data for the environment."
          format: uuid
          readOnly: true
          title: dataAccessId
          type: string
        status:
          $ref: '#/components/schemas/EnvironmentStatus'
      title: EnvironmentResourceProperties
    EnvironmentStateDetails:
      description: An object that contains the details about an environment's state.
      properties:
        code:
          description: Contains the code that represents the reason of an environment
            being in a particular state. Can be used to programmatically handle specific
            cases.
          title: code
          type: string
        message:
          description: A message that describes the state in detail.
          title: message
          type: string
      title: EnvironmentStateDetails
      type: object
    EnvironmentStatus:
      description: "An object that represents the status of the environment, and its\
        \ internal state in the Time Series Insights service."
      properties:
        ingress:
          $ref: '#/components/schemas/IngressEnvironmentStatus'
        warmStorage:
          $ref: '#/components/schemas/WarmStorageEnvironmentStatus'
      title: EnvironmentStatus
      type: object
    EnvironmentUpdateParameters:
      description: Parameters supplied to the Update Environment operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Key-value pairs of additional properties for the environment.
          title: tags
          type: object
      title: EnvironmentUpdateParameters
      type: object
    EventHubEventSourceCommonProperties:
      allOf:
      - $ref: '#/components/schemas/AzureEventSourceProperties'
      description: Properties of the EventHub event source.
      properties:
        consumerGroupName:
          description: The name of the event hub's consumer group that holds the partitions
            from which events will be read.
          title: consumerGroupName
          type: string
        eventHubName:
          description: The name of the event hub.
          title: eventHubName
          type: string
        keyName:
          description: The name of the SAS key that grants the Time Series Insights
            service access to the event hub. The shared access policies for this key
            must grant 'Listen' permissions to the event hub.
          title: keyName
          type: string
        serviceBusNamespace:
          description: The name of the service bus that contains the event hub.
          title: serviceBusNamespace
          type: string
      required:
      - consumerGroupName
      - eventHubName
      - keyName
      - serviceBusNamespace
      title: EventHubEventSourceCommonProperties
    EventHubEventSourceCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/EventSourceCreateOrUpdateParameters'
      description: Parameters supplied to the Create or Update Event Source operation
        for an EventHub event source.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubEventSourceCreationProperties'
      required:
      - properties
      x-ms-discriminator-value: Microsoft.EventHub
    EventHubEventSourceCreationProperties:
      allOf:
      - $ref: '#/components/schemas/EventHubEventSourceCommonProperties'
      description: Properties of the EventHub event source that are required on create
        or update requests.
      properties:
        sharedAccessKey:
          description: The value of the shared access key that grants the Time Series
            Insights service read access to the event hub. This property is not shown
            in event source responses.
          title: sharedAccessKey
          type: string
      required:
      - sharedAccessKey
      title: EventHubEventSourceCreationProperties
    EventHubEventSourceMutableProperties:
      allOf:
      - $ref: '#/components/schemas/EventSourceMutableProperties'
      description: An object that represents a set of mutable EventHub event source
        resource properties.
      properties:
        sharedAccessKey:
          description: The value of the shared access key that grants the Time Series
            Insights service read access to the event hub. This property is not shown
            in event source responses.
          title: sharedAccessKey
          type: string
      title: EventHubEventSourceMutableProperties
    EventHubEventSourceResource:
      allOf:
      - $ref: '#/components/schemas/EventSourceResource'
      description: An event source that receives its data from an Azure EventHub.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubEventSourceResourceProperties'
      required:
      - properties
      x-ms-discriminator-value: Microsoft.EventHub
    EventHubEventSourceResourceProperties:
      allOf:
      - $ref: '#/components/schemas/EventHubEventSourceCommonProperties'
      description: Properties of the EventHub event source resource.
      title: EventHubEventSourceResourceProperties
    EventHubEventSourceUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/EventSourceUpdateParameters'
      description: Parameters supplied to the Update Event Source operation to update
        an EventHub event source.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubEventSourceMutableProperties'
    EventSourceCommonProperties:
      allOf:
      - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of the event source.
      properties:
        timestampPropertyName:
          description: "The event property that will be used as the event source's\
            \ timestamp. If a value isn't specified for timestampPropertyName, or\
            \ if null or empty-string is specified, the event creation time will be\
            \ used."
          title: timestampPropertyName
          type: string
      title: EventSourceCommonProperties
    EventSourceCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/CreateOrUpdateTrackedResourceProperties'
      description: Parameters supplied to the Create or Update Event Source operation.
      example:
        kind: Microsoft.EventHub
      properties:
        kind:
          description: The kind of the event source.
          enum:
          - Microsoft.EventHub
          - Microsoft.IoTHub
          title: kind
          type: string
          x-ms-enum:
            modelAsString: true
            name: Kind
      required:
      - kind
      title: EventSourceCreateOrUpdateParameters
    EventSourceListResponse:
      description: The response of the List EventSources operation.
      example:
        value:
        - kind: Microsoft.EventHub
        - kind: Microsoft.EventHub
      properties:
        value:
          description: Result of the List EventSources operation.
          items:
            $ref: '#/components/schemas/EventSourceResource'
          title: value
          type: array
      title: EventSourceListResponse
      type: object
    EventSourceMutableProperties:
      description: An object that represents a set of mutable event source resource
        properties.
      properties:
        localTimestamp:
          $ref: '#/components/schemas/LocalTimestamp'
        timestampPropertyName:
          description: "The event property that will be used as the event source's\
            \ timestamp. If a value isn't specified for timestampPropertyName, or\
            \ if null or empty-string is specified, the event creation time will be\
            \ used."
          title: timestampPropertyName
          type: string
      title: EventSourceMutableProperties
      type: object
    EventSourceResource:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: An environment receives data from one or more event sources. Each
        event source has associated connection info that allows the Time Series Insights
        ingress pipeline to connect to and pull data from the event source
      example:
        kind: Microsoft.EventHub
      properties:
        kind:
          description: The kind of the event source.
          enum:
          - Microsoft.EventHub
          - Microsoft.IoTHub
          title: kind
          type: string
      required:
      - kind
      title: EventSourceResource
    EventSourceUpdateParameters:
      description: Parameters supplied to the Update Event Source operation.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Key-value pairs of additional properties for the event source.
          title: tags
          type: object
      title: EventSourceUpdateParameters
      type: object
    IngressEnvironmentStatus:
      description: An object that represents the status of ingress on an environment.
      properties:
        state:
          description: "This string represents the state of ingress operations on\
            \ an environment. It can be \"Disabled\", \"Ready\", \"Running\", \"Paused\"\
            \ or \"Unknown\""
          enum:
          - Disabled
          - Ready
          - Running
          - Paused
          - Unknown
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: IngressState
        stateDetails:
          $ref: '#/components/schemas/EnvironmentStateDetails'
      title: IngressEnvironmentStatus
      type: object
    IoTHubEventSourceCommonProperties:
      allOf:
      - $ref: '#/components/schemas/AzureEventSourceProperties'
      description: Properties of the IoTHub event source.
      properties:
        consumerGroupName:
          description: The name of the iot hub's consumer group that holds the partitions
            from which events will be read.
          title: consumerGroupName
          type: string
        iotHubName:
          description: The name of the iot hub.
          title: iotHubName
          type: string
        keyName:
          description: The name of the Shared Access Policy key that grants the Time
            Series Insights service access to the iot hub. This shared access policy
            key must grant 'service connect' permissions to the iot hub.
          title: keyName
          type: string
      required:
      - consumerGroupName
      - iotHubName
      - keyName
      title: IoTHubEventSourceCommonProperties
    IoTHubEventSourceCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/EventSourceCreateOrUpdateParameters'
      description: Parameters supplied to the Create or Update Event Source operation
        for an IoTHub event source.
      properties:
        properties:
          $ref: '#/components/schemas/IoTHubEventSourceCreationProperties'
      required:
      - properties
      x-ms-discriminator-value: Microsoft.IoTHub
    IoTHubEventSourceCreationProperties:
      allOf:
      - $ref: '#/components/schemas/IoTHubEventSourceCommonProperties'
      description: Properties of the IoTHub event source that are required on create
        or update requests.
      properties:
        sharedAccessKey:
          description: The value of the Shared Access Policy key that grants the Time
            Series Insights service read access to the iot hub. This property is not
            shown in event source responses.
          title: sharedAccessKey
          type: string
      required:
      - sharedAccessKey
      title: IoTHubEventSourceCreationProperties
    IoTHubEventSourceMutableProperties:
      allOf:
      - $ref: '#/components/schemas/EventSourceMutableProperties'
      description: An object that represents a set of mutable IoTHub event source
        resource properties.
      properties:
        sharedAccessKey:
          description: The value of the shared access key that grants the Time Series
            Insights service read access to the iot hub. This property is not shown
            in event source responses.
          title: sharedAccessKey
          type: string
      title: IoTHubEventSourceMutableProperties
    IoTHubEventSourceResource:
      allOf:
      - $ref: '#/components/schemas/EventSourceResource'
      description: An event source that receives its data from an Azure IoTHub.
      properties:
        properties:
          $ref: '#/components/schemas/IoTHubEventSourceResourceProperties'
      required:
      - properties
      x-ms-discriminator-value: Microsoft.IotHub
    IoTHubEventSourceResourceProperties:
      allOf:
      - $ref: '#/components/schemas/IoTHubEventSourceCommonProperties'
      description: Properties of the IoTHub event source resource.
      title: IoTHubEventSourceResourceProperties
    IoTHubEventSourceUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/EventSourceUpdateParameters'
      description: Parameters supplied to the Update Event Source operation to update
        an IoTHub event source.
      properties:
        properties:
          $ref: '#/components/schemas/IoTHubEventSourceMutableProperties'
    LocalTimestamp:
      description: "An object that represents the local timestamp property. It contains\
        \ the format of local timestamp that needs to be used and the corresponding\
        \ timezone offset information. If a value isn't specified for localTimestamp,\
        \ or if null, then the local timestamp will not be ingressed with the events."
      properties:
        format:
          description: An enum that represents the format of the local timestamp property
            that needs to be set.
          enum:
          - Embedded
          - Iana
          - TimeSpan
          title: format
          type: string
          x-ms-enum:
            modelAsString: true
            name: LocalTimestampFormat
        timeZoneOffset:
          $ref: '#/components/schemas/LocalTimestamp_timeZoneOffset'
      title: LocalTimestamp
      type: object
    LongTermEnvironmentCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/EnvironmentCreateOrUpdateParameters'
      description: Parameters supplied to the Create or Update Environment operation
        for a long-term environment.
      properties:
        properties:
          $ref: '#/components/schemas/LongTermEnvironmentCreationProperties'
      required:
      - properties
      x-ms-discriminator-value: LongTerm
    LongTermEnvironmentCreationProperties:
      description: Properties used to create a long-term environment.
      properties:
[...]
