openapi: 3.0.1
info:
  title: ResourceManagementClient
  version: 2016-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/resources.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      description: Calculate the hash of the given template.
      operationId: deployments_calculate_template_hash
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The template provided to calculate hash.
        required: true
        x-body-name: template
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHashResult'
          description: OK - Returns the hash.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-examples:
        Calculate template hash:
          parameters:
            api-version: 2016-07-01
            template:
              $schema: http://schemas.management.azure.com/deploymentTemplate?api-version=2014-04-01-preview
              contentVersion: 1.0.0.0
              outputs:
                string:
                  type: string
                  value: myvalue
              parameters:
                string:
                  type: string
              resources: []
              variables:
                array:
                - 1
                - 2
                - 3
                - 4
                bool: true
                int: 42
                object:
                  object:
                    location: West US
                    vmSize: Large
                string: string
          responses:
            "200":
              body:
                minifiedTemplate: "{\"$SCHEMA\":\"HTTP://SCHEMAS.MANAGEMENT.AZURE.COM/DEPLOYMENTTEMPLATE?API-VERSION=2014-04-01-PREVIEW\"\
                  ,\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"STRING\":{\"TYPE\"\
                  :\"STRING\"}},\"VARIABLES\":{\"STRING\":\"STRING\",\"INT\":42,\"\
                  BOOL\":TRUE,\"ARRAY\":[1,2,3,4],\"OBJECT\":{\"OBJECT\":{\"VMSIZE\"\
                  :\"LARGE\",\"LOCATION\":\"WEST US\"}}},\"RESOURCES\":[],\"OUTPUTS\"\
                  :{\"STRING\":{\"TYPE\":\"STRING\",\"VALUE\":\"MYVALUE\"}}}"
                templateHash: "695440707931307747"
      x-codegen-request-body-name: template
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers:
    get:
      description: Gets a list of resource providers.
      operationId: providers_list
      parameters:
      - description: Query parameters. If null is passed returns all deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The $expand query parameter. e.g. To include property aliases\
          \ in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: ""
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}:
    get:
      description: Gets a resource provider.
      operationId: providers_get
      parameters:
      - description: "The $expand query parameter. e.g. To include property aliases\
          \ in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register:
    post:
      description: Registers provider to be used with a subscription.
      operationId: providers_register
      parameters:
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister:
    post:
      description: Unregisters provider from a subscription.
      operationId: providers_unregister
      parameters:
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources:
    get:
      description: Get all of the resources under a subscription.
      operationId: resource_groups_list_resources
      parameters:
      - description: Query parameters. If null is passed returns all resource groups.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The $expand query parameter
        in: query
        name: $expand
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: ""
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources:
    post:
      description: Move resources from one resource group to another. The resources
        being moved should all be in the same resource group.
      operationId: resources_move_resources
      parameters:
      - description: Source resource group name.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: move resources' parameters.
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      description: Gets a collection of resource groups.
      operationId: resource_groups_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
          description: ""
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/ResourceGroupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    delete:
      description: Delete resource group.
      operationId: resource_groups_delete
      parameters:
      - description: The name of the resource group to be deleted. The name is case
          insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - ResourceGroups
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    get:
      description: Get a resource group.
      operationId: resource_groups_get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    head:
      description: Checks whether resource group exists.
      operationId: resource_groups_check_existence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - ResourceGroups
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    patch:
      description: "Resource groups can be updated through a simple PATCH operation\
        \ to a group address. The format of the request is the same as that for creating\
        \ a resource groups, though if a field is unspecified current value will be\
        \ carried over. "
      operationId: resource_groups_patch
      parameters:
      - description: The name of the resource group to be created or updated. The
          name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the update state resource group service
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    put:
      description: Create a resource group.
      operationId: resource_groups_create_or_update
      parameters:
      - description: The name of the resource group to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the create or update resource group service
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations:
    get:
      description: Gets a list of deployments operations.
      operationId: deployment_operations_list
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Query parameters.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: ""
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Get a list of deployments operations.
      operationId: deployment_operations_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: ""
      tags:
      - DeploymentOperations
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate:
    post:
      description: Captures the specified resource group as a template.
      operationId: resource_groups_export_template
      parameters:
      - description: The name of the resource group to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
        description: Parameters supplied to the export template resource group operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupExportResult'
          description: ""
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get a list of deployments.
      operationId: deployments_list
      parameters:
      - description: The name of the resource group to filter by. The name is case
          insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: ""
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: Delete deployment.
      operationId: deployments_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment to be deleted.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    get:
      description: Get a deployment.
      operationId: deployments_get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    head:
      description: Checks whether deployment exists.
      operationId: deployments_check_existence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    put:
      description: Create a named template deployment using a template.
      operationId: deployments_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel
  : post:
      description: Cancel a currently running template deployment.
      operationId: deployments_cancel
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate
  : post:
      description: Exports a deployment template.
      operationId: deployments_export_template
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: ""
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate
  : post:
      description: Validate a deployment template.
      operationId: deployments_validate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Deployment to validate.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: ""
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}
  : delete:
      description: 'Delete resource and all of its resources. '
      operationId: resources_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Api version to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Resources
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    get:
      description: Returns a resource belonging to a resource group.
      operationId: resources_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Api version to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
      tags:
      - Resources
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    head:
      description: Checks whether resource exists.
      operationId: resources_check_existence
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Api version to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Resources
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    patch:
      description: Updates a resource.
      operationId: resources_update
      parameters:
      - description: The name of the resource group for the resource. The name is
          case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource to update.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to update.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Parameters for updating the resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        "202":
          content: {}
          description: Accepted
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    put:
      description: Create a resource.
      operationId: resources_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Api version to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Create or update resource parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
      tags:
      - Resources
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
  /subscriptions/{subscriptionId}/resources:
    get:
      description: Get all of the resources under a subscription.
      operationId: resources_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The $expand query parameter.
        in: query
        name: $expand
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: ""
      tags:
      - Resources
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resources_controller
  /subscriptions/{subscriptionId}/tagNames:
    get:
      description: Get a list of subscription resource tags.
      operationId: tags_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResult'
          description: ""
      tags:
      - Tags
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /subscriptions/{subscriptionId}/tagNames/{tagName}:
    delete:
      description: Delete a subscription resource tag.
      operationId: tags_delete
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
    put:
      description: Create a subscription resource tag.
      operationId: tags_create_or_update
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: ""
      tags:
      - Tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}:
    delete:
      description: Delete a subscription resource tag value.
      operationId: tags_delete_value
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: The value of the tag.
        in: path
        name: tagValue
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
    put:
      description: Create a subscription resource tag value.
      operationId: tags_create_or_update_value
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: The value of the tag.
        in: path
        name: tagValue
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValue'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValue'
          description: ""
      tags:
      - Tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AliasPathType:
      description: 'The type of the paths for alias. '
      example:
        path: path
        apiVersions:
        - apiVersions
        - apiVersions
      properties:
        apiVersions:
          description: The api versions.
          items:
            type: string
          title: apiVersions
          type: array
        path:
          description: The path of an alias.
          title: path
          type: string
      title: AliasPathType
      type: object
    AliasType:
      description: 'The alias type. '
      example:
        paths:
        - path: path
          apiVersions:
          - apiVersions
          - apiVersions
        - path: path
          apiVersions:
          - apiVersions
          - apiVersions
        name: name
      properties:
        name:
          description: The alias name.
          title: name
          type: string
        paths:
          description: The paths for an alias.
          items:
            $ref: '#/components/schemas/AliasPathType'
          title: paths
          type: array
      title: AliasType
      type: object
    BasicDependency:
      description: Deployment dependency information.
      example:
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        id:
          description: The ID of the dependency.
          title: id
          type: string
        resourceName:
          description: The dependency resource name.
          title: resourceName
          type: string
        resourceType:
          description: The dependency resource type.
          title: resourceType
          type: string
      title: BasicDependency
      type: object
    CloudError:
      description: An error response for a resource management request.
      example:
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudError_error'
      title: CloudError
      type: object
      x-ms-external: true
    DebugSetting:
      example:
        detailLevel: detailLevel
      properties:
        detailLevel:
          description: The debug detail level.
          title: detailLevel
          type: string
          x-ms-client-flatten: true
      title: DebugSetting
      type: object
    Dependency:
      description: Deployment dependency information.
      example:
        dependsOn:
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        dependsOn:
          description: The list of dependencies.
          items:
            $ref: '#/components/schemas/BasicDependency'
          title: dependsOn
          type: array
        id:
          description: The ID of the dependency.
          title: id
          type: string
        resourceName:
          description: The dependency resource name.
          title: resourceName
          type: string
        resourceType:
          description: The dependency resource type.
          title: resourceType
          type: string
      title: Dependency
      type: object
    Deployment:
      description: Deployment operation parameters.
      example:
        properties:
          mode: Incremental
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          parameters: "{}"
          debugSetting:
            detailLevel: detailLevel
      properties:
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
      title: Deployment
      type: object
    DeploymentExportResult:
      description: 'The deployment export result. '
      example:
        template: "{}"
      properties:
        template:
          description: The template content.
          properties: {}
          title: template
          type: object
      title: DeploymentExportResult
      type: object
    DeploymentExtended:
      description: Deployment information.
      example:
        name: name
        id: id
        properties:
          mode: Incremental
          outputs: "{}"
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          correlationId: correlationId
          provisioningState: provisioningState
          parameters: "{}"
          debugSetting:
            detailLevel: detailLevel
          providers:
          - resourceTypes:
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          - resourceTypes:
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          dependencies:
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: The ID of the deployment.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the deployment.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
      required:
      - name
      title: DeploymentExtended
      type: object
      x-ms-azure-resource: true
    DeploymentExtendedFilter:
      description: Deployment filter.
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
      type: object
    DeploymentListResult:
      description: List of deployments.
      example:
        value:
        - name: name
          id: id
          properties:
            mode: Incremental
            outputs: "{}"
            parametersLink:
              contentVersion: contentVersion
              uri: uri
            template: "{}"
            templateLink:
              contentVersion: contentVersion
              uri: uri
            correlationId: correlationId
            provisioningState: provisioningState
            parameters: "{}"
            debugSetting:
              detailLevel: detailLevel
            providers:
            - resourceTypes:
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            - resourceTypes:
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            dependencies:
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            timestamp: 2000-01-23T04:56:07.000+00:00
        - name: name
          id: id
          properties:
            mode: Incremental
            outputs: "{}"
            parametersLink:
              contentVersion: contentVersion
              uri: uri
            template: "{}"
            templateLink:
              contentVersion: contentVersion
              uri: uri
            correlationId: correlationId
            provisioningState: provisioningState
            parameters: "{}"
            debugSetting:
              detailLevel: detailLevel
            providers:
            - resourceTypes:
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            - resourceTypes:
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - aliases:
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                - paths:
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  - path: path
                    apiVersions:
                    - apiVersions
                    - apiVersions
                  name: name
                apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            dependencies:
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            timestamp: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The list of deployments.
          items:
            $ref: '#/components/schemas/DeploymentExtended'
          title: value
          type: array
      title: DeploymentListResult
      type: object
    DeploymentOperation:
      description: Deployment operation information.
      example:
        operationId: operationId
        id: id
        properties:
          request:
            content: "{}"
          serviceRequestId: serviceRequestId
          response:
            content: "{}"
          targetResource:
            resourceName: resourceName
            id: id
            resourceType: resourceType
          provisioningState: provisioningState
          statusMessage: "{}"
          statusCode: statusCode
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Full deployment operation id.
          title: id
          type: string
        operationId:
          description: Deployment operation id.
          title: operationId
          type: string
        properties:
          $ref: '#/components/schemas/DeploymentOperationProperties'
      title: DeploymentOperation
      type: object
    DeploymentOperationProperties:
      description: Deployment operation properties.
      example:
        request:
          content: "{}"
        serviceRequestId: serviceRequestId
        response:
          content: "{}"
        targetResource:
          resourceName: resourceName
          id: id
          resourceType: resourceType
        provisioningState: provisioningState
        statusMessage: "{}"
        statusCode: statusCode
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        provisioningState:
          description: The state of the provisioning.
          title: provisioningState
          type: string
        request:
          $ref: '#/components/schemas/HttpMessage'
        response:
          $ref: '#/components/schemas/HttpMessage'
        serviceRequestId:
          description: Deployment operation service request id.
          title: serviceRequestId
          type: string
        statusCode:
          description: Operation status code.
          title: statusCode
          type: string
        statusMessage:
          description: Operation status message.
          title: statusMessage
          type: object
        targetResource:
          $ref: '#/components/schemas/TargetResource'
        timestamp:
          description: The date and time of the operation.
          format: date-time
          title: timestamp
          type: string
      title: DeploymentOperationProperties
      type: object
    DeploymentOperationsListResult:
      description: List of deployment operations.
      example:
        value:
        - operationId: operationId
          id: id
          properties:
            request:
              content: "{}"
            serviceRequestId: serviceRequestId
            response:
              content: "{}"
            targetResource:
              resourceName: resourceName
              id: id
              resourceType: resourceType
            provisioningState: provisioningState
            statusMessage: "{}"
            statusCode: statusCode
            timestamp: 2000-01-23T04:56:07.000+00:00
        - operationId: operationId
          id: id
          properties:
            request:
              content: "{}"
            serviceRequestId: serviceRequestId
            response:
              content: "{}"
            targetResource:
              resourceName: resourceName
              id: id
              resourceType: resourceType
            provisioningState: provisioningState
            statusMessage: "{}"
            statusCode: statusCode
            timestamp: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The list of deployments.
          items:
            $ref: '#/components/schemas/DeploymentOperation'
          title: value
          type: array
      title: DeploymentOperationsListResult
      type: object
    DeploymentProperties:
      description: Deployment properties.
      example:
        mode: Incremental
        parametersLink:
          contentVersion: contentVersion
          uri: uri
        template: "{}"
        templateLink:
          contentVersion: contentVersion
          uri: uri
        parameters: "{}"
        debugSetting:
          detailLevel: detailLevel
      properties:
        debugSetting:
          $ref: '#/components/schemas/DebugSetting'
        mode:
          description: The deployment mode.
          enum:
          - Incremental
          - Complete
          title: mode
          type: string
          x-ms-enum:
            modelAsString: false
            name: DeploymentMode
        parameters:
          description: Deployment parameters. It can be a JObject or a well formed
            JSON string. Use only one of Parameters or ParametersLink.
          properties: {}
          title: parameters
          type: object
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        template:
          description: The template content. It can be a JObject or a well formed
            JSON string. Use only one of Template or TemplateLink.
          properties: {}
          title: template
          type: object
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
      required:
      - mode
      title: DeploymentProperties
      type: object
    DeploymentPropertiesExtended:
      description: Deployment properties with additional details.
      example:
        mode: Incremental
        outputs: "{}"
        parametersLink:
          contentVersion: contentVersion
          uri: uri
        template: "{}"
        templateLink:
          contentVersion: contentVersion
          uri: uri
        correlationId: correlationId
        provisioningState: provisioningState
        parameters: "{}"
        debugSetting:
          detailLevel: detailLevel
        providers:
        - resourceTypes:
          - aliases:
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - aliases:
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        - resourceTypes:
          - aliases:
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - aliases:
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            - paths:
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              - path: path
                apiVersions:
                - apiVersions
                - apiVersions
              name: name
            apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        dependencies:
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        correlationId:
          description: The correlation ID of the deployment.
          title: correlationId
          type: string
        debugSetting:
          $ref: '#/components/schemas/DebugSetting'
        dependencies:
          description: The list of deployment dependencies.
          items:
            $ref: '#/components/schemas/Dependency'
          title: dependencies
          type: array
        mode:
          description: The deployment mode.
          enum:
          - Incremental
          - Complete
          title: mode
          type: string
          x-ms-enum:
            modelAsString: false
            name: DeploymentMode
        outputs:
          description: Key/value pairs that represent deployment output.
          properties: {}
          title: outputs
          type: object
        parameters:
          description: Deployment parameters. Use only one of Parameters or ParametersLink.
          properties: {}
          title: parameters
          type: object
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        providers:
          description: The list of resource providers needed for the deployment.
          items:
            $ref: '#/components/schemas/Provider'
          title: providers
          type: array
        provisioningState:
          description: The state of the provisioning.
          title: provisioningState
          type: string
        template:
          description: The template content. Use only one of Template or TemplateLink.
          properties: {}
          title: template
          type: object
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
        timestamp:
          description: The timestamp of the template deployment.
          format: date-time
          title: timestamp
          type: string
      title: DeploymentPropertiesExtended
      type: object
    DeploymentValidateResult:
      description: Information from validate template deployment response.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
        properties:
          mode: Incremental
          outputs: "{}"
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          correlationId: correlationId
          provisioningState: provisioningState
          parameters: "{}"
          debugSetting:
            detailLevel: detailLevel
          providers:
          - resourceTypes:
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          - resourceTypes:
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - aliases:
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              - paths:
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                - path: path
                  apiVersions:
                  - apiVersions
                  - apiVersions
                name: name
              apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          dependencies:
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        error:
          $ref: '#/components/schemas/ResourceManagementErrorWithDetails'
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
      title: DeploymentValidateResult
      type: object
    ErrorResponse:
      title: ErrorResponse
      type: object
    ExportTemplateRequest:
      description: Export resource group template request parameters.
      example:
        options: options
        resources:
        - resources
        - resources
      properties:
        options:
          description: "The export template options. A CSV-formatted list containing\
            \ zero or more of the following: 'IncludeParameterDefaultValue', 'IncludeComments',\
            \ 'SkipResourceNameParameterization', 'SkipAllParameterization'"
          title: options
          type: string
        resources:
          description: "The IDs of the resources to filter the export by. To export\
            \ all resources, supply an array with single entry '*'."
          items:
            type: string
          title: resources
          type: array
      title: ExportTemplateRequest
      type: object
    GenericResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
      example:
        managedBy: managedBy
        identity:
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        kind: kind
        sku:
          size: size
          tier: tier
          name: name
          model: model
          family: family
          capacity: 0
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
        properties: "{}"
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        kind:
          description: The kind of the resource.
          title: kind
          type: string
        managedBy:
          description: Id of the resource that manages this resource.
          title: managedBy
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          description: The resource properties.
          properties: {}
          title: properties
          type: object
        sku:
          $ref: '#/components/schemas/Sku'
      title: GenericResource
    GenericResourceFilter:
      description: Resource filter.
      properties:
        resourceType:
          description: The resource type.
          type: string
        tagname:
          description: The tag name.
          type: string
        tagvalue:
          description: The tag value.
          type: string
      type: object
    HttpMessage:
      example:
        content: "{}"
      properties:
        content:
          description: HTTP message content.
          properties: {}
          title: content
          type: object
      title: HttpMessage
      type: object
    Identity:
      description: Identity for the resource.
      example:
        tenantId: tenantId
        principalId: principalId
        type: SystemAssigned
      properties:
        principalId:
          description: The principal id of resource identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant id of resource.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      title: Identity
      type: object
    ParametersLink:
      description: Entity representing the reference to the deployment parameters.
      example:
        contentVersion: contentVersion
        uri: uri
      properties:
        contentVersion:
          description: If included it must match the ContentVersion in the template.
          title: contentVersion
          type: string
        uri:
          description: URI referencing the template.
          title: uri
          type: string
      required:
      - uri
      title: ParametersLink
      type: object
    Plan:
      description: Plan for the resource.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
      properties:
        name:
          description: The plan ID.
          title: name
          type: string
        product:
          description: The offer ID.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
      title: Plan
      type: object
    Provider:
      description: Resource provider information.
      example:
        resourceTypes:
        - aliases:
          - paths:
            - path: path
              apiVersions:
              - apiVersions
              - apiVersions
            - path: path
              apiVersions:
              - apiVersions
              - apiVersions
            name: name
          - paths:
            - path: path
              apiVersions:
              - apiVersions
              - apiVersions
            - path: path
              apiVersions:
              - apiVersions
              - apiVersions
            name: name
          apiVersions:
[...]
