openapi: 3.0.1
info:
  description: Azure EventGrid Management Client
  title: EventGridManagementClient
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2019-06-01/EventGrid.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: eventgrid-EventGrid
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      description: List the available operations supported by the Microsoft.EventGrid
        resource provider.
      operationId: Operations_List
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List available operations.
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-06-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the eventSubscription for the EventGrid
                      resource provider and enables the creation of Event Grid subscriptions.
                    operation: Registers the EventGrid Resource Provider
                    provider: Microsoft Event Grid
                    resource: EventGrid Resource Provider
                  name: Microsoft.EventGrid/register/action
                  origin: UserAndSystem
                - display:
                    description: Create or update a eventSubscription
                    operation: Write EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/write
                  origin: UserAndSystem
                - display:
                    description: Read a eventSubscription
                    operation: Read EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/read
                  origin: UserAndSystem
                - display:
                    description: Delete a eventSubscription
                    operation: Delete EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/delete
                  origin: UserAndSystem
                - display:
                    description: Create or update a topic
                    operation: Write Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/write
                  origin: UserAndSystem
                - display:
                    description: Read a topic
                    operation: Read Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/read
                  origin: UserAndSystem
                - display:
                    description: Delete a topic
                    operation: Delete Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/delete
                  origin: UserAndSystem
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      description: List all registered topic types.
      operationId: TopicTypes_List
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypesListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List topic types.
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_List:
          parameters:
            api-version: 2019-06-01
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces
                  name: Microsoft.Eventhub.Namespaces
                  properties:
                    description: Microsoft EventHubs service events.
                    displayName: EventHubs Namespace
                    provider: Microsoft.Eventhub
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                  name: Microsoft.Storage.StorageAccounts
                  properties:
                    description: Microsoft Storage service events.
                    displayName: Storage Accounts
                    provider: Microsoft.Storage
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}:
    get:
      description: Get information about a topic type.
      operationId: TopicTypes_Get
      parameters:
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypeInfo'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Get a topic type.
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_Get:
          parameters:
            api-version: 2019-06-01
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                name: Microsoft.Storage.StorageAccounts
                properties:
                  description: Microsoft Storage service events.
                  displayName: Storage Accounts
                  provider: Microsoft.Storage
                  provisioningState: Succeeded
                  resourceRegionType: RegionalResource
                type: Microsoft.EventGrid/topicTypes
      x-accepts:
      - application/json
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes:
    get:
      description: List event types for a topic type.
      operationId: TopicTypes_ListEventTypes
      parameters:
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List event types.
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_ListEventTypes:
          parameters:
            api-version: 2019-06-01
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                  name: Microsoft.Storage.BlobCreated
                  properties:
                    description: Raised when a blob is created.
                    displayName: Blob Created
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                  name: Microsoft.Storage.BlobDeleted
                  properties:
                    description: Raised when a blob is deleted.
                    displayName: Blob Deleted
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/domains:
    get:
      description: List all the domains under an Azure subscription.
      operationId: Domains_ListBySubscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under an Azure subscription.
      tags:
      - Domains
      x-ms-examples:
        Domains_ListBySubscription:
          parameters:
            api-version: 2019-06-01
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                  location: westus2
                  name: exampledomain1
                  properties:
                    endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                  location: westcentralus
                  name: exampledomain2
                  properties:
                    endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      description: List all aggregated global event subscriptions under a specific
        Azure subscription.
      operationId: EventSubscriptions_ListGlobalBySubscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get an aggregated list of all global event subscriptions under an Azure
        subscription.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          parameters:
            api-version: 2019-06-01
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions:
    get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription.
      operationId: EventSubscriptions_ListRegionalBySubscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          parameters:
            api-version: 2019-06-01
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: EventHub
                      properties:
                        resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and topic type.
      operationId: EventSubscriptions_ListRegionalBySubscriptionForTopicType
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription for
        a topic type.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          parameters:
            api-version: 2019-06-01
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions:
    get:
      description: List all global event subscriptions under an Azure subscription
        for a topic type.
      operationId: EventSubscriptions_ListGlobalBySubscriptionForTopicType
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions for a topic type.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          parameters:
            api-version: 2019-06-01
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.Subscriptions
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics:
    get:
      description: List all the topics under an Azure subscription.
      operationId: Topics_ListBySubscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under an Azure subscription.
      tags:
      - Topics
      x-ms-examples:
        Topics_ListBySubscription:
          parameters:
            api-version: 2019-06-01
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains:
    get:
      description: List all the domains under a resource group.
      operationId: Domains_ListByResourceGroup
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under a resource group.
      tags:
      - Domains
      x-ms-examples:
        Domains_ListByResourceGroup:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                  location: westus2
                  name: exampledomain1
                  properties:
                    endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                  location: westcentralus
                  name: exampledomain2
                  properties:
                    endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}:
    delete:
      description: Delete existing domain.
      operationId: Domains_Delete
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_Delete:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get properties of a domain.
      operationId: Domains_Get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_Get:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                location: westcentralus
                name: exampledomain2
                properties:
                  endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-accepts:
      - application/json
    patch:
      description: Asynchronously updates a domain with the specified parameters.
      operationId: Domains_Update
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateParameters'
        description: Domain update information.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain update request accepted.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Update a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_Update:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain1
            domainUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: domainUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Asynchronously creates or updates a new domain with the specified
        parameters.
      operationId: Domains_CreateOrUpdate
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain information.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Created
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create or update a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_CreateOrUpdate:
          parameters:
            api-version: 2019-06-01
            domainInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: domainInfo
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/listKeys:
    post:
      description: List the two keys used to publish to a domain.
      operationId: Domains_ListSharedAccessKeys
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List keys for a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_ListSharedAccessKeys:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/regenerateKey
  : post:
      description: Regenerate a shared access key for a domain.
      operationId: Domains_RegenerateKey
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegenerateKeyRequest'
        description: Request body to regenerate key.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Regenerate key for a domain.
      tags:
      - Domains
      x-ms-examples:
        Domains_RegenerateKey:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain2
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-codegen-request-body-name: regenerateKeyRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics:
    get:
      description: List all the topics in a domain.
      operationId: DomainTopics_ListByDomain
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Domain name.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domain topics.
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_ListByDomain:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/devexprg/providers/Microsoft.EventGrid/domains/domainCli100/topics/domainCli100topic1
                  name: domainCli100topic1
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.EventGrid/domains/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/devexprg/providers/Microsoft.EventGrid/domains/domainCli100/topics/domainCli100topic2
                  name: domainCli100topic2
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.EventGrid/domains/topics
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{domainTopicName}
  : delete:
      description: Delete existing domain topic.
      operationId: DomainTopics_Delete
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the domain topic.
        in: path
        name: domainTopicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a domain topic.
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_Delete:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain1
            domainTopicName: exampledomaintopic1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get properties of a domain topic.
      operationId: DomainTopics_Get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the topic.
        in: path
        name: domainTopicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain topic.
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_Get:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain2
            domainTopicName: topic1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2/topics/topic1
                name: topic1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.EventGrid/domains/topics
      x-accepts:
      - application/json
    put:
      description: Asynchronously creates or updates a new domain topic with the specified
        parameters.
      operationId: DomainTopics_CreateOrUpdate
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the domain topic.
        in: path
        name: domainTopicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
          description: Created
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create or update a domain topic.
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_CreateOrUpdate:
          parameters:
            api-version: 2019-06-01
            domainName: exampledomain1
            domainTopicName: exampledomaintopic1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1/topics/exampledomaintopic1
                name: exampledomaintopic1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.EventGrid/domains/topics
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      description: List all event subscriptions that have been created for a specific
        domain topic.
      operationId: EventSubscriptions_ListByDomainTopic
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the top level domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the domain topic.
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all event subscriptions for a specific domain topic.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByDomainTopic:
          parameters:
            api-version: 2019-06-01
            domainName: domain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: topic1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                  name: examplesubscription1
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    labels: []
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      description: List all global event subscriptions under a specific Azure subscription
        and resource group.
      operationId: EventSubscriptions_ListGlobalByResourceGroup
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under an Azure subscription and
        resource group.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group.
      operationId: EventSubscriptions_ListRegionalByResourceGroup
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and
        resource group.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          parameters:
            api-version: 2019-06-01
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group and topic type.
      operationId: EventSubscriptions_ListRegionalByResourceGroupForTopicType
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and
        resource group for a topic type.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          parameters:
            api-version: 2019-06-01
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all global event subscriptions under a resource group for
        a specific topic type.
      operationId: EventSubscriptions_ListGlobalByResourceGroupForTopicType
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic type.
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under a resource group for a topic
        type.
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.ResourceGroups
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics:
    get:
      description: List all the topics under a resource group.
      operationId: Topics_ListByResourceGroup
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "The query used to filter the search results using OData syntax.\
          \ Filtering is permitted on the 'name' property only and with limited number\
          \ of OData operations. These operations are: the 'contains' function as\
          \ well as the following logical operations: not, and, or, eq (for equal),\
          \ and ne (for not equal). No arithmetic operations are supported. The following\
          \ is a valid filter example: $filter=contains(namE, 'PATTERN') and name\
          \ ne 'PATTERN-1'. The following is not a valid filter example: $filter=location\
          \ eq 'westus'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The number of results to return per page for the list operation.\
          \ Valid range for top parameter is 1 to 100. If not specified, the default\
          \ number of results to be returned is 20 items per page."
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under a resource group.
      tags:
      - Topics
      x-ms-examples:
        Topics_ListByResourceGroup:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}:
    delete:
      description: Delete existing topic.
      operationId: Topics_Delete
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic.
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a topic.
      tags:
      - Topics
      x-ms-examples:
        Topics_Delete:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get properties of a topic.
      operationId: Topics_Get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic.
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a topic.
      tags:
      - Topics
      x-ms-examples:
        Topics_Get:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                location: westcentralus
                name: exampletopic2
                properties:
                  endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
[...]
