openapi: 3.0.1
info:
  contact:
    email: developer-support@citrixonline.com
    name: Developer Support
    url: https://developer.citrixonline.com
  description: "<br>The GoToMeeting API provides seamless integration of GoToMeeting\
    \ provisioning and meeting management into your existing infrastructure or third\
    \ party applications.<br><br>For customers, the ability to add, suspend or delete\
    \ an organizer in your GoToMeeting Corporate account from within your primary\
    \ management systems simplifies and streamlines the entire process of account\
    \ management. The ability to monitor meeting schedules, history and active meeting\
    \ status allows managers to leverage GoToMeeting activities through your primary\
    \ applications.<br><br>For third parties, the ability to create, update or delete\
    \ a meeting from within your application makes real-time collaboration possible\
    \ for your customers. The ability to update meeting schedules, view history and\
    \ scheduled meetings, and view attendees from past meetings allows you to enhance\
    \ your users' experience and the value of your applications."
  termsOfService: https://developer.citrixonline.com/terms-use
  title: GoToMeeting
  version: 1.0.0
  x-apisguru-categories:
  - collaboration
  x-logo:
    backgroundColor: '#5F6166'
    url: https://twitter.com/citrix/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/gotomeeting.json
    version: "2.0"
  x-providerName: citrixonline.com
  x-serviceName: gotomeeting
externalDocs:
  url: https://developer.citrixonline.com/
servers:
- url: https://api.citrixonline.com/G2M/rest
tags:
- description: Operations on organizers. Only available to users with the admin role.
  name: Organizers
- description: Operations on meetings.
  name: Meetings
- description: Operations on groups. Only available to users with the admin role.
  name: Groups
paths:
  /groups:
    get:
      description: List all groups for an account. This API call is only available
        to users with the admin role.
      operationId: groups_get
      parameters:
      - description: Access token
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
      summary: Get groups
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /groups/{groupKey}/attendees:
    get:
      description: Returns all attendees for all meetings within specified date range
        held by organizers within the specified group. This API call is only available
        to users with the admin role. This API call can be used only for groups with
        maximum 50 organizers.
      operationId: groups_group_key_attendees_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: groupKey
        required: true
        schema:
          format: int64
          type: integer
      - description: "Start of date range, in ISO8601 UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: "End of date range, in ISO8601 UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttendeeByGroup'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
      summary: Get attendees by group
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /groups/{groupKey}/historicalMeetings:
    get:
      description: "Get historical meetings for the specified group that started within\
        \ the specified date/time range. This API call is only available to users\
        \ with the admin role. This API call is restricted to groups with a maximum\
        \ of 50 organizers. Remark: Meetings which are still ongoing at the time of\
        \ the request are NOT contained in the result array."
      operationId: groups_group_key_historical_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: group_key
        required: true
        schema:
          format: int64
          type: integer
      - description: "Required start of date range, in ISO8601 UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: "Required end of date range, in ISO8601 UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HistoricalMeetingByGroup'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      summary: Get historical meetings by group
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /groups/{groupKey}/meetings:
    get:
      deprecated: true
      description: "DEPRECATED: Please use the new API calls 'Get historical meetings\
        \ by group' and 'Get upcoming meetings by group'. Get meetings for a specified\
        \ group. Additional filters can be used to view only meetings within a specified\
        \ date range. This API call is only available to users with the admin role."
      operationId: groups_group_key_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: group_key
        required: true
        schema:
          format: int64
          type: integer
      - description: "When 'true', returns all past meetings within date range"
        in: query
        name: history
        required: true
        schema:
          type: boolean
      - description: "If history=true, required start of date range, in ISO8601 UTC\
          \ format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: "If history=true, required end of date range, in ISO8601 UTC\
          \ format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HistoryMeetingByGroup'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
      summary: "DEPRECATED: Get historical meetings by group"
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /groups/{groupKey}/organizers:
    get:
      description: Returns all the organizers within a specific group. This API call
        is only available to users with the admin role.
      operationId: groups_group_key_organizers_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: group_key
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizerByGroup'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      summary: Get organizers by group
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
    post:
      description: "Creates a new organizer and sends an email to the email address\
        \ defined in request. This API call is only available to users with the admin\
        \ role. You may also pass 'G2W' or 'G2T' or 'OPENVOICE' as productType variables,\
        \ creating organizers for those products. A G2W or G2T organizer will also\
        \ have access to G2M."
      operationId: groups_group_key_organizers_post
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: group_key
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizerReq'
        description: The details of the organizer to be created
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizerShort'
                type: array
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Server Error
        "409":
          content: {}
          description: Conflict
      summary: Create organizer in group
      tags:
      - Groups
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /groups/{groupKey}/upcomingMeetings:
    get:
      description: Get upcoming meetings for a specified group. This API call is only
        available to users with the admin role. This API call can be used only for
        groups with maximum 50 organizers.
      operationId: groups_group_key_upcoming_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the group
        in: path
        name: group_key
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpcomingMeetingByGroup'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      summary: Get upcoming meetings by group
      tags:
      - Groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
  /historicalMeetings:
    get:
      description: "Get historical meetings for the currently authenticated organizer\
        \ that started within the specified date/time range. Remark: Meetings which\
        \ are still ongoing at the time of the request are NOT contained in the result\
        \ array."
      operationId: historical_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: "Required start of date range, in ISO8601 UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: "Required end of date range, in ISO8601 UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HistoricalMeeting'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Get historical meetings
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
  /meetings:
    get:
      deprecated: true
      description: "DEPRECATED: Please use the new API calls 'Get historical meetings'\
        \ and 'Get upcoming meetings'.  Gets historical meetings for the current authenticated\
        \ organizer. Requires date range for filtering results to only meetings within\
        \ specified dates. History searches will contain the parameter 'meetingInstanceKey'\
        \ which is used in conjunction with the call 'Get Attendees by Meeting' to\
        \ get attendee information for a past meeting."
      operationId: meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: "When 'true', returns all past meetings within date range"
        in: query
        name: history
        schema:
          type: boolean
      - description: "If history=true, required start of date range, in ISO8601 UTC\
          \ format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: "If history=true, required end of date range, in ISO8601 UTC\
          \ format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MeetingHistory'
                type: array
          description: OK
      summary: "DEPRECATED: Get historical meetings"
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
    post:
      description: Create a new meeting based on the parameters specified.
      operationId: meetings_post
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingReqCreate'
        description: The meeting details
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MeetingCreated'
                type: array
          description: Created
        "400":
          content: {}
          description: Bad Request
      summary: Create meeting
      tags:
      - Meetings
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
  /meetings/{meetingId}:
    delete:
      description: Deletes the meeting identified by the meetingId.
      operationId: meetings_meeting_id_delete
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The meeting ID
        in: path
        name: meeting_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not found
      summary: Delete meeting
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
    get:
      description: Returns the meeting details for the specified meeting.
      operationId: meetings_meeting_id_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The meeting ID
        in: path
        name: meetingId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MeetingById'
                type: array
          description: OK
        "404":
          content: {}
          description: Not found
      summary: Get meeting
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
    put:
      description: Updates an existing meeting specified by meetingId.
      operationId: meetings_meeting_id_put
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The meeting ID
        in: path
        name: meeting_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingReqUpdate'
        description: The meeting details
        required: true
        x-body-name: body
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not found
      summary: Update meeting
      tags:
      - Meetings
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
  /meetings/{meetingId}/attendees:
    get:
      description: "List all attendees for specified meetingId of historical meeting.\
        \ The historical meetings can be fetched using 'Get historical meetings',\
        \ 'Get historical meetings by organizer', and 'Get historical meetings by\
        \ group'. For users with the admin role this call returns attendees for any\
        \ meeting. For any other user the call will return attendees for meetings\
        \ on which the user is a valid organizer."
      operationId: meetings_meeting_id_attendees_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The meeting ID
        in: path
        name: meetingId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttendeeByMeeting'
                type: array
          description: OK
        "404":
          content: {}
          description: Not found
      summary: Get attendees by meeting
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
  /meetings/{meetingId}/start:
    get:
      description: "Returns a host URL that can be used to start a meeting. When this\
        \ URL is opened in a web browser, the GoToMeeting client will be downloaded\
        \ and launched and the meeting will start. The end user is not required to\
        \ login to a client."
      operationId: meetings_meeting_id_start_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The meeting ID
        in: path
        name: meeting_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartUrl'
          description: OK
      summary: Start meeting
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
  /organizers:
    delete:
      description: Deletes the individual organizer specified by the email address.
        This API call is only available to users with the admin role.
      operationId: organizers_delete
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The email address of the organizer
        in: query
        name: email
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
      summary: Delete organizer by email
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
    get:
      description: "Gets the individual organizer specified by the organizer's email\
        \ address. If an email address is not specified, all organizers are returned.\
        \ This API call is only available to users with the admin role."
      operationId: organizers_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The email address of the organizer
        in: query
        name: email
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organizer'
                type: array
          description: OK
        "404":
          content: {}
          description: Not found
      summary: Get organizer by email / Get all organizers
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
    post:
      description: "Creates a new organizer and sends an email to the email address\
        \ defined in the request. This API call is only available to users with the\
        \ admin role. You may also pass 'G2W' or 'G2T' or 'OPENVOICE' as productType\
        \ variables, creating organizers for those products. A G2W or G2T organizer\
        \ will also have access to G2M."
      operationId: organizers_post
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizerReq'
        description: The details of the organizer to be created
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizerShort'
                type: array
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Server Error
        "409":
          content: {}
          description: Conflict
      summary: Create organizer
      tags:
      - Organizers
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /organizers/{organizerKey}:
    delete:
      description: Deletes the individual organizer specified by the organizer key.
        This API call is only available to users with the admin role.
      operationId: organizers_organizer_key_delete
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Delete organizer
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
    get:
      description: Returns the individual organizer specified by the key. This API
        call is only available to users with the admin role. Non-admin users can only
        make this call for their own organizerKey.
      operationId: organizers_organizer_key_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizerKey
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organizer'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Get organizer
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
    put:
      description: "Updates the products of the specified organizer. To add a product\
        \ (G2M, G2W, G2T, OPENVOICE) for the organizer, the call must be sent once\
        \ for each product you want to add. To remove all products for the organizer,\
        \ set status to 'suspended'. The call is limited to users with the admin role."
      operationId: organizers_organizer_key_put
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizerStatus'
        description: The organizer's status
        required: true
        x-body-name: body
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Update organizer
      tags:
      - Organizers
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /organizers/{organizerKey}/attendees:
    get:
      description: Lists all attendees for all meetings within a specified date range
        for a specified organizer. This API call is only available to users with the
        admin role.
      operationId: organizers_organizer_key_attendees_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      - description: "A required start of date range in ISO8601 UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: "A required end of date range in ISO8601 UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttendeeByOrganizer'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not found
      summary: Get attendees by organizer
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /organizers/{organizerKey}/historicalMeetings:
    get:
      description: "Get historical meetings for the specified organizer that started\
        \ within the specified date/time range. Remark: Meetings which are still ongoing\
        \ at the time of the request are NOT contained in the result array."
      operationId: organizers_organizer_key_historical_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      - description: "Required start of date range, in ISO8601 UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: "Required end of date range, in ISO8601 UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HistoricalMeeting'
                type: array
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Get historical meetings by organizer
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /organizers/{organizerKey}/meetings:
    get:
      deprecated: true
      description: "DEPRECATED: Please use the new API calls 'Get historical meetings\
        \ by organizer' and 'Get upcoming meetings by organizer'. Gets future (scheduled)\
        \ or past (history) meetings for a specified organizer. Include 'history=true'\
        \ and the past start and end dates in the URL to retrieve past meetings. Enter\
        \ 'scheduled=true' (without dates) to get scheduled meetings."
      operationId: organizers_organizer_key_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      - description: "When 'true', returns all future meetings. Date range not supported."
        in: query
        name: scheduled
        schema:
          type: boolean
      - description: "When 'true', returns all past meetings within date range"
        in: query
        name: history
        schema:
          type: boolean
      - description: "If history is 'true', required start of date range, in ISO8601\
          \ UTC format, e.g. 2015-07-01T22:00:00Z"
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: "If history is 'true', required end of date range, in ISO8601\
          \ UTC format, e.g. 2015-07-01T23:00:00Z"
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MeetingByOrganizer'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: "DEPRECATED: Get meetings by organizer"
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /organizers/{organizerKey}/upcomingMeetings:
    get:
      description: Get upcoming meetings for a specified organizer. This API call
        is only available to users with the admin role.
      operationId: organizers_organizer_key_upcoming_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      - description: The key of the organizer
        in: path
        name: organizer_key
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpcomingMeeting'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Get upcoming meetings by organizer
      tags:
      - Organizers
      x-openapi-router-controller: openapi_server.controllers.organizers_controller
  /upcomingMeetings:
    get:
      description: Gets upcoming meetings for the current authenticated organizer.
      operationId: upcoming_meetings_get
      parameters:
      - description: Access token
        in: header
        name: authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpcomingMeeting'
                type: array
          description: OK
        "403":
          content: {}
          description: Forbidden
      summary: Get upcoming meetings
      tags:
      - Meetings
      x-openapi-router-controller: openapi_server.controllers.meetings_controller
components:
  parameters:
    Authorization:
      description: Access token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    groupKey:
      description: The key of the group
      in: path
      name: groupKey
      required: true
      schema:
        format: int64
        type: integer
    meetingId:
      description: The meeting ID
      in: path
      name: meetingId
      required: true
      schema:
        format: int64
        type: integer
    organizerKey:
      description: The key of the organizer
      in: path
      name: organizerKey
      required: true
      schema:
        format: int64
        type: integer
  schemas:
    AttendeeByGroup:
      description: Describes an attendee of a meeting instance held by an organizer
        within a specified group.
      example:
        leaveTime: 2000-01-23T04:56:07.000+00:00
        lastName: lastName
        numAttendees: 1
        joinTime: 2000-01-23T04:56:07.000+00:00
        subject: subject
        attendeeEmail: attendeeEmail
        meetingId: meetingId
        organizerKey: organizerKey
        organizerkey: 5
        meetingType: immediate
        attendeeName: attendeeName
        duration: 0
        firstName: firstName
        groupName: groupName
        meetingInstanceKey: 6
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        attendeeEmail:
          description: The attendee's email address
          title: attendeeEmail
          type: string
        attendeeName:
          description: The full name of the attendee
          title: attendeeName
          type: string
        conferenceCallInfo:
          description: Audio options for the attended meeting
          title: conferenceCallInfo
          type: string
        duration:
          description: The duration of attendance in minutes
          format: int32
          title: duration
          type: integer
        email:
          description: The email address of the meeting organizer
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The first name of the organizer of the attended meeting
          title: firstName
          type: string
        groupName:
          description: The name of the group
          title: groupName
          type: string
        joinTime:
          description: The time the attendee joined the meeting instance
          format: date-time
          title: joinTime
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        leaveTime:
          description: The time the attendee left the meeting instance
          format: date-time
          title: leaveTime
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingInstanceKey:
          description: The key of the attended meeting instance
          format: int64
          title: meetingInstanceKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        numAttendees:
          description: The number of attendees at the attended meeting instance
          format: int32
          title: numAttendees
          type: integer
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        organizerkey:
          description: The key of the meeting organizer. Field retained for backwards
            compatibility reasons
          format: int64
          title: organizerkey
          type: integer
        startTime:
          description: The time the meeting instance started
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the attended meeting
          title: subject
          type: string
      required:
      - attendeeEmail
      - attendeeName
      - conferenceCallInfo
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - joinTime
      - lastName
      - leaveTime
      - meetingId
      - meetingInstanceKey
      - meetingType
      - numAttendees
      - organizerKey
      - organizerkey
      - startTime
      - subject
      title: AttendeeByGroup
      type: object
    AttendeeByMeeting:
      description: Describes an attendee of a specified meeting instance.
      example:
        leaveTime: 2000-01-23T04:56:07.000+00:00
        lastName: lastName
        numAttendees: 5
        joinTime: 2000-01-23T04:56:07.000+00:00
        subject: subject
        attendeeEmail: attendeeEmail
        meetingId: 6
        organizerkey: 5
        meetingType: immediate
        attendeeName: attendeeName
        duration: 0
        firstName: firstName
        groupName: groupName
        meetingInstanceKey: 1
        name: name
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        attendeeEmail:
          description: The attendee's email address
          title: attendeeEmail
          type: string
        attendeeName:
          description: The attendee's full name
          title: attendeeName
          type: string
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        duration:
          description: The meeting duration in minutes
          format: int32
          title: duration
          type: integer
        email:
          description: The email address of the meeting organizer
          title: email
          type: string
        endTime:
          description: The ending time of the meeting instance
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The first name of the meeting organizer
          title: firstName
          type: string
        groupName:
          description: DEPRECATED. Returns 'NA'
          title: groupName
          type: string
        joinTime:
          description: The time the attendee joined the meeting instance
          format: date-time
          title: joinTime
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        leaveTime:
          description: The time the attendee left the meeting instance
          format: date-time
          title: leaveTime
          type: string
        meetingId:
          description: The meeting ID
          format: int64
          title: meetingId
          type: integer
        meetingInstanceKey:
          description: The key of the unique meeting instance
          format: int64
          title: meetingInstanceKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        name:
          description: The attendee's full name
          title: name
          type: string
        numAttendees:
          description: The number of attendees at the meeting instance
          format: int32
          title: numAttendees
          type: integer
        organizerkey:
          description: The key of the meeting organizer
          format: int64
          title: organizerkey
          type: integer
        startTime:
          description: The starting time of the meeting instance
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - attendeeEmail
      - attendeeName
      - conferenceCallInfo
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - joinTime
      - lastName
      - leaveTime
      - meetingId
      - meetingInstanceKey
      - meetingType
      - name
      - numAttendees
      - organizerkey
      - startTime
      - subject
      title: AttendeeByMeeting
      type: object
    AttendeeByOrganizer:
      description: Describes an attendee of a meeting instance held by a specified
        organizer.
      example:
        leaveTime: 2000-01-23T04:56:07.000+00:00
        lastName: lastName
        numAttendees: 5
        joinTime: 2000-01-23T04:56:07.000+00:00
        subject: subject
        attendeeEmail: attendeeEmail
        meetingId: 6
        organizerkey: 5
        meetingType: immediate
        attendeeName: attendeeName
        duration: 0
        firstName: firstName
        groupName: groupName
        meetingInstanceKey: 1
        newMeetingId: newMeetingId
        name: name
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        attendeeEmail:
          description: The attendee's email address
          title: attendeeEmail
          type: string
        attendeeName:
          description: The full name of the attendee
          title: attendeeName
          type: string
        conferenceCallInfo:
          description: Audio options for the attended meeting
          title: conferenceCallInfo
          type: string
        duration:
          description: The duration of attendance in minutes
          format: int32
          title: duration
          type: integer
        email:
          description: The email address of the meeting organizer
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The first name of the meeting organizer
          title: firstName
          type: string
        groupName:
          description: The name of the group the organizer is assigned to
          title: groupName
          type: string
        joinTime:
          description: The time the attendee joined the meeting instance
          format: date-time
          title: joinTime
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        leaveTime:
          description: The time the attendee left the meeting instance
          format: date-time
          title: leaveTime
          type: string
        meetingId:
          description: The meeting ID
          format: int64
          title: meetingId
          type: integer
        meetingInstanceKey:
          description: The key of the attended meeting instance
          format: int64
          title: meetingInstanceKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        name:
          description: The full name of the meeting organizer
          title: name
          type: string
        newMeetingId:
          description: The formatted meeting ID
          title: newMeetingId
          type: string
        numAttendees:
          description: The number of attendees at the attended meeting instance
          format: int32
          title: numAttendees
          type: integer
        organizerkey:
          description: The key of the meeting organizer. Field retained for backwards
            compatibility reasons
          format: int64
          title: organizerkey
          type: integer
        startTime:
          description: The time the meeting instance started
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the attended meeting
          title: subject
          type: string
      required:
      - attendeeEmail
      - attendeeName
      - conferenceCallInfo
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - joinTime
      - lastName
      - leaveTime
      - meetingId
      - meetingInstanceKey
      - meetingType
      - name
      - newMeetingId
      - numAttendees
      - organizerkey
      - startTime
      - subject
      title: AttendeeByOrganizer
      type: object
    Group:
      description: "Describes a collection of organizers categorized by department\
        \ or job function, for example. Can be a subgroup of a larger group."
      example:
        groupName: groupName
        parentKey: 1
        numOrganizers: 6
        groupkey: 0
        status: active
      properties:
        groupName:
          description: The name of this group
          title: groupName
          type: string
        groupkey:
          description: The key of this group
          format: int64
          title: groupkey
          type: integer
        numOrganizers:
          description: The number of organizers assigned to this group
          format: int32
          title: numOrganizers
          type: integer
        parentKey:
          description: The key of the parent group this group belongs to. Identical
            with the groupkey if this group is not a subgroup
          format: int64
          title: parentKey
          type: integer
        status:
          $ref: '#/components/schemas/Status'
      required:
      - groupName
      - groupkey
      - numOrganizers
      - parentKey
      - status
      title: Group
      type: object
    HistoricalMeeting:
      description: Describes a historical meeting within specified dates.
      example:
        lastName: lastName
        numAttendees: numAttendees
        subject: subject
        meetingId: meetingId
        organizerKey: organizerKey
        sessionId: sessionId
        locale: locale
        meetingType: immediate
        accountKey: accountKey
        duration: duration
        firstName: firstName
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        accountKey:
          description: The key of the company account
          title: accountKey
          type: string
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        duration:
          description: The duration of the meeting session in minutes
          title: duration
          type: string
        email:
          description: The meeting organizer's email address
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The meeting organizer's first name
          title: firstName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        locale:
          description: The current language setting of the organizer in the web portal
          title: locale
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        numAttendees:
          description: The number of attendees at the meeting instance
          title: numAttendees
          type: string
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        sessionId:
          description: The ID of the meeting session
          title: sessionId
          type: string
        startTime:
          description: The time the meeting instance started
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - accountKey
      - conferenceCallInfo
      - duration
      - email
      - endTime
      - firstName
      - lastName
      - locale
      - meetingId
      - meetingType
      - numAttendees
      - organizerKey
      - sessionId
      - startTime
      - subject
      title: HistoricalMeeting
      type: object
    HistoricalMeetingByGroup:
      description: Describes a historical meeting within specified dates for a specified
        group.
      example:
        lastName: lastName
        numAttendees: numAttendees
        subject: subject
        meetingId: meetingId
        organizerKey: organizerKey
        locale: locale
        meetingType: immediate
        accountKey: accountKey
        duration: duration
        firstName: firstName
        groupName: groupName
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        accountKey:
          description: The key of the company account
          title: accountKey
          type: string
        duration:
          description: The duration of the meeting session in minutes
          title: duration
          type: string
        email:
          description: The meeting organizer's email address
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The meeting organizer's first name
          title: firstName
          type: string
        groupName:
          description: The name of the group
          title: groupName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        locale:
          description: The current language setting of the organizer in the web portal
          title: locale
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        numAttendees:
          description: The number of attendees at the meeting instance
          title: numAttendees
          type: string
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        startTime:
          description: The time the meeting instance started
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - accountKey
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - lastName
      - locale
      - meetingId
      - meetingType
      - numAttendees
      - organizerKey
      - startTime
      - subject
      title: HistoricalMeetingByGroup
      type: object
    HistoryMeetingByGroup:
      description: Describes past meeting instance(s) held by an organizer within
        a specified group.
      example:
        lastName: lastName
        numAttendees: 6
        subject: subject
        meetingId: meetingId
        organizerKey: organizerKey
        organizerkey: 1
        meetingType: immediate
        duration: duration
        firstName: firstName
        groupName: groupName
        meetingInstanceKey: 0
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
      properties:
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        duration:
          description: The duration of this meeting instance in minutes
          title: duration
          type: string
        email:
          description: The email address of the meeting organizer
          title: email
          type: string
        endTime:
          description: The time this meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The first name of the meeting organizer
          title: firstName
          type: string
        groupName:
          description: The name of the group
          title: groupName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingInstanceKey:
          description: The key of this meeting instance
          format: int64
          title: meetingInstanceKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        numAttendees:
          description: The number of attendees at this meeting instance
          format: int32
          title: numAttendees
          type: integer
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        organizerkey:
          description: The key of the meeting organizer. Field retained for backwards
            compatibility reasons
          format: int64
          title: organizerkey
          type: integer
        startTime:
          description: The time this meeting instance started
          format: date-time
          title: startTime
          type: string
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - conferenceCallInfo
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - lastName
      - meetingId
      - meetingInstanceKey
      - meetingType
      - numAttendees
      - organizerKey
      - organizerkey
      - startTime
      - subject
      title: HistoryMeetingByGroup
      type: object
    MeetingById:
      description: Describes a given meeting.
      example:
        subject: subject
        meetingId: 1
        uniqueMeetingId: 5
        meetingType: immediate
        maxParticipants: 6
        duration: 0
        passwordRequired: true
        createTime: 2000-01-23T04:56:07.000+00:00
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        meetingKey: 5
        status: ACTIVE
      properties:
        conferenceCallInfo:
          description: Audio options of the meeting
          title: conferenceCallInfo
          type: string
        createTime:
          description: DEPRECATED. Returns an empty string ''
          format: date-time
          title: createTime
          type: string
        duration:
          description: The duration of the meeting in minutes
          format: int32
          title: duration
          type: integer
        endTime:
          description: The ending time of the meeting
          format: date-time
          title: endTime
          type: string
        maxParticipants:
          description: The maximum number of participants allowed at the meeting
          format: int32
          title: maxParticipants
          type: integer
        meetingId:
          description: The meeting ID
          format: int64
          title: meetingId
          type: integer
        meetingKey:
          description: The meeting ID. Field retained for backwards compatibility
            reasons
          format: int64
          title: meetingKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        passwordRequired:
          description: Indicates whether a password is required to join the meeting
          title: passwordRequired
          type: boolean
        startTime:
          description: The meeting starting time
          format: date-time
          title: startTime
          type: string
        status:
          $ref: '#/components/schemas/MeetingStatus'
        subject:
          description: The subject of the meeting
          title: subject
          type: string
        uniqueMeetingId:
          description: The meeting ID. Field retained for backwards compatibility
            reasons
          format: int64
          title: uniqueMeetingId
          type: integer
      required:
      - conferenceCallInfo
      - createTime
      - duration
      - endTime
      - maxParticipants
      - meetingId
      - meetingKey
      - meetingType
      - passwordRequired
      - startTime
      - status
      - subject
      - uniqueMeetingId
      title: MeetingById
      type: object
    MeetingByOrganizer:
      description: Describes a meeting scheduled by a specified organizer
      example:
        passwordRequired: true
        createTime: 2000-01-23T04:56:07.000+00:00
        subject: subject
        conferenceCallInfo: conferenceCallInfo
        meetingid: 6
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        uniqueMeetingId: 1
        meetingType: immediate
        maxParticipants: 0
        status: ACTIVE
      properties:
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        createTime:
          description: DEPRECATED. Returns an empty string ''
          format: date-time
          title: createTime
          type: string
        endTime:
          description: The ending time of the meeting
          format: date-time
          title: endTime
          type: string
        maxParticipants:
          description: The maximum number of participants allowed at the meeting
          format: int32
          title: maxParticipants
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        meetingid:
          description: The meeting ID
          format: int64
          title: meetingid
          type: integer
        passwordRequired:
          description: Indicates whether a password is required to join the meeting
          title: passwordRequired
          type: boolean
        startTime:
          description: The starting time of the meeting
          format: date-time
          title: startTime
          type: string
        status:
          $ref: '#/components/schemas/MeetingStatus'
        subject:
          description: The subject of the meeting
          title: subject
          type: string
        uniqueMeetingId:
          description: A unique ID for the meeting
          format: int64
          title: uniqueMeetingId
          type: integer
      required:
      - conferenceCallInfo
      - createTime
      - endTime
      - maxParticipants
      - meetingType
      - meetingid
      - passwordRequired
      - startTime
      - status
      - subject
      - uniqueMeetingId
      title: MeetingByOrganizer
      type: object
    MeetingCreated:
      description: Describes a newly created meeting.
      example:
        conferenceCallInfo: conferenceCallInfo
        meetingid: 6
        joinURL: joinURL
        uniqueMeetingId: 1
        maxParticipants: 0
      properties:
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        joinURL:
          description: The URL the meeting participants will use to join the meeting
          title: joinURL
          type: string
        maxParticipants:
          description: The maximum number of participants allowed in the meeting
          format: int32
          title: maxParticipants
          type: integer
        meetingid:
          description: The meeting ID
          format: int64
          title: meetingid
          type: integer
        uniqueMeetingId:
          description: The meeting ID. Field retained for backwards compatibility
            reasons
          format: int64
          title: uniqueMeetingId
          type: integer
      required:
      - conferenceCallInfo
      - joinURL
      - maxParticipants
      - meetingid
      - uniqueMeetingId
      title: MeetingCreated
      type: object
    MeetingHistory:
      description: Describes a unique past meeting instance.
      example:
        date: 2000-01-23T04:56:07.000+00:00
        lastName: lastName
        numAttendees: 5
        subject: subject
        newOrganizerKey: newOrganizerKey
        meetingId: 6
        organizerKey: organizerKey
        sessionId: 2
        organizerkey: organizerkey
        uniqueMeetingId: 7
        meetingType: immediate
        duration: 0
        passwordRequired: true
        firstName: firstName
        groupName: groupName
        meetingInstanceKey: 1
        newMeetingId: newMeetingId
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        meetingKey: 5
        email: email
        status: status
      properties:
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        date:
          description: The time the meeting instance started. Field retained for backwards
            compatibility reasons
          format: date-time
          title: date
          type: string
        duration:
          description: The duration of the meeting session in minutes
          format: int32
          title: duration
          type: integer
        email:
          description: The meeting organizer's email address
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The meeting organizer's first name
          title: firstName
          type: string
        groupName:
          description: DEPRECATED. An empty string '' is returned
          title: groupName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        meetingId:
          description: The meeting ID
          format: int64
          title: meetingId
          type: integer
        meetingInstanceKey:
          description: The key of the unique meeting instance
          format: int64
          title: meetingInstanceKey
          type: integer
        meetingKey:
          description: The meeting ID. Field retained for backwards compatibility
            reasons
          format: int64
          title: meetingKey
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        newMeetingId:
          description: Formatted meeting ID
          title: newMeetingId
          type: string
        newOrganizerKey:
          description: The key of the meeting organizer. Field introduced for compatibility
            reasons
          title: newOrganizerKey
          type: string
        numAttendees:
          description: The number of attendees at the meeting instance
          format: int32
          title: numAttendees
          type: integer
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        organizerkey:
          description: The key of the meeting organizer. Field retained for backwards
            compatibility reasons
          title: organizerkey
          type: string
        passwordRequired:
          description: DEPRECATED. An empty string '' is returned
          title: passwordRequired
          type: boolean
        sessionId:
          description: The ID of the meeting session
          format: int64
          title: sessionId
          type: integer
        startTime:
          description: The time the meeting instance started
          format: date-time
          title: startTime
          type: string
        status:
          description: DEPRECATED. An empty string '' is returned
          title: status
          type: string
        subject:
          description: The subject of the meeting
          title: subject
          type: string
        uniqueMeetingId:
          description: The meeting ID. Field retained for backwards compatibility
            reasons
          format: int64
          title: uniqueMeetingId
          type: integer
      required:
      - conferenceCallInfo
      - date
      - duration
      - email
      - endTime
      - firstName
      - groupName
      - lastName
      - meetingId
      - meetingInstanceKey
      - meetingKey
      - meetingType
      - newMeetingId
      - newOrganizerKey
      - numAttendees
      - organizerKey
      - organizerkey
      - passwordRequired
      - sessionId
      - startTime
      - status
      - subject
      - uniqueMeetingId
      title: MeetingHistory
      type: object
    MeetingReqCreate:
      description: Describes the information required to create a meeting.
      example:
        meetingtype: immediate
        subject: subject
        endtime: 2000-01-23T04:56:07.000+00:00
        passwordrequired: true
        starttime: 2000-01-23T04:56:07.000+00:00
        timezonekey: timezonekey
        conferencecallinfo: conferencecallinfo
      properties:
        conferencecallinfo:
          description: "A required string. Can be one of the following options: <br>PSTN\
            \ (PSTN only), <br>Free (PSTN and VoIP), <br>Hybrid, (PSTN and VoIP),\
            \ <br>Private (you provide numbers and access code), or <br>VoIP (VoIP\
            \ only). <br>You may also enter plain text for numbers and access codes\
            \ with a limit of 255 characters"
          title: conferencecallinfo
          type: string
        endtime:
          description: "The ending time of the meeting. Required ISO8601 UTC string,\
            \ e.g. 2015-07-01T23:00:00Z"
          format: date-time
          title: endtime
          type: string
        meetingtype:
          $ref: '#/components/schemas/MeetingType'
        passwordrequired:
          description: Indicates whether a password is required to join the meeting.
            Required parameter
          title: passwordrequired
          type: boolean
        starttime:
          description: "The starting time of the meeting. Required ISO8601 UTC string,\
            \ e.g. 2015-07-01T22:00:00Z"
          format: date-time
          title: starttime
          type: string
        subject:
          description: The subject of the meeting. 100 characters maximum. The characters
            '&gt;' and '&lt;' have to be replaced with the corresponding html character
            code (&amp;gt; for &#39;&gt;&#39; and &amp;lt; for &#39;&lt;&#39;)
          title: subject
          type: string
        timezonekey:
          description: DEPRECATED. Must be provided and set to empty string ''
          title: timezonekey
          type: string
      required:
      - conferencecallinfo
      - endtime
      - meetingtype
      - passwordrequired
      - starttime
      - subject
      - timezonekey
      title: MeetingReqCreate
      type: object
    MeetingReqUpdate:
      description: Describes the information required to update a meeting.
      example:
        meetingtype: immediate
        subject: subject
        endtime: 2000-01-23T04:56:07.000+00:00
        passwordrequired: true
        starttime: 2000-01-23T04:56:07.000+00:00
        timezonekey: timezonekey
        conferencecallinfo: conferencecallinfo
      properties:
        conferencecallinfo:
          description: "A required string. Can be one of the following options: <br>PSTN\
            \ (PSTN only), <br>Free (PSTN and VoIP), <br>Hybrid, (PSTN and VoIP),\
            \ <br>Private (you provide numbers and access code), or <br>VoIP (VoIP\
            \ only). <br>You may also enter plain text for numbers and access codes\
            \ with a limit of 255 characters"
          title: conferencecallinfo
          type: string
        endtime:
          description: "The ending time of the meeting. A required ISO8601 UTC string,\
            \ e.g. 2015-07-01T22:00:00Z"
          format: date-time
          title: endtime
          type: string
        meetingtype:
          $ref: '#/components/schemas/MeetingType'
        passwordrequired:
          description: Indicates whether a password is required to join the meeting.
            Required parameter
          title: passwordrequired
          type: boolean
        starttime:
          description: "The starting time of the meeting. A required ISO8601 UTC string,\
            \ e.g. 2015-07-01T22:00:00Z"
          format: date-time
          title: starttime
          type: string
        subject:
          description: A description of the meeting. 100 characters maximum. The characters
            '&gt;' and '&lt;' have to be replaced with the corresponding html character
            code (&amp;gt; for &#39;&gt;&#39; and &amp;lt; for &#39;&lt;&#39;)
          title: subject
          type: string
        timezonekey:
          description: DEPRECATED. Must be provided and set to empty string ''
          title: timezonekey
          type: string
      required:
      - conferencecallinfo
      - endtime
      - meetingtype
      - passwordrequired
      - starttime
      - subject
      - timezonekey
      title: MeetingReqUpdate
      type: object
    MeetingScheduled:
      description: Describes a scheduled meeting.
      properties:
        conferenceCallInfo:
          description: Audio options for the meeting.
          type: string
        createTime:
          description: The time the meeting was created.
          format: date-time
          type: string
        endTime:
          description: The ending time of the meeting.
          format: date-time
          type: string
        maxParticipants:
          description: The maximum number of participants allowed at the meeting.
          format: int32
          type: integer
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        meetingid:
          description: The meeting ID.
          format: int64
          type: integer
        passwordRequired:
          description: Indicates whether a password is required to join the meeting.
          type: boolean
        startTime:
          description: The starting time of the meeting.
          format: date-time
          type: string
        status:
          $ref: '#/components/schemas/MeetingStatus'
        subject:
          description: The subject of the meeting.
          type: string
        uniqueMeetingId:
          description: The meeting ID. Field retained for backwards compatibility
            reasons.
          format: int64
          type: integer
      required:
      - conferenceCallInfo
      - createTime
      - endTime
      - maxParticipants
      - meetingType
      - meetingid
      - passwordRequired
      - startTime
      - status
      - subject
      - uniqueMeetingId
      type: object
    MeetingStatus:
      description: "The meeting status, i.e whether the meeting is running or not"
      enum:
      - ACTIVE
      - INACTIVE
      title: MeetingStatus
      type: string
    MeetingType:
      description: The meeting type
      enum:
      - immediate
      - recurring
      - scheduled
      title: MeetingType
      type: string
    Organizer:
      description: Describes an organizer.
      example:
        firstName: firstName
        lastName: lastName
        groupName: groupName
        maxNumAttendeesAllowed: 6
        groupId: 0
        organizerKey: 1
        email: email
        products:
        - G2M
        - G2M
        status: active
      properties:
        email:
          description: The organizer's email address
          title: email
          type: string
        firstName:
          description: The organizer's first name
          title: firstName
          type: string
        groupId:
          description: The key of the group this organizer is assigned to
          format: int64
          title: groupId
          type: integer
        groupName:
          description: The name of the group this organizer is assigned to
          title: groupName
          type: string
        lastName:
          description: The organizer's surname
          title: lastName
          type: string
        maxNumAttendeesAllowed:
          description: The maximum number of attendees allowed at sessions hosted
            by this organizer.
          format: int32
          title: maxNumAttendeesAllowed
          type: integer
        organizerKey:
          description: The key of the organizer
          format: int64
          title: organizerKey
          type: integer
        products:
          description: "The products the organizer has access to, can be 'G2M', 'G2W',\
            \ 'G2T' or 'OPENVOICE'"
          items:
            $ref: '#/components/schemas/Product'
          title: products
          type: array
        status:
          $ref: '#/components/schemas/Status'
      required:
      - email
      - firstName
      - groupId
      - groupName
      - lastName
      - maxNumAttendeesAllowed
      - organizerKey
      - products
      - status
      title: Organizer
      type: object
    OrganizerByGroup:
      description: Describes an organizer within a specified group.
      example:
        firstName: firstName
        lastName: lastName
        groupName: groupName
        maxNumAttendeesAllowed: 6
        groupId: 0
        organizerKey: 1
        email: email
        products:
        - G2M
        - G2M
        status: active
      properties:
        email:
          description: The organizer's email address
          title: email
          type: string
        firstName:
          description: The organizer's first name
          title: firstName
          type: string
        groupId:
          description: The key of the group
          format: int64
          title: groupId
          type: integer
        groupName:
          description: The name of the group
          title: groupName
          type: string
        lastName:
          description: The organizer's surname
          title: lastName
          type: string
        maxNumAttendeesAllowed:
          description: The maximum number of attendees allowed at sessions held by
            this organizer
          format: int32
          title: maxNumAttendeesAllowed
          type: integer
        organizerKey:
          description: The key of the organizer
          format: int64
          title: organizerKey
          type: integer
        products:
          description: "The products the organizer has access to, can be 'G2M', 'G2W',\
            \ 'G2T' or 'OPENVOICE'"
          items:
            $ref: '#/components/schemas/Product'
          title: products
          type: array
        status:
          $ref: '#/components/schemas/Status'
      required:
      - email
      - firstName
      - groupId
      - groupName
      - lastName
      - maxNumAttendeesAllowed
      - organizerKey
      - products
      - status
      title: OrganizerByGroup
      type: object
    OrganizerReq:
      description: "Describes the information required to create an organizer, with\
        \ or without assigning a group."
      example:
        firstName: firstName
        lastName: lastName
        organizerEmail: organizerEmail
        productType: G2M
      properties:
        firstName:
          description: The first name of the organizer
          title: firstName
          type: string
        lastName:
          description: The surname of the organizer
          title: lastName
          type: string
        organizerEmail:
          description: The email address of the organizer
          title: organizerEmail
          type: string
        productType:
          $ref: '#/components/schemas/Product'
      required:
      - firstName
      - lastName
      - organizerEmail
      - productType
      title: OrganizerReq
      type: object
    OrganizerShort:
      description: Describes a newly created organizer.
      example:
        email: email
        key: 0
      properties:
        email:
          description: The organizer's email address
          title: email
          type: string
        key:
          description: The organizer's key
          format: int64
          title: key
          type: integer
      required:
      - email
      - key
      title: OrganizerShort
      type: object
    OrganizerStatus:
      description: "Describes the status of an organizer, i.e. whether they are able\
        \ to host meetings."
      example:
        productType: G2M
        status: suspended
      properties:
        productType:
          $ref: '#/components/schemas/Product'
        status:
          description: The status of the organizer can be set to. Use 'suspended'
            to remove all products. The formerly used status 'active' is now DEPRECATED
            for this call. To activate the organizer please assign a product. In this
            case do not pass this parameter
          enum:
          - suspended
          title: status
          type: string
      title: OrganizerStatus
      type: object
    Product:
      description: "The products the organizer has access to, can be 'G2M', 'G2W',\
        \ 'G2T' or 'OPENVOICE'"
      enum:
      - G2M
      - G2T
      - G2W
      - OPENVOICE
      title: Product
      type: string
    ScheduledMeetingByGroup:
      description: Describes a meeting scheduled by an organizer within a specified
        group.
      properties:
        attendees:
          description: Not in use.
          type: string
        conferenceCallInfo:
          description: Audio options for the meeting.
          type: string
        email:
          description: The email address of the meeting organizer.
          type: string
        firstName:
          description: The first name of the meeting organizer.
          type: string
        groupName:
          description: The name of the group.
          type: string
        lastName:
          description: The surname of the meeting organizer.
          type: string
        meetingId:
          description: The meeting ID.
          type: string
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        organizerKey:
          description: The key of the meeting organizer.
          type: string
        organizerkey:
          description: The key of the meeting organizer. Field retained for backwards
            compatibility reasons.
          format: int64
          type: integer
        passwordRequired:
          description: Indicates whether a password is required to join the meeting.
          type: boolean
        subject:
          description: The subject of the meeting.
          type: string
      required:
      - attendees
      - conferenceCallInfo
      - email
      - firstName
      - groupName
      - lastName
      - meetingId
      - meetingType
      - organizerKey
      - organizerkey
      - passwordRequired
      - subject
      type: object
    StartUrl:
      description: Host URL that can be used to start a meeting
      example:
        hostURL: hostURL
      properties:
        hostURL:
          description: The host URL that can be used to start a meeting.
          title: hostURL
          type: string
      required:
      - hostURL
      title: StartUrl
      type: object
    Status:
      description: "The status of an organizer (or group), i.e. whether the organizer\
        \ (or the members of the group respectively) are able to host meetings"
      enum:
      - active
      - suspended
      title: Status
      type: string
    UpcomingMeeting:
      description: Describes an upcoming meeting.
      example:
        lastName: lastName
        subject: subject
        meetingId: meetingId
        organizerKey: organizerKey
        locale: locale
        meetingType: immediate
        accountKey: accountKey
        passwordRequired: true
        firstName: firstName
        conferenceCallInfo: conferenceCallInfo
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
        status: ACTIVE
      properties:
        accountKey:
          description: The key of the company account
          title: accountKey
          type: string
        conferenceCallInfo:
          description: Audio options for the meeting
          title: conferenceCallInfo
          type: string
        email:
          description: The meeting organizer's email address
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The meeting organizer's first name
          title: firstName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        locale:
          description: The current language setting of the organizer in the web portal
          title: locale
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        passwordRequired:
          description: Indicates whether a password is required to join the meeting
            or not
          title: passwordRequired
          type: boolean
        startTime:
          description: The time the meeting instance will start
          format: date-time
          title: startTime
          type: string
        status:
          $ref: '#/components/schemas/MeetingStatus'
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - accountKey
      - conferenceCallInfo
      - email
      - endTime
      - firstName
      - lastName
      - locale
      - meetingId
      - meetingType
      - organizerKey
      - passwordRequired
      - startTime
      - status
      - subject
      title: UpcomingMeeting
      type: object
    UpcomingMeetingByGroup:
      description: Describes an upcoming meeting of a group.
      example:
        lastName: lastName
        subject: subject
        meetingId: meetingId
        organizerKey: organizerKey
        locale: locale
        meetingType: immediate
        accountKey: accountKey
        passwordRequired: true
        firstName: firstName
        groupName: groupName
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        email: email
        status: ACTIVE
      properties:
        accountKey:
          description: The key of the company account
          title: accountKey
          type: string
        email:
          description: The meeting organizer's email address
          title: email
          type: string
        endTime:
          description: The time the meeting instance ended
          format: date-time
          title: endTime
          type: string
        firstName:
          description: The meeting organizer's first name
          title: firstName
          type: string
        groupName:
          description: The name of the group the meeting belongs to
          title: groupName
          type: string
        lastName:
          description: The surname of the meeting organizer
          title: lastName
          type: string
        locale:
          description: The current language setting of the organizer in the web portal
          title: locale
          type: string
        meetingId:
          description: The meeting ID
          title: meetingId
          type: string
        meetingType:
          $ref: '#/components/schemas/MeetingType'
        organizerKey:
          description: The key of the meeting organizer
          title: organizerKey
          type: string
        passwordRequired:
          description: Indicates whether a password is required to join the meeting
            or not
          title: passwordRequired
          type: boolean
        startTime:
          description: The time the meeting instance will start
          format: date-time
          title: startTime
          type: string
        status:
          $ref: '#/components/schemas/MeetingStatus'
        subject:
          description: The subject of the meeting
          title: subject
          type: string
      required:
      - accountKey
      - email
      - endTime
      - firstName
      - groupName
      - lastName
      - locale
      - meetingId
      - meetingType
      - organizerKey
      - passwordRequired
      - startTime
      - subject
      title: UpcomingMeetingByGroup
      type: object
x-original-swagger-version: "2.0"
