openapi: 3.0.0
info:
  contact:
    x-twitter: internetarchive
  description: |
    API for Internet Archive's Search-related services
  title: Search Services
  version: 1.0.0
  x-apisguru-categories:
  - search
  x-logo:
    url: https://twitter.com/internetarchive/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/ArchiveLabs/api.archive.org/master/swagger/search.yaml
    version: "3.0"
  x-providerName: archive.org
  x-serviceName: search
servers:
- url: https://api.archive.org
paths:
  /search/v1/fields:
    get:
      description: Fields that can be requested
      parameters:
      - description: "Specifies a JavaScript function func, for a JSON-P response.\
          \ When provided, results are wrapped as `callback(data)`, and the returned\
          \ MIME type is application/javascript. This causes the caller to automatically\
          \ run the func with the JSON results as its argument."
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/Field'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Field'
                type: array
          description: Fields that can be requested
      x-accepts:
      - application/javascript
      - application/json
  /search/v1/organic:
    get:
      description: |
        Return relevance-based results from search queries
      parameters:
      - description: Lucene-type search query
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Metadata field
        explode: true
        in: query
        name: field
        required: false
        schema:
          default: identifier
          maxLength: 250
          minLength: 1
          type: string
        style: form
      - description: Number of query results to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 1000
          maximum: 10000
          minimum: 10
          type: integer
        style: form
      - description: Request total only; do not return hits
        explode: true
        in: query
        name: total_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Specifies a JavaScript function func, for a JSON-P response.\
          \ When provided, results are wrapped as `callback(data)`, and the returned\
          \ MIME type is application/javascript. This causes the caller to automatically\
          \ run the func with the JSON results as its argument."
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: '#/components/schemas/OrganicResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrganicResult'
          description: Organic Search API. Returns results in descending relevance
            order
        default:
          content:
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      x-accepts:
      - application/javascript
      - application/json
  /search/v1/scrape:
    get:
      description: |
        Scrape search results from Internet Archive, allowing a scrolling cursor
      parameters:
      - description: Lucene-type search query
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Metadata field
        explode: true
        in: query
        name: field
        required: false
        schema:
          default: identifier
          maxLength: 250
          minLength: 1
          type: string
        style: form
      - description: sort collations
        explode: true
        in: query
        name: sort
        required: false
        schema:
          maxLength: 250
          minLength: 5
          type: string
        style: form
      - description: Number of query results to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 1000
          maximum: 10000
          minimum: 10
          type: integer
        style: form
      - description: Cursor for scrolling (used for subsequent calls)
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Request total only; do not return hits
        explode: true
        in: query
        name: total_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Specifies a JavaScript function func, for a JSON-P response.\
          \ When provided, results are wrapped as `callback(data)`, and the returned\
          \ MIME type is application/javascript. This causes the caller to automatically\
          \ run the func with the JSON results as its argument."
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: '#/components/schemas/ScrapeResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResult'
          description: Scaping API
        default:
          content:
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      x-accepts:
      - application/javascript
      - application/json
components:
  parameters:
    callback:
      description: "Specifies a JavaScript function func, for a JSON-P response. When\
        \ provided, results are wrapped as `callback(data)`, and the returned MIME\
        \ type is application/javascript. This causes the caller to automatically\
        \ run the func with the JSON results as its argument."
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    cursor:
      description: Cursor for scrolling (used for subsequent calls)
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        type: string
      style: form
    field:
      description: Metadata field
      explode: true
      in: query
      name: field
      required: false
      schema:
        default: identifier
        maxLength: 250
        minLength: 1
        type: string
      style: form
    query:
      description: Lucene-type search query
      explode: true
      in: query
      name: q
      required: false
      schema:
        type: string
      style: form
    size:
      description: Number of query results to return
      explode: true
      in: query
      name: size
      required: false
      schema:
        default: 1000
        maximum: 10000
        minimum: 10
        type: integer
      style: form
    sort:
      description: sort collations
      explode: true
      in: query
      name: sort
      required: false
      schema:
        maxLength: 250
        minLength: 5
        type: string
      style: form
    total_only:
      description: Request total only; do not return hits
      explode: true
      in: query
      name: total_only
      required: false
      schema:
        default: false
        type: boolean
      style: form
  schemas:
    Cursor:
      description: A scroll handle
      type: string
    Error:
      example:
        code: 1
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
    Field:
      description: The name of a field
      type: string
    Hit:
      description: One item returned (object of fields and values)
      type: object
    OrganicResult:
      description: The result of a organic search request
      example:
        total: 0
        count: 800
        items:
        - null
        - null
      properties:
        count:
          description: Number of results returned
          maximum: 10000
          minimum: 0
          type: integer
        items:
          items:
            $ref: '#/components/schemas/Hit'
          type: array
        total:
          description: Approximate number of results meeting query
          minimum: 0
          type: integer
      type: object
    ScrapeResult:
      description: The result of a scrape request
      example:
        cursor: cursor
        total: 0
        previous: previous
        count: 800
        items:
        - null
        - null
      properties:
        count:
          description: Number of results returned
          maximum: 10000
          minimum: 0
          type: integer
        cursor:
          description: A scroll handle
          type: string
        items:
          items:
            $ref: '#/components/schemas/Hit'
          type: array
        previous:
          description: A scroll handle
          type: string
        total:
          description: Total number of results from this cursor point
          minimum: 0
          type: integer
      type: object

