openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Schedule queries or transfer external data from SaaS applications to
    Google BigQuery on a regular basis.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: BigQuery Data Transfer API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://bigquerydatatransfer.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: bigquerydatatransfer
externalDocs:
  url: https://cloud.google.com/bigquery-transfer/
servers:
- url: https://bigquerydatatransfer.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: Deletes the specified transfer run.
      operationId: bigquerydatatransfer.projects.transferConfigs.runs.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The field will contain name of the resource requested,\
          \ for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`\
          \ or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Returns information about the particular transfer run.
      operationId: bigquerydatatransfer.projects.transferConfigs.runs.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The field will contain name of the resource requested,\
          \ for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`\
          \ or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRun'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
    patch:
      description: "Updates a data transfer configuration. All fields must be set,\
        \ even if they are not updated."
      operationId: bigquerydatatransfer.projects.transferConfigs.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource name of the transfer config. Transfer config names\
          \ have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`\
          \ or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id`\
          \ is usually a UUID, even though it is not guaranteed or required. The name\
          \ is ignored when creating a transfer config."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional OAuth2 authorization code to use with this transfer\
          \ configuration. This is required only if `transferConfig.dataSourceId`\
          \ is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`.\
          \ In order to obtain authorization_code, make a request to the following\
          \ URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes\
          \ * The client_id is the OAuth client_id of the a data source as returned\
          \ by ListDataSources method. * data_source_scopes are the scopes returned\
          \ by ListDataSources method. Note that this should not be set when `service_account_name`\
          \ is used to update the transfer config."
        explode: true
        in: query
        name: authorizationCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional service account email. If this field is set, the transfer\
          \ config will be created with this service account's credentials. It requires\
          \ that the requesting user calling this API has permissions to act as this\
          \ service account. Note that not all data sources support service account\
          \ credentials when creating a transfer config. For the latest list of data\
          \ sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
        explode: true
        in: query
        name: serviceAccountName
        required: false
        schema:
          type: string
        style: form
      - description: Required. Required list of fields to be updated in this request.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      - description: "Optional version info. This is required only if `transferConfig.dataSourceId`\
          \ is not 'youtube_channel' and new credentials are needed, as indicated\
          \ by `CheckValidCreds`. In order to obtain version info, make a request\
          \ to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes\
          \ * The client_id is the OAuth client_id of the a data source as returned\
          \ by ListDataSources method. * data_source_scopes are the scopes returned\
          \ by ListDataSources method. Note that this should not be set when `service_account_name`\
          \ is used to update the transfer config."
        explode: true
        in: query
        name: versionInfo
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: bigquerydatatransfer.projects.locations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{name}:checkValidCreds:
    post:
      description: Returns true if valid credentials exist for the given data source
        and requesting user.
      operationId: bigquerydatatransfer.projects.locations.dataSources.checkValidCreds
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The data source in the form: `projects/{project_id}/dataSources/{data_source_id}`\
          \ or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckValidCredsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckValidCredsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:enrollDataSources:
    post:
      description: "Enroll data sources in a user project. This allows users to create\
        \ transfer configurations for these data sources. They will also appear in\
        \ the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery),\
        \ and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui)\
        \ and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers)."
      operationId: bigquerydatatransfer.projects.locations.enrollDataSources
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the project resource in the form: `projects/{project_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollDataSourcesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:unenrollDataSources:
    post:
      description: "Unenroll data sources in a user project. This allows users to\
        \ remove transfer configurations for these data sources. They will no longer\
        \ appear in the ListDataSources RPC and will also no longer appear in the\
        \ [BigQuery UI](https://console.cloud.google.com/bigquery). Data transfers\
        \ configurations of unenrolled data sources will not be scheduled."
      operationId: bigquerydatatransfer.projects.locations.unenrollDataSources
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the project resource in the form: `projects/{project_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnenrollDataSourcesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/dataSources:
    get:
      description: Lists supported data sources and returns their settings.
      operationId: bigquerydatatransfer.projects.locations.dataSources.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The BigQuery project id for which data sources should\
          \ be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Page size. The default page size is the maximum value of 1000
          results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Pagination token, which can be used to request a specific page\
          \ of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse`\
          \ outputs a `next_page` token, which can be used as the `page_token` value\
          \ to request the next page of list results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataSourcesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/runs:
    get:
      description: Returns information about running and completed transfer runs.
      operationId: bigquerydatatransfer.projects.transferConfigs.runs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of transfer configuration for which transfer\
          \ runs should be retrieved. Format of transfer configuration resource name\
          \ is: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Page size. The default page size is the maximum value of 1000
          results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Pagination token, which can be used to request a specific page\
          \ of `ListTransferRunsRequest` list results. For multiple-page results,\
          \ `ListTransferRunsResponse` outputs a `next_page` token, which can be used\
          \ as the `page_token` value to request the next page of list results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Indicates how run attempts are to be pulled.
        explode: true
        in: query
        name: runAttempt
        required: false
        schema:
          enum:
          - RUN_ATTEMPT_UNSPECIFIED
          - LATEST
          type: string
        style: form
      - description: "When specified, only transfer runs with requested states are\
          \ returned."
        explode: true
        in: query
        name: states
        required: false
        schema:
          items:
            enum:
            - TRANSFER_STATE_UNSPECIFIED
            - PENDING
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLED
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransferRunsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/transferConfigs:
    get:
      description: Returns information about all transfer configs owned by a project
        in the specified location.
      operationId: bigquerydatatransfer.projects.transferConfigs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The BigQuery project id for which transfer configs\
          \ should be returned: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "When specified, only configurations of requested data sources\
          \ are returned."
        explode: true
        in: query
        name: dataSourceIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page size. The default page size is the maximum value of 1000
          results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Pagination token, which can be used to request a specific page\
          \ of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse`\
          \ outputs a `next_page` token, which can be used as the `page_token` value\
          \ to request the next page of list results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransferConfigsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a new data transfer configuration.
      operationId: bigquerydatatransfer.projects.transferConfigs.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The BigQuery project id where the transfer configuration\
          \ should be created. Must be in the format projects/{project_id}/locations/{location_id}\
          \ or projects/{project_id}. If specified location and location of the destination\
          \ bigquery dataset do not match - the request will fail."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional OAuth2 authorization code to use with this transfer\
          \ configuration. This is required only if `transferConfig.dataSourceId`\
          \ is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`.\
          \ In order to obtain authorization_code, make a request to the following\
          \ URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes\
          \ * The client_id is the OAuth client_id of the a data source as returned\
          \ by ListDataSources method. * data_source_scopes are the scopes returned\
          \ by ListDataSources method. Note that this should not be set when `service_account_name`\
          \ is used to create the transfer config."
        explode: true
        in: query
        name: authorizationCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional service account email. If this field is set, the transfer\
          \ config will be created with this service account's credentials. It requires\
          \ that the requesting user calling this API has permissions to act as this\
          \ service account. Note that not all data sources support service account\
          \ credentials when creating a transfer config. For the latest list of data\
          \ sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
        explode: true
        in: query
        name: serviceAccountName
        required: false
        schema:
          type: string
        style: form
      - description: "Optional version info. This is required only if `transferConfig.dataSourceId`\
          \ is not 'youtube_channel' and new credentials are needed, as indicated\
          \ by `CheckValidCreds`. In order to obtain version info, make a request\
          \ to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes\
          \ * The client_id is the OAuth client_id of the a data source as returned\
          \ by ListDataSources method. * data_source_scopes are the scopes returned\
          \ by ListDataSources method. Note that this should not be set when `service_account_name`\
          \ is used to create the transfer config."
        explode: true
        in: query
        name: versionInfo
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/transferLogs:
    get:
      description: Returns log messages for the transfer run.
      operationId: bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Transfer run name in the form: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`\
          \ or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Message types to return. If not populated - INFO, WARNING and\
          \ ERROR messages are returned."
        explode: true
        in: query
        name: messageTypes
        required: false
        schema:
          items:
            enum:
            - MESSAGE_SEVERITY_UNSPECIFIED
            - INFO
            - WARNING
            - ERROR
            type: string
          type: array
        style: form
      - description: Page size. The default page size is the maximum value of 1000
          results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Pagination token, which can be used to request a specific page\
          \ of `ListTransferLogsRequest` list results. For multiple-page results,\
          \ `ListTransferLogsResponse` outputs a `next_page` token, which can be used\
          \ as the `page_token` value to request the next page of list results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransferLogsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}:scheduleRuns:
    post:
      description: "Creates transfer runs for a time range [start_time, end_time].\
        \ For each date - or whatever granularity the data source supports - in the\
        \ range, one transfer run is created. Note that runs are created per UTC time\
        \ in the time range. DEPRECATED: use StartManualTransferRuns instead."
      operationId: bigquerydatatransfer.projects.transferConfigs.scheduleRuns
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}`\
          \ or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleTransferRunsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleTransferRunsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}:startManualRuns:
    post:
      description: "Start manual transfer runs to be executed now with schedule_time\
        \ equal to current time. The transfer runs can be created for a time range\
        \ where the run_time is between start_time (inclusive) and end_time (exclusive),\
        \ or for a specific run_time."
      operationId: bigquerydatatransfer.projects.transferConfigs.startManualRuns
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}`\
          \ or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartManualTransferRunsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartManualTransferRunsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    CheckValidCredsRequest:
      description: "A request to determine whether the user has valid credentials.\
        \ This method is used to limit the number of OAuth popups in the user interface.\
        \ The user id is inferred from the API call context. If the data source has\
        \ the Google+ authorization type, this method returns false, as it cannot\
        \ be determined whether the credentials are already valid merely based on\
        \ the user id."
      properties: {}
      type: object
    CheckValidCredsResponse:
      description: A response indicating whether the credentials exist and are valid.
      example:
        hasValidCreds: true
      properties:
        hasValidCreds:
          description: "If set to `true`, the credentials exist and are valid."
          type: boolean
      type: object
    DataSource:
      description: Defines the properties and custom parameters for a data source.
      example:
        clientId: clientId
        minimumScheduleInterval: minimumScheduleInterval
        defaultSchedule: defaultSchedule
        displayName: displayName
        description: description
        helpUrl: helpUrl
        dataRefreshType: DATA_REFRESH_TYPE_UNSPECIFIED
        dataSourceId: dataSourceId
        manualRunsDisabled: true
        supportsCustomSchedule: true
        name: name
        supportsMultipleTransfers: true
        authorizationType: AUTHORIZATION_TYPE_UNSPECIFIED
        transferType: TRANSFER_TYPE_UNSPECIFIED
        defaultDataRefreshWindowDays: 0
        scopes:
        - scopes
        - scopes
        parameters:
        - allowedValues:
          - allowedValues
          - allowedValues
          displayName: displayName
          maxValue: 6.027456183070403
          deprecated: true
          description: description
          type: TYPE_UNSPECIFIED
          repeated: true
          required: true
          validationDescription: validationDescription
          immutable: true
          minValue: 1.4658129805029452
          validationHelpUrl: validationHelpUrl
          recurse: true
          fields:
          - null
          - null
          paramId: paramId
          validationRegex: validationRegex
        - allowedValues:
          - allowedValues
          - allowedValues
          displayName: displayName
          maxValue: 6.027456183070403
          deprecated: true
          description: description
          type: TYPE_UNSPECIFIED
          repeated: true
          required: true
          validationDescription: validationDescription
          immutable: true
          minValue: 1.4658129805029452
          validationHelpUrl: validationHelpUrl
          recurse: true
          fields:
          - null
          - null
          paramId: paramId
          validationRegex: validationRegex
        updateDeadlineSeconds: 5
      properties:
        authorizationType:
          description: Indicates the type of authorization.
          enum:
          - AUTHORIZATION_TYPE_UNSPECIFIED
          - AUTHORIZATION_CODE
          - GOOGLE_PLUS_AUTHORIZATION_CODE
          - FIRST_PARTY_OAUTH
          type: string
        clientId:
          description: Data source client id which should be used to receive refresh
            token.
          type: string
        dataRefreshType:
          description: "Specifies whether the data source supports automatic data\
            \ refresh for the past few days, and how it's supported. For some data\
            \ sources, data might not be complete until a few days later, so it's\
            \ useful to refresh data automatically."
          enum:
          - DATA_REFRESH_TYPE_UNSPECIFIED
          - SLIDING_WINDOW
          - CUSTOM_SLIDING_WINDOW
          type: string
        dataSourceId:
          description: Data source id.
          type: string
        defaultDataRefreshWindowDays:
          description: Default data refresh window on days. Only meaningful when `data_refresh_type`
            = `SLIDING_WINDOW`.
          format: int32
          type: integer
        defaultSchedule:
          description: "Default data transfer schedule. Examples of valid schedules\
            \ include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun\
            \ 13:15`, and `first sunday of quarter 00:00`."
          type: string
        description:
          description: User friendly data source description string.
          type: string
        displayName:
          description: User friendly data source name.
          type: string
        helpUrl:
          description: Url for the help document for this data source.
          type: string
        manualRunsDisabled:
          description: Disables backfilling and manual run scheduling for the data
            source.
          type: boolean
        minimumScheduleInterval:
          description: The minimum interval for scheduler to schedule runs.
          format: google-duration
          type: string
        name:
          description: Output only. Data source resource name.
          readOnly: true
          type: string
        parameters:
          description: Data source parameters.
          items:
            $ref: '#/components/schemas/DataSourceParameter'
          type: array
        scopes:
          description: "Api auth scopes for which refresh token needs to be obtained.\
            \ These are scopes needed by a data source to prepare data and ingest\
            \ them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery"
          items:
            type: string
          type: array
        supportsCustomSchedule:
          description: "Specifies whether the data source supports a user defined\
            \ schedule, or operates on the default schedule. When set to `true`, user\
            \ can override default schedule."
          type: boolean
        supportsMultipleTransfers:
          deprecated: true
          description: Deprecated. This field has no effect.
          type: boolean
        transferType:
          deprecated: true
          description: Deprecated. This field has no effect.
          enum:
          - TRANSFER_TYPE_UNSPECIFIED
          - BATCH
          - STREAMING
          type: string
        updateDeadlineSeconds:
          description: The number of seconds to wait for an update from the data source
            before the Data Transfer Service marks the transfer as FAILED.
          format: int32
          type: integer
      type: object
    DataSourceParameter:
      description: A parameter used to define custom fields in a data source definition.
      example:
        allowedValues:
        - allowedValues
        - allowedValues
        displayName: displayName
        maxValue: 6.027456183070403
        deprecated: true
        description: description
        type: TYPE_UNSPECIFIED
        repeated: true
        required: true
        validationDescription: validationDescription
        immutable: true
        minValue: 1.4658129805029452
        validationHelpUrl: validationHelpUrl
        recurse: true
        fields:
        - null
        - null
        paramId: paramId
        validationRegex: validationRegex
      properties:
        allowedValues:
          description: All possible values for the parameter.
          items:
            type: string
          type: array
        deprecated:
          description: "If true, it should not be used in new transfers, and it should\
            \ not be visible to users."
          type: boolean
        description:
          description: Parameter description.
          type: string
        displayName:
          description: Parameter display name in the user interface.
          type: string
        fields:
          description: Deprecated. This field has no effect.
          items:
            $ref: '#/components/schemas/DataSourceParameter'
          type: array
        immutable:
          description: Cannot be changed after initial creation.
          type: boolean
        maxValue:
          description: For integer and double values specifies maximum allowed value.
          format: double
          type: number
        minValue:
          description: For integer and double values specifies minimum allowed value.
          format: double
          type: number
        paramId:
          description: Parameter identifier.
          type: string
        recurse:
          description: Deprecated. This field has no effect.
          type: boolean
        repeated:
          description: Deprecated. This field has no effect.
          type: boolean
        required:
          description: Is parameter required.
          type: boolean
        type:
          description: Parameter type.
          enum:
          - TYPE_UNSPECIFIED
          - STRING
          - INTEGER
          - DOUBLE
          - BOOLEAN
          - RECORD
          - PLUS_PAGE
          - LIST
          type: string
        validationDescription:
          description: "Description of the requirements for this field, in case the\
            \ user input does not fulfill the regex pattern or min/max values."
          type: string
        validationHelpUrl:
          description: URL to a help document to further explain the naming requirements.
          type: string
        validationRegex:
          description: Regular expression which can be used for parameter validation.
          type: string
      type: object
    EmailPreferences:
      description: Represents preferences for sending email notifications for transfer
        run events.
      example:
        enableFailureEmail: true
      properties:
        enableFailureEmail:
          description: "If true, email notifications will be sent on transfer run\
            \ failures."
          type: boolean
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EncryptionConfiguration:
      description: Represents the encryption configuration for a transfer.
      example:
        kmsKeyName: kmsKeyName
      properties:
        kmsKeyName:
          description: The name of the KMS key used for encrypting BigQuery data.
          type: string
      type: object
    EnrollDataSourcesRequest:
      description: A request to enroll a set of data sources so they are visible in
        the BigQuery UI's `Transfer` tab.
      example:
        dataSourceIds:
        - dataSourceIds
        - dataSourceIds
      properties:
        dataSourceIds:
          description: Data sources that are enrolled. It is required to provide at
            least one data source id.
          items:
            type: string
          type: array
      type: object
    ListDataSourcesResponse:
      description: Returns list of supported data sources and their metadata.
      example:
        nextPageToken: nextPageToken
        dataSources:
        - clientId: clientId
          minimumScheduleInterval: minimumScheduleInterval
          defaultSchedule: defaultSchedule
          displayName: displayName
          description: description
          helpUrl: helpUrl
          dataRefreshType: DATA_REFRESH_TYPE_UNSPECIFIED
          dataSourceId: dataSourceId
          manualRunsDisabled: true
          supportsCustomSchedule: true
          name: name
          supportsMultipleTransfers: true
          authorizationType: AUTHORIZATION_TYPE_UNSPECIFIED
          transferType: TRANSFER_TYPE_UNSPECIFIED
          defaultDataRefreshWindowDays: 0
          scopes:
          - scopes
          - scopes
          parameters:
          - allowedValues:
            - allowedValues
            - allowedValues
            displayName: displayName
            maxValue: 6.027456183070403
            deprecated: true
            description: description
            type: TYPE_UNSPECIFIED
            repeated: true
            required: true
            validationDescription: validationDescription
            immutable: true
            minValue: 1.4658129805029452
            validationHelpUrl: validationHelpUrl
            recurse: true
            fields:
            - null
            - null
            paramId: paramId
            validationRegex: validationRegex
          - allowedValues:
            - allowedValues
            - allowedValues
            displayName: displayName
            maxValue: 6.027456183070403
            deprecated: true
            description: description
            type: TYPE_UNSPECIFIED
            repeated: true
            required: true
            validationDescription: validationDescription
            immutable: true
            minValue: 1.4658129805029452
            validationHelpUrl: validationHelpUrl
            recurse: true
            fields:
            - null
            - null
            paramId: paramId
            validationRegex: validationRegex
          updateDeadlineSeconds: 5
        - clientId: clientId
          minimumScheduleInterval: minimumScheduleInterval
          defaultSchedule: defaultSchedule
          displayName: displayName
          description: description
          helpUrl: helpUrl
          dataRefreshType: DATA_REFRESH_TYPE_UNSPECIFIED
          dataSourceId: dataSourceId
          manualRunsDisabled: true
          supportsCustomSchedule: true
          name: name
          supportsMultipleTransfers: true
          authorizationType: AUTHORIZATION_TYPE_UNSPECIFIED
          transferType: TRANSFER_TYPE_UNSPECIFIED
          defaultDataRefreshWindowDays: 0
          scopes:
          - scopes
          - scopes
          parameters:
          - allowedValues:
            - allowedValues
            - allowedValues
            displayName: displayName
            maxValue: 6.027456183070403
            deprecated: true
            description: description
            type: TYPE_UNSPECIFIED
            repeated: true
            required: true
            validationDescription: validationDescription
            immutable: true
            minValue: 1.4658129805029452
            validationHelpUrl: validationHelpUrl
            recurse: true
            fields:
            - null
            - null
            paramId: paramId
            validationRegex: validationRegex
          - allowedValues:
            - allowedValues
            - allowedValues
            displayName: displayName
            maxValue: 6.027456183070403
            deprecated: true
            description: description
            type: TYPE_UNSPECIFIED
            repeated: true
            required: true
            validationDescription: validationDescription
            immutable: true
            minValue: 1.4658129805029452
            validationHelpUrl: validationHelpUrl
            recurse: true
            fields:
            - null
            - null
            paramId: paramId
            validationRegex: validationRegex
          updateDeadlineSeconds: 5
      properties:
        dataSources:
          description: List of supported data sources and their transfer settings.
          items:
            $ref: '#/components/schemas/DataSource'
          type: array
        nextPageToken:
          description: "Output only. The next-pagination token. For multiple-page\
            \ list results, this token can be used as the `ListDataSourcesRequest.page_token`\
            \ to request the next page of list results."
          readOnly: true
          type: string
      type: object
    ListLocationsResponse:
      description: The response message for Locations.ListLocations.
      example:
        nextPageToken: nextPageToken
        locations:
        - metadata:
            key: ""
          displayName: displayName
          locationId: locationId
          name: name
          labels:
            key: labels
        - metadata:
            key: ""
          displayName: displayName
          locationId: locationId
          name: name
          labels:
            key: labels
      properties:
        locations:
          description: A list of locations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/Location'
          type: array
        nextPageToken:
          description: The standard List next-page token.
          type: string
      type: object
    ListTransferConfigsResponse:
      description: The returned list of pipelines in the project.
      example:
        nextPageToken: nextPageToken
        transferConfigs:
        - destinationDatasetId: destinationDatasetId
          displayName: displayName
          scheduleOptions:
            disableAutoScheduling: true
            startTime: startTime
            endTime: endTime
          ownerInfo:
            email: email
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          datasetRegion: datasetRegion
          params:
            key: ""
          userId: userId
          dataRefreshWindowDays: 0
          schedule: schedule
          dataSourceId: dataSourceId
          nextRunTime: nextRunTime
          name: name
          encryptionConfiguration:
            kmsKeyName: kmsKeyName
          disabled: true
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
        - destinationDatasetId: destinationDatasetId
          displayName: displayName
          scheduleOptions:
            disableAutoScheduling: true
            startTime: startTime
            endTime: endTime
          ownerInfo:
            email: email
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          datasetRegion: datasetRegion
          params:
            key: ""
          userId: userId
          dataRefreshWindowDays: 0
          schedule: schedule
          dataSourceId: dataSourceId
          nextRunTime: nextRunTime
          name: name
          encryptionConfiguration:
            kmsKeyName: kmsKeyName
          disabled: true
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
      properties:
        nextPageToken:
          description: "Output only. The next-pagination token. For multiple-page\
            \ list results, this token can be used as the `ListTransferConfigsRequest.page_token`\
            \ to request the next page of list results."
          readOnly: true
          type: string
        transferConfigs:
          description: Output only. The stored pipeline transfer configurations.
          items:
            $ref: '#/components/schemas/TransferConfig'
          readOnly: true
          type: array
      type: object
    ListTransferLogsResponse:
      description: The returned list transfer run messages.
      example:
        transferMessages:
        - severity: MESSAGE_SEVERITY_UNSPECIFIED
          messageText: messageText
          messageTime: messageTime
        - severity: MESSAGE_SEVERITY_UNSPECIFIED
          messageText: messageText
          messageTime: messageTime
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "Output only. The next-pagination token. For multiple-page\
            \ list results, this token can be used as the `GetTransferRunLogRequest.page_token`\
            \ to request the next page of list results."
          readOnly: true
          type: string
        transferMessages:
          description: Output only. The stored pipeline transfer messages.
          items:
            $ref: '#/components/schemas/TransferMessage'
          readOnly: true
          type: array
      type: object
    ListTransferRunsResponse:
      description: The returned list of pipelines in the project.
      example:
        nextPageToken: nextPageToken
        transferRuns:
        - scheduleTime: scheduleTime
          destinationDatasetId: destinationDatasetId
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          params:
            key: ""
          userId: userId
          schedule: schedule
          dataSourceId: dataSourceId
          name: name
          errorStatus:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          startTime: startTime
          endTime: endTime
          runTime: runTime
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
        - scheduleTime: scheduleTime
          destinationDatasetId: destinationDatasetId
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          params:
            key: ""
          userId: userId
          schedule: schedule
          dataSourceId: dataSourceId
          name: name
          errorStatus:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          startTime: startTime
          endTime: endTime
          runTime: runTime
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
      properties:
        nextPageToken:
          description: "Output only. The next-pagination token. For multiple-page\
            \ list results, this token can be used as the `ListTransferRunsRequest.page_token`\
            \ to request the next page of list results."
          readOnly: true
          type: string
        transferRuns:
          description: Output only. The stored pipeline transfer runs.
          items:
            $ref: '#/components/schemas/TransferRun'
          readOnly: true
          type: array
      type: object
    Location:
      description: A resource that represents a Google Cloud location.
      example:
        metadata:
          key: ""
        displayName: displayName
        locationId: locationId
        name: name
        labels:
          key: labels
      properties:
        displayName:
          description: "The friendly name for this location, typically a nearby city\
            \ name. For example, \"Tokyo\"."
          type: string
        labels:
          additionalProperties:
            type: string
          description: "Cross-service attributes for the location. For example {\"\
            cloud.googleapis.com/region\": \"us-east1\"}"
          type: object
        locationId:
          description: "The canonical id for this location. For example: `\"us-east1\"\
            `."
          type: string
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: Service-specific metadata. For example the available capacity
            at the given location.
          type: object
        name:
          description: "Resource name for the location, which may vary between implementations.\
            \ For example: `\"projects/example-project/locations/us-east1\"`"
          type: string
      type: object
    ScheduleOptions:
      description: Options customizing the data transfer schedule.
      example:
        disableAutoScheduling: true
        startTime: startTime
        endTime: endTime
      properties:
        disableAutoScheduling:
          description: "If true, automatic scheduling of data transfer runs for this\
            \ configuration will be disabled. The runs can be started on ad-hoc basis\
            \ using StartManualTransferRuns API. When automatic scheduling is disabled,\
            \ the TransferConfig.schedule field will be ignored."
          type: boolean
        endTime:
          description: Defines time to stop scheduling transfer runs. A transfer run
            cannot be scheduled at or after the end time. The end time can be changed
            at any moment. The time when a data transfer can be triggered manually
            is not limited by this option.
          format: google-datetime
          type: string
        startTime:
          description: Specifies time to start scheduling transfer runs. The first
            run will be scheduled at or after the start time according to a recurrence
            pattern defined in the schedule string. The start time can be changed
            at any moment. The time when a data transfer can be triggered manually
            is not limited by this option.
          format: google-datetime
          type: string
      type: object
    ScheduleTransferRunsRequest:
      description: A request to schedule transfer runs for a time range.
      example:
        startTime: startTime
        endTime: endTime
      properties:
        endTime:
          description: "Required. End time of the range of transfer runs. For example,\
            \ `\"2017-05-30T00:00:00+00:00\"`."
          format: google-datetime
          type: string
        startTime:
          description: "Required. Start time of the range of transfer runs. For example,\
            \ `\"2017-05-25T00:00:00+00:00\"`."
          format: google-datetime
          type: string
      type: object
    ScheduleTransferRunsResponse:
      description: A response to schedule transfer runs for a time range.
      example:
        runs:
        - scheduleTime: scheduleTime
          destinationDatasetId: destinationDatasetId
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          params:
            key: ""
          userId: userId
          schedule: schedule
          dataSourceId: dataSourceId
          name: name
          errorStatus:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          startTime: startTime
          endTime: endTime
          runTime: runTime
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
        - scheduleTime: scheduleTime
          destinationDatasetId: destinationDatasetId
          emailPreferences:
            enableFailureEmail: true
          updateTime: updateTime
          params:
            key: ""
          userId: userId
          schedule: schedule
          dataSourceId: dataSourceId
          name: name
          errorStatus:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          startTime: startTime
          endTime: endTime
          runTime: runTime
          state: TRANSFER_STATE_UNSPECIFIED
          notificationPubsubTopic: notificationPubsubTopic
      properties:
        runs:
          description: The transfer runs that were scheduled.
          items:
            $ref: '#/components/schemas/TransferRun'
          type: array
      type: object
    StartManualTransferRunsRequest:
      description: A request to start manual transfer runs.
      example:
        requestedRunTime: requestedRunTime
        requestedTimeRange:
          startTime: startTime
          endTime: endTime
      properties:
        requestedRunTime:
          description: A run_time timestamp for historical data files or reports that
            are scheduled to be transferred by the scheduled transfer run. requested_run_time
            must be a past time and cannot include future time values.
          format: google-datetime
          type: string
        requestedTimeRange:
          $ref: '#/components/schemas/TimeRange'
      type: object
    StartManualTransferRunsResponse:
[...]
