openapi: 3.0.1
info:
  description: The Azure Storage Management API.
  title: StorageManagement
  version: 2015-06-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: StorageManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2015-06-15/storage.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      description: Checks that the storage account name is valid and is not already
        in use.
      operationId: storage_accounts_check_name_availability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCheckNameAvailabilityParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCheckNameAvailabilityParameters'
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        required: true
        x-body-name: accountName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK -- Operation to check the storage account name availability
            was successful.
      tags:
      - StorageAccounts
      x-codegen-request-body-name: accountName
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts:
    get:
      description: Lists all the storage accounts available under the subscription.
        Note that storage keys are not returned; use the ListKeys operation for this.
      operationId: storage_accounts_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
          description: OK -- List of storage accounts was retrieved and returned successfully.
      tags:
      - StorageAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/usages:
    get:
      description: Lists the current usage count and the limit for the resources under
        the subscription.
      operationId: usage_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: OK -- current usage count and limit retrieved and returned
            successfully.
      tags:
      - Usage
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.usage_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts:
    get:
      description: Lists all the storage accounts available under the given resource
        group. Note that storage keys are not returned; use the ListKeys operation
        for this.
      operationId: storage_accounts_list_by_resource_group
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
          description: OK -- List of storage accounts in the given resource group
            retrieved and returned successfully.
      tags:
      - StorageAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}:
    delete:
      description: Deletes a storage account in Microsoft Azure.
      operationId: storage_accounts_delete
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK -- storage account deleted successfully.
        "204":
          content: {}
          description: NoContent -- account does not exist in the subscription.
      tags:
      - StorageAccounts
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
    get:
      description: "Returns the properties for the specified storage account including\
        \ but not limited to name, SKU name, location, and account status. The ListKeys\
        \ operation should be used to retrieve storage keys."
      operationId: storage_accounts_get_properties
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.  '
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
          description: OK -- properties retrieved successfully for the storage account.
      tags:
      - StorageAccounts
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
    patch:
      description: "The update operation can be used to update the SKU, encryption,\
        \ access tier, or tags for a storage account. It can also be used to map the\
        \ account to a custom domain. Only one custom domain is supported per storage\
        \ account; the replacement/change of custom domain is not supported. In order\
        \ to replace an old custom domain, the old value must be cleared/unregistered\
        \ before a new value can be set. The update of multiple properties is supported.\
        \ This call does not change the storage keys for the account. If you want\
        \ to change the storage account keys, use the regenerate keys operation. The\
        \ location and name of the storage account cannot be changed after creation."
      operationId: storage_accounts_update
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/StorageAccountUpdateParameters'
        description: The parameters to provide for the updated account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
          description: OK -- storage account properties updated successfully.
      tags:
      - StorageAccounts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
    put:
      description: "Asynchronously creates a new storage account with the specified\
        \ parameters. If an account is already created and a subsequent create request\
        \ is issued with different properties, the account properties will be updated.\
        \ If an account is already created and a subsequent create or update request\
        \ is issued with the exact same set of properties, the request will succeed."
      operationId: storage_accounts_create
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCreateParameters'
        description: The parameters to provide for the created account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
          description: OK -- returned when the storage account was already created
            from a previous request with the same properties specified in the request
            body.
        "202":
          content: {}
          description: Accepted -- Create or update request accepted; operation will
            complete asynchronously.
      tags:
      - StorageAccounts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys
  : post:
      description: Lists the access keys for the specified storage account.
      operationId: storage_accounts_list_keys
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountKeys'
          description: OK -- list of keys retrieved and returned successfully.
      tags:
      - StorageAccounts
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey
  : post:
      description: Regenerates one of the access keys for the specified storage account.
      operationId: storage_accounts_regenerate_key
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountRegenerateKeyParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/StorageAccountRegenerateKeyParameters'
        description: Specifies name of the key which should be regenerated -- key1
          or key2.
        required: true
        x-body-name: regenerateKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountKeys'
          description: OK -- specified key regenerated successfully.
      tags:
      - StorageAccounts
      x-codegen-request-body-name: regenerateKey
      x-openapi-router-controller: openapi_server.controllers.storage_accounts_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckNameAvailabilityResult:
      description: The CheckNameAvailability operation response.
      example:
        reason: AccountNameInvalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The error message explaining the Reason value in more detail.
          title: message
          type: string
        nameAvailable:
          description: "Boolean value that indicates whether the name is available\
            \ for you to use. If true, the name is available. If false, the name has\
            \ already been taken or is invalid and cannot be used."
          title: nameAvailable
          type: boolean
        reason:
          description: The reason that a storage account name could not be used. The
            Reason element is only returned if NameAvailable is false.
          enum:
          - AccountNameInvalid
          - AlreadyExists
          title: reason
          type: string
          x-ms-enum:
            modelAsString: false
            name: Reason
      title: CheckNameAvailabilityResult
      type: object
    CustomDomain:
      description: The custom domain assigned to this storage account. This can be
        set via Update.
      example:
        useSubDomainName: true
        name: name
      properties:
        name:
          description: The custom domain name. Name is the CNAME source.
          title: name
          type: string
        useSubDomainName:
          description: Indicates whether indirect CName validation is enabled. Default
            value is false. This should only be set on updates
          title: useSubDomainName
          type: boolean
      required:
      - name
      title: CustomDomain
      type: object
    Endpoints:
      description: "The URIs that are used to perform a retrieval of a public blob,\
        \ queue or table object."
      example:
        blob: blob
        file: file
        queue: queue
        table: table
      properties:
        blob:
          description: The blob endpoint.
          title: blob
          type: string
        file:
          description: The file endpoint.
          title: file
          type: string
        queue:
          description: The queue endpoint.
          title: queue
          type: string
        table:
          description: The table endpoint.
          title: table
          type: string
      title: Endpoints
      type: object
    Resource:
      description: Describes a storage resource.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    StorageAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The storage account.
      example:
        properties:
          creationTime: 2000-01-23T04:56:07.000+00:00
          lastGeoFailoverTime: 2000-01-23T04:56:07.000+00:00
          primaryLocation: primaryLocation
          secondaryLocation: secondaryLocation
          accountType: Standard_LRS
          primaryEndpoints:
            blob: blob
            file: file
            queue: queue
            table: table
          secondaryEndpoints:
            blob: blob
            file: file
            queue: queue
            table: table
          statusOfPrimary: Available
          provisioningState: Creating
          customDomain:
            useSubDomainName: true
            name: name
          statusOfSecondary: Available
      properties:
        properties:
          $ref: '#/components/schemas/StorageAccountProperties'
      title: StorageAccount
    StorageAccountCheckNameAvailabilityParameters:
      description: The parameters used to check the availability of the storage account
        name.
      example:
        name: name
        type: Microsoft.Storage/storageAccounts
      properties:
        name:
          title: name
          type: string
        type:
          default: Microsoft.Storage/storageAccounts
          title: type
          type: string
      required:
      - name
      title: StorageAccountCheckNameAvailabilityParameters
      type: object
    StorageAccountCreateParameters:
      description: The parameters to provide for the account.
      example:
        location: location
        properties:
          accountType: Standard_LRS
        tags:
          key: tags
      properties:
        location:
          description: "The location of the resource. This will be one of the supported\
            \ and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia,\
            \ etc.). The geo region of a resource cannot be changed once it is created,\
            \ but if an identical geo region is specified on update, the request will\
            \ succeed."
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/StorageAccountPropertiesCreateParameters'
        tags:
          additionalProperties:
            type: string
          description: A list of key value pairs that describe the resource. These
            tags can be used for viewing and grouping this resource (across resource
            groups). A maximum of 15 tags can be provided for a resource. Each tag
            must have a key with a length no greater than 128 characters and a value
            with a length no greater than 256 characters.
          title: tags
          type: object
      required:
      - location
      title: StorageAccountCreateParameters
      type: object
      x-ms-azure-resource: true
    StorageAccountKeys:
      description: The access keys for the storage account.
      example:
        key1: key1
        key2: key2
      properties:
        key1:
          description: The value of key 1.
          title: key1
          type: string
        key2:
          description: The value of key 2.
          title: key2
          type: string
      title: StorageAccountKeys
      type: object
    StorageAccountListResult:
      description: The list storage accounts operation response.
      example:
        value:
        - properties:
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastGeoFailoverTime: 2000-01-23T04:56:07.000+00:00
            primaryLocation: primaryLocation
            secondaryLocation: secondaryLocation
            accountType: Standard_LRS
            primaryEndpoints:
              blob: blob
              file: file
              queue: queue
              table: table
            secondaryEndpoints:
              blob: blob
              file: file
              queue: queue
              table: table
            statusOfPrimary: Available
            provisioningState: Creating
            customDomain:
              useSubDomainName: true
              name: name
            statusOfSecondary: Available
        - properties:
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastGeoFailoverTime: 2000-01-23T04:56:07.000+00:00
            primaryLocation: primaryLocation
            secondaryLocation: secondaryLocation
            accountType: Standard_LRS
            primaryEndpoints:
              blob: blob
              file: file
              queue: queue
              table: table
            secondaryEndpoints:
              blob: blob
              file: file
              queue: queue
              table: table
            statusOfPrimary: Available
            provisioningState: Creating
            customDomain:
              useSubDomainName: true
              name: name
            statusOfSecondary: Available
      properties:
        value:
          description: The list of storage accounts and their properties.
          items:
            $ref: '#/components/schemas/StorageAccount'
          title: value
          type: array
      title: StorageAccountListResult
      type: object
    StorageAccountProperties:
      description: Properties of the storage account.
      example:
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastGeoFailoverTime: 2000-01-23T04:56:07.000+00:00
        primaryLocation: primaryLocation
        secondaryLocation: secondaryLocation
        accountType: Standard_LRS
        primaryEndpoints:
          blob: blob
          file: file
          queue: queue
          table: table
        secondaryEndpoints:
          blob: blob
          file: file
          queue: queue
          table: table
        statusOfPrimary: Available
        provisioningState: Creating
        customDomain:
          useSubDomainName: true
          name: name
        statusOfSecondary: Available
      properties:
        accountType:
          description: The type of the storage account.
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
          title: accountType
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountType
        creationTime:
          description: The creation date and time of the storage account in UTC.
          format: date-time
          title: creationTime
          type: string
        customDomain:
          $ref: '#/components/schemas/CustomDomain'
        lastGeoFailoverTime:
          description: The timestamp of the most recent instance of a failover to
            the secondary location. Only the most recent timestamp is retained. This
            element is not returned if there has never been a failover instance. Only
            available if the accountType is Standard_GRS or Standard_RAGRS.
          format: date-time
          title: lastGeoFailoverTime
          type: string
        primaryEndpoints:
          $ref: '#/components/schemas/Endpoints'
        primaryLocation:
          description: The location of the primary data center for the storage account.
          title: primaryLocation
          type: string
        provisioningState:
          description: The status of the storage account at the time the operation
            was called.
          enum:
          - Creating
          - ResolvingDNS
          - Succeeded
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        secondaryEndpoints:
          $ref: '#/components/schemas/Endpoints'
        secondaryLocation:
          description: The location of the geo-replicated secondary for the storage
            account. Only available if the accountType is Standard_GRS or Standard_RAGRS.
          title: secondaryLocation
          type: string
        statusOfPrimary:
          description: The status indicating whether the primary location of the storage
            account is available or unavailable.
          enum:
          - Available
          - Unavailable
          title: statusOfPrimary
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountStatus
        statusOfSecondary:
          description: The status indicating whether the secondary location of the
            storage account is available or unavailable. Only available if the SKU
            name is Standard_GRS or Standard_RAGRS.
          enum:
          - Available
          - Unavailable
          title: statusOfSecondary
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountStatus
      title: StorageAccountProperties
      type: object
    StorageAccountPropertiesCreateParameters:
      description: The parameters used to create the storage account.
      example:
        accountType: Standard_LRS
      properties:
        accountType:
          description: "The sku name. Required for account creation; optional for\
            \ update. Note that in older versions, sku name was called accountType."
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
          title: accountType
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountType
      required:
      - accountType
      title: StorageAccountPropertiesCreateParameters
      type: object
    StorageAccountPropertiesUpdateParameters:
      description: The parameters used when updating a storage account.
      example:
        accountType: Standard_LRS
        customDomain:
          useSubDomainName: true
          name: name
      properties:
        accountType:
          description: "The account type. Note that StandardZRS and PremiumLRS accounts\
            \ cannot be changed to other account types, and other account types cannot\
            \ be changed to StandardZRS or PremiumLRS."
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
          title: accountType
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountType
        customDomain:
          $ref: '#/components/schemas/CustomDomain'
      title: StorageAccountPropertiesUpdateParameters
      type: object
    StorageAccountRegenerateKeyParameters:
      description: The parameters used to regenerate the storage account key.
      example:
        keyName: keyName
      properties:
        keyName:
          title: keyName
          type: string
      required:
      - keyName
      title: StorageAccountRegenerateKeyParameters
      type: object
    StorageAccountUpdateParameters:
      description: The parameters to update on the account.
      example:
        properties:
          accountType: Standard_LRS
          customDomain:
            useSubDomainName: true
            name: name
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/StorageAccountPropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: StorageAccountUpdateParameters
      type: object
      x-ms-azure-resource: true
    Usage:
      description: Describes Storage Resource Usage.
      example:
        unit: Count
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        currentValue: 0
      properties:
        currentValue:
          description: The current count of the allocated resources in the subscription.
          format: int32
          title: currentValue
          type: integer
        limit:
          description: The maximum count of the resources that can be allocated in
            the subscription.
          format: int32
          title: limit
          type: integer
        name:
          $ref: '#/components/schemas/UsageName'
        unit:
          description: The unit of measurement.
          enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountsPerSecond
          - BytesPerSecond
          title: unit
          type: string
          x-ms-enum:
            modelAsString: false
            name: UsageUnit
      required:
      - currentValue
      - limit
      - name
      - unit
      title: Usage
      type: object
    UsageListResult:
      description: The List Usages operation response.
      example:
        value:
        - unit: Count
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
        - unit: Count
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
      properties:
        value:
          description: The list Storage Resource Usages.
          items:
            $ref: '#/components/schemas/Usage'
          title: value
          type: array
      title: UsageListResult
      type: object
    UsageName:
      description: The Usage Names.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: A localized string describing the resource name.
          title: localizedValue
          type: string
        value:
          description: A string describing the resource name.
          title: value
          type: string
      title: UsageName
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
