openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Diagnostic entity
    associated with your Azure API Management deployment. Diagnostics are used to
    log requests/responses in the APIM proxy.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimdiagnostics.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdiagnostics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      description: Lists all diagnostics of the API Management service instance.
      operationId: diagnostic_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCollection'
          description: Paged Result response of diagnostics.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementListDiagnostics:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                  name: default
                  properties:
                    enabled: false
                  type: Microsoft.ApiManagement/service/diagnostics
      x-ms-odata: '#/definitions/DiagnosticContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : delete:
      description: Deletes the specified Diagnostic.
      operationId: diagnostic_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Diagnostic was successfully deleted.
        "204":
          content: {}
          description: The Diagnostic was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementDeleteDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
    get:
      description: Gets the details of the Diagnostic specified by its identifier.
      operationId: diagnostic_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementGetDiagnostic:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: false
                type: Microsoft.ApiManagement/service/diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
    head:
      description: Gets the entity state (Etag) version of the Diagnostic specified
        by its identifier.
      operationId: diagnostic_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementHeadDiagnostic:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
    patch:
      description: Updates the details of the Diagnostic specified by its identifier.
      operationId: diagnostic_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticContract'
        description: Diagnostic Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementUpdateDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            diagnosticId: default
            parameters:
              properties:
                enabled: false
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
    put:
      description: Creates a new Diagnostic or updates an existing one.
      operationId: diagnostic_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticContract'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: Diagnostic was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: Diagnostic was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementCreateDiagnostic:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            parameters:
              properties:
                enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/diagnostics
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers
  : get:
      description: Lists all loggers associated with the specified Diagnostic of the
        API Management service instance.
      operationId: diagnostic_logger_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | type        | eq                     |                                   |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response'
          description: Paged Result response of loggers assigned to the specified
            Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementListDiagnosticLoggers:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                  name: applicationinsights
                  properties:
                    credentials:
                      instrumentationKey: "{{5a.......2a}}"
                    isBuffered: false
                    loggerType: applicationInsights
                  type: Microsoft.ApiManagement/service/diagnostics/loggers
      x-ms-odata: ./apimloggers.json#/definitions/LoggerContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostic_loggers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers/{loggerid}
  : delete:
      description: Deletes the specified Logger from Diagnostic.
      operationId: diagnostic_logger_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Logger was successfully detached from Diagnostic.
        "204":
          content: {}
          description: The Logger was successfully detached from Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementDeleteDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.diagnostic_loggers_controller
    head:
      description: Checks that logger entity specified by identifier is associated
        with the diagnostics entity.
      operationId: diagnostic_logger_check_entity_exists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The logger is associated with the diagnostic entity.
        "404":
          content: {}
          description: The logger is not associated with the diagnostic entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementHeadDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.diagnostic_loggers_controller
    put:
      description: Attaches a logger to a diagnostic.
      operationId: diagnostic_logger_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnostic_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger to Diagnostic link was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger was successfully attached to Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementCreateDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/diagnostics/loggers
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/diagnostics/loggers
      x-openapi-router-controller: openapi_server.controllers.diagnostic_loggers_controller
components:
  parameters:
    DiagnosticIdParameter:
      description: Diagnostic identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: diagnosticId
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DiagnosticCollection:
      description: Paged Diagnostic list representation.
      example:
        value:
        - properties:
            enabled: true
        - properties:
            enabled: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/DiagnosticContract'
          title: value
          type: array
      title: DiagnosticCollection
      type: object
    DiagnosticContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Diagnostic details.
      example:
        properties:
          enabled: true
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticContractProperties'
      title: DiagnosticContract
    DiagnosticContractProperties:
      description: Diagnostic Entity Properties
      example:
        enabled: true
      properties:
        enabled:
          description: Indicates whether a diagnostic should receive data or not.
          title: enabled
          type: boolean
      required:
      - enabled
      title: DiagnosticContractProperties
      type: object
    Diagnostic_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Diagnostic_ListByService_default_response_error_details_inner
      type: object
    Diagnostic_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Diagnostic_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Diagnostic_ListByService_default_response_error
      type: object
    Diagnostic_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Diagnostic_ListByService_default_response_error'
      title: Diagnostic_ListByService_default_response
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner_properties:
      description: The Logger entity in API Management represents an event sink that
        you can use to log API Management events. Currently the Logger entity supports
        logging API Management events to Azure Event Hubs.
      example:
        loggerType: azureEventHub
        credentials:
          connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
          name: apim
        isBuffered: true
        description: description
      properties:
        credentials:
          additionalProperties:
            type: string
          description: |-
            The name and SendRule connection string of the event hub for azureEventHub logger.
            Instrumentation key for applicationInsights logger.
          example:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          title: credentials
          type: object
        description:
          description: Logger description.
          maxLength: 256
          title: description
          type: string
        isBuffered:
          description: Whether records are buffered in the logger before publishing.
            Default is assumed to be true.
          title: isBuffered
          type: boolean
        loggerType:
          description: Logger type.
          enum:
          - azureEventHub
          - applicationInsights
          title: loggerType
          type: string
          x-ms-enum:
            modelAsString: true
            name: LoggerType
            values:
            - description: Azure Event Hub as log destination.
              value: azureEventHub
            - description: Azure Application Insights as log destination.
              value: applicationInsights
      required:
      - credentials
      - loggerType
      title: DiagnosticLogger_ListByService_200_response_value_inner_properties
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner:
      description: Logger details.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          isBuffered: true
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties'
      title: DiagnosticLogger_ListByService_200_response_value_inner
      type: object
    DiagnosticLogger_ListByService_200_response:
      description: Paged Logger list representation.
      example:
        count: 0
        value:
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            description: description
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            description: description
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Logger values.
          items:
            $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner'
          title: value
          type: array
      title: DiagnosticLogger_ListByService_200_response
      type: object
    DiagnosticLogger_CreateOrUpdate_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Logger details.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          isBuffered: true
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties'
      title: DiagnosticLogger_CreateOrUpdate_200_response
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
