openapi: 3.0.1
info:
  title: AzureStack Azure Bridge Client
  version: 2017-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/CustomerSubscription.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azurestack-CustomerSubscription
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions
  : get:
      description: Returns a list of products.
      operationId: customer_subscriptions_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSubscriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSubscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - CustomerSubscription
      x-ms-examples:
        Returns a list of products.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/customerSubscriptions/E09A4E93-29A7-4EBA-A6D4-76202383F07F
                  name: testregistration/E09A4E93-29A7-4EBA-A6D4-76202383F07F
                  properties:
                    tenantId: dbab3982-796f-4d03-9908-044c08aef8a2
                  type: Microsoft.AzureStack/registrations/customerSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.customer_subscription_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions/{customerSubscriptionName}
  : delete:
      description: Deletes a customer subscription under a registration.
      operationId: customer_subscriptions_delete
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: customer_subscription_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NO CONTENT
      tags:
      - CustomerSubscription
      x-ms-examples:
        Deletes a customer subscription under a registration.:
          parameters:
            api-version: 2017-06-01
            customerSubscriptionName: E09A4E93-29A7-4EBA-A6D4-76202383F07F
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.customer_subscription_controller
    get:
      description: Returns the specified product.
      operationId: customer_subscriptions_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: customerSubscriptionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSubscription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSubscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - CustomerSubscription
      x-ms-examples:
        Returns the specified product.:
          parameters:
            api-version: 2017-06-01
            customerSubscriptionName: E09A4E93-29A7-4EBA-A6D4-76202383F07F
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/customerSubscriptions/E09A4E93-29A7-4EBA-A6D4-76202383F07F
                name: testregistration/E09A4E93-29A7-4EBA-A6D4-76202383F07F
                properties:
                  tenantId: dbab3982-796f-4d03-9908-044c08aef8a2
                type: Microsoft.AzureStack/registrations/customerSubscriptions
      x-openapi-router-controller: openapi_server.controllers.customer_subscription_controller
    put:
      description: Creates a new customer subscription under a registration.
      operationId: customer_subscriptions_create
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: customer_subscription_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSubscription'
        description: Parameters use to create a customer subscription.
        required: true
        x-ms-parameter-location: method
        x-body-name: customerCreationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSubscription'
          description: OK
      tags:
      - CustomerSubscription
      x-ms-examples:
        Creates a new customer subscription under a registration.:
          parameters:
            api-version: 2017-06-01
            customerCreationParameters:
              properties:
                tenantId: dbab3982-796f-4d03-9908-044c08aef8a2
            customerSubscriptionName: E09A4E93-29A7-4EBA-A6D4-76202383F07F
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                id: ""
                name: ""
                properties:
                  tenantId: dbab3982-796f-4d03-9908-044c08aef8a2
                type: ""
      x-codegen-request-body-name: customerCreationParameters
      x-openapi-router-controller: openapi_server.controllers.customer_subscription_controller
components:
  parameters:
    CustomerSubscriptionNameParameter:
      description: Name of the product.
      in: path
      name: customerSubscriptionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    CustomerSubscriptionParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerSubscription'
      description: Parameters use to create a customer subscription.
      required: true
      x-ms-parameter-location: method
      x-body-name: customerCreationParameters
  schemas:
    CustomerSubscription:
      allOf:
      - description: Base resource object.
        properties:
          etag:
            description: The entity tag used for optimistic concurrency when modifying
              the resource.
            type: string
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Customer subscription.
      example:
        properties:
          tenantId: tenantId
      properties:
        properties:
          $ref: '#/components/schemas/CustomerSubscriptionProperties'
      title: CustomerSubscription
    CustomerSubscriptionList:
      description: Pageable list of customer subscriptions.
      example:
        value:
        - properties:
            tenantId: tenantId
        - properties:
            tenantId: tenantId
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of customer subscriptions.
          items:
            $ref: '#/components/schemas/CustomerSubscription'
          title: value
          type: array
      title: CustomerSubscriptionList
      type: object
    CustomerSubscriptionProperties:
      description: Customer subscription properties.
      example:
        tenantId: tenantId
      properties:
        tenantId:
          description: Tenant Id.
          title: tenantId
          type: string
      title: CustomerSubscriptionProperties
      type: object
    CustomerSubscriptions_List_default_response_error:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          title: target
          type: string
      title: CustomerSubscriptions_List_default_response_error
      type: object
    CustomerSubscriptions_List_default_response:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CustomerSubscriptions_List_default_response_error'
      title: CustomerSubscriptions_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
