openapi: 3.0.0
info:
  description: "Driving License (DL) and Vehicle Registration Certificate (RC) of\
    \ the State, as available on Parivahan Sewa (http://parivahan.co.in/) of Ministry\
    \ of Road Transport and Highways, are available on DigiLocker. Citizens can pull\
    \ these documents into their DigiLocker accounts."
  termsOfService: https://apisetu.gov.in/terms.php
  title: "Transport Department, Dadra & Nagar Haveli"
  version: 3.0.0
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/transportdh.yaml
    version: "3.0"
  x-providerName: apisetu.gov.in
  x-serviceName: transportdh
servers:
- url: https://apisetu.gov.in/transportdh/v3
paths:
  /drvlc/certificate:
    post:
      description: API to verify Driving License.
      operationId: drvlc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drvlc_request'
        description: Request format
        x-body-name: body
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
            application/xml:
              schema:
                $ref: '#/components/schemas/DrivingLicenseSchema'
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Driving License
      tags:
      - APIs
      x-openapi-router-controller: openapi_server.controllers.apis_controller
      x-codegen-request-body-name: body
  /rvcer/certificate:
    post:
      description: API to verify Registration of Vehicles.
      operationId: rvcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rvcer_request'
        description: Request format
        x-body-name: body
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
            application/xml:
              schema:
                $ref: '#/components/schemas/VehicleRegistrationSchema'
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Registration of Vehicles
      tags:
      - APIs
      x-openapi-router-controller: openapi_server.controllers.apis_controller
      x-codegen-request-body-name: body
components:
  responses:
    "400Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_400_response'
      description: Bad request
    "401Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_401_response'
      description: Unauthorized access
    "404Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_404_response'
      description: No record found
    "500Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_500_response'
      description: Internal server error
    "502Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_502_response'
      description: Bad gateway
    "503Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_503_response'
      description: Service unavailable
    "504Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_504_response'
      description: Gateway timeout
  schemas:
    AcademicCertificateSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo'
        issueDate:
          example: ' '
          type: string
          xml:
            attribute: true
        issuedAt:
          example: ""
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Secondary School Certificate
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          example: 1100044
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: SSCER
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    ConsentArtifactSchema:
      properties:
        consent:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent'
        signature:
          $ref: '#/components/schemas/ConsentArtifactSchema_signature'
      required:
      - consent
      - signature
      title: ConsentArtifactSchema
    DrivingLicenseSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/DrivingLicenseSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedTo'
        expiryDate:
          example: 31-12-2010
          title: expiryDate
          type: string
          xml:
            attribute: true
        issueDate:
          example: 01-01-1990
          title: issueDate
          type: string
          xml:
            attribute: true
        issuedAt:
          example: New Delhi
          title: issuedAt
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          title: language
          type: string
          xml:
            attribute: true
        name:
          example: Driving License
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        number:
          minLength: 1
          title: number
          type: integer
          xml:
            attribute: true
        prevNumber:
          example: 1234
          minLength: 1
          title: prevNumber
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          title: status
          type: string
          xml:
            attribute: true
        type:
          example: DRVLC
          title: type
          type: string
          xml:
            attribute: true
        validFromDate:
          example: 01-01-1990
          title: validFromDate
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      title: DrivingLicenseSchema
      type: object
      xml:
        name: Certificate
    VehicleRegistrationSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedTo'
        expiryDate:
          example: ' '
          title: expiryDate
          type: string
          xml:
            attribute: true
        issueDate:
          example: 01-01-1980
          title: issueDate
          type: string
          xml:
            attribute: true
        issuedAt:
          example: New Delhi
          title: issuedAt
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          title: language
          type: string
          xml:
            attribute: true
        name:
          example: Vehicle Registration
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        number:
          minLength: 1
          title: number
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          title: status
          type: string
          xml:
            attribute: true
        type:
          example: RVCER
          title: type
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          title: validFromDate
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      title: VehicleRegistrationSchema
      type: object
      xml:
        name: Certificate
    drvlc_request_certificateParameters:
      properties:
        DOB:
          description: Date of birth in DD-MM-YYYY format
          example: 31-12-1980
          title: DOB
          type: string
        FullName:
          description: Full name
          example: Sunil Kumar
          title: FullName
          type: string
        UID:
          description: Aadhaar number
          example: "123412341234"
          title: UID
          type: string
        dlno:
          description: DL No
          example: Ex. JH02/2009/236543
          title: dlno
          type: string
      required:
      - DOB
      - FullName
      - UID
      - dlno
      title: drvlc_request_certificateParameters
      type: object
    drvlc_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/drvlc_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - xml
          - pdf
          title: format
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          title: txnId
          type: string
      required:
      - format
      - txnId
      title: drvlc_request
      type: object
    drvlc_400_response:
      example:
        errorDescription: Please provide all mandatory parameters
        error: missing_parameter
      properties:
        error:
          enum:
          - missing_parameter
          - invalid_parameter
          - invalid_format
          - invalid_txnid
          - invalid_consentid
          title: error
          type: string
        errorDescription:
          enum:
          - Please provide all mandatory parameters
          - Bad request
          - The format parameter is invalid
          - The txnId parameter must be in UUID format
          - The consentId parameter must be in UUID format
          title: errorDescription
          type: string
      title: drvlc_400_response
      type: object
    drvlc_401_response:
      example:
        errorDescription: Authentication failed
        error: invalid_authentication
      properties:
        error:
          enum:
          - invalid_authentication
          - invalid_authorization
          title: error
          type: string
        errorDescription:
          enum:
          - Authentication failed
          - You are not authorized to use this API
          title: errorDescription
          type: string
      title: drvlc_401_response
      type: object
    drvlc_404_response:
      example:
        errorDescription: No record found
        error: record_not_found
      properties:
        error:
          enum:
          - record_not_found
          - url_not_found
          title: error
          type: string
        errorDescription:
          enum:
          - No record found
          - Your API url or path is incorrect
          title: errorDescription
          type: string
      title: drvlc_404_response
      type: object
    drvlc_500_response:
      example:
        errorDescription: Internal server error
        error: internal_server_error
      properties:
        error:
          enum:
          - internal_server_error
          title: error
          type: string
        errorDescription:
          enum:
          - Internal server error
          title: errorDescription
          type: string
      title: drvlc_500_response
      type: object
    drvlc_502_response:
      example:
        errorDescription: Publisher service returned an invalid response
        error: bad_gatewy
      properties:
        error:
          enum:
          - bad_gatewy
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service returned an invalid response
          title: errorDescription
          type: string
      title: drvlc_502_response
      type: object
    drvlc_503_response:
      example:
        errorDescription: Publisher service is temporarily unavailable
        error: service_unavailable
      properties:
        error:
          enum:
          - service_unavailable
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service is temporarily unavailable
          title: errorDescription
          type: string
      title: drvlc_503_response
      type: object
    drvlc_504_response:
      example:
        errorDescription: Publisher service did not respond in time
        error: gateway_timeout
      properties:
        error:
          enum:
          - gateway_timeout
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service did not respond in time
          title: errorDescription
          type: string
      title: drvlc_504_response
      type: object
    rvcer_request_certificateParameters:
      properties:
        FullName:
          description: Full name
          example: Sunil Kumar
          title: FullName
          type: string
        UID:
          description: Aadhaar number
          example: "123412341234"
          title: UID
          type: string
        chasis_no:
          description: Chassis No
          example: MBLKC12EFBGJ08420
          title: chasis_no
          type: string
        reg_no:
          description: Vehicle Registration No
          example: DL01AA0101 As per your Vehicle Registration Certificate
          title: reg_no
          type: string
      required:
      - FullName
      - UID
      - chasis_no
      - reg_no
      title: rvcer_request_certificateParameters
      type: object
    rvcer_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/rvcer_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - xml
          - pdf
          title: format
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          title: txnId
          type: string
      required:
      - format
      - txnId
      title: rvcer_request
      type: object
    AcademicCertificateSchema_CertificateData_Examination:
      properties:
        month:
          example: MARCH
          minLength: 1
          title: month
          type: string
          xml:
            attribute: true
        name:
          example: SENION SCHOOL CERTIFICATE EXAMINATION
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        year:
          example: "2019"
          minLength: 1
          title: year
          type: string
          xml:
            attribute: true
      required:
      - month
      - name
      - year
      title: AcademicCertificateSchema_CertificateData_Examination
      type: object
    AcademicCertificateSchema_CertificateData_Performance_Subjects_inner:
      properties:
        code:
          example: "30"
          minLength: 1
          title: code
          type: string
          xml:
            attribute: true
        gp:
          example: ""
          title: gp
          type: string
          xml:
            attribute: true
        gpMax:
          example: ""
          title: gpMax
          type: string
          xml:
            attribute: true
        grade:
          example: A2
          minLength: 1
          title: grade
          type: string
          xml:
            attribute: true
        marksMax:
          title: marksMax
          type: integer
          xml:
            attribute: true
        marksMaxPractical:
          title: marksMaxPractical
          type: integer
          xml:
            attribute: true
        marksMaxTheory:
          title: marksMaxTheory
          type: integer
          xml:
            attribute: true
        marksPractical:
          example: 17
          title: marksPractical
          type: integer
          xml:
            attribute: true
        marksTheory:
          example: 70
          minLength: 1
          title: marksTheory
          type: integer
          xml:
            attribute: true
        marksTotal:
          example: 87
          minLength: 1
          title: marksTotal
          type: integer
          xml:
            attribute: true
        name:
          example: ECONOMICS
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
      required:
      - code
      - gp
      - gpMax
      - grade
      - marksMax
      - marksMaxPractical
      - marksMaxTheory
      - marksPractical
      - marksTheory
      - marksTotal
      - name
      title: AcademicCertificateSchema_CertificateData_Performance_Subjects_inner
      type: object
      xml:
        name: Subject
    AcademicCertificateSchema_CertificateData_Performance:
      properties:
        Subjects:
          items:
            $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance_Subjects_inner'
          title: Subjects
          type: array
          xml:
            name: Subjects
            wrapped: true
        cgpa:
          example: ""
          title: cgpa
          type: string
          xml:
            attribute: true
        cgpaMax:
          example: ""
          title: cgpaMax
          type: string
          xml:
            attribute: true
        grade:
          example: ""
          title: grade
          type: string
          xml:
            attribute: true
        marksMax:
          example: ""
          title: marksMax
          type: string
          xml:
            attribute: true
        marksTotal:
          example: ""
          title: marksTotal
          type: string
          xml:
            attribute: true
        percentage:
          example: ""
          title: percentage
          type: string
          xml:
            attribute: true
        result:
          example: PASS
          minLength: 1
          title: result
          type: string
          xml:
            attribute: true
        resultDate:
          example: 02-05-2019
          minLength: 1
          title: resultDate
          type: string
          xml:
            attribute: true
        updateDate:
          example: ""
          title: updateDate
          type: string
          xml:
            attribute: true
      required:
      - Subjects
      - cgpa
      - cgpaMax
      - grade
      - marksMax
      - marksTotal
      - percentage
      - result
      - resultDate
      - updateDate
      title: AcademicCertificateSchema_CertificateData_Performance
      type: object
    AcademicCertificateSchema_CertificateData_School:
      properties:
        code:
          example: "20020"
          minLength: 1
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: DELHI PUBLIC SCHOOL GURGAON
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
      required:
      - code
      - name
      title: AcademicCertificateSchema_CertificateData_School
      type: object
    AcademicCertificateSchema_CertificateData:
      properties:
        Examination:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Examination'
        Performance:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance'
        School:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_School'
      required:
      - Examination
      - Performance
      - School
      title: AcademicCertificateSchema_CertificateData
      type: object
    AcademicCertificateSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          title: country
          type: string
          xml:
            attribute: true
        district:
          example: ""
          title: district
          type: string
          xml:
            attribute: true
        house:
          example: ""
          title: house
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          title: landmark
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          title: line1
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          title: line2
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          title: locality
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          title: pin
          type: string
          xml:
            attribute: true
        state:
          example: ""
          title: state
          type: string
          xml:
            attribute: true
        type:
          example: ""
          title: type
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          title: vtc
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      title: AcademicCertificateSchema_IssuedBy_Organization_Address
      type: object
    AcademicCertificateSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: Central Board of Secondary Education
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          title: tin
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          title: type
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      title: AcademicCertificateSchema_IssuedBy_Organization
      type: object
    AcademicCertificateSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization'
      required:
      - Organization
      title: AcademicCertificateSchema_IssuedBy
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Address:
      properties:
        country:
          example: IN
          minLength: 1
          title: country
          type: string
          xml:
            attribute: true
        district:
          example: ""
          title: district
          type: string
          xml:
            attribute: true
        house:
          example: ""
          title: house
          type: string
          xml:
            attribute: true
        landmark:
          title: landmark
          type: string
          xml:
            attribute: true
          example: null
        line1:
          example: ""
          title: line1
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          title: line2
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          title: locality
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          title: pin
          type: string
          xml:
            attribute: true
        state:
          example: ""
          title: state
          type: string
          xml:
            attribute: true
        type:
          example: permanent
          minLength: 1
          title: type
          type: string
        vtc:
          example: ""
          title: vtc
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      title: AcademicCertificateSchema_IssuedTo_Person_Address
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Photo:
      properties:
        format:
          title: format
          type: string
          xml:
            attribute: true
      required:
      - format
      title: AcademicCertificateSchema_IssuedTo_Person_Photo
      type: object
    AcademicCertificateSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        category:
          example: SC
          minLength: 1
          title: category
          type: string
          xml:
            attribute: true
        disabilityStatus:
          example: ""
          title: disabilityStatus
          type: string
          xml:
            attribute: true
        dob:
          example: 01-10-1988
          minLength: 1
          title: dob
          type: string
          xml:
            attribute: true
        email:
          example: ""
          title: email
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          title: gender
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          title: maritalStatus
          type: string
          xml:
            attribute: true
        motherName:
          example: SUNITA DEVI
          minLength: 1
          title: motherName
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          title: phone
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          title: religion
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          title: swd
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          title: swdIndicator
          type: string
          xml:
            attribute: true
        title:
          example: ""
          title: title
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      title: AcademicCertificateSchema_IssuedTo_Person
      type: object
    AcademicCertificateSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person'
      required:
      - Person
      title: AcademicCertificateSchema_IssuedTo
      type: object
    ConsentArtifactSchema_consent_data:
      properties:
        id:
          minLength: 1
          title: id
          type: string
      required:
      - id
      title: ConsentArtifactSchema_consent_data
      type: object
    ConsentArtifactSchema_consent_permission_dateRange:
      properties:
        from:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: from
          type: string
        to:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: to
          type: string
      required:
      - from
      - to
      title: ConsentArtifactSchema_consent_permission_dateRange
      type: object
    ConsentArtifactSchema_consent_permission_frequency:
      properties:
        repeats:
          title: repeats
          type: number
        unit:
          minLength: 1
          title: unit
          type: string
        value:
          title: value
          type: number
      required:
      - repeats
      - unit
      - value
      title: ConsentArtifactSchema_consent_permission_frequency
      type: object
    ConsentArtifactSchema_consent_permission:
      properties:
        access:
          minLength: 1
          title: access
          type: string
        dateRange:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_dateRange'
        frequency:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_frequency'
      required:
      - access
      - dateRange
      - frequency
      title: ConsentArtifactSchema_consent_permission
      type: object
    ConsentArtifactSchema_consent_purpose:
      properties:
        description:
          minLength: 1
          title: description
          type: string
      required:
      - description
      title: ConsentArtifactSchema_consent_purpose
      type: object
    ConsentArtifactSchema_consent_user:
      properties:
        email:
          minLength: 1
          title: email
          type: string
        idNumber:
          minLength: 1
          title: idNumber
          type: string
        idType:
          minLength: 1
          title: idType
          type: string
        mobile:
          minLength: 1
          title: mobile
          type: string
      required:
      - email
      - idNumber
      - idType
      - mobile
      title: ConsentArtifactSchema_consent_user
      type: object
    ConsentArtifactSchema_consent:
      properties:
        consentId:
          description: A unique consent id in UUID format.
          example: ea9c43aa-7f5a-4bf3-a0be-e1caa24737ba
          format: uuid
          minLength: 1
          title: consentId
          type: string
        data:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataConsumer:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataProvider:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        permission:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission'
        purpose:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_purpose'
        timestamp:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: timestamp
          type: string
        user:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_user'
      required:
      - consentId
      - data
      - dataConsumer
      - dataProvider
      - permission
      - purpose
      - timestamp
      - user
      title: ConsentArtifactSchema_consent
      type: object
    ConsentArtifactSchema_signature:
      properties:
        signature:
          title: signature
          type: string
      required:
      - signature
      title: ConsentArtifactSchema_signature
      type: object
    DrivingLicenseSchema_CertificateData_DrivingLicense:
      properties:
        abbreviation:
          example: MCWG
          title: abbreviation
          type: string
          xml:
            attribute: true
        code:
          example: NT
          minLength: 1
          title: code
          type: string
          xml:
            attribute: true
        description:
          example: Motor Cycle with Gear(Non Transport)
          title: description
          type: string
          xml:
            attribute: true
        endorseDate:
          example: 01-01-1990
          title: endorseDate
          type: string
          xml:
            attribute: true
        issueDate:
          title: issueDate
          type: string
          xml:
            attribute: true
      required:
      - abbreviation
      - code
      - description
      - endorseDate
      - issueDate
      title: DrivingLicenseSchema_CertificateData_DrivingLicense
      type: object
    DrivingLicenseSchema_CertificateData:
      properties:
        DrivingLicense:
          $ref: '#/components/schemas/DrivingLicenseSchema_CertificateData_DrivingLicense'
      title: DrivingLicenseSchema_CertificateData
      type: object
    DrivingLicenseSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          title: country
          type: string
          xml:
            attribute: true
        district:
          example: ""
          title: district
          type: string
          xml:
            attribute: true
        house:
          example: ""
          title: house
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          title: landmark
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          title: line1
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          title: line2
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          title: locality
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          title: pin
          type: string
          xml:
            attribute: true
        state:
          example: ""
          title: state
          type: string
          xml:
            attribute: true
        type:
          example: present
          title: type
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          title: vtc
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      title: DrivingLicenseSchema_IssuedBy_Organization_Address
      type: object
    DrivingLicenseSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: ""
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          title: tin
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          title: type
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      title: DrivingLicenseSchema_IssuedBy_Organization
      type: object
    DrivingLicenseSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy_Organization'
      required:
      - Organization
      title: DrivingLicenseSchema_IssuedBy
      type: object
    DrivingLicenseSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        dob:
          example: 01-10-1988
          minLength: 1
          title: dob
          type: string
          xml:
            attribute: true
        email:
          example: ""
          title: email
          type: string
          xml:
            attribute: true
        gender:
          example: M
          title: gender
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          title: maritalStatus
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          title: phone
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          title: religion
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          title: swd
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          title: swdIndicator
          type: string
          xml:
            attribute: true
        title:
          example: ""
          title: title
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      title: DrivingLicenseSchema_IssuedTo_Person
      type: object
    DrivingLicenseSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedTo_Person'
      required:
      - Person
      title: DrivingLicenseSchema_IssuedTo
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration_Insurance:
      properties:
        companyName:
          example: ""
          title: companyName
          type: string
          xml:
            attribute: true
        policyNo:
          minLength: 1
          title: policyNo
          type: string
          xml:
            attribute: true
        validTill:
          example: ""
          title: validTill
          type: string
          xml:
            attribute: true
      title: VehicleRegistrationSchema_CertificateData_VehicleRegistration_Insurance
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration_Vehicle:
      properties:
        chasisNo:
          minLength: 1
          title: chasisNo
          type: string
          xml:
            attribute: true
        class:
          title: class
          type: object
          xml:
            attribute: true
        color:
          example: ""
          title: color
          type: string
          xml:
            attribute: true
        cubicCapacity:
          title: cubicCapacity
          type: object
          xml:
            attribute: true
        cylinder:
          title: cylinder
          type: object
          xml:
            attribute: true
        engineNo:
          example: ""
          title: engineNo
          type: string
          xml:
            attribute: true
        fitTill:
          title: fitTill
          type: object
          xml:
            attribute: true
        fuelDesc:
          title: fuelDesc
          type: object
          xml:
            attribute: true
        make:
          title: make
          type: object
          xml:
            attribute: true
        mfgDate:
          title: mfgDate
          type: object
          xml:
            attribute: true
        model:
          minLength: 1
          title: model
          type: string
          xml:
            attribute: true
        seatCapacity:
          minLength: 1
          title: seatCapacity
          type: string
          xml:
            attribute: true
        sleeperCapacity:
          minLength: 1
          title: sleeperCapacity
          type: string
          xml:
            attribute: true
        standingCapacity:
          title: standingCapacity
          type: object
          xml:
            attribute: true
        unladenWeight:
          minLength: 1
          title: unladenWeight
          type: string
          xml:
            attribute: true
        wheelbase:
          title: wheelbase
          type: object
          xml:
            attribute: true
      title: VehicleRegistrationSchema_CertificateData_VehicleRegistration_Vehicle
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration:
      properties:
        Insurance:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration_Insurance'
        Vehicle:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration_Vehicle'
        financer:
          minLength: 1
          title: financer
          type: string
          xml:
            attribute: true
        normsDesc:
          example: SSCER
          title: normsDesc
          type: string
          xml:
            attribute: true
        statusDate:
          minLength: 1
          title: statusDate
          type: string
          xml:
            attribute: true
      required:
      - financer
      - normsDesc
      - statusDate
      title: VehicleRegistrationSchema_CertificateData_VehicleRegistration
      type: object
    VehicleRegistrationSchema_CertificateData:
      properties:
        VehicleRegistration:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration'
      title: VehicleRegistrationSchema_CertificateData
      type: object
    VehicleRegistrationSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: ""
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          title: tin
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          title: type
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      title: VehicleRegistrationSchema_IssuedBy_Organization
      type: object
    VehicleRegistrationSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedBy_Organization'
      required:
      - Organization
      title: VehicleRegistrationSchema_IssuedBy
      type: object
    VehicleRegistrationSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        dob:
          example: 01-10-1988
          minLength: 1
          title: dob
          type: string
          xml:
            attribute: true
        email:
          example: ""
          title: email
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          title: gender
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          title: maritalStatus
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          title: phone
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          title: religion
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          title: swd
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          title: swdIndicator
          type: string
          xml:
            attribute: true
        title:
          example: ""
          title: title
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      title: VehicleRegistrationSchema_IssuedTo_Person
      type: object
    VehicleRegistrationSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedTo_Person'
      required:
      - Person
      title: VehicleRegistrationSchema_IssuedTo
      type: object
  securitySchemes:
    apiKey:
      in: header
      name: X-APISETU-APIKEY
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKey
    clientId:
      in: header
      name: X-APISETU-CLIENTID
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_clientId
