openapi: 3.0.0
info:
  contact:
    email: hello@bintable.com
  description: "BIN lookup API, the free api service from bintable.com to lookup card\
    \ information using it's BIN. the service maintains updated database based on\
    \ the comunity and other third party services to make sure all BINs in the database\
    \ are accurate and up to date."
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: BIN Lookup API
  version: 1.0.0-oas3
  x-apisguru-categories:
  - financial
  x-origin:
  - format: openapi
    url: https://bintable.com/api-files/openapi.json
    version: "3.0"
  x-providerName: bintable.com
servers:
- url: https://api.bintable.com/v1
tags:
- description: Authorized users with API Key can call this service
  name: Lookup
- description: Authorized users with API Key can call endpoints under this tag.
  name: Balance
paths:
  /balance:
    get:
      description: Get Account balance and expiry
      operationId: balance_lookup
      parameters:
      - description: "The API key, which you can get from bintable.com website."
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ResponseItem'
                type: array
          description: Balance reponse
        "401":
          description: "Your balance is exhausted,or package expired"
        "403":
          description: Invalid API Key
        "422":
          description: API key is missing
      summary: Check Balance
      tags:
      - Balance
      x-openapi-router-controller: openapi_server.controllers.balance_controller
  /{bin}:
    get:
      description: |
        By passing in the appropriate BIN, you can lookup for
        card meta data in bintable.com API
      operationId: bin_lookup
      parameters:
      - description: pass the required BIN code
        explode: false
        in: path
        name: bin
        required: true
        schema:
          type: string
        style: simple
      - description: "The API key, which you can get from bintable.com website."
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ResponseItem'
                type: array
          description: BIN data response
        "401":
          description: "Your balance is exhausted,or package expired"
        "403":
          description: Invalid API Key
        "422":
          description: API key is missing
      summary: Lookup for bin
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
components:
  schemas:
    ResponseItem:
      example:
        result: 200
        data: "{}"
        message: SUCCESS
      properties:
        data:
          title: data
          type: object
        message:
          example: SUCCESS
          title: message
          type: string
        result:
          example: 200
          title: result
          type: integer
      required:
      - data
      - message
      - result
      title: ResponseItem
      type: object
