openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Play Integrity API helps you check that you're interacting with
    your genuine app on a genuine Android device powered by Google Play services.
    The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Integrity API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://playintegrity.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: playintegrity
externalDocs:
  url: https://developer.android.com/google/play/integrity
servers:
- url: https://playintegrity.googleapis.com/
tags:
- name: v1
paths:
  /v1/{packageName}:decodeIntegrityToken:
    post:
      description: Decodes the integrity token and returns the token payload.
      operationId: playintegrity_decode_integrity_token
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ' Package name of the app the attached integrity token belongs
          to.'
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeIntegrityTokenRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeIntegrityTokenResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/playintegrity
        Oauth2c:
        - https://www.googleapis.com/auth/playintegrity
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AccountActivity:
      description: (Restricted Access) Contains a signal helping apps differentiating
        between likely genuine and likely non-genuine user traffic.
      example:
        activityLevel: ACTIVITY_LEVEL_UNSPECIFIED
      properties:
        activityLevel:
          description: Required. Indicates the activity level of the account.
          enum:
          - ACTIVITY_LEVEL_UNSPECIFIED
          - UNEVALUATED
          - UNUSUAL
          - UNKNOWN
          - TYPICAL_BASIC
          - TYPICAL_STRONG
          title: activityLevel
          type: string
      title: AccountActivity
      type: object
    AccountDetails:
      description: Contains the account information such as the licensing status for
        the user in the scope.
      example:
        appLicensingVerdict: UNKNOWN
        accountActivity:
          activityLevel: ACTIVITY_LEVEL_UNSPECIFIED
      properties:
        accountActivity:
          $ref: '#/components/schemas/AccountActivity'
        appLicensingVerdict:
          description: Required. Details about the licensing status of the user for
            the app in the scope.
          enum:
          - UNKNOWN
          - LICENSED
          - UNLICENSED
          - UNEVALUATED
          title: appLicensingVerdict
          type: string
      title: AccountDetails
      type: object
    AppAccessRiskVerdict:
      description: Contains signals about others apps on the device which could be
        used to access or control the requesting app.
      example:
        playOrSystemApps: UNKNOWN
        otherApps: UNKNOWN
      properties:
        otherApps:
          description: "Required. App access risk verdict related to apps that are\
            \ not installed by Google Play, and are not preloaded on the system image\
            \ by the device manufacturer."
          enum:
          - UNKNOWN
          - UNEVALUATED
          - NOT_INSTALLED
          - INSTALLED
          - CAPTURING
          - CONTROLLING
          title: otherApps
          type: string
        playOrSystemApps:
          description: "Required. App access risk verdict related to apps that are\
            \ not installed by the Google Play Store, and are not preloaded on the\
            \ system image by the device manufacturer."
          enum:
          - UNKNOWN
          - UNEVALUATED
          - NOT_INSTALLED
          - INSTALLED
          - CAPTURING
          - CONTROLLING
          title: playOrSystemApps
          type: string
      title: AppAccessRiskVerdict
      type: object
    AppIntegrity:
      description: Contains the application integrity information.
      example:
        appRecognitionVerdict: UNKNOWN
        certificateSha256Digest:
        - certificateSha256Digest
        - certificateSha256Digest
        packageName: packageName
        versionCode: versionCode
      properties:
        appRecognitionVerdict:
          description: Required. Details about the app recognition verdict
          enum:
          - UNKNOWN
          - PLAY_RECOGNIZED
          - UNRECOGNIZED_VERSION
          - UNEVALUATED
          title: appRecognitionVerdict
          type: string
        certificateSha256Digest:
          description: The SHA256 hash of the requesting app's signing certificates
            (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.
          items:
            type: string
          title: certificateSha256Digest
          type: array
        packageName:
          description: Package name of the application under attestation. Set iff
            app_recognition_verdict != UNEVALUATED.
          title: packageName
          type: string
        versionCode:
          description: Version code of the application. Set iff app_recognition_verdict
            != UNEVALUATED.
          format: int64
          title: versionCode
          type: string
      title: AppIntegrity
      type: object
    DecodeIntegrityTokenRequest:
      description: Request to decode the integrity token.
      example:
        integrityToken: integrityToken
      properties:
        integrityToken:
          description: Encoded integrity token.
          title: integrityToken
          type: string
      title: DecodeIntegrityTokenRequest
      type: object
    DecodeIntegrityTokenResponse:
      description: Response containing the decoded integrity payload.
      example:
        tokenPayloadExternal:
          testingDetails:
            isTestingResponse: true
          deviceIntegrity:
            deviceRecognitionVerdict:
            - UNKNOWN
            - UNKNOWN
            recentDeviceActivity:
              deviceActivityLevel: DEVICE_ACTIVITY_LEVEL_UNSPECIFIED
          environmentDetails:
            appAccessRiskVerdict:
              playOrSystemApps: UNKNOWN
              otherApps: UNKNOWN
            playProtectVerdict: PLAY_PROTECT_VERDICT_UNSPECIFIED
          requestDetails:
            timestampMillis: timestampMillis
            requestPackageName: requestPackageName
            requestHash: requestHash
            nonce: nonce
          accountDetails:
            appLicensingVerdict: UNKNOWN
            accountActivity:
              activityLevel: ACTIVITY_LEVEL_UNSPECIFIED
          appIntegrity:
            appRecognitionVerdict: UNKNOWN
            certificateSha256Digest:
            - certificateSha256Digest
            - certificateSha256Digest
            packageName: packageName
            versionCode: versionCode
      properties:
        tokenPayloadExternal:
          $ref: '#/components/schemas/TokenPayloadExternal'
      title: DecodeIntegrityTokenResponse
      type: object
    DeviceIntegrity:
      description: Contains the device attestation information.
      example:
        deviceRecognitionVerdict:
        - UNKNOWN
        - UNKNOWN
        recentDeviceActivity:
          deviceActivityLevel: DEVICE_ACTIVITY_LEVEL_UNSPECIFIED
      properties:
        deviceRecognitionVerdict:
          description: Details about the integrity of the device the app is running
            on.
          items:
            enum:
            - UNKNOWN
            - MEETS_BASIC_INTEGRITY
            - MEETS_DEVICE_INTEGRITY
            - MEETS_STRONG_INTEGRITY
            - MEETS_VIRTUAL_INTEGRITY
            type: string
          title: deviceRecognitionVerdict
          type: array
        recentDeviceActivity:
          $ref: '#/components/schemas/RecentDeviceActivity'
      title: DeviceIntegrity
      type: object
    EnvironmentDetails:
      description: "Contains information about the environment Play Integrity API\
        \ runs in, e.g. Play Protect verdict."
      example:
        appAccessRiskVerdict:
          playOrSystemApps: UNKNOWN
          otherApps: UNKNOWN
        playProtectVerdict: PLAY_PROTECT_VERDICT_UNSPECIFIED
      properties:
        appAccessRiskVerdict:
          $ref: '#/components/schemas/AppAccessRiskVerdict'
        playProtectVerdict:
          description: The evaluation of Play Protect verdict.
          enum:
          - PLAY_PROTECT_VERDICT_UNSPECIFIED
          - UNEVALUATED
          - NO_ISSUES
          - NO_DATA
          - MEDIUM_RISK
          - HIGH_RISK
          - POSSIBLE_RISK
          title: playProtectVerdict
          type: string
      title: EnvironmentDetails
      type: object
    RecentDeviceActivity:
      description: "Recent device activity can help developers identify devices that\
        \ have exhibited hyperactive attestation activity, which could be a sign of\
        \ an attack or token farming."
      example:
        deviceActivityLevel: DEVICE_ACTIVITY_LEVEL_UNSPECIFIED
      properties:
        deviceActivityLevel:
          description: Required. Indicates the activity level of the device.
          enum:
          - DEVICE_ACTIVITY_LEVEL_UNSPECIFIED
          - UNEVALUATED
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3
          - LEVEL_4
          title: deviceActivityLevel
          type: string
      title: RecentDeviceActivity
      type: object
    RequestDetails:
      description: Contains the integrity request information.
      example:
        timestampMillis: timestampMillis
        requestPackageName: requestPackageName
        requestHash: requestHash
        nonce: nonce
      properties:
        nonce:
          description: Nonce that was provided in the request (which is base64 web-safe
            no-wrap).
          title: nonce
          type: string
        requestHash:
          description: Request hash that was provided in the request.
          title: requestHash
          type: string
        requestPackageName:
          description: "Required. Application package name this attestation was requested\
            \ for. Note: This field makes no guarantees or promises on the caller\
            \ integrity. For details on application integrity, check application_integrity."
          title: requestPackageName
          type: string
        timestampMillis:
          description: "Required. Timestamp, in milliseconds, of the integrity application\
            \ request."
          format: int64
          title: timestampMillis
          type: string
      title: RequestDetails
      type: object
    TestingDetails:
      description: Contains additional information generated for testing responses.
      example:
        isTestingResponse: true
      properties:
        isTestingResponse:
          description: Required. Indicates that the information contained in this
            payload is a testing response that is statically overridden for a tester.
          title: isTestingResponse
          type: boolean
      title: TestingDetails
      type: object
    TokenPayloadExternal:
      description: Contains basic app information and integrity signals like device
        attestation and licensing details.
      example:
        testingDetails:
          isTestingResponse: true
        deviceIntegrity:
          deviceRecognitionVerdict:
          - UNKNOWN
          - UNKNOWN
          recentDeviceActivity:
            deviceActivityLevel: DEVICE_ACTIVITY_LEVEL_UNSPECIFIED
        environmentDetails:
          appAccessRiskVerdict:
            playOrSystemApps: UNKNOWN
            otherApps: UNKNOWN
          playProtectVerdict: PLAY_PROTECT_VERDICT_UNSPECIFIED
        requestDetails:
          timestampMillis: timestampMillis
          requestPackageName: requestPackageName
          requestHash: requestHash
          nonce: nonce
        accountDetails:
          appLicensingVerdict: UNKNOWN
          accountActivity:
            activityLevel: ACTIVITY_LEVEL_UNSPECIFIED
        appIntegrity:
          appRecognitionVerdict: UNKNOWN
          certificateSha256Digest:
          - certificateSha256Digest
          - certificateSha256Digest
          packageName: packageName
          versionCode: versionCode
      properties:
        accountDetails:
          $ref: '#/components/schemas/AccountDetails'
        appIntegrity:
          $ref: '#/components/schemas/AppIntegrity'
        deviceIntegrity:
          $ref: '#/components/schemas/DeviceIntegrity'
        environmentDetails:
          $ref: '#/components/schemas/EnvironmentDetails'
        requestDetails:
          $ref: '#/components/schemas/RequestDetails'
        testingDetails:
          $ref: '#/components/schemas/TestingDetails'
      title: TokenPayloadExternal
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/playintegrity: "Private Service: https://www.googleapis.com/auth/playintegrity"
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/playintegrity: "Private Service: https://www.googleapis.com/auth/playintegrity"
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
