openapi: 3.0.0
info:
  contact:
    email: support@kompany.com
    name: KYC API Support
    url: https://kycapi.kompany.com/
  description: API Interface to retrieve company data and products from business registers
  title: KYC API Documentation
  version: "2021.12"
  x-apisguru-categories:
  - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://brex.io/img/logo_brex_small.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 2.6.2
    format: openapi
    url: https://api.brex.io/docs/api-docs.json
    version: "3.0"
  x-providerName: brex.io
servers:
- description: Main endpoint
  url: https://api.kompany.com/
tags:
- description: System overview
  name: v1-system
- description: Company Search methods
  name: v1-company
- description: "Product Search, Order and Retrieve methods"
  name: v1-product
- description: Pep Sanction Check methods
  name: v1-pepsanction
- description: VAT Verification methods
  name: v1-vat-verification
- description: US EIN tax number methods
  name: v1-ein-verification
- description: NIF Verification methods
  name: v1-nif-verification
- description: IBAN Verification methods
  name: v1-iban-verification
- description: TIN Verification methods
  name: v1-tin-verification
paths:
  /api/v1/company/announcement/{id}:
    get:
      description: Request full announcement data identified by announcement id
      operationId: CompanyAnnouncement
      parameters:
      - description: announcement hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CompanyAnnouncement_200_response_inner'
                type: array
          description: List of announcements
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves announcement data
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/deepsearch/isin:
    post:
      description: Lookup stock exchange listings identified by an ISIN (International
        Securities Identification Number) number. Search is forwarded to a provider.
      operationId: CompanyDeepsearchISIN
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompanyDeepsearchISIN_request'
        description: ISIN bulk deepsearch parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CompanyDeepsearchISIN_200_response_inner'
                type: array
          description: Result of a lookup by ISIN number
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of stock exchange listings
      tags:
      - v1-company
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/company/deepsearch/lei/{number}:
    get:
      description: Lookup companies identified by a LEI (Legal Entity Identifier)
        number. Search is forwarded to a provider.
      operationId: CompanyDeepsearchLEI
      parameters:
      - description: lei number
        explode: false
        in: path
        name: number
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Pagination for the ISIN number results (1000 numbers per page)
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDeepsearchLEI_200_response'
          description: Result of a lookup by LEI number
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/deepsearch/name/{country}/{name}:
    get:
      description: Search for companies with a certain name. Search is forwarded to
        the respective business register of the country.
      operationId: CompanyDeepsearchName
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: company name
        explode: false
        in: path
        name: name
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies from the official business register
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/deepsearch/number/{country}/{number}:
    get:
      description: Search for companies with a certain register number. Search is
        forwarded to the respective business register of the country.
      operationId: CompanyDeepsearchNumber
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: company registration number
        explode: false
        in: path
        name: number
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies from the official business register
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/monitoring/changeTypes:
    get:
      description: Get current list of available ChangeTypes to subscribe to
      operationId: CompanyMonitorChangeTypesList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: List of ChangeTypes
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Get available ChangeTypes
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/monitoring/list:
    get:
      description: Query list of all registered monitors for logged in user
      operationId: CompanyMonitorList
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1notification~1list~1%7Bid%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of registered monitors
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/monitoring/list/{id}:
    get:
      description: Query status of registered monitors for a specific company identified
        by a company id
      operationId: CompanyMonitorId
      parameters:
      - description: Company Hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1notification~1list~1%7Bid%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Get monitor status for specific company id
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/monitoring/register/{id}:
    post:
      description: Add a company to your perpetual monitoring list and register a
        callback URL to get monitoring alerts.
      operationId: CompanyMonitorRegister
      parameters:
      - description: Company Hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompanyMonitorRegister_request'
        description: Callback URL where the notifications will be sent to
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1notification~1register~1%7Bid%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Register a Company for monitoring
      tags:
      - v1-company
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/company/monitoring/unregister/{id}:
    post:
      description: Deactivate a previously registered company monitor identified by
        the notifier id
      operationId: CompanyMonitorUnregister
      parameters:
      - description: Registration id of monitoring request record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: Empty response body
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Deactivates an active notification
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/notification/list:
    get:
      description: Query list of registered callback URLs for logged in user
      operationId: CompanyNotificationList
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1notification~1list~1%7Bid%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of registered notifications
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/notification/list/{id}:
    get:
      description: Query list of registered notifications for a specific company identified
        by a company id
      operationId: CompanyNotificationId
      parameters:
      - description: Company Hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CompanyNotificationId_200_response_inner'
                type: array
          description: List of monitor webhooks
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of registered notifications
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/notification/register/{id}:
    post:
      description: Register a new callback URL to get notifications about companies.
      operationId: CompanyNotificationRegister
      parameters:
      - description: Company Hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompanyNotificationRegister_request'
        description: Callback URL where the notifications will be sent to
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyNotificationRegister_200_response'
          description: Successful webhook registration response
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Creates a new notification
      tags:
      - v1-company
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/company/notification/unregister/{id}:
    post:
      description: Deactivate a previously registered company monitor identified by
        the notifier id
      operationId: CompanyNotificationUnregister
      parameters:
      - description: Registration id of monitoring request record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: Empty response body
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Unregister a company from Monitoring
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/search/name/{country}/{name}:
    get:
      description: KYC API company index lookup for companies with a certain name
        in a country.
      operationId: CompanySearchName
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: company name
        explode: false
        in: path
        name: name
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: number of search results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CompanySearchName_200_response_inner'
                type: array
          description: List of companies
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies from the KYC API company index
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/search/number/{country}/{number}:
    get:
      description: KYC API company index lookup for companies with a certain register
        number in a country.
      operationId: CompanySearchNumber
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: company registration number
        explode: false
        in: path
        name: number
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: number of search results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies from the KYC API company index
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/search/{country}:
    post:
      description: KYC API company index lookup by country and mixed parameters. This
        function requires a country code then a mixture of name
      operationId: CompanyAlternativeSearch
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompanyAlternativeSearch_request'
        description: VAT number and the company details
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of companies from the KYC API company index
      tags:
      - v1-company
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/company/{id}/announcements:
    get:
      description: Search announcements filed to the business register from a company
        identified by an id
      operationId: CompanyIdAnnouncements
      parameters:
      - description: company hex ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: limit of announcements in response (default 10)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: to paginate through results (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "If this parameter is set to false, you will only receive ids,\
          \ and no additional data about announcements and no hits to the metric will\
          \ be counted. (and potentially minimizing your costs)"
        explode: true
        in: query
        name: data
        required: false
        schema:
          format: ""
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves company announcements
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/{id}/super/{country}:
    get:
      description: Request company superdata identified by company id
      operationId: CompanyIdSuper
      parameters:
      - description: company superdata by id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Optional data translation (only available in limited jurisdictions)
        explode: true
        in: query
        name: lang
        required: false
        schema:
          enum:
          - ""
          - OG
          - EN
          format: string
          type: string
        style: form
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves structured data extracted from a company document
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/company/{id}/{dataset}:
    get:
      description: Get company details by id. The level of details is defined by the
        dataset parameter
      operationId: CompanyIdDataset
      parameters:
      - description: company master data by id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Try to retrieve additional stock information for this company.
          (Only available on refresh)
        explode: true
        in: query
        name: check_stock_listing
        required: false
        schema:
          type: boolean
        style: form
      - description: company master data by id
        explode: false
        in: path
        name: dataset
        required: true
        schema:
          enum:
          - ""
          - mini
          - master
          - full
          - refresh
          format: string
          type: string
        style: simple
      - description: Optional data translation (only available in limited jurisdictions)
        explode: true
        in: query
        name: lang
        required: false
        schema:
          enum:
          - ""
          - EN
          - ES
          - FR
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1api~1v1~1company~1deepsearch~1lei~1%7Bnumber%7D/get/responses/200/content/application~1json/schema/properties/company'
          description: ""
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves company details
      tags:
      - v1-company
      x-accepts:
      - application/json
  /api/v1/ein-verification/basic-check:
    get:
      description: Performs a basic verification check of a given EIN tax number.
      operationId: EinVerificationBasic
      parameters:
      - description: Nine letter EIN number with or without hyphens
        explode: true
        in: query
        name: ein
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EinVerificationBasic_200_response'
          description: Result of a basic EIN number verification
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Verifies an EIN number
      tags:
      - v1-ein-verification
      x-accepts:
      - application/json
  /api/v1/ein-verification/comprehensive-check:
    get:
      description: Comprehensive verification of a given EIN number. Additionally
        to the basic verification it will lookup company details
      operationId: EinVerificationComprehensive
      parameters:
      - description: Nine letter EIN number with or without hyphens
        explode: true
        in: query
        name: ein
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EinVerificationComprehensive_200_response'
          description: Result of a comprehensive EIN number verification
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Verifies EIN number and retrieves company data
      tags:
      - v1-ein-verification
      x-accepts:
      - application/json
  /api/v1/ein-verification/lookup:
    get:
      description: Lookup EIN number for a company by its company name
      operationId: EinVerificationLookup
      parameters:
      - description: Business name of the company
        explode: true
        in: query
        name: name
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Optional state parameter to improve results. (Two letter code
          for example CA or US-CA for California)
        explode: true
        in: query
        name: state
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional zip code parameter to improve results. (Zip is preferred
          over state)
        explode: true
        in: query
        name: zip
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional parameter to do tight matching. (Only the best match
          will be returned rather then the top 5)
        explode: true
        in: query
        name: tight
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EinVerificationLookup_200_response'
          description: Result of a EIN reverse lookup
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of EIN numbers
      tags:
      - v1-ein-verification
      x-accepts:
      - application/json
  /api/v1/iban-verification/check-iban:
    post:
      description: Basic verification of an IBAN number validating its structure
      operationId: IbanBasic
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IbanBasic_request'
        description: IBAN number
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanBasic_200_response'
          description: Denotes validity of checked IBAN
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Checks validity of an IBAN number
      tags:
      - v1-iban-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/iban-verification/comprehensive-check-iban:
    post:
      description: Comprehensive verification of IBAN number using a service provider
        for verification
      operationId: IbanComprehensive
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IbanBasic_request'
        description: IBAN number
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1api~1v1~1iban-verification~1check-iban/post/responses/200/content/application~1json/schema'
          description: Denotes validity of checked IBAN and provides comprehensive
            information
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Checks validity of an IBAN number
      tags:
      - v1-iban-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/nif-verification/basic-check/{country}:
    post:
      description: Performs a basic verification check of a given NIF tax number against
        NIF.com. Optional parameters may be added to improve calculation of confidence
        score.
      operationId: NifBasic
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NifBasic_request'
        description: Company details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NifBasic_200_response'
          description: Result of a basic NIF verification
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Verifies a NIF number
      tags:
      - v1-nif-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/nif-verification/comprehensive-check/{country}:
    post:
      description: Comprehensive verification of given portuguese NIF number against
        NIF.com. Optional parameters may help to build a better confidence score.
        Additional company data will be provided.
      operationId: NifComprehensive
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NifBasic_request'
        description: Company details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NifComprehensive_200_response'
          description: Result of a comprehensive NIF verification
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Verifies a NIF number and retrieves company data
      tags:
      - v1-nif-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/pepsanction/monitor/list:
    get:
      description: Retrieve a list of all active Pep Sanction Report monitors for
        this account
      operationId: PepMonitorList
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PepMonitorList_200_response_inner'
                type: array
          description: View Pep Sanction Report monitors
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a list of monitor entries
      tags:
      - v1-pepsanction
      x-accepts:
      - application/json
  /api/v1/pepsanction/monitor/unregister/{id}:
    post:
      description: Unregister a previously created Pep Sanction Report Monitor
      operationId: PepMonitorUnregister
      parameters:
      - description: The identifier of the Monitor
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1pepsanction~1monitor~1update~1%7Bid%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Deactive a pep sanction monitor
      tags:
      - v1-pepsanction
      x-accepts:
      - application/json
  /api/v1/pepsanction/monitor/update/{id}:
    post:
      description: Update the webhook URL of an active Pep Sanction Report Monitor
      operationId: PepMonitorUpdate
      parameters:
      - description: The identifier of the Monitor
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PepMonitorUpdate_request'
        description: Pass new Webhook as post parameter
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PepMonitorList_200_response_inner'
          description: View a monitor for a Pep Sanction Report
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Update details of active Pep Sanction monitor
      tags:
      - v1-pepsanction
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/pepsanction/order/{type}/{search}:
    post:
      description: Order a new Pep Sanction Check by providing either a business or
        person name with some additional optional parameters.
      operationId: PepOrder
      parameters:
      - description: Type (Business or Person) of the requested Pep Sanction Check
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - ""
          - B
          - P
          format: string
          type: string
        style: simple
      - description: Search string for the Pep Sanction Check
        explode: false
        in: path
        name: search
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PepOrder_request'
        description: Optional parameters to enhance search
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1availability~1%7Bsku%7D~1%7BsubjectId%7D/get/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Orders a new Pep Sanction Check Report
      tags:
      - v1-pepsanction
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/pepsanction/retrieve/{id}:
    get:
      description: Retrieve a completed Pep Sanction check structured or in pdf depending
        on given accept header
      operationId: PepRetrieve
      parameters:
      - description: The type (pdf or json) in which the check should be returned
        explode: false
        in: header
        name: accept
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          - application/pdf
          format: string
          type: string
        style: simple
      - description: The id of the ordered Pep Sanction Check (id as returned by orderPepSanction
          call)
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PepRetrieve_200_response'
          description: Result of a PEP and sanctions list check
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a json or pdf report
      tags:
      - v1-pepsanction
      x-accepts:
      - application/json
  /api/v1/product/availability/{sku}/{subjectId}:
    get:
      description: Check availability and valid options for a particular product for
        a particular company identfied by its id
      operationId: ProductAvailability
      parameters:
      - description: SKU - 9 character value from a Product object
        explode: false
        in: path
        name: sku
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Subject (e.g. Company) ID - 32 character hex value
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAvailability_200_response'
          description: Product details
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves a document availability result
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/catalog/{country}:
    get:
      description: Returns a catalog of purchasable products available with some metadata
        for a particular country
      operationId: ProductCatalog
      parameters:
      - description: two letter country code in upper case
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCatalog_200_response'
          description: Product with details like URI to purchase it
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a catalog of products
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/notifier/{notifierId}:
    get:
      description: Queries and returns all metadata associated with a notifier identified
        by its notifer id
      operationId: ProductNotifier
      parameters:
      - description: ID of the ProductOrderNotifier as returned from a /notifier POST
          call - 32 character hex value
        explode: false
        in: path
        name: notifierId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1notifier~1%7BorderId%7D~1%7Btype%7D~1%7Buri%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns metadata for a notifier
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/notifier/{orderId}/{type}/{uri}:
    post:
      description: Create a notifier for a particular order. Parameters can be supplied
        in the path
      operationId: ProductNotifierCreate
      parameters:
      - description: ID of the ProductOrder as returned from a /product/buy call -
          32 character hex value
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Type of the notifier - indicates the action the notifier will
          perform. Currently GET and POST are supported which performs an http(s)
          GET/POST to the supplied uri with appended notifierId= and orderId= parameters
          when the order processing is completed. Upon the POST request the order
          object is sent as a JSON body
        explode: false
        in: path
        name: type
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: URI of the notifier for the 'complete' action. Currently only
          a GET method HTTP(s) URL is supported. 1 to 250 characters long. Every slash
          in the URI must be replaced by a ~
        explode: false
        in: path
        name: uri
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductNotifierCreate_200_response'
          description: Details of configured product order notification
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Creates a notifier for an order
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/order/concierge:
    post:
      description: Place an order for a concierge product
      operationId: ProductOrderConcierge
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductOrderConcierge_request'
        description: Parameters for the concierge order
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1order~1%7Bsku%7D~1%7BsubjectId%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Places a concierge order
      tags:
      - v1-product
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/product/order/ubo:
    post:
      description: Place an order for a UBO (ultimate beneficial owner) discovery
        report
      operationId: ProductOrderUbo
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductOrderUbo_request'
        description: Parameters for the UBO order
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1order~1%7Bsku%7D~1%7BsubjectId%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Places a UBO order
      tags:
      - v1-product
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/product/order/{sku}/{option}/{subjectId}:
    post:
      description: Place an order for a particular product identified by its SKU with
        a particular option for a particular company identified by its id
      operationId: ProductOrderWithOption
      parameters:
      - description: SKU - 9 character value from a Product object
        explode: false
        in: path
        name: sku
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Product option (e.g. Accounts year) from a previous Availability
          call
        explode: false
        in: path
        name: option
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Subject (e.g. Company) ID - 32 character hex value
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1order~1%7Bsku%7D~1%7BsubjectId%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Places a product order
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/order/{sku}/{subjectId}:
    post:
      description: Place an order for a particular product identified by its SKU for
        a particular company identified by its id
      operationId: ProductOrder
      parameters:
      - description: SKU - 9 character value from a Product object
        explode: false
        in: path
        name: sku
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Subject (e.g. Company) ID - 32 character hex value
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOrder_200_response'
          description: Product order details
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Places a product order
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/search/{subjectId}:
    get:
      description: Search for possible products for a particular company identified
        by its id
      operationId: ProductSearch
      parameters:
      - description: Subject (e.g. Company) ID - 32 character hex value
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProductSearch_200_response_inner'
                type: array
          description: List of products
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a list of products
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/status/{orderId}:
    get:
      description: Retrieve the current status of an order identified by its order
        id
      operationId: ProductStatus
      parameters:
      - description: ID of the ProductOrder as returned from a /product/buy call -
          32 character hex value
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1order~1%7Bsku%7D~1%7BsubjectId%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns metadata for a order
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/product/update/{action}/{orderId}:
    post:
      description: Update an existing order identified by its order id
      operationId: ProductUpdateAction
      parameters:
      - description: The action you want to perform for the order
        explode: false
        in: path
        name: action
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: ID of the ProductOrder as returned from a /product/buy call -
          32 character hex value
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductUpdateAction_request'
        description: Parameters for the update order endpoint
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1product~1order~1%7Bsku%7D~1%7BsubjectId%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Updates metadata of an order
      tags:
      - v1-product
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/product/{orderId}:
    get:
      description: Retrieves the document or structured data associated with a completed
        order identified with its order id
      operationId: ProductRetrieve
      parameters:
      - description: ID of the ProductOrder as returned from a /product/buy call -
          32 character hex value
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRetrieve_200_response'
          description: Details for retrieval of a delivered product
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Retrieves the result of an order
      tags:
      - v1-product
      x-accepts:
      - application/json
  /api/v1/system/countries:
    get:
      description: Retrieve the list of all currently enabled countries
      operationId: SystemCountries
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SystemCountries_200_response_inner'
                type: array
          description: List of countries
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemCountries_default_response'
          description: Detailed information about the error
      security:
      - user_key: []
      summary: Returns a list of countries
      tags:
      - v1-system
      x-accepts:
      - application/json
  /api/v1/system/health:
    get:
      description: Returns the health information for the official business registers
        based on usage.
      operationId: HealthCheck
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HealthCheck_200_response_inner'
                type: array
          description: List of the commercial registers and their health data
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns the health information for the official business registers
        based on usage.
      tags:
      - v1-system
      x-accepts:
      - application/json
  /api/v1/system/pricelist:
    get:
      description: Retrieve pricing rules for your subscription plan
      operationId: SystemPricelist
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SystemPricelist_200_response_inner'
                type: array
          description: List of pricing rules
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a list of products with prices
      tags:
      - v1-system
      x-accepts:
      - application/json
  /api/v1/tin-verification/basic-check:
    get:
      description: Performs a basic verification check of a given TIN number and name.
      operationId: TinVerificationBasicCheck
      parameters:
      - description: Nine letter TIN number with or without hyphens
        explode: true
        in: query
        name: tin
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Company Name
        explode: true
        in: query
        name: name
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TinVerificationBasicCheck_200_response'
          description: Result of a basic TIN number check with company name
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Verifies a TIN number
      tags:
      - v1-tin-verification
      x-accepts:
      - application/json
  /api/v1/tin-verification/comprehensive-check:
    get:
      description: Performs an EIN name match using provided TIN Number. Additionally
        to the name lookup it will lookup company details
      operationId: TinVerificationComprehensiveCheck
      parameters:
      - description: Nine letter TIN number with or without hyphens
        explode: true
        in: query
        name: tin
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Company Name
        explode: true
        in: query
        name: name
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: "The percentage of minimum similarity threshold for company matching\
          \ (optional, default: 70%)"
        explode: true
        in: query
        name: threshold
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TinVerificationComprehensiveCheck_200_response'
          description: Result of a basic TIN number check with company name and the
            list of matched companies
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: EIN Name Lookup with TIN number and retrieves company data
      tags:
      - v1-tin-verification
      x-accepts:
      - application/json
  /api/v1/tin-verification/name-lookup:
    get:
      description: Performs an EIN name match using provided TIN Number
      operationId: TinVerificationNameLookup
      parameters:
      - description: Nine letter TIN number with or without hyphens
        explode: true
        in: query
        name: tin
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TinVerificationNameLookup_200_response'
          description: Result of a EIN name lookup with TIN number
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: EIN Name Lookup with TIN number
      tags:
      - v1-tin-verification
      x-accepts:
      - application/json
  /api/v1/vat-verification/basic-check/{country}:
    post:
      description: Basic verification of given VAT number against VIES. Optional parameters
        may help to build a better confidence score.
      operationId: VatBasic
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VatBasic_request'
        description: VAT number and the company details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatBasic_200_response'
          description: Denotes validity of checked VAT
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a verification result
      tags:
      - v1-vat-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/vat-verification/comprehensive-check/{country}:
    post:
      description: Extended verification of given VAT number against VIES. Optional
        parameters may help to build a better confidence score.
      operationId: VatComprehensive
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VatBasic_request'
        description: VAT number and the company details
        required: true
      responses:
        "200":
          $ref: '#/paths/~1api~1v1~1vat-verification~1basic-check~1%7Bcountry%7D/post/responses/200'
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a verification result and company data
      tags:
      - v1-vat-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/vat-verification/leveltwo-check/{country}:
    post:
      description: Second Level Verification of VAT number against BMF Austria. Optional
        confirmation parameter can be provided to order a Confirmation Report.
      operationId: VatLevelTwo
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VatLevelTwo_request'
        description: VAT number and confirmation request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatLevelTwo_200_response'
          description: Denotes second level validity result of checked VAT
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a level two verification result
      tags:
      - v1-vat-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /api/v1/vat-verification/lookup/{country}:
    post:
      description: "Reverse VAT Lookup: Search for companies and their VAT numbers\
        \ by company name. Search is forwarded to a provider."
      operationId: VatLookup
      parameters:
      - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
        explode: false
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VatLookup_request'
        description: Company name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatLookup_200_response'
          description: Result of a VAT number reverse Lookup
        default:
          $ref: '#/paths/~1api~1v1~1system~1countries/get/responses/default'
      security:
      - user_key: []
      summary: Returns a list of vat numbers with additional data
      tags:
      - v1-vat-verification
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
components:
  schemas:
    PepOrder_request:
      properties:
        Aliases:
          description: Optional parameter for declaring alias names when doing a person
            search (seperated by commas)
          example: "null"
          type: string
        Country:
          description: Optional name of Country to assist in identifying matches based
            upon location/geography.
          example: "null"
          type: string
        DOB:
          description: Optional parameter for date of birth name when doing a person
            search
          example: "null"
          type: string
        FamilyName:
          description: Optional parameter for last name when doing a person search
          example: "null"
          type: string
        Filters:
          description: Optional parameter for restricting search when doing a person
            search (seperated by commas)
          example: "null"
          type: string
        GivenName:
          description: Optional parameter for first name when doing a person search
          example: "null"
          type: string
        LEI:
          description: Optional Legal Entity Identifier for additional business identifier
            verification.
          example: "null"
          type: string
        Locale:
          description: Optional name of City or Locale to assist in identifying matches
            based upon location/geography.
          example: "null"
          type: string
        Medialists:
          description: Optional parameter for selecting only specific media lists.
            By default all lists are queried
          example: NMEDIA
          type: string
        MiddleName:
          description: Optional parameter for middle name when doing a person search
          example: "null"
          type: string
        Monitoring:
          description: If this Pep Sanction Check should be continuesly monitored.
          example: false
          type: boolean
        Peplists:
          description: Optional parameter for selecting only specific pep lists. By
            default all lists are queried
          example: "GOV,PEPD,SOE"
          type: string
        Region:
          description: Optional name of Region or State to assist in identifying matches
            based upon location/geography.
          example: "null"
          type: string
        SmartMatch:
          description: Optional parameter for enabling SmartMatch to retrieve more
            results
          example: false
          type: boolean
        Watchlists:
          description: Optional parameter for selecting only specific watch lists.
            By default all lists are queried
          example: "SANCTIONS,FINANCE,TERRORISM,CRIME,SMAGOV,OFAC,MEDICAL"
          type: string
        Webhook:
          description: If Monitoring is enabled this parameter is required. This is
            where updates will be sent to
          example: "null"
          type: string
      type: object
    IbanBasic_request:
      properties:
        ibanNumber:
          description: IBAN number to validate
          example: AT483200000012345864
          type: string
      required:
      - ibanNumber
      type: object
    PepMonitorUpdate_request:
      properties:
        Webhook:
          description: If Monitoring is enabled this parameter is required. This is
            where updates will be sent to
          example: "null"
          type: string
      type: object
    ProductNotifierCreate_200_response:
      example:
        notifierType: notifierType
        identity: identity
        lastCallTime: "{}"
        callback: callback
        lastResponseCode: 0
        productOrderIdentity: productOrderIdentity
      properties:
        callback:
          type: string
        identity:
          type: string
        lastCallTime:
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200/content/application~1json/schema/items/properties/time'
        lastResponseCode:
          type: integer
        notifierType:
          type: string
        productOrderIdentity:
          type: string
      required:
      - callback
      - lastCallTime
      - lastResponseCode
      - notifierType
      - productOrderIdentity
    EinVerificationLookup_200_response:
      example:
        searchterm_name: searchterm_name
        tight_search: true
        searchterm_state: searchterm_state
        searchterm_zip: searchterm_zip
        matched_ein_companies:
        - address:
          - address
          - address
          company_score: 0.8008281904610115
          confidence_score_explanation: confidence_score_explanation
          dba_score_explanation: dba_score_explanation
          provided_status: provided_status
          ein: ein
          formattedAddress:
          - formattedAddress
          - formattedAddress
          confidence_score: 6.027456183070403
          name: name
          irs_score_explanation: irs_score_explanation
          dba_score: dba_score
          provided_status_explanation: provided_status_explanation
          company_score_explanation: company_score_explanation
          irs_score: irs_score
        - address:
          - address
          - address
          company_score: 0.8008281904610115
          confidence_score_explanation: confidence_score_explanation
          dba_score_explanation: dba_score_explanation
          provided_status: provided_status
          ein: ein
          formattedAddress:
          - formattedAddress
          - formattedAddress
          confidence_score: 6.027456183070403
          name: name
          irs_score_explanation: irs_score_explanation
          dba_score: dba_score
          provided_status_explanation: provided_status_explanation
          company_score_explanation: company_score_explanation
          irs_score: irs_score
        timestamp: 1.4658129805029452
      properties:
        matched_ein_companies:
          items:
            $ref: '#/components/schemas/EinVerificationLookup_200_response_matched_ein_companies_inner'
          type: array
        searchterm_name:
          type: string
        searchterm_state:
          type: string
        searchterm_zip:
          type: string
        tight_search:
          type: boolean
        timestamp:
          type: number
      required:
      - searchterm_name
      - searchterm_state
      - searchterm_zip
      - tight_search
      - timestamp
    ProductOrderUbo_request:
      properties:
        callbackUrl:
          description: An optional callback URL to which updates about the order will
            be sent (for instance if credits are exceeded)
          example: "null"
          type: string
        credits:
          description: Specify a maximum amount of credits which should be used. To
            disable use -1
          example: -1
          type: number
        includeDocs:
          description: Include purchase of register document to ubo report
          example: false
          type: boolean
        levels:
          description: Define a threshold for different levels of crawling
          example: "25,50"
          type: string
        strategy:
          description: "Choose a matching strategy. Available options (FULL,LEVELS)"
          example: FULL
          type: string
        subjectId:
          description: KYC API Id (32 byte hexid) of the company you want to place
            the order for
          example: "null"
          type: string
      required:
      - subjectId
      type: object
    ProductAvailability_200_response:
      example:
        provider: provider
        countryCode: countryCode
        price: 0.8008282
        options:
        - options
        - options
        description: description
        availability: availability
        category: category
        sku: sku
        type: type
        hasOptions: true
      properties:
        availability:
          type: string
        category:
          type: string
        countryCode:
          type: string
        description:
          type: string
        hasOptions:
          type: boolean
        options:
          items:
            type: string
          type: array
        price:
          format: float
          type: number
        provider:
          type: string
        sku:
          type: string
        type:
          type: string
      required:
      - availability
      - category
      - countryCode
      - description
      - hasOptions
      - options
      - price
      - provider
      - sku
      - type
    EinVerificationComprehensive_200_response:
      example:
        matched_ein_companies: "{}"
        ein: ein
        validationStatus: true
        timestamp: 0.8008281904610115
      properties:
        ein:
          type: string
        matched_ein_companies:
          $ref: '#/paths/~1api~1v1~1ein-verification~1lookup/get/responses/200/content/application~1json/schema/properties/matched_ein_companies'
        timestamp:
          type: number
        validationStatus:
          type: boolean
      required:
      - ein
      - matched_ein_companies
      - timestamp
      - validationStatus
    CompanyMonitorRegister_request:
      properties:
        callbackUrl:
          description: Callback URL
          type: string
        changeType:
          description: ChangeType to monitor
          type: string
      required:
      - callbackUrl
      - changeType
      type: object
    PepRetrieve_200_response:
      example:
        search: search
        type: type
        results:
          ResultsURL: ResultsURL
          Excerpts: Excerpts
          SourceEntity: SourceEntity
          SourceID: 0
          SourceType: SourceType
          SourceName: SourceName
          SearchType: SearchType
          SourceAgency: SourceAgency
        listsChecked: listsChecked
        status: status
        timestamp: "{}"
      properties:
        listsChecked:
          type: string
        results:
          $ref: '#/components/schemas/PepRetrieve_200_response_results'
        search:
          type: string
        status:
          type: string
        timestamp:
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200/content/application~1json/schema/items/properties/time'
        type:
          type: string
      required:
      - listsChecked
      - search
      - status
      - timestamp
      - type
    ProductUpdateAction_request:
      properties:
        credits:
          description: Specify an amount of credits which should be added to the order
          example: 100
          type: number
      type: object
    HealthCheck_200_response_inner:
      example:
        name: name
        status: status
      properties:
        name:
          type: string
        status:
          type: string
    VatLookup_200_response:
      example:
        searchterm_name: searchterm_name
        searchterm_country: searchterm_country
        searchterm_address: searchterm_address
        matches:
        - vat: vat
          company: "{}"
        - vat: vat
          company: "{}"
        timestamp: 0
      properties:
        matches:
          items:
            $ref: '#/components/schemas/VatLookup_200_response_matches_inner'
          type: array
        searchterm_address:
          type: string
        searchterm_country:
          type: string
        searchterm_name:
          type: string
        timestamp:
          format: int32
          type: integer
      required:
      - level
      - validationStatus
    SystemCountries_default_response:
      example:
        code: 0
        fault: fault
        tag: tag
        message: message
      properties:
        code:
          format: int32
          type: integer
        fault:
          type: string
        message:
          type: string
        tag:
          type: string
      required:
      - code
      - message
      - tag
    VatBasic_request:
      properties:
        companyAddress:
          description: company address lines
          type: string
        companyName:
          description: Company name
          type: string
        companyNumber:
          description: official company number
          type: string
        vatNumber:
          description: VAT number to validate
          type: string
      required:
      - vatNumber
      type: object
    CompanyNotificationRegister_request:
      properties:
        callbackUrl:
          description: Callback URL
          type: string
      required:
      - callbackUrl
      type: object
    CompanyAlternativeSearch_request:
      properties:
        address:
          description: Company address (or address partial)
          type: string
        name:
          description: Company name
          type: string
        number:
          description: Company registration number
          type: string
        phone:
          description: Company contact phone number
          type: string
        url:
          description: Company url
          type: string
        vat:
          description: Company VAT number
          type: string
      type: object
    TinVerificationComprehensiveCheck_200_response:
      example:
        tinResult: tinResult
        einResult: einResult
        matchedCompanies: "{}"
      properties:
        einResult:
          type: string
        matchedCompanies:
          $ref: '#/paths/~1api~1v1~1company~1search~1name~1%7Bcountry%7D~1%7Bname%7D/get/responses/200/content/application~1json/schema'
        tinResult:
          type: string
      required:
      - einResult
      - matchedCompanies
      - tinResult
    EinVerificationLookup_200_response_matched_ein_companies_inner:
      example:
        address:
        - address
        - address
        company_score: 0.8008281904610115
        confidence_score_explanation: confidence_score_explanation
        dba_score_explanation: dba_score_explanation
        provided_status: provided_status
        ein: ein
        formattedAddress:
        - formattedAddress
        - formattedAddress
        confidence_score: 6.027456183070403
        name: name
        irs_score_explanation: irs_score_explanation
        dba_score: dba_score
        provided_status_explanation: provided_status_explanation
        company_score_explanation: company_score_explanation
        irs_score: irs_score
      properties:
        address:
          items:
            type: string
          type: array
        company_score:
          type: number
        company_score_explanation:
          type: string
        confidence_score:
          type: number
        confidence_score_explanation:
          type: string
        dba_score:
          type: string
        dba_score_explanation:
          type: string
        ein:
          type: string
        formattedAddress:
          items:
            type: string
          type: array
        irs_score:
          type: string
        irs_score_explanation:
          type: string
        name:
          type: string
        provided_status:
          type: string
        provided_status_explanation:
          type: string
    ProductRetrieve_200_response:
      oneOf:
      - $ref: '#/components/schemas/ProductRetrieve_200_response_oneOf'
      - $ref: '#/components/schemas/ProductRetrieve_200_response_oneOf_1'
    CompanyDeepsearchLEI_200_response:
      example:
        next_page: next_page
        lei: lei
        total_num_isins: 5
        last_page: 1
        isins:
        - isins
        - isins
        company:
          country: country
          address:
          - address
          - address
          managingDirectors:
          - managingDirectors
          - managingDirectors
          extraData: "{}"
          legalForm: legalForm
          requestTime: 0
          secretaries:
          - secretaries
          - secretaries
          dateOfIncorporation: dateOfIncorporation
          formattedAddress:
          - formattedAddress
          - formattedAddress
          registrationNumber: registrationNumber
          sicNaceCodes:
          - sicNaceCodes
          - sicNaceCodes
          name: name
          id: id
          status: status
        validLei: true
        current_page: 6
      properties:
        company:
          $ref: '#/components/schemas/CompanyDeepsearchLEI_200_response_company'
        current_page:
          format: int32
          type: integer
        isins:
          items:
            type: string
          type: array
        last_page:
          format: int32
          type: integer
        lei:
          type: string
        next_page:
          type: string
        total_num_isins:
          format: int32
          type: integer
        validLei:
          type: boolean
    ProductCatalog_200_response:
      example:
        form: form
        method: method
        countryCode: countryCode
        price: 0.8008282
        name: name
        description: description
        sku: sku
        url: url
      properties:
        countryCode:
          type: string
        description:
          type: string
        form:
          type: string
        method:
          type: string
        name:
          type: string
        price:
          format: float
          type: number
        sku:
          type: string
        url:
          type: string
      required:
      - url
    TinVerificationBasicCheck_200_response:
      example:
        matchStatus: matchStatus
        name: name
        tin: tin
        possibleMatch: possibleMatch
        validationStatus: validationStatus
      properties:
        matchStatus:
          type: string
        name:
          type: string
        possibleMatch:
          type: string
        tin:
          type: string
        validationStatus:
          type: string
      required:
      - matchStatus
      - name
      - possibleMatch
      - tin
      - validationStatus
    CompanyDeepsearchISIN_request:
      properties:
        isin:
          description: A list of ISIN numbers seperated by comma (maximum) is 100
          type: string
      type: object
    ProductSearch_200_response_inner:
      example:
        provider: provider
        countryCode: countryCode
        price: 0.8008282
        options:
        - options
        - options
        description: description
        availability: availability
        category: category
        sku: sku
        type: type
        hasOptions: true
      properties:
        availability:
          type: string
        category:
          type: string
        countryCode:
          type: string
        description:
          type: string
        hasOptions:
          type: boolean
        options:
          items:
            type: string
          type: array
        price:
          format: float
          type: number
        provider:
          type: string
        sku:
          type: string
        type:
          type: string
    NifBasic_request:
      properties:
        companyAddress:
          description: company address lines
          type: string
        companyName:
          description: Company name
          type: string
        nifNumber:
          description: NIF number to validate
          type: string
      required:
      - nifNumber
      type: object
    CompanyDeepsearchISIN_200_response_inner:
      example:
        listings:
        - identifier: identifier
          marketSector: marketSector
          symbol: symbol
          securityType: securityType
          shareClassId: shareClassId
          name: name
          stockId: stockId
          securityDescription: securityDescription
          additionalSecurityType: additionalSecurityType
          exchCode: exchCode
        - identifier: identifier
          marketSector: marketSector
          symbol: symbol
          securityType: securityType
          shareClassId: shareClassId
          name: name
          stockId: stockId
          securityDescription: securityDescription
          additionalSecurityType: additionalSecurityType
          exchCode: exchCode
        validIsin: true
        isin: isin
      properties:
        isin:
          type: string
        listings:
          items:
            $ref: '#/components/schemas/CompanyDeepsearchISIN_200_response_inner_listings_inner'
          type: array
        validIsin:
          type: boolean
    EinVerificationBasic_200_response:
      example:
        confidence_score: confidence_score
        confidence_score_explanation: confidence_score_explanation
        dba_score_explanation: dba_score_explanation
        irs_score_explanation: irs_score_explanation
        ein: ein
        dba_score: dba_score
        validationStatus: true
        irs_score: irs_score
        timestamp: 0.8008281904610115
      properties:
        confidence_score:
          type: string
        confidence_score_explanation:
          type: string
        dba_score:
          type: string
        dba_score_explanation:
          type: string
        ein:
          type: string
        irs_score:
          type: string
        irs_score_explanation:
          type: string
        timestamp:
          type: number
        validationStatus:
          type: boolean
      required:
      - confidence_score
      - confidence_score_explanation
      - dba_score
      - dba_score_explanation
      - ein
      - irs_score
      - irs_score_explanation
      - timestamp
      - validationStatus
    VatBasic_200_response:
      example:
        candidate:
        - "{}"
        - "{}"
        confidenceScore: 0.8008281904610115
        company: "{}"
        validationStatus: true
      properties:
        candidate:
          items:
            $ref: '#/paths/~1api~1v1~1company~1deepsearch~1lei~1%7Bnumber%7D/get/responses/200/content/application~1json/schema/properties/company'
          type: array
        company:
          $ref: '#/paths/~1api~1v1~1company~1deepsearch~1lei~1%7Bnumber%7D/get/responses/200/content/application~1json/schema/properties/company'
        confidenceScore:
          type: number
        validationStatus:
          type: boolean
      required:
      - confidenceScore
      - validationStatus
    PepRetrieve_200_response_results:
      example:
        ResultsURL: ResultsURL
        Excerpts: Excerpts
        SourceEntity: SourceEntity
        SourceID: 0
        SourceType: SourceType
        SourceName: SourceName
        SearchType: SearchType
        SourceAgency: SourceAgency
      properties:
        Excerpts:
          type: string
        ResultsURL:
          type: string
        SearchType:
          type: string
        SourceAgency:
          type: string
        SourceEntity:
          type: string
        SourceID:
          format: int64
          type: integer
        SourceName:
          type: string
        SourceType:
          type: string
    PepMonitorList_200_response_inner:
      example:
        identifier: identifier
        webhook: webhook
        created: "{}"
        caseId: caseId
        active: true
        structured: structured
        updated: updated
      properties:
        active:
          type: boolean
        caseId:
          type: string
        created:
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200/content/application~1json/schema/items/properties/time'
        identifier:
          type: string
        structured:
          type: string
        updated:
          type: string
        webhook:
          type: string
    ProductRetrieve_200_response_oneOf:
      example:
        data: data
        productOrderId: productOrderId
        childOrders:
        - childOrders
        - childOrders
        mimeType: mimeType
        uri: uri
      properties:
        childOrders:
          items:
            type: string
          type: array
        data:
          type: string
        mimeType:
          type: string
        productOrderId:
          type: string
        uri:
          type: string
      required:
      - mimeType
      - productOrderId
      - uri
    CompanySearchName_200_response_inner:
      example:
        country: country
        address:
        - address
        - address
        managingDirectors:
        - managingDirectors
        - managingDirectors
        extraData: "{}"
        legalForm: legalForm
        requestTime: 0
        secretaries:
        - secretaries
        - secretaries
        dateOfIncorporation: dateOfIncorporation
        formattedAddress:
        - formattedAddress
        - formattedAddress
        registrationNumber: registrationNumber
        sicNaceCodes:
        - sicNaceCodes
        - sicNaceCodes
        name: name
        id: id
        status: status
      properties:
        address:
          items:
            type: string
          type: array
        country:
          type: string
        dateOfIncorporation:
          type: string
        extraData:
          type: object
        formattedAddress:
          items:
            type: string
          type: array
        id:
          type: string
        legalForm:
          type: string
        managingDirectors:
          items:
            type: string
          type: array
        name:
          type: string
        registrationNumber:
          type: string
        requestTime:
          type: integer
        secretaries:
          items:
            type: string
          type: array
        sicNaceCodes:
          items:
            type: string
          type: array
        status:
          type: string
    VatLevelTwo_request:
      properties:
        confirmation:
          description: If a confirmation document should be ordered
          type: boolean
        vatNumber:
          description: VAT number to validate
          type: string
      required:
      - vatNumber
      type: object
    ProductRetrieve_200_response_oneOf_1:
      properties:
        data:
          type: object
        mimeType:
          type: string
        productOrderId:
          type: string
        uri:
          type: string
      required:
      - data
      - mimeType
      - productOrderId
      - uri
    VatLookup_request:
      properties:
        address:
          description: Company address
          example: "null"
          type: string
        name:
          description: Company name
          example: "null"
          type: string
      required:
      - name
      type: object
    ProductOrderConcierge_request:
      properties:
        companyName:
          description: Name of the company for which a document should be ordered.
            (Not required if subjectId is given)
          example: "null"
          type: string
        contactEmail:
          description: "Contact E-Mail, will be contacted if concierge costs are exceeding\
            \ the threshhold configured on your plan"
          example: "null"
          type: string
        contactPhone:
          description: "Contact phone, will be contacted if concierge costs are exceeding\
            \ the threshhold configured on your plan"
          example: "null"
          type: string
        costConfirmation:
          description: If the concierge cost should require additional confirmation
            if a threshold is reached (configured on your plan)
          example: false
          type: boolean
        country:
          description: Two letter ISO code of the country of the company
          example: "null"
          type: string
        financialData:
          description: If you want financial data of the company to be retrieved
          example: false
          type: boolean
        historicInformation:
          description: If you want historical data of the company to be retrieved
          example: false
          type: boolean
        informationRequirements:
          description: Requirements on what document or information should be provided.
            Please be very precise
          example: "null"
          type: string
        locationInvestigation:
          description: If the companies residency should be investigated
          example: false
          type: boolean
        priority:
          description: "Priority of order: standard/express are allowed"
          example: standard
          type: string
        registerData:
          description: If you want register data of the company to be retrieved
          example: false
          type: boolean
        registerNumber:
          description: Registration number of the company for which a document should
            be ordered. (Not required if subjectId is given)
          example: "null"
          type: string
        subjectId:
          description: Kompanyid of the company you want to place the order for
          example: "null"
          type: string
      type: object
    VatLevelTwo_200_response:
      example:
        address: address
        level: level
        name: name
        confirmation: confirmation
        validationStatus: true
      properties:
        address:
          type: string
        confirmation:
          type: string
        level:
          type: string
        name:
          type: string
        validationStatus:
          type: boolean
      required:
      - level
      - validationStatus
    CompanyNotificationId_200_response_inner:
      example:
        callbackCount: 0
        created: "{}"
        callbackUrl: callbackUrl
        notificationId: notificationId
        monitorStatus: monitorStatus
        subjectId: subjectId
      properties:
        callbackCount:
          format: int32
          type: integer
        callbackUrl:
          type: string
        created:
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200/content/application~1json/schema/items/properties/time'
        monitorStatus:
          type: string
        notificationId:
          type: string
        subjectId:
          type: string
    NifBasic_200_response:
      example:
        confidenceScore: 0.8008281904610115
        companyName: companyName
        nifNumber: 6.027456183070403
        validationStatus: true
      properties:
        companyName:
          type: string
        confidenceScore:
          type: number
        nifNumber:
          type: number
        validationStatus:
          type: boolean
      required:
      - confidenceScore
      - nifNumber
      - validationStatus
    CompanyDeepsearchLEI_200_response_company:
      example:
        country: country
        address:
        - address
        - address
        managingDirectors:
        - managingDirectors
        - managingDirectors
        extraData: "{}"
        legalForm: legalForm
        requestTime: 0
        secretaries:
        - secretaries
        - secretaries
        dateOfIncorporation: dateOfIncorporation
        formattedAddress:
        - formattedAddress
        - formattedAddress
        registrationNumber: registrationNumber
        sicNaceCodes:
        - sicNaceCodes
        - sicNaceCodes
        name: name
        id: id
        status: status
      properties:
        address:
          items:
            type: string
          type: array
        country:
          type: string
        dateOfIncorporation:
          type: string
        extraData:
          type: object
        formattedAddress:
          items:
            type: string
          type: array
        id:
          type: string
        legalForm:
          type: string
        managingDirectors:
          items:
            type: string
          type: array
        name:
          type: string
        registrationNumber:
          type: string
        requestTime:
          type: integer
        secretaries:
          items:
            type: string
          type: array
        sicNaceCodes:
          items:
            type: string
          type: array
        status:
          type: string
      required:
      - country
      - id
      - name
      - registrationNumber
    ProductOrder_200_response:
      example:
        owner: owner
        ordered: "{}"
        subjectValue: subjectValue
        identity: identity
        price: 0.8008282
        sku: sku
        subjectId: subjectId
        option: option
        status: status
      properties:
        identity:
          type: string
        option:
          type: string
        ordered:
          $ref: '#/paths/~1api~1v1~1company~1announcement~1%7Bid%7D/get/responses/200/content/application~1json/schema/items/properties/time'
        owner:
          type: string
        price:
          format: float
          type: number
        sku:
          type: string
        status:
          type: string
        subjectId:
          type: string
        subjectValue:
          type: string
      required:
      - identity
      - option
      - ordered
      - owner
      - price
      - sku
      - status
      - subjectId
      - subjectValue
    TinVerificationNameLookup_200_response:
      example:
        matchStatus: matchStatus
        tin: tin
        possibleMatch: possibleMatch
      properties:
        matchStatus:
          type: string
        possibleMatch:
          type: string
        tin:
          type: string
      required:
      - matchStatus
      - possibleMatch
      - tin
    CompanyDeepsearchISIN_200_response_inner_listings_inner:
      example:
        identifier: identifier
        marketSector: marketSector
        symbol: symbol
        securityType: securityType
        shareClassId: shareClassId
        name: name
        stockId: stockId
        securityDescription: securityDescription
        additionalSecurityType: additionalSecurityType
        exchCode: exchCode
      properties:
        additionalSecurityType:
          type: string
        exchCode:
          type: string
        identifier:
          type: string
        marketSector:
          type: string
        name:
          type: string
        securityDescription:
          type: string
        securityType:
          type: string
        shareClassId:
          type: string
        stockId:
          type: string
        symbol:
          type: string
    VatLookup_200_response_matches_inner:
      example:
        vat: vat
        company: "{}"
      properties:
        company:
          $ref: '#/paths/~1api~1v1~1company~1deepsearch~1lei~1%7Bnumber%7D/get/responses/200/content/application~1json/schema/properties/company'
        vat:
          type: string
    NifComprehensive_200_response:
      example:
        capital: 0.8008281904610115
        website: website
        address: address
        activity: "{}"
        legalType: legalType
        companyName: companyName
        nifNumber: 1.4658129805029452
        geo: geo
        confidenceScore: 6.027456183070403
        phone: phone
        currency: currency
        fax: fax
        validationStatus: true
        email: email
        status: "{}"
      properties:
        activity:
          type: object
        address:
          type: string
        capital:
          type: number
        companyName:
          type: string
        confidenceScore:
          type: number
        currency:
          type: string
        email:
          type: string
        fax:
          type: string
        geo:
          type: string
        legalType:
          type: string
        nifNumber:
          type: number
        phone:
          type: string
        status:
          type: object
        validationStatus:
          type: boolean
        website:
          type: string
      required:
      - confidenceScore
      - nifNumber
      - validationStatus
    SystemCountries_200_response_inner:
      example:
        country_code: country_code
        country_name: country_name
      properties:
        country_code:
          type: string
        country_name:
          type: string
    CompanyNotificationRegister_200_response:
      example:
        notificationId: notificationId
        monitorStatus: monitorStatus
      properties:
        monitorStatus:
          type: string
        notificationId:
          type: string
      required:
      - monitorStatus
      - notificationId
    SystemPricelist_200_response_inner:
      example:
        metric_id: metric_id
        min: min
        max: max
        cost_per_unit: cost_per_unit
        sku: sku
      properties:
        cost_per_unit:
          type: string
        max:
          type: string
        metric_id:
          type: string
        min:
          type: string
        sku:
          type: string
    CompanyAnnouncement_200_response_inner:
      example:
        countryCode: countryCode
        registrationNumber: registrationNumber
        structured: structured
        id: id
        text: text
        time: 2000-01-23
        type: type
      properties:
        countryCode:
          type: string
        id:
          type: string
        registrationNumber:
          type: string
        structured:
          type: string
        text:
          type: string
        time:
          format: date
          type: string
        type:
          type: string
    IbanBasic_200_response:
      example:
        valid: true
      properties:
        valid:
          type: boolean
      required:
      - valid
  securitySchemes:
    user_key:
      in: header
      name: user_key
      type: apiKey

