openapi: 3.0.1
info:
  description: Resource Provider
  title: Azure Location Based Services Resource Provider
  version: 2017-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: LocationBasedServicesManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/locationbasedservices/resource-manager/Microsoft.LocationBasedServices/preview/2017-01-01-preview/locationbasedservices.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: locationbasedservices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.LocationBasedServices/operations:
    get:
      description: List operations available for the Location Based Services Resource
        Provider
      operationId: Accounts_ListOperations
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesOperations'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: 2017-01-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Register the provider
                    operation: Register the provider
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/register/action
                - display:
                    description: Create or update a Location Based Services Account.
                    operation: Create or update a Location Based Services Account.
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/accounts/write
                - display:
                    description: Get a Location Based Services Account.
                    operation: Get a Location Based Services Account.
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/accounts/read
                - display:
                    description: Delete a Location Based Services Account.
                    operation: Delete a Location Based Services Account.
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/accounts/delete
                - display:
                    description: List Location Based Services Account keys
                    operation: List keys
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/accounts/listKeys/action
                - display:
                    description: Generate new Location Based Services Account primary
                      or secondary key
                    operation: Generate new primary or secondary key
                    provider: Microsoft Location Based Services
                    resource: Location Based Services Account
                  name: Microsoft.LocationBasedServices/accounts/regenerateKey/action
      x-ms-pageable:
        itemName: value
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.LocationBasedServices/accounts:
    get:
      description: Get all Location Based Services Accounts in a Subscription
      operationId: Accounts_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccounts'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        ListAccountsBySubscription:
          parameters:
            api-version: 2017-01-01-preview
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount2
                  location: global
                  name: myLBSAccount2
                  sku:
                    name: S0
                    tier: Standard
                  tags:
                    test: "true"
                  type: Microsoft.LocationBasedServices/accounts
                - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                  location: global
                  name: myLBSAccount
                  sku:
                    name: S0
                    tier: Standard
                  tags:
                    test: "true"
                  type: Microsoft.LocationBasedServices/accounts
      x-ms-pageable:
        itemName: value
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      description: Moves Location Based Services Accounts from one ResourceGroup (or
        Subscription) to another
      operationId: Accounts_Move
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains Location Based Services
          Account to move.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBasedServicesAccountsMoveRequest'
        description: The details of the Location Based Services Account move.
        required: true
      responses:
        "200":
          content: {}
          description: The Accounts were successfully moved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        MoveAccounts:
          parameters:
            api-version: 2017-01-01-preview
            moveRequest:
              resourceIds:
              - /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
              - /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount2
              targetResourceGroup: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup2
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200": {}
      x-codegen-request-body-name: moveRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LocationBasedServices/accounts:
    get:
      description: Get all Location Based Services Accounts in a Resource Group
      operationId: Accounts_ListByResourceGroup
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccounts'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        ListAccountsByResourceGroup:
          parameters:
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount2
                  location: global
                  name: myLBSAccount2
                  sku:
                    name: S0
                    tier: Standard
                  tags:
                    test: "true"
                  type: Microsoft.LocationBasedServices/accounts
                - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                  location: global
                  name: myLBSAccount
                  sku:
                    name: S0
                    tier: Standard
                  tags:
                    test: "true"
                  type: Microsoft.LocationBasedServices/accounts
      x-ms-pageable:
        itemName: value
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LocationBasedServices/accounts/{accountName}
  : delete:
      description: Delete a Location Based Services Account
      operationId: Accounts_Delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The Account was deleted successfully.
        "204":
          content: {}
          description: The specified Account was not found. Nothing was deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        DeleteAccount:
          parameters:
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a Location Based Services Account
      operationId: Accounts_Get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccount'
          description: The request was successful.
        "404":
          content: {}
          description: The specified Account does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        GetAccount:
          parameters:
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                location: global
                name: myLBSAccount
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.LocationBasedServices/accounts
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: "Updates a Location Based Services Account. Only a subset of the\
        \ parameters may be updated after creation, such as Sku and Tags."
      operationId: Accounts_Update
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBasedServicesAccountUpdateParameters'
        description: The updated parameters for the Location Based Services Account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccount'
          description: The Account was successfully updated.
        "404":
          content: {}
          description: The specified Account was not found. Nothing was updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        UpdateAccount:
          parameters:
            LocationBasedServicesAccountUpdateParameters:
              tags:
                specialTag: "true"
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                location: global
                name: myLBSAccount
                sku:
                  name: S0
                  tier: Standard
                tags:
                  specialTag: "true"
                type: Microsoft.LocationBasedServices/accounts
            "404": {}
      x-codegen-request-body-name: LocationBasedServicesAccountUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Location Based Services Account. A Location
        Based Services Account holds the keys which allow access to the Location Based
        Services REST APIs.
      operationId: Accounts_CreateOrUpdate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBasedServicesAccountCreateParameters'
        description: The new or updated parameters for the Location Based Services
          Account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccount'
          description: The Account was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccount'
          description: The Account was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        CreateAccount:
          parameters:
            LocationBasedServicesAccountCreateParameters:
              location: global
              sku:
                name: S0
              tags:
                test: "true"
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                location: global
                name: myLBSAccount
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.LocationBasedServices/accounts
            "201":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                location: global
                name: myLBSAccount
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.LocationBasedServices/accounts
      x-codegen-request-body-name: LocationBasedServicesAccountCreateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LocationBasedServices/accounts/{accountName}/listKeys
  : post:
      description: Get the keys to use with the Location Based Services APIs. A key
        is used to authenticate and authorize access to the Location Based Services
        REST APIs. Only one key is needed at a time; two are given to provide seamless
        key regeneration.
      operationId: Accounts_ListKeys
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccountKeys'
          description: The request was successful.
        "404":
          content: {}
          description: The specified Account does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        ListKeys:
          parameters:
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                primaryKey: ZiBllKWCwXXLTO13S2TaoHoK8kPFYaoyYlAcnCcE4PQ
                secondaryKey: cJHpmUGNaGGO8H59p6NKGhfff9VjD278-2bi5wo0_mU
            "404": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LocationBasedServices/accounts/{accountName}/regenerateKey
  : post:
      description: Regenerate either the primary or secondary key for use with the
        Location Based Services APIs. The old key will stop working immediately.
      operationId: Accounts_RegenerateKeys
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the Azure Resource Group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Location Based Services Account.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBasedServicesKeySpecification'
        description: "Which key to regenerate:  primary or secondary."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBasedServicesAccountKeys'
          description: The request was successful.
        "404":
          content: {}
          description: The specified Account does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred.
      x-ms-examples:
        RegenerateKey:
          parameters:
            accountName: myLBSAccount
            api-version: 2017-01-01-preview
            keySpecification:
              keyType: primary
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount
                primaryKey: uj0yqjjz8zG3IOSWvb_smi1q1QenGtupAqrOA1zCO6s
                secondaryKey: cJHpmUGNaGGO8H59p6NKGhfff9VjD278-2bi5wo0_mU
            "404": {}
      x-codegen-request-body-name: keySpecification
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    AccountNameParameter:
      description: The name of the Location Based Services Account.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the Azure Resource Group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Error:
      description: This object is returned when an error occurs in the Location Based
        Service API
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        details:
          description: "If available, a list of additional details about the error."
          items:
            $ref: '#/components/schemas/Error_details_inner'
          readOnly: true
          type: array
        message:
          description: "If available, a human readable description of the error."
          readOnly: true
          type: string
        target:
          description: "If available, the component generating the error."
          readOnly: true
          type: string
      type: object
    LocationBasedServicesAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An Azure resource which represents access to a suite of Location
        Based Services REST APIs.
      example:
        location: location
        sku:
          tier: tier
          name: name
        tags:
          key: tags
      properties:
        location:
          description: The location of the resource.
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Gets a list of key value pairs that describe the resource.
            These tags can be used in viewing and grouping this resource (across resource
            groups). A maximum of 15 tags can be provided for a resource. Each tag
            must have a key no greater than 128 characters and value no greater than
            256 characters.
          readOnly: true
          type: object
    LocationBasedServicesAccountCreateParameters:
      description: Parameters used to create a new Location Based Services Account.
      example:
        location: location
        sku:
          tier: tier
          name: name
        tags:
          key: tags
      properties:
        location:
          description: The location of the resource.
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource.
            These tags can be used in viewing and grouping this resource (across resource
            groups). A maximum of 15 tags can be provided for a resource. Each tag
            must have a key no greater than 128 characters and value no greater than
            256 characters.
          type: object
      required:
      - location
      - sku
      type: object
    LocationBasedServicesAccountKeys:
      description: The set of keys which can be used to access the Location Based
        Services REST APIs. Two keys are provided for key rotation without interruption.
      example:
        secondaryKey: secondaryKey
        id: id
        primaryKey: primaryKey
      properties:
        id:
          description: The full Azure resource identifier of the Location Based Services
            Account.
          readOnly: true
          type: string
        primaryKey:
          description: The primary key for accessing the Location Based Services REST
            APIs.
          readOnly: true
          type: string
        secondaryKey:
          description: The secondary key for accessing the Location Based Services
            REST APIs.
          readOnly: true
          type: string
      type: object
    LocationBasedServicesAccountUpdateParameters:
      description: Parameters used to update an existing Location Based Services Account.
      example:
        sku:
          tier: tier
          name: name
        tags:
          key: tags
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource.
            These tags can be used in viewing and grouping this resource (across resource
            groups). A maximum of 15 tags can be provided for a resource. Each tag
            must have a key no greater than 128 characters and value no greater than
            256 characters.
          type: object
      type: object
    LocationBasedServicesAccounts:
      description: A list of Location Based Services Accounts.
      example:
        value:
        - location: location
          sku:
            tier: tier
            name: name
          tags:
            key: tags
        - location: location
          sku:
            tier: tier
            name: name
          tags:
            key: tags
      properties:
        value:
          description: A Location Based Services Account.
          items:
            $ref: '#/components/schemas/LocationBasedServicesAccount'
          readOnly: true
          type: array
      type: object
    LocationBasedServicesAccountsMoveRequest:
      description: The description of what resources to move between resource groups.
      example:
        targetResourceGroup: targetResourceGroup
        resourceIds:
        - resourceIds
        - resourceIds
      properties:
        resourceIds:
          description: A list of resource names to move from the source resource group.
          items:
            type: string
          type: array
        targetResourceGroup:
          description: The name of the destination resource group.
          type: string
      required:
      - resourceIds
      - targetResourceGroup
      type: object
    LocationBasedServicesKeySpecification:
      description: Whether the operation refers to the primary or secondary key.
      example:
        keyType: primary
      properties:
        keyType:
          description: Whether the operation refers to the primary or secondary key.
          enum:
          - primary
          - secondary
          type: string
          x-ms-enum:
            modelAsString: true
            name: KeyType
      required:
      - keyType
      type: object
    LocationBasedServicesOperations:
      description: The set of operations available for Location Based Services.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
      properties:
        value:
          description: An operation available for Location Based Services.
          items:
            $ref: '#/components/schemas/LocationBasedServicesOperations_value_inner'
          readOnly: true
          type: array
      type: object
    Resource:
      description: An Azure resource
      properties:
        id:
          description: The fully qualified Location Based Services Account resource
            identifier.
          readOnly: true
          type: string
        name:
          description: "The name of the Location Based Services Account, which is\
            \ unique within a Resource Group."
          readOnly: true
          type: string
        type:
          description: Azure resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: The SKU of the Location Based Services Account.
      example:
        tier: tier
        name: name
      properties:
        name:
          description: "The name of the SKU, in standard format (such as S0)."
          type: string
        tier:
          description: Gets the sku tier. This is based on the SKU name.
          readOnly: true
          type: string
      required:
      - name
      type: object
    Error_details_inner:
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: "If available, a human readable description of the error."
          readOnly: true
          type: string
        target:
          description: "If available, the component generating the error."
          readOnly: true
          type: string
      type: object
    LocationBasedServicesOperations_value_inner_display:
      description: The human-readable description of the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          readOnly: true
          type: string
        operation:
          description: "The action that users can perform, based on their permission\
            \ level."
          readOnly: true
          type: string
        provider:
          description: "Service provider: Microsoft Location Based Services."
          readOnly: true
          type: string
        resource:
          description: Resource on which the operation is performed.
          readOnly: true
          type: string
      type: object
    LocationBasedServicesOperations_value_inner:
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/LocationBasedServicesOperations_value_inner_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          type: string
        origin:
          description: The origin of the operation.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

