openapi: 3.0.1
info:
  title: AppServiceEnvironments API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/AppServiceEnvironments.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServiceEnvironments
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments:
    get:
      description: Description for Get all App Service Environments for a subscription.
      operationId: app_service_environments_list
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all App Service Environments for a subscription.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments:
    get:
      description: Description for Get all App Service Environments in a resource
        group.
      operationId: app_service_environments_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all App Service Environments in a resource group.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}:
    delete:
      description: Description for Delete an App Service Environment.
      operationId: app_service_environments_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to force the deletion even if the App
          Service Environment contains resources. The default is <code>false</code>.
        in: query
        name: forceDelete
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Operation is in progress.
        "204":
          content: {}
          description: App Service Environment does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Delete an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    get:
      description: Description for Get the properties of an App Service Environment.
      operationId: app_service_environments_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get the properties of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    patch:
      description: Description for Create or update an App Service Environment.
      operationId: app_service_environments_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceEnvironmentPatchResource'
        description: Configuration details of the App Service Environment.
        required: true
        x-body-name: hostingEnvironmentEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: hostingEnvironmentEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    put:
      description: Description for Create or update an App Service Environment.
      operationId: app_service_environments_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceEnvironmentResource'
        description: Configuration details of the App Service Environment.
        required: true
        x-body-name: hostingEnvironmentEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: hostingEnvironmentEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute
  : get:
      description: "Description for Get the used, available, and total worker capacity\
        \ an App Service Environment."
      operationId: app_service_environments_list_capacities
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampCapacityCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: "Get the used, available, and total worker capacity an App Service\
        \ Environment."
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip
  : get:
      description: Description for Get IP addresses assigned to an App Service Environment.
      operationId: app_service_environments_get_vip_info
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get IP addresses assigned to an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/changeVirtualNetwork
  : post:
      description: Description for Move an App Service Environment to a different
        VNET.
      operationId: app_service_environments_change_vnet
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_request'
        description: Details for the new virtual network.
        required: true
        x-body-name: vnetInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Move an App Service Environment to a different VNET.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: vnetInfo
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics
  : get:
      description: Description for Get diagnostic information for an App Service Environment.
      operationId: app_service_environments_list_diagnostics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get diagnostic information for an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}
  : get:
      description: Description for Get a diagnostics item for an App Service Environment.
      operationId: app_service_environments_get_diagnostics_item
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the diagnostics item.
        in: path
        name: diagnosticsName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get a diagnostics item for an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/inboundNetworkDependenciesEndpoints
  : get:
      description: Description for Get the network endpoints of all inbound dependencies
        of an App Service Environment.
      operationId: app_service_environments_get_inbound_network_dependencies_endpoints
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundEnvironmentEndpointCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get the network endpoints of all inbound dependencies of an App Service
        Environment.
      tags:
      - AppServiceEnvironments
      x-ms-examples:
        Get Inbound Network Dependencies Endpoints:
          parameters:
            api-version: 2019-08-01
            name: SampleAse
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - description: App Service management
                  endpoints:
                  - 70.37.57.58/32
                  - 157.55.208.185/32
                  - 23.102.188.65/32
                  - 191.236.154.88/32
                  - 52.174.22.21/32
                  - 13.94.149.179/32
                  - 13.94.143.126/32
                  - 13.94.141.115/32
                  - 52.178.195.197/32
                  - 52.178.190.65/32
                  - 52.178.184.149/32
                  - 52.178.177.147/32
                  - 13.75.127.117/32
                  - 40.83.125.161/32
                  - 40.83.121.56/32
                  - 40.83.120.64/32
                  - 52.187.56.50/32
                  - 52.187.63.37/32
                  - 52.187.59.251/32
                  - 52.187.63.19/32
                  - 52.165.158.140/32
                  - 52.165.152.214/32
                  - 52.165.154.193/32
                  - 52.165.153.122/32
                  - 104.44.129.255/32
                  - 104.44.134.255/32
                  - 104.44.129.243/32
                  - 104.44.129.141/32
                  - 65.52.193.203/32
                  - 70.37.89.222/32
                  - 13.64.115.203/32
                  - 52.225.177.153/32
                  - 65.52.172.237/32
                  ports:
                  - "454"
                  - "455"
                - description: App Service Environment VIP
                  endpoints:
                  - 52.247.209.18/32
                  ports:
                  - "454"
                  - "455"
                  - "16001"
                - description: App Service Environment subnet
                  endpoints:
                  - 192.168.250.0/24
                  ports:
                  - All
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools
  : get:
      description: Description for Get all multi-role pools.
      operationId: app_service_environments_list_multi_role_pools
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all multi-role pools.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default
  : get:
      description: Description for Get properties of a multi-role pool.
      operationId: app_service_environments_get_multi_role_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get properties of a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    patch:
      description: Description for Create or update a multi-role pool.
      operationId: app_service_environments_update_multi_role_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the multi-role pool.
        required: true
        x-body-name: multiRolePoolEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: multiRolePoolEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    put:
      description: Description for Create or update a multi-role pool.
      operationId: app_service_environments_create_or_update_multi_role_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the multi-role pool.
        required: true
        x-body-name: multiRolePoolEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: multiRolePoolEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions
  : get:
      description: Description for Get metric definitions for a specific instance
        of a multi-role pool of an App Service Environment.
      operationId: app_service_environments_list_multi_role_pool_instance_metric_definitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the instance in the multi-role pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetricDefinitionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get metric definitions for a specific instance of a multi-role pool
        of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions
  : get:
      description: Description for Get metric definitions for a multi-role pool of
        an App Service Environment.
      operationId: app_service_environments_list_multi_role_metric_definitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetricDefinitionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get metric definitions for a multi-role pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus
  : get:
      description: Description for Get available SKUs for scaling a multi-role pool.
      operationId: app_service_environments_list_multi_role_pool_skus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInfoCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get available SKUs for scaling a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages
  : get:
      description: Description for Get usage metrics for a multi-role pool of an App
        Service Environment.
      operationId: app_service_environments_list_multi_role_usages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get usage metrics for a multi-role pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations
  : get:
      description: Description for List all currently running operations on the App
        Service Environment.
      operationId: app_service_environments_list_operations
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServiceEnvironments_ListOperations_200_response_inner'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: List all currently running operations on the App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/outboundNetworkDependenciesEndpoints
  : get:
      description: Description for Get the network endpoints of all outbound dependencies
        of an App Service Environment.
      operationId: app_service_environments_get_outbound_network_dependencies_endpoints
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundEnvironmentEndpointCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get the network endpoints of all outbound dependencies of an App Service
        Environment.
      tags:
      - AppServiceEnvironments
      x-ms-examples:
        Get Outbound Network Dependencies Endpoints:
          parameters:
            api-version: 2019-08-01
            name: SampleAse
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - category: Azure Storage
                  endpoints:
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 52.183.104.36
                      isAccessible: true
                      latency: 42.0469
                      port: 80
                    - ipAddress: 52.183.104.36
                      isAccessible: true
                      latency: 41.7038
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 52.183.104.25
                      isAccessible: true
                      latency: 37.326
                      port: 80
                    - ipAddress: 52.183.104.25
                      isAccessible: true
                      latency: 37.513600000000004
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 52.183.104.26
                      isAccessible: true
                      latency: 32.789
                      port: 80
                    - ipAddress: 52.183.104.26
                      isAccessible: true
                      latency: 1.8702
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 52.183.104.28
                      isAccessible: true
                      latency: 36.7378
                      port: 80
                    - ipAddress: 52.183.104.28
                      isAccessible: true
                      latency: 36.7108
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 4.0261000000000005
                      port: 80
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 3.8264
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 40.8523
                      port: 80
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 40.7501
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 1.2071
                      port: 80
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 38.2975
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 59.383700000000005
                      port: 80
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 60.0775
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 3.5512
                      port: 80
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 2.6777
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 3.5204
                      port: 80
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 2.8193
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.2720000000000002
                      port: 80
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.0147
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 3.2387
                      port: 80
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 3.2804
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.66.176.16
                      isAccessible: true
                      latency: 43.025200000000005
                      port: 80
                    - ipAddress: 13.66.176.16
                      isAccessible: true
                      latency: 43.1683
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.66.176.25
                      isAccessible: true
                      latency: 41.8598
                      port: 80
                    - ipAddress: 13.66.176.25
                      isAccessible: true
                      latency: 41.9805
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.66.176.26
                      isAccessible: true
                      latency: 30.542900000000003
                      port: 80
                    - ipAddress: 13.66.176.26
                      isAccessible: true
                      latency: 0.9832000000000001
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.66.176.28
                      isAccessible: true
                      latency: 35.9562
                      port: 80
                    - ipAddress: 13.66.176.28
                      isAccessible: true
                      latency: 36.0643
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 3.2829
                      port: 80
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 2.3393
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 3.4103000000000003
                      port: 80
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 4.1032
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.1141
                      port: 80
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.0247
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 2.834
                      port: 80
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 2.8198000000000003
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 1.3855000000000002
                      port: 80
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 1.0594000000000001
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 2.4717000000000002
                      port: 80
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 2.4827
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.395
                      port: 80
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 3.1701
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 1.4308
                      port: 80
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 22.5866
                      port: 443
                  - domainName: blob.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 2.5372
                      port: 80
                    - ipAddress: 13.77.184.64
                      isAccessible: true
                      latency: 2.4626
                      port: 443
                  - domainName: queue.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 3.7873
                      port: 80
                    - ipAddress: 13.77.184.73
                      isAccessible: true
                      latency: 4.1911000000000005
                      port: 443
                  - domainName: table.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 2.9162000000000003
                      port: 80
                    - ipAddress: 13.77.184.74
                      isAccessible: true
                      latency: 2.7896
                      port: 443
                  - domainName: file.core.windows.net
                    endpointDetails:
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 26.723100000000002
                      port: 80
                    - ipAddress: 13.77.184.76
                      isAccessible: true
                      latency: 26.735200000000003
                      port: 443
                - category: Azure SQL Database
                  endpoints:
                  - domainName: database.windows.net
                    endpointDetails:
                    - ipAddress: 13.66.226.202
                      isAccessible: true
                      latency: 1.5964
                      port: 1433
                - category: Azure Management
                  endpoints:
                  - domainName: management.core.windows.net
                    endpointDetails:
                    - ipAddress: 23.102.135.246
                      isAccessible: true
                      latency: 46.5764
                      port: 443
                  - domainName: admin.core.windows.net
                    endpointDetails:
                    - ipAddress: 23.102.135.247
                      isAccessible: true
                      latency: 47.408
                      port: 443
                  - domainName: management.azure.com
                    endpointDetails:
                    - ipAddress: 52.151.25.45
                      isAccessible: true
                      latency: 3.9529
                      port: 443
                - category: Azure Active Directory
                  endpoints:
                  - domainName: graph.windows.net
                    endpointDetails:
                    - ipAddress: 20.190.133.83
                      isAccessible: true
                      latency: 3.2264
                      port: 443
                    - ipAddress: 20.190.133.81
                      isAccessible: true
                      latency: 3.2264
                      port: 443
                    - ipAddress: 20.190.133.67
                      isAccessible: true
                      latency: 3.2264
                      port: 443
                    - ipAddress: 40.126.5.34
                      isAccessible: true
                      latency: 3.2264
                      port: 443
                - category: Regional Service
                  endpoints:
                  - domainName: gr-prod-mwh.cloudapp.net
                    endpointDetails:
                    - ipAddress: 13.66.225.188
                      isAccessible: true
                      latency: 3.3826
                      port: 443
                  - domainName: az-prod.metrics.nsatc.net
                    endpointDetails:
                    - ipAddress: 40.77.24.27
                      isAccessible: true
                      latency: 38.5647
                      port: 443
                - category: SSL Certificate Verification
                  endpoints:
                  - domainName: ocsp.msocsp.com
                    endpointDetails:
                    - ipAddress: 104.18.25.243
                      isAccessible: true
                      latency: 6.0651
                      port: 80
                    - ipAddress: 104.18.25.243
                      isAccessible: true
                      latency: 12.888
                      port: 443
                    - ipAddress: 104.18.24.243
                      isAccessible: true
                      latency: 6.0651
                      port: 80
                    - ipAddress: 104.18.24.243
                      isAccessible: true
                      latency: 12.888
                      port: 443
                  - domainName: mscrl.microsoft.com
                    endpointDetails:
                    - ipAddress: 152.199.4.33
                      isAccessible: true
                      latency: 6.742900000000001
                      port: 80
                    - ipAddress: 152.199.4.33
                      isAccessible: true
                      latency: 7.436100000000001
                      port: 443
                  - domainName: crl.microsoft.com
                    endpointDetails:
                    - ipAddress: 23.215.102.10
                      isAccessible: true
                      latency: 25.136200000000002
                      port: 80
                    - ipAddress: 23.215.102.10
                      isAccessible: true
                      latency: 25.0085
                      port: 443
                    - ipAddress: 23.215.102.42
                      isAccessible: true
                      latency: 25.136200000000002
                      port: 80
                    - ipAddress: 23.215.102.42
                      isAccessible: true
                      latency: 25.0085
                      port: 443
                  - domainName: www.microsoft.com
                    endpointDetails:
                    - ipAddress: 23.49.13.56
                      isAccessible: true
                      latency: 7.9229
                      port: 80
                    - ipAddress: 23.49.13.56
                      isAccessible: true
                      latency: 8.4871
                      port: 443
                  - domainName: crl3.digicert.com
                    endpointDetails:
                    - ipAddress: 72.21.91.29
                      isAccessible: true
                      latency: 5.4074
                      port: 80
                    - ipAddress: 72.21.91.29
                      isAccessible: true
                      latency: 5.577
                      port: 443
                  - domainName: ocsp.digicert.com
                    endpointDetails:
                    - ipAddress: 72.21.91.29
                      isAccessible: true
                      latency: 6.8989
                      port: 80
                    - ipAddress: 72.21.91.29
                      isAccessible: true
                      latency: 5.667400000000001
                      port: 443
                  - domainName: cacerts.digicert.com
                    endpointDetails:
                    - ipAddress: 104.18.11.39
                      isAccessible: true
                      latency: 10.772400000000001
                      port: 80
                    - ipAddress: 104.18.11.39
                      isAccessible: true
                      latency: 10.7705
                      port: 443
                    - ipAddress: 104.18.10.39
                      isAccessible: true
                      latency: 10.772400000000001
                      port: 80
                    - ipAddress: 104.18.10.39
                      isAccessible: true
                      latency: 10.7705
                      port: 443
                  - domainName: www.thawte.com
                    endpointDetails:
                    - ipAddress: 54.69.98.161
                      isAccessible: true
                      latency: 47.532900000000005
                      port: 80
                    - ipAddress: 54.69.98.161
                      isAccessible: true
                      latency: 48.5362
                      port: 443
                    - ipAddress: 35.167.62.148
                      isAccessible: true
                      latency: 47.532900000000005
                      port: 80
                    - ipAddress: 35.167.62.148
                      isAccessible: true
                      latency: 48.5362
                      port: 443
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot:
    post:
      description: Description for Reboot all machines in an App Service Environment.
      operationId: app_service_environments_reboot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Asynchronous operation in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Reboot all machines in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume:
    post:
      description: Description for Resume an App Service Environment.
      operationId: app_service_environments_resume
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Resume an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms
  : get:
      description: Description for Get all App Service plans in an App Service Environment.
      operationId: app_service_environments_list_app_service_plans
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListAppServicePlans_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all App Service plans in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites:
    get:
      description: Description for Get all apps in an App Service Environment.
      operationId: app_service_environments_list_web_apps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Comma separated list of app properties to include.
        in: query
        name: propertiesToInclude
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all apps in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend:
    post:
      description: Description for Suspend an App Service Environment.
      operationId: app_service_environments_suspend
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ChangeVnet_200_response'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Suspend an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages:
    get:
      description: Description for Get global usage metrics of an App Service Environment.
      operationId: app_service_environments_list_usages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListUsages_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get global usage metrics of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools
  : get:
      description: Description for Get all worker pools of an App Service Environment.
      operationId: app_service_environments_list_worker_pools
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get all worker pools of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}
  : get:
      description: Description for Get properties of a worker pool.
      operationId: app_service_environments_get_worker_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get properties of a worker pool.
      tags:
      - AppServiceEnvironments
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    patch:
      description: Description for Create or update a worker pool.
      operationId: app_service_environments_update_worker_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the worker pool.
        required: true
        x-body-name: workerPoolEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update a worker pool.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: workerPoolEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
    put:
      description: Description for Create or update a worker pool.
      operationId: app_service_environments_create_or_update_worker_pool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the worker pool.
        required: true
        x-body-name: workerPoolEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Create or update a worker pool.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: workerPoolEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions
  : get:
      description: Description for Get metric definitions for a specific instance
        of a worker pool of an App Service Environment.
      operationId: app_service_environments_list_worker_pool_instance_metric_definitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Name of the instance in the worker pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetricDefinitionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get metric definitions for a specific instance of a worker pool of
        an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions
  : get:
      description: Description for Get metric definitions for a worker pool of an
        App Service Environment.
      operationId: app_service_environments_list_web_worker_metric_definitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetricDefinitionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get metric definitions for a worker pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus
  : get:
      description: Description for Get available SKUs for scaling a worker pool.
      operationId: app_service_environments_list_worker_pool_skus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInfoCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get available SKUs for scaling a worker pool.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages
  : get:
      description: Description for Get usage metrics for a worker pool of an App Service
        Environment.
      operationId: app_service_environments_list_web_worker_usages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_List_default_response'
          description: App Service error response.
      summary: Get usage metrics for a worker pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_environments_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AddressResponse:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Describes main public IP address and any extra virtual IPs.
      example:
        properties: "{}"
      properties:
        properties:
          description: AddressResponse resource specific properties
          properties:
            internalIpAddress:
              description: Virtual Network internal IP address of the App Service
                Environment if it is in internal load-balancing mode.
              title: internalIpAddress
              type: string
            outboundIpAddresses:
              description: IP addresses appearing on outbound connections.
              items:
                type: string
              title: outboundIpAddresses
              type: array
            serviceIpAddress:
              description: Main public virtual IP.
              title: serviceIpAddress
              type: string
            vipMappings:
              description: Additional virtual IPs.
              items:
                description: Virtual IP mapping.
                properties:
                  inUse:
                    description: Is virtual IP mapping in use.
                    type: boolean
                  internalHttpPort:
                    description: Internal HTTP port.
                    format: int32
                    type: integer
                  internalHttpsPort:
                    description: Internal HTTPS port.
                    format: int32
                    type: integer
                  serviceName:
                    description: name of the service that virtual IP is assigned to
                    type: string
                  virtualIP:
                    description: Virtual IP address.
                    type: string
                type: object
              title: vipMappings
              type: array
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AddressResponse
    AppServiceEnvironmentCollection:
[...]
