openapi: 3.0.1
info:
  contact:
    email: data@parliament.uk
    name: Data & Search team at UK Parliament
    url: https://www.parliament.uk/
  description: "Performs search on parliament.uk domain. Implements [OpenSearch specification](https://github.com/dewitt/opensearch).\
    \ Throttled at 10 requests per second per IP address."
  license:
    name: Open Parliament Licence
    url: https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence
  title: UK Parliament Search Service
  version: Live
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://api.parliament.uk/search/openapi.json
    version: "3.0"
  x-providerName: parliament.uk
  x-serviceName: search
externalDocs:
  description: OpenSearch github repository
  url: https://github.com/dewitt/opensearch
servers:
- url: https://api.parliament.uk/search
paths:
  /description:
    get:
      externalDocs:
        description: OpenSearch github repository
        url: https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#opensearch-description-document
      operationId: description_get
      responses:
        "200":
          content:
            application/opensearchdescription+xml: {}
          description: Open Search Description
      summary: OpenSearch description document
      tags:
      - Description
      x-openapi-router-controller: openapi_server.controllers.description_controller
  /query:
    get:
      externalDocs:
        description: OpenSearch github repository
        url: https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#opensearch-response-elements
      operationId: query_get
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: subdomains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: inUrlPrefixes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/atom+xml: {}
            application/json: {}
            application/rss+xml: {}
            text/html: {}
          description: Search results
      summary: Search results
      tags:
      - Query
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /query.{extension}:
    get:
      externalDocs:
        description: OpenSearch github repository
        url: https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#opensearch-response-elements
      operationId: query_extension_get
      parameters:
      - description: extension
        explode: false
        in: path
        name: extension
        required: true
        schema:
          enum:
          - atom
          - rss
          - html
          - json
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: subdomains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: inUrlPrefixes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/atom+xml: {}
            application/json: {}
            application/rss+xml: {}
            text/html: {}
          description: Search results
      summary: Search results
      tags:
      - Query
      x-openapi-router-controller: openapi_server.controllers.query_controller
components:
  parameters:
    count:
      explode: true
      in: query
      name: count
      required: false
      schema:
        type: number
      style: form
    inUrlPrefixes:
      explode: true
      in: query
      name: inUrlPrefixes
      required: false
      schema:
        type: string
      style: form
    q:
      explode: true
      in: query
      name: q
      required: true
      schema:
        type: string
      style: form
    start:
      explode: true
      in: query
      name: start
      required: false
      schema:
        type: number
      style: form
    subdomains:
      explode: true
      in: query
      name: subdomains
      required: false
      schema:
        type: string
      style: form
  responses:
    searchResponse:
      content:
        application/atom+xml: {}
        application/json: {}
        application/rss+xml: {}
        text/html: {}
      description: Search results
  schemas: {}
