openapi: 3.0.1
info:
  contact: {}
  description: Land Registry Deed API
  title: Deed API
  version: 1.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/HMLandRegistry/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/LandRegistry/dm-deed-api/master/application/deed/schemas/deed-api.json
    version: "2.0"
  x-providerName: landregistry.gov.uk
  x-serviceName: deed
servers:
- url: https://api.landregistry.gov.uk/v1
paths:
  /deed/:
    post:
      description: "The post Deed endpoint creates a new deed based on the JSON provided.\n\
        \ The reponse will return a URL that can retrieve the created deed. \n > REQUIRED:\
        \ Land Registry system requests Conveyancer to confirm that the Borrowers\
        \ identity has been established in accordance with Section 111 of the Network\
        \ Access Agreement."
      operationId: addDeed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deed_Application'
        required: true
      responses:
        "201":
          content:
            text/plain:
              schema:
                type: string
          description: |
            URL to the GET endpoint for the deed is returned on successful creation.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Bad Request due to invalid schema. Response will include 1 or more schema errors
      summary: Deed
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - text/plain
  /deed/{deed_reference}:
    get:
      description: |
        The Deed endpoint returns details of a specific deed based on the unique deed reference.
        The response includes the Title Number, Property information, Borrower(s) information and deed information.
      parameters:
      - description: Unique reference of the deed.
        in: path
        name: deed_reference
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operative_Deed'
          description: A specific deed is returned
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deed not found
      summary: Deed
      tags:
      - Deed
      x-accepts:
      - application/json
components:
  schemas:
    AdditionalProvisions:
      items:
        $ref: '#/components/schemas/AdditionalProvisions_inner'
      minItems: 0
      type: array
    Borrower:
      example:
        forename: forename
        surname: surname
        id: id
        middle_name: middle_name
        token: token
      properties:
        forename:
          pattern: ^(?!\s*$).+
          type: string
        id:
          pattern: "^[0-9]+$"
          type: string
        middle_name:
          pattern: ^(?!\s*$).+
          type: string
        surname:
          pattern: ^(?!\s*$).+
          type: string
        token:
          pattern: "^([a-zA-Z0-9]{8})$"
          type: string
      required:
      - forename
      - id
      - surname
      - token
      type: object
    Borrowers:
      items:
        $ref: '#/components/schemas/PrivateIndividualName'
      minItems: 1
      type: array
    ChargeClause:
      example:
        description: description
        cre_code: cre_code
      properties:
        cre_code:
          type: string
        description:
          type: string
      type: object
    Deed_Application:
      properties:
        borrowers:
          items:
            $ref: '#/components/schemas/PrivateIndividualName'
          minItems: 1
          type: array
        identity_checked:
          pattern: "^[Y]$"
          type: string
        md_ref:
          pattern: "^e-MD([0-9]{5}|([0-9]{3,4}[A-Z]{1}))$"
          type: string
        property_address:
          description: "The address of property that the deed relates. This should\
            \ be supplied in a comma separated format e.g. 30 wakefield rd, plymouth,\
            \ PL6 3WA"
          pattern: ^(?!\s*$).+
          type: string
        title_number:
          pattern: "^([A-Z]{0,3}[1-9][0-9]{0,5}|[0-9]{1,6}[ZT])$"
          type: string
      required:
      - borrowers
      - identity_checked
      - md_ref
      - property_address
      - title_number
      type: object
    Error:
      example:
        code: 0
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    Lender:
      example:
        address: address
        name: name
        description: description
      properties:
        address:
          type: string
        description:
          type: string
        name:
          type: string
      type: object
    OpBorrowers:
      items:
        $ref: '#/components/schemas/Borrower'
      minItems: 1
      type: array
    Operative_Deed:
      example:
        deed:
          title_number: title_number
          lender:
            address: address
            name: name
            description: description
          property_address: property_address
          deed_status: deed_status
          additional_provisions:
          - description: description
            additional_provision_code: additional_provision_code
          - description: description
            additional_provision_code: additional_provision_code
          md_ref: md_ref
          borrowers:
          - forename: forename
            surname: surname
            id: id
            middle_name: middle_name
            token: token
          - forename: forename
            surname: surname
            id: id
            middle_name: middle_name
            token: token
          effective_clause: effective_clause
          charge_clause:
            description: description
            cre_code: cre_code
      properties:
        deed:
          $ref: '#/components/schemas/Operative_Deed_deed'
      type: object
    PrivateIndividualName:
      additionalProperties: false
      properties:
        address:
          pattern: "[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9](?:A-Z-245|[^CIKMOV]){2}"
          type: string
        dob:
          pattern: "^(0[1-9]|[12][0-9]|3[01])[\\/\\-](0[1-9]|1[012])[/\\-]\\d{4}$"
          type: string
        forename:
          pattern: ^(?!\s*$).+
          type: string
        gender:
          enum:
          - Male
          - Female
          - Not Specified
          type: string
        middle_name:
          pattern: ^(?!\s*$).+
          type: string
        phone_number:
          pattern: "^(07[\\d]{9})$"
          type: string
        surname:
          pattern: ^(?!\s*$).+
          type: string
      required:
      - address
      - dob
      - forename
      - phone_number
      - surname
      type: object
    AdditionalProvisions_inner:
      example:
        description: description
        additional_provision_code: additional_provision_code
      properties:
        additional_provision_code:
          type: string
        description:
          type: string
      type: object
    Operative_Deed_deed:
      description: "Unique deed, consisting of property, borrower and charge information\
        \ as well as clauses for the deed."
      example:
        title_number: title_number
        lender:
          address: address
          name: name
          description: description
        property_address: property_address
        deed_status: deed_status
        additional_provisions:
        - description: description
          additional_provision_code: additional_provision_code
        - description: description
          additional_provision_code: additional_provision_code
        md_ref: md_ref
        borrowers:
        - forename: forename
          surname: surname
          id: id
          middle_name: middle_name
          token: token
        - forename: forename
          surname: surname
          id: id
          middle_name: middle_name
          token: token
        effective_clause: effective_clause
        charge_clause:
          description: description
          cre_code: cre_code
      properties:
        additional_provisions:
          items:
            $ref: '#/components/schemas/AdditionalProvisions_inner'
          minItems: 0
          type: array
        borrowers:
          items:
            $ref: '#/components/schemas/Borrower'
          minItems: 1
          type: array
        charge_clause:
          $ref: '#/components/schemas/ChargeClause'
        deed_status:
          description: Current state of the deed
          type: string
        effective_clause:
          description: Text to display the make effective clause
          type: string
        lender:
          $ref: '#/components/schemas/Lender'
        md_ref:
          description: Land Registry assigned number for a Mortgage Deed (MD). If
            you wish to use an existing MD reference please prefix it with e- to comply
            with our system (eg e-MD12345)
          type: string
        property_address:
          description: "The address of property that the deed relates. This should\
            \ be supplied in a comma separated format e.g. 30 wakefield rd, plymouth,\
            \ PL6 3WA"
          type: string
        title_number:
          description: Unique Land Registry identifier for the registered estate.
          type: string
      type: object
x-original-swagger-version: "2.0"

