openapi: 3.0.1
info:
  description: MAC address pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/MacAddressPool.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-MacAddressPool
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools
  : get:
      description: Returns a list of all MAC address pools at a location.
      operationId: mac_address_pools_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacAddressPoolList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - MacAddressPools
      x-ms-examples:
        Returns all MAC address pools:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/macAddressPools/8197fd09-8a69-417e-a55c-10c2c61f5ee7
                  location: local
                  name: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
                  properties:
                    endMacAddress: 00-1D-D8-F4-1F-FF
                    numberOfAllocatedMacAddresses: 5
                    numberOfAvailableMacAddresses: 3998715
                    startMacAddress: 00-1D-D8-B7-1C-00
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/macAddressPools
            "404": {}
      x-ms-odata: '#/definitions/MacAddressPool'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.mac_address_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools/{macAddressPool}
  : get:
      description: Returns the requested MAC address pool.
      operationId: mac_address_pools_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the MAC address pool.
        in: path
        name: macAddressPool
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacAddressPool'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - MacAddressPools
      x-ms-examples:
        Returns the requested MAC address pool.:
          parameters:
            api-version: 2016-05-01
            location: local
            macAddressPool: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/macAddressPools/8197fd09-8a69-417e-a55c-10c2c61f5ee7
                location: local
                name: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
                properties:
                  endMacAddress: 00-1D-D8-F4-1F-FF
                  numberOfAllocatedMacAddresses: 5
                  numberOfAvailableMacAddresses: 3998715
                  startMacAddress: 00-1D-D8-B7-1C-00
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/macAddressPools
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.mac_address_pools_controller
components:
  parameters:
    MACAddressPoolParameter:
      description: Name of the MAC address pool.
      in: path
      name: macAddressPool
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    MacAddressPool:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: "This resource represents a MAC address pool.  The default MAC\
        \ address pools are used if you set the MAC address type for a virtual machine\
        \ to 'Static'.  If the virtual machine setting is 'Dynamic', the hypervisor\
        \ assigns the MAC address."
      example:
        properties:
          numberOfAvailableMacAddresses: 6
          metadata:
            key: metadata
          numberOfAllocatedMacAddresses: 0
          endMacAddress: endMacAddress
          startMacAddress: startMacAddress
      properties:
        properties:
          $ref: '#/components/schemas/MacAddressPoolModel'
      title: MacAddressPool
    MacAddressPoolList:
      description: A pageable list of MAC address pools.
      example:
        value:
        - properties:
            numberOfAvailableMacAddresses: 6
            metadata:
              key: metadata
            numberOfAllocatedMacAddresses: 0
            endMacAddress: endMacAddress
            startMacAddress: startMacAddress
        - properties:
            numberOfAvailableMacAddresses: 6
            metadata:
              key: metadata
            numberOfAllocatedMacAddresses: 0
            endMacAddress: endMacAddress
            startMacAddress: startMacAddress
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of MAC address pools.
          items:
            $ref: '#/components/schemas/MacAddressPool'
          title: value
          type: array
      title: MacAddressPoolList
      type: object
    MacAddressPoolModel:
      description: Properties of a MAC address pool.
      example:
        numberOfAvailableMacAddresses: 6
        metadata:
          key: metadata
        numberOfAllocatedMacAddresses: 0
        endMacAddress: endMacAddress
        startMacAddress: startMacAddress
      properties:
        endMacAddress:
          description: Ending MAC address.
          title: endMacAddress
          type: string
        metadata:
          additionalProperties:
            type: string
          description: Metadata related to the MAC pool.
          title: metadata
          type: object
        numberOfAllocatedMacAddresses:
          description: Number of MAC addresses allocated.
          format: int64
          title: numberOfAllocatedMacAddresses
          type: integer
        numberOfAvailableMacAddresses:
          description: Number of MAC addresses available.
          format: int64
          title: numberOfAvailableMacAddresses
          type: integer
        startMacAddress:
          description: Starting MAC address.
          title: startMacAddress
          type: string
      title: MacAddressPoolModel
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
