openapi: 3.0.0
info:
  contact:
    email: matiasbonet@oceandrivers.com
  description: This is the api to access the ODWeather API information
  title: ODWeather
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: http://api.oceandrivers.com/static/resources.json
    version: "1.2"
  x-providerName: oceandrivers.com
servers:
- url: https://api.oceandrivers.com/
tags:
- description: ODWeather API service
  name: ODWeather
paths:
  /v1.0/compareStation/{stationName}/:
    get:
      description: Get forecast and realtime information for known points<br/>None
      operationId: compareStation
      parameters:
      - description: "Weather station to compare, values: cnareanl|rcnp | cmsap|boyaenderrocat|areopuertopalma\
          \ | EWXXX"
        explode: false
        in: path
        name: stationName
        required: true
        schema:
          default: cnarenal
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getAemetStation/{stationName}/{period}/:
    get:
      description: Get data from the aemet stations<br/>None
      operationId: getAemetStation
      parameters:
      - description: "station name currently: aeropuertopalma | caboblanco "
        explode: false
        in: path
        name: stationName
        required: true
        schema:
          default: aeropuertopalma
          type: string
        style: simple
      - description: "Period of time to get the data. Options: lastdata lastday"
        explode: false
        in: path
        name: period
        required: true
        schema:
          default: lastdata
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getEasyWind/{easywindId}/:
    get:
      description: Get data from the easywind weather stations<br/>None
      operationId: getEasywind
      parameters:
      - description: "currently: 'EW013'|'EW008'"
        explode: false
        in: path
        name: easywindId
        required: true
        schema:
          default: EW013
          type: string
        style: simple
      - description: Period of time to get the data latestdata|latesthour|latestday
        explode: true
        in: query
        name: period
        required: true
        schema:
          default: latestdata
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getEventStations/{eventId}/:
    get:
      description: Get stations in an event<br/>None
      operationId: getEventStations
      parameters:
      - description: "currently: 'trofeoprincesasofia|palmavela'"
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          default: trofeoprincesasofia
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getForecastPoints/{yatchclubid}/language/{language}:
    get:
      description: Get forecast points of a yatchclub<br/>None
      operationId: getForecastPoints
      parameters:
      - description: base URL for the the
        explode: false
        in: path
        name: yatchclubid
        required: true
        schema:
          default: cnarenal
          type: string
        style: simple
      - explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getForecastTimeSeries/{latitude}/{longitude}/:
    get:
      description: Get timeseries forecast information<br/>None
      operationId: getForecastTimeSeries
      parameters:
      - description: latitude for the forecast
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          default: 39.49
          format: float
          type: number
        style: simple
      - description: longitude for the forecast
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          default: 2.74
          format: float
          type: number
        style: simple
      - description: initial date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ
        explode: true
        in: query
        name: inittime
        required: false
        schema:
          type: string
        style: form
      - description: end date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: optional number of days in string. Will be added to init forecast
          date
        explode: true
        in: query
        name: days
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: optional number of hours in string. Will be added to init forecast
          date
        explode: true
        in: query
        name: hours
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: " Comma separated values for the weather parameteres temperature,rain,wind_u,wind_v,gust,pressure,cloud,humidity&wave=height,direction,period"
        explode: true
        in: query
        name: weather
        required: true
        schema:
          type: string
        style: form
      - description: " Comma separated values for the wave parameteres height,direction,period"
        explode: true
        in: query
        name: wave
        required: false
        schema:
          type: string
        style: form
      - description: Direct file I want to extract
        explode: true
        in: query
        name: entryid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getForecastTimeSeriesWrf/{latitude}/{longitude}/:
    get:
      description: Get timeseries forecast information<br/>None
      operationId: getForecastTimeSeriesWrf
      parameters:
      - description: latitude for the forecast
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          default: 39.49
          format: float
          type: number
        style: simple
      - description: longitude for the forecast
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          default: 2.74
          format: float
          type: number
        style: simple
      - description: initial date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ
        explode: true
        in: query
        name: inittime
        required: false
        schema:
          type: string
        style: form
      - description: end date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: optional number of days in string. Will be added to init forecast
          date
        explode: true
        in: query
        name: days
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: optional number of hours in string. Will be added to init forecast
          date
        explode: true
        in: query
        name: hours
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: " Comma separated values for the weather parameteres temperature,rain,wind_u,wind_v,gust,pressure,cloud,humidity&wave=height,direction,period"
        explode: true
        in: query
        name: weather
        required: true
        schema:
          type: string
        style: form
      - description: " Comma separated values for the wave parameteres height,direction,period"
        explode: true
        in: query
        name: wave
        required: false
        schema:
          type: string
        style: form
      - description: Direct file I want to extract
        explode: true
        in: query
        name: entryid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getSocibWeatherStation/{stationName}/{period}/:
    get:
      description: Get data from the socib bahia de palma buoy<br/>None
      operationId: getSocibWeatherStation
      parameters:
      - description: "station name currently: boyaenderrocat | playadepalma"
        explode: false
        in: path
        name: stationName
        required: true
        schema:
          default: boyaenderrocat
          type: string
        style: simple
      - description: "Period of time to get the data. Options: lastdata lasthour lastday"
        explode: false
        in: path
        name: period
        required: true
        schema:
          default: lastdata
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getWeatherDisplay/{stationName}/:
    get:
      description: Get data from the weather display software<br/>None
      operationId: getWeatherDisplay
      parameters:
      - description: "currently: 'cnarenal'|'campastilla' | 'cncg'"
        explode: false
        in: path
        name: stationName
        required: true
        schema:
          default: cnarenal
          type: string
        style: simple
      - description: Period of time to get the data latestdata|latesthour|latestday|dailylog
        explode: true
        in: query
        name: period
        required: true
        schema:
          default: latestdata
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
  /v1.0/getWebCams/:
    get:
      description: Get forecast and realtime information for known points<br/>None
      operationId: getWebCams
      responses:
        "200":
          description: No response was specified
      tags:
      - ODWeather
      x-accepts:
      - application/json
components:
  schemas: {}

