openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/databaseVulnerabilityAssessmentScans.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-databaseVulnerabilityAssessmentScans
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans
  : get:
      description: Lists the vulnerability assessment scans of a database.
      operationId: database_vulnerability_assessment_scans_list_by_database
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityAssessmentScanRecordListResult'
          description: Successfully retrieved the database vulnerability assessment
            scan records.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName\
            \ - The provided storage account is not valid or does not exist.\n\n *\
            \ 400 InvalidStorageAccountCredentials - The provided storage account\
            \ shared access signature or account storage key is not valid.\n\n * 400\
            \ VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings\
            \ don't exist or invalid storage specified in settings. \n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssessmentScans
      x-ms-examples:
        Gets the list of a database vulnerability assessment scan records:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            resourceGroupName: vulnerabilityassessmenttest-4711
            serverName: vulnerabilityassessmenttest-6411
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan001
                  name: scan001
                  properties:
                    endTime: 2017-12-12T17:47:06Z
                    errors: []
                    numberOfFailedSecurityChecks: 9
                    scanId: scan001
                    startTime: 2017-12-12T17:45:06Z
                    state: Passed
                    storageContainerPath: https://myaccount.blob.core.windows.net/vulnerability-assessment
                    triggerType: OnDemand
                  type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan002
                  name: scan002
                  properties:
                    endTime: 2017-12-12T17:47:06Z
                    errors: []
                    numberOfFailedSecurityChecks: 9
                    scanId: scan002
                    startTime: 2017-12-12T17:45:06Z
                    state: Failed
                    storageContainerPath: https://myaccount.blob.core.windows.net/vulnerability-assessment
                    triggerType: Recurring
                  type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan003
                  name: scan003
                  properties:
                    endTime: 2017-12-12T17:47:06Z
                    errors:
                    - code: StorageNotFound
                      message: Storage not found
                    numberOfFailedSecurityChecks: 0
                    scanId: scan003
                    startTime: 2017-12-12T17:45:06Z
                    state: FailedToRun
                    storageContainerPath: https://myaccount.blob.core.windows.net/vulnerability-assessment
                    triggerType: Recurring
                  type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assessment_scans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}
  : get:
      description: Gets a vulnerability assessment scan record of a database.
      operationId: database_vulnerability_assessment_scans_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment scan Id of the scan to retrieve.
        in: path
        name: scanId
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityAssessmentScanRecord'
          description: Successfully retrieved the database vulnerability assessment
            scan record.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName\
            \ - The provided storage account is not valid or does not exist.\n\n *\
            \ 400 InvalidStorageAccountCredentials - The provided storage account\
            \ shared access signature or account storage key is not valid.\n\n * 400\
            \ VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings\
            \ don't exist or invalid storage specified in settings. \n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssessmentScans
      x-ms-examples:
        Gets a database vulnerability assessment scan record by scan ID:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            resourceGroupName: vulnerabilityassessmenttest-4711
            scanId: scan001
            serverName: vulnerabilityassessmenttest-6411
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan001
                name: scan001
                properties:
                  endTime: 2017-12-12T17:47:06Z
                  errors: []
                  numberOfFailedSecurityChecks: 9
                  scanId: scan001
                  startTime: 2017-12-12T17:45:06Z
                  state: Passed
                  storageContainerPath: https://myaccount.blob.core.windows.net/vulnerability-assessment
                  triggerType: OnDemand
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assessment_scans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/export
  : post:
      description: Convert an existing scan result to a human readable format. If
        already exists nothing happens
      operationId: database_vulnerability_assessment_scans_export
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the scanned database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment scan Id.
        in: path
        name: scanId
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentScansExport'
          description: Scan result was converted successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentScansExport'
          description: Scan result was converted successfully.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName\
            \ - The provided storage account is not valid or does not exist.\n\n *\
            \ 400 InvalidStorageAccountCredentials - The provided storage account\
            \ shared access signature or account storage key is not valid.\n\n * 400\
            \ VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings\
            \ don't exist or invalid storage specified in settings. \n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssessmentScansExport
      x-ms-examples:
        Export a database's vulnerability assessment scan results.:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            parameters: {}
            resourceGroupName: vulnerabilityassessmenttest-4799
            scanId: scan001
            serverName: vulnerabilityassessmenttest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan001/export
                name: scan001
                properties:
                  exportedReportLocation: https://myaccount.blob.core.windows.net/vulnerabilityAssessment/vulnerabilityassessmenttest-6440/testdb/scan001.xlsx
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans/export
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityassessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityassessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/scans/scan001/export
                name: scan001
                properties:
                  exportedReportLocation: https://myaccount.blob.core.windows.net/vulnerabilityAssessment/vulnerabilityassessmenttest-6440/testdb/scan001.xlsx
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans/export
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assessment_scans_export_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/initiateScan
  : post:
      description: Executes a Vulnerability Assessment database scan.
      operationId: database_vulnerability_assessment_scans_initiate_scan
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment scan Id of the scan to retrieve.
        in: path
        name: scanId
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully executed a Vulnerability Assessment database scan.
        "202":
          content: {}
          description: Successfully started a Vulnerability Assessment database scan.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidVulnerabilityAssessmentScanIdLength\
            \ - The vulnerability assessment scan ID length must be below {0} characters.\n\
            \n * 400 InvalidStorageAccountName - The provided storage account is not\
            \ valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials\
            \ - The provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 VulnerabilityAssessmentInvalidPolicy - Vulnerability\
            \ Assessment settings don't exist or invalid storage specified in settings.\
            \ \n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssessmentScansExecute
      x-ms-examples:
        Executes a database's vulnerability assessment scan.:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            resourceGroupName: vulnerabilityassessmenttest-4711
            scanId: scan01
            serverName: vulnerabilityassessmenttest-6411
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assessment_scans_execute_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DatabaseVulnerabilityAssessmentScanExportProperties:
      description: Properties of the export operation's result.
      example:
        exportedReportLocation: exportedReportLocation
      properties:
        exportedReportLocation:
          description: Location of the exported report (e.g. https://myStorage.blob.core.windows.net/VaScans/scans/serverName/databaseName/scan_scanId.xlsx).
          readOnly: true
          title: exportedReportLocation
          type: string
      title: DatabaseVulnerabilityAssessmentScanExportProperties
      type: object
    DatabaseVulnerabilityAssessmentScansExport:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: A database Vulnerability Assessment scan export resource.
      example:
        properties:
          exportedReportLocation: exportedReportLocation
      properties:
        properties:
          $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentScanExportProperties'
      title: DatabaseVulnerabilityAssessmentScansExport
    VulnerabilityAssessmentScanError:
      description: Properties of a vulnerability assessment scan error.
      example:
        code: code
        message: message
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
      title: VulnerabilityAssessmentScanError
      type: object
    VulnerabilityAssessmentScanRecord:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: A vulnerability assessment scan record.
      example:
        properties:
          scanId: scanId
          numberOfFailedSecurityChecks: 0
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          state: Passed
          triggerType: OnDemand
          errors:
          - code: code
            message: message
          - code: code
            message: message
          storageContainerPath: storageContainerPath
      properties:
        properties:
          $ref: '#/components/schemas/VulnerabilityAssessmentScanRecordProperties'
      title: VulnerabilityAssessmentScanRecord
    VulnerabilityAssessmentScanRecordListResult:
      description: A list of vulnerability assessment scan records.
      example:
        value:
        - properties:
            scanId: scanId
            numberOfFailedSecurityChecks: 0
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: Passed
            triggerType: OnDemand
            errors:
            - code: code
              message: message
            - code: code
              message: message
            storageContainerPath: storageContainerPath
        - properties:
            scanId: scanId
            numberOfFailedSecurityChecks: 0
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: Passed
            triggerType: OnDemand
            errors:
            - code: code
              message: message
            - code: code
              message: message
            storageContainerPath: storageContainerPath
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/VulnerabilityAssessmentScanRecord'
          readOnly: true
          title: value
          type: array
      title: VulnerabilityAssessmentScanRecordListResult
      type: object
    VulnerabilityAssessmentScanRecordProperties:
      description: Properties of a vulnerability assessment scan record.
      example:
        scanId: scanId
        numberOfFailedSecurityChecks: 0
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        state: Passed
        triggerType: OnDemand
        errors:
        - code: code
          message: message
        - code: code
          message: message
        storageContainerPath: storageContainerPath
      properties:
        endTime:
          description: The scan end time (UTC).
          format: date-time
          readOnly: true
          title: endTime
          type: string
        errors:
          description: The scan errors.
          items:
            $ref: '#/components/schemas/VulnerabilityAssessmentScanError'
          readOnly: true
          title: errors
          type: array
        numberOfFailedSecurityChecks:
          description: The number of failed security checks.
          format: int32
          readOnly: true
          title: numberOfFailedSecurityChecks
          type: integer
        scanId:
          description: The scan ID.
          readOnly: true
          title: scanId
          type: string
        startTime:
          description: The scan start time (UTC).
          format: date-time
          readOnly: true
          title: startTime
          type: string
        state:
          description: The scan status.
          enum:
          - Passed
          - Failed
          - FailedToRun
          - InProgress
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentScanState
        storageContainerPath:
          description: The scan results storage container path.
          readOnly: true
          title: storageContainerPath
          type: string
        triggerType:
          description: The scan trigger type.
          enum:
          - OnDemand
          - Recurring
          readOnly: true
          title: triggerType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentScanTriggerType
      title: VulnerabilityAssessmentScanRecordProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
