openapi: 3.0.1
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: 2015-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/preview/2015-08-01-preview/logic.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by subscription.
      operationId: integration_accounts_list_by_subscription
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
          description: OK
      tags:
      - IntegrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by resource group.
      operationId: integration_accounts_list_by_resource_group
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
          description: OK
      tags:
      - IntegrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}
  : delete:
      description: Deletes an integration account.
      operationId: integration_accounts_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccounts
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
    get:
      description: Gets an integration account.
      operationId: integration_accounts_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
          description: OK
      tags:
      - IntegrationAccounts
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
    patch:
      description: Updates an integration account.
      operationId: integration_accounts_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
        description: The integration account.
        required: true
        x-body-name: integrationAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
          description: OK
      tags:
      - IntegrationAccounts
      x-codegen-request-body-name: integrationAccount
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
    put:
      description: Creates or updates an integration account.
      operationId: integration_accounts_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
        description: The integration account.
        required: true
        x-body-name: integrationAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
          description: Created
      tags:
      - IntegrationAccounts
      x-codegen-request-body-name: integrationAccount
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements
  : get:
      description: Gets a list of integration account agreements.
      operationId: integration_account_agreements_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreementListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreementListResult'
          description: OK
      tags:
      - IntegrationAccountAgreements
      x-ms-odata: '#/definitions/IntegrationAccountAgreementFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_account_agreements_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}
  : delete:
      description: Deletes an integration account agreement.
      operationId: integration_account_agreements_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccountAgreements
      x-openapi-router-controller: openapi_server.controllers.integration_account_agreements_controller
    get:
      description: Gets an integration account agreement.
      operationId: integration_account_agreements_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
          description: OK
      tags:
      - IntegrationAccountAgreements
      x-openapi-router-controller: openapi_server.controllers.integration_account_agreements_controller
    put:
      description: Creates or updates an integration account agreement.
      operationId: integration_account_agreements_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountAgreement'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountAgreement'
        description: The integration account agreement.
        required: true
        x-body-name: agreement
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountAgreement'
          description: Created
      tags:
      - IntegrationAccountAgreements
      x-codegen-request-body-name: agreement
      x-openapi-router-controller: openapi_server.controllers.integration_account_agreements_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates
  : get:
      description: Gets a list of integration account certificates.
      operationId: integration_account_certificates_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificateListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificateListResult'
          description: OK
      tags:
      - IntegrationAccountCertificates
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_account_certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}
  : delete:
      description: Deletes an integration account certificate.
      operationId: integration_account_certificates_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccountCertificates
      x-openapi-router-controller: openapi_server.controllers.integration_account_certificates_controller
    get:
      description: Gets an integration account certificate.
      operationId: integration_account_certificates_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
          description: OK
      tags:
      - IntegrationAccountCertificates
      x-openapi-router-controller: openapi_server.controllers.integration_account_certificates_controller
    put:
      description: Creates or updates an integration account certificate.
      operationId: integration_account_certificates_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountCertificate'
        description: The integration account certificate.
        required: true
        x-body-name: certificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
          description: Created
      tags:
      - IntegrationAccountCertificates
      x-codegen-request-body-name: certificate
      x-openapi-router-controller: openapi_server.controllers.integration_account_certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl
  : post:
      description: Lists the integration account callback URL.
      operationId: integration_accounts_list_callback_url
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCallbackUrlParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ListCallbackUrlParameters'
        description: The callback URL parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackUrl'
            text/json:
              schema:
                $ref: '#/components/schemas/CallbackUrl'
          description: OK
      tags:
      - IntegrationAccounts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.integration_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps
  : get:
      description: Gets a list of integration account maps.
      operationId: integration_account_maps_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMapListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMapListResult'
          description: OK
      tags:
      - IntegrationAccountMaps
      x-ms-odata: '#/definitions/IntegrationAccountMapFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_account_maps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}
  : delete:
      description: Deletes an integration account map.
      operationId: integration_account_maps_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccountMaps
      x-openapi-router-controller: openapi_server.controllers.integration_account_maps_controller
    get:
      description: Gets an integration account map.
      operationId: integration_account_maps_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
          description: OK
      tags:
      - IntegrationAccountMaps
      x-openapi-router-controller: openapi_server.controllers.integration_account_maps_controller
    put:
      description: Creates or updates an integration account map.
      operationId: integration_account_maps_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountMap'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountMap'
        description: The integration account map.
        required: true
        x-body-name: map
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
          description: Created
      tags:
      - IntegrationAccountMaps
      x-codegen-request-body-name: map
      x-openapi-router-controller: openapi_server.controllers.integration_account_maps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners
  : get:
      description: Gets a list of integration account partners.
      operationId: integration_account_partners_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartnerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartnerListResult'
          description: OK
      tags:
      - IntegrationAccountPartners
      x-ms-odata: '#/definitions/IntegrationAccountPartnerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_account_partners_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}
  : delete:
      description: Deletes an integration account partner.
      operationId: integration_account_partners_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccountPartners
      x-openapi-router-controller: openapi_server.controllers.integration_account_partners_controller
    get:
      description: Gets an integration account partner.
      operationId: integration_account_partners_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
          description: OK
      tags:
      - IntegrationAccountPartners
      x-openapi-router-controller: openapi_server.controllers.integration_account_partners_controller
    put:
      description: Creates or updates an integration account partner.
      operationId: integration_account_partners_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountPartner'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountPartner'
        description: The integration account partner.
        required: true
        x-body-name: partner
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
          description: Created
      tags:
      - IntegrationAccountPartners
      x-codegen-request-body-name: partner
      x-openapi-router-controller: openapi_server.controllers.integration_account_partners_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas
  : get:
      description: Gets a list of integration account schemas.
      operationId: integration_account_schemas_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchemaListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchemaListResult'
          description: OK
      tags:
      - IntegrationAccountSchemas
      x-ms-odata: '#/definitions/IntegrationAccountSchemaFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_account_schemas_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}
  : delete:
      description: Deletes an integration account schema.
      operationId: integration_account_schemas_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - IntegrationAccountSchemas
      x-openapi-router-controller: openapi_server.controllers.integration_account_schemas_controller
    get:
      description: Gets an integration account schema.
      operationId: integration_account_schemas_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
          description: OK
      tags:
      - IntegrationAccountSchemas
      x-openapi-router-controller: openapi_server.controllers.integration_account_schemas_controller
    put:
      description: Creates or updates an integration account schema.
      operationId: integration_account_schemas_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        schema:
          type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountSchema'
          text/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountSchema'
        description: The integration account schema.
        required: true
        x-body-name: schema
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
          description: Created
      tags:
      - IntegrationAccountSchemas
      x-codegen-request-body-name: schema
      x-openapi-router-controller: openapi_server.controllers.integration_account_schemas_controller
components:
  parameters:
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AS2AcknowledgementConnectionSettings:
      example:
        ignoreCertificateNameMismatch: true
        unfoldHttpHeaders: true
        keepHttpConnectionAlive: true
        supportHttpStatusCodeContinue: true
      properties:
        ignoreCertificateNameMismatch:
          description: The value indicating whether to ignore mismatch in certificate
            name.
          title: ignoreCertificateNameMismatch
          type: boolean
        keepHttpConnectionAlive:
          description: The value indicating whether to keep the connection alive.
          title: keepHttpConnectionAlive
          type: boolean
        supportHttpStatusCodeContinue:
          description: The value indicating whether to support HTTP status code 'CONTINUE'.
          title: supportHttpStatusCodeContinue
          type: boolean
        unfoldHttpHeaders:
          description: The value indicating whether to unfold the HTTP headers.
          title: unfoldHttpHeaders
          type: boolean
      title: AS2AcknowledgementConnectionSettings
      type: object
    AS2AgreementContent:
      example:
        sendAgreement:
          protocolSettings:
            acknowledgementConnectionSettings:
              ignoreCertificateNameMismatch: true
              unfoldHttpHeaders: true
              keepHttpConnectionAlive: true
              supportHttpStatusCodeContinue: true
            securitySettings:
              enableNrrForOutboundDecodedMessages: true
              enableNrrForOutboundEncodedMessages: true
              enableNrrForInboundMdn: true
              enableNrrForOutboundMdn: true
              encryptionCertificateName: encryptionCertificateName
              enableNrrForInboundDecodedMessages: true
              overrideGroupSigningCertificate: true
              enableNrrForInboundEncodedMessages: true
              signingCertificateName: signingCertificateName
            errorSettings:
              ResendIfMdnNotReceived: true
              SuspendDuplicateMessage: true
            validationSettings:
              signMessage: true
              interchangeDuplicatesValidityDays: 0
              compressMessage: true
              checkDuplicateMessage: true
              encryptMessage: true
              checkCertificateRevocationListOnReceive: true
              overrideMessageProperties: true
              encryptionAlgorithm: NotSpecified
              checkCertificateRevocationListOnSend: true
            envelopeSettings:
              fileNameTemplate: fileNameTemplate
              SuspendMessageOnFileNameGenerationError: true
              messageContentType: messageContentType
              AutogenerateFileName: true
              transmitFileNameInMimeHeader: true
            messageConnectionSettings:
              ignoreCertificateNameMismatch: true
              unfoldHttpHeaders: true
              keepHttpConnectionAlive: true
              supportHttpStatusCodeContinue: true
            mdnSettings:
              signMdn: true
              mdnText: mdnText
              needMdn: true
              signOutboundMdnIfOptional: true
              receiptDeliveryUrl: receiptDeliveryUrl
              micHashingAlgorithm: NotSpecified
              dispositionNotificationTo: dispositionNotificationTo
              sendInboundMdnToMessageBox: true
              sendMdnAsynchronously: true
          senderBusinessIdentity:
            Value: Value
            Qualifier: Qualifier
          receiverBusinessIdentity:
            Value: Value
            Qualifier: Qualifier
        receiveAgreement:
          protocolSettings:
            acknowledgementConnectionSettings:
              ignoreCertificateNameMismatch: true
              unfoldHttpHeaders: true
              keepHttpConnectionAlive: true
              supportHttpStatusCodeContinue: true
            securitySettings:
              enableNrrForOutboundDecodedMessages: true
              enableNrrForOutboundEncodedMessages: true
              enableNrrForInboundMdn: true
              enableNrrForOutboundMdn: true
              encryptionCertificateName: encryptionCertificateName
              enableNrrForInboundDecodedMessages: true
              overrideGroupSigningCertificate: true
              enableNrrForInboundEncodedMessages: true
              signingCertificateName: signingCertificateName
            errorSettings:
              ResendIfMdnNotReceived: true
              SuspendDuplicateMessage: true
            validationSettings:
              signMessage: true
              interchangeDuplicatesValidityDays: 0
              compressMessage: true
              checkDuplicateMessage: true
              encryptMessage: true
              checkCertificateRevocationListOnReceive: true
              overrideMessageProperties: true
              encryptionAlgorithm: NotSpecified
              checkCertificateRevocationListOnSend: true
            envelopeSettings:
              fileNameTemplate: fileNameTemplate
              SuspendMessageOnFileNameGenerationError: true
              messageContentType: messageContentType
              AutogenerateFileName: true
              transmitFileNameInMimeHeader: true
            messageConnectionSettings:
              ignoreCertificateNameMismatch: true
              unfoldHttpHeaders: true
              keepHttpConnectionAlive: true
              supportHttpStatusCodeContinue: true
            mdnSettings:
              signMdn: true
              mdnText: mdnText
              needMdn: true
              signOutboundMdnIfOptional: true
              receiptDeliveryUrl: receiptDeliveryUrl
              micHashingAlgorithm: NotSpecified
              dispositionNotificationTo: dispositionNotificationTo
              sendInboundMdnToMessageBox: true
              sendMdnAsynchronously: true
          senderBusinessIdentity:
            Value: Value
            Qualifier: Qualifier
          receiverBusinessIdentity:
            Value: Value
            Qualifier: Qualifier
      properties:
        receiveAgreement:
          $ref: '#/components/schemas/AS2OneWayAgreement'
        sendAgreement:
          $ref: '#/components/schemas/AS2OneWayAgreement'
      title: AS2AgreementContent
      type: object
    AS2EnvelopeSettings:
      example:
        fileNameTemplate: fileNameTemplate
        SuspendMessageOnFileNameGenerationError: true
        messageContentType: messageContentType
        AutogenerateFileName: true
        transmitFileNameInMimeHeader: true
      properties:
        AutogenerateFileName:
          description: The value indicating whether to auto generate file name.
          title: AutogenerateFileName
          type: boolean
        SuspendMessageOnFileNameGenerationError:
          description: The value indicating whether to suspend message on file name
            generation error.
          title: SuspendMessageOnFileNameGenerationError
          type: boolean
        fileNameTemplate:
          description: The template for file name.
          title: fileNameTemplate
          type: string
        messageContentType:
          description: The message content type.
          title: messageContentType
          type: string
        transmitFileNameInMimeHeader:
          description: The value indicating whether to transmit file name in mime
            header.
          title: transmitFileNameInMimeHeader
          type: boolean
      title: AS2EnvelopeSettings
      type: object
    AS2ErrorSettings:
      example:
        ResendIfMdnNotReceived: true
        SuspendDuplicateMessage: true
      properties:
        ResendIfMdnNotReceived:
          description: The value indicating whether to resend message If MDN is not
            received.
          title: ResendIfMdnNotReceived
          type: boolean
        SuspendDuplicateMessage:
          description: The value indicating whether to suspend duplicate message.
          title: SuspendDuplicateMessage
          type: boolean
      title: AS2ErrorSettings
      type: object
    AS2MdnSettings:
      example:
        signMdn: true
        mdnText: mdnText
        needMdn: true
        signOutboundMdnIfOptional: true
        receiptDeliveryUrl: receiptDeliveryUrl
        micHashingAlgorithm: NotSpecified
        dispositionNotificationTo: dispositionNotificationTo
        sendInboundMdnToMessageBox: true
        sendMdnAsynchronously: true
      properties:
        dispositionNotificationTo:
          description: The disposition notification to header value.
          title: dispositionNotificationTo
          type: string
        mdnText:
          description: The MDN text.
          title: mdnText
          type: string
        micHashingAlgorithm:
          $ref: '#/components/schemas/HashingAlgorithm'
        needMdn:
          description: The value indicating whether to send or request a MDN.
          title: needMdn
          type: boolean
        receiptDeliveryUrl:
          description: The receipt delivery URL.
          title: receiptDeliveryUrl
          type: string
        sendInboundMdnToMessageBox:
          description: The value indicating whether to send inbound MDN to message
            box.
          title: sendInboundMdnToMessageBox
          type: boolean
        sendMdnAsynchronously:
          description: The value indicating whether to send the asynchronous MDN.
          title: sendMdnAsynchronously
          type: boolean
        signMdn:
          description: The value indicating whether the MDN needs to be signed or
            not.
          title: signMdn
          type: boolean
        signOutboundMdnIfOptional:
          description: The value indicating whether to sign the outbound MDN if optional.
          title: signOutboundMdnIfOptional
          type: boolean
      title: AS2MdnSettings
      type: object
    AS2MessageConnectionSettings:
      example:
        ignoreCertificateNameMismatch: true
        unfoldHttpHeaders: true
        keepHttpConnectionAlive: true
        supportHttpStatusCodeContinue: true
      properties:
        ignoreCertificateNameMismatch:
          description: The value indicating whether to ignore mismatch in certificate
            name.
          title: ignoreCertificateNameMismatch
          type: boolean
        keepHttpConnectionAlive:
          description: The value indicating whether to keep the connection alive.
          title: keepHttpConnectionAlive
          type: boolean
        supportHttpStatusCodeContinue:
          description: The value indicating whether to support HTTP status code 'CONTINUE'.
          title: supportHttpStatusCodeContinue
          type: boolean
        unfoldHttpHeaders:
          description: The value indicating whether to unfold the HTTP headers.
          title: unfoldHttpHeaders
          type: boolean
      title: AS2MessageConnectionSettings
      type: object
    AS2OneWayAgreement:
      example:
        protocolSettings:
          acknowledgementConnectionSettings:
            ignoreCertificateNameMismatch: true
            unfoldHttpHeaders: true
            keepHttpConnectionAlive: true
            supportHttpStatusCodeContinue: true
          securitySettings:
            enableNrrForOutboundDecodedMessages: true
            enableNrrForOutboundEncodedMessages: true
            enableNrrForInboundMdn: true
            enableNrrForOutboundMdn: true
            encryptionCertificateName: encryptionCertificateName
            enableNrrForInboundDecodedMessages: true
            overrideGroupSigningCertificate: true
            enableNrrForInboundEncodedMessages: true
            signingCertificateName: signingCertificateName
          errorSettings:
            ResendIfMdnNotReceived: true
            SuspendDuplicateMessage: true
          validationSettings:
            signMessage: true
            interchangeDuplicatesValidityDays: 0
            compressMessage: true
            checkDuplicateMessage: true
            encryptMessage: true
            checkCertificateRevocationListOnReceive: true
            overrideMessageProperties: true
            encryptionAlgorithm: NotSpecified
            checkCertificateRevocationListOnSend: true
          envelopeSettings:
            fileNameTemplate: fileNameTemplate
            SuspendMessageOnFileNameGenerationError: true
            messageContentType: messageContentType
            AutogenerateFileName: true
            transmitFileNameInMimeHeader: true
          messageConnectionSettings:
            ignoreCertificateNameMismatch: true
            unfoldHttpHeaders: true
            keepHttpConnectionAlive: true
            supportHttpStatusCodeContinue: true
          mdnSettings:
            signMdn: true
            mdnText: mdnText
            needMdn: true
            signOutboundMdnIfOptional: true
            receiptDeliveryUrl: receiptDeliveryUrl
            micHashingAlgorithm: NotSpecified
            dispositionNotificationTo: dispositionNotificationTo
            sendInboundMdnToMessageBox: true
            sendMdnAsynchronously: true
        senderBusinessIdentity:
          Value: Value
          Qualifier: Qualifier
        receiverBusinessIdentity:
          Value: Value
          Qualifier: Qualifier
      properties:
        protocolSettings:
          $ref: '#/components/schemas/AS2ProtocolSettings'
        receiverBusinessIdentity:
          $ref: '#/components/schemas/BusinessIdentity'
        senderBusinessIdentity:
          $ref: '#/components/schemas/BusinessIdentity'
      title: AS2OneWayAgreement
      type: object
    AS2ProtocolSettings:
      example:
        acknowledgementConnectionSettings:
          ignoreCertificateNameMismatch: true
          unfoldHttpHeaders: true
          keepHttpConnectionAlive: true
          supportHttpStatusCodeContinue: true
        securitySettings:
          enableNrrForOutboundDecodedMessages: true
          enableNrrForOutboundEncodedMessages: true
          enableNrrForInboundMdn: true
          enableNrrForOutboundMdn: true
          encryptionCertificateName: encryptionCertificateName
          enableNrrForInboundDecodedMessages: true
          overrideGroupSigningCertificate: true
          enableNrrForInboundEncodedMessages: true
          signingCertificateName: signingCertificateName
        errorSettings:
          ResendIfMdnNotReceived: true
          SuspendDuplicateMessage: true
        validationSettings:
          signMessage: true
          interchangeDuplicatesValidityDays: 0
          compressMessage: true
          checkDuplicateMessage: true
          encryptMessage: true
          checkCertificateRevocationListOnReceive: true
          overrideMessageProperties: true
          encryptionAlgorithm: NotSpecified
          checkCertificateRevocationListOnSend: true
        envelopeSettings:
          fileNameTemplate: fileNameTemplate
          SuspendMessageOnFileNameGenerationError: true
          messageContentType: messageContentType
          AutogenerateFileName: true
          transmitFileNameInMimeHeader: true
        messageConnectionSettings:
          ignoreCertificateNameMismatch: true
          unfoldHttpHeaders: true
          keepHttpConnectionAlive: true
          supportHttpStatusCodeContinue: true
        mdnSettings:
          signMdn: true
          mdnText: mdnText
          needMdn: true
          signOutboundMdnIfOptional: true
          receiptDeliveryUrl: receiptDeliveryUrl
          micHashingAlgorithm: NotSpecified
          dispositionNotificationTo: dispositionNotificationTo
          sendInboundMdnToMessageBox: true
          sendMdnAsynchronously: true
      properties:
        acknowledgementConnectionSettings:
          $ref: '#/components/schemas/AS2AcknowledgementConnectionSettings'
        envelopeSettings:
          $ref: '#/components/schemas/AS2EnvelopeSettings'
        errorSettings:
          $ref: '#/components/schemas/AS2ErrorSettings'
        mdnSettings:
          $ref: '#/components/schemas/AS2MdnSettings'
        messageConnectionSettings:
          $ref: '#/components/schemas/AS2MessageConnectionSettings'
        securitySettings:
          $ref: '#/components/schemas/AS2SecuritySettings'
        validationSettings:
          $ref: '#/components/schemas/AS2ValidationSettings'
      title: AS2ProtocolSettings
      type: object
    AS2SecuritySettings:
      example:
        enableNrrForOutboundDecodedMessages: true
        enableNrrForOutboundEncodedMessages: true
        enableNrrForInboundMdn: true
        enableNrrForOutboundMdn: true
        encryptionCertificateName: encryptionCertificateName
        enableNrrForInboundDecodedMessages: true
        overrideGroupSigningCertificate: true
        enableNrrForInboundEncodedMessages: true
        signingCertificateName: signingCertificateName
      properties:
        enableNrrForInboundDecodedMessages:
          description: The value indicating whether to enable NRR for inbound decoded
            messages.
          title: enableNrrForInboundDecodedMessages
          type: boolean
        enableNrrForInboundEncodedMessages:
          description: The value indicating whether to enable NRR for inbound encoded
            messages.
          title: enableNrrForInboundEncodedMessages
          type: boolean
        enableNrrForInboundMdn:
          description: The value indicating whether to enable NRR for inbound MDN.
          title: enableNrrForInboundMdn
          type: boolean
        enableNrrForOutboundDecodedMessages:
          description: The value indicating whether to enable NRR for outbound decoded
            messages.
          title: enableNrrForOutboundDecodedMessages
          type: boolean
        enableNrrForOutboundEncodedMessages:
          description: The value indicating whether to enable NRR for outbound encoded
            messages.
          title: enableNrrForOutboundEncodedMessages
          type: boolean
        enableNrrForOutboundMdn:
          description: The value indicating whether to enable NRR for outbound MDN.
          title: enableNrrForOutboundMdn
          type: boolean
        encryptionCertificateName:
          description: The name of the encryption certificate.
          title: encryptionCertificateName
          type: string
        overrideGroupSigningCertificate:
          description: The value indicating whether to send or request a MDN.
          title: overrideGroupSigningCertificate
          type: boolean
        signingCertificateName:
          description: The name of the signing certificate.
          title: signingCertificateName
          type: string
      title: AS2SecuritySettings
      type: object
    AS2ValidationSettings:
      example:
        signMessage: true
        interchangeDuplicatesValidityDays: 0
        compressMessage: true
        checkDuplicateMessage: true
        encryptMessage: true
        checkCertificateRevocationListOnReceive: true
        overrideMessageProperties: true
        encryptionAlgorithm: NotSpecified
        checkCertificateRevocationListOnSend: true
      properties:
        checkCertificateRevocationListOnReceive:
          description: The value indicating whether to check for certificate revocation
            list on receive.
          title: checkCertificateRevocationListOnReceive
          type: boolean
        checkCertificateRevocationListOnSend:
          description: The value indicating whether to check for certificate revocation
            list on send.
          title: checkCertificateRevocationListOnSend
          type: boolean
        checkDuplicateMessage:
          description: The value indicating whether to check for duplicate message.
          title: checkDuplicateMessage
          type: boolean
        compressMessage:
          description: The value indicating whether the message has to be compressed.
          title: compressMessage
          type: boolean
        encryptMessage:
          description: The value indicating whether the message has to be encrypted.
          title: encryptMessage
          type: boolean
        encryptionAlgorithm:
          $ref: '#/components/schemas/EncryptionAlgorithm'
        interchangeDuplicatesValidityDays:
          description: The number of days to look back for duplicate interchange.
          format: int32
          title: interchangeDuplicatesValidityDays
          type: integer
        overrideMessageProperties:
          description: The value indicating whether to override incoming message properties
            with those in agreement.
          title: overrideMessageProperties
          type: boolean
        signMessage:
          description: The value indicating whether the message has to be signed.
          title: signMessage
          type: boolean
      title: AS2ValidationSettings
      type: object
    AgreementContent:
      example:
        AS2:
          sendAgreement:
            protocolSettings:
              acknowledgementConnectionSettings:
                ignoreCertificateNameMismatch: true
                unfoldHttpHeaders: true
                keepHttpConnectionAlive: true
                supportHttpStatusCodeContinue: true
              securitySettings:
                enableNrrForOutboundDecodedMessages: true
                enableNrrForOutboundEncodedMessages: true
                enableNrrForInboundMdn: true
                enableNrrForOutboundMdn: true
                encryptionCertificateName: encryptionCertificateName
                enableNrrForInboundDecodedMessages: true
                overrideGroupSigningCertificate: true
                enableNrrForInboundEncodedMessages: true
                signingCertificateName: signingCertificateName
              errorSettings:
                ResendIfMdnNotReceived: true
                SuspendDuplicateMessage: true
              validationSettings:
                signMessage: true
                interchangeDuplicatesValidityDays: 0
                compressMessage: true
                checkDuplicateMessage: true
                encryptMessage: true
                checkCertificateRevocationListOnReceive: true
                overrideMessageProperties: true
                encryptionAlgorithm: NotSpecified
                checkCertificateRevocationListOnSend: true
              envelopeSettings:
                fileNameTemplate: fileNameTemplate
                SuspendMessageOnFileNameGenerationError: true
                messageContentType: messageContentType
                AutogenerateFileName: true
                transmitFileNameInMimeHeader: true
              messageConnectionSettings:
                ignoreCertificateNameMismatch: true
                unfoldHttpHeaders: true
                keepHttpConnectionAlive: true
                supportHttpStatusCodeContinue: true
              mdnSettings:
                signMdn: true
                mdnText: mdnText
                needMdn: true
                signOutboundMdnIfOptional: true
                receiptDeliveryUrl: receiptDeliveryUrl
                micHashingAlgorithm: NotSpecified
                dispositionNotificationTo: dispositionNotificationTo
                sendInboundMdnToMessageBox: true
                sendMdnAsynchronously: true
            senderBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
            receiverBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
          receiveAgreement:
            protocolSettings:
              acknowledgementConnectionSettings:
                ignoreCertificateNameMismatch: true
                unfoldHttpHeaders: true
                keepHttpConnectionAlive: true
                supportHttpStatusCodeContinue: true
              securitySettings:
                enableNrrForOutboundDecodedMessages: true
                enableNrrForOutboundEncodedMessages: true
                enableNrrForInboundMdn: true
                enableNrrForOutboundMdn: true
                encryptionCertificateName: encryptionCertificateName
                enableNrrForInboundDecodedMessages: true
                overrideGroupSigningCertificate: true
                enableNrrForInboundEncodedMessages: true
                signingCertificateName: signingCertificateName
              errorSettings:
                ResendIfMdnNotReceived: true
                SuspendDuplicateMessage: true
              validationSettings:
                signMessage: true
                interchangeDuplicatesValidityDays: 0
                compressMessage: true
                checkDuplicateMessage: true
                encryptMessage: true
                checkCertificateRevocationListOnReceive: true
                overrideMessageProperties: true
                encryptionAlgorithm: NotSpecified
                checkCertificateRevocationListOnSend: true
              envelopeSettings:
                fileNameTemplate: fileNameTemplate
                SuspendMessageOnFileNameGenerationError: true
                messageContentType: messageContentType
                AutogenerateFileName: true
                transmitFileNameInMimeHeader: true
              messageConnectionSettings:
                ignoreCertificateNameMismatch: true
                unfoldHttpHeaders: true
                keepHttpConnectionAlive: true
                supportHttpStatusCodeContinue: true
              mdnSettings:
                signMdn: true
                mdnText: mdnText
                needMdn: true
                signOutboundMdnIfOptional: true
                receiptDeliveryUrl: receiptDeliveryUrl
                micHashingAlgorithm: NotSpecified
                dispositionNotificationTo: dispositionNotificationTo
                sendInboundMdnToMessageBox: true
                sendMdnAsynchronously: true
            senderBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
            receiverBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
        X12:
          sendAgreement:
            protocolSettings:
              validationOverrides:
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: null
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: null
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              x12DelimiterOverrides:
              - segmentTerminator: 6
                dataElementSeparator: 0
                replaceSeparatorsInPayload: true
                targetNamespace: targetNamespace
                segmentTerminatorSuffix: null
                componentSeparator: 7
                messageId: messageId
                replaceCharacter: 7
                protocolVersion: protocolVersion
              - segmentTerminator: 6
                dataElementSeparator: 0
                replaceSeparatorsInPayload: true
                targetNamespace: targetNamespace
                segmentTerminatorSuffix: null
                componentSeparator: 7
                messageId: messageId
                replaceCharacter: 7
                protocolVersion: protocolVersion
              messageFilterList:
              - messageId: messageId
              - messageId: messageId
              framingSettings:
                segmentTerminator: 3
                characterSet: NotSpecified
                dataElementSeparator: 5
                replaceSeparatorsInPayload: true
                segmentTerminatorSuffix: null
                componentSeparator: 6
                replaceCharacter: 6
              securitySettings:
                passwordValue: passwordValue
                securityQualifier: securityQualifier
                authorizationQualifier: authorizationQualifier
                authorizationValue: authorizationValue
              validationSettings:
                validateEDITypes: true
                checkDuplicateTransactionSetControlNumber: true
                validateXSDTypes: true
                interchangeControlNumberValidityDays: 3
                checkDuplicateInterchangeControlNumber: true
                trailingSeparatorPolicy: null
                checkDuplicateGroupControlNumber: true
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              envelopeSettings:
                receiverApplicationId: receiverApplicationId
                controlStandardsId: 9
                transactionSetControlNumberUpperBound: 6
                rolloverInterchangeControlNumber: true
                useControlStandardsIdAsRepetitionCharacter: true
                transactionSetControlNumberSuffix: transactionSetControlNumberSuffix
                usageIndicator: NotSpecified
                interchangeControlNumberLowerBound: 6
                groupControlNumberUpperBound: 3
                senderApplicationId: senderApplicationId
                functionalGroupId: functionalGroupId
                groupHeaderTimeFormat: null
                groupHeaderVersion: groupHeaderVersion
                controlVersionNumber: controlVersionNumber
                enableDefaultGroupHeaders: true
                transactionSetControlNumberLowerBound: 2
                interchangeControlNumberUpperBound: 1
                rolloverTransactionSetControlNumber: true
                groupHeaderDateFormat: null
                overwriteExistingTransactionSetControlNumber: true
                transactionSetControlNumberPrefix: transactionSetControlNumberPrefix
                groupControlNumberLowerBound: 6
                groupHeaderAgencyCode: groupHeaderAgencyCode
                rolloverGroupControlNumber: true
              processingSettings:
                createEmptyXmlTagsForTrailingSeparators: true
                useDotAsDecimalSeparator: true
                preserveInterchange: true
                maskSecurityInfo: true
                suspendInterchangeOnError: true
                convertImpliedDecimal: true
              messageFilter:
                messageFilterType: null
              schemaReferences:
              - schemaVersion: schemaVersion
                messageId: messageId
                senderApplicationId: senderApplicationId
                schemaName: schemaName
              - schemaVersion: schemaVersion
                messageId: messageId
                senderApplicationId: senderApplicationId
                schemaName: schemaName
              acknowledgementSettings:
                acknowledgementControlNumberPrefix: acknowledgementControlNumberPrefix
                sendSynchronousAcknowledgement: true
                batchTechnicalAcknowledgements: true
                acknowledgementControlNumberUpperBound: 6
                needImplementationAcknowledgement: true
                batchFunctionalAcknowledgements: true
                needFunctionalAcknowledgement: true
                implementationAcknowledgementVersion: implementationAcknowledgementVersion
                rolloverAcknowledgementControlNumber: true
                needTechnicalAcknowledgement: true
                needLoopForValidMessages: true
                acknowledgementControlNumberLowerBound: 9
                acknowledgementControlNumberSuffix: acknowledgementControlNumberSuffix
                functionalAcknowledgementVersion: functionalAcknowledgementVersion
                batchImplementationAcknowledgements: true
              envelopeOverrides:
              - functionalIdentifierCode: functionalIdentifierCode
                receiverApplicationId: receiverApplicationId
                dateFormat: NotSpecified
                targetNamespace: targetNamespace
                headerVersion: headerVersion
                timeFormat: NotSpecified
                messageId: messageId
                responsibleAgencyCode: 8
                protocolVersion: protocolVersion
                senderApplicationId: senderApplicationId
              - functionalIdentifierCode: functionalIdentifierCode
                receiverApplicationId: receiverApplicationId
                dateFormat: NotSpecified
                targetNamespace: targetNamespace
                headerVersion: headerVersion
                timeFormat: NotSpecified
                messageId: messageId
                responsibleAgencyCode: 8
                protocolVersion: protocolVersion
                senderApplicationId: senderApplicationId
            senderBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
            receiverBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
          receiveAgreement:
            protocolSettings:
              validationOverrides:
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: null
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: null
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              x12DelimiterOverrides:
              - segmentTerminator: 6
                dataElementSeparator: 0
                replaceSeparatorsInPayload: true
                targetNamespace: targetNamespace
                segmentTerminatorSuffix: null
                componentSeparator: 7
                messageId: messageId
                replaceCharacter: 7
                protocolVersion: protocolVersion
              - segmentTerminator: 6
                dataElementSeparator: 0
                replaceSeparatorsInPayload: true
                targetNamespace: targetNamespace
                segmentTerminatorSuffix: null
                componentSeparator: 7
                messageId: messageId
                replaceCharacter: 7
                protocolVersion: protocolVersion
              messageFilterList:
              - messageId: messageId
              - messageId: messageId
              framingSettings:
                segmentTerminator: 3
                characterSet: NotSpecified
                dataElementSeparator: 5
                replaceSeparatorsInPayload: true
                segmentTerminatorSuffix: null
                componentSeparator: 6
                replaceCharacter: 6
              securitySettings:
                passwordValue: passwordValue
                securityQualifier: securityQualifier
                authorizationQualifier: authorizationQualifier
                authorizationValue: authorizationValue
              validationSettings:
                validateEDITypes: true
                checkDuplicateTransactionSetControlNumber: true
                validateXSDTypes: true
                interchangeControlNumberValidityDays: 3
                checkDuplicateInterchangeControlNumber: true
                trailingSeparatorPolicy: null
                checkDuplicateGroupControlNumber: true
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              envelopeSettings:
                receiverApplicationId: receiverApplicationId
                controlStandardsId: 9
                transactionSetControlNumberUpperBound: 6
                rolloverInterchangeControlNumber: true
                useControlStandardsIdAsRepetitionCharacter: true
                transactionSetControlNumberSuffix: transactionSetControlNumberSuffix
                usageIndicator: NotSpecified
                interchangeControlNumberLowerBound: 6
                groupControlNumberUpperBound: 3
                senderApplicationId: senderApplicationId
                functionalGroupId: functionalGroupId
                groupHeaderTimeFormat: null
                groupHeaderVersion: groupHeaderVersion
                controlVersionNumber: controlVersionNumber
                enableDefaultGroupHeaders: true
                transactionSetControlNumberLowerBound: 2
                interchangeControlNumberUpperBound: 1
                rolloverTransactionSetControlNumber: true
                groupHeaderDateFormat: null
                overwriteExistingTransactionSetControlNumber: true
                transactionSetControlNumberPrefix: transactionSetControlNumberPrefix
                groupControlNumberLowerBound: 6
                groupHeaderAgencyCode: groupHeaderAgencyCode
                rolloverGroupControlNumber: true
              processingSettings:
                createEmptyXmlTagsForTrailingSeparators: true
                useDotAsDecimalSeparator: true
                preserveInterchange: true
                maskSecurityInfo: true
                suspendInterchangeOnError: true
                convertImpliedDecimal: true
              messageFilter:
                messageFilterType: null
              schemaReferences:
              - schemaVersion: schemaVersion
                messageId: messageId
                senderApplicationId: senderApplicationId
                schemaName: schemaName
              - schemaVersion: schemaVersion
                messageId: messageId
                senderApplicationId: senderApplicationId
                schemaName: schemaName
              acknowledgementSettings:
                acknowledgementControlNumberPrefix: acknowledgementControlNumberPrefix
                sendSynchronousAcknowledgement: true
                batchTechnicalAcknowledgements: true
                acknowledgementControlNumberUpperBound: 6
                needImplementationAcknowledgement: true
                batchFunctionalAcknowledgements: true
                needFunctionalAcknowledgement: true
                implementationAcknowledgementVersion: implementationAcknowledgementVersion
                rolloverAcknowledgementControlNumber: true
                needTechnicalAcknowledgement: true
                needLoopForValidMessages: true
                acknowledgementControlNumberLowerBound: 9
                acknowledgementControlNumberSuffix: acknowledgementControlNumberSuffix
                functionalAcknowledgementVersion: functionalAcknowledgementVersion
                batchImplementationAcknowledgements: true
              envelopeOverrides:
              - functionalIdentifierCode: functionalIdentifierCode
                receiverApplicationId: receiverApplicationId
                dateFormat: NotSpecified
                targetNamespace: targetNamespace
                headerVersion: headerVersion
                timeFormat: NotSpecified
                messageId: messageId
                responsibleAgencyCode: 8
                protocolVersion: protocolVersion
                senderApplicationId: senderApplicationId
              - functionalIdentifierCode: functionalIdentifierCode
                receiverApplicationId: receiverApplicationId
                dateFormat: NotSpecified
                targetNamespace: targetNamespace
                headerVersion: headerVersion
                timeFormat: NotSpecified
                messageId: messageId
                responsibleAgencyCode: 8
                protocolVersion: protocolVersion
                senderApplicationId: senderApplicationId
            senderBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
            receiverBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
        Edifact:
          sendAgreement:
            protocolSettings:
              validationOverrides:
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: NotSpecified
                enforceCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: NotSpecified
                enforceCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              messageFilterList:
              - messageId: messageId
              - messageId: messageId
              framingSettings:
                serviceCodeListDirectoryVersion: serviceCodeListDirectoryVersion
                segmentTerminator: 5
                characterSet: NotSpecified
                dataElementSeparator: 6
                decimalPointIndicator: null
                releaseIndicator: 1
                segmentTerminatorSuffix: null
                componentSeparator: 1
                protocolVersion: 7
                repetitionSeparator: 4
                characterEncoding: characterEncoding
              validationSettings:
                validateEDITypes: true
                checkDuplicateTransactionSetControlNumber: true
                validateXSDTypes: true
                interchangeControlNumberValidityDays: 9
                checkDuplicateInterchangeControlNumber: true
                trailingSeparatorPolicy: null
                checkDuplicateGroupControlNumber: true
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              edifactDelimiterOverrides:
              - segmentTerminator: 9
                dataElementSeparator: 5
                targetNamespace: targetNamespace
                decimalPointIndicator: NotSpecified
                messageRelease: messageRelease
                releaseIndicator: 2
                segmentTerminatorSuffix: NotSpecified
                componentSeparator: 5
                messageId: messageId
                repetitionSeparator: 7
                messageVersion: messageVersion
                messageAssociationAssignedCode: messageAssociationAssignedCode
              - segmentTerminator: 9
                dataElementSeparator: 5
                targetNamespace: targetNamespace
                decimalPointIndicator: NotSpecified
                messageRelease: messageRelease
                releaseIndicator: 2
                segmentTerminatorSuffix: NotSpecified
                componentSeparator: 5
                messageId: messageId
                repetitionSeparator: 7
                messageVersion: messageVersion
                messageAssociationAssignedCode: messageAssociationAssignedCode
              envelopeSettings:
                senderInternalSubIdentification: senderInternalSubIdentification
                groupControlNumberSuffix: groupControlNumberSuffix
                rolloverInterchangeControlNumber: true
                groupApplicationSenderQualifier: groupApplicationSenderQualifier
                transactionSetControlNumberSuffix: transactionSetControlNumberSuffix
                interchangeControlNumberLowerBound: 4
                groupApplicationReceiverId: groupApplicationReceiverId
                functionalGroupId: functionalGroupId
                groupControlNumberPrefix: groupControlNumberPrefix
                processingPriorityCode: processingPriorityCode
                interchangeControlNumberPrefix: interchangeControlNumberPrefix
                enableDefaultGroupHeaders: true
                transactionSetControlNumberLowerBound: 1
                groupMessageVersion: groupMessageVersion
                receiverInternalIdentification: receiverInternalIdentification
                interchangeControlNumberUpperBound: 7
                rolloverTransactionSetControlNumber: true
                overwriteExistingTransactionSetControlNumber: true
                isTestInterchange: true
                transactionSetControlNumberPrefix: transactionSetControlNumberPrefix
                applicationReferenceId: applicationReferenceId
                groupControllingAgencyCode: groupControllingAgencyCode
                interchangeControlNumberSuffix: interchangeControlNumberSuffix
                transactionSetControlNumberUpperBound: 1
                recipientReferencePasswordValue: recipientReferencePasswordValue
                createGroupingSegments: true
                groupControlNumberUpperBound: 2
                groupApplicationReceiverQualifier: groupApplicationReceiverQualifier
                groupApplicationSenderId: groupApplicationSenderId
                senderInternalIdentification: senderInternalIdentification
                applyDelimiterStringAdvice: true
                groupMessageRelease: groupMessageRelease
                recipientReferencePasswordQualifier: recipientReferencePasswordQualifier
                receiverReverseRoutingAddress: receiverReverseRoutingAddress
                receiverInternalSubIdentification: receiverInternalSubIdentification
                groupAssociationAssignedCode: groupAssociationAssignedCode
                senderReverseRoutingAddress: senderReverseRoutingAddress
                communicationAgreementId: communicationAgreementId
                groupControlNumberLowerBound: 3
                rolloverGroupControlNumber: true
                groupApplicationPassword: groupApplicationPassword
              processingSettings:
                createEmptyXmlTagsForTrailingSeparators: true
                useDotAsDecimalSeparator: true
                preserveInterchange: true
                maskSecurityInfo: true
                suspendInterchangeOnError: true
              messageFilter:
                messageFilterType: NotSpecified
              schemaReferences:
              - associationAssignedCode: associationAssignedCode
                messageRelease: messageRelease
                messageId: messageId
                senderApplicationId: senderApplicationId
                messageVersion: messageVersion
                senderApplicationQualifier: senderApplicationQualifier
                schemaName: schemaName
              - associationAssignedCode: associationAssignedCode
                messageRelease: messageRelease
                messageId: messageId
                senderApplicationId: senderApplicationId
                messageVersion: messageVersion
                senderApplicationQualifier: senderApplicationQualifier
                schemaName: schemaName
              acknowledgementSettings:
                rolloverAcknowledgementControlNumber: true
                acknowledgementControlNumberPrefix: acknowledgementControlNumberPrefix
                needTechnicalAcknowledgement: true
                sendSynchronousAcknowledgement: true
                needLoopForValidMessages: true
                acknowledgementControlNumberLowerBound: 6
                acknowledgementControlNumberSuffix: acknowledgementControlNumberSuffix
                batchTechnicalAcknowledgements: true
                acknowledgementControlNumberUpperBound: 1
                batchFunctionalAcknowledgements: true
                needFunctionalAcknowledgement: true
              envelopeOverrides:
              - groupHeaderMessageVersion: groupHeaderMessageVersion
                receiverApplicationId: receiverApplicationId
                groupHeaderMessageRelease: groupHeaderMessageRelease
                messageId: messageId
                senderApplicationId: senderApplicationId
                functionalGroupId: functionalGroupId
                messageAssociationAssignedCode: messageAssociationAssignedCode
                receiverApplicationQualifier: receiverApplicationQualifier
                controllingAgencyCode: controllingAgencyCode
                associationAssignedCode: associationAssignedCode
                targetNamespace: targetNamespace
                messageRelease: messageRelease
                messageVersion: messageVersion
                senderApplicationQualifier: senderApplicationQualifier
                applicationPassword: applicationPassword
              - groupHeaderMessageVersion: groupHeaderMessageVersion
                receiverApplicationId: receiverApplicationId
                groupHeaderMessageRelease: groupHeaderMessageRelease
                messageId: messageId
                senderApplicationId: senderApplicationId
                functionalGroupId: functionalGroupId
                messageAssociationAssignedCode: messageAssociationAssignedCode
                receiverApplicationQualifier: receiverApplicationQualifier
                controllingAgencyCode: controllingAgencyCode
                associationAssignedCode: associationAssignedCode
                targetNamespace: targetNamespace
                messageRelease: messageRelease
                messageVersion: messageVersion
                senderApplicationQualifier: senderApplicationQualifier
                applicationPassword: applicationPassword
            senderBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
            receiverBusinessIdentity:
              Value: Value
              Qualifier: Qualifier
          receiveAgreement:
            protocolSettings:
              validationOverrides:
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: NotSpecified
                enforceCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              - validateEDITypes: true
                validateXSDTypes: true
                messageId: messageId
                trailingSeparatorPolicy: NotSpecified
                enforceCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              messageFilterList:
              - messageId: messageId
              - messageId: messageId
              framingSettings:
                serviceCodeListDirectoryVersion: serviceCodeListDirectoryVersion
                segmentTerminator: 5
                characterSet: NotSpecified
                dataElementSeparator: 6
                decimalPointIndicator: null
                releaseIndicator: 1
                segmentTerminatorSuffix: null
                componentSeparator: 1
                protocolVersion: 7
                repetitionSeparator: 4
                characterEncoding: characterEncoding
              validationSettings:
                validateEDITypes: true
                checkDuplicateTransactionSetControlNumber: true
                validateXSDTypes: true
                interchangeControlNumberValidityDays: 9
                checkDuplicateInterchangeControlNumber: true
                trailingSeparatorPolicy: null
                checkDuplicateGroupControlNumber: true
                validateCharacterSet: true
                allowLeadingAndTrailingSpacesAndZeroes: true
                trimLeadingAndTrailingSpacesAndZeroes: true
              edifactDelimiterOverrides:
              - segmentTerminator: 9
                dataElementSeparator: 5
                targetNamespace: targetNamespace
                decimalPointIndicator: NotSpecified
                messageRelease: messageRelease
                releaseIndicator: 2
                segmentTerminatorSuffix: NotSpecified
                componentSeparator: 5
                messageId: messageId
                repetitionSeparator: 7
                messageVersion: messageVersion
                messageAssociationAssignedCode: messageAssociationAssignedCode
              - segmentTerminator: 9
                dataElementSeparator: 5
                targetNamespace: targetNamespace
                decimalPointIndicator: NotSpecified
                messageRelease: messageRelease
                releaseIndicator: 2
                segmentTerminatorSuffix: NotSpecified
                componentSeparator: 5
                messageId: messageId
                repetitionSeparator: 7
                messageVersion: messageVersion
                messageAssociationAssignedCode: messageAssociationAssignedCode
              envelopeSettings:
                senderInternalSubIdentification: senderInternalSubIdentification
                groupControlNumberSuffix: groupControlNumberSuffix
                rolloverInterchangeControlNumber: true
                groupApplicationSenderQualifier: groupApplicationSenderQualifier
                transactionSetControlNumberSuffix: transactionSetControlNumberSuffix
                interchangeControlNumberLowerBound: 4
                groupApplicationReceiverId: groupApplicationReceiverId
                functionalGroupId: functionalGroupId
                groupControlNumberPrefix: groupControlNumberPrefix
                processingPriorityCode: processingPriorityCode
                interchangeControlNumberPrefix: interchangeControlNumberPrefix
                enableDefaultGroupHeaders: true
                transactionSetControlNumberLowerBound: 1
                groupMessageVersion: groupMessageVersion
                receiverInternalIdentification: receiverInternalIdentification
                interchangeControlNumberUpperBound: 7
                rolloverTransactionSetControlNumber: true
                overwriteExistingTransactionSetControlNumber: true
                isTestInterchange: true
                transactionSetControlNumberPrefix: transactionSetControlNumberPrefix
                applicationReferenceId: applicationReferenceId
                groupControllingAgencyCode: groupControllingAgencyCode
                interchangeControlNumberSuffix: interchangeControlNumberSuffix
                transactionSetControlNumberUpperBound: 1
                recipientReferencePasswordValue: recipientReferencePasswordValue
                createGroupingSegments: true
                groupControlNumberUpperBound: 2
                groupApplicationReceiverQualifier: groupApplicationReceiverQualifier
                groupApplicationSenderId: groupApplicationSenderId
                senderInternalIdentification: senderInternalIdentification
                applyDelimiterStringAdvice: true
                groupMessageRelease: groupMessageRelease
                recipientReferencePasswordQualifier: recipientReferencePasswordQualifier
[...]
