openapi: 3.0.1
info:
  description: ARM applications
  title: ApplicationClient
  version: 2017-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2017-09-01/managedapplications.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-managedapplications
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications:
    get:
      description: Gets all the applications within a subscription.
      operationId: applications_list_by_subscription
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK - Returns an array of applications.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.applications_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions:
    get:
      description: Lists the managed application definitions in a resource group.
      operationId: application_definitions_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinitionListResult'
          description: OK - Returns an array of managed application definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        List managed application definitions:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                  location: East US 2
                  name: myManagedApplicationDef
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/managedApplicationCreateUiDefinition.json
                    - name: ManagedApplicationResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myManagedApplicationDef description
                    displayName: myManagedApplicationDef
                    packageFileUri: https://path/to/packagezipfile
                  resourceGroup: rg
                  type: Microsoft.Solutions/applicationDefinitions
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef2
                  location: West US
                  name: myManagedApplicationDef2
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/managedApplicationCreateUiDefinition.json
                    - name: ManagedApplicationResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myManagedApplicationDef2 description
                    displayName: myManagedApplicationDef2
                    packageFileUri: https://path/to/packagezipfile
                  resourceGroup: rg
                  type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}
  : delete:
      description: Deletes the managed application definition.
      operationId: application_definitions_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition to delete.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
    get:
      description: Gets the managed application definition.
      operationId: application_definitions_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: OK - Returns the managed application definition.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        Get managed application definition:
          parameters:
            api-version: 2017-09-01
            managedApplicationName: myManagedApplicationDef
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                location: East US 2
                name: myManagedApplicationDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/managedApplicationCreateUiDefinition.json
                  - name: ManagedApplicationResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myManagedApplicationDef description
                  displayName: myManagedApplicationDef
                  packageFileUri: https://path/to/packagezipfile
                resourceGroup: rg
                type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
    put:
      description: Creates a new managed application definition.
      operationId: application_definitions_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update an managed application
          definition.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "OK - Returns information about the managed application definition,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "Created - Returns information about the managed application\
            \ definition, including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        Create or update managed application definition:
          parameters:
            api-version: 2017-09-01
            managedApplicationDefinitionName: myManagedApplicationDef
            parameters:
              location: East US 2
              properties:
                authorizations:
                - principalId: validprincipalguid
                  roleDefinitionId: validroleguid
                description: myManagedApplicationDef description
                displayName: myManagedApplicationDef
                lockLevel: None
                packageFileUri: https://path/to/packagezipfile
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                location: East US 2
                name: myManagedApplicationDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/managedApplicationCreateUiDefinition.json
                  - name: ManagedApplicationResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myManagedApplicationDef description
                  displayName: myManagedApplicationDef
                  packageFileUri: https://path/to/packagezipfile
                resourceGroup: rg
                type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications:
    get:
      description: Gets all the applications within a resource group.
      operationId: applications_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK - Returns an array of applications.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Lists applications:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                  kind: ServiceCatalog
                  location: East US 2
                  name: myManagedApplication
                  properties:
                    managedApplicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/managedApplicationCreateUiDefinition.json
                  resourceGroup: rg
                  type: Microsoft.Solutions/applications
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication2
                  kind: ServiceCatalog
                  location: West US
                  name: myManagedApplication2
                  properties:
                    managedApplicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef2
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/managedApplicationCreateUiDefinition.json
                  resourceGroup: rg
                  type: Microsoft.Solutions/applications
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.applications_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}:
    delete:
      description: Deletes the managed application.
      operationId: applications_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    get:
      description: Gets the managed application.
      operationId: applications_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK - Returns the managed application.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Get a managed application:
          parameters:
            api-version: 2017-09-01
            managedApplicationName: myManagedApplication
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                kind: ServiceCatalog
                location: East US 2
                name: myManagedApplication
                properties:
                  managedApplicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/managedApplicationCreateUiDefinition.json
                resourceGroup: rg
                type: Microsoft.Solutions/applications
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    patch:
      description: Updates an existing managed application. The only value that can
        be updated via PATCH currently is the tags.
      operationId: applications_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to update an existing managed application.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    put:
      description: Creates a new managed application.
      operationId: applications_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to the create or update a managed application.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Create or update managed application:
          parameters:
            api-version: 2017-09-01
            managedApplicationName: myManagedApplication
            parameters:
              kind: ServiceCatalog
              location: East US 2
              name: myManagedApplication
              properties:
                managedApplicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef
                managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                kind: ServiceCatalog
                location: East US 2
                name: myManagedApplication
                properties:
                  managedApplicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/managedApplicationCreateUiDefinition.json
                resourceGroup: rg
                type: Microsoft.Solutions/applications
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.applications_controller
  /{applicationDefinitionId}:
    delete:
      description: Deletes the managed application definition.
      operationId: application_definitions_delete_by_id
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
    get:
      description: Gets the managed application definition.
      operationId: application_definitions_get_by_id
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: OK - Returns the managed application definition.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
    put:
      description: Creates a new managed application definition.
      operationId: application_definitions_create_or_update_by_id
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update a managed application
          definition.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "OK - Returns information about the managed application definition,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "Created - Returns information about the managed application\
            \ definition, including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.application_definitions_controller
  /{applicationId}:
    delete:
      description: Deletes the managed application.
      operationId: applications_delete_by_id
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    get:
      description: Gets the managed application.
      operationId: applications_get_by_id
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK - Returns the managed application.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    patch:
      description: Updates an existing managed application. The only value that can
        be updated via PATCH currently is the tags.
      operationId: applications_update_by_id
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to update an existing managed application.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.applications_controller
    put:
      description: Creates a new managed application.
      operationId: applications_create_or_update_by_id
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to the create or update a managed application.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.applications_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Application:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application.
      example:
        kind: kind
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
          version: version
        properties:
          outputs: "{}"
          uiDefinitionUri: uiDefinitionUri
          managedResourceGroupId: managedResourceGroupId
          provisioningState: Accepted
          applicationDefinitionId: applicationDefinitionId
          parameters: "{}"
      properties:
        kind:
          description: The kind of the managed application. Allowed values are MarketPlace
            and ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          title: kind
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
      required:
      - kind
      - properties
      title: Application
    ApplicationArtifact:
      description: Managed application artifact.
      example:
        name: name
        type: Template
        uri: uri
      properties:
        name:
          description: The managed application artifact name.
          title: name
          type: string
        type:
          $ref: '#/components/schemas/ApplicationArtifactType'
        uri:
          description: The managed application artifact blob uri.
          title: uri
          type: string
      title: ApplicationArtifact
      type: object
    ApplicationArtifactType:
      description: The managed application artifact type.
      enum:
      - Template
      - Custom
      title: ApplicationArtifactType
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplicationArtifactType
    ApplicationDefinition:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application definition.
      example:
        properties:
          mainTemplate: "{}"
          displayName: displayName
          lockLevel: CanNotDelete
          packageFileUri: packageFileUri
          createUiDefinition: "{}"
          isEnabled: isEnabled
          authorizations:
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          description: description
          artifacts:
          - name: name
            type: Template
            uri: uri
          - name: name
            type: Template
            uri: uri
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationDefinitionProperties'
      required:
      - properties
      title: ApplicationDefinition
    ApplicationDefinitionListResult:
      description: List of managed application definitions.
      example:
        value:
        - properties:
            mainTemplate: "{}"
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            createUiDefinition: "{}"
            isEnabled: isEnabled
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            description: description
            artifacts:
            - name: name
              type: Template
              uri: uri
            - name: name
              type: Template
              uri: uri
        - properties:
            mainTemplate: "{}"
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            createUiDefinition: "{}"
            isEnabled: isEnabled
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            description: description
            artifacts:
            - name: name
              type: Template
              uri: uri
            - name: name
              type: Template
              uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: The array of managed application definitions.
          items:
            $ref: '#/components/schemas/ApplicationDefinition'
          title: value
          type: array
      title: ApplicationDefinitionListResult
      type: object
    ApplicationDefinitionProperties:
      description: The managed application definition properties.
      example:
        mainTemplate: "{}"
        displayName: displayName
        lockLevel: CanNotDelete
        packageFileUri: packageFileUri
        createUiDefinition: "{}"
        isEnabled: isEnabled
        authorizations:
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        description: description
        artifacts:
        - name: name
          type: Template
          uri: uri
        - name: name
          type: Template
          uri: uri
      properties:
        artifacts:
          description: The collection of managed application artifacts. The portal
            will use the files specified as artifacts to construct the user experience
            of creating a managed application from a managed application definition.
          items:
            $ref: '#/components/schemas/ApplicationArtifact'
          title: artifacts
          type: array
        authorizations:
          description: The managed application provider authorizations.
          items:
            $ref: '#/components/schemas/ApplicationProviderAuthorization'
          title: authorizations
          type: array
        createUiDefinition:
          description: The createUiDefinition json for the backing template with Microsoft.Solutions/applications
            resource. It can be a JObject or well-formed JSON string.
          properties: {}
          title: createUiDefinition
          type: object
        description:
          description: The managed application definition description.
          title: description
          type: string
        displayName:
          description: The managed application definition display name.
          title: displayName
          type: string
        isEnabled:
          description: A value indicating whether the package is enabled or not.
          title: isEnabled
          type: string
        lockLevel:
          $ref: '#/components/schemas/ApplicationLockLevel'
        mainTemplate:
          description: The inline main template json which has resources to be provisioned.
            It can be a JObject or well-formed JSON string.
          properties: {}
          title: mainTemplate
          type: object
        packageFileUri:
          description: The managed application definition package file Uri. Use this
            element
          title: packageFileUri
          type: string
      required:
      - authorizations
      - lockLevel
      title: ApplicationDefinitionProperties
      type: object
    ApplicationListResult:
      description: List of managed applications.
      example:
        value:
        - kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            outputs: "{}"
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            provisioningState: Accepted
            applicationDefinitionId: applicationDefinitionId
            parameters: "{}"
        - kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            outputs: "{}"
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            provisioningState: Accepted
            applicationDefinitionId: applicationDefinitionId
            parameters: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: The array of managed applications.
          items:
            $ref: '#/components/schemas/Application'
          title: value
          type: array
      title: ApplicationListResult
      type: object
    ApplicationLockLevel:
      description: The managed application lock level.
      enum:
      - CanNotDelete
      - ReadOnly
      - None
      title: ApplicationLockLevel
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplicationLockLevel
    ApplicationPatchable:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application.
      properties:
        kind:
          description: The kind of the managed application. Allowed values are MarketPlace
            and ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          type: string
        plan:
          $ref: '#/components/schemas/PlanPatchable'
        properties:
          $ref: '#/components/schemas/ApplicationPropertiesPatchable'
    ApplicationProperties:
      description: The managed application properties.
      example:
        outputs: "{}"
        uiDefinitionUri: uiDefinitionUri
        managedResourceGroupId: managedResourceGroupId
        provisioningState: Accepted
        applicationDefinitionId: applicationDefinitionId
        parameters: "{}"
      properties:
        applicationDefinitionId:
          description: The fully qualified path of managed application definition
            Id.
          title: applicationDefinitionId
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          title: managedResourceGroupId
          type: string
        outputs:
          description: Name and value pairs that define the managed application outputs.
          properties: {}
          readOnly: true
          title: outputs
          type: object
        parameters:
          description: Name and value pairs that define the managed application parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          title: parameters
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          title: uiDefinitionUri
          type: string
      required:
      - managedResourceGroupId
      title: ApplicationProperties
      type: object
    ApplicationPropertiesPatchable:
      description: The managed application properties.
      properties:
        applicationDefinitionId:
          description: The fully qualified path of managed application definition
            Id.
          title: applicationDefinitionId
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          title: managedResourceGroupId
          type: string
        outputs:
          description: Name and value pairs that define the managed application outputs.
          properties: {}
          readOnly: true
          title: outputs
          type: object
        parameters:
          description: Name and value pairs that define the managed application parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          title: parameters
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          title: uiDefinitionUri
          type: string
      title: ApplicationPropertiesPatchable
      type: object
    ApplicationProviderAuthorization:
      description: The managed application provider authorization.
      example:
        roleDefinitionId: roleDefinitionId
        principalId: principalId
      properties:
        principalId:
          description: The provider's principal identifier. This is the identity that
            the provider will use to call ARM to manage the managed application resources.
          title: principalId
          type: string
        roleDefinitionId:
          description: The provider's role definition identifier. This role will define
            all the permissions that the provider must have on the managed application's
            container resource group. This role definition cannot have permission
            to delete the resource group.
          title: roleDefinitionId
          type: string
      required:
      - principalId
      - roleDefinitionId
      title: ApplicationProviderAuthorization
      type: object
    ErrorResponse:
      description: Error response indicates managed application is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        httpStatus: httpStatus
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        errorCode:
          description: Error code.
          title: errorCode
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          title: errorMessage
          type: string
        httpStatus:
          description: Http status code.
          title: httpStatus
          type: string
      title: ErrorResponse
      type: object
    GenericResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        managedBy:
          description: ID of the resource that manages this resource.
          title: managedBy
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
      title: GenericResource
    Identity:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      title: Identity
      type: object
    Plan:
      description: Plan for the managed application.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
        version: version
      properties:
        name:
          description: The plan name.
          title: name
          type: string
        product:
          description: The product code.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
        version:
          description: The plan's version.
          title: version
          type: string
      required:
      - name
      - product
      - publisher
      - version
      title: Plan
      type: object
    PlanPatchable:
      description: Plan for the managed application.
      properties:
        name:
          description: The plan name.
          title: name
          type: string
        product:
          description: The product code.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
        version:
          description: The plan's version.
          title: version
          type: string
      title: PlanPatchable
      type: object
    ProvisioningState:
      description: Provisioning status of the managed application.
      enum:
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      title: ProvisioningState
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Resource information.
      properties:
        id:
          description: Resource ID
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU for the resource.
      properties:
        capacity:
          description: The SKU capacity.
          format: int32
          title: capacity
          type: integer
        family:
          description: The SKU family.
          title: family
          type: string
        model:
          description: The SKU model.
          title: model
          type: string
        name:
          description: The SKU name.
          title: name
          type: string
        size:
          description: The SKU size.
          title: size
          type: string
        tier:
          description: The SKU tier.
          title: tier
          type: string
      required:
      - name
      title: Sku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-hasEquivalentPaths: true
x-original-swagger-version: "2.0"
