openapi: 3.0.0
info:
  contact:
    email: support@giphy.com
  description: Giphy API
  termsOfService: https://developers.giphy.com/
  title: Giphy API
  version: "1.0"
  x-apisguru-categories:
  - media
  x-logo:
    url: https://twitter.com/GIPHY/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/faragorn/open-api-specs/master/specs/giphy_api/1.0/index.yml
    version: "3.0"
  x-providerName: giphy.com
externalDocs:
  description: Official Giphy Documentation
  url: https://developers.giphy.com/docs/
servers:
- url: https://api.giphy.com/v1
security:
- api_key: []
tags:
- name: gifs
- name: stickers
paths:
  /gifs:
    get:
      description: |
        A multiget version of the get GIF by ID endpoint.
      operationId: get_gifs_by_id
      parameters:
      - description: "Filters results by specified GIF IDs, separated by commas."
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGifsById_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Get GIFs by ID
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /gifs/random:
    get:
      description: |
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      operationId: random_gif
      parameters:
      - description: Filters results by specified tag.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomGif_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Random GIF
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /gifs/search:
    get:
      description: |
        Search all GIPHY GIFs for a word or phrase. Punctuation will be stripped and ignored.  Use a plus or url encode for phrases. Example paul+rudd, ryan+gosling or american+psycho.
      operationId: search_gifs
      parameters:
      - description: Search query term or prhase.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: An optional results offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      - description: Specify default language for regional content; use a 2-letter
          ISO 639-1 language code.
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGifsById_200_response'
          description: Search results
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Search GIFs
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /gifs/translate:
    get:
      description: |
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIF
      operationId: translate_gif
      parameters:
      - description: Search term.
        explode: true
        in: query
        name: s
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomGif_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Translate phrase to GIF
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /gifs/trending:
    get:
      description: |
        Fetch GIFs currently trending online. Hand curated by the GIPHY editorial team.  The data returned mirrors the GIFs showcased on the GIPHY homepage. Returns 25 results by default.
      operationId: trending_gifs
      parameters:
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: An optional results offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGifsById_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Trending GIFs
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /gifs/{gifId}:
    get:
      description: |
        Returns a GIF given that GIF's unique ID
      operationId: get_gif_by_id
      parameters:
      - description: Filters results by specified GIF ID.
        explode: false
        in: path
        name: gifId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomGif_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Get GIF by Id
      tags:
      - gifs
      x-openapi-router-controller: openapi_server.controllers.gifs_controller
  /stickers/random:
    get:
      description: |
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      operationId: random_sticker
      parameters:
      - description: Filters results by specified tag.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomGif_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Random Sticker
      tags:
      - stickers
      x-openapi-router-controller: openapi_server.controllers.stickers_controller
  /stickers/search:
    get:
      description: |
        Replicates the functionality and requirements of the classic GIPHY search, but returns animated stickers rather than GIFs.
      operationId: search_stickers
      parameters:
      - description: Search query term or prhase.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: An optional results offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      - description: Specify default language for regional content; use a 2-letter
          ISO 639-1 language code.
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGifsById_200_response'
          description: Search results
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Search Stickers
      tags:
      - stickers
      x-openapi-router-controller: openapi_server.controllers.stickers_controller
  /stickers/translate:
    get:
      description: |
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIFs.
      operationId: translate_sticker
      parameters:
      - description: Search term.
        explode: true
        in: query
        name: s
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomGif_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Translate phrase to Sticker
      tags:
      - stickers
      x-openapi-router-controller: openapi_server.controllers.stickers_controller
  /stickers/trending:
    get:
      description: |
        Fetch Stickers currently trending online. Hand curated by the GIPHY editorial team. Returns 25 results by default.
      operationId: trending_stickers
      parameters:
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: An optional results offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filters results by specified rating.
        explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGifsById_200_response'
          description: ""
        "400":
          description: Your request was formatted incorrectly or missing required
            parameters.
        "403":
          description: You weren't authorized to make your request; most likely this
            indicates an issue with your API Key.
        "404":
          description: "The particular GIF you are requesting was not found. This\
            \ occurs, for example, if you request a GIF by an id that does not exist."
        "429":
          description: |
            Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
      summary: Trending Stickers
      tags:
      - stickers
      x-openapi-router-controller: openapi_server.controllers.stickers_controller
components:
  parameters:
    gifId:
      description: Filters results by specified GIF ID.
      explode: false
      in: path
      name: gifId
      required: true
      schema:
        format: int32
        type: integer
      style: simple
    gifIds:
      description: "Filters results by specified GIF IDs, separated by commas."
      explode: true
      in: query
      name: ids
      required: false
      schema:
        type: string
      style: form
    lang:
      description: Specify default language for regional content; use a 2-letter ISO
        639-1 language code.
      explode: true
      in: query
      name: lang
      required: false
      schema:
        type: string
      style: form
    limit:
      description: The maximum number of records to return.
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 25
        format: int32
        type: integer
      style: form
    offset:
      description: An optional results offset.
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        format: int32
        type: integer
      style: form
    query:
      description: Search query term or prhase.
      explode: true
      in: query
      name: q
      required: true
      schema:
        type: string
      style: form
    rating:
      description: Filters results by specified rating.
      explode: true
      in: query
      name: rating
      required: false
      schema:
        type: string
      style: form
    tag:
      description: Filters results by specified tag.
      explode: true
      in: query
      name: tag
      required: false
      schema:
        type: string
      style: form
    term:
      description: Search term.
      explode: true
      in: query
      name: s
      required: true
      schema:
        type: string
      style: form
  responses:
    BadRequest:
      description: Your request was formatted incorrectly or missing required parameters.
    Forbidden:
      description: You weren't authorized to make your request; most likely this indicates
        an issue with your API Key.
    NotFound:
      description: "The particular GIF you are requesting was not found. This occurs,\
        \ for example, if you request a GIF by an id that does not exist."
    TooManyRequests:
      description: |
        Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
  schemas:
    Gif:
      example:
        import_datetime: 2000-01-23T04:56:07.000+00:00
        images:
          preview:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          original:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          preview_gif:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_height_small:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          looping:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          downsized_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_width:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          downsized_large:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_height_downsampled:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          downsized_medium:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_height:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_height_small_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_width_downsampled:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          downsized_small:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_width_small:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_height_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_width_small_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          fixed_width_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          downsized:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
          original_still:
            mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
            frames: "15"
            size: "32381"
            width: "320"
            mp4_size: "25123"
            webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
            webp_size: "12321"
            url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
            height: "200"
        trending_datetime: 2000-01-23T04:56:07.000+00:00
        update_datetime: 2000-01-23T04:56:07.000+00:00
        bitly_url: http://gph.is/1gsWDcL
        rating: g
        source: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
        type: gif
        source_tld: cheezburger.com
        url: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
        tags:
        - tags
        - tags
        create_datetime: 2000-01-23T04:56:07.000+00:00
        source_post_url: http://cheezburger.com/5282328320
        content_url: content_url
        featured_tags:
        - featured_tags
        - featured_tags
        id: YsTs5ltWtEhnq
        user:
          twitter: '@joecool4000'
          avatar_url: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
          profile_url: https://giphy.com/cheezburger/
          banner_url: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
          display_name: JoeCool4000
          username: joecool4000
        slug: confused-flying-YsTs5ltWtEhnq
        embded_url: http://giphy.com/embed/YsTs5ltWtEhnq
        username: JoeCool4000
      properties:
        bitly_url:
          description: The unique bit.ly URL for this GIF
          example: http://gph.is/1gsWDcL
          title: bitly_url
          type: string
        content_url:
          description: Currently unused
          title: content_url
          type: string
        create_datetime:
          description: The date this GIF was added to the GIPHY database.
          format: date-time
          title: create_datetime
          type: string
        embded_url:
          description: A URL used for embedding this GIF
          example: http://giphy.com/embed/YsTs5ltWtEhnq
          title: embded_url
          type: string
        featured_tags:
          description: |
            An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)
          items:
            description: Tag name
            type: string
          title: featured_tags
          type: array
        id:
          description: This GIF's unique ID
          example: YsTs5ltWtEhnq
          title: id
          type: string
        images:
          $ref: '#/components/schemas/Gif_images'
        import_datetime:
          description: The creation or upload date from this GIF's source.
          format: date-time
          title: import_datetime
          type: string
        rating:
          description: "The MPAA-style rating for this content. Examples include Y,\
            \ G, PG, PG-13 and R"
          example: g
          title: rating
          type: string
        slug:
          description: The unique slug used in this GIF's URL
          example: confused-flying-YsTs5ltWtEhnq
          title: slug
          type: string
        source:
          description: The page on which this GIF was found
          example: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
          title: source
          type: string
        source_post_url:
          description: The URL of the webpage on which this GIF was found.
          example: http://cheezburger.com/5282328320
          title: source_post_url
          type: string
        source_tld:
          description: The top level domain of the source URL.
          example: cheezburger.com
          title: source_tld
          type: string
        tags:
          description: |
            An array of tags for this GIF (Note: Not available when using the Public Beta Key)
          items:
            description: Tag name
            type: string
          title: tags
          type: array
        trending_datetime:
          description: "The date on which this gif was marked trending, if applicable."
          format: date-time
          title: trending_datetime
          type: string
        type:
          default: gif
          description: "Type of the gif. By default, this is almost always gif"
          enum:
          - gif
          title: type
          type: string
        update_datetime:
          description: The date on which this GIF was last updated.
          format: date-time
          title: update_datetime
          type: string
        url:
          description: The unique URL for this GIF
          example: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
          title: url
          type: string
        user:
          $ref: '#/components/schemas/User'
        username:
          description: "The username this GIF is attached to, if applicable"
          example: JoeCool4000
          title: username
          type: string
      title: Gif
      type: object
    Image:
      properties:
        frames:
          description: The number of frames in this GIF.
          example: "15"
          title: frames
          type: string
        height:
          description: The height of this GIF in pixels.
          example: "200"
          title: height
          type: string
        mp4:
          description: The URL for this GIF in .MP4 format.
          example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          title: mp4
          type: string
        mp4_size:
          description: The size in bytes of the .MP4 file corresponding to this GIF.
          example: "25123"
          title: mp4_size
          type: string
        size:
          description: The size of this GIF in bytes.
          example: "32381"
          title: size
          type: string
        url:
          description: The publicly-accessible direct URL for this GIF.
          example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          title: url
          type: string
        webp:
          description: The URL for this GIF in .webp format.
          example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          title: webp
          type: string
        webp_size:
          description: The size in bytes of the .webp file corresponding to this GIF.
          example: "12321"
          title: webp_size
          type: string
        width:
          description: The width of this GIF in pixels.
          example: "320"
          title: width
          type: string
      title: Image
      type: object
    Meta:
      description: |
        The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      example:
        msg: OK
        response_id: 57eea03c72381f86e05c35d2
        status: 200
      properties:
        msg:
          description: HTTP Response Message
          example: OK
          title: msg
          type: string
        response_id:
          description: A unique ID paired with this response from the API.
          example: 57eea03c72381f86e05c35d2
          title: response_id
          type: string
        status:
          description: HTTP Response Code
          example: 200
          format: int32
          title: status
          type: integer
      title: Meta
      type: object
    Pagination:
      description: |
        The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
      example:
        offset: 75
        total_count: 250
        count: 25
      properties:
        count:
          description: Total number of items returned.
          example: 25
          format: int32
          title: count
          type: integer
        offset:
          description: Position in pagination.
          example: 75
          format: int32
          title: offset
          type: integer
        total_count:
          description: Total number of items available.
          example: 250
          format: int32
          title: total_count
          type: integer
      title: Pagination
      type: object
    User:
      description: "The User Object contains information about the user associated\
        \ with a GIF and URLs to assets such as that user's avatar image, profile,\
        \ and more."
      example:
        twitter: '@joecool4000'
        avatar_url: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
        profile_url: https://giphy.com/cheezburger/
        banner_url: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
        display_name: JoeCool4000
        username: joecool4000
      properties:
        avatar_url:
          description: The URL for this user's avatar image.
          example: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
          title: avatar_url
          type: string
        banner_url:
          description: The URL for the banner image that appears atop this user's
            profile page.
          example: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
          title: banner_url
          type: string
        display_name:
          description: The display name associated with this user (contains formatting
            the base username might not).
          example: JoeCool4000
          title: display_name
          type: string
        profile_url:
          description: The URL for this user's profile.
          example: https://giphy.com/cheezburger/
          title: profile_url
          type: string
        twitter:
          description: "The Twitter username associated with this user, if applicable."
          example: '@joecool4000'
          title: twitter
          type: string
        username:
          description: The username associated with this user.
          example: joecool4000
          title: username
          type: string
      title: User
      type: object
    getGifsById_200_response:
      example:
        pagination:
          offset: 75
          total_count: 250
          count: 25
        data:
        - import_datetime: 2000-01-23T04:56:07.000+00:00
          images:
            preview:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            preview_gif:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            looping:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_large:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_medium:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
          trending_datetime: 2000-01-23T04:56:07.000+00:00
          update_datetime: 2000-01-23T04:56:07.000+00:00
          bitly_url: http://gph.is/1gsWDcL
          rating: g
          source: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
          type: gif
          source_tld: cheezburger.com
          url: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
          tags:
          - tags
          - tags
          create_datetime: 2000-01-23T04:56:07.000+00:00
          source_post_url: http://cheezburger.com/5282328320
          content_url: content_url
          featured_tags:
          - featured_tags
          - featured_tags
          id: YsTs5ltWtEhnq
          user:
            twitter: '@joecool4000'
            avatar_url: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
            profile_url: https://giphy.com/cheezburger/
            banner_url: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
            display_name: JoeCool4000
            username: joecool4000
          slug: confused-flying-YsTs5ltWtEhnq
          embded_url: http://giphy.com/embed/YsTs5ltWtEhnq
          username: JoeCool4000
        - import_datetime: 2000-01-23T04:56:07.000+00:00
          images:
            preview:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            preview_gif:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            looping:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_large:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_medium:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
          trending_datetime: 2000-01-23T04:56:07.000+00:00
          update_datetime: 2000-01-23T04:56:07.000+00:00
          bitly_url: http://gph.is/1gsWDcL
          rating: g
          source: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
          type: gif
          source_tld: cheezburger.com
          url: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
          tags:
          - tags
          - tags
          create_datetime: 2000-01-23T04:56:07.000+00:00
          source_post_url: http://cheezburger.com/5282328320
          content_url: content_url
          featured_tags:
          - featured_tags
          - featured_tags
          id: YsTs5ltWtEhnq
          user:
            twitter: '@joecool4000'
            avatar_url: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
            profile_url: https://giphy.com/cheezburger/
            banner_url: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
            display_name: JoeCool4000
            username: joecool4000
          slug: confused-flying-YsTs5ltWtEhnq
          embded_url: http://giphy.com/embed/YsTs5ltWtEhnq
          username: JoeCool4000
        meta:
          msg: OK
          response_id: 57eea03c72381f86e05c35d2
          status: 200
      properties:
        data:
          items:
            $ref: '#/components/schemas/Gif'
          title: data
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
        pagination:
          $ref: '#/components/schemas/Pagination'
      title: getGifsById_200_response
      type: object
    randomGif_200_response:
      example:
        data:
          import_datetime: 2000-01-23T04:56:07.000+00:00
          images:
            preview:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            preview_gif:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            looping:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_large:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_medium:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_downsampled:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_height_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_small_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            fixed_width_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            downsized:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
            original_still:
              mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
              frames: "15"
              size: "32381"
              width: "320"
              mp4_size: "25123"
              webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
              webp_size: "12321"
              url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
              height: "200"
          trending_datetime: 2000-01-23T04:56:07.000+00:00
          update_datetime: 2000-01-23T04:56:07.000+00:00
          bitly_url: http://gph.is/1gsWDcL
          rating: g
          source: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
          type: gif
          source_tld: cheezburger.com
          url: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
          tags:
          - tags
          - tags
          create_datetime: 2000-01-23T04:56:07.000+00:00
          source_post_url: http://cheezburger.com/5282328320
          content_url: content_url
          featured_tags:
          - featured_tags
          - featured_tags
          id: YsTs5ltWtEhnq
          user:
            twitter: '@joecool4000'
            avatar_url: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
            profile_url: https://giphy.com/cheezburger/
            banner_url: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
            display_name: JoeCool4000
            username: joecool4000
          slug: confused-flying-YsTs5ltWtEhnq
          embded_url: http://giphy.com/embed/YsTs5ltWtEhnq
          username: JoeCool4000
        meta:
          msg: OK
          response_id: 57eea03c72381f86e05c35d2
          status: 200
      properties:
        data:
          $ref: '#/components/schemas/Gif'
        meta:
          $ref: '#/components/schemas/Meta'
      title: randomGif_200_response
      type: object
    Gif_images_downsized:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF downsized to be under
          2mb.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_downsized
    Gif_images_downsized_large:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF downsized to be under
          8mb.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_downsized_large
    Gif_images_downsized_medium:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF downsized to be under
          5mb.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_downsized_medium
    Gif_images_downsized_small:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF downsized to be under
          200kb.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_downsized_small
    Gif_images_downsized_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static preview image of the downsized version
          of this GIF.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_downsized_still
    Gif_images_fixed_height:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed height of
          200 pixels. Good for mobile use.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_height
    Gif_images_fixed_height_downsampled:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed height of
          200 pixels and the number of frames reduced to 6.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_height_downsampled
    Gif_images_fixed_height_small:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed height of
          100 pixels. Good for mobile keyboards.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_height_small
    Gif_images_fixed_height_small_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static image of this GIF with a fixed height
          of 100 pixels.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_height_small_still
    Gif_images_fixed_height_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static image of this GIF with a fixed height
          of 200 pixels.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_height_still
    Gif_images_fixed_width:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed width of 200
          pixels. Good for mobile use.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_width
    Gif_images_fixed_width_downsampled:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed width of 200
          pixels and the number of frames reduced to 6.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_width_downsampled
    Gif_images_fixed_width_small:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding versions of this GIF with a fixed width of 100
          pixels. Good for mobile keyboards.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_width_small
    Gif_images_fixed_width_small_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static image of this GIF with a fixed width
          of 100 pixels.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_width_small_still
    Gif_images_fixed_width_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static image of this GIF with a fixed width
          of 200 pixels.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_fixed_width_still
    Gif_images_looping:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF set to loop for 15 seconds.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_looping
    Gif_images_original:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding the original version of this GIF. Good for desktop
          use.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_original
    Gif_images_original_still:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a static preview image of the original GIF.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_original_still
    Gif_images_preview:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF in .MP4 format limited
          to 50kb that displays the first 1-2 seconds of the GIF.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_preview
    Gif_images_preview_gif:
      allOf:
      - $ref: '#/components/schemas/Image'
      - description: Data surrounding a version of this GIF limited to 50kb that displays
          the first 1-2 seconds of the GIF.
      example:
        mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        frames: "15"
        size: "32381"
        width: "320"
        mp4_size: "25123"
        webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        webp_size: "12321"
        url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        height: "200"
      title: Gif_images_preview_gif
    Gif_images:
      description: An object containing data for various available formats and sizes
        of this GIF.
      example:
        preview:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        original:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        preview_gif:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_height_small:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        looping:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        downsized_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_width:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        downsized_large:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_height_downsampled:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        downsized_medium:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_height:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_height_small_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_width_downsampled:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        downsized_small:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_width_small:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_height_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_width_small_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        fixed_width_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        downsized:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
        original_still:
          mp4: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
          frames: "15"
          size: "32381"
          width: "320"
          mp4_size: "25123"
          webp: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
          webp_size: "12321"
          url: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
          height: "200"
      properties:
        downsized:
          $ref: '#/components/schemas/Gif_images_downsized'
        downsized_large:
          $ref: '#/components/schemas/Gif_images_downsized_large'
        downsized_medium:
          $ref: '#/components/schemas/Gif_images_downsized_medium'
        downsized_small:
          $ref: '#/components/schemas/Gif_images_downsized_small'
        downsized_still:
          $ref: '#/components/schemas/Gif_images_downsized_still'
        fixed_height:
          $ref: '#/components/schemas/Gif_images_fixed_height'
        fixed_height_downsampled:
          $ref: '#/components/schemas/Gif_images_fixed_height_downsampled'
        fixed_height_small:
          $ref: '#/components/schemas/Gif_images_fixed_height_small'
        fixed_height_small_still:
          $ref: '#/components/schemas/Gif_images_fixed_height_small_still'
        fixed_height_still:
          $ref: '#/components/schemas/Gif_images_fixed_height_still'
        fixed_width:
          $ref: '#/components/schemas/Gif_images_fixed_width'
        fixed_width_downsampled:
          $ref: '#/components/schemas/Gif_images_fixed_width_downsampled'
        fixed_width_small:
          $ref: '#/components/schemas/Gif_images_fixed_width_small'
        fixed_width_small_still:
          $ref: '#/components/schemas/Gif_images_fixed_width_small_still'
        fixed_width_still:
          $ref: '#/components/schemas/Gif_images_fixed_width_still'
        looping:
          $ref: '#/components/schemas/Gif_images_looping'
        original:
          $ref: '#/components/schemas/Gif_images_original'
        original_still:
          $ref: '#/components/schemas/Gif_images_original_still'
        preview:
          $ref: '#/components/schemas/Gif_images_preview'
        preview_gif:
          $ref: '#/components/schemas/Gif_images_preview_gif'
      title: Gif_images
      type: object
  securitySchemes:
    api_key:
      in: query
      name: api_key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key
