openapi: 3.0.3
info:
  contact:
    name: papiNet API CWG
    url: https://github.com/papinet/papiNet-API/issues
  description: papinet API is a global initiative for the Forst and Paper supply chain.
  license:
    name: Apache 2.0
    url: https://github.com/papinet/papiNet-API/blob/patrice-v1.0.0/LICENSE
  title: papiNet API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/papinet/papiNet-API/master/1.0.0/papiNet-API.yaml
    version: "3.0"
  x-providerName: papinet.io
  x-serviceName: order_status
servers:
- description: papiNet Mock Server
  url: https://papinet.papinet.io
paths:
  /orders:
    get:
      description: Gets a paginated list of all `orders`.
      operationId: orders_get
      parameters:
      - description: Filter by status
        explode: true
        in: query
        name: orderStatus
        required: false
        schema:
          enum:
          - Active
          - Cancelled
          - Completed
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of items to return. If the value exceeds\
          \ the maximum, then the maximum value will be used."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfOrders'
          description: OK
      summary: List `orders`
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /orders/{orderId}:
    get:
      description: "Gets the details of a specific `order`, including a paginated\
        \ list of all its lines."
      operationId: orders_order_id_get
      parameters:
      - description: UUID of the `order` to get
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'
          description: OK
      summary: Get an `order`
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    GetOrder:
      $ref: '#/components/schemas/Order'
    ListOfOrders:
      example:
        links:
          next:
            href: href
          last:
            href: href
          prev:
            href: href
          first:
            href: href
        orders:
        - numberOfLineItems: 0
          orderNumber: orderNumber
          orderStatus: Active
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - numberOfLineItems: 0
          orderNumber: orderNumber
          orderStatus: Active
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        links:
          $ref: '#/components/schemas/PaginationLinks'
        orders:
          items:
            $ref: '#/components/schemas/OrderHeader'
          title: orders
          type: array
      title: ListOfOrders
      type: object
    Order:
      allOf:
      - $ref: '#/components/schemas/OrderHeader'
      - properties:
          links:
            $ref: '#/components/schemas/PaginationLinks'
          orderLineItems:
            items:
              $ref: '#/components/schemas/OrderLineItem'
            type: array
      example:
        numberOfLineItems: 0
        orderNumber: orderNumber
        orderStatus: Active
        links:
          next:
            href: href
          last:
            href: href
          prev:
            href: href
          first:
            href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        orderLineItems:
        - orderLineItemNumber: 0.6027456183070403
          quantities:
          - quantityType: Area
            quantityUOM: Bale
            quantityContext: Confirmed
            quantityValue: 1.4658129805029452
          - quantityType: Area
            quantityUOM: Bale
            quantityContext: Confirmed
            quantityValue: 1.4658129805029452
          changeable: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          orderLineItemStatus: Cancelled
        - orderLineItemNumber: 0.6027456183070403
          quantities:
          - quantityType: Area
            quantityUOM: Bale
            quantityContext: Confirmed
            quantityValue: 1.4658129805029452
          - quantityType: Area
            quantityUOM: Bale
            quantityContext: Confirmed
            quantityValue: 1.4658129805029452
          changeable: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          orderLineItemStatus: Cancelled
      title: Order
    OrderHeader:
      example:
        numberOfLineItems: 0
        orderNumber: orderNumber
        orderStatus: Active
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          title: id
          type: string
        numberOfLineItems:
          minimum: 0
          title: numberOfLineItems
          type: integer
        orderNumber:
          title: orderNumber
          type: string
        orderStatus:
          enum:
          - Active
          - Cancelled
          - Completed
          title: orderStatus
          type: string
      required:
      - id
      - numberOfLineItems
      - orderNumber
      - orderStatus
      title: OrderHeader
      type: object
    OrderLineItem:
      example:
        orderLineItemNumber: 0.6027456183070403
        quantities:
        - quantityType: Area
          quantityUOM: Bale
          quantityContext: Confirmed
          quantityValue: 1.4658129805029452
        - quantityType: Area
          quantityUOM: Bale
          quantityContext: Confirmed
          quantityValue: 1.4658129805029452
        changeable: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        orderLineItemStatus: Cancelled
      properties:
        changeable:
          title: changeable
          type: boolean
        id:
          format: uuid
          title: id
          type: string
        orderLineItemNumber:
          minimum: 0
          title: orderLineItemNumber
          type: number
        orderLineItemStatus:
          enum:
          - Cancelled
          - Completed
          - Confirmed
          - Pending
          - ProductionCompleted
          - ShipmentCompleted
          title: orderLineItemStatus
          type: string
        quantities:
          items:
            $ref: '#/components/schemas/OrderLineItem_quantities_inner'
          title: quantities
          type: array
      required:
      - id
      - orderLineItemNumber
      - orderLineItemStatus
      title: OrderLineItem
      type: object
    PaginationLinks:
      example:
        next:
          href: href
        last:
          href: href
        prev:
          href: href
        first:
          href: href
      properties:
        first:
          $ref: '#/components/schemas/PaginationLinks_first'
        last:
          $ref: '#/components/schemas/PaginationLinks_first'
        next:
          $ref: '#/components/schemas/PaginationLinks_first'
        prev:
          $ref: '#/components/schemas/PaginationLinks_first'
      required:
      - next
      title: PaginationLinks
      type: object
    OrderLineItem_quantities_inner:
      example:
        quantityType: Area
        quantityUOM: Bale
        quantityContext: Confirmed
        quantityValue: 1.4658129805029452
      properties:
        quantityContext:
          enum:
          - Confirmed
          - Invoiced
          - Ordered
          - Produced
          - Shipped
          title: quantityContext
          type: string
        quantityType:
          enum:
          - Area
          - Count
          - GrossWeight
          - Length
          - NetNetWeight
          - NetWeight
          - NominalWeight
          - TareWeight
          title: quantityType
          type: string
        quantityUOM:
          enum:
          - Bale
          - Box
          - Centimeter
          - Decimeter
          - Foot
          - Gram
          - HundredPounds
          - Inch
          - Kilogram
          - Kilometer
          - Meter
          - MetricTon
          - Millimeter
          - Package
          - PalletUnit
          - Piece
          - Pound
          - PulpUnit
          - Ream
          - Reel
          - Sheet
          - ShortTon
          - Skid
          - SquareDecimeter
          - SquareFoot
          - SquareInch
          - SquareMeter
          - ThousandPieces
          - ThousandSquareCentimeters
          - ThousandSquareFeet
          - ThousandSquareInches
          - Yard
          title: quantityUOM
          type: string
        quantityValue:
          title: quantityValue
          type: number
      title: OrderLineItem_quantities_inner
      type: object
    PaginationLinks_first:
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: PaginationLinks_first
      type: object
