openapi: 3.0.1
info:
  description: "Abstract IP geolocation API allows developers to retrieve the region,\
    \ country and city behind any IP worldwide. The API covers the geolocation of\
    \ IPv4 and IPv6 addresses in 180+ countries worldwide. Extra information can be\
    \ retrieved like the currency, flag or language associated to an IP."
  title: IP geolocation API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://global-uploads.webflow.com/5ebbd0a566a3996636e55959/5ec2ba29feeeb05d69160e7b_webclip.png
  x-origin:
  - format: openapi
    url: https://documentation.abstractapi.com/ip-geolocation-openapi.json
    version: "3.0"
  x-providerName: abstractapi.com
  x-serviceName: geolocation
externalDocs:
  description: API Documentation
  url: https://www.abstractapi.com/ip-geolocation-api#docs
servers:
- url: https://ipgeolocation.abstractapi.com
paths:
  /v1/:
    get:
      description: Retrieve the location of an IP address
      operationId: v1_get
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ip_address
        required: false
        schema:
          example: 195.154.25.40
          type: string
        style: form
      - explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "country,city,timezone"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                "0":
                  value: "{\"ip_address\":\"195.154.25.40\",\"city\":\"Paris\",\"\
                    city_geoname_id\":2988507,\"region\":\"Île-de-France\",\"region_iso_code\"\
                    :\"IDF\",\"region_geoname_id\":3012874,\"postal_code\":\"75008\"\
                    ,\"country\":\"France\",\"country_code\":\"FR\",\"country_geoname_id\"\
                    :3017382,\"country_is_eu\":true,\"continent\":\"Europe\",\"continent_code\"\
                    :\"EU\",\"continent_geoname_id\":6255148,\"longitude\":2.4075,\"\
                    latitude\":48.8323,\"security\":{\"is_vpn\":false},\"timezone\"\
                    :{\"name\":\"Europe/Paris\",\"abbreviation\":\"CEST\",\"gmt_offset\"\
                    :2,\"current_time\":\"15:42:18\",\"is_dst\":true},\"flag\":{\"\
                    emoji\":\"<ë<÷\",\"unicode\":\"U+1F1EB U+1F1F7\",\"png\":\"https://static.abstractapi.com/country-flags/FR_flag.png\"\
                    ,\"svg\":\"https://static.abstractapi.com/country-flags/FR_flag.svg\"\
                    },\"currency\":{\"currency_name\":\"Euros\",\"currency_code\"\
                    :\"EUR\"},\"connection\":{\"autonomous_system_number\":12876,\"\
                    autonomous_system_organization\":\"Online S.a.s.\",\"connection_type\"\
                    :\"Corporate\",\"isp_name\":\"Online S.A.S.\",\"organization_name\"\
                    :\"ONLINE\"}}"
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Location of geolocated IP
      servers:
      - url: https://ipgeolocation.abstractapi.com
      x-openapi-router-controller: openapi_server.controllers.default_controller
    servers:
    - url: https://ipgeolocation.abstractapi.com
components:
  schemas:
    inline_response_200:
      example:
        continent: continent
        country: country
        flag:
          emoji: emoji
          svg: svg
          png: png
          unicode: unicode
        country_geoname_id: 5
        city: city
        city_geoname_id: 0
        country_is_eu: true
        timezone:
          name: name
          gmt_offset: 9
          abbreviation: abbreviation
          current_time: current_time
          is_dst: true
        latitude: 5.637376656633329
        continent_code: continent_code
        ip_address: ip_address
        region_geoname_id: 7
        region_iso_code: region_iso_code
        country_code: country_code
        security:
          is_vpn: true
        connection:
          isp_name: isp_name
          connection_type: connection_type
          organization_name: organization_name
          autonomous_system_organization: autonomous_system_organization
          autonomous_system_number: 6
        currency:
          currency_name: currency_name
          currency_code: currency_code
        continent_geoname_id: 1
        postal_code: postal_code
        region: region
        longitude: 2.3021358869347655
      properties:
        city:
          title: city
          type: string
        city_geoname_id:
          title: city_geoname_id
          type: integer
        connection:
          $ref: '#/components/schemas/inline_response_200_connection'
        continent:
          title: continent
          type: string
        continent_code:
          title: continent_code
          type: string
        continent_geoname_id:
          title: continent_geoname_id
          type: integer
        country:
          title: country
          type: string
        country_code:
          title: country_code
          type: string
        country_geoname_id:
          title: country_geoname_id
          type: integer
        country_is_eu:
          title: country_is_eu
          type: boolean
        currency:
          $ref: '#/components/schemas/inline_response_200_currency'
        flag:
          $ref: '#/components/schemas/inline_response_200_flag'
        ip_address:
          title: ip_address
          type: string
        latitude:
          title: latitude
          type: number
        longitude:
          title: longitude
          type: number
        postal_code:
          title: postal_code
          type: string
        region:
          title: region
          type: string
        region_geoname_id:
          title: region_geoname_id
          type: integer
        region_iso_code:
          title: region_iso_code
          type: string
        security:
          $ref: '#/components/schemas/inline_response_200_security'
        timezone:
          $ref: '#/components/schemas/inline_response_200_timezone'
      title: inline_response_200
      type: object
    inline_response_200_connection:
      example:
        isp_name: isp_name
        connection_type: connection_type
        organization_name: organization_name
        autonomous_system_organization: autonomous_system_organization
        autonomous_system_number: 6
      properties:
        autonomous_system_number:
          title: autonomous_system_number
          type: integer
        autonomous_system_organization:
          title: autonomous_system_organization
          type: string
        connection_type:
          title: connection_type
          type: string
        isp_name:
          title: isp_name
          type: string
        organization_name:
          title: organization_name
          type: string
      title: inline_response_200_connection
      type: object
    inline_response_200_currency:
      example:
        currency_name: currency_name
        currency_code: currency_code
      properties:
        currency_code:
          title: currency_code
          type: string
        currency_name:
          title: currency_name
          type: string
      title: inline_response_200_currency
      type: object
    inline_response_200_flag:
      example:
        emoji: emoji
        svg: svg
        png: png
        unicode: unicode
      properties:
        emoji:
          title: emoji
          type: string
        png:
          title: png
          type: string
        svg:
          title: svg
          type: string
        unicode:
          title: unicode
          type: string
      title: inline_response_200_flag
      type: object
    inline_response_200_security:
      example:
        is_vpn: true
      properties:
        is_vpn:
          title: is_vpn
          type: boolean
      title: inline_response_200_security
      type: object
    inline_response_200_timezone:
      example:
        name: name
        gmt_offset: 9
        abbreviation: abbreviation
        current_time: current_time
        is_dst: true
      properties:
        abbreviation:
          title: abbreviation
          type: string
        current_time:
          title: current_time
          type: string
        gmt_offset:
          title: gmt_offset
          type: integer
        is_dst:
          title: is_dst
          type: boolean
        name:
          title: name
          type: string
      title: inline_response_200_timezone
      type: object
