openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Stores and retrieves potentially large, immutable data objects."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Storage JSON API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://storage.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: storage
externalDocs:
  url: https://developers.google.com/storage/docs/json_api/
servers:
- url: https://storage.googleapis.com/storage/v1
tags:
- name: anywhereCaches
- name: bucketAccessControls
- name: buckets
- name: channels
- name: defaultObjectAccessControls
- name: folders
- name: managedFolders
- name: notifications
- name: objectAccessControls
- name: objects
- name: operations
- name: projects
paths:
  /b:
    get:
      description: Retrieves a list of buckets for a given project.
      operationId: storage_buckets_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: A valid API project identifier.
        explode: true
        in: query
        name: project
        required: true
        schema:
          type: string
        style: form
      - description: "Maximum number of buckets to return in a single response. The\
          \ service will use this parameter or 1,000 items, whichever is smaller."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to buckets whose names begin with this prefix.
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: The project to be billed for this request.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Buckets'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
    post:
      description: Creates a new bucket.
      operationId: storage_buckets_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: A valid API project identifier.
        explode: true
        in: query
        name: project
        required: true
        schema:
          type: string
        style: form
      - description: "When set to true, object retention is enabled for this bucket."
        explode: true
        in: query
        name: enableObjectRetention
        required: false
        schema:
          type: boolean
        style: form
      - description: Apply a predefined set of access controls to this bucket.
        explode: true
        in: query
        name: predefinedAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - private
          - projectPrivate
          - publicRead
          - publicReadWrite
          type: string
        style: form
      - description: Apply a predefined set of default object access controls to this
          bucket.
        explode: true
        in: query
        name: predefinedDefaultObjectAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - bucketOwnerFullControl
          - bucketOwnerRead
          - private
          - projectPrivate
          - publicRead
          type: string
        style: form
      - description: "Set of properties to return. Defaults to noAcl, unless the bucket\
          \ resource specifies acl or defaultObjectAcl properties, when it defaults\
          \ to full."
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: The project to be billed for this request.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
      x-codegen-request-body-name: body
  /b/{bucket}:
    delete:
      description: Permanently deletes an empty bucket.
      operationId: storage_buckets_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "If set, only deletes the bucket if its metageneration matches\
          \ this value."
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: "If set, only deletes the bucket if its metageneration does not\
          \ match this value."
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
    get:
      description: Returns metadata for the specified bucket.
      operationId: storage_buckets_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
    patch:
      description: "Patches a bucket. Changes to the bucket will be readable immediately\
        \ after writing, but configuration changes may take time to propagate."
      operationId: storage_buckets_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Apply a predefined set of access controls to this bucket.
        explode: true
        in: query
        name: predefinedAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - private
          - projectPrivate
          - publicRead
          - publicReadWrite
          type: string
        style: form
      - description: Apply a predefined set of default object access controls to this
          bucket.
        explode: true
        in: query
        name: predefinedDefaultObjectAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - bucketOwnerFullControl
          - bucketOwnerRead
          - private
          - projectPrivate
          - publicRead
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
      x-codegen-request-body-name: body
    put:
      description: "Updates a bucket. Changes to the bucket will be readable immediately\
        \ after writing, but configuration changes may take time to propagate."
      operationId: storage_buckets_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Apply a predefined set of access controls to this bucket.
        explode: true
        in: query
        name: predefinedAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - private
          - projectPrivate
          - publicRead
          - publicReadWrite
          type: string
        style: form
      - description: Apply a predefined set of default object access controls to this
          bucket.
        explode: true
        in: query
        name: predefinedDefaultObjectAcl
        required: false
        schema:
          enum:
          - authenticatedRead
          - bucketOwnerFullControl
          - bucketOwnerRead
          - private
          - projectPrivate
          - publicRead
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - buckets
      x-openapi-router-controller: openapi_server.controllers.buckets_controller
      x-codegen-request-body-name: body
  /b/{bucket}/acl:
    get:
      description: Retrieves ACL entries on the specified bucket.
      operationId: storage_bucket_access_controls_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControls'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
    post:
      description: Creates a new ACL entry on the specified bucket.
      operationId: storage_bucket_access_controls_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
      x-codegen-request-body-name: body
  /b/{bucket}/acl/{entity}:
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the
        specified bucket.
      operationId: storage_bucket_access_controls_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
    get:
      description: Returns the ACL entry for the specified entity on the specified
        bucket.
      operationId: storage_bucket_access_controls_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
    patch:
      description: Patches an ACL entry on the specified bucket.
      operationId: storage_bucket_access_controls_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
      x-codegen-request-body-name: body
    put:
      description: Updates an ACL entry on the specified bucket.
      operationId: storage_bucket_access_controls_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-openapi-router-controller: openapi_server.controllers.bucket_access_controls_controller
      x-codegen-request-body-name: body
  /b/{bucket}/anywhereCaches:
    get:
      description: Returns a list of Anywhere Cache instances of the bucket matching
        the criteria.
      operationId: storage_anywhere_caches_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of items to return in a single page of responses.
          Maximum 1000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnywhereCaches'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
    post:
      description: Creates an Anywhere Cache instance.
      operationId: storage_anywhere_caches_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnywhereCache'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
      x-codegen-request-body-name: body
  /b/{bucket}/anywhereCaches/{anywhereCacheId}:
    get:
      description: Returns the metadata of an Anywhere Cache instance.
      operationId: storage_anywhere_caches_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of requested Anywhere Cache instance.
        explode: false
        in: path
        name: anywhereCacheId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnywhereCache'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
    patch:
      description: Updates the config(ttl and admissionPolicy) of an Anywhere Cache
        instance.
      operationId: storage_anywhere_caches_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of requested Anywhere Cache instance.
        explode: false
        in: path
        name: anywhereCacheId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnywhereCache'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
      x-codegen-request-body-name: body
  /b/{bucket}/anywhereCaches/{anywhereCacheId}/disable:
    post:
      description: Disables an Anywhere Cache instance.
      operationId: storage_anywhere_caches_disable
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of requested Anywhere Cache instance.
        explode: false
        in: path
        name: anywhereCacheId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnywhereCache'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
  /b/{bucket}/anywhereCaches/{anywhereCacheId}/pause:
    post:
      description: Pauses an Anywhere Cache instance.
      operationId: storage_anywhere_caches_pause
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of requested Anywhere Cache instance.
        explode: false
        in: path
        name: anywhereCacheId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnywhereCache'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
  /b/{bucket}/anywhereCaches/{anywhereCacheId}/resume:
    post:
      description: Resumes a paused or disabled Anywhere Cache instance.
      operationId: storage_anywhere_caches_resume
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the parent bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of requested Anywhere Cache instance.
        explode: false
        in: path
        name: anywhereCacheId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnywhereCache'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - anywhereCaches
      x-openapi-router-controller: openapi_server.controllers.anywhere_caches_controller
  /b/{bucket}/defaultObjectAcl:
    get:
      description: Retrieves default object ACL entries on the specified bucket.
      operationId: storage_default_object_access_controls_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, only return default ACL listing if the bucket's\
          \ current metageneration matches this value."
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: "If present, only return default ACL listing if the bucket's\
          \ current metageneration does not match the given value."
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControls'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
    post:
      description: Creates a new default object ACL entry on the specified bucket.
      operationId: storage_default_object_access_controls_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
      x-codegen-request-body-name: body
  /b/{bucket}/defaultObjectAcl/{entity}:
    delete:
      description: Permanently deletes the default object ACL entry for the specified
        entity on the specified bucket.
      operationId: storage_default_object_access_controls_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
    get:
      description: Returns the default object ACL entry for the specified entity on
        the specified bucket.
      operationId: storage_default_object_access_controls_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
    patch:
      description: Patches a default object ACL entry on the specified bucket.
      operationId: storage_default_object_access_controls_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
      x-codegen-request-body-name: body
    put:
      description: Updates a default object ACL entry on the specified bucket.
      operationId: storage_default_object_access_controls_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: The project to be billed for this request. Required for Requester
          Pays buckets.
        explode: true
        in: query
        name: userProject
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-openapi-router-controller: openapi_server.controllers.default_object_access_controls_controller
      x-codegen-request-body-name: body
  /b/{bucket}/folders:
    get:
      description: Retrieves a list of folders matching the criteria. Only applicable
        to buckets with hierarchical namespace enabled.
      operationId: storage_folders_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"media\", \"multipart\", \"\
          resumable\")."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
[...]
