openapi: 3.0.1
info:
  contact: {}
  description: "Currency Authority: Exchange Rate of 1453 country currencies and crypto\
    \ currencies"
  title: Sonar Trading
  version: "1.0"
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/tradingsonar/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://sonar.trading/docs/api-docs.json
    version: "2.0"
  x-providerName: sonar.trading
servers:
- url: https://sonar.trading/api/v1/
paths:
  /convert:
    get:
      parameters:
      - description: "Currency you want to convert. For example, EUR"
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: "Comma separated list of currencies codes. For example, USD"
        in: query
        name: to
        required: true
        schema:
          type: string
      - description: This parameter can be used to specify the amount you want to
          convert. If an amount is not specified then 1 is assumed.
        in: query
        name: amount
        schema:
          type: string
      - description: This parameter can be used to specify the number of decimal places
          included in the output. If an amount is not specified then 12 is assumed.
        in: query
        name: decimal_places
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Command completed successfully
        "422":
          content: {}
          description: Parameter value syntax error / Parameter value range error
      summary: Convert a currency amount to multiple other currencies
      tags:
      - Currencies
      x-accepts:
      - application/json
  /country/currencies:
    get:
      parameters:
      - description: "Parameter used to specify the language in which you would like\
          \ the currency names to be provided. If not specified, EN is used. Now availeble\
          \ only EN language."
        in: query
        name: language
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Command completed successfully
        "422":
          content: {}
          description: Parameter value syntax error / Parameter value range error
      summary: "Return a list of all currencies of countries, available via service"
      tags:
      - Currencies
      x-accepts:
      - application/json
  /digital/currencies:
    get:
      parameters:
      - description: "Parameter used to specify the language in which you would like\
          \ the currency names to be provided. If not specified, EN is used. Now availeble\
          \ only EN language."
        in: query
        name: language
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Command completed successfully
        "422":
          content: {}
          description: Parameter value syntax error / Parameter value range error
      summary: "Return a list of all digital currencies, available via service"
      tags:
      - Currencies
      x-accepts:
      - application/json
  /history:
    get:
      parameters:
      - description: "Currency you want to convert. For example, EUR"
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: "Comma separated list of currencies codes. For example, USD"
        in: query
        name: to
        required: true
        schema:
          type: string
      - description: "UTC date should be in the form of YYYY-MM-DD, for example, 2018-06-20.\
          \ Data available from 2018-06-19 only."
        in: query
        name: date
        required: true
        schema:
          type: string
      - description: This parameter can be used to specify the amount you want to
          convert. If an amount is not specified then 1 is assumed.
        in: query
        name: amount
        schema:
          type: string
      - description: This parameter can be used to specify the number of decimal places
          included in the output. If an amount is not specified then 4 is assumed.
        in: query
        name: decimal_places
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Command completed successfully
        "422":
          content: {}
          description: Parameter value syntax error / Parameter value range error
      summary: Return a historic rate for a currencies
      tags:
      - Currencies
      x-accepts:
      - application/json
components:
  schemas: {}
x-original-swagger-version: "2.0"

