openapi: 3.0.1
info:
  description: Azure Digital Twins Client for managing DigitalTwinsInstance
  title: AzureDigitalTwinsManagementClient
  version: 2020-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/digitaltwins.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: digitaltwins
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DigitalTwins/operations:
    get:
      description: Lists all of the available DigitalTwins service REST API operations.
      operationId: Operations_List
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        Get available operations:
          parameters:
            api-version: 2020-03-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Check Digital Twins Service name availability.
                    operation: Check Digital Twins Service name availability.
                    provider: Microsoft Digital Twins Service
                    resource: Microsoft Digital Twins Service instance
                  name: Microsoft.DigitalTwins/checkNameAvailability/action
                - display:
                    description: Create or update a Digital Twins Service instance.
                    operation: Create or update a Digital Twins Service instance.
                    provider: Microsoft Digital Twins Service
                    resource: Microsoft Digital Twins Service instance
                  name: Microsoft.DigitalTwins/DigitalTwinsInstance/write
                - display:
                    description: Get a Digital Twins Service instance.
                    operation: Get a Digital Twins Service instance.
                    provider: Microsoft Digital Twins Service
                    resource: Microsoft Digital Twins Service instance
                  name: Microsoft.DigitalTwins/DigitalTwinsInstance/read
                - display:
                    description: Delete a Digital Twins Service instance.
                    operation: Delete a Digital Twins Service instance.
                    provider: Microsoft Digital Twins Service
                    resource: Microsoft Digital Twins Service instance
                  name: Microsoft.DigitalTwins/DigitalTwinsInstance/delete
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/digitalTwinsInstances:
    get:
      description: Get all the DigitalTwinsInstances in a subscription.
      operationId: DigitalTwins_List
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the DigitalTwinsInstances in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Get DigitalTwinsInstance resources by subscription:
          parameters:
            api-version: 2020-03-01-preview
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                  location: westus
                  name: myDigitalTwinsService
                  properties:
                    createdTime: 2019-11-19T12:55:05.229Z
                    hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                    provisioningState: Provisioning
                  sku:
                    name: F1
                  type: Microsoft.DigitalTwins/DigitalTwinsInstance
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg2/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService2
                  location: westus
                  name: myDigitalTwinsService2
                  properties:
                    createdTime: 2019-11-19T12:55:05.229Z
                    hostName: https://myDigitalTwinsService2.api.wus2.ss.azuredigitaltwins-test.net
                    provisioningState: Provisioning
                  sku:
                    name: F1
                  type: Microsoft.DigitalTwins/DigitalTwinsInstance
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/locations/{location}/checkNameAvailability:
    post:
      description: Check if a DigitalTwinsInstance name is available.
      operationId: DigitalTwins_CheckNameAvailability
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Location of DigitalTwinsInstance.
        in: path
        name: location
        required: true
        schema:
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameRequest'
        description: Set the name parameter in the DigitalTwinsInstanceCheckName structure
          to the name of the DigitalTwinsInstance to check.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ response that specifies whether the DigitalTwins service name is available.\
            \ If the name is not available, the body contains the reason."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CheckNameAvailability
      x-ms-examples:
        Check name Availability:
          parameters:
            api-version: 2020-03-01-preview
            digitalTwinsInstanceCheckName:
              name: myadtinstance
              type: Microsoft.DigitalTwins/digitalTwinsInstances
            location: WestUS
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                message: Name 'myadtinstance' is already taken. Please specify a different
                  name
                name: myadtinstance
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: digitalTwinsInstanceCheckName
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances:
    get:
      description: Get all the DigitalTwinsInstances in a resource group.
      operationId: DigitalTwins_ListByResourceGroup
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the DigitalTwinsInstances in the resource
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Get DigitalTwinsInstance resources by resource group:
          parameters:
            api-version: 2020-03-01-preview
            resourceGroupName: resRg
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                  location: westus
                  name: myDigitalTwinsService
                  properties:
                    createdTime: 2019-11-19T12:55:05.229Z
                    hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                    provisioningState: Provisioning
                  sku:
                    name: F1
                  type: Microsoft.DigitalTwins/DigitalTwinsInstance
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService2
                  location: westus
                  name: myDigitalTwinsService2
                  properties:
                    createdTime: 2019-11-19T12:55:05.229Z
                    hostName: https://myDigitalTwinsService2.api.wus2.ss.azuredigitaltwins-test.net
                    provisioningState: Provisioning
                  sku:
                    name: F1
                  type: Microsoft.DigitalTwins/DigitalTwinsInstance
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}
  : delete:
      description: Delete a DigitalTwinsInstance.
      operationId: DigitalTwins_Delete
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
          description: Accepted - Delete request accepted; the operation will complete
            asynchronously.
        "204":
          content: {}
          description: "Once the long running delete operation completes successfully,\
            \ a 204 No Content status code is returned when the status polling request\
            \ finds the DigitalTwins service metadata in the service and the status\
            \ of the delete operation is set to a completed state."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Delete a DigitalTwinsInstance resource:
          parameters:
            api-version: 2020-03-01-preview
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                location: westus
                name: myDigitalTwinsService
                properties:
                  createdTime: 2019-11-19T12:55:05.229Z
                  hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                  lastUpdatedTime: 2019-12-06T12:21:58.610Z
                  provisioningState: Deleting
                sku:
                  name: F1
                type: Microsoft.DigitalTwins/DigitalTwinsInstance
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get DigitalTwinsInstances resource.
      operationId: DigitalTwins_Get
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
          description: The body contains all the non-security properties of the DigitalTwinsInstance.
            Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Get a DigitalTwinsInstance resource:
          parameters:
            api-version: 2020-03-01-preview
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                location: westus
                name: myDigitalTwinsService
                properties:
                  createdTime: 2019-11-19T12:55:05.229Z
                  hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                  lastUpdatedTime: 2019-12-06T12:21:58.610Z
                  provisioningState: Provisioning
                sku:
                  name: F1
                type: Microsoft.DigitalTwins/DigitalTwinsInstance
      x-accepts:
      - application/json
    patch:
      description: Update metadata of DigitalTwinsInstance.
      operationId: DigitalTwins_Update
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalTwinsPatchDescription'
        description: The DigitalTwinsInstance and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content: {}
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Patch a DigitalTwinsInstance resource:
          parameters:
            api-version: 2020-03-01-preview
            digitalTwinsPatchDescription:
              tags:
                purpose: dev
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                location: westus
                name: myDigitalTwinsService
                properties:
                  createdTime: 2019-11-19T12:55:05.229Z
                  hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                  lastUpdatedTime: 2019-12-06T12:21:58.610Z
                  provisioningState: Provisioning
                sku:
                  name: F1
                tags:
                  purpose: dev
                type: Microsoft.DigitalTwins/DigitalTwinsInstance
            "201": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: digitalTwinsPatchDescription
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Create or update the metadata of a DigitalTwinsInstance. The usual\
        \ pattern to modify a property is to retrieve the DigitalTwinsInstance and\
        \ security metadata, and then combine them with the modified values in a new\
        \ body to update the DigitalTwinsInstance."
      operationId: DigitalTwins_CreateOrUpdate
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalTwinsDescription'
        description: The DigitalTwinsInstance and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
          description: Created - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DigitalTwinsInstance
      x-ms-examples:
        Put a DigitalTwinsInstance resource:
          parameters:
            api-version: 2020-03-01-preview
            digitalTwinsCreate:
              location: WestUS
              sku:
                name: F1
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                location: westus
                name: myDigitalTwinsService
                properties:
                  createdTime: 2019-11-19T12:55:05.229Z
                  hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                  lastUpdatedTime: 2019-12-06T12:21:58.610Z
                  provisioningState: Provisioning
                sku:
                  name: F1
                type: Microsoft.DigitalTwins/DigitalTwinsInstance
            "201":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService
                location: westus
                name: myDigitalTwinsService
                properties:
                  createdTime: 2019-11-19T12:55:05.229Z
                  hostName: https://myDigitalTwinsService.api.wus2.ss.azuredigitaltwins-test.net
                  lastUpdatedTime: 2019-12-06T12:21:58.610Z
                  provisioningState: Provisioning
                sku:
                  name: F1
                type: Microsoft.DigitalTwins/DigitalTwinsInstance
      x-ms-long-running-operation: true
      x-codegen-request-body-name: digitalTwinsCreate
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/endpoints
  : get:
      description: Get DigitalTwinsInstance Endpoints.
      operationId: DigitalTwinsEndpoint_List
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsEndpointResourceListResult'
          description: The body contains all the non-security properties of the DigitalTwinsInstance.
            Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Endpoints
      x-ms-examples:
        Get a DigitalTwinsInstance endpoints:
          parameters:
            api-version: 2020-03-01-preview
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                  name: myendpoint1
                  properties:
                    createdTime: 2019-11-19T01:10:34.350Z
                    endpointType: ServiceBus
                    primaryConnectionString: '************'
                    provisioningState: Provisioned
                    secondaryConnectionString: '************'
                  type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                  name: myendpoint2
                  properties:
                    connectionString-PrimaryKey: '************'
                    connectionString-SecondaryKey: '************'
                    createdTime: 2019-11-19T01:10:34.350Z
                    endpointType: EventHub
                    provisioningState: Provisioned
                  type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/endpoints/{endpointName}
  : delete:
      description: Delete a DigitalTwinsInstance endpoint.
      operationId: DigitalTwinsEndpoint_Delete
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Endpoint Resource.
        in: path
        name: endpointName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsEndpointResource'
          description: Accepted - Delete request accepted; the operation will complete
            asynchronously.
        "204":
          content: {}
          description: "Once the long running delete operation completes successfully,\
            \ a 204 No Content status code is returned when the status polling request\
            \ finds the DigitalTwins service metadata in the service and the status\
            \ of the delete operation is set to a completed state."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Endpoints
      x-ms-examples:
        Delete a DigitalTwinsInstance endpoint:
          parameters:
            api-version: 2020-03-01-preview
            endpointName: myendpoint
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                name: myendpoint
                properties:
                  createdTime: 2019-11-19T01:10:34.350Z
                  endpointType: ServiceBus
                  primaryConnectionString: '************'
                  provisioningState: Deleting
                  secondaryConnectionString: '************'
                type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get DigitalTwinsInstances Endpoint.
      operationId: DigitalTwinsEndpoint_Get
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Endpoint Resource.
        in: path
        name: endpointName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsEndpointResource'
          description: The body contains all the non-security properties of the DigitalTwinsInstance.
            Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Default error response
      tags:
      - Endpoints
      x-ms-examples:
        Get a DigitalTwinsInstance endpoint:
          parameters:
            api-version: 2020-03-01-preview
            endpointName: myServiceBus
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                name: myendpoint
                properties:
                  createdTime: 2019-11-19T01:10:34.350Z
                  endpointType: ServiceBus
                  primaryConnectionString: '************'
                  provisioningState: Provisioned
                  secondaryConnectionString: '************'
                type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
      x-accepts:
      - application/json
    put:
      description: Create or update DigitalTwinsInstance endpoint.
      operationId: DigitalTwinsEndpoint_CreateOrUpdate
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Endpoint Resource.
        in: path
        name: endpointName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalTwinsEndpointResource'
        description: The DigitalTwinsInstance endpoint metadata and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsEndpointResource'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsEndpointResource'
          description: Created - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Endpoints
      x-ms-examples:
        Put a DigitalTwinsInstance resource:
          parameters:
            api-version: 2020-03-01-preview
            endpointDescription:
              properties:
                endpointType: ServiceBus
                primaryConnectionString: Endpoint=sb://mysb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xyzxyzoX4=
                secondaryConnectionString: Endpoint=sb://mysb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xyzxyzoX4=
            endpointName: myServiceBus
            resourceGroupName: resRg
            resourceName: myDigitalTwinsService
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                name: myServiceBus
                properties:
                  createdTime: 2019-11-19T01:10:34.350Z
                  endpointType: ServiceBus
                  primaryConnectionString: '************'
                  secondaryConnectionString: '************'
                type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
            "201":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/DigitalTwinsInstance/myDigitalTwinsService/endpoints/myServiceBus
                name: myendpoint
                properties:
                  createdTime: 2019-11-19T01:10:34.350Z
                  endpointType: ServiceBus
                  primaryConnectionString: '************'
                  provisioningState: Provisioning
                  secondaryConnectionString: '************'
                type: Microsoft.DigitalTwins/digitalTwinsInstance/endpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: endpointDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/integrationResources
  : get:
      description: Get DigitalTwinsInstance IoTHubs.
      operationId: DigitalTwinsIoTHubs_List
      parameters:
      - description: Version of the DigitalTwinsInstance Management API.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2020-03-01-preview
          minLength: 10
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the resource group that contains the DigitalTwinsInstance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DigitalTwinsInstance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsIntegrationResourceListResult'
          description: The body contains all the non-security properties of the DigitalTwinsInstance.
            Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - IoTHub Integration
      x-ms-examples:
        Get a DigitalTwinsInstance IoTHubs:
          parameters:
            api-version: 2020-03-01-preview
            resourceGroupName: resRg
            resourceName: myAdt
            subscriptionId: 50016170-c839-41ba-a724-51e9df440b9e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/firstIh/Microsoft.DigitalTwins/integrationResources/myIoTHubLink1
                  name: myIoTHubLink1
                  properties:
                    createdTime: 2019-11-19T12:57:15.452Z
                    provisioningState: Provisioned
                    resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/digitalTwins/myAdt
                  type: Microsoft.DigitalTwins/integrationResources
                - id: /subscriptions/f2bc87c8-fa5d-4c74-822e-7fd480f8df00/resourcegroups/anotherrg/providers/Microsoft.Devices/IoTHubs/secondIh/Microsoft.DigitalTwins/integrationResources/myIoTHubLink2
                  name: myIoTHubLink2
                  properties:
                    createdTime: 2019-12-29T12:57:15.452Z
                    provisioningState: Provisioned
                    resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/digitalTwins/myAdt
                  type: Microsoft.DigitalTwins/integrationResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.DigitalTwins/integrationResources/{integrationResourceName}:
    delete:
      description: Deletes a DigitalTwinsInstance link with IoTHub.
      operationId: IoTHub_Delete
      parameters:
      - description: "The scope of the Digital Twins Integration. The scope has to\
          \ be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of IoTHub and DigitalTwinsInstance integration instance.
        in: path
        name: integrationResourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. DigitalTwinsInstance IoTHub link has been Deleted.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResource'
          description: Accepted. Response includes a Location header which points
            to the DigitalTwins and IoTHub Integration resource.
        "204":
          content: {}
          description: NoContent. DigitalTwinsInstance IoTHub link does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - IoTHub Integration
      x-ms-examples:
        Connect IoTHub with DigitalTwinsInstance:
          parameters:
            api-version: 2020-03-01-preview
            integrationResourceName: myIoTHubLink
            scope: subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub/provider/Microsoft.DigitalTwins/integrationResources/myIoTHubLink
                name: myIoTHubLink
                properties:
                  createdTime: 2019-11-19T12:57:15.452Z
                  provisioningState: Deleting
                  resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/digitalTwins/myAdt
                type: Microsoft.DigitalTwins/integrationResources
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets properties of an IoTHub Integration.
      operationId: IoTHub_Get
      parameters:
      - description: "The scope of the Digital Twins Integration. The scope has to\
          \ be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of IoTHub and DigitalTwinsInstance integration instance.
        in: path
        name: integrationResourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResource'
          description: This is a synchronous operation. The body contains metadata
            about IoTHub and DigitalTwinsInstance Integration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - IoTHub Integration
      x-ms-examples:
        Get IoTHub by DigitalTwinsInstance:
          parameters:
            api-version: 2020-03-01-preview
            integrationResourceName: myIoTHubLink
            scope: subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub
          responses:
            "200":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub/provider/Microsoft.DigitalTwins/integrationResources/myIoTHubLink
                name: myIoTHubLink
                properties:
                  createdTime: 2019-11-19T12:57:15.452Z
                  provisioningState: Provisioned
                  resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/digitalTwins/myAdt
                type: Microsoft.DigitalTwins/integrationResources
      x-accepts:
      - application/json
    put:
      description: Creates or Updates an IoTHub Integration with DigitalTwinsInstances.
      operationId: IoTHub_CreateOrUpdate
      parameters:
      - description: "The scope of the Digital Twins Integration. The scope has to\
          \ be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of IoTHub and DigitalTwinsInstance integration instance.
        in: path
        name: integrationResourceName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationResource'
        description: The IoTHub metadata.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResource'
          description: This is an asynchronous operation. The body contains metadata
            about IoTHub and DigitalTwinsInstance Integration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - IoTHub Integration
      x-ms-examples:
        Connect IoTHub with DigitalTwinsInstance:
          parameters:
            api-version: 2020-03-01-preview
            integrationResourceName: myIoTHubLink
            iotHubDescription:
              properties:
                resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/iotHubs/myih
            scope: subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub
          responses:
            "201":
              body:
                id: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.Devices/IoTHubs/myIoTHub/provider/Microsoft.DigitalTwins/integrationResources/myIoTHubLink
                name: myIoTHubLink
                properties:
                  createdTime: 2019-11-19T12:57:15.452Z
                  provisioningState: Provisioning
                  resourceId: /subscriptions/50016170-c839-41ba-a724-51e9df440b9e/resourcegroups/resRg/providers/Microsoft.DigitalTwins/digitalTwins/myAdt
                type: Microsoft.DigitalTwins/integrationResources
      x-codegen-request-body-name: iotHubDescription
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    api-version:
      description: Version of the DigitalTwinsInstance Management API.
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2020-03-01-preview
        minLength: 10
        type: string
    endpointName:
      description: Name of Endpoint Resource.
      in: path
      name: endpointName
      required: true
      schema:
        maxLength: 64
        minLength: 1
        pattern: "^[A-Za-z0-9-._]{1,64}$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    integrationResourceName:
      description: Name of IoTHub and DigitalTwinsInstance integration instance.
      in: path
      name: integrationResourceName
      required: true
      schema:
        maxLength: 64
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    location:
      description: Location of DigitalTwinsInstance.
      in: path
      name: location
      required: true
      schema:
        minLength: 3
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupName:
      description: The name of the resource group that contains the DigitalTwinsInstance.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 64
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceName:
      description: The name of the DigitalTwinsInstance.
      in: path
      name: resourceName
      required: true
      schema:
        maxLength: 64
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    scope:
      description: "The scope of the Digital Twins Integration. The scope has to be\
        \ an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        format: uuid
        type: string
  requestBodies:
    integrationResourceInfo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IntegrationResource'
      description: The DigitalTwinsInstance and security metadata.
      required: true
      x-ms-parameter-location: method
    integrationResourceUpdateInfo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IntegrationResourceUpdateInfo'
      description: The Integration Resource and security metadata.
      required: true
      x-ms-parameter-location: method
  schemas:
    CheckNameRequest:
      description: The result returned from a database check name availability request.
      example:
        name: name
        type: Microsoft.DigitalTwins/digitalTwinsInstances
      properties:
        name:
          description: Resource name.
          type: string
        type:
          description: "The type of resource, for instance Microsoft.DigitalTwins/digitalTwinsInstances."
          enum:
          - Microsoft.DigitalTwins/digitalTwinsInstances
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
      - name
      - type
      type: object
    CheckNameResult:
      description: The result returned from a check name availability request.
      example:
        reason: Invalid
        nameAvailable: true
        name: name
        message: message
      properties:
        message:
          description: "Message indicating an unavailable name due to a conflict,\
            \ or a description of the naming rules that are violated."
          type: string
        name:
          description: The name that was checked.
          type: string
        nameAvailable:
          description: Specifies a Boolean value that indicates if the name is available.
          type: boolean
        reason:
          description: Message providing the reason why the given name is invalid.
          enum:
          - Invalid
          - AlreadyExists
          type: string
          x-ms-enum:
            modelAsString: true
            name: reason
      type: object
    DigitalTwinsDescription:
      allOf:
      - $ref: '#/components/schemas/DigitalTwinsResource'
      description: The description of the DigitalTwins service.
      example:
        properties:
          hostName: hostName
          createdTime: 2000-01-23T04:56:07.000+00:00
          lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Provisioning
      properties:
        properties:
          $ref: '#/components/schemas/DigitalTwinsProperties'
    DigitalTwinsDescriptionListResult:
      description: A list of DigitalTwins description objects with a next link.
      example:
        value:
        - properties:
            hostName: hostName
            createdTime: 2000-01-23T04:56:07.000+00:00
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Provisioning
        - properties:
            hostName: hostName
            createdTime: 2000-01-23T04:56:07.000+00:00
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Provisioning
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of DigitalTwins description
            objects.
          type: string
        value:
          description: A list of DigitalTwins description objects.
          items:
            $ref: '#/components/schemas/DigitalTwinsDescription'
          type: array
      type: object
    DigitalTwinsEndpointResource:
      allOf:
      - $ref: '#/components/schemas/ExternalResource'
      description: DigitalTwinsInstance endpoint resource.
      example:
        properties:
          endpointType: EventHub
          createdTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Provisioning
          tags:
            key: tags
      properties:
        properties:
          $ref: '#/components/schemas/DigitalTwinsEndpointResourceProperties'
      x-ms-azure-resource: true
    DigitalTwinsEndpointResourceListResult:
      description: A list of DigitalTwinsInstance Endpoints with a next link.
      example:
        value:
        - properties:
            endpointType: EventHub
            createdTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Provisioning
            tags:
              key: tags
        - properties:
            endpointType: EventHub
            createdTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Provisioning
            tags:
              key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of DigitalTwinsInstance
            Endpoints.
          type: string
        value:
          description: A list of DigitalTwinsInstance Endpoints.
          items:
            $ref: '#/components/schemas/DigitalTwinsEndpointResource'
          type: array
      type: object
    DigitalTwinsEndpointResourceProperties:
      description: Properties related to Digital Twins Endpoint
      discriminator:
        propertyName: endpointType
      example:
        endpointType: EventHub
        createdTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Provisioning
        tags:
          key: tags
      properties:
        createdTime:
          description: Time when the Endpoint was added to DigitalTwinsInstance.
          format: date-time
          readOnly: true
          type: string
        endpointType:
          description: The type of Digital Twins endpoint
          enum:
          - EventHub
          - EventGrid
          - ServiceBus
          type: string
          x-ms-enum:
            modelAsString: true
            name: endpointType
        provisioningState:
          description: The provisioning state.
          enum:
          - Provisioning
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointProvisioningState
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
      required:
      - endpointType
      type: object
    DigitalTwinsIntegrationResourceListResult:
      description: A list of DigitalTwinsInstance IoTHubs with a next link.
      example:
        value:
        - properties:
            resourceId: resourceId
            createdTime: 2000-01-23T04:56:07.000+00:00
        - properties:
            resourceId: resourceId
            createdTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of DigitalTwinsInstance
            IoTHubs.
          type: string
        value:
          description: A list of DigitalTwinsInstance IoTHubs.
          items:
            $ref: '#/components/schemas/IntegrationResource'
          type: array
      type: object
    DigitalTwinsPatchDescription:
      description: The description of the DigitalTwins service.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Instance tags
          type: object
      type: object
    DigitalTwinsProperties:
      description: The properties of a DigitalTwinsInstance.
      example:
        hostName: hostName
        createdTime: 2000-01-23T04:56:07.000+00:00
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Provisioning
      properties:
        createdTime:
          description: Time when DigitalTwinsInstance was created.
          format: date-time
          readOnly: true
          type: string
        hostName:
          description: Api endpoint to work with DigitalTwinsInstance.
          readOnly: true
          type: string
        lastUpdatedTime:
          description: Time when DigitalTwinsInstance was created.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state.
          enum:
          - Provisioning
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
      type: object
    DigitalTwinsResource:
      description: The common properties of a DigitalTwinsInstance.
      properties:
        id:
          description: The resource identifier.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: The resource name.
          pattern: "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$"
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/DigitalTwinsSkuInfo'
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: The resource type.
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    DigitalTwinsSkuInfo:
      description: Information about the SKU of the DigitalTwinsInstance.
      properties:
        name:
          description: The name of the SKU.
          enum:
          - F1
          type: string
          x-ms-enum:
            modelAsString: true
            name: DigitalTwinsSku
      required:
      - name
      type: object
    ErrorDefinition:
      description: Error definition.
      example:
        code: code
        details:
        - null
        - null
        message: message
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          readOnly: true
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
          type: array
        message:
          description: Description of the error.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Error response.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
      type: object
    EventGrid:
      allOf:
      - $ref: '#/components/schemas/DigitalTwinsEndpointResourceProperties'
      - properties:
          TopicEndpoint:
            description: EventGrid Topic Endpoint
            type: string
          accessKey1:
            description: EventGrid secondary accesskey. Will be obfuscated during
              read
            type: string
          accessKey2:
            description: EventGrid secondary accesskey. Will be obfuscated during
              read
            type: string
        type: object
      description: properties related to eventgrid.
      x-ms-discriminator-value: EventGrid
    EventHub:
      allOf:
      - properties:
          connectionString-PrimaryKey:
            description: PrimaryConnectionString of the endpoint. Will be obfuscated
              during read
            type: string
          connectionString-SecondaryKey:
            description: SecondaryConnectionString of the endpoint. Will be obfuscated
              during read
            type: string
        type: object
      - $ref: '#/components/schemas/DigitalTwinsEndpointResourceProperties'
      description: properties related to eventhub.
      x-ms-discriminator-value: EventHub
    ExternalResource:
      description: Definition of a Resource.
      properties:
        id:
          description: The resource identifier.
          readOnly: true
          type: string
        name:
          description: Extension resource name.
          pattern: "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$"
          readOnly: true
          type: string
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    IntegrationResource:
      allOf:
      - $ref: '#/components/schemas/ExternalResource'
      description: IoTHub integration resource.
      example:
        properties:
          resourceId: resourceId
          createdTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationResourceProperties'
    IntegrationResourceProperties:
      allOf:
      - $ref: '#/components/schemas/IntegrationResourceState'
      description: Properties related to the IoTHub DigitalTwinsInstance Integration
        Resource.
      example:
        resourceId: resourceId
        createdTime: 2000-01-23T04:56:07.000+00:00
      properties:
        createdTime:
          description: Time when the IoTHub was added to DigitalTwinsInstance.
          format: date-time
          readOnly: true
          type: string
        resourceId:
          description: Fully qualified resource identifier of the DigitalTwins Azure
            resource.
          type: string
    IntegrationResourceState:
      description: Properties related to the IoTHub DigitalTwinsInstance Integration
        Resource.
      properties:
        provisioningState:
          description: DigitalTwinsInstance - IoTHub link state.
          enum:
          - Provisioning
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: IntegrationResourceState
      type: object
    IntegrationResourceUpdateInfo:
      allOf:
      - $ref: '#/components/schemas/ExternalResource'
      description: IoTHub integration resource.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationResourceUpdateProperties'
    IntegrationResourceUpdateProperties:
      allOf:
      - $ref: '#/components/schemas/IntegrationResourceState'
      description: Updatable properties related to the IoTHub DigitalTwinsInstance
        Integration Resource.
    Operation:
      description: DigitalTwins service REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{read | write | action\
            \ | delete}"
          readOnly: true
          type: string
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "Friendly description for the operation,"
          readOnly: true
          type: string
        operation:
          description: Name of the operation
          readOnly: true
          type: string
        provider:
          description: "Service provider: Microsoft DigitalTwins"
          readOnly: true
          type: string
        resource:
          description: "Resource Type: DigitalTwinsInstances"
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: A list of DigitalTwins service operations. It contains a list of
        operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of DigitalTwins description
            objects.
          type: string
        value:
          description: A list of DigitalTwins operations supported by the Microsoft.DigitalTwins
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    ServiceBus:
      allOf:
      - $ref: '#/components/schemas/DigitalTwinsEndpointResourceProperties'
      - properties:
          primaryConnectionString:
            description: PrimaryConnectionString of the endpoint. Will be obfuscated
              during read
            type: string
          secondaryConnectionString:
            description: SecondaryConnectionString of the endpoint. Will be obfuscated
              during read
            type: string
        type: object
      description: properties related to servicebus.
      x-ms-discriminator-value: ServiceBus
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

