openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Numbers
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_numbers_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_numbers_v2
servers:
- url: https://numbers.twilio.com
tags:
- name: NumbersV2AuthorizationDocument
- name: NumbersV2BulkHostedNumberOrder
- name: NumbersV2Bundle
- name: NumbersV2BundleCopy
- name: NumbersV2DependentHostedNumberOrder
- name: NumbersV2EndUser
- name: NumbersV2EndUserType
- name: NumbersV2Evaluation
- name: NumbersV2HostedNumberOrder
- name: NumbersV2ItemAssignment
- name: NumbersV2Regulation
- name: NumbersV2ReplaceItems
- name: NumbersV2SupportingDocument
- name: NumbersV2SupportingDocumentType
paths:
  /v2/HostedNumber/AuthorizationDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of AuthorizationDocuments belonging to the account
        initiating the request.
      operationId: list_authorization_document
      parameters:
      - description: Email that this AuthorizationDocument will be sent to for signing.
        explode: true
        in: query
        name: Email
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Status of an instance resource. It can hold one of the values:\
          \ 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section\
          \ entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values)\
          \ for more information on each of these statuses."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/authorization_document_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthorizationDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2AuthorizationDocument
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_authorization_document_controller
    post:
      description: Create an AuthorizationDocument for authorizing the hosting of
        phone number capabilities on Twilio's platform.
      operationId: create_authorization_document
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAuthorizationDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.authorization_document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2AuthorizationDocument
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_authorization_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: "/v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders"
      pathType: list
  /v2/HostedNumber/AuthorizationDocuments/{Sid}:
    delete:
      description: Cancel the AuthorizationDocument request.
      operationId: delete_authorization_document
      parameters:
      - description: A 34 character string that uniquely identifies this AuthorizationDocument.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2AuthorizationDocument
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_authorization_document_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific AuthorizationDocument.
      operationId: fetch_authorization_document
      parameters:
      - description: A 34 character string that uniquely identifies this AuthorizationDocument.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.authorization_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2AuthorizationDocument
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_authorization_document_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: "/v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders"
      pathType: instance
  /v2/HostedNumber/AuthorizationDocuments/{SigningDocumentSid}/DependentHostedNumberOrders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of dependent HostedNumberOrders belonging to the
        AuthorizationDocument.
      operationId: list_dependent_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies the LOA document
          associated with this HostedNumberOrder.
        explode: false
        in: path
        name: SigningDocumentSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Status of an instance resource. It can hold one of the values:\
          \ 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section\
          \ entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values)\
          \ for more information on each of these statuses."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/dependent_hosted_number_order_enum_status'
        style: form
      - description: An E164 formatted phone number hosted by this HostedNumberOrder.
        explode: true
        in: query
        name: PhoneNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: A 34 character string that uniquely identifies the IncomingPhoneNumber
          resource created by this HostedNumberOrder.
        explode: true
        in: query
        name: IncomingPhoneNumberSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "A human readable description of this resource, up to 128 characters."
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDependentHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2DependentHostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_dependent_hosted_number_order_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/HostedNumber/AuthorizationDocuments/{Sid}"
      pathType: list
  /v2/HostedNumber/Orders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of HostedNumberOrders belonging to the account
        initiating the request.
      operationId: list_hosted_number_order
      parameters:
      - description: "The Status of this HostedNumberOrder. One of `received`, `pending-verification`,\
          \ `verified`, `pending-loa`, `carrier-processing`, `testing`, `completed`,\
          \ `failed`, or `action-required`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/hosted_number_order_enum_status'
        style: form
      - description: Whether the SMS capability will be hosted on our platform. Can
          be `true` of `false`.
        explode: true
        in: query
        name: SmsCapability
        required: false
        schema:
          type: boolean
        style: form
      - description: An E164 formatted phone number hosted by this HostedNumberOrder.
        explode: true
        in: query
        name: PhoneNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies the IncomingPhoneNumber
          resource created by this HostedNumberOrder.
        explode: true
        in: query
        name: IncomingPhoneNumberSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "A human readable description of this resource, up to 128 characters."
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2HostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_hosted_number_order_controller
    post:
      description: Host a phone number's capability on Twilio's platform.
      operationId: create_hosted_number_order
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHostedNumberOrderRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.hosted_number_order'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2HostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_hosted_number_order_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: hosted_number_orders
      pathType: list
  /v2/HostedNumber/Orders/Bulk:
    description: "TODO: Resource-level docs"
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bulk_hosted_number_orders
      pathType: list
  /v2/HostedNumber/Orders/Bulk/{BulkHostingSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific BulkHostedNumberOrder.
      operationId: fetch_bulk_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
        explode: false
        in: path
        name: BulkHostingSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Order status can be used for filtering on Hosted Number Order\
          \ status values. To see a complete list of order statuses, please check\
          \ 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'."
        explode: true
        in: query
        name: OrderStatus
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.bulk_hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2BulkHostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bulk_hosted_number_order_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bulk_hosted_number_orders
      pathType: instance
  /v2/HostedNumber/Orders/{Sid}:
    delete:
      description: Cancel the HostedNumberOrder (only available when the status is
        in `received`).
      operationId: delete_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this HostedNumberOrder.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2HostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_hosted_number_order_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific HostedNumberOrder.
      operationId: fetch_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this HostedNumberOrder.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2HostedNumberOrder
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_hosted_number_order_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: hosted_number_orders
      pathType: instance
  /v2/RegulatoryCompliance:
    description: "TODO: Resource-level docs"
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /v2/RegulatoryCompliance/Bundles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Bundles for an account.
      operationId: list_bundle
      parameters:
      - description: "The verification status of the Bundle resource. Please refer\
          \ to [Bundle Statuses](https://www.twilio.com/docs/phone-numbers/regulatory/api/bundles#bundle-statuses)\
          \ for more details."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/bundle_enum_status'
        style: form
      - description: The string that you assigned to describe the resource. The column
          can contain 255 variable characters.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "The unique string of a [Regulation resource](https://www.twilio.com/docs/phone-numbers/regulatory/api/regulations)\
          \ that is associated to the Bundle resource."
        explode: true
        in: query
        name: RegulationSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "The 2-digit [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ of the Bundle's phone number country ownership request."
        explode: true
        in: query
        name: IsoCountry
        required: false
        schema:
          type: string
        style: form
      - description: "The type of phone number of the Bundle's ownership request.\
          \ Can be `local`, `mobile`, `national`, or `tollfree`."
        explode: true
        in: query
        name: NumberType
        required: false
        schema:
          type: string
        style: form
      - description: Indicates that the Bundle is a valid Bundle until a specified
          expiration date.
        explode: true
        in: query
        name: HasValidUntilDate
        required: false
        schema:
          type: boolean
        style: form
      - description: Can be `valid-until` or `date-updated`. Defaults to `date-created`.
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          $ref: '#/components/schemas/bundle_enum_sort_by'
        style: form
      - description: Default is `DESC`. Can be `ASC` or `DESC`.
        explode: true
        in: query
        name: SortDirection
        required: false
        schema:
          $ref: '#/components/schemas/bundle_enum_sort_direction'
        style: form
      - description: "Date to filter Bundles having their `valid_until_date` before\
          \ or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`.\
          \ Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ is the acceptable date format."
        explode: true
        in: query
        name: ValidUntilDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Date to filter Bundles having their `valid_until_date` before\
          \ or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`.\
          \ Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ is the acceptable date format."
        explode: true
        in: query
        name: ValidUntilDate<
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Date to filter Bundles having their `valid_until_date` before\
          \ or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`.\
          \ Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ is the acceptable date format."
        explode: true
        in: query
        name: ValidUntilDate>
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBundleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Bundle
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_controller
    post:
      description: Create a new Bundle.
      operationId: create_bundle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBundleRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Bundle
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - regulation_sid
      - friendly_name
      dependentProperties:
        bundle_copies:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/Copies"
        evaluations:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/Evaluations"
        item_assignments:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/ItemAssignments"
        replace_items:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/ReplaceItems"
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Copies:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Bundles Copies for a Bundle.
      operationId: list_bundle_copy
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBundleCopyResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2BundleCopy
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_copy_controller
    post:
      description: Creates a new copy of a Bundle. It will internally create copies
        of all the bundle items (identities and documents) of the original bundle
      operationId: create_bundle_copy
      parameters:
      - description: The unique string that identifies the Bundle to be copied.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBundleCopyRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.bundle_copy'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2BundleCopy
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_copy_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bundle_copies
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the Bundle resource.
      operationId: list_evaluation
      parameters:
      - description: The unique string that identifies the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEvaluationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Evaluation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_evaluation_controller
    post:
      description: Creates an evaluation for a bundle
      operationId: create_evaluation
      parameters:
      - description: The unique string that identifies the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Evaluation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_evaluation_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: fetch_evaluation
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that identifies the Evaluation resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^EL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Evaluation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_evaluation_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: instance
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: list_item_assignment
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemAssignmentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2ItemAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_item_assignment_controller
    post:
      description: Create a new Assigned Item.
      operationId: create_item_assignment
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateItemAssignmentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2ItemAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_item_assignment_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: delete_item_assignment
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2ItemAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_item_assignment_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: fetch_item_assignment
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2ItemAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_item_assignment_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: instance
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ReplaceItems:
    description: "TODO: Resource-level docs"
    post:
      description: Replaces all bundle items in the target bundle (specified in the
        path) with all the bundle items of the source bundle (specified by the from_bundle_sid
        body param)
      operationId: create_replace_items
      parameters:
      - description: The unique string that identifies the Bundle where the item assignments
          are going to be replaced.
        explode: false
        in: path
        name: BundleSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateReplaceItemsRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle.replace_items'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2ReplaceItems
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_replace_items_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      className: replace_items
      defaultOutputProperties: []
      parent: "/RegulatoryCompliance/Bundles/{Sid}"
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{Sid}:
    delete:
      description: Delete a specific Bundle.
      operationId: delete_bundle
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Bundle
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Bundle instance.
      operationId: fetch_bundle
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Bundle
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_controller
    post:
      description: Updates a Bundle in an account.
      operationId: update_bundle
      parameters:
      - description: The unique string that we created to identify the Bundle resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateBundleRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.bundle'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Bundle
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_bundle_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - regulation_sid
      - friendly_name
      dependentProperties:
        bundle_copies:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/Copies"
        evaluations:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/Evaluations"
        item_assignments:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/ItemAssignments"
        replace_items:
          mapping:
            bundle_sid: sid
          resource_url: "/v2/RegulatoryCompliance/Bundles/{bundle_sid}/ReplaceItems"
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/EndUserTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End-User Types.
      operationId: list_end_user_type
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUserType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_type_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/EndUserTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific End-User Type Instance.
      operationId: fetch_end_user_type
      parameters:
      - description: The unique string that identifies the End-User Type resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.end_user_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUserType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_type_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/EndUsers:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End User for an account.
      operationId: list_end_user
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_controller
    post:
      description: Create a new End User.
      operationId: create_end_user
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEndUserRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.end_user'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/EndUsers/{Sid}:
    delete:
      description: Delete a specific End User.
      operationId: delete_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific End User Instance.
      operationId: fetch_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_controller
    post:
      description: Update an existing End User.
      operationId: update_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateEndUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_end_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/Regulations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Regulations.
      operationId: list_regulation
      parameters:
      - description: The type of End User the regulation requires - can be `individual`
          or `business`.
        explode: true
        in: query
        name: EndUserType
        required: false
        schema:
          $ref: '#/components/schemas/regulation_enum_end_user_type'
        style: form
      - description: The ISO country code of the phone number's country.
        explode: true
        in: query
        name: IsoCountry
        required: false
        schema:
          type: string
        style: form
      - description: The type of phone number that the regulatory requiremnt is restricting.
        explode: true
        in: query
        name: NumberType
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRegulationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Regulation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_regulation_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/Regulations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Regulation Instance.
      operationId: fetch_regulation
      parameters:
      - description: The unique string that identifies the Regulation resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.regulation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2Regulation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_regulation_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/SupportingDocumentTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document Types.
      operationId: list_supporting_document_type
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocumentType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_type_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/SupportingDocumentTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Supporting Document Type Instance.
      operationId: fetch_supporting_document_type
      parameters:
      - description: The unique string that identifies the Supporting Document Type
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocumentType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_type_controller
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/SupportingDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document for an account.
      operationId: list_supporting_document
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_controller
    post:
      description: Create a new Supporting Document.
      operationId: create_supporting_document
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSupportingDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.supporting_document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/SupportingDocuments/{Sid}:
    delete:
      description: Delete a specific Supporting Document.
      operationId: delete_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Supporting Document Instance.
      operationId: fetch_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_controller
    post:
      description: Update an existing Supporting Document.
      operationId: update_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSupportingDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.regulatory_compliance.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NumbersV2SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.numbers_v2_supporting_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
components:
  schemas:
    authorization_document_enum_status:
      enum:
      - opened
      - signing
      - signed
      - canceled
      - failed
      title: authorization_document_enum_status
      type: string
    bulk_hosted_number_order_enum_request_status:
      enum:
      - QUEUED
      - IN_PROGRESS
      - PROCESSED
      title: bulk_hosted_number_order_enum_request_status
      type: string
    bundle_copy_enum_end_user_type:
      enum:
      - individual
      - business
      type: string
    bundle_copy_enum_status:
      enum:
      - draft
      - pending-review
      - in-review
      - twilio-rejected
      - twilio-approved
      - provisionally-approved
      title: bundle_copy_enum_status
      type: string
    bundle_enum_end_user_type:
      enum:
      - individual
      - business
      title: bundle_enum_end_user_type
      type: string
    bundle_enum_sort_by:
      enum:
      - valid-until
      - date-updated
      title: bundle_enum_sort_by
      type: string
    bundle_enum_sort_direction:
      enum:
      - ASC
      - DESC
      title: bundle_enum_sort_direction
      type: string
    bundle_enum_status:
      enum:
      - draft
      - pending-review
      - in-review
      - twilio-rejected
      - twilio-approved
      - provisionally-approved
      title: bundle_enum_status
      type: string
    dependent_hosted_number_order_enum_status:
      enum:
      - received
      - verified
      - pending-loa
      - carrier-processing
      - completed
      - failed
      - action-required
      title: dependent_hosted_number_order_enum_status
      type: string
    end_user_enum_type:
      enum:
      - individual
      - business
      title: end_user_enum_type
      type: string
    evaluation_enum_status:
      enum:
      - compliant
      - noncompliant
      title: evaluation_enum_status
      type: string
    hosted_number_order_enum_status:
      enum:
      - received
      - verified
      - pending-loa
      - carrier-processing
      - completed
      - failed
      - action-required
      title: hosted_number_order_enum_status
      type: string
    numbers.v2.authorization_document:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        cc_emails:
        - cc_emails
        - cc_emails
        date_created: 2000-01-23T04:56:07.000+00:00
        links: "{}"
        address_sid: address_sid
        email: email
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        address_sid:
          description: A 34 character string that uniquely identifies the Address
            resource that is associated with this AuthorizationDocument.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AD[0-9a-fA-F]{32}$"
          title: address_sid
          type: string
        cc_emails:
          description: Email recipients who will be informed when an Authorization
            Document has been sent and signed.
          items:
            type: string
          nullable: true
          title: cc_emails
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this resource was updated, given as [GMT RFC\
            \ 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: Email that this AuthorizationDocument will be sent to for signing.
          nullable: true
          title: email
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: A 34 character string that uniquely identifies this AuthorizationDocument.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/authorization_document_enum_status'
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: numbers.v2.authorization_document
      type: object
    numbers.v2.authorization_document.dependent_hosted_number_order:
      example:
        bulk_hosting_request_sid: bulk_hosting_request_sid
        friendly_name: friendly_name
        capabilities:
          voice: true
          mms: true
          sms: true
          fax: true
        date_updated: 2000-01-23T04:56:07.000+00:00
        contact_phone_number: contact_phone_number
        date_created: 2000-01-23T04:56:07.000+00:00
        failure_reason: failure_reason
        address_sid: address_sid
        sid: sid
        cc_emails:
        - cc_emails
        - cc_emails
        next_step: next_step
        signing_document_sid: signing_document_sid
        account_sid: account_sid
        phone_number: phone_number
        contact_title: contact_title
        email: email
        incoming_phone_number_sid: incoming_phone_number_sid
        status: status
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        address_sid:
          description: A 34 character string that uniquely identifies the Address
            resource that represents the address of the owner of this phone number.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AD[0-9a-fA-F]{32}$"
          title: address_sid
          type: string
        bulk_hosting_request_sid:
          description: A 34 character string that uniquely identifies the bulk hosting
            request associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BH[0-9a-fA-F]{32}$"
          title: bulk_hosting_request_sid
          type: string
        capabilities:
          $ref: '#/components/schemas/numbers_v2_authorization_document_dependent_hosted_number_order_capabilities'
        cc_emails:
          description: Email recipients who will be informed when an Authorization
            Document has been sent and signed
          items:
            type: string
          nullable: true
          title: cc_emails
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        contact_phone_number:
          description: The contact phone number of the person authorized to sign the
            Authorization Document.
          format: phone-number
          nullable: true
          title: contact_phone_number
          type: string
        contact_title:
          description: The title of the person authorized to sign the Authorization
            Document for this phone number.
          nullable: true
          title: contact_title
          type: string
        date_created:
          description: "The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this resource was updated, given as [GMT RFC\
            \ 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: Email of the owner of this phone number that is being hosted.
          nullable: true
          title: email
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        failure_reason:
          description: A message that explains why a hosted_number_order went to status
            "action-required"
          nullable: true
          title: failure_reason
          type: string
        friendly_name:
          description: "A human readable description of this resource, up to 128 characters."
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        incoming_phone_number_sid:
          description: A 34 character string that uniquely identifies the IncomingPhoneNumber
            resource created by this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PN[0-9a-fA-F]{32}$"
          title: incoming_phone_number_sid
          type: string
        next_step:
          description: The next step you need to take to complete the hosted number
            order and request it successfully.
          nullable: true
          title: next_step
          type: string
        phone_number:
          description: An E164 formatted phone number hosted by this HostedNumberOrder.
          format: phone-number
          nullable: true
          title: phone_number
          type: string
        sid:
          description: A 34 character string that uniquely identifies this Authorization
            Document
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HR[0-9a-fA-F]{32}$"
          title: sid
          type: string
        signing_document_sid:
          description: A 34 character string that uniquely identifies the LOA document
            associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PX[0-9a-fA-F]{32}$"
          title: signing_document_sid
          type: string
        status:
          $ref: '#/components/schemas/dependent_hosted_number_order_enum_status'
      title: numbers.v2.authorization_document.dependent_hosted_number_order
      type: object
    numbers.v2.bulk_hosted_number_order:
      example:
        request_status: request_status
        friendly_name: friendly_name
        notification_email: notification_email
        date_created: 2000-01-23T04:56:07.000+00:00
        total_count: 0
        date_completed: 2000-01-23T04:56:07.000+00:00
        results:
        - ""
        - ""
        bulk_hosting_sid: bulk_hosting_sid
        url: https://openapi-generator.tech
      properties:
        bulk_hosting_sid:
          description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BH[0-9a-fA-F]{32}$"
          title: bulk_hosting_sid
          type: string
        date_completed:
          description: "The date that this resource was completed, given as [GMT RFC\
            \ 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_completed
          type: string
        date_created:
          description: "The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        friendly_name:
          description: A 128 character string that is a human-readable text that describes
            this resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        notification_email:
          description: Email address used for send notifications about this Bulk hosted
            number request.
          nullable: true
          title: notification_email
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        request_status:
          $ref: '#/components/schemas/bulk_hosted_number_order_enum_request_status'
        results:
          description: "Contains a list of all the individual hosting orders and their\
            \ information, for this Bulk request. Each result object is grouped by\
            \ its order status. To see a complete list of order status, please check\
            \ 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'."
          items: {}
          nullable: true
          title: results
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        total_count:
          description: The total count of phone numbers in this Bulk hosting request.
          nullable: true
          title: total_count
          type: integer
        url:
          description: The URL of this BulkHostedNumberOrder resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: numbers.v2.bulk_hosted_number_order
      type: object
    numbers.v2.hosted_number_order:
      example:
        bulk_hosting_request_sid: bulk_hosting_request_sid
        friendly_name: friendly_name
        capabilities:
          voice: true
          mms: true
          sms: true
          fax: true
        date_updated: 2000-01-23T04:56:07.000+00:00
        contact_phone_number: contact_phone_number
        date_created: 2000-01-23T04:56:07.000+00:00
        failure_reason: failure_reason
        address_sid: address_sid
        url: https://openapi-generator.tech
        sid: sid
        cc_emails:
        - cc_emails
        - cc_emails
        next_step: next_step
        signing_document_sid: signing_document_sid
        account_sid: account_sid
        phone_number: phone_number
        contact_title: contact_title
        email: email
        incoming_phone_number_sid: incoming_phone_number_sid
        status: status
      properties:
        account_sid:
          description: A 34 character string that uniquely identifies the account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        address_sid:
          description: A 34 character string that uniquely identifies the Address
            resource that represents the address of the owner of this phone number.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AD[0-9a-fA-F]{32}$"
          title: address_sid
          type: string
        bulk_hosting_request_sid:
          description: A 34 character string that uniquely identifies the bulk hosting
            request associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BH[0-9a-fA-F]{32}$"
          title: bulk_hosting_request_sid
          type: string
        capabilities:
          $ref: '#/components/schemas/numbers_v2_hosted_number_order_capabilities'
        cc_emails:
          description: A list of emails that LOA document for this HostedNumberOrder
            will be carbon copied to.
          items:
            type: string
          nullable: true
          title: cc_emails
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        contact_phone_number:
          description: The contact phone number of the person authorized to sign the
            Authorization Document.
          format: phone-number
          nullable: true
          title: contact_phone_number
          type: string
        contact_title:
          description: The title of the person authorized to sign the Authorization
            Document for this phone number.
          nullable: true
          title: contact_title
          type: string
        date_created:
          description: "The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this resource was updated, given as [GMT RFC\
            \ 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: Email of the owner of this phone number that is being hosted.
          nullable: true
          title: email
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        failure_reason:
          description: A message that explains why a hosted_number_order went to status
            "action-required"
          nullable: true
          title: failure_reason
          type: string
        friendly_name:
          description: A 128 character string that is a human-readable text that describes
            this resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        incoming_phone_number_sid:
          description: "A 34 character string that uniquely identifies the [IncomingPhoneNumber](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource)\
            \ resource that represents the phone number being hosted."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PN[0-9a-fA-F]{32}$"
          title: incoming_phone_number_sid
          type: string
        next_step:
          description: The next step you need to take to complete the hosted number
            order and request it successfully.
          nullable: true
          title: next_step
          type: string
        phone_number:
          description: "Phone number to be hosted. This must be in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format, e.g., +16175551212"
          format: phone-number
          nullable: true
          title: phone_number
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        sid:
          description: A 34 character string that uniquely identifies this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HR[0-9a-fA-F]{32}$"
          title: sid
          type: string
        signing_document_sid:
          description: "A 34 character string that uniquely identifies the [Authorization\
            \ Document](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource)\
            \ the user needs to sign."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PX[0-9a-fA-F]{32}$"
          title: signing_document_sid
          type: string
        status:
          $ref: '#/components/schemas/hosted_number_order_enum_status'
        url:
          description: The URL of this HostedNumberOrder.
          format: uri
          nullable: true
          title: url
          type: string
      title: numbers.v2.hosted_number_order
      type: object
    numbers.v2.regulatory_compliance:
      properties: {}
      type: object
    numbers.v2.regulatory_compliance.bundle:
      example:
        regulation_sid: regulation_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        valid_until: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        status_callback: https://openapi-generator.tech
        email: email
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Bundle resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: The email address that will receive updates when the Bundle
            resource changes status.
          nullable: true
          title: email
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        links:
          description: The URLs of the Assigned Items of the Bundle resource.
          format: uri-map
          nullable: true
          title: links
          type: object
        regulation_sid:
          description: The unique string of a regulation that is associated to the
            Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: regulation_sid
          type: string
        sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/bundle_enum_status'
        status_callback:
          description: The URL we call to inform your application of status changes.
          format: uri
          nullable: true
          title: status_callback
          type: string
        url:
          description: The absolute URL of the Bundle resource.
          format: uri
          nullable: true
          title: url
          type: string
        valid_until:
          description: "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format when the resource will be valid until."
          format: date-time
          nullable: true
          title: valid_until
          type: string
      title: numbers.v2.regulatory_compliance.bundle
      type: object
    numbers.v2.regulatory_compliance.bundle.bundle_copy:
      example:
        regulation_sid: regulation_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        valid_until: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        status_callback: https://openapi-generator.tech
        email: email
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Bundle resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: The email address that will receive updates when the Bundle
            resource changes status.
          nullable: true
          title: email
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        regulation_sid:
          description: The unique string of a regulation that is associated to the
            Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: regulation_sid
          type: string
        sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/bundle_copy_enum_status'
        status_callback:
          description: The URL we call to inform your application of status changes.
          format: uri
          nullable: true
          title: status_callback
          type: string
        valid_until:
          description: "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format when the resource will be valid until."
          format: date-time
          nullable: true
          title: valid_until
          type: string
      title: numbers.v2.regulatory_compliance.bundle.bundle_copy
      type: object
    numbers.v2.regulatory_compliance.bundle.evaluation:
      example:
        regulation_sid: regulation_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        bundle_sid: bundle_sid
        results:
        - ""
        - ""
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Bundle resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        bundle_sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: bundle_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        regulation_sid:
          description: The unique string of a regulation that is associated to the
            Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: regulation_sid
          type: string
        results:
          description: The results of the Evaluation which includes the valid and
            invalid attributes.
          items: {}
          nullable: true
          title: results
          type: array
        sid:
          description: The unique string that identifies the Evaluation resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^EL[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/evaluation_enum_status'
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: numbers.v2.regulatory_compliance.bundle.evaluation
      type: object
    numbers.v2.regulatory_compliance.bundle.item_assignment:
      example:
        object_sid: object_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        bundle_sid: bundle_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Item Assignment resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        bundle_sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: bundle_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        object_sid:
          description: The SID of an object bag that holds information of the different
            items.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          title: object_sid
          type: string
        sid:
          description: The unique string that we created to identify the Item Assignment
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BV[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Identity resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: numbers.v2.regulatory_compliance.bundle.item_assignment
      type: object
    numbers.v2.regulatory_compliance.bundle.replace_items:
      example:
        regulation_sid: regulation_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        valid_until: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        status_callback: https://openapi-generator.tech
        email: email
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Bundle resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: The email address that will receive updates when the Bundle
            resource changes status.
          nullable: true
          title: email
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        regulation_sid:
          description: The unique string of a regulation that is associated to the
            Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: regulation_sid
          type: string
        sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/replace_items_enum_status'
        status_callback:
          description: The URL we call to inform your application of status changes.
          format: uri
          nullable: true
          title: status_callback
          type: string
        valid_until:
          description: "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format when the resource will be valid until."
          format: date-time
          nullable: true
          title: valid_until
          type: string
      title: numbers.v2.regulatory_compliance.bundle.replace_items
      type: object
    numbers.v2.regulatory_compliance.end_user:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        attributes: ""
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the End User resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: The set of parameters that are the attributes of the End Users
            resource which are listed in the End User Types.
          nullable: true
          title: attributes
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        sid:
          description: The unique string created by Twilio to identify the End User
            resource.
          maxLength: 34
          minLength: 34
[...]
