openapi: 3.0.1
info:
  title: Lucidtech API
  version: 2023-03-23T15:40:40Z
  x-logo:
    url: https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d5595354de4fbdd8c554dba_default_webclip.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/LucidtechAI/cradl-docs/master/static/oas.yaml
    version: "3.0"
  x-providerName: webflow.com
servers:
- url: "https://api.lucidtech.ai/{basePath}"
  variables:
    basePath:
      default: v1
paths:
  /appClients:
    get:
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClients'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAppClients'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /appClients/{appClientId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security: []
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    patch:
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppClientId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /assets:
    get:
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assets'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAssets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /assets/{assetId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-accepts:
      - application/json
    get:
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    patch:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAssetId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /datasets:
    get:
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDatasets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /datasets/{datasetId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-accepts:
      - application/json
    get:
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    patch:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDatasetId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /deploymentEnvironments:
    get:
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironments'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/secrets:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
  /deploymentEnvironments/{deploymentEnvironmentId}:
    get:
      parameters:
      - explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironment'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/organizations:read
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
  /documents:
    delete:
      parameters:
      - explode: true
        in: query
        name: consentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: datasetId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-accepts:
      - application/json
    get:
      parameters:
      - explode: true
        in: query
        name: datasetId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: documentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: consentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDocuments'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /documents/{documentId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-accepts:
      - application/json
    get:
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
    patch:
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDocumentId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /logs:
    get:
      parameters:
      - explode: true
        in: query
        name: workflowId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: transitionExecutionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: transitionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: workflowExecutionId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logs'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/logs:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
  /logs/{logId}:
    get:
      parameters:
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/logs:read
      x-accepts:
      - application/json
    options:
      parameters:
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-content-type: application/json
      x-accepts:
      - application/json
  /models:
    get:
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/models:read
      x-accepts:
      - application/json
    options:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
[...]
