openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Notify
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_notify_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_notify_v1
servers:
- url: https://notify.twilio.com
tags:
- name: NotifyV1Binding
- name: NotifyV1Credential
- name: NotifyV1Notification
- name: NotifyV1Service
paths:
  /v1/Credentials:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_credential
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Credential
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_credential_controller
    post:
      description: ""
      operationId: create_credential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.credential'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Credential
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v1/Credentials/{Sid}:
    delete:
      description: ""
      operationId: delete_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Credential
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_credential_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Credential
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_credential_controller
    post:
      description: ""
      operationId: update_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Credential
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v1/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_service
      parameters:
      - description: The string that identifies the Service resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_service_controller
    post:
      description: ""
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        bindings:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Bindings"
        notifications:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Notifications"
        segments:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Segments"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: list
  /v1/Services/{ServiceSid}/Bindings:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_binding
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
          \ to read the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Only include usage that has occurred on or after this date. Specify
          the date in GMT and format as `YYYY-MM-DD`.
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Only include usage that occurred on or before this date. Specify
          the date in GMT and format as `YYYY-MM-DD`.
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "The [User](https://www.twilio.com/docs/chat/rest/user-resource)'s\
          \ `identity` value of the resources to read."
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-twilio:
          pii:
            deleteSla: 120
            handling: standard
      - description: "Only list Bindings that have all of the specified Tags. The\
          \ following implicit tags are available: `all`, `apn`, `fcm`, `gcm`, `sms`,\
          \ `facebook-messenger`. Up to 5 tags are allowed."
        explode: true
        in: query
        name: Tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Binding
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_binding_controller
    post:
      description: ""
      operationId: create_binding
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBindingRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service.binding'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Binding
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_binding_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - endpoint
      - binding_type
      - address
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Bindings/{Sid}:
    delete:
      description: ""
      operationId: delete_binding
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Binding
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Binding
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_binding_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_binding
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Binding
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service.binding'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Binding
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_binding_controller
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - endpoint
      - binding_type
      - address
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Notifications:
    description: "TODO: Resource-level docs"
    post:
      description: ""
      operationId: create_notification
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateNotificationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service.notification'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Notification
      x-maturity:
      - Beta
      x-twilio:
        conditional:
        - - identity
          - tag
      x-openapi-router-controller: openapi_server.controllers.notify_v1_notification_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - priority
      - title
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{Sid}:
    delete:
      description: ""
      operationId: delete_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_service_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_service_controller
    post:
      description: ""
      operationId: update_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notify.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - NotifyV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.notify_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://notify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        bindings:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Bindings"
        notifications:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Notifications"
        segments:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Segments"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: instance
components:
  schemas:
    binding_enum_binding_type:
      enum:
      - apn
      - gcm
      - sms
      - fcm
      - facebook-messenger
      - alexa
      title: binding_enum_binding_type
      type: string
    credential_enum_push_service:
      enum:
      - gcm
      - apn
      - fcm
      title: credential_enum_push_service
      type: string
    notification_enum_priority:
      enum:
      - high
      - low
      title: notification_enum_priority
      type: string
    notify.v1.credential:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sandbox: sandbox
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Credential resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        sandbox:
          description: "[APN only] Whether to send the credential to sandbox APNs.\
            \ Can be `true` to send to sandbox APNs or `false` to send to production."
          nullable: true
          title: sandbox
          type: string
        sid:
          description: The unique string that we created to identify the Credential
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/credential_enum_push_service'
        url:
          description: The absolute URL of the Credential resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: notify.v1.credential
      type: object
    notify.v1.service:
      example:
        friendly_name: friendly_name
        alexa_skill_id: alexa_skill_id
        date_updated: 2000-01-23T04:56:07.000+00:00
        default_apn_notification_protocol_version: default_apn_notification_protocol_version
        default_fcm_notification_protocol_version: default_fcm_notification_protocol_version
        gcm_credential_sid: gcm_credential_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        fcm_credential_sid: fcm_credential_sid
        default_gcm_notification_protocol_version: default_gcm_notification_protocol_version
        url: https://openapi-generator.tech
        sid: sid
        default_alexa_notification_protocol_version: default_alexa_notification_protocol_version
        facebook_messenger_page_id: facebook_messenger_page_id
        delivery_callback_enabled: true
        messaging_service_sid: messaging_service_sid
        delivery_callback_url: delivery_callback_url
        account_sid: account_sid
        links: "{}"
        log_enabled: true
        apn_credential_sid: apn_credential_sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Service resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        alexa_skill_id:
          description: Deprecated.
          nullable: true
          title: alexa_skill_id
          type: string
        apn_credential_sid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for APN Bindings."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: apn_credential_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        default_alexa_notification_protocol_version:
          description: Deprecated.
          nullable: true
          title: default_alexa_notification_protocol_version
          type: string
        default_apn_notification_protocol_version:
          description: "The protocol version to use for sending APNS notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          nullable: true
          title: default_apn_notification_protocol_version
          type: string
        default_fcm_notification_protocol_version:
          description: "The protocol version to use for sending FCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          nullable: true
          title: default_fcm_notification_protocol_version
          type: string
        default_gcm_notification_protocol_version:
          description: "The protocol version to use for sending GCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          nullable: true
          title: default_gcm_notification_protocol_version
          type: string
        delivery_callback_enabled:
          description: "Callback configuration that enables delivery callbacks, default\
            \ false"
          nullable: true
          title: delivery_callback_enabled
          type: boolean
        delivery_callback_url:
          description: URL to send delivery status callback.
          nullable: true
          title: delivery_callback_url
          type: string
        facebook_messenger_page_id:
          description: Deprecated.
          nullable: true
          title: facebook_messenger_page_id
          type: string
        fcm_credential_sid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for FCM Bindings."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: fcm_credential_sid
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        gcm_credential_sid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for GCM Bindings."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: gcm_credential_sid
          type: string
        links:
          description: "The URLs of the Binding, Notification, Segment, and User resources\
            \ related to the service."
          format: uri-map
          nullable: true
          title: links
          type: object
        log_enabled:
          description: "Whether to log notifications. Can be: `true` or `false` and\
            \ the default is `true`."
          nullable: true
          title: log_enabled
          type: boolean
        messaging_service_sid:
          description: "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/quickstart#messaging-services)\
            \ to use for SMS Bindings. In order to send SMS notifications this parameter\
            \ has to be set."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: messaging_service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Service resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: notify.v1.service
      type: object
    notify.v1.service.binding:
      example:
        credential_sid: credential_sid
        binding_type: binding_type
        address: address
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        url: https://openapi-generator.tech
        sid: sid
        tags:
        - tags
        - tags
        service_sid: service_sid
        endpoint: endpoint
        identity: identity
        notification_protocol_version: notification_protocol_version
        account_sid: account_sid
        links: "{}"
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Binding resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        address:
          description: "The channel-specific address. For APNS, the device token.\
            \ For FCM and GCM, the registration token. For SMS, a phone number in\
            \ E.164 format. For Facebook Messenger, the Messenger ID of the user or\
            \ a phone number in E.164 format."
          nullable: true
          title: address
          type: string
          x-twilio:
            pii:
              deleteSla: 120
              handling: sensitive
        binding_type:
          description: "The transport technology to use for the Binding. Can be: `apn`,\
            \ `fcm`, `gcm`, `sms`, or `facebook-messenger`."
          nullable: true
          title: binding_type
          type: string
        credential_sid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ resource to be used to send notifications to this Binding. If present,\
            \ this overrides the Credential specified in the Service resource. Applicable\
            \ only to `apn`, `fcm`, and `gcm` type Bindings."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: credential_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        endpoint:
          description: Deprecated.
          nullable: true
          title: endpoint
          type: string
        identity:
          description: "The `identity` value that uniquely identifies the resource's\
            \ [User](https://www.twilio.com/docs/chat/rest/user-resource) within the\
            \ [Service](https://www.twilio.com/docs/notify/api/service-resource).\
            \ Up to 20 Bindings can be created for the same Identity in a given Service."
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 120
              handling: standard
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        notification_protocol_version:
          description: "The protocol version to use to send the notification. This\
            \ defaults to the value of `default_xxxx_notification_protocol_version`\
            \ in the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
            \ for the protocol. The current version is `\"3\"` for `apn`, `fcm`, and\
            \ `gcm` type Bindings. The parameter is not applicable to `sms` and `facebook-messenger`\
            \ type Bindings as the data format is fixed."
          nullable: true
          title: notification_protocol_version
          type: string
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Binding resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        tags:
          description: The list of tags associated with this Binding. Tags can be
            used to select the Bindings to use when sending a notification. Maximum
            20 tags are allowed.
          items:
            type: string
          nullable: true
          title: tags
          type: array
          x-twilio:
            pii:
              deleteSla: 120
              handling: standard
        url:
          description: The absolute URL of the Binding resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: notify.v1.service.binding
      type: object
    notify.v1.service.notification:
      example:
        data: ""
        date_created: 2000-01-23T04:56:07.000+00:00
        sound: sound
        facebook_messenger: ""
        alexa: ""
        body: body
        priority: priority
        title: title
        ttl: 0
        segments:
        - segments
        - segments
        sid: sid
        tags:
        - tags
        - tags
        gcm: ""
        service_sid: service_sid
        fcm: ""
        identities:
        - identities
        - identities
        sms: ""
        account_sid: account_sid
        action: action
        apn: ""
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Notification resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        action:
          description: "The actions to display for the notification. For APNS, translates\
            \ to the `aps.category` value. For GCM, translates to the `data.twi_action`\
            \ value. For SMS, this parameter is not supported and is omitted from\
            \ deliveries to those channels."
          nullable: true
          title: action
          type: string
        alexa:
          description: Deprecated.
          nullable: true
          title: alexa
        apn:
          description: "The APNS-specific payload that overrides corresponding attributes\
            \ in the generic payload for APNS Bindings. This property maps to the\
            \ APNS `Payload` item, therefore the `aps` key must be used to change\
            \ standard attributes. Adds custom key-value pairs to the root of the\
            \ dictionary. See the [APNS documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html)\
            \ for more details. We reserve keys that start with `twi_` for future\
            \ use. Custom keys that start with `twi_` are not allowed."
          nullable: true
          title: apn
        body:
          description: "The notification text. For FCM and GCM, translates to `data.twi_body`.\
            \ For APNS, translates to `aps.alert.body`. For SMS, translates to `body`.\
            \ SMS requires either this `body` value, or `media_urls` attribute defined\
            \ in the `sms` parameter of the notification."
          nullable: true
          title: body
          type: string
          x-twilio:
            pii:
              deleteSla: 0
              handling: standard
        data:
          description: "The custom key-value pairs of the notification's payload.\
            \ For FCM and GCM, this value translates to `data` in the FCM and GCM\
            \ payloads. FCM and GCM [reserve certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref)\
            \ that cannot be used in those channels. For APNS, attributes of `data`\
            \ are inserted into the APNS payload as custom properties outside of the\
            \ `aps` dictionary. In all channels, we reserve keys that start with `twi_`\
            \ for future use. Custom keys that start with `twi_` are not allowed and\
            \ are rejected as 400 Bad request with no delivery attempted. For SMS,\
            \ this parameter is not supported and is omitted from deliveries to those\
            \ channels."
          nullable: true
          title: data
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        facebook_messenger:
          description: Deprecated.
          nullable: true
          title: facebook_messenger
        fcm:
          description: "The FCM-specific payload that overrides corresponding attributes\
            \ in the generic payload for FCM Bindings. This property maps to the root\
            \ JSON dictionary. See the [FCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream)\
            \ for more details. Target parameters `to`, `registration_ids`, `condition`,\
            \ and `notification_key` are not allowed in this parameter. We reserve\
            \ keys that start with `twi_` for future use. Custom keys that start with\
            \ `twi_` are not allowed. FCM also [reserves certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref),\
            \ which cannot be used in that channel."
          nullable: true
          title: fcm
        gcm:
          description: "The GCM-specific payload that overrides corresponding attributes\
            \ in the generic payload for GCM Bindings.  This property maps to the\
            \ root JSON dictionary. Target parameters `to`, `registration_ids`, and\
            \ `notification_key` are not allowed. We reserve keys that start with\
            \ `twi_` for future use. Custom keys that start with `twi_` are not allowed."
          nullable: true
          title: gcm
        identities:
          description: The list of `identity` values of the Users to notify. We will
            attempt to deliver notifications only to Bindings with an identity in
            this list.
          items:
            type: string
          nullable: true
          title: identities
          type: array
          x-twilio:
            pii:
              deleteSla: 120
              handling: standard
        priority:
          $ref: '#/components/schemas/notification_enum_priority'
        segments:
          description: "The list of Segments to notify. The [Segment](https://www.twilio.com/docs/notify/api/segment-resource)\
            \ resource is deprecated. Use the `tags` property, instead."
          items:
            type: string
          nullable: true
          title: segments
          type: array
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Notification
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sms:
          description: "The SMS-specific payload that overrides corresponding attributes\
            \ in the generic payload for SMS Bindings.  Each attribute in this value\
            \ maps to the corresponding `form` parameter of the Twilio [Message](https://www.twilio.com/docs/sms/api/message-resource)\
            \ resource.  These parameters of the Message resource are supported in\
            \ snake case format: `body`, `media_urls`, `status_callback`, and `max_price`.\
            \  The `status_callback` parameter overrides the corresponding parameter\
            \ in the messaging service, if configured. The `media_urls` property expects\
            \ a JSON array."
          nullable: true
          title: sms
        sound:
          description: "The name of the sound to be played for the notification. For\
            \ FCM and GCM, this Translates to `data.twi_sound`.  For APNS, this translates\
            \ to `aps.sound`.  SMS does not support this property."
          nullable: true
          title: sound
          type: string
        tags:
          description: The tags that select the Bindings to notify. Notifications
            will be attempted only to Bindings that have all of the tags listed in
            this property.
          items:
            type: string
          nullable: true
          title: tags
          type: array
          x-twilio:
            pii:
              deleteSla: 120
              handling: standard
        title:
          description: "The notification title. For FCM and GCM, this translates to\
            \ the `data.twi_title` value. For APNS, this translates to the `aps.alert.title`\
            \ value. SMS does not support this property. This field is not visible\
            \ on iOS phones and tablets but appears on Apple Watch and Android devices."
          nullable: true
          title: title
          type: string
        ttl:
          description: "How long, in seconds, the notification is valid. Can be an\
            \ integer between 0 and 2,419,200, which is 4 weeks, the default and the\
            \ maximum supported time to live (TTL). Delivery should be attempted if\
            \ the device is offline until the TTL elapses. Zero means that the notification\
            \ delivery is attempted immediately, only once, and is not stored for\
            \ future delivery. SMS does not support this property."
          nullable: true
          title: ttl
          type: integer
      title: notify.v1.service.notification
      type: object
    ListCredentialResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListCredentialResponse_meta
      type: object
    ListCredentialResponse:
      example:
        credentials:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sandbox: sandbox
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sandbox: sandbox
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        credentials:
          items:
            $ref: '#/components/schemas/notify.v1.credential'
          title: credentials
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListCredentialResponse
      type: object
    CreateCredentialRequest:
      properties:
        ApiKey:
          description: "[GCM only] The `Server key` of your project from Firebase\
            \ console under Settings / Cloud messaging."
          type: string
        Certificate:
          description: "[APN only] The URL-encoded representation of the certificate.\
            \ Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END\
            \ CERTIFICATE-----`"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        PrivateKey:
          description: "[APN only] The URL-encoded representation of the private key.\
            \ Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE\
            \ KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\\\
            n.-----END RSA PRIVATE KEY-----`"
          type: string
        Sandbox:
          description: "[APN only] Whether to send the credential to sandbox APNs.\
            \ Can be `true` to send to sandbox APNs or `false` to send to production."
          type: boolean
        Secret:
          description: "[FCM only] The `Server key` of your project from Firebase\
            \ console under Settings / Cloud messaging."
          type: string
        Type:
          $ref: '#/components/schemas/credential_enum_push_service'
      required:
      - Type
      title: CreateCredentialRequest
      type: object
    UpdateCredentialRequest:
      properties:
        ApiKey:
          description: "[GCM only] The `Server key` of your project from Firebase\
            \ console under Settings / Cloud messaging."
          type: string
        Certificate:
          description: "[APN only] The URL-encoded representation of the certificate.\
            \ Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END\
            \ CERTIFICATE-----`"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        PrivateKey:
          description: "[APN only] The URL-encoded representation of the private key.\
            \ Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE\
            \ KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\\\
            n.-----END RSA PRIVATE KEY-----`"
          type: string
        Sandbox:
          description: "[APN only] Whether to send the credential to sandbox APNs.\
            \ Can be `true` to send to sandbox APNs or `false` to send to production."
          type: boolean
        Secret:
          description: "[FCM only] The `Server key` of your project from Firebase\
            \ console under Settings / Cloud messaging."
          type: string
      title: UpdateCredentialRequest
      type: object
    ListServiceResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        services:
        - friendly_name: friendly_name
          alexa_skill_id: alexa_skill_id
          date_updated: 2000-01-23T04:56:07.000+00:00
          default_apn_notification_protocol_version: default_apn_notification_protocol_version
          default_fcm_notification_protocol_version: default_fcm_notification_protocol_version
          gcm_credential_sid: gcm_credential_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          fcm_credential_sid: fcm_credential_sid
          default_gcm_notification_protocol_version: default_gcm_notification_protocol_version
          url: https://openapi-generator.tech
          sid: sid
          default_alexa_notification_protocol_version: default_alexa_notification_protocol_version
          facebook_messenger_page_id: facebook_messenger_page_id
          delivery_callback_enabled: true
          messaging_service_sid: messaging_service_sid
          delivery_callback_url: delivery_callback_url
          account_sid: account_sid
          links: "{}"
          log_enabled: true
          apn_credential_sid: apn_credential_sid
        - friendly_name: friendly_name
          alexa_skill_id: alexa_skill_id
          date_updated: 2000-01-23T04:56:07.000+00:00
          default_apn_notification_protocol_version: default_apn_notification_protocol_version
          default_fcm_notification_protocol_version: default_fcm_notification_protocol_version
          gcm_credential_sid: gcm_credential_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          fcm_credential_sid: fcm_credential_sid
          default_gcm_notification_protocol_version: default_gcm_notification_protocol_version
          url: https://openapi-generator.tech
          sid: sid
          default_alexa_notification_protocol_version: default_alexa_notification_protocol_version
          facebook_messenger_page_id: facebook_messenger_page_id
          delivery_callback_enabled: true
          messaging_service_sid: messaging_service_sid
          delivery_callback_url: delivery_callback_url
          account_sid: account_sid
          links: "{}"
          log_enabled: true
          apn_credential_sid: apn_credential_sid
      properties:
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
        services:
          items:
            $ref: '#/components/schemas/notify.v1.service'
          title: services
          type: array
      title: ListServiceResponse
      type: object
    CreateServiceRequest:
      properties:
        AlexaSkillId:
          description: Deprecated.
          type: string
        ApnCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for APN Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        DefaultAlexaNotificationProtocolVersion:
          description: Deprecated.
          type: string
        DefaultApnNotificationProtocolVersion:
          description: "The protocol version to use for sending APNS notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DefaultFcmNotificationProtocolVersion:
          description: "The protocol version to use for sending FCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DefaultGcmNotificationProtocolVersion:
          description: "The protocol version to use for sending GCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DeliveryCallbackEnabled:
          description: "Callback configuration that enables delivery callbacks, default\
            \ false"
          type: boolean
        DeliveryCallbackUrl:
          description: URL to send delivery status callback.
          type: string
        FacebookMessengerPageId:
          description: Deprecated.
          type: string
        FcmCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for FCM Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        GcmCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for GCM Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        LogEnabled:
          description: "Whether to log notifications. Can be: `true` or `false` and\
            \ the default is `true`."
          type: boolean
        MessagingServiceSid:
          description: "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/quickstart#messaging-services)\
            \ to use for SMS Bindings. This parameter must be set in order to send\
            \ SMS notifications."
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
      title: CreateServiceRequest
      type: object
    ListBindingResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        bindings:
        - credential_sid: credential_sid
          binding_type: binding_type
          address: address
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          url: https://openapi-generator.tech
          sid: sid
          tags:
          - tags
          - tags
          service_sid: service_sid
          endpoint: endpoint
          identity: identity
          notification_protocol_version: notification_protocol_version
          account_sid: account_sid
          links: "{}"
        - credential_sid: credential_sid
          binding_type: binding_type
          address: address
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          url: https://openapi-generator.tech
          sid: sid
          tags:
          - tags
          - tags
          service_sid: service_sid
          endpoint: endpoint
          identity: identity
          notification_protocol_version: notification_protocol_version
          account_sid: account_sid
          links: "{}"
      properties:
        bindings:
          items:
            $ref: '#/components/schemas/notify.v1.service.binding'
          title: bindings
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListBindingResponse
      type: object
    CreateBindingRequest:
      properties:
        Address:
          description: "The channel-specific address. For APNS, the device token.\
            \ For FCM and GCM, the registration token. For SMS, a phone number in\
            \ E.164 format. For Facebook Messenger, the Messenger ID of the user or\
            \ a phone number in E.164 format."
          type: string
        BindingType:
          $ref: '#/components/schemas/binding_enum_binding_type'
        CredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ resource to be used to send notifications to this Binding. If present,\
            \ this overrides the Credential specified in the Service resource. Applies\
            \ to only `apn`, `fcm`, and `gcm` type Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        Endpoint:
          description: Deprecated.
          type: string
        Identity:
          description: "The `identity` value that uniquely identifies the new resource's\
            \ [User](https://www.twilio.com/docs/chat/rest/user-resource) within the\
            \ [Service](https://www.twilio.com/docs/notify/api/service-resource).\
            \ Up to 20 Bindings can be created for the same Identity in a given Service."
          type: string
        NotificationProtocolVersion:
          description: "The protocol version to use to send the notification. This\
            \ defaults to the value of `default_xxxx_notification_protocol_version`\
            \ for the protocol in the [Service](https://www.twilio.com/docs/notify/api/service-resource).\
            \ The current version is `\"3\"` for `apn`, `fcm`, and `gcm` type Bindings.\
            \ The parameter is not applicable to `sms` and `facebook-messenger` type\
            \ Bindings as the data format is fixed."
          type: string
        Tag:
          description: "A tag that can be used to select the Bindings to notify. Repeat\
            \ this parameter to specify more than one tag, up to a total of 20 tags."
          items:
            type: string
          type: array
      required:
      - Address
      - BindingType
      - Identity
      title: CreateBindingRequest
      type: object
    CreateNotificationRequest:
      properties:
        Action:
          description: "The actions to display for the notification. For APNS, translates\
            \ to the `aps.category` value. For GCM, translates to the `data.twi_action`\
            \ value. For SMS, this parameter is not supported and is omitted from\
            \ deliveries to those channels."
          type: string
        Alexa:
          description: Deprecated.
        Apn:
          description: "The APNS-specific payload that overrides corresponding attributes\
            \ in the generic payload for APNS Bindings. This property maps to the\
            \ APNS `Payload` item, therefore the `aps` key must be used to change\
            \ standard attributes. Adds custom key-value pairs to the root of the\
            \ dictionary. See the [APNS documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html)\
            \ for more details. We reserve keys that start with `twi_` for future\
            \ use. Custom keys that start with `twi_` are not allowed."
        Body:
          description: "The notification text. For FCM and GCM, translates to `data.twi_body`.\
            \ For APNS, translates to `aps.alert.body`. For SMS, translates to `body`.\
            \ SMS requires either this `body` value, or `media_urls` attribute defined\
            \ in the `sms` parameter of the notification."
          type: string
        Data:
          description: "The custom key-value pairs of the notification's payload.\
            \ For FCM and GCM, this value translates to `data` in the FCM and GCM\
            \ payloads. FCM and GCM [reserve certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref)\
            \ that cannot be used in those channels. For APNS, attributes of `data`\
            \ are inserted into the APNS payload as custom properties outside of the\
            \ `aps` dictionary. In all channels, we reserve keys that start with `twi_`\
            \ for future use. Custom keys that start with `twi_` are not allowed and\
            \ are rejected as 400 Bad request with no delivery attempted. For SMS,\
            \ this parameter is not supported and is omitted from deliveries to those\
            \ channels."
        DeliveryCallbackUrl:
          description: URL to send webhooks.
          type: string
        FacebookMessenger:
          description: Deprecated.
        Fcm:
          description: "The FCM-specific payload that overrides corresponding attributes\
            \ in the generic payload for FCM Bindings. This property maps to the root\
            \ JSON dictionary. See the [FCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream)\
            \ for more details. Target parameters `to`, `registration_ids`, `condition`,\
            \ and `notification_key` are not allowed in this parameter. We reserve\
            \ keys that start with `twi_` for future use. Custom keys that start with\
            \ `twi_` are not allowed. FCM also [reserves certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref),\
            \ which cannot be used in that channel."
        Gcm:
          description: "The GCM-specific payload that overrides corresponding attributes\
            \ in the generic payload for GCM Bindings.  This property maps to the\
            \ root JSON dictionary. See the [GCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref)\
            \ for more details. Target parameters `to`, `registration_ids`, and `notification_key`\
            \ are not allowed. We reserve keys that start with `twi_` for future use.\
            \ Custom keys that start with `twi_` are not allowed. GCM also [reserves\
            \ certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref)."
        Identity:
          description: "The `identity` value that uniquely identifies the new resource's\
            \ [User](https://www.twilio.com/docs/chat/rest/user-resource) within the\
            \ [Service](https://www.twilio.com/docs/notify/api/service-resource).\
            \ Delivery will be attempted only to Bindings with an Identity in this\
            \ list. No more than 20 items are allowed in this list."
          items:
            type: string
          type: array
        Priority:
          $ref: '#/components/schemas/notification_enum_priority'
        Segment:
          description: "The Segment resource is deprecated. Use the `tag` parameter,\
            \ instead."
          items:
            type: string
          type: array
        Sms:
          description: "The SMS-specific payload that overrides corresponding attributes\
            \ in the generic payload for SMS Bindings.  Each attribute in this value\
            \ maps to the corresponding `form` parameter of the Twilio [Message](https://www.twilio.com/docs/sms/quickstart)\
            \ resource.  These parameters of the Message resource are supported in\
            \ snake case format: `body`, `media_urls`, `status_callback`, and `max_price`.\
            \  The `status_callback` parameter overrides the corresponding parameter\
            \ in the messaging service, if configured. The `media_urls` property expects\
            \ a JSON array."
        Sound:
          description: "The name of the sound to be played for the notification. For\
            \ FCM and GCM, this Translates to `data.twi_sound`.  For APNS, this translates\
            \ to `aps.sound`.  SMS does not support this property."
          type: string
        Tag:
          description: "A tag that selects the Bindings to notify. Repeat this parameter\
            \ to specify more than one tag, up to a total of 5 tags. The implicit\
            \ tag `all` is available to notify all Bindings in a Service instance.\
            \ Similarly, the implicit tags `apn`, `fcm`, `gcm`, `sms` and `facebook-messenger`\
            \ are available to notify all Bindings in a specific channel."
          items:
            type: string
          type: array
        Title:
          description: "The notification title. For FCM and GCM, this translates to\
            \ the `data.twi_title` value. For APNS, this translates to the `aps.alert.title`\
            \ value. SMS does not support this property. This field is not visible\
            \ on iOS phones and tablets but appears on Apple Watch and Android devices."
          type: string
        ToBinding:
          description: "The destination address specified as a JSON string.  Multiple\
            \ `to_binding` parameters can be included but the total size of the request\
            \ entity should not exceed 1MB. This is typically sufficient for 10,000\
            \ phone numbers."
          items:
            type: string
          type: array
        Ttl:
          description: "How long, in seconds, the notification is valid. Can be an\
            \ integer between 0 and 2,419,200, which is 4 weeks, the default and the\
            \ maximum supported time to live (TTL). Delivery should be attempted if\
            \ the device is offline until the TTL elapses. Zero means that the notification\
            \ delivery is attempted immediately, only once, and is not stored for\
            \ future delivery. SMS does not support this property."
          type: integer
      title: CreateNotificationRequest
      type: object
    UpdateServiceRequest:
      properties:
        AlexaSkillId:
          description: Deprecated.
          type: string
        ApnCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for APN Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        DefaultAlexaNotificationProtocolVersion:
          description: Deprecated.
          type: string
        DefaultApnNotificationProtocolVersion:
          description: "The protocol version to use for sending APNS notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DefaultFcmNotificationProtocolVersion:
          description: "The protocol version to use for sending FCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DefaultGcmNotificationProtocolVersion:
          description: "The protocol version to use for sending GCM notifications.\
            \ Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)\
            \ resource."
          type: string
        DeliveryCallbackEnabled:
          description: "Callback configuration that enables delivery callbacks, default\
            \ false"
          type: boolean
        DeliveryCallbackUrl:
          description: URL to send delivery status callback.
          type: string
        FacebookMessengerPageId:
          description: Deprecated.
          type: string
        FcmCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for FCM Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        GcmCredentialSid:
          description: "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource)\
            \ to use for GCM Bindings."
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        LogEnabled:
          description: "Whether to log notifications. Can be: `true` or `false` and\
            \ the default is `true`."
          type: boolean
        MessagingServiceSid:
          description: "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/quickstart#messaging-services)\
            \ to use for SMS Bindings. This parameter must be set in order to send\
            \ SMS notifications."
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
      title: UpdateServiceRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta
