openapi: 3.0.1
info:
  description: APIs to manage web application firewall rules.
  title: WebApplicationFirewallManagement
  version: 2019-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/webapplicationfirewall.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: frontdoor-webapplicationfirewall
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets:
    get:
      description: Lists all available managed rule sets.
      operationId: ManagedRuleSets_List
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedRuleSetDefinitionList'
          description: Success. The operation returns a list of all available web
            application firewall managed rule sets.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallManagedRuleSets
      x-ms-examples:
        List Policies in a Resource Group:
          parameters:
            api-version: 2019-03-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets
                  name: DefaultRuleSet_1.0
                  properties:
                    provisioningState: Succeeded
                    ruleGroups:
                    - description: Description for rule group 1.
                      ruleGroupName: Group1
                      rules:
                      - defaultAction: Block
                        defaultState: Enabled
                        description: Generic managed web application firewall rule.
                        ruleId: GROUP1-0001
                      - defaultAction: Block
                        defaultState: Disabled
                        description: Generic managed web application firewall rule.
                        ruleId: GROUP1-0002
                    - description: Description for rule group 2.
                      ruleGroupName: Group2
                      rules:
                      - defaultAction: Allow
                        defaultState: Enabled
                        description: Generic managed web application firewall rule.
                        ruleId: GROUP2-0001
                    ruleSetType: DefaultRuleSet
                    ruleSetVersion: "1.0"
                  type: Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies
  : get:
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyList'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        List Policies in a Resource Group:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                  location: WestUs
                  name: Policy1
                  properties:
                    customRules:
                      rules:
                      - action: Block
                        enabledState: Enabled
                        matchConditions:
                        - matchValue:
                          - 192.168.1.0/24
                          - 10.0.0.0/24
                          matchVariable: RemoteAddr
                          negateCondition: false
                          operator: IPMatch
                          transforms: []
                        name: Rule1
                        priority: 1
                        rateLimitDurationInMinutes: 0
                        rateLimitThreshold: 1000
                        ruleType: RateLimitRule
                      - action: Block
                        enabledState: Enabled
                        matchConditions:
                        - matchValue:
                          - CH
                          matchVariable: RemoteAddr
                          negateCondition: false
                          operator: GeoMatch
                        - matchValue:
                          - windows
                          matchVariable: RequestHeader
                          negateCondition: false
                          operator: Contains
                          selector: UserAgent
                          transforms:
                          - Lowercase
                        name: Rule2
                        priority: 2
                        rateLimitDurationInMinutes: 0
                        rateLimitThreshold: 0
                        ruleType: MatchRule
                    frontendEndpointLinks:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontdoors/fd1/frontendendpoints/fd1-azurefd-net
                    managedRules:
                      managedRuleSets:
                      - ruleGroupOverrides:
                        - ruleGroupName: Group1
                          rules:
                          - action: Redirect
                            enabledState: Enabled
                            ruleId: GROUP1-0001
                          - enabledState: Disabled
                            ruleId: GROUP1-0002
                        ruleSetType: DefaultRuleSet
                        ruleSetVersion: preview-1.0
                    policySettings:
                      customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                      customBlockResponseStatusCode: 499
                      enabledState: Enabled
                      mode: Prevention
                      redirectUrl: http://www.bing.com
                    provisioningState: Succeeded
                    resourceState: Enabled
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}
  : delete:
      description: Deletes Policy
      operationId: Policies_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policyName
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content. The request has been accepted but the policy was
            not found.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Delete protection policy:
          parameters:
            api-version: 2019-03-01
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Retrieve protection policy with specified name within a resource
        group.
      operationId: Policies_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policyName
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Get Policy:
          parameters:
            api-version: 2019-03-01
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontdoors/fd1/frontendendpoints/fd1-azurefd-net
                  managedRules:
                    managedRuleSets:
                    - ruleGroupOverrides:
                      - ruleGroupName: Group1
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          ruleId: GROUP1-0001
                        - enabledState: Disabled
                          ruleId: GROUP1-0002
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: preview-1.0
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-accepts:
      - application/json
    put:
      description: Create or update policy with specified rule set name within a resource
        group.
      operationId: Policies_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policyName
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: Created. The request has been fulfilled and a new protection
            policy has been created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Creates specific policy:
          parameters:
            api-version: 2019-03-01
            parameters:
              properties:
                customRules:
                  rules:
                  - action: Block
                    matchConditions:
                    - matchValue:
                      - 192.168.1.0/24
                      - 10.0.0.0/24
                      matchVariable: RemoteAddr
                      operator: IPMatch
                    name: Rule1
                    priority: 1
                    rateLimitThreshold: 1000
                    ruleType: RateLimitRule
                  - action: Block
                    matchConditions:
                    - matchValue:
                      - CH
                      matchVariable: RemoteAddr
                      operator: GeoMatch
                    - matchValue:
                      - windows
                      matchVariable: RequestHeader
                      operator: Contains
                      selector: UserAgent
                      transforms:
                      - Lowercase
                    name: Rule2
                    priority: 2
                    ruleType: MatchRule
                managedRules:
                  managedRuleSets:
                  - ruleGroupOverrides:
                    - ruleGroupName: Group1
                      rules:
                      - action: Redirect
                        enabledState: Enabled
                        ruleId: GROUP1-0001
                      - ruleId: GROUP1-0002
                    ruleSetType: DefaultRuleSet
                    ruleSetVersion: preview-1.0
                policySettings:
                  customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                  customBlockResponseStatusCode: 499
                  redirectUrl: http://www.bing.com
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - ruleGroupOverrides:
                      - ruleGroupName: Group1
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          ruleId: GROUP1-0001
                        - enabledState: Disabled
                          ruleId: GROUP1-0002
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: preview-1.0
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - ruleGroupOverrides:
                      - ruleGroupName: Group1
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          ruleId: GROUP1-0001
                        - enabledState: Disabled
                          ruleId: GROUP1-0002
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: preview-1.0
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - ruleGroupOverrides:
                      - ruleGroupName: Group1
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          ruleId: GROUP1-0001
                        - enabledState: Disabled
                          ruleId: GROUP1-0002
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: preview-1.0
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    PolicyNameParameter:
      description: The name of the Web Application Firewall Policy.
      in: path
      name: policyName
      required: true
      schema:
        maxLength: 128
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ActionType:
      description: Defines the action to take on rule match.
      enum:
      - Allow
      - Block
      - Log
      - Redirect
      type: string
      x-ms-enum:
        modelAsString: true
        name: ActionType
    CustomRule:
      description: Defines contents of a web application rule
      example:
        enabledState: Disabled
        ruleType: MatchRule
        name: name
        action: Allow
        rateLimitDurationInMinutes: 3
        matchConditions:
        - transforms:
          - Lowercase
          - Lowercase
          matchValue:
          - matchValue
          - matchValue
          selector: selector
          matchVariable: RemoteAddr
          negateCondition: true
          operator: Any
        - transforms:
          - Lowercase
          - Lowercase
          matchValue:
          - matchValue
          - matchValue
          selector: selector
          matchVariable: RemoteAddr
          negateCondition: true
          operator: Any
        priority: 0
        rateLimitThreshold: 0
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
        enabledState:
          description: Describes if the custom rule is in enabled or disabled state.
            Defaults to Enabled if not specified.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomRuleEnabledState
        matchConditions:
          description: List of match conditions.
          items:
            $ref: '#/components/schemas/MatchCondition'
          type: array
        name:
          description: Describes the name of the rule.
          maxLength: 128
          type: string
        priority:
          description: Describes priority of the rule. Rules with a lower value will
            be evaluated before rules with a higher value.
          type: integer
        rateLimitDurationInMinutes:
          description: Time window for resetting the rate limit count. Default is
            1 minute.
          maximum: 5
          minimum: 0
          type: integer
        rateLimitThreshold:
          description: Number of allowed requests per client within the time window.
          minimum: 0
          type: integer
        ruleType:
          description: Describes type of rule.
          enum:
          - MatchRule
          - RateLimitRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: RuleType
      required:
      - action
      - matchConditions
      - priority
      - ruleType
      type: object
    CustomRuleList:
      description: Defines contents of custom rules
      example:
        rules:
        - enabledState: Disabled
          ruleType: MatchRule
          name: name
          action: Allow
          rateLimitDurationInMinutes: 3
          matchConditions:
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          priority: 0
          rateLimitThreshold: 0
        - enabledState: Disabled
          ruleType: MatchRule
          name: name
          action: Allow
          rateLimitDurationInMinutes: 3
          matchConditions:
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          priority: 0
          rateLimitThreshold: 0
      properties:
        rules:
          description: List of rules
          items:
            $ref: '#/components/schemas/CustomRule'
          type: array
      type: object
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    FrontendEndpointLink:
      description: Defines the Resource ID for a Frontend Endpoint.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          type: string
      type: object
    ManagedRuleDefinition:
      description: Describes a managed rule definition.
      example:
        defaultAction: Allow
        defaultState: Disabled
        description: description
        ruleId: ruleId
      properties:
        defaultAction:
          $ref: '#/components/schemas/ActionType'
        defaultState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
        description:
          description: Describes the functionality of the managed rule.
          readOnly: true
          type: string
        ruleId:
          description: Identifier for the managed rule.
          readOnly: true
          type: string
      type: object
    ManagedRuleEnabledState:
      description: Describes if the managed rule is in enabled or disabled state.
      enum:
      - Disabled
      - Enabled
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagedRuleEnabledState
    ManagedRuleGroupDefinition:
      description: Describes a managed rule group.
      example:
        ruleGroupName: ruleGroupName
        description: description
        rules:
        - defaultAction: Allow
          defaultState: Disabled
          description: description
          ruleId: ruleId
        - defaultAction: Allow
          defaultState: Disabled
          description: description
          ruleId: ruleId
      properties:
        description:
          description: Description of the managed rule group.
          readOnly: true
          type: string
        ruleGroupName:
          description: Name of the managed rule group.
          readOnly: true
          type: string
        rules:
          description: List of rules within the managed rule group.
          items:
            $ref: '#/components/schemas/ManagedRuleDefinition'
          readOnly: true
          type: array
      type: object
    ManagedRuleGroupOverride:
      description: Defines a managed rule group override setting.
      example:
        ruleGroupName: ruleGroupName
        rules:
        - enabledState: Disabled
          action: null
          ruleId: ruleId
        - enabledState: Disabled
          action: null
          ruleId: ruleId
      properties:
        ruleGroupName:
          description: Describes the managed rule group to override.
          type: string
        rules:
          description: "List of rules that will be disabled. If none specified, all\
            \ rules in the group will be disabled."
          items:
            $ref: '#/components/schemas/ManagedRuleOverride'
          type: array
      required:
      - ruleGroupName
      type: object
    ManagedRuleOverride:
      description: Defines a managed rule group override setting.
      example:
        enabledState: Disabled
        action: null
        ruleId: ruleId
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
        enabledState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
        ruleId:
          description: Identifier for the managed rule.
          type: string
      required:
      - ruleId
      type: object
    ManagedRuleSet:
      description: Defines a managed rule set.
      example:
        ruleSetVersion: ruleSetVersion
        ruleSetType: ruleSetType
        ruleGroupOverrides:
        - ruleGroupName: ruleGroupName
          rules:
          - enabledState: Disabled
            action: null
            ruleId: ruleId
          - enabledState: Disabled
            action: null
            ruleId: ruleId
        - ruleGroupName: ruleGroupName
          rules:
          - enabledState: Disabled
            action: null
            ruleId: ruleId
          - enabledState: Disabled
            action: null
            ruleId: ruleId
      properties:
        ruleGroupOverrides:
          description: Defines the rule group overrides to apply to the rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupOverride'
          type: array
        ruleSetType:
          description: Defines the rule set type to use.
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          type: string
      required:
      - ruleSetType
      - ruleSetVersion
      type: object
    ManagedRuleSetDefinition:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Describes the a managed rule set definition.
      example:
        properties:
          ruleGroups:
          - ruleGroupName: ruleGroupName
            description: description
            rules:
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            description: description
            rules:
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
          ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ManagedRuleSetDefinitionProperties'
    ManagedRuleSetDefinitionList:
      description: List of managed rule set definitions available for use in a policy.
      example:
        value:
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to retrieve next set of managed rule set definitions.
          type: string
        value:
          description: List of managed rule set definitions.
          items:
            $ref: '#/components/schemas/ManagedRuleSetDefinition'
          readOnly: true
          type: array
      type: object
    ManagedRuleSetDefinitionProperties:
      description: Properties for a managed rule set definition.
      example:
        ruleGroups:
        - ruleGroupName: ruleGroupName
          description: description
          rules:
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
        - ruleGroupName: ruleGroupName
          description: description
          rules:
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
        ruleSetVersion: ruleSetVersion
        ruleSetType: ruleSetType
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: Provisioning state of the managed rule set.
          readOnly: true
          type: string
        ruleGroups:
          description: Rule groups of the managed rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupDefinition'
          readOnly: true
          type: array
        ruleSetType:
          description: Type of the managed rule set.
          readOnly: true
          type: string
        ruleSetVersion:
          description: Version of the managed rule set type.
          readOnly: true
          type: string
      type: object
    ManagedRuleSetList:
      description: Defines the list of managed rule sets for the policy.
      example:
        managedRuleSets:
        - ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          ruleGroupOverrides:
          - ruleGroupName: ruleGroupName
            rules:
            - enabledState: Disabled
              action: null
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            rules:
            - enabledState: Disabled
              action: null
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              ruleId: ruleId
        - ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          ruleGroupOverrides:
          - ruleGroupName: ruleGroupName
            rules:
            - enabledState: Disabled
              action: null
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            rules:
            - enabledState: Disabled
              action: null
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              ruleId: ruleId
      properties:
        managedRuleSets:
          description: List of rule sets.
          items:
            $ref: '#/components/schemas/ManagedRuleSet'
          type: array
      type: object
    MatchCondition:
      description: Define a match condition.
      example:
        transforms:
        - Lowercase
        - Lowercase
        matchValue:
        - matchValue
        - matchValue
        selector: selector
        matchVariable: RemoteAddr
        negateCondition: true
        operator: Any
      properties:
        matchValue:
          description: List of possible match values.
          items:
            type: string
          type: array
        matchVariable:
          description: Request variable to compare with.
          enum:
          - RemoteAddr
          - RequestMethod
          - QueryString
          - PostArgs
          - RequestUri
          - RequestHeader
          - RequestBody
          - Cookies
          - SocketAddr
          type: string
          x-ms-enum:
            modelAsString: true
            name: MatchVariable
        negateCondition:
          description: Describes if the result of this condition should be negated.
          type: boolean
        operator:
          description: Comparison type to use for matching with the variable value.
          enum:
          - Any
          - IPMatch
          - GeoMatch
          - Equal
          - Contains
          - LessThan
          - GreaterThan
          - LessThanOrEqual
          - GreaterThanOrEqual
          - BeginsWith
          - EndsWith
          - RegEx
          type: string
          x-ms-enum:
            modelAsString: true
            name: Operator
        selector:
          description: "Match against a specific key from the QueryString, PostArgs,\
            \ RequestHeader or Cookies variables. Default is null."
          type: string
        transforms:
          description: List of transforms.
          items:
            $ref: '#/components/schemas/TransformType'
          type: array
      required:
      - matchValue
      - matchVariable
      - operator
      type: object
    PolicySettings:
      description: Defines top-level WebApplicationFirewallPolicy configuration settings.
      example:
        mode: Prevention
        enabledState: Disabled
        redirectUrl: redirectUrl
        customBlockResponseStatusCode: 5
        customBlockResponseBody: customBlockResponseBody
      properties:
        customBlockResponseBody:
          description: "If the action type is block, customer can override the response\
            \ body. The body must be specified in base64 encoding."
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$"
          type: string
        customBlockResponseStatusCode:
          description: "If the action type is block, customer can override the response\
            \ status code."
          type: integer
        enabledState:
          description: Describes if the policy is in enabled or disabled state. Defaults
            to Enabled if not specified.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyEnabledState
        mode:
          description: Describes if it is in detection mode or prevention mode at
            policy level.
          enum:
          - Prevention
          - Detection
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyMode
        redirectUrl:
          description: "If action type is redirect, this field represents redirect\
            \ URL for the client."
          type: string
      type: object
    TransformType:
      description: Describes what transforms applied before matching.
      enum:
      - Lowercase
      - Uppercase
      - Trim
      - UrlDecode
      - UrlEncode
      - RemoveNulls
      type: string
      x-ms-enum:
        modelAsString: true
        name: TransformType
    WebApplicationFirewallPolicy:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines web application firewall policy.
      example:
        etag: etag
        properties:
          customRules:
            rules:
            - enabledState: Disabled
              ruleType: MatchRule
              name: name
              action: Allow
              rateLimitDurationInMinutes: 3
              matchConditions:
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              priority: 0
              rateLimitThreshold: 0
            - enabledState: Disabled
              ruleType: MatchRule
              name: name
              action: Allow
              rateLimitDurationInMinutes: 3
              matchConditions:
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              priority: 0
              rateLimitThreshold: 0
          frontendEndpointLinks:
          - id: id
          - id: id
          policySettings:
            mode: Prevention
            enabledState: Disabled
            redirectUrl: redirectUrl
            customBlockResponseStatusCode: 5
            customBlockResponseBody: customBlockResponseBody
          resourceState: Creating
          provisioningState: provisioningState
          managedRules:
            managedRuleSets:
            - ruleSetVersion: ruleSetVersion
              ruleSetType: ruleSetType
              ruleGroupOverrides:
              - ruleGroupName: ruleGroupName
                rules:
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
              - ruleGroupName: ruleGroupName
                rules:
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
            - ruleSetVersion: ruleSetVersion
              ruleSetType: ruleSetType
              ruleGroupOverrides:
              - ruleGroupName: ruleGroupName
                rules:
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
              - ruleGroupName: ruleGroupName
                rules:
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  ruleId: ruleId
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          $ref: '#/components/schemas/WebApplicationFirewallPolicyProperties'
    WebApplicationFirewallPolicyList:
      description: Defines a list of WebApplicationFirewallPolicies. It contains a
        list of WebApplicationFirewallPolicy objects and a URL link to get the next
        set of results.
      example:
        value:
        - etag: etag
          properties:
            customRules:
              rules:
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
            frontendEndpointLinks:
            - id: id
            - id: id
            policySettings:
              mode: Prevention
              enabledState: Disabled
              redirectUrl: redirectUrl
              customBlockResponseStatusCode: 5
              customBlockResponseBody: customBlockResponseBody
            resourceState: Creating
            provisioningState: provisioningState
            managedRules:
              managedRuleSets:
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
        - etag: etag
          properties:
            customRules:
              rules:
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
            frontendEndpointLinks:
            - id: id
            - id: id
            policySettings:
              mode: Prevention
              enabledState: Disabled
              redirectUrl: redirectUrl
              customBlockResponseStatusCode: 5
              customBlockResponseBody: customBlockResponseBody
            resourceState: Creating
            provisioningState: provisioningState
            managedRules:
              managedRuleSets:
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  rules:
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    ruleId: ruleId
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of WebApplicationFirewallPolicy objects
            if there are any.
          type: string
        value:
          description: List of WebApplicationFirewallPolicies within a resource group.
          items:
            $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          readOnly: true
          type: array
      type: object
    WebApplicationFirewallPolicyProperties:
      description: Defines web application firewall policy properties.
      example:
        customRules:
          rules:
          - enabledState: Disabled
            ruleType: MatchRule
            name: name
            action: Allow
            rateLimitDurationInMinutes: 3
            matchConditions:
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            priority: 0
            rateLimitThreshold: 0
          - enabledState: Disabled
            ruleType: MatchRule
            name: name
            action: Allow
            rateLimitDurationInMinutes: 3
            matchConditions:
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            priority: 0
            rateLimitThreshold: 0
        frontendEndpointLinks:
        - id: id
        - id: id
        policySettings:
          mode: Prevention
          enabledState: Disabled
          redirectUrl: redirectUrl
          customBlockResponseStatusCode: 5
          customBlockResponseBody: customBlockResponseBody
        resourceState: Creating
        provisioningState: provisioningState
        managedRules:
          managedRuleSets:
          - ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            ruleGroupOverrides:
            - ruleGroupName: ruleGroupName
              rules:
              - enabledState: Disabled
                action: null
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              rules:
              - enabledState: Disabled
                action: null
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                ruleId: ruleId
          - ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            ruleGroupOverrides:
            - ruleGroupName: ruleGroupName
              rules:
              - enabledState: Disabled
                action: null
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              rules:
              - enabledState: Disabled
                action: null
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                ruleId: ruleId
      properties:
        customRules:
          $ref: '#/components/schemas/CustomRuleList'
        frontendEndpointLinks:
          description: Describes Frontend Endpoints associated with this Web Application
            Firewall policy.
          items:
            $ref: '#/components/schemas/FrontendEndpointLink'
          readOnly: true
          type: array
        managedRules:
          $ref: '#/components/schemas/ManagedRuleSetList'
        policySettings:
          $ref: '#/components/schemas/PolicySettings'
        provisioningState:
          description: Provisioning state of the policy.
          readOnly: true
          type: string
        resourceState:
          enum:
          - Creating
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Deleting
          readOnly: true
          title: Resource status of the policy.
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyResourceState
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

