openapi: 3.0.0
info:
  contact:
    email: DvlaAPIAccess@dvla.gov.uk
    name: DVLA API Team
    x-twitter: GDSTeam
  description: Interface specification for the DVLA Vehicle Enquiry API
  title: Vehicle Enquiry API
  version: 1.1.0
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/GDSTeam/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/v1.1.0-vehicle-enquiry-service.json
    version: "3.0"
  x-providerName: api.gov.uk
  x-serviceName: vehicle-enquiry
servers:
- description: Production environment
  url: https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry
- description: Test environment
  url: https://uat.driver-vehicle-licensing.api.gov.uk/vehicle-enquiry
tags:
- name: vehicle
paths:
  /v1/vehicles:
    post:
      description: Returns vehicle details based on registration number
      operationId: get_vehicle_details_by_registration_number
      parameters:
      - description: Client Specific API Key
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Consumer Correlation ID
        explode: false
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleRequest'
        description: Registration number of the vehicle to find details for
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Vehicle Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
      summary: Get vehicle details by registration number
      tags:
      - vehicle
      x-openapi-router-controller: openapi_server.controllers.vehicle_controller
      x-codegen-request-body-name: body
components:
  schemas:
    ErrorResponse:
      description: Error Response
      example:
        errors:
        - code: "105"
          detail: Invalid format for field - vehicle registration number
          title: Invalid vrn number
          status: "400"
        - code: "105"
          detail: Invalid format for field - vehicle registration number
          title: Invalid vrn number
          status: "400"
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Errors'
          title: errors
          type: array
      title: ErrorResponse
      type: object
    Errors:
      example:
        code: "105"
        detail: Invalid format for field - vehicle registration number
        title: Invalid vrn number
        status: "400"
      properties:
        code:
          description: DVLA reference code
          example: "105"
          title: code
          type: string
        detail:
          description: A meaningful description of the error which has occurred
          example: Invalid format for field - vehicle registration number
          title: detail
          type: string
        status:
          example: "400"
          title: status
          type: string
        title:
          description: Error title
          example: Invalid vrn number
          title: title
          type: string
      required:
      - title
      title: Errors
      type: object
    Vehicle:
      example:
        yearOfManufacture: 2004
        typeApproval: N1
        motExpiryDate: 2008-12-25
        engineCapacity: 1796
        motStatus: No details held by DVLA
        taxStatus: Untaxed
        colour: Blue
        euroStatus: Euro 5
        dateOfLastV5CIssued: 2016-12-25
        fuelType: PETROL
        registrationNumber: WN67DSO
        markedForExport: true
        taxDueDate: 2017-12-25
        monthOfFirstDvlaRegistration: 2000-01-23
        revenueWeight: 1640
        wheelplan: NON STANDARD
        artEndDate: 2007-12-25
        make: ROVER
        monthOfFirstRegistration: 2000-01-23
        co2Emissions: 0
        realDrivingEmissions: "1"
      properties:
        artEndDate:
          description: "Additional Rate of Tax End Date, format: YYYY-MM-DD"
          example: 2007-12-25
          format: date
          title: artEndDate
          type: string
        co2Emissions:
          description: Carbon Dioxide emissions in grams per kilometre
          example: 0
          format: int32
          title: co2Emissions
          type: integer
        colour:
          description: Vehicle colour
          example: Blue
          title: colour
          type: string
        dateOfLastV5CIssued:
          description: Date of last V5C issued
          example: 2016-12-25
          format: date
          title: dateOfLastV5CIssued
          type: string
        engineCapacity:
          description: Engine capacity in cubic centimetres
          example: 1796
          format: int32
          title: engineCapacity
          type: integer
        euroStatus:
          description: Euro Status (Dealer / Customer Provided (new vehicles))
          example: Euro 5
          title: euroStatus
          type: string
        fuelType:
          description: Fuel type (Method of Propulsion)
          example: PETROL
          title: fuelType
          type: string
        make:
          description: Vehicle make
          example: ROVER
          title: make
          type: string
        markedForExport:
          description: True only if vehicle has been export marked
          example: true
          title: markedForExport
          type: boolean
        monthOfFirstDvlaRegistration:
          description: Month of First DVLA Registration
          format: date
          title: monthOfFirstDvlaRegistration
          type: string
        monthOfFirstRegistration:
          description: Month of First Registration
          format: date
          title: monthOfFirstRegistration
          type: string
        motExpiryDate:
          description: Mot Expiry Date
          example: 2008-12-25
          format: date
          title: motExpiryDate
          type: string
        motStatus:
          description: MOT Status of the vehicle
          enum:
          - No details held by DVLA
          - No results returned
          - Not valid
          - Valid
          example: No details held by DVLA
          title: motStatus
          type: string
        realDrivingEmissions:
          description: Real Driving Emissions value
          example: "1"
          title: realDrivingEmissions
          type: string
        registrationNumber:
          description: Registration number of the vehicle
          example: WN67DSO
          title: registrationNumber
          type: string
        revenueWeight:
          description: Revenue weight in kilograms
          example: 1640
          format: int32
          title: revenueWeight
          type: integer
        taxDueDate:
          description: "Date of tax liablity, Used in calculating licence information\
            \ presented to user"
          example: 2017-12-25
          format: date
          title: taxDueDate
          type: string
        taxStatus:
          description: Tax status of the vehicle
          enum:
          - Not Taxed for on Road Use
          - SORN
          - Taxed
          - Untaxed
          example: Untaxed
          title: taxStatus
          type: string
        typeApproval:
          description: Vehicle Type Approval Category
          example: N1
          title: typeApproval
          type: string
        wheelplan:
          description: Vehicle wheel plan
          example: NON STANDARD
          title: wheelplan
          type: string
        yearOfManufacture:
          description: Year of Manufacture
          example: 2004
          format: int32
          title: yearOfManufacture
          type: integer
      required:
      - registrationNumber
      title: Vehicle
      type: object
    VehicleRequest:
      example:
        registrationNumber: registrationNumber
      properties:
        registrationNumber:
          title: registrationNumber
          type: string
      title: VehicleRequest
      type: object
