openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/blobServices.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-blobServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}
  : get:
      description: Returns the BLOB service.
      operationId: BlobServices_Get
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobService'
          description: OK -- The BLOB service has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - BlobServices
      x-ms-examples:
        Returns the BLOB service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/blobservices/default
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/default
                properties:
                  settings:
                    blobSvcContainerGcInterval: 3600000
                    blobSvcShallowGcInterval: 3600000
                    blobSvcStreamMapMinContainerOccupancyPercent: 80
                    frontEndCallbackThreadsCount: 1600
                    frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds: 5
                    frontEndCpuBasedKeepAliveThrottlingEnabled: true
                    frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold: 90
                    frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle: 2
                    frontEndHttpListenPort: 11000
                    frontEndHttpsListenPort: 11100
                    frontEndMaxMillisecondsBetweenMemorySamples: 10000
                    frontEndMemoryThrottleThresholdSettings: "5,100,0;7,50,0;10,25,0;15,0,25;"
                    frontEndMemoryThrottlingEnabled: true
                    frontEndMinThreadPoolThreads: 1850
                    frontEndThreadPoolBasedKeepAliveIOCompletionThreshold: 1500
                    frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds: 30
                    frontEndThreadPoolBasedKeepAlivePercentage: 10
                    frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold: 1500
                    frontEndUseSlaTimeInAvailability: true
                  version: "1.0"
                type: Microsoft.Storage.Admin/farms/blobservices
            "404": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}/metricdefinitions
  : get:
      description: Returns the list of metric definitions for BLOB service.
      operationId: BlobServices_ListMetricDefinitions
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobServices_ListMetricDefinitions_200_response'
          description: OK -- The list of metric definitions for the BLOB service has
            been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - BlobServices
      x-ms-examples:
        Returns the list of metric definitions for BLOB service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (BlobService)
                    value: E2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (BlobService)
                    value: ServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Availability (BlobService)
                    value: Availability
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total successful requests (BlobService)
                    value: SuccessfulRequests
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total requests (BlobService)
                    value: TotalRequests
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Ingress (BlobService)
                    value: Ingress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Egress (BlobService)
                    value: Egress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (BlobFrontEnd)
                    value: BlobFrontEndRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (BlobFrontEnd)
                    value: BlobFrontEndE2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (BlobFrontEnd)
                    value: BlobFrontEndServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Concurrent requests (BlobFrontEnd)
                    value: BlobFrontEndConcurrentRequests
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (BlobFrontEnd)
                    value: BlobFrontEndRequestQueueLength
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage (BlobFrontEnd)
                    value: BlobFrontEndProcessorTime
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (BlobServer)
                    value: BlobServerRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (BlobServer)
                    value: BlobServerServerLatency
                  primaryAggregationType: Average
                  unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}/metrics
  : get:
      description: Returns a list of metrics for BLOB service.
      operationId: BlobServices_ListMetrics
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobServices_ListMetrics_200_response'
          description: OK -- The list of metrics has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - BlobServices
      x-ms-examples:
        Returns a list of metrics for BLOB service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (BlobFrontEnd)
                    value: BlobFrontEndRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: End-to-end latency (BlobFrontEnd)
                    value: BlobFrontEndE2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (BlobFrontEnd)
                    value: BlobFrontEndServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Concurrent requests (BlobFrontEnd)
                    value: BlobFrontEndConcurrentRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (BlobFrontEnd)
                    value: BlobFrontEndRequestQueueLength
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage (BlobFrontEnd)
                    value: BlobFrontEndProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (BlobServer)
                    value: BlobServerRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (BlobServer)
                    value: BlobServerServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - average: 3.37839472205425
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 3.23720755548253
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 3.23283110690318
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 3.24997418164272
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 3.25500401782453
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 3.24891968824928
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 3.23743272199632
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: End-to-end latency (BlobService)
                    value: E2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - average: 3.00302941330881
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 2.88515644890154
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 2.8953629314371
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 2.90971362786012
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 2.9197896120973
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 2.90887585146789
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 2.89673016247954
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Server latency (BlobService)
                    value: ServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - average: 100
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Availability (BlobService)
                    value: Availability
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 514291
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 553823
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 550283
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 590665
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 602316
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 592653
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 592690
                  name:
                    localizedValue: Total successful requests (BlobService)
                    value: SuccessfulRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 525915
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 565447
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 561886
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 602269
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 613916
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 604253
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 604290
                  name:
                    localizedValue: Total requests (BlobService)
                    value: TotalRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 1368310311
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 1404079959
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 1400057193
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 1445879884
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 1475166639
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 1463924092
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 1468371175
                  name:
                    localizedValue: Ingress (BlobService)
                    value: Ingress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:02.3087124Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 1042768756
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 1140164863
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 902184482
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 1173363120
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 1184912696
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 1175637645
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 1175858765
                  name:
                    localizedValue: Egress (BlobService)
                    value: Egress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  schemas:
    BlobService:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: The BLOB service.
      example:
        properties:
          settings:
            blobSvcShallowGcInterval: 6
            blobSvcStreamMapMinContainerOccupancyPercent: 1
            blobSvcContainerGcInterval: 0
      properties:
        properties:
          $ref: '#/components/schemas/BlobServiceProperties'
    BlobServiceProperties:
      allOf:
      - description: Storage service.
        properties:
          healthStatus:
            description: Current health status.
            enum:
            - Unknown
            - Healthy
            - Warning
            - Critical
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: HealthStatus
          version:
            description: Storage service version.
            type: string
        type: object
      description: Blob service properties.
      example:
        settings:
          blobSvcShallowGcInterval: 6
          blobSvcStreamMapMinContainerOccupancyPercent: 1
          blobSvcContainerGcInterval: 0
      properties:
        settings:
          $ref: '#/components/schemas/BlobServiceSettings'
    BlobServiceSettings:
      allOf:
      - $ref: '#/components/schemas/BlobServiceWritableSettings'
      description: Blob service settings.
      example:
        blobSvcShallowGcInterval: 6
        blobSvcStreamMapMinContainerOccupancyPercent: 1
        blobSvcContainerGcInterval: 0
    BlobServiceWritableSettings:
      allOf:
      - allOf:
        - description: Storage service settings.
          properties:
            frontEndCallbackThreadsCount:
              description: Front end callback threads count.
              format: int32
              type: integer
            frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds:
              description: Interval (in second) of CPU monitor for front end CPU based
                keep-alive throttling.
              format: int32
              type: integer
            frontEndCpuBasedKeepAliveThrottlingEnabled:
              description: Switch of front end CPU based keep-alive throttling.
              type: boolean
            frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold:
              description: Threshold (% percentage) of front end CPU based keep-alive
                throttling.
              format: float
              type: number
            frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle:
              description: Threshold (% percentage) of requests to throttle in front
                end CPU based keep-alive throttling.
              format: float
              type: number
            frontEndMaxMillisecondsBetweenMemorySamples:
              description: Maximum interval (in millisecond) between memory samples
                of front end.
              format: int32
              type: integer
            frontEndMemoryThrottleThresholdSettings:
              description: Front end memory throttle threshold settings.
              type: string
            frontEndMemoryThrottlingEnabled:
              description: Switch of front end memory throttling.
              type: boolean
            frontEndMinThreadPoolThreads:
              description: Front end minimum number of threads in thread pool.
              format: int32
              type: integer
            frontEndThreadPoolBasedKeepAliveIOCompletionThreshold:
              description: Threshold of front end thread pool based keep-alive IO
                completion.
              format: int32
              type: integer
            frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds:
              description: Monitor interval (in seconds) of front end thread pool
                based keep-alive monitor.
              format: int32
              type: integer
            frontEndThreadPoolBasedKeepAlivePercentage:
              description: Percentage (%) of front end thread pool based keep-alive.
              format: float
              type: number
            frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold:
              description: Threshold of front end thread pool based keep-alive worker
                thread.
              format: int32
              type: integer
            frontEndUseSlaTimeInAvailability:
              description: Switch of whether front end uses SLA time in availability.
              type: boolean
          type: object
        description: Settings of storage services.
        properties:
          frontEndHttpListenPort:
            description: The HTTP port of the storage service front end.
            format: int32
            type: integer
          frontEndHttpsListenPort:
            description: The HTTPs port of the storage service front end.
            format: int32
            type: integer
      description: Settings of BLOB service.
      properties:
        blobSvcContainerGcInterval:
          description: "The interval, in seconds, of container garbage collection."
          format: int32
          readOnly: true
          type: integer
        blobSvcShallowGcInterval:
          description: "The interval ,in seconds, of shallow garbage collection."
          format: int32
          readOnly: true
          type: integer
        blobSvcStreamMapMinContainerOccupancyPercent:
          description: The minimal container occupancy percent for stream mapping.
          format: int32
          readOnly: true
          type: integer
    BlobServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner:
      description: Metric availability.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: Retention of metric.
          type: string
        timeGrain:
          description: Time grain.
          type: string
      type: object
    BlobServices_ListMetricDefinitions_200_response_value_inner_name:
      description: Localizable string.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of the string.
          type: string
        value:
          description: Value of the string.
          type: string
      type: object
    BlobServices_ListMetricDefinitions_200_response_value_inner:
      description: Metric definition.
      example:
        primaryAggregationType: None
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        metricAvailabilities:
          description: Metric availabilities.
          items:
            $ref: '#/components/schemas/BlobServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/BlobServices_ListMetricDefinitions_200_response_value_inner_name'
        primaryAggregationType:
          description: Aggregate type.
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregateType
        unit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      type: object
    BlobServices_ListMetricDefinitions_200_response:
      description: Pageable list of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metric definitions.
          items:
            $ref: '#/components/schemas/BlobServices_ListMetricDefinitions_200_response_value_inner'
          readOnly: true
          type: array
      type: object
    BlobServices_ListMetrics_200_response_value_inner_metricValues_inner:
      description: Metric value.
      example:
        timeStamp: 2000-01-23T04:56:07.000+00:00
        average: 0.8008282
        total: 5.637377
        count: 6
        maximum: 1.4658129
        minimum: 5.962134
        properties: properties
      properties:
        average:
          description: Average value of metric.
          format: float
          readOnly: true
          type: number
        count:
          description: Count of metric values.
          format: int32
          readOnly: true
          type: integer
        maximum:
          description: Maximum value of metric.
          format: float
          readOnly: true
          type: number
        minimum:
          description: Minimum value of metric.
          format: float
          readOnly: true
          type: number
        properties:
          description: Metric value properties.
          readOnly: true
          type: string
        timeStamp:
          description: Timestamp of metric value.
          format: date-time
          readOnly: true
          type: string
        total:
          description: Total value of metric.
          format: float
          readOnly: true
          type: number
      type: object
    BlobServices_ListMetrics_200_response_value_inner:
      description: Metric information.
      example:
        timeGrain: timeGrain
        name:
          localizedValue: localizedValue
          value: value
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        metricUnit: Count
        metricValues:
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
      properties:
        endTime:
          description: Metric end time.
          format: date-time
          readOnly: true
          type: string
        metricUnit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
        metricValues:
          description: List of metric values.
          items:
            $ref: '#/components/schemas/BlobServices_ListMetrics_200_response_value_inner_metricValues_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/BlobServices_ListMetricDefinitions_200_response_value_inner_name'
        startTime:
          description: Metric start time.
          format: date-time
          readOnly: true
          type: string
        timeGrain:
          description: Metric time grain.
          readOnly: true
          type: string
      type: object
    BlobServices_ListMetrics_200_response:
      description: Pageable list of metrics.
      example:
        value:
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metrics.
          items:
            $ref: '#/components/schemas/BlobServices_ListMetrics_200_response_value_inner'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

