openapi: 3.0.1
info:
  description: These APIs allow end users to operate on Azure Machine Learning Compute
    resources. They support the following operations:<ul><li>Create or update a cluster</li><li>Get
    a cluster</li><li>Patch a cluster</li><li>Delete a cluster</li><li>Get keys for
    a cluster</li><li>Check if updates are available for system services in a cluster</li><li>Update
    system services in a cluster</li><li>Get all clusters in a resource group</li><li>Get
    all clusters in a subscription</li></ul>
  title: Machine Learning Compute Management Client
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/machineLearningCompute.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: machinelearningcompute-machineLearningCompute
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.MachineLearningCompute/operations:
    get:
      description: Gets all available operations.
      operationId: machine_learning_compute_list_available_operations
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperations'
          description: OK
      tags:
      - MachineLearningComputeOperations
      x-ms-examples:
        Machine Learning Compute List Available Operations:
          parameters:
            api-version: 2017-08-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Machine Learning
                      Compute resource provider and enables the management of Machine
                      Leaning Compute resources.
                    operation: Register the provider
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Provider
                  name: Microsoft.MachineLearningCompute/register/action
                  origin: "user,system"
                - display:
                    description: Read any operationalization cluster
                    operation: Read the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/read
                  origin: "user,system"
                - display:
                    description: Create or update any operationalization cluster
                    operation: Write the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/write
                  origin: "user,system"
                - display:
                    description: Delete any operationalization cluster
                    operation: Delete the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/delete
                  origin: "user,system"
                - display:
                    description: List keys for an operationalization cluster
                    operation: List keys for an operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/listKeys/action
                  origin: "user,system"
                - display:
                    description: Check available system updates for an operationalization
                      cluster
                    operation: Check available system updates for an operationalization
                      cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/checkUpdate/action
                  origin: "user,system"
                - display:
                    description: Apply available system updates for an operationalization
                      cluster
                    operation: Apply available system updates for an operationalization
                      cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/updateSystem/action
                  origin: "user,system"
      x-openapi-router-controller: openapi_server.controllers.machine_learning_compute_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningCompute/operationalizationClusters:
    get:
      description: Gets the operationalization clusters in the specified subscription.
      operationId: operationalization_clusters_list_by_subscription_id
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOperationalizationClustersList'
          description: "OK. The response includes a paginated array of cluster objects\
            \ and a URI to the next set of results, if any. Note that the cluster\
            \ objects are sparsely populated to conserve space in the response content.\
            \ To get the full cluster object, call the GET operation on the cluster."
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Operationalization Clusters by Subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://the.next/link
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                  location: West US
                  name: MyCluster
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.ContainerRegistry/registries/mycluster1123456
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: 2017-05-04T07:12:28.191Z
                    description: My Operationalization Cluster
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: 2017-05-04T07:12:28.191Z
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.Storage/storageAccounts/mycluster18787878
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster2
                  location: West US
                  name: MyCluster2
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.ContainerRegistry/registries/myCluster28923849
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: mycluster2defghi.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: 2017-05-04T07:12:28.191Z
                    description: My Operationalization Cluster 2
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: 2017-05-04T07:12:28.191Z
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Storage/storageAccounts/myCluster2998989
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters
  : get:
      description: Gets the clusters in the specified resource group.
      operationId: operationalization_clusters_list_by_resource_group
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOperationalizationClustersList'
          description: "OK. The response includes a paginated array of cluster objects\
            \ and a URI to the next set of results, if any. For the more information\
            \ the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.\
            \ Note that the cluster objects are sparsely populated to conserve space\
            \ in the response content. To get the full cluster object, call the GET\
            \ operation on the cluster."
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Operationalization Clusters by Resource Group:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://the.next/link
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                  location: West US
                  name: MyCluster
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/mycluster123456
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: 2017-05-04T07:12:28.191Z
                    description: My Operationalization Cluster
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: 2017-05-04T07:12:28.191Z
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster2
                  location: West US
                  name: MyCluster2
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry8923849
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: mycluster2defghi.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: 2017-05-04T07:12:28.191Z
                    description: My Operationalization Cluster 2
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: 2017-05-04T07:12:28.191Z
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster998989
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}
  : delete:
      description: Deletes the specified cluster.
      operationId: operationalization_clusters_delete
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "If true, deletes all resources associated with this cluster."
        in: query
        name: deleteAll
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: "The delete request was accepted and will complete asynchronously.\
            \ The know the progress of the delete operation do a GET call on the URI\
            \ in the Location header. For more information about Asynchronous Operations,\
            \ see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations."
          headers:
            Location:
              description: URI of the async operation.
              schema:
                type: string
        "204":
          content: {}
          description: No Content. The cluster did not exist but the request was well
            formed.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWrapper'
          description: Error response describing why the operation failed.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        DELETE Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: http://async-operation-URI
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    get:
      description: Gets the operationalization cluster resource view. Note that the
        credentials are not returned by this call. Call ListKeys to get them.
      operationId: operationalization_clusters_get
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalizationCluster'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWrapper'
          description: Error response describing why the operation failed.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        GET Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster
                location: West US
                name: myCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: 2017-05-04T07:12:28.191Z
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: 2017-05-04T07:12:28.191Z
                  provisioningErrors:
                  - code: Timeout
                    message: Timeout waiting for deployment to start.
                    statusCode: "408"
                  provisioningState: Failed
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    patch:
      description: The PATCH operation can be used to update only the tags for a cluster.
        Use PUT operation to update other properties.
      operationId: operationalization_clusters_update
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalizationClusterUpdateParameters'
        description: The parameters supplied to patch the cluster.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalizationCluster'
          description: OK. The update completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWrapper'
          description: Error response describing why the operation failed.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        PATCH Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            parameters:
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/mycluster742894
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: 2017-05-04T07:12:28.191Z
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: 2017-05-04T07:12:28.191Z
                  provisioningState: Succeeded
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: value1
                type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    put:
      description: Create or update an operationalization cluster.
      operationId: operationalization_clusters_create_or_update
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalizationCluster'
        description: Parameters supplied to create or update an Operationalization
          cluster.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalizationCluster'
          description: The create or update succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalizationCluster'
          description: "The request was accepted and will complete asynchronously.\
            \ To get the progress of the operation, call GET operation on the URL\
            \ in Azure-AsyncOperation header field. For more information about Asynchronous\
            \ Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWrapper'
          description: Error response describing why the operation failed.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        PUT Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            parameters:
              location: West US
              properties:
                clusterType: ACS
                containerService:
                  orchestratorProperties:
                    servicePrincipal:
                      clientId: abcdefghijklmnopqrt
                      secret: uiuiwueiwuewiue
                  orchestratorType: Kubernetes
                description: My Operationalization Cluster
                globalServiceConfiguration:
                  ssl:
                    cert: afjdklq2131casfakld=
                    cname: foo.bar.com
                    key: flksdafkldsajf=
                    status: Enabled
              tags:
                key1: alpha
                key2: beta
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: 2017-05-04T07:12:28.191Z
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf=
                      status: Enabled
                  modifiedOn: 2017-05-04T07:12:28.191Z
                  provisioningState: Succeeded
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: 2017-05-04T07:12:28.191Z
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: 2017-05-04T07:12:28.191Z
                  provisioningState: Creating
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
              headers:
                Azure-AsyncOperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/checkSystemServicesUpdatesAvailable
  : post:
      description: Checks if updates are available for system services in the cluster.
      operationId: operationalization_clusters_check_system_services_updates_available
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckSystemServicesUpdatesAvailableResponse'
          description: OK. The request completed successfully.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        Check Update for an Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                updatesAvailable: "Yes"
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/listKeys
  : post:
      description: "Gets the credentials for the specified cluster such as Storage,\
        \ ACR and ACS credentials. This is a long running operation because it fetches\
        \ keys from dependencies."
      operationId: operationalization_clusters_list_keys
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalizationClusterCredentials'
          description: OK. The request completed successfully.
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Keys of an Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                appInsights:
                  appId: abcdefghijklmnop
                  instrumentationKey: ppppppppppppppppppTTTTTTTT
                containerRegistry:
                  loginServer: myclusterghijkl.azurecr.io
                  password: ccccKKKKKKKK=
                  password2: bddddTTTTTTTTTTT
                  username: mlcrpacr489402380295
                containerService:
                  acsKubeConfig: AAAAAAAAAAAAAACCCCCCCCCCCCCCCCCCCCCCCCCAAAAAAAAAAAAAAAAA===
                  imagePullSecretName: myclusterghijklacrkey
                storageAccount:
                  primaryKey: aaaaNNNNNNNNNNNN==
                  resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myCluster998989
                  secondaryKey: bbbbXXXXXXXXXXXXXXX==
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/updateSystemServices
  : post:
      description: Updates system services in a cluster.
      operationId: operationalization_clusters_update_system_services
      parameters:
      - description: The version of the Microsoft.MachineLearningCompute resource
          provider API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which the cluster is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystemServicesResponse'
          description: OK. The request completed successfully. Check the response
            body for update details.
        "202":
          content: {}
          description: "The request was accepted and will complete asynchronously.\
            \ The know the progress of the async operation do a GET call on the URI\
            \ in the Location header. For more information about Asynchronous Operations,\
            \ see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations."
          headers:
            Location:
              description: URI of the async operation.
              schema:
                type: string
      tags:
      - OperationalizationClusters
      x-ms-examples:
        Update System Services in an Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                updateCompletedOn: 2017-05-04T07:13:28.191Z
                updateStartedOn: 2017-05-04T07:12:28.191Z
                updateStatus: Completed
            "202":
              headers:
                Location: http://async-operation-URI
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
components:
  parameters:
    ApiVersionParameter:
      description: The version of the Microsoft.MachineLearningCompute resource provider
        API to use.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DeleteAllParameter:
      description: "If true, deletes all resources associated with this cluster."
      in: query
      name: deleteAll
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the resource group in which the cluster is located.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AcsClusterProperties:
      description: Information about the container service backing the cluster
      example:
        clusterFqdn: clusterFqdn
        orchestratorType: Kubernetes
        masterCount: 3
        systemServices:
        - publicIpAddress: publicIpAddress
          version: version
          systemServiceType: None
        - publicIpAddress: publicIpAddress
          version: version
          systemServiceType: None
        orchestratorProperties:
          servicePrincipal:
            clientId: clientId
            secret: secret
        agentCount: 8
        agentVmSize: Standard_D3_v2
      properties:
        agentCount:
          description: The number of agent nodes in the Container Service. This can
            be changed to scale the cluster.
          maximum: 100
          minimum: 1
          title: agentCount
          type: integer
        agentVmSize:
          default: Standard_D3_v2
          description: The Azure VM size of the agent VM nodes. This cannot be changed
            once the cluster is created. This list is non exhaustive; refer to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes
            for the possible VM sizes.
          enum:
          - Standard_A0
          - Standard_A1
          - Standard_A2
          - Standard_A3
          - Standard_A4
          - Standard_A5
          - Standard_A6
          - Standard_A7
          - Standard_A8
          - Standard_A9
          - Standard_A10
          - Standard_A11
          - Standard_D1
          - Standard_D2
          - Standard_D3
          - Standard_D4
          - Standard_D11
          - Standard_D12
          - Standard_D13
          - Standard_D14
          - Standard_D1_v2
          - Standard_D2_v2
          - Standard_D3_v2
          - Standard_D4_v2
          - Standard_D5_v2
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_G1
          - Standard_G2
          - Standard_G3
          - Standard_G4
          - Standard_G5
          - Standard_DS1
          - Standard_DS2
          - Standard_DS3
          - Standard_DS4
          - Standard_DS11
          - Standard_DS12
          - Standard_DS13
          - Standard_DS14
          - Standard_GS1
          - Standard_GS2
          - Standard_GS3
          - Standard_GS4
          - Standard_GS5
          title: agentVmSize
          type: string
          x-ms-enum:
            modelAsString: true
            name: AgentVMSizeTypes
        clusterFqdn:
          description: 'The FQDN of the cluster. '
          readOnly: true
          title: clusterFqdn
          type: string
        masterCount:
          description: The number of master nodes in the container service.
          maximum: 5
          minimum: 1
          title: masterCount
          type: integer
        orchestratorProperties:
          $ref: '#/components/schemas/KubernetesClusterProperties'
        orchestratorType:
          description: Type of orchestrator. It cannot be changed once the cluster
            is created.
          enum:
          - Kubernetes
          - None
          title: orchestratorType
          type: string
          x-ms-enum:
            modelAsString: true
            name: OrchestratorType
        systemServices:
          description: The system services deployed to the cluster
          items:
            $ref: '#/components/schemas/SystemService'
          title: systemServices
          type: array
      required:
      - orchestratorType
      title: AcsClusterProperties
      type: object
    AppInsightsCredentials:
      description: AppInsights credentials.
      example:
        appId: appId
        instrumentationKey: instrumentationKey
      properties:
        appId:
          description: The AppInsights application ID.
          title: appId
          type: string
        instrumentationKey:
          description: The AppInsights instrumentation key. This is not returned in
            response of GET/PUT on the resource. To see this please call listKeys
            API.
          title: instrumentationKey
          type: string
      title: AppInsightsCredentials
      type: object
    AppInsightsProperties:
      description: Properties of App Insights.
      example:
        resourceId: resourceId
      properties:
        resourceId:
          description: ARM resource ID of the App Insights.
          title: resourceId
          type: string
      title: AppInsightsProperties
      type: object
    AutoScaleConfiguration:
      description: AutoScale configuration properties.
      example:
        maxReplicas: 1
        targetUtilization: 2.3021358869347655
        minReplicas: 1
        refreshPeriodInSeconds: 5
        status: Disabled
      properties:
        maxReplicas:
          description: The maximum number of replicas for each service.
          minimum: 1
          title: maxReplicas
          type: integer
        minReplicas:
          description: The minimum number of replicas for each service.
          minimum: 1
          title: minReplicas
          type: integer
        refreshPeriodInSeconds:
          description: Refresh period in seconds.
          title: refreshPeriodInSeconds
          type: integer
        status:
          default: Disabled
          description: If auto-scale is enabled for all services. Each service can
            turn it off individually.
          enum:
          - Enabled
          - Disabled
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: Status
        targetUtilization:
          description: The target utilization.
          title: targetUtilization
          type: number
      title: AutoScaleConfiguration
      type: object
    AvailableOperations:
      description: Available operation list.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
      properties:
        value:
          description: An array of available operations.
          items:
            $ref: '#/components/schemas/ResourceOperation'
          title: value
          type: array
      title: AvailableOperations
      type: object
    CheckSystemServicesUpdatesAvailableResponse:
      description: Information about updates available for system services in a cluster.
      example:
        updatesAvailable: "Yes"
      properties:
        updatesAvailable:
          description: "Yes if updates are available for the system services, No if\
            \ not."
          enum:
          - "Yes"
          - "No"
          readOnly: true
          title: updatesAvailable
          type: string
          x-ms-enum:
            modelAsString: true
            name: UpdatesAvailable
      title: CheckSystemServicesUpdatesAvailableResponse
      type: object
    ContainerRegistryCredentials:
      description: Information about the Azure Container Registry which contains the
        images deployed to the cluster.
      example:
        loginServer: loginServer
        password: password
        password2: password2
        username: username
      properties:
        loginServer:
          description: The ACR login server name. User name is the first part of the
            FQDN.
          readOnly: true
          title: loginServer
          type: string
        password:
          description: The ACR primary password.
          readOnly: true
          title: password
          type: string
        password2:
          description: The ACR secondary password.
          readOnly: true
          title: password2
          type: string
        username:
          description: The ACR login username.
          readOnly: true
          title: username
          type: string
      title: ContainerRegistryCredentials
      type: object
    ContainerRegistryProperties:
      description: Properties of Azure Container Registry.
      example:
        resourceId: resourceId
      properties:
        resourceId:
          description: ARM resource ID of the Azure Container Registry used to store
            Docker images for web services in the cluster. If not provided one will
            be created. This cannot be changed once the cluster is created.
          title: resourceId
          type: string
      title: ContainerRegistryProperties
      type: object
    ContainerServiceCredentials:
      description: Information about the Azure Container Registry which contains the
        images deployed to the cluster.
      example:
        servicePrincipalConfiguration:
          clientId: clientId
          secret: secret
        acsKubeConfig: acsKubeConfig
        imagePullSecretName: imagePullSecretName
      properties:
        acsKubeConfig:
          description: The ACS kube config file.
          readOnly: true
          title: acsKubeConfig
          type: string
        imagePullSecretName:
          description: The ACR image pull secret name which was created in Kubernetes.
          readOnly: true
          title: imagePullSecretName
          type: string
        servicePrincipalConfiguration:
          $ref: '#/components/schemas/ServicePrincipalProperties'
      title: ContainerServiceCredentials
      type: object
    ErrorDetail:
      description: Error detail information.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorDetail
      type: object
    ErrorResponse:
      description: Error response information.
      example:
        code: code
        details:
        - code: code
          message: message
        - code: code
          message: message
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        details:
          description: An array of error detail objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: details
          type: array
        message:
          description: Error message.
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorResponse
      type: object
    ErrorResponseWrapper:
      description: Wrapper for error response to follow ARM guidelines.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
          - code: code
            message: message
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
      title: ErrorResponseWrapper
      type: object
    GlobalServiceConfiguration:
      additionalProperties:
        description: Any additional configuration key-value pairs.
        properties: {}
        type: object
      description: Global configuration for services in the cluster.
      example:
        etag: etag
        serviceAuth:
          secondaryAuthKeyHash: secondaryAuthKeyHash
          primaryAuthKeyHash: primaryAuthKeyHash
        ssl:
          cname: cname
          cert: cert
          key: key
          status: Enabled
        autoScale:
          maxReplicas: 1
          targetUtilization: 2.3021358869347655
          minReplicas: 1
          refreshPeriodInSeconds: 5
          status: Disabled
      properties:
        autoScale:
          $ref: '#/components/schemas/AutoScaleConfiguration'
        etag:
          description: The configuration ETag for updates.
          type: string
        serviceAuth:
          $ref: '#/components/schemas/ServiceAuthConfiguration'
        ssl:
          $ref: '#/components/schemas/SslConfiguration'
      title: GlobalServiceConfiguration
      type: object
    KubernetesClusterProperties:
      description: Kubernetes cluster specific properties
      example:
        servicePrincipal:
          clientId: clientId
          secret: secret
      properties:
        servicePrincipal:
          $ref: '#/components/schemas/ServicePrincipalProperties'
      title: KubernetesClusterProperties
      type: object
      x-ms-discriminator-value: Kubernetes
    OperationalizationCluster:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Instance of an Azure ML Operationalization Cluster resource.
      example:
        properties:
          clusterType: ACS
          containerService:
            clusterFqdn: clusterFqdn
            orchestratorType: Kubernetes
            masterCount: 3
            systemServices:
            - publicIpAddress: publicIpAddress
              version: version
              systemServiceType: None
            - publicIpAddress: publicIpAddress
              version: version
              systemServiceType: None
            orchestratorProperties:
              servicePrincipal:
                clientId: clientId
                secret: secret
            agentCount: 8
            agentVmSize: Standard_D3_v2
          modifiedOn: 2000-01-23T04:56:07.000+00:00
          globalServiceConfiguration:
            etag: etag
            serviceAuth:
              secondaryAuthKeyHash: secondaryAuthKeyHash
              primaryAuthKeyHash: primaryAuthKeyHash
            ssl:
              cname: cname
              cert: cert
              key: key
              status: Enabled
            autoScale:
              maxReplicas: 1
              targetUtilization: 2.3021358869347655
              minReplicas: 1
              refreshPeriodInSeconds: 5
              status: Disabled
          containerRegistry:
            resourceId: resourceId
          description: description
          provisioningErrors:
          - error:
              code: code
              details:
              - code: code
                message: message
              - code: code
                message: message
              message: message
          - error:
              code: code
              details:
              - code: code
                message: message
              - code: code
                message: message
              message: message
          provisioningState: Unknown
          storageAccount:
            resourceId: resourceId
          createdOn: 2000-01-23T04:56:07.000+00:00
          appInsights:
            resourceId: resourceId
      properties:
        properties:
          $ref: '#/components/schemas/OperationalizationClusterProperties'
      title: OperationalizationCluster
    OperationalizationClusterCredentials:
      description: Credentials to resources in the cluster.
      example:
        containerService:
          servicePrincipalConfiguration:
            clientId: clientId
            secret: secret
          acsKubeConfig: acsKubeConfig
          imagePullSecretName: imagePullSecretName
        sslConfiguration:
          cname: cname
          cert: cert
          key: key
          status: Enabled
        serviceAuthConfiguration:
          secondaryAuthKeyHash: secondaryAuthKeyHash
          primaryAuthKeyHash: primaryAuthKeyHash
        containerRegistry:
          loginServer: loginServer
          password: password
          password2: password2
          username: username
        storageAccount:
          resourceId: resourceId
          secondaryKey: secondaryKey
          primaryKey: primaryKey
        appInsights:
          appId: appId
          instrumentationKey: instrumentationKey
      properties:
        appInsights:
          $ref: '#/components/schemas/AppInsightsCredentials'
        containerRegistry:
          $ref: '#/components/schemas/ContainerRegistryCredentials'
        containerService:
          $ref: '#/components/schemas/ContainerServiceCredentials'
        serviceAuthConfiguration:
          $ref: '#/components/schemas/ServiceAuthConfiguration'
        sslConfiguration:
          $ref: '#/components/schemas/SslConfiguration'
        storageAccount:
          $ref: '#/components/schemas/StorageAccountCredentials'
      title: OperationalizationClusterCredentials
      type: object
    OperationalizationClusterProperties:
      description: Properties of an operationalization cluster
      example:
        clusterType: ACS
        containerService:
          clusterFqdn: clusterFqdn
          orchestratorType: Kubernetes
          masterCount: 3
          systemServices:
          - publicIpAddress: publicIpAddress
            version: version
            systemServiceType: None
          - publicIpAddress: publicIpAddress
            version: version
            systemServiceType: None
          orchestratorProperties:
            servicePrincipal:
              clientId: clientId
              secret: secret
          agentCount: 8
          agentVmSize: Standard_D3_v2
        modifiedOn: 2000-01-23T04:56:07.000+00:00
        globalServiceConfiguration:
          etag: etag
          serviceAuth:
            secondaryAuthKeyHash: secondaryAuthKeyHash
            primaryAuthKeyHash: primaryAuthKeyHash
          ssl:
            cname: cname
            cert: cert
            key: key
            status: Enabled
          autoScale:
            maxReplicas: 1
            targetUtilization: 2.3021358869347655
            minReplicas: 1
            refreshPeriodInSeconds: 5
            status: Disabled
        containerRegistry:
          resourceId: resourceId
        description: description
        provisioningErrors:
        - error:
            code: code
            details:
            - code: code
              message: message
            - code: code
              message: message
            message: message
        - error:
            code: code
            details:
            - code: code
              message: message
            - code: code
              message: message
            message: message
        provisioningState: Unknown
        storageAccount:
          resourceId: resourceId
        createdOn: 2000-01-23T04:56:07.000+00:00
        appInsights:
          resourceId: resourceId
      properties:
        appInsights:
          $ref: '#/components/schemas/AppInsightsProperties'
        clusterType:
          description: The cluster type.
          enum:
          - ACS
          - Local
          title: clusterType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ClusterType
        containerRegistry:
          $ref: '#/components/schemas/ContainerRegistryProperties'
        containerService:
          $ref: '#/components/schemas/AcsClusterProperties'
        createdOn:
          description: The date and time when the cluster was created.
          format: date-time
          readOnly: true
          title: createdOn
          type: string
        description:
          description: The description of the cluster.
          title: description
          type: string
        globalServiceConfiguration:
          $ref: '#/components/schemas/GlobalServiceConfiguration'
        modifiedOn:
          description: The date and time when the cluster was last modified.
          format: date-time
          readOnly: true
          title: modifiedOn
          type: string
        provisioningErrors:
          description: List of provisioning errors reported by the resource provider.
          items:
            $ref: '#/components/schemas/ErrorResponseWrapper'
          readOnly: true
          title: provisioningErrors
          type: array
        provisioningState:
          description: "The provision state of the cluster. Valid values are Unknown,\
            \ Updating, Provisioning, Succeeded, and Failed."
          enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationStatus
        storageAccount:
          $ref: '#/components/schemas/StorageAccountProperties'
      required:
      - clusterType
      title: OperationalizationClusterProperties
      type: object
    OperationalizationClusterUpdateParameters:
      description: Parameters for PATCH operation on an operationalization cluster
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource.
            These tags can be used in viewing and grouping this resource (across resource
            groups). A maximum of 15 tags can be provided for a resource. Each tag
            must have a key no greater in length than 128 characters and a value no
            greater in length than 256 characters.
          title: tags
          type: object
      title: OperationalizationClusterUpdateParameters
      type: object
    PaginatedOperationalizationClustersList:
      description: Paginated list of operationalization clusters.
      example:
        value:
        - properties:
            clusterType: ACS
            containerService:
              clusterFqdn: clusterFqdn
              orchestratorType: Kubernetes
              masterCount: 3
              systemServices:
              - publicIpAddress: publicIpAddress
                version: version
                systemServiceType: None
              - publicIpAddress: publicIpAddress
                version: version
                systemServiceType: None
              orchestratorProperties:
                servicePrincipal:
                  clientId: clientId
                  secret: secret
              agentCount: 8
              agentVmSize: Standard_D3_v2
            modifiedOn: 2000-01-23T04:56:07.000+00:00
            globalServiceConfiguration:
              etag: etag
              serviceAuth:
                secondaryAuthKeyHash: secondaryAuthKeyHash
                primaryAuthKeyHash: primaryAuthKeyHash
              ssl:
                cname: cname
                cert: cert
                key: key
                status: Enabled
              autoScale:
                maxReplicas: 1
                targetUtilization: 2.3021358869347655
                minReplicas: 1
                refreshPeriodInSeconds: 5
                status: Disabled
            containerRegistry:
              resourceId: resourceId
            description: description
            provisioningErrors:
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            provisioningState: Unknown
            storageAccount:
              resourceId: resourceId
            createdOn: 2000-01-23T04:56:07.000+00:00
            appInsights:
              resourceId: resourceId
        - properties:
            clusterType: ACS
            containerService:
              clusterFqdn: clusterFqdn
              orchestratorType: Kubernetes
              masterCount: 3
              systemServices:
              - publicIpAddress: publicIpAddress
                version: version
                systemServiceType: None
              - publicIpAddress: publicIpAddress
                version: version
                systemServiceType: None
              orchestratorProperties:
                servicePrincipal:
                  clientId: clientId
                  secret: secret
              agentCount: 8
              agentVmSize: Standard_D3_v2
            modifiedOn: 2000-01-23T04:56:07.000+00:00
            globalServiceConfiguration:
              etag: etag
              serviceAuth:
                secondaryAuthKeyHash: secondaryAuthKeyHash
                primaryAuthKeyHash: primaryAuthKeyHash
              ssl:
                cname: cname
                cert: cert
                key: key
                status: Enabled
              autoScale:
                maxReplicas: 1
                targetUtilization: 2.3021358869347655
                minReplicas: 1
                refreshPeriodInSeconds: 5
                status: Disabled
            containerRegistry:
              resourceId: resourceId
            description: description
            provisioningErrors:
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            provisioningState: Unknown
            storageAccount:
              resourceId: resourceId
            createdOn: 2000-01-23T04:56:07.000+00:00
            appInsights:
              resourceId: resourceId
        nextLink: nextLink
      properties:
        nextLink:
          description: A continuation link (absolute URI) to the next page of results
            in the list.
          title: nextLink
          type: string
        value:
          description: An array of cluster objects.
          items:
            $ref: '#/components/schemas/OperationalizationCluster'
          title: value
          type: array
      title: PaginatedOperationalizationClustersList
      type: object
    Resource:
      description: Azure resource
      properties:
        id:
          description: Specifies the resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: Specifies the location of the resource.
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Specifies the name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Contains resource tags defined as key/value pairs.
          title: tags
          type: object
        type:
          description: Specifies the type of the resource.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceOperation:
      description: Resource operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/ResourceOperation_display'
        name:
          description: Name of this operation.
          title: name
          type: string
        origin:
          description: The operation origin.
          title: origin
          type: string
      title: ResourceOperation
      type: object
    ServiceAuthConfiguration:
      description: Global service auth configuration properties. These are the data-plane
        authorization keys and are used if a service doesn't define it's own.
      example:
        secondaryAuthKeyHash: secondaryAuthKeyHash
        primaryAuthKeyHash: primaryAuthKeyHash
      properties:
        primaryAuthKeyHash:
          description: The primary auth key hash. This is not returned in response
            of GET/PUT on the resource.. To see this please call listKeys API.
          title: primaryAuthKeyHash
          type: string
        secondaryAuthKeyHash:
          description: The secondary auth key hash. This is not returned in response
            of GET/PUT on the resource.. To see this please call listKeys API.
          title: secondaryAuthKeyHash
          type: string
      required:
      - primaryAuthKeyHash
      - secondaryAuthKeyHash
      title: ServiceAuthConfiguration
      type: object
    ServicePrincipalProperties:
      description: The Azure service principal used by Kubernetes for configuring
        load balancers
      example:
        clientId: clientId
        secret: secret
      properties:
        clientId:
          description: The service principal client ID
          title: clientId
          type: string
        secret:
          description: The service principal secret. This is not returned in response
            of GET/PUT on the resource. To see this please call listKeys.
          title: secret
          type: string
      required:
      - clientId
      - secret
      title: ServicePrincipalProperties
      type: object
    SslConfiguration:
      description: SSL configuration. If configured data-plane calls to user services
        will be exposed over SSL only.
      example:
        cname: cname
        cert: cert
        key: key
        status: Enabled
      properties:
        cert:
          description: The SSL cert data in PEM format.
          title: cert
          type: string
        cname:
          description: The CName of the certificate.
          title: cname
          type: string
        key:
          description: The SSL key data in PEM format. This is not returned in response
            of GET/PUT on the resource. To see this please call listKeys API.
          title: key
          type: string
        status:
          default: Enabled
          description: SSL status. Allowed values are Enabled and Disabled.
          enum:
          - Enabled
          - Disabled
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: Status
      title: SslConfiguration
      type: object
    StorageAccountCredentials:
      description: Access information for the storage account.
      example:
        resourceId: resourceId
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: The primary key of the storage account.
          readOnly: true
          title: primaryKey
          type: string
        resourceId:
          description: The ARM resource ID of the storage account.
          readOnly: true
          title: resourceId
          type: string
        secondaryKey:
          description: The secondary key of the storage account.
          readOnly: true
          title: secondaryKey
          type: string
      title: StorageAccountCredentials
      type: object
    StorageAccountProperties:
      description: Properties of Storage Account.
      example:
        resourceId: resourceId
      properties:
        resourceId:
          description: ARM resource ID of the Azure Storage Account to store CLI specific
            files. If not provided one will be created. This cannot be changed once
            the cluster is created.
          title: resourceId
          type: string
      title: StorageAccountProperties
      type: object
    SystemService:
      description: Information about a system service deployed in the cluster
      example:
        publicIpAddress: publicIpAddress
        version: version
        systemServiceType: None
      properties:
        publicIpAddress:
          description: The public IP address of the system service
          readOnly: true
          title: publicIpAddress
          type: string
        systemServiceType:
          description: The system service type
          enum:
          - None
          - ScoringFrontEnd
          - BatchFrontEnd
          title: systemServiceType
          type: string
          x-ms-enum:
            modelAsString: true
            name: SystemServiceType
        version:
          description: The state of the system service
          readOnly: true
          title: version
          type: string
      required:
      - systemServiceType
      title: SystemService
      type: object
    UpdateSystemServicesResponse:
      description: Response of the update system services API
      example:
        updateStartedOn: 2000-01-23T04:56:07.000+00:00
        updateStatus: Unknown
        updateCompletedOn: 2000-01-23T04:56:07.000+00:00
      properties:
        updateCompletedOn:
          description: The date and time when the last system services update completed.
          format: date-time
          readOnly: true
          title: updateCompletedOn
          type: string
        updateStartedOn:
          description: The date and time when the last system services update was
            started.
          format: date-time
          readOnly: true
          title: updateStartedOn
          type: string
        updateStatus:
          description: Update status
          enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: updateStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationStatus
      title: UpdateSystemServicesResponse
      type: object
    ResourceOperation_display:
      description: Display of the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          title: description
          type: string
        operation:
          description: The operation.
          title: operation
          type: string
        provider:
          description: The resource provider name.
          title: provider
          type: string
        resource:
          description: The resource name.
          title: resource
          type: string
      title: ResourceOperation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
