openapi: 3.0.0
info:
  contact:
    email: integrations@reverb.com
    name: Reverb API
    url: https://www.reverb-api.com
  description: reverb
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://reverb.com/page/terms
  title: reverb
  version: "3.0"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://d1g5417jjjo7sf.cloudfront.net/assets/top-level/reverb-logo-d2c75af0b020521f0bc5e90c883a13b5.svg
  x-origin:
  - format: openapi
    url: https://s3.amazonaws.com/swagger.reverb.com/swagger.json
    version: "3.0"
  x-providerName: reverb.com
externalDocs:
  url: https://dev.reverb.com/
servers:
- url: https://api.reverb.com/api
paths:
  /articles:
    get:
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: What's being searched for
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Number of featured articles to exclude
        explode: true
        in: query
        name: exclude_featured
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      tags:
      - articles
      x-accepts:
      - application/json
  /articles/categories:
    get:
      description: List of all article categories
      responses:
        default:
          description: Unexpected error
      summary: List of all article categories
      tags:
      - articles
      x-accepts:
      - application/json
  /categories:
    get:
      description: List of supported product categories
      responses:
        default:
          description: Unexpected error
      summary: List of supported product categories
      tags:
      - categories
      x-accepts:
      - application/json
  /categories/flat:
    get:
      responses:
        default:
          description: Unexpected error
      tags:
      - categories
      x-accepts:
      - application/json
  /categories/taxonomy:
    get:
      description: Full taxonomy tree of categories including middle categories
      responses:
        default:
          description: Unexpected error
      summary: Full taxonomy tree of categories including middle categories
      tags:
      - categories
      x-accepts:
      - application/json
  /categories/{product_type}/{category}:
    get:
      description: Get subcategory details
      parameters:
      - explode: false
        in: path
        name: product_type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Get subcategory details
      tags:
      - categories
      x-accepts:
      - application/json
  /categories/{uuid}:
    get:
      description: Get category details
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Get category details
      tags:
      - categories
      x-accepts:
      - application/json
  /comparison_shopping_pages:
    get:
      description: Returns a set of comparison shopping pages based on the current
        params
      responses:
        default:
          description: Unexpected error
      summary: Returns a set of comparison shopping pages based on the current params
      tags:
      - comparison_shopping_pages
      x-accepts:
      - application/json
  /comparison_shopping_pages/find:
    get:
      description: Show comparison shopping page
      parameters:
      - description: ID of the comparison shopping page
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Slug of the comparison shopping page
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Show comparison shopping page
      tags:
      - comparison_shopping_pages
      x-accepts:
      - application/json
  /comparison_shopping_pages/{id}:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - comparison_shopping_pages
      x-accepts:
      - application/json
  /comparison_shopping_pages/{id}/listings:
    get:
      description: Return new or used listings for a comparison shopping page
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Condition of the listing
        explode: true
        in: query
        name: condition
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Return new or used listings for a comparison shopping page
      tags:
      - comparison_shopping_pages
      x-accepts:
      - application/json
  /comparison_shopping_pages/{id}/reviews:
    get:
      description: View reviews of a comparison shopping page
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: View reviews of a comparison shopping page
      tags:
      - comparison_shopping_pages
      x-accepts:
      - application/json
  /conversations/{conversation_id}/offer:
    post:
      description: Make an offer to the other participant in the conversation
      parameters:
      - explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the other participant in the conversation
      tags:
      - conversations
      x-content-type: application/json
      x-accepts:
      - application/json
  /conversations/{id}/offer:
    post:
      description: Make an offer to the other participant in the conversation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body3'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the other participant in the conversation
      tags:
      - conversations
      x-content-type: application/json
      x-accepts:
      - application/json
  /countries:
    get:
      description: Retrieve a list of country codes with corresponding subregions
      responses:
        default:
          description: Unexpected error
      summary: Retrieve a list of country codes with corresponding subregions
      tags:
      - countries
      x-accepts:
      - application/json
  /csps:
    get:
      description: Returns a set of comparison shopping pages based on the current
        params
      responses:
        default:
          description: Unexpected error
      summary: Returns a set of comparison shopping pages based on the current params
      tags:
      - csps
      x-accepts:
      - application/json
  /csps/categories:
    get:
      responses:
        default:
          description: Unexpected error
      tags:
      - csps
      x-accepts:
      - application/json
  /csps/find:
    get:
      description: Show comparison shopping page
      parameters:
      - description: ID of the comparison shopping page
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Slug of the comparison shopping page
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Show comparison shopping page
      tags:
      - csps
      x-accepts:
      - application/json
  /csps/{id}:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - csps
      x-accepts:
      - application/json
  /curated_sets/{slug}:
    get:
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - curated_sets
      x-accepts:
      - application/json
  /currencies/display:
    get:
      description: List of supported display currencies for browsing listings
      responses:
        default:
          description: Unexpected error
      summary: List of supported display currencies for browsing listings
      tags:
      - currencies
      x-accepts:
      - application/json
  /currencies/listing:
    get:
      description: List of supported listing currencies for shops
      responses:
        default:
          description: Unexpected error
      summary: List of supported listing currencies for shops
      tags:
      - currencies
      x-accepts:
      - application/json
  /feedback/{feedback_id}:
    get:
      description: Feedback details
      parameters:
      - explode: false
        in: path
        name: feedback_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Feedback details
      tags:
      - feedback
      x-accepts:
      - application/json
  /handpicked/{slug}:
    get:
      description: Get results from a handpicked collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Get results from a handpicked collection
      tags:
      - handpicked
      x-accepts:
      - application/json
  /listing_conditions:
    get:
      description: List of supported product conditions
      responses:
        default:
          description: Unexpected error
      summary: List of supported product conditions
      tags:
      - listing_conditions
      x-accepts:
      - application/json
  /listings:
    get:
      description: Default search of listings includes only used & handmade. Add a
        filter to view all listings or use the /listings/all endpoint.
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Default search of listings includes only used & handmade. Add a filter
        to view all listings or use the /listings/all endpoint.
      tags:
      - listings
      x-accepts:
      - application/json
    post:
      description: Create a listing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
        - write_listings_for_others
      summary: Create a listing
      tags:
      - listings
      x-content-type: application/json
      x-accepts:
      - application/json
  /listings/all:
    get:
      description: "All listings including used, handmade, and brand new"
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: "All listings including used, handmade, and brand new"
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/facets/seller_location:
    get:
      description: Individual facets
      responses:
        default:
          description: Unexpected error
      summary: Individual facets
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{id}/negotiation:
    get:
      description: Returns the latest negotiation for the requesting user given a
        listing id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Returns the latest negotiation for the requesting user given a listing
        id
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{id}/offer:
    post:
      description: Make an offer to the seller of a listing
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body3'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the seller of a listing
      tags:
      - listings
      x-content-type: application/json
      x-accepts:
      - application/json
  /listings/{listing_id}/bump:
    get:
      description: View available bump tiers and stats for a listing
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: View available bump tiers and stats for a listing
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{listing_id}/bump/{budget_type}:
    post:
      description: Bump a listing
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: budget_type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Bump a listing
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{listing_id}/conversations:
    post:
      description: Start a conversation with a seller
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body2'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Start a conversation with a seller
      tags:
      - listings
      x-content-type: application/json
      x-accepts:
      - application/json
  /listings/{listing_id}/images:
    get:
      description: View the images associated with a particular listing
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: View the images associated with a particular listing
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{listing_id}/images/{image_id}:
    delete:
      description: Delete an image from a listing
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: image_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Delete an image from a listing
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{listing_id}/sales:
    get:
      description: See all sales that include a listing.
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: See all sales that include a listing.
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{slug}:
    delete:
      description: Delete a draft listing. Cannot be used on non-drafts.
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Delete a draft listing. Cannot be used on non-drafts.
      tags:
      - listings
      x-accepts:
      - application/json
    get:
      description: Listing details
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Listing details
      tags:
      - listings
      x-accepts:
      - application/json
    put:
      description: Update a listing
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Update a listing
      tags:
      - listings
      x-content-type: application/json
      x-accepts:
      - application/json
  /listings/{slug}/edit:
    get:
      description: Edit listing.
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Edit listing.
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{slug}/flag:
    post:
      description: Flag a listing for inappropriate content or fraud
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings__slug__flag_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      summary: Flag a listing for inappropriate content or fraud
      tags:
      - listings
      x-content-type: application/json
      x-accepts:
      - application/json
  /listings/{slug}/reviews:
    get:
      description: View reviews of a listing
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: View reviews of a listing
      tags:
      - listings
      x-accepts:
      - application/json
    post:
      description: Create a review for a listing
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_reviews
      summary: Create a review for a listing
      tags:
      - listings
      x-accepts:
      - application/json
  /listings/{slug}/similar_listings:
    get:
      description: Listing details
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Listing details
      tags:
      - listings
      x-accepts:
      - application/json
  /my/account:
    get:
      description: Get account details
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: Get account details
      tags:
      - my
      x-accepts:
      - application/json
    put:
      description: Update account details
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_account_put_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Update account details
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/addresses:
    get:
      description: See all addresses in your address book
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: See all addresses in your address book
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Create a new address in your address book
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Create a new address in your address book
      tags:
      - my
      x-accepts:
      - application/json
  /my/addresses/{address_id}:
    delete:
      description: Delete an existing address in your address book
      parameters:
      - explode: false
        in: path
        name: address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Delete an existing address in your address book
      tags:
      - my
      x-accepts:
      - application/json
    put:
      description: Update an existing address in your address book
      parameters:
      - explode: false
        in: path
        name: address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Update an existing address in your address book
      tags:
      - my
      x-accepts:
      - application/json
  /my/conversations:
    get:
      description: Get a list of your conversations
      parameters:
      - description: Query string to search conversations by
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Show unread conversations only
        explode: true
        in: query
        name: unread_only
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_messages
      summary: Get a list of your conversations
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Start a conversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_conversations_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Start a conversation
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/conversations/{conversation_id}/messages:
    post:
      description: Send a message
      parameters:
      - explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body2'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Send a message
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/conversations/{id}:
    get:
      description: Display conversation details with messages in natural time order
        (oldest to newest)
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_messages
      summary: Display conversation details with messages in natural time order (oldest
        to newest)
      tags:
      - my
      x-accepts:
      - application/json
    put:
      description: Mark a conversation read/unread
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_conversations__id__put_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Mark a conversation read/unread
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/counts:
    get:
      description: Get your actionable status counts
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: Get your actionable status counts
      tags:
      - my
      x-accepts:
      - application/json
  /my/curated_set/product/{product_id}:
    delete:
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
  /my/feed:
    get:
      description: Get listings from your feed
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Get listings from your feed
      tags:
      - my
      x-accepts:
      - application/json
  /my/feed/customize:
    get:
      description: get your feed customization options
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: get your feed customization options
      tags:
      - my
      x-accepts:
      - application/json
  /my/feed/grid:
    get:
      description: get your feed
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: get your feed
      tags:
      - my
      x-accepts:
      - application/json
  /my/feedback/received:
    get:
      description: List of received feedback
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of received feedback
      tags:
      - my
      x-accepts:
      - application/json
  /my/feedback/sent:
    get:
      description: List of sent feedback
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of sent feedback
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows:
    get:
      description: See what the user is following
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: See what the user is following
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/articles:
    get:
      description: Returns a user's ArticleCategoryFollows
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Returns a user's ArticleCategoryFollows
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Set a user's ArticleCategoryFollows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_follows_articles_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Set a user's ArticleCategoryFollows
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/follows/brands/{slug}:
    delete:
      description: Unfollow a brand
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a brand
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a brand
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a brand
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a brand
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a brand
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/categories/{category}/{subcategory}:
    delete:
      description: Unfollow a subcategory
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a subcategory
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a subcategory
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a subcategory
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a subcategory
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a subcategory
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/categories/{identifier}:
    delete:
      description: Unfollow a category
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a category
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a category
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a category
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a category
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a category
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/categories/{uuid}:
    post:
      description: Follow a category
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a category
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/collections/{slug}:
    delete:
      description: Unfollow a collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a collection
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a collection
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a collection
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/handpicked/{slug}:
    delete:
      description: Unfollow a handpicked collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a handpicked collection
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a handpicked collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a handpicked collection
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a handpicked collection
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a handpicked collection
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/search:
    get:
      description: Follow status for a search
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a search
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_follows_search_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a search
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/follows/shops/{slug}:
    delete:
      description: Unfollow a shop
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a shop
      tags:
      - my
      x-accepts:
      - application/json
    get:
      description: Follow status for a shop
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a shop
      tags:
      - my
      x-accepts:
      - application/json
    post:
      description: Follow a shop
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a shop
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/{follow_id}:
    delete:
      description: Delete a follow
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Delete a follow
      tags:
      - my
      x-accepts:
      - application/json
  /my/follows/{follow_id}/alert:
    delete:
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
  /my/listings:
    get:
      description: Retrieve a list of live listings for the seller. To search all
        listings specify state=all
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available: [\"all\", \"draft\", \"ended\", \"live\", \"ordered\"\
          , \"sold_out\", \"suspended\", \"seller_unavailable\"]. Defaults to 'live'"
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: live
          type: string
        style: form
      - description: Find a listing by sku
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: Retrieve a list of live listings for the seller. To search all listings
        specify state=all
      tags:
      - my
      x-accepts:
      - application/json
  /my/listings/drafts:
    get:
      description: Retrieve a list your draft listings
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: Retrieve a list your draft listings
      tags:
      - my
      x-accepts:
      - application/json
  /my/listings/negotiations:
    get:
      description: Get a list of active negotiations as a seller
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get a list of active negotiations as a seller
      tags:
      - my
      x-accepts:
      - application/json
  /my/listings/{slug}/state/end:
    put:
      description: End a listing
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_listings__slug__state_end_put_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: End a listing
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/lists:
    get:
      description: "Get a list of your lists (wishlist, watch list, etc)"
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: "Get a list of your lists (wishlist, watch list, etc)"
      tags:
      - my
      x-accepts:
      - application/json
  /my/negotiations/buying:
    get:
      description: Get a list of active negotiations as a buyer
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get a list of active negotiations as a buyer
      tags:
      - my
      x-accepts:
      - application/json
  /my/negotiations/{id}:
    get:
      description: Get offer details
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get offer details
      tags:
      - my
      x-accepts:
      - application/json
  /my/negotiations/{id}/accept:
    post:
      description: Accept an offer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_negotiations__id__accept_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Accept an offer
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/negotiations/{id}/counter:
    post:
      description: Counter an offer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Counter an offer
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/negotiations/{id}/decline:
    post:
      description: Decline an offer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Decline an offer
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/awaiting_feedback:
    get:
      description: List of orders that need feedback
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of orders that need feedback
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/buying/all:
    get:
      description: "Returns all orders, newest first."
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Returns all orders, newest first."
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/buying/by_uuid/{uuid}:
    get:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/buying/unpaid:
    get:
      description: "Returns unpaid orders, newest first."
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Returns unpaid orders, newest first."
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/buying/{id}:
    get:
      description: Returns order details for a buyer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Returns order details for a buyer
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/buying/{id}/mark_received:
    post:
      description: Marks an order as received by the buyer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Marks an order as received by the buyer
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/all:
    get:
      description: "Get all seller orders, newest first."
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get all seller orders, newest first."
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/awaiting_shipment:
    get:
      description: "Get unpaid seller orders, newest first."
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get unpaid seller orders, newest first."
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/buyer_history/{buyer_id}:
    get:
      description: See previous orders from buyer
      parameters:
      - explode: false
        in: path
        name: buyer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: See previous orders from buyer
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/by_uuid/{uuid}:
    get:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/unpaid:
    get:
      description: "Get unpaid seller orders, newest first."
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get unpaid seller orders, newest first."
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/{id}:
    get:
      description: Returns order details for a seller
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Returns order details for a seller
      tags:
      - my
      x-accepts:
      - application/json
  /my/orders/selling/{id}/mark_picked_up:
    post:
      description: Marks an order as picked up
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_orders_selling__id__mark_picked_up_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Marks an order as picked up
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/orders/selling/{id}/ship:
    post:
      description: Marks an order as shipped
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_orders_selling__id__ship_post_request'
        description: the content of the request
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Marks an order as shipped
      tags:
      - my
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/orders/selling/{order_id}/refund_requests:
    post:
      description: Initiate a refund for a sold order
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Initiate a refund for a sold order
      tags:
      - my
      x-accepts:
      - application/json
  /my/payments/selling:
    get:
      description: Get payments
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter by date created in ISO8601 format - e.g: 2015-04-09T10:52:23-00:00"
        explode: true
        in: query
        name: created_start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by date created in ISO8601 format - e.g: 2015-04-09T10:52:23-00:00"
        explode: true
        in: query
        name: created_end_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by date modified in ISO8601 format - e.g: 2015-04-09T10:52:23-00:00"
        explode: true
        in: query
        name: updated_start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by date modified in ISO8601 format - e.g: 2015-04-09T10:52:23-00:00"
        explode: true
        in: query
        name: updated_end_date
        required: false
        schema:
          type: string
        style: form
      - description: Look up payments by order id
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Get payments
      tags:
      - my
      x-accepts:
      - application/json
  /my/payments/selling/{id}:
    get:
      description: Get payment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Get payment
      tags:
      - my
      x-accepts:
      - application/json
  /my/payouts:
    get:
      description: Get a list of payouts
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_payouts
      summary: Get a list of payouts
      tags:
      - my
      x-accepts:
      - application/json
  /my/payouts/{id}/line_items:
    get:
      description: Read the line items of a payout
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_payouts
      summary: Read the line items of a payout
      tags:
      - my
      x-accepts:
      - application/json
  /my/refund_requests/selling:
    get:
      description: Get a list of refund requests as a seller
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Get a list of refund requests as a seller
      tags:
      - my
      x-accepts:
      - application/json
  /my/refund_requests/selling/{id}:
    put:
      description: Update a refund request for a sold order
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Update a refund request for a sold order
      tags:
      - my
      x-accepts:
      - application/json
  /my/viewed_listings:
    get:
      description: Get a list of your recently viewed listings.
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Get a list of your recently viewed listings.
      tags:
      - my
      x-accepts:
      - application/json
  /my/wishlist:
    get:
      description: Get a list of wishlisted items
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Get a list of wishlisted items
      tags:
      - my
      x-accepts:
      - application/json
  /my/wishlist/{id}:
    delete:
      description: Remove a listing from your wishlist
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Remove a listing from your wishlist
      tags:
      - my
      x-accepts:
      - application/json
    put:
      description: Add a listing to your wishlist
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Add a listing to your wishlist
      tags:
      - my
      x-accepts:
      - application/json
  /orders/{order_id}/feedback/buyer:
    get:
      description: Feedback details for an order's buyer
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Feedback details for an order's buyer
      tags:
      - orders
      x-accepts:
      - application/json
    post:
      description: Add feedback about an order's buyer
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_feedback
      summary: Add feedback about an order's buyer
      tags:
      - orders
      x-accepts:
      - application/json
  /orders/{order_id}/feedback/seller:
    get:
      description: Feedback details for an order's seller
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Feedback details for an order's seller
      tags:
      - orders
      x-accepts:
      - application/json
    post:
      description: Add feedback about an order's seller
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_feedback
[...]
