# GoogleMyBusinessApi.Verification

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**createTime** | **String** | The timestamp when the verification is requested. | [optional] 
**method** | **String** | The method of the verification. | [optional] 
**name** | **String** | Resource name of the verification. | [optional] 
**state** | **String** | The state of the verification. | [optional] 



## Enum: MethodEnum


* `VERIFICATION_METHOD_UNSPECIFIED` (value: `"VERIFICATION_METHOD_UNSPECIFIED"`)

* `ADDRESS` (value: `"ADDRESS"`)

* `EMAIL` (value: `"EMAIL"`)

* `PHONE_CALL` (value: `"PHONE_CALL"`)

* `SMS` (value: `"SMS"`)

* `AUTO` (value: `"AUTO"`)





## Enum: StateEnum


* `VERIFICATION_STATE_UNSPECIFIED` (value: `"VERIFICATION_STATE_UNSPECIFIED"`)

* `PENDING` (value: `"PENDING"`)

* `COMPLETED` (value: `"COMPLETED"`)

* `FAILED` (value: `"FAILED"`)




