openapi: 3.0.1
info:
  contact:
    name: William Hill Labs
    url: http://developer.williamhill.com
  description: "The William Hill SportsData REST API is a collection of GET methods\
    \ to provide William Hill product data such as sport, competition, event, market\
    \ and selection data (including prices)."
  title: SportsData API
  version: "2"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/WillHillHelp/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.williamhill.com/wh-docs/docs-sdks/sportsdata/swagger/docs
    version: "2.0"
  x-providerName: whapi.com
  x-serviceName: sportsdata
servers:
- url: https://sandbox.whapi.com/v2/sportsdata
paths:
  /classes/{classId}/competitions/:
    get:
      description: Retrieves a list of competitions for a given class id.
      operationId: get_competitions_for_class
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: apiKey
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The class id to retrieve information for.
        in: path
        name: classId
        required: true
        schema:
          pattern: "^(OB_CL\\d{1,7})$"
          type: string
          x-eg: OB_CL1
        x-eg: OB_CL1
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: isPublished
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify whether to return displayed entities or not
        in: query
        name: displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "competitions": [
                 {
                 "id": "OB_TY1733",
                 "name": "Manchester Senior Cup",
                 "status": "A"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/competitionsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of competitions for a given class id.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /classes/{classId}/events/:
    get:
      description: Retrieves a list of events for a given class id. 'includeAllDescendants'
        parameter should be accompanied with 'date' filter or one of 'dateFrom' and
        'dateTo' filters.
      operationId: get_events_for_class
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The class id to retrieve information for.
        in: path
        name: class_id
        required: true
        schema:
          pattern: "^(OB_CL\\d{1,7})$"
          type: string
          x-eg: OB_CL1
        x-eg: OB_CL1
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify whether to return displayed entities or not
        in: query
        name: displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify wether only settled entities should be returned
        in: query
        name: settled
        schema:
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: When declared as false it should exclude markets and events that
          have no selections / markets
        in: query
        name: includeEmpty
        schema:
          default: true
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Return only headline markets (Markets with the lowest display\
          \ order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount,\
          \ if available. Markets and Outcomes will be returned."
        in: query
        name: headlineSummary
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Include every descendant in the below heirarchy
        in: query
        name: includeAllDescendants
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Show only events that are in-play
        in: query
        name: isInPlay
        schema:
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Specify the number of markets to return when requesting headlineSummary.\
          \ This count of InPlay and Pre-Match markets will be returned.For example,\
          \ when specifying 1, 1 In Play and 1 Pre Match market will be returned."
        in: query
        name: marketCount
        schema:
          default: 1
          maximum: 3
          minimum: 1
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Return only events for the specified date (yyyy-MM-dd).
        in: query
        name: date
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})$"
          type: string
          x-eg: 2015-10-10
        x-eg: 2015-10-10
      - description: The UTC datetime from the events to be returned. (yyyy-MM-ddTHH:mm:ss)
        in: query
        name: dateFrom
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\\
            d{2})$"
          type: string
          x-eg: 2015-10-10T13:13:01
        x-eg: 2015-10-10T13:13:01
      - description: The UTC datetime TO the events to be returned. (yyyy-MM-ddTHH:mm:ss)
        in: query
        name: dateTo
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\\
            d{2})$"
          type: string
          x-eg: 2015-10-10T13:20:01
        x-eg: 2015-10-10T13:20:01
      - description: Filter event by event sort
        in: query
        name: eventSort
        schema:
          type: string
          x-eg: MTCH
        x-eg: MTCH
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: marketPublished
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: marketStatus
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify whether to return displayed entities or not
        in: query
        name: marketDisplayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: marketChannel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: marketSort
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Specify whether to return markets with each way betting or those
          without
        in: query
        name: marketEW
        schema:
          pattern: (yes|no|Yes|No)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selectionStatus
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selectionChannel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selectionPublished
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                "events": [
                 {
                 "id": "OB_EV2828",
                 "name": "Forest Green Vs Liverpool",
                 "status": "A",
                 "startDateTime": "2016-01-29T20:00:00"
                 },
                 {
                 "id": "OB_EV2829",
                 "name": "XXXMan Utd Vs Man City",
                 "status": "A",
                 "startDateTime": "2016-01-07T11:00:00"
                 },
                 {
                 "id": "OB_EV2849",
                 "name": "Manchester Senior Cup - Winners 2015-16",
                 "status": "A",
                 "startDateTime": "2016-01-01T00:00:00"
                 }
                ]
                }
              schema:
                $ref: '#/components/schemas/eventsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of events for a given class id.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /competitions/{competitionId}:
    get:
      description: Retrieves a specific competition
      operationId: get_competition
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The competition id to retrieve information for.
        in: path
        name: competitionId
        required: true
        schema:
          pattern: "^(OB_TY\\d{1,7})$"
          type: string
          x-eg: OB_TY1
        x-eg: OB_TY1
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "id": "OB_TY1733",
                 "name": "Manchester Senior Cup",
                 "status": "A"
                }
              schema:
                $ref: '#/components/schemas/competition'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a specific competition
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /competitions/{competitionId}/events/:
    get:
      description: Retrieves a list of events for a given competition id. 'headlineSummary'
        and includeAllDescendants parameters should be accompanied with 'date' filter
        or one of 'dateFrom' and 'dateTo' filters.
      operationId: get_events_for_competition
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The competition id to retrieve information for.
        in: path
        name: competition_id
        required: true
        schema:
          pattern: "^(OB_TY\\d{1,7})$"
          type: string
          x-eg: OB_TY1
        x-eg: OB_TY1
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify whether to return displayed entities or not
        in: query
        name: displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify wether only settled entities should be returned
        in: query
        name: settled
        schema:
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: When declared as false it should exclude markets and events that
          have no selections / markets
        in: query
        name: include_empty
        schema:
          default: true
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Return only headline markets (Markets with the lowest display\
          \ order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount,\
          \ if available. Markets and Outcomes will be returned."
        in: query
        name: headline_summary
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Include every descendant in the below heirarchy
        in: query
        name: include_all_descendants
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Show only events that are in-play
        in: query
        name: is_in_play
        schema:
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Specify the number of markets to return when requesting headlineSummary.\
          \ This count of InPlay and Pre-Match markets will be returned.For example,\
          \ when specifying 1, 1 In Play and 1 Pre Match market will be returned."
        in: query
        name: market_count
        schema:
          default: 1
          maximum: 3
          minimum: 1
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Return only events for the specified date (yyyy-MM-dd).
        in: query
        name: _date
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})$"
          type: string
          x-eg: 2015-10-10
        x-eg: 2015-10-10
      - description: The UTC datetime from the events to be returned. (yyyy-MM-ddTHH:mm:ss)
        in: query
        name: date_from
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\\
            d{2})$"
          type: string
          x-eg: 2015-10-10T13:13:01
        x-eg: 2015-10-10T13:13:01
      - description: The UTC datetime TO the events to be returned. (yyyy-MM-ddTHH:mm:ss)
        in: query
        name: date_to
        schema:
          pattern: "^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\\
            d{2})$"
          type: string
          x-eg: 2015-10-10T13:20:01
        x-eg: 2015-10-10T13:20:01
      - description: Filter by marketGroupId (e.g. OB_MG1276585).
        in: query
        name: marketGroupId
        schema:
          type: string
          x-eg: OB_MG123
        x-eg: OB_MG123
      - description: Filter event by event sort
        in: query
        name: event_sort
        schema:
          type: string
          x-eg: MTCH
        x-eg: MTCH
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: market_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: market_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify whether to return displayed entities or not
        in: query
        name: market_displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: market_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: market_sort
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Specify whether to return markets with each way betting or those
          without
        in: query
        name: market_ew
        schema:
          pattern: (yes|no|Yes|No)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selection_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selection_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selection_published
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                "events": [
                 {
                 "id": "OB_EV2828",
                 "name": "Forest Green Vs Liverpool",
                 "status": "A",
                 "startDateTime": "2016-01-29T20:00:00"
                 },
                 {
                 "id": "OB_EV2829",
                 "name": "XXXMan Utd Vs Man City",
                 "status": "A",
                 "startDateTime": "2016-01-07T11:00:00"
                 },
                 {
                 "id": "OB_EV2849",
                 "name": "Manchester Senior Cup - Winners 2015-16",
                 "status": "A",
                 "startDateTime": "2016-01-01T00:00:00"
                 }
                ]
                }
              schema:
                $ref: '#/components/schemas/eventsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of events for a given competition id.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /competitions/{competitionId}/marketgroups/:
    get:
      description: Retrieves a list of market groups for a given competition id
      operationId: get_market_groups_for_competition
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The competition id to retrieve information for.
        in: path
        name: competition_id
        required: true
        schema:
          pattern: "^(OB_TY\\d{1,7})$"
          type: string
          x-eg: OB_TY1
        x-eg: OB_TY1
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: Filter by market group name
        in: query
        name: name
        schema:
          type: string
          x-eg: MARKETGROUP1
        x-eg: MARKETGROUP1
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "marketgroups": [
                 {
                 "id": "OB_MG36963",
                 "name": "90 Minutes"
                 },
                 {
                 "id": "OB_MG36964",
                 "name": "Correct Score"
                 },
                 {
                 "id": "OB_MG36966",
                 "name": "First Goalscorer"
                 },
                 {
                 "id": "OB_MG37004",
                 "name": "Match Betting Live"
                 },
                 {
                 "id": "OB_MG37043",
                 "name": "Outright"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/marketGroupsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of market groups for a given competition id
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /competitions/{competitionId}/marketsByGroupid:
    get:
      description: Retrieves a list of events/markets/selections where markets within
        said event match selected sort/groupId
      operationId: get_markets_by_group_id
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The competition id to retrieve information for.
        in: path
        name: competition_id
        required: true
        schema:
          pattern: "^(OB_TY\\d{1,7})$"
          type: string
          x-eg: OB_TY1
        x-eg: OB_TY1
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: marketSort
        required: true
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Filter by marketGroupId (e.g. OB_MG1276585).
        in: query
        name: marketGroupId
        required: true
        schema:
          type: string
          x-eg: OB_MG123
        x-eg: OB_MG123
      responses:
        "200":
          content:
            application/json:
              example: "{\n \"events\": [\n\n {\n \"id\": \"OB_EV123\",\n \"name\"\
                : \"ManU v City\",\n \"markets\": {\n \"id\": \"OB_MA1234\",\n \"\
                name\": \"90 Minutes\"\n \"selections\": {\n \"id\": \"OB_OU12345\"\
                ,\n \"fractionalOdds\": \"2/1\"\n \n }\n }\n }\n ]\n}\n"
              schema:
                $ref: '#/components/schemas/marketGroupsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of events/markets/selections where markets within
        said event match selected sort/groupId
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /events/:
    get:
      description: Retrieves a list of events for the provided IDs.
      operationId: get_events
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: A comma-separated list of selectionIds
        explode: false
        in: query
        name: ids
        schema:
          items:
            pattern: "^(OB_OU\\d{1,7})$"
            type: string
          maxItems: 200
          minItems: 1
          type: array
          x-eg: "OB_OU1,OB_OU2"
        style: form
        x-eg: "OB_OU1,OB_OU2"
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Include every descendant in the below heirarchy
        in: query
        name: include_all_descendants
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify wether only settled entities should be returned
        in: query
        name: settled
        schema:
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: When declared as false it should exclude markets and events that
          have no selections / markets
        in: query
        name: include_empty
        schema:
          default: true
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Return only headline markets (Markets with the lowest display\
          \ order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount,\
          \ if available. Markets and Outcomes will be returned."
        in: query
        name: headline_summary
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Specify the number of markets to return when requesting headlineSummary.\
          \ This count of InPlay and Pre-Match markets will be returned.For example,\
          \ when specifying 1, 1 In Play and 1 Pre Match market will be returned."
        in: query
        name: market_count
        schema:
          default: 1
          maximum: 3
          minimum: 1
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: Comma-seaerated list of market IDs to filter by
        explode: false
        in: query
        name: marketIds
        schema:
          items:
            pattern: "^(OB_MA\\d{1,7})$"
            type: string
          type: array
          x-eg: "OB_MA1, OB_MA2"
        style: form
        x-eg: "OB_MA1, OB_MA2"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: market_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: market_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify whether to return displayed entities or not
        in: query
        name: market_displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: market_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: market_sort
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Specify whether to return markets with each way betting or those
          without
        in: query
        name: market_ew
        schema:
          pattern: (yes|no|Yes|No)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selection_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selection_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selection_published
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "events": [
                 {
                 "id": "OB_EV2828",
                 "name": "Forest Green Vs Liverpool",
                 "status": "A",
                 "startDateTime": "2016-01-29T20:00:00",
                 "markets": [
                 {
                 "id": "OB_MA2559",
                 "name": "Correct Score",
                 "status": "A",
                 "selections": [
                 {
                 "id": "OB_OU3863",
                 "currentPriceNum": 14,
                 "currentPriceDen": 1,
                 "name": "Liverpool 2-1",
                 "status": "A"
                 }
                 ]
                 }
                 ]
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/eventsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of events for the provided IDs.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /events/{eventId}:
    get:
      description: Retrieves a single event by ID.
      operationId: get_event
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The event ID to retrieve information for.
        in: path
        name: eventId
        required: true
        schema:
          pattern: "^(OB_EV\\d{1,7})$"
          type: string
          x-eg: OB_EV1
        x-eg: OB_EV1
      - description: Include every descendant in the below heirarchy
        in: query
        name: include_all_descendants
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: "Return only headline markets (Markets with the lowest display\
          \ order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount,\
          \ if available. Markets and Outcomes will be returned."
        in: query
        name: headline_summary
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Specify the number of markets to return when requesting headlineSummary.\
          \ This count of InPlay and Pre-Match markets will be returned.For example,\
          \ when specifying 1, 1 In Play and 1 Pre Match market will be returned."
        in: query
        name: market_count
        schema:
          default: 1
          maximum: 3
          minimum: 1
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Comma-seaerated list of market IDs to filter by
        explode: false
        in: query
        name: market_ids
        schema:
          items:
            pattern: "^(OB_MA\\d{1,7})$"
            type: string
          type: array
          x-eg: "OB_MA1, OB_MA2"
        style: form
        x-eg: "OB_MA1, OB_MA2"
      - description: When declared as false it should exclude markets and events that
          have no selections / markets
        in: query
        name: include_empty
        schema:
          default: true
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: market_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: market_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify whether to return displayed entities or not
        in: query
        name: market_displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: market_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: market_sort
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Specify whether to return markets with each way betting or those
          without
        in: query
        name: market_ew
        schema:
          pattern: (yes|no|Yes|No)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selection_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selection_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selection_published
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "events": [
                 {
                 "id": "OB_EV2828",
                 "name": "Forest Green Vs Liverpool",
                 "status": "A",
                 "startDateTime": "2016-01-29T20:00:00",
                 "markets": [
                 {
                 "id": "OB_MA2559",
                 "name": "Correct Score",
                 "status": "A",
                 "selections": [
                 {
                 "id": "OB_OU3863",
                 "currentPriceNum": 14,
                 "currentPriceDen": 1,
                 "name": "Liverpool 2-1",
                 "status": "A"
                 }
                 ]
                 }
                 ]
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/eventsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a single event by ID.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /events/{eventId}/competitors:
    get:
      description: Retrieves competitors for a single event by ID.
      operationId: get_event_competitors
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The event ID to retrieve information for.
        in: path
        name: event_id
        required: true
        schema:
          pattern: "^(OB_EV\\d{1,7})$"
          type: string
          x-eg: OB_EV1
        x-eg: OB_EV1
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      responses:
        "200":
          content:
            application/json:
              example: "{\n \"competitors\": \n [\n {\n \"id\": \"1\",\n \"name\"\
                : \"Springer Dinger\",\n \"age\": \"3\",\n \"drawNumber\": \"4\",\n\
                \ \"jockeyName\": \"Atzeni, A\",\n \"weightPounds\": \"134\",\n \"\
                silkImageUrl\": \"http://whdn.williamhill.com/content/sportsbook/silks/55336.gif\"\
                ,\n \"trainerName\": \"Varian, R\",\n \"ownerName\": \"Sheikh Mohammed\
                \ Obaid Al Maktoum\"\n \"colour\": \"grey\",\n \"sex\": \"Male\",\n\
                \ \"formGuide\": \"4-2711\",\n \"rating\": \"27\",\n \"overview\"\
                :\n {\n \"runner\":\"Good pedigree; took him five times to click but\
                \ won his Lingfield novice nicely in the end and duly confirmed himself\
                \ progressive by following up at Newmarket, again over 7f (good ground);\
                \ pace was true there so form looks okay and rates a danger to all\
                \ off 6lb higher.\"\n \"sire\":\"top-class 2yo over 6-7f inc Phoenix\
                \ S. Lagardere; sire of Group winners; good record with fillies\"\
                ,\n }\n ]\n}\n"
              schema:
                $ref: '#/components/schemas/eventCompetitorsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves competitors for a single event by ID.
      tags:
      - competitors
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.competitors_controller
  /events/{eventId}/markets/:
    get:
      description: "Retrieves one or more specific markets. Markets with Live at the\
        \ end are always In-Play markets. However, not ALL In-Play markets have Live\
        \ at the end of the market name."
      operationId: get_markets
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The event ID to retrieve information for.
        in: path
        name: event_id
        required: true
        schema:
          pattern: "^(OB_EV\\d{1,7})$"
          type: string
          x-eg: OB_EV1
        x-eg: OB_EV1
      - description: A comma-separated list of selectionIds
        explode: false
        in: query
        name: ids
        schema:
          items:
            pattern: "^(OB_OU\\d{1,7})$"
            type: string
          maxItems: 200
          minItems: 1
          type: array
          x-eg: "OB_OU1,OB_OU2"
        style: form
        x-eg: "OB_OU1,OB_OU2"
      - description: Include every descendant in the below heirarchy
        in: query
        name: include_all_descendants
        schema:
          default: false
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: When declared as false it should exclude markets and events that
          have no selections / markets
        in: query
        name: include_empty
        schema:
          default: true
          type: boolean
          x-eg: "true"
        x-eg: "true"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: market_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: market_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify whether to return displayed entities or not
        in: query
        name: market_displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: market_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Filter by market sort (e.g. MR (match result) -- (Outright)).
        in: query
        name: market_sort
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: Specify whether to return markets with each way betting or those
          without
        in: query
        name: market_ew
        schema:
          pattern: (yes|no|Yes|No)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selection_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selection_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selection_published
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "markets": [
                 {
                 "id": "OB_MA2493",
                 "name": "90 Minutes",
                 "status": "A"
                 },
                 {
                 "id": "OB_MA2559",
                 "name": "Correct Score",
                 "status": "A"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/marketsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Gets one or more specific markets
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /events/{eventId}/markets/{marketId}/selections/:
    get:
      description: Retrieves one or more selections for a market
      operationId: get_selections
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The event ID to retrieve information for.
        in: path
        name: event_id
        required: true
        schema:
          pattern: "^(OB_EV\\d{1,7})$"
          type: string
          x-eg: OB_EV1
        x-eg: OB_EV1
      - description: The market id to retrieve information for
        in: path
        name: marketId
        required: true
        schema:
          pattern: "^(OB_MA\\d{1,7})$"
          type: string
          x-eg: OB_MA1
        x-eg: OB_MA1
      - description: A comma-separated list of selectionIds
        explode: false
        in: query
        name: ids
        schema:
          items:
            pattern: "^(OB_OU\\d{1,7})$"
            type: string
          maxItems: 200
          minItems: 1
          type: array
          x-eg: "OB_OU1,OB_OU2"
        style: form
        x-eg: "OB_OU1,OB_OU2"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: selection_status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: selection_channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: selection_published
        schema:
          default: "true"
          pattern: (yes|no|all)
          type: string
          x-eg: true
        x-eg: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "selections": [
                 {
                 "id": "OB_OU3863",
                 "currentPriceNum": 14,
                 "currentPriceDen": 1,
                 "name": "Liverpool 2-1",
                 "status": "A"
                 },
                 {
                 "id": "OB_OU3846",
                 "currentPriceNum": 11,
                 "currentPriceDen": 2,
                 "name": "Forest Green 1-0",
                 "status": "A"
                 }
                }
              schema:
                $ref: '#/components/schemas/selectionsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Gets one or more selections for a market
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /sports/:
    get:
      description: Gets a list of all sports
      operationId: get_sports
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "sports": [
                 {
                 "id": "OB_SP43",
                 "name": "Horse Racing"
                 },
                 {
                 "id": "OB_SP9",
                 "name": "Football"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/sportsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"000000",
                 "message":"Error Message Text",
                 "field":"aparam"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Gets a list of all sports
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /sports/{sportId}/classes/:
    get:
      description: Retrieves a list of classes for a given sport id.
      operationId: get_classes_for_sport
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The sport id to retrieve information for.
        in: path
        name: sportId
        required: true
        schema:
          pattern: "^(OB_SP\\d{1,7})$"
          type: string
          x-eg: OB_SP9
        x-eg: OB_SP9
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify whether to return displayed entities or not
        in: query
        name: displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "classes": [
                 {
                 "id": "OB_CL1",
                 "name": "UK Football",
                 "status": "A"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/classesWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of classes for a given sport id.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /sports/{sportId}/competitions/:
    get:
      description: Retrieves a list of competitions for a given sport id.
      operationId: get_competitions_for_sport
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: The sport id to retrieve information for.
        in: path
        name: sport_id
        required: true
        schema:
          pattern: "^(OB_SP\\d{1,7})$"
          type: string
          x-eg: OB_SP9
        x-eg: OB_SP9
      - description: "Specify whether only active entities should be returned, according\
          \ to the William Hill definition of active"
        in: query
        name: is_published
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: Specify whether to return displayed entities or not
        in: query
        name: displayed
        schema:
          default: "true"
          pattern: (yes|no|all|YES|NO|ALL)
          type: string
          x-eg: true
        x-eg: true
      - description: Specify a channel filter and only results from that channel will
          be returned
        in: query
        name: channel
        schema:
          pattern: "^[A-Z]{1}$"
          type: string
          x-eg: I
        x-eg: I
      - description: Specify a status to filter results by. This is currently A (active)
          or S (suspended)
        in: query
        name: status
        schema:
          pattern: (A|S)
          type: string
          x-eg: A
        x-eg: A
      - description: "The field to order the response by, followed by the order. For\
          \ example: name,desc"
        in: query
        name: sort
        schema:
          default: "id,asc"
          type: string
          x-eg: "name,desc"
        x-eg: "name,desc"
      - description: Skip over a number of elements by specifying a start value for
          the query
        in: query
        name: offset
        schema:
          default: 0
          type: integer
          x-eg: "10"
        x-eg: "10"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                 "competitions": [
                 {
                 "id": "OB_TY1733",
                 "name": "Manchester Senior Cup",
                 "status": "A"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/competitionsWrapper'
          description: Success
        "400":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10070",
                 "message":"Missing Parameter",
                 "field":"apiKey"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: Incorrect or Missing Parameter
        "404":
          content:
            application/json:
              example: |
                {
                 "errors" : [
                 {
                 "code":"10003",
                 "message":"Resource Not Found"
                 }
                 ]
                }
              schema:
                $ref: '#/components/schemas/errorsWrapper'
          description: No data found for request
      summary: Retrieves a list of competitions for a given sport id.
      tags:
      - sportsdata
      x-canReturnErrors:
      - 0
      x-openapi-router-controller: openapi_server.controllers.sportsdata_controller
  /topbets/:
    get:
      description: Retrieves a weighted list of Selections.
      operationId: get_top_bets
      parameters:
      - description: Your API Key available from your developer portal
        in: header
        name: api_key
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]{19,50}$"
          type: string
          x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
        x-eg: l7xxa54460c573b5497c9b24b505xxxxxxxx
      - description: A comma-separated list of sportsIds for which to retrieve topBets
          for
        explode: false
        in: query
        name: sportIds
        schema:
          items:
            pattern: "^(OB_SP\\d+)(,OB_SP\\d+)*$"
            type: string
          maxItems: 10
          minItems: 1
          type: array
          x-eg: "OB_SP1, OB_SP2"
        style: form
        x-eg: "OB_SP1, OB_SP2"
      - description: A comma-separated list of competitionIds for which to retrieve
          topBets for
        explode: false
        in: query
        name: competitionIds
        schema:
          items:
            pattern: ^(OB_TY\d+)$
            type: string
          maxItems: 10
          minItems: 1
          type: array
          x-eg: "OB_TY1, OB_TY2"
        style: form
        x-eg: "OB_TY1, OB_TY2"
      - description: Specify the number of results to return
        in: query
        name: limit
        schema:
          default: 100
          type: integer
          x-eg: "20"
        x-eg: "20"
      - description: Specify an absolute field list to return (Comma-Separated List)
        explode: false
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
          x-eg: "id,name,status"
        style: form
        x-eg: "id,name,status"
      - description: Specify fields in addition to the default to return (Comma-Separated
          List)
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
          x-eg: channels
        style: form
        x-eg: channels
      - description: Specify fields from the default to exclude (Comma-Separated List)
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
          x-eg: order
        style: form
        x-eg: order
      - description: The event ID to retrieve top bet information for. Multiple events
          up to 5 may be used
        in: query
        name: param_topBetEventId
        schema:
          pattern: "^(OB_EV\\d{1,7})$"
          type: string
          x-eg: "OB_EV1, OB_EV1,OB_EV2"
        x-eg: "OB_EV1, OB_EV1,OB_EV2"
      - description: The market sort code used to further filter event results. Please
          note this can only be used with event id(s).
        in: query
        name: sortName
        schema:
          type: string
          x-eg: MR
        x-eg: MR
      - description: "Code used to return responses in language other than English,\
          \ acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: culture
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      - description: "Code used to select a set of top bets settings, default is \"\
          whapi\" which allows events set in far future to be included, setting the\
          \ value to \"en-GB\" will activate english sportsbook settings, mirroring\
          \ top bets on the website, which restricts events returned to those taking\
          \ place in next 36 hours. Acceptable values (not all heve their own settings\
          \ - if none currently available for that locale - en-GB will be used) are\
          \ de-DE|whapi|en-GB|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR"
        in: query
        name: Locale
        schema:
          type: string
          x-eg: de-DE
        x-eg: de-DE
      responses:
        "200":
          content:
            application/json:
              example: "{\n bets:\n {\n weight: \"\",\n sports:\n {\n isPublished:true,\n\
                \ id: \"\",\n name: \"\"\n },\n competitions:\n {\n isPublished: true,\n\
                \ parentIds: [\"\",\"\"],\n betInRunningDelay:9\n description:\"The\
                \ description of the competition\"\n cashinAvailable:true,\n channels:[\"\
                \",\"\"],\n displayed:true,\n flags:[\"\",\"\"],\n id:\"\",\n name:\"\
                \",\n order: 1,\n status:\"A\"\n },\n events:\n {\n isPublished: true,\n\
                \ parentIds:[\"\",\"\"],\n bettingStatus:\"\",\n betInRunningDelay:5,\n\
                \ description:\"The description of the event\",\n cashinAvailable:\
                \ true,\n channels:[\"\",\"\"],\n country: \"\",\n displayed: true,\
                \ \n flags: [\"\",\"\"], \n hasInPlayMarkets:true,\n hasLivePrices:true,\n\
                \ id: \"\",\n isInPlay:true,\n marketCountActiveInPlay:2, \n marketCountActivePreMatch:\
                \ 3,\n marketCountActiveTotal:9,\n marketCountInPlay:6,\n marketCountPreMatch:2,\n\
                \ name:\"6:10 Windsor\",\n order:4, \n raceNum:\"\", \n settled: true,\n\
                \ eventSort:\"\",\n startDateTime:\"\",\n status:\"A\",\n markets:\n\
                \ [ \n {\n isPublished:true,\n parentIds:[\"\",\"\"],\n antepostMarket:true,\n\
                \ betInRunningDelay:4,\n description:\"Additional market information\"\
                ,\n channels:\"\",\n displayed:true,\n eachWay: true,\n eachWayFactorDen:5,\
                \ \n eachWayFactorNum:1,\n eachWayPlaces:3,\n earlyPriceAvailable:true,\n\
                \ firstFourAvailable:true,\n firstPriceAvailable:true,\n flags:\"\"\
                ,\n bestOddsGuaranteed:true,\n isInPlayMarket: true,\n hcapMakeup:5,\n\
                \ hcapValue: 5,\n id:\"OB_MA1\",\n livePriceAvailable:true,\n marketGroupCollectionId:\"\
                \",\n marketGroupId:\"\",\n marketGroupName:\"\",\n name:\"\",\n order:\"\
                5\",\n quinellaAvailable:true,\n settled:true,\n marketSort:\"\",\n\
                \ startingPriceAvailable:true,\n status:\"A\",\n selections:\n [\n\
                \ {\n parentIds:[\"\",\"\"],\n isPublished:true,\n description:\"\"\
                ,\n cashinPriceNum:5,\n cashinPriceDen:4,\n channels:[\"\",\"\"],\n\
                \ csAway:5,\n csHome:5,\n currentPriceNum:5,\n currentPriceDen:5,\n\
                \ displayed:true,\n resultType:\"\",\n id:\"\",\n name:\"\",\n order:5,\n\
                \ result:\"\",\n runnerNum:5,\n settled:true,\n status:\"A\",\n oddsDecimal:1.1,\n\
                \ resultType:\"\",\n priceFormatted:\n {\n fractional:\"EVS\",\n decimal:2,\n\
                \ american:\"+100\"\n } \n }\n ]\n }\n ],\n markets:\n {\n isPublished:true,\n\
                \ parentIds:[\"\",\"\"],\n antepostMarket:true,\n betInRunningDelay:4,\n\
                \ description:\"Additional market information\",\n channels:\"\",\n\
                \ displayed:true,\n eachWay: true,\n eachWayFactorDen:5, \n eachWayFactorNum:1,\n\
                \ eachWayPlaces:3,\n earlyPriceAvailable:true,\n firstFourAvailable:true,\n\
                \ firstPriceAvailable:true,\n flags:\"\",\n bestOddsGuaranteed:true,\n\
                \ isInPlayMarket: true,\n hcapMakeup:5,\n hcapValue: 5,\n id:\"OB_MA1\"\
                ,\n livePriceAvailable:true,\n marketGroupCollectionId:\"\",\n marketGroupId:\"\
                \",\n marketGroupName:\"\",\n name:\"\",\n order:\"5\",\n quinellaAvailable:true,\n\
                \ settled:true,\n marketSort:\"\",\n startingPriceAvailable:true,\n\
                \ status:\"A\",\n selections:\n [\n {\n parentIds:[\"\",\"\"],\n isPublished:true,\n\
                \ description:\"\",\n cashinPriceNum:5,\n cashinPriceDen:4,\n channels:[\"\
[...]
