openapi: 3.0.1
info:
  title: KustoManagementClient
  version: 2018-09-07-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/preview/2018-09-07-preview/kusto.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azure-kusto
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Kusto/operations:
    get:
      description: Lists available operations for the Microsoft.Kusto provider.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The operation was successful. The response contains the list
            of available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        KustoOperationsList:
          parameters:
            api-version: 2015-04-08
          responses:
            "200":
              body:
                value:
                - display:
                    description: description
                    operation: operationName
                    provider: providerName
                    resource: resourceName
                  name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters:
    get:
      description: Lists all Kusto clusters within a subscription.
      operationId: clusters_list
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersList:
          parameters:
            api-version: 2018-09-07-preview
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4
                  location: westus
                  name: KustoClusterRPTest4
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: L8
                    tier: Standard
                  type: Microsoft.Kusto/clusters
                - etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest3
                  location: westus
                  name: KustoClusterRPTest3
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: L8
                    tier: Standard
                  type: Microsoft.Kusto/clusters
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability:
    post:
      description: Checks that the cluster name is valid and is not already in use.
      operationId: clusters_check_name_availability
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCheckNameRequest'
        description: The name of the cluster.
        required: true
        x-body-name: clusterName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersCheckNameAvailability:
          parameters:
            api-version: 2018-09-07-preview
            clusterName:
              name: kuskusprod
              type: Microsoft.Kusto/clusters
            location: wus
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskusprod' is already taken. Please specify a different
                  name
                name: kuskusprod
                nameAvailable: false
      x-codegen-request-body-name: clusterName
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus:
    get:
      description: Lists eligible SKUs for Kusto resource provider.
      operationId: clusters_list_skus
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSkusResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        KustoClustersListSkus:
          parameters:
            api-version: 2018-09-07-preview
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - capacity: 2
                  name: D13_v2
                  tier: Standard
                - capacity: 2
                  name: D14_v2
                  tier: Standard
                - capacity: 2
                  name: L8
                  tier: Standard
                - capacity: 2
                  name: L16
                  tier: Standard
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters:
    get:
      description: Lists all Kusto clusters within a resource group.
      operationId: clusters_list_by_resource_group
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersListByResourceGroup:
          parameters:
            api-version: 2018-09-07-preview
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4
                  location: westus
                  name: KustoClusterRPTest4
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: L8
                    tier: Standard
                  type: Microsoft.Kusto/clusters
                - etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest3
                  location: westus
                  name: KustoClusterRPTest3
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: L8
                    tier: Standard
                  type: Microsoft.Kusto/clusters
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}:
    delete:
      description: Deletes a Kusto cluster.
      operationId: clusters_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK -- cluster deleted successfully.
        "202":
          content: {}
          description: Accepted the delete cluster request.
        "204":
          content: {}
          description: NoContent -- cluster does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersDelete:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    get:
      description: Gets a Kusto cluster.
      operationId: clusters_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The Kusto cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersGet:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: L8
                  tier: Standard
                type: Microsoft.Kusto/clusters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    patch:
      description: Update a Kusto cluster.
      operationId: clusters_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdate'
        description: The Kusto cluster parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            parameters:
              location: westus
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: L8
                  tier: Standard
                type: Microsoft.Kusto/clusters
            "201": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    put:
      description: Create or update a Kusto cluster.
      operationId: clusters_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The Kusto cluster parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully created the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersCreateOrUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            parameters:
              location: westus
              sku:
                capacity: 2
                name: L8
                tier: Standard
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-06T12%3A05%3A57.2528942Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: L8
                  tier: Standard
                type: Microsoft.Kusto/clusters
            "201": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability
  : post:
      description: Checks that the database name is valid and is not already in use.
      operationId: databases_check_name_availability
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCheckNameRequest'
        description: The name of the database.
        required: true
        x-body-name: databaseName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: kustoProd
            databaseName:
              name: kuskus
              type: Microsoft.Kusto/clusters/databases
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskus' is already taken. Please specify a different
                  name
                name: kuskus
                nameAvailable: false
      x-codegen-request-body-name: databaseName
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases:
    get:
      description: Returns the list of databases of the given Kusto cluster.
      operationId: databases_list_by_cluster
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: Successfully retrieved the list of databases.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - etag: W/"datetime'2017-12-05T15%3A28%3A05.732611Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase8
                  properties:
                    provisioningState: Succeeded
                    softDeletePeriodInDays: 1
                  type: Microsoft.Kusto/clusters/databases
                - etag: W/"datetime'2017-12-05T15%3A28%3A05.732611Z'"
                  id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase9
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase9
                  properties:
                    provisioningState: Succeeded
                    softDeletePeriodInDays: 1
                  type: Microsoft.Kusto/clusters/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}
  : delete:
      description: Deletes the database with the given name.
      operationId: databases_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the database.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified database does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesDelete:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    get:
      description: Returns a database.
      operationId: databases_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully retrieved the specified database.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesGet:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-05T15%3A28%3A05.732611Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriodInDays: 1
                type: Microsoft.Kusto/clusters/databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    patch:
      description: Updates a database.
      operationId: databases_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
        description: The database parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "202":
          content: {}
          description: Accepted the update database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              location: westus
              properties:
                softDeletePeriodInDays: 1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-05T15%3A28%3A05.732611Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriodInDays: 1
                type: Microsoft.Kusto/clusters/databases
            "201": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    put:
      description: Creates or updates a database.
      operationId: databases_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The database parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully created the database.
        "202":
          content: {}
          description: Accepted the create database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesCreateOrUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              location: westus
              properties:
                softDeletePeriodInDays: 1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                etag: W/"datetime'2017-12-05T15%3A28%3A05.732611Z'"
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriodInDays: 1
                type: Microsoft.Kusto/clusters/databases
            "201": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals
  : post:
      description: Add Database principals permissions.
      operationId: databases_add_principals
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePrincipalListRequest'
        description: List of database principals to add.
        required: true
        x-body-name: databasePrincipalsToAdd
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: OK -- Successfully added the list of database principals. Returns
            the updated list of principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseAddPrincipals:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            databasePrincipalsToAdd:
              value:
              - appId: ""
                email: user@microsoft.com
                fqn: aaduser=some_guid
                name: Some User
                role: Admin
                type: User
              - appId: ""
                email: kusto@microsoft.com
                fqn: aadgroup=some_guid
                name: Kusto
                role: Viewer
                type: Group
              - appId: some_guid_app_id
                email: ""
                fqn: aadapp=some_guid_app_id
                name: SomeApp
                role: Admin
                type: App
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
      x-codegen-request-body-name: databasePrincipalsToAdd
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubConnectionValidation
  : post:
      description: Checks that the Event Hub data connection parameters are valid.
      operationId: event_hub_connections_eventhub_connection_validation
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHubConnectionValidation'
        description: The Event Hub connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnectionValidationListResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoDataConnectionValidation:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            eventHubConnectionName: kustoeventhubconnection1
            parameters:
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
              - errorMessage: event hub namespace does not exist
              - errorMessage: database does not exist
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubconnections
  : get:
      description: Returns the list of Event Hub connections of the given Kusto database.
      operationId: event_hub_connections_list_by_database
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnectionListResult'
          description: Successfully retrieved the list of Event Hub connections.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase8
                  properties:
                    consumerGroup: testConsumerGroup1
                    eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                  type: Microsoft.Kusto/clusters/databases
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase9
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase9
                  properties:
                    consumerGroup: testConsumerGroup2
                    eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns2/eventhubs/eventhubTest2
                  type: Microsoft.Kusto/clusters/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubconnections/{eventHubConnectionName}
  : delete:
      description: Deletes the Event Hub connection with the given name.
      operationId: event_hub_connections_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the event hub connection.
        in: path
        name: event_hub_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the Event Hub connection.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified Event Hub connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoEventHubConnectionsDelete:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            eventHubConnectionName: kustoeventhubconnection1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
    get:
      description: Returns an Event Hub connection.
      operationId: event_hub_connections_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the event hub connection.
        in: path
        name: eventHubConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnection'
          description: Successfully retrieved the specified Event Hub connection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoEventHubConnectionsGet:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            eventHubConnectionName: kustoeventhubconnection1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
    patch:
      description: Updates a Event Hub connection.
      operationId: event_hub_connections_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the event hub connection.
        in: path
        name: event_hub_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHubConnectionUpdate'
        description: The Event Hub connection parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnection'
          description: Successfully updated the Event Hub connection.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnection'
          description: Successfully updated the Event Hub connection.
        "202":
          content: {}
          description: Accepted the update Event Hub connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoEventHubConnectionsUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            eventHubConnectionName: kustoeventhubconnection1
            parameters:
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases
            "201": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
    put:
      description: Creates or updates a Event Hub connection.
      operationId: event_hub_connections_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the event hub connection.
        in: path
        name: event_hub_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHubConnection'
        description: The Event Hub connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnection'
          description: Successfully updated the Event Hub connection.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConnection'
          description: Successfully created the Event Hub connection.
        "202":
          content: {}
          description: Accepted the create Event Hub connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - EventHubConnections
      x-ms-examples:
        KustoEventHubConnectionsCreateOrUpdate:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            eventHubConnectionName: kustoeventhubconnection1
            parameters:
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases
            "201": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hub_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals
  : post:
      description: Returns a list of database principals of the given Kusto cluster
        and database.
      operationId: databases_list_principals
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: Successfully retrieved the list of database principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseListPrincipals:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/removePrincipals
  : post:
      description: Remove Database principals permissions.
      operationId: databases_remove_principals
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePrincipalListRequest'
        description: List of database principals to remove.
        required: true
        x-body-name: databasePrincipalsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: OK -- Successfully removed the list of database principals.
            Returns the updated list of principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseRemovePrincipals:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            databasePrincipalsToRemove:
              value:
              - appId: ""
                email: user@microsoft.com
                fqn: aaduser=some_guid
                name: Some User
                role: Admin
                type: User
              - appId: ""
                email: kusto@microsoft.com
                fqn: aadgroup=some_guid
                name: Kusto
                role: Viewer
                type: Group
              - appId: some_guid_app_id
                email: ""
                fqn: aadapp=some_guid_app_id
                name: SomeApp
                role: Admin
                type: App
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
      x-codegen-request-body-name: databasePrincipalsToRemove
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus:
    get:
      description: Returns the SKUs available for the provided resource.
      operationId: clusters_list_skus_by_resource
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceSkusResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersListResourceSkus:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - capacity:
                    default: 2
                    maximum: 100
                    minimum: 2
                    scaleType: automatic
                  resourceType: clusters
                  sku:
                    name: KC8
                    tier: Standard
                - capacity:
                    default: 2
                    maximum: 100
                    minimum: 2
                    scaleType: automatic
                  resourceType: clusters
                  sku:
                    name: KC16
                    tier: Standard
                - capacity:
                    default: 2
                    maximum: 100
                    minimum: 2
                    scaleType: automatic
                  resourceType: clusters
                  sku:
                    name: KS8
                    tier: Standard
                - capacity:
                    default: 2
                    maximum: 100
                    minimum: 2
                    scaleType: automatic
                  resourceType: clusters
                  sku:
                    name: KS16
                    tier: Standard
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start:
    post:
      description: Starts a Kusto cluster.
      operationId: clusters_start
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "202":
          content: {}
          description: Accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersStart:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop:
    post:
      description: Stops a Kusto cluster.
      operationId: clusters_stop
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersStop:
          parameters:
            api-version: 2018-09-07-preview
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the Kusto cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database in the Kusto cluster.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    EventHubConnectionNameParameter:
      description: The name of the event hub connection.
      in: path
      name: eventHubConnectionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group containing the Kusto cluster.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureCapacity:
      example:
        default: 0
        scaleType: automatic
        maximum: 6
        minimum: 1
      properties:
        default:
          description: The default capacity that would be used.
          title: default
          type: integer
        maximum:
          description: Maximum allowed capacity.
          title: maximum
          type: integer
        minimum:
          description: Minimum allowed capacity.
          title: minimum
          type: integer
        scaleType:
          description: Scale type.
          enum:
          - automatic
          - manual
          - none
          title: scaleType
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureScaleType
      required:
      - default
      - maximum
      - minimum
      - scaleType
      title: AzureCapacity
      type: object
    AzureResourceSku:
      example:
        sku:
          tier: Standard
          name: KC8
          capacity: 0
        capacity:
          default: 0
          scaleType: automatic
          maximum: 6
          minimum: 1
        resourceType: resourceType
      properties:
        capacity:
          $ref: '#/components/schemas/AzureCapacity'
        resourceType:
          description: Resource Namespace and Type.
          title: resourceType
          type: string
        sku:
          $ref: '#/components/schemas/AzureSku'
      title: AzureResourceSku
      type: object
    AzureSku:
      example:
        tier: Standard
        name: KC8
        capacity: 0
      properties:
        capacity:
          description: SKU capacity.
          title: capacity
          type: integer
        name:
          description: SKU name.
          enum:
          - KC8
          - KC16
          - KS8
          - KS16
          - D13_v2
          - D14_v2
          - L8
          - L16
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuName
        tier:
          description: SKU tier.
          enum:
          - Standard
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuTier
      required:
      - name
      - tier
      title: AzureSku
      type: object
    CheckNameResult:
      example:
        nameAvailable: true
        name: name
        message: message
      properties:
        message:
          description: "Message indicating an unavailable name due to a conflict,\
            \ or a description of the naming rules that are violated."
          title: message
          type: string
        name:
          description: The name that was checked.
          title: name
          type: string
        nameAvailable:
          description: Specifies a Boolean value that indicates if the name is available.
          title: nameAvailable
          type: boolean
      title: CheckNameResult
      type: object
    CloudError:
      description: An error response from Kusto.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from Kusto.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ displaying in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    Cluster:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: Class representing a Kusto cluster.
      example:
        etag: etag
        sku:
          tier: Standard
          name: KC8
          capacity: 0
        properties:
          dataIngestionUri: dataIngestionUri
          trustedExternalTenants:
          - value: value
          - value: value
          provisioningState: Running
          state: Creating
          uri: uri
      properties:
        etag:
          description: An ETag of the resource created.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/ClusterProperties'
        sku:
          $ref: '#/components/schemas/AzureSku'
      required:
      - sku
      title: Cluster
    ClusterCheckNameRequest:
      example:
        name: name
        type: Microsoft.Kusto/clusters
      properties:
        name:
          description: Cluster name.
          title: name
          type: string
        type:
          description: "The type of resource, Microsoft.Kusto/clusters."
          enum:
          - Microsoft.Kusto/clusters
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
      - name
      - type
      title: ClusterCheckNameRequest
      type: object
    ClusterListResult:
      description: The list Kusto clusters operation response.
      example:
        value:
        - etag: etag
          sku:
            tier: Standard
            name: KC8
            capacity: 0
          properties:
            dataIngestionUri: dataIngestionUri
            trustedExternalTenants:
            - value: value
            - value: value
            provisioningState: Running
            state: Creating
            uri: uri
        - etag: etag
          sku:
            tier: Standard
            name: KC8
            capacity: 0
          properties:
            dataIngestionUri: dataIngestionUri
            trustedExternalTenants:
            - value: value
            - value: value
            provisioningState: Running
            state: Creating
            uri: uri
      properties:
        value:
          description: The list of Kusto clusters.
          items:
            $ref: '#/components/schemas/Cluster'
          title: value
          type: array
      title: ClusterListResult
      type: object
    ClusterProperties:
      description: Class representing the Kusto cluster properties.
      example:
        dataIngestionUri: dataIngestionUri
        trustedExternalTenants:
        - value: value
        - value: value
        provisioningState: Running
        state: Creating
        uri: uri
      properties:
        dataIngestionUri:
          description: The cluster data ingestion URI.
          readOnly: true
          title: dataIngestionUri
          type: string
        provisioningState:
          description: The provisioned state of the resource.
          enum:
          - Running
          - Creating
          - Deleting
          - Succeeded
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        state:
          description: The state of the resource.
          enum:
          - Creating
          - Unavailable
          - Running
          - Deleting
          - Deleted
          - Stopping
          - Stopped
          - Starting
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: State
        trustedExternalTenants:
          description: The cluster's external tenants.
          items:
            $ref: '#/components/schemas/TrustedExternalTenant'
          title: trustedExternalTenants
          type: array
        uri:
          description: The cluster URI.
          readOnly: true
          title: uri
          type: string
      title: ClusterProperties
      type: object
    ClusterUpdate:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing an update to a Kusto cluster.
      example:
        etag: etag
        location: location
        sku:
          tier: Standard
          name: KC8
          capacity: 0
        properties:
          dataIngestionUri: dataIngestionUri
          trustedExternalTenants:
          - value: value
          - value: value
          provisioningState: Running
          state: Creating
          uri: uri
        tags:
          key: tags
      properties:
        etag:
          description: An ETag of the resource updated.
          readOnly: true
          title: etag
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/ClusterProperties'
        sku:
          $ref: '#/components/schemas/AzureSku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
          x-ms-mutability:
          - read
          - create
          - update
      title: ClusterUpdate
    Database:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: Class representing a Kusto database.
      example:
        etag: etag
        properties:
          softDeletePeriodInDays: 6
          provisioningState: Running
          hotCachePeriodInDays: 0
          statistics:
            size: 1.4658129805029452
      properties:
        etag:
          description: An ETag of the resource created.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
      title: Database
    DatabaseCheckNameRequest:
      example:
        name: name
        type: Microsoft.Kusto/clusters/databases
      properties:
        name:
          description: Database name.
          title: name
          type: string
        type:
          description: "The type of resource, Microsoft.Kusto/clusters/databases."
          enum:
          - Microsoft.Kusto/clusters/databases
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
      - name
      - type
      title: DatabaseCheckNameRequest
      type: object
    DatabaseListResult:
      description: The list Kusto databases operation response.
      example:
        value:
        - etag: etag
          properties:
            softDeletePeriodInDays: 6
            provisioningState: Running
            hotCachePeriodInDays: 0
            statistics:
              size: 1.4658129805029452
        - etag: etag
          properties:
            softDeletePeriodInDays: 6
            provisioningState: Running
            hotCachePeriodInDays: 0
            statistics:
              size: 1.4658129805029452
      properties:
        value:
          description: The list of Kusto databases.
          items:
            $ref: '#/components/schemas/Database'
          title: value
          type: array
      title: DatabaseListResult
      type: object
    DatabasePrincipal:
      example:
        fqn: fqn
        role: Admin
        appId: appId
        name: name
        type: App
        email: email
      properties:
        appId:
          description: Application id - relevant only for application principal type.
          title: appId
          type: string
        email:
          description: Database principal email if exists.
          title: email
          type: string
        fqn:
          description: Database principal fully qualified name.
          title: fqn
          type: string
        name:
          description: Database principal name.
          title: name
          type: string
        role:
          description: Database principal role.
          enum:
          - Admin
          - Ingestor
          - Monitor
          - User
          - UnrestrictedViewers
          - Viewer
          title: role
          type: string
          x-ms-enum:
            modelAsString: true
            name: DatabasePrincipalRole
        type:
          description: Database principal type.
          enum:
          - App
          - Group
          - User
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
[...]
