openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: NFL play-by-play API.
  title: NFL v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-play-by-play.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-play-by-play
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/pbp
- url: https://azure-api.sportsdata.io/v3/nfl/pbp
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/PlayByPlay/{season}/{week}/{hometeam}:
    get:
      operationId: play_by_play
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the home team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayByPlay'
          description: ""
      summary: Play By Play
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayByPlayDelta/{season}/{week}/{minutes}:
    get:
      operationId: play_by_play_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SimulatedPlayByPlay/{numberofplays}:
    get:
      description: "Gets simulated live play-by-play of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: play_by_play_simulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Simulation
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Play:
      example:
        QuarterID: 6
        Down: 6
        Description: Description
        IsScoringPlay: true
        Updated: Updated
        TimeRemainingMinutes: 5
        YardsToEndZone: 3
        YardLineTerritory: YardLineTerritory
        PlayStats:
        - BlockedKicks: 9
          PlayerID: 3
          Safeties: 4
          FumblesRecovered: 8
          RushingTouchdowns: 9
          ReceivingTouchdowns: 4
          Receptions: 9
          FieldGoalReturns: 1
          TwoPointConversionReturns: 1
          PenaltyYards: 8
          Name: Name
          Penalties: 4
          ReceivingTargets: 1
          RushingAttempts: 0
          TwoPointConversionAttempts: 3
          FieldGoalReturnTouchdowns: 7
          KickReturns: 2
          AssistedTackles: 5
          Fumbles: 9
          InterceptionReturnTouchdowns: 9
          Kickoffs: 5
          Updated: Updated
          FumblesForced: 9
          TacklesForLoss: 4
          KickoffTouchbacks: 6
          PassingAttempts: 3
          PassingTouchdowns: 6
          Sequence: 6
          FieldGoalsHadBlocked: 6
          FieldGoalsYards: 1
          KickReturnTouchdowns: 6
          PassingInterceptions: 7
          PuntYards: 0
          PuntReturns: 3
          Punts: 6
          TwoPointConversionPasses: 0
          TwoPointConversionReceptions: 2
          ExtraPointsMade: 4
          FieldGoalReturnYards: 1
          BlockedKickReturnYards: 2
          BlockedKickReturns: 7
          PassesDefended: 6
          InterceptionReturnYards: 6
          KickReturnYards: 1
          FumbleReturnTouchdowns: 4
          PuntReturnTouchdowns: 7
          PassingSackYards: 0
          PlayStatID: 3
          PlayID: 7
          Direction: Direction
          TwoPointConversionRuns: 8
          ExtraPointsAttempted: 3
          PuntReturnYards: 5
          Created: Created
          SoloTackles: 8
          BlockedKickReturnTouchdowns: 5
          FieldGoalsAttempted: 1
          Opponent: Opponent
          PuntsHadBlocked: 4
          Team: Team
          PassingSacks: 7
          Sacks: 5.507386964179881
          ExtraPointsHadBlocked: 2
          KickoffYards: 6
          ReceivingYards: 7
          HomeOrAway: HomeOrAway
          FumbleReturnYards: 5
          Interceptions: 3
          PassingYards: 0
          PuntTouchbacks: 4
          SackYards: 7.933506881737151
          PassingCompletions: 3
          RushingYards: 0
          FieldGoalsMade: 7
          FumblesLost: 6
        - BlockedKicks: 9
          PlayerID: 3
          Safeties: 4
          FumblesRecovered: 8
          RushingTouchdowns: 9
          ReceivingTouchdowns: 4
          Receptions: 9
          FieldGoalReturns: 1
          TwoPointConversionReturns: 1
          PenaltyYards: 8
          Name: Name
          Penalties: 4
          ReceivingTargets: 1
          RushingAttempts: 0
          TwoPointConversionAttempts: 3
          FieldGoalReturnTouchdowns: 7
          KickReturns: 2
          AssistedTackles: 5
          Fumbles: 9
          InterceptionReturnTouchdowns: 9
          Kickoffs: 5
          Updated: Updated
          FumblesForced: 9
          TacklesForLoss: 4
          KickoffTouchbacks: 6
          PassingAttempts: 3
          PassingTouchdowns: 6
          Sequence: 6
          FieldGoalsHadBlocked: 6
          FieldGoalsYards: 1
          KickReturnTouchdowns: 6
          PassingInterceptions: 7
          PuntYards: 0
          PuntReturns: 3
          Punts: 6
          TwoPointConversionPasses: 0
          TwoPointConversionReceptions: 2
          ExtraPointsMade: 4
          FieldGoalReturnYards: 1
          BlockedKickReturnYards: 2
          BlockedKickReturns: 7
          PassesDefended: 6
          InterceptionReturnYards: 6
          KickReturnYards: 1
          FumbleReturnTouchdowns: 4
          PuntReturnTouchdowns: 7
          PassingSackYards: 0
          PlayStatID: 3
          PlayID: 7
          Direction: Direction
          TwoPointConversionRuns: 8
          ExtraPointsAttempted: 3
          PuntReturnYards: 5
          Created: Created
          SoloTackles: 8
          BlockedKickReturnTouchdowns: 5
          FieldGoalsAttempted: 1
          Opponent: Opponent
          PuntsHadBlocked: 4
          Team: Team
          PassingSacks: 7
          Sacks: 5.507386964179881
          ExtraPointsHadBlocked: 2
          KickoffYards: 6
          ReceivingYards: 7
          HomeOrAway: HomeOrAway
          FumbleReturnYards: 5
          Interceptions: 3
          PassingYards: 0
          PuntTouchbacks: 4
          SackYards: 7.933506881737151
          PassingCompletions: 3
          RushingYards: 0
          FieldGoalsMade: 7
          FumblesLost: 6
        Sequence: 5
        PlayID: 1
        QuarterName: QuarterName
        Created: Created
        ScoringPlay:
          Quarter: Quarter
          GameKey: GameKey
          AwayTeam: AwayTeam
          HomeTeam: HomeTeam
          AwayScore: 4
          ScoreID: 9
          Sequence: 8
          Date: Date
          HomeScore: 8
          SeasonType: 9
          PlayDescription: PlayDescription
          TimeRemaining: TimeRemaining
          ScoringPlayID: 1
          Team: Team
          Season: 3
          Week: 0
        TimeRemainingSeconds: 8
        Type: Type
        PlayTime: PlayTime
        YardsGained: 3
        Opponent: Opponent
        Team: Team
        YardLine: 7
        Distance: 0
      properties:
        Created:
          nullable: true
          title: Created
          type: string
        Description:
          nullable: true
          title: Description
          type: string
        Distance:
          nullable: true
          title: Distance
          type: integer
        Down:
          nullable: true
          title: Down
          type: integer
        IsScoringPlay:
          nullable: true
          title: IsScoringPlay
          type: boolean
        Opponent:
          nullable: true
          title: Opponent
          type: string
        PlayID:
          nullable: false
          title: PlayID
          type: integer
        PlayStats:
          items:
            $ref: '#/components/schemas/PlayStat'
          title: PlayStats
          type: array
        PlayTime:
          nullable: true
          title: PlayTime
          type: string
        QuarterID:
          nullable: false
          title: QuarterID
          type: integer
        QuarterName:
          nullable: true
          title: QuarterName
          type: string
        ScoringPlay:
          $ref: '#/components/schemas/ScoringPlay'
        Sequence:
          nullable: true
          title: Sequence
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        Type:
          nullable: true
          title: Type
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        YardLine:
          nullable: true
          title: YardLine
          type: integer
        YardLineTerritory:
          nullable: true
          title: YardLineTerritory
          type: string
        YardsGained:
          nullable: true
          title: YardsGained
          type: integer
        YardsToEndZone:
          nullable: true
          title: YardsToEndZone
          type: integer
      title: Play
    PlayByPlay:
      example:
        Score:
          AwayScoreOvertime: 4
          HomeScoreQuarter2: 1
          Quarter: Quarter
          HomeScoreQuarter1: 3
          HomeScoreQuarter4: 9
          AwayTeam: AwayTeam
          HomeScoreQuarter3: 3
          Has3rdQuarterStarted: true
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 7
          HomeTeamID: 7
          ForecastTempHigh: 6
          DateTime: DateTime
          Has2ndQuarterStarted: true
          Has1stQuarterStarted: true
          LastUpdated: LastUpdated
          Distance: Distance
          ForecastWindSpeed: 9
          OverPayout: 9
          Status: Status
          AwayScoreQuarter4: 4
          HomeTeam: HomeTeam
          AwayScoreQuarter1: 0
          AwayScoreQuarter3: 7
          AwayScore: 8
          AwayScoreQuarter2: 0
          Channel: Channel
          HomeTimeouts: 7
          IsOvertime: true
          NeutralVenue: true
          StadiumID: 6
          IsInProgress: true
          IsOver: true
          AwayRotationNumber: 3
          PointSpreadAwayTeamMoneyLine: 3
          GeoLong: 1.2555055362323109
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          Canceled: true
          AwayTeamMoneyLine: 9
          Week: 2
          GameEndDateTime: GameEndDateTime
          GeoLat: 1.3949519358941398
          HomeRotationNumber: 4
          HasStarted: true
          YardLineTerritory: YardLineTerritory
          AwayTeamID: 2
          AwayTimeouts: 0
          HomeScore: 5
          LastPlay: LastPlay
          RefereeID: 2
          ForecastWindChill: 6
          UnderPayout: 0
          GlobalHomeTeamID: 1
          Season: 4
          YardLine: 5
          DownAndDistance: DownAndDistance
          GlobalGameID: 5
          Attendance: 2
          QuarterDescription: QuarterDescription
          StadiumDetails:
            Type: Type
            GeoLat: 4.141296055235948
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 8.910869026866926
            City: City
            Name: Name
            PlayingSurface: PlayingSurface
            StadiumID: 2
          Down: 2
          GameKey: GameKey
          HomeScoreOvertime: 5
          ScoreID: 9
          OverUnder: 1.7045651386993
          Date: Date
          SeasonType: 8
          PointSpread: 4.4935252719377825
          Possession: Possession
          Closed: true
          TimeRemaining: TimeRemaining
          ForecastTempLow: 4
          RedZone: RedZone
          Has4thQuarterStarted: true
          PointSpreadHomeTeamMoneyLine: 8
          Day: Day
        Plays:
        - QuarterID: 6
          Down: 6
          Description: Description
          IsScoringPlay: true
          Updated: Updated
          TimeRemainingMinutes: 5
          YardsToEndZone: 3
          YardLineTerritory: YardLineTerritory
          PlayStats:
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          Sequence: 5
          PlayID: 1
          QuarterName: QuarterName
          Created: Created
          ScoringPlay:
            Quarter: Quarter
            GameKey: GameKey
            AwayTeam: AwayTeam
            HomeTeam: HomeTeam
            AwayScore: 4
            ScoreID: 9
            Sequence: 8
            Date: Date
            HomeScore: 8
            SeasonType: 9
            PlayDescription: PlayDescription
            TimeRemaining: TimeRemaining
            ScoringPlayID: 1
            Team: Team
            Season: 3
            Week: 0
          TimeRemainingSeconds: 8
          Type: Type
          PlayTime: PlayTime
          YardsGained: 3
          Opponent: Opponent
          Team: Team
          YardLine: 7
          Distance: 0
        - QuarterID: 6
          Down: 6
          Description: Description
          IsScoringPlay: true
          Updated: Updated
          TimeRemainingMinutes: 5
          YardsToEndZone: 3
          YardLineTerritory: YardLineTerritory
          PlayStats:
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          Sequence: 5
          PlayID: 1
          QuarterName: QuarterName
          Created: Created
          ScoringPlay:
            Quarter: Quarter
            GameKey: GameKey
            AwayTeam: AwayTeam
            HomeTeam: HomeTeam
            AwayScore: 4
            ScoreID: 9
            Sequence: 8
            Date: Date
            HomeScore: 8
            SeasonType: 9
            PlayDescription: PlayDescription
            TimeRemaining: TimeRemaining
            ScoringPlayID: 1
            Team: Team
            Season: 3
            Week: 0
          TimeRemainingSeconds: 8
          Type: Type
          PlayTime: PlayTime
          YardsGained: 3
          Opponent: Opponent
          Team: Team
          YardLine: 7
          Distance: 0
        Quarters:
        - QuarterID: 0
          Description: Description
          HomeTeamScore: 5
          Number: 7
          Updated: Updated
          AwayTeamScore: 9
          ScoreID: 3
          Created: Created
          Name: Name
        - QuarterID: 0
          Description: Description
          HomeTeamScore: 5
          Number: 7
          Updated: Updated
          AwayTeamScore: 9
          ScoreID: 3
          Created: Created
          Name: Name
      properties:
        Plays:
          items:
            $ref: '#/components/schemas/Play'
          title: Plays
          type: array
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          title: Quarters
          type: array
        Score:
          $ref: '#/components/schemas/Score'
      title: PlayByPlay
    PlayStat:
      example:
        BlockedKicks: 9
        PlayerID: 3
        Safeties: 4
        FumblesRecovered: 8
        RushingTouchdowns: 9
        ReceivingTouchdowns: 4
        Receptions: 9
        FieldGoalReturns: 1
        TwoPointConversionReturns: 1
        PenaltyYards: 8
        Name: Name
        Penalties: 4
        ReceivingTargets: 1
        RushingAttempts: 0
        TwoPointConversionAttempts: 3
        FieldGoalReturnTouchdowns: 7
        KickReturns: 2
        AssistedTackles: 5
        Fumbles: 9
        InterceptionReturnTouchdowns: 9
        Kickoffs: 5
        Updated: Updated
        FumblesForced: 9
        TacklesForLoss: 4
        KickoffTouchbacks: 6
        PassingAttempts: 3
        PassingTouchdowns: 6
        Sequence: 6
        FieldGoalsHadBlocked: 6
        FieldGoalsYards: 1
        KickReturnTouchdowns: 6
        PassingInterceptions: 7
        PuntYards: 0
        PuntReturns: 3
        Punts: 6
        TwoPointConversionPasses: 0
        TwoPointConversionReceptions: 2
        ExtraPointsMade: 4
        FieldGoalReturnYards: 1
        BlockedKickReturnYards: 2
        BlockedKickReturns: 7
        PassesDefended: 6
        InterceptionReturnYards: 6
        KickReturnYards: 1
        FumbleReturnTouchdowns: 4
        PuntReturnTouchdowns: 7
        PassingSackYards: 0
        PlayStatID: 3
        PlayID: 7
        Direction: Direction
        TwoPointConversionRuns: 8
        ExtraPointsAttempted: 3
        PuntReturnYards: 5
        Created: Created
        SoloTackles: 8
        BlockedKickReturnTouchdowns: 5
        FieldGoalsAttempted: 1
        Opponent: Opponent
        PuntsHadBlocked: 4
        Team: Team
        PassingSacks: 7
        Sacks: 5.507386964179881
        ExtraPointsHadBlocked: 2
        KickoffYards: 6
        ReceivingYards: 7
        HomeOrAway: HomeOrAway
        FumbleReturnYards: 5
        Interceptions: 3
        PassingYards: 0
        PuntTouchbacks: 4
        SackYards: 7.933506881737151
        PassingCompletions: 3
        RushingYards: 0
        FieldGoalsMade: 7
        FumblesLost: 6
      properties:
        AssistedTackles:
          nullable: true
          title: AssistedTackles
          type: integer
        BlockedKickReturnTouchdowns:
          nullable: true
          title: BlockedKickReturnTouchdowns
          type: integer
        BlockedKickReturnYards:
          nullable: true
          title: BlockedKickReturnYards
          type: integer
        BlockedKickReturns:
          nullable: true
          title: BlockedKickReturns
          type: integer
        BlockedKicks:
          nullable: true
          title: BlockedKicks
          type: integer
        Created:
          nullable: true
          title: Created
          type: string
        Direction:
          nullable: true
          title: Direction
          type: string
        ExtraPointsAttempted:
          nullable: true
          title: ExtraPointsAttempted
          type: integer
        ExtraPointsHadBlocked:
          nullable: true
          title: ExtraPointsHadBlocked
          type: integer
        ExtraPointsMade:
          nullable: true
          title: ExtraPointsMade
          type: integer
        FieldGoalReturnTouchdowns:
          nullable: true
          title: FieldGoalReturnTouchdowns
          type: integer
        FieldGoalReturnYards:
          nullable: true
          title: FieldGoalReturnYards
          type: integer
        FieldGoalReturns:
          nullable: true
          title: FieldGoalReturns
          type: integer
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsHadBlocked:
          nullable: true
          title: FieldGoalsHadBlocked
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsYards:
          nullable: true
          title: FieldGoalsYards
          type: integer
        FumbleReturnTouchdowns:
          nullable: true
          title: FumbleReturnTouchdowns
          type: integer
        FumbleReturnYards:
          nullable: true
          title: FumbleReturnYards
          type: integer
        Fumbles:
          nullable: true
          title: Fumbles
          type: integer
        FumblesForced:
          nullable: true
          title: FumblesForced
          type: integer
        FumblesLost:
          nullable: true
          title: FumblesLost
          type: integer
        FumblesRecovered:
          nullable: true
          title: FumblesRecovered
          type: integer
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        InterceptionReturnTouchdowns:
          nullable: true
          title: InterceptionReturnTouchdowns
          type: integer
        InterceptionReturnYards:
          nullable: true
          title: InterceptionReturnYards
          type: integer
        Interceptions:
          nullable: true
          title: Interceptions
          type: integer
        KickReturnTouchdowns:
          nullable: true
          title: KickReturnTouchdowns
          type: integer
        KickReturnYards:
          nullable: true
          title: KickReturnYards
          type: integer
        KickReturns:
          nullable: true
          title: KickReturns
          type: integer
        KickoffTouchbacks:
          nullable: true
          title: KickoffTouchbacks
          type: integer
        KickoffYards:
          nullable: true
          title: KickoffYards
          type: integer
        Kickoffs:
          nullable: true
          title: Kickoffs
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Opponent:
          nullable: true
          title: Opponent
          type: string
        PassesDefended:
          nullable: true
          title: PassesDefended
          type: integer
        PassingAttempts:
          nullable: true
          title: PassingAttempts
          type: integer
        PassingCompletions:
          nullable: true
          title: PassingCompletions
          type: integer
        PassingInterceptions:
          nullable: true
          title: PassingInterceptions
          type: integer
        PassingSackYards:
          nullable: true
          title: PassingSackYards
          type: integer
        PassingSacks:
          nullable: true
          title: PassingSacks
          type: integer
        PassingTouchdowns:
          nullable: true
          title: PassingTouchdowns
          type: integer
        PassingYards:
          nullable: true
          title: PassingYards
          type: integer
        Penalties:
          nullable: true
          title: Penalties
          type: integer
        PenaltyYards:
          nullable: true
          title: PenaltyYards
          type: integer
        PlayID:
          nullable: false
          title: PlayID
          type: integer
        PlayStatID:
          nullable: false
          title: PlayStatID
          type: integer
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        PuntReturnTouchdowns:
          nullable: true
          title: PuntReturnTouchdowns
          type: integer
        PuntReturnYards:
          nullable: true
          title: PuntReturnYards
          type: integer
        PuntReturns:
          nullable: true
          title: PuntReturns
          type: integer
        PuntTouchbacks:
          nullable: true
          title: PuntTouchbacks
          type: integer
        PuntYards:
          nullable: true
          title: PuntYards
          type: integer
        Punts:
          nullable: true
          title: Punts
          type: integer
        PuntsHadBlocked:
          nullable: true
          title: PuntsHadBlocked
          type: integer
        ReceivingTargets:
          nullable: true
          title: ReceivingTargets
          type: integer
        ReceivingTouchdowns:
          nullable: true
          title: ReceivingTouchdowns
          type: integer
        ReceivingYards:
          nullable: true
          title: ReceivingYards
          type: integer
        Receptions:
          nullable: true
          title: Receptions
          type: integer
        RushingAttempts:
          nullable: true
          title: RushingAttempts
          type: integer
        RushingTouchdowns:
          nullable: true
          title: RushingTouchdowns
          type: integer
        RushingYards:
          nullable: true
          title: RushingYards
          type: integer
        SackYards:
          nullable: true
          title: SackYards
          type: number
        Sacks:
          nullable: true
          title: Sacks
          type: number
        Safeties:
          nullable: true
          title: Safeties
          type: integer
        Sequence:
          nullable: false
          title: Sequence
          type: integer
        SoloTackles:
          nullable: true
          title: SoloTackles
          type: integer
        TacklesForLoss:
          nullable: true
          title: TacklesForLoss
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TwoPointConversionAttempts:
          nullable: true
          title: TwoPointConversionAttempts
          type: integer
        TwoPointConversionPasses:
          nullable: true
          title: TwoPointConversionPasses
          type: integer
        TwoPointConversionReceptions:
          nullable: true
          title: TwoPointConversionReceptions
          type: integer
        TwoPointConversionReturns:
          nullable: true
          title: TwoPointConversionReturns
          type: integer
        TwoPointConversionRuns:
          nullable: true
          title: TwoPointConversionRuns
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: PlayStat
    Quarter:
      example:
        QuarterID: 0
        Description: Description
        HomeTeamScore: 5
        Number: 7
        Updated: Updated
        AwayTeamScore: 9
        ScoreID: 3
        Created: Created
        Name: Name
      properties:
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        Created:
          nullable: true
          title: Created
          type: string
        Description:
          nullable: true
          title: Description
          type: string
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: false
          title: Number
          type: integer
        QuarterID:
          nullable: false
          title: QuarterID
          type: integer
        ScoreID:
          nullable: false
          title: ScoreID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Quarter
    Score:
      example:
        AwayScoreOvertime: 4
        HomeScoreQuarter2: 1
        Quarter: Quarter
        HomeScoreQuarter1: 3
        HomeScoreQuarter4: 9
        AwayTeam: AwayTeam
        HomeScoreQuarter3: 3
        Has3rdQuarterStarted: true
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 7
        HomeTeamID: 7
        ForecastTempHigh: 6
        DateTime: DateTime
        Has2ndQuarterStarted: true
        Has1stQuarterStarted: true
        LastUpdated: LastUpdated
        Distance: Distance
        ForecastWindSpeed: 9
        OverPayout: 9
        Status: Status
        AwayScoreQuarter4: 4
        HomeTeam: HomeTeam
        AwayScoreQuarter1: 0
        AwayScoreQuarter3: 7
        AwayScore: 8
        AwayScoreQuarter2: 0
        Channel: Channel
        HomeTimeouts: 7
        IsOvertime: true
        NeutralVenue: true
        StadiumID: 6
        IsInProgress: true
        IsOver: true
        AwayRotationNumber: 3
        PointSpreadAwayTeamMoneyLine: 3
        GeoLong: 1.2555055362323109
        GlobalAwayTeamID: 3
        DateTimeUTC: DateTimeUTC
        Canceled: true
        AwayTeamMoneyLine: 9
        Week: 2
        GameEndDateTime: GameEndDateTime
        GeoLat: 1.3949519358941398
        HomeRotationNumber: 4
        HasStarted: true
        YardLineTerritory: YardLineTerritory
        AwayTeamID: 2
        AwayTimeouts: 0
        HomeScore: 5
        LastPlay: LastPlay
        RefereeID: 2
        ForecastWindChill: 6
        UnderPayout: 0
        GlobalHomeTeamID: 1
        Season: 4
        YardLine: 5
        DownAndDistance: DownAndDistance
        GlobalGameID: 5
        Attendance: 2
        QuarterDescription: QuarterDescription
        StadiumDetails:
          Type: Type
          GeoLat: 4.141296055235948
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 8.910869026866926
          City: City
          Name: Name
          PlayingSurface: PlayingSurface
          StadiumID: 2
        Down: 2
        GameKey: GameKey
        HomeScoreOvertime: 5
        ScoreID: 9
        OverUnder: 1.7045651386993
        Date: Date
        SeasonType: 8
        PointSpread: 4.4935252719377825
        Possession: Possession
        Closed: true
        TimeRemaining: TimeRemaining
        ForecastTempLow: 4
        RedZone: RedZone
        Has4thQuarterStarted: true
        PointSpreadHomeTeamMoneyLine: 8
        Day: Day
      properties:
        Attendance:
          nullable: false
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayScore:
          nullable: true
          title: AwayScore
          type: integer
        AwayScoreOvertime:
          nullable: true
          title: AwayScoreOvertime
          type: integer
        AwayScoreQuarter1:
          nullable: true
          title: AwayScoreQuarter1
          type: integer
        AwayScoreQuarter2:
          nullable: true
          title: AwayScoreQuarter2
          type: integer
        AwayScoreQuarter3:
          nullable: true
          title: AwayScoreQuarter3
          type: integer
        AwayScoreQuarter4:
          nullable: true
          title: AwayScoreQuarter4
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: true
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTimeouts:
          nullable: true
          title: AwayTimeouts
          type: integer
        Canceled:
          nullable: true
          title: Canceled
          type: boolean
        Channel:
          nullable: true
          title: Channel
          type: string
        Closed:
          nullable: true
          title: Closed
          type: boolean
        Date:
          nullable: true
          title: Date
          type: string
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        Distance:
          nullable: true
          title: Distance
          type: string
        Down:
          nullable: true
          title: Down
          type: integer
        DownAndDistance:
          nullable: true
          title: DownAndDistance
          type: string
        ForecastDescription:
          nullable: true
          title: ForecastDescription
          type: string
        ForecastTempHigh:
          nullable: true
          title: ForecastTempHigh
          type: integer
        ForecastTempLow:
          nullable: true
          title: ForecastTempLow
          type: integer
        ForecastWindChill:
          nullable: true
          title: ForecastWindChill
          type: integer
        ForecastWindSpeed:
          nullable: true
          title: ForecastWindSpeed
          type: integer
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameKey:
          nullable: true
          title: GameKey
          type: string
        GeoLat:
          nullable: true
          title: GeoLat
          type: number
        GeoLong:
          nullable: true
          title: GeoLong
          type: number
        GlobalAwayTeamID:
          nullable: true
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: true
          title: GlobalHomeTeamID
          type: integer
        Has1stQuarterStarted:
          nullable: false
          title: Has1stQuarterStarted
          type: boolean
        Has2ndQuarterStarted:
          nullable: false
          title: Has2ndQuarterStarted
          type: boolean
        Has3rdQuarterStarted:
          nullable: false
          title: Has3rdQuarterStarted
          type: boolean
        Has4thQuarterStarted:
          nullable: false
          title: Has4thQuarterStarted
          type: boolean
        HasStarted:
          nullable: false
          title: HasStarted
          type: boolean
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeScore:
          nullable: true
          title: HomeScore
          type: integer
        HomeScoreOvertime:
          nullable: true
          title: HomeScoreOvertime
          type: integer
        HomeScoreQuarter1:
          nullable: true
          title: HomeScoreQuarter1
          type: integer
        HomeScoreQuarter2:
          nullable: true
          title: HomeScoreQuarter2
          type: integer
        HomeScoreQuarter3:
          nullable: true
          title: HomeScoreQuarter3
          type: integer
        HomeScoreQuarter4:
          nullable: true
          title: HomeScoreQuarter4
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: true
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTimeouts:
          nullable: true
          title: HomeTimeouts
          type: integer
        IsInProgress:
          nullable: false
          title: IsInProgress
          type: boolean
        IsOver:
          nullable: false
          title: IsOver
          type: boolean
        IsOvertime:
          nullable: false
          title: IsOvertime
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        LastUpdated:
          nullable: true
          title: LastUpdated
          type: string
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        Possession:
          nullable: true
          title: Possession
          type: string
        Quarter:
          nullable: true
          title: Quarter
          type: string
        QuarterDescription:
          nullable: true
          title: QuarterDescription
          type: string
        RedZone:
          nullable: true
          title: RedZone
          type: string
        RefereeID:
          nullable: true
          title: RefereeID
          type: integer
        ScoreID:
          nullable: false
          title: ScoreID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TimeRemaining:
          nullable: true
          title: TimeRemaining
          type: string
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Week:
          nullable: false
          title: Week
          type: integer
        YardLine:
          nullable: true
          title: YardLine
          type: integer
        YardLineTerritory:
          nullable: true
          title: YardLineTerritory
          type: string
      title: Score
    ScoringPlay:
      example:
        Quarter: Quarter
        GameKey: GameKey
        AwayTeam: AwayTeam
        HomeTeam: HomeTeam
        AwayScore: 4
        ScoreID: 9
        Sequence: 8
        Date: Date
        HomeScore: 8
        SeasonType: 9
        PlayDescription: PlayDescription
        TimeRemaining: TimeRemaining
        ScoringPlayID: 1
        Team: Team
        Season: 3
        Week: 0
      properties:
        AwayScore:
          nullable: true
          title: AwayScore
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        Date:
          nullable: true
          title: Date
          type: string
        GameKey:
          nullable: true
          title: GameKey
          type: string
        HomeScore:
          nullable: true
          title: HomeScore
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        PlayDescription:
          nullable: true
          title: PlayDescription
          type: string
        Quarter:
          nullable: true
          title: Quarter
          type: string
        ScoreID:
          nullable: false
          title: ScoreID
          type: integer
        ScoringPlayID:
          nullable: false
          title: ScoringPlayID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        Sequence:
          nullable: true
          title: Sequence
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TimeRemaining:
          nullable: true
          title: TimeRemaining
          type: string
        Week:
          nullable: false
          title: Week
          type: integer
      title: ScoringPlay
    Stadium:
      example:
        Type: Type
        GeoLat: 4.141296055235948
        Capacity: 6
        State: State
        Country: Country
        GeoLong: 8.910869026866926
        City: City
        Name: Name
        PlayingSurface: PlayingSurface
        StadiumID: 2
      properties:
        Capacity:
          nullable: true
          title: Capacity
          type: integer
        City:
          nullable: true
          title: City
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        GeoLat:
          nullable: true
          title: GeoLat
          type: number
        GeoLong:
          nullable: true
          title: GeoLong
          type: number
        Name:
          nullable: true
          title: Name
          type: string
        PlayingSurface:
          nullable: true
          title: PlayingSurface
          type: string
        StadiumID:
          nullable: false
          title: StadiumID
          type: integer
        State:
          nullable: true
          title: State
          type: string
        Type:
          nullable: true
          title: Type
          type: string
      title: Stadium
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
