openapi: 3.0.1
info:
  description: Microsoft NetApp Azure Resource Provider specification
  title: Microsoft NetApp
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-08-01/netapp.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: netapp
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.NetApp/operations:
    get:
      description: Lists all of the available Microsoft.NetApp Rest API operations
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describes the Resource Provider
      tags:
      - Operations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability:
    post:
      description: Check if a file path is available.
      operationId: net_app_resource_check_file_path_availability
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: File path availability request.
        required: true
        x-ms-client-flatten: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Check file path availability
      x-ms-examples:
        CheckFilePathAvailability:
          parameters:
            api-version: 2019-08-01
            body:
              name: my-exact-filepth
              resourceGroup: myRG
              type: netAppAccount/capacityPools/volume
            location: eastus
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                isAvailable: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability:
    post:
      description: Check if a resource name is available.
      operationId: net_app_resource_check_name_availability
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: Name availability request.
        required: true
        x-ms-client-flatten: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Check resource name availability
      x-ms-examples:
        CheckNameAvailability:
          parameters:
            api-version: 2019-08-01
            body:
              name: accName
              resourceGroup: myRG
              type: netAppAccount
            location: eastus
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                isAvailable: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts:
    get:
      description: List and describe all NetApp accounts in the resource group.
      operationId: accounts_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccountList'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe all NetApp Accounts in a resource group
      tags:
      - NetApp Accounts
      x-ms-examples:
        Accounts_List:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1
                  location: eastus
                  name: account1
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.NetApp/netAppAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.net_app_accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}:
    delete:
      description: Delete the specified NetApp account
      operationId: accounts_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        "204":
          content: {}
          description: NoContent -- Resource does not exist.
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Delete a NetApp account
      tags:
      - NetApp Accounts
      x-ms-examples:
        Accounts_Delete:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.net_app_accounts_controller
    get:
      description: Get the NetApp account
      operationId: accounts_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe a NetApp Account
      tags:
      - NetApp Accounts
      x-ms-examples:
        Accounts_Get:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1
                location: eastus
                name: account1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.NetApp/netAppAccounts
      x-openapi-router-controller: openapi_server.controllers.net_app_accounts_controller
    patch:
      description: Patch the specified NetApp account
      operationId: accounts_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netAppAccountPatch'
        description: NetApp Account object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK - account updated
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Update a NetApp account
      tags:
      - NetApp Accounts
      x-ms-examples:
        Accounts_Update:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body: {}
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1
                location: eastus
                name: account1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.NetApp/netAppAccounts
            "202": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.net_app_accounts_controller
    put:
      description: Create or update the specified NetApp account within the resource
        group
      operationId: accounts_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netAppAccount'
        description: NetApp Account object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK - account updated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: Account created
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Create or update a NetApp account
      tags:
      - NetApp Accounts
      x-ms-examples:
        Accounts_CreateOrUpdate:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body:
              location: eastus
              properties: {}
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1
                location: eastus
                name: account1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.NetApp/netAppAccounts
            "201":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1
                location: eastus
                name: account1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.NetApp/netAppAccounts
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.net_app_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools
  : get:
      description: List all capacity pools in the NetApp Account
      operationId: pools_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPoolList'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe all Capacity Pools
      tags:
      - Capacity Pools
      x-ms-examples:
        Pools_List:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1
                  location: eastus
                  name: account1/pool1
                  properties:
                    poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
                    provisioningState: Succeeded
                    serviceLevel: Premium
                    size: 4398046511104
                  type: Microsoft.NetApp/netAppAccounts/capacityPools
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.capacity_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}
  : delete:
      description: Delete the specified capacity pool
      operationId: pools_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        "204":
          content: {}
          description: NoContent -- Resource does not exist.
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Delete a capacity pool
      tags:
      - Capacity Pools
      x-ms-examples:
        Pools_Delete:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.capacity_pools_controller
    get:
      description: Get details of the specified capacity pool
      operationId: pools_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: poolName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe a Capacity Pool
      tags:
      - Capacity Pools
      x-ms-examples:
        Pools_Get:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1
                location: eastus
                name: account1/pool1
                properties:
                  poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  size: 4398046511104
                type: Microsoft.NetApp/netAppAccounts/capacityPools
      x-openapi-router-controller: openapi_server.controllers.capacity_pools_controller
    patch:
      description: Patch the specified capacity pool
      operationId: pools_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPoolPatch'
        description: Capacity pool object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Update a capacity pool
      tags:
      - Capacity Pools
      x-ms-examples:
        Pools_Update:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body: {}
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1
                location: eastus
                name: account1/pool1
                properties:
                  poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  size: 4398046511104
                type: Microsoft.NetApp/netAppAccounts/capacityPools
            "202": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.capacity_pools_controller
    put:
      description: Create or Update a capacity pool
      operationId: pools_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPool'
        description: Capacity pool object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK - pool updated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: Pool created
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Create or Update the specified capacity pool within the resource group
      tags:
      - Capacity Pools
      x-ms-examples:
        Pools_CreateOrUpdate:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body:
              location: eastus
              properties:
                serviceLevel: Premium
                size: 4398046511104
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1
                location: eastus
                name: account1/pool1
                properties:
                  poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  size: 4398046511104
                type: Microsoft.NetApp/netAppAccounts/capacityPools
            "201":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1
                location: eastus
                name: account1/pool1
                properties:
                  poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  size: 4398046511104
                type: Microsoft.NetApp/netAppAccounts/capacityPools
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.capacity_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes
  : get:
      description: List all volumes within the capacity pool
      operationId: volumes_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeList'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe all volumes
      tags:
      - Volumes
      x-ms-examples:
        Volumes_List:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
                  location: eastus
                  name: account1/pool1/volume1
                  properties:
                    creationToken: some-amazing-filepath
                    fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca7778
                    provisioningState: Succeeded
                    serviceLevel: Premium
                    subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                    usageThreshold: 107374182400
                  type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}
  : delete:
      description: Delete the specified volume
      operationId: volumes_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        "204":
          content: {}
          description: NoContent -- Resource does not exist.
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Delete a volume
      tags:
      - Volumes
      x-ms-examples:
        Volumes_Delete:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
    get:
      description: Get the details of the specified volume
      operationId: volumes_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volumeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe a volume
      tags:
      - Volumes
      x-ms-examples:
        Volumes_Get:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
                location: eastus
                name: account1/pool1/volume1
                properties:
                  creationToken: some-amazing-filepath
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                  usageThreshold: 107374182400
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
    patch:
      description: Patch the specified volume
      operationId: volumes_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volumePatch'
        description: Volume object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: OK
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Update a volume
      tags:
      - Volumes
      x-ms-examples:
        Volumes_Update:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body: {}
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
                location: eastus
                name: account1/pool1/volume1
                properties:
                  creationToken: some-amazing-filepath
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                  usageThreshold: 107374182400
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes
            "202": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
    put:
      description: Create or update the specified volume within the capacity pool
      operationId: volumes_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volume'
        description: Volume object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: Ok - volume updated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: Volume created
        "202":
          content: {}
          description: Accepted -- Create request accepted; operation will complete
            asynchronously
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Create or Update a volume
      tags:
      - Volumes
      x-ms-examples:
        Volumes_CreateOrUpdate:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body:
              location: eastus
              properties:
                creationToken: my-unique-file-path
                serviceLevel: Premium
                subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                usageThreshold: 107374182400
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
                location: eastus
                name: account1/pool1/volume1
                properties:
                  creationToken: some-amazing-filepath
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                  usageThreshold: 107374182400
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes
            "201":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
                location: eastus
                name: account1/pool1/volume1
                properties:
                  creationToken: some-amazing-filepath
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca7778
                  provisioningState: Succeeded
                  serviceLevel: Premium
                  subnetId: /subscriptions/9760acf5-4638-11e7-9bdb-020073ca7778/resourceGroups/myRP/providers/Microsoft.Network/virtualNetworks/testvnet3/subnets/testsubnet3
                  usageThreshold: 107374182400
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.volumes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/mountTargets
  : get:
      description: List all mount targets associated with the volume
      operationId: mount_targets_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mountTargetList'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe all mount targets
      tags:
      - MountTargets
      x-ms-examples:
        MountTargets_List:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1/mountTargets/target1
                  location: eastus
                  name: account1/pool1/volume1/target1
                  properties:
                    endIp: 1.2.3.4
                    fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
                    gateway: ""
                    ipAddress: 1.2.3.4
                    mountTargetId: 9760acf5-4638-11e7-9bdb-020073ca3333
                    netmask: ""
                    provisioningState: Succeeded
                    smbServerFqdn: fullyqualified.domainname.com
                    startIp: 1.2.3.4
                    subnet: 1.2.3.4
                  type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes/mountTargets
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.mount_targets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots
  : get:
      description: List all snapshots associated with the volume
      operationId: snapshots_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshotsList'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe all snapshots
      tags:
      - Snapshots
      x-ms-examples:
        Snapshots_List:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1/snapshots/snapshot1
                  location: eastus
                  name: account1/pool1/volume1/snapshot1
                  properties:
                    created: 2017-08-15T13:23:33Z
                    fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
                    provisioningState: Succeeded
                    snapshotId: 9760acf5-4638-11e7-9bdb-020073ca3333
                  type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}
  : delete:
      description: Delete snapshot
      operationId: snapshots_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the mount target
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: "Accepted -- Create, update or delete request accepted; operation\
            \ will complete asynchronously"
        "204":
          content: {}
          description: NoContent -- Resource does not exist.
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Delete a snapshot
      tags:
      - Snapshots
      x-ms-examples:
        Snapshots_Delete:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            snapshotName: snapshot1
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    get:
      description: Get details of the specified snapshot
      operationId: snapshots_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the mount target
        in: path
        name: snapshotName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: OK
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Describe a snapshot
      tags:
      - Snapshots
      x-ms-examples:
        Snapshots_Get:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            poolName: pool1
            resourceGroupName: myRG
            snapshotName: snapshot1
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1/snapshots/snapshot1
                location: eastus
                name: account1/pool1/volume1/snapshot1
                properties:
                  created: 2017-08-15T13:23:33Z
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
                  provisioningState: Succeeded
                  snapshotId: 9760acf5-4638-11e7-9bdb-020073ca3333
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    patch:
      description: Patch a snapshot
      operationId: snapshots_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the mount target
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshotPatch'
        description: Snapshot object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: OK
        "202":
          content: {}
          description: Accepted -- Update request accepted; operation will complete
            asynchronously
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Update a snapshot
      tags:
      - Snapshots
      x-ms-examples:
        Snapshots_Update:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body: {}
            poolName: pool1
            resourceGroupName: myRG
            snapshotName: snapshot1
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "200":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1/snapshots/snapshot1
                location: eastus
                name: account1/pool1/volume1/snapshot1
                properties:
                  created: 2017-08-15T13:23:33Z
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
                  provisioningState: Succeeded
                  snapshotId: 9760acf5-4638-11e7-9bdb-020073ca3333
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
            "202": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    put:
      description: Create the specified snapshot within the given volume
      operationId: snapshots_create
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the NetApp account
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the capacity pool
        in: path
        name: pool_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the volume
        in: path
        name: volume_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the mount target
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-08-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshot'
        description: Snapshot object supplied in the body of the operation.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: Snapshot created
        "202":
          content: {}
          description: Accepted -- Create request accepted; operation will complete
            asynchronously
        default:
          content: {}
          description: Error response describing why the operation failed.
      summary: Create a snapshot
      tags:
      - Snapshots
      x-ms-examples:
        Snapshots_Create:
          parameters:
            accountName: account1
            api-version: 2019-08-01
            body:
              location: eastus
            poolName: pool1
            resourceGroupName: myRG
            snapshotName: snapshot1
            subscriptionId: D633CC2E-722B-4AE1-B636-BBD9E4C60ED9
            volumeName: volume1
          responses:
            "201":
              body:
                id: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1/snapshots/snapshot1
                location: eastus
                name: account1/pool1/volume1/snapshot1
                properties:
                  created: 2017-08-15T13:23:33Z
                  fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
                  provisioningState: Succeeded
                  snapshotId: 9760acf5-4638-11e7-9bdb-020073ca3333
                type: Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
components:
  parameters:
    AccountName:
      description: The name of the NetApp account
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        default: 2019-08-01
        type: string
    MountTargetName:
      description: The name of the mount target
      in: path
      name: mountTargetName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PoolName:
      description: The name of the capacity pool
      in: path
      name: poolName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroup:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SnapshotName:
      description: The name of the mount target
      in: path
      name: snapshotName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VolumeName:
      description: The name of the volume
      in: path
      name: volumeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    location:
      description: The location
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Dimension:
      description: "Dimension of blobs, possibly be blob type or access tier."
      example:
        displayName: displayName
        name: name
      properties:
        displayName:
          description: Display name of dimension.
          title: displayName
          type: string
        name:
          description: Display name of dimension.
          title: name
          type: string
      title: Dimension
      type: object
    MetricSpecification:
      description: Metric specification of operation.
      example:
        displayDescription: displayDescription
        aggregationType: aggregationType
        unit: unit
        displayName: displayName
        resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
        fillGapWithZero: true
        name: name
        category: category
        dimensions:
        - displayName: displayName
          name: name
        - displayName: displayName
          name: name
      properties:
        aggregationType:
          description: Aggregation type could be Average.
          title: aggregationType
          type: string
        category:
          description: "The category this metric specification belong to, could be\
            \ Capacity."
          title: category
          type: string
        dimensions:
          description: "Dimensions of blobs, including blob type and access tier."
          items:
            $ref: '#/components/schemas/Dimension'
          title: dimensions
          type: array
        displayDescription:
          description: Display description of metric specification.
          title: displayDescription
          type: string
        displayName:
          description: Display name of metric specification.
          title: displayName
          type: string
        fillGapWithZero:
          description: The property to decide fill gap with zero or not.
          title: fillGapWithZero
          type: boolean
        name:
          description: Name of metric specification.
          title: name
          type: string
        resourceIdDimensionNameOverride:
          description: Account Resource Id.
          title: resourceIdDimensionNameOverride
          type: string
        unit:
          description: Unit could be Bytes or Count.
          title: unit
          type: string
      title: MetricSpecification
      type: object
    Operation:
      description: Microsoft.NetApp REST API operation definition.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
        properties:
          serviceSpecification:
            metricSpecifications:
            - displayDescription: displayDescription
              aggregationType: aggregationType
              unit: unit
              displayName: displayName
              resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
              fillGapWithZero: true
              name: name
              category: category
              dimensions:
              - displayName: displayName
                name: name
              - displayName: displayName
                name: name
            - displayDescription: displayDescription
              aggregationType: aggregationType
              unit: unit
              displayName: displayName
              resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
              fillGapWithZero: true
              name: name
              category: category
              dimensions:
              - displayName: displayName
                name: name
              - displayName: displayName
                name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
        origin:
          description: The origin of operations.
          title: origin
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list Cloud Volume operations. It contains
        a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                category: category
                dimensions:
                - displayName: displayName
                  name: name
                - displayName: displayName
                  name: name
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                category: category
                dimensions:
                - displayName: displayName
                  name: name
                - displayName: displayName
                  name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                category: category
                dimensions:
                - displayName: displayName
                  name: name
                - displayName: displayName
                  name: name
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                category: category
                dimensions:
                - displayName: displayName
                  name: name
                - displayName: displayName
                  name: name
      properties:
        value:
          description: List of Storage operations supported by the Storage resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    OperationProperties:
      description: "Properties of operation, include metric specifications."
      example:
        serviceSpecification:
          metricSpecifications:
          - displayDescription: displayDescription
            aggregationType: aggregationType
            unit: unit
            displayName: displayName
            resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
            fillGapWithZero: true
            name: name
            category: category
            dimensions:
            - displayName: displayName
              name: name
            - displayName: displayName
              name: name
          - displayDescription: displayDescription
            aggregationType: aggregationType
            unit: unit
            displayName: displayName
            resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
            fillGapWithZero: true
            name: name
            category: category
            dimensions:
            - displayName: displayName
              name: name
            - displayName: displayName
              name: name
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
      title: OperationProperties
      type: object
    ResourceNameAvailability:
      description: Information regarding availability of a resource name.
      example:
        isAvailable: true
        reason: Invalid
        message: message
      properties:
        isAvailable:
          description: "<code>true</code> indicates name is valid and available. <code>false</code>\
            \ indicates the name is invalid, unavailable, or both."
          title: isAvailable
          type: boolean
        message:
          description: "If reason == invalid, provide the user with the reason why\
            \ the given name is invalid, and provide the resource naming requirements\
            \ so that the user can select a valid name. If reason == AlreadyExists,\
            \ explain that resource name is already in use, and direct them to select\
            \ a different name."
          title: message
          type: string
        reason:
          description: <code>Invalid</code> indicates the name provided does not match
            Azure App Service naming requirements. <code>AlreadyExists</code> indicates
            that the name is already in use and is therefore unavailable.
          enum:
          - Invalid
          - AlreadyExists
          title: reason
          type: string
          x-ms-enum:
            modelAsString: true
            name: InAvailabilityReasonType
      title: ResourceNameAvailability
      type: object
    ResourceNameAvailabilityRequest:
      description: Resource name availability request content.
      example:
        resourceGroup: resourceGroup
        name: name
        type: Microsoft.NetApp/netAppAccounts
      properties:
        name:
          description: Resource name to verify.
          title: name
          type: string
        resourceGroup:
          description: Resource group name.
          title: resourceGroup
          type: string
        type:
          description: Resource type used for verification.
          enum:
          - Microsoft.NetApp/netAppAccounts
          - Microsoft.NetApp/netAppAccounts/capacityPools
          - Microsoft.NetApp/netAppAccounts/capacityPools/volumes
          - Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: CheckNameResourceTypes
      required:
      - name
      - resourceGroup
      - type
      title: ResourceNameAvailabilityRequest
      type: object
    ServiceSpecification:
      description: "One property of operation, include metric specifications."
      example:
        metricSpecifications:
        - displayDescription: displayDescription
          aggregationType: aggregationType
          unit: unit
          displayName: displayName
          resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
          fillGapWithZero: true
          name: name
          category: category
          dimensions:
          - displayName: displayName
            name: name
          - displayName: displayName
            name: name
        - displayDescription: displayDescription
          aggregationType: aggregationType
          unit: unit
          displayName: displayName
          resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
          fillGapWithZero: true
          name: name
          category: category
          dimensions:
          - displayName: displayName
            name: name
          - displayName: displayName
            name: name
      properties:
        metricSpecifications:
          description: Metric specifications of operation.
          items:
            $ref: '#/components/schemas/MetricSpecification'
          title: metricSpecifications
          type: array
      title: ServiceSpecification
      type: object
    accountProperties:
      description: NetApp account properties
      example:
        activeDirectories:
        - activeDirectoryId: activeDirectoryId
          password: password
          smbServerName: smbServerName
          domain: domain
          dns: dns
          organizationalUnit: organizationalUnit
          status: status
          username: username
        - activeDirectoryId: activeDirectoryId
          password: password
          smbServerName: smbServerName
          domain: domain
          dns: dns
          organizationalUnit: organizationalUnit
          status: status
          username: username
        provisioningState: provisioningState
      properties:
        activeDirectories:
          description: Active Directories
          items:
            $ref: '#/components/schemas/activeDirectory'
          title: activeDirectories
          type: array
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          title: provisioningState
          type: string
      title: accountProperties
      type: object
    activeDirectory:
      description: Active Directory
      example:
        activeDirectoryId: activeDirectoryId
        password: password
        smbServerName: smbServerName
        domain: domain
        dns: dns
        organizationalUnit: organizationalUnit
        status: status
        username: username
      properties:
        activeDirectoryId:
          description: Id of the Active Directory
          title: activeDirectoryId
          type: string
        dns:
          description: Comma separated list of DNS server IP addresses (IPv4 only)
            for the Active Directory domain
          title: dns
          type: string
        domain:
          description: Name of the Active Directory domain
          title: domain
          type: string
        organizationalUnit:
          description: The Organizational Unit (OU) within the Windows Active Directory
          title: organizationalUnit
          type: string
        password:
          description: Plain text password of Active Directory domain administrator
          title: password
          type: string
        smbServerName:
          description: NetBIOS name of the SMB server. This name will be registered
            as a computer account in the AD and used to mount volumes
          title: smbServerName
          type: string
        status:
          description: Status of the Active Directory
          title: status
          type: string
        username:
          description: Username of Active Directory domain administrator
          title: username
          type: string
      title: activeDirectory
      type: object
    capacityPool:
      description: Capacity pool resource
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          size: 48071833911333
          poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
          provisioningState: provisioningState
          serviceLevel: Ultra
        tags:
          key: tags
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/poolProperties'
        tags:
          additionalProperties:
            type: string
          description: Tags are a list of key-value pairs that describe the resource
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      - properties
      title: capacityPool
      type: object
      x-ms-azure-resource: true
    capacityPoolList:
      description: List of capacity pool resources
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            size: 48071833911333
            poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
            provisioningState: provisioningState
            serviceLevel: Ultra
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            size: 48071833911333
            poolId: 9760acf5-4638-11e7-9bdb-020073ca7778
            provisioningState: provisioningState
            serviceLevel: Ultra
          tags:
            key: tags
      properties:
        value:
          description: List of Capacity pools
          items:
            $ref: '#/components/schemas/capacityPool'
          title: value
          type: array
      title: capacityPoolList
      type: object
    capacityPoolPatch:
      description: Capacity pool patch resource
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/poolPatchProperties'
        tags:
          additionalProperties:
            type: string
          description: Tags are a list of key-value pairs that describe the resource
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: capacityPoolPatch
      type: object
      x-ms-azure-resource: true
    exportPolicyRule:
      description: Volume Export Policy Rule
      example:
        nfsv41: true
        unixReadOnly: true
        ruleIndex: 0
        unixReadWrite: true
        nfsv3: true
        allowedClients: allowedClients
        cifs: true
      properties:
        allowedClients:
          description: "Client ingress specification as comma separated string with\
            \ IPv4 CIDRs, IPv4 host addresses and host names"
          title: allowedClients
          type: string
        cifs:
          description: Allows CIFS protocol
          title: cifs
          type: boolean
        nfsv3:
          description: Allows NFSv3 protocol
          title: nfsv3
          type: boolean
        nfsv41:
          description: Allows NFSv4.1 protocol
          title: nfsv41
          type: boolean
        ruleIndex:
          description: Order index
          title: ruleIndex
          type: integer
        unixReadOnly:
          description: Read only access
          title: unixReadOnly
          type: boolean
        unixReadWrite:
          description: Read and write access
          title: unixReadWrite
          type: boolean
      title: exportPolicyRule
      type: object
    mountTarget:
      description: Mount Target
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          endIp: 1.2.3.4
          smbServerFqdn: fullyqualified.domainname.com
          subnet: 1.2.3.4
          startIp: 1.2.3.4
          fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
          netmask: 255.255.255.0
          ipAddress: 1.2.3.4
          provisioningState: provisioningState
          mountTargetId: 9760acf5-4638-11e7-9bdb-020073ca3333
          gateway: 1.2.3.4
        tags:
          key: tags
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/mountTargetProperties'
        tags:
          additionalProperties:
            type: string
          description: Tags are a list of key-value pairs that describe the resource
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      - properties
      title: mountTarget
      type: object
    mountTargetList:
      description: List of Mount Targets
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            endIp: 1.2.3.4
            smbServerFqdn: fullyqualified.domainname.com
            subnet: 1.2.3.4
            startIp: 1.2.3.4
            fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
            netmask: 255.255.255.0
            ipAddress: 1.2.3.4
            provisioningState: provisioningState
            mountTargetId: 9760acf5-4638-11e7-9bdb-020073ca3333
            gateway: 1.2.3.4
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            endIp: 1.2.3.4
            smbServerFqdn: fullyqualified.domainname.com
            subnet: 1.2.3.4
            startIp: 1.2.3.4
            fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
            netmask: 255.255.255.0
            ipAddress: 1.2.3.4
            provisioningState: provisioningState
            mountTargetId: 9760acf5-4638-11e7-9bdb-020073ca3333
            gateway: 1.2.3.4
          tags:
            key: tags
      properties:
        value:
          description: A list of Mount targets
          items:
            $ref: '#/components/schemas/mountTarget'
          title: value
          type: array
      title: mountTargetList
      type: object
    mountTargetProperties:
      description: Mount target properties
      example:
        endIp: 1.2.3.4
        smbServerFqdn: fullyqualified.domainname.com
        subnet: 1.2.3.4
        startIp: 1.2.3.4
        fileSystemId: 9760acf5-4638-11e7-9bdb-020073ca3333
        netmask: 255.255.255.0
        ipAddress: 1.2.3.4
        provisioningState: provisioningState
        mountTargetId: 9760acf5-4638-11e7-9bdb-020073ca3333
        gateway: 1.2.3.4
      properties:
        endIp:
          description: The end of IPv4 address range to use when creating a new mount
            target
          example: 1.2.3.4
          title: endIp
          type: string
        fileSystemId:
          description: UUID v4 used to identify the MountTarget
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
[...]
