openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "This API is a prerequisite for leveraging Artifact Analysis scanning\
    \ capabilities in both Artifact Registry and with Advanced Vulnerability Insights\
    \ (runtime scanning) in GKE. In addition, the Container Analysis API is an implementation\
    \ of the Grafeas API, which enables storing, querying, and retrieval of critical\
    \ metadata about all of your software artifacts."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Container Analysis API
  version: v1alpha1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://containeranalysis.googleapis.com/$discovery/rest?version=v1alpha1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: containeranalysis
externalDocs:
  url: https://cloud.google.com/container-analysis/api/reference/rest/
servers:
- url: https://containeranalysis.googleapis.com/
tags:
- name: projects
- name: providers
paths:
  /v1alpha1/{name}:
    delete:
      description: Deletes the given `Note` from the system.
      operationId: containeranalysis.providers.notes.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-accepts:
      - application/json
    get:
      description: Returns the requested `Note`.
      operationId: containeranalysis.providers.notes.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-accepts:
      - application/json
    patch:
      description: Updates an existing `Note`.
      operationId: containeranalysis.providers.notes.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\"\
          ."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{name}/notes:
    get:
      description: Lists all `Notes` for a given project.
      operationId: containeranalysis.providers.notes.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name field will contain the project Id for example: \"providers/{provider_id}\
          \ @Deprecated"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Number of notes to return in the list.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "This field contains the project Id for example: \"projects/{PROJECT_ID}\"\
          ."
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-accepts:
      - application/json
    post:
      description: Creates a new `Note`.
      operationId: containeranalysis.providers.notes.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the project. Should be of the form \"providers/{provider_id}\"\
          . @Deprecated"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The ID to use for this note.
        explode: true
        in: query
        name: noteId
        required: false
        schema:
          type: string
        style: form
      - description: "This field contains the project Id for example: \"projects/{project_id}"
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{name}/occurrences:
    get:
      description: Lists `Occurrences` referencing the specified `Note`. Use this
        method to get all occurrences referencing your `Note` across all your customer
        projects.
      operationId: containeranalysis.providers.notes.occurrences.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Number of notes to return in the list.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNoteOccurrencesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-accepts:
      - application/json
  /v1alpha1/{parent}/notes:
    get:
      description: Lists all `Notes` for a given project.
      operationId: containeranalysis.projects.notes.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This field contains the project Id for example: \"projects/{PROJECT_ID}\"\
          ."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The name field will contain the project Id for example: \"providers/{provider_id}\
          \ @Deprecated"
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Number of notes to return in the list.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a new `Note`.
      operationId: containeranalysis.projects.notes.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This field contains the project Id for example: \"projects/{project_id}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The name of the project. Should be of the form \"providers/{provider_id}\"\
          . @Deprecated"
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The ID to use for this note.
        explode: true
        in: query
        name: noteId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{parent}/occurrences:
    get:
      description: Lists active `Occurrences` for a given project matching the filters.
      operationId: containeranalysis.projects.occurrences.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This contains the project Id for example: projects/{project_id}."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The kind of occurrences to filter on.
        explode: true
        in: query
        name: kind
        required: false
        schema:
          enum:
          - KIND_UNSPECIFIED
          - PACKAGE_VULNERABILITY
          - BUILD_DETAILS
          - IMAGE_BASIS
          - PACKAGE_MANAGER
          - DEPLOYABLE
          - DISCOVERY
          - ATTESTATION_AUTHORITY
          - UPGRADE
          - COMPLIANCE
          - SBOM
          - SPDX_PACKAGE
          - SPDX_FILE
          - SPDX_RELATIONSHIP
          - DSSE_ATTESTATION
          - VULNERABILITY_ASSESSMENT
          - SBOM_REFERENCE
          type: string
        style: form
      - description: "The name field contains the project Id. For example: \"projects/{project_id}\
          \ @Deprecated"
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Number of occurrences to return in the list.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOccurrencesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a new `Occurrence`. Use this method to create `Occurrences`
        for a resource.
      operationId: containeranalysis.projects.occurrences.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This field contains the project Id for example: \"projects/{project_id}\""
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The name of the project. Should be of the form \"projects/{project_id}\"\
          . @Deprecated"
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Occurrence'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occurrence'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{parent}/occurrences:vulnerabilitySummary:
    get:
      description: Gets a summary of the number and severity of occurrences.
      operationId: containeranalysis.projects.occurrences.getVulnerabilitySummary
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This contains the project Id for example: projects/{project_id}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVulnzOccurrencesSummaryResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1alpha1/{parent}/operations:
    post:
      description: Creates a new `Operation`.
      operationId: containeranalysis.projects.operations.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The project Id that this operation should be created under.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{parent}/scanConfigs:
    get:
      description: Lists scan configurations for a project.
      operationId: containeranalysis.projects.scanConfigs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "This containers the project Id i.e.: projects/{project_id}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The page token to use for the next request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScanConfigsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1alpha1/{resource}:getIamPolicy:
    post:
      description: "Gets the access control policy for a note or an `Occurrence` resource.\
        \ Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy`\
        \ permission if the resource is a note or occurrence, respectively. Attempting\
        \ to call this method on a resource without the required permission will result\
        \ in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent\
        \ resource will result in a `NOT_FOUND` error if the user has list permission\
        \ on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes\
        \ the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}`\
        \ for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes"
      operationId: containeranalysis.providers.notes.getIamPolicy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIamPolicyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified `Note` or `Occurrence`.\
        \ Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy`\
        \ permission if the resource is a `Note` or an `Occurrence`, respectively.\
        \ Attempting to call this method without these permissions will result in\
        \ a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent\
        \ resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list`\
        \ permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`,\
        \ or a `PERMISSION_DENIED` error otherwise. The resource takes the following\
        \ formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences\
        \ and projects/{projectid}/notes/{noteid} for notes"
      operationId: containeranalysis.providers.notes.setIamPolicy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha1/{resource}:testIamPermissions:
    post:
      description: "Returns the permissions that a caller has on the specified note\
        \ or occurrence resource. Requires list permission on the project (for example,\
        \ \"storage.objects.list\" on the containing bucket for testing permission\
        \ of an object). Attempting to call this method on a non-existent resource\
        \ will result in a `NOT_FOUND` error if the user has list permission on the\
        \ project, or a `PERMISSION_DENIED` error otherwise. The resource takes the\
        \ following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for\
        \ `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`"
      operationId: containeranalysis.providers.notes.testIamPermissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - providers
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AnalysisCompleted:
      description: Indicates which analysis completed successfully. Multiple types
        of analysis can be performed on a single resource.
      example:
        analysisType:
        - analysisType
        - analysisType
      properties:
        analysisType:
          description: type of analysis that were completed on a resource.
          items:
            type: string
          type: array
      type: object
    Artifact:
      description: Artifact describes a build product.
      example:
        names:
        - names
        - names
        checksum: checksum
        name: name
        id: id
      properties:
        checksum:
          description: "Hash or checksum value of a binary, or Docker Registry 2.0\
            \ digest of a container."
          type: string
        id:
          description: "Artifact ID, if any; for container images, this will be a\
            \ URL by digest like gcr.io/projectID/imagename@sha256:123456"
          type: string
        name:
          deprecated: true
          description: "Name of the artifact. This may be the path to a binary or\
            \ jar file, or in the case of a container build, the name used to push\
            \ the container image to Google Container Registry, as presented to `docker\
            \ push`. This field is deprecated in favor of the plural `names` field;\
            \ it continues to exist here to allow existing BuildProvenance serialized\
            \ to json in google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes\
            \ to deserialize back into proto."
          type: string
        names:
          description: "Related artifact names. This may be the path to a binary or\
            \ jar file, or in the case of a container build, the name used to push\
            \ the container image to Google Container Registry, as presented to `docker\
            \ push`. Note that a single Artifact ID can have multiple names, for example\
            \ if two tags are applied to one image."
          items:
            type: string
          type: array
      type: object
    Assessment:
      description: Assessment provides all information that is related to a single
        vulnerability for this product.
      example:
        longDescription: longDescription
        cve: cve
        vulnerabilityId: vulnerabilityId
        relatedUris:
        - label: label
          uri: uri
        - label: label
          uri: uri
        remediations:
        - remediationType: REMEDIATION_TYPE_UNSPECIFIED
          remediationUri:
            label: label
            uri: uri
          details: details
        - remediationType: REMEDIATION_TYPE_UNSPECIFIED
          remediationUri:
            label: label
            uri: uri
          details: details
        impacts:
        - impacts
        - impacts
        justification:
          justificationType: JUSTIFICATION_TYPE_UNSPECIFIED
          details: details
        shortDescription: shortDescription
        state: STATE_UNSPECIFIED
      properties:
        cve:
          description: Holds the MITRE standard Common Vulnerabilities and Exposures
            (CVE) tracking number for the vulnerability.
          type: string
        impacts:
          description: "Contains information about the impact of this vulnerability,\
            \ this will change with time."
          items:
            type: string
          type: array
        justification:
          $ref: '#/components/schemas/Justification'
        longDescription:
          description: A detailed description of this Vex.
          type: string
        relatedUris:
          description: Holds a list of references associated with this vulnerability
            item and assessment. These uris have additional information about the
            vulnerability and the assessment itself. E.g. Link to a document which
            details how this assessment concluded the state of this vulnerability.
          items:
            $ref: '#/components/schemas/URI'
          type: array
        remediations:
          description: "Specifies details on how to handle (and presumably, fix) a\
            \ vulnerability."
          items:
            $ref: '#/components/schemas/Remediation'
          type: array
        shortDescription:
          description: A one sentence description of this Vex.
          type: string
        state:
          description: Provides the state of this Vulnerability assessment.
          enum:
          - STATE_UNSPECIFIED
          - AFFECTED
          - NOT_AFFECTED
          - FIXED
          - UNDER_INVESTIGATION
          type: string
        vulnerabilityId:
          description: "The vulnerability identifier for this Assessment. Will hold\
            \ one of common identifiers e.g. CVE, GHSA etc."
          type: string
      type: object
    Attestation:
      description: "Occurrence that represents a single \"attestation\". The authenticity\
        \ of an Attestation can be verified using the attached signature. If the verifier\
        \ trusts the public key of the signer, then verifying the signature is sufficient\
        \ to establish trust. In this circumstance, the AttestationAuthority to which\
        \ this Attestation is attached is primarily useful for look-up (how to find\
        \ this Attestation if you already know the Authority and artifact to be verified)\
        \ and intent (which authority was this attestation intended to sign for)."
      example:
        pgpSignedAttestation:
          pgpKeyId: pgpKeyId
          signature: signature
          contentType: CONTENT_TYPE_UNSPECIFIED
      properties:
        pgpSignedAttestation:
          $ref: '#/components/schemas/PgpSignedAttestation'
      type: object
    AttestationAuthority:
      description: "Note kind that represents a logical attestation \"role\" or \"\
        authority\". For example, an organization might have one `AttestationAuthority`\
        \ for \"QA\" and one for \"build\". This Note is intended to act strictly\
        \ as a grouping mechanism for the attached Occurrences (Attestations). This\
        \ grouping mechanism also provides a security boundary, since IAM ACLs gate\
        \ the ability for a principle to attach an Occurrence to a given Note. It\
        \ also provides a single point of lookup to find all attached Attestation\
        \ Occurrences, even if they don't all live in the same project."
      example:
        hint:
          humanReadableName: humanReadableName
      properties:
        hint:
          $ref: '#/components/schemas/AttestationAuthorityHint'
      type: object
    AttestationAuthorityHint:
      description: "This submessage provides human-readable hints about the purpose\
        \ of the AttestationAuthority. Because the name of a Note acts as its resource\
        \ reference, it is important to disambiguate the canonical name of the Note\
        \ (which might be a UUID for security purposes) from \"readable\" names more\
        \ suitable for debug output. Note that these hints should NOT be used to look\
        \ up AttestationAuthorities in security sensitive contexts, such as when looking\
        \ up Attestations to verify."
      example:
        humanReadableName: humanReadableName
      properties:
        humanReadableName:
          description: "The human readable name of this Attestation Authority, for\
            \ example \"qa\"."
          type: string
      type: object
    Basis:
      description: "Basis describes the base image portion (Note) of the DockerImage\
        \ relationship. Linked occurrences are derived from this or an equivalent\
        \ image via: FROM Or an equivalent reference, e.g. a tag of the resource_url."
      example:
        resourceUrl: resourceUrl
        fingerprint:
          v1Name: v1Name
          v2Blob:
          - v2Blob
          - v2Blob
          v2Name: v2Name
      properties:
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
        resourceUrl:
          description: The resource_url for the resource representing the basis of
            associated occurrence images.
          type: string
      type: object
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an\
            \ overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview).\
            \ For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          type: string
      type: object
    BuildDefinition:
      example:
        buildType: buildType
        internalParameters:
          key: ""
        resolvedDependencies:
        - digest:
            key: digest
          name: name
          annotations:
            key: ""
          downloadLocation: downloadLocation
          mediaType: mediaType
          uri: uri
          content: content
        - digest:
            key: digest
          name: name
          annotations:
            key: ""
          downloadLocation: downloadLocation
          mediaType: mediaType
          uri: uri
          content: content
        externalParameters:
          key: ""
      properties:
        buildType:
          type: string
        externalParameters:
          additionalProperties:
            description: Properties of the object.
          type: object
        internalParameters:
          additionalProperties:
            description: Properties of the object.
          type: object
        resolvedDependencies:
          items:
            $ref: '#/components/schemas/ResourceDescriptor'
          type: array
      type: object
    BuildDetails:
      description: Message encapsulating build provenance details.
      example:
        provenance:
          creator: creator
          finishTime: finishTime
          triggerId: triggerId
          buildOptions:
            key: buildOptions
          sourceProvenance:
            artifactStorageSource:
              bucket: bucket
              generation: generation
              object: object
            additionalContexts:
            - git:
                revisionId: revisionId
                url: url
              gerrit:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                hostUri: hostUri
                gerritProject: gerritProject
              cloudRepo:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                repoId:
                  uid: uid
                  projectRepoId:
                    repoName: repoName
                    projectId: projectId
              labels:
                key: labels
            - git:
                revisionId: revisionId
                url: url
              gerrit:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                hostUri: hostUri
                gerritProject: gerritProject
              cloudRepo:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                repoId:
                  uid: uid
                  projectRepoId:
                    repoName: repoName
                    projectId: projectId
              labels:
                key: labels
            context:
              git:
                revisionId: revisionId
                url: url
              gerrit:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                hostUri: hostUri
                gerritProject: gerritProject
              cloudRepo:
                aliasContext:
                  kind: KIND_UNSPECIFIED
                  name: name
                revisionId: revisionId
                repoId:
                  uid: uid
                  projectRepoId:
                    repoName: repoName
                    projectId: projectId
              labels:
                key: labels
            fileHashes:
              key:
                fileHash:
                - type: NONE
                  value: value
                - type: NONE
                  value: value
            storageSource:
              bucket: bucket
              generation: generation
              object: object
            repoSource:
              repoName: repoName
              branchName: branchName
              commitSha: commitSha
              tagName: tagName
              projectId: projectId
          createTime: createTime
          logsBucket: logsBucket
          builderVersion: builderVersion
          builtArtifacts:
          - names:
            - names
            - names
            checksum: checksum
            name: name
            id: id
          - names:
            - names
            - names
            checksum: checksum
            name: name
            id: id
          startTime: startTime
          id: id
          projectId: projectId
          commands:
          - args:
            - args
            - args
            name: name
            id: id
            dir: dir
            env:
            - env
            - env
            waitFor:
            - waitFor
            - waitFor
          - args:
            - args
            - args
            name: name
            id: id
            dir: dir
            env:
            - env
            - env
            waitFor:
            - waitFor
            - waitFor
        provenanceBytes: provenanceBytes
        intotoStatement:
          provenance:
            metadata:
              buildFinishedOn: buildFinishedOn
              buildStartedOn: buildStartedOn
              reproducible: true
              buildInvocationId: buildInvocationId
              completeness:
                environment: true
                materials: true
                arguments: true
            builderConfig:
              id: id
            materials:
            - materials
            - materials
            recipe:
              environment:
              - key: ""
              - key: ""
              arguments:
              - key: ""
              - key: ""
              entryPoint: entryPoint
              type: type
              definedInMaterial: definedInMaterial
          predicateType: predicateType
          subject:
          - digest:
              key: digest
            name: name
          - digest:
              key: digest
            name: name
          _type: _type
          slsaProvenanceZeroTwo:
            buildConfig:
              key: ""
            invocation:
              environment:
                key: ""
              configSource:
                digest:
                  key: digest
                entryPoint: entryPoint
                uri: uri
              parameters:
                key: ""
            metadata:
              buildFinishedOn: buildFinishedOn
              buildStartedOn: buildStartedOn
              reproducible: true
              buildInvocationId: buildInvocationId
              completeness:
                environment: true
                materials: true
                parameters: true
            materials:
            - digest:
                key: digest
              uri: uri
            - digest:
                key: digest
              uri: uri
            buildType: buildType
            builder:
              id: id
          slsaProvenance:
            metadata:
              buildFinishedOn: buildFinishedOn
              buildStartedOn: buildStartedOn
              reproducible: true
              buildInvocationId: buildInvocationId
              completeness:
                environment: true
                materials: true
                arguments: true
            materials:
            - digest:
                key: digest
              uri: uri
            - digest:
                key: digest
              uri: uri
            builder:
              id: id
            recipe:
              environment:
                key: ""
              arguments:
                key: ""
              entryPoint: entryPoint
              type: type
              definedInMaterial: definedInMaterial
        inTotoSlsaProvenanceV1:
          predicate:
            runDetails:
              metadata:
                finishedOn: finishedOn
                invocationId: invocationId
                startedOn: startedOn
              builder:
                builderDependencies:
                - digest:
                    key: digest
                  name: name
                  annotations:
                    key: ""
                  downloadLocation: downloadLocation
                  mediaType: mediaType
                  uri: uri
                  content: content
                - digest:
                    key: digest
                  name: name
                  annotations:
                    key: ""
                  downloadLocation: downloadLocation
                  mediaType: mediaType
                  uri: uri
                  content: content
                id: id
                version:
                  key: version
              byproducts:
              - digest:
                  key: digest
                name: name
                annotations:
                  key: ""
                downloadLocation: downloadLocation
                mediaType: mediaType
                uri: uri
                content: content
              - digest:
                  key: digest
                name: name
                annotations:
                  key: ""
                downloadLocation: downloadLocation
                mediaType: mediaType
                uri: uri
                content: content
            buildDefinition:
              buildType: buildType
              internalParameters:
                key: ""
              resolvedDependencies:
              - digest:
                  key: digest
                name: name
                annotations:
                  key: ""
                downloadLocation: downloadLocation
                mediaType: mediaType
                uri: uri
                content: content
              - digest:
                  key: digest
                name: name
                annotations:
                  key: ""
                downloadLocation: downloadLocation
                mediaType: mediaType
                uri: uri
                content: content
              externalParameters:
                key: ""
          predicateType: predicateType
          subject:
          - digest:
              key: digest
            name: name
          - digest:
              key: digest
            name: name
          _type: _type
        intotoProvenance:
          metadata:
            buildFinishedOn: buildFinishedOn
            buildStartedOn: buildStartedOn
            reproducible: true
            buildInvocationId: buildInvocationId
            completeness:
              environment: true
              materials: true
              arguments: true
          builderConfig:
            id: id
          materials:
          - materials
          - materials
          recipe:
            environment:
            - key: ""
            - key: ""
            arguments:
            - key: ""
            - key: ""
            entryPoint: entryPoint
            type: type
            definedInMaterial: definedInMaterial
      properties:
        inTotoSlsaProvenanceV1:
          $ref: '#/components/schemas/InTotoSlsaProvenanceV1'
        intotoProvenance:
          $ref: '#/components/schemas/InTotoProvenance'
        intotoStatement:
          $ref: '#/components/schemas/InTotoStatement'
        provenance:
          $ref: '#/components/schemas/BuildProvenance'
        provenanceBytes:
          description: "Serialized JSON representation of the provenance, used in\
            \ generating the `BuildSignature` in the corresponding Result. After verifying\
            \ the signature, `provenance_bytes` can be unmarshalled and compared to\
            \ the provenance to confirm that it is unchanged. A base64-encoded string\
            \ representation of the provenance bytes is used for the signature in\
            \ order to interoperate with openssl which expects this format for signature\
            \ verification. The serialized form is captured both to avoid ambiguity\
            \ in how the provenance is marshalled to json as well to prevent incompatibilities\
            \ with future changes."
          type: string
      type: object
    BuildMetadata:
      example:
        finishedOn: finishedOn
        invocationId: invocationId
        startedOn: startedOn
      properties:
        finishedOn:
          format: google-datetime
          type: string
        invocationId:
          type: string
        startedOn:
          format: google-datetime
          type: string
      type: object
    BuildProvenance:
      description: Provenance of a build. Contains all information needed to verify
        the full details about the build from source to completion.
      example:
        creator: creator
        finishTime: finishTime
        triggerId: triggerId
        buildOptions:
          key: buildOptions
        sourceProvenance:
          artifactStorageSource:
            bucket: bucket
            generation: generation
            object: object
          additionalContexts:
          - git:
              revisionId: revisionId
              url: url
            gerrit:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              hostUri: hostUri
              gerritProject: gerritProject
            cloudRepo:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              repoId:
                uid: uid
                projectRepoId:
                  repoName: repoName
                  projectId: projectId
            labels:
              key: labels
          - git:
              revisionId: revisionId
              url: url
            gerrit:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              hostUri: hostUri
              gerritProject: gerritProject
            cloudRepo:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              repoId:
                uid: uid
                projectRepoId:
                  repoName: repoName
                  projectId: projectId
            labels:
              key: labels
          context:
            git:
              revisionId: revisionId
              url: url
            gerrit:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              hostUri: hostUri
              gerritProject: gerritProject
            cloudRepo:
              aliasContext:
                kind: KIND_UNSPECIFIED
                name: name
              revisionId: revisionId
              repoId:
                uid: uid
                projectRepoId:
                  repoName: repoName
                  projectId: projectId
            labels:
[...]
