openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Generates performance reports, generates ad codes, and provides publisher\
    \ management capabilities for AdSense Hosts."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: AdSense Host API
  version: v4.1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://adsensehost.googleapis.com/$discovery/rest?version=v4.1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: adsensehost
externalDocs:
  url: https://developers.google.com/adsense/host/
servers:
- url: https://www.googleapis.com/adsensehost/v4.1
tags:
- name: accounts
- name: adclients
- name: associationsessions
- name: customchannels
- name: reports
- name: urlchannels
paths:
  /accounts:
    get:
      description: List hosted accounts associated with this AdSense account by ad
        client id.
      operationId: adsensehost_accounts_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad clients to list accounts for.
        explode: true
        in: query
        name: filterAdClientId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}:
    get:
      description: Get information about the selected associated AdSense account.
      operationId: adsensehost_accounts_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account to get information about.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}/adclients:
    get:
      description: List all hosted ad clients in the specified hosted account.
      operationId: adsensehost_accounts_adclients_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account for which to list ad clients.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of ad clients to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad clients. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClients'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}/adclients/{adClientId}:
    get:
      description: Get information about one of the ad clients in the specified publisher's
        AdSense account.
      operationId: adsensehost_accounts_adclients_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client to get.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClient'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}/adclients/{adClientId}/adunits:
    get:
      description: List all ad units in the specified publisher's AdSense account.
      operationId: adsensehost_accounts_adunits_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to list ad units.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "Whether to include inactive ad units. Default: true."
        explode: true
        in: query
        name: includeInactive
        required: false
        schema:
          type: boolean
        style: form
      - description: "The maximum number of ad units to include in the response, used\
          \ for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad units. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnits'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    patch:
      description: Update the supplied ad unit in the specified publisher AdSense
        account. This method supports patch semantics.
      operationId: adsensehost_accounts_adunits_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client which contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get.
        explode: true
        in: query
        name: adUnitId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
    post:
      description: Insert the supplied ad unit into the specified publisher AdSense
        account.
      operationId: adsensehost_accounts_adunits_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which will contain the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client into which to insert the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
    put:
      description: Update the supplied ad unit in the specified publisher AdSense
        account.
      operationId: adsensehost_accounts_adunits_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client which contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}:
    delete:
      description: Delete the specified ad unit from the specified publisher AdSense
        account.
      operationId: adsensehost_accounts_adunits_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to get ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to delete.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    get:
      description: Get the specified host ad unit in this AdSense account.
      operationId: adsensehost_accounts_adunits_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to get ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode:
    get:
      description: "Get ad code for the specified ad unit, attaching the specified\
        \ host custom channels."
      operationId: adsensehost_accounts_adunits_get_ad_code
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client with contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get the code for.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      - description: Host custom channel to attach to the ad code.
        explode: true
        in: query
        name: hostCustomChannelId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCode'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{accountId}/reports:
    get:
      description: Generate an AdSense report based on the report request sent in
        the query parameters. Returns the result as JSON; to retrieve output in CSV
        format specify "alt=csv" as a query parameter.
      operationId: adsensehost_accounts_reports_generate
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Hosted account upon which to report.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "Start of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: "End of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Dimensions to base the report on.
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters to be run on the report.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional locale to use for translating report output to a local
          language. Defaults to "en_US" if not specified.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of rows of report data to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      - description: Numeric columns to include in the report.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The name of a dimension or metric to sort the resulting report\
          \ on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort\
          \ descending. If no prefix is specified, the column is sorted ascending."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Index of the first row of report data to return.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /adclients:
    get:
      description: List all host ad clients in this AdSense account.
      operationId: adsensehost_adclients_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of ad clients to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad clients. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClients'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - adclients
      x-openapi-router-controller: openapi_server.controllers.adclients_controller
  /adclients/{adClientId}:
    get:
      description: Get information about one of the ad clients in the Host AdSense
        account.
      operationId: adsensehost_adclients_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to get.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClient'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - adclients
      x-openapi-router-controller: openapi_server.controllers.adclients_controller
  /adclients/{adClientId}/customchannels:
    get:
      description: List all host custom channels in this AdSense account.
      operationId: adsensehost_customchannels_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client for which to list custom channels.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of custom channels to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through custom channels.\
          \ To retrieve the next page, set this parameter to the value of \"nextPageToken\"\
          \ from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannels'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
    patch:
      description: Update a custom channel in the host AdSense account. This method
        supports patch semantics.
      operationId: adsensehost_customchannels_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client in which the custom channel will be updated.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to get.
        explode: true
        in: query
        name: customChannelId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
      x-codegen-request-body-name: body
    post:
      description: Add a new custom channel to the host AdSense account.
      operationId: adsensehost_customchannels_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to which the new custom channel will be added.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
      x-codegen-request-body-name: body
    put:
      description: Update a custom channel in the host AdSense account.
      operationId: adsensehost_customchannels_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client in which the custom channel will be updated.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
      x-codegen-request-body-name: body
  /adclients/{adClientId}/customchannels/{customChannelId}:
    delete:
      description: Delete a specific custom channel from the host AdSense account.
      operationId: adsensehost_customchannels_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to delete the custom channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to delete.
        explode: false
        in: path
        name: customChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
    get:
      description: Get a specific custom channel from the host AdSense account.
      operationId: adsensehost_customchannels_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to get the custom channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to get.
        explode: false
        in: path
        name: customChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-openapi-router-controller: openapi_server.controllers.customchannels_controller
  /adclients/{adClientId}/urlchannels:
    get:
      description: List all host URL channels in the host AdSense account.
      operationId: adsensehost_urlchannels_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client for which to list URL channels.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of URL channels to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through URL channels. To\
          \ retrieve the next page, set this parameter to the value of \"nextPageToken\"\
          \ from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannels'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-openapi-router-controller: openapi_server.controllers.urlchannels_controller
    post:
      description: Add a new URL channel to the host AdSense account.
      operationId: adsensehost_urlchannels_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to which the new URL channel will be added.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlChannel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-openapi-router-controller: openapi_server.controllers.urlchannels_controller
      x-codegen-request-body-name: body
  /adclients/{adClientId}/urlchannels/{urlChannelId}:
    delete:
      description: Delete a URL channel from the host AdSense account.
      operationId: adsensehost_urlchannels_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to delete the URL channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: URL channel to delete.
        explode: false
        in: path
        name: urlChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-openapi-router-controller: openapi_server.controllers.urlchannels_controller
  /associationsessions/start:
    get:
      description: Create an association session for initiating an association with
        an AdSense user.
      operationId: adsensehost_associationsessions_start
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Products to associate with the user.
        explode: true
        in: query
        name: productCode
        required: true
        schema:
          items:
            enum:
            - AFC
            - AFG
            - AFMC
            - AFS
            - AFV
            type: string
          type: array
        style: form
      - description: The URL of the user's hosted website.
        explode: true
        in: query
        name: websiteUrl
        required: true
        schema:
          type: string
        style: form
      - description: The URL to redirect the user to once association is completed.
          It receives a token parameter that can then be used to retrieve the associated
          account.
        explode: true
        in: query
        name: callbackUrl
        required: false
        schema:
          type: string
        style: form
      - description: The preferred locale of the user.
        explode: true
        in: query
        name: userLocale
        required: false
        schema:
          type: string
        style: form
      - description: The locale of the user's hosted website.
        explode: true
        in: query
        name: websiteLocale
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - associationsessions
      x-openapi-router-controller: openapi_server.controllers.associationsessions_controller
  /associationsessions/verify:
    get:
      description: Verify an association session after the association callback returns
        from AdSense signup.
      operationId: adsensehost_associationsessions_verify
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The token returned to the association callback URL.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - associationsessions
      x-openapi-router-controller: openapi_server.controllers.associationsessions_controller
  /reports:
    get:
      description: Generate an AdSense report based on the report request sent in
        the query parameters. Returns the result as JSON; to retrieve output in CSV
        format specify "alt=csv" as a query parameter.
      operationId: adsensehost_reports_generate
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Start of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: "End of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Dimensions to base the report on.
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters to be run on the report.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional locale to use for translating report output to a local
          language. Defaults to "en_US" if not specified.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of rows of report data to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      - description: Numeric columns to include in the report.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The name of a dimension or metric to sort the resulting report\
          \ on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort\
          \ descending. If no prefix is specified, the column is sorted ascending."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Index of the first row of report data to return.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - csv
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    Account:
      example:
        kind: adsensehost#account
        name: name
        id: id
        status: status
      properties:
        id:
          description: Unique identifier of this account.
          title: id
          type: string
        kind:
          default: adsensehost#account
          description: "Kind of resource this is, in this case adsensehost#account."
          title: kind
          type: string
        name:
          description: Name of this account.
          title: name
          type: string
        status:
          description: "Approval status of this account. One of: PENDING, APPROVED,\
            \ DISABLED."
          title: status
          type: string
      title: Account
      type: object
    Accounts:
      example:
        kind: adsensehost#accounts
        etag: etag
        items:
        - kind: adsensehost#account
          name: name
          id: id
          status: status
        - kind: adsensehost#account
          name: name
          id: id
          status: status
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        items:
          description: The accounts returned in this list response.
          items:
            $ref: '#/components/schemas/Account'
          title: items
          type: array
        kind:
          default: adsensehost#accounts
          description: "Kind of list this is, in this case adsensehost#accounts."
          title: kind
          type: string
      title: Accounts
      type: object
    AdClient:
      example:
        arcOptIn: true
        productCode: productCode
        kind: adsensehost#adClient
        supportsReporting: true
        id: id
      properties:
        arcOptIn:
          description: Whether this ad client is opted in to ARC.
          title: arcOptIn
          type: boolean
        id:
          description: Unique identifier of this ad client.
          title: id
          type: string
        kind:
          default: adsensehost#adClient
          description: "Kind of resource this is, in this case adsensehost#adClient."
          title: kind
          type: string
        productCode:
          description: "This ad client's product code, which corresponds to the PRODUCT_CODE\
            \ report dimension."
          title: productCode
          type: string
        supportsReporting:
          description: Whether this ad client supports being reported on.
          title: supportsReporting
          type: boolean
      title: AdClient
      type: object
    AdClients:
      example:
        kind: adsensehost#adClients
        nextPageToken: nextPageToken
        etag: etag
        items:
        - arcOptIn: true
          productCode: productCode
          kind: adsensehost#adClient
          supportsReporting: true
          id: id
        - arcOptIn: true
          productCode: productCode
          kind: adsensehost#adClient
          supportsReporting: true
          id: id
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        items:
          description: The ad clients returned in this list response.
          items:
            $ref: '#/components/schemas/AdClient'
          title: items
          type: array
        kind:
          default: adsensehost#adClients
          description: "Kind of list this is, in this case adsensehost#adClients."
          title: kind
          type: string
        nextPageToken:
          description: "Continuation token used to page through ad clients. To retrieve\
            \ the next page of results, set the next request's \"pageToken\" value\
            \ to this."
          title: nextPageToken
          type: string
      title: AdClients
      type: object
    AdCode:
      example:
        kind: adsensehost#adCode
        adCode: adCode
      properties:
        adCode:
          description: The ad code snippet.
          title: adCode
          type: string
        kind:
          default: adsensehost#adCode
          description: "Kind this is, in this case adsensehost#adCode."
          title: kind
          type: string
      title: AdCode
      type: object
    AdStyle:
      example:
        corners: corners
        kind: adsensehost#adStyle
        colors:
          border: border
          background: background
          text: text
          title: title
          url: url
        font:
          size: size
          family: family
      properties:
        colors:
          $ref: '#/components/schemas/AdStyle_colors'
        corners:
          description: "The style of the corners in the ad (deprecated: never populated,\
            \ ignored)."
          title: corners
          type: string
        font:
          $ref: '#/components/schemas/AdStyle_font'
        kind:
          default: adsensehost#adStyle
          description: "Kind this is, in this case adsensehost#adStyle."
          title: kind
          type: string
      title: AdStyle
      type: object
    AdUnit:
      example:
        code: code
        customStyle:
          corners: corners
          kind: adsensehost#adStyle
          colors:
            border: border
            background: background
            text: text
            title: title
            url: url
          font:
            size: size
            family: family
        kind: adsensehost#adUnit
        name: name
        id: id
        mobileContentAdsSettings:
          markupLanguage: markupLanguage
          size: size
          scriptingLanguage: scriptingLanguage
          type: type
        contentAdsSettings:
          size: size
          backupOption:
            color: color
            type: type
            url: url
          type: type
        status: status
      properties:
        code:
          description: "Identity code of this ad unit, not necessarily unique across\
            \ ad clients."
          title: code
          type: string
        contentAdsSettings:
          $ref: '#/components/schemas/AdUnit_contentAdsSettings'
        customStyle:
          $ref: '#/components/schemas/AdStyle'
        id:
          description: Unique identifier of this ad unit. This should be considered
            an opaque identifier; it is not safe to rely on it being in any particular
            format.
          title: id
          type: string
        kind:
          default: adsensehost#adUnit
          description: "Kind of resource this is, in this case adsensehost#adUnit."
          title: kind
          type: string
        mobileContentAdsSettings:
          $ref: '#/components/schemas/AdUnit_mobileContentAdsSettings'
        name:
          description: Name of this ad unit.
          title: name
          type: string
        status:
          description: |-
            Status of this ad unit. Possible values are:
            NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

            ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

            INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
          title: status
          type: string
      title: AdUnit
      type: object
    AdUnits:
      example:
        kind: adsensehost#adUnits
        nextPageToken: nextPageToken
        etag: etag
        items:
        - code: code
          customStyle:
            corners: corners
            kind: adsensehost#adStyle
            colors:
              border: border
              background: background
              text: text
              title: title
              url: url
            font:
              size: size
              family: family
          kind: adsensehost#adUnit
          name: name
          id: id
          mobileContentAdsSettings:
            markupLanguage: markupLanguage
            size: size
            scriptingLanguage: scriptingLanguage
            type: type
          contentAdsSettings:
            size: size
            backupOption:
              color: color
              type: type
              url: url
            type: type
          status: status
        - code: code
          customStyle:
            corners: corners
            kind: adsensehost#adStyle
            colors:
              border: border
              background: background
              text: text
              title: title
              url: url
            font:
              size: size
              family: family
          kind: adsensehost#adUnit
          name: name
          id: id
          mobileContentAdsSettings:
            markupLanguage: markupLanguage
            size: size
            scriptingLanguage: scriptingLanguage
            type: type
          contentAdsSettings:
            size: size
            backupOption:
              color: color
              type: type
              url: url
            type: type
          status: status
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        items:
          description: The ad units returned in this list response.
          items:
            $ref: '#/components/schemas/AdUnit'
          title: items
          type: array
        kind:
          default: adsensehost#adUnits
          description: "Kind of list this is, in this case adsensehost#adUnits."
          title: kind
          type: string
        nextPageToken:
          description: "Continuation token used to page through ad units. To retrieve\
            \ the next page of results, set the next request's \"pageToken\" value\
            \ to this."
          title: nextPageToken
          type: string
      title: AdUnits
      type: object
    AssociationSession:
      example:
        accountId: accountId
        redirectUrl: redirectUrl
        userLocale: userLocale
        websiteUrl: websiteUrl
        kind: adsensehost#associationSession
        websiteLocale: websiteLocale
        id: id
        productCodes:
        - productCodes
        - productCodes
        status: status
      properties:
        accountId:
          description: Hosted account id of the associated publisher after association.
            Present if status is ACCEPTED.
          title: accountId
          type: string
        id:
          description: Unique identifier of this association session.
          title: id
          type: string
        kind:
          default: adsensehost#associationSession
          description: "Kind of resource this is, in this case adsensehost#associationSession."
          title: kind
          type: string
        productCodes:
          description: "The products to associate with the user. Options: AFC, AFG,\
            \ AFV, AFS (deprecated), AFMC (deprecated)"
          items:
            type: string
          title: productCodes
          type: array
        redirectUrl:
          description: Redirect URL of this association session. Used to redirect
            users into the AdSense association flow.
          title: redirectUrl
          type: string
        status:
          description: "Status of the completed association, available once the association\
            \ callback token has been verified. One of ACCEPTED, REJECTED, or ERROR."
          title: status
          type: string
        userLocale:
          description: The preferred locale of the user themselves when going through
            the AdSense association flow.
          title: userLocale
          type: string
        websiteLocale:
          description: The locale of the user's hosted website.
          title: websiteLocale
          type: string
        websiteUrl:
          description: The URL of the user's hosted website.
          title: websiteUrl
          type: string
      title: AssociationSession
      type: object
    CustomChannel:
      example:
        code: code
        kind: adsensehost#customChannel
        name: name
        id: id
      properties:
        code:
          description: "Code of this custom channel, not necessarily unique across\
            \ ad clients."
          title: code
          type: string
        id:
          description: Unique identifier of this custom channel. This should be considered
            an opaque identifier; it is not safe to rely on it being in any particular
            format.
          title: id
          type: string
        kind:
          default: adsensehost#customChannel
          description: "Kind of resource this is, in this case adsensehost#customChannel."
          title: kind
          type: string
        name:
          description: Name of this custom channel.
          title: name
          type: string
      title: CustomChannel
      type: object
    CustomChannels:
      example:
        kind: adsensehost#customChannels
        nextPageToken: nextPageToken
        etag: etag
        items:
        - code: code
          kind: adsensehost#customChannel
          name: name
          id: id
        - code: code
          kind: adsensehost#customChannel
          name: name
          id: id
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        items:
          description: The custom channels returned in this list response.
          items:
            $ref: '#/components/schemas/CustomChannel'
          title: items
          type: array
        kind:
          default: adsensehost#customChannels
          description: "Kind of list this is, in this case adsensehost#customChannels."
          title: kind
          type: string
        nextPageToken:
          description: "Continuation token used to page through custom channels. To\
            \ retrieve the next page of results, set the next request's \"pageToken\"\
            \ value to this."
          title: nextPageToken
          type: string
      title: CustomChannels
      type: object
    Report:
      example:
        headers:
        - name: name
          currency: currency
          type: type
        - name: name
          currency: currency
          type: type
        kind: adsensehost#report
        warnings:
        - warnings
        - warnings
        averages:
        - averages
        - averages
        totalMatchedRows: totalMatchedRows
        totals:
        - totals
        - totals
        rows:
        - - rows
          - rows
        - - rows
          - rows
      properties:
        averages:
          description: The averages of the report. This is the same length as any
            other row in the report; cells corresponding to dimension columns are
            empty.
          items:
            type: string
          title: averages
          type: array
        headers:
[...]
