openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/routeFilter.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-routeFilter
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/routeFilters:
    get:
      description: Gets all route filters in a subscription.
      operationId: RouteFilters_List
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterListResult'
          description: Request successful. The operation returns a list of Route Filter
            resources.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterList:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                  location: West US
                  name: filterName
                  properties:
                    peerings: []
                    provisioningState: Succeeded
                    rules:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                      name: ruleName
                      properties:
                        access: Allow
                        communities:
                        - 12076:5030
                        - 12076:5040
                        provisioningState: Succeeded
                        routeFilterRuleType: Community
                  tags:
                    key1: value1
                  type: Microsoft.Network/routeFilters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeFilters:
    get:
      description: Gets all route filters in a resource group.
      operationId: RouteFilters_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterListResult'
          description: Request successful. The operation returns a list of Route Filter
            resources.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterListByResourceGroup:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                  location: West US
                  name: filterName
                  properties:
                    peerings: []
                    provisioningState: Succeeded
                    rules:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                      name: ruleName
                      properties:
                        access: Allow
                        communities:
                        - 12076:5030
                        - 12076:5040
                        provisioningState: Succeeded
                        routeFilterRuleType: Community
                  tags:
                    key1: value1
                  type: Microsoft.Network/routeFilters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeFilters/{routeFilterName}:
    delete:
      description: Deletes the specified route filter.
      operationId: RouteFilters_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterDelete:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    get:
      description: Gets the specified route filter.
      operationId: RouteFilters_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced express route bgp peering resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilter'
          description: Request successful. The operation returns the resulting Route
            Filter resource.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterGet:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                location: West US
                name: filterName
                properties:
                  peerings: []
                  provisioningState: Succeeded
                  rules:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                    name: ruleName
                    properties:
                      access: Allow
                      communities:
                      - 12076:5030
                      - 12076:5040
                      provisioningState: Succeeded
                      routeFilterRuleType: Community
                tags:
                  key1: value1
                type: Microsoft.Network/routeFilters
      x-accepts:
      - application/json
    patch:
      description: Updates a route filter in a specified resource group.
      operationId: RouteFilters_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRouteFilter'
        description: Parameters supplied to the update route filter operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilter'
          description: Request successful. The operation returns the resulting Route
            Filter resource.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterUpdate:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            routeFilterParameters:
              properties:
                rules:
                - name: ruleName
                  properties:
                    access: Allow
                    communities:
                    - 12076:5030
                    routeFilterRuleType: Community
              tags:
                key1: value1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                location: West US
                name: filterName
                properties:
                  peerings: []
                  provisioningState: Succeeded
                  rules:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                    name: ruleName
                    properties:
                      access: Allow
                      communities:
                      - 12076:5030
                      provisioningState: Succeeded
                      routeFilterRuleType: Community
                tags:
                  key1: value1
                type: Microsoft.Network/routeFilters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: routeFilterParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a route filter in a specified resource group.
      operationId: RouteFilters_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteFilter'
        description: Parameters supplied to the create or update route filter operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilter'
          description: Request successful. The operation returns the resulting Route
            Filter resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilter'
          description: Create successful. The operation returns the resulting Route
            Filter resource.
      tags:
      - RouteFilters
      x-ms-examples:
        RouteFilterCreate:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            routeFilterParameters:
              location: West US
              properties:
                peerings: []
                rules:
                - name: ruleName
                  properties:
                    access: Allow
                    communities:
                    - 12076:5030
                    - 12076:5040
                    routeFilterRuleType: Community
              tags:
                key1: value1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                location: West US
                name: filterName
                properties:
                  peerings: []
                  provisioningState: Succeeded
                  rules:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                    name: ruleName
                    properties:
                      access: Allow
                      communities:
                      - 12076:5030
                      - 12076:5040
                      provisioningState: Succeeded
                      routeFilterRuleType: Community
                tags:
                  key1: value1
                type: Microsoft.Network/routeFilters
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName
                location: West US
                name: filterName
                properties:
                  peerings: []
                  provisioningState: Succeeded
                  rules:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                    name: ruleName
                    properties:
                      access: Allow
                      communities:
                      - 12076:5030
                      - 12076:5040
                      provisioningState: Succeeded
                      routeFilterRuleType: Community
                tags:
                  key1: value1
                type: Microsoft.Network/routeFilters
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: routeFilterParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeFilters/{routeFilterName}/routeFilterRules
  : get:
      description: Gets all RouteFilterRules in a route filter.
      operationId: RouteFilterRules_ListByRouteFilter
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterRuleListResult'
          description: Request successful. The operation returns a list of Route Filter
            Rule resources.
      tags:
      - RouteFilterRules
      x-ms-examples:
        RouteFilterRuleListByRouteFilter:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                  name: ruleName
                  properties:
                    access: Allow
                    communities:
                    - 12076:5030
                    - 12076:5040
                    provisioningState: Succeeded
                    routeFilterRuleType: Community
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeFilters/{routeFilterName}/routeFilterRules/{ruleName}
  : delete:
      description: Deletes the specified rule from a route filter.
      operationId: RouteFilterRules_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: The name of the rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Accepted.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Rule was deleted or not found.
      tags:
      - RouteFilterRules
      x-ms-examples:
        RouteFilterRuleDelete:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            ruleName: ruleName
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    get:
      description: Gets the specified rule from a route filter.
      operationId: RouteFilterRules_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: The name of the rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterRule'
          description: Request successful. The operation returns the resulting Route
            Filter Rule resource.
      tags:
      - RouteFilterRules
      x-ms-examples:
        RouteFilterRuleGet:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            ruleName: filterName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                name: ruleName
                properties:
                  access: Allow
                  communities:
                  - 12076:5030
                  - 12076:5040
                  provisioningState: Succeeded
                  routeFilterRuleType: Community
      x-accepts:
      - application/json
    patch:
      description: Updates a route in the specified route filter.
      operationId: RouteFilterRules_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: The name of the route filter rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRouteFilterRule'
        description: Parameters supplied to the update route filter rule operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterRule'
          description: Update successful. The operation returns the resulting Route
            Filter Rule resource.
      tags:
      - RouteFilterRules
      x-ms-examples:
        RouteFilterRuleUpdate:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            routeFilterRuleParameters:
              properties:
                access: Allow
                communities:
                - 12076:5030
                - 12076:5040
                routeFilterRuleType: Community
            ruleName: ruleName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                name: ruleName
                properties:
                  access: Allow
                  communities:
                  - 12076:5030
                  - 12076:5040
                  provisioningState: Succeeded
                  routeFilterRuleType: Community
      x-ms-long-running-operation: true
      x-codegen-request-body-name: routeFilterRuleParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a route in the specified route filter.
      operationId: RouteFilterRules_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route filter.
        in: path
        name: routeFilterName
        required: true
        schema:
          type: string
      - description: The name of the route filter rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteFilterRule'
        description: Parameters supplied to the create or update route filter rule
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterRule'
          description: Update successful. The operation returns the resulting Route
            Filter Rule resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteFilterRule'
          description: Create successful. The operation returns the resulting Route
            Filter Rule resource.
      tags:
      - RouteFilterRules
      x-ms-examples:
        RouteFilterRuleCreate:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            routeFilterName: filterName
            routeFilterRuleParameters:
              properties:
                access: Allow
                communities:
                - 12076:5030
                - 12076:5040
                routeFilterRuleType: Community
            ruleName: ruleName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                name: ruleName
                properties:
                  access: Allow
                  communities:
                  - 12076:5030
                  - 12076:5040
                  provisioningState: Succeeded
                  routeFilterRuleType: Community
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeFilters/filterName/routeFilterRules/ruleName
                name: ruleName
                properties:
                  access: Allow
                  communities:
                  - 12076:5030
                  - 12076:5040
                  provisioningState: Succeeded
                  routeFilterRuleType: Community
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: routeFilterRuleParameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    PatchRouteFilter:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Route Filter Resource.
      example:
        name: name
        etag: etag
        type: type
        properties:
          ipv6Peerings:
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          peerings:
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          rules:
          - name: name
            etag: etag
            location: location
            properties:
              access: Allow
              routeFilterRuleType: Community
              provisioningState: Succeeded
              communities:
              - communities
              - communities
          - name: name
            etag: etag
            location: location
            properties:
              access: Allow
              routeFilterRuleType: Community
              provisioningState: Succeeded
              communities:
              - communities
              - communities
          provisioningState: Succeeded
        tags:
          key: tags
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RouteFilterPropertiesFormat'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        type:
          description: Resource type.
          readOnly: true
          type: string
    PatchRouteFilterRule:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Route Filter Rule Resource.
      example:
        name: name
        etag: etag
        properties:
          access: Allow
          routeFilterRuleType: Community
          provisioningState: Succeeded
          communities:
          - communities
          - communities
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RouteFilterRulePropertiesFormat'
    RouteFilter:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Route Filter Resource.
      example:
        etag: etag
        properties:
          ipv6Peerings:
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          peerings:
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            type: type
            properties:
              routeFilter:
                id: id
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 3
              lastModifiedBy: lastModifiedBy
              peeredConnections:
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  connectionName: connectionName
                  provisioningState: Succeeded
                  authResourceGuid: authResourceGuid
                  circuitConnectionStatus: Connected
              azureASN: 0
              provisioningState: Succeeded
              peerASN: 2560717018
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 2
                primarybytesIn: 5
                secondarybytesOut: 9
                secondarybytesIn: 7
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 1
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              expressRouteConnection:
                id: id
              connections:
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              - name: name
                etag: etag
                type: type
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: id
                  addressPrefix: addressPrefix
                  peerExpressRouteCircuitPeering:
                    id: id
                  provisioningState: Succeeded
                  circuitConnectionStatus: Connected
              peeringType: AzurePublicPeering
          rules:
          - name: name
            etag: etag
            location: location
            properties:
              access: Allow
              routeFilterRuleType: Community
              provisioningState: Succeeded
              communities:
              - communities
              - communities
          - name: name
            etag: etag
            location: location
            properties:
              access: Allow
              routeFilterRuleType: Community
              provisioningState: Succeeded
              communities:
              - communities
              - communities
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RouteFilterPropertiesFormat'
    RouteFilterListResult:
      description: Response for the ListRouteFilters API service call.
      example:
        value:
        - etag: etag
          properties:
            ipv6Peerings:
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            peerings:
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            rules:
            - name: name
              etag: etag
              location: location
              properties:
                access: Allow
                routeFilterRuleType: Community
                provisioningState: Succeeded
                communities:
                - communities
                - communities
            - name: name
              etag: etag
              location: location
              properties:
                access: Allow
                routeFilterRuleType: Community
                provisioningState: Succeeded
                communities:
                - communities
                - communities
            provisioningState: Succeeded
        - etag: etag
          properties:
            ipv6Peerings:
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    provisioningState: Succeeded
                    circuitConnectionStatus: Connected
                peeringType: AzurePublicPeering
            peerings:
            - name: name
              etag: etag
              type: type
              properties:
                routeFilter:
                  id: id
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 1
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 6
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 3
                lastModifiedBy: lastModifiedBy
                peeredConnections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                - name: name
                  etag: etag
                  type: type
                  properties:
                    expressRouteCircuitPeering:
                      id: id
                    addressPrefix: addressPrefix
                    peerExpressRouteCircuitPeering:
                      id: id
                    connectionName: connectionName
                    provisioningState: Succeeded
                    authResourceGuid: authResourceGuid
                    circuitConnectionStatus: Connected
                azureASN: 0
                provisioningState: Succeeded
                peerASN: 2560717018
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 2
                  primarybytesIn: 5
                  secondarybytesOut: 9
                  secondarybytesIn: 7
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 1
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                expressRouteConnection:
                  id: id
                connections:
                - name: name
                  etag: etag
                  type: type
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: id
[...]
