openapi: 3.0.1
info:
  description: "XTRF Home Portal API enables you to perform operations on Projects,\
    \ Quotes, Customers, Vendors etc. as a XTRF Home Portal user. <br>The documentation\
    \ is generated from OpenAPI specification 3.0 available <a href=\"/home-api/openapi.json\"\
    >here</a> <br>\n  The API client/consumer code may be easily generated in 60+\
    \ programming languages using an open source code generator available at the time\
    \ of writing this documentation at <a href='https://editor.swagger.io/'>https://editor.swagger.io/</a>\
    \ Thank you for using XTRF Application Programming interface (XTRF API). By using\
    \ the API you agree to the terms below. If you disagree with any of these terms,\
    \ XTRF does not grant you a license to use the XTRF API. XTRF reserves the right\
    \ to update and change these terms from time to time without a prior notice of\
    \ API users. You can always find the most recent version of these terms here: "
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://legal.xtrf.eu/2017/products/GeneralTermsAndConditions.pdf
  title: XTRF Home Portal API
  version: "2.0"
  x-logo:
    url: https://xtrf.eu/wp-content/uploads/2023/01/cropped-XTRF-Favicon--180x180.webp
  x-origin:
  - format: openapi
    url: https://presentation.s.xtrf.eu/home-api/openapi.json
    version: "3.0"
  x-providerName: xtrf.eu
servers:
- url: https://presentation.s.xtrf.eu/home-api
security:
- X-AUTH-ACCESS-TOKEN: []
- X-AUTH-ACCESS-TOKEN: []
- X-AUTH-ACCESS-TOKEN: []
- X-AUTH-ACCESS-TOKEN: []
tags:
- description: To change the description use /examples/TagsDescriptions.json
  name: Browser
- description: To change the description use /examples/TagsDescriptions.json
  name: Client Invoices
- description: To change the description use /examples/TagsDescriptions.json
  name: Clients
- description: To change the description use /examples/TagsDescriptions.json
  name: Dictionaries
- description: To change the description use /examples/TagsDescriptions.json
  name: Currency exchange rates
- description: To change the description use /examples/TagsDescriptions.json
  name: Files
- description: To change the description use /examples/TagsDescriptions.json
  name: License
- description: To change the description use /examples/TagsDescriptions.json
  name: Macros
- description: To change the description use /examples/TagsDescriptions.json
  name: Vendor Invoices
- description: To change the description use /examples/TagsDescriptions.json
  name: Vendors
- description: To change the description use /examples/TagsDescriptions.json
  name: Reports
- description: To change the description use /examples/TagsDescriptions.json
  name: Subscription
- description: To change the description use /examples/TagsDescriptions.json
  name: Users
- description: To change the description use /examples/TagsDescriptions.json
  name: Jobs (Classic)
- description: To change the description use /examples/TagsDescriptions.json
  name: Projects (Classic)
- description: To change the description use /examples/TagsDescriptions.json
  name: Quotes (Classic)
- description: To change the description use /examples/TagsDescriptions.json
  name: Tasks (Classic)
- description: To change the description use /examples/TagsDescriptions.json
  name: Jobs (Smart)(v2)
- description: To change the description use /examples/TagsDescriptions.json
  name: Projects (Smart)(v2)
- description: To change the description use /examples/TagsDescriptions.json
  name: Quotes (Smart)(v2)
paths:
  /accounting/customers/invoices:
    get:
      description: Lists all client invoices in all statuses (including not ready
        and drafts) that have been updated since a specific date.
      operationId: getAll
      parameters:
      - description: only client invoices modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getAll.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/CustomerInvoiceDTO'
                type: array
          description: client invoices
      summary: Lists all client invoices in all statuses (including not ready and
        drafts) that have been updated since a specific date.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: "Creates a new invoice from tasks. Tasks are grouped by client\
        \ and currency, therefore multiple invoices can be created.If any of the tasks\
        \ cannot be invoiced (ie. it is already invoiced, not invoiceable, not associated\
        \ with a project) then an error is reported."
      operationId: create_1
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/createMultipleFromTasks.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomerInvoiceCreateDTO'
        description: Created new invoice.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/createMultipleFromTasks.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerInvoiceCreateResultDTO'
          description: Success
      summary: Creates a new invoice.
      tags:
      - Client Invoices
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/documents:
    post:
      description: Generates client invoices' documents.
      operationId: downloadDocuments
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/downloadDocuments.json#requestBody
            schema:
              $ref: '#/components/schemas/DownloadDocumentsRequestDTO'
        description: Generated client invoices documents.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/downloadDocuments.json#responseBody
              schema:
                $ref: '#/components/schemas/UrlResultDTO'
          description: Success
      summary: Generates client invoices' documents.
      tags:
      - Client Invoices
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/ids:
    get:
      description: Returns client invoices' internal identifiers.
      operationId: getAllIds
      parameters:
      - description: only client invoices modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: client invoices' internal identifiers
      summary: Returns client invoices' internal identifiers.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/sendReminders:
    post:
      description: Sends reminders. Returns number of sent e-mails.
      operationId: sendReminders
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/sendReminders.json#requestBody
            schema:
              $ref: '#/components/schemas/SendRemindersRequestDTO'
        description: Number of sent e-mails.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/sendReminders.json#responseBody
              schema:
                $ref: '#/components/schemas/SendRemindersResponseDTO'
          description: Success
      summary: Sends reminders. Returns number of sent e-mails.
      tags:
      - Client Invoices
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}:
    delete:
      description: Removes a client invoice.
      operationId: delete_1
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a client invoice.
      tags:
      - Client Invoices
      x-accepts:
      - application/json
    get:
      description: Returns client invoice details.
      operationId: getById
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: list of adittional fields which should be embedded in the response
          (ie. tasks)
        explode: true
        in: query
        name: embed
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getById.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDTO'
          description: Success
      summary: Returns client invoice details.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/dates:
    get:
      description: Returns dates of a given client invoice.
      operationId: getDates
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getDates.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDatesDTO'
          description: Success
      summary: Returns dates of a given client invoice.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/document:
    get:
      description: Generates client invoice document (PDF).
      operationId: getDocument
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getDocument.json#responseBody
              schema:
                $ref: '#/components/schemas/UrlResultDTO'
          description: Success
      summary: Generates client invoice document (PDF).
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/duplicate:
    post:
      description: Duplicate client invoice.
      operationId: duplicate
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/duplicate.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDTO'
          description: Success
      summary: Duplicate client invoice.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/duplicate/proForma:
    post:
      description: Duplicate client invoice as pro forma.
      operationId: duplicateAsProForma
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/duplicateAsProForma.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDTO'
          description: Success
      summary: Duplicate client invoice as pro forma.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/paymentTerms:
    get:
      description: Returns payment terms of a given client invoice.
      operationId: getPaymentTerms
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getPaymentTerms.json#responseBody
              schema:
                $ref: '#/components/schemas/PaymentTermsDTO'
          description: Success
      summary: Returns payment terms of a given client invoice.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/customers/invoices/{invoiceId}/payments:
    get:
      description: Returns all payments for the client invoice.
      operationId: getPayments
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getPayments.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/PaymentDTO'
                type: array
          description: client invoice's payments
      summary: Returns all payments for the client invoice.
      tags:
      - Client Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: "Adds a new payment to the client invoice. The invoice payment\
        \ status (Not Paid, Partially Paid, Fully Paid) is automatically recalculated."
      operationId: createPayment
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/createPayment.json#requestBody
            schema:
              $ref: '#/components/schemas/PaymentDTO'
        description: New payment.
        required: true
      responses:
        "204":
          description: Success
      summary: "Adds a new payment to the client invoice. The invoice payment status\
        \ (Not Paid, Partially Paid, Fully Paid) is automatically recalculated."
      tags:
      - Client Invoices
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/json
  /accounting/customers/invoices/{invoiceId}/sendReminder:
    post:
      description: Sends reminder.
      operationId: sendReminder
      parameters:
      - description: client invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Sends reminder.
      tags:
      - Client Invoices
      x-accepts:
      - application/json
  /accounting/customers/payments/{paymentId}:
    delete:
      description: Removes a customer payment.
      operationId: delete_2
      parameters:
      - description: customer payment's internal identifier
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a customer payment.
      tags:
      - Client Invoices
      x-accepts:
      - application/json
  /accounting/providers/invoices:
    get:
      description: Lists all vendor invoices in all statuses (including not ready
        and drafts) that have been updated since a specific date.
      operationId: getAll_2
      parameters:
      - description: only vendor invoices modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getAll.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/ProviderInvoiceDTO'
                type: array
          description: vendor invoices
      summary: Lists all vendor invoices in all statuses (including not ready and
        drafts) that have been updated since a specific date.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: "Creates a new invoice from jobs. Jobs are grouped by provider\
        \ and currency, therefore multiple invoices can be created.If any of the jobs\
        \ cannot be invoiced (ie. it is already invoiced) then an error is reported."
      operationId: create_4
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/createSingleFromJobs.json#requestBody
            schema:
              $ref: '#/components/schemas/ProviderInvoiceCreateDTO'
        description: Created new invoice.
        required: true
      responses:
        "200":
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/createSingleFromJobs.json#responseBody
              schema:
                $ref: '#/components/schemas/ProviderInvoiceCreateResultDTO'
          description: Success
      summary: Creates a new invoice.
      tags:
      - Vendor Invoices
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/providers/invoices/ids:
    get:
      description: Returns vendor invoices' internal identifiers.
      operationId: getAllIds_3
      parameters:
      - description: only vendor invoices modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: vendor invoices' internal identifiers
      summary: Returns vendor invoices' internal identifiers.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/providers/invoices/{invoiceId}:
    delete:
      description: Removes a provider invoice.
      operationId: delete_6
      parameters:
      - description: provider invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a provider invoice.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/json
    get:
      description: Returns provider invoice details.
      operationId: getById_3
      parameters:
      - description: provider invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getById.json#responseBody
              schema:
                $ref: '#/components/schemas/ProviderInvoiceDTO'
          description: Success
      summary: Returns provider invoice details.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/providers/invoices/{invoiceId}/document:
    get:
      description: Generates provider invoice document (PDF).
      operationId: getDocument_1
      parameters:
      - description: provider invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getDocument.json#responseBody
              schema:
                $ref: '#/components/schemas/UrlResultDTO'
          description: Success
      summary: Generates provider invoice document (PDF).
      tags:
      - Vendor Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /accounting/providers/invoices/{invoiceId}/payments:
    get:
      description: Returns all payments for the vendor invoice.
      operationId: getPayments_1
      parameters:
      - description: vendor invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getPayments.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/PaymentDTO'
                type: array
          description: vendor invoice's payments
      summary: Returns all payments for the vendor invoice.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: Creates a new payment on the vendor account and assigns the payment
        to the invoice.
      operationId: createPayment_1
      parameters:
      - description: vendor invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/createPayment.json#requestBody
            schema:
              $ref: '#/components/schemas/PaymentDTO'
        description: New payment.
        required: true
      responses:
        "204":
          description: Success
      summary: Creates a new payment on the vendor account and assigns the payment
        to the invoice.
      tags:
      - Vendor Invoices
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/json
  /accounting/providers/invoices/{invoiceId}/send:
    post:
      description: Sends a provider invoice.
      operationId: send
      parameters:
      - description: provider invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Sends a provider invoice.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/json
  /accounting/providers/invoices/{invoiceId}/status:
    post:
      description: Changes invoice status to given status.
      operationId: setStatus
      parameters:
      - description: provider invoice's internal identifier
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/setStatus.json#requestBody
            schema:
              $ref: '#/components/schemas/StatusRequestDTO'
        description: Changed invoice status to given status.
        required: true
      responses:
        "204":
          description: Success
      summary: Changes invoice status to given status.
      tags:
      - Vendor Invoices
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounting/providers/payments/{paymentId}:
    delete:
      description: Removes a provider payment.
      operationId: delete_7
      parameters:
      - description: provider payment's internal identifier
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a provider payment.
      tags:
      - Vendor Invoices
      x-accepts:
      - application/json
  /browser:
    get:
      description: "Searches for data (ie. customer, task, etc) and returns it in\
        \ a tabular form."
      operationId: browseJSON
      parameters:
      - description: view's identifier
        explode: true
        in: query
        name: viewId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: additionalOrder
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: useDeferredColumns
        required: false
        schema:
          type: string
        style: form
      - description: "overrides view's default rows limit, supported values 10 to\
          \ 1000"
        explode: true
        in: query
        name: maxRows
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/browseProjects.json#responseBody
              schema:
                type: object
          description: Success
      summary: "Searches for data (ie. customer, task, etc) and returns it in a tabular\
        \ form."
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/csv:
    get:
      description: "Searches for data (ie. customer, task, etc) and returns it in\
        \ a CSV form."
      operationId: browseCSV
      parameters:
      - description: view's identifier
        explode: true
        in: query
        name: viewId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: csv field separator
        explode: true
        in: query
        name: separator
        required: false
        schema:
          type: string
        style: form
      - description: secondary csv field separator
        explode: true
        in: query
        name: secondarySeparator
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: additionalOrder
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/exportToCSV.json#responseBody
              schema:
                type: object
          description: Success
      summary: "Searches for data (ie. customer, task, etc) and returns it in a CSV\
        \ form."
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/details/for/{className}:
    get:
      description: "Returns current view's detailed information, suitable for browser."
      operationId: getCurrentViewDetails
      parameters:
      - description: views' class name
        explode: false
        in: path
        name: className
        required: true
        schema:
          type: string
        style: simple
      - description: place name (denotes specific place in system with the table)
        explode: true
        in: query
        name: placeName
        required: false
        schema:
          default: default
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getCurrentDetails.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewDetailsDTO'
          description: Success
      summary: "Returns current view's detailed information, suitable for browser."
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/details/for/{className}/{viewId}:
    get:
      description: "Returns view's detailed information, suitable for browser."
      operationId: getViewDetails
      parameters:
      - description: views' class name
        explode: false
        in: path
        name: className
        required: true
        schema:
          type: string
        style: simple
      - description: place name (denotes specific place in system with the table)
        explode: true
        in: query
        name: placeName
        required: false
        schema:
          default: default
          type: string
        style: form
      - explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getDetails.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewDetailsDTO'
          description: Success
      summary: "Returns view's detailed information, suitable for browser."
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: "Selects given view as current and returns its detailed information,\
        \ suitable for browser."
      operationId: selectViewAndGetItsDetails
      parameters:
      - description: views' class name
        explode: false
        in: path
        name: className
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: place name (denotes specific place in system with the table)
        required: false
        schema:
          default: default
          type: string
        style: form
      - explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/selectViewAndGetItsDetails.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewDetailsDTO'
          description: Success
      summary: "Selects given view as current and returns its detailed information,\
        \ suitable for browser."
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/for/{className}:
    get:
      description: Returns views' brief.
      operationId: getViewsBrief
      parameters:
      - description: views' class name
        explode: false
        in: path
        name: className
        required: true
        schema:
          type: string
        style: simple
      - description: place name (denotes specific place in system with the table)
        explode: true
        in: query
        name: placeName
        required: false
        schema:
          default: default
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getViewsBrief.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewsBriefDTO'
          description: Success
      summary: Returns views' brief.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: Creates view for given class.
      operationId: create
      parameters:
      - description: view's class name
        explode: false
        in: path
        name: className
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ViewDTO'
        description: Created view for given class.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/create.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewWithIdDTO'
          description: Success
      summary: Creates view for given class.
      tags:
      - Browser
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}:
    delete:
      description: Removes a view. No content is returned upon success (204).
      operationId: delete
      parameters:
      - description: view's internal identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a view.
      tags:
      - Browser
      x-accepts:
      - application/json
    get:
      description: "Returns all view's information (ie. name, columns, filters, etc)."
      operationId: get
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/get.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewDTO'
          description: Success
      summary: Returns all view's information.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: "Updates all view's information (ie. name, columns, filters, etc)."
      operationId: update
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ViewDTO'
        description: Updated all view's information.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/update.json#responseBody
              schema:
                $ref: '#/components/schemas/ViewDTO'
          description: Success
      summary: Updates all view's information.
      tags:
      - Browser
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/columns:
    get:
      description: Returns columns defined in view.
      operationId: getColumns
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getColumns.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/ColumnDTO'
                type: array
          description: Success
      summary: Returns columns defined in view.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates columns in view.
      operationId: updateColumns
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateColumns.json#requestBody
            schema:
              items:
                $ref: '#/components/schemas/ColumnDTO'
              type: array
        description: Updated columns in view.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateColumns.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/ColumnDTO'
                type: array
          description: Success
      summary: Updates columns in view.
      tags:
      - Browser
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/columns/{columnName}:
    delete:
      description: Deletes a single column from view.
      operationId: deleteColumn
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: column's name
        explode: false
        in: path
        name: columnName
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/deleteColumn.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/ColumnDTO'
                type: array
          description: Success
      summary: Deletes a single column from view.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/columns/{columnName}/settings:
    get:
      description: Returns column's specific settings. For example when column describes
        money amount we can decide whether it should display currency or not.
      operationId: getColumnSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: column's name
        explode: false
        in: path
        name: columnName
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getColumnSettings.json#responseBody
              schema:
                type: object
          description: Success
      summary: Returns column's specific settings.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates column's specific settings. For example when column describes
        money amount we can decide whether it should display currency or not.
      operationId: updateColumnSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: column's name
        explode: false
        in: path
        name: columnName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateColumnSettings.json#requestBody
            schema:
              type: object
        description: Updated column's specific settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateColumnSettings.json#responseBody
              schema:
                type: object
          description: Success
      summary: Updates column's specific settings.
      tags:
      - Browser
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/filter:
    get:
      description: Returns view's filter.
      operationId: getFilter
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/filter/getTextProperty.json#responseBody
              schema:
                $ref: '#/components/schemas/FilterDTO'
          description: Success
      summary: Returns view's filter.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates view's filter.
      operationId: updateFilter
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateFilter.json#requestBody
            schema:
              items:
                $ref: '#/components/schemas/FilterPropertyDTO'
              type: array
        description: Updated view's filter.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateFilter.json#responseBody
              schema:
                $ref: '#/components/schemas/FilterDTO'
          description: Success
      summary: Updates view's filter.
      tags:
      - Browser
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/filter/{filterProperty}:
    put:
      description: Updates view's filter property.
      operationId: updateFilterProperty
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: view's filter property name
        explode: false
        in: path
        name: filterProperty
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateFilterProperty.json#requestBody
            schema:
              $ref: '#/components/schemas/FilterPropertyDTO'
        description: Updated view's filter property.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateFilterProperty.json#responseBody
              schema:
                type: object
          description: Success
      summary: Updates view's filter property.
      tags:
      - Browser
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/order:
    get:
      description: Returns view's order settings.
      operationId: getOrder
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getOrder.json#responseBody
              schema:
                $ref: '#/components/schemas/OrderDTO'
          description: Success
      summary: Returns view's order settings.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates view's order settings.
      operationId: updateOrder
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateOrder.json#requestBody
            schema:
              $ref: '#/components/schemas/OrderDTO'
        description: Updated view's order settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateOrder.json#responseBody
              schema:
                $ref: '#/components/schemas/OrderDTO'
          description: Success
      summary: Updates view's order settings.
      tags:
      - Browser
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/permissions:
    get:
      description: Returns view's permissions.
      operationId: getPermissions
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getPermissions.json#responseBody
              schema:
                $ref: '#/components/schemas/PermissionsDTO'
          description: Success
      summary: Returns view's permissions.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates view's permissions.
      operationId: updatePermissions
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updatePermissions.json#requestBody
            schema:
              $ref: '#/components/schemas/PermissionsDTO'
        description: Updated view's permissions.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updatePermissions.json#responseBody
              schema:
                $ref: '#/components/schemas/PermissionsDTO'
          description: Success
      summary: Updates view's permissions.
      tags:
      - Browser
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/settings:
    get:
      description: Returns view's settings (ie. name).
      operationId: getSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getSettings.json#responseBody
              schema:
                $ref: '#/components/schemas/SettingsDTO'
          description: Success
      summary: Returns view's settings.
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates view's settings.
      operationId: updateSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateSettings.json#requestBody
            schema:
              $ref: '#/components/schemas/SettingsDTO'
        description: Updated view's settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateSettings.json#responseBody
              schema:
                $ref: '#/components/schemas/SettingsDTO'
          description: Success
      summary: Updates view's settings.
      tags:
      - Browser
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /browser/views/{viewId}/settings/local:
    get:
      description: Returns view's local settings (for current user).
      operationId: getLocalSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getLocalSettings.json#responseBody
              schema:
                $ref: '#/components/schemas/LocalSettingsDTO'
          description: Success
      summary: Returns view's local settings (for current user).
      tags:
      - Browser
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates view's local settings (for current user).
      operationId: updateLocalSettings
      parameters:
      - description: view's identifier
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateLocalSettings.json#requestBody
            schema:
              $ref: '#/components/schemas/LocalSettingsDTO'
        description: Updated view's local settings (for current user).
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateLocalSettings.json#responseBody
              schema:
                $ref: '#/components/schemas/LocalSettingsDTO'
          description: Success
      summary: Updates view's local settings (for current user).
      tags:
      - Browser
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers:
    get:
      description: Returns list of simple clients representations
      operationId: getAllNamesWithIds
      parameters:
      - description: only clients modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getAllNamesWithIds.json#responseBody
              schema:
                items:
                  $ref: '#/components/schemas/EntityWithNameDTO'
                type: array
          description: Success
      summary: Returns list of simple clients representations
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: |
        Creates a new client. All available fields are presented in PUT request.<p>
          Required fields:
          <ul>
            <li>name</li>
            <li>fullName</li>
            <li>contact -> emails -> primary</li>
          </ul>
        </p>
      operationId: create_3
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/create.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomerDTO'
        description: Created user object
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/create.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerDTO'
          description: Success
      summary: Creates a new client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/ids:
    get:
      description: Returns clients' internal identifiers.
      operationId: getAllIds_2
      parameters:
      - description: only clients modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: exact name of client
        explode: true
        in: query
        name: nameEquals
        required: false
        schema:
          type: string
        style: form
      - description: exact email of client
        explode: true
        in: query
        name: emailEquals
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: Success
      summary: Returns clients' internal identifiers.
      tags:
      - Clients
      x-accepts:
      - application/json;charset=UTF-8
  /customers/persons:
    post:
      description: Creates a new person. Required fields are presented in the example.
        Other fields (from PUT) may also be specified here.
      operationId: create_2
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/create.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomerPersonDTO'
        description: Brand new person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/create.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerPersonDTO'
          description: Success
      summary: Creates a new person.
      tags:
      - Clients
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/persons/accessToken:
    post:
      description: Generates a single use sign-in token for the customer person found
        for given login or e-mail. Returns 'url' and 'token' which allows to sign-in
        to customer portal as this person. Token is valid for two minutes and can
        be used only once. To sign-in to customer portal you should post 'token' provided
        as the 'accessToken' form param to the 'url' using POST method.Detailed description
        is available in the Customer API <a href="/api-doc/customer-api/authentication">authentication</a>.
      operationId: generateSingleUseSignInToken
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/generateSingleUseSignInToken.json#requestBody
            schema:
              $ref: '#/components/schemas/AccessTokenRequestDTO'
        description: Generated sign-in token.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/generateSingleUseSignInToken.json#responseBody
              schema:
                $ref: '#/components/schemas/AccessTokenDTO'
          description: Success
      summary: Generates a single use sign-in token.
      tags:
      - Clients
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/persons/ids:
    get:
      description: Returns persons' internal identifiers.
      operationId: getAllIds_1
      parameters:
      - description: only persons modified since this timestamp
        explode: true
        in: query
        name: updatedSince
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: Success
      summary: Returns persons' internal identifiers.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/persons/{personId}:
    delete:
      description: Removes a person.
      operationId: delete_3
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a person.
      tags:
      - Clients
      x-accepts:
      - application/json
    get:
      description: Returns person details.
      operationId: getById_1
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getById.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerPersonDTO'
          description: Success
      summary: Returns person details.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Only specified fields will be changed. One may not specify embeddable
        fields here - use separate API calls for updating them.
      operationId: update_1
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/update.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomerPersonDTO'
        description: Updated existing person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/update.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerPersonDTO'
          description: Success
      summary: Updates an existing person.
      tags:
      - Clients
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/persons/{personId}/contact:
    get:
      description: Returns contact of a given person.
      operationId: getContact
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getContact.json#responseBody
              schema:
                $ref: '#/components/schemas/PersonContactDTO'
          description: Success
      summary: Returns contact of a given person.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates contact of a given person. Sets that this person uses specific
        address and contact (not the one from customer).
      operationId: updateContact
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/updateContact.json#requestBody
            schema:
              $ref: '#/components/schemas/PersonContactDTO'
        description: Updated contact of a given person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/updateContact.json#responseBody
              schema:
                $ref: '#/components/schemas/PersonContactDTO'
          description: Success
      summary: Updates contact of a given person.
      tags:
      - Clients
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/persons/{personId}/customFields:
    get:
      description: Returns custom fields of a given person.
      operationId: getCustomFields
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getCustomFields.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldsDTO'
          description: Success
      summary: Returns custom fields of a given person.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates custom fields of a given person.
      operationId: updateCustomFields
      parameters:
      - description: person's internal identifier
        explode: false
        in: path
        name: personId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/updateCustomFields.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomFieldsDTO'
        description: Updated custom fields of a given person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/updateCustomFields.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldsDTO'
          description: Success
      summary: Updates custom fields of a given person.
      tags:
      - Clients
      x-content-type: application/json;charset=UTF-8
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/priceLists/{priceListId}:
    delete:
      description: Removes a customer price list.
      operationId: delete_4
      parameters:
      - description: customer price list's internal identifier
        explode: false
        in: path
        name: priceListId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a customer price list.
      tags:
      - Clients
      x-accepts:
      - application/json
  /customers/{customerId}:
    delete:
      description: Removes a client.
      operationId: delete_5
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Success
      summary: Removes a client.
      tags:
      - Clients
      x-accepts:
      - application/json
    get:
      description: Returns client details.
      operationId: getById_2
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "list of additional fields which should be embedded in the response\
          \ (available options: persons)"
        explode: true
        in: query
        name: embed
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getById.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerDTO'
          description: Success
      summary: Returns client details.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Only specified fields will be changed (id is required). One may
        not specify embeddable fields here - use separate API calls for updating them.
      operationId: update_2
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/update.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomerDTO'
        description: Updated client
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/update.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomerDTO'
          description: Success
      summary: Updates an existing client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/address:
    get:
      description: Returns address of a given client.
      operationId: getAddress
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/getAddress.json#responseBody
              schema:
                $ref: '#/components/schemas/AddressDTO'
          description: Success
      summary: Returns address of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates address of a given client.
      operationId: updateAddress
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/address/updateAddress.json#requestBody
            schema:
              $ref: '#/components/schemas/AddressDTO'
        description: Updated address of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/updateAddress.json#responseBody
              schema:
                $ref: '#/components/schemas/AddressDTO'
          description: Success
      summary: Updates address of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/categories:
    get:
      description: Returns categories of a given client.
      operationId: getCategories
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCategories.json#responseBody
              schema:
                $ref: '#/components/schemas/CategoriesDTO'
          description: Success
      summary: Returns categories of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates categories of a given client.
      operationId: updateCategories
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCategories.json#requestBody
            schema:
              $ref: '#/components/schemas/CategoriesDTO'
        description: Updated categories of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCategories.json#responseBody
              schema:
                $ref: '#/components/schemas/CategoriesDTO'
          description: Success
      summary: Updates categories of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/contact:
    get:
      description: Returns contact of a given client.
      operationId: getContact_1
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getContact.json#responseBody
              schema:
                $ref: '#/components/schemas/ContactDTO'
          description: Success
      summary: Returns contact of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates contact of a given client.
      operationId: updateContact_1
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateContact.json#requestBody
            schema:
              $ref: '#/components/schemas/ContactDTO'
        description: Updated contact of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateContact.json#responseBody
              schema:
                $ref: '#/components/schemas/ContactDTO'
          description: Success
      summary: Updates contact of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/correspondenceAddress:
    get:
      description: Returns correspondence address of a given client.
      operationId: getCorrespondenceAddress
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/getCorrespondenceAddress.json#responseBody
              schema:
                $ref: '#/components/schemas/AddressDTO'
          description: Success
      summary: Returns correspondence address of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates correspondence address of a given client.
      operationId: updateCorrespondenceAddress
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/address/updateCorrespondenceAddress.json#requestBody
            schema:
              $ref: '#/components/schemas/AddressDTO'
        description: Updated address of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/updateCorrespondenceAddress.json#responseBody
              schema:
                $ref: '#/components/schemas/AddressDTO'
          description: Success
      summary: Updates correspondence address of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/customFields:
    get:
      description: Returns custom fields of a given client.
      operationId: getCustomFields_1
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCustomFields.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldsDTO'
          description: Success
      summary: Returns custom fields of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates custom fields of a given client.
      operationId: updateCustomFields_1
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCustomFields.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomFieldsDTO'
        description: Updated custom fields of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCustomFields.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldsDTO'
          description: Success
      summary: Updates custom fields of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/customFields/{customFieldKey}:
    get:
      description: Returns custom field of a given client.
      operationId: getCustomField
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: custom field's key
        explode: false
        in: path
        name: customFieldKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCustomField.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldDTO'
          description: Success
      summary: Returns custom field of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates given custom field of a given client.
      operationId: updateCustomField
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: custom field's key
        explode: false
        in: path
        name: customFieldKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCustomField.json#requestBody
            schema:
              $ref: '#/components/schemas/CustomFieldDTO'
        description: Updated custom field of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCustomField.json#responseBody
              schema:
                $ref: '#/components/schemas/CustomFieldDTO'
          description: Success
      summary: Updates given custom field of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /customers/{customerId}/industries:
    get:
      description: Returns industries of a given client.
      operationId: getIndustries
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getIndustries.json#responseBody
              schema:
                $ref: '#/components/schemas/IndustriesDTO'
          description: Success
      summary: Returns industries of a given client.
      tags:
      - Clients
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    put:
      description: Updates industries of a given client.
      operationId: updateIndustries
      parameters:
      - description: client's internal identifier
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateIndustries.json#requestBody
            schema:
              $ref: '#/components/schemas/CategoriesDTO'
        description: Updated industries of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateIndustries.json#responseBody
              schema:
                $ref: '#/components/schemas/IndustriesDTO'
          description: Success
      summary: Updates industries of a given client.
      tags:
      - Clients
      x-content-type: application/json
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /dictionaries/active:
    get:
      description: Returns active dictionary entities for all types.
      operationId: getActive
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/map-active.json#responseBody
              schema:
                $ref: '#/components/schemas/ManyValuesPerTypeDTO'
          description: Success
      summary: Returns active dictionary entities for all types.
      tags:
      - Dictionaries
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /dictionaries/all:
    get:
      description: |-
        <div>
          <p>
            XTRF holds many user-defined dictionaries (ie. countries).
            Each dictionary contains a set of values (ie. Poland or Germany).
            A default value may be defined for a dictionary.
          </p>
          <p>
            Dictionary values are identified using internal identifier which is constant and unique among other values from the same dictionary.
            Please note that name used in dictionary values is presented in the locale of the current identity.
            The same dictionary value can have different names, ie. "Poland" for one user, "Polska" for another one.
          </p>
          <p>
            Possible dictionary types with short explanation:
            <ul>
              <li>calculationUnit - predefined values of how to calculate the volume of work into the price</li>
              <li>category - labels to organize data on the platform</li>
              <li>country - list of countries used on the platform</li>
              <li>currency - currencies used in financial operations in the system</li>
              <li>industry - industry sectors which clients specialize in</li>
              <li>jobType - services offered by a company used in customized workflows</li>
              <li>language - list of languages and its values used on the platform</li>
              <li>leadSource - lead/recruitment places where new clients and vendors may be found</li>
              <li>personDepartment - departments in which contact person may be assigned to</li>
              <li>personPosition - positions in which user may be associated with</li>
              <li>province - states and provinces used in various documents on the platform</li>
              <li>specialization - list of specific qualifications required to perform a specific job in the task, for ex. medical, military</li>
            </ul>
          </p>
        </div>
      operationId: getAll_1
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/map-all.json#responseBody
              schema:
                $ref: '#/components/schemas/ManyValuesPerTypeDTO'
          description: Success
      summary: Returns dictionary entities for all types. Both active and not active
        ones.
      tags:
      - Dictionaries
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
  /dictionaries/currency/{isoCode}/exchangeRate:
    get:
      description: Returns currency exchange rates.
      operationId: getByIsoCode
      parameters:
      - description: "iso code, https://www.xe.com/iso4217.php"
        explode: false
        in: path
        name: isoCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/currency/getByIsoCode.json#responseBody
              schema:
                $ref: '#/components/schemas/CurrencyHistoryDTO'
          description: Success
      summary: Returns currency exchange rates.
      tags:
      - Currency exchange rates
      x-accepts:
      - application/vnd.xtrf-v1+json;charset=UTF-8
    post:
      description: Adding currency exchange rates via API
      operationId: createExchangeRate
      parameters:
[...]
