openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Reads and writes Google Docs documents.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Docs API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://docs.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: docs
externalDocs:
  url: https://developers.google.com/docs/
servers:
- url: https://docs.googleapis.com/
tags:
- name: documents
paths:
  /v1/documents:
    post:
      description: "Creates a blank document using the title given in the request.\
        \ Other fields in the request, including any provided content, are ignored.\
        \ Returns the created document."
      operationId: docs_documents_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/documents
        Oauth2c:
        - https://www.googleapis.com/auth/documents
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - documents
      x-openapi-router-controller: openapi_server.controllers.documents_controller
      x-codegen-request-body-name: body
  /v1/documents/{documentId}:
    get:
      description: Gets the latest version of the specified document.
      operationId: docs_documents_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the document to retrieve.
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      - description: "The suggestions view mode to apply to the document. This allows\
          \ viewing the document with all suggestions inline, accepted or rejected.\
          \ If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used."
        explode: true
        in: query
        name: suggestionsViewMode
        required: false
        schema:
          enum:
          - DEFAULT_FOR_CURRENT_ACCESS
          - SUGGESTIONS_INLINE
          - PREVIEW_SUGGESTIONS_ACCEPTED
          - PREVIEW_WITHOUT_SUGGESTIONS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/documents
        Oauth2c:
        - https://www.googleapis.com/auth/documents
      - Oauth2:
        - https://www.googleapis.com/auth/documents.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/documents.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - documents
      x-openapi-router-controller: openapi_server.controllers.documents_controller
  /v1/documents/{documentId}:batchUpdate:
    post:
      description: "Applies one or more updates to the document. Each request is validated\
        \ before being applied. If any request is not valid, then the entire request\
        \ will fail and nothing will be applied. Some requests have replies to give\
        \ you some information about how they are applied. Other requests do not need\
        \ to return information; these each return an empty reply. The order of replies\
        \ matches that of the requests. For example, suppose you call batchUpdate\
        \ with four updates, and only the third one returns information. The response\
        \ would have two empty replies, the reply to the third request, and another\
        \ empty reply, in that order. Because other users may be editing the document,\
        \ the document might not exactly reflect your changes: your changes may be\
        \ altered with respect to collaborator changes. If there are no collaborators,\
        \ the document should reflect your changes. In any case, the updates in your\
        \ request are guaranteed to be applied together atomically."
      operationId: docs_documents_batch_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the document to update.
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateDocumentResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/documents
        Oauth2c:
        - https://www.googleapis.com/auth/documents
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - documents
      x-openapi-router-controller: openapi_server.controllers.documents_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AutoText:
      description: "A ParagraphElement representing a spot in the text that's dynamically\
        \ replaced with content that can change over time, like a page number."
      example:
        suggestedTextStyleChanges:
          key:
            textStyle:
              backgroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              underline: true
              link:
                bookmarkId: bookmarkId
                headingId: headingId
                url: url
              fontSize:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              foregroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              bold: true
              strikethrough: true
              baselineOffset: BASELINE_OFFSET_UNSPECIFIED
              italic: true
              weightedFontFamily:
                fontFamily: fontFamily
                weight: 7
              smallCaps: true
            textStyleSuggestionState:
              boldSuggested: true
              strikethroughSuggested: true
              fontSizeSuggested: true
              backgroundColorSuggested: true
              smallCapsSuggested: true
              linkSuggested: true
              weightedFontFamilySuggested: true
              underlineSuggested: true
              foregroundColorSuggested: true
              italicSuggested: true
              baselineOffsetSuggested: true
        suggestedDeletionIds:
        - suggestedDeletionIds
        - suggestedDeletionIds
        textStyle:
          backgroundColor:
            color:
              rgbColor:
                red: 5.637377
                green: 5.962134
                blue: 1.4658129
          underline: true
          link:
            bookmarkId: bookmarkId
            headingId: headingId
            url: url
          fontSize:
            unit: UNIT_UNSPECIFIED
            magnitude: 2.3021358869347655
          foregroundColor:
            color:
              rgbColor:
                red: 5.637377
                green: 5.962134
                blue: 1.4658129
          bold: true
          strikethrough: true
          baselineOffset: BASELINE_OFFSET_UNSPECIFIED
          italic: true
          weightedFontFamily:
            fontFamily: fontFamily
            weight: 7
          smallCaps: true
        type: TYPE_UNSPECIFIED
        suggestedInsertionIds:
        - suggestedInsertionIds
        - suggestedInsertionIds
      properties:
        suggestedDeletionIds:
          description: "The suggested deletion IDs. If empty, then there are no suggested\
            \ deletions of this content."
          items:
            type: string
          title: suggestedDeletionIds
          type: array
        suggestedInsertionIds:
          description: "The suggested insertion IDs. An AutoText may have multiple\
            \ insertion IDs if it's a nested suggested change. If empty, then this\
            \ is not a suggested insertion."
          items:
            type: string
          title: suggestedInsertionIds
          type: array
        suggestedTextStyleChanges:
          additionalProperties:
            $ref: '#/components/schemas/SuggestedTextStyle'
          description: "The suggested text style changes to this AutoText, keyed by\
            \ suggestion ID."
          title: suggestedTextStyleChanges
          type: object
        textStyle:
          $ref: '#/components/schemas/TextStyle'
        type:
          description: The type of this auto text.
          enum:
          - TYPE_UNSPECIFIED
          - PAGE_NUMBER
          - PAGE_COUNT
          title: type
          type: string
      title: AutoText
      type: object
    Background:
      description: Represents the background of a document.
      example:
        color:
          color:
            rgbColor:
              red: 5.637377
              green: 5.962134
              blue: 1.4658129
      properties:
        color:
          $ref: '#/components/schemas/OptionalColor'
      title: Background
      type: object
    BackgroundSuggestionState:
      description: "A mask that indicates which of the fields on the base Background\
        \ have been changed in this suggestion. For any field set to true, the Backgound\
        \ has a new suggested value."
      example:
        backgroundColorSuggested: true
      properties:
        backgroundColorSuggested:
          description: Indicates whether the current background color has been modified
            in this suggestion.
          title: backgroundColorSuggested
          type: boolean
      title: BackgroundSuggestionState
      type: object
    BatchUpdateDocumentRequest:
      description: Request message for BatchUpdateDocument.
      example:
        requests:
        - createHeader:
            sectionBreakLocation:
              segmentId: segmentId
              index: 0
            type: HEADER_FOOTER_TYPE_UNSPECIFIED
          insertTableColumn:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
            insertRight: true
          updateSectionStyle:
            sectionStyle:
              evenPageHeaderId: evenPageHeaderId
              flipPageOrientation: true
              firstPageFooterId: firstPageFooterId
              evenPageFooterId: evenPageFooterId
              contentDirection: CONTENT_DIRECTION_UNSPECIFIED
              columnProperties:
              - paddingEnd:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              - paddingEnd:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              marginLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginHeader:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              columnSeparatorStyle: COLUMN_SEPARATOR_STYLE_UNSPECIFIED
              defaultFooterId: defaultFooterId
              defaultHeaderId: defaultHeaderId
              firstPageHeaderId: firstPageHeaderId
              marginBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageNumberStart: 4
              sectionType: SECTION_TYPE_UNSPECIFIED
              useFirstPageHeaderFooter: true
              marginFooter:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            fields: fields
          updateParagraphStyle:
            paragraphStyle:
              indentFirstLine:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              shading:
                backgroundColor:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
              indentStart:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageBreakBefore: true
              borderTop:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              lineSpacing: 2.027123
              indentEnd:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderLeft:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              spaceAbove:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              keepWithNext: true
              spacingMode: SPACING_MODE_UNSPECIFIED
              borderRight:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              borderBetween:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              keepLinesTogether: true
              tabStops:
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              avoidWidowAndOrphan: true
              borderBottom:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              headingId: headingId
              direction: CONTENT_DIRECTION_UNSPECIFIED
              namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
              spaceBelow:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            fields: fields
          replaceImage:
            imageObjectId: imageObjectId
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            uri: uri
          insertInlineImage:
            objectSize:
              width:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              height:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            uri: uri
          deleteHeader:
            headerId: headerId
          createParagraphBullets:
            bulletPreset: BULLET_GLYPH_PRESET_UNSPECIFIED
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertText:
            location:
              segmentId: segmentId
              index: 0
            text: text
            endOfSegmentLocation:
              segmentId: segmentId
          insertPageBreak:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
          unmergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
          deleteFooter:
            footerId: footerId
          replaceNamedRangeContent:
            namedRangeId: namedRangeId
            text: text
            namedRangeName: namedRangeName
          deleteParagraphBullets:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          updateTextStyle:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            textStyle:
              backgroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              underline: true
              link:
                bookmarkId: bookmarkId
                headingId: headingId
                url: url
              fontSize:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              foregroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              bold: true
              strikethrough: true
              baselineOffset: BASELINE_OFFSET_UNSPECIFIED
              italic: true
              weightedFontFamily:
                fontFamily: fontFamily
                weight: 7
              smallCaps: true
            fields: fields
          deleteContentRange:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertTable:
            columns: 5
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            rows: 5
          createFooter:
            sectionBreakLocation:
              segmentId: segmentId
              index: 0
            type: HEADER_FOOTER_TYPE_UNSPECIFIED
          pinTableHeaderRows:
            pinnedHeaderRowsCount: 9
            tableStartLocation:
              segmentId: segmentId
              index: 0
          updateTableColumnProperties:
            columnIndices:
            - 3
            - 3
            tableColumnProperties:
              width:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              widthType: WIDTH_TYPE_UNSPECIFIED
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
          deleteNamedRange:
            namedRangeId: namedRangeId
            name: name
          deleteTableColumn:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          deletePositionedObject:
            objectId: objectId
          updateTableCellStyle:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
            tableCellStyle:
              columnSpan: 4
              rowSpan: 5
              borderLeft:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              backgroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              paddingBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderRight:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              paddingRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              paddingTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderBottom:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              borderTop:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              paddingLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
          createFootnote:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
          deleteTableRow:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          mergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
          insertSectionBreak:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            sectionType: SECTION_TYPE_UNSPECIFIED
          createNamedRange:
            name: name
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertTableRow:
            insertBelow: true
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          updateDocumentStyle:
            fields: fields
            documentStyle:
              evenPageHeaderId: evenPageHeaderId
              flipPageOrientation: true
              firstPageFooterId: firstPageFooterId
              evenPageFooterId: evenPageFooterId
              pageSize:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              useEvenPageHeaderFooter: true
              marginLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginHeader:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              background:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
              defaultFooterId: defaultFooterId
              defaultHeaderId: defaultHeaderId
              firstPageHeaderId: firstPageHeaderId
              marginBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageNumberStart: 9
              useFirstPageHeaderFooter: true
              marginFooter:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              useCustomHeaderFooterMargins: true
          updateTableRowStyle:
            tableRowStyle:
              preventOverflow: true
              tableHeader: true
              minRowHeight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            rowIndices:
            - 2
            - 2
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
          replaceAllText:
            replaceText: replaceText
            containsText:
              matchCase: true
              text: text
        - createHeader:
            sectionBreakLocation:
              segmentId: segmentId
              index: 0
            type: HEADER_FOOTER_TYPE_UNSPECIFIED
          insertTableColumn:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
            insertRight: true
          updateSectionStyle:
            sectionStyle:
              evenPageHeaderId: evenPageHeaderId
              flipPageOrientation: true
              firstPageFooterId: firstPageFooterId
              evenPageFooterId: evenPageFooterId
              contentDirection: CONTENT_DIRECTION_UNSPECIFIED
              columnProperties:
              - paddingEnd:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              - paddingEnd:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              marginLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginHeader:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              columnSeparatorStyle: COLUMN_SEPARATOR_STYLE_UNSPECIFIED
              defaultFooterId: defaultFooterId
              defaultHeaderId: defaultHeaderId
              firstPageHeaderId: firstPageHeaderId
              marginBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageNumberStart: 4
              sectionType: SECTION_TYPE_UNSPECIFIED
              useFirstPageHeaderFooter: true
              marginFooter:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            fields: fields
          updateParagraphStyle:
            paragraphStyle:
              indentFirstLine:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              shading:
                backgroundColor:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
              indentStart:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageBreakBefore: true
              borderTop:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              lineSpacing: 2.027123
              indentEnd:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderLeft:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              spaceAbove:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              keepWithNext: true
              spacingMode: SPACING_MODE_UNSPECIFIED
              borderRight:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              borderBetween:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              keepLinesTogether: true
              tabStops:
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              avoidWidowAndOrphan: true
              borderBottom:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              headingId: headingId
              direction: CONTENT_DIRECTION_UNSPECIFIED
              namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
              spaceBelow:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            fields: fields
          replaceImage:
            imageObjectId: imageObjectId
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            uri: uri
          insertInlineImage:
            objectSize:
              width:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              height:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            uri: uri
          deleteHeader:
            headerId: headerId
          createParagraphBullets:
            bulletPreset: BULLET_GLYPH_PRESET_UNSPECIFIED
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertText:
            location:
              segmentId: segmentId
              index: 0
            text: text
            endOfSegmentLocation:
              segmentId: segmentId
          insertPageBreak:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
          unmergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
          deleteFooter:
            footerId: footerId
          replaceNamedRangeContent:
            namedRangeId: namedRangeId
            text: text
            namedRangeName: namedRangeName
          deleteParagraphBullets:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          updateTextStyle:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
            textStyle:
              backgroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              underline: true
              link:
                bookmarkId: bookmarkId
                headingId: headingId
                url: url
              fontSize:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              foregroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              bold: true
              strikethrough: true
              baselineOffset: BASELINE_OFFSET_UNSPECIFIED
              italic: true
              weightedFontFamily:
                fontFamily: fontFamily
                weight: 7
              smallCaps: true
            fields: fields
          deleteContentRange:
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertTable:
            columns: 5
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            rows: 5
          createFooter:
            sectionBreakLocation:
              segmentId: segmentId
              index: 0
            type: HEADER_FOOTER_TYPE_UNSPECIFIED
          pinTableHeaderRows:
            pinnedHeaderRowsCount: 9
            tableStartLocation:
              segmentId: segmentId
              index: 0
          updateTableColumnProperties:
            columnIndices:
            - 3
            - 3
            tableColumnProperties:
              width:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              widthType: WIDTH_TYPE_UNSPECIFIED
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
          deleteNamedRange:
            namedRangeId: namedRangeId
            name: name
          deleteTableColumn:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          deletePositionedObject:
            objectId: objectId
          updateTableCellStyle:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
            tableCellStyle:
              columnSpan: 4
              rowSpan: 5
              borderLeft:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              backgroundColor:
                color:
                  rgbColor:
                    red: 5.637377
                    green: 5.962134
                    blue: 1.4658129
              paddingBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderRight:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              paddingRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              paddingTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderBottom:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              borderTop:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              paddingLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
          createFootnote:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
          deleteTableRow:
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          mergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 7
              tableCellLocation:
                columnIndex: 6
                rowIndex: 1
                tableStartLocation:
                  segmentId: segmentId
                  index: 0
          insertSectionBreak:
            location:
              segmentId: segmentId
              index: 0
            endOfSegmentLocation:
              segmentId: segmentId
            sectionType: SECTION_TYPE_UNSPECIFIED
          createNamedRange:
            name: name
            range:
              startIndex: 6
              endIndex: 5
              segmentId: segmentId
          insertTableRow:
            insertBelow: true
            tableCellLocation:
              columnIndex: 6
              rowIndex: 1
              tableStartLocation:
                segmentId: segmentId
                index: 0
          updateDocumentStyle:
            fields: fields
            documentStyle:
              evenPageHeaderId: evenPageHeaderId
              flipPageOrientation: true
              firstPageFooterId: firstPageFooterId
              evenPageFooterId: evenPageFooterId
              pageSize:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              useEvenPageHeaderFooter: true
              marginLeft:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginRight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginHeader:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              background:
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
              defaultFooterId: defaultFooterId
              defaultHeaderId: defaultHeaderId
              firstPageHeaderId: firstPageHeaderId
              marginBottom:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageNumberStart: 9
              useFirstPageHeaderFooter: true
              marginFooter:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              marginTop:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              useCustomHeaderFooterMargins: true
          updateTableRowStyle:
            tableRowStyle:
              preventOverflow: true
              tableHeader: true
              minRowHeight:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            rowIndices:
            - 2
            - 2
            tableStartLocation:
              segmentId: segmentId
              index: 0
            fields: fields
          replaceAllText:
            replaceText: replaceText
            containsText:
              matchCase: true
              text: text
        writeControl:
          targetRevisionId: targetRevisionId
          requiredRevisionId: requiredRevisionId
      properties:
        requests:
          description: A list of updates to apply to the document.
          items:
            $ref: '#/components/schemas/Request'
          title: requests
          type: array
        writeControl:
          $ref: '#/components/schemas/WriteControl'
      title: BatchUpdateDocumentRequest
      type: object
    BatchUpdateDocumentResponse:
      description: Response message from a BatchUpdateDocument request.
      example:
        replies:
        - createHeader:
            headerId: headerId
          createFooter:
            footerId: footerId
          createFootnote:
            footnoteId: footnoteId
          createNamedRange:
            namedRangeId: namedRangeId
          insertInlineImage:
            objectId: objectId
          insertInlineSheetsChart:
            objectId: objectId
          replaceAllText:
            occurrencesChanged: 0
        - createHeader:
            headerId: headerId
          createFooter:
            footerId: footerId
          createFootnote:
            footnoteId: footnoteId
          createNamedRange:
            namedRangeId: namedRangeId
          insertInlineImage:
            objectId: objectId
          insertInlineSheetsChart:
            objectId: objectId
          replaceAllText:
            occurrencesChanged: 0
        documentId: documentId
        writeControl:
          targetRevisionId: targetRevisionId
          requiredRevisionId: requiredRevisionId
      properties:
        documentId:
          description: The ID of the document to which the updates were applied to.
          title: documentId
          type: string
        replies:
          description: "The reply of the updates. This maps 1:1 with the updates,\
            \ although replies to some requests may be empty."
          items:
            $ref: '#/components/schemas/Response'
          title: replies
          type: array
        writeControl:
          $ref: '#/components/schemas/WriteControl'
      title: BatchUpdateDocumentResponse
      type: object
    Body:
      description: "The document body. The body typically contains the full document\
        \ contents except for headers, footers, and footnotes."
      example:
        content:
        - paragraph:
            paragraphStyle:
              indentFirstLine:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              shading:
                backgroundColor:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
              indentStart:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              pageBreakBefore: true
              borderTop:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              lineSpacing: 2.027123
              indentEnd:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              borderLeft:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              spaceAbove:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
              keepWithNext: true
              spacingMode: SPACING_MODE_UNSPECIFIED
              borderRight:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              borderBetween:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              keepLinesTogether: true
              tabStops:
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              - offset:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              avoidWidowAndOrphan: true
              borderBottom:
                padding:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
                color:
                  color:
                    rgbColor:
                      red: 5.637377
                      green: 5.962134
                      blue: 1.4658129
                dashStyle: DASH_STYLE_UNSPECIFIED
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 2.3021358869347655
              headingId: headingId
              direction: CONTENT_DIRECTION_UNSPECIFIED
              namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
              spaceBelow:
                unit: UNIT_UNSPECIFIED
                magnitude: 2.3021358869347655
            suggestedPositionedObjectIds:
              key:
                objectIds:
                - objectIds
                - objectIds
            suggestedBulletChanges:
              key:
                bullet:
                  listId: listId
                  nestingLevel: 6
                  textStyle:
                    backgroundColor:
                      color:
                        rgbColor:
                          red: 5.637377
                          green: 5.962134
                          blue: 1.4658129
                    underline: true
                    link:
                      bookmarkId: bookmarkId
                      headingId: headingId
                      url: url
                    fontSize:
                      unit: UNIT_UNSPECIFIED
                      magnitude: 2.3021358869347655
                    foregroundColor:
                      color:
                        rgbColor:
                          red: 5.637377
                          green: 5.962134
                          blue: 1.4658129
                    bold: true
                    strikethrough: true
                    baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                    italic: true
                    weightedFontFamily:
                      fontFamily: fontFamily
                      weight: 7
                    smallCaps: true
                bulletSuggestionState:
                  listIdSuggested: true
                  nestingLevelSuggested: true
                  textStyleSuggestionState:
                    boldSuggested: true
                    strikethroughSuggested: true
                    fontSizeSuggested: true
                    backgroundColorSuggested: true
                    smallCapsSuggested: true
                    linkSuggested: true
                    weightedFontFamilySuggested: true
                    underlineSuggested: true
                    foregroundColorSuggested: true
                    italicSuggested: true
                    baselineOffsetSuggested: true
            elements:
            - footnoteReference:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                footnoteNumber: footnoteNumber
                footnoteId: footnoteId
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              horizontalRule:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              startIndex: 3
              textRun:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                content: content
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              pageBreak:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              endIndex: 9
              person:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                personProperties:
                  name: name
                  email: email
                personId: personId
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              equation:
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              richLink:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                richLinkProperties:
                  mimeType: mimeType
                  title: title
                  uri: uri
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                richLinkId: richLinkId
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              inlineObjectElement:
                inlineObjectId: inlineObjectId
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              columnBreak:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              autoText:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                type: TYPE_UNSPECIFIED
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
            - footnoteReference:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                footnoteNumber: footnoteNumber
                footnoteId: footnoteId
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
                    unit: UNIT_UNSPECIFIED
                    magnitude: 2.3021358869347655
                  foregroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  bold: true
                  strikethrough: true
                  baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                  italic: true
                  weightedFontFamily:
                    fontFamily: fontFamily
                    weight: 7
                  smallCaps: true
                suggestedInsertionIds:
                - suggestedInsertionIds
                - suggestedInsertionIds
              horizontalRule:
                suggestedTextStyleChanges:
                  key:
                    textStyle:
                      backgroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      underline: true
                      link:
                        bookmarkId: bookmarkId
                        headingId: headingId
                        url: url
                      fontSize:
                        unit: UNIT_UNSPECIFIED
                        magnitude: 2.3021358869347655
                      foregroundColor:
                        color:
                          rgbColor:
                            red: 5.637377
                            green: 5.962134
                            blue: 1.4658129
                      bold: true
                      strikethrough: true
                      baselineOffset: BASELINE_OFFSET_UNSPECIFIED
                      italic: true
                      weightedFontFamily:
                        fontFamily: fontFamily
                        weight: 7
                      smallCaps: true
                    textStyleSuggestionState:
                      boldSuggested: true
                      strikethroughSuggested: true
                      fontSizeSuggested: true
                      backgroundColorSuggested: true
                      smallCapsSuggested: true
                      linkSuggested: true
                      weightedFontFamilySuggested: true
                      underlineSuggested: true
                      foregroundColorSuggested: true
                      italicSuggested: true
                      baselineOffsetSuggested: true
                suggestedDeletionIds:
                - suggestedDeletionIds
                - suggestedDeletionIds
                textStyle:
                  backgroundColor:
                    color:
                      rgbColor:
                        red: 5.637377
                        green: 5.962134
                        blue: 1.4658129
                  underline: true
                  link:
                    bookmarkId: bookmarkId
                    headingId: headingId
                    url: url
                  fontSize:
[...]
