openapi: 3.0.1
info:
  description: APIs to deploy and manage resources to SeaBreeze.
  title: SeaBreezeManagementClient
  version: 2018-07-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/servicefabricmesh.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabricmesh
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabricMesh/operations:
    get:
      description: Lists all the available operations provided by Service Fabric SeaBreeze
        resource provider.
      operationId: Operations_List
      parameters:
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      summary: Lists all of the available operations.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/applications:
    get:
      description: Gets the information about all application resources in a given
        subscription. The information includes the information about the application's
        services and other runtime properties.
      operationId: Application_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the application resources in a given subscription.
      tags:
      - Applications
      x-ms-examples:
        ApplicationList:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/abhisramvol/providers/Microsoft.ServiceFabricMesh/applications/myappl
                  location: eastus
                  name: myappl
                  properties:
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - myservice
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/abhisramvol/providers/Microsoft.ServiceFabricMesh/applications/myappw
                  location: eastus
                  name: myappw
                  properties:
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - myservice
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/mfussellapp2/providers/Microsoft.ServiceFabricMesh/applications/SbzVoting
                  location: EastUS
                  name: SbzVoting
                  properties:
                    description: Voting SeaBreeze!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - VotingWeb
                    - VotingData
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/mfussellapp3/providers/Microsoft.ServiceFabricMesh/applications/SbzVoting
                  location: EastUS
                  name: SbzVoting
                  properties:
                    description: Voting SeaBreeze!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - VotingWeb
                    - VotingData
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp
                  location: eastus
                  name: helloWorldApp
                  properties:
                    description: SeaBreeze HelloWorld Application!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/helloWorldAppWindows
                  location: eastus
                  name: helloWorldAppWindows
                  properties:
                    description: SeaBreeze HelloWorld Application!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sridhar1ResourceGroup/providers/Microsoft.ServiceFabricMesh/applications/privateRegistryExampleApp
                  location: eastus
                  name: privateRegistryExampleApp
                  properties:
                    description: SeaBreeze example application with container deployed
                      from private image registry.
                    healthState: Ok
                    provisioningState: Updating
                    serviceNames:
                    - helloWorldService
                    status: Invalid
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sridhar4ResourceGroup/providers/Microsoft.ServiceFabricMesh/applications/SbzVoting
                  location: eastus
                  name: SbzVoting
                  properties:
                    description: Voting SeaBreeze!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - VotingWeb
                    - VotingData
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sridharResourceGroup/providers/Microsoft.ServiceFabricMesh/applications/privateRegistryExampleApp
                  location: eastus
                  name: privateRegistryExampleApp
                  properties:
                    description: SeaBreeze example application with container deployed
                      from private image registry.
                    healthState: Ok
                    provisioningState: Updating
                    serviceNames:
                    - helloWorldService
                    status: Invalid
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sridharRG/providers/Microsoft.ServiceFabricMesh/applications/privateRegistryExampleApp
                  location: eastus
                  name: privateRegistryExampleApp
                  properties:
                    description: SeaBreeze example application with container deployed
                      from private image registry.
                    healthState: Ok
                    provisioningState: Updating
                    serviceNames:
                    - helloWorldService
                    status: Invalid
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/networks:
    get:
      description: Gets the information about all network resources in a given subscription.
        The information includes the network description and other runtime properties.
      operationId: Network_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the network resources in a given subscription.
      tags:
      - Networks
      x-ms-examples:
        NetworksList:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/{resourceGroup}/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork"
                  location: eastus
                  name: helloWorldNetwork
                  properties:
                    addressPrefix: 10.0.0.4/22
                    ingressConfig:
                      layer4:
                      - applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        publicPort: 80
                        serviceName: helloWorldService
                      publicIPAddress: 52.191.12.219
                      qosLevel: Bronze
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
                - id: "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/{resourceGroup}/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetworkWindows"
                  location: eastus
                  name: helloWorldNetworkWindows
                  properties:
                    addressPrefix: 10.0.0.4/22
                    ingressConfig:
                      layer4:
                      - applicationName: helloWorldAppWindows
                        endpointName: helloWorldListener
                        publicPort: 80
                        serviceName: helloWorldService
                      publicIPAddress: 52.191.255.103
                      qosLevel: Bronze
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/volumes:
    get:
      description: |
        Gets the information about all volume resources in a given subscription. The information includes the volume description and other runtime information.
      operationId: Volume_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the volume resources in a given subscription.
      tags:
      - Volumes
      x-ms-examples:
        VolumesList:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbzdemo/providers/Microsoft.ServiceFabricMesh/volumes/mysharel
                  location: eastus
                  name: mysharel
                  properties:
                    azureFileParameters:
                      accountName: sbzdemoaccount
                      shareName: sharel
                    description: File share backed by Azure Files storage.
                    provider: SFAzureFile
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/volumes
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbzdemo/providers/Microsoft.ServiceFabricMesh/volumes/mysharew
                  location: eastus
                  name: mysharew
                  properties:
                    azureFileParameters:
                      accountName: sbzdemoaccount
                      shareName: sharew
                    description: File share backed by Azure Files storage.
                    provider: SFAzureFile
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/volumes
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications:
    get:
      description: Gets the information about all application resources in a given
        resource group. The information includes the information about the application's
        services and other runtime properties.
      operationId: Application_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the application resources in a given resource group.
      tags:
      - Applications
      x-ms-examples:
        ApplicationList:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp
                  location: eastus
                  name: helloWorldApp
                  properties:
                    description: SeaBreeze HelloWorld Application!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/helloWorldAppWindows
                  location: eastus
                  name: helloWorldAppWindows
                  properties:
                    description: SeaBreeze HelloWorld Application!
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}
  : delete:
      description: Deletes the application resource identified by the name.
      operationId: Application_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the specified application was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the application resource.
      tags:
      - Applications
      x-ms-examples:
        ApplicationDelete:
          description: "This example shows how to delete an existing application resource.\
            \ If the application resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the application resource\
            \ does not exit, an empty response with 204 status code is returned."
          operationId: Application_Delete
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldAppWindows
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the information about the application resource with a given
        name. The information includes the information about the application's services
        and other runtime properties.
      operationId: Application_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the application resource.
      tags:
      - Applications
      x-ms-examples:
        ApplicationGet:
          parameters:
            api-version: 2018-07-01-preview
            applicationName: demo1
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/helloWorldAppWindows
                location: eastus
                name: helloWorldAppWindows
                properties:
                  description: SeaBreeze HelloWorld Application!
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                  - helloWorldService
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
      x-accepts:
      - application/json
    put:
      description: |
        Creates an application resource with the specified name and description. If an application with the same name already exists, then its description is updated to the one indicated in this request.

        Use network resources to provide public connectivity to the services of an application.
      operationId: Application_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResourceDescription'
        description: Description for creating an application resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: Ok
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates an application resource.
      tags:
      - Applications
      x-ms-examples:
        ApplicationCreateOrUpdate:
          description: This example shows how to create or update an application resource.
          operationId: Application_Create
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldApp
            applicationResourceDescription:
              location: EastUS
              properties:
                description: SeaBreeze HelloWorld Application!
                services:
                - name: helloWorldService
                  properties:
                    codePackages:
                    - endpoints:
                      - name: helloWorldListener
                        port: 80
                      image: seabreeze/sbz-helloworld:1.0-alpine
                      name: helloWorldCode
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                    description: SeaBreeze Hello World Service.
                    osType: linux
                    replicaCount: 1
              tags: {}
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/myHelloWorldApp
                location: EastUS
                name: myHelloWorldApp
                properties:
                  description: SeaBreeze HelloWorld Application!
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                  - helloWorldService
                  status: Invalid
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/myHelloWorldApp
                location: EastUS
                name: myHelloWorldApp
                properties:
                  description: SeaBreeze HelloWorld Application!
                  healthState: Ok
                  provisioningState: Updating
                  serviceNames:
                  - helloWorldService
                  status: Invalid
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
      x-codegen-request-body-name: applicationResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services
  : get:
      description: Gets the information about all services of a given service of an
        application. The information includes the runtime properties of the service
        instance.
      operationId: Service_ListByApplicationName
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceList'
          description: OK
      summary: Gets services of a given application.
      tags:
      - Services
      x-ms-examples:
        ServiceGetAll:
          description: This example shows how to list all services of a given application.
          operationId: Service_ListByApplicationName
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldApp
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - name: helloWorldService
                  properties:
                    codePackages:
                    - endpoints:
                      - name: helloWorldListener
                        port: 80
                      image: seabreeze/sbz-helloworld:1.0-alpine
                      name: helloWorldCode
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                    - image: seabreeze/sbz-helloworld-sidecar:1.0-alpine
                      name: helloWorldSideCar
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                    description: SeaBreeze Hello World Service.
                    healthState: Ok
                    networkRefs:
                    - name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                    osType: Linux
                    replicaCount: 1
                    status: Unknown
                  type: Microsoft.ServiceFabricMesh/services
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}
  : get:
      description: The operation returns the properties of the service.
      operationId: Service_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceDescription'
          description: OK
      summary: Gets the properties of the service.
      tags:
      - Services
      x-ms-examples:
        ServiceGet:
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldApp
            resourceGroupName: sbz_demo
            serviceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                name: helloWorldService
                properties:
                  codePackages:
                  - endpoints:
                    - name: helloWorldListener
                      port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  - image: seabreeze/sbz-helloworld-sidecar:1.0-alpine
                    name: helloWorldSideCar
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  description: SeaBreeze Hello World Service.
                  healthState: Ok
                  networkRefs:
                  - name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                  osType: Linux
                  replicaCount: 2
                  status: Unknown
                type: Microsoft.ServiceFabricMesh/services
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas
  : get:
      description: Gets the information about all replicas of a given service of an
        application. The information includes the runtime properties of the replica
        instance.
      operationId: Replica_ListByServiceName
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaList'
          description: OK
      summary: Gets replicas of a given service.
      tags:
      - Replicas
      x-ms-examples:
        ReplicasGetAll:
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldApp
            resourceGroupName: sbz_demo
            serviceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - codePackages:
                  - endpoints:
                    - name: helloWorldListener
                      port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                      - count: 3
                        firstTimestamp: 2018-04-05T22:37:20.9016844
                        lastTimestamp: 2018-04-06T06:36:06.0887046
                        message: Container created and started.
                        name: Created
                        type: Normal
                      - count: 1
                        firstTimestamp: 2018-04-06T06:34:00.6622454
                        lastTimestamp: 2018-04-06T06:34:00.6622454
                        message: Container was stopped.
                        name: Stopped
                        type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  - image: seabreeze/sbz-helloworld-sidecar:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                      - count: 3
                        firstTimestamp: 2018-04-05T22:37:20.906688
                        lastTimestamp: 2018-04-06T06:36:06.0827003
                        message: Container created and started.
                        name: Created
                        type: Normal
                      - count: 1
                        firstTimestamp: 2018-04-06T06:34:00.656241
                        lastTimestamp: 2018-04-06T06:34:00.656241
                        message: Container was stopped.
                        name: Stopped
                        type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldSideCar
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  networkRefs:
                  - name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                  osType: Linux
                  replicaName: "1"
                - codePackages:
                  - endpoints:
                    - name: helloWorldListener
                      port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                      - count: 3
                        firstTimestamp: 2018-04-05T22:37:20.9016844
                        lastTimestamp: 2018-04-06T06:36:06.0887046
                        message: Container created and started.
                        name: Created
                        type: Normal
                      - count: 1
                        firstTimestamp: 2018-04-06T06:34:00.6622454
                        lastTimestamp: 2018-04-06T06:34:00.6622454
                        message: Container was stopped.
                        name: Stopped
                        type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  - image: seabreeze/sbz-helloworld-sidecar:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                      - count: 3
                        firstTimestamp: 2018-04-05T22:37:20.906688
                        lastTimestamp: 2018-04-06T06:36:06.0827003
                        message: Container created and started.
                        name: Created
                        type: Normal
                      - count: 1
                        firstTimestamp: 2018-04-06T06:34:00.656241
                        lastTimestamp: 2018-04-06T06:34:00.656241
                        message: Container was stopped.
                        name: Stopped
                        type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldSideCar
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  networkRefs:
                  - name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                  osType: Linux
                  replicaName: "0"
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas/{replicaName}
  : get:
      description: Gets the information about the specified replica of a given service
        of an application. The information includes the runtime properties of the
        replica instance.
      operationId: Replica_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service replica.
        in: path
        name: replicaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaDescription'
          description: OK
      summary: Gets a specific replica of a given service.
      tags:
      - Replicas
      x-ms-examples:
        ReplicaGet:
          parameters:
            api-version: 2018-07-01-preview
            applicationName: helloWorldApp
            replicaName: "1"
            resourceGroupName: sbz_demo
            serviceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                codePackages:
                - endpoints:
                  - name: helloWorldListener
                    port: 80
                  image: seabreeze/sbz-helloworld:1.0-alpine
                  instanceView:
                    currentState:
                      exitCode: "0"
                      state: Running
                    events:
                    - count: 3
                      firstTimestamp: 2018-04-05T22:37:20.9016844
                      lastTimestamp: 2018-04-06T06:36:06.0887046
                      message: Container created and started.
                      name: Created
                      type: Normal
                    - count: 1
                      firstTimestamp: 2018-04-06T06:34:00.6622454
                      lastTimestamp: 2018-04-06T06:34:00.6622454
                      message: Container was stopped.
                      name: Stopped
                      type: Normal
                    previousState:
                      exitCode: "0"
                      state: NotSpecified
                    restartCount: 1
                  name: helloWorldCode
                  resources:
                    requests:
                      cpu: 1
                      memoryInGB: 1
                - image: seabreeze/sbz-helloworld-sidecar:1.0-alpine
                  instanceView:
                    currentState:
                      exitCode: "0"
                      state: Running
                    events:
                    - count: 3
                      firstTimestamp: 2018-04-05T22:37:20.906688
                      lastTimestamp: 2018-04-06T06:36:06.0827003
                      message: Container created and started.
                      name: Created
                      type: Normal
                    - count: 1
                      firstTimestamp: 2018-04-06T06:34:00.656241
                      lastTimestamp: 2018-04-06T06:34:00.656241
                      message: Container was stopped.
                      name: Stopped
                      type: Normal
                    previousState:
                      exitCode: "0"
                      state: NotSpecified
                    restartCount: 1
                  name: helloWorldSideCar
                  resources:
                    requests:
                      cpu: 1
                      memoryInGB: 1
                networkRefs:
                - name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                osType: Linux
                replicaName: "1"
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas/{replicaName}/codePackages/{codePackageName}/logs
  : get:
      description: Get the logs for the container of a given code package of an application.
      operationId: CodePackage_GetContainerLog
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: The identity of the application.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service replica.
        in: path
        name: replicaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the code package.
        in: path
        name: codePackageName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Number of lines to show from the end of the logs. Default is
          100.
        in: query
        name: tail
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerLogs'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the logs for the container.
      tags:
      - ContainerLogs
      x-ms-examples:
        ContainerLogsList:
          parameters:
            api-version: 2018-07-01-preview
            applicationName: sbzDocApp
            codePackageName: sbzDocCode
            replicaName: "0"
            resourceGroupName: sbz_demo
            serviceName: sbzDocService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                content: |2
                   * Running on http://0.0.0.0:8080/ (Press CTRL+C to quit)
                   * Downloading style https://assets-cdn.github.com/assets/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css
                   * Downloading style https://assets-cdn.github.com/assets/github-a698da0d53574b056d3c79ac732d4a70.css
                   * Downloading style https://assets-cdn.github.com/assets/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css
                   * Cached all downloads in /root/.grip/cache-4.5.2
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET / HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/github-a698da0d53574b056d3c79ac732d4a70.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/static/octicons/octicons.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/octicons/octicons.woff2?ef21c39f0ca9b1b5116e5eb7ac5eabe6 HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/favicon.ico HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:05] "GET /seabreeze-index.md HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:09] "GET /seabreeze-api-application_get.md HTTP/1.1" 200 -
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks:
    get:
      description: |
        Gets the information about all network resources in a given resource group. The information includes the network description and other runtime properties.
      operationId: Network_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the network resources in a given resource group.
      tags:
      - Networks
      x-ms-examples:
        NetworksList:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork
                  location: eastus
                  name: helloWorldNetwork
                  properties:
                    addressPrefix: 10.0.0.4/22
                    ingressConfig:
                      layer4:
                      - applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        publicPort: 80
                        serviceName: helloWorldService
                      publicIPAddress: 52.191.12.219
                      qosLevel: Bronze
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetworkWindows
                  location: eastus
                  name: helloWorldNetworkWindows
                  properties:
                    addressPrefix: 10.0.0.4/22
                    ingressConfig:
                      layer4:
                      - applicationName: helloWorldAppWindows
                        endpointName: helloWorldListener
                        publicPort: 80
                        serviceName: helloWorldService
                      publicIPAddress: 52.191.255.103
                      qosLevel: Bronze
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks/{networkName}:
    delete:
      description: Deletes the network resource identified by the name.
      operationId: Network_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the specified network was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the network resource.
      tags:
      - Networks
      x-ms-examples:
        NetworkDelete:
          description: "This example shows how to delete an existing network resource.\
            \ If the network resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the network resource does\
            \ not exit, an empty response with 204 status code is returned."
          operationId: Network_Delete
          parameters:
            api-version: 2018-07-01-preview
            networkName: helloWorldNetworkWindows
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: |
        Gets the information about the network resource with a given name. This information includes the network description and other runtime information.
      operationId: Network_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the network resource.
      tags:
      - Networks
      x-ms-examples:
        NetworkGet:
          parameters:
            api-version: 2018-07-01-preview
            networkName: helloWorldNetworkWindows
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetworkWindows
                location: eastus
                name: helloWorldNetworkWindows
                properties:
                  addressPrefix: 10.0.0.4/22
                  ingressConfig:
                    layer4:
                    - applicationName: helloWorldAppWindows
                      endpointName: helloWorldListener
                      publicPort: 80
                      serviceName: helloWorldService
                    publicIPAddress: 52.191.255.103
                    qosLevel: Bronze
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
      x-accepts:
      - application/json
    put:
      description: "Creates a network resource with the specified name and description.\
        \ If a network with the same name already exists, then its description is\
        \ updated to the one indicated in this request.\n\nUse network resources to\
        \ create private network and configure public connectivity for services within\
        \ your application. \n"
      operationId: Network_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkResourceDescription'
        description: Description for creating a network resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: Ok
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates a network resource.
      tags:
      - Networks
      x-ms-examples:
        Network_Create:
          description: This example shows how to create a network resource with custom
            address range and a load balanced public endpoint.
          operationId: Network_Create
          parameters:
            api-version: 2018-07-01-preview
            networkName: helloWorldNetworkWindows
            networkResourceDescription:
              location: eastus
              properties:
                addressPrefix: 10.0.0.4/22
                ingressConfig:
                  layer4:
                  - applicationName: helloWorldAppWindows
                    endpointName: helloWorldListener
                    publicPort: "80"
                    serviceName: helloWorldService
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetworkWindows
                location: eastus
                name: helloWorldNetworkWindows
                properties:
                  addressPrefix: 10.0.0.4/22
                  ingressConfig:
                    layer4:
                    - applicationName: helloWorldAppWindows
                      endpointName: helloWorldListener
                      publicPort: 80
                      serviceName: helloWorldService
                    qosLevel: Bronze
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetworkWindows
                location: eastus
                name: helloWorldNetworkWindows
                properties:
                  addressPrefix: 10.0.0.4/22
                  ingressConfig:
                    layer4:
                    - applicationName: helloWorldAppWindows
                      endpointName: helloWorldListener
                      publicPort: 80
                      serviceName: helloWorldService
                    qosLevel: Bronze
                  provisioningState: Updating
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
      x-codegen-request-body-name: networkResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes:
    get:
      description: |
        Gets the information about all volume resources in a given resource group. The information includes the volume description and other runtime information.
      operationId: Volume_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the volume resources in a given resource group.
      tags:
      - Volumes
      x-ms-examples:
        VolumesList:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sbzDemoVolume2
                  location: eastus
                  name: sbzDemoShare
                  properties:
                    azureFileParameters:
                      accountName: sbzdemoaccount
                      shareName: sharel
                    description: File share backed by Azure Files storage.
                    provider: SFAzureFile
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/volumes
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sbzDemoVolume
                  location: eastus
                  name: sbzDemoVolume
                  properties:
                    azureFileParameters:
                      accountName: sbzdemoaccount
                      shareName: sharel
                    description: File share backed by Azure Files storage.
                    provider: SFAzureFile
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/volumes
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes/{volumeName}:
    delete:
      description: Deletes the volume identified by the name.
      operationId: Volume_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the volume.
        in: path
        name: volumeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the specified volume was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the volume resource.
      tags:
      - Volumes
      x-ms-examples:
        VolumeDelete:
          description: "This example shows how to delete an existing volume resource.\
            \ If the volume resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the volume resource does\
            \ not exit, an empty response with 204 status code is returned."
          operationId: Volume_Delete
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeName: sbzDemoVolume
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: |
        Gets the information about the volume resource with a given name. This information includes the volume description and other runtime information.
      operationId: Volume_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the volume.
        in: path
        name: volumeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the volume resource.
      tags:
      - Volumes
      x-ms-examples:
        VolumeGet:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeName: sbzDemoVolume
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sbzDemoVolume
                location: eastus
                name: sbzDemoVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: File share backed by Azure Files storage.
                  provider: SFAzureFile
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
      x-accepts:
      - application/json
    put:
      description: |
        Creates a volume resource with the specified name and description. If a volume with the same name already exists, then its description is updated to the one indicated in this request.
      operationId: Volume_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-07-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-07-01-preview
          enum:
          - 2018-07-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-07-01-preview
            values:
            - description: The `2018-07-01-preview` version of the API.
              value: 2018-07-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the volume.
        in: path
        name: volumeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeResourceDescription'
        description: Description for creating a volume resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
          description: Ok
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates a volume resource.
      tags:
      - Volumes
      x-ms-examples:
        VolumeCreate:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeName: sbzDemoVolume
            volumeResourceDescription:
              location: eastus
              properties:
                azureFileParameters:
                  accountKey: provide-account-key-here
                  accountName: sbzdemoaccount
                  shareName: sharel
                description: File share backed by Azure Files storage.
                provider: SFAzureFile
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sbzDemoVolume
                location: eastus
                name: sbzDemoVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: File share backed by Azure Files storage.
                  provider: SFAzureFile
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sbzDemoVolume
                location: eastus
                name: sbzDemoVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: File share backed by Azure Files storage.
                  provider: SFAzureFile
                  provisioningState: Updating
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
      x-codegen-request-body-name: volumeResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApplicationNameRequiredPathParam:
      description: The identity of the application.
      in: path
      name: applicationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    CodePackageNameRequiredPathParam:
      description: The name of the code package.
      in: path
      name: codePackageName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    NetworkNameRequiredPathParam:
      description: The identity of the network.
      in: path
      name: networkName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    ReplicaNameRequiredPathParam:
      description: The identity of the service replica.
      in: path
      name: replicaName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    ResourceGroupNameRequiredPathParam:
      description: Azure resource group name
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServiceNameRequiredPathParam:
      description: The identity of the service.
      in: path
      name: serviceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    TailOptionalQueryParam:
      description: Number of lines to show from the end of the logs. Default is 100.
      in: query
      name: tail
      schema:
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    VolumeNameRequiredPathParam:
      description: The identity of the volume.
      in: path
      name: volumeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    api-versionRequiredQueryParam:
      description: The version of the API. This parameter is required and its value
        must be `2018-07-01-preview`.
      in: query
      name: api-version
      required: true
      schema:
        default: 2018-07-01-preview
        enum:
        - 2018-07-01-preview
        type: string
        x-ms-enum:
          modelAsString: true
          name: 2018-07-01-preview
          values:
          - description: The `2018-07-01-preview` version of the API.
            value: 2018-07-01-preview
      x-ms-enum:
        modelAsString: true
        name: 2018-07-01-preview
        values:
        - description: The `2018-07-01-preview` version of the API.
          value: 2018-07-01-preview
    subscriptionIdRequiredPathParam:
      description: The customer subscription identifier
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    ApplicationResourceDescriptionRequiredBodyParam:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplicationResourceDescription'
      description: Description for creating an application resource.
      required: true
      x-ms-parameter-location: method
    NetworkResourceDescriptionRequiredBodyParam:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NetworkResourceDescription'
      description: Description for creating a network resource.
      required: true
      x-ms-parameter-location: method
    VolumeResourceDescriptionRequiredBodyParam:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VolumeResourceDescription'
      description: Description for creating a volume resource.
      required: true
      x-ms-parameter-location: method
  schemas:
    ApplicationProperties:
      description: This type describes properties of an application resource.
      properties:
        debugParams:
          description: Internal use.
          type: string
        description:
          description: User readable description of the application.
          type: string
        diagnostics:
          $ref: '#/components/schemas/DiagnosticsDescription'
        healthState:
          $ref: '#/components/schemas/HealthState'
        serviceNames:
          description: Names of the services in the application.
          items:
            type: string
          readOnly: true
          type: array
        services:
          description: describes the services in the application.
          items:
            $ref: '#/components/schemas/ServiceResourceDescription'
          type: array
        status:
          description: Status of the application resource.
          enum:
          - Invalid
          - Ready
          - Upgrading
          - Creating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApplicationResourceStatus
        statusDetails:
          description: Gives additional information about the current status of the
            application deployment.
          readOnly: true
          type: string
        unhealthyEvaluation:
          description: "When the application's health state is not 'Ok', this additional\
            \ details from service fabric Health Manager for the user to know why\
            \ the application is marked unhealthy."
          readOnly: true
          type: string
      type: object
    ApplicationResourceDescription:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: This type describes an application resource.
      example:
        properties:
          unhealthyEvaluation: unhealthyEvaluation
          diagnostics:
            sinks:
            - kind: Invalid
              name: name
              description: description
            - kind: Invalid
              name: name
              description: description
            defaultSinkRefs:
            - defaultSinkRefs
            - defaultSinkRefs
            enabled: true
          debugParams: debugParams
          healthState: Invalid
          description: description
          statusDetails: statusDetails
          provisioningState: provisioningState
          services:
          - properties:
              codePackages:
              - image: image
                settings:
                - name: name
                  value: value
                - name: name
                  value: value
                endpoints:
                - port: 0
                  name: name
                - port: 0
                  name: name
                imageRegistryCredential:
                  server: server
                  password: password
                  username: username
                resources:
                  requests:
                    cpu: 2.3021358869347655
                    memoryInGB: 7.061401241503109
                  limits:
                    cpu: 5.962133916683182
                    memoryInGB: 5.637376656633329
                volumeRefs:
                - name: name
                  readOnly: true
                  destinationPath: destinationPath
                - name: name
                  readOnly: true
                  destinationPath: destinationPath
                labels:
                - name: name
                  value: value
                - name: name
                  value: value
                diagnostics:
                  sinkRefs:
                  - sinkRefs
                  - sinkRefs
                  enabled: true
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: exitCode
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
[...]
