openapi: 3.0.1
info:
  contact: {}
  description: Api Documentation
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: urn:tos
  title: Api Documentation
  version: "1.0"
  x-apisguru-categories:
  - security
  x-origin:
  - format: swagger
    url: https://apibeta.uscann.net/apiv1/v2/api-docs?group=authentication-api
    version: "2.0"
  x-providerName: uscann.net
servers:
- url: //apibeta.uscann.net/apiv1
tags:
- description: the authentication API
  name: authentication-api-controller
paths:
  /authentication/forgotPassword:
    post:
      deprecated: false
      operationId: forgot_password
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailModel'
        description: The User email used to send email
        required: true
        x-body-name: forgotPassword
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: forgotPassword
      tags:
      - authentication-api-controller
      x-codegen-request-body-name: forgotPassword
      x-openapi-router-controller: openapi_server.controllers.authentication_api_controller_controller
  /authentication/register:
    post:
      deprecated: false
      operationId: register
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationModel'
        description: The RegistrationForm definition is used to register the customer
        required: true
        x-body-name: register
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: register
      tags:
      - authentication-api-controller
      x-codegen-request-body-name: register
      x-openapi-router-controller: openapi_server.controllers.authentication_api_controller_controller
  /authentication/setForgotPassword:
    post:
      deprecated: false
      operationId: set_forgot_password
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotMailToken'
        description: The ForgotMailToken definition used to returns status of password
          reset
        required: true
        x-body-name: token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: validates the mail token and set new password
      tags:
      - authentication-api-controller
      x-codegen-request-body-name: token
      x-openapi-router-controller: openapi_server.controllers.authentication_api_controller_controller
  /authentication/token:
    post:
      deprecated: false
      operationId: authenticate_user
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginUser'
        description: The LoginUser definition used to returns the token for authentication
        required: true
        x-body-name: loginUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: authenticate the user and returns the token
      tags:
      - authentication-api-controller
      x-codegen-request-body-name: loginUser
      x-openapi-router-controller: openapi_server.controllers.authentication_api_controller_controller
  /authentication/validateMailToken:
    post:
      deprecated: false
      operationId: validate_mail_token
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailToken'
        description: The MailToken definition used to returns status of validation
        required: true
        x-body-name: token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: validates the mail token
      tags:
      - authentication-api-controller
      x-codegen-request-body-name: token
      x-openapi-router-controller: openapi_server.controllers.authentication_api_controller_controller
components:
  schemas:
    EmailModel:
      example:
        email: email
      properties:
        email:
          description: The email of user
          title: email
          type: string
      required:
      - email
      title: EmailModel
      type: object
    ForgotMailToken:
      example:
        password: password
        activity: activity
        token: token
      properties:
        activity:
          description: The user activity
          title: activity
          type: string
        password:
          description: The user password
          title: password
          type: string
        token:
          description: The token
          title: token
          type: string
      required:
      - activity
      - token
      title: ForgotMailToken
      type: object
    JwtResponse:
      example:
        settings: settings
        role: role
        activities: activities
        customerId: 0
        fullName: fullName
        partnerId: 6
        type: type
        userId: 1
        email: email
        token: token
        username: username
      properties:
        activities:
          description: The activities of the User
          title: activities
          type: string
        customerId:
          description: The ID of the Customer
          format: int32
          title: customerId
          type: integer
        email:
          description: The Role of the User
          title: email
          type: string
        fullName:
          description: The Role of the User
          title: fullName
          type: string
        partnerId:
          description: The ID of the Partner
          format: int32
          title: partnerId
          type: integer
        role:
          description: The Role of the User
          title: role
          type: string
        settings:
          description: The settings of the User
          title: settings
          type: string
        token:
          description: The value of token
          title: token
          type: string
        type:
          description: The type of token
          title: type
          type: string
        userId:
          description: The ID of the User
          format: int32
          title: userId
          type: integer
        username:
          description: The username of the User
          title: username
          type: string
      required:
      - token
      - type
      title: JwtResponse
      type: object
    LoginUser:
      example:
        password: password
        username: username
      properties:
        password:
          description: The user password
          title: password
          type: string
        username:
          description: The name of user
          title: username
          type: string
      required:
      - password
      - username
      title: LoginUser
      type: object
    MailToken:
      example:
        activity: activity
        token: token
      properties:
        activity:
          description: The user activity
          title: activity
          type: string
        token:
          description: The token
          title: token
          type: string
      required:
      - activity
      - token
      title: MailToken
      type: object
    Problem:
      example:
        code: code
        message: message
      properties:
        code:
          title: code
          type: string
        message:
          title: message
          type: string
      required:
      - code
      - message
      title: Problem
      type: object
    RegistrationModel:
      example:
        zip: zip
        country: country
        lastName: lastName
        city: city
        companyDescription: companyDescription
        companyName: companyName
        number3: 1
        date3: date3
        number1: 0
        date2: date2
        number2: 6
        storage: storage
        date1: date1
        firstName: firstName
        password: password
        string3: string3
        phone: phone
        streetAddress: streetAddress
        string1: string1
        string2: string2
        state: state
        email: email
        username: username
      properties:
        city:
          description: The city of address
          title: city
          type: string
        companyDescription:
          description: The company Description
          title: companyDescription
          type: string
        companyName:
          description: The company name of customer
          title: companyName
          type: string
        country:
          description: The country of address
          title: country
          type: string
        date1:
          description: The buffer date 1
          title: date1
          type: string
        date2:
          description: The buffer date 2
          title: date2
          type: string
        date3:
          description: The buffer date 3
          title: date3
          type: string
        email:
          description: The email of customer
          title: email
          type: string
        firstName:
          description: The first name of customer
          title: firstName
          type: string
        lastName:
          description: The last name of customer
          title: lastName
          type: string
        number1:
          description: The buffer number 1
          format: int32
          title: number1
          type: integer
        number2:
          description: The buffer number 2
          format: int32
          title: number2
          type: integer
        number3:
          description: The buffer number 3
          format: int32
          title: number3
          type: integer
        password:
          description: The password of customer
          title: password
          type: string
        phone:
          description: The mobile number
          title: phone
          type: string
        state:
          description: The state of customer
          title: state
          type: string
        storage:
          description: The facial recognition type of customer
          title: storage
          type: string
        streetAddress:
          description: The street of address
          title: streetAddress
          type: string
        string1:
          description: The buffer string 1
          title: string1
          type: string
        string2:
          description: The buffer string 2
          title: string2
          type: string
        string3:
          description: The buffer string 3
          title: string3
          type: string
        username:
          description: The username of customer
          title: username
          type: string
        zip:
          description: The zip code of address
          title: zip
          type: string
      required:
      - companyName
      - email
      - password
      - username
      title: RegistrationModel
      type: object
    ResponseEntity:
      properties:
        body:
          properties: {}
          type: object
        statusCode:
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
          type: string
        statusCodeValue:
          format: int32
          type: integer
      title: ResponseEntity
      type: object
    ResponseStatus:
      example:
        code: success
        message: message
      properties:
        code:
          description: Indicates whether connection was established or not
          enum:
          - success
          - failure
          title: code
          type: string
        message:
          description: The message that provides more detail relating to the status
            code
          title: message
          type: string
      required:
      - code
      - message
      title: ResponseStatus
      type: object
x-original-swagger-version: "2.0"
