openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Email Templates associated
    with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimemailtemplates.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimemailtemplates
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates
  : get:
      description: Lists a collection of properties defined within a service instance.
      operationId: email_template_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_200_response'
          description: A Collection of the Email Template for the specified API Management
            service instance.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplate
      x-ms-examples:
        ApiManagementListEmailTemplates:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/ApplicationApprovedNotificationMessage
                  name: ApplicationApprovedNotificationMessage
                  properties:
                    body: "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n\
                      \    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear\
                      \ $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                      \ UI'\">\r\n          We are happy to let you know that your\
                      \ request to publish the $AppName application in the application\
                      \ gallery has been approved. Your application has been published\
                      \ and can be viewed <a href=\"http://$DevPortalUrl/Applications/Details/$AppId\"\
                      >here</a>.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                      \ UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                      \ UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n\
                      </html>"
                    description: Developers who submitted their application for publication
                      in the application gallery on the developer portal receive this
                      email after their submission is approved.
                    isDefault: true
                    parameters:
                    - name: AppId
                      title: Application id
                    - name: AppName
                      title: Application name
                    - name: DevFirstName
                      title: Developer first name
                    - name: DevLastName
                      title: Developer last name
                    - name: OrganizationName
                      title: Organization name
                    - name: DevPortalUrl
                      title: Developer portal URL
                    subject: Your application $AppName is published in the application
                      gallery
                    title: Application gallery submission approved
                  type: Microsoft.ApiManagement/service/templates
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.email_template_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates/{templateName}
  : delete:
      description: Reset the Email Template to default template provided by the API
        Management service instance.
      operationId: email_template_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Email Template Name Identifier.
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TemplateName
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Email Template was successfully reset to default.
        "204":
          content: {}
          description: Email Template was successfully reset to default.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplates
      x-ms-examples:
        ApiManagementDeleteEmailTemplate:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            templateName: newIssueNotificationMessage
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.email_templates_controller
    get:
      description: Gets the details of the email template specified by its identifier.
      operationId: email_template_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Email Template Name Identifier.
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TemplateName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_Get_200_response'
          description: The response body contains the specified Email template.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplates
      x-ms-examples:
        ApiManagementGetEmailTemplate:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            templateName: newIssueNotificationMessage
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage
                name: NewIssueNotificationMessage
                properties:
                  body: "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n\
                    \    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName\
                    \ $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                    \ UI'\">Thank you for contacting us. Our API team will review\
                    \ your issue and get back to you soon.</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this\
                    \ <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to\
                    \ view or edit your request.\r\n        </p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName\
                    \ API Team</p>\r\n  </body>\r\n</html>"
                  description: This email is sent to developers after they create
                    a new topic on the Issues page of the developer portal.
                  isDefault: true
                  parameters:
                  - name: DevFirstName
                    title: Developer first name
                  - name: DevLastName
                    title: Developer last name
                  - name: IssueId
                    title: Issue id
                  - name: IssueName
                    title: Issue name
                  - name: OrganizationName
                    title: Organization name
                  - name: DevPortalUrl
                    title: Developer portal URL
                  subject: Your request $IssueName was received
                  title: New issue received
                type: Microsoft.ApiManagement/service/templates
      x-openapi-router-controller: openapi_server.controllers.email_templates_controller
    head:
      description: Gets the entity state (Etag) version of the email template specified
        by its identifier.
      operationId: email_template_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Email Template Name Identifier.
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TemplateName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified email template entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplates
      x-ms-examples:
        ApiManagementHeadEmailTemplate:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            templateName: newIssueNotificationMessage
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.email_templates_controller
    patch:
      description: Updates the specific Email Template.
      operationId: email_template_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Email Template Name Identifier.
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TemplateName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplate_CreateOrUpdate_request'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: Email Template was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplates
      x-ms-examples:
        ApiManagementUpdateEmailTemplate:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            parameters:
              properties:
                body: "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n  \
                  \  <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName\
                  \ $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                  \ UI'\">\r\n          We are happy to let you know that your request\
                  \ to publish the $AppName application in the gallery has been approved.\
                  \ Your application has been published and can be viewed <a href=\"\
                  http://$DevPortalUrl/Applications/Details/$AppId\">here</a>.\r\n\
                  \        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                  \ UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                  \ UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>"
                subject: Your application $AppName is published in the gallery
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            templateName: applicationApprovedNotificationMessage
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.email_templates_controller
    put:
      description: Updates an Email Template.
      operationId: email_template_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Email Template Name Identifier.
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TemplateName
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplate_CreateOrUpdate_request'
        description: Email Template update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_Get_200_response'
          description: Email Template was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_Get_200_response'
          description: Email Template was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - EmailTemplates
      x-ms-examples:
        ApiManagementCreateEmailTemplate:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              properties:
                subject: Your request for $IssueName was successfully received.
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            templateName: newIssueNotificationMessage
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage
                name: NewIssueNotificationMessage
                properties:
                  body: "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n\
                    \    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName\
                    \ $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                    \ UI'\">Thank you for contacting us. Our API team will review\
                    \ your issue and get back to you soon.</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this\
                    \ <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to\
                    \ view or edit your request.\r\n        </p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName\
                    \ API Team</p>\r\n  </body>\r\n</html>"
                  description: This email is sent to developers after they create
                    a new topic on the Issues page of the developer portal.
                  isDefault: false
                  parameters:
                  - name: DevFirstName
                    title: Developer first name
                  - name: DevLastName
                    title: Developer last name
                  - name: IssueId
                    title: Issue id
                  - name: IssueName
                    title: Issue name
                  - name: OrganizationName
                    title: Organization name
                  - name: DevPortalUrl
                    title: Developer portal URL
                  subject: Your request for $IssueName was successfully received.
                  title: New issue received
                type: Microsoft.ApiManagement/service/templates
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage
                name: NewIssueNotificationMessage
                properties:
                  body: "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n\
                    \    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName\
                    \ $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe\
                    \ UI'\">Thank you for contacting us. Our API team will review\
                    \ your issue and get back to you soon.</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this\
                    \ <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to\
                    \ view or edit your request.\r\n        </p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"\
                    font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName\
                    \ API Team</p>\r\n  </body>\r\n</html>"
                  description: This email is sent to developers after they create
                    a new topic on the Issues page of the developer portal.
                  isDefault: false
                  parameters:
                  - name: DevFirstName
                    title: Developer first name
                  - name: DevLastName
                    title: Developer last name
                  - name: IssueId
                    title: Issue id
                  - name: IssueName
                    title: Issue name
                  - name: OrganizationName
                    title: Organization name
                  - name: DevPortalUrl
                    title: Developer portal URL
                  subject: Your request for $IssueName was successfully received.
                  title: New issue received
                type: Microsoft.ApiManagement/service/templates
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.email_templates_controller
components:
  schemas:
    EmailTemplate_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: EmailTemplate_ListByService_default_response_error_details_inner
      type: object
    EmailTemplate_CreateOrUpdate_request:
      description: Email Template update Parameters.
      properties:
        properties:
          $ref: '#/components/schemas/EmailTemplate_CreateOrUpdate_request_properties'
      title: EmailTemplate_CreateOrUpdate_request
      type: object
    EmailTemplate_ListByService_200_response_value_inner:
      description: Email Template details.
      example:
        properties:
          isDefault: true
          subject: subject
          description: description
          body: body
          title: title
          parameters:
          - name: name
            description: description
            title: title
          - name: name
            description: description
            title: title
      properties:
        properties:
          $ref: '#/components/schemas/EmailTemplate_ListByService_200_response_value_inner_properties'
      title: EmailTemplate_ListByService_200_response_value_inner
      type: object
    EmailTemplate_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/EmailTemplate_ListByService_default_response_error'
      title: EmailTemplate_ListByService_default_response
      type: object
    EmailTemplate_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Email Template details.
      example:
        properties:
          isDefault: true
          subject: subject
          description: description
          body: body
          title: title
          parameters:
          - name: name
            description: description
            title: title
          - name: name
            description: description
            title: title
      properties:
        properties:
          $ref: '#/components/schemas/EmailTemplate_ListByService_200_response_value_inner_properties'
      title: EmailTemplate_Get_200_response
    EmailTemplate_CreateOrUpdate_request_properties:
      description: Email Template Update Contract properties.
      properties:
        body:
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
          title: body
          type: string
        description:
          description: Description of the Email Template.
          title: description
          type: string
        parameters:
          description: Email Template Parameter values.
          items:
            $ref: '#/components/schemas/EmailTemplate_ListByService_200_response_value_inner_properties_parameters_inner'
          title: parameters
          type: array
        subject:
          description: Subject of the Template.
          maxLength: 1000
          minLength: 1
          title: subject
          type: string
        title:
          description: Title of the Template.
          title: title
          type: string
      title: EmailTemplate_CreateOrUpdate_request_properties
      type: object
    EmailTemplate_ListByService_200_response_value_inner_properties:
      description: Email Template Contract properties.
      example:
        isDefault: true
        subject: subject
        description: description
        body: body
        title: title
        parameters:
        - name: name
          description: description
          title: title
        - name: name
          description: description
          title: title
      properties:
        body:
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
          title: body
          type: string
        description:
          description: Description of the Email Template.
          title: description
          type: string
        isDefault:
          description: Whether the template is the default template provided by Api
            Management or has been edited.
          readOnly: true
          title: isDefault
          type: boolean
        parameters:
          description: Email Template Parameter values.
          items:
            $ref: '#/components/schemas/EmailTemplate_ListByService_200_response_value_inner_properties_parameters_inner'
          title: parameters
          type: array
        subject:
          description: Subject of the Template.
          maxLength: 1000
          minLength: 1
          title: subject
          type: string
        title:
          description: Title of the Template.
          title: title
          type: string
      required:
      - body
      - subject
      title: EmailTemplate_ListByService_200_response_value_inner_properties
      type: object
    EmailTemplate_ListByService_200_response_value_inner_properties_parameters_inner:
      description: Email Template Parameter contract.
      example:
        name: name
        description: description
        title: title
      properties:
        description:
          description: Template parameter description.
          maxLength: 256
          minLength: 1
          pattern: "^[A-Za-z0-9-._]+$"
          title: description
          type: string
        name:
          description: Template parameter name.
          maxLength: 256
          minLength: 1
          pattern: "^[A-Za-z0-9-._]+$"
          title: name
          type: string
        title:
          description: Template parameter title.
          maxLength: 4096
          minLength: 1
          title: title
          type: string
      title: EmailTemplate_ListByService_200_response_value_inner_properties_parameters_inner
      type: object
    EmailTemplate_ListByService_200_response:
      description: Paged email template list representation.
      example:
        value:
        - properties:
            isDefault: true
            subject: subject
            description: description
            body: body
            title: title
            parameters:
            - name: name
              description: description
              title: title
            - name: name
              description: description
              title: title
        - properties:
            isDefault: true
            subject: subject
            description: description
            body: body
            title: title
            parameters:
            - name: name
              description: description
              title: title
            - name: name
              description: description
              title: title
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/EmailTemplate_ListByService_200_response_value_inner'
          title: value
          type: array
      title: EmailTemplate_ListByService_200_response
      type: object
    EmailTemplate_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/EmailTemplate_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: EmailTemplate_ListByService_default_response_error
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
