openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Search Ads 360 API allows developers to automate downloading reports
    from Search Ads 360.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Search Ads 360 Reporting API
  version: v0
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://searchads360.googleapis.com/$discovery/rest?version=v0
    version: v1
  x-providerName: googleapis.com
  x-serviceName: searchads360
externalDocs:
  url: https://developers.google.com/search-ads/reporting
servers:
- url: https://searchads360.googleapis.com/
tags:
- name: customers
- name: searchAds360Fields
paths:
  /v0/customers/{customerId}/customColumns:
    get:
      description: Returns all the custom columns associated with the customer in
        full detail.
      operationId: searchads360_customers_custom_columns_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the customer to apply the CustomColumn list
          operation to.
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__ListCustomColumnsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v0/customers/{customerId}/searchAds360:search:
    post:
      description: "Returns all rows that match the search query. List of thrown errors:\
        \ [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]()\
        \ [QueryError]() [QuotaError]() [RequestError]()"
      operationId: searchads360_customers_search_ads360_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the customer being queried.
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__SearchSearchAds360Request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__SearchSearchAds360Response'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v0/customers:listAccessibleCustomers:
    get:
      description: "Returns resource names of customers directly accessible by the\
        \ user authenticating the call. List of thrown errors: [AuthenticationError]()\
        \ [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]()\
        \ [RequestError]()"
      operationId: searchads360_customers_list_accessible_customers
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v0/searchAds360Fields:search:
    post:
      description: "Returns all fields that match the search query. List of thrown\
        \ errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]()\
        \ [QueryError]() [QuotaError]() [RequestError]()"
      operationId: searchads360_search_ads360_fields_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - searchAds360Fields
      x-openapi-router-controller: openapi_server.controllers.search_ads360_fields_controller
      x-codegen-request-body-name: body
  /v0/{resourceName}:
    get:
      description: "Returns just the requested field. List of thrown errors: [AuthenticationError]()\
        \ [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]()\
        \ [RequestError]()"
      operationId: searchads360_search_ads360_fields_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the field to get.
        explode: false
        in: path
        name: resourceName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsSearchads360V0Resources__SearchAds360Field'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - searchAds360Fields
      x-openapi-router-controller: openapi_server.controllers.search_ads360_fields_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleAdsSearchads360V0Common__AdScheduleInfo:
      description: Represents an AdSchedule criterion. AdSchedule is specified as
        the day of the week and a time interval within which ads will be shown. No
        more than six AdSchedules can be added for the same day.
      example:
        endHour: 5
        dayOfWeek: UNSPECIFIED
        startHour: 2
        startMinute: UNSPECIFIED
        endMinute: UNSPECIFIED
      properties:
        dayOfWeek:
          description: Day of the week the schedule applies to. This field is required
            for CREATE operations and is prohibited on UPDATE operations.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          title: dayOfWeek
          type: string
        endHour:
          description: "Ending hour in 24 hour time; 24 signifies end of the day.\
            \ This field must be between 0 and 24, inclusive. This field is required\
            \ for CREATE operations and is prohibited on UPDATE operations."
          format: int32
          title: endHour
          type: integer
        endMinute:
          description: Minutes after the end hour at which this schedule ends. The
            schedule is exclusive of the end minute. This field is required for CREATE
            operations and is prohibited on UPDATE operations.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ZERO
          - FIFTEEN
          - THIRTY
          - FORTY_FIVE
          title: endMinute
          type: string
        startHour:
          description: "Starting hour in 24 hour time. This field must be between\
            \ 0 and 23, inclusive. This field is required for CREATE operations and\
            \ is prohibited on UPDATE operations."
          format: int32
          title: startHour
          type: integer
        startMinute:
          description: Minutes after the start hour at which this schedule starts.
            This field is required for CREATE operations and is prohibited on UPDATE
            operations.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ZERO
          - FIFTEEN
          - THIRTY
          - FORTY_FIVE
          title: startMinute
          type: string
      title: GoogleAdsSearchads360V0Common__AdScheduleInfo
      type: object
    GoogleAdsSearchads360V0Common__AgeRangeInfo:
      description: An age range criterion.
      example:
        type: UNSPECIFIED
      properties:
        type:
          description: Type of the age range.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AGE_RANGE_18_24
          - AGE_RANGE_25_34
          - AGE_RANGE_35_44
          - AGE_RANGE_45_54
          - AGE_RANGE_55_64
          - AGE_RANGE_65_UP
          - AGE_RANGE_UNDETERMINED
          title: type
          type: string
      title: GoogleAdsSearchads360V0Common__AgeRangeInfo
      type: object
    GoogleAdsSearchads360V0Common__AssetInteractionTarget:
      description: An AssetInteractionTarget segment.
      example:
        asset: asset
        interactionOnThisAsset: true
      properties:
        asset:
          description: The asset resource name.
          title: asset
          type: string
        interactionOnThisAsset:
          description: "Only used with CustomerAsset, CampaignAsset and AdGroupAsset\
            \ metrics. Indicates whether the interaction metrics occurred on the asset\
            \ itself or a different asset or ad unit."
          title: interactionOnThisAsset
          type: boolean
      title: GoogleAdsSearchads360V0Common__AssetInteractionTarget
      type: object
    GoogleAdsSearchads360V0Common__AssetUsage:
      description: Contains the usage information of the asset.
      example:
        asset: asset
        servedAssetFieldType: UNSPECIFIED
      properties:
        asset:
          description: Resource name of the asset.
          title: asset
          type: string
        servedAssetFieldType:
          description: The served field type of the asset.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HEADLINE_1
          - HEADLINE_2
          - HEADLINE_3
          - DESCRIPTION_1
          - DESCRIPTION_2
          - HEADLINE
          - HEADLINE_IN_PORTRAIT
          - LONG_HEADLINE
          - DESCRIPTION
          - DESCRIPTION_IN_PORTRAIT
          - BUSINESS_NAME_IN_PORTRAIT
          - BUSINESS_NAME
          - MARKETING_IMAGE
          - MARKETING_IMAGE_IN_PORTRAIT
          - SQUARE_MARKETING_IMAGE
          - PORTRAIT_MARKETING_IMAGE
          - LOGO
          - LANDSCAPE_LOGO
          - CALL_TO_ACTION
          - YOU_TUBE_VIDEO
          - SITELINK
          - CALL
          - MOBILE_APP
          - CALLOUT
          - STRUCTURED_SNIPPET
          - PRICE
          - PROMOTION
          - AD_IMAGE
          - LEAD_FORM
          - BUSINESS_LOGO
          title: servedAssetFieldType
          type: string
      title: GoogleAdsSearchads360V0Common__AssetUsage
      type: object
    GoogleAdsSearchads360V0Common__AudienceInfo:
      description: An audience criterion.
      example:
        audience: audience
      properties:
        audience:
          description: The Audience resource name.
          title: audience
          type: string
      title: GoogleAdsSearchads360V0Common__AudienceInfo
      type: object
    GoogleAdsSearchads360V0Common__BusinessProfileLocation:
      description: Business Profile location data synced from the linked Business
        Profile account.
      example:
        listingId: listingId
        labels:
        - labels
        - labels
        storeCode: storeCode
      properties:
        labels:
          description: Advertiser specified label for the location on the Business
            Profile account. This is synced from the Business Profile account.
          items:
            type: string
          title: labels
          type: array
        listingId:
          description: Listing ID of this Business Profile location. This is synced
            from the linked Business Profile account.
          format: int64
          title: listingId
          type: string
        storeCode:
          description: Business Profile store code of this location. This is synced
            from the Business Profile account.
          title: storeCode
          type: string
      title: GoogleAdsSearchads360V0Common__BusinessProfileLocation
      type: object
    GoogleAdsSearchads360V0Common__CallToActionAsset:
      description: A call to action asset.
      example:
        callToAction: UNSPECIFIED
      properties:
        callToAction:
          description: Call to action.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - LEARN_MORE
          - GET_QUOTE
          - APPLY_NOW
          - SIGN_UP
          - CONTACT_US
          - SUBSCRIBE
          - DOWNLOAD
          - BOOK_NOW
          - SHOP_NOW
          - BUY_NOW
          - DONATE_NOW
          - ORDER_NOW
          - PLAY_NOW
          - SEE_MORE
          - START_NOW
          - VISIT_SITE
          - WATCH_NOW
          title: callToAction
          type: string
      title: GoogleAdsSearchads360V0Common__CallToActionAsset
      type: object
    GoogleAdsSearchads360V0Common__CustomParameter:
      description: "A mapping that can be used by custom parameter tags in a `tracking_url_template`,\
        \ `final_urls`, or `mobile_final_urls`."
      example:
        value: value
        key: key
      properties:
        key:
          description: The key matching the parameter tag name.
          title: key
          type: string
        value:
          description: The value to be substituted.
          title: value
          type: string
      title: GoogleAdsSearchads360V0Common__CustomParameter
      type: object
    GoogleAdsSearchads360V0Common__DeviceInfo:
      description: A device criterion.
      example:
        type: UNSPECIFIED
      properties:
        type:
          description: Type of the device.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MOBILE
          - TABLET
          - DESKTOP
          - CONNECTED_TV
          - OTHER
          title: type
          type: string
      title: GoogleAdsSearchads360V0Common__DeviceInfo
      type: object
    GoogleAdsSearchads360V0Common__EnhancedCpc:
      description: An automated bidding strategy that raises bids for clicks that
        seem more likely to lead to a conversion and lowers them for clicks where
        they seem less likely. This bidding strategy is deprecated and cannot be created
        anymore. Use ManualCpc with enhanced_cpc_enabled set to true for equivalent
        functionality.
      properties: {}
      title: enhancedCpc
      type: object
    GoogleAdsSearchads360V0Common__FrequencyCapEntry:
      description: A rule specifying the maximum number of times an ad (or some set
        of ads) can be shown to a user over a particular time period.
      example: {}
      properties: {}
      title: GoogleAdsSearchads360V0Common__FrequencyCapEntry
      type: object
    GoogleAdsSearchads360V0Common__GenderInfo:
      description: A gender criterion.
      example:
        type: UNSPECIFIED
      properties:
        type:
          description: Type of the gender.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MALE
          - FEMALE
          - UNDETERMINED
          title: type
          type: string
      title: GoogleAdsSearchads360V0Common__GenderInfo
      type: object
    GoogleAdsSearchads360V0Common__ImageAsset:
      description: An Image asset.
      example:
        fileSize: fileSize
        fullSize:
          heightPixels: heightPixels
          url: url
          widthPixels: widthPixels
        mimeType: UNSPECIFIED
      properties:
        fileSize:
          description: File size of the image asset in bytes.
          format: int64
          title: fileSize
          type: string
        fullSize:
          $ref: '#/components/schemas/GoogleAdsSearchads360V0Common__ImageDimension'
        mimeType:
          description: MIME type of the image asset.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - IMAGE_JPEG
          - IMAGE_GIF
          - IMAGE_PNG
          - FLASH
          - TEXT_HTML
          - PDF
          - MSWORD
          - MSEXCEL
          - RTF
          - AUDIO_WAV
          - AUDIO_MP3
          - HTML5_AD_ZIP
          title: mimeType
          type: string
      title: GoogleAdsSearchads360V0Common__ImageAsset
      type: object
    GoogleAdsSearchads360V0Common__ImageDimension:
      description: "Metadata for an image at a certain size, either original or resized."
      example:
        heightPixels: heightPixels
        url: url
        widthPixels: widthPixels
      properties:
        heightPixels:
          description: Height of the image.
          format: int64
          title: heightPixels
          type: string
        url:
          description: A URL that returns the image with this height and width.
          title: url
          type: string
        widthPixels:
          description: Width of the image.
          format: int64
          title: widthPixels
          type: string
      title: GoogleAdsSearchads360V0Common__ImageDimension
      type: object
    GoogleAdsSearchads360V0Common__Keyword:
      description: A Keyword criterion segment.
      example:
        adGroupCriterion: adGroupCriterion
        info:
          matchType: UNSPECIFIED
          text: text
      properties:
        adGroupCriterion:
          description: The AdGroupCriterion resource name.
          title: adGroupCriterion
          type: string
        info:
          $ref: '#/components/schemas/GoogleAdsSearchads360V0Common__KeywordInfo'
      title: GoogleAdsSearchads360V0Common__Keyword
      type: object
    GoogleAdsSearchads360V0Common__KeywordInfo:
      description: A keyword criterion.
      example:
        matchType: UNSPECIFIED
        text: text
      properties:
        matchType:
          description: The match type of the keyword.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXACT
          - PHRASE
          - BROAD
          title: matchType
          type: string
        text:
          description: The text of the keyword (at most 80 characters and 10 words).
          title: text
          type: string
      title: GoogleAdsSearchads360V0Common__KeywordInfo
      type: object
    GoogleAdsSearchads360V0Common__LanguageInfo:
      description: A language criterion.
      example:
        languageConstant: languageConstant
      properties:
        languageConstant:
          description: The language constant resource name.
          title: languageConstant
          type: string
      title: GoogleAdsSearchads360V0Common__LanguageInfo
      type: object
    GoogleAdsSearchads360V0Common__ListingGroupInfo:
      description: A listing group criterion.
      example:
        type: UNSPECIFIED
      properties:
        type:
          description: Type of the listing group.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - SUBDIVISION
          - UNIT
          title: type
          type: string
      title: GoogleAdsSearchads360V0Common__ListingGroupInfo
      type: object
    GoogleAdsSearchads360V0Common__LocationGroupInfo:
      description: A radius around a list of locations specified through a feed.
      example:
        feedItemSets:
        - feedItemSets
        - feedItemSets
        geoTargetConstants:
        - geoTargetConstants
        - geoTargetConstants
        radiusUnits: UNSPECIFIED
        radius: radius
      properties:
        feedItemSets:
          description: "FeedItemSets whose FeedItems are targeted. If multiple IDs\
            \ are specified, then all items that appear in at least one set are targeted.\
            \ This field cannot be used with geo_target_constants. This is optional\
            \ and can only be set in CREATE operations."
          items:
            type: string
          title: feedItemSets
          type: array
        geoTargetConstants:
          description: Geo target constant(s) restricting the scope of the geographic
            area within the feed. Currently only one geo target constant is allowed.
          items:
            type: string
          title: geoTargetConstants
          type: array
        radius:
          description: Distance in units specifying the radius around targeted locations.
            This is required and must be set in CREATE operations.
          format: int64
          title: radius
          type: string
        radiusUnits:
          description: Unit of the radius. Miles and meters are supported for geo
            target constants. Milli miles and meters are supported for feed item sets.
            This is required and must be set in CREATE operations.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - METERS
          - MILES
          - MILLI_MILES
          title: radiusUnits
          type: string
      title: GoogleAdsSearchads360V0Common__LocationGroupInfo
      type: object
    GoogleAdsSearchads360V0Common__LocationInfo:
      description: A location criterion.
      example:
        geoTargetConstant: geoTargetConstant
      properties:
        geoTargetConstant:
          description: The geo target constant resource name.
          title: geoTargetConstant
          type: string
      title: GoogleAdsSearchads360V0Common__LocationInfo
      type: object
    GoogleAdsSearchads360V0Common__ManualCpa:
      description: Manual bidding strategy that allows advertiser to set the bid per
        advertiser-specified action.
      properties: {}
      title: manualCpa
      type: object
    GoogleAdsSearchads360V0Common__ManualCpc:
      description: Manual click-based bidding where user pays per click.
      example:
        enhancedCpcEnabled: true
      properties:
        enhancedCpcEnabled:
          description: Whether bids are to be enhanced based on conversion optimizer
            data.
          title: enhancedCpcEnabled
          type: boolean
      title: GoogleAdsSearchads360V0Common__ManualCpc
      type: object
    GoogleAdsSearchads360V0Common__ManualCpm:
      description: Manual impression-based bidding where user pays per thousand impressions.
      properties: {}
      title: manualCpm
      type: object
    GoogleAdsSearchads360V0Common__MaximizeConversionValue:
      description: An automated bidding strategy to help get the most conversion value
        for your campaigns while spending your budget.
      example:
        targetRoas: 7.061401241503109
        cpcBidFloorMicros: cpcBidFloorMicros
        cpcBidCeilingMicros: cpcBidCeilingMicros
      properties:
        cpcBidCeilingMicros:
          description: Maximum bid limit that can be set by the bid strategy. The
            limit applies to all keywords managed by the strategy. Mutable for portfolio
            bidding strategies only.
          format: int64
          title: cpcBidCeilingMicros
          type: string
        cpcBidFloorMicros:
          description: Minimum bid limit that can be set by the bid strategy. The
            limit applies to all keywords managed by the strategy. Mutable for portfolio
            bidding strategies only.
          format: int64
          title: cpcBidFloorMicros
          type: string
        targetRoas:
          description: "The target return on ad spend (ROAS) option. If set, the bid\
            \ strategy will maximize revenue while averaging the target return on\
            \ ad spend. If the target ROAS is high, the bid strategy may not be able\
            \ to spend the full budget. If the target ROAS is not set, the bid strategy\
            \ will aim to achieve the highest possible ROAS for the budget."
          format: double
          title: targetRoas
          type: number
      title: GoogleAdsSearchads360V0Common__MaximizeConversionValue
      type: object
    GoogleAdsSearchads360V0Common__MaximizeConversions:
      description: An automated bidding strategy to help get the most conversions
        for your campaigns while spending your budget.
      example:
        cpcBidFloorMicros: cpcBidFloorMicros
        cpcBidCeilingMicros: cpcBidCeilingMicros
        targetCpaMicros: targetCpaMicros
      properties:
        cpcBidCeilingMicros:
          description: Maximum bid limit that can be set by the bid strategy. The
            limit applies to all keywords managed by the strategy. Mutable for portfolio
            bidding strategies only.
          format: int64
          title: cpcBidCeilingMicros
          type: string
        cpcBidFloorMicros:
          description: Minimum bid limit that can be set by the bid strategy. The
            limit applies to all keywords managed by the strategy. Mutable for portfolio
            bidding strategies only.
          format: int64
          title: cpcBidFloorMicros
          type: string
        targetCpaMicros:
          description: "The target cost-per-action (CPA) option. This is the average\
            \ amount that you would like to spend per conversion action specified\
            \ in micro units of the bidding strategy's currency. If set, the bid strategy\
            \ will get as many conversions as possible at or below the target cost-per-action.\
            \ If the target CPA is not set, the bid strategy will aim to achieve the\
            \ lowest possible CPA given the budget."
          format: int64
          title: targetCpaMicros
          type: string
      title: GoogleAdsSearchads360V0Common__MaximizeConversions
      type: object
    GoogleAdsSearchads360V0Common__Metrics:
      description: Metrics data.
      example:
        clientAccountCrossSellGrossProfitMicros: clientAccountCrossSellGrossProfitMicros
        conversionsFromInteractionsRate: 0.10263654006109402
        contentBudgetLostImpressionShare: 3.0937452626664474
        searchBudgetLostAbsoluteTopImpressionShare: 0.8774076871421566
        allConversionsFromClickToCall: 7.457744773683766
        interactionEventTypes:
        - UNSPECIFIED
        - UNSPECIFIED
        searchAbsoluteTopImpressionShare: 9.132027271330688
        searchRankLostAbsoluteTopImpressionShare: 6.073898085781152
        clientAccountLeadCostOfGoodsSoldMicros: clientAccountLeadCostOfGoodsSoldMicros
        crossSellUnitsSold: 0.2025324113236393
        conversionsValueByConversionDate: 7.740351818741173
        historicalQualityScore: historicalQualityScore
        crossSellRevenueMicros: crossSellRevenueMicros
        searchClickShare: 7.933506881737151
        clientAccountCrossSellCostOfGoodsSoldMicros: clientAccountCrossSellCostOfGoodsSoldMicros
        searchImpressionShare: 4.86315908102884
        leadRevenueMicros: leadRevenueMicros
        allConversionsFromStoreVisit: 8.762042012749001
        ctr: 6.628464275087742
        crossDeviceConversionsValue: 4.078845849666752
        crossSellCostOfGoodsSoldMicros: crossSellCostOfGoodsSoldMicros
        searchRankLostImpressionShare: 8.251625748923757
        averageCpc: 2.8841621266687802
        clientAccountCrossSellRevenueMicros: clientAccountCrossSellRevenueMicros
        conversionsValue: 8.969578798196912
        clientAccountLeadUnitsSold: 3.353193347011243
        allConversionsByConversionDate: 6.84685269835264
        conversionsValuePerCost: 3.0205796992916243
        costPerCurrentModelAttributedConversion: 5.533258397034986
        clientAccountConversionsValue: 5.944895607614016
        invalidClicks: invalidClicks
        allConversionsFromMenu: 9.965781217890562
        costMicros: costMicros
        searchTopImpressionShare: 3.901545264248647
        allConversions: 1.4894159098541704
        valuePerConversionsByConversionDate: 6.623518433804886
        clientAccountViewThroughConversions: clientAccountViewThroughConversions
        searchBudgetLostImpressionShare: 9.702963800023566
        clientAccountLeadRevenueMicros: clientAccountLeadRevenueMicros
        costPerConversion: 7.04836565559697
        valuePerAllConversions: 2.9409642974827896
        searchExactMatchImpressionShare: 5.507386964179881
        allConversionsFromInteractionsRate: 4.965218492984954
        allConversionsFromInteractionsValuePerInteraction: 5.025004791520295
        conversions: 7.058770351582356
        crossSellGrossProfitMicros: crossSellGrossProfitMicros
        historicalCreativeQualityScore: UNSPECIFIED
        rawEventConversionMetrics:
        - int64Value: int64Value
          stringValue: stringValue
          floatValue: 1.2315135
          booleanValue: true
          doubleValue: 7.386281948385884
        - int64Value: int64Value
          stringValue: stringValue
          floatValue: 1.2315135
          booleanValue: true
          doubleValue: 7.386281948385884
        allConversionsFromOtherEngagement: 6.683562403749608
        topImpressionPercentage: 0.43431398824148815
        valuePerConversion: 8.28965939814297
        searchBudgetLostTopImpressionShare: 0.5199002018724985
        costPerAllConversions: 3.0576100241049344
        interactions: interactions
        allConversionsFromStoreWebsite: 9.018348186070783
        valuePerAllConversionsByConversionDate: 1.7325933120207193
        visits: 4.573936264232251
        allConversionsValueByConversionDate: 3.5571952270680973
        allConversionsFromOrder: 9.369310271410669
        absoluteTopImpressionPercentage: 1.0246457001441578
        leadCostOfGoodsSoldMicros: leadCostOfGoodsSoldMicros
        allConversionsFromDirections: 1.1730742509559433
        allConversionsValuePerCost: 6.965117697638846
        averageCpm: 6.778324963048013
        clientAccountLeadGrossProfitMicros: clientAccountLeadGrossProfitMicros
        crossDeviceConversions: 3.2588565619047607
        leadGrossProfitMicros: leadGrossProfitMicros
        conversionCustomMetrics:
        - int64Value: int64Value
          stringValue: stringValue
          floatValue: 1.2315135
          booleanValue: true
          doubleValue: 7.386281948385884
        - int64Value: int64Value
          stringValue: stringValue
          floatValue: 1.2315135
          booleanValue: true
          doubleValue: 7.386281948385884
        clientAccountCrossSellUnitsSold: 6.704019297950036
        contentImpressionShare: 7.143538047012306
        interactionRate: 4.258773108174356
        invalidClickRate: 1.041444916118296
        clientAccountConversions: 6.878052220127876
        impressions: impressions
        allConversionsValue: 6.438423552598547
        leadUnitsSold: 4.678947989005849
        contentRankLostImpressionShare: 0.8851374739011653
        historicalSearchPredictedCtr: UNSPECIFIED
        searchRankLostTopImpressionShare: 4.459605034958679
        conversionsByConversionDate: 6.519180951018382
        conversionsFromInteractionsValuePerInteraction: 4.652396432933246
        clicks: clicks
        mobileFriendlyClicksPercentage: 7.260521264802104
        historicalLandingPageQualityScore: UNSPECIFIED
        averageCost: 1.284659006116532
      properties:
        absoluteTopImpressionPercentage:
          description: The percent of your ad impressions that are shown as the very
            first ad above the organic search results.
          format: double
          title: absoluteTopImpressionPercentage
          type: number
        allConversions:
          description: The total number of conversions. This includes all conversions
            regardless of the value of include_in_conversions_metric.
          format: double
          title: allConversions
          type: number
        allConversionsByConversionDate:
          description: "The total number of conversions. This includes all conversions\
            \ regardless of the value of include_in_conversions_metric. When this\
            \ column is selected with date, the values in date column means the conversion\
            \ date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611."
          format: double
          title: allConversionsByConversionDate
          type: number
        allConversionsFromClickToCall:
          description: "The number of times people clicked the \"Call\" button to\
            \ call a store during or after clicking an ad. This number doesn't include\
            \ whether or not calls were connected, or the duration of any calls. This\
            \ metric applies to feed items only."
          format: double
          title: allConversionsFromClickToCall
          type: number
        allConversionsFromDirections:
          description: The number of times people clicked a "Get directions" button
            to navigate to a store after clicking an ad. This metric applies to feed
            items only.
          format: double
          title: allConversionsFromDirections
          type: number
        allConversionsFromInteractionsRate:
          description: All conversions from interactions (as oppose to view through
            conversions) divided by the number of ad interactions.
          format: double
          title: allConversionsFromInteractionsRate
          type: number
        allConversionsFromInteractionsValuePerInteraction:
          description: The value of all conversions from interactions divided by the
            total number of interactions.
          format: double
          title: allConversionsFromInteractionsValuePerInteraction
          type: number
        allConversionsFromMenu:
          description: The number of times people clicked a link to view a store's
            menu after clicking an ad. This metric applies to feed items only.
          format: double
          title: allConversionsFromMenu
          type: number
        allConversionsFromOrder:
          description: The number of times people placed an order at a store after
            clicking an ad. This metric applies to feed items only.
          format: double
          title: allConversionsFromOrder
          type: number
        allConversionsFromOtherEngagement:
          description: "The number of other conversions (for example, posting a review\
            \ or saving a location for a store) that occurred after people clicked\
            \ an ad. This metric applies to feed items only."
          format: double
          title: allConversionsFromOtherEngagement
          type: number
        allConversionsFromStoreVisit:
          description: Estimated number of times people visited a store after clicking
            an ad. This metric applies to feed items only.
          format: double
          title: allConversionsFromStoreVisit
          type: number
        allConversionsFromStoreWebsite:
          description: The number of times that people were taken to a store's URL
            after clicking an ad. This metric applies to feed items only.
          format: double
          title: allConversionsFromStoreWebsite
          type: number
        allConversionsValue:
          description: The value of all conversions.
          format: double
          title: allConversionsValue
          type: number
        allConversionsValueByConversionDate:
          description: "The value of all conversions. When this column is selected\
            \ with date, the values in date column means the conversion date. Details\
            \ for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611."
          format: double
          title: allConversionsValueByConversionDate
          type: number
        allConversionsValuePerCost:
          description: The value of all conversions divided by the total cost of ad
            interactions (such as clicks for text ads or views for video ads).
          format: double
          title: allConversionsValuePerCost
          type: number
        averageCost:
          description: The average amount you pay per interaction. This amount is
            the total cost of your ads divided by the total number of interactions.
          format: double
          title: averageCost
          type: number
        averageCpc:
          description: The total cost of all clicks divided by the total number of
            clicks received. This metric is a monetary value and returned in the customer's
            currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause
          format: double
          title: averageCpc
          type: number
        averageCpm:
          description: Average cost-per-thousand impressions (CPM). This metric is
            a monetary value and returned in the customer's currency by default. See
            the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause
          format: double
          title: averageCpm
          type: number
        clicks:
          description: The number of clicks.
          format: int64
          title: clicks
          type: string
        clientAccountConversions:
          description: "The number of client account conversions. This only includes\
            \ conversion actions which include_in_client_account_conversions_metric\
            \ attribute is set to true. If you use conversion-based bidding, your\
            \ bid strategies will optimize for these conversions."
          format: double
          title: clientAccountConversions
          type: number
        clientAccountConversionsValue:
          description: "The value of client account conversions. This only includes\
            \ conversion actions which include_in_client_account_conversions_metric\
            \ attribute is set to true. If you use conversion-based bidding, your\
            \ bid strategies will optimize for these conversions."
          format: double
          title: clientAccountConversionsValue
          type: number
        clientAccountCrossSellCostOfGoodsSoldMicros:
          description: "Client account cross-sell cost of goods sold (COGS) is the\
            \ total cost of products sold as a result of advertising a different product.\
            \ How it works: You report conversions with cart data for completed purchases\
            \ on your website. If the ad that was interacted with before the purchase\
            \ has an associated product (see Shopping Ads) then this product is considered\
            \ the advertised product. Any product included in the order the customer\
            \ places is a sold product. If these products don't match then this is\
            \ considered cross-sell. Cross-sell cost of goods sold is the total cost\
            \ of the products sold that weren't advertised. Example: Someone clicked\
            \ on a Shopping ad for a hat then bought the same hat and a shirt. The\
            \ hat has a cost of goods sold value of $3, the shirt has a cost of goods\
            \ sold value of $5. The cross-sell cost of goods sold for this order is\
            \ $5. This metric is only available if you report conversions with cart\
            \ data. This metric is a monetary value and returned in the customer's\
            \ currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountCrossSellCostOfGoodsSoldMicros
          type: string
        clientAccountCrossSellGrossProfitMicros:
          description: "Client account cross-sell gross profit is the profit you made\
            \ from products sold as a result of advertising a different product, minus\
            \ cost of goods sold (COGS). How it works: You report conversions with\
            \ cart data for completed purchases on your website. If the ad that was\
            \ interacted with before the purchase has an associated product (see Shopping\
            \ Ads) then this product is considered the advertised product. Any product\
            \ included in the purchase is a sold product. If these products don't\
            \ match then this is considered cross-sell. Cross-sell gross profit is\
            \ the revenue you made from cross-sell attributed to your ads minus the\
            \ cost of the goods sold. Example: Someone clicked on a Shopping ad for\
            \ a hat then bought the same hat and a shirt. The shirt is priced $20\
            \ and has a cost of goods sold value of $5. The cross-sell gross profit\
            \ of this order is $15 = $20 - $5. This metric is only available if you\
            \ report conversions with cart data. This metric is a monetary value and\
            \ returned in the customer's currency by default. See the metrics_currency\
            \ parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountCrossSellGrossProfitMicros
          type: string
        clientAccountCrossSellRevenueMicros:
          description: "Client account cross-sell revenue is the total amount you\
            \ made from products sold as a result of advertising a different product.\
            \ How it works: You report conversions with cart data for completed purchases\
            \ on your website. If the ad that was interacted with before the purchase\
            \ has an associated product (see Shopping Ads) then this product is considered\
            \ the advertised product. Any product included in the order the customer\
            \ places is a sold product. If these products don't match then this is\
            \ considered cross-sell. Cross-sell revenue is the total value you made\
            \ from cross-sell attributed to your ads. Example: Someone clicked on\
            \ a Shopping ad for a hat then bought the same hat and a shirt. The hat\
            \ is priced $10 and the shirt is priced $20. The cross-sell revenue of\
            \ this order is $20. This metric is only available if you report conversions\
            \ with cart data. This metric is a monetary value and returned in the\
            \ customer's currency by default. See the metrics_currency parameter at\
            \ https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountCrossSellRevenueMicros
          type: string
        clientAccountCrossSellUnitsSold:
          description: "Client account cross-sell units sold is the total number of\
            \ products sold as a result of advertising a different product. How it\
            \ works: You report conversions with cart data for completed purchases\
            \ on your website. If the ad that was interacted with before the purchase\
            \ has an associated product (see Shopping Ads) then this product is considered\
            \ the advertised product. Any product included in the order the customer\
            \ places is a sold product. If these products don't match then this is\
            \ considered cross-sell. Cross-sell units sold is the total number of\
            \ cross-sold products from all orders attributed to your ads. Example:\
            \ Someone clicked on a Shopping ad for a hat then bought the same hat,\
            \ a shirt and a jacket. The cross-sell units sold in this order is 2.\
            \ This metric is only available if you report conversions with cart data."
          format: double
          title: clientAccountCrossSellUnitsSold
          type: number
        clientAccountLeadCostOfGoodsSoldMicros:
          description: "Client account lead cost of goods sold (COGS) is the total\
            \ cost of products sold as a result of advertising the same product. How\
            \ it works: You report conversions with cart data for completed purchases\
            \ on your website. If the ad that was interacted with has an associated\
            \ product (see Shopping Ads) then this product is considered the advertised\
            \ product. Any product included in the order the customer places is a\
            \ sold product. If the advertised and sold products match, then the cost\
            \ of these goods is counted under lead cost of goods sold. Example: Someone\
            \ clicked on a Shopping ad for a hat then bought the same hat and a shirt.\
            \ The hat has a cost of goods sold value of $3, the shirt has a cost of\
            \ goods sold value of $5. The lead cost of goods sold for this order is\
            \ $3. This metric is only available if you report conversions with cart\
            \ data. This metric is a monetary value and returned in the customer's\
            \ currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountLeadCostOfGoodsSoldMicros
          type: string
        clientAccountLeadGrossProfitMicros:
          description: "Client account lead gross profit is the profit you made from\
            \ products sold as a result of advertising the same product, minus cost\
            \ of goods sold (COGS). How it works: You report conversions with cart\
            \ data for completed purchases on your website. If the ad that was interacted\
            \ with before the purchase has an associated product (see Shopping Ads)\
            \ then this product is considered the advertised product. Any product\
            \ included in the order the customer places is a sold product. If the\
            \ advertised and sold products match, then the revenue you made from these\
            \ sales minus the cost of goods sold is your lead gross profit. Example:\
            \ Someone clicked on a Shopping ad for a hat then bought the same hat\
            \ and a shirt. The hat is priced $10 and has a cost of goods sold value\
            \ of $3. The lead gross profit of this order is $7 = $10 - $3. This metric\
            \ is only available if you report conversions with cart data. This metric\
            \ is a monetary value and returned in the customer's currency by default.\
            \ See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountLeadGrossProfitMicros
          type: string
        clientAccountLeadRevenueMicros:
          description: "Client account lead revenue is the total amount you made from\
            \ products sold as a result of advertising the same product. How it works:\
            \ You report conversions with cart data for completed purchases on your\
            \ website. If the ad that was interacted with before the purchase has\
            \ an associated product (see Shopping Ads) then this product is considered\
            \ the advertised product. Any product included in the order the customer\
            \ places is a sold product. If the advertised and sold products match,\
            \ then the total value you made from the sales of these products is shown\
            \ under lead revenue. Example: Someone clicked on a Shopping ad for a\
            \ hat then bought the same hat and a shirt. The hat is priced $10 and\
            \ the shirt is priced $20. The lead revenue of this order is $10. This\
            \ metric is only available if you report conversions with cart data. This\
            \ metric is a monetary value and returned in the customer's currency by\
            \ default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: clientAccountLeadRevenueMicros
          type: string
        clientAccountLeadUnitsSold:
          description: "Client account lead units sold is the total number of products\
            \ sold as a result of advertising the same product. How it works: You\
            \ report conversions with cart data for completed purchases on your website.\
            \ If the ad that was interacted with before the purchase has an associated\
            \ product (see Shopping Ads) then this product is considered the advertised\
            \ product. Any product included in the order the customer places is a\
            \ sold product. If the advertised and sold products match, then the total\
            \ number of these products sold is shown under lead units sold. Example:\
            \ Someone clicked on a Shopping ad for a hat then bought the same hat,\
            \ a shirt and a jacket. The lead units sold in this order is 1. This metric\
            \ is only available if you report conversions with cart data."
          format: double
          title: clientAccountLeadUnitsSold
          type: number
        clientAccountViewThroughConversions:
          description: "The total number of view-through conversions. These happen\
            \ when a customer sees an image or rich media ad, then later completes\
            \ a conversion on your site without interacting with (for example, clicking\
            \ on) another ad."
          format: int64
          title: clientAccountViewThroughConversions
          type: string
        contentBudgetLostImpressionShare:
          description: "The estimated percent of times that your ad was eligible to\
            \ show on the Display Network but didn't because your budget was too low.\
            \ Note: Content budget lost impression share is reported in the range\
            \ of 0 to 0.9. Any value above 0.9 is reported as 0.9001."
          format: double
          title: contentBudgetLostImpressionShare
          type: number
        contentImpressionShare:
          description: "The impressions you've received on the Display Network divided\
            \ by the estimated number of impressions you were eligible to receive.\
            \ Note: Content impression share is reported in the range of 0.1 to 1.\
            \ Any value below 0.1 is reported as 0.0999."
          format: double
          title: contentImpressionShare
          type: number
        contentRankLostImpressionShare:
          description: "The estimated percentage of impressions on the Display Network\
            \ that your ads didn't receive due to poor Ad Rank. Note: Content rank\
            \ lost impression share is reported in the range of 0 to 0.9. Any value\
            \ above 0.9 is reported as 0.9001."
          format: double
          title: contentRankLostImpressionShare
          type: number
        conversionCustomMetrics:
          description: The conversion custom metrics.
          items:
            $ref: '#/components/schemas/GoogleAdsSearchads360V0Common__Value'
          title: conversionCustomMetrics
          type: array
        conversions:
          description: "The number of conversions. This only includes conversion actions\
            \ which include_in_conversions_metric attribute is set to true. If you\
            \ use conversion-based bidding, your bid strategies will optimize for\
            \ these conversions."
          format: double
          title: conversions
          type: number
        conversionsByConversionDate:
          description: "The sum of conversions by conversion date for biddable conversion\
            \ types. Can be fractional due to attribution modeling. When this column\
            \ is selected with date, the values in date column means the conversion\
            \ date."
          format: double
          title: conversionsByConversionDate
          type: number
        conversionsFromInteractionsRate:
          description: "Average biddable conversions (from interaction) per conversion\
            \ eligible interaction. Shows how often, on average, an ad interaction\
            \ leads to a biddable conversion."
          format: double
          title: conversionsFromInteractionsRate
          type: number
        conversionsFromInteractionsValuePerInteraction:
          description: "The value of conversions from interactions divided by the\
            \ number of ad interactions. This only includes conversion actions which\
            \ include_in_conversions_metric attribute is set to true. If you use conversion-based\
            \ bidding, your bid strategies will optimize for these conversions."
          format: double
          title: conversionsFromInteractionsValuePerInteraction
          type: number
        conversionsValue:
          description: The sum of conversion values for the conversions included in
            the "conversions" field. This metric is useful only if you entered a value
            for your conversion actions.
          format: double
          title: conversionsValue
          type: number
        conversionsValueByConversionDate:
          description: "The sum of biddable conversions value by conversion date.\
            \ When this column is selected with date, the values in date column means\
            \ the conversion date."
          format: double
          title: conversionsValueByConversionDate
          type: number
        conversionsValuePerCost:
          description: The value of biddable conversion divided by the total cost
            of conversion eligible interactions.
          format: double
          title: conversionsValuePerCost
          type: number
        costMicros:
          description: The sum of your cost-per-click (CPC) and cost-per-thousand
            impressions (CPM) costs during this period. This metric is a monetary
            value and returned in the customer's currency by default. See the metrics_currency
            parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause
          format: int64
          title: costMicros
          type: string
        costPerAllConversions:
          description: The cost of ad interactions divided by all conversions.
          format: double
          title: costPerAllConversions
          type: number
        costPerConversion:
          description: Average conversion eligible cost per biddable conversion.
          format: double
          title: costPerConversion
          type: number
        costPerCurrentModelAttributedConversion:
          description: "The cost of ad interactions divided by current model attributed\
            \ conversions. This only includes conversion actions which include_in_conversions_metric\
            \ attribute is set to true. If you use conversion-based bidding, your\
            \ bid strategies will optimize for these conversions."
          format: double
          title: costPerCurrentModelAttributedConversion
          type: number
        crossDeviceConversions:
          description: "Conversions from when a customer clicks on an ad on one device,\
            \ then converts on a different device or browser. Cross-device conversions\
            \ are already included in all_conversions."
          format: double
          title: crossDeviceConversions
          type: number
        crossDeviceConversionsValue:
          description: The sum of the value of cross-device conversions.
          format: double
          title: crossDeviceConversionsValue
          type: number
        crossSellCostOfGoodsSoldMicros:
          description: "Cross-sell cost of goods sold (COGS) is the total cost of\
            \ products sold as a result of advertising a different product. How it\
            \ works: You report conversions with cart data for completed purchases\
            \ on your website. If the ad that was interacted with before the purchase\
            \ has an associated product (see Shopping Ads) then this product is considered\
            \ the advertised product. Any product included in the order the customer\
            \ places is a sold product. If these products don't match then this is\
            \ considered cross-sell. Cross-sell cost of goods sold is the total cost\
            \ of the products sold that weren't advertised. Example: Someone clicked\
            \ on a Shopping ad for a hat then bought the same hat and a shirt. The\
            \ hat has a cost of goods sold value of $3, the shirt has a cost of goods\
            \ sold value of $5. The cross-sell cost of goods sold for this order is\
            \ $5. This metric is only available if you report conversions with cart\
            \ data. This metric is a monetary value and returned in the customer's\
            \ currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: crossSellCostOfGoodsSoldMicros
          type: string
        crossSellGrossProfitMicros:
          description: "Cross-sell gross profit is the profit you made from products\
            \ sold as a result of advertising a different product, minus cost of goods\
            \ sold (COGS). How it works: You report conversions with cart data for\
            \ completed purchases on your website. If the ad that was interacted with\
            \ before the purchase has an associated product (see Shopping Ads) then\
            \ this product is considered the advertised product. Any product included\
            \ in the purchase is a sold product. If these products don't match then\
            \ this is considered cross-sell. Cross-sell gross profit is the revenue\
            \ you made from cross-sell attributed to your ads minus the cost of the\
            \ goods sold. Example: Someone clicked on a Shopping ad for a hat then\
            \ bought the same hat and a shirt. The shirt is priced $20 and has a cost\
            \ of goods sold value of $5. The cross-sell gross profit of this order\
            \ is $15 = $20 - $5. This metric is only available if you report conversions\
            \ with cart data. This metric is a monetary value and returned in the\
            \ customer's currency by default. See the metrics_currency parameter at\
            \ https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: crossSellGrossProfitMicros
          type: string
        crossSellRevenueMicros:
          description: "Cross-sell revenue is the total amount you made from products\
            \ sold as a result of advertising a different product. How it works: You\
            \ report conversions with cart data for completed purchases on your website.\
            \ If the ad that was interacted with before the purchase has an associated\
            \ product (see Shopping Ads) then this product is considered the advertised\
            \ product. Any product included in the order the customer places is a\
            \ sold product. If these products don't match then this is considered\
            \ cross-sell. Cross-sell revenue is the total value you made from cross-sell\
            \ attributed to your ads. Example: Someone clicked on a Shopping ad for\
            \ a hat then bought the same hat and a shirt. The hat is priced $10 and\
            \ the shirt is priced $20. The cross-sell revenue of this order is $20.\
            \ This metric is only available if you report conversions with cart data.\
            \ This metric is a monetary value and returned in the customer's currency\
            \ by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: crossSellRevenueMicros
          type: string
        crossSellUnitsSold:
          description: "Cross-sell units sold is the total number of products sold\
            \ as a result of advertising a different product. How it works: You report\
            \ conversions with cart data for completed purchases on your website.\
            \ If the ad that was interacted with before the purchase has an associated\
            \ product (see Shopping Ads) then this product is considered the advertised\
            \ product. Any product included in the order the customer places is a\
            \ sold product. If these products don't match then this is considered\
            \ cross-sell. Cross-sell units sold is the total number of cross-sold\
            \ products from all orders attributed to your ads. Example: Someone clicked\
            \ on a Shopping ad for a hat then bought the same hat, a shirt and a jacket.\
            \ The cross-sell units sold in this order is 2. This metric is only available\
            \ if you report conversions with cart data."
          format: double
          title: crossSellUnitsSold
          type: number
        ctr:
          description: The number of clicks your ad receives (Clicks) divided by the
            number of times your ad is shown (Impressions).
          format: double
          title: ctr
          type: number
        historicalCreativeQualityScore:
          description: The creative historical quality score.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BELOW_AVERAGE
          - AVERAGE
          - ABOVE_AVERAGE
          title: historicalCreativeQualityScore
          type: string
        historicalLandingPageQualityScore:
          description: The quality of historical landing page experience.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BELOW_AVERAGE
          - AVERAGE
          - ABOVE_AVERAGE
          title: historicalLandingPageQualityScore
          type: string
        historicalQualityScore:
          description: The historical quality score.
          format: int64
          title: historicalQualityScore
          type: string
        historicalSearchPredictedCtr:
          description: The historical search predicted click through rate (CTR).
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BELOW_AVERAGE
          - AVERAGE
          - ABOVE_AVERAGE
          title: historicalSearchPredictedCtr
          type: string
        impressions:
          description: Count of how often your ad has appeared on a search results
            page or website on the Google Network.
          format: int64
          title: impressions
          type: string
        interactionEventTypes:
          description: The types of payable and free interactions.
          items:
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - CLICK
            - ENGAGEMENT
            - VIDEO_VIEW
            - NONE
            type: string
          title: interactionEventTypes
          type: array
        interactionRate:
          description: How often people interact with your ad after it is shown to
            them. This is the number of interactions divided by the number of times
            your ad is shown.
          format: double
          title: interactionRate
          type: number
        interactions:
          description: "The number of interactions. An interaction is the main user\
            \ action associated with an ad format-clicks for text and shopping ads,\
            \ views for video ads, and so on."
          format: int64
          title: interactions
          type: string
        invalidClickRate:
          description: The percentage of clicks filtered out of your total number
            of clicks (filtered + non-filtered clicks) during the reporting period.
          format: double
          title: invalidClickRate
          type: number
        invalidClicks:
          description: Number of clicks Google considers illegitimate and doesn't
            charge you for.
          format: int64
          title: invalidClicks
          type: string
        leadCostOfGoodsSoldMicros:
          description: "Lead cost of goods sold (COGS) is the total cost of products\
            \ sold as a result of advertising the same product. How it works: You\
            \ report conversions with cart data for completed purchases on your website.\
            \ If the ad that was interacted with has an associated product (see Shopping\
            \ Ads) then this product is considered the advertised product. Any product\
            \ included in the order the customer places is a sold product. If the\
            \ advertised and sold products match, then the cost of these goods is\
            \ counted under lead cost of goods sold. Example: Someone clicked on a\
            \ Shopping ad for a hat then bought the same hat and a shirt. The hat\
            \ has a cost of goods sold value of $3, the shirt has a cost of goods\
            \ sold value of $5. The lead cost of goods sold for this order is $3.\
            \ This metric is only available if you report conversions with cart data.\
            \ This metric is a monetary value and returned in the customer's currency\
            \ by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: leadCostOfGoodsSoldMicros
          type: string
        leadGrossProfitMicros:
          description: "Lead gross profit is the profit you made from products sold\
            \ as a result of advertising the same product, minus cost of goods sold\
            \ (COGS). How it works: You report conversions with cart data for completed\
            \ purchases on your website. If the ad that was interacted with before\
            \ the purchase has an associated product (see Shopping Ads) then this\
            \ product is considered the advertised product. Any product included in\
            \ the order the customer places is a sold product. If the advertised and\
            \ sold products match, then the revenue you made from these sales minus\
            \ the cost of goods sold is your lead gross profit. Example: Someone clicked\
            \ on a Shopping ad for a hat then bought the same hat and a shirt. The\
            \ hat is priced $10 and has a cost of goods sold value of $3. The lead\
            \ gross profit of this order is $7 = $10 - $3. This metric is only available\
            \ if you report conversions with cart data. This metric is a monetary\
            \ value and returned in the customer's currency by default. See the metrics_currency\
            \ parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: leadGrossProfitMicros
          type: string
        leadRevenueMicros:
          description: "Lead revenue is the total amount you made from products sold\
            \ as a result of advertising the same product. How it works: You report\
            \ conversions with cart data for completed purchases on your website.\
            \ If the ad that was interacted with before the purchase has an associated\
            \ product (see Shopping Ads) then this product is considered the advertised\
            \ product. Any product included in the order the customer places is a\
            \ sold product. If the advertised and sold products match, then the total\
            \ value you made from the sales of these products is shown under lead\
            \ revenue. Example: Someone clicked on a Shopping ad for a hat then bought\
            \ the same hat and a shirt. The hat is priced $10 and the shirt is priced\
            \ $20. The lead revenue of this order is $10. This metric is only available\
            \ if you report conversions with cart data. This metric is a monetary\
            \ value and returned in the customer's currency by default. See the metrics_currency\
            \ parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause"
          format: int64
          title: leadRevenueMicros
          type: string
        leadUnitsSold:
          description: "Lead units sold is the total number of products sold as a\
            \ result of advertising the same product. How it works: You report conversions\
            \ with cart data for completed purchases on your website. If the ad that\
            \ was interacted with before the purchase has an associated product (see\
            \ Shopping Ads) then this product is considered the advertised product.\
            \ Any product included in the order the customer places is a sold product.\
            \ If the advertised and sold products match, then the total number of\
            \ these products sold is shown under lead units sold. Example: Someone\
            \ clicked on a Shopping ad for a hat then bought the same hat, a shirt\
            \ and a jacket. The lead units sold in this order is 1. This metric is\
            \ only available if you report conversions with cart data."
          format: double
          title: leadUnitsSold
          type: number
        mobileFriendlyClicksPercentage:
          description: The percentage of mobile clicks that go to a mobile-friendly
            page.
          format: double
          title: mobileFriendlyClicksPercentage
          type: number
        rawEventConversionMetrics:
          description: The raw event conversion metrics.
          items:
            $ref: '#/components/schemas/GoogleAdsSearchads360V0Common__Value'
          title: rawEventConversionMetrics
          type: array
        searchAbsoluteTopImpressionShare:
          description: The percentage of the customer's Shopping or Search ad impressions
            that are shown in the most prominent Shopping position. See https://support.google.com/sa360/answer/9566729
            for details. Any value below 0.1 is reported as 0.0999.
          format: double
          title: searchAbsoluteTopImpressionShare
          type: number
        searchBudgetLostAbsoluteTopImpressionShare:
          description: "The number estimating how often your ad wasn't the very first\
            \ ad above the organic search results due to a low budget. Note: Search\
            \ budget lost absolute top impression share is reported in the range of\
            \ 0 to 0.9. Any value above 0.9 is reported as 0.9001."
          format: double
          title: searchBudgetLostAbsoluteTopImpressionShare
          type: number
        searchBudgetLostImpressionShare:
          description: "The estimated percent of times that your ad was eligible to\
            \ show on the Search Network but didn't because your budget was too low.\
            \ Note: Search budget lost impression share is reported in the range of\
            \ 0 to 0.9. Any value above 0.9 is reported as 0.9001."
          format: double
          title: searchBudgetLostImpressionShare
          type: number
        searchBudgetLostTopImpressionShare:
          description: "The number estimating how often your ad didn't show anywhere\
            \ above the organic search results due to a low budget. Note: Search budget\
            \ lost top impression share is reported in the range of 0 to 0.9. Any\
            \ value above 0.9 is reported as 0.9001."
          format: double
          title: searchBudgetLostTopImpressionShare
          type: number
        searchClickShare:
          description: "The number of clicks you've received on the Search Network\
            \ divided by the estimated number of clicks you were eligible to receive.\
            \ Note: Search click share is reported in the range of 0.1 to 1. Any value\
            \ below 0.1 is reported as 0.0999."
          format: double
          title: searchClickShare
          type: number
        searchExactMatchImpressionShare:
          description: "The impressions you've received divided by the estimated number\
            \ of impressions you were eligible to receive on the Search Network for\
            \ search terms that matched your keywords exactly (or were close variants\
            \ of your keyword), regardless of your keyword match types. Note: Search\
            \ exact match impression share is reported in the range of 0.1 to 1. Any\
            \ value below 0.1 is reported as 0.0999."
          format: double
          title: searchExactMatchImpressionShare
          type: number
        searchImpressionShare:
          description: "The impressions you've received on the Search Network divided\
            \ by the estimated number of impressions you were eligible to receive.\
            \ Note: Search impression share is reported in the range of 0.1 to 1.\
            \ Any value below 0.1 is reported as 0.0999."
          format: double
          title: searchImpressionShare
          type: number
        searchRankLostAbsoluteTopImpressionShare:
          description: "The number estimating how often your ad wasn't the very first\
            \ ad above the organic search results due to poor Ad Rank. Note: Search\
            \ rank lost absolute top impression share is reported in the range of\
            \ 0 to 0.9. Any value above 0.9 is reported as 0.9001."
          format: double
          title: searchRankLostAbsoluteTopImpressionShare
          type: number
        searchRankLostImpressionShare:
          description: "The estimated percentage of impressions on the Search Network\
            \ that your ads didn't receive due to poor Ad Rank. Note: Search rank\
            \ lost impression share is reported in the range of 0 to 0.9. Any value\
            \ above 0.9 is reported as 0.9001."
          format: double
          title: searchRankLostImpressionShare
          type: number
        searchRankLostTopImpressionShare:
          description: "The number estimating how often your ad didn't show anywhere\
            \ above the organic search results due to poor Ad Rank. Note: Search rank\
            \ lost top impression share is reported in the range of 0 to 0.9. Any\
            \ value above 0.9 is reported as 0.9001."
          format: double
          title: searchRankLostTopImpressionShare
          type: number
        searchTopImpressionShare:
          description: "The impressions you've received in the top location (anywhere\
            \ above the organic search results) compared to the estimated number of\
            \ impressions you were eligible to receive in the top location. Note:\
            \ Search top impression share is reported in the range of 0.1 to 1. Any\
            \ value below 0.1 is reported as 0.0999."
          format: double
          title: searchTopImpressionShare
          type: number
        topImpressionPercentage:
          description: The percent of your ad impressions that are shown anywhere
            above the organic search results.
          format: double
          title: topImpressionPercentage
          type: number
        valuePerAllConversions:
          description: The value of all conversions divided by the number of all conversions.
          format: double
          title: valuePerAllConversions
          type: number
        valuePerAllConversionsByConversionDate:
          description: "The value of all conversions divided by the number of all\
            \ conversions. When this column is selected with date, the values in date\
            \ column means the conversion date. Details for the by_conversion_date\
            \ columns are available at https://support.google.com/sa360/answer/9250611."
          format: double
          title: valuePerAllConversionsByConversionDate
          type: number
        valuePerConversion:
          description: "The value of biddable conversion divided by the number of\
            \ biddable conversions. Shows how much, on average, each of the biddable\
            \ conversions is worth."
          format: double
          title: valuePerConversion
          type: number
        valuePerConversionsByConversionDate:
          description: "Biddable conversions value by conversion date divided by biddable\
            \ conversions by conversion date. Shows how much, on average, each of\
            \ the biddable conversions is worth (by conversion date). When this column\
            \ is selected with date, the values in date column means the conversion\
            \ date."
          format: double
          title: valuePerConversionsByConversionDate
          type: number
        visits:
          description: Clicks that Search Ads 360 has successfully recorded and forwarded
            to an advertiser's landing page.
          format: double
          title: visits
          type: number
      title: GoogleAdsSearchads360V0Common__Metrics
      type: object
    GoogleAdsSearchads360V0Common__MobileAppAsset:
      description: An asset representing a mobile app.
      example:
        appStore: UNSPECIFIED
        appId: appId
      properties:
        appId:
          description: "Required. A string that uniquely identifies a mobile application.\
            \ It should just contain the platform native id, like \"com.android.ebay\"\
            \ for Android or \"12345689\" for iOS."
          title: appId
          type: string
        appStore:
          description: Required. The application store that distributes this specific
            app.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPLE_APP_STORE
          - GOOGLE_APP_STORE
          title: appStore
          type: string
      title: GoogleAdsSearchads360V0Common__MobileAppAsset
      type: object
    GoogleAdsSearchads360V0Common__PercentCpc:
      description: A bidding strategy where bids are a fraction of the advertised
        price for some good or service.
      example:
        cpcBidCeilingMicros: cpcBidCeilingMicros
        enhancedCpcEnabled: true
      properties:
        cpcBidCeilingMicros:
          description: "Maximum bid limit that can be set by the bid strategy. This\
            \ is an optional field entered by the advertiser and specified in local\
            \ micros. Note: A zero value is interpreted in the same way as having\
            \ bid_ceiling undefined."
          format: int64
          title: cpcBidCeilingMicros
          type: string
        enhancedCpcEnabled:
          description: "Adjusts the bid for each auction upward or downward, depending\
            \ on the likelihood of a conversion. Individual bids may exceed cpc_bid_ceiling_micros,\
            \ but the average bid amount for a campaign should not."
          title: enhancedCpcEnabled
          type: boolean
      title: GoogleAdsSearchads360V0Common__PercentCpc
      type: object
    GoogleAdsSearchads360V0Common__RealTimeBiddingSetting:
      description: "Settings for Real-Time Bidding, a feature only available for campaigns\
        \ targeting the Ad Exchange network."
      example:
        optIn: true
      properties:
        optIn:
          description: Whether the campaign is opted in to real-time bidding.
          title: optIn
          type: boolean
      title: GoogleAdsSearchads360V0Common__RealTimeBiddingSetting
      type: object
    GoogleAdsSearchads360V0Common__SearchAds360ExpandedDynamicSearchAdInfo:
      description: An expanded dynamic search ad.
      example:
        adTrackingId: adTrackingId
        description2: description2
        description1: description1
      properties:
        adTrackingId:
          description: The tracking id of the ad.
          format: int64
          title: adTrackingId
          type: string
        description1:
          description: The first line of the ad's description.
          title: description1
          type: string
        description2:
          description: The second line of the ad's description.
          title: description2
          type: string
      title: GoogleAdsSearchads360V0Common__SearchAds360ExpandedDynamicSearchAdInfo
      type: object
    GoogleAdsSearchads360V0Common__SearchAds360ExpandedTextAdInfo:
      description: A Search Ads 360 expanded text ad.
      example:
        adTrackingId: adTrackingId
        path1: path1
        path2: path2
        headline2: headline2
        headline3: headline3
        description2: description2
        headline: headline
        description1: description1
      properties:
        adTrackingId:
          description: The tracking id of the ad.
          format: int64
          title: adTrackingId
          type: string
        description1:
          description: The first line of the ad's description.
          title: description1
          type: string
        description2:
          description: The second line of the ad's description.
          title: description2
          type: string
        headline:
          description: The headline of the ad.
          title: headline
          type: string
        headline2:
          description: The second headline of the ad.
          title: headline2
          type: string
        headline3:
          description: The third headline of the ad.
          title: headline3
          type: string
        path1:
          description: Text appended to the auto-generated visible URL with a delimiter.
          title: path1
          type: string
        path2:
          description: Text appended to path1 with a delimiter.
          title: path2
          type: string
      title: GoogleAdsSearchads360V0Common__SearchAds360ExpandedTextAdInfo
      type: object
    GoogleAdsSearchads360V0Common__SearchAds360ProductAdInfo:
      description: A Search Ads 360 product ad.
      properties: {}
      title: productAd
      type: object
    GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo:
      description: A Search Ads 360 responsive search ad.
      example:
        adTrackingId: adTrackingId
        path1: path1
        path2: path2
      properties:
        adTrackingId:
          description: The tracking id of the ad.
          format: int64
          title: adTrackingId
          type: string
        path1:
          description: Text appended to the auto-generated visible URL with a delimiter.
          title: path1
          type: string
        path2:
          description: Text appended to path1 with a delimiter.
          title: path2
          type: string
      title: GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo
      type: object
    GoogleAdsSearchads360V0Common__SearchAds360TextAdInfo:
      description: A Search Ads 360 text ad.
[...]
