openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure MySQL resources including servers, databases,\
    \ firewall rules, VNET rules, security alert policies, log files and configurations\
    \ with new business model."
  title: MySQLManagementClient
  version: 2018-06-01-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/PrivateEndpointConnections.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mysql-PrivateEndpointConnections
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateEndpointConnections
  : get:
      description: Gets all private endpoint connections on a server.
      operationId: private_endpoint_connections_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: Successfully retrieved private endpoint connections.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets list of private endpoint connections on a server.:
          parameters:
            api-version: 2018-06-01-privatepreview
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateEndpointConnections/private-endpoint-connection-name-2
                  name: private-endpoint-connection-name
                  properties:
                    privateEndpoint:
                      id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-approved
                      status: Approved
                    provisioningState: Ready
                  type: Microsoft.DBforMySQL/servers/privateEndpointConnections
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateEndpointConnections/private-endpoint-connection-name-2
                  name: private-endpoint-connection-name-2
                  properties:
                    privateEndpoint:
                      id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name-2
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-approved
                      status: Approved
                    provisioningState: Ready
                  type: Microsoft.DBforMySQL/servers/privateEndpointConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: private_endpoint_connections_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted private endpoint connection.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: Private endpoint connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          parameters:
            api-version: 2018-06-01-privatepreview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
    get:
      description: Gets a private endpoint connection.
      operationId: private_endpoint_connections_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private endpoint connection.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully retrieved a specified private endpoint connection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2018-06-01-privatepreview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-approved
                    status: Approved
                  provisioningState: Ready
                type: Microsoft.DBforMySQL/servers/privateEndpointConnections
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
    patch:
      description: Updates private endpoint connection with the specified tags.
      operationId: private_endpoint_connections_update_tags
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
        description: Parameters supplied to the Update private endpoint connection
          Tags operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Updates tags on private endpoint connection.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Update private endpoint connection Tags:
          parameters:
            api-version: 2018-06-01-privatepreview
            parameters:
              tags:
                key1: val1
                key2: val2
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Approved by johndoe@contoso.com
                    status: Approved
                  provisioningState: Ready
                type: Microsoft.DBforMySQL/servers/privateEndpointConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: private_endpoint_connections_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully approved or rejected private endpoint connection.
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          parameters:
            api-version: 2018-06-01-privatepreview
            parameters:
              properties:
                privateLinkServiceConnectionState:
                  description: Approved by johndoe@contoso.com
                  status: Approved
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Approved by johndoe@contoso.com
                    status: Approved
                  provisioningState: Ready
                type: Microsoft.DBforMySQL/servers/privateEndpointConnections
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    CloudError:
      description: An error response from the Batch service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    PrivateEndpointConnection:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A private endpoint connection
      example:
        properties:
          privateLinkServiceConnectionState:
            actionsRequired: actionsRequired
            description: description
            status: status
          privateEndpoint:
            id: id
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      title: PrivateEndpointConnection
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections.
      example:
        value:
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
            provisioningState: provisioningState
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          title: value
          type: array
      title: PrivateEndpointConnectionListResult
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      example:
        privateLinkServiceConnectionState:
          actionsRequired: actionsRequired
          description: description
          status: status
        privateEndpoint:
          id: id
        provisioningState: provisioningState
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
        provisioningState:
          description: State of the private endpoint connection.
          readOnly: true
          title: provisioningState
          type: string
      title: PrivateEndpointConnectionProperties
      type: object
    PrivateEndpointProperty:
      example:
        id: id
      properties:
        id:
          description: Resource id of the private endpoint.
          title: id
          type: string
      title: PrivateEndpointProperty
      type: object
      x-ms-azure-resource: true
    PrivateLinkServiceConnectionStateProperty:
      example:
        actionsRequired: actionsRequired
        description: description
        status: status
      properties:
        actionsRequired:
          description: The actions required for private link service connection.
          readOnly: true
          title: actionsRequired
          type: string
        description:
          description: The private link service connection description.
          title: description
          type: string
        status:
          description: The private link service connection status.
          title: status
          type: string
      required:
      - description
      - status
      title: PrivateLinkServiceConnectionStateProperty
      type: object
    ProxyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      title: ProxyResource
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    TagsObject:
      description: Tags object for patch operations.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: TagsObject
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
