openapi: 3.0.1
info:
  description: Azure Monitor API reference for Private Links Scopes management.
  title: Azure Monitor Private Link Scopes
  version: 2019-10-17-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-privateLinkScopes_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/privateLinkScopes:
    get:
      description: Gets a list of all Azure Monitor PrivateLinkScopes within a subscription.
      operationId: PrivateLinkScopes_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMonitorPrivateLinkScopeListResult'
          description: A list containing 0 or more Azure Monitor PrivateLinkScope
            definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopesList.json:
          parameters:
            api-version: 2019-10-17-preview
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                  location: Global
                  name: my-privatelinkscope
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Insights/privateLinkScopes
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-other-resource-group/providers/microsoft.insights/privateLinkScopes/my-other-privatelinkscope
                  location: Global
                  name: my-other-privatelinkscope
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Insights/privateLinkScopes
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections
  : get:
      description: Gets all private endpoint connections on a private link scope.
      operationId: PrivateEndpointConnections_ListByPrivateLinkScope
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: Successfully retrieved private endpoint connections.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets list of private endpoint connections on a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name-2
                  name: private-endpoint-connection-name
                  properties:
                    privateEndpoint:
                      id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-approved
                      status: Approved
                    provisioningState: Succeeded
                  type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name-2
                  name: private-endpoint-connection-name-2
                  properties:
                    privateEndpoint:
                      id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name-2
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Please approve my connection.
                      status: Pending
                    provisioningState: Succeeded
                  type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_Delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the private endpoint connection.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted private endpoint connection.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: Private endpoint connection does not exist.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a private endpoint connection.
      operationId: PrivateEndpointConnections_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the private endpoint connection.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully retrieved a specified private endpoint connection.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-approved
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
      x-accepts:
      - application/json
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_CreateOrUpdate
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the private endpoint connection.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully approved or rejected private endpoint connection.
        "202":
          content: {}
          description: Accepted
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            parameters:
              properties:
                privateLinkServiceConnectionState:
                  description: Approved by johndoe@contoso.com
                  status: Approved
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Approved by johndoe@contoso.com
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources
  : get:
      description: Gets the private link resources that need to be created for a Azure
        Monitor PrivateLinkScope.
      operationId: PrivateLinkResources_ListByPrivateLinkScope
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateLinkResources/azuremonitor
                  name: azuremonitor
                  properties:
                    groupId: azuremonitor
                    requiredMembers:
                    - draft
                    - breeze
                    - livemetrics
                    - snapshotdebugger
                    - profiler
                    - oms-12300000-1111-2222-3333-444444444444
                    - ods-12300000-1111-2222-3333-444444444444
                    - agent-12300000-1111-2222-3333-444444444444
                  type: Microsoft.Insights/privateLinkScopes/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources/{groupName}
  : get:
      description: Gets the private link resources that need to be created for a Azure
        Monitor PrivateLinkScope.
      operationId: PrivateLinkResources_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the private link resource.
        in: path
        name: groupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: Successfully retrieved a specified private link resource.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            groupName: azuremonitor
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateLinkResources/azuremonitor
                name: azuremonitor
                properties:
                  groupId: azuremonitor
                  requiredMembers:
                  - draft
                  - breeze
                  - livemetrics
                  - snapshotdebugger
                  - profiler
                  - oms-12300000-1111-2222-3333-444444444444
                  - ods-12300000-1111-2222-3333-444444444444
                  - agent-12300000-1111-2222-3333-444444444444
                type: Microsoft.Insights/privateLinkScopes/privateLinkResources
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources
  : get:
      description: Gets all private endpoint connections on a private link scope.
      operationId: PrivateLinkScopedResources_ListByPrivateLinkScope
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResourceListResult'
          description: Successfully retrieved scoped resources in a private link scope.
      tags:
      - PrivateLinkScopedResources
      x-ms-examples:
        Gets list of scoped resources in a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                  name: scoped-resource-name
                  properties:
                    linkedResourceId: /subscriptions/00000000-0000-2222-3333-444444444444/resourceGroups/MyComponentResourceGroup/providers/Microsoft.Insights/components/my-component
                    provisioningState: Succeeded
                  type: Microsoft.Insights/privateLinkScopes/scopedResources
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/other-scoped-resource-name
                  name: other-scoped-resource-name
                  properties:
                    linkedResourceId: /subscriptions/00000000-3333-2222-5555-444444444444/resourceGroups/MyWorkspaceResourceGroup/providers/Microsoft.OperationalInsights/workspaces/my-workspace
                    provisioningState: Provisioning
                  type: Microsoft.Insights/privateLinkScopes/scopedResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources/{name}
  : delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateLinkScopedResources_Delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the scoped resource object.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted scoped resource.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: Scoped resource does not exist.
      tags:
      - PrivateLinkScopedResources
      x-ms-examples:
        Deletes a scoped resource with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a scoped resource in a private link scope.
      operationId: PrivateLinkScopedResources_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the scoped resource object.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResource'
          description: Successfully retrieved a scoped resource in a private link
            scope.
      tags:
      - PrivateLinkScopedResources
      x-ms-examples:
        Gets private link scoped resource.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                name: scoped-resource-name
                properties:
                  linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/scopedResources
      x-accepts:
      - application/json
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateLinkScopedResources_CreateOrUpdate
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of the Azure Monitor PrivateLinkScope that will contain
          the datasource
        in: path
        name: scopeName
        required: true
        schema:
          type: string
      - description: The name of the scoped resource object.
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedResource'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResource'
          description: Successfully scoped azure monitor resource in a private link
            scope.
        "202":
          content: {}
          description: Accepted
      tags:
      - PrivateLinkScopedResources
      x-ms-examples:
        Update a scoped resource in a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            parameters:
              properties:
                linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                name: scoped-resource-name
                properties:
                  linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/scopedResources
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes:
    get:
      description: Gets a list of Azure Monitor PrivateLinkScopes within a resource
        group.
      operationId: PrivateLinkScopes_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMonitorPrivateLinkScopeListResult'
          description: A list containing 0 or more Azure Monitor PrivateLinkScope
            definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopeListByResourceGroup:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                  location: Global
                  name: my-privatelinkscope
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Insights/privateLinkScopes
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-other-privatelinkscope
                  location: Global
                  name: my-other-privatelinkscope
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Insights/privateLinkScopes
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes/{scopeName}:
    delete:
      description: Deletes a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkScopes_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Azure Monitor PrivateLinkScope resource.
        in: path
        name: scopeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successful request when deleting a Azure Monitor PrivateLinkScope.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified PrivateLinkScope does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopesDelete:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Returns a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkScopes_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Azure Monitor PrivateLinkScope resource.
        in: path
        name: scopeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
          description: An Azure Monitor PrivateLinkScope definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopeGet:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Insights/privateLinkScopes
      x-accepts:
      - application/json
    patch:
      description: Updates an existing PrivateLinkScope's tags. To update other fields
        use the CreateOrUpdate method.
      operationId: PrivateLinkScopes_UpdateTags
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Azure Monitor PrivateLinkScope resource.
        in: path
        name: scopeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the PrivateLinkScope instance.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
          description: Updating the Azure Monitor PrivateLinkScope's tags was successful.
            PrivateLinkScope tags are updated and returned with the rest of the PrivateLinkScope's
            object properties.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopeUpdateTagsOnly:
          parameters:
            PrivateLinkScopeTags:
              tags:
                Tag1: Value1
                Tag2: Value2
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags:
                  Tag1: Value1
                  Tag2: Value2
                type: Microsoft.Insights/privateLinkScopes
      x-codegen-request-body-name: PrivateLinkScopeTags
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Creates (or updates) a Azure Monitor PrivateLinkScope. Note: You\
        \ cannot specify a different value for InstrumentationKey nor AppId in the\
        \ Put operation."
      operationId: PrivateLinkScopes_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Azure Monitor PrivateLinkScope resource.
        in: path
        name: scopeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
        description: Properties that need to be specified to create or update a Azure
          Monitor PrivateLinkScope.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
          description: Successful request when creating or updating a Azure Monitor
            PrivateLinkScope. The updated PrivateLinkScope is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        PrivateLinkScopeCreate:
          parameters:
            AzureMonitorPrivateLinkScopePayload:
              location: Global
              properties: {}
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Insights/privateLinkScopes
        PrivateLinkScopeUpdate:
          parameters:
            AzureMonitorPrivateLinkScopePayload:
              location: Global
              properties: {}
              tags:
                Tag1: Value1
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags:
                  Tag1: Value1
                type: Microsoft.Insights/privateLinkScopes
      x-codegen-request-body-name: AzureMonitorPrivateLinkScopePayload
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    GroupNameParameter:
      description: The name of the private link resource.
      in: path
      name: groupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Azure Monitor PrivateLinkScope resource.
      in: path
      name: scopeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureMonitorPrivateLinkScope:
      allOf:
      - $ref: '#/components/schemas/PrivateLinkScopesResource'
      description: An Azure Monitor PrivateLinkScope definition.
      example:
        properties:
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/AzureMonitorPrivateLinkScopeProperties'
      required:
      - properties
    AzureMonitorPrivateLinkScopeListResult:
      description: Describes the list of Azure Monitor PrivateLinkScope resources.
      example:
        value:
        - properties:
            provisioningState: provisioningState
        - properties:
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to get the next set of Azure Monitor PrivateLinkScope
            definitions if too many PrivateLinkScopes where returned in the result
            set.
          type: string
        value:
          description: List of Azure Monitor PrivateLinkScope definitions.
          items:
            $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
          type: array
      required:
      - value
      type: object
    AzureMonitorPrivateLinkScopeProperties:
      description: Properties that define a Azure Monitor PrivateLinkScope resource.
      example:
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: "Current state of this PrivateLinkScope: whether or not is\
            \ has been provisioned within the resource group it is defined. Users\
            \ cannot change this value but are able to read from it. Values will include\
            \ Provisioning ,Succeeded, Canceled and Failed."
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Describe the format of an Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    PrivateEndpointConnection:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A private endpoint connection
      example:
        properties:
          privateLinkServiceConnectionState:
            actionsRequired: actionsRequired
            description: description
            status: status
          privateEndpoint:
            id: id
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      x-ms-azure-resource: true
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections.
      example:
        value:
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
            provisioningState: provisioningState
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          type: array
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      example:
        privateLinkServiceConnectionState:
          actionsRequired: actionsRequired
          description: description
          status: status
        privateEndpoint:
          id: id
        provisioningState: provisioningState
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
        provisioningState:
          description: State of the private endpoint connection.
          readOnly: true
          type: string
      type: object
    PrivateEndpointProperty:
      description: Private endpoint which the connection belongs to.
      example:
        id: id
      properties:
        id:
          description: Resource id of the private endpoint.
          type: string
      type: object
    PrivateLinkResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A private link resource
      example:
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          groupId: groupId
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
    PrivateLinkResourceListResult:
      description: A list of private link resources
      example:
        value:
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
          type: array
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        groupId: groupId
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    PrivateLinkScopesResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        tags:
          description: Resource tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    PrivateLinkServiceConnectionStateProperty:
      description: State of the private endpoint connection.
      example:
        actionsRequired: actionsRequired
        description: description
        status: status
      properties:
        actionsRequired:
          description: The actions required for private link service connection.
          readOnly: true
          type: string
        description:
          description: The private link service connection description.
          type: string
        status:
          description: The private link service connection status.
          type: string
      required:
      - description
      - status
      type: object
    ProxyResource:
      description: Common properties of proxy resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
    ScopedResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A private link scoped resource
      example:
        properties:
          linkedResourceId: linkedResourceId
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ScopedResourceProperties'
      x-ms-azure-resource: true
    ScopedResourceListResult:
      description: A list of scoped resources in a private link scope.
      example:
        value:
        - properties:
            linkedResourceId: linkedResourceId
            provisioningState: provisioningState
        - properties:
            linkedResourceId: linkedResourceId
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ScopedResource'
          readOnly: true
          type: array
      type: object
    ScopedResourceProperties:
      description: Properties of a private link scoped resource.
      example:
        linkedResourceId: linkedResourceId
        provisioningState: provisioningState
      properties:
        linkedResourceId:
          description: The resource id of the scoped Azure monitor resource.
          type: string
        provisioningState:
          description: State of the private endpoint connection.
          readOnly: true
          type: string
      type: object
    TagsResource:
      description: "A container holding only the Tags for a resource, allowing the\
        \ user to update the tags on a PrivateLinkScope instance."
      example:
        tags: "{}"
      properties:
        tags:
          description: Resource tags
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

