openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Ip_messaging
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_ip_messaging_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_ip_messaging_v1
servers:
- url: https://ip-messaging.twilio.com
tags:
- name: IpMessagingV1Channel
- name: IpMessagingV1Credential
- name: IpMessagingV1Invite
- name: IpMessagingV1Member
- name: IpMessagingV1Message
- name: IpMessagingV1Role
- name: IpMessagingV1Service
- name: IpMessagingV1User
- name: IpMessagingV1UserChannel
paths:
  /v1/Credentials:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListCredential
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Credential
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateCredential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.credential'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Credential
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v1/Credentials/{Sid}:
    delete:
      description: ""
      operationId: DeleteCredential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Credential
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCredential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Credential
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateCredential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Credential
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v1/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListService
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Service
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: list
  /v1/Services/{ServiceSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/channel_enum_channel_type'
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Channel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Messages"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListInvite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInviteResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Invite
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateInvite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.invite'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Invite
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}:
    delete:
      description: ""
      operationId: DeleteInvite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Invite
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchInvite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.invite'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Invite
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMember
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Member
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateMember
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.member'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Member
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}:
    delete:
      description: ""
      operationId: DeleteMember
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Member
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMember
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Member
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateMember
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Member
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMessage
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_order_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Message
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateMessage
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Message
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}:
    delete:
      description: ""
      operationId: DeleteMessage
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Message
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMessage
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Message
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateMessage
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Message
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{Sid}:
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Channel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Messages"
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Roles:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListRole
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Role
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateRole
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.role'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Role
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Roles/{Sid}:
    delete:
      description: ""
      operationId: DeleteRole
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Role
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchRole
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Role
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateRole
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Role
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Users:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUser
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1User
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateUser
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.user'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1User
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Users/{Sid}:
    delete:
      description: ""
      operationId: DeleteUser
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1User
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUser
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1User
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateUser
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1User
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Users/{UserSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUserChannel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1UserChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - channel_sid
      - status
      mountName: user_channels
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: list
  /v1/Services/{Sid}:
    delete:
      description: ""
      operationId: DeleteService
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchService
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateService
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV1Service
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: instance
components:
  schemas:
    channel_enum_channel_type:
      enum:
      - public
      - private
      type: string
    credential_enum_push_service:
      enum:
      - gcm
      - apn
      - fcm
      type: string
    ip_messaging.v1.credential:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sandbox: sandbox
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        sandbox:
          nullable: true
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        type:
          $ref: '#/components/schemas/credential_enum_push_service'
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service:
      example:
        friendly_name: friendly_name
        webhook_method: webhook_method
        date_updated: 2000-01-23T04:56:07.000+00:00
        default_channel_role_sid: default_channel_role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        post_webhook_url: post_webhook_url
        read_status_enabled: true
        url: https://openapi-generator.tech
        pre_webhook_url: pre_webhook_url
        sid: sid
        reachability_enabled: true
        webhooks: ""
        consumption_report_interval: 0
        default_service_role_sid: default_service_role_sid
        account_sid: account_sid
        default_channel_creator_role_sid: default_channel_creator_role_sid
        links: "{}"
        typing_indicator_timeout: 6
        webhook_filters:
        - webhook_filters
        - webhook_filters
        limits: ""
        notifications: ""
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        consumption_report_interval:
          nullable: true
          type: integer
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        default_channel_creator_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        default_channel_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        default_service_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        friendly_name:
          nullable: true
          type: string
        limits:
          nullable: true
        links:
          format: uri-map
          nullable: true
          type: object
        notifications:
          nullable: true
        post_webhook_url:
          nullable: true
          type: string
        pre_webhook_url:
          nullable: true
          type: string
        reachability_enabled:
          nullable: true
          type: boolean
        read_status_enabled:
          nullable: true
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        typing_indicator_timeout:
          nullable: true
          type: integer
        url:
          format: uri
          nullable: true
          type: string
        webhook_filters:
          items:
            type: string
          nullable: true
          type: array
        webhook_method:
          nullable: true
          type: string
        webhooks:
          nullable: true
      type: object
    ip_messaging.v1.service.channel:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        type: type
        created_by: created_by
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        messages_count: 6
        unique_name: unique_name
        account_sid: account_sid
        attributes: attributes
        links: "{}"
        members_count: 0
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        attributes:
          nullable: true
          type: string
        created_by:
          nullable: true
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        members_count:
          nullable: true
          type: integer
        messages_count:
          nullable: true
          type: integer
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        type:
          $ref: '#/components/schemas/channel_enum_channel_type'
        unique_name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service.channel.invite:
      example:
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        created_by: created_by
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        created_by:
          nullable: true
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service.channel.member:
      example:
        last_consumption_timestamp: 2000-01-23T04:56:07.000+00:00
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        last_consumed_message_index: 0
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        last_consumed_message_index:
          nullable: true
          type: integer
        last_consumption_timestamp:
          format: date-time
          nullable: true
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service.channel.message:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        index: 0
        was_edited: true
        body: body
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        account_sid: account_sid
        attributes: attributes
        from: from
        to: to
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        attributes:
          nullable: true
          type: string
        body:
          nullable: true
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        from:
          nullable: true
          type: string
        index:
          nullable: true
          type: integer
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        to:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        url:
          format: uri
          nullable: true
          type: string
        was_edited:
          nullable: true
          type: boolean
      type: object
    ip_messaging.v1.service.role:
      example:
        service_sid: service_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        permissions:
        - permissions
        - permissions
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        permissions:
          items:
            type: string
          nullable: true
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        type:
          $ref: '#/components/schemas/role_enum_role_type'
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service.user:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        joined_channels_count: 0
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        identity: identity
        is_notifiable: true
        account_sid: account_sid
        attributes: attributes
        links: "{}"
        is_online: true
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        attributes:
          nullable: true
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        is_notifiable:
          nullable: true
          type: boolean
        is_online:
          nullable: true
          type: boolean
        joined_channels_count:
          nullable: true
          type: integer
        links:
          format: uri-map
          nullable: true
          type: object
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^US[0-9a-fA-F]{32}$"
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v1.service.user.user_channel:
      example:
        service_sid: service_sid
        account_sid: account_sid
        last_consumed_message_index: 0
        links: "{}"
        member_sid: member_sid
        unread_messages_count: 6
        channel_sid: channel_sid
        status: status
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        last_consumed_message_index:
          nullable: true
          type: integer
        links:
          format: uri-map
          nullable: true
          type: object
        member_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        status:
          $ref: '#/components/schemas/user_channel_enum_channel_status'
        unread_messages_count:
          nullable: true
          type: integer
      type: object
    message_enum_order_type:
      enum:
      - asc
      - desc
      type: string
    role_enum_role_type:
      enum:
      - channel
      - deployment
      type: string
    user_channel_enum_channel_status:
      enum:
      - joined
      - invited
      - not_participating
      type: string
    ListCredentialResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          type: string
        key:
          type: string
        next_page_url:
          format: uri
          nullable: true
          type: string
        page:
          type: integer
        page_size:
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          type: string
      type: object
    ListCredentialResponse:
      example:
        credentials:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sandbox: sandbox
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sandbox: sandbox
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        credentials:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.credential'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListCredentialResponse
      type: object
    CreateCredentialRequest:
      properties:
        ApiKey:
          description: ""
          type: string
        Certificate:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        PrivateKey:
          description: ""
          type: string
        Sandbox:
          description: ""
          type: boolean
        Secret:
          description: ""
          type: string
        Type:
          $ref: '#/components/schemas/credential_enum_push_service'
      required:
      - Type
      title: CreateCredentialRequest
      type: object
    UpdateCredentialRequest:
      properties:
        ApiKey:
          description: ""
          type: string
        Certificate:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        PrivateKey:
          description: ""
          type: string
        Sandbox:
          description: ""
          type: boolean
        Secret:
          description: ""
          type: string
      title: UpdateCredentialRequest
      type: object
    ListServiceResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        services:
        - friendly_name: friendly_name
          webhook_method: webhook_method
          date_updated: 2000-01-23T04:56:07.000+00:00
          default_channel_role_sid: default_channel_role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          post_webhook_url: post_webhook_url
          read_status_enabled: true
          url: https://openapi-generator.tech
          pre_webhook_url: pre_webhook_url
          sid: sid
          reachability_enabled: true
          webhooks: ""
          consumption_report_interval: 0
          default_service_role_sid: default_service_role_sid
          account_sid: account_sid
          default_channel_creator_role_sid: default_channel_creator_role_sid
          links: "{}"
          typing_indicator_timeout: 6
          webhook_filters:
          - webhook_filters
          - webhook_filters
          limits: ""
          notifications: ""
        - friendly_name: friendly_name
          webhook_method: webhook_method
          date_updated: 2000-01-23T04:56:07.000+00:00
          default_channel_role_sid: default_channel_role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          post_webhook_url: post_webhook_url
          read_status_enabled: true
          url: https://openapi-generator.tech
          pre_webhook_url: pre_webhook_url
          sid: sid
          reachability_enabled: true
          webhooks: ""
          consumption_report_interval: 0
          default_service_role_sid: default_service_role_sid
          account_sid: account_sid
          default_channel_creator_role_sid: default_channel_creator_role_sid
          links: "{}"
          typing_indicator_timeout: 6
          webhook_filters:
          - webhook_filters
          - webhook_filters
          limits: ""
          notifications: ""
      properties:
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
        services:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service'
          type: array
      title: ListServiceResponse
      type: object
    CreateServiceRequest:
      properties:
        FriendlyName:
          description: ""
          type: string
      required:
      - FriendlyName
      title: CreateServiceRequest
      type: object
    ListChannelResponse:
      example:
        channels:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          type: type
          created_by: created_by
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          messages_count: 6
          unique_name: unique_name
          account_sid: account_sid
          attributes: attributes
          links: "{}"
          members_count: 0
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          type: type
          created_by: created_by
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          messages_count: 6
          unique_name: unique_name
          account_sid: account_sid
          attributes: attributes
          links: "{}"
          members_count: 0
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        channels:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.channel'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListChannelResponse
      type: object
    CreateChannelRequest:
      properties:
        Attributes:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        Type:
          $ref: '#/components/schemas/channel_enum_channel_type'
        UniqueName:
          description: ""
          type: string
      title: CreateChannelRequest
      type: object
    ListInviteResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        invites:
        - service_sid: service_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          identity: identity
          account_sid: account_sid
          created_by: created_by
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
        - service_sid: service_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          identity: identity
          account_sid: account_sid
          created_by: created_by
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
      properties:
        invites:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.channel.invite'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListInviteResponse
      type: object
    CreateInviteRequest:
      properties:
        Identity:
          description: ""
          type: string
        RoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
      required:
      - Identity
      title: CreateInviteRequest
      type: object
    ListMemberResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        members:
        - last_consumption_timestamp: 2000-01-23T04:56:07.000+00:00
          service_sid: service_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          identity: identity
          account_sid: account_sid
          last_consumed_message_index: 0
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
        - last_consumption_timestamp: 2000-01-23T04:56:07.000+00:00
          service_sid: service_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          identity: identity
          account_sid: account_sid
          last_consumed_message_index: 0
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
      properties:
        members:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.channel.member'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListMemberResponse
      type: object
    CreateMemberRequest:
      properties:
        Identity:
          description: ""
          type: string
        RoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
      required:
      - Identity
      title: CreateMemberRequest
      type: object
    UpdateMemberRequest:
      properties:
        LastConsumedMessageIndex:
          description: ""
          nullable: true
          type: integer
        RoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
      title: UpdateMemberRequest
      type: object
    ListMessageResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        messages:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          index: 0
          was_edited: true
          body: body
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          account_sid: account_sid
          attributes: attributes
          from: from
          to: to
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          index: 0
          was_edited: true
          body: body
          channel_sid: channel_sid
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          account_sid: account_sid
          attributes: attributes
          from: from
          to: to
      properties:
        messages:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.channel.message'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListMessageResponse
      type: object
    CreateMessageRequest:
      properties:
        Attributes:
          description: ""
          type: string
        Body:
          description: ""
          type: string
        From:
          description: ""
          type: string
      required:
      - Body
      title: CreateMessageRequest
      type: object
    UpdateMessageRequest:
      properties:
        Attributes:
          description: ""
          type: string
        Body:
          description: ""
          type: string
      title: UpdateMessageRequest
      type: object
    UpdateChannelRequest:
      properties:
        Attributes:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        UniqueName:
          description: ""
          type: string
      title: UpdateChannelRequest
      type: object
    ListRoleResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        roles:
        - service_sid: service_sid
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
        - service_sid: service_sid
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          account_sid: account_sid
          type: type
          url: https://openapi-generator.tech
          sid: sid
      properties:
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
        roles:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.role'
          type: array
      title: ListRoleResponse
      type: object
    CreateRoleRequest:
      properties:
        FriendlyName:
          description: ""
          type: string
        Permission:
          description: ""
          items:
            type: string
          type: array
        Type:
          $ref: '#/components/schemas/role_enum_role_type'
      required:
      - FriendlyName
      - Permission
      - Type
      title: CreateRoleRequest
      type: object
    UpdateRoleRequest:
      properties:
        Permission:
          description: ""
          items:
            type: string
          type: array
      required:
      - Permission
      title: UpdateRoleRequest
      type: object
    ListUserResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        users:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          joined_channels_count: 0
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          identity: identity
          is_notifiable: true
          account_sid: account_sid
          attributes: attributes
          links: "{}"
          is_online: true
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          role_sid: role_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          joined_channels_count: 0
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          identity: identity
          is_notifiable: true
          account_sid: account_sid
          attributes: attributes
          links: "{}"
          is_online: true
      properties:
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
        users:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.user'
          type: array
      title: ListUserResponse
      type: object
    CreateUserRequest:
      properties:
        Attributes:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        Identity:
          description: ""
          type: string
        RoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
      required:
      - Identity
      title: CreateUserRequest
      type: object
    UpdateUserRequest:
      properties:
        Attributes:
          description: ""
          type: string
        FriendlyName:
          description: ""
          type: string
        RoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
      title: UpdateUserRequest
      type: object
    ListUserChannelResponse:
      example:
        channels:
        - service_sid: service_sid
          account_sid: account_sid
          last_consumed_message_index: 0
          links: "{}"
          member_sid: member_sid
          unread_messages_count: 6
          channel_sid: channel_sid
          status: status
        - service_sid: service_sid
          account_sid: account_sid
          last_consumed_message_index: 0
          links: "{}"
          member_sid: member_sid
          unread_messages_count: 6
          channel_sid: channel_sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        channels:
          items:
            $ref: '#/components/schemas/ip_messaging.v1.service.user.user_channel'
          type: array
        meta:
          $ref: '#/components/schemas/ListCredentialResponse_meta'
      title: ListUserChannelResponse
      type: object
    UpdateServiceRequest:
      properties:
        ConsumptionReportInterval:
          description: ""
          type: integer
        DefaultChannelCreatorRoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        DefaultChannelRoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        DefaultServiceRoleSid:
          description: ""
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        FriendlyName:
          description: ""
          type: string
        Limits.ChannelMembers:
          description: ""
          type: integer
        Limits.UserChannels:
          description: ""
          type: integer
        Notifications.AddedToChannel.Enabled:
          description: ""
          type: boolean
        Notifications.AddedToChannel.Template:
          description: ""
          type: string
        Notifications.InvitedToChannel.Enabled:
          description: ""
          type: boolean
        Notifications.InvitedToChannel.Template:
          description: ""
          type: string
        Notifications.NewMessage.Enabled:
          description: ""
          type: boolean
        Notifications.NewMessage.Template:
          description: ""
          type: string
        Notifications.RemovedFromChannel.Enabled:
          description: ""
          type: boolean
        Notifications.RemovedFromChannel.Template:
          description: ""
          type: string
        PostWebhookUrl:
          description: ""
          format: uri
          type: string
        PreWebhookUrl:
          description: ""
          format: uri
          type: string
        ReachabilityEnabled:
          description: ""
          type: boolean
        ReadStatusEnabled:
          description: ""
          type: boolean
        TypingIndicatorTimeout:
          description: ""
          type: integer
        WebhookFilters:
          description: ""
          items:
            type: string
          type: array
        WebhookMethod:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelAdd.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelAdd.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnChannelAdded.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelAdded.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnChannelDestroy.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelDestroy.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnChannelDestroyed.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelDestroyed.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnChannelUpdate.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelUpdate.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnChannelUpdated.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnChannelUpdated.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMemberAdd.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMemberAdd.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMemberAdded.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMemberAdded.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMemberRemove.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMemberRemove.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMemberRemoved.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMemberRemoved.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageRemove.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageRemove.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageRemoved.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageRemoved.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageSend.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageSend.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageSent.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageSent.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageUpdate.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageUpdate.Url:
          description: ""
          format: uri
          type: string
        Webhooks.OnMessageUpdated.Method:
          description: ""
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Webhooks.OnMessageUpdated.Url:
          description: ""
          format: uri
          type: string
      title: UpdateServiceRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: This product is Generally Available.
  name: GA

