openapi: 3.0.1
info:
  description: The Azure Customer Insights management API provides a RESTful set of
    web services that interact with Azure Customer Insights service to manage your
    resources. The API has entities that capture the relationship between an end user
    and the Azure Customer Insights service.
  title: CustomerInsightsManagementClient
  version: 2017-04-26
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/customer-insights/resource-manager/Microsoft.CustomerInsights/stable/2017-04-26/customer-insights.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: customer-insights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.CustomerInsights/operations:
    get:
      description: Lists all of the available Customer Insights REST API operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-examples:
        DCIOperations_List:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Read Azure Customer Insights Hub
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Hubs
                  name: Microsoft.CustomerInsights/hubs/read
                - display:
                    operation: Create or Update Azure Customer Insights Hub
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Hubs
                  name: Microsoft.CustomerInsights/hubs/write
                - display:
                    operation: Delete Azure Customer Insights Hub
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Hubs
                  name: Microsoft.CustomerInsights/hubs/delete
                - display:
                    operation: Read Azure Customer Insights App View
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights App Views
                  name: Microsoft.CustomerInsights/hubs/views/read
                - display:
                    operation: Create or Update Azure Customer Insights App View
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights App Views
                  name: Microsoft.CustomerInsights/hubs/views/write
                - display:
                    operation: Delete Azure Customer Insights App View
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights App Views
                  name: Microsoft.CustomerInsights/hubs/views/delete
                - display:
                    operation: Read Azure Customer Insights Connector
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connectors
                  name: Microsoft.CustomerInsights/hubs/connectors/read
                - display:
                    operation: Create or Update Azure Customer Insights Connector
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connectors
                  name: Microsoft.CustomerInsights/hubs/connectors/write
                - display:
                    operation: Delete Azure Customer Insights Connector
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connectors
                  name: Microsoft.CustomerInsights/hubs/connectors/delete
                - display:
                    operation: Read Azure Customer Insights Connector Mapping
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connector Mappings
                  name: Microsoft.CustomerInsights/hubs/connectors/mappings/read
                - display:
                    operation: Create or Update Azure Customer Insights Connector
                      Mapping
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connector Mappings
                  name: Microsoft.CustomerInsights/hubs/connectors/mappings/write
                - display:
                    operation: Delete Azure Customer Insights App View
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Connector Mappings
                  name: Microsoft.CustomerInsights/hubs/connectors/mappings/delete
                - display:
                    operation: Read Azure Customer Insights Interaction
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Interactions
                  name: Microsoft.CustomerInsights/hubs/interactions/read
                - display:
                    operation: Create or Update Azure Customer Insights Interaction
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Interactions
                  name: Microsoft.CustomerInsights/hubs/interactions/write
                - display:
                    operation: Read Azure Customer Insights Profile
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Profiles
                  name: Microsoft.CustomerInsights/hubs/profiles/read
                - display:
                    operation: Create or Update Azure Customer Insights Profile
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Profiles
                  name: Microsoft.CustomerInsights/hubs/profiles/write
                - display:
                    operation: Read Azure Customer Insights Key Performance Indicator
                    provider: Microsoft Azure Customer Insights
                    resource: Create or Update Customer Insights Key Performance Indicators
                  name: Microsoft.CustomerInsights/hubs/kpi/read
                - display:
                    operation: Create or Update Azure Customer Insights Key Performance
                      Indicator
                    provider: Microsoft Azure Customer Insights
                    resource: Create or Update Customer Insights Key Performance Indicators
                  name: Microsoft.CustomerInsights/hubs/kpi/write
                - display:
                    operation: Delete Azure Customer Insights Key Performance Indicator
                    provider: Microsoft Azure Customer Insights
                    resource: Create or Update Customer Insights Key Performance Indicators
                  name: Microsoft.CustomerInsights/hubs/kpi/delete
                - display:
                    operation: Read Azure Customer Insights Rbac Assignment
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Rbac Assignments
                  name: Microsoft.CustomerInsights/hubs/roleAssignments/read
                - display:
                    operation: Create or Update Azure Customer Insights Rbac Assignment
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Rbac Assignments
                  name: Microsoft.CustomerInsights/hubs/roleAssignments/write
                - display:
                    operation: Delete Azure Customer Insights Rbac Assignment
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Rbac Assignments
                  name: Microsoft.CustomerInsights/hubs/roleAssignments/delete
                - display:
                    operation: Read Azure Customer Insights Shared Access Signature
                      Policy
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Shared Access Signature Policies
                  name: Microsoft.CustomerInsights/hubs/authorizationPolicies/read
                - display:
                    operation: Create or Update Azure Customer Insights Shared Access
                      Signature Policy
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Shared Access Signature Policies
                  name: Microsoft.CustomerInsights/hubs/authorizationPolicies/write
                - display:
                    operation: Delete Azure Customer Insights Shared Access Signature
                      Policy
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Shared Access Signature Policies
                  name: Microsoft.CustomerInsights/hubs/authorizationPolicies/delete
                - display:
                    operation: Regenerate Azure Customer Insights Shared Access Signature
                      Policy primary key
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Shared Access Signature Policies
                  name: Microsoft.CustomerInsights/hubs/authorizationPolicies/regeneratePrimaryKey/action
                - display:
                    operation: Regenerate Azure Customer Insights Shared Access Signature
                      Policy secondary key
                    provider: Microsoft Azure Customer Insights
                    resource: Azure Customer Insights Shared Access Signature Policies
                  name: Microsoft.CustomerInsights/hubs/authorizationPolicies/regenerateSecondaryKey/action
                - display:
                    operation: Read resource metric definitions
                    provider: Microsoft Azure Customer Insights
                    resource: Microsoft Azure Customer Insights Metric Definition
                  name: Microsoft.CustomerInsights/hubs/providers/Microsoft.Insights/metricDefinitions/read
                - display:
                    operation: Read resource log definitions
                    provider: Microsoft Azure Customer Insights
                    resource: Microsoft Azure Customer Insights Log Definition
                  name: Microsoft.CustomerInsights/hubs/providers/Microsoft.Insights/logDefinitions/read
                - display:
                    operation: Diagnostic setting read
                    provider: Microsoft Azure Customer Insights
                    resource: Microsoft Azure Customer Insights Diagnostic Settings
                  name: Microsoft.CustomerInsights/hubs/providers/Microsoft.Insights/diagnosticSettings/read
                - display:
                    operation: Diagnostic setting write
                    provider: Microsoft Azure Customer Insights
                    resource: Microsoft Azure Customer Insights Diagnostic Settings
                  name: Microsoft.CustomerInsights/hubs/providers/Microsoft.Insights/diagnosticSettings/write
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CustomerInsights/hubs:
    get:
      description: Gets all hubs in the specified subscription.
      operationId: hubs_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubListResult'
          description: OK. Successfully get all the hubs in the subscription.
      tags:
      - Hubs
      x-ms-examples:
        Hubs_List:
          parameters:
            api-version: 2016-01-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub
                  location: East US
                  name: azSdkTestHub
                  properties:
                    apiEndpoint: https://azSdkTestHub.dfd.projectuic-int.net
                    hubBillingInfo:
                      maxUnits: 1
                      minUnits: 1
                      skuName: B0
                    provisioningState: Succeeded
                    tenantFeatures: 0
                    webEndpoint: https://azSdkTestHub.dfdapps.projectuic-int.net
                  tags: {}
                  type: Microsoft.CustomerInsights/hubs
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub1058
                  location: East US
                  name: testHub1058
                  properties:
                    apiEndpoint: https://testHub1058.dfd.projectuic-int.net
                    hubBillingInfo:
                      maxUnits: 5
                      minUnits: 1
                      skuName: B0
                    provisioningState: Succeeded
                    tenantFeatures: 0
                    webEndpoint: https://testHub1058.dfdapps.projectuic-int.net
                  tags: {}
                  type: Microsoft.CustomerInsights/hubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs:
    get:
      description: Gets all the hubs in a resource group.
      operationId: hubs_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubListResult'
          description: OK. Successfully get all the hubs in the resource group.
      tags:
      - Hubs
      x-ms-examples:
        Hubs_ListByResourceGroup:
          parameters:
            api-version: 2016-01-01
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub
                  location: East US
                  name: azSdkTestHub
                  properties:
                    apiEndpoint: https://azSdkTestHub.dfd.projectuic-int.net
                    hubBillingInfo:
                      maxUnits: 1
                      minUnits: 1
                      skuName: B0
                    provisioningState: Succeeded
                    tenantFeatures: 0
                    webEndpoint: https://azSdkTestHub.dfdapps.projectuic-int.net
                  tags: {}
                  type: Microsoft.CustomerInsights/hubs
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub1058
                  location: East US
                  name: testHub1058
                  properties:
                    apiEndpoint: https://testHub1058.dfd.projectuic-int.net
                    hubBillingInfo:
                      maxUnits: 5
                      minUnits: 1
                      skuName: B0
                    provisioningState: Succeeded
                    tenantFeatures: 0
                    webEndpoint: https://testHub1058.dfdapps.projectuic-int.net
                  tags: {}
                  type: Microsoft.CustomerInsights/hubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}:
    delete:
      description: Deletes the specified hub.
      operationId: hubs_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The hub is deleted.
        "202":
          content: {}
          description: Accepted. The delete operation is accepted.
        "204":
          content: {}
          description: "NoContent. Successfully requested delete operation, but the\
            \ response is intentionally empty."
      tags:
      - Hubs
      x-ms-examples:
        Hubs_Delete:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
    get:
      description: Gets information about the specified hub.
      operationId: hubs_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
          description: OK. Successfully get the hub.
      tags:
      - Hubs
      x-ms-examples:
        Hubs_Get:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub2839
                location: East US
                name: testHub2839
                properties:
                  apiEndpoint: https://testHub2839.dfd.projectuic-int.net
                  hubBillingInfo:
                    maxUnits: 5
                    minUnits: 1
                    skuName: B0
                  provisioningState: Creating
                  tenantFeatures: 0
                  webEndpoint: https://testHub2839.dfdapps.projectuic-int.net
                tags: {}
                type: Microsoft.CustomerInsights/hubs
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
    patch:
      description: Updates a Hub.
      operationId: hubs_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hub'
        description: Parameters supplied to the Update Hub operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
          description: OK. The hub is updated.
      tags:
      - Hubs
      x-ms-examples:
        Hubs_Update:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            parameters:
              location: West US
              properties:
                hubBillingInfo:
                  maxUnits: 5
                  minUnits: 1
                  skuName: B0
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub2839
                location: East US
                name: testHub2839
                properties:
                  apiEndpoint: https://testHub2839.dfd.projectuic-int.net
                  hubBillingInfo:
                    maxUnits: 5
                    minUnits: 1
                    skuName: B0
                  provisioningState: Created
                  tenantFeatures: 0
                  webEndpoint: https://testHub2839.dfdapps.projectuic-int.net
                tags: {}
                type: Microsoft.CustomerInsights/hubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
    put:
      description: "Creates a hub, or updates an existing hub."
      operationId: hubs_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Hub.
        in: path
        name: hubName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z][a-zA-Z0-9]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hub'
        description: Parameters supplied to the CreateOrUpdate Hub operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
          description: OK. An existing hub is updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
          description: Created. A new hub is created.
      tags:
      - Hubs
      x-ms-examples:
        Hubs_CreateOrUpdate:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            parameters:
              location: West US
              properties:
                hubBillingInfo:
                  maxUnits: 5
                  minUnits: 1
                  skuName: B0
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub2839
                location: East US
                name: testHub2839
                properties:
                  apiEndpoint: https://testHub2839.dfd.projectuic-int.net
                  hubBillingInfo:
                    maxUnits: 5
                    minUnits: 1
                    skuName: B0
                  provisioningState: Creating
                  tenantFeatures: 0
                  webEndpoint: https://testHub2839.dfdapps.projectuic-int.net
                tags: {}
                type: Microsoft.CustomerInsights/hubs
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/testHub2839
                location: West US
                name: testHub2839
                properties:
                  apiEndpoint: https://testHub2839.dfd.projectuic-int.net
                  hubBillingInfo:
                    maxUnits: 5
                    minUnits: 1
                    skuName: B0
                  provisioningState: Creating
                  tenantFeatures: 0
                  webEndpoint: https://testHub2839.dfdapps.projectuic-int.net
                tags: {}
                type: Microsoft.CustomerInsights/hubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies
  : get:
      description: Gets all the authorization policies in a specified hub.
      operationId: authorization_policies_list_by_hub
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyListResult'
          description: OK. Successfully get all the authorization policies in the
            hub.
      tags:
      - AuthorizationPolicies
      x-ms-examples:
        AuthorizationPolicies_ListByHub:
          parameters:
            api-version: 2016-01-01
            hubName: azSdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/AuthorizationPolicies/RootManageSharedAccessKey
                  name: azSdkTestHub/RootManageSharedAccessKey
                  properties:
                    permissions:
                    - Read
                    - Write
                    - Manage
                    policyName: RootManageSharedAccessKey
                    primaryKey: KEvPnaBbDbEdSch27GhFx/D5Smu1bZC8bCmG33fHyi4=
                    secondaryKey: wvOahlAtWZh9127MVr1yYX2pPgioqFWGEUtp1ADbfcQ=
                  type: Microsoft.CustomerInsights/hubs/AuthorizationPolicies
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/AuthorizationPolicies/testPolicy1125
                  name: azSdkTestHub/testPolicy1125
                  properties:
                    permissions:
                    - Read
                    - Write
                    - Manage
                    policyName: testPolicy1125
                    primaryKey: 3Nk5Yce0eQXHY3S+KDuUPKFS5NkOWLqtzNYEadh1WeI=
                    secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
                  type: Microsoft.CustomerInsights/hubs/AuthorizationPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.authorization_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}
  : get:
      description: Gets an authorization policy in the hub.
      operationId: authorization_policies_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: authorizationPolicyName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
          description: OK. Successfully get the authorization policy.
      tags:
      - AuthorizationPolicies
      x-ms-examples:
        AuthorizationPolicies_Get:
          parameters:
            api-version: 2016-01-01
            authorizationPolicyName: testPolicy4222
            hubName: azSdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/AuthorizationPolicies/testPolicy4222
                name: azSdkTestHub/testPolicy4222
                properties:
                  permissions:
                  - Read
                  - Write
                  - Manage
                  policyName: testPolicy4222
                  primaryKey: cHJpbWFyeVRlc3RSZWFk
                  secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
                type: Microsoft.CustomerInsights/hubs/AuthorizationPolicies
      x-openapi-router-controller: openapi_server.controllers.authorization_policies_controller
    put:
      description: Creates an authorization policy or updates an existing authorization
        policy.
      operationId: authorization_policies_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: authorizationPolicyName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[A-Za-z0-9]$|^[A-Za-z0-9][\\w-\\.]*[A-Za-z0-9]$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
        description: Parameters supplied to the CreateOrUpdate authorization policy
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
          description: OK. Successfully update an existing authorization policy.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
          description: Created. A new authorization policy is created.
      tags:
      - AuthorizationPolicies
      x-ms-examples:
        AuthorizationPolicies_CreateOrUpdate:
          parameters:
            api-version: 2016-01-01
            authorizationPolicyName: testPolicy4222
            hubName: azSdkTestHub
            parameters:
              properties:
                permissions:
                - Read
                - Write
                - Manage
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/AuthorizationPolicies/testPolicy4222
                name: testPolicy4222
                properties:
                  permissions:
                  - Read
                  - Write
                  - Manage
                  policyName: testPolicy4222
                  primaryKey: cHJpbWFyeVRlc3RSZWFk
                  secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
                type: Microsoft.CustomerInsights/hubs/AuthorizationPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups//TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/AuthorizationPolicies/testPolicy4222
                name: testPolicy4222
                properties:
                  permissions:
                  - Read
                  - Write
                  - Manage
                  policyName: testPolicy4222
                  primaryKey: cHJpbWFyeVRlc3RSZWFk
                  secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
                type: Microsoft.CustomerInsights/hubs/AuthorizationPolicies
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.authorization_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regeneratePrimaryKey
  : post:
      description: Regenerates the primary policy key of the specified authorization
        policy.
      operationId: authorization_policies_regenerate_primary_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: authorizationPolicyName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicy'
          description: OK. The primary key of the authorization policy is regenerated.
      tags:
      - AuthorizationPolicies
      x-ms-examples:
        AuthorizationPolicies_RegeneratePrimaryKey:
          parameters:
            api-version: 2016-01-01
            authorizationPolicyName: testPolicy4222
            hubName: azSdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                permissions:
                - Read
                - Write
                - Manage
                policyName: testPolicy4009
                primaryKey: UXZMQlt3kbcUc7Mx6WMVsNWj5rTmG6/cg9UrTY9YuoY=
                secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
      x-openapi-router-controller: openapi_server.controllers.authorization_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regenerateSecondaryKey
  : post:
      description: Regenerates the secondary policy key of the specified authorization
        policy.
      operationId: authorization_policies_regenerate_secondary_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: authorizationPolicyName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicy'
          description: OK. The secondary key of the authorization policy is regenerated.
      tags:
      - AuthorizationPolicies
      x-ms-examples:
        AuthorizationPolicies_RegenerateSecondaryKey:
          parameters:
            api-version: 2016-01-01
            authorizationPolicyName: testPolicy4222
            hubName: azSdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                permissions:
                - Read
                - Write
                - Manage
                policyName: testPolicy4009
                primaryKey: UXZMQlt3kbcUc7Mx6WMVsNWj5rTmG6/cg9UrTY9YuoY=
                secondaryKey: c2Vjb25kYXJ5VGVzdFJlYWQ=
      x-openapi-router-controller: openapi_server.controllers.authorization_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors
  : get:
      description: Gets all the connectors in the specified hub.
      operationId: connectors_list_by_hub
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorListResult'
          description: OK. Successfully get all the connectors in the hub.
      tags:
      - Connectors
      x-ms-examples:
        Connectors_ListByHub:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector
                  name: sdkTestHub/testConnector
                  properties:
                    connectorId: 0
                    connectorName: testConnector
                    connectorProperties:
                      connectionKeyVaultUrl:
                        organizationId: XXX
                        organizationUrl: https://XXX.crmlivetie.com/
                    connectorType: AzureBlob
                    description: Test connector
                    displayName: testConnector
                    state: Creating
                    tenantId: sdktesthub
                  type: Microsoft.CustomerInsights/hubs/connectors
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}
  : delete:
      description: Deletes a connector in the hub.
      operationId: connectors_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The connector is deleted.
        "202":
          content: {}
          description: Accepted. The delete operation is accepted.
        "204":
          content: {}
          description: "NoContent. Successfully requested delete operation, but the\
            \ response is intentionally empty."
      tags:
      - Connectors
      x-ms-examples:
        Connectors_Delete:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
    get:
      description: Gets a connector in the hub.
      operationId: connectors_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResourceFormat'
          description: OK. Successfully get the connector.
      tags:
      - Connectors
      x-ms-examples:
        Connectors_Get:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector
                name: sdkTestHub/testConnector
                properties:
                  connectorId: 0
                  connectorName: testConnector
                  connectorProperties:
                    connectionKeyVaultUrl:
                      organizationId: XXX
                      organizationUrl: https://XXX.crmlivetie.com/
                  connectorType: AzureBlob
                  description: Test connector
                  displayName: testConnector
                  state: Creating
                  tenantId: sdktesthub
                type: Microsoft.CustomerInsights/hubs/connectors
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
    put:
      description: Creates a connector or updates an existing connector in the hub.
      operationId: connectors_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "^[a-zA-Z][a-zA-Z0-9_]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Connector operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResourceFormat'
          description: OK. Successfully created the connector.
        "202":
          content: {}
          description: Accepted. The create connector operation is accepted.
      tags:
      - Connectors
      x-ms-examples:
        Connectors_CreateOrUpdate:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector
            hubName: sdkTestHub
            parameters:
              properties:
                connectorProperties:
                  connectionKeyVaultUrl:
                    organizationId: XXX
                    organizationUrl: https://XXX.crmlivetie.com/
                connectorType: AzureBlob
                description: Test connector
                displayName: testConnector
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector
                name: sdkTestHub/testConnector
                properties:
                  connectorId: 0
                  connectorName: testConnector
                  connectorProperties:
                    connectionKeyVaultUrl:
                      organizationId: XXX
                      organizationUrl: https://XXX.crmlivetie.com/
                  connectorType: AzureBlob
                  description: Test connector
                  displayName: testConnector
                  state: Creating
                  tenantId: sdktesthub
                type: Microsoft.CustomerInsights/hubs/connectors
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.connectors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings
  : get:
      description: Gets all the connector mappings in the specified connector.
      operationId: connector_mappings_list_by_connector
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingListResult'
          description: OK. Successfully get all the connector mappings in the connector.
      tags:
      - ConnectorMappings
      x-ms-examples:
        ConnectorMappings_ListByConnector:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector8858
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector8858/mappings/testMapping12491
                  name: sdkTestHub/testConnector8858/testMapping12491
                  properties:
                    connectorMappingName: testMapping12491
                    connectorName: testConnector8858
                    connectorType: AzureBlob
                    dataFormatId: 4619d4e7e8a64c1e9bc34907f9f46505
                    description: Test mapping
                    displayName: testMapping12491
                    entityType: Interaction
                    entityTypeName: TestInteractionType2967
                    mappingProperties:
                      availability:
                        frequency: Hour
                        interval: 5
                      completeOperation:
                        completionOperationType: DeleteFile
                        destinationFolder: fakePath
                      errorManagement:
                        errorLimit: 10
                        errorManagementType: StopImport
                      fileFilter: unknown
                      folderPath: http://sample.dne/file
                      format:
                        acceptLanguage: ""
                        arraySeparator: ;
                        columnDelimiter: '|'
                        formatType: TextFormat
                        quoteCharacter: \"
                        quoteEscapeCharacter: \"
                      hasHeader: false
                      structure:
                      - columnName: unknown1
                        isEncrypted: false
                        propertyName: unknwon1
                      - columnName: unknown2
                        isEncrypted: true
                        propertyName: unknwon2
                    state: Created
                    tenantId: sdktesthub
                  type: Microsoft.CustomerInsights/hubs/connectors/mappings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.connector_mappings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings/{mappingName}
  : delete:
      description: Deletes a connector mapping in the connector.
      operationId: connector_mappings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: The name of the connector mapping.
        in: path
        name: mappingName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The connector mapping is deleted.
        "204":
          content: {}
          description: "NoContent. Successfully requested delete operation, but the\
            \ response is intentionally empty."
      tags:
      - ConnectorMappings
      x-ms-examples:
        ConnectorMappings_Delete:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector8858
            hubName: sdkTestHub
            mappingName: testMapping12491
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.connector_mappings_controller
    get:
      description: Gets a connector mapping in the connector.
      operationId: connector_mappings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: The name of the connector mapping.
        in: path
        name: mappingName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
          description: OK. Successfully get the connector mapping.
      tags:
      - ConnectorMappings
      x-ms-examples:
        ConnectorMappings_Get:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector8858
            hubName: sdkTestHub
            mappingName: testMapping12491
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector8858/mappings/testMapping12491
                name: sdkTestHub/testConnector8858/testMapping12491
                properties:
                  connectorMappingName: testMapping12491
                  connectorName: testConnector8858
                  connectorType: AzureBlob
                  dataFormatId: 4619d4e7e8a64c1e9bc34907f9f46505
                  description: Test mapping
                  displayName: testMapping12491
                  entityType: Interaction
                  entityTypeName: TestInteractionType2967
                  mappingProperties:
                    availability:
                      frequency: Hour
                      interval: 5
                    completeOperation:
                      completionOperationType: DeleteFile
                      destinationFolder: fakePath
                    errorManagement:
                      errorLimit: 10
                      errorManagementType: StopImport
                    fileFilter: unknown
                    folderPath: http://sample.dne/file
                    format:
                      acceptLanguage: ""
                      arraySeparator: ;
                      columnDelimiter: '|'
                      formatType: TextFormat
                      quoteCharacter: \"
                      quoteEscapeCharacter: \"
                    hasHeader: false
                    structure:
                    - columnName: unknown1
                      isEncrypted: false
                      propertyName: unknwon1
                    - columnName: unknown2
                      isEncrypted: true
                      propertyName: unknwon2
                  state: Created
                  tenantId: sdktesthub
                type: Microsoft.CustomerInsights/hubs/connectors/mappings
      x-openapi-router-controller: openapi_server.controllers.connector_mappings_controller
    put:
      description: Creates a connector mapping or updates an existing connector mapping
        in the connector.
      operationId: connector_mappings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the connector.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
      - description: The name of the connector mapping.
        in: path
        name: mappingName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "^[a-zA-Z][a-zA-Z0-9_]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorMappingResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Connector Mapping operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
          description: OK. Successfully created the connector mapping.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
          description: Created. A new connector mapping is created.
      tags:
      - ConnectorMappings
      x-ms-examples:
        ConnectorMappings_CreateOrUpdate:
          parameters:
            api-version: 2016-01-01
            connectorName: testConnector8858
            hubName: sdkTestHub
            mappingName: testMapping12491
            parameters:
              properties:
                description: Test mapping
                displayName: testMapping12491
                entityType: Interaction
                entityTypeName: TestInteractionType2967
                mappingProperties:
                  availability:
                    frequency: Hour
                    interval: 5
                  completeOperation:
                    completionOperationType: DeleteFile
                    destinationFolder: fakePath
                  errorManagement:
                    errorLimit: 10
                    errorManagementType: StopImport
                  fileFilter: unknown
                  folderPath: http://sample.dne/file
                  format:
                    columnDelimiter: '|'
                    formatType: TextFormat
                  hasHeader: false
                  structure:
                  - columnName: unknown1
                    isEncrypted: false
                    propertyName: unknwon1
                  - columnName: unknown2
                    isEncrypted: true
                    propertyName: unknwon2
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector8858/mappings/testMapping12491
                name: sdkTestHub/testConnector8858/testMapping12491
                properties:
                  connectorMappingName: testMapping12491
                  connectorName: testConnector8858
                  connectorType: AzureBlob
                  dataFormatId: 4619d4e7e8a64c1e9bc34907f9f46505
                  description: Test mapping
                  displayName: testMapping12491
                  entityType: Interaction
                  entityTypeName: TestInteractionType2967
                  mappingProperties:
                    availability:
                      frequency: Hour
                      interval: 5
                    completeOperation:
                      completionOperationType: DeleteFile
                      destinationFolder: fakePath
                    errorManagement:
                      errorLimit: 10
                      errorManagementType: StopImport
                    fileFilter: unknown
                    folderPath: http://sample.dne/file
                    format:
                      acceptLanguage: ""
                      arraySeparator: ;
                      columnDelimiter: '|'
                      formatType: TextFormat
                      quoteCharacter: \"
                      quoteEscapeCharacter: \"
                    hasHeader: false
                    structure:
                    - columnName: unknown1
                      isEncrypted: false
                      propertyName: unknwon1
                    - columnName: unknown2
                      isEncrypted: true
                      propertyName: unknwon2
                  state: Created
                  tenantId: sdktesthub
                type: Microsoft.CustomerInsights/hubs/connectors/mappings
            "201":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/connectors/testConnector8858/mappings/testMapping12491
                name: sdkTestHub/testConnector8858/testMapping12491
                properties:
                  connectorMappingName: testMapping12491
                  connectorName: testConnector8858
                  connectorType: AzureBlob
                  dataFormatId: 4619d4e7e8a64c1e9bc34907f9f46505
                  description: Test mapping
                  displayName: testMapping12491
                  entityType: Interaction
                  entityTypeName: TestInteractionType2967
                  mappingProperties:
                    availability:
                      frequency: Hour
                      interval: 5
                    completeOperation:
                      completionOperationType: DeleteFile
                      destinationFolder: fakePath
                    errorManagement:
                      errorLimit: 10
                      errorManagementType: StopImport
                    fileFilter: unknown
                    folderPath: http://sample.dne/file
                    format:
                      acceptLanguage: ""
                      arraySeparator: ;
                      columnDelimiter: '|'
                      formatType: TextFormat
                      quoteCharacter: \"
                      quoteEscapeCharacter: \"
                    hasHeader: false
                    structure:
                    - columnName: unknown1
                      isEncrypted: false
                      propertyName: unknwon1
                    - columnName: unknown2
                      isEncrypted: true
                      propertyName: unknwon2
                  state: Created
                  tenantId: sdktesthub
                type: Microsoft.CustomerInsights/hubs/connectors/mappings
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.connector_mappings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getDataImageUploadUrl
  : post:
      description: Gets data image upload URL.
      operationId: images_get_upload_url_for_data
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetImageUploadUrlInput'
        description: Parameters supplied to the GetUploadUrlForData operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDefinition'
          description: OK. Successfully get the image upload URL for data.
      tags:
      - Images
      x-ms-examples:
        Images_GetUploadUrlForData:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            parameters:
              entityType: Profile
              entityTypeName: Contact
              relativePath: images/profile1.png
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                contentUrl: https://ucidfdbl2001img.blob.core.windows.net/images/3ac3a97a5e3246ffb41812f60fd9f83c/EntityTypeImage/Profile/Contact/images/profile1.png?sv=2015-04-05&sr=b&sig=yIt7DGVRTyNl15%2BPc0kO%2FDITJ2cExnBPVvvh6p86qdc%3D&se=2017-01-06T01%3A56%3A43Z&sp=cw
                imageExists: false
                relativePath: images/profile1.png
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getEntityTypeImageUploadUrl
  : post:
      description: Gets entity type (profile or interaction) image upload URL.
      operationId: images_get_upload_url_for_entity_type
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetImageUploadUrlInput'
        description: Parameters supplied to the GetUploadUrlForEntityType operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDefinition'
          description: OK. Successfully get the image upload URL for entity type.
      tags:
      - Images
      x-ms-examples:
        Images_GetUploadUrlForEntityType:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            parameters:
              entityType: Profile
              entityTypeName: Contact
              relativePath: images/profile1.png
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                contentUrl: https://ucidfdbl2001img.blob.core.windows.net/images/3ac3a97a5e3246ffb41812f60fd9f83c/EntityTypeImage/Profile/Contact/images/profile1.png?sv=2015-04-05&sr=b&sig=yIt7DGVRTyNl15%2BPc0kO%2FDITJ2cExnBPVvvh6p86qdc%3D&se=2017-01-06T01%3A56%3A43Z&sp=cw
                imageExists: false
                relativePath: images/profile1.png
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions
  : get:
      description: Gets all interactions in the hub.
      operationId: interactions_list_by_hub
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: "Locale of interaction to retrieve, default is en-us."
        in: query
        name: locale-code
        schema:
          default: en-us
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResult'
          description: OK. Successfully get all the interactions in the hub.
      tags:
      - Interactions
      x-ms-examples:
        Interactions_ListByHub:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/interactions/TestInteractionType6358
                  name: azSdkTestHub/TestInteractionType6358
                  properties:
                    apiEntitySetName: TestInteractionType6358
                    dataSourcePrecedenceRules:
                    - dataSource:
                        dataSourceReferenceId: "70"
                        dataSourceType: Connector
                        id: 1
                        name: crm2
                        status: Active
                      precedence: 50
                    defaultDataSource:
                      dataSourceReferenceId: "70"
                      dataSourceType: Connector
                      id: 1
                      name: crm2
                      status: Active
                    entityType: Interaction
                    fields:
                    - dataSourcePrecedenceRules: []
                      fieldName: TestInteractionType6358
                      fieldType: Edm.String
                      isArray: false
                      isEnum: false
                      isFlagEnum: false
                      isImage: false
                      isLocalizedString: false
                      isName: false
                      isRequired: true
                      propertyId: id1
                    - dataSourcePrecedenceRules:
                      - dataSource:
                          dataSourceReferenceId: "70"
                          dataSourceType: Connector
                          id: 1
                          name: crm2
                          status: Active
                        precedence: 50
                      fieldName: profile1
                      fieldType: Edm.String
                      isArray: false
                      isEnum: false
                      isFlagEnum: false
                      isImage: false
                      isLocalizedString: false
                      isName: false
                      isRequired: true
                      propertyId: id1
                    idPropertyNames:
                    - TestInteractionType6358
                    instancesCount: 0
                    isActivity: true
                    largeImage: \\Images\\LargeImage
                    mediumImage: \\Images\\MediumImage
                    primaryParticipantProfilePropertyName: profile1
                    provisioningState: Provisioning
                    smallImage: \\Images\\smallImage
                    tenantId: azsdktesthub
                    typeName: TestInteractionType6358
                  type: Microsoft.CustomerInsights/hubs/interactions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.interactions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}
  : get:
      description: Gets information about the specified interaction.
      operationId: interactions_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the interaction.
        in: path
        name: interactionName
        required: true
        schema:
          type: string
      - description: "Locale of interaction to retrieve, default is en-us."
        in: query
        name: locale-code
        schema:
          default: en-us
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionResourceFormat'
          description: OK. Successfully get the interaction.
      tags:
      - Interactions
      x-ms-examples:
        Interactions_Get:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            interactionName: TestInteractionType6358
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/interactions/TestInteractionType6358
                name: azSdkTestHub/TestInteractionType6358
                properties:
                  apiEntitySetName: TestInteractionType6358
                  dataSourcePrecedenceRules:
                  - dataSource:
                      dataSourceReferenceId: "70"
                      dataSourceType: Connector
                      id: 1
                      name: crm2
                      status: Active
                    precedence: 50
                  defaultDataSource:
                    dataSourceReferenceId: "70"
                    dataSourceType: Connector
                    id: 1
                    name: crm2
                    status: Active
                  entityType: Interaction
                  fields:
                  - dataSourcePrecedenceRules: []
                    fieldName: TestInteractionType6358
                    fieldType: Edm.String
                    isArray: false
                    isEnum: false
                    isFlagEnum: false
                    isImage: false
                    isLocalizedString: false
                    isName: false
                    isRequired: true
                    propertyId: id1
                  - dataSourcePrecedenceRules:
                    - dataSource:
                        dataSourceReferenceId: "70"
                        dataSourceType: Connector
                        id: 1
                        name: crm2
                        status: Active
                      precedence: 50
                    fieldName: profile1
                    fieldType: Edm.String
                    isArray: false
                    isEnum: false
                    isFlagEnum: false
                    isImage: false
                    isLocalizedString: false
                    isName: false
                    isRequired: true
                    propertyId: id1
                  idPropertyNames:
                  - TestInteractionType6358
                  instancesCount: 0
                  isActivity: true
                  largeImage: \\Images\\LargeImage
                  mediumImage: \\Images\\MediumImage
                  primaryParticipantProfilePropertyName: profile1
                  provisioningState: Provisioning
                  smallImage: \\Images\\smallImage
                  tenantId: azsdktesthub
                  typeName: TestInteractionType6358
                type: Microsoft.CustomerInsights/hubs/interactions
      x-openapi-router-controller: openapi_server.controllers.interactions_controller
    put:
      description: Creates an interaction or updates an existing interaction within
        a hub.
      operationId: interactions_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the interaction.
        in: path
        name: interactionName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "^[a-zA-Z][a-zA-Z0-9_]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Interaction operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionResourceFormat'
          description: OK. Successfully created the interaction.
        "202":
          content: {}
          description: Accepted. The create interaction operation is accepted.
      tags:
      - Interactions
      x-ms-examples:
        Interactions_CreateOrUpdate:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            interactionName: TestProfileType396
            parameters:
              properties:
                apiEntitySetName: TestInteractionType6358
                fields:
                - fieldName: TestInteractionType6358
                  fieldType: Edm.String
                  isArray: false
                  isRequired: true
                - fieldName: profile1
                  fieldType: Edm.String
                idPropertyNames:
                - TestInteractionType6358
                largeImage: \\Images\\LargeImage
                mediumImage: \\Images\\MediumImage
                primaryParticipantProfilePropertyName: profile1
                smallImage: \\Images\\smallImage
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/azSdkTestHub/interactions/TestInteractionType6358
                name: azSdkTestHub/TestInteractionType6358
                properties:
                  apiEntitySetName: TestInteractionType6358
                  entityType: Interaction
                  fields:
                  - fieldName: TestInteractionType6358
                    fieldType: Edm.String
                    isArray: false
                    isEnum: false
                    isFlagEnum: false
                    isImage: false
                    isLocalizedString: false
                    isName: false
                    isRequired: true
                    propertyId: id1
                  - fieldName: profile1
                    fieldType: Edm.String
                    isArray: false
                    isEnum: false
                    isFlagEnum: false
                    isImage: false
                    isLocalizedString: false
                    isName: false
                    isRequired: true
                    propertyId: id1
                  idPropertyNames:
                  - TestInteractionType6358
                  instancesCount: 0
                  largeImage: \\Images\\LargeImage
                  mediumImage: \\Images\\MediumImage
                  primaryParticipantProfilePropertyName: profile1
                  provisioningState: Provisioning
                  smallImage: \\Images\\smallImage
                  tenantId: azsdktesthub
                  typeName: TestInteractionType6358
                type: Microsoft.CustomerInsights/hubs/interactions
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.interactions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}/suggestRelationshipLinks
  : post:
      description: Suggests relationships to create relationship links.
      operationId: interactions_suggest_relationship_links
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the interaction.
        in: path
        name: interactionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestRelationshipLinksResponse'
          description: OK. Successfully get suggested Relationship Links.
      tags:
      - Interactions
      x-ms-examples:
        Interactions_SuggestRelationshipLinks:
          parameters:
            api-version: 2017-01-01
            hubName: sdkTestHub
            interactionName: Deposit
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                interactionName: Deposit
                suggestedRelationships:
                - profileName: Branch
                  profilePropertyReferences:
                  - interactionPropertyName: BranchId
                    profilePropertyName: BranchId
                  relatedProfileName: Contact
                  relatedProfilePropertyReferences:
                  - interactionPropertyName: ContactId
                    profilePropertyName: ContactId
                - profileName: Contact
                  profilePropertyReferences:
                  - interactionPropertyName: ContactId
                    profilePropertyName: ContactId
                  relatedProfileName: Branch
                  relatedProfilePropertyReferences:
                  - interactionPropertyName: BranchId
                    profilePropertyName: BranchId
      x-openapi-router-controller: openapi_server.controllers.interactions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi:
    get:
      description: Gets all the KPIs in the specified hub.
      operationId: kpi_list_by_hub
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KpiListResult'
          description: OK. Successfully get all the KPIs in the hub.
      tags:
      - Kpi
      x-ms-examples:
        Kpi_ListByHub:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/kpi/kpiTest45453647
                  name: sdkTestHub/kpiTest45453647
                  properties:
                    aliases:
                    - aliasName: alias
                      expression: Id+4
                    calculationWindow: Day
                    description:
                      en-us: Kpi Description
                    displayName:
                      en-us: Kpi DisplayName
                    entityType: Profile
                    entityTypeName: testProfile2327128
                    expression: SavingAccountBalance
                    function: Sum
                    groupBy:
                    - SavingAccountBalance
                    kpiName: kpiTest45453647
                    provisioningState: Provisioning
                    tenantId: sdktesthub
                    thresHolds:
                      increasingKpi: true
                      lowerLimit: 5
                      upperLimit: 50
                    unit: unit
                  type: Microsoft.CustomerInsights/hubs/kpi
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.kpi_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}
  : delete:
      description: Deletes a KPI in the hub.
      operationId: kpi_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the KPI.
        in: path
        name: kpiName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The KPI is deleted.
        "202":
          content: {}
          description: Accepted. The delete operation is accepted.
      tags:
      - Kpi
      x-ms-examples:
        Kpi_Delete:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            kpiName: kpiTest45453647
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.kpi_controller
    get:
      description: Gets a KPI in the hub.
      operationId: kpi_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the hub.
        in: path
        name: hubName
        required: true
        schema:
          type: string
      - description: The name of the KPI.
        in: path
        name: kpiName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KpiResourceFormat'
          description: OK. Successfully get the KPI.
      tags:
      - Kpi
      x-ms-examples:
        Kpi_Get:
          parameters:
            api-version: 2016-01-01
            hubName: sdkTestHub
            kpiName: kpiTest45453647
            resourceGroupName: TestHubRG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdkTestHub/kpi/kpiTest45453647
                name: sdkTestHub/kpiTest45453647
                properties:
                  aliases:
                  - aliasName: alias
                    expression: Id+4
                  calculationWindow: Day
                  description:
                    en-us: Kpi Description
                  displayName:
                    en-us: Kpi DisplayName
                  entityType: Profile
                  entityTypeName: testProfile2327128
                  expression: SavingAccountBalance
                  function: Sum
                  groupBy:
                  - SavingAccountBalance
                  kpiName: kpiTest45453647
                  provisioningState: Provisioning
                  tenantId: sdktesthub
                  thresHolds:
[...]
