openapi: 3.0.1
info:
  contact: {}
  description: "This an interactive version of the documentation for the Weatherbit\
    \ API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/)\
    \ or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below\
    \ is the Swagger UI documentation for the API. All API requests require the `key`\
    \ parameter.        An Example for a 48 hour forecast for London, UK would be\
    \ `http://api.weatherbit.io/v2.0/forecast/hourly?lat=51.5072`&`lon=-0.1276`. See\
    \ our [Weather API description page](https://www.weatherbit.io/api) for the full\
    \ documentation."
  title: Weatherbit - Interactive Swagger UI Documentation
  version: 2.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/weatherbitio/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://www.weatherbit.io/static/swagger.json
    version: "2.0"
  x-providerName: weatherbit.io
servers:
- url: https://api.weatherbit.io/v2.0
- url: http://api.weatherbit.io/v2.0
paths:
  /alerts?lat={lat}&lon={lon}:
    get:
      description: "Returns severe weather alerts issued by meteorological agencies\
        \ - given a lat, and a lon."
      operationId: alertslatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherAlert'
          description: Weather Alert Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns severe weather alerts issued by meteorological agencies - Given
        a lat/lon.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /bulk/files/{file}:
    get:
      description: "Downloads bulk data files - OPTIONS: ( current.csv.gz, forecast_hourly.csv.gz,\
        \ forecast_daily.csv.gz). Units are Metric (Celcius, m/s, etc)."
      operationId: bulk_files_file_get
      parameters:
      - description: Filename (ie. current.csv.gz)
        in: path
        name: file
        required: true
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Download pre-generated bulk datasets
      tags:
      - Bulk Downloads
      x-openapi-router-controller: openapi_server.controllers.bulk_downloads_controller
  /current/airquality?city={city}&country={country}:
    get:
      description: Returns current air quality conditions.
      operationId: current_airqualitycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Current air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns current air quality conditions - Given City and/or State,\
        \ Country."
      tags:
      - Current Air Quality
      x-openapi-router-controller: openapi_server.controllers.current_air_quality_controller
  /current/airquality?city_id={city_id}:
    get:
      description: Returns current air quality conditions.
      operationId: current_airqualitycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: integer
          type: integer
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Current air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns current air quality conditions - Given a City ID.
      tags:
      - Current Air Quality
      x-openapi-router-controller: openapi_server.controllers.current_air_quality_controller
  /current/airquality?lat={lat}&lon={lon}:
    get:
      description: Returns current air quality conditions.
      operationId: current_airqualitylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Current air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns current air quality conditions - Given a lat/lon.
      tags:
      - Current Air Quality
      x-openapi-router-controller: openapi_server.controllers.current_air_quality_controller
  /current/airquality?postal_code={postal_code}:
    get:
      description: Returns current air quality conditions.
      operationId: current_airqualitypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: integer
          type: integer
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Current air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns current air quality conditions - Given a Postal Code.
      tags:
      - Current Air Quality
      x-openapi-router-controller: openapi_server.controllers.current_air_quality_controller
  /current?cities={cities}:
    get:
      description: 'Returns a group of Current Observations - Given a list of City
        IDs. '
      operationId: currentcitiescities_get
      parameters:
      - description: "Comma separated list of City ID's. Example: 4487042, 4494942,\
          \ 4504871"
        in: path
        name: cities
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Marine stations only (buoys, oil platforms, etc)"
        in: query
        name: marine
        schema:
          enum:
          - t
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a group of observations given a list of cities
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?city={city}&country={country}:
    get:
      description: "Returns a Current Observation - Given a city in the format of\
        \ City,ST or City. The state, and country parameters can be provided to make\
        \ the search more accurate."
      operationId: currentcitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Include 1 hour - minutely forecast in the response
        in: query
        name: include
        schema:
          enum:
          - minutely
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: "Marine stations only (buoys, oil platforms, etc)"
        in: query
        name: marine
        schema:
          enum:
          - t
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns a Current Observation - Given City and/or State, Country."
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?city_id={city_id}:
    get:
      description: 'Returns current weather observation - Given a City ID. '
      operationId: currentcity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: Include 1 hour - minutely forecast in the response
        in: query
        name: include
        schema:
          enum:
          - minutely
          format: string
          type: string
      - description: "Marine stations only (buoys, oil platforms, etc)"
        in: query
        name: marine
        schema:
          enum:
          - t
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a current observation by city id.
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?lat={lat}&lon={lon}:
    get:
      description: "Returns a Current Observation - given a lat, and a lon."
      operationId: currentlatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Include 1 hour - minutely forecast in the response
        in: query
        name: include
        schema:
          enum:
          - minutely
          format: string
          type: string
      - description: "Marine stations only (buoys, oil platforms, etc)"
        in: query
        name: marine
        schema:
          enum:
          - t
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a Current Observation - Given a lat/lon.
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?points={points}:
    get:
      description: "Returns a group of Current Observations - Given a list of points\
        \ (lat1, lon1), (lat2, lon2), (latN, lonN), ..."
      operationId: currentpointspoints_get
      parameters:
      - description: "Comma separated list of points. Example: (35.5, -75.5),(45,\
          \ 65),(45.12, -130.5)"
        in: path
        name: points
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns a group of observations given a list of points in the format\
        \ (lat1, lon1), (lat2, lon2), (latN, lonN), ..."
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?postal_code={postal_code}:
    get:
      description: 'Returns current weather observation - Given a Postal Code. '
      operationId: currentpostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Include 1 hour - minutely forecast in the response
        in: query
        name: include
        schema:
          enum:
          - minutely
          format: string
          type: string
      - description: "Marine stations only (buoys, oil platforms, etc)"
        in: query
        name: marine
        schema:
          enum:
          - t
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback - Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a current observation by postal code.
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?station={station}:
    get:
      description: Returns a Current Observation - Given a station ID.
      operationId: currentstationstation_get
      parameters:
      - description: Station Call ID.
        in: path
        name: station
        required: true
        schema:
          format: string
          type: string
      - description: Include 1 hour - minutely forecast in the response
        in: query
        name: include
        schema:
          enum:
          - minutely
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a Current Observation. - Given a station ID.
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /current?stations={stations}:
    get:
      description: 'Returns a group of Current Observations - Given a list of Station
        Call IDs. '
      operationId: currentstationsstations_get
      parameters:
      - description: "Comma separated list of Station Call ID's. Example: KRDU,KBFI,KVNY"
        in: path
        name: stations
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentObsGroup'
          description: An Observation Group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a group of observations given a list of stations
      tags:
      - Current Weather Data
      x-openapi-router-controller: openapi_server.controllers.current_weather_data_controller
  /forecast/airquality?city={city}&country={country}:
    get:
      description: "Returns 72 hour (hourly) Air Quality forecast, where each point\
        \ represents a one hour period."
      operationId: forecast_airqualitycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns 72 hour (hourly) Air Quality forecast - Given City and/or\
        \ State, Country."
      tags:
      - Air Quality Forecast
      x-openapi-router-controller: openapi_server.controllers.air_quality_forecast_controller
  /forecast/airquality?city_id={city_id}:
    get:
      description: "Returns 72 hour (hourly) Air Quality forecast, where each point\
        \ represents a one hour period."
      operationId: forecast_airqualitycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: integer
          type: integer
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a City ID.
      tags:
      - Air Quality Forecast
      x-openapi-router-controller: openapi_server.controllers.air_quality_forecast_controller
  /forecast/airquality?lat={lat}&lon={lon}:
    get:
      description: "Returns 72 hour (hourly) Air Quality forecast, where each point\
        \ represents a one hour period."
      operationId: forecast_airqualitylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a lat/lon.
      tags:
      - Air Quality Forecast
      x-openapi-router-controller: openapi_server.controllers.air_quality_forecast_controller
  /forecast/airquality?postal_code={postal_code}:
    get:
      description: "Returns 72 hour (hourly) Air Quality forecast, where each point\
        \ represents a one hour period."
      operationId: forecast_airqualitypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: integer
          type: integer
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a Postal Code.
      tags:
      - Air Quality Forecast
      x-openapi-router-controller: openapi_server.controllers.air_quality_forecast_controller
  /forecast/daily?city={city}&country={country}:
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      operationId: forecast_dailycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: Number of days to return. Default 16.
        in: query
        name: days
        schema:
          format: integer
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastDay'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns a daily forecast - Given City and/or State, Country."
      tags:
      - 16 day / daily Forecast
      x-openapi-router-controller: openapi_server.controllers.16_day__daily_forecast_controller
  /forecast/daily?city_id={city_id}:
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      operationId: forecast_dailycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: integer
          type: integer
      - description: Number of days to return. Default 16.
        in: query
        name: days
        schema:
          format: integer
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastDay'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a daily forecast - Given a City ID.
      tags:
      - 16 day / daily Forecast
      x-openapi-router-controller: openapi_server.controllers.16_day__daily_forecast_controller
  /forecast/daily?lat={lat}&lon={lon}:
    get:
      description: "Returns a daily forecast, where each point represents one day\
        \ (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\"\
        . One day begins at 00:00 UTC, and ends at 23:59 UTC. \n"
      operationId: forecast_dailylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Number of days to return. Default 16.
        in: query
        name: days
        schema:
          format: integer
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastDay'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a daily forecast - Given Lat/Lon.
      tags:
      - 16 day / daily Forecast
      x-openapi-router-controller: openapi_server.controllers.16_day__daily_forecast_controller
  /forecast/daily?postal_code={postal_code}:
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      operationId: forecast_dailypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: integer
          type: integer
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Number of days to return. Default 16.
        in: query
        name: days
        schema:
          format: integer
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastDay'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns a daily forecast - Given a Postal Code.
      tags:
      - 16 day / daily Forecast
      x-openapi-router-controller: openapi_server.controllers.16_day__daily_forecast_controller
  /forecast/energy?lat={lat}&lon={lon}:
    get:
      description: "Retrieve an 8 day forecast relevant to te Energy Sector (degree\
        \ days, solar radiation, precipitation, wind)."
      operationId: forecast_energylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: 'Temperature threshold to use to calculate degree days (default
          18 C) '
        in: query
        name: threshold
        schema:
          format: double
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Time period (default: daily)"
        in: query
        name: tp
        schema:
          enum:
          - hourly
          - daily
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyObsGroupForecast'
          description: An Energy Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: 'Returns Energy Forecast API response  - Given a single lat/lon. '
      tags:
      - Forecast Degree Day API
      x-openapi-router-controller: openapi_server.controllers.forecast_degree_day_api_controller
  /forecast/hourly?city={city}&country={country}:
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      operationId: forecast_hourlycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns an hourly forecast - Given City and/or State, Country."
      tags:
      - 240 hour / hourly Forecast
      x-openapi-router-controller: openapi_server.controllers.240_hour__hourly_forecast_controller
  /forecast/hourly?city_id={city_id}:
    get:
      description: " Returns an hourly forecast, where each point represents a one\
        \ hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\"\
        . Time is UTC. \n"
      operationId: forecast_hourlycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: integer
          type: integer
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns an hourly forecast - Given a City ID.
      tags:
      - 240 hour / hourly Forecast
      x-openapi-router-controller: openapi_server.controllers.240_hour__hourly_forecast_controller
  /forecast/hourly?lat={lat}&lon={lon}:
    get:
      description: "Returns an hourly forecast, where each point represents a one\
        \ hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\"\
        . Time is UTC. \n"
      operationId: forecast_hourlylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns an hourly forecast - Given a lat/lon.
      tags:
      - 240 hour / hourly Forecast
      x-openapi-router-controller: openapi_server.controllers.240_hour__hourly_forecast_controller
  /forecast/hourly?postal_code={postal_code}:
    get:
      description: " Returns an hourly forecast, where each point represents a one\
        \ hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\"\
        . Time is UTC. \n"
      operationId: forecast_hourlypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: integer
          type: integer
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Number of hours to return.
        in: query
        name: hours
        schema:
          format: integer
          type: integer
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastHourly'
          description: A forecast object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns an hourly forecast - Given a Postal Code.
      tags:
      - 240 hour / hourly Forecast
      x-openapi-router-controller: openapi_server.controllers.240_hour__hourly_forecast_controller
  /history/airquality?city={city}&country={country}:
    get:
      description: Returns historical air quality conditions.
      operationId: history_airqualitycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Historical air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns 72 hours of historical quality conditions - Given City and/or\
        \ State, Country."
      tags:
      - Historical Air Quality
      x-openapi-router-controller: openapi_server.controllers.historical_air_quality_controller
  /history/airquality?city_id={city_id}:
    get:
      description: Returns historical air quality conditions.
      operationId: history_airqualitycity_idcity_id_get
      parameters:
      - description: City ID.
        in: path
        name: city_id
        required: true
        schema:
          format: double
          type: number
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Historical air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hours of historical air quality conditions - Given a City
        ID.
      tags:
      - Historical Air Quality
      x-openapi-router-controller: openapi_server.controllers.historical_air_quality_controller
  /history/airquality?lat={lat}&lon={lon}:
    get:
      description: Returns historical air quality conditions.
      operationId: history_airqualitylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Historical air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hours of historical air quality conditions - Given a lat/lon.
      tags:
      - Historical Air Quality
      x-openapi-router-controller: openapi_server.controllers.historical_air_quality_controller
  /history/airquality?postal_code={postal_code}:
    get:
      description: Returns historical air quality conditions.
      operationId: history_airqualitypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: integer
          type: integer
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Wraps return in jsonp callback. Example - callback=func
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AQCurrentGroup'
          description: Historical air quality conditions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns 72 hours of historical air quality conditions - Given a Postal
        Code.
      tags:
      - Historical Air Quality
      x-openapi-router-controller: openapi_server.controllers.historical_air_quality_controller
  /history/daily?city={city}&country={country}:
    get:
      description: "Returns Historical Observations - Given a city in the format of\
        \ City,ST or City. The state, and country parameters can be provided to make\
        \ the search more accurate. **(LIMIT 1 year per request)**"
      operationId: history_dailycitycitycountrycountry_get
      parameters:
      - description: "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE\
          \ or city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryDay'
          description: An Historical Day Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns Historical Observations - Given City and/or State, Country."
      tags:
      - Daily Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.daily_historical_weather_data_controller
  /history/daily?city_id={city_id}:
    get:
      description: Returns Historical Observations - Given a City ID. **(LIMIT 1 year
        per request)**
      operationId: history_dailycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryDay'
          description: An Historical Day Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a City ID
      tags:
      - Daily Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.daily_historical_weather_data_controller
  /history/daily?lat={lat}&lon={lon}:
    get:
      description: "Returns Historical Observations - Given a lat, and lon. **(LIMIT\
        \ 1 year per request)**"
      operationId: history_dailylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryDay'
          description: An Historical Day Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a lat/lon.
      tags:
      - Daily Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.daily_historical_weather_data_controller
  /history/daily?postal_code={postal_code}:
    get:
      description: Returns Historical Observations - Given a Postal Code. **(LIMIT
        1 year per request)**
      operationId: history_dailypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryDay'
          description: An Historical Day Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a Postal Code
      tags:
      - Daily Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.daily_historical_weather_data_controller
  /history/daily?station={station}:
    get:
      description: Returns Historical Observations - Given a station ID. **(LIMIT
        1 year per request)**
      operationId: history_dailystationstation_get
      parameters:
      - description: Station ID.
        in: path
        name: station
        required: true
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryDay'
          description: An Historical Day Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a station ID.
      tags:
      - Daily Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.daily_historical_weather_data_controller
  /history/energy?lat={lat}&lon={lon}:
    get:
      description: "Returns aggregate energy specific historical weather fields, over\
        \ a specified time period."
      operationId: history_energylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: "Time period to aggregate by (daily, monthly)"
        in: query
        name: tp
        schema:
          enum:
          - hourly
          - daily
          - monthly
          format: string
          type: string
      - description: 'Temperature threshold to use to calculate degree days (default
          18 C) '
        in: query
        name: threshold
        schema:
          format: double
          type: number
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyObsGroup'
          description: An Energy Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: 'Returns Energy API response  - Given a single lat/lon. '
      tags:
      - Historical Degree Day API
      x-openapi-router-controller: openapi_server.controllers.historical_degree_day_api_controller
  /history/hourly?city={city}&country={country}:
    get:
      description: "Returns Historical Observations - Given a city in the format of\
        \ City,ST or City. The state, and country parameters can be provided to make\
        \ the search more accurate. **(LIMIT 31 days per request)**"
      operationId: history_hourlycitycitycountrycountry_get
      parameters:
      - description: "City search. Example - &city=Raleigh,NC or &city=Berlin,DE or\
          \ city=Paris&country=FR"
        in: path
        name: city
        required: true
        schema:
          format: string
          type: string
      - description: Full name of state.
        in: query
        name: state
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: path
        name: country
        required: true
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Assume utc (default) or local time for start_date, end_date"
        in: query
        name: tz
        schema:
          enum:
          - local
          - utc
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/History'
          description: An Historical Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: "Returns Historical Observations - Given City and/or State, Country."
      tags:
      - Hourly Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.hourly_historical_weather_data_controller
  /history/hourly?city_id={city_id}:
    get:
      description: Returns Historical Observations - Given a City ID. **(LIMIT 31
        days per request)**
      operationId: history_hourlycity_idcity_id_get
      parameters:
      - description: "City ID. Example: 4487042"
        in: path
        name: city_id
        required: true
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Assume utc (default) or local time for start_date, end_date"
        in: query
        name: tz
        schema:
          enum:
          - local
          - utc
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/History'
          description: An Historical Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a City ID
      tags:
      - Hourly Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.hourly_historical_weather_data_controller
  /history/hourly?lat={lat}&lon={lon}:
    get:
      description: "Returns Historical Observations - Given a lat, and lon. **(LIMIT\
        \ 31 days per request)**"
      operationId: history_hourlylatlatlonlon_get
      parameters:
      - description: Latitude component of location.
        in: path
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude component of location.
        in: path
        name: lon
        required: true
        schema:
          format: double
          type: number
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Assume utc (default) or local time for start_date, end_date"
        in: query
        name: tz
        schema:
          enum:
          - local
          - utc
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/History'
          description: An Historical Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a lat/lon.
      tags:
      - Hourly Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.hourly_historical_weather_data_controller
  /history/hourly?postal_code={postal_code}:
    get:
      description: Returns Historical Observations - Given a Postal Code. **(LIMIT
        31 days per request)**
      operationId: history_hourlypostal_codepostal_code_get
      parameters:
      - description: "Postal Code. Example: 28546"
        in: path
        name: postal_code
        required: true
        schema:
          format: string
          type: string
      - description: Country Code (2 letter).
        in: query
        name: country
        schema:
          format: string
          type: string
      - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: start_date
        required: true
        schema:
          format: string
          type: string
      - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
        in: query
        name: end_date
        required: true
        schema:
          format: string
          type: string
      - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units
          field description</a>
        in: query
        name: units
        schema:
          enum:
          - S
          - I
          format: string
          type: string
      - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language\
          \ field description</a>"
        in: query
        name: lang
        schema:
          enum:
          - ar
          - az
          - be
          - bg
          - bs
          - ca
          - cs
          - de
          - fi
          - fr
          - el
          - es
          - et
          - hr
          - hu
          - id
          - it
          - is
          - kw
          - nb
          - nl
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - tr
          - uk
          - zh
          - zh-tw
          format: string
          type: string
      - description: "Assume utc (default) or local time for start_date, end_date"
        in: query
        name: tz
        schema:
          enum:
          - local
          - utc
          format: string
          type: string
      - description: "Wraps return in jsonp callback. Example: callback=func"
        in: query
        name: callback
        schema:
          format: string
          type: string
      - description: Your registered API key.
        in: query
        name: key
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/History'
          description: An Historical Data Object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Data.
      summary: Returns Historical Observations - Given a Postal Code
      tags:
      - Hourly Historical Weather Data
      x-openapi-router-controller: openapi_server.controllers.hourly_historical_weather_data_controller
  /history/hourly?station={station}:
    get:
      description: Returns Historical Observations - Given a station ID. **(LIMIT
[...]
