openapi: 3.0.0
info:
  contact:
    email: hello@billingo.hu
    name: Billingo Support
    url: https://www.billingo.hu/kapcsolat
  description: "This is a Billingo API v3 documentation. Our API based on REST software\
    \ architectural style. API has resource-oriented URLs, accepts JSON-encoded request\
    \ bodies and returns JSON-encoded responses. To use this API you have to generate\
    \ a new API key on our [site](https://app.billingo.hu/api-key). After that, you\
    \ can test your API key on this page."
  termsOfService: https://www.billingo.hu/felhasznalasi-feltetelek
  title: Billingo API v3
  version: 3.0.7
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://www.billingo.hu/images/billingo_logo.svg
  x-origin:
  - format: openapi
    url: https://api.swaggerhub.com/apis/Billingo/Billingo/3.0.7
    version: "3.0"
  x-providerName: billingo.hu
externalDocs:
  description: Find out more information about Billingo API v3 usage.
  url: https://support.billingo.hu/content/446136358
servers:
- description: Billingo API
  url: https://api.billingo.hu/v3
security:
- api_key: []
tags:
- description: Document object represents your invoice.
  name: Document
- description: DocumentBlock object represents your invoice pad.
  name: DocumentBlock
- description: Partner object represents your client.
  name: Partner
- description: Product object represents your document's product.
  name: Product
- description: BankAccount object represents your bank account information.
  name: BankAccount
paths:
  /bank-accounts:
    get:
      description: "Returns a list of your bank accounts. The bank accounts are returned\
        \ sorted by creation date, with the most recent bank account appearing first."
      operationId: list_bank_account
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountList'
          description: Success response
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: List all bank account
      tags:
      - BankAccount
      x-openapi-router-controller: openapi_server.controllers.bank_account_controller
    post:
      description: Create a new bank account. Returns a bank account object if the
        create is succeded.
      operationId: create_bank_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
        description: BankAccount object that you would like to store.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: BankAccount created successfully.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Create a bank account
      tags:
      - BankAccount
      x-openapi-router-controller: openapi_server.controllers.bank_account_controller
      x-codegen-request-body-name: body
  /bank-accounts/{id}:
    delete:
      description: Delete an existing bank account.
      operationId: delete_bank_account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Bank account deleted successfully.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Delete a bank account
      tags:
      - BankAccount
      x-openapi-router-controller: openapi_server.controllers.bank_account_controller
    get:
      description: Retrieves the details of an existing bank account.
      operationId: get_bank_account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Success response
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Retrieve a bank account
      tags:
      - BankAccount
      x-openapi-router-controller: openapi_server.controllers.bank_account_controller
    put:
      description: Update an existing bank accounts. Returns a bank account object
        if the update is succeded.
      operationId: update_bank_account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
        description: Bank account object that you would like to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank account updated successfully.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Update a bank account
      tags:
      - BankAccount
      x-openapi-router-controller: openapi_server.controllers.bank_account_controller
      x-codegen-request-body-name: body
  /currencies:
    get:
      description: Return with the exchange value of given currencies.
      operationId: get_conversion_rate
      parameters:
      - explode: true
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationRate'
          description: Currencies exchange rate returned.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Get currencies exchange rate.
      tags:
      - Currency
      x-openapi-router-controller: openapi_server.controllers.currency_controller
  /document-blocks:
    get:
      description: "Returns a list of your document blocks. The document blocks are\
        \ returned sorted by creation date, with the most recent document blocks appearing\
        \ first."
      operationId: list_document_block
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentBlockList'
          description: Success response
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: List all document blocks
      tags:
      - DocumentBlock
      x-openapi-router-controller: openapi_server.controllers.document_block_controller
  /documents:
    get:
      description: "Returns a list of your documents. The documents are returned sorted\
        \ by creation date, with the most recent documents appearing first."
      operationId: list_document
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter documents by the identifier of your DocumentBlock.
        explode: true
        in: query
        name: block_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter documents by the identifier of your Partner.
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter documents by PaymentMethod value.
        example: cash
        explode: true
        in: query
        name: payment_method
        required: false
        schema:
          $ref: '#/components/schemas/PaymentMethod'
        style: form
      - description: Filter documents by PaymentStatus value.
        example: paid
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          $ref: '#/components/schemas/PaymentStatus'
        style: form
      - description: Filter documents by date.
        example: 2020-05-15
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by date.
        example: 2020-05-15
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Starting number of the document, should not contain year or\
          \ any other formatting. Required if `start_year` given"
        example: "1"
        explode: true
        in: query
        name: start_number
        required: false
        schema:
          type: integer
        style: form
      - description: "Ending number of the document, should not contain year or any\
          \ other formatting. Required if `end_year` given"
        example: "10"
        explode: true
        in: query
        name: end_number
        required: false
        schema:
          type: integer
        style: form
      - description: Year for `start_number` parameter. Required if `start_number`
          given.
        example: "2020"
        explode: true
        in: query
        name: start_year
        required: false
        schema:
          type: integer
        style: form
      - description: Year for `end_number` parameter. Required if `end_number` given.
        example: "2020"
        explode: true
        in: query
        name: end_year
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
          description: Success response
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: List all documents
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
    post:
      description: Create a new document. Returns a document object if the create
        is succeded.
      operationId: create_document
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentInsert'
        description: DocumentInsert object that you would like to store.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Document created successfully.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Create a document
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
      x-codegen-request-body-name: body
  /documents/{id}:
    get:
      description: Retrieves the details of an existing document.
      operationId: get_document
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Success response
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Retrieve a document
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{id}/cancel:
    post:
      description: Cancel a document. Returns a cancellation document object if the
        cancellation is succeded.
      operationId: cancel_document
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Document cancellation successfully. Cancel document returned.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Cancel a document
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{id}/create-from-proforma:
    post:
      description: Create a new document from proforma. Returns a document object
        if the create is succeded.
      operationId: create_document_from_proforma
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Document created successfully.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Create a document from proforma.
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{id}/download:
    get:
      description: Download a document. Returns a document in PDF format.
      operationId: download_document
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Document PDF file.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Document PDF has not generated yet. You should try to download
            again later.
          headers:
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
[...]
