openapi: 3.0.1
info:
  title: TrafficManagerManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2015-11-01/trafficmanager.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: trafficmanager
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      description: Checks the availability of a Traffic Manager Relative DNS name.
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters'
        description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerNameAvailability'
            text/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerNameAvailability'
          description: ""
      tags:
      - Profiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a subscription.
      operationId: Profiles_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: ""
      tags:
      - Profiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a resource group.
      operationId: Profiles_ListAllInResourceGroup
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profiles to be listed.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: ""
      tags:
      - Profiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}
  : delete:
      description: Deletes a Traffic Manager profile.
      operationId: Profiles_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile to be deleted.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile to be deleted.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Profiles
      x-accepts:
      - application/json
    get:
      description: Gets a Traffic Manager profile.
      operationId: Profiles_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
            text/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The Traffic Manager profile.
      tags:
      - Profiles
      x-accepts:
      - application/json
      - text/json
    patch:
      description: Update a Traffic Manager profile.
      operationId: Profiles_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
          text/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: The Traffic Manager profile parameters supplied to the Update
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
            text/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The updated Traffic Manager profile.
      tags:
      - Profiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
    put:
      description: Create or update a Traffic Manager profile.
      operationId: Profiles_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
          text/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: The Traffic Manager profile parameters supplied to the CreateOrUpdate
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
            text/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
            text/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
      tags:
      - Profiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}
  : delete:
      description: Deletes a Traffic Manager endpoint.
      operationId: Endpoints_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be deleted.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Endpoints
      x-accepts:
      - application/json
    get:
      description: Gets a Traffic Manager endpoint.
      operationId: Endpoints_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
            text/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The Traffic Manager endpoint.
      tags:
      - Endpoints
      x-accepts:
      - application/json
      - text/json
    patch:
      description: Update a Traffic Manager endpoint.
      operationId: Endpoints_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
          text/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: The Traffic Manager endpoint parameters supplied to the Update
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
            text/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The updated Traffic Manager endpoint.
      tags:
      - Endpoints
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
    put:
      description: Create or update a Traffic Manager endpoint.
      operationId: Endpoints_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
          text/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
            text/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
            text/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
      tags:
      - Endpoints
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckTrafficManagerRelativeDnsNameAvailabilityParameters:
      description: Parameters supplied to check Traffic Manager name operation.
      example:
        name: name
        type: type
      properties:
        name:
          description: Gets or sets the name of the resource.
          type: string
        type:
          description: Gets or sets the type of the resource.
          type: string
      type: object
    DnsConfig:
      description: Class containing DNS settings in a Traffic Manager profile.
      example:
        relativeName: relativeName
        fqdn: fqdn
        ttl: 0
      properties:
        fqdn:
          description: Gets or sets the fully-qualified domain name (FQDN) of the
            Traffic Manager profile.  This is formed from the concatenation of the
            RelativeName with the DNS domain used by Azure Traffic Manager.
          type: string
        relativeName:
          description: Gets or sets the relative DNS name provided by this Traffic
            Manager profile.  This value is combined with the DNS domain name used
            by Azure Traffic Manager to form the fully-qualified domain name (FQDN)
            of the profile.
          type: string
        ttl:
          description: "Gets or sets the DNS Time-To-Live (TTL), in seconds.  This\
            \ informs the local DNS resolvers and DNS clients how long to cache DNS\
            \ responses provided by this Traffic Manager profile."
          format: int64
          type: integer
      type: object
    Endpoint:
      description: Class representing a Traffic Manager endpoint.
      example:
        name: name
        id: id
        type: type
        properties:
          targetResourceId: targetResourceId
          endpointLocation: endpointLocation
          endpointStatus: endpointStatus
          minChildEndpoints: 6
          weight: 5
          priority: 1
          endpointMonitorStatus: endpointMonitorStatus
          target: target
      properties:
        id:
          description: Gets or sets the ID of the Traffic Manager endpoint.
          type: string
        name:
          description: Gets or sets the name of the Traffic Manager endpoint.
          type: string
        properties:
          $ref: '#/components/schemas/EndpointProperties'
        type:
          description: Gets or sets the endpoint type of the Traffic Manager endpoint.
          type: string
      type: object
    EndpointProperties:
      description: Class representing a Traffic Manager endpoint properties.
      example:
        targetResourceId: targetResourceId
        endpointLocation: endpointLocation
        endpointStatus: endpointStatus
        minChildEndpoints: 6
        weight: 5
        priority: 1
        endpointMonitorStatus: endpointMonitorStatus
        target: target
      properties:
        endpointLocation:
          description: Specifies the location of the external or nested endpoints
            when using the ‘Performance’ traffic routing method.
          type: string
        endpointMonitorStatus:
          description: Gets or sets the monitoring status of the endpoint.
          type: string
        endpointStatus:
          description: "Gets or sets the status of the endpoint..  If the endpoint\
            \ is Enabled, it is probed for endpoint health and is included in the\
            \ traffic routing method.  Possible values are 'Enabled' and 'Disabled'."
          type: string
        minChildEndpoints:
          description: Gets or sets the minimum number of endpoints that must be available
            in the child profile in order for the parent profile to be considered
            available. Only applicable to endpoint of type 'NestedEndpoints'.
          format: int64
          type: integer
        priority:
          description: "Gets or sets the priority of this endpoint when using the\
            \ ‘Priority’ traffic routing method. Possible values are from 1 to 1000,\
            \ lower values represent higher priority. This is an optional parameter.\
            \  If specified, it must be specified on all endpoints, and no two endpoints\
            \ can share the same priority value."
          format: int64
          type: integer
        target:
          description: Gets or sets the fully-qualified DNS name of the endpoint.  Traffic
            Manager returns this value in DNS responses to direct traffic to this
            endpoint.
          type: string
        targetResourceId:
          description: Gets or sets the Azure Resource URI of the of the endpoint.  Not
            applicable to endpoints of type 'ExternalEndpoints'.
          type: string
        weight:
          description: Gets or sets the weight of this endpoint when using the 'Weighted'
            traffic routing method. Possible values are from 1 to 1000.
          format: int64
          type: integer
      type: object
    MonitorConfig:
      description: Class containing endpoint monitoring settings in a Traffic Manager
        profile.
      example:
        profileMonitorStatus: profileMonitorStatus
        path: path
        protocol: protocol
        port: 5
      properties:
        path:
          description: Gets or sets the path relative to the endpoint domain name
            used to probe for endpoint health.
          type: string
        port:
          description: Gets or sets the TCP port used to probe for endpoint health.
          format: int64
          type: integer
        profileMonitorStatus:
          description: Gets or sets the profile-level monitoring status of the Traffic
            Manager profile.
          type: string
        protocol:
          description: Gets or sets the protocol (HTTP or HTTPS) used to probe for
            endpoint health.
          type: string
      type: object
    Profile:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Class representing a Traffic Manager profile.
      example:
        properties:
          endpoints:
          - name: name
            id: id
            type: type
            properties:
              targetResourceId: targetResourceId
              endpointLocation: endpointLocation
              endpointStatus: endpointStatus
              minChildEndpoints: 6
              weight: 5
              priority: 1
              endpointMonitorStatus: endpointMonitorStatus
              target: target
          - name: name
            id: id
            type: type
            properties:
              targetResourceId: targetResourceId
              endpointLocation: endpointLocation
              endpointStatus: endpointStatus
              minChildEndpoints: 6
              weight: 5
              priority: 1
              endpointMonitorStatus: endpointMonitorStatus
              target: target
          dnsConfig:
            relativeName: relativeName
            fqdn: fqdn
            ttl: 0
          monitorConfig:
            profileMonitorStatus: profileMonitorStatus
            path: path
            protocol: protocol
            port: 5
          profileStatus: profileStatus
          trafficRoutingMethod: trafficRoutingMethod
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
    ProfileListResult:
      description: The list Traffic Manager profiles operation response.
      example:
        value:
        - properties:
            endpoints:
            - name: name
              id: id
              type: type
              properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: endpointStatus
                minChildEndpoints: 6
                weight: 5
                priority: 1
                endpointMonitorStatus: endpointMonitorStatus
                target: target
            - name: name
              id: id
              type: type
              properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: endpointStatus
                minChildEndpoints: 6
                weight: 5
                priority: 1
                endpointMonitorStatus: endpointMonitorStatus
                target: target
            dnsConfig:
              relativeName: relativeName
              fqdn: fqdn
              ttl: 0
            monitorConfig:
              profileMonitorStatus: profileMonitorStatus
              path: path
              protocol: protocol
              port: 5
            profileStatus: profileStatus
            trafficRoutingMethod: trafficRoutingMethod
        - properties:
            endpoints:
            - name: name
              id: id
              type: type
              properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: endpointStatus
                minChildEndpoints: 6
                weight: 5
                priority: 1
                endpointMonitorStatus: endpointMonitorStatus
                target: target
            - name: name
              id: id
              type: type
              properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: endpointStatus
                minChildEndpoints: 6
                weight: 5
                priority: 1
                endpointMonitorStatus: endpointMonitorStatus
                target: target
            dnsConfig:
              relativeName: relativeName
              fqdn: fqdn
              ttl: 0
            monitorConfig:
              profileMonitorStatus: profileMonitorStatus
              path: path
              protocol: protocol
              port: 5
            profileStatus: profileStatus
            trafficRoutingMethod: trafficRoutingMethod
      properties:
        value:
          description: Gets the list of Traffic manager profiles.
          items:
            $ref: '#/components/schemas/Profile'
          type: array
      type: object
    ProfileProperties:
      description: Class representing the Traffic Manager profile properties.
      example:
        endpoints:
        - name: name
          id: id
          type: type
          properties:
            targetResourceId: targetResourceId
            endpointLocation: endpointLocation
            endpointStatus: endpointStatus
            minChildEndpoints: 6
            weight: 5
            priority: 1
            endpointMonitorStatus: endpointMonitorStatus
            target: target
        - name: name
          id: id
          type: type
          properties:
            targetResourceId: targetResourceId
            endpointLocation: endpointLocation
            endpointStatus: endpointStatus
            minChildEndpoints: 6
            weight: 5
            priority: 1
            endpointMonitorStatus: endpointMonitorStatus
            target: target
        dnsConfig:
          relativeName: relativeName
          fqdn: fqdn
          ttl: 0
        monitorConfig:
          profileMonitorStatus: profileMonitorStatus
          path: path
          protocol: protocol
          port: 5
        profileStatus: profileStatus
        trafficRoutingMethod: trafficRoutingMethod
      properties:
        dnsConfig:
          $ref: '#/components/schemas/DnsConfig'
        endpoints:
          description: Gets or sets the list of endpoints in the Traffic Manager profile.
          items:
            $ref: '#/components/schemas/Endpoint'
          type: array
        monitorConfig:
          $ref: '#/components/schemas/MonitorConfig'
        profileStatus:
          description: Gets or sets the status of the Traffic Manager profile.  Possible
            values are 'Enabled' and 'Disabled'.
          type: string
        trafficRoutingMethod:
          description: "Gets or sets the traffic routing method of the Traffic Manager\
            \ profile.  Possible values are 'Performance', 'Weighted', or 'Priority'."
          type: string
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          description: Resource Id
          type: string
      type: object
      x-ms-external: true
    TrafficManagerNameAvailability:
      description: Class representing a Traffic Manager Name Availability response.
      example:
        reason: reason
        nameAvailable: true
        name: name
        message: message
        type: type
      properties:
        message:
          description: "Descriptive message that explains why the name is not available,\
            \ when applicable."
          type: string
        name:
          description: The relative name.
          type: string
        nameAvailable:
          description: Describes whether the relative name is available or not.
          type: boolean
        reason:
          description: "The reason why the name is not available, when applicable."
          type: string
        type:
          description: Traffic Manager profile resource type.
          type: string
      type: object
x-original-swagger-version: "2.0"

