openapi: 3.0.0
info:
  description: Figshare apiv2. Using Swagger 2.0
  title: Figshare API
  version: 2.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://user-images.githubusercontent.com/21603/27885832-5da28e32-61d1-11e7-8811-ed7238df2c20.png
  x-origin:
  - format: openapi
    url: http://docs.figshare.com/swagger.json
    version: "3.0"
  x-providerName: figshare.com
servers:
- url: https://api.figshare.com/v2
paths:
  /account:
    get:
      description: Account information for token/personal token
      operationId: private_account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK. Account representation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Account information
      tags:
      - other
      x-openapi-router-controller: openapi_server.controllers.other_controller
  /account/articles:
    get:
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
      - description: Page number. Used for pagination with page_size
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - description: The number of results included on a page. Used for pagination
          with page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Number of results included on a page. Used for pagination with
          query
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Where to start the listing(the offset of the first result). Used
          for pagination with limit
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
          description: OK. An array of articles belonging to the account
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Articles
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Create a new Article by sending article information
      operationId: private_article_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCreate'
        description: Article description
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarnings'
          description: Created
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create new Article
      tags:
      - articles
      x-subcategory: Private Article
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/export:
    get:
      description: Return status on all reports generated for the account from the
        oauth credentials
      operationId: account_article_report
      parameters:
      - description: A group ID to filter by
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountReport'
                type: array
          description: OK. An array of account report entries
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Account Article Report
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Initiate a new Article Report for this Account. There is a limit
        of 1 report per day.
      operationId: account_article_report_generate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReport'
          description: OK. AccountReport created.
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Initiate a new Report
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/search:
    post:
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateArticleSearch'
        description: Search Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArticleWithProject'
                type: array
          description: OK. An array of articles
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Articles search
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}:
    delete:
      description: Delete an article
      operationId: private_article_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article
      tags:
      - articles
      x-subcategory: Private Article
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    get:
      description: View a private article
      operationId: private_article_details
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCompletePrivate'
          description: OK. Article representation
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article details
      tags:
      - articles
      x-subcategory: Private Article
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    put:
      description: Updating an article by passing body parameters; request can also
        be made with the PATCH method.
      operationId: private_article_update
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ArticleUpdate'
        x-body-name: body
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article
      tags:
      - articles
      x-subcategory: Private Article
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/authors:
    get:
      description: List article authors
      operationId: private_article_authors_list
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
          description: OK. Authors list for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Associate new authors with the article. This will add new authors
        to the list of already associated authors
      operationId: private_article_authors_add
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
    put:
      description: Associate new authors with the article. This will remove all already
        associated authors and add these new ones
      operationId: private_article_authors_replace
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request. Article ID must be an integer and bigger than
            0. Author with ID Not Found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/authors/{author_id}:
    delete:
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Article Author unique identifier
        explode: false
        in: path
        name: author_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article author
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/categories:
    get:
      description: List article categories
      operationId: private_article_categories_list
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: OK. Article categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Associate new categories with the article. This will add new categories
        to the list of already associated categories
      operationId: private_article_categories_add
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
    put:
      description: Associate new categories with the article. This will remove all
        already associated categories and add these new ones
      operationId: private_article_categories_replace
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/categories/{category_id}:
    delete:
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Category unique identifier
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article category
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/confidentiality:
    delete:
      description: "Delete confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article confidentiality
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    get:
      description: "View confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_details
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
          description: OK. Article categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article confidentiality details
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    put:
      description: "Update confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_update
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialityCreator'
        required: true
        x-body-name: body
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article confidentiality
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/embargo:
    delete:
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete Article Embargo
      tags:
      - articles
      x-subcategory: Private Article Embargo
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    get:
      description: View a private article embargo details
      operationId: private_article_embargo_details
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
          description: OK. Embargo for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article Embargo Details
      tags:
      - articles
      x-subcategory: Private Article Embargo
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    put:
      description: "Note: setting an article under whole embargo does not imply that\
        \ the article will be published when the embargo will expire. You must explicitly\
        \ call the publish endpoint to enable this functionality."
      operationId: private_article_embargo_update
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleEmbargoUpdater'
        description: Embargo description
        required: true
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update Article Embargo
      tags:
      - articles
      x-subcategory: Private Article Embargo
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/files:
    get:
      description: List private files
      operationId: private_article_files_list
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateFile'
                type: array
          description: OK. Article files list
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article files
      tags:
      - articles
      x-subcategory: Private Article Files
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: "Initiate a new file upload within the article. Either use the\
        \ link property to point to an existing file that resides elsewhere and will\
        \ not be uploaded to Figshare or use the other 3 parameters (md5, name, size)."
      operationId: private_article_upload_initiate
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCreator'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Created
          headers:
            Location:
              description: Location of new file
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity. Parameters missing or incorrect
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Initiate Upload
      tags:
      - articles
      x-subcategory: Private Article Files
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/files/{file_id}:
    delete:
      description: Complete file upload
      operationId: private_article_file_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: File unique identifier
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: File Delete
      tags:
      - articles
      x-subcategory: Private Article Files
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    get:
      description: View details of file for specified article
      operationId: private_article_file
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: File unique identifier
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFile'
          description: OK. Article private file
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Single File
      tags:
      - articles
      x-subcategory: Private Article Files
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Complete file upload
      operationId: private_article_upload_complete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: File unique identifier
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Complete Upload
      tags:
      - articles
      x-subcategory: Private Article Files
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/private_links:
    get:
      description: List private links
      operationId: private_article_private_link
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateLink'
                type: array
          description: OK. Article private links
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List private links
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    post:
      description: Create new private link for this article
      operationId: private_article_private_link_create
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PrivateLinkCreator'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResponse'
          description: Created
          headers:
            Location:
              description: Location of private link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/private_links/{link_id}:
    delete:
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Private link token
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Disable private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-openapi-router-controller: openapi_server.controllers.articles_controller
    put:
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Private link token
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PrivateLinkCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/publish:
    post:
      description: |-
        - If the whole article is under embargo, it will not be published immediately, but when the embargo expires or is lifted.
        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: private_article_publish
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Created
          headers:
            Location:
              description: Location of newly published article
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Publish
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/reserve_doi:
    post:
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDOI'
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Reserve DOI
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/reserve_handle:
    post:
      description: Reserve Handle for article
      operationId: private_article_reserve_handle
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleHandle'
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Reserve Handle
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /account/articles/{article_id}/resource:
    post:
      description: Edit article resource data.
      operationId: private_article_resource
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Resource'
        x-body-name: body
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location for account article details
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
      - OAuth2:
        - all
      summary: Private Article Resource
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/versions/{version_id}/:
    put:
      description: Updating an article version by passing body parameters; request
        can also be made with the PATCH method.
      operationId: article_version_update
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Article version identifier
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ArticleUpdate'
        x-body-name: body
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article version
      tags:
      - articles
      x-subcategory: Article version private updates
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/articles/{article_id}/versions/{version_id}/update_thumb:
    put:
      description: For a given public article version update the article thumbnail
        by choosing one of the associated files
      operationId: article_version_update_thumb
      parameters:
      - description: Article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Article version identifier
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileId'
        description: File ID
        required: true
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location for article version details
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
      - OAuth2:
        - all
      summary: Update article version thumbnail
      tags:
      - articles
      x-subcategory: Article version private updates
      x-openapi-router-controller: openapi_server.controllers.articles_controller
      x-codegen-request-body-name: body
  /account/authors/search:
    post:
      description: Search for authors
      operationId: private_authors_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAuthorsSearch'
        description: Search Parameters
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
          description: OK. An array of authors
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Search Authors
      tags:
      - authors
      x-openapi-router-controller: openapi_server.controllers.authors_controller
      x-codegen-request-body-name: body
  /account/authors/{author_id}:
    get:
      description: View author details
      operationId: private_author_details
      parameters:
      - description: Author unique identifier
        explode: false
        in: path
        name: author_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorComplete'
          description: OK. Article representation
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Author details
      tags:
      - authors
      x-openapi-router-controller: openapi_server.controllers.authors_controller
  /account/categories:
    get:
      description: List institution categories (including parent Categories)
      operationId: private_categories_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: OK. An array of categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Account Categories
      tags:
      - institutions
      x-openapi-router-controller: openapi_server.controllers.institutions_controller
  /account/collections:
    get:
      description: List private collections
      operationId: private_collections_list
      parameters:
      - description: Page number. Used for pagination with page_size
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - description: The number of results included on a page. Used for pagination
          with page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Number of results included on a page. Used for pagination with
          query
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Where to start the listing(the offset of the first result). Used
          for pagination with limit
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      - description: The field by which to order. Default varies by endpoint/resource.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: published_date
          enum:
          - published_date
          - modified_date
          - views
          - shares
          - cites
          type: string
        style: form
      - explode: true
        in: query
        name: order_direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collections List
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      description: Create a new Collection by sending collection information
      operationId: private_collection_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreate'
        description: Collection description
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarnings'
          description: Created
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/search:
    post:
      description: Returns a list of private Collections
      operationId: private_collections_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCollectionSearch'
        description: Search Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collections Search
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}:
    delete:
      description: Delete n collection
      operationId: private_collection_delete
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    get:
      description: View a collection
      operationId: private_collection_details
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionCompletePrivate'
          description: OK. Collection representation
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Collection details
      tags:
      - collections
      x-subcategory: Private Collection
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    put:
      description: Update collection details; request can also be made with the PATCH
        method.
      operationId: private_collection_update
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdate'
        description: Collection description
        required: true
        x-body-name: body
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/articles:
    get:
      description: List collection articles
      operationId: private_collection_articles_list
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Page number. Used for pagination with page_size
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - description: The number of results included on a page. Used for pagination
          with page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Number of results included on a page. Used for pagination with
          query
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Where to start the listing(the offset of the first result). Used
          for pagination with limit
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
          description: OK. Articles List
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List collection articles
      tags:
      - collections
      x-subcategory: Private Collection Articles
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      description: Associate new articles with the collection. This will add new articles
        to the list of already associated articles
      operationId: private_collection_articles_add
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlesCreator'
        description: Articles list
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location of new articles
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add collection articles
      tags:
      - collections
      x-subcategory: Private Collection Articles
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
    put:
      description: Associate new articles with the collection. This will remove all
        already associated articles and add these new ones
      operationId: private_collection_articles_replace
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlesCreator'
        description: Articles List
        required: true
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of articles
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace collection articles
      tags:
      - collections
      x-subcategory: Private Collection Articles
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/articles/{article_id}:
    delete:
      description: De-associate article from collection
      operationId: private_collection_article_delete
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Collection article unique identifier
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete collection article
      tags:
      - collections
      x-subcategory: Private Collection Articles
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/authors:
    get:
      description: List collection authors
      operationId: private_collection_authors_list
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
          description: OK. Embargo for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List collection authors
      tags:
      - collections
      x-subcategory: Private Collection Authors
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      description: Associate new authors with the collection. This will add new authors
        to the list of already associated authors
      operationId: private_collection_authors_add
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator2'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add collection authors
      tags:
      - collections
      x-subcategory: Private Collection Authors
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
    put:
      description: Associate new authors with the collection. This will remove all
        already associated authors and add these new ones
      operationId: private_collection_authors_replace
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator2'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace collection authors
      tags:
      - collections
      x-subcategory: Private Collection Authors
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/authors/{author_id}:
    delete:
      description: Delete collection author
      operationId: private_collection_author_delete
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Collection Author unique identifier
        explode: false
        in: path
        name: author_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete collection author
      tags:
      - collections
      x-subcategory: Private Collection Authors
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/categories:
    get:
      description: List collection categories
      operationId: private_collection_categories_list
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: OK. Categories list
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List collection categories
      tags:
      - collections
      x-subcategory: Private Collection Categories
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      description: Associate new categories with the collection. This will add new
        categories to the list of already associated categories
      operationId: private_collection_categories_add
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator2'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add collection categories
      tags:
      - collections
      x-subcategory: Private Collection Categories
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
    put:
      description: Associate new categories with the collection. This will remove
        all already associated categories and add these new ones
      operationId: private_collection_categories_replace
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator2'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace collection categories
      tags:
      - collections
      x-subcategory: Private Collection Categories
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/categories/{category_id}:
    delete:
      description: De-associate category from collection
      operationId: private_collection_category_delete
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Collection category unique identifier
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete collection category
      tags:
      - collections
      x-subcategory: Private Collection Categories
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/private_links:
    get:
      description: List article private links
      operationId: private_collection_private_links_list
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateLink'
                type: array
          description: OK. Collection private links
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List collection private links
      tags:
      - collections
      x-subcategory: Private Collection Private Links
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      description: Create new private link
      operationId: private_collection_private_link_create
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CollectionPrivateLinkCreator'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResponse'
          description: Created
          headers:
            Location:
              description: Location of private link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create collection private link
      tags:
      - collections
      x-subcategory: Private Collection Private Links
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/private_links/{link_id}:
    delete:
      description: Disable/delete private link for this collection
      operationId: private_collection_private_link_delete
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Private link token
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Disable private link
      tags:
      - collections
      x-subcategory: Private Collection Private Links
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    put:
      description: Update existing private link for this collection
      operationId: private_collection_private_link_update
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Private link token
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CollectionPrivateLinkCreator'
        x-body-name: body
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of new private link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update collection private link
      tags:
      - collections
      x-subcategory: Private Collection Private Links
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/collections/{collection_id}/publish:
    post:
      description: "When a collection is published, a new public version will be generated.\
        \ Any further updates to the collection will affect the private collection\
        \ data. In order to make these changes publicly visible, an explicit publish\
        \ operation is needed."
      operationId: private_collection_publish
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Created
          headers:
            Location:
              description: Location of collection
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collection Publish
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/reserve_doi:
    post:
      description: Reserve DOI for collection
      operationId: private_collection_reserve_doi
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDOI'
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collection Reserve DOI
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/reserve_handle:
    post:
      description: Reserve Handle for collection
      operationId: private_collection_reserve_handle
      parameters:
      - description: Collection Unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionHandle'
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collection Reserve Handle
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /account/collections/{collection_id}/resource:
    post:
      description: Edit collection resource data.
      operationId: private_collection_resource
      parameters:
      - description: Collection unique identifier
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Resource'
        x-body-name: body
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location for account collection details
              explode: false
              schema:
                format: link
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
      - OAuth2:
        - all
      summary: Private Collection Resource
      tags:
      - collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /account/funding/search:
    post:
      description: Search for fundings
      operationId: private_funding_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingSearch'
        description: Search Parameters
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FundingInformation'
                type: array
          description: OK. An array of funding information
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Search Funding
      tags:
      - other
      x-openapi-router-controller: openapi_server.controllers.other_controller
      x-codegen-request-body-name: body
  /account/institution:
    get:
      description: Account institution details
      operationId: private_institution_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: OK. An array of institutions
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Account Institutions
      tags:
      - institutions
      x-openapi-router-controller: openapi_server.controllers.institutions_controller
  /account/institution/accounts:
    get:
      description: Returns the accounts for which the account has administrative privileges
        (assigned and inherited).
      operationId: private_institution_accounts_list
      parameters:
      - description: Page number. Used for pagination with page_size
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - description: The number of results included on a page. Used for pagination
          with page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Number of results included on a page. Used for pagination with
          query
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Where to start the listing(the offset of the first result). Used
          for pagination with limit
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      - description: Filter by active status
        explode: true
        in: query
        name: is_active
        required: false
        schema:
          format: int64
          maximum: 1
          minimum: 0
          type: integer
        style: form
      - description: Filter by institution_user_id
        explode: true
        in: query
        name: institution_user_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by email
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve accounts with an ID lower or equal to the specified
          value
        explode: true
        in: query
        name: id_lte
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Retrieve accounts with an ID greater or equal to the specified
          value
        explode: true
        in: query
        name: id_gte
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShortAccount'
                type: array
          description: OK. An array of Accounts
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Account Institution Accounts
      tags:
      - institutions
      x-openapi-router-controller: openapi_server.controllers.institutions_controller
    post:
      description: Create a new Account by sending account information
      operationId: private_institution_accounts_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
        description: Account description
        required: true
        x-body-name: body
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "403":
[...]
