openapi: 3.0.3
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: Ecosystem API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Ecosystem API
  version: 0.0.6
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/ecosystem.yml
    version: "3.0"
  x-providerName: apideck.com
  x-serviceName: ecosystem
  x-tags:
  - partner
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
servers:
- description: Production
  url: https://api.apideck.com
tags:
- description: ""
  name: Ecosystem
- description: ""
  name: Listing
- description: ""
  name: Collection
- description: ""
  name: Category
- description: ""
  name: Product
paths:
  /ecosystems/{ecosystem_id}:
    get:
      description: Get ecosystem
      operationId: ecosystemsOne
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEcosystemResponse'
          description: Ecosystems
      summary: Get ecosystem
      tags:
      - Ecosystem
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/categories:
    get:
      description: List categories
      operationId: categoriesAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCategoriesResponse'
          description: Categories
      summary: List categories
      tags:
      - Category
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/categories/{id}:
    get:
      description: Get category
      operationId: categoriesOne
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCategoryResponse'
          description: Category
      summary: Get category
      tags:
      - Category
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/categories/{id}/listings:
    get:
      description: List category listings
      operationId: categoryListingsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingsResponse'
          description: Listings
      summary: List category listings
      tags:
      - Category
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/collections:
    get:
      description: List collections
      operationId: collectionsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionsResponse'
          description: Collections
      summary: List collections
      tags:
      - Collection
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/collections/{id}:
    get:
      description: Get collection
      operationId: collectionsOne
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionResponse'
          description: Collection
      summary: Get collection
      tags:
      - Collection
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/collections/{id}/listings:
    get:
      description: List collection listings
      operationId: collectionListingsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingsResponse'
          description: Listings
      summary: List collection listings
      tags:
      - Collection
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/listings:
    get:
      description: List listings
      operationId: listingsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Filter on external_id
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingsResponse'
          description: Listings
      summary: List listings
      tags:
      - Listing
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/listings/{id}:
    get:
      description: Get listing
      operationId: listingsOne
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingResponse'
          description: Listing
      summary: Get listing
      tags:
      - Listing
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/products:
    get:
      description: List products
      operationId: productsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
          description: Products
      summary: List products
      tags:
      - Product
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/products/{id}:
    get:
      description: Get product
      operationId: productsOne
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductResponse'
          description: Product
      summary: Get product
      tags:
      - Product
      x-accepts:
      - application/json
  /ecosystems/{ecosystem_id}/products/{id}/listings:
    get:
      description: List product listings
      operationId: productListingsAll
      parameters:
      - explode: false
        in: path
        name: ecosystem_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the record you are acting upon.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor to start from. You can find cursors for next/previous
          pages in the meta.cursors property of the response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingsResponse'
          description: Listings
      summary: List product listings
      tags:
      - Product
      x-accepts:
      - application/json
components:
  parameters:
    cursor:
      description: Cursor to start from. You can find cursors for next/previous pages
        in the meta.cursors property of the response.
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        nullable: true
        type: string
      style: form
    ecosystem_id:
      explode: false
      in: path
      name: ecosystem_id
      required: true
      schema:
        type: string
      style: simple
    external_id:
      description: Filter on external_id
      explode: true
      in: query
      name: external_id
      required: false
      schema:
        type: string
      style: form
    id:
      description: ID of the record you are acting upon.
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    limit:
      description: Number of records to return
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 50
        maximum: 200
        minimum: 1
        type: integer
      style: form
  responses:
    GetCategoriesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCategoriesResponse'
      description: Categories
    GetCategoryResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCategoryResponse'
      description: Category
    GetCollectionResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCollectionResponse'
      description: Collection
    GetCollectionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCollectionsResponse'
      description: Collections
    GetEcosystemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetEcosystemResponse'
      description: Ecosystems
    GetListingResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetListingResponse'
      description: Listing
    GetListingsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetListingsResponse'
      description: Listings
    GetProductResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetProductResponse'
      description: Product
    GetProductsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetProductsResponse'
      description: Products
  schemas:
    CTASettings:
      additionalProperties: false
      example:
        button_background_color: button_background_color
        button_color: button_color
        background_color: background_color
        color: color
        description: description
        button_link: button_link
        button_label: button_label
        title: title
        enabled: true
      properties:
        background_color:
          type: string
        button_background_color:
          type: string
        button_color:
          type: string
        button_label:
          type: string
        button_link:
          type: string
        color:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        title:
          type: string
      type: object
    CardSettings:
      additionalProperties: false
      example:
        color: color
        show_description: true
        columns: 0
        icon_border_radius: icon_border_radius
        show_badges: true
        shadow_enabled: true
        border_color: border_color
        show_action: true
        background_color: background_color
        border_size: border_size
        description_lines: 6
        icon_size: 1
        style: style
        show_category: true
        border_radius: border_radius
        icon_shadow_enabled: true
      properties:
        background_color:
          type: string
        border_color:
          type: string
        border_radius:
          type: string
        border_size:
          type: string
        color:
          type: string
        columns:
          type: integer
        description_lines:
          type: integer
        icon_border_radius:
          type: string
        icon_shadow_enabled:
          type: boolean
        icon_size:
          type: integer
        shadow_enabled:
          type: boolean
        show_action:
          type: boolean
        show_badges:
          type: boolean
        show_category:
          type: boolean
        show_description:
          type: boolean
        style:
          type: string
      type: object
    Category:
      additionalProperties: false
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        listing_pricing_text_template: listing_pricing_text_template
        translations:
        - locale: locale
          value: value
          key: key
        - locale: locale
          value: value
          key: key
        count: 1
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        description: description
        logo:
          content_type: content_type
          id: id
          type: LOGO
          url: url
        listing_features_text_template: listing_features_text_template
        id: id
        listing_description_text_template: listing_description_text_template
        slug: slug
      properties:
        count:
          example: 1
          type: integer
        created_at:
          format: date-time
          readOnly: true
          type: string
        description:
          type: string
        id:
          type: string
        listing_description_text_template:
          type: string
        listing_features_text_template:
          type: string
        listing_pricing_text_template:
          type: string
        logo:
          $ref: '#/components/schemas/Logo'
        name:
          type: string
        slug:
          type: string
        translations:
          items:
            $ref: '#/components/schemas/Translation'
          nullable: true
          required:
          - key
          - locale
          - value
          type: array
        updated_at:
          format: date-time
          readOnly: true
          type: string
      required:
      - name
      - slug
      type: object
    Collection:
      additionalProperties: false
      example:
        card_background_image:
          content_type: application/jpeg
          updated_at: 2000-01-23T04:56:07.000+00:00
          created_at: 2000-01-23T04:56:07.000+00:00
          id: "12345"
          type: LOGO
          url: url
        show_max_items_homepage: 1
        visible: true
        card_background_color: card_background_color
        count: 1
        description: description
        sequence: 6
        card_style: card_style
        translations:
        - locale: locale
          value: value
          key: key
        - locale: locale
          value: value
          key: key
        name: name
        logo:
          content_type: application/jpeg
          updated_at: 2000-01-23T04:56:07.000+00:00
          created_at: 2000-01-23T04:56:07.000+00:00
          id: "12345"
          type: LOGO
          url: url
        card_columns: 0
        id: id
        hidden_from_homepage: true
        slug: slug
      properties:
        card_background_color:
          type: string
        card_background_image:
          $ref: '#/components/schemas/File'
        card_columns:
          type: integer
        card_style:
          type: string
        count:
          example: 1
          type: integer
        description:
          type: string
        hidden_from_homepage:
          type: boolean
        id:
          type: string
        logo:
          $ref: '#/components/schemas/File'
        name:
          type: string
        sequence:
          type: integer
        show_max_items_homepage:
          type: integer
        slug:
          type: string
        translations:
          items:
            $ref: '#/components/schemas/Translation'
          nullable: true
          required:
          - key
          - locale
          - value
          type: array
        visible:
          type: boolean
      required:
      - name
      - slug
      - visible
      type: object
    Contact:
      example:
        twitter: twitter
        role: role
        linked_in: linked_in
        name: name
        last_name: last_name
        id: "12345"
        first_name: first_name
        email: email
      properties:
        email:
          type: string
        first_name:
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        last_name:
          type: string
        linked_in:
          type: string
        name:
          type: string
        role:
          type: string
        twitter:
          type: string
      required:
      - name
      type: object
    CustomSettings:
      additionalProperties: false
      example:
        css: css
        html_nav: html_nav
        java_script_link: java_script_link
        domain: domain
        css_link: css_link
        html_footer: html_footer
      properties:
        css:
          type: string
        css_link:
          type: string
        domain:
          type: string
        html_footer:
          type: string
        html_nav:
          type: string
        java_script_link:
          type: string
      type: object
    Ecosystem:
      additionalProperties: false
      example:
        body_button_color: body_button_color
        request_link: request_link
        lead_form_settings:
          telephone_field_enabled: true
          integration_enabled: true
          first_name_field_enabled: true
          telephone_field_required: true
          work_email_validation: true
          capture_form_enabled: true
          last_name_field_enabled: true
          last_name_field_required: true
          first_name_field_required: true
        alternatives_color: alternatives_color
        is_published: true
        about: about
        terms_link: terms_link
        shadow_page_description: shadow_page_description
        home_page_collection_category_cards: true
        card_settings:
          color: color
          show_description: true
          columns: 0
          icon_border_radius: icon_border_radius
          show_badges: true
          shadow_enabled: true
          border_color: border_color
          show_action: true
          background_color: background_color
          border_size: border_size
          description_lines: 6
          icon_size: 1
          style: style
          show_category: true
          border_radius: border_radius
          icon_shadow_enabled: true
        id: "12345"
        show_attribution_badge: true
        custom_domain: custom_domain
        slug: slug
        body_background_color: body_background_color
        menu_position: TOP
        installation_request_flow_enabled: true
        utm_campaign: utm_campaign
        navigation_sticky: true
        primary_color: primary_color
        privacy_link: privacy_link
        integration_settings:
          microsoft_flow_id: microsoft_flow_id
          albacross_id: albacross_id
          tray_io_enabled: true
          iubenda_site_id: iubenda_site_id
          intercom_app_id: intercom_app_id
          drift_id: drift_id
          google_analytics_id: google_analytics_id
          iubenda_cookie_policy_id: iubenda_cookie_policy_id
          blendr_enabled: true
          zapier_id: zapier_id
          google_tag_manager_id: google_tag_manager_id
          hubspot_portal_id: hubspot_portal_id
          piesync_enabled: true
          segment_id: segment_id
          zapier_beta_link: zapier_beta_link
          zapier_enabled: true
          heap_id: heap_id
          segment_enabled: true
          microsoft_flow_enabled: true
          journy_io_domain: journy_io_domain
          journy_io_id: journy_io_id
          onetrust_id: onetrust_id
          metomic_id: metomic_id
          crisp_id: crisp_id
          combidesk_enabled: true
          integromat_enabled: true
          automate_enabled: true
          livechat_id: livechat_id
        footer_background_color: footer_background_color
        unify_application_id: unify_application_id
        meta_tag_settings:
          description_category_page: description_category_page
          keywords: keywords
          description_collection_page: description_collection_page
          title_postfix: title_postfix
          description: description
          title: title
          description_listing_page: description_listing_page
        categories_show_max_items: 5
        menu_style: LIST
        name: name
        navigation_background_color: navigation_background_color
        collections_count_badge: true
        hide_install_buttons: true
        zaps_page_enabled: true
        navigation_mobile_menu_type: ICON
        created_at: 2000-01-23T04:56:07.000+00:00
        create_link: create_link
        alternatives_background_color: alternatives_background_color
        navigation_logo_post_fix: navigation_logo_post_fix
        detail_pages_enabled: true
        show_requested_listings: true
        body_color: body_color
        footer_color: footer_color
        updated_at: 2000-01-23T04:56:07.000+00:00
        body_button_background_color: body_button_background_color
        total_published_listings: 2
        custom_settings:
          css: css
          html_nav: html_nav
          java_script_link: java_script_link
          domain: domain
          css_link: css_link
          html_footer: html_footer
        listing_settings:
          install_button_label: install_button_label
          name_postfix: name_postfix
          sidebar_position: TOP
          pricing_disabled: true
          description_text_template: description_text_template
          naming: LISTING
          features_title: features_title
          pricing_title: pricing_title
          pricing_text_template: pricing_text_template
          native_integration_link: native_integration_link
          features_text_template: features_text_template
          description_title: description_title
        body_link_color: body_link_color
        website: website
        zaps_menu_title: zaps_menu_title
        navigation_color: navigation_color
        collections_title: collections_title
        google_site_verification_id: google_site_verification_id
        categories_count_badge: true
        shadow_pages_enabled: true
        masthead_settings:
          background_color: background_color
          color: color
          background: background
          columns: 5
          description: description
          title: title
        attribution: true
        home_page_show_all_listings: true
        cta_settings:
          button_background_color: button_background_color
          button_color: button_color
          background_color: background_color
          color: color
          description: description
          button_link: button_link
          button_label: button_label
          title: title
          enabled: true
      properties:
        about:
          type: string
        alternatives_background_color:
          type: string
        alternatives_color:
          type: string
        attribution:
          type: boolean
        body_background_color:
          type: string
        body_button_background_color:
          type: string
        body_button_color:
          type: string
        body_color:
          type: string
        body_link_color:
          type: string
        card_settings:
          $ref: '#/components/schemas/CardSettings'
        categories_count_badge:
          type: boolean
        categories_show_max_items:
          type: integer
        collections_count_badge:
          type: boolean
        collections_title:
          type: string
        create_link:
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        cta_settings:
          $ref: '#/components/schemas/CTASettings'
        custom_domain:
          type: string
        custom_settings:
          $ref: '#/components/schemas/CustomSettings'
        detail_pages_enabled:
          type: boolean
        footer_background_color:
          type: string
        footer_color:
          type: string
        google_site_verification_id:
          type: string
        hide_install_buttons:
          type: boolean
        home_page_collection_category_cards:
          type: boolean
        home_page_show_all_listings:
          type: boolean
        id:
          example: "12345"
          readOnly: true
          type: string
        installation_request_flow_enabled:
          type: boolean
        integration_settings:
          $ref: '#/components/schemas/IntegrationSettings'
        is_published:
          type: boolean
        lead_form_settings:
          $ref: '#/components/schemas/LeadFormSettings'
        listing_settings:
          $ref: '#/components/schemas/ListingSettings'
        masthead_settings:
          $ref: '#/components/schemas/MastheadSettings'
        menu_position:
          enum:
          - TOP
          - LEFT
          - RIGHT
          - HIDDEN
          type: string
        menu_style:
          enum:
          - LIST
          - PILL
          - FILTER
          type: string
        meta_tag_settings:
          $ref: '#/components/schemas/MetaTagSettings'
        name:
          type: string
        navigation_background_color:
          type: string
        navigation_color:
          type: string
        navigation_logo_post_fix:
          type: string
        navigation_mobile_menu_type:
          enum:
          - ICON
          - TEXT
          type: string
        navigation_sticky:
          type: boolean
        primary_color:
          type: string
        privacy_link:
          type: string
        request_link:
          type: string
        shadow_page_description:
          type: string
        shadow_pages_enabled:
          type: boolean
        show_attribution_badge:
          type: boolean
        show_requested_listings:
          type: boolean
        slug:
          type: string
        terms_link:
          type: string
        total_published_listings:
          type: integer
        unify_application_id:
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        utm_campaign:
          type: string
        website:
          type: string
        zaps_menu_title:
          type: string
        zaps_page_enabled:
          type: boolean
      required:
      - is_published
      - name
      - slug
      type: object
    File:
      example:
        content_type: application/jpeg
        updated_at: 2000-01-23T04:56:07.000+00:00
        created_at: 2000-01-23T04:56:07.000+00:00
        id: "12345"
        type: LOGO
        url: url
      properties:
        content_type:
          example: application/jpeg
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        type:
          enum:
          - LOGO
          - BANNER
          - SCREENSHOT
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        url:
          type: string
      required:
      - url
      type: object
    GetCategoriesResponse:
      example:
        status_code: 200
        data:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          listing_pricing_text_template: listing_pricing_text_template
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          listing_features_text_template: listing_features_text_template
          id: id
          listing_description_text_template: listing_description_text_template
          slug: slug
        - updated_at: 2000-01-23T04:56:07.000+00:00
          listing_pricing_text_template: listing_pricing_text_template
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          listing_features_text_template: listing_features_text_template
          id: id
          listing_description_text_template: listing_description_text_template
          slug: slug
        meta:
          cursors:
            next: em9oby1jcm06OnBhZ2U6OjM=
            current: em9oby1jcm06OnBhZ2U6OjI=
            previous: em9oby1jcm06OnBhZ2U6OjE=
          items_on_page: 50
        links:
          next: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjM
          current: https://api.apideck.com/ecosystem/123abc/listings
          previous: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        status: OK
      properties:
        data:
          items:
            $ref: '#/components/schemas/Category'
          type: array
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetCategoryResponse:
      example:
        status_code: 200
        data:
          updated_at: 2000-01-23T04:56:07.000+00:00
          listing_pricing_text_template: listing_pricing_text_template
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          listing_features_text_template: listing_features_text_template
          id: id
          listing_description_text_template: listing_description_text_template
          slug: slug
        status: OK
      properties:
        data:
          $ref: '#/components/schemas/Category'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetCollectionResponse:
      example:
        status_code: 200
        data:
          card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          show_max_items_homepage: 1
          visible: true
          card_background_color: card_background_color
          count: 1
          description: description
          sequence: 6
          card_style: card_style
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          name: name
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          card_columns: 0
          id: id
          hidden_from_homepage: true
          slug: slug
        status: OK
      properties:
        data:
          $ref: '#/components/schemas/Collection'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetCollectionsResponse:
      example:
        status_code: 200
        data:
        - card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          show_max_items_homepage: 1
          visible: true
          card_background_color: card_background_color
          count: 1
          description: description
          sequence: 6
          card_style: card_style
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          name: name
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          card_columns: 0
          id: id
          hidden_from_homepage: true
          slug: slug
        - card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          show_max_items_homepage: 1
          visible: true
          card_background_color: card_background_color
          count: 1
          description: description
          sequence: 6
          card_style: card_style
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          name: name
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          card_columns: 0
          id: id
          hidden_from_homepage: true
          slug: slug
        status: OK
      properties:
        data:
          items:
            $ref: '#/components/schemas/Collection'
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetEcosystemResponse:
      example:
        status_code: 200
        data:
          body_button_color: body_button_color
          request_link: request_link
          lead_form_settings:
            telephone_field_enabled: true
            integration_enabled: true
            first_name_field_enabled: true
            telephone_field_required: true
            work_email_validation: true
            capture_form_enabled: true
            last_name_field_enabled: true
            last_name_field_required: true
            first_name_field_required: true
          alternatives_color: alternatives_color
          is_published: true
          about: about
          terms_link: terms_link
          shadow_page_description: shadow_page_description
          home_page_collection_category_cards: true
          card_settings:
            color: color
            show_description: true
            columns: 0
            icon_border_radius: icon_border_radius
            show_badges: true
            shadow_enabled: true
            border_color: border_color
            show_action: true
            background_color: background_color
            border_size: border_size
            description_lines: 6
            icon_size: 1
            style: style
            show_category: true
            border_radius: border_radius
            icon_shadow_enabled: true
          id: "12345"
          show_attribution_badge: true
          custom_domain: custom_domain
          slug: slug
          body_background_color: body_background_color
          menu_position: TOP
          installation_request_flow_enabled: true
          utm_campaign: utm_campaign
          navigation_sticky: true
          primary_color: primary_color
          privacy_link: privacy_link
          integration_settings:
            microsoft_flow_id: microsoft_flow_id
            albacross_id: albacross_id
            tray_io_enabled: true
            iubenda_site_id: iubenda_site_id
            intercom_app_id: intercom_app_id
            drift_id: drift_id
            google_analytics_id: google_analytics_id
            iubenda_cookie_policy_id: iubenda_cookie_policy_id
            blendr_enabled: true
            zapier_id: zapier_id
            google_tag_manager_id: google_tag_manager_id
            hubspot_portal_id: hubspot_portal_id
            piesync_enabled: true
            segment_id: segment_id
            zapier_beta_link: zapier_beta_link
            zapier_enabled: true
            heap_id: heap_id
            segment_enabled: true
            microsoft_flow_enabled: true
            journy_io_domain: journy_io_domain
            journy_io_id: journy_io_id
            onetrust_id: onetrust_id
            metomic_id: metomic_id
            crisp_id: crisp_id
            combidesk_enabled: true
            integromat_enabled: true
            automate_enabled: true
            livechat_id: livechat_id
          footer_background_color: footer_background_color
          unify_application_id: unify_application_id
          meta_tag_settings:
            description_category_page: description_category_page
            keywords: keywords
            description_collection_page: description_collection_page
            title_postfix: title_postfix
            description: description
            title: title
            description_listing_page: description_listing_page
          categories_show_max_items: 5
          menu_style: LIST
          name: name
          navigation_background_color: navigation_background_color
          collections_count_badge: true
          hide_install_buttons: true
          zaps_page_enabled: true
          navigation_mobile_menu_type: ICON
          created_at: 2000-01-23T04:56:07.000+00:00
          create_link: create_link
          alternatives_background_color: alternatives_background_color
          navigation_logo_post_fix: navigation_logo_post_fix
          detail_pages_enabled: true
          show_requested_listings: true
          body_color: body_color
          footer_color: footer_color
          updated_at: 2000-01-23T04:56:07.000+00:00
          body_button_background_color: body_button_background_color
          total_published_listings: 2
          custom_settings:
            css: css
            html_nav: html_nav
            java_script_link: java_script_link
            domain: domain
            css_link: css_link
            html_footer: html_footer
          listing_settings:
            install_button_label: install_button_label
            name_postfix: name_postfix
            sidebar_position: TOP
            pricing_disabled: true
            description_text_template: description_text_template
            naming: LISTING
            features_title: features_title
            pricing_title: pricing_title
            pricing_text_template: pricing_text_template
            native_integration_link: native_integration_link
            features_text_template: features_text_template
            description_title: description_title
          body_link_color: body_link_color
          website: website
          zaps_menu_title: zaps_menu_title
          navigation_color: navigation_color
          collections_title: collections_title
          google_site_verification_id: google_site_verification_id
          categories_count_badge: true
          shadow_pages_enabled: true
          masthead_settings:
            background_color: background_color
            color: color
            background: background
            columns: 5
            description: description
            title: title
          attribution: true
          home_page_show_all_listings: true
          cta_settings:
            button_background_color: button_background_color
            button_color: button_color
            background_color: background_color
            color: color
            description: description
            button_link: button_link
            button_label: button_label
            title: title
            enabled: true
        status: OK
      properties:
        data:
          $ref: '#/components/schemas/Ecosystem'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetListingResponse:
      example:
        status_code: 200
        data:
          microsoft_flow_id: microsoft_flow_id
          card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          native_integration: true
          combidesk_id: combidesk_id
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          external_id: "12345"
          media:
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          tag_line: tag_line
          screenshots:
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          products:
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          features: features
          cloud_service_id: cloud_service_id
          updated_at: 2000-01-23T04:56:07.000+00:00
          collections:
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          meta_tag_description: meta_tag_description
          meta_tag_keywords: meta_tag_keywords
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          meta_tag_title: meta_tag_title
          zapier_id: zapier_id
          third_party_integration_link: third_party_integration_link
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          unify_connector_id: unify_connector_id
          categories:
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          id: "12345"
          published_at: 2000-01-23T04:56:07.000+00:00
          segment_id: segment_id
          piesync_id: piesync_id
          slug: slug
          card_background_color: card_background_color
          blendr_id: blendr_id
          published: true
          partner:
            twitter: twitter
            website: website
            listed: listed
            updated_at: 2000-01-23T04:56:07.000+00:00
            icon:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            created_at: 2000-01-23T04:56:07.000+00:00
            company: company
            id: "12345"
            contacts:
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
          integromat_id: integromat_id
          tray_io_id: tray_io_id
          detail_page_disabled: true
          name: name
          sticky: true
          automate_id: automate_id
          native_integration_link: native_integration_link
          third_party_integration: true
          pricing: pricing
          upcoming: true
        status: OK
      properties:
        data:
          $ref: '#/components/schemas/Listing'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetListingsResponse:
      example:
        status_code: 200
        data:
        - microsoft_flow_id: microsoft_flow_id
          card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          native_integration: true
          combidesk_id: combidesk_id
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          external_id: "12345"
          media:
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          tag_line: tag_line
          screenshots:
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          products:
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          features: features
          cloud_service_id: cloud_service_id
          updated_at: 2000-01-23T04:56:07.000+00:00
          collections:
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          meta_tag_description: meta_tag_description
          meta_tag_keywords: meta_tag_keywords
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          meta_tag_title: meta_tag_title
          zapier_id: zapier_id
          third_party_integration_link: third_party_integration_link
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          unify_connector_id: unify_connector_id
          categories:
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          id: "12345"
          published_at: 2000-01-23T04:56:07.000+00:00
          segment_id: segment_id
          piesync_id: piesync_id
          slug: slug
          card_background_color: card_background_color
          blendr_id: blendr_id
          published: true
          partner:
            twitter: twitter
            website: website
            listed: listed
            updated_at: 2000-01-23T04:56:07.000+00:00
            icon:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            created_at: 2000-01-23T04:56:07.000+00:00
            company: company
            id: "12345"
            contacts:
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
          integromat_id: integromat_id
          tray_io_id: tray_io_id
          detail_page_disabled: true
          name: name
          sticky: true
          automate_id: automate_id
          native_integration_link: native_integration_link
          third_party_integration: true
          pricing: pricing
          upcoming: true
        - microsoft_flow_id: microsoft_flow_id
          card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          native_integration: true
          combidesk_id: combidesk_id
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          external_id: "12345"
          media:
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          - sequence: 1
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Media
            id: "12345"
            type: SCREENSHOT
            url: url
          tag_line: tag_line
          screenshots:
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          - file:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            caption: Screenshot
            id: "12345"
          products:
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          - sequence: 1
            visible: true
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            description: description
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            id: "12345"
            slug: slug
          features: features
          cloud_service_id: cloud_service_id
          updated_at: 2000-01-23T04:56:07.000+00:00
          collections:
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          - card_background_image:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            show_max_items_homepage: 1
            visible: true
            card_background_color: card_background_color
            count: 1
            description: description
            sequence: 6
            card_style: card_style
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            name: name
            logo:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            card_columns: 0
            id: id
            hidden_from_homepage: true
            slug: slug
          meta_tag_description: meta_tag_description
          meta_tag_keywords: meta_tag_keywords
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          meta_tag_title: meta_tag_title
          zapier_id: zapier_id
          third_party_integration_link: third_party_integration_link
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          unify_connector_id: unify_connector_id
          categories:
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          - updated_at: 2000-01-23T04:56:07.000+00:00
            listing_pricing_text_template: listing_pricing_text_template
            translations:
            - locale: locale
              value: value
              key: key
            - locale: locale
              value: value
              key: key
            count: 1
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            description: description
            logo:
              content_type: content_type
              id: id
              type: LOGO
              url: url
            listing_features_text_template: listing_features_text_template
            id: id
            listing_description_text_template: listing_description_text_template
            slug: slug
          id: "12345"
          published_at: 2000-01-23T04:56:07.000+00:00
          segment_id: segment_id
          piesync_id: piesync_id
          slug: slug
          card_background_color: card_background_color
          blendr_id: blendr_id
          published: true
          partner:
            twitter: twitter
            website: website
            listed: listed
            updated_at: 2000-01-23T04:56:07.000+00:00
            icon:
              content_type: application/jpeg
              updated_at: 2000-01-23T04:56:07.000+00:00
              created_at: 2000-01-23T04:56:07.000+00:00
              id: "12345"
              type: LOGO
              url: url
            created_at: 2000-01-23T04:56:07.000+00:00
            company: company
            id: "12345"
            contacts:
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
            - twitter: twitter
              role: role
              linked_in: linked_in
              name: name
              last_name: last_name
              id: "12345"
              first_name: first_name
              email: email
          integromat_id: integromat_id
          tray_io_id: tray_io_id
          detail_page_disabled: true
          name: name
          sticky: true
          automate_id: automate_id
          native_integration_link: native_integration_link
          third_party_integration: true
          pricing: pricing
          upcoming: true
        meta:
          cursors:
            next: em9oby1jcm06OnBhZ2U6OjM=
            current: em9oby1jcm06OnBhZ2U6OjI=
            previous: em9oby1jcm06OnBhZ2U6OjE=
          items_on_page: 50
        links:
          next: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjM
          current: https://api.apideck.com/ecosystem/123abc/listings
          previous: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        status: OK
      properties:
        data:
          items:
            $ref: '#/components/schemas/Listing'
          type: array
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetProductResponse:
      example:
        status_code: 200
        data:
          sequence: 1
          visible: true
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          description: description
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          id: "12345"
          slug: slug
        status: OK
      properties:
        data:
          $ref: '#/components/schemas/Product'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    GetProductsResponse:
      example:
        status_code: 200
        data:
        - sequence: 1
          visible: true
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          description: description
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          id: "12345"
          slug: slug
        - sequence: 1
          visible: true
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          description: description
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          id: "12345"
          slug: slug
        meta:
          cursors:
            next: em9oby1jcm06OnBhZ2U6OjM=
            current: em9oby1jcm06OnBhZ2U6OjI=
            previous: em9oby1jcm06OnBhZ2U6OjE=
          items_on_page: 50
        links:
          next: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjM
          current: https://api.apideck.com/ecosystem/123abc/listings
          previous: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        status: OK
      properties:
        data:
          items:
            $ref: '#/components/schemas/Product'
          type: array
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
      - data
      - status
      - status_code
      type: object
    IntegrationSettings:
      additionalProperties: false
      example:
        microsoft_flow_id: microsoft_flow_id
        albacross_id: albacross_id
        tray_io_enabled: true
        iubenda_site_id: iubenda_site_id
        intercom_app_id: intercom_app_id
        drift_id: drift_id
        google_analytics_id: google_analytics_id
        iubenda_cookie_policy_id: iubenda_cookie_policy_id
        blendr_enabled: true
        zapier_id: zapier_id
        google_tag_manager_id: google_tag_manager_id
        hubspot_portal_id: hubspot_portal_id
        piesync_enabled: true
        segment_id: segment_id
        zapier_beta_link: zapier_beta_link
        zapier_enabled: true
        heap_id: heap_id
        segment_enabled: true
        microsoft_flow_enabled: true
        journy_io_domain: journy_io_domain
        journy_io_id: journy_io_id
        onetrust_id: onetrust_id
        metomic_id: metomic_id
        crisp_id: crisp_id
        combidesk_enabled: true
        integromat_enabled: true
        automate_enabled: true
        livechat_id: livechat_id
      properties:
        albacross_id:
          type: string
        automate_enabled:
          type: boolean
        blendr_enabled:
          type: boolean
        combidesk_enabled:
          type: boolean
        crisp_id:
          type: string
        drift_id:
          type: string
        google_analytics_id:
          type: string
        google_tag_manager_id:
          type: string
        heap_id:
          type: string
        hubspot_portal_id:
          type: string
        integromat_enabled:
          type: boolean
        intercom_app_id:
          type: string
        iubenda_cookie_policy_id:
          type: string
        iubenda_site_id:
          type: string
        journy_io_domain:
          type: string
        journy_io_id:
          type: string
        livechat_id:
          type: string
        metomic_id:
          type: string
        microsoft_flow_enabled:
          type: boolean
        microsoft_flow_id:
          type: string
        onetrust_id:
          type: string
        piesync_enabled:
          type: boolean
        segment_enabled:
          type: boolean
        segment_id:
          type: string
        tray_io_enabled:
          type: boolean
        zapier_beta_link:
          type: string
        zapier_enabled:
          type: boolean
        zapier_id:
          type: string
      type: object
    LeadFormSettings:
      additionalProperties: false
      example:
        telephone_field_enabled: true
        integration_enabled: true
        first_name_field_enabled: true
        telephone_field_required: true
        work_email_validation: true
        capture_form_enabled: true
        last_name_field_enabled: true
        last_name_field_required: true
        first_name_field_required: true
      properties:
        capture_form_enabled:
          type: boolean
        first_name_field_enabled:
          type: boolean
        first_name_field_required:
          type: boolean
        integration_enabled:
          type: boolean
        last_name_field_enabled:
          type: boolean
        last_name_field_required:
          type: boolean
        telephone_field_enabled:
          type: boolean
        telephone_field_required:
          type: boolean
        work_email_validation:
          type: boolean
      type: object
    Links:
      description: Links to navigate to previous or next pages through the API
      example:
        next: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjM
        current: https://api.apideck.com/ecosystem/123abc/listings
        previous: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
      properties:
        current:
          description: Link to navigate to the current page through the API
          example: https://api.apideck.com/ecosystem/123abc/listings
          type: string
        next:
          description: Link to navigate to the previous page through the API
          example: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjM
          type: string
        previous:
          description: Link to navigate to the previous page through the API
          example: https://api.apideck.com/ecosystem/123abc/listings?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
          type: string
      required:
      - current
      type: object
    Listing:
      additionalProperties: false
      example:
        microsoft_flow_id: microsoft_flow_id
        card_background_image:
          content_type: application/jpeg
          updated_at: 2000-01-23T04:56:07.000+00:00
          created_at: 2000-01-23T04:56:07.000+00:00
          id: "12345"
          type: LOGO
          url: url
        native_integration: true
        combidesk_id: combidesk_id
        created_at: 2000-01-23T04:56:07.000+00:00
        description: description
        external_id: "12345"
        media:
        - sequence: 1
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          caption: Media
          id: "12345"
          type: SCREENSHOT
          url: url
        - sequence: 1
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          caption: Media
          id: "12345"
          type: SCREENSHOT
          url: url
        tag_line: tag_line
        screenshots:
        - file:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          caption: Screenshot
          id: "12345"
        - file:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          caption: Screenshot
          id: "12345"
        products:
        - sequence: 1
          visible: true
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          description: description
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          id: "12345"
          slug: slug
        - sequence: 1
          visible: true
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          description: description
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          id: "12345"
          slug: slug
        features: features
        cloud_service_id: cloud_service_id
        updated_at: 2000-01-23T04:56:07.000+00:00
        collections:
        - card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          show_max_items_homepage: 1
          visible: true
          card_background_color: card_background_color
          count: 1
          description: description
          sequence: 6
          card_style: card_style
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          name: name
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          card_columns: 0
          id: id
          hidden_from_homepage: true
          slug: slug
        - card_background_image:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          show_max_items_homepage: 1
          visible: true
          card_background_color: card_background_color
          count: 1
          description: description
          sequence: 6
          card_style: card_style
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          name: name
          logo:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          card_columns: 0
          id: id
          hidden_from_homepage: true
          slug: slug
        meta_tag_description: meta_tag_description
        meta_tag_keywords: meta_tag_keywords
        translations:
        - locale: locale
          value: value
          key: key
        - locale: locale
          value: value
          key: key
        meta_tag_title: meta_tag_title
        zapier_id: zapier_id
        third_party_integration_link: third_party_integration_link
        logo:
          content_type: content_type
          id: id
          type: LOGO
          url: url
        unify_connector_id: unify_connector_id
        categories:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          listing_pricing_text_template: listing_pricing_text_template
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          listing_features_text_template: listing_features_text_template
          id: id
          listing_description_text_template: listing_description_text_template
          slug: slug
        - updated_at: 2000-01-23T04:56:07.000+00:00
          listing_pricing_text_template: listing_pricing_text_template
          translations:
          - locale: locale
            value: value
            key: key
          - locale: locale
            value: value
            key: key
          count: 1
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          logo:
            content_type: content_type
            id: id
            type: LOGO
            url: url
          listing_features_text_template: listing_features_text_template
          id: id
          listing_description_text_template: listing_description_text_template
          slug: slug
        id: "12345"
        published_at: 2000-01-23T04:56:07.000+00:00
        segment_id: segment_id
        piesync_id: piesync_id
        slug: slug
        card_background_color: card_background_color
        blendr_id: blendr_id
        published: true
        partner:
          twitter: twitter
          website: website
          listed: listed
          updated_at: 2000-01-23T04:56:07.000+00:00
          icon:
            content_type: application/jpeg
            updated_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            id: "12345"
            type: LOGO
            url: url
          created_at: 2000-01-23T04:56:07.000+00:00
          company: company
          id: "12345"
          contacts:
          - twitter: twitter
            role: role
            linked_in: linked_in
            name: name
            last_name: last_name
            id: "12345"
            first_name: first_name
            email: email
          - twitter: twitter
            role: role
            linked_in: linked_in
            name: name
            last_name: last_name
            id: "12345"
            first_name: first_name
            email: email
        integromat_id: integromat_id
        tray_io_id: tray_io_id
        detail_page_disabled: true
        name: name
        sticky: true
        automate_id: automate_id
        native_integration_link: native_integration_link
        third_party_integration: true
        pricing: pricing
        upcoming: true
      properties:
        automate_id:
          type: string
        blendr_id:
          type: string
        card_background_color:
          type: string
        card_background_image:
          $ref: '#/components/schemas/File'
        categories:
          items:
            $ref: '#/components/schemas/Category'
          type: array
        cloud_service_id:
          type: string
        collections:
          items:
            $ref: '#/components/schemas/Collection'
          type: array
        combidesk_id:
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        description:
          type: string
        detail_page_disabled:
          type: boolean
        external_id:
          example: "12345"
          readOnly: true
          type: string
        features:
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        integromat_id:
          type: string
        logo:
          $ref: '#/components/schemas/Logo'
        media:
          items:
            $ref: '#/components/schemas/Media'
          type: array
        meta_tag_description:
          type: string
        meta_tag_keywords:
          type: string
        meta_tag_title:
          type: string
        microsoft_flow_id:
          type: string
        name:
          type: string
        native_integration:
          type: boolean
        native_integration_link:
          type: string
        partner:
          $ref: '#/components/schemas/Partner'
        piesync_id:
          type: string
        pricing:
          type: string
        products:
          items:
            $ref: '#/components/schemas/Product'
          type: array
        published:
          type: boolean
        published_at:
          format: date-time
          readOnly: true
          type: string
        screenshots:
          items:
            $ref: '#/components/schemas/Screenshot'
          type: array
        segment_id:
          type: string
        slug:
          type: string
        sticky:
          type: boolean
        tag_line:
          type: string
        third_party_integration:
          type: boolean
        third_party_integration_link:
          type: string
        translations:
          items:
            $ref: '#/components/schemas/Translation'
          nullable: true
          required:
          - key
          - locale
          - value
          type: array
        tray_io_id:
          type: string
        unify_connector_id:
          type: string
        upcoming:
          type: boolean
        updated_at:
          format: date-time
          readOnly: true
          type: string
        zapier_id:
          type: string
      required:
      - name
      - slug
      type: object
    ListingSettings:
      additionalProperties: false
      example:
        install_button_label: install_button_label
        name_postfix: name_postfix
        sidebar_position: TOP
        pricing_disabled: true
        description_text_template: description_text_template
        naming: LISTING
        features_title: features_title
        pricing_title: pricing_title
        pricing_text_template: pricing_text_template
        native_integration_link: native_integration_link
        features_text_template: features_text_template
        description_title: description_title
      properties:
        description_text_template:
          type: string
        description_title:
          type: string
        features_text_template:
          type: string
        features_title:
          type: string
        install_button_label:
          type: string
        name_postfix:
          type: string
        naming:
          enum:
          - LISTING
          - LISTINGS
          - INTEGRATIONS
          - APPS
          - CONNECTORS
          - DATASOURCES
          - ADDONS
          - PLUGINS
          - PARTNERS
          - CHANNELS
          - CONNECTIONS
          - EXTENSIONS
          type: string
        native_integration_link:
          type: string
        pricing_disabled:
          type: boolean
        pricing_text_template:
          type: string
        pricing_title:
          type: string
        sidebar_position:
          enum:
          - TOP
          - LEFT
          - RIGHT
          - HIDDEN
          type: string
      type: object
    Logo:
      additionalProperties: false
      example:
        content_type: content_type
        id: id
        type: LOGO
        url: url
      properties:
        content_type:
          type: string
        id:
          type: string
        type:
          enum:
          - LOGO
          - BANNER
          - SCREENSHOT
          type: string
        url:
          type: string
      required:
      - url
      type: object
    MastheadSettings:
      additionalProperties: false
      example:
        background_color: background_color
        color: color
        background: background
        columns: 5
        description: description
        title: title
      properties:
        background:
          type: string
        background_color:
          type: string
        color:
          type: string
        columns:
          type: integer
        description:
          type: string
        title:
          type: string
      type: object
    Media:
      additionalProperties: false
      example:
        sequence: 1
        translations:
        - locale: locale
          value: value
          key: key
        - locale: locale
          value: value
          key: key
        caption: Media
        id: "12345"
        type: SCREENSHOT
        url: url
      properties:
        caption:
          example: Media
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        sequence:
          example: 1
          type: integer
        translations:
          items:
[...]
