openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides detailed information for a given zip code, including\
    \ city, state, latitude, longitude, area size, and various population demographics."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Zip Code Detailed Info API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getzipinfo.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getzipinfo
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getzipcodeinfo
servers:
- url: https://api.interzoid.com
paths:
  /getzipcodeinfo:
    get:
      description: "For a given zip code, detailed information is returned, including\
        \ city, state, latitude, longitude, area size, and various population demographics,\
        \ including income, age, and presence of farming data."
      operationId: getzipcodeinfo
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Zip code to retrieve detailed information
        explode: true
        in: query
        name: zip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getzipcodeinfo_200_response'
          description: Zip code detailed code information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: zip code not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets detailed zip code information
      tags:
      - Detailed Zip Code Information
      x-accepts:
      - application/json
components:
  schemas:
    getzipcodeinfo_200_response:
      example:
        IncomePercent50k: IncomePercent50k
        MarriedHouseholdPercent: MarriedHouseholdPercent
        AreaSquareMiles: AreaSquareMiles
        ZipCode: ZipCode
        Latitude: Latitude
        City: City
        FarmerHouseholdPercent: FarmerHouseholdPercent
        Code: Code
        Longitude: Longitude
        Credits: Credits
        IncomePercent100k: IncomePercent100k
        IncomePercent200k: IncomePercent200k
        State: State
        Population: Population
        ElderlyHouseholdPercent: ElderlyHouseholdPercent
      properties:
        AreaSquareMiles:
          type: string
        City:
          type: string
        Code:
          type: string
        Credits:
          type: string
        ElderlyHouseholdPercent:
          type: string
        FarmerHouseholdPercent:
          type: string
        IncomePercent100k:
          type: string
        IncomePercent200k:
          type: string
        IncomePercent50k:
          type: string
        Latitude:
          type: string
        Longitude:
          type: string
        MarriedHouseholdPercent:
          type: string
        Population:
          type: string
        State:
          type: string
        ZipCode:
          type: string
      type: object

