openapi: 3.0.0
info:
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
    x-twitter: meraki
  description: |
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.

    > Date: 23 April, 2023
    >
    > [Recent Updates](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 0.0.0-streaming
  x-apisguru-categories:
  - iot
  - enterprise
  x-logo:
    url: https://n140.meraki.com/images/cisco-meraki.png
  x-origin:
  - format: openapi
    url: https://api.meraki.com/api/v0/openapiSpec
    version: "3.0"
  x-preferred: true
  x-providerName: meraki.com
servers:
- url: https://api.meraki.com/api/v0
security:
- meraki_api_key: []
tags:
- name: API usage
- name: Action batches
- name: Admins
- name: Alert settings
- name: Bluetooth clients
- name: Bluetooth settings
- name: Camera quality retention profiles
- name: Cameras
- name: Change log
- name: Clients
- name: Config templates
- name: Content filtering categories
- name: Content filtering rules
- name: Devices
- name: Events
- name: Firewalled services
- name: Floor plans
- name: Intrusion settings
- name: Licenses
- name: Link aggregations
- name: MG LAN settings
- name: MG port forwarding rules
- name: MR L3 firewall
- name: MV Sense
- name: MX 1:1 NAT rules
- name: MX 1:Many NAT rules
- name: MX L3 inbound firewall
- name: MX L3 outbound firewall
- name: MX L7 application categories
- name: MX L7 firewall
- name: MX VLAN ports
- name: MX VPN firewall
- name: MX cellular firewall
- name: MX port forwarding rules
- name: MX static routes
- name: MX warm spare settings
- name: Malware settings
- name: Meraki auth users
- name: Named tag scope
- name: Networks
- name: OpenAPI Spec
- name: Organizations
- name: PII
- name: Radio settings
- name: SAML roles
- name: SM
- name: SNMP settings
- name: SSIDs
- name: Security events
- name: Splash login attempts
- name: Splash settings
- name: Switch access policies
- name: Switch port schedules
- name: Switch ports
- name: Switch profiles
- name: Switch settings
- name: Switch stacks
- name: Syslog servers
- name: Traffic shaping uplink settings
- name: VLANs
- name: Wireless health
- name: Wireless settings
paths:
  /devices/{serial}/camera/analytics/live:
    get:
      description: Returns live state from camera of analytics zones
      operationId: get_device_camera_analytics_live
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ts: 2018-08-15T18:32:38.123Z
                    zones:
                      "0":
                        person: 0
              schema:
                type: object
          description: Successful operation
      summary: Returns live state from camera of analytics zones
      tags:
      - MV Sense
      x-openapi-router-controller: openapi_server.controllers.mv_sense_controller
  /devices/{serial}/camera/analytics/overview:
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: get_device_camera_analytics_overview
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 5
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 254
                    startTs: 2018-08-15T18:32:38.123Z
                    zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
      - MV Sense
      x-openapi-router-controller: openapi_server.controllers.mv_sense_controller
  /devices/{serial}/camera/analytics/recent:
    get:
      description: Returns most recent record for analytics zones
      operationId: get_device_camera_analytics_recent
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 2.54
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 10
                    startTs: 2018-08-15T18:32:38.123Z
                    zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns most recent record for analytics zones
      tags:
      - MV Sense
      x-openapi-router-controller: openapi_server.controllers.mv_sense_controller
  /devices/{serial}/camera/analytics/zones:
    get:
      description: Returns all configured analytic zones for this camera
      operationId: get_device_camera_analytics_zones
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - id: "0"
                    label: Full Frame
                    regionOfInterest:
                      x0: "0.00"
                      x1: "1.00"
                      y0: "0.00"
                      y1: "1.00"
                    type: occupancy
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns all configured analytic zones for this camera
      tags:
      - MV Sense
      x-openapi-router-controller: openapi_server.controllers.mv_sense_controller
  /devices/{serial}/camera/analytics/zones/{zoneId}/history:
    get:
      description: Return historical records for analytic zones
      operationId: get_device_camera_analytics_zone_history
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: zoneId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          14 hours after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 14 hours. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 60. The default is 60."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 1.5
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 5
                    startTs: 2018-08-15T18:32:38.123Z
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return historical records for analytic zones
      tags:
      - MV Sense
      x-openapi-router-controller: openapi_server.controllers.mv_sense_controller
  /devices/{serial}/camera/video/settings:
    get:
      description: Returns video settings for the given camera
      operationId: get_device_camera_video_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Returns video settings for the given camera
      tags:
      - Cameras
      x-openapi-router-controller: openapi_server.controllers.cameras_controller
    put:
      description: Update video settings for the given camera
      operationId: update_device_camera_video_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraVideoSettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Update video settings for the given camera
      tags:
      - Cameras
      x-openapi-router-controller: openapi_server.controllers.cameras_controller
      x-codegen-request-body-name: body
  /devices/{serial}/cellularGateway/settings:
    get:
      description: Show the LAN Settings of a MG
      operationId: get_device_cellular_gateway_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                    - ip: 192.168.0.10
                      mac: 0b:00:00:00:00:ac
                      name: server 1
                    - ip: 192.168.0.20
                      mac: 0b:00:00:00:00:ab
                      name: server 2
                    reservedIpRanges:
                    - comment: A reserved IP range
                      end: 192.168.1.1
                      start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Show the LAN Settings of a MG
      tags:
      - MG LAN settings
      x-openapi-router-controller: openapi_server.controllers.mg_lan_settings_controller
    put:
      description: Update the LAN Settings for a single MG.
      operationId: update_device_cellular_gateway_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewaySettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                    - ip: 192.168.0.10
                      mac: 0b:00:00:00:00:ac
                      name: server 1
                    - ip: 192.168.0.20
                      mac: 0b:00:00:00:00:ab
                      name: server 2
                    reservedIpRanges:
                    - comment: A reserved IP range
                      end: 192.168.1.1
                      start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Update the LAN Settings for a single MG.
      tags:
      - MG LAN settings
      x-openapi-router-controller: openapi_server.controllers.mg_lan_settings_controller
      x-codegen-request-body-name: body
  /devices/{serial}/cellularGateway/settings/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: get_device_cellular_gateway_settings_port_forwarding_rules
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - access: any
                      lanIp: 172.31.128.5
                      localPort: "4"
                      name: test
                      protocol: tcp
                      publicPort: 11-12
                      uplink: both
                    - access: restricted
                      allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                      lanIp: 172.31.128.5
                      localPort: "5"
                      name: test 2
                      protocol: tcp
                      publicPort: "99"
                      uplink: both
              schema:
                type: object
          description: Successful operation
      summary: Returns the port forwarding rules for a single MG.
      tags:
      - MG port forwarding rules
      x-openapi-router-controller: openapi_server.controllers.mg_port_forwarding_rules_controller
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: update_device_cellular_gateway_settings_port_forwarding_rules
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewaySettingsPortForwardingRules_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - access: any
                      lanIp: 172.31.128.5
                      localPort: "4"
                      name: test
                      protocol: tcp
                      publicPort: 11-12
                      uplink: both
                    - access: restricted
                      allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                      lanIp: 172.31.128.5
                      localPort: "5"
                      name: test 2
                      protocol: tcp
                      publicPort: "99"
                      uplink: both
              schema:
                type: object
          description: Successful operation
      summary: Updates the port forwarding rules for a single MG.
      tags:
      - MG port forwarding rules
      x-openapi-router-controller: openapi_server.controllers.mg_port_forwarding_rules_controller
      x-codegen-request-body-name: body
  /devices/{serial}/clients:
    get:
      description: "List the clients of a device, up to a maximum of a month ago.\
        \ The usage of each client is returned in kilobytes. If the device is a switch,\
        \ the switchport is returned; otherwise the switchport field is null."
      operationId: get_device_clients
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - description: Miles's phone
                    dhcpHostname: MilesPhone
                    id: k74272e
                    ip: 1.2.3.4
                    mac: 22:33:44:55:66:77
                    mdnsName: Miles's phone
                    switchport: null
                    usage:
                      recv: 61
                      sent: 138
                    user: milesmeraki
                    vlan: 255
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "List the clients of a device, up to a maximum of a month ago"
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      operationId: cycle_device_switch_ports
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cycleDeviceSwitchPorts_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ports:
                    - "1"
                    - 2-5
                    - 1_MA-MOD-8X10G_1
                    - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              schema:
                type: object
          description: Successful operation
      summary: Cycle a set of switch ports
      tags:
      - Devices
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switchPortStatuses:
    get:
      description: Return the status for all the ports of a switch
      operationId: get_device_switch_port_statuses
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - cdp:
                      address: "10.0,0.1"
                      capabilities: Switch
                      deviceId: 0c8ddbddee:ff
                      managementAddress: 10.0.0.100
                      nativeVlan: 1
                      platform: MS350-24X
                      portId: Port 20
                      systemName: ""
                      version: "1"
                      vtpManagementDomain: ""
                    clientCount: 10
                    duplex: full
                    enabled: true
                    errors:
                    - PoE overload
                    - Very high proportion of CRC errors
                    isUplink: false
                    lldp:
                      chassisId: 0c:8d:db:dd:ee:ff
                      managementAddress: 10.0.0.100
                      managementVlan: 1
                      portDescription: Port 20
                      portId: "20"
                      portVlan: 1
                      systemCapabilities: switch
                      systemDescription: MS350-24X Cloud Managed PoE Switch
                      systemName: MS350-24X - Test
                    portId: "1"
                    powerUsageInWh: 55.9
                    securePort:
                      active: true
                      authenticationStatus: Authentication in progress
                      configOverrides:
                        allowedVlans: all
                        type: trunk
                        vlan: 12
                        voiceVlan: 34
                      enabled: true
                    speed: 10 Gbps
                    status: Connected
                    trafficInKbps:
                      recv: 1
                      sent: 1.2
                      total: 2.2
                    usageInKb:
                      recv: 17859
                      sent: 23008
                      total: 40867
                    warnings:
                    - SecureConnect authentication in progress
                    - PoE port was denied power
                    - High proportion of CRC errors
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the status for all the ports of a switch
      tags:
      - Switch ports
      x-openapi-router-controller: openapi_server.controllers.switch_ports_controller
  /devices/{serial}/switchPortStatuses/packets:
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: get_device_switch_port_statuses_packets
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 1 day from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 1 day. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - packets:
                    - desc: Total
                      ratePerSec:
                        recv: 0
                        sent: 1
                        total: 1
                      recv: 7946
                      sent: 104135
                      total: 112081
                    - desc: Broadcast
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 514
                      sent: 30370
                      total: 30884
                    - desc: Multicast
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 771
                      sent: 66849
                      total: 67620
                    - desc: CRC align errors
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 0
                      sent: 0
                      total: 0
                    portId: "1"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the packet counters for all the ports of a switch
      tags:
      - Switch ports
      x-openapi-router-controller: openapi_server.controllers.switch_ports_controller
  /devices/{serial}/wireless/bluetooth/settings:
    put:
      description: Update the bluetooth settings for a wireless device
      operationId: update_device_wireless_bluetooth_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceWirelessBluetoothSettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    major: 13
                    minor: 125
                    uuid: 00000000-0000-0000-000-000000000000
              schema:
                $ref: '#/components/schemas/updateDeviceWirelessBluetoothSettings_200_response'
          description: Successful operation
      summary: Update the bluetooth settings for a wireless device
      tags:
      - Bluetooth settings
      x-openapi-router-controller: openapi_server.controllers.bluetooth_settings_controller
      x-codegen-request-body-name: body
  /networks/{networkId}:
    delete:
      description: Delete a network
      operationId: delete_network
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
      summary: Delete a network
      tags:
      - Networks
      x-openapi-router-controller: openapi_server.controllers.networks_controller
    get:
      description: Return a network
      operationId: get_network
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    disableMyMerakiCom: false
                    enrollmentString: my-enrollment-string
                    id: N_24329156
                    name: Main Office
                    organizationId: "2930418"
                    productTypes:
                    - appliance
                    - switch
                    - wireless
                    tags: ' tag1 tag2 '
                    timeZone: America/Los_Angeles
                    type: combined
              schema:
                type: object
          description: Successful operation
      summary: Return a network
      tags:
      - Networks
      x-openapi-router-controller: openapi_server.controllers.networks_controller
    put:
      description: Update a network
      operationId: update_network
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetwork_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    disableMyMerakiCom: false
                    enrollmentString: my-enrollment-string
                    id: N_24329156
                    name: Main Office
                    organizationId: "2930418"
                    productTypes:
                    - appliance
                    - switch
                    - wireless
                    tags: ' tag1 tag2 '
                    timeZone: America/Los_Angeles
                    type: combined
              schema:
                type: object
          description: Successful operation
      summary: Update a network
      tags:
      - Networks
      x-openapi-router-controller: openapi_server.controllers.networks_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/accessPolicies:
    get:
      description: List the access policies for this network. Only valid for MS networks.
      operationId: get_network_access_policies
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - accessType: 8021.x
                    guestVlan: 3700
                    name: My access policy
                    number: 1
                    radiusServers:
                    - ip: 1.2.3.4
                      port: 1337
                    - ip: 2.3.4.5
                      port: 1337
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: List the access policies for this network
      tags:
      - Switch access policies
      x-openapi-router-controller: openapi_server.controllers.switch_access_policies_controller
  /networks/{networkId}/airMarshal:
    get:
      description: List Air Marshal scan results from a network
      operationId: get_network_air_marshal
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 7 days."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - bssids:
                    - bssid: 00:11:22:33:44:55
                      contained: false
                      detectedBy:
                      - device: Q234-ABCD-5678
                        rssi: 17
                    channels:
                    - 36
                    - 40
                    firstSeen: 1518365681
                    lastSeen: 1526087474
                    ssid: linksys
                    wiredLastSeen: 1526087474
                    wiredMacs:
                    - 00:11:22:33:44:55
                    wiredVlans:
                    - 0
                    - 108
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: List Air Marshal scan results from a network
      tags:
      - Networks
      x-openapi-router-controller: openapi_server.controllers.networks_controller
  /networks/{networkId}/alertSettings:
    get:
      description: Return the alert configuration for this network
      operationId: get_network_alert_settings
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    alerts:
                    - alertDestinations:
                        allAdmins: false
                        emails:
                        - miles@meraki.com
                        httpServerIds:
                        - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                        snmp: false
                      enabled: true
                      filters:
                        timeout: 60
                      type: gatewayDown
                    defaultDestinations:
                      allAdmins: true
                      emails:
                      - miles@meraki.com
                      httpServerIds:
                      - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                      snmp: true
              schema:
                type: object
          description: Successful operation
      summary: Return the alert configuration for this network
      tags:
      - Alert settings
      x-openapi-router-controller: openapi_server.controllers.alert_settings_controller
    put:
      description: Update the alert configuration for this network
      operationId: update_network_alert_settings
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkAlertSettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    alerts:
                    - alertDestinations:
                        allAdmins: false
                        emails:
                        - miles@meraki.com
                        httpServerIds:
                        - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                        snmp: false
                      enabled: true
                      filters:
                        timeout: 60
                      type: gatewayDown
                    defaultDestinations:
                      allAdmins: true
                      emails:
                      - miles@meraki.com
                      httpServerIds:
                      - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                      snmp: true
              schema:
                type: object
          description: Successful operation
      summary: Update the alert configuration for this network
      tags:
      - Alert settings
      x-openapi-router-controller: openapi_server.controllers.alert_settings_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/appliance/firewall/inboundFirewallRules:
    get:
      description: Return the inbound firewall rules for an MX network
      operationId: get_network_appliance_firewall_inbound_firewall_rules
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - comment: Allow TCP traffic to subnet with HTTP servers.
                      destCidr: 192.168.1.0/24
                      destPort: "443"
                      policy: allow
                      protocol: tcp
                      srcCidr: Any
                      srcPort: Any
                      syslogEnabled: false
                    syslogDefaultRule: true
              schema:
                type: object
          description: Successful operation
      summary: Return the inbound firewall rules for an MX network
      tags:
      - MX L3 inbound firewall
      x-openapi-router-controller: openapi_server.controllers.mx_l3_inbound_firewall_controller
    put:
      description: Update the inbound firewall rules of an MX network
      operationId: update_network_appliance_firewall_inbound_firewall_rules
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateNetworkApplianceFirewallInboundFirewallRulesUpdatenetworkappliancefirewallinboundfirewallrules'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - comment: Allow TCP traffic to subnet with HTTP servers.
                      destCidr: 192.168.1.0/24
                      destPort: "443"
                      policy: allow
                      protocol: tcp
                      srcCidr: Any
                      srcPort: Any
                      syslogEnabled: false
                    syslogDefaultRule: true
              schema:
                type: object
          description: Successful operation
      summary: Update the inbound firewall rules of an MX network
      tags:
      - MX L3 inbound firewall
      x-openapi-router-controller: openapi_server.controllers.mx_l3_inbound_firewall_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/appliancePorts:
    get:
      description: List per-port VLAN settings for all ports of a MX.
      operationId: get_network_appliance_ports
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - accessPolicy: open
                    dropUntaggedTraffic: false
                    enabled: true
                    number: 1
                    type: access
                    vlan: 3
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: List per-port VLAN settings for all ports of a MX.
      tags:
      - MX VLAN ports
      x-openapi-router-controller: openapi_server.controllers.mx_vlan_ports_controller
  /networks/{networkId}/appliancePorts/{appliancePortId}:
    get:
      description: Return per-port VLAN settings for a single MX port.
      operationId: get_network_appliance_port
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appliancePortId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    accessPolicy: open
                    dropUntaggedTraffic: false
                    enabled: true
                    number: 1
                    type: access
                    vlan: 3
              schema:
                type: object
          description: Successful operation
      summary: Return per-port VLAN settings for a single MX port.
      tags:
      - MX VLAN ports
      x-openapi-router-controller: openapi_server.controllers.mx_vlan_ports_controller
    put:
      description: Update the per-port VLAN settings for a single MX port.
      operationId: update_network_appliance_port
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appliancePortId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkAppliancePort_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    accessPolicy: open
                    dropUntaggedTraffic: false
                    enabled: true
                    number: 1
                    type: access
                    vlan: 3
              schema:
                type: object
          description: Successful operation
      summary: Update the per-port VLAN settings for a single MX port.
      tags:
      - MX VLAN ports
      x-openapi-router-controller: openapi_server.controllers.mx_vlan_ports_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/bind:
    post:
      description: Bind a network to a template.
      operationId: bind_network
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bindNetwork_request'
        required: true
        x-body-name: body
      responses:
        "200":
          description: Successful operation
      summary: Bind a network to a template.
      tags:
      - Networks
      x-openapi-router-controller: openapi_server.controllers.networks_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/bluetoothClients:
    get:
      description: List the Bluetooth clients seen by APs in this network
      operationId: get_network_bluetooth_clients
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 7 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 7 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The number of entries per page returned. Acceptable range is
          5 - 1000. Default is 10.
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: "A token used by the server to indicate the start of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          type: string
        style: form
      - description: "A token used by the server to indicate the end of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          type: string
        style: form
      - description: Include the connectivity history for this client
        explode: true
        in: query
        name: includeConnectivityHistory
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - deviceName: Bose QuietComfort 35
                    id: "1284392014819"
                    inSightAlert: false
                    lastSeen: 1526087474
                    mac: 22:33:44:55:66:77
                    manufacturer: Bose
                    name: Miles's phone
                    networkId: N_24329156
                    outOfSightAlert: false
                    seenByDeviceMac: 00:11:22:33:44:55
                    tags:
                    - tag1
                    - tag2
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
          headers:
            Link:
              description: "A comma-separated list of first, last, prev, and next\
                \ relative links used for subsequent paginated requests."
              explode: false
              schema:
                type: string
              style: simple
      summary: List the Bluetooth clients seen by APs in this network
      tags:
      - Bluetooth clients
      x-openapi-router-controller: openapi_server.controllers.bluetooth_clients_controller
  /networks/{networkId}/bluetoothClients/{bluetoothClientId}:
    get:
      description: Return a Bluetooth client. Bluetooth clients can be identified
        by their ID or their MAC.
      operationId: get_network_bluetooth_client
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bluetoothClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Include the connectivity history for this client
        explode: true
        in: query
        name: includeConnectivityHistory
        required: false
        schema:
          type: boolean
        style: form
      - description: "The timespan, in seconds, for the connectivityHistory data.\
          \ By default 1 day, 86400, will be used."
        explode: true
        in: query
        name: connectivityHistoryTimespan
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceName: Bose QuietComfort 35
                    id: "1284392014819"
                    inSightAlert: false
                    lastSeen: 1526087474
                    mac: 22:33:44:55:66:77
                    manufacturer: Bose
                    name: Miles's phone
                    networkId: N_24329156
                    outOfSightAlert: false
                    seenByDeviceMac: 00:11:22:33:44:55
                    tags:
                    - tag1
                    - tag2
              schema:
                type: object
          description: Successful operation
      summary: Return a Bluetooth client
      tags:
      - Bluetooth clients
      x-openapi-router-controller: openapi_server.controllers.bluetooth_clients_controller
  /networks/{networkId}/bluetoothSettings:
    get:
      description: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth
        settings</a> must be enabled on the network.
      operationId: get_network_bluetooth_settings
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    advertisingEnabled: true
                    major: 1
                    majorMinorAssignmentMode: Non-unique
                    minor: 1
                    scanningEnabled: true
                    uuid: 00000000-0000-0000-000-000000000000
              schema:
                $ref: '#/components/schemas/getNetworkBluetoothSettings_200_response'
          description: Successful operation
      summary: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth
        settings</a> must be enabled on the network.
      tags:
      - Bluetooth settings
      x-openapi-router-controller: openapi_server.controllers.bluetooth_settings_controller
    put:
      description: Update the Bluetooth settings for a network. See the docs page
        for <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth
        settings</a>.
      operationId: update_network_bluetooth_settings
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkBluetoothSettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    advertisingEnabled: true
                    major: 1
                    majorMinorAssignmentMode: Non-unique
                    minor: 1
                    scanningEnabled: true
                    uuid: 00000000-0000-0000-000-000000000000
              schema:
                $ref: '#/components/schemas/getNetworkBluetoothSettings_200_response'
          description: Successful operation
      summary: Update the Bluetooth settings for a network
      tags:
      - Bluetooth settings
      x-openapi-router-controller: openapi_server.controllers.bluetooth_settings_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/camera/qualityRetentionProfiles:
    get:
      description: List the quality retention profiles for this network
      operationId: get_network_camera_quality_retention_profiles
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - audioRecordingEnabled: false
                    cloudArchiveEnabled: false
                    id: "1234"
                    maxRetentionDays: 7
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    name: Sample quality retention profile
                    networkId: N_24329156
                    restrictedBandwidthModeEnabled: true
                    scheduleId: null
                    videoSettings:
                      MV12/MV22/MV72:
                        quality: High
                        resolution: 1920x1080
                      MV12WE:
                        quality: High
                        resolution: 1920x1080
                      MV21/MV71:
                        quality: High
                        resolution: 1280x720
                      MV32:
                        quality: Enhanced
                        resolution: 1080x1080
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: List the quality retention profiles for this network
      tags:
      - Camera quality retention profiles
      x-openapi-router-controller: openapi_server.controllers.camera_quality_retention_profiles_controller
    post:
      description: Creates new quality retention profile for this network.
      operationId: create_network_camera_quality_retention_profile
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNetworkCameraQualityRetentionProfile_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    cloudArchiveEnabled: false
                    id: "1234"
                    maxRetentionDays: 7
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    name: Sample quality retention profile
                    networkId: N_24329156
                    restrictedBandwidthModeEnabled: true
                    scheduleId: null
                    videoSettings:
                      MV12/MV22/MV72:
                        quality: High
                        resolution: 1920x1080
                      MV12WE:
                        quality: High
                        resolution: 1920x1080
                      MV21/MV71:
                        quality: High
                        resolution: 1280x720
                      MV32:
                        quality: Enhanced
                        resolution: 1080x1080
              schema:
                type: object
          description: Successful operation
      summary: Creates new quality retention profile for this network.
      tags:
      - Camera quality retention profiles
      x-openapi-router-controller: openapi_server.controllers.camera_quality_retention_profiles_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}:
    delete:
      description: Delete an existing quality retention profile for this network.
      operationId: delete_network_camera_quality_retention_profile
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: qualityRetentionProfileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
      summary: Delete an existing quality retention profile for this network.
      tags:
      - Camera quality retention profiles
      x-openapi-router-controller: openapi_server.controllers.camera_quality_retention_profiles_controller
    get:
      description: Retrieve a single quality retention profile
      operationId: get_network_camera_quality_retention_profile
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: qualityRetentionProfileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    cloudArchiveEnabled: false
                    id: "1234"
                    maxRetentionDays: 7
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    name: Sample quality retention profile
                    networkId: N_24329156
                    restrictedBandwidthModeEnabled: true
                    scheduleId: null
                    videoSettings:
                      MV12/MV22/MV72:
                        quality: High
                        resolution: 1920x1080
                      MV12WE:
                        quality: High
                        resolution: 1920x1080
                      MV21/MV71:
                        quality: High
                        resolution: 1280x720
                      MV32:
                        quality: Enhanced
                        resolution: 1080x1080
              schema:
                type: object
          description: Successful operation
      summary: Retrieve a single quality retention profile
      tags:
      - Camera quality retention profiles
      x-openapi-router-controller: openapi_server.controllers.camera_quality_retention_profiles_controller
    put:
      description: Update an existing quality retention profile for this network.
      operationId: update_network_camera_quality_retention_profile
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: qualityRetentionProfileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkCameraQualityRetentionProfile_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    cloudArchiveEnabled: false
                    id: "1234"
                    maxRetentionDays: 7
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    name: Sample quality retention profile
                    networkId: N_24329156
                    restrictedBandwidthModeEnabled: true
                    scheduleId: null
                    videoSettings:
                      MV12/MV22/MV72:
                        quality: High
                        resolution: 1920x1080
                      MV12WE:
                        quality: High
                        resolution: 1920x1080
                      MV21/MV71:
                        quality: High
                        resolution: 1280x720
                      MV32:
                        quality: Enhanced
                        resolution: 1080x1080
              schema:
                type: object
          description: Successful operation
      summary: Update an existing quality retention profile for this network.
      tags:
      - Camera quality retention profiles
      x-openapi-router-controller: openapi_server.controllers.camera_quality_retention_profiles_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/camera/schedules:
    get:
      description: Returns a list of all camera recording schedules.
      operationId: get_network_camera_schedules
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - id: "123"
                    name: Weekday schedule
                  - id: "124"
                    name: Office hours
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns a list of all camera recording schedules.
      tags:
      - Cameras
      x-openapi-router-controller: openapi_server.controllers.cameras_controller
  /networks/{networkId}/cameras/{serial}/snapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time
        and return a link to that image.
      operationId: generate_network_camera_snapshot
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateNetworkCameraSnapshot_request'
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
                    url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
              schema:
                type: object
          description: Successful operation
      summary: Generate a snapshot of what the camera sees at the specified time and
        return a link to that image.
      tags:
      - Cameras
      x-openapi-router-controller: openapi_server.controllers.cameras_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/cameras/{serial}/videoLink:
    get:
      description: "Returns video link to the specified camera. If a timestamp is\
        \ supplied, it links to that timestamp."
      operationId: get_network_camera_video_link
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The video link will start at this timestamp. The\
          \ timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified,\
          \ we will assume current time."
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
              schema:
                type: object
          description: Successful operation
      summary: Returns video link to the specified camera
      tags:
      - Cameras
      x-openapi-router-controller: openapi_server.controllers.cameras_controller
  /networks/{networkId}/cellularFirewallRules:
    get:
      description: Return the cellular firewall rules for an MX network
      operationId: get_network_cellular_firewall_rules
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - comment: Allow TCP traffic to subnet with HTTP servers.
                    destCidr: 192.168.1.0/24
                    destPort: "443"
                    policy: allow
                    protocol: tcp
                    srcCidr: Any
                    srcPort: Any
                    syslogEnabled: false
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the cellular firewall rules for an MX network
      tags:
      - MX cellular firewall
      x-openapi-router-controller: openapi_server.controllers.mx_cellular_firewall_controller
    put:
      description: Update the cellular firewall rules of an MX network
      operationId: update_network_cellular_firewall_rules
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkCellularFirewallRules_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - comment: Allow TCP traffic to subnet with HTTP servers.
                    destCidr: 192.168.1.0/24
                    destPort: "443"
                    policy: allow
                    protocol: tcp
                    srcCidr: Any
                    srcPort: Any
                    syslogEnabled: false
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Update the cellular firewall rules of an MX network
      tags:
      - MX cellular firewall
      x-openapi-router-controller: openapi_server.controllers.mx_cellular_firewall_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/clients:
    get:
      description: List the clients that have used this network in the timespan
      operationId: get_network_clients
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The number of entries per page returned. Acceptable range is
          3 - 1000. Default is 10.
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: "A token used by the server to indicate the start of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          type: string
        style: form
      - description: "A token used by the server to indicate the end of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Miles's phone
                    firstSeen: 1518365681
                    groupPolicy8021x: Student_Access
                    id: k74272e
                    ip: 1.2.3.4
                    ip6: 2001:db8:3c4d:15::1
                    ip6Local: fe80:0:0:0:1430:aac1:6826:75ab
                    lastSeen: 1526087474
                    mac: 22:33:44:55:66:77
                    manufacturer: Apple
                    notes: My AP's note
                    os: iOS
                    recentDeviceMac: 22:33:44:55:66:77
                    recentDeviceName: Q234-ABCD-5678
                    recentDeviceSerial: 00:11:22:33:44:55
                    smInstalled: true
                    ssid: My SSID
                    status: Online
                    switchport: My switch port
                    usage:
                      recv: 61
                      sent: 138
                    user: milesmeraki
                    vlan: "100"
              schema:
                $ref: '#/components/schemas/getNetworkClients_200_response'
          description: Successful operation
          headers:
            Link:
              description: "A comma-separated list of first, last, prev, and next\
                \ relative links used for subsequent paginated requests."
              explode: false
              schema:
                type: string
              style: simple
      summary: List the clients that have used this network in the timespan
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /networks/{networkId}/clients/connectionStats:
    get:
      description: "Aggregated connectivity info for this network, grouped by clients"
      operationId: get_network_clients_connection_stats
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 180 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter results by band (either '2.4' or '5'). Note that data
          prior to February 2020 will not have band information.
        explode: true
        in: query
        name: band
        required: false
        schema:
          enum:
          - "2.4"
          - "5"
          type: string
        style: form
      - description: Filter results by SSID
        explode: true
        in: query
        name: ssid
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by VLAN
        explode: true
        in: query
        name: vlan
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by AP Tag
        explode: true
        in: query
        name: apTag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - connectionStats:
                      assoc: 0
                      auth: 4
                      dhcp: 0
                      dns: 0
                      success: 10
                    mac: 00:61:71:c8:51:27
                  - connectionStats:
                      assoc: 0
                      auth: 1
                      dhcp: 0
                      dns: 0
                      success: 24
                    mac: 1c:4d:70:7f:5e:5e
                  - connectionStats:
                      assoc: 1
                      auth: 0
                      dhcp: 0
                      dns: 0
                      success: 16
                    mac: 1c:4d:70:81:8d:0a
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "Aggregated connectivity info for this network, grouped by clients"
      tags:
      - Wireless health
      x-openapi-router-controller: openapi_server.controllers.wireless_health_controller
  /networks/{networkId}/clients/latencyStats:
    get:
      description: "Aggregated latency info for this network, grouped by clients"
      operationId: get_network_clients_latency_stats
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 180 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter results by band (either '2.4' or '5'). Note that data
          prior to February 2020 will not have band information.
        explode: true
        in: query
        name: band
        required: false
        schema:
          enum:
          - "2.4"
          - "5"
          type: string
        style: form
      - description: Filter results by SSID
        explode: true
        in: query
        name: ssid
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by VLAN
        explode: true
        in: query
        name: vlan
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by AP Tag
        explode: true
        in: query
        name: apTag
        required: false
        schema:
          type: string
        style: form
      - description: "Partial selection: If present, this call will return only the\
          \ selected fields of [\"rawDistribution\", \"avg\"]. All fields will be\
          \ returned by default. Selected fields must be entered as a comma separated\
          \ string."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - latencyStats:
                      backgroundTraffic:
                        avg: 606.52
                        rawDistribution:
                          "0": 1234
                          "1": 2345
                          "2": 3456
                          "4": 4567
                          "8": 5678
                          "16": 6789
                          "32": 7890
                          "64": 8901
                          "128": 9012
                          "256": 83
                          "512": 1234
                          "1024": 2345
                          "2048": 9999
                      bestEffortTraffic: same shape as backgroundTraffic
                      videoTraffic: same shape as backgroundTraffic
                      voiceTraffic: same shape as backgroundTraffic
                    mac: 00:61:71:c8:51:27
                  - latencyStats:
                      backgroundTraffic:
                        avg: 606.52
                        rawDistribution:
                          "0": 1234
                          "1": 2345
                          "2": 3456
                          "4": 4567
                          "8": 5678
                          "16": 6789
                          "32": 7890
                          "64": 8901
                          "128": 9012
                          "256": 83
                          "512": 1234
                          "1024": 2345
                          "2048": 9999
                      bestEffortTraffic: same shape as backgroundTraffic
                      videoTraffic: same shape as backgroundTraffic
                      voiceTraffic: same shape as backgroundTraffic
                    mac: 1c:4d:70:7f:5e:5e
                  - latencyStats:
                      backgroundTraffic:
                        avg: 606.52
                        rawDistribution:
                          "0": 1234
                          "1": 2345
                          "2": 3456
                          "4": 4567
                          "8": 5678
                          "16": 6789
                          "32": 7890
                          "64": 8901
                          "128": 9012
                          "256": 83
                          "512": 1234
                          "1024": 2345
                          "2048": 9999
                      bestEffortTraffic: same shape as backgroundTraffic
                      videoTraffic: same shape as backgroundTraffic
                      voiceTraffic: same shape as backgroundTraffic
                    mac: 1c:4d:70:81:8d:0a
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "Aggregated latency info for this network, grouped by clients"
      tags:
      - Wireless health
      x-openapi-router-controller: openapi_server.controllers.wireless_health_controller
  /networks/{networkId}/clients/provision:
    post:
      description: Provisions a client with a name and policy. Clients can be provisioned
        before they associate to the network.
      operationId: provision_network_clients
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/provisionNetworkClients_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    clientId: k74272e
                    devicePolicy: Group policy
                    groupPolicyId: "101"
                    mac: 00:11:22:33:44:55
                    name: Miles's phone
              schema:
                type: object
          description: Successful operation
      summary: Provisions a client with a name and policy
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
      x-codegen-request-body-name: body
  /networks/{networkId}/clients/{clientId}:
    get:
      description: Return the client associated with the given identifier. Clients
        can be identified by a client key or either the MAC or IP depending on whether
        the network uses Track-by-IP.
      operationId: get_network_client
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    cdp: null
                    clientVpnConnections:
                    - connectedAt: 1522613355
                      disconnectedAt: 1522613360
                      remoteIp: 1.2.3.4
                    description: Miles's phone
                    firstSeen: 1518365681
                    id: k74272e
                    ip: 1.2.3.4
                    ip6: ""
                    lastSeen: 1526087474
                    lldp:
                    - - System name
                      - Some system name
                    - - System description
                      - Some system description
                    - - Port ID
                      - "1"
                    - - Chassis ID
                      - 00:18:0a:00:00:00
                    - - Port description
                      - eth0
                    - - System capabilities
                      - Two-port MAC Relay
                    mac: 22:33:44:55:66:77
                    manufacturer: Apple
                    os: iOS
                    recentDeviceMac: 00:11:22:33:44:55
                    smInstalled: true
                    ssid: My SSID
                    status: Online
                    switchport: null
                    user: "null"
                    vlan: "255"
                    wirelessCapabilities: 802.11ac - 2.4 and 5 GHz
              schema:
                type: object
          description: Successful operation
      summary: Return the client associated with the given identifier
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /networks/{networkId}/clients/{clientId}/connectionStats:
    get:
      description: Aggregated connectivity info for a given client on this network.
        Clients are identified by their MAC.
      operationId: get_network_client_connection_stats
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 180 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter results by band (either '2.4' or '5'). Note that data
          prior to February 2020 will not have band information.
        explode: true
        in: query
        name: band
        required: false
        schema:
          enum:
          - "2.4"
          - "5"
          type: string
        style: form
      - description: Filter results by SSID
        explode: true
        in: query
        name: ssid
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by VLAN
        explode: true
        in: query
        name: vlan
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by AP Tag
        explode: true
        in: query
        name: apTag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    connectionStats:
                      assoc: 0
                      auth: 4
                      dhcp: 0
                      dns: 0
                      success: 10
                    mac: 00:61:71:c8:51:27
              schema:
                type: object
          description: Successful operation
      summary: Aggregated connectivity info for a given client on this network
      tags:
      - Wireless health
      x-openapi-router-controller: openapi_server.controllers.wireless_health_controller
  /networks/{networkId}/clients/{clientId}/events:
    get:
      description: Return the events associated with this client. Clients can be identified
        by a client key or either the MAC or IP depending on whether the network uses
        Track-by-IP.
      operationId: get_network_client_events
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of entries per page returned. Acceptable range is
          3 - 100. Default is 100.
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: "A token used by the server to indicate the start of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          type: string
        style: form
      - description: "A token used by the server to indicate the end of the page.\
          \ Often this is a timestamp or an ID but it is not limited to those. This\
          \ parameter should not be defined by client applications. The link for the\
          \ first, last, prev, or next page in the HTTP Link header should define\
          \ it."
        explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - details:
                      on_packet: "true"
                      vap: "1"
                    deviceSerial: Q234-ABCD-5678
                    occurredAt: 1518365681
                    type: l3roaming_assoc_start
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
          headers:
            Link:
              description: "A comma-separated list of first, last, prev, and next\
                \ relative links used for subsequent paginated requests."
              explode: false
              schema:
                type: string
              style: simple
      summary: Return the events associated with this client
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /networks/{networkId}/clients/{clientId}/latencyHistory:
    get:
      description: "Return the latency history for a client. Clients can be identified\
        \ by a client key or either the MAC or IP depending on whether the network\
        \ uses Track-by-IP. The latency data is from a sample of 2% of packets and\
        \ is grouped into 4 traffic categories: background, best effort, video, voice.\
        \ Within these categories the sampled packet counters are bucketed by latency\
        \ in milliseconds."
      operationId: get_network_client_latency_history
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 791 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          791 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 791 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 86400. The default is 86400."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - latencyBinsByCategory:
                      backgroundTraffic:
                        "0.5": 41750
                        "1.0": 21552
                        "1024.0": 0
                        "128.0": 0
                        "16.0": 0
                        "2.0": 59940
                        "2048.0": 0
                        "256.0": 1896
                        "32.0": 9954
                        "4.0": 146622
                        "512.0": 0
                        "64.0": 0
                        "8.0": 57354
                      bestEffortTraffic:
                        "0.5": 1840899
                        "1.0": 1644506
                        "1024.0": 4943
                        "128.0": 191977
                        "16.0": 1329568
                        "2.0": 629958
                        "2048.0": 12072
                        "256.0": 30560
                        "32.0": 282168
                        "4.0": 449564
                        "512.0": 26032
                        "64.0": 97573
                        "8.0": 2009658
                      videoTraffic:
                        "0.5": 0
                        "1.0": 0
                        "1024.0": 0
                        "128.0": 0
                        "16.0": 0
                        "2.0": 0
                        "2048.0": 0
                        "256.0": 0
                        "32.0": 0
                        "4.0": 0
                        "512.0": 0
                        "64.0": 0
                        "8.0": 0
                      voiceTraffic:
                        "0.5": 716
                        "1.0": 948
                        "1024.0": 0
                        "128.0": 0
                        "16.0": 0
                        "2.0": 474
                        "2048.0": 0
                        "256.0": 0
                        "32.0": 0
                        "4.0": 78
                        "512.0": 0
                        "64.0": 0
                        "8.0": 0
                    t0: 1550534400
                    t1: 1550620800
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the latency history for a client
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /networks/{networkId}/clients/{clientId}/latencyStats:
    get:
      description: Aggregated latency info for a given client on this network. Clients
        are identified by their MAC.
      operationId: get_network_client_latency_stats
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 180 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter results by band (either '2.4' or '5'). Note that data
          prior to February 2020 will not have band information.
        explode: true
        in: query
        name: band
        required: false
        schema:
          enum:
          - "2.4"
          - "5"
          type: string
        style: form
      - description: Filter results by SSID
        explode: true
        in: query
        name: ssid
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by VLAN
        explode: true
        in: query
        name: vlan
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results by AP Tag
        explode: true
        in: query
        name: apTag
[...]
