openapi: 3.0.1
info:
  contact:
    name: Forum
    url: https://rapidapi.com/BigLobster/api/language-identification-prediction/discussions
  description: Automatic language detection for any texts. Supports over 150 languages.
  title: Language Identification (Prediction)
  version: 1.0.0
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/Rapid_API/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/BigLobsterito/apis/master/language-identification-swagger.yaml
    version: "2.0"
  x-providerName: rapidapi.com
  x-serviceName: language-identification
externalDocs:
  url: https://rapidapi.com/BigLobster/api/language-identification-prediction/details
servers:
- url: https://language-identification-prediction.p.rapidapi.com/v1/
paths:
  /recognize-language/:
    post:
      parameters:
      - in: header
        name: X-RapidAPI-Host
        required: true
        schema:
          default: language-identification-prediction.p.rapidapi.com
          type: string
      - in: header
        name: X-RapidAPI-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_recognize_language__post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_recognize_language__post_request'
        required: true
      responses:
        "200":
          content: {}
          description: OK
      summary: Recognize Language
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
components:
  schemas:
    _recognize_language__post_request:
      properties:
        text:
          description: text
          type: string
      required:
      - text
      type: object
x-original-swagger-version: "2.0"

