openapi: 3.0.1
info:
  description: Validate and generate passwords using open source tools
  title: PasswordUtility.Web
  version: v1
  x-apisguru-categories:
  - security
  - tools
  x-origin:
  - format: swagger
    url: http://passwordutility.net/swagger/docs/v1
    version: "2.0"
  x-providerName: passwordutility.net
servers:
- url: http://passwordutility.net:80/
paths:
  /api/password/generate:
    post:
      deprecated: false
      operationId: password_generate
      parameters:
      - in: query
        name: length
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: upperCase
        schema:
          type: boolean
      - in: query
        name: digits
        schema:
          type: boolean
      - in: query
        name: specialCharacters
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      tags:
      - Password
      x-openapi-router-controller: openapi_server.controllers.password_controller
  /api/password/validate:
    post:
      deprecated: false
      operationId: password_validate
      parameters:
      - in: query
        name: password
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      tags:
      - Password
      x-openapi-router-controller: openapi_server.controllers.password_controller
components:
  schemas:
    Object:
      type: object
x-original-swagger-version: "2.0"
