openapi: 3.0.1
info:
  description: Azure NotificationHub client
  title: NotificationHubsManagementClient
  version: 2017-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/notificationhubs.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: notificationhubs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.NotificationHubs/operations:
    get:
      description: Lists all of the available NotificationHubs REST API operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: NotificationHubs error response describing why the operation
            failed.
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2017-04-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Registers the NotificationHubs Provider
                    provider: Microsoft Azure Notification Hub
                    resource: Microsoft Azure Notification Hub
                  name: Microsoft.NotificationHubs/register/action
                - display:
                    operation: Unregisters the NotificationHubs Provider
                    provider: Microsoft Azure Notification Hub
                    resource: Microsoft Azure Notification Hub
                  name: Microsoft.NotificationHubs/unregister/action
                - display:
                    operation: Operation results for Notification Hubs provider
                    provider: Microsoft Azure Notification Hub
                    resource: Microsoft Azure Notification Hub
                  name: Microsoft.NotificationHubs/operationResults/read
                - display:
                    operation: Get namespace availability.
                    provider: Microsoft Azure Notification Hub
                    resource: Microsoft Azure Notification Hub
                  name: Microsoft.NotificationHubs/CheckNamespaceAvailability/action
                - display:
                    operation: 'Create Or Update Namespace '
                    provider: Microsoft Azure Notification Hub
                    resource: Namespace
                  name: Microsoft.NotificationHubs/namespaces/write
                - display:
                    operation: Get Namespace Resource
                    provider: Microsoft Azure NotificationHubs
                    resource: Namespace
                  name: Microsoft.NotificationHubs/namespaces/read
                - display:
                    operation: Delete Namespace
                    provider: Microsoft Azure NotificationHubs
                    resource: Namespace
                  name: Microsoft.NotificationHubs/namespaces/Delete
                - display:
                    operation: Create or Update Namespace Authorization Rules
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/write
                - display:
                    operation: Get Namespace Authorization Rules
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/action
                - display:
                    operation: Get Namespace Authorization Rules
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/read
                - display:
                    operation: Delete Namespace Authorization Rule
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/delete
                - display:
                    operation: Get Namespace Listkeys
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/authorizationRules/regenerateKeys/action
                - display:
                    operation: CheckNotificationHubAvailability
                    provider: Microsoft Azure NotificationHubs
                    resource: AuthorizationRules
                  name: Microsoft.NotificationHubs/Namespaces/CheckNotificationHubAvailability/action
                - display:
                    operation: Create or Update notification hub
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/write
                - display:
                    operation: Get notification hub
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/read
                - display:
                    operation: Delete notification hub
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/Delete
                - display:
                    operation: Create or Update NotificationHub Authorization Rule
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub Authorization Rule
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/write
                - display:
                    operation: ' Get NotificationHub Authorization Rules'
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/action
                - display:
                    operation: ' Get NotificationHub Authorization Rules'
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/read
                - display:
                    operation: Delete NotificationHub Authorization Rules
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/delete
                - display:
                    operation: List NotificationHub keys
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub AuthorizationRules
                  name: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules/regenerateKeys/action
                - display:
                    operation: Resource Get Notification Hub PNS Credentials
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub PnsCredential
                  name: Microsoft.NotificationHubs/Namespaces/NotificationHubs/pnsCredentials/action
                - display:
                    operation: Send a test push notification
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub resource
                  name: Microsoft.NotificationHubs/Namespaces/NotificationHubs/debugSend/action
                - display:
                    operation: Get NotificationHub metrics
                    provider: Microsoft Azure NotificationHubs
                    resource: NotificationHub metrics
                  name: Microsoft.NotificationHubs/Namespaces/NotificationHubs/metricDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability:
    post:
      description: Checks the availability of the given service namespace across all
        Azure subscriptions. This is useful because the domain name is created based
        on the service namespace name.
      operationId: namespaces_check_availability
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The namespace name.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
          description: Checks if the Namespace name is a valid available name
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceCheckNameAvailability:
          parameters:
            api-version: 2017-04-01
            parameters:
              name: sdk-Namespace-2924
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/providers/Microsoft.NotificationHubs/CheckNamespaceAvailability
                isAvailiable: false
                location: West Europe
                name: mytestnamespace
                type: Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      operationId: namespaces_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Gets all the Namespaces within the subscription irrespective
            of the ResourceGroup
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceList:
          parameters:
            api-version: 2017-04-01
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                  location: South Central US
                  name: NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                  properties:
                    createdAt: 2016-08-23T02:40:17.27Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T07:15:30.78Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-41dc63f4-0b08-4029-b3ef-535a131bfa65
                  location: South Central US
                  name: NS-41dc63f4-0b08-4029-b3ef-535a131bfa65
                  properties:
                    createdAt: 2016-08-23T03:50:38.98Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-41dc63f4-0b08-4029-b3ef-535a131bfa65
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-41dc63f4-0b08-4029-b3ef-535a131bfa65.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:42:58.003Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-df52cf51-e831-4bf2-bd92-e9885f68a996
                  location: South Central US
                  name: NS-df52cf51-e831-4bf2-bd92-e9885f68a996
                  properties:
                    createdAt: 2016-09-16T01:17:54.997Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-df52cf51-e831-4bf2-bd92-e9885f68a996
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-df52cf51-e831-4bf2-bd92-e9885f68a996.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:44:39.737Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/sadfsadfsadf/providers/Microsoft.NotificationHubs/namespaces/rrama-ns2
                  location: South Central US
                  name: rrama-ns2
                  properties:
                    createdAt: 2016-08-23T04:14:00.013Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:rrama-ns2
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-ns2.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-03T22:53:32.927Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-20e57600-29d0-4035-ac85-74f4c54dcda1
                  location: South Central US
                  name: NS-20e57600-29d0-4035-ac85-74f4c54dcda1
                  properties:
                    createdAt: 2016-08-23T03:30:49.16Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-20e57600-29d0-4035-ac85-74f4c54dcda1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-20e57600-29d0-4035-ac85-74f4c54dcda1.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:17:58.483Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-3e538a1a-58fb-4315-b2ce-76f5c944114c
                  location: South Central US
                  name: NS-3e538a1a-58fb-4315-b2ce-76f5c944114c
                  properties:
                    createdAt: 2016-09-16T18:07:30.05Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-3e538a1a-58fb-4315-b2ce-76f5c944114c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-3e538a1a-58fb-4315-b2ce-76f5c944114c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:42:57.747Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                  location: South Central US
                  name: NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                  properties:
                    createdAt: 2016-09-16T01:01:58.73Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T03:02:59.8Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                  location: South Central US
                  name: NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                  properties:
                    createdAt: 2016-08-23T03:22:45.327Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:08:01.207Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-c05e9df3-7737-44ee-a321-15f6e0545b97
                  location: South Central US
                  name: NS-c05e9df3-7737-44ee-a321-15f6e0545b97
                  properties:
                    createdAt: 2016-08-05T03:29:19.75Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-c05e9df3-7737-44ee-a321-15f6e0545b97
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-c05e9df3-7737-44ee-a321-15f6e0545b97.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:10:35.527Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-dcb4152c-231b-4c16-a683-07cc6b38fa46
                  location: South Central US
                  name: NS-dcb4152c-231b-4c16-a683-07cc6b38fa46
                  properties:
                    createdAt: 2016-08-05T03:34:35.363Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-dcb4152c-231b-4c16-a683-07cc6b38fa46
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-dcb4152c-231b-4c16-a683-07cc6b38fa46.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:33:00.957Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-f501f5e6-1f24-439b-8982-9af665156d40
                  location: South Central US
                  name: NS-f501f5e6-1f24-439b-8982-9af665156d40
                  properties:
                    createdAt: 2016-09-16T01:25:55.707Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-f501f5e6-1f24-439b-8982-9af665156d40
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-f501f5e6-1f24-439b-8982-9af665156d40.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T07:42:59.687Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                  location: South Central US
                  name: NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                  properties:
                    createdAt: 2016-08-23T02:32:08.227Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:32:57.77Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                  location: South Central US
                  name: NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                  properties:
                    createdAt: 2016-09-16T00:54:05.103Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:43:50.313Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-6520cc09-01ac-40a3-bc09-c5c431116e92
                  location: South Central US
                  name: NS-6520cc09-01ac-40a3-bc09-c5c431116e92
                  properties:
                    createdAt: 2016-09-16T01:49:59.243Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-6520cc09-01ac-40a3-bc09-c5c431116e92
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-6520cc09-01ac-40a3-bc09-c5c431116e92.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:15:36.95Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-bfba6d5c-a425-42d9-85db-0f4da770e29a
                  location: South Central US
                  name: NS-bfba6d5c-a425-42d9-85db-0f4da770e29a
                  properties:
                    createdAt: 2016-08-05T03:23:32.083Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-bfba6d5c-a425-42d9-85db-0f4da770e29a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-bfba6d5c-a425-42d9-85db-0f4da770e29a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:02:57.433Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-43b136b4-8716-40b2-97c5-0d77cac0062c
                  location: South Central US
                  name: NS-43b136b4-8716-40b2-97c5-0d77cac0062c
                  properties:
                    createdAt: 2016-08-23T03:14:50.577Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-43b136b4-8716-40b2-97c5-0d77cac0062c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-43b136b4-8716-40b2-97c5-0d77cac0062c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:23:01.067Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-7c0443de-5f88-450c-b574-83f60a097dd1
                  location: South Central US
                  name: NS-7c0443de-5f88-450c-b574-83f60a097dd1
                  properties:
                    createdAt: 2016-08-23T04:07:15.397Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-7c0443de-5f88-450c-b574-83f60a097dd1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-7c0443de-5f88-450c-b574-83f60a097dd1.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:03:03.097Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-62dd7753-a5f9-42fd-a354-ca38a4505d69
                  location: South Central US
                  name: NS-62dd7753-a5f9-42fd-a354-ca38a4505d69
                  properties:
                    createdAt: 2016-09-16T01:33:50.45Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-62dd7753-a5f9-42fd-a354-ca38a4505d69
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-62dd7753-a5f9-42fd-a354-ca38a4505d69.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:35:33.053Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-ae18a18c-97ab-4089-965d-8acbf4794091
                  location: South Central US
                  name: NS-ae18a18c-97ab-4089-965d-8acbf4794091
                  properties:
                    createdAt: 2016-08-23T02:43:36.517Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-ae18a18c-97ab-4089-965d-8acbf4794091
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-ae18a18c-97ab-4089-965d-8acbf4794091.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T12:40:30.587Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                  location: South Central US
                  name: NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                  properties:
                    createdAt: 2016-09-16T00:46:03.773Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:43:54.56Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                  location: South Central US
                  name: NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                  properties:
                    createdAt: 2016-08-23T03:59:12.1Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:33:52.23Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-d9337efd-9b27-454c-b2a5-dcfea56920d9
                  location: South Central US
                  name: NS-d9337efd-9b27-454c-b2a5-dcfea56920d9
                  properties:
                    createdAt: 2016-08-05T03:45:09.27Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-d9337efd-9b27-454c-b2a5-dcfea56920d9
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-d9337efd-9b27-454c-b2a5-dcfea56920d9.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:20:31.863Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                  location: South Central US
                  name: NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                  properties:
                    createdAt: 2016-08-23T02:34:36.447Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:15:31.607Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-d447fb03-c7da-40fe-b5eb-14f36888837b
                  location: South Central US
                  name: NS-d447fb03-c7da-40fe-b5eb-14f36888837b
                  properties:
                    createdAt: 2016-08-05T00:53:46.697Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-d447fb03-c7da-40fe-b5eb-14f36888837b
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-d447fb03-c7da-40fe-b5eb-14f36888837b.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T11:09:41.26Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/RapscallionResources/providers/Microsoft.NotificationHubs/namespaces/ReproSB
                  location: South Central US
                  name: ReproSB
                  properties:
                    createdAt: 2017-02-27T19:29:34.523Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:reprosb
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://ReproSB.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-27T19:29:58.64Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-4c90097f-19a8-42e7-bb3c-4ac088994719
                  location: South Central US
                  name: NS-4c90097f-19a8-42e7-bb3c-4ac088994719
                  properties:
                    createdAt: 2016-09-16T17:35:32.61Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-4c90097f-19a8-42e7-bb3c-4ac088994719
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-4c90097f-19a8-42e7-bb3c-4ac088994719.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:13:52.27Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/rrama-1-23-17
                  location: South Central US
                  name: rrama-1-23-17
                  properties:
                    createdAt: 2017-01-23T22:54:40.907Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:rrama-1-23-17
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-1-23-17.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-04T00:53:28.777Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                  location: South Central US
                  name: NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                  properties:
                    createdAt: 2016-09-16T17:43:25.71Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T11:05:31.89Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-be903820-3533-46e8-90e4-72c132411848
                  location: South Central US
                  name: NS-be903820-3533-46e8-90e4-72c132411848
                  properties:
                    createdAt: 2016-08-05T03:24:01.923Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-be903820-3533-46e8-90e4-72c132411848
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-be903820-3533-46e8-90e4-72c132411848.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:09:42.513Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/rrama-namespace1
                  location: South Central US
                  name: rrama-namespace1
                  properties:
                    createdAt: 2016-08-05T00:47:22.963Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:rrama-namespace1
                    provisioningState: Created
                    serviceBusEndpoint: https://rrama-namespace1.servicebus.windows-int.net:443/
                    updatedAt: 2016-08-05T00:47:27.297Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                  location: South Central US
                  name: NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                  properties:
                    createdAt: 2016-09-16T00:38:02.517Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:03:55.96Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                  location: South Central US
                  name: NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                  properties:
                    createdAt: 2016-08-23T03:42:40.01Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:33:02.363Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                  location: South Central US
                  name: NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                  properties:
                    createdAt: 2016-08-05T04:28:10.71Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:43:51.587Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-2924
                  location: South Central US
                  name: sdk-Namespace-2924
                  properties:
                    createdAt: 2017-05-25T22:26:36.76Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:sdk-namespace-2924
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-25T22:26:59.35Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/rrama-sb1
                  location: South Central US
                  name: rrama-sb1
                  properties:
                    createdAt: 2017-05-01T21:47:34.903Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:rrama-sb1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-sb1.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-02T02:10:03.083Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/RapscallionResources/providers/Microsoft.NotificationHubs/namespaces/WhackWhack
                  location: South Central US
                  name: WhackWhack
                  properties:
                    createdAt: 2016-10-10T23:39:01.347Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:whackwhack
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://WhackWhack.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-04T00:56:32.687Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                  location: South Central US
                  name: NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                  properties:
                    createdAt: 2016-09-16T17:51:27.73Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:19:43.383Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                  location: South Central US
                  name: NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                  properties:
                    createdAt: 2016-08-05T01:14:25.613Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:ns-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T12:33:01.727Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/bn3-rrama-foo1
                  location: East US 2
                  name: bn3-rrama-foo1
                  properties:
                    createdAt: 2017-04-28T23:54:26.927Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:bn3-rrama-foo1
                    provisioningState: Created
                    serviceBusEndpoint: https://bn3-rrama-foo1.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-28T23:54:26.927Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/bn3-rrama-foo3
                  location: East US 2
                  name: bn3-rrama-foo3
                  properties:
                    createdAt: 2017-04-29T00:24:09.907Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:bn3-rrama-foo3
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://bn3-rrama-foo3.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-29T00:24:33.233Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/bn3-rrama-foo2
                  location: East US 2
                  name: bn3-rrama-foo2
                  properties:
                    createdAt: 2017-04-28T23:57:40.82Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:bn3-rrama-foo2
                    provisioningState: Created
                    serviceBusEndpoint: https://bn3-rrama-foo2.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-28T23:57:40.82Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.NotificationHubs/namespaces/db3-rrama-foo2
                  location: North Europe
                  name: db3-rrama-foo2
                  properties:
                    createdAt: 2017-04-29T00:10:43.463Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:db3-rrama-foo2
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://db3-rrama-foo2.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-29T00:11:09.133Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.NotificationHubs/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists the available namespaces within a resourceGroup.
      operationId: namespaces_list
      parameters:
      - description: The name of the resource group. If resourceGroupName value is
          null the method lists all the namespaces within subscription
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Lists all Namespaces with the ResourceGroup
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceListByResourceGroup:
          parameters:
            api-version: 2017-04-01
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-2924
                  location: South Central US
                  name: sdk-Namespace-2924
                  properties:
                    createdAt: 2017-05-25T22:26:36.76Z
                    metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:sdk-namespace-2924
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-25T22:26:59.35Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.NotificationHubs/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}
  : delete:
      description: Deletes an existing namespace. This operation also removes all
        associated notificationHubs under the namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx
      operationId: namespaces_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace is deleted
        "202":
          content: {}
          description: Namespace delete request has been accepted
        "204":
          content: {}
          description: Namespace is already Deleted
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceDelete:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Returns the description for the specified namespace.
      operationId: namespaces_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Get Namespace
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceGet:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns
                location: South Central US
                name: nh-sdk-ns
                properties:
                  createdAt: 2018-05-02T00:44:56.58Z
                  critical: false
                  dataCenter: SN1
                  enabled: true
                  namespaceType: NotificationHub
                  provisioningState: Succeeded
                  scaleUnit: SN1-001
                  serviceBusEndpoint: https://nh-sdk-ns.servicebus.windows.net:443/
                  status: Active
                  updatedAt: 2018-05-02T01:02:19.79Z
                sku:
                  name: Basic
                tags: {}
                type: Microsoft.NotificationHubs/namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    patch:
      description: Patches the existing namespace
      operationId: namespaces_patch
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespacePatchParameters'
        description: Parameters supplied to patch a Namespace Resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Updated
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceUpdate:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            parameters:
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-3285
                location: South Central US
                name: sdk-Namespace-3285
                properties:
                  createdAt: 2017-05-25T23:07:58.17Z
                  provisioningState: Updating
                  serviceBusEndpoint: https://sdk-Namespace-3285.servicebus.windows-int.net:443/
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag3: value3
                  tag4: value4
                type: Microsoft.NotificationHubs/Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: "Creates/Updates a service namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: namespaces_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters supplied to create a Namespace Resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Create/Update
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Create/Update
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceCreate:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            parameters:
              location: South Central US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-2924
                location: South Central US
                name: sdk-Namespace-2924
                properties:
                  createdAt: 2017-05-25T22:26:36.76Z
                  metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:sdk-namespace-2924
                  provisioningState: Created
                  serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T22:26:36.76Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.NotificationHubs/Namespaces
            "201":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-2924
                location: South Central US
                name: sdk-Namespace-2924
                properties:
                  createdAt: 2017-05-25T22:26:36.76Z
                  metricId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40:sdk-namespace-2924
                  provisioningState: Created
                  serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T22:26:36.76Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.NotificationHubs/Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Gets the authorization rules for a namespace.
      operationId: namespaces_list_authorization_rules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Get the List of AuthorizationRules of a Namespace
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListAll:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/AuthorizationRules/RootManageSharedAccessKey
                  name: RootManageSharedAccessKey
                  properties:
                    claimType: SharedAccessKey
                    claimValue: None
                    createdTime: 2018-05-02T18:24:51.0690674Z
                    keyName: RootManageSharedAccessKey
                    modifiedTime: 2018-05-02T18:31:28.5201555Z
                    primaryKey: e5FIqldZtpiWCwXfFn/MfofvpaqRpB2NzAlq+kGtoZ8=
                    revision: 1
                    rights:
                    - Listen
                    - Manage
                    - Send
                    secondaryKey: p88zp8l/FSPLQyzOj2t2jMZk1k463SoFcQ13ritYjmI=
                  type: Microsoft.NotificationHubs/Namespaces/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule
      operationId: namespaces_delete_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace AuthorizationRule is deleted
        "204":
          content: {}
          description: Namespace AuthorizationRule is already deleted
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          parameters:
            api-version: 2017-04-01
            authorizationRuleName: RootManageSharedAccessKey
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets an authorization rule for a namespace by name.
      operationId: namespaces_get_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Get the Namespace AuthorizationRule
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          parameters:
            api-version: 2017-04-01
            authorizationRuleName: RootManageSharedAccessKey
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/AuthorizationRules/RootManageSharedAccessKey
                location: South Central US
                name: RootManageSharedAccessKey
                properties:
                  claimType: SharedAccessKey
                  claimValue: None
                  createdTime: 2018-05-02T18:24:51.0690674Z
                  keyName: RootManageSharedAccessKey
                  modifiedTime: 2018-05-02T18:24:51.0690674Z
                  primaryKey: '############################################'
                  rights:
                  - Listen
                  - Manage
                  - Send
                  secondaryKey: '############################################'
                type: Microsoft.NotificationHubs/Namespaces/AuthorizationRules
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates an authorization rule for a namespace
      operationId: namespaces_create_or_update_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace Authorization Rule is Created/Updated
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          parameters:
            api-version: 2017-04-01
            authorizationRuleName: sdk-AuthRules-1788
            location: West Europe
            namespaceName: nh-sdk-ns
            parameters:
              properties:
                rights:
                - Listen
                - Send
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/ArunMonocle/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-6914/AuthorizationRules/sdk-AuthRules-1788
                name: sdk-AuthRules-1788
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.NotificationHubs/Namespaces/AuthorizationRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
      operationId: namespaces_list_keys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary
            keys along with the ConnectionStrings
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          parameters:
            api-version: 2017-04-01
            authorizationRuleName: RootManageSharedAccessKey
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/AuthorizationRules/RootManageSharedAccessKey
                  name: RootManageSharedAccessKey
                  properties:
                    claimType: SharedAccessKey
                    claimValue: None
                    createdTime: 2018-05-02T18:24:51.0690674Z
                    keyName: RootManageSharedAccessKey
                    modifiedTime: 2018-05-02T18:24:51.0690674Z
                    primaryKey: '############################################'
                    rights:
                    - Listen
                    - Manage
                    - Send
                    secondaryKey: '############################################'
                  type: Microsoft.NotificationHubs/Namespaces/AuthorizationRules
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the Primary/Secondary Keys to the Namespace Authorization
        Rule
      operationId: namespaces_regenerate_keys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicykeyResource'
        description: Parameters supplied to regenerate the Namespace Authorization
          Rule Key.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: Regenerate the Primary/Secondary Key and returns the Keys and
            the connection string
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2017-04-01
            authorizationRuleName: RootManageSharedAccessKey
            namespaceName: nh-sdk-ns
            parameters:
              policyKey: PrimaryKey
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                keyName: RootManageSharedAccessKey
                primaryConnectionString: Endpoint=sb://nh-sdk-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=############################################
                primaryKey: '############################################'
                secondaryConnectionString: Endpoint=sb://nh-sdk-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=############################################
                secondaryKey: '############################################'
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      description: Checks the availability of the given notificationHub in a namespace.
      operationId: notification_hubs_check_notification_hub_availability
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The notificationHub name.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
          description: Checks if the NotificationHub name is a valid available name
      tags:
      - NotificationHubs
      x-ms-examples:
        notificationHubCheckNameAvailability:
          parameters:
            api-version: 2017-04-01
            namespaceName: locp-newns
            parameters:
              location: West Europe
              name: sdktest
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourcegroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/locp-newns/CheckNotificationHubAvailability
                isAvailiable: true
                location: West Europe
                name: sdktest
                type: Microsoft.NotificationHubs/namespaces/notificationHubs/checkNotificationHubAvailability
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      description: Lists the notification hubs associated with a namespace.
      operationId: notification_hubs_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
          description: Get all NotificationHubs within a Namespace
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubListByNameSpace:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/NotificationHubs/nh-sdk-hub
                  location: South Central US
                  name: nh-sdk-hub
                  properties:
                    authorizationRules: []
                    registrationTtl: 10675199.02:48:05.4775807
                  type: Microsoft.NotificationHubs/namespaces/notificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : delete:
      description: Deletes a notification hub associated with a namespace.
      operationId: notification_hubs_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace is deleted
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubDelete:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            notificationHubName: nh-sdk-hub
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: notification_hubs_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: Get the NotificationHub
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubGet:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            notificationHubName: nh-sdk-hub
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/sdkresourceGroup/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/notificationHubs/nh-sdk-hub
                location: South Central US
                name: nh-sdk-hub
                properties:
                  authorizationRules: []
                  registrationTtl: 10675199.02:48:05.4775807
                type: Microsoft.NotificationHubs/namespaces/notificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    patch:
      description: Patch a NotificationHub in a namespace.
      operationId: notification_hubs_patch
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubPatchParameters'
        description: Parameters supplied to patch a NotificationHub Resource.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is patched
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubPatch:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            notificationHubName: sdk-notificationHubs-8708
            parameters: {}
            resourceGroupName: sdkresourceGroup
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/sdkresourceGroup/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/notificationHubs/nh-sdk-hub
                location: South Central US
                name: nh-sdk-hub
                properties:
                  authorizationRules: []
                  registrationTtl: 10675199.02:48:05.4775807
                type: Microsoft.NotificationHubs/namespaces/notificationHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    put:
      description: Creates/Update a NotificationHub in a namespace.
      operationId: notification_hubs_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubCreateOrUpdateParameters'
        description: Parameters supplied to the create/update a NotificationHub Resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is Created/Updated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is Created/Updated
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubCreate:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            notificationHubName: nh-sdk-hub
            parameters:
              location: eastus
              properties: {}
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/sdkresourceGroup/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/notificationHubs/nh-sdk-hub
                location: eastus
                name: nh-sdk-hub
                properties:
                  authorizationRules: []
                  registrationTtl: 10675199.02:48:05.4775807
                type: Microsoft.NotificationHubs/namespaces/notificationHubs
            "201":
              body:
                id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/sdkresourceGroup/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/notificationHubs/nh-sdk-hub
                location: eastus
                name: nh-sdk-hub
                properties:
                  authorizationRules: []
                  registrationTtl: 10675199.02:48:05.4775807
                type: Microsoft.NotificationHubs/namespaces/notificationHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules
  : get:
      description: Gets the authorization rules for a NotificationHub.
      operationId: notification_hubs_list_authorization_rules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Get all NotificationHub AuthorizationRules
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleListAll:
          parameters:
            api-version: 2017-04-01
            namespaceName: nh-sdk-ns
            notificationHubName: nh-sdk-hub
            resourceGroupName: 5ktrial
            subscriptionId: 29cfa613-cbbc-4512-b1d6-1b3a92c7fa40
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/NotificationHubs/nh-sdk-hub/AuthorizationRules/DefaultListenSharedAccessSignature
                  location: West Europe
                  name: DefaultListenSharedAccessSignature
                  properties:
                    claimType: SharedAccessKey
                    claimValue: None
                    createdTime: 2018-05-02T00:45:22.0150024Z
                    keyName: DefaultListenSharedAccessSignature
                    modifiedTime: 2018-05-02T00:45:22.0150024Z
                    primaryKey: '#################################'
                    rights:
                    - Listen
                    secondaryKey: '#################################'
                  type: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules
                - id: /subscriptions/29cfa613-cbbc-4512-b1d6-1b3a92c7fa40/resourceGroups/5ktrial/providers/Microsoft.NotificationHubs/namespaces/nh-sdk-ns/NotificationHubs/nh-sdk-hub/AuthorizationRules/DefaultFullSharedAccessSignature
                  location: West Europe
                  name: DefaultFullSharedAccessSignature
                  properties:
                    claimType: SharedAccessKey
                    claimValue: None
                    createdTime: 2018-05-02T00:45:22.0150024Z
                    keyName: DefaultFullSharedAccessSignature
                    modifiedTime: 2018-05-02T00:45:22.0150024Z
                    primaryKey: '#################################'
                    rights:
                    - Listen
                    - Manage
                    - Send
                    secondaryKey: '#################################'
                  type: Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
[...]
