openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Manages the API keys associated with developer projects.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: API Keys API
  version: v2
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://apikeys.googleapis.com/$discovery/rest?version=v2
    version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: apikeys
externalDocs:
  url: https://cloud.google.com/api-keys/docs
servers:
- url: https://apikeys.googleapis.com/
tags:
- name: keys
- name: operations
- name: projects
paths:
  /v2/keys:lookupKey:
    get:
      description: "Find the parent project and resource name of the API key that\
        \ matches the key string in the request. If the API key has been purged, resource\
        \ name will not be set. The service account must have the `apikeys.keys.lookup`\
        \ permission on the parent project."
      operationId: apikeys_keys_lookup_key
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Finds the project that owns the key string value.
        explode: true
        in: query
        name: keyString
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2LookupKeyResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - keys
      x-openapi-router-controller: openapi_server.controllers.keys_controller
  /v2/{name}:
    delete:
      description: "Deletes an API key. Deleted key can be retrieved within 30 days\
        \ of deletion. Afterward, key will be purged from the project. NOTE: Key is\
        \ a global resource; hence the only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the API key to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. The etag known to the client for the expected state
          of the key. This is to be used for optimistic concurrency.
        explode: true
        in: query
        name: etag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: "Gets the metadata for an API key. The key string of the API key\
        \ isn't included in the response. NOTE: Key is a global resource; hence the\
        \ only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the API key to get.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Key'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Patches the modifiable fields of an API key. The key string of\
        \ the API key isn't included in the response. NOTE: Key is a global resource;\
        \ hence the only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Output only. The resource name of the key. The `name` has the\
          \ form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2`\
          \ NOTE: Key is a global resource; hence the only supported value for location\
          \ is `global`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "The field mask specifies which fields to be updated as part\
          \ of this request. All other fields are ignored. Mutable fields are: `display_name`,\
          \ `restrictions`, and `annotations`. If an update mask is not provided,\
          \ the service treats it as an implied mask equivalent to all allowed fields\
          \ that are set on the wire. If the field mask has a special value \"*\"\
          , the service treats it equivalent to replace all allowed mutable fields."
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2Key'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{name}/keyString:
    get:
      description: "Get the key string for an API key. NOTE: Key is a global resource;\
        \ hence the only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_get_key_string
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the API key to be retrieved.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2GetKeyStringResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{name}:undelete:
    post:
      description: "Undeletes an API key which was deleted within 30 days. NOTE: Key\
        \ is a global resource; hence the only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_undelete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the API key to be undeleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2UndeleteKeyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{parent}/keys:
    get:
      description: "Lists the API keys owned by a project. The key string of the API\
        \ key isn't included in the response. NOTE: Key is a global resource; hence\
        \ the only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Lists all API keys associated with this project.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Specifies the maximum number of results to be returned
          at a time.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. Requests a specific page of results.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Indicate that keys deleted in the past 30 days should
          also be returned.
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ListKeysResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a new API key. NOTE: Key is a global resource; hence the\
        \ only supported value for location is `global`."
      operationId: apikeys_projects_locations_keys_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The project in which the API key is created.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "User specified key id (optional). If specified, it will become\
          \ the final component of the key resource name. The id must be unique within\
          \ the project, must conform with RFC-1034, is restricted to lower-cased\
          \ letters, and has a maximum length of 63 characters. In another word, the\
          \ id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.\
          \ The id must NOT be a UUID-like string."
        explode: true
        in: query
        name: keyId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2Key'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Operation:
      description: This resource represents a long-running operation that is the result
        of a network API call.
      example:
        metadata:
          key: ""
        response:
          key: ""
        name: name
        error:
          code: 0
          details:
          - key: ""
          - key: ""
          message: message
        done: true
      properties:
        done:
          description: "If the value is `false`, it means the operation is still in\
            \ progress. If `true`, the operation is completed, and either `error`\
            \ or `response` is available."
          title: done
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "Service-specific metadata associated with the operation. It\
            \ typically contains progress information and common metadata such as\
            \ create time. Some services might not provide such metadata. Any method\
            \ that returns a long-running operation should document the metadata type,\
            \ if any."
          title: metadata
          type: object
        name:
          description: "The server-assigned name, which is only unique within the\
            \ same service that originally returns it. If you use the default HTTP\
            \ mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          title: name
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "The normal, successful response of the operation. If the original\
            \ method returns no data on success, such as `Delete`, the response is\
            \ `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`,\
            \ the response should be the resource. For other methods, the response\
            \ should have the type `XxxResponse`, where `Xxx` is the original method\
            \ name. For example, if the original method name is `TakeSnapshot()`,\
            \ the inferred response type is `TakeSnapshotResponse`."
          title: response
          type: object
      title: Operation
      type: object
    Status:
      description: "The `Status` type defines a logical error model that is suitable\
        \ for different programming environments, including REST APIs and RPC APIs.\
        \ It is used by [gRPC](https://github.com/grpc). Each `Status` message contains\
        \ three pieces of data: error code, error message, and error details. You\
        \ can find out more about this error model and how to work with it in the\
        \ [API Design Guide](https://cloud.google.com/apis/design/errors)."
      example:
        code: 0
        details:
        - key: ""
        - key: ""
        message: message
      properties:
        code:
          description: "The status code, which should be an enum value of google.rpc.Code."
          format: int32
          title: code
          type: integer
        details:
          description: A list of messages that carry the error details. There is a
            common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          title: details
          type: array
        message:
          description: "A developer-facing error message, which should be in English.\
            \ Any user-facing error message should be localized and sent in the google.rpc.Status.details\
            \ field, or localized by the client."
          title: message
          type: string
      title: Status
      type: object
    V2AndroidApplication:
      description: Identifier of an Android application for key use.
      example:
        sha1Fingerprint: sha1Fingerprint
        packageName: packageName
      properties:
        packageName:
          description: The package name of the application.
          title: packageName
          type: string
        sha1Fingerprint:
          description: "The SHA1 fingerprint of the application. For example, both\
            \ sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09\
            \ or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter."
          title: sha1Fingerprint
          type: string
      title: V2AndroidApplication
      type: object
    V2AndroidKeyRestrictions:
      description: The Android apps that are allowed to use the key.
      example:
        allowedApplications:
        - sha1Fingerprint: sha1Fingerprint
          packageName: packageName
        - sha1Fingerprint: sha1Fingerprint
          packageName: packageName
      properties:
        allowedApplications:
          description: A list of Android applications that are allowed to make API
            calls with this key.
          items:
            $ref: '#/components/schemas/V2AndroidApplication'
          title: allowedApplications
          type: array
      title: V2AndroidKeyRestrictions
      type: object
    V2ApiTarget:
      description: A restriction for a specific service and optionally one or multiple
        specific methods. Both fields are case insensitive.
      example:
        methods:
        - methods
        - methods
        service: service
      properties:
        methods:
          description: "Optional. List of one or more methods that can be called.\
            \ If empty, all methods for the service are allowed. A wildcard (*) can\
            \ be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage`\
            \ `TranslateText` `Get*` `translate.googleapis.com.Get*`"
          items:
            type: string
          title: methods
          type: array
        service:
          description: "The service for this restriction. It should be the canonical\
            \ service name, for example: `translate.googleapis.com`. You can use [`gcloud\
            \ services list`](/sdk/gcloud/reference/services/list) to get a list of\
            \ services that are enabled in the project."
          title: service
          type: string
      title: V2ApiTarget
      type: object
    V2BrowserKeyRestrictions:
      description: The HTTP referrers (websites) that are allowed to use the key.
      example:
        allowedReferrers:
        - allowedReferrers
        - allowedReferrers
      properties:
        allowedReferrers:
          description: A list of regular expressions for the referrer URLs that are
            allowed to make API calls with this key.
          items:
            type: string
          title: allowedReferrers
          type: array
      title: V2BrowserKeyRestrictions
      type: object
    V2GetKeyStringResponse:
      description: Response message for `GetKeyString` method.
      example:
        keyString: keyString
      properties:
        keyString:
          description: An encrypted and signed value of the key.
          title: keyString
          type: string
      title: V2GetKeyStringResponse
      type: object
    V2IosKeyRestrictions:
      description: The iOS apps that are allowed to use the key.
      example:
        allowedBundleIds:
        - allowedBundleIds
        - allowedBundleIds
      properties:
        allowedBundleIds:
          description: A list of bundle IDs that are allowed when making API calls
            with this key.
          items:
            type: string
          title: allowedBundleIds
          type: array
      title: V2IosKeyRestrictions
      type: object
    V2Key:
      description: The representation of a key managed by the API Keys API.
      example:
        uid: uid
        createTime: createTime
        deleteTime: deleteTime
        displayName: displayName
        name: name
        annotations:
          key: annotations
        restrictions:
          apiTargets:
          - methods:
            - methods
            - methods
            service: service
          - methods:
            - methods
            - methods
            service: service
          androidKeyRestrictions:
            allowedApplications:
            - sha1Fingerprint: sha1Fingerprint
              packageName: packageName
            - sha1Fingerprint: sha1Fingerprint
              packageName: packageName
          serverKeyRestrictions:
            allowedIps:
            - allowedIps
            - allowedIps
          iosKeyRestrictions:
            allowedBundleIds:
            - allowedBundleIds
            - allowedBundleIds
          browserKeyRestrictions:
            allowedReferrers:
            - allowedReferrers
            - allowedReferrers
        etag: etag
        updateTime: updateTime
        keyString: keyString
      properties:
        annotations:
          additionalProperties:
            type: string
          description: Annotations is an unstructured key-value map stored with a
            policy that may be set by external tools to store and retrieve arbitrary
            metadata. They are not queryable and should be preserved when modifying
            objects.
          title: annotations
          type: object
        createTime:
          description: Output only. A timestamp identifying the time this key was
            originally created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        deleteTime:
          description: "Output only. A timestamp when this key was deleted. If the\
            \ resource is not deleted, this must be empty."
          format: google-datetime
          readOnly: true
          title: deleteTime
          type: string
        displayName:
          description: Human-readable display name of this key that you can modify.
            The maximum length is 63 characters.
          title: displayName
          type: string
        etag:
          description: Output only. A checksum computed by the server based on the
            current value of the Key resource. This may be sent on update and delete
            requests to ensure the client has an up-to-date value before proceeding.
            See https://google.aip.dev/154.
          readOnly: true
          title: etag
          type: string
        keyString:
          description: Output only. An encrypted and signed value held by this key.
            This field can be accessed only through the `GetKeyString` method.
          readOnly: true
          title: keyString
          type: string
        name:
          description: "Output only. The resource name of the key. The `name` has\
            \ the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2`\
            \ NOTE: Key is a global resource; hence the only supported value for location\
            \ is `global`."
          readOnly: true
          title: name
          type: string
        restrictions:
          $ref: '#/components/schemas/V2Restrictions'
        uid:
          description: Output only. Unique id in UUID4 format.
          readOnly: true
          title: uid
          type: string
        updateTime:
          description: Output only. A timestamp identifying the time this key was
            last updated.
          format: google-datetime
          readOnly: true
          title: updateTime
          type: string
      title: V2Key
      type: object
    V2ListKeysResponse:
      description: Response message for `ListKeys` method.
      example:
        keys:
        - uid: uid
          createTime: createTime
          deleteTime: deleteTime
          displayName: displayName
          name: name
          annotations:
            key: annotations
          restrictions:
            apiTargets:
            - methods:
              - methods
              - methods
              service: service
            - methods:
              - methods
              - methods
              service: service
            androidKeyRestrictions:
              allowedApplications:
              - sha1Fingerprint: sha1Fingerprint
                packageName: packageName
              - sha1Fingerprint: sha1Fingerprint
                packageName: packageName
            serverKeyRestrictions:
              allowedIps:
              - allowedIps
              - allowedIps
            iosKeyRestrictions:
              allowedBundleIds:
              - allowedBundleIds
              - allowedBundleIds
            browserKeyRestrictions:
              allowedReferrers:
              - allowedReferrers
              - allowedReferrers
          etag: etag
          updateTime: updateTime
          keyString: keyString
        - uid: uid
          createTime: createTime
          deleteTime: deleteTime
          displayName: displayName
          name: name
          annotations:
            key: annotations
          restrictions:
            apiTargets:
            - methods:
              - methods
              - methods
              service: service
            - methods:
              - methods
              - methods
              service: service
            androidKeyRestrictions:
              allowedApplications:
              - sha1Fingerprint: sha1Fingerprint
                packageName: packageName
              - sha1Fingerprint: sha1Fingerprint
                packageName: packageName
            serverKeyRestrictions:
              allowedIps:
              - allowedIps
              - allowedIps
            iosKeyRestrictions:
              allowedBundleIds:
              - allowedBundleIds
              - allowedBundleIds
            browserKeyRestrictions:
              allowedReferrers:
              - allowedReferrers
              - allowedReferrers
          etag: etag
          updateTime: updateTime
          keyString: keyString
        nextPageToken: nextPageToken
      properties:
        keys:
          description: A list of API keys.
          items:
            $ref: '#/components/schemas/V2Key'
          title: keys
          type: array
        nextPageToken:
          description: The pagination token for the next page of results.
          title: nextPageToken
          type: string
      title: V2ListKeysResponse
      type: object
    V2LookupKeyResponse:
      description: Response message for `LookupKey` method.
      example:
        parent: parent
        name: name
      properties:
        name:
          description: "The resource name of the API key. If the API key has been\
            \ purged, resource name is empty."
          title: name
          type: string
        parent:
          description: The project that owns the key with the value specified in the
            request.
          title: parent
          type: string
      title: V2LookupKeyResponse
      type: object
    V2Restrictions:
      description: Describes the restrictions on the key.
      example:
        apiTargets:
        - methods:
          - methods
          - methods
          service: service
        - methods:
          - methods
          - methods
          service: service
        androidKeyRestrictions:
          allowedApplications:
          - sha1Fingerprint: sha1Fingerprint
            packageName: packageName
          - sha1Fingerprint: sha1Fingerprint
            packageName: packageName
        serverKeyRestrictions:
          allowedIps:
          - allowedIps
          - allowedIps
        iosKeyRestrictions:
          allowedBundleIds:
          - allowedBundleIds
          - allowedBundleIds
        browserKeyRestrictions:
          allowedReferrers:
          - allowedReferrers
          - allowedReferrers
      properties:
        androidKeyRestrictions:
          $ref: '#/components/schemas/V2AndroidKeyRestrictions'
        apiTargets:
          description: "A restriction for a specific service and optionally one or\
            \ more specific methods. Requests are allowed if they match any of these\
            \ restrictions. If no restrictions are specified, all targets are allowed."
          items:
            $ref: '#/components/schemas/V2ApiTarget'
          title: apiTargets
          type: array
        browserKeyRestrictions:
          $ref: '#/components/schemas/V2BrowserKeyRestrictions'
        iosKeyRestrictions:
          $ref: '#/components/schemas/V2IosKeyRestrictions'
        serverKeyRestrictions:
          $ref: '#/components/schemas/V2ServerKeyRestrictions'
      title: V2Restrictions
      type: object
    V2ServerKeyRestrictions:
      description: The IP addresses of callers that are allowed to use the key.
      example:
        allowedIps:
        - allowedIps
        - allowedIps
      properties:
        allowedIps:
          description: A list of the caller IP addresses that are allowed to make
            API calls with this key.
          items:
            type: string
          title: allowedIps
          type: array
      title: V2ServerKeyRestrictions
      type: object
    V2UndeleteKeyRequest:
      description: Request message for `UndeleteKey` method.
      properties: {}
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/cloud-platform.read-only: View your data
              across Google Cloud services and see the email address of your Google
              Account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/cloud-platform.read-only: View your data
              across Google Cloud services and see the email address of your Google
              Account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
