openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Reads and writes Google Forms and responses.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Forms API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://forms.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: forms
externalDocs:
  url: https://developers.google.com/forms/api
servers:
- url: https://forms.googleapis.com/
tags:
- name: forms
paths:
  /v1/forms:
    post:
      description: "Create a new form using the title given in the provided form message\
        \ in the request. *Important:* Only the form.info.title and form.info.document_title\
        \ fields are copied to the new form. All other fields including the form description,\
        \ items and settings are disallowed. To create a new form and add items, you\
        \ must first call forms.create to create an empty form with a title and (optional)\
        \ document title, and then call forms.update to add the items."
      operationId: forms_forms_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
      x-codegen-request-body-name: body
  /v1/forms/{formId}:
    get:
      description: Get a form.
      operationId: forms_forms_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The form ID.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
  /v1/forms/{formId}/responses:
    get:
      description: List a form's responses.
      operationId: forms_forms_responses_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the Form whose responses to list.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      - description: "Which form responses to return. Currently, the only supported\
          \ filters are: * timestamp > *N* which means to get all form responses submitted\
          \ after (but not at) timestamp *N*. * timestamp >= *N* which means to get\
          \ all form responses submitted at and after timestamp *N*. For both supported\
          \ filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples:\
          \ \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\"."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of responses to return. The service may return\
          \ fewer than this value. If unspecified or zero, at most 5000 responses\
          \ are returned."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token returned by a previous list response. If this field\
          \ is set, the form and the values of the filter must be the same as for\
          \ the original request."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFormResponsesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
  /v1/forms/{formId}/responses/{responseId}:
    get:
      description: Get one response from the form.
      operationId: forms_forms_responses_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The form ID.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The response ID within the form.
        explode: false
        in: path
        name: responseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
  /v1/forms/{formId}/watches:
    get:
      description: "Return a list of the watches owned by the invoking project. The\
        \ maximum number of watches is two: For each invoker, the limit is one for\
        \ each event type per form."
      operationId: forms_forms_watches_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the Form whose watches to list.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWatchesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
    post:
      description: "Create a new watch. If a watch ID is provided, it must be unused.\
        \ For each invoking project, the per form limit is one watch per Watch.EventType.\
        \ A watch expires seven days after it is created (see Watch.expire_time)."
      operationId: forms_forms_watches_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the Form to watch.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWatchRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watch'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
      x-codegen-request-body-name: body
  /v1/forms/{formId}/watches/{watchId}:
    delete:
      description: Delete a watch.
      operationId: forms_forms_watches_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the Form.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the Watch to delete.
        explode: false
        in: path
        name: watchId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
  /v1/forms/{formId}/watches/{watchId}:renew:
    post:
      description: "Renew an existing watch for seven days. The state of the watch\
        \ after renewal is `ACTIVE`, and the `expire_time` is seven days from the\
        \ renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds\
        \ if the error is no longer present, but fail otherwise. After a watch has\
        \ expired, RenewWatch returns `NOT_FOUND`."
      operationId: forms_forms_watches_renew
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the Form.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the Watch to renew.
        explode: false
        in: path
        name: watchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewWatchRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watch'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/forms.responses.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.responses.readonly
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
      x-codegen-request-body-name: body
  /v1/forms/{formId}:batchUpdate:
    post:
      description: Change the form with a batch of updates.
      operationId: forms_forms_batch_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The form ID.
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateFormRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateFormResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/forms.body
        Oauth2c:
        - https://www.googleapis.com/auth/forms.body
      tags:
      - forms
      x-openapi-router-controller: openapi_server.controllers.forms_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Answer:
      description: The submitted answer for a question.
      example:
        fileUploadAnswers:
          answers:
          - fileName: fileName
            mimeType: mimeType
            fileId: fileId
          - fileName: fileName
            mimeType: mimeType
            fileId: fileId
        questionId: questionId
        textAnswers:
          answers:
          - value: value
          - value: value
        grade:
          feedback:
            material:
            - link:
                displayText: displayText
                uri: uri
              video:
                displayText: displayText
                youtubeUri: youtubeUri
            - link:
                displayText: displayText
                uri: uri
              video:
                displayText: displayText
                youtubeUri: youtubeUri
            text: text
          score: 0.8008281904610115
          correct: true
      properties:
        fileUploadAnswers:
          $ref: '#/components/schemas/FileUploadAnswers'
        grade:
          $ref: '#/components/schemas/Grade'
        questionId:
          description: Output only. The question's ID. See also Question.question_id.
          readOnly: true
          title: questionId
          type: string
        textAnswers:
          $ref: '#/components/schemas/TextAnswers'
      title: Answer
      type: object
    BatchUpdateFormRequest:
      description: A batch of updates to perform on a form. All the specified updates
        are made or none of them are.
      example:
        requests:
        - moveItem:
            originalLocation:
              index: 0
            newLocation:
              index: 0
          deleteItem:
            location:
              index: 0
          createItem:
            item:
              videoItem:
                caption: caption
                video:
                  youtubeUri: youtubeUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              itemId: itemId
              questionItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                question:
                  choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              questionGroupItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                grid:
                  columns:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  shuffleQuestions: true
                questions:
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              textItem: "{}"
              description: description
              title: title
              imageItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              pageBreakItem: "{}"
            location:
              index: 0
          updateItem:
            item:
              videoItem:
                caption: caption
                video:
                  youtubeUri: youtubeUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              itemId: itemId
              questionItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                question:
                  choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              questionGroupItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                grid:
                  columns:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  shuffleQuestions: true
                questions:
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              textItem: "{}"
              description: description
              title: title
              imageItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              pageBreakItem: "{}"
            location:
              index: 0
            updateMask: updateMask
          updateSettings:
            settings:
              quizSettings:
                isQuiz: true
            updateMask: updateMask
          updateFormInfo:
            updateMask: updateMask
            info:
              description: description
              documentTitle: documentTitle
              title: title
        - moveItem:
            originalLocation:
              index: 0
            newLocation:
              index: 0
          deleteItem:
            location:
              index: 0
          createItem:
            item:
              videoItem:
                caption: caption
                video:
                  youtubeUri: youtubeUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              itemId: itemId
              questionItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                question:
                  choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              questionGroupItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                grid:
                  columns:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  shuffleQuestions: true
                questions:
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              textItem: "{}"
              description: description
              title: title
              imageItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              pageBreakItem: "{}"
            location:
              index: 0
          updateItem:
            item:
              videoItem:
                caption: caption
                video:
                  youtubeUri: youtubeUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
              itemId: itemId
              questionItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                question:
                  choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
              questionGroupItem:
                image:
                  altText: altText
                  sourceUri: sourceUri
                  contentUri: contentUri
                  properties:
                    width: 0
                    alignment: ALIGNMENT_UNSPECIFIED
                grid:
                  columns:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  shuffleQuestions: true
                questions:
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
                    generalFeedback:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    whenRight:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    correctAnswers:
                      answers:
                      - value: value
                      - value: value
                  textQuestion:
                    paragraph: true
                  fileUploadQuestion:
                    types:
                    - FILE_TYPE_UNSPECIFIED
                    - FILE_TYPE_UNSPECIFIED
                    maxFileSize: maxFileSize
                    folderId: folderId
                    maxFiles: 6
                  rowQuestion:
                    title: title
                  required: true
                  scaleQuestion:
                    high: 5
                    low: 5
                    highLabel: highLabel
                    lowLabel: lowLabel
                  timeQuestion:
                    duration: true
                - choiceQuestion:
                    options:
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    - image:
                        altText: altText
                        sourceUri: sourceUri
                        contentUri: contentUri
                        properties:
                          width: 0
                          alignment: ALIGNMENT_UNSPECIFIED
                      goToSectionId: goToSectionId
                      goToAction: GO_TO_ACTION_UNSPECIFIED
                      isOther: true
                      value: value
                    shuffle: true
                    type: CHOICE_TYPE_UNSPECIFIED
                  questionId: questionId
                  dateQuestion:
                    includeTime: true
                    includeYear: true
                  grading:
                    whenWrong:
                      material:
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      - link:
                          displayText: displayText
                          uri: uri
                        video:
                          displayText: displayText
                          youtubeUri: youtubeUri
                      text: text
                    pointValue: 1
[...]
