openapi: 3.0.0
info:
  contact:
    email: info@getthedata.com
    name: bng2latlong
    url: https://www.getthedata.com/bng2latlong
    x-twitter: getthedatacom
  description: Convert an OSGB36 easting and northing (British National Grid) to WGS84
    latitude and longitude.
  title: bng2latlong
  version: "1.0"
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/getthedatacom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://www.getthedata.com/bng2latlong/openapi
    version: "3.0"
  x-providerName: getthedata.com
  x-serviceName: bng2latlong
externalDocs:
  description: Full documentation
  url: https://www.getthedata.com/bng2latlong
servers:
- url: https://api.getthedata.com
paths:
  /bng2latlong/{easting}/{northing}:
    get:
      description: |
        Takes an OSGB36 easting and northing (British National Grid) and returns the geographically equivalent WGS84 latitude and longitude.
        #### A successful request returns the following fields:
        * status - this will be `ok`
        * easting - the easting provided in the request
        * northing - the northing provided in the request
        * latitude - the latitude of the converted coordinates
        * longitude - the longitude of the converted coordinates
        #### An unsuccessful request returns the following fields:
        * status - this will be `error`
        * error - an error message
      operationId: bng2latlong_easting_northing_get
      parameters:
      - description: An OSGB36 (British National Grid) easting.
        example: 326897
        explode: false
        in: path
        name: easting
        required: true
        schema:
          type: integer
        style: simple
      - description: An OSGB36 (British National Grid) northing.
        example: 673919
        explode: false
        in: path
        name: northing
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_bng2latlong__easting___northing__get_200_response'
          description: "A JSON object containing the original easting and northing,\
            \ and the converted latitude and longitude."
      summary: Returns latitude and longitude for the given easting and northing.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    _bng2latlong__easting___northing__get_200_response:
      example:
        easting: 326897
        latitude: 55.95271
        error: "Both <easting> and <northing> must be provided, must be positive integers,\
          \ and must be within range."
        northing: 673919
        longitude: -3.17227
        status: ok
      properties:
        easting:
          example: 326897
          title: easting
          type: integer
        error:
          example: "Both <easting> and <northing> must be provided, must be positive\
            \ integers, and must be within range."
          title: error
          type: string
        latitude:
          example: 55.95271
          title: latitude
          type: number
        longitude:
          example: -3.17227
          title: longitude
          type: number
        northing:
          example: 673919
          title: northing
          type: integer
        status:
          enum:
          - ok
          - error
          title: status
          type: string
      title: _bng2latlong__easting___northing__get_200_response
      type: object
