openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: " Policy Simulator is a collection of endpoints for creating, running,\
    \ and viewing a Replay. A `Replay` is a type of simulation that lets you see how\
    \ your members' access to resources might change if you changed your IAM policy.\
    \ During a `Replay`, Policy Simulator re-evaluates, or replays, past access attempts\
    \ under both the current policy and your proposed policy, and compares those results\
    \ to determine how your members' access might change under the proposed policy."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Policy Simulator API
  version: v1alpha
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://policysimulator.googleapis.com/$discovery/rest?version=v1alpha
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: policysimulator
externalDocs:
  url: https://cloud.google.com/iam/docs/simulating-access
servers:
- url: https://policysimulator.googleapis.com/
tags:
- name: folders
- name: operations
- name: organizations
- name: projects
paths:
  /v1alpha/{name}:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: policysimulator.projects.locations.replays.operations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1alpha/{parent}/orgPolicyViolations:
    get:
      description: ListOrgPolicyViolations lists the OrgPolicyViolations that are
        present in an OrgPolicyViolationsPreview.
      operationId: policysimulator.organizations.locations.orgPolicyViolationsPreviews.orgPolicyViolations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The OrgPolicyViolationsPreview to get OrgPolicyViolations\
          \ from. Format: organizations/{organization}/locations/{location}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreview}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum number of items to return. The service\
          \ may return fewer than this value. If unspecified, at most 50 items will\
          \ be returned. The maximum value is 1000; values above 1000 will be coerced\
          \ to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous call. Provide\
          \ this to retrieve the subsequent page. When paginating, all other parameters\
          \ must match the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-accepts:
      - application/json
  /v1alpha/{parent}/orgPolicyViolationsPreviews:
    get:
      description: ListOrgPolicyViolationsPreviews lists each OrgPolicyViolationsPreview
        in an organization. Each OrgPolicyViolationsPreview is available for at least
        7 days.
      operationId: policysimulator.organizations.locations.orgPolicyViolationsPreviews.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent the violations are scoped to. Format: `organizations/{organization}/locations/{location}`\
          \ Example: `organizations/my-example-org/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum number of items to return. The service\
          \ may return fewer than this value. If unspecified, at most 5 items will\
          \ be returned. The maximum value is 10; values above 10 will be coerced\
          \ to 10."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous call. Provide\
          \ this to retrieve the subsequent page. When paginating, all other parameters\
          \ must match the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-accepts:
      - application/json
    post:
      description: CreateOrgPolicyViolationsPreview creates an OrgPolicyViolationsPreview
        for the proposed changes in the provided OrgPolicyViolationsPreview.OrgPolicyOverlay.
        The changes to OrgPolicy are specified by this `OrgPolicyOverlay`. The resources
        to scan are inferred from these specified changes.
      operationId: policysimulator.organizations.locations.orgPolicyViolationsPreviews.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The organization under which this OrgPolicyViolationsPreview\
          \ will be created. Example: `organizations/my-example-org/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. An optional user-specified ID for the OrgPolicyViolationsPreview.\
          \ If not provided, a random ID will be generated."
        explode: true
        in: query
        name: orgPolicyViolationsPreviewId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha/{parent}/orgPolicyViolationsPreviews:generate:
    post:
      description: GenerateOrgPolicyViolationsPreview generates an OrgPolicyViolationsPreview
        for the proposed changes in the provided OrgPolicyViolationsPreview.OrgPolicyOverlay.
        The changes to OrgPolicy are specified by this `OrgPolicyOverlay`. The resources
        to scan are inferred from these specified changes.
      operationId: policysimulator.organizations.locations.orgPolicyViolationsPreviews.generate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The organization under which this OrgPolicyViolationsPreview\
          \ will be created. Example: `organizations/my-example-org/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha/{parent}/replays:
    get:
      description: "Lists each Replay in a project, folder, or organization. Each\
        \ `Replay` is available for at least 7 days."
      operationId: policysimulator.projects.locations.replays.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global`,\
          \ where `{resource-id}` is the ID of the project, folder, or organization\
          \ that owns the Replay. Example: `projects/my-example-project/locations/global`\
          \ Only `Replay` objects that are direct children of the provided parent\
          \ are listed. In other words, `Replay` objects that are children of a project\
          \ will not be included when the parent is a folder of that project."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of Replay objects to return. Defaults to 50.
          The maximum value is 1000; values above 1000 are rounded down to 1000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous Simulator.ListReplays\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to Simulator.ListReplays must match the call\
          \ that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaListReplaysResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates and starts a Replay using the given ReplayConfig.
      operationId: policysimulator.projects.locations.replays.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource where this Replay will be created.\
          \ This resource must be a project, folder, or organization with a location.\
          \ Example: `projects/my-example-project/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaReplay'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha/{parent}/results:
    get:
      description: Lists the results of running a Replay.
      operationId: policysimulator.projects.locations.replays.results.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Replay whose results are listed, in the following\
          \ format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`\
          \ Example: `projects/my-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of ReplayResult objects to return. Defaults
          to 5000. The maximum value is 5000; values above 5000 are rounded down to
          5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous Simulator.ListReplayResults\
          \ call. Provide this token to retrieve the next page of results. When paginating,\
          \ all other parameters provided to [Simulator.ListReplayResults[] must match\
          \ the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudOrgpolicyV2AlternatePolicySpec:
      description: Similar to PolicySpec but with an extra 'launch' field for launch
        reference. The PolicySpec here is specific for dry-run/darklaunch.
      example:
        launch: launch
        spec:
          inheritFromParent: true
          reset: true
          etag: etag
          rules:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          updateTime: updateTime
      properties:
        launch:
          description: Reference to the launch that will be used while audit logging
            and to control the launch. Should be set only in the alternate policy.
          type: string
        spec:
          $ref: '#/components/schemas/GoogleCloudOrgpolicyV2PolicySpec'
      type: object
    GoogleCloudOrgpolicyV2CustomConstraint:
      description: "A custom constraint defined by customers which can *only* be applied\
        \ to the given resource types and organization. By creating a custom constraint,\
        \ customers can apply policies of this custom constraint. *Creating a custom\
        \ constraint itself does NOT apply any policy enforcement*."
      example:
        actionType: ACTION_TYPE_UNSPECIFIED
        resourceTypes:
        - resourceTypes
        - resourceTypes
        condition: condition
        displayName: displayName
        name: name
        description: description
        updateTime: updateTime
        methodTypes:
        - METHOD_TYPE_UNSPECIFIED
        - METHOD_TYPE_UNSPECIFIED
      properties:
        actionType:
          description: Allow or deny type.
          enum:
          - ACTION_TYPE_UNSPECIFIED
          - ALLOW
          - DENY
          type: string
        condition:
          description: "Org policy condition/expression. For example: `resource.instanceName.matches(\"\
            [production|test]_.*_(\\d)+\")` or, `resource.management.auto_upgrade\
            \ == true` The max length of the condition is 1000 characters."
          type: string
        description:
          description: Detailed information about this custom policy constraint. The
            max length of the description is 2000 characters.
          type: string
        displayName:
          description: One line display name for the UI. The max length of the display_name
            is 200 characters.
          type: string
        methodTypes:
          description: All the operations being applied for this constraint.
          items:
            enum:
            - METHOD_TYPE_UNSPECIFIED
            - CREATE
            - UPDATE
            - DELETE
            type: string
          type: array
        name:
          description: "Immutable. Name of the constraint. This is unique within the\
            \ organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}`\
            \ Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms`\
            \ The max length is 70 characters and the minimum length is 1. Note that\
            \ the prefix `organizations/{organization_id}/customConstraints/` is not\
            \ counted."
          type: string
        resourceTypes:
          description: "Immutable. The resource instance type on which this policy\
            \ applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`."
          items:
            type: string
          type: array
        updateTime:
          description: Output only. The last time this custom constraint was updated.
            This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint`
            RPC was called
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleCloudOrgpolicyV2Policy:
      description: Defines an organization policy which is used to specify constraints
        for configurations of Google Cloud resources.
      example:
        dryRunSpec:
          inheritFromParent: true
          reset: true
          etag: etag
          rules:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          updateTime: updateTime
        name: name
        alternate:
          launch: launch
          spec:
            inheritFromParent: true
            reset: true
            etag: etag
            rules:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              values:
                allowedValues:
                - allowedValues
                - allowedValues
                deniedValues:
                - deniedValues
                - deniedValues
              allowAll: true
              enforce: true
              denyAll: true
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              values:
                allowedValues:
                - allowedValues
                - allowedValues
                deniedValues:
                - deniedValues
                - deniedValues
              allowAll: true
              enforce: true
              denyAll: true
            updateTime: updateTime
        etag: etag
        spec:
          inheritFromParent: true
          reset: true
          etag: etag
          rules:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            values:
              allowedValues:
              - allowedValues
              - allowedValues
              deniedValues:
              - deniedValues
              - deniedValues
            allowAll: true
            enforce: true
            denyAll: true
          updateTime: updateTime
      properties:
        alternate:
          $ref: '#/components/schemas/GoogleCloudOrgpolicyV2AlternatePolicySpec'
        dryRunSpec:
          $ref: '#/components/schemas/GoogleCloudOrgpolicyV2PolicySpec'
        etag:
          description: "Optional. An opaque tag indicating the current state of the\
            \ policy, used for concurrency control. This 'etag' is computed by the\
            \ server based on the value of other fields, and may be sent on update\
            \ and delete requests to ensure the client has an up-to-date value before\
            \ proceeding."
          type: string
        name:
          description: "Immutable. The resource name of the policy. Must be one of\
            \ the following forms, where `constraint_name` is the name of the constraint\
            \ which this policy configures: * `projects/{project_number}/policies/{constraint_name}`\
            \ * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}`\
            \ For example, `projects/123/policies/compute.disableSerialPortAccess`.\
            \ Note: `projects/{project_id}/policies/{constraint_name}` is also an\
            \ acceptable name for API requests, but responses will return the name\
            \ using the equivalent project number."
          type: string
        spec:
          $ref: '#/components/schemas/GoogleCloudOrgpolicyV2PolicySpec'
      type: object
    GoogleCloudOrgpolicyV2PolicySpec:
      description: Defines a Google Cloud policy specification which is used to specify
        constraints for configurations of Google Cloud resources.
      example:
        inheritFromParent: true
        reset: true
        etag: etag
        rules:
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          values:
            allowedValues:
            - allowedValues
            - allowedValues
            deniedValues:
            - deniedValues
            - deniedValues
          allowAll: true
          enforce: true
          denyAll: true
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          values:
            allowedValues:
            - allowedValues
            - allowedValues
            deniedValues:
            - deniedValues
            - deniedValues
          allowAll: true
          enforce: true
          denyAll: true
        updateTime: updateTime
      properties:
        etag:
          description: "An opaque tag indicating the current version of the policySpec,\
            \ used for concurrency control. This field is ignored if used in a `CreatePolicy`\
            \ request. When the policy is returned from either a `GetPolicy` or a\
            \ `ListPolicies` request, this `etag` indicates the version of the current\
            \ policySpec to use when executing a read-modify-write loop. When the\
            \ policy is returned from a `GetEffectivePolicy` request, the `etag` will\
            \ be unset."
          type: string
        inheritFromParent:
          description: "Determines the inheritance behavior for this policy. If `inherit_from_parent`\
            \ is true, policy rules set higher up in the hierarchy (up to the closest\
            \ root) are inherited and present in the effective policy. If it is false,\
            \ then no rules are inherited, and this policy becomes the new root for\
            \ evaluation. This field can be set only for policies which configure\
            \ list constraints."
          type: boolean
        reset:
          description: "Ignores policies set above this resource and restores the\
            \ `constraint_default` enforcement behavior of the specific constraint\
            \ at this resource. This field can be set in policies for either list\
            \ or boolean constraints. If set, `rules` must be empty and `inherit_from_parent`\
            \ must be set to false."
          type: boolean
        rules:
          description: "In policies for boolean constraints, the following requirements\
            \ apply: - There must be one and only one policy rule where condition\
            \ is unset. - Boolean policy rules with conditions must set `enforced`\
            \ to the opposite of the policy rule without a condition. - During policy\
            \ evaluation, policy rules with conditions that are true for a target\
            \ resource take precedence."
          items:
            $ref: '#/components/schemas/GoogleCloudOrgpolicyV2PolicySpecPolicyRule'
          type: array
        updateTime:
          description: Output only. The time stamp this was previously updated. This
            represents the last time a call to `CreatePolicy` or `UpdatePolicy` was
            made for that policy.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleCloudOrgpolicyV2PolicySpecPolicyRule:
      description: A rule used to express this policy.
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        values:
          allowedValues:
          - allowedValues
          - allowedValues
          deniedValues:
          - deniedValues
          - deniedValues
        allowAll: true
        enforce: true
        denyAll: true
      properties:
        allowAll:
          description: Setting this to true means that all values are allowed. This
            field can be set only in policies for list constraints.
          type: boolean
        condition:
          $ref: '#/components/schemas/GoogleTypeExpr'
        denyAll:
          description: Setting this to true means that all values are denied. This
            field can be set only in policies for list constraints.
          type: boolean
        enforce:
          description: "If `true`, then the policy is enforced. If `false`, then any\
            \ configuration is acceptable. This field can be set only in policies\
            \ for boolean constraints."
          type: boolean
        values:
          $ref: '#/components/schemas/GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues'
      type: object
    GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues:
      description: "A message that holds specific allowed and denied values. This\
        \ message can define specific values and subtrees of the Resource Manager\
        \ resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed\
        \ or denied. This is achieved by using the `under:` and optional `is:` prefixes.\
        \ The `under:` prefix is used to denote resource subtree values. The `is:`\
        \ prefix is used to denote specific values, and is required only if the value\
        \ contains a \":\". Values prefixed with \"is:\" are treated the same as values\
        \ with no prefix. Ancestry subtrees must be in one of the following formats:\
        \ - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for\
        \ example, `folders/1234`) - `organizations/` (for example, `organizations/1234`)\
        \ The `supports_under` field of the associated `Constraint` defines whether\
        \ ancestry prefixes can be used."
      example:
        allowedValues:
        - allowedValues
        - allowedValues
        deniedValues:
        - deniedValues
        - deniedValues
      properties:
        allowedValues:
          description: List of values allowed at this resource.
          items:
            type: string
          type: array
        deniedValues:
          description: List of values denied at this resource.
          items:
            type: string
          type: array
      type: object
    GoogleCloudPolicysimulatorV1Replay:
      description: "A resource describing a `Replay`, or simulation."
      properties:
        config:
          $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1ReplayConfig'
        name:
          description: "Output only. The resource name of the `Replay`, which has\
            \ the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`,\
            \ where `{resource-id}` is the ID of the project, folder, or organization\
            \ that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
          readOnly: true
          type: string
        resultsSummary:
          $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1ReplayResultsSummary'
        state:
          description: Output only. The current state of the `Replay`.
          enum:
          - STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - SUCCEEDED
          - FAILED
          readOnly: true
          type: string
      type: object
    GoogleCloudPolicysimulatorV1ReplayConfig:
      description: The configuration used for a Replay.
      properties:
        logSource:
          description: The logs to use as input for the Replay.
          enum:
          - LOG_SOURCE_UNSPECIFIED
          - RECENT_ACCESSES
          type: string
        policyOverlay:
          additionalProperties:
            $ref: '#/components/schemas/GoogleIamV1Policy'
          description: "A mapping of the resources that you want to simulate policies\
            \ for and the policies that you want to simulate. Keys are the full resource\
            \ names for the resources. For example, `//cloudresourcemanager.googleapis.com/projects/my-project`.\
            \ For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.\
            \ Values are Policy objects representing the policies that you want to\
            \ simulate. Replays automatically take into account any IAM policies inherited\
            \ through the resource hierarchy, and any policies set on descendant resources.\
            \ You do not need to include these policies in the policy overlay."
          type: object
      type: object
    GoogleCloudPolicysimulatorV1ReplayOperationMetadata:
      description: Metadata about a Replay operation.
      properties:
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
      type: object
    GoogleCloudPolicysimulatorV1ReplayResultsSummary:
      description: Summary statistics about the replayed log entries.
      properties:
        differenceCount:
          description: The number of replayed log entries with a difference between
            baseline and simulated policies.
          format: int32
          type: integer
        errorCount:
          description: The number of log entries that could not be replayed.
          format: int32
          type: integer
        logCount:
          description: The total number of log entries replayed.
          format: int32
          type: integer
        newestDate:
          $ref: '#/components/schemas/GoogleTypeDate'
        oldestDate:
          $ref: '#/components/schemas/GoogleTypeDate'
        unchangedCount:
          description: The number of replayed log entries with no difference between
            baseline and simulated policies.
          format: int32
          type: integer
      type: object
    GoogleCloudPolicysimulatorV1alphaAccessStateDiff:
      description: A summary and comparison of the principal's access under the current
        (baseline) policies and the proposed (simulated) policies for a single access
        tuple.
      example:
        accessChange: ACCESS_CHANGE_TYPE_UNSPECIFIED
        simulated:
          accessState: ACCESS_STATE_UNSPECIFIED
          policies:
          - access: ACCESS_STATE_UNSPECIFIED
            fullResourceName: fullResourceName
            bindingExplanations:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            policy:
              bindings:
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              etag: etag
              version: 0
              auditConfigs:
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
          - access: ACCESS_STATE_UNSPECIFIED
            fullResourceName: fullResourceName
            bindingExplanations:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            policy:
              bindings:
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              etag: etag
              version: 0
              auditConfigs:
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
          errors:
          - code: 0
            details:
            - key: ""
            - key: ""
            message: message
          - code: 0
            details:
            - key: ""
            - key: ""
            message: message
        baseline:
          accessState: ACCESS_STATE_UNSPECIFIED
          policies:
          - access: ACCESS_STATE_UNSPECIFIED
            fullResourceName: fullResourceName
            bindingExplanations:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            policy:
              bindings:
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              etag: etag
              version: 0
              auditConfigs:
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
          - access: ACCESS_STATE_UNSPECIFIED
            fullResourceName: fullResourceName
            bindingExplanations:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              rolePermission: ROLE_PERMISSION_UNSPECIFIED
              access: ACCESS_STATE_UNSPECIFIED
              role: role
              memberships:
                key:
                  membership: MEMBERSHIP_UNSPECIFIED
                  relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
              rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            policy:
              bindings:
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              - condition:
                  expression: expression
                  description: description
                  location: location
                  title: title
                role: role
                members:
                - members
                - members
              etag: etag
              version: 0
              auditConfigs:
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
              - auditLogConfigs:
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                - logType: LOG_TYPE_UNSPECIFIED
                  exemptedMembers:
                  - exemptedMembers
                  - exemptedMembers
                service: service
          errors:
          - code: 0
            details:
            - key: ""
            - key: ""
            message: message
          - code: 0
            details:
            - key: ""
            - key: ""
            message: message
      properties:
        accessChange:
          description: "How the principal's access, specified in the AccessState field,\
            \ changed between the current (baseline) policies and proposed (simulated)\
            \ policies."
          enum:
          - ACCESS_CHANGE_TYPE_UNSPECIFIED
          - NO_CHANGE
          - UNKNOWN_CHANGE
          - ACCESS_REVOKED
          - ACCESS_GAINED
          - ACCESS_MAYBE_REVOKED
          - ACCESS_MAYBE_GAINED
          type: string
        baseline:
          $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaExplainedAccess'
        simulated:
          $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaExplainedAccess'
      type: object
    GoogleCloudPolicysimulatorV1alphaAccessTuple:
      description: "Information about the principal, resource, and permission to check."
      example:
        principal: principal
        fullResourceName: fullResourceName
        permission: permission
      properties:
        fullResourceName:
          description: "Required. The full resource name that identifies the resource.\
            \ For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`.\
            \ For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          type: string
        permission:
          description: "Required. The IAM permission to check for the specified principal\
            \ and resource. For a complete list of IAM permissions, see https://cloud.google.com/iam/help/permissions/reference.\
            \ For a complete list of predefined IAM roles and the permissions in each\
            \ role, see https://cloud.google.com/iam/help/roles/reference."
          type: string
        principal:
          description: "Required. The principal whose access you want to check, in\
            \ the form of the email address that represents that principal. For example,\
            \ `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`.\
            \ The principal must be a Google Account or a service account. Other types\
            \ of principals are not supported."
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaBindingExplanation:
      description: Details about how a binding in a policy affects a principal's ability
        to use a permission.
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        rolePermission: ROLE_PERMISSION_UNSPECIFIED
        access: ACCESS_STATE_UNSPECIFIED
        role: role
        memberships:
          key:
            membership: MEMBERSHIP_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
        relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
        rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
      properties:
        access:
          description: "Required. Indicates whether _this binding_ provides the specified\
            \ permission to the specified principal for the specified resource. This\
            \ field does _not_ indicate whether the principal actually has the permission\
            \ for the resource. There might be another binding that overrides this\
            \ binding. To determine whether the principal actually has the permission,\
            \ use the `access` field in the TroubleshootIamPolicyResponse."
          enum:
          - ACCESS_STATE_UNSPECIFIED
          - GRANTED
          - NOT_GRANTED
          - UNKNOWN_CONDITIONAL
          - UNKNOWN_INFO_DENIED
          type: string
        condition:
          $ref: '#/components/schemas/GoogleTypeExpr'
        memberships:
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership'
          description: "Indicates whether each principal in the binding includes the\
            \ principal specified in the request, either directly or indirectly. Each\
            \ key identifies a principal in the binding, and each value indicates\
            \ whether the principal in the binding includes the principal in the request.\
            \ For example, suppose that a binding includes the following principals:\
            \ * `user:alice@example.com` * `group:product-eng@example.com` The principal\
            \ in the replayed access tuple is `user:bob@example.com`. This user is\
            \ a principal of the group `group:product-eng@example.com`. For the first\
            \ principal in the binding, the key is `user:alice@example.com`, and the\
            \ `membership` field in the value is set to `MEMBERSHIP_NOT_INCLUDED`.\
            \ For the second principal in the binding, the key is `group:product-eng@example.com`,\
            \ and the `membership` field in the value is set to `MEMBERSHIP_INCLUDED`."
          type: object
        relevance:
          description: The relevance of this binding to the overall determination
            for the entire policy.
          enum:
          - HEURISTIC_RELEVANCE_UNSPECIFIED
          - NORMAL
          - HIGH
          type: string
        role:
          description: "The role that this binding grants. For example, `roles/compute.serviceAgent`.\
            \ For a complete list of predefined IAM roles, as well as the permissions\
            \ in each role, see https://cloud.google.com/iam/help/roles/reference."
          type: string
        rolePermission:
          description: Indicates whether the role granted by this binding contains
            the specified permission.
          enum:
          - ROLE_PERMISSION_UNSPECIFIED
          - ROLE_PERMISSION_INCLUDED
          - ROLE_PERMISSION_NOT_INCLUDED
          - ROLE_PERMISSION_UNKNOWN_INFO_DENIED
          type: string
        rolePermissionRelevance:
          description: "The relevance of the permission's existence, or nonexistence,\
            \ in the role to the overall determination for the entire policy."
          enum:
          - HEURISTIC_RELEVANCE_UNSPECIFIED
          - NORMAL
          - HIGH
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership:
      description: Details about whether the binding includes the principal.
      example:
        membership: MEMBERSHIP_UNSPECIFIED
        relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
      properties:
        membership:
          description: Indicates whether the binding includes the principal.
          enum:
          - MEMBERSHIP_UNSPECIFIED
          - MEMBERSHIP_INCLUDED
          - MEMBERSHIP_NOT_INCLUDED
          - MEMBERSHIP_UNKNOWN_INFO_DENIED
          - MEMBERSHIP_UNKNOWN_UNSUPPORTED
          type: string
        relevance:
          description: The relevance of the principal's status to the overall determination
            for the binding.
          enum:
          - HEURISTIC_RELEVANCE_UNSPECIFIED
          - NORMAL
          - HIGH
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaCreateOrgPolicyViolationsPreviewOperationMetadata:
      description: CreateOrgPolicyViolationsPreviewOperationMetadata is metadata about
        an OrgPolicyViolationsPreview generations operation.
      properties:
        requestTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        resourcesFound:
          description: Total number of resources that need scanning. Should equal
            resource_scanned + resources_pending
          format: int32
          type: integer
        resourcesPending:
          description: Number of resources still to scan.
          format: int32
          type: integer
        resourcesScanned:
          description: Number of resources already scanned.
          format: int32
          type: integer
        startTime:
          description: "Time when the request started processing, i.e., when the state\
            \ was set to RUNNING."
          format: google-datetime
          type: string
        state:
          description: Output only. The current state of the operation.
          enum:
          - PREVIEW_STATE_UNSPECIFIED
          - PREVIEW_PENDING
          - PREVIEW_RUNNING
          - PREVIEW_SUCCEEDED
          - PREVIEW_FAILED
          readOnly: true
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaExplainedAccess:
      description: "Details about how a set of policies, listed in ExplainedPolicy,\
        \ resulted in a certain AccessState when replaying an access tuple."
      example:
        accessState: ACCESS_STATE_UNSPECIFIED
        policies:
        - access: ACCESS_STATE_UNSPECIFIED
          fullResourceName: fullResourceName
          bindingExplanations:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            rolePermission: ROLE_PERMISSION_UNSPECIFIED
            access: ACCESS_STATE_UNSPECIFIED
            role: role
            memberships:
              key:
                membership: MEMBERSHIP_UNSPECIFIED
                relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            rolePermission: ROLE_PERMISSION_UNSPECIFIED
            access: ACCESS_STATE_UNSPECIFIED
            role: role
            memberships:
              key:
                membership: MEMBERSHIP_UNSPECIFIED
                relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          policy:
            bindings:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              role: role
              members:
              - members
              - members
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              role: role
              members:
              - members
              - members
            etag: etag
            version: 0
            auditConfigs:
            - auditLogConfigs:
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              service: service
            - auditLogConfigs:
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              service: service
        - access: ACCESS_STATE_UNSPECIFIED
          fullResourceName: fullResourceName
          bindingExplanations:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            rolePermission: ROLE_PERMISSION_UNSPECIFIED
            access: ACCESS_STATE_UNSPECIFIED
            role: role
            memberships:
              key:
                membership: MEMBERSHIP_UNSPECIFIED
                relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            rolePermission: ROLE_PERMISSION_UNSPECIFIED
            access: ACCESS_STATE_UNSPECIFIED
            role: role
            memberships:
              key:
                membership: MEMBERSHIP_UNSPECIFIED
                relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
            rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          policy:
            bindings:
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              role: role
              members:
              - members
              - members
            - condition:
                expression: expression
                description: description
                location: location
                title: title
              role: role
              members:
              - members
              - members
            etag: etag
            version: 0
            auditConfigs:
            - auditLogConfigs:
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              service: service
            - auditLogConfigs:
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              - logType: LOG_TYPE_UNSPECIFIED
                exemptedMembers:
                - exemptedMembers
                - exemptedMembers
              service: service
        errors:
        - code: 0
          details:
          - key: ""
          - key: ""
          message: message
        - code: 0
          details:
          - key: ""
          - key: ""
          message: message
      properties:
        accessState:
          description: Whether the principal in the access tuple has permission to
            access the resource in the access tuple under the given policies.
          enum:
          - ACCESS_STATE_UNSPECIFIED
          - GRANTED
          - NOT_GRANTED
          - UNKNOWN_CONDITIONAL
          - UNKNOWN_INFO_DENIED
          type: string
        errors:
          description: "If the AccessState is `UNKNOWN`, this field contains a list\
            \ of errors explaining why the result is `UNKNOWN`. If the `AccessState`\
            \ is `GRANTED` or `NOT_GRANTED`, this field is omitted."
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          type: array
        policies:
          description: "If the AccessState is `UNKNOWN`, this field contains the policies\
            \ that led to that result. If the `AccessState` is `GRANTED` or `NOT_GRANTED`,\
            \ this field is omitted."
          items:
            $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaExplainedPolicy'
          type: array
      type: object
    GoogleCloudPolicysimulatorV1alphaExplainedPolicy:
      description: Details about how a specific IAM Policy contributed to the access
        check.
      example:
        access: ACCESS_STATE_UNSPECIFIED
        fullResourceName: fullResourceName
        bindingExplanations:
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          rolePermission: ROLE_PERMISSION_UNSPECIFIED
          access: ACCESS_STATE_UNSPECIFIED
          role: role
          memberships:
            key:
              membership: MEMBERSHIP_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          rolePermission: ROLE_PERMISSION_UNSPECIFIED
          access: ACCESS_STATE_UNSPECIFIED
          role: role
          memberships:
            key:
              membership: MEMBERSHIP_UNSPECIFIED
              relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
          rolePermissionRelevance: HEURISTIC_RELEVANCE_UNSPECIFIED
        relevance: HEURISTIC_RELEVANCE_UNSPECIFIED
        policy:
          bindings:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          etag: etag
          version: 0
          auditConfigs:
          - auditLogConfigs:
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            service: service
          - auditLogConfigs:
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            service: service
      properties:
        access:
          description: "Indicates whether _this policy_ provides the specified permission\
            \ to the specified principal for the specified resource. This field does\
            \ _not_ indicate whether the principal actually has the permission for\
            \ the resource. There might be another policy that overrides this policy.\
            \ To determine whether the principal actually has the permission, use\
            \ the `access` field in the TroubleshootIamPolicyResponse."
          enum:
          - ACCESS_STATE_UNSPECIFIED
          - GRANTED
          - NOT_GRANTED
          - UNKNOWN_CONDITIONAL
          - UNKNOWN_INFO_DENIED
          type: string
        bindingExplanations:
          description: "Details about how each binding in the policy affects the principal's\
            \ ability, or inability, to use the permission for the resource. If the\
            \ user who created the Replay does not have access to the policy, this\
            \ field is omitted."
          items:
            $ref: '#/components/schemas/GoogleCloudPolicysimulatorV1alphaBindingExplanation'
          type: array
        fullResourceName:
          description: "The full resource name that identifies the resource. For example,\
            \ `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`.\
            \ If the user who created the Replay does not have access to the policy,\
            \ this field is omitted. For examples of full resource names for Google\
            \ Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          type: string
        policy:
          $ref: '#/components/schemas/GoogleIamV1Policy'
        relevance:
          description: "The relevance of this policy to the overall determination\
            \ in the TroubleshootIamPolicyResponse. If the user who created the Replay\
            \ does not have access to the policy, this field is omitted."
          enum:
          - HEURISTIC_RELEVANCE_UNSPECIFIED
          - NORMAL
          - HIGH
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaGenerateOrgPolicyViolationsPreviewOperationMetadata:
      description: GenerateOrgPolicyViolationsPreviewOperationMetadata is metadata
        about an OrgPolicyViolationsPreview generations operation.
      properties:
        requestTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        resourcesFound:
          description: Total number of resources that need scanning. Should equal
            resource_scanned + resources_pending
          format: int32
          type: integer
        resourcesPending:
          description: Number of resources still to scan.
          format: int32
          type: integer
        resourcesScanned:
          description: Number of resources already scanned.
          format: int32
          type: integer
        startTime:
          description: "Time when the request started processing, i.e. when the state\
            \ was set to RUNNING."
          format: google-datetime
          type: string
        state:
          description: The current state of the operation.
          enum:
          - PREVIEW_STATE_UNSPECIFIED
          - PREVIEW_PENDING
          - PREVIEW_RUNNING
          - PREVIEW_SUCCEEDED
          - PREVIEW_FAILED
          type: string
      type: object
    GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse:
      description: ListOrgPolicyViolationsPreviewsResponse is the response message
        for OrgPolicyViolationsPreviewService.ListOrgPolicyViolationsPreviews.
      example:
        nextPageToken: nextPageToken
        orgPolicyViolationsPreviews:
        - overlay:
            customConstraints:
            - customConstraintParent: customConstraintParent
              customConstraint:
                actionType: ACTION_TYPE_UNSPECIFIED
                resourceTypes:
                - resourceTypes
                - resourceTypes
                condition: condition
                displayName: displayName
                name: name
                description: description
                updateTime: updateTime
                methodTypes:
                - METHOD_TYPE_UNSPECIFIED
                - METHOD_TYPE_UNSPECIFIED
            - customConstraintParent: customConstraintParent
              customConstraint:
                actionType: ACTION_TYPE_UNSPECIFIED
                resourceTypes:
                - resourceTypes
                - resourceTypes
                condition: condition
                displayName: displayName
                name: name
                description: description
                updateTime: updateTime
                methodTypes:
                - METHOD_TYPE_UNSPECIFIED
                - METHOD_TYPE_UNSPECIFIED
            policies:
            - policyParent: policyParent
              policy:
                dryRunSpec:
                  inheritFromParent: true
                  reset: true
                  etag: etag
                  rules:
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
                      - deniedValues
                      - deniedValues
                    allowAll: true
                    enforce: true
                    denyAll: true
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
                      - deniedValues
                      - deniedValues
                    allowAll: true
                    enforce: true
                    denyAll: true
                  updateTime: updateTime
                name: name
                alternate:
                  launch: launch
                  spec:
                    inheritFromParent: true
                    reset: true
                    etag: etag
                    rules:
                    - condition:
                        expression: expression
                        description: description
                        location: location
                        title: title
                      values:
                        allowedValues:
                        - allowedValues
                        - allowedValues
                        deniedValues:
                        - deniedValues
                        - deniedValues
                      allowAll: true
                      enforce: true
                      denyAll: true
                    - condition:
                        expression: expression
                        description: description
                        location: location
                        title: title
                      values:
                        allowedValues:
                        - allowedValues
                        - allowedValues
                        deniedValues:
                        - deniedValues
                        - deniedValues
                      allowAll: true
                      enforce: true
                      denyAll: true
                    updateTime: updateTime
                etag: etag
                spec:
                  inheritFromParent: true
                  reset: true
                  etag: etag
                  rules:
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
                      - deniedValues
                      - deniedValues
                    allowAll: true
                    enforce: true
                    denyAll: true
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
                      - deniedValues
                      - deniedValues
                    allowAll: true
                    enforce: true
                    denyAll: true
                  updateTime: updateTime
            - policyParent: policyParent
              policy:
                dryRunSpec:
                  inheritFromParent: true
                  reset: true
                  etag: etag
                  rules:
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
                      - deniedValues
                      - deniedValues
                    allowAll: true
                    enforce: true
                    denyAll: true
                  - condition:
                      expression: expression
                      description: description
                      location: location
                      title: title
                    values:
                      allowedValues:
                      - allowedValues
                      - allowedValues
                      deniedValues:
[...]
