openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/availableDelegations.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-availableDelegations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations:
    get:
      description: Gets all of the available subnet delegations for this subscription
        in this region.
      operationId: AvailableDelegations_List
      parameters:
      - description: The location of the subnet.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDelegationsResult'
          description: Request successful. Returns all of the possible delegations
            for a subnet in this subscription in the region.
      x-ms-examples:
        Get available delegations:
          parameters:
            api-version: 2019-04-01
            location: regionName
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - actions:
                  - Microsoft.Network/resource/action
                  id: /subscriptions/subId/providers/Microsoft.Network/availableDelegations/Microsoft.Provider.resourceType
                  name: Microsoft.Provider.resourceType
                  serviceName: Microsoft.Provider/resourceType
                  type: Microsoft.Network/availableDelegations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableDelegations
  : get:
      description: Gets all of the available subnet delegations for this resource
        group in this region.
      operationId: AvailableResourceGroupDelegations_List
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDelegationsResult'
          description: Request successful. Returns all of the possible delegations
            for a subnet in this subscription in the region.
      x-ms-examples:
        Get available delegations in the resource group:
          parameters:
            api-version: 2019-04-01
            location: regionName
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - actions:
                  - Microsoft.Network/resource/action
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/availableDelegations/Microsoft.Provider.resourceType
                  name: Microsoft.Provider.resourceType
                  serviceName: Microsoft.Provider/resourceType
                  type: Microsoft.Network/availableDelegations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  schemas:
    AvailableDelegation:
      description: The serviceName of an AvailableDelegation indicates a possible
        delegation for a subnet.
      example:
        name: name
        id: id
        serviceName: serviceName
        type: type
        actions:
        - actions
        - actions
      properties:
        actions:
          description: Describes the actions permitted to the service upon delegation.
          items:
            type: string
          type: array
        id:
          description: A unique identifier of the AvailableDelegation resource.
          type: string
        name:
          description: The name of the AvailableDelegation resource.
          type: string
        serviceName:
          description: The name of the service and resource.
          type: string
        type:
          description: Resource type.
          type: string
      type: object
    AvailableDelegationsResult:
      description: An array of available delegations.
      example:
        value:
        - name: name
          id: id
          serviceName: serviceName
          type: type
          actions:
          - actions
          - actions
        - name: name
          id: id
          serviceName: serviceName
          type: type
          actions:
          - actions
          - actions
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: An array of available delegations.
          items:
            $ref: '#/components/schemas/AvailableDelegation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

