openapi: 3.0.1
info:
  title: AppServiceEnvironments API Client
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServiceEnvironments.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServiceEnvironments
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments:
    get:
      description: Get all App Service Environments for a subscription.
      operationId: AppServiceEnvironments_List
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentCollection'
          description: OK
      summary: Get all App Service Environments for a subscription.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments:
    get:
      description: Get all App Service Environments in a resource group.
      operationId: AppServiceEnvironments_ListByResourceGroup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentCollection'
          description: OK
      summary: Get all App Service Environments in a resource group.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}:
    delete:
      description: Delete an App Service Environment.
      operationId: AppServiceEnvironments_Delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to force the deletion even if the App
          Service Environment contains resources. The default is <code>false</code>.
        in: query
        name: forceDelete
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Operation is in progress.
        "204":
          content: {}
          description: App Service Environment does not exist
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Delete an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get the properties of an App Service Environment.
      operationId: AppServiceEnvironments_Get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
      summary: Get the properties of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
    patch:
      description: Create or update an App Service Environment.
      operationId: AppServiceEnvironments_Update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceEnvironmentPatchResource'
        description: Configuration details of the App Service Environment.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: hostingEnvironmentEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update an App Service Environment.
      operationId: AppServiceEnvironments_CreateOrUpdate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceEnvironmentResource'
        description: Configuration details of the App Service Environment.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironmentResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: hostingEnvironmentEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute
  : get:
      description: "Get the used, available, and total worker capacity an App Service\
        \ Environment."
      operationId: AppServiceEnvironments_ListCapacities
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampCapacityCollection'
          description: OK
      summary: "Get the used, available, and total worker capacity an App Service\
        \ Environment."
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip
  : get:
      description: Get IP addresses assigned to an App Service Environment.
      operationId: AppServiceEnvironments_ListVips
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: OK
      summary: Get IP addresses assigned to an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics
  : get:
      description: Get diagnostic information for an App Service Environment.
      operationId: AppServiceEnvironments_ListDiagnostics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
          description: OK
      summary: Get diagnostic information for an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}
  : get:
      description: Get a diagnostics item for an App Service Environment.
      operationId: AppServiceEnvironments_GetDiagnosticsItem
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the diagnostics item.
        in: path
        name: diagnosticsName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
          description: OK
      summary: Get a diagnostics item for an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions
  : get:
      description: Get global metric definitions of an App Service Environment.
      operationId: AppServiceEnvironments_ListMetricDefinitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinition'
          description: OK
      summary: Get global metric definitions of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics:
    get:
      description: Get global metrics of an App Service Environment.
      operationId: AppServiceEnvironments_ListMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMetrics_200_response'
          description: OK
      summary: Get global metrics of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools
  : get:
      description: Get all multi-role pools.
      operationId: AppServiceEnvironments_ListMultiRolePools
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolCollection'
          description: OK
      summary: Get all multi-role pools.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default
  : get:
      description: Get properties of a multi-role pool.
      operationId: AppServiceEnvironments_GetMultiRolePool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK
      summary: Get properties of a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
    patch:
      description: Create or update a multi-role pool.
      operationId: AppServiceEnvironments_UpdateMultiRolePool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the multi-role pool.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: multiRolePoolEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a multi-role pool.
      operationId: AppServiceEnvironments_CreateOrUpdateMultiRolePool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the multi-role pool.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: multiRolePoolEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions
  : get:
      description: Get metric definitions for a specific instance of a multi-role
        pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the instance in the multi-role pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions_200_response'
          description: OK
      summary: Get metric definitions for a specific instance of a multi-role pool
        of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics
  : get:
      description: Get metrics for a specific instance of a multi-role pool of an
        App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRolePoolInstanceMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the instance in the multi-role pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMetrics_200_response'
          description: OK
      summary: Get metrics for a specific instance of a multi-role pool of an App
        Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions
  : get:
      description: Get metric definitions for a multi-role pool of an App Service
        Environment.
      operationId: AppServiceEnvironments_ListMultiRoleMetricDefinitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions_200_response'
          description: OK
      summary: Get metric definitions for a multi-role pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics
  : get:
      description: Get metrics for a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRoleMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Beginning time of the metrics query.
        in: query
        name: startTime
        schema:
          type: string
      - description: End time of the metrics query.
        in: query
        name: endTime
        schema:
          type: string
      - description: Time granularity of the metrics query.
        in: query
        name: timeGrain
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMetrics_200_response'
          description: OK
      summary: Get metrics for a multi-role pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus
  : get:
      description: Get available SKUs for scaling a multi-role pool.
      operationId: AppServiceEnvironments_ListMultiRolePoolSkus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInfoCollection'
          description: OK
      summary: Get available SKUs for scaling a multi-role pool.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages
  : get:
      description: Get usage metrics for a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRoleUsages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCollection'
          description: OK
      summary: Get usage metrics for a multi-role pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations
  : get:
      description: List all currently running operations on the App Service Environment.
      operationId: AppServiceEnvironments_ListOperations
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServiceEnvironments_ListOperations_200_response_inner'
                type: array
          description: OK
      summary: List all currently running operations on the App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot:
    post:
      description: Reboot all machines in an App Service Environment.
      operationId: AppServiceEnvironments_Reboot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Asynchronous operation in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Reboot all machines in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume:
    post:
      description: Resume an App Service Environment.
      operationId: AppServiceEnvironments_Resume
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_Resume_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_Resume_200_response'
          description: Operation is in progress.
      summary: Resume an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms
  : get:
      description: Get all App Service plans in an App Service Environment.
      operationId: AppServiceEnvironments_ListAppServicePlans
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListAppServicePlans_200_response'
          description: OK
      summary: Get all App Service plans in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites:
    get:
      description: Get all apps in an App Service Environment.
      operationId: AppServiceEnvironments_ListWebApps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Comma separated list of app properties to include.
        in: query
        name: propertiesToInclude
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_Resume_200_response'
          description: OK
      summary: Get all apps in an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend:
    post:
      description: Suspend an App Service Environment.
      operationId: AppServiceEnvironments_Suspend
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_Resume_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_Resume_200_response'
          description: Operation is in progress.
      summary: Suspend an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages:
    get:
      description: Get global usage metrics of an App Service Environment.
      operationId: AppServiceEnvironments_ListUsages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListUsages_200_response'
          description: OK
      summary: Get global usage metrics of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools
  : get:
      description: Get all worker pools of an App Service Environment.
      operationId: AppServiceEnvironments_ListWorkerPools
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolCollection'
          description: OK
      summary: Get all worker pools of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}
  : get:
      description: Get properties of a worker pool.
      operationId: AppServiceEnvironments_GetWorkerPool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK
      summary: Get properties of a worker pool.
      tags:
      - AppServiceEnvironments
      x-accepts:
      - application/json
    patch:
      description: Create or update a worker pool.
      operationId: AppServiceEnvironments_UpdateWorkerPool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the worker pool.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update a worker pool.
      tags:
      - AppServiceEnvironments
      x-codegen-request-body-name: workerPoolEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a worker pool.
      operationId: AppServiceEnvironments_CreateOrUpdateWorkerPool
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerPoolResource'
        description: Properties of the worker pool.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPoolResource'
          description: Operation is in progress.
        "400":
          content: {}
          description: Bad request.
        "404":
          content: {}
          description: Not found.
        "409":
          content: {}
          description: Conflict.
      summary: Create or update a worker pool.
      tags:
      - AppServiceEnvironments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: workerPoolEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions
  : get:
      description: Get metric definitions for a specific instance of a worker pool
        of an App Service Environment.
      operationId: AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Name of the instance in the worker pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions_200_response'
          description: OK
      summary: Get metric definitions for a specific instance of a worker pool of
        an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metrics
  : get:
      description: Get metrics for a specific instance of a worker pool of an App
        Service Environment.
      operationId: AppServiceEnvironments_ListWorkerPoolInstanceMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Name of the instance in the worker pool.
        in: path
        name: instance
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMetrics_200_response'
          description: OK
      summary: Get metrics for a specific instance of a worker pool of an App Service
        Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions
  : get:
      description: Get metric definitions for a worker pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListWebWorkerMetricDefinitions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions_200_response'
          description: OK
      summary: Get metric definitions for a worker pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metrics
  : get:
      description: Get metrics for a worker pool of a AppServiceEnvironment (App Service
        Environment).
      operationId: AppServiceEnvironments_ListWebWorkerMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of worker pool
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceEnvironments_ListMetrics_200_response'
          description: OK
      summary: Get metrics for a worker pool of a AppServiceEnvironment (App Service
        Environment).
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus
  : get:
      description: Get available SKUs for scaling a worker pool.
      operationId: AppServiceEnvironments_ListWorkerPoolSkus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInfoCollection'
          description: OK
      summary: Get available SKUs for scaling a worker pool.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages
  : get:
      description: Get usage metrics for a worker pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListWebWorkerUsages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service Environment.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the worker pool.
        in: path
        name: workerPoolName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCollection'
          description: OK
      summary: Get usage metrics for a worker pool of an App Service Environment.
      tags:
      - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AddressResponse:
      description: Describes main public IP address and any extra virtual IPs.
      example:
        outboundIpAddresses:
        - outboundIpAddresses
        - outboundIpAddresses
        serviceIpAddress: serviceIpAddress
        vipMappings:
        - internalHttpsPort: 6
          inUse: true
          internalHttpPort: 0
          virtualIP: virtualIP
        - internalHttpsPort: 6
          inUse: true
          internalHttpPort: 0
          virtualIP: virtualIP
        internalIpAddress: internalIpAddress
      properties:
        internalIpAddress:
          description: Virtual Network internal IP address of the App Service Environment
            if it is in internal load-balancing mode.
          type: string
        outboundIpAddresses:
          description: IP addresses appearing on outbound connections.
          items:
            type: string
          type: array
        serviceIpAddress:
          description: Main public virtual IP.
          type: string
        vipMappings:
          description: Additional virtual IPs.
          items:
            $ref: '#/components/schemas/AddressResponse_vipMappings_inner'
          type: array
      type: object
    AppServiceEnvironmentCollection:
      description: Collection of App Service Environments.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceEnvironmentResource'
          type: array
      required:
      - value
      type: object
    AppServiceEnvironmentPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a app service environment.
      example:
        properties: "{}"
      properties:
        properties:
          description: Description of an App Service Environment.
          properties:
            allowedMultiSizes:
              description: List of comma separated strings describing which VM sizes
                are allowed for front-ends.
              readOnly: true
              type: string
            allowedWorkerSizes:
              description: List of comma separated strings describing which VM sizes
                are allowed for workers.
              readOnly: true
              type: string
            apiManagementAccountId:
              description: API Management Account associated with the App Service
                Environment.
              type: string
            clusterSettings:
              description: Custom settings for changing the behavior of the App Service
                Environment.
              items:
                description: Name value pair.
                properties:
                  name:
                    description: Pair name.
                    type: string
                  value:
                    description: Pair value.
                    type: string
                type: object
              type: array
            databaseEdition:
              description: "Edition of the metadata database for the App Service Environment,\
                \ e.g. \"Standard\"."
              readOnly: true
              type: string
            databaseServiceObjective:
              description: "Service objective of the metadata database for the App\
                \ Service Environment, e.g. \"S0\"."
              readOnly: true
              type: string
            defaultFrontEndScaleFactor:
              description: Default Scale Factor for FrontEnds.
              format: int32
              readOnly: true
              type: integer
            dnsSuffix:
              description: DNS suffix of the App Service Environment.
              type: string
            dynamicCacheEnabled:
              description: |-
                True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available
                (most likely because NSG blocked the incoming traffic).
              type: boolean
            environmentCapacities:
              description: "Current total, used, and available worker capacities."
              items:
                description: Stamp capacity information.
                properties:
                  availableCapacity:
                    description: "Available capacity (# of machines, bytes of storage\
                      \ etc...)."
                    format: int64
                    type: integer
                  computeMode:
                    description: Shared/dedicated workers.
                    enum:
                    - Shared
                    - Dedicated
                    - Dynamic
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ComputeModeOptions
                  excludeFromCapacityAllocation:
                    description: |-
                      If <code>true</code>, it includes basic apps.
                      Basic apps are not used for capacity allocation.
                    type: boolean
                  isApplicableForAllComputeModes:
                    description: "<code>true</code> if capacity is applicable for\
                      \ all apps; otherwise, <code>false</code>."
                    type: boolean
                  name:
                    description: Name of the stamp.
                    type: string
                  siteMode:
                    description: Shared or Dedicated.
                    type: string
                  totalCapacity:
                    description: "Total capacity (# of machines, bytes of storage\
                      \ etc...)."
                    format: int64
                    type: integer
                  unit:
                    description: Name of the unit.
                    type: string
                  workerSize:
                    description: Size of the machines.
                    enum:
                    - Default
                    - Small
                    - Medium
                    - Large
                    - D1
                    - D2
                    - D3
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: WorkerSizeOptions
                  workerSizeId:
                    description: "Size ID of machines: \n0 - Small\n1 - Medium\n2\
                      \ - Large"
                    format: int32
                    type: integer
                type: object
              readOnly: true
              type: array
            environmentIsHealthy:
              description: True/false indicating whether the App Service Environment
                is healthy.
              readOnly: true
              type: boolean
            environmentStatus:
              description: Detailed message about with results of the last check of
                the App Service Environment.
              readOnly: true
              type: string
            frontEndScaleFactor:
              description: Scale factor for front-ends.
              format: int32
              type: integer
            internalLoadBalancingMode:
              description: Specifies which endpoints to serve internally in the Virtual
                Network for the App Service Environment.
              enum:
              - None
              - Web
              - Publishing
              type: string
              x-ms-enum:
                modelAsString: false
                name: InternalLoadBalancingMode
            ipsslAddressCount:
              description: Number of IP SSL addresses reserved for the App Service
                Environment.
              format: int32
              type: integer
            lastAction:
              description: Last deployment action on the App Service Environment.
              readOnly: true
              type: string
            lastActionResult:
              description: Result of the last deployment action on the App Service
                Environment.
              readOnly: true
              type: string
            location:
              description: "Location of the App Service Environment, e.g. \"West US\"\
                ."
              type: string
            maximumNumberOfMachines:
              description: Maximum number of VMs in the App Service Environment.
              format: int32
              readOnly: true
              type: integer
            multiRoleCount:
              description: Number of front-end instances.
              format: int32
              type: integer
            multiSize:
              description: "Front-end VM size, e.g. \"Medium\", \"Large\"."
              type: string
            name:
              description: Name of the App Service Environment.
              type: string
            networkAccessControlList:
              description: Access control list for controlling traffic to the App
                Service Environment.
              items:
                description: Network access control entry.
                properties:
                  action:
                    description: Action object.
                    enum:
                    - Permit
                    - Deny
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: AccessControlEntryAction
                  description:
                    description: Description of network access control entry.
                    type: string
                  order:
                    description: Order of precedence.
                    format: int32
                    type: integer
                  remoteSubnet:
                    description: Remote subnet.
                    type: string
                type: object
              type: array
            provisioningState:
              description: Provisioning state of the App Service Environment.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            resourceGroup:
              description: Resource group of the App Service Environment.
              readOnly: true
              type: string
            status:
              description: Current status of the App Service Environment.
              enum:
              - Preparing
              - Ready
              - Scaling
              - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: HostingEnvironmentStatus
            subscriptionId:
              description: Subscription of the App Service Environment.
              readOnly: true
              type: string
            suspended:
              description: |-
                <code>true</code> if the App Service Environment is suspended; otherwise, <code>false</code>. The environment can be suspended, e.g. when the management endpoint is no longer available
                 (most likely because NSG blocked the incoming traffic).
              type: boolean
            upgradeDomains:
              description: Number of upgrade domains of the App Service Environment.
              format: int32
              readOnly: true
              type: integer
            userWhitelistedIpRanges:
              description: User added ip ranges to whitelist on ASE db
              items:
                type: string
              type: array
            vipMappings:
              description: Description of IP SSL mapping for the App Service Environment.
              items:
                description: Virtual IP mapping.
                properties:
                  inUse:
                    description: Is virtual IP mapping in use.
                    type: boolean
                  internalHttpPort:
                    description: Internal HTTP port.
                    format: int32
                    type: integer
                  internalHttpsPort:
                    description: Internal HTTPS port.
                    format: int32
                    type: integer
                  virtualIP:
                    description: Virtual IP address.
                    type: string
                type: object
              readOnly: true
              type: array
            virtualNetwork:
              description: Specification for using a Virtual Network.
              properties:
                id:
                  description: Resource id of the Virtual Network.
                  type: string
                name:
                  description: Name of the Virtual Network (read-only).
                  readOnly: true
                  type: string
                subnet:
                  description: Subnet within the Virtual Network.
                  type: string
                type:
                  description: Resource type of the Virtual Network (read-only).
                  readOnly: true
                  type: string
              type: object
            vnetName:
              description: Name of the Virtual Network for the App Service Environment.
              type: string
            vnetResourceGroupName:
              description: Resource group of the Virtual Network.
              type: string
            vnetSubnetName:
              description: Subnet of the Virtual Network.
              type: string
            workerPools:
              description: "Description of worker pools with worker size IDs, VM sizes,\
                \ and number of workers in each pool."
              items:
                description: Worker pool of an App Service Environment.
                properties:
                  computeMode:
                    description: Shared or dedicated app hosting.
                    enum:
                    - Shared
                    - Dedicated
                    - Dynamic
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ComputeModeOptions
                  instanceNames:
                    description: Names of all instances in the worker pool (read only).
                    items:
                      type: string
                    readOnly: true
                    type: array
                  workerCount:
                    description: Number of instances in the worker pool.
                    format: int32
                    type: integer
                  workerSize:
                    description: VM size of the worker pool instances.
                    type: string
                  workerSizeId:
                    description: Worker size ID for referencing this worker pool.
                    format: int32
                    type: integer
                type: object
              type: array
          required:
          - location
          - name
          - virtualNetwork
          - workerPools
          type: object
    AppServiceEnvironmentResource:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: App Service Environment ARM resource.
      example:
        properties: "{}"
      properties:
        properties:
          description: Description of an App Service Environment.
          properties:
            allowedMultiSizes:
              description: List of comma separated strings describing which VM sizes
                are allowed for front-ends.
              readOnly: true
              type: string
            allowedWorkerSizes:
              description: List of comma separated strings describing which VM sizes
                are allowed for workers.
              readOnly: true
              type: string
            apiManagementAccountId:
              description: API Management Account associated with the App Service
                Environment.
              type: string
            clusterSettings:
              description: Custom settings for changing the behavior of the App Service
                Environment.
              items:
                description: Name value pair.
                properties:
                  name:
                    description: Pair name.
                    type: string
                  value:
                    description: Pair value.
                    type: string
                type: object
              type: array
            databaseEdition:
              description: "Edition of the metadata database for the App Service Environment,\
                \ e.g. \"Standard\"."
              readOnly: true
              type: string
            databaseServiceObjective:
              description: "Service objective of the metadata database for the App\
                \ Service Environment, e.g. \"S0\"."
              readOnly: true
              type: string
            defaultFrontEndScaleFactor:
              description: Default Scale Factor for FrontEnds.
              format: int32
              readOnly: true
              type: integer
            dnsSuffix:
              description: DNS suffix of the App Service Environment.
              type: string
            dynamicCacheEnabled:
              description: |-
                True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available
                (most likely because NSG blocked the incoming traffic).
              type: boolean
            environmentCapacities:
              description: "Current total, used, and available worker capacities."
              items:
                description: Stamp capacity information.
                properties:
                  availableCapacity:
                    description: "Available capacity (# of machines, bytes of storage\
                      \ etc...)."
                    format: int64
                    type: integer
                  computeMode:
                    description: Shared/dedicated workers.
                    enum:
                    - Shared
                    - Dedicated
                    - Dynamic
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ComputeModeOptions
                  excludeFromCapacityAllocation:
                    description: |-
                      If <code>true</code>, it includes basic apps.
                      Basic apps are not used for capacity allocation.
                    type: boolean
                  isApplicableForAllComputeModes:
                    description: "<code>true</code> if capacity is applicable for\
                      \ all apps; otherwise, <code>false</code>."
                    type: boolean
                  name:
                    description: Name of the stamp.
                    type: string
                  siteMode:
                    description: Shared or Dedicated.
                    type: string
                  totalCapacity:
                    description: "Total capacity (# of machines, bytes of storage\
                      \ etc...)."
                    format: int64
                    type: integer
                  unit:
                    description: Name of the unit.
                    type: string
                  workerSize:
                    description: Size of the machines.
                    enum:
                    - Default
                    - Small
                    - Medium
                    - Large
                    - D1
                    - D2
                    - D3
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: WorkerSizeOptions
                  workerSizeId:
                    description: "Size ID of machines: \n0 - Small\n1 - Medium\n2\
                      \ - Large"
                    format: int32
                    type: integer
                type: object
              readOnly: true
              type: array
            environmentIsHealthy:
              description: True/false indicating whether the App Service Environment
                is healthy.
              readOnly: true
              type: boolean
            environmentStatus:
              description: Detailed message about with results of the last check of
                the App Service Environment.
              readOnly: true
              type: string
            frontEndScaleFactor:
              description: Scale factor for front-ends.
              format: int32
              type: integer
            internalLoadBalancingMode:
              description: Specifies which endpoints to serve internally in the Virtual
                Network for the App Service Environment.
              enum:
              - None
              - Web
              - Publishing
              type: string
              x-ms-enum:
                modelAsString: false
                name: InternalLoadBalancingMode
            ipsslAddressCount:
              description: Number of IP SSL addresses reserved for the App Service
                Environment.
              format: int32
              type: integer
            lastAction:
              description: Last deployment action on the App Service Environment.
              readOnly: true
              type: string
            lastActionResult:
              description: Result of the last deployment action on the App Service
                Environment.
              readOnly: true
              type: string
            location:
              description: "Location of the App Service Environment, e.g. \"West US\"\
                ."
              type: string
            maximumNumberOfMachines:
              description: Maximum number of VMs in the App Service Environment.
              format: int32
              readOnly: true
              type: integer
            multiRoleCount:
              description: Number of front-end instances.
              format: int32
              type: integer
            multiSize:
              description: "Front-end VM size, e.g. \"Medium\", \"Large\"."
              type: string
            name:
              description: Name of the App Service Environment.
              type: string
            networkAccessControlList:
              description: Access control list for controlling traffic to the App
                Service Environment.
              items:
                description: Network access control entry.
                properties:
                  action:
                    description: Action object.
                    enum:
                    - Permit
                    - Deny
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: AccessControlEntryAction
                  description:
                    description: Description of network access control entry.
                    type: string
                  order:
                    description: Order of precedence.
                    format: int32
                    type: integer
[...]
