openapi: 3.0.1
info:
  description: Microsoft.Intune Resource provider Api features in the swagger-2.0
    specification
  title: IntuneResourceManagementClient
  version: 2015-01-14-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/intune/resource-manager/Microsoft.Intune/preview/2015-01-14-privatepreview/intune.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: intune
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Intune/locations:
    get:
      description: Returns location for user tenant.
      operationId: get_locations
      parameters:
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollection'
          description: location response as a collection
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/hostName:
    get:
      description: Returns location for given tenant.
      operationId: get_location_by_host_name
      parameters:
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: single location response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps:
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: android_get_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies:
    get:
      description: Returns Intune Android policies.
      operationId: android_get_mam_policies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicyCollection'
          description: android Policies response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}:
    delete:
      description: Delete Android Policy
      operationId: android_delete_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: android_get_mam_policy_by_name
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: android_patch_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: android entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: android_create_or_update_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: android entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Android Policy
      operationId: android_delete_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: android_add_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: android_get_groups_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
          description: groups as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for Android Policy
      operationId: android_delete_group_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: android_add_group_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/apps:
    get:
      description: Returns Intune Manageable apps.
      operationId: get_apps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers:
    get:
      description: Returns Intune flagged user collection
      operationId: get_mam_flagged_users
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUserCollection'
          description: Flagged users as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}:
    get:
      description: Returns Intune flagged user details
      operationId: get_mam_flagged_user_by_name
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Flagged userName
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUser'
          description: Flagged user details in response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps:
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: get_mam_user_flagged_enrolled_apps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: User name for the tenant
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedEnrolledAppCollection'
          description: Flagged enrolled Apps as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies:
    get:
      description: Returns Intune iOSPolicies.
      operationId: ios_get_mam_policies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOSMAMPolicyCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}:
    delete:
      description: Delete Ios Policy
      operationId: ios_delete_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Returns Intune iOS policies.
      operationId: ios_get_mam_policy_by_name
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: ios_patch_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: ios_create_or_update_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps:
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: ios_get_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Ios Policy
      operationId: ios_delete_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: ios_add_app_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to add an app to an ios policy.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: ios_get_groups_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
          description: groups as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for iOS Policy
      operationId: ios_delete_group_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: ios_add_group_for_mam_policy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/operationResults:
    get:
      description: Returns operationResults.
      operationId: get_operation_results
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/statuses/default:
    get:
      description: Returns Intune Tenant level statuses.
      operationId: get_mam_statuses
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusesDefault'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices:
    get:
      description: Get devices for a user.
      operationId: get_mam_user_devices
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: user unique Name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCollection'
          description: devices as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}:
    get:
      description: Get a unique device for a user.
      operationId: get_mam_user_device_by_device_name
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: Device entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe:
    post:
      description: Wipe a device for a user.
      operationId: wipe_mam_user_device
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeDeviceOperationResult'
          description: Wipe operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersionParameter:
      description: Service Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    AndroidMAMPolicy:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Android Policy entity for Intune MAM.
      example:
        properties:
          screenCapture: allow
          fileEncryption: required
      properties:
        properties:
          $ref: '#/components/schemas/AndroidMAMPolicyProperties'
      title: AndroidMAMPolicy
    AndroidMAMPolicyCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            screenCapture: allow
            fileEncryption: required
        - properties:
            screenCapture: allow
            fileEncryption: required
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/AndroidMAMPolicy'
          title: value
          type: array
      required:
      - value
      title: AndroidMAMPolicyCollection
      type: object
    AndroidMAMPolicyProperties:
      allOf:
      - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      example:
        screenCapture: allow
        fileEncryption: required
      properties:
        fileEncryption:
          default: required
          enum:
          - required
          - notRequired
          title: fileEncryption
          type: string
        screenCapture:
          default: allow
          enum:
          - allow
          - block
          title: screenCapture
          type: string
      title: AndroidMAMPolicyProperties
    Application:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Application entity for Intune MAM.
      example:
        properties:
          appId: appId
          friendlyName: friendlyName
          platform: ios
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
      title: Application
    ApplicationCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            appId: appId
            friendlyName: friendlyName
            platform: ios
        - properties:
            appId: appId
            friendlyName: friendlyName
            platform: ios
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/Application'
          title: value
          type: array
      required:
      - value
      title: ApplicationCollection
      type: object
    ApplicationProperties:
      example:
        appId: appId
        friendlyName: friendlyName
        platform: ios
      properties:
        appId:
          title: appId
          type: string
        friendlyName:
          title: friendlyName
          type: string
        platform:
          default: ios
          enum:
          - ios
          - android
          - windows
          title: platform
          type: string
      required:
      - friendlyName
      - platform
      title: ApplicationProperties
      type: object
    Device:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      example:
        properties:
          deviceType: deviceType
          platformVersion: platformVersion
          userId: userId
          friendlyName: friendlyName
          platform: platform
      properties:
        properties:
          $ref: '#/components/schemas/DeviceProperties'
      title: Device
    DeviceCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            deviceType: deviceType
            platformVersion: platformVersion
            userId: userId
            friendlyName: friendlyName
            platform: platform
        - properties:
            deviceType: deviceType
            platformVersion: platformVersion
            userId: userId
            friendlyName: friendlyName
            platform: platform
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/Device'
          title: value
          type: array
      required:
      - value
      title: DeviceCollection
      type: object
    DeviceProperties:
      example:
        deviceType: deviceType
        platformVersion: platformVersion
        userId: userId
        friendlyName: friendlyName
        platform: platform
      properties:
        deviceType:
          title: deviceType
          type: string
        friendlyName:
          title: friendlyName
          type: string
        platform:
          title: platform
          type: string
        platformVersion:
          title: platformVersion
          type: string
        userId:
          title: userId
          type: string
      required:
      - deviceType
      - friendlyName
      - platform
      - platformVersion
      - userId
      title: DeviceProperties
      type: object
    Error:
      example:
        code: code
        message: message
      properties:
        code:
          title: code
          type: string
        message:
          title: message
          type: string
      required:
      - code
      - message
      title: Error
      type: object
    FlaggedEnrolledApp:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Flagged Enrolled App for the given tenant.
      example:
        properties:
          deviceType: deviceType
          lastModifiedTime: lastModifiedTime
          errors:
          - severity: severity
            errorCode: errorCode
          - severity: severity
            errorCode: errorCode
          friendlyName: friendlyName
          platform: platform
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedEnrolledAppProperties'
      title: FlaggedEnrolledApp
    FlaggedEnrolledAppCollection:
      description: Flagged Enrolled App collection for the given tenant.
      example:
        nextlink: nextlink
        value:
        - properties:
            deviceType: deviceType
            lastModifiedTime: lastModifiedTime
            errors:
            - severity: severity
              errorCode: errorCode
            - severity: severity
              errorCode: errorCode
            friendlyName: friendlyName
            platform: platform
        - properties:
            deviceType: deviceType
            lastModifiedTime: lastModifiedTime
            errors:
            - severity: severity
              errorCode: errorCode
            - severity: severity
              errorCode: errorCode
            friendlyName: friendlyName
            platform: platform
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledApp'
          title: value
          type: array
      required:
      - value
      title: FlaggedEnrolledAppCollection
      type: object
    FlaggedEnrolledAppError:
      example:
        severity: severity
        errorCode: errorCode
      properties:
        errorCode:
          readOnly: true
          title: errorCode
          type: string
        severity:
          readOnly: true
          title: severity
          type: string
      title: FlaggedEnrolledAppError
      type: object
    FlaggedEnrolledAppProperties:
      example:
        deviceType: deviceType
        lastModifiedTime: lastModifiedTime
        errors:
        - severity: severity
          errorCode: errorCode
        - severity: severity
          errorCode: errorCode
        friendlyName: friendlyName
        platform: platform
      properties:
        deviceType:
          readOnly: true
          title: deviceType
          type: string
        errors:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledAppError'
          title: errors
          type: array
        friendlyName:
          readOnly: true
          title: friendlyName
          type: string
        lastModifiedTime:
          readOnly: true
          title: lastModifiedTime
          type: string
        platform:
          readOnly: true
          title: platform
          type: string
      title: FlaggedEnrolledAppProperties
      type: object
    FlaggedUser:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Flagged user for the given tenant.
      example:
        properties:
          errorCount: 0
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedUserProperties'
      title: FlaggedUser
    FlaggedUserCollection:
      description: Flagged user collection for the given tenant.
      example:
        nextlink: nextlink
        value:
        - properties:
            errorCount: 0
            friendlyName: friendlyName
        - properties:
            errorCount: 0
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedUser'
          title: value
          type: array
      required:
      - value
      title: FlaggedUserCollection
      type: object
    FlaggedUserProperties:
      example:
        errorCount: 0
        friendlyName: friendlyName
      properties:
        errorCount:
          readOnly: true
          title: errorCount
          type: integer
        friendlyName:
          readOnly: true
          title: friendlyName
          type: string
      title: FlaggedUserProperties
      type: object
    GroupItem:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Group entity for Intune MAM.
      example:
        properties:
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/GroupProperties'
      title: GroupItem
    GroupProperties:
      example:
        friendlyName: friendlyName
      properties:
        friendlyName:
          title: friendlyName
          type: string
      required:
      - friendlyName
      title: GroupProperties
      type: object
    GroupsCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            friendlyName: friendlyName
        - properties:
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/GroupItem'
          title: value
          type: array
      required:
      - value
      title: GroupsCollection
      type: object
    IOSMAMPolicyCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            fileEncryptionLevel: deviceLocked
            touchId: enable
        - properties:
            fileEncryptionLevel: deviceLocked
            touchId: enable
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/iOSMAMPolicy'
          title: value
          type: array
      required:
      - value
      title: IOSMAMPolicyCollection
      type: object
    Location:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Location entity for given tenant.
      example:
        properties:
          hostName: hostName
      properties:
        properties:
          $ref: '#/components/schemas/LocationProperties'
      title: Location
    LocationCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            hostName: hostName
        - properties:
            hostName: hostName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/Location'
          title: value
          type: array
      required:
      - value
      title: LocationCollection
      type: object
    LocationProperties:
      example:
        hostName: hostName
      properties:
        hostName:
          title: hostName
          type: string
      required:
      - hostName
      title: LocationProperties
      type: object
    MAMPolicyAppIdOrGroupIdPayload:
      description: MAM Policy request body for properties Intune MAM.
      example:
        properties:
          url: url
      properties:
        properties:
          $ref: '#/components/schemas/MAMPolicyAppOrGroupIdProperties'
      title: MAMPolicyAppIdOrGroupIdPayload
      type: object
    MAMPolicyAppOrGroupIdProperties:
      description: Android Policy request body for Intune MAM.
      example:
        url: url
      properties:
        url:
          title: url
          type: string
      required:
      - url
      title: MAMPolicyAppOrGroupIdProperties
      type: object
    MAMPolicyProperties:
      properties:
        accessRecheckOfflineTimeout:
          format: duration
          title: accessRecheckOfflineTimeout
          type: string
        accessRecheckOnlineTimeout:
          format: duration
          title: accessRecheckOnlineTimeout
          type: string
        appSharingFromLevel:
          default: none
          enum:
          - none
          - policyManagedApps
          - allApps
          title: appSharingFromLevel
          type: string
        appSharingToLevel:
          default: none
          enum:
          - none
          - policyManagedApps
          - allApps
          title: appSharingToLevel
          type: string
        authentication:
          default: required
          enum:
          - required
          - notRequired
          title: authentication
          type: string
        clipboardSharingLevel:
          default: blocked
          enum:
          - blocked
          - policyManagedApps
          - policyManagedAppsWithPasteIn
          - allApps
          title: clipboardSharingLevel
          type: string
        dataBackup:
          default: allow
          enum:
          - allow
          - block
          title: dataBackup
          type: string
        description:
          title: description
          type: string
        deviceCompliance:
          default: enable
          enum:
          - enable
          - disable
          title: deviceCompliance
          type: string
        fileSharingSaveAs:
          default: allow
          enum:
          - allow
          - block
          title: fileSharingSaveAs
          type: string
        friendlyName:
          title: friendlyName
          type: string
        groupStatus:
          default: notTargeted
          enum:
          - notTargeted
          - targeted
          readOnly: true
          title: groupStatus
          type: string
        lastModifiedTime:
          format: date-time
          readOnly: true
          title: lastModifiedTime
          type: string
        managedBrowser:
          default: required
          enum:
          - required
          - notRequired
          title: managedBrowser
          type: string
        numOfApps:
          readOnly: true
          title: numOfApps
          type: integer
        offlineWipeTimeout:
          format: duration
          title: offlineWipeTimeout
          type: string
        pin:
          default: required
          enum:
          - required
          - notRequired
          title: pin
          type: string
        pinNumRetry:
          title: pinNumRetry
          type: integer
      required:
      - friendlyName
      title: MAMPolicyProperties
      type: object
    OperationResult:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: OperationResult entity for Intune.
      example:
        properties:
          operationMetadata:
          - name: name
            value: value
          - name: name
            value: value
          lastModifiedTime: lastModifiedTime
          state: state
          category: category
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/OperationResultProperties'
      title: OperationResult
    OperationResultCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            operationMetadata:
            - name: name
              value: value
            - name: name
              value: value
            lastModifiedTime: lastModifiedTime
            state: state
            category: category
            friendlyName: friendlyName
        - properties:
            operationMetadata:
            - name: name
              value: value
            - name: name
              value: value
            lastModifiedTime: lastModifiedTime
            state: state
            category: category
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          title: nextlink
          type: string
        value:
          items:
            $ref: '#/components/schemas/OperationResult'
          title: value
          type: array
      required:
      - value
      title: OperationResultCollection
      type: object
    OperationResultProperties:
      example:
        operationMetadata:
        - name: name
          value: value
        - name: name
          value: value
        lastModifiedTime: lastModifiedTime
        state: state
        category: category
        friendlyName: friendlyName
      properties:
        category:
          title: category
          type: string
        friendlyName:
          title: friendlyName
          type: string
        lastModifiedTime:
          title: lastModifiedTime
          type: string
        operationMetadata:
          items:
            $ref: '#/components/schemas/operationMetadataProperties'
          title: operationMetadata
          type: array
        state:
          title: state
          type: string
      required:
      - friendlyName
      - operationMetadata
      title: OperationResultProperties
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource Location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource Tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    StatusesDefault:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Default Statuses entity for the given tenant.
      example:
        properties:
          wipeSucceededApps: 7
          enrolledUsers: 6
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          deployedPolicies: 0
          wipeFailedApps: 5
          flaggedUsers: 1
          wipePendingApps: 2
          policyAppliedUsers: 5
          status: status
      properties:
        properties:
          $ref: '#/components/schemas/StatusesProperties'
      title: StatusesDefault
    StatusesProperties:
      example:
        wipeSucceededApps: 7
        enrolledUsers: 6
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        deployedPolicies: 0
        wipeFailedApps: 5
        flaggedUsers: 1
        wipePendingApps: 2
        policyAppliedUsers: 5
        status: status
      properties:
        deployedPolicies:
          readOnly: true
          title: deployedPolicies
          type: integer
        enrolledUsers:
          readOnly: true
          title: enrolledUsers
          type: integer
        flaggedUsers:
          readOnly: true
          title: flaggedUsers
          type: integer
        lastModifiedTime:
          format: date-time
          readOnly: true
          title: lastModifiedTime
          type: string
        policyAppliedUsers:
          readOnly: true
          title: policyAppliedUsers
          type: integer
        status:
          readOnly: true
          title: status
          type: string
        wipeFailedApps:
          readOnly: true
          title: wipeFailedApps
          type: integer
        wipePendingApps:
          readOnly: true
          title: wipePendingApps
          type: integer
        wipeSucceededApps:
          readOnly: true
          title: wipeSucceededApps
          type: integer
      title: StatusesProperties
      type: object
    WipeDeviceOperationResult:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      example:
        properties:
          value: value
      properties:
        properties:
          $ref: '#/components/schemas/WipeDeviceOperationResultProperties'
      title: WipeDeviceOperationResult
    WipeDeviceOperationResultProperties:
      example:
        value: value
      properties:
        value:
          title: value
          type: string
      required:
      - value
      title: WipeDeviceOperationResultProperties
      type: object
    iOSMAMPolicy:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: iOS Policy entity for Intune MAM.
      example:
        properties:
          fileEncryptionLevel: deviceLocked
          touchId: enable
      properties:
        properties:
          $ref: '#/components/schemas/iOSMAMPolicyProperties'
      title: iOSMAMPolicy
    iOSMAMPolicyProperties:
      allOf:
      - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      example:
        fileEncryptionLevel: deviceLocked
        touchId: enable
      properties:
        fileEncryptionLevel:
          default: deviceLocked
          enum:
          - deviceLocked
          - deviceLockedExceptFilesOpen
          - afterDeviceRestart
          - useDeviceSettings
          title: fileEncryptionLevel
          type: string
        touchId:
          default: enable
          enum:
          - enable
          - disable
          title: touchId
          type: string
      title: iOSMAMPolicyProperties
    operationMetadataProperties:
      example:
        name: name
        value: value
      properties:
        name:
          title: name
          type: string
        value:
          title: value
          type: string
      required:
      - name
      - value
      title: operationMetadataProperties
      type: object
x-original-swagger-version: "2.0"
