openapi: 3.0.1
info:
  description: Azure Service Bus client
  title: ServiceBusManagementClient
  version: 2014-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2014-09-01/servicebus.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicebus
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      description: Lists all of the available ServiceBus REST API operations.
      operationId: Operations_List
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/CheckNameAvailability:
    post:
      description: Check the give namespace name availability.
      operationId: Namespaces_CheckNameAvailability
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailability'
        description: Parameters to check availability of the given namespace name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/CheckNameSpaceAvailability:
    post:
      description: Check the give namespace name availability.
      operationId: Namespaces_CheckNameSpaceAvailability
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailability'
        description: Parameters to check availability of the given namespace name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      description: "Gets all the available namespaces within the subscription, irrespective\
        \ of the resource groups."
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: Namespaces_ListBySubscription
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces successfully returned.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: Namespaces_ListByResourceGroup
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces successfully returned.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}:
    delete:
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx
      operationId: Namespaces_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace successfully deleted.
        "202":
          content: {}
          description: Namespace delete request accepted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a description for the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx
      operationId: Namespaces_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace successfully returned.
      tags:
      - Namespaces
      x-accepts:
      - application/json
    patch:
      description: "Updates a service namespace. Once created, this namespace's resource\
        \ manifest is immutable. This operation is idempotent."
      operationId: Namespaces_Update
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceUpdateParameters'
        description: Parameters supplied to update a namespace resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace updated successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace update request accepted.
        "202":
          content: {}
          description: Namespace update request accepted.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Creates or updates a service namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      operationId: Namespaces_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters supplied to create a namespace resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace created successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace create request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
      tags:
      - Namespaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Gets the authorization rules for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx
      operationId: Namespaces_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Namespace authorization rules returned successfully.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
    post:
      description: Gets the authorization rules for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx
      operationId: Namespaces_ListPostAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Namespace authorization rules returned successfully.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639417.aspx
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace authorization rule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-accepts:
      - application/json
    get:
      description: Gets an authorization rule for a namespace by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx
      operationId: Namespaces_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleGetResource'
          description: Namespace authorization rule returned successfully.
      tags:
      - Namespaces
      x-accepts:
      - application/json
    post:
      description: Gets an authorization rule for a namespace by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx
      operationId: Namespaces_PostAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace authorization rule returned successfully.
      tags:
      - Namespaces
      x-accepts:
      - application/json
    put:
      description: Creates or updates an authorization rule for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639410.aspx
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace authorization rule created.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/eventhubs/{eventhubName}/authorizationRules
  : get:
      description: Gets authorization rules for a eventhub.
      operationId: EventHub_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The eventhub name.
        in: path
        name: eventhubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Authorization rules successfully returned.
      tags:
      - EventHub
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/eventhubs/{eventhubName}/authorizationRules/{authorizationRuleName}
  : get:
      description: Returns the specified authorization rule.
      operationId: EventHub_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The eventhub name.
        in: path
        name: eventhubName
        required: true
        schema:
          type: string
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Eventhub authorization rule returned successfully.
      tags:
      - EventHub
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/messagingplan
  : get:
      description: Gets a description for the specified namespace.
      operationId: MessagingPlan_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagingPlan'
          description: Messaging Plan successfully returned.
      tags:
      - MessagingPlan
      x-accepts:
      - application/json
    put:
      description: Creates or updates a Messaging Plan for a namespace
      operationId: MessagingPlan_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagingPlan'
        description: Parameters supplied to create a messaging plan.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagingPlan'
          description: Messaging Plan created successfully.
        "202":
          content: {}
          description: MessagingPlan create or update request accepted.
      tags:
      - MessagingPlan
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues
  : get:
      description: Gets the queues within a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639415.aspx
      operationId: Queues_ListAll
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueListResult'
          description: Queues successfully returned.
      tags:
      - Queues
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}
  : delete:
      description: Deletes a queue from the specified namespace in a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639411.aspx
      operationId: Queues_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Queue successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Queues
      x-accepts:
      - application/json
    get:
      description: Returns a description for the specified queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639380.aspx
      operationId: Queues_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResource'
          description: Queue description successfully returned.
      tags:
      - Queues
      x-accepts:
      - application/json
    put:
      description: Creates or updates a Service Bus queue. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx
      operationId: Queues_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueCreateOrUpdateParameters'
        description: Parameters supplied to create or update a queue resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResource'
          description: Queue successfully created.
      tags:
      - Queues
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules
  : get:
      description: Gets all authorization rules for a queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705607.aspx
      operationId: Queues_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Authorization rules successfully returned.
      tags:
      - Queues
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a queue authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705609.aspx
      operationId: Queues_DeleteAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Authorization rule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Queues
      x-accepts:
      - application/json
    get:
      description: Gets an authorization rule for a queue by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx
      operationId: Queues_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleGetResource'
          description: Authorization rule successfully returned.
      tags:
      - Queues
      x-accepts:
      - application/json
    post:
      description: Gets an authorization rule for a queue by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx
      operationId: Queues_PostAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Authorization rule successfully returned.
      tags:
      - Queues
      x-accepts:
      - application/json
    put:
      description: Creates an authorization rule for a queue.
      operationId: Queues_CreateOrUpdateAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The queue name.
        in: path
        name: queueName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Authorization rule successfully created.
      tags:
      - Queues
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics
  : get:
      description: Gets all the topics in a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx
      operationId: Topics_ListAll
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicListResult'
          description: Successfully retrieved list of topics.
      tags:
      - Topics
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}
  : delete:
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx
      operationId: Topics_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Topic successfully deleted.
        "204":
          content: {}
          description: No Content
      tags:
      - Topics
      x-accepts:
      - application/json
    get:
      description: Returns a description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx
      operationId: Topics_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicResource'
          description: Topic description successfully retrieved.
      tags:
      - Topics
      x-accepts:
      - application/json
    put:
      description: Creates a topic in the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx
      operationId: Topics_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicCreateOrUpdateParameters'
        description: Parameters supplied to create a topic resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicResource'
          description: Topic successfully created.
      tags:
      - Topics
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules
  : get:
      description: Gets authorization rules for a topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      operationId: Topics_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Authorization rules successfully returned.
      tags:
      - Topics
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a topic authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      operationId: Topics_DeleteAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Topic authorization rule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Topics
      x-accepts:
      - application/json
    get:
      description: Returns the specified authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx
      operationId: Topics_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleGetResource'
          description: Topic authorization rule returned successfully.
      tags:
      - Topics
      x-accepts:
      - application/json
    post:
      description: Returns the specified authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx
      operationId: Topics_PostAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Topic authorization rule returned successfully.
      tags:
      - Topics
      x-accepts:
      - application/json
    put:
      description: Creates an authorization rule for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720678.aspx
      operationId: Topics_CreateOrUpdateAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Topic authorization rule successfully created.
      tags:
      - Topics
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions
  : get:
      description: List all the subscriptions under a specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx
      operationId: Subscriptions_ListAll
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
          description: Successfully retrieved list of subscriptions.
      tags:
      - Subscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}
  : delete:
      description: Deletes a subscription from the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx
      operationId: Subscriptions_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription name.
        in: path
        name: subscriptionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Subscription successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
    get:
      description: Returns a subscription description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx
      operationId: Subscriptions_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription name.
        in: path
        name: subscriptionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResource'
          description: Successfully retrieved subscription description.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
    put:
      description: Creates a topic subscription.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx
      operationId: Subscriptions_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The topic name.
        in: path
        name: topicName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription name.
        in: path
        name: subscriptionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateOrUpdateParameters'
        description: Parameters supplied to create a subscription resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResource'
          description: Subscription create request accepted.
      tags:
      - Subscriptions
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    authorizationRuleNameParameter:
      description: The authorization rule name.
      in: path
      name: authorizationRuleName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    namespaceNameParameter:
      description: The namespace name
      in: path
      name: namespaceName
      required: true
      schema:
        maxLength: 50
        minLength: 6
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    queueNameParameter:
      description: The queue name.
      in: path
      name: queueName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionNameParameter:
      description: The subscription name.
      in: path
      name: subscriptionName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    topicNameParameter:
      description: The topic name.
      in: path
      name: topicName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CheckNameAvailability:
      description: Description of a Check Name availability request properties.
      example:
        name: name
      properties:
        name:
          description: "The Name to check the namespace name availability and The\
            \ namespace name can contain only letters, numbers, and hyphens. The namespace\
            \ must start with a letter, and it must end with a letter or number."
          type: string
      required:
      - name
      type: object
    CheckNameAvailabilityResult:
      description: Description of a Check Name availability request properties.
      example:
        reason: None
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed info regarding the reason associated with the
            namespace.
          readOnly: true
          type: string
        nameAvailable:
          description: "Value indicating namespace is availability, true if the namespace\
            \ is available; otherwise, false."
          type: boolean
        reason:
          $ref: '#/components/schemas/UnavailableReason'
      type: object
    EntityAvailabilityStatus:
      description: Entity availability status.
      enum:
      - Available
      - Limited
      - Renaming
      - Restoring
      - Unknown
      type: string
      x-ms-enum:
        modelAsString: false
        name: EntityAvailabilityStatus
    EntityStatus:
      description: Entity status.
      enum:
      - Active
      - Creating
      - Deleting
      - Disabled
      - ReceiveDisabled
      - Renaming
      - Restoring
      - SendDisabled
      - Unknown
      type: string
      x-ms-enum:
        modelAsString: false
        name: EntityStatus
    MessageCountDetails:
      description: Message Count Details.
      example:
        scheduledMessageCount: 1
        transferMessageCount: 5
        transferDeadLetterMessageCount: 5
        deadLetterMessageCount: 6
        activeMessageCount: 0
      properties:
        activeMessageCount:
          description: "Number of active messages in the queue, topic, or subscription."
          format: int64
          readOnly: true
          type: integer
        deadLetterMessageCount:
          description: Number of messages that are dead lettered.
          format: int64
          readOnly: true
          type: integer
        scheduledMessageCount:
          description: Number of scheduled messages.
          format: int64
          readOnly: true
          type: integer
        transferDeadLetterMessageCount:
          description: Number of messages transferred into dead letters.
          format: int64
          readOnly: true
          type: integer
        transferMessageCount:
          description: "Number of messages transferred to another queue, topic, or\
            \ subscription."
          format: int64
          readOnly: true
          type: integer
      type: object
    MessagingPlan:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Premium Messaging
      example:
        properties:
          selectedEventHubUnit: 6
          sku: 1
          revision: 0
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/MessagingPlanproperties'
    MessagingPlanproperties:
      description: Premium Messaging Region
      example:
        selectedEventHubUnit: 6
        sku: 1
        revision: 0
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        revision:
          description: revision number
          format: int64
          type: integer
        selectedEventHubUnit:
          description: Selected event hub unit
          format: int32
          type: integer
        sku:
          description: Sku type
          format: int32
          type: integer
        updatedAt:
          description: The exact time the messaging plan was updated.
          format: date-time
          readOnly: true
          type: string
      type: object
    NamespaceCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Namespace operation.
      example:
        location: location
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          serviceBusEndpoint: serviceBusEndpoint
          provisioningState: provisioningState
          createACSNamespace: true
          enabled: true
          status: Unknown
          updatedAt: 2000-01-23T04:56:07.000+00:00
        tags:
          key: tags
      properties:
        location:
          description: Namespace location.
          type: string
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Namespace tags.
          type: object
      required:
      - location
      type: object
    NamespaceListResult:
      description: The response of the List Namespace operation.
      example:
        value:
        - sku:
            tier: Basic
            name: Basic
            capacity: 0
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            serviceBusEndpoint: serviceBusEndpoint
            provisioningState: provisioningState
            createACSNamespace: true
            enabled: true
            status: Unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
        - sku:
            tier: Basic
            name: Basic
            capacity: 0
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            serviceBusEndpoint: serviceBusEndpoint
            provisioningState: provisioningState
            createACSNamespace: true
            enabled: true
            status: Unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of Namespaces.
          type: string
        value:
          description: Result of the List Namespace operation.
          items:
            $ref: '#/components/schemas/NamespaceResource'
          type: array
      type: object
    NamespaceProperties:
      description: Properties of the namespace.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        serviceBusEndpoint: serviceBusEndpoint
        provisioningState: provisioningState
        createACSNamespace: true
        enabled: true
        status: Unknown
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createACSNamespace:
          description: Indicates whether to create an ACS namespace.
          type: boolean
        createdAt:
          description: The time the namespace was created.
          format: date-time
          readOnly: true
          type: string
        enabled:
          description: Specifies whether this instance is enabled.
          type: boolean
        provisioningState:
          description: Provisioning state of the namespace.
          readOnly: true
          type: string
        serviceBusEndpoint:
          description: Endpoint you can use to perform Service Bus operations.
          readOnly: true
          type: string
        status:
          description: State of the namespace.
          enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
          type: string
          x-ms-enum:
            modelAsString: false
            name: NamespaceState
        updatedAt:
          description: The time the namespace was updated.
          format: date-time
          readOnly: true
          type: string
      type: object
    NamespaceResource:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Description of a namespace resource.
      example:
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          serviceBusEndpoint: serviceBusEndpoint
          provisioningState: provisioningState
          createACSNamespace: true
          enabled: true
          status: Unknown
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        sku:
          $ref: '#/components/schemas/Sku'
    NamespaceUpdateParameters:
      description: Parameters supplied to the Patch Namespace operation.
      example:
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        tags:
          key: tags
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
    Operation:
      description: A ServiceBus REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list ServiceBus operations. It contains
        a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          type: string
        value:
          description: List of ServiceBus operations supported by the Microsoft.ServiceBus
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    QueueCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Queue operation.
      example:
        name: name
        location: location
        properties:
          accessedAt: 2000-01-23T04:56:07.000+00:00
          messageCount: 9
          sizeInBytes: 3
          lockDuration: lockDuration
          enablePartitioning: true
          requiresSession: true
          supportOrdering: true
          deadLetteringOnMessageExpiration: true
          entityAvailabilityStatus: Available
          maxDeliveryCount: 2
          createdAt: 2000-01-23T04:56:07.000+00:00
          autoDeleteOnIdle: autoDeleteOnIdle
          enableBatchedOperations: true
          enableExpress: true
          isAnonymousAccessible: true
          maxSizeInMegabytes: 7
          countDetails:
            scheduledMessageCount: 1
            transferMessageCount: 5
            transferDeadLetterMessageCount: 5
            deadLetterMessageCount: 6
            activeMessageCount: 0
          duplicateDetectionHistoryTimeWindow: duplicateDetectionHistoryTimeWindow
          requiresDuplicateDetection: true
          defaultMessageTimeToLive: defaultMessageTimeToLive
          status: Active
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        location:
          description: location of the resource.
          type: string
        name:
          description: Queue name.
          type: string
        properties:
          $ref: '#/components/schemas/QueueProperties'
      required:
      - location
      type: object
    QueueListResult:
      description: The response to the List Queues operation.
      example:
        value:
        - properties:
            accessedAt: 2000-01-23T04:56:07.000+00:00
            messageCount: 9
            sizeInBytes: 3
            lockDuration: lockDuration
            enablePartitioning: true
            requiresSession: true
            supportOrdering: true
            deadLetteringOnMessageExpiration: true
            entityAvailabilityStatus: Available
            maxDeliveryCount: 2
            createdAt: 2000-01-23T04:56:07.000+00:00
            autoDeleteOnIdle: autoDeleteOnIdle
            enableBatchedOperations: true
            enableExpress: true
            isAnonymousAccessible: true
            maxSizeInMegabytes: 7
            countDetails:
              scheduledMessageCount: 1
              transferMessageCount: 5
              transferDeadLetterMessageCount: 5
              deadLetterMessageCount: 6
              activeMessageCount: 0
            duplicateDetectionHistoryTimeWindow: duplicateDetectionHistoryTimeWindow
            requiresDuplicateDetection: true
            defaultMessageTimeToLive: defaultMessageTimeToLive
            status: Active
            updatedAt: 2000-01-23T04:56:07.000+00:00
        - properties:
            accessedAt: 2000-01-23T04:56:07.000+00:00
            messageCount: 9
            sizeInBytes: 3
            lockDuration: lockDuration
            enablePartitioning: true
            requiresSession: true
            supportOrdering: true
            deadLetteringOnMessageExpiration: true
            entityAvailabilityStatus: Available
            maxDeliveryCount: 2
            createdAt: 2000-01-23T04:56:07.000+00:00
            autoDeleteOnIdle: autoDeleteOnIdle
            enableBatchedOperations: true
            enableExpress: true
            isAnonymousAccessible: true
            maxSizeInMegabytes: 7
            countDetails:
              scheduledMessageCount: 1
              transferMessageCount: 5
              transferDeadLetterMessageCount: 5
              deadLetterMessageCount: 6
              activeMessageCount: 0
            duplicateDetectionHistoryTimeWindow: duplicateDetectionHistoryTimeWindow
            requiresDuplicateDetection: true
            defaultMessageTimeToLive: defaultMessageTimeToLive
            status: Active
            updatedAt: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of queues.
          type: string
        value:
          description: Result of the List Queues operation.
          items:
            $ref: '#/components/schemas/QueueResource'
          type: array
      type: object
    QueueProperties:
      description: The Queue Properties definition.
      example:
        accessedAt: 2000-01-23T04:56:07.000+00:00
        messageCount: 9
        sizeInBytes: 3
        lockDuration: lockDuration
        enablePartitioning: true
        requiresSession: true
        supportOrdering: true
        deadLetteringOnMessageExpiration: true
        entityAvailabilityStatus: Available
        maxDeliveryCount: 2
        createdAt: 2000-01-23T04:56:07.000+00:00
        autoDeleteOnIdle: autoDeleteOnIdle
        enableBatchedOperations: true
        enableExpress: true
        isAnonymousAccessible: true
        maxSizeInMegabytes: 7
        countDetails:
          scheduledMessageCount: 1
          transferMessageCount: 5
          transferDeadLetterMessageCount: 5
          deadLetterMessageCount: 6
          activeMessageCount: 0
        duplicateDetectionHistoryTimeWindow: duplicateDetectionHistoryTimeWindow
        requiresDuplicateDetection: true
        defaultMessageTimeToLive: defaultMessageTimeToLive
        status: Active
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        accessedAt:
          description: "Last time a message was sent, or the last time there was a\
            \ receive request to this queue."
          format: date-time
          readOnly: true
          type: string
        autoDeleteOnIdle:
          description: the TimeSpan idle interval after which the queue is automatically
            deleted. The minimum duration is 5 minutes.
          type: string
        countDetails:
          $ref: '#/components/schemas/MessageCountDetails'
        createdAt:
          description: The exact time the message was created.
          format: date-time
          readOnly: true
          type: string
        deadLetteringOnMessageExpiration:
          description: A value that indicates whether this queue has dead letter support
            when a message expires.
          type: boolean
        defaultMessageTimeToLive:
          description: "The default message time to live value. This is the duration\
            \ after which the message expires, starting from when the message is sent\
            \ to Service Bus. This is the default value used when TimeToLive is not\
            \ set on a message itself."
          type: string
        duplicateDetectionHistoryTimeWindow:
          description: TimeSpan structure that defines the duration of the duplicate
            detection history. The default value is 10 minutes.
          type: string
        enableBatchedOperations:
[...]
