openapi: 3.0.0
info:
  contact:
    email: ibl-team@lists.forge.bbc.co.uk
    name: Open iBL Project
    url: http://developer.bbc.co.uk/
  description: The definitive iPlayer API.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: BBC iPlayer Business Layer
  version: "1.0"
  x-apisguru-categories:
  - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://avatars0.githubusercontent.com/u/828722?s=200&v=4
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Mermade/bbcparse/master/iblApi/openapi.yaml
    version: "3.0"
  x-providerName: bbci.co.uk
  x-release: 1.0.0-844
  x-schema-id: https://ibl.api.bbci.co.uk/ibl/v1/schema/ibl.json
  x-unofficialSpec: true
externalDocs:
  description: BBC iPlayer documentation
  url: http://smethur.st/posts/176135860
servers:
- url: https://ibl.api.bbci.co.uk/ibl/v1
- url: http://ibl.api.bbci.co.uk/ibl/v1
security:
- api_key: []
paths:
  /atoz/{letter}/programmes:
    get:
      description: Get the Programmes whose title begins with the given initial character.
      operationId: Get_Programmes AtoZ search_
      parameters:
      - description: "Letter to search by, a to z or the string '0-9'"
        explode: false
        in: path
        name: letter
        required: true
        schema:
          pattern: "[a-z](0-9)"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The depth to return child entities.
        explode: true
        in: query
        name: initial_child_count
        required: true
        schema:
          default: 4
          maximum: 4
          minimum: 1
          type: integer
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: true
        schema:
          enum:
          - title
          type: string
        style: form
      - description: Whether to sort ascending or descending
        explode: true
        in: query
        name: sort_direction
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Programmes by initial title character
      tags:
      - A to Z
      x-accepts:
      - application/json
  /categories:
    get:
      description: Get the list of all the categories in TV & iPlayer.
      operationId: Get_Categories_
      parameters:
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get categories
      tags:
      - Categories
      x-accepts:
      - application/json
  /categories/{category}:
    get:
      description: Get sub-categories
      operationId: Get_Sub-categories_
      parameters:
      - description: The category identifier to return results from.
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get sub-categories
      tags:
      - Categories
      x-accepts:
      - application/json
  /categories/{category}/episodes:
    get:
      description: Get the list of all the episodes for a given category in TV & iPlayer.
      operationId: Get_Episodes by category_
      parameters:
      - description: The category identifier to return results from.
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - recent
          - popular
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List all the episodes for a category.
      tags:
      - Episodes
      x-accepts:
      - application/json
  /categories/{category}/highlights:
    get:
      description: Get the editorial highlights of a given category in TV & iPlayer.
      operationId: Get_Highlights by category_
      parameters:
      - description: The category identifier to return results from.
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List the highlights for a category.
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /categories/{category}/programmes:
    get:
      description: Get the list of all the Programmes (TLEOs) for a given category
        in TV & iPlayer.
      operationId: Get_Programmes by category_
      parameters:
      - description: The category identifier to return results from.
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List all the programmes for a category.
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /channels:
    get:
      description: Get the list of all the channels TV & iPlayer.
      operationId: Get_Channels_
      parameters:
      - description: The region to get the channels for.
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List all the channels.
      tags:
      - Channels
      x-accepts:
      - application/json
  /channels/{channel}/broadcasts:
    get:
      description: Get broadcasts by channel
      operationId: Get_Broadcasts by channel_
      parameters:
      - description: The channel identifier to limit results to.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: "Time to return results from, e.g. -3h"
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get broadcasts by channel
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /channels/{channel}/highlights:
    get:
      description: Get the editorial highlights of a given channel in TV & iPlayer.
      operationId: Get_Highlights by channel_
      parameters:
      - description: The channel identifier to limit results to.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Whether to include live programmes
        explode: true
        in: query
        name: live
        required: false
        schema:
          type: boolean
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List the highlights for a channel.
      tags:
      - Channels
      x-accepts:
      - application/json
  /channels/{channel}/programmes:
    get:
      description: Get programmes by channel
      operationId: Get_Programmes by channel_
      parameters:
      - description: The channel identifier to limit results to.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get programmes by channel
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /channels/{channel}/schedule/{date}:
    get:
      description: Get schedule by channel
      operationId: Get_Schedule by channel_
      parameters:
      - description: The channel identifier to limit results to.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      - description: "The date to return the schedule for, yyyy-mm-dd format"
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get schedule by channel
      tags:
      - Channels
      x-accepts:
      - application/json
  /clips/{pid}:
    get:
      description: Get Clips
      operationId: Get_Clips_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get Clips
      tags:
      - Episodes
      x-accepts:
      - application/json
  /episodes/{pid}:
    get:
      description: Get the episode for a given episode identifier.
      operationId: Get_Programme by PID_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Episode for a given pid.
      tags:
      - Episodes
      x-accepts:
      - application/json
  /episodes/{pid}/next:
    get:
      description: Get Onward Journey (next programme)
      operationId: Get_Onward_Journey
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get Onward Journey
      tags:
      - Episodes
      x-accepts:
      - application/json
  /episodes/{pid}/postrolls:
    get:
      description: Get Follow-ups (post-rolls)
      operationId: getPostRolls
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get Follow-ups (post-rolls)
      tags:
      - Episodes
      x-accepts:
      - application/json
  /episodes/{pid}/prerolls:
    get:
      description: Get Trailers (pre-rolls)
      operationId: Get_Trailers (pre-rolls)_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get Trailers (pre-rolls)
      tags:
      - Episodes
      x-accepts:
      - application/json
  /episodes/{pid}/recommendations:
    get:
      description: Get programme recommendations
      operationId: Get_Programme recommendations_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get programme recommendations
      tags:
      - Episodes
      x-accepts:
      - application/json
  /groups/popular/episodes:
    get:
      description: Get programmes popular
      operationId: Get_Programmes popular_
      parameters:
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The depth to return child entities.
        explode: true
        in: query
        name: initial_child_count
        required: true
        schema:
          default: 4
          maximum: 4
          minimum: 1
          type: integer
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: true
        schema:
          type: string
        style: form
      - description: Whether to sort ascending or descending
        explode: true
        in: query
        name: sort_direction
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get programmes popular
      tags:
      - Episodes
      x-accepts:
      - application/json
  /groups/{pid}/episodes:
    get:
      description: "Get episodes by group, brand or series"
      operationId: Get_Episodes by group_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: The page index.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The depth to return child entities.
        explode: true
        in: query
        name: initial_child_count
        required: true
        schema:
          default: 4
          maximum: 4
          minimum: 1
          type: integer
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: true
        schema:
          type: string
        style: form
      - description: Whether to sort ascending or descending
        explode: true
        in: query
        name: sort_direction
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: "Get episodes by group, brand or series"
      tags:
      - Episodes
      x-accepts:
      - application/json
  /home/highlights:
    get:
      description: Get programme highlights
      operationId: Get_Programme highlights_
      parameters:
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: Request additional data in the output
        explode: true
        in: query
        name: mixin
        required: false
        schema:
          enum:
          - live
          - promotions
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get programme highlights
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /programmes/{pid}:
    get:
      description: Get the programme for a given programme identifier.
      operationId: Get_Programmes by parent PID_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The depth to return child entities.
        explode: true
        in: query
        name: initial_child_count
        required: true
        schema:
          default: 4
          maximum: 4
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Programme for a given pid.
      tags:
      - Programmes (TLEOs)
      x-accepts:
      - application/json
  /programmes/{pid}/episodes:
    get:
      description: Get the child episodes belonging to a given programme identifier.
      operationId: Get_Episodes by parent PID_
      parameters:
      - description: The programme identifier.
        explode: false
        in: path
        name: pid
        required: true
        schema:
          minLength: 8
          pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
          type: string
        style: simple
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      - description: The depth to return child entities.
        explode: true
        in: query
        name: initial_child_count
        required: true
        schema:
          default: 4
          maximum: 4
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Child episodes for a given programme pid.
      tags:
      - Episodes
      x-accepts:
      - application/json
  /regions:
    get:
      description: Get the list of all the regions TV & iPlayer.
      operationId: Get_Regions_
      parameters:
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: List all regions
      tags:
      - Regions
      x-accepts:
      - application/json
  /schema/ibl.json:
    get:
      description: Get schema
      operationId: Get_Schema_
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get schema
      tags:
      - Metadata
      x-accepts:
      - application/json
  /search:
    get:
      description: Search
      operationId: Search_
      parameters:
      - description: The term to search for.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Search
      tags:
      - Search
      x-accepts:
      - application/json
  /search-suggest:
    get:
      description: Search-suggest
      operationId: Search-suggest_
      parameters:
      - description: The term to search for.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: The language for any applicable localised strings.
        explode: true
        in: query
        name: lang
        required: true
        schema:
          enum:
          - en
          - cy
          - ga
          - gd
          - pi
          type: string
        style: form
      - description: The rights group to limit results to.
        explode: true
        in: query
        name: rights
        required: true
        schema:
          default: web
          enum:
          - mobile
          - tv
          - web
          type: string
        style: form
      - description: "Whether to return all, or available programmes"
        explode: true
        in: query
        name: availability
        required: true
        schema:
          default: available
          enum:
          - all
          - available
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Search-suggest
      tags:
      - Search
      x-accepts:
      - application/json
  /status:
    get:
      description: "Get the current iPlayer business layer status. This tells the\
        \ caller the status of the iPlayer data, but not necessarily the overall status\
        \ of the website. In the future it might include the status of the dependent\
        \ data services within the BBC."
      operationId: Get_Status_
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get status
      tags:
      - Metadata
      x-accepts:
      - application/json
  /user/purchases:
    get:
      description: Get user store purchases
      operationId: Get_User store purchases_
      parameters:
      - description: The BBC-id cookie value
        explode: true
        in: query
        name: identity_cookie
        required: true
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security:
      - basic: []
      summary: Get user store purchases
      tags:
      - User
      x-accepts:
      - application/json
  /user/recommendations:
    get:
      description: Get user store recommendations
      operationId: Get_User store recommendations_
      parameters:
      - description: The BBC-id cookie value
        explode: true
        in: query
        name: identity_cookie
        required: true
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get user store recommendations
      tags:
      - User
      x-accepts:
      - application/json
  /user/watching:
    get:
      description: Get user watching
      operationId: Get_User watching_
      parameters:
      - description: The BBC-id cookie value
        explode: true
        in: query
        name: identity_cookie
        required: true
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ibl'
          description: Default response
      security: []
      summary: Get user watching
      tags:
      - User
      x-accepts:
      - application/json
components:
  parameters:
    availability:
      description: "Whether to return all, or available programmes"
      explode: true
      in: query
      name: availability
      required: true
      schema:
        default: available
        enum:
        - all
        - available
        type: string
      style: form
    category:
      description: The category identifier to return results from.
      explode: false
      in: path
      name: category
      required: true
      schema:
        type: string
      style: simple
    channel:
      description: The channel identifier to limit results to.
      explode: false
      in: path
      name: channel
      required: true
      schema:
        type: string
      style: simple
    identity_cookie:
      description: The BBC-id cookie value
      explode: true
      in: query
      name: identity_cookie
      required: true
      schema:
        format: double
        type: number
      style: form
    initial_child_count:
      description: The depth to return child entities.
      explode: true
      in: query
      name: initial_child_count
      required: true
      schema:
        default: 4
        maximum: 4
        minimum: 1
        type: integer
      style: form
    lang:
      description: The language for any applicable localised strings.
      explode: true
      in: query
      name: lang
      required: true
      schema:
        enum:
        - en
        - cy
        - ga
        - gd
        - pi
        type: string
      style: form
    mixin:
      description: Request additional data in the output
      explode: true
      in: query
      name: mixin
      required: false
      schema:
        enum:
        - live
        - promotions
        items:
          type: string
        type: array
      style: form
    page:
      description: The page index.
      explode: true
      in: query
      name: page
      required: true
      schema:
        format: int64
        type: integer
      style: form
    per_page:
      description: The number of results to return.
      explode: true
      in: query
      name: per_page
      required: true
      schema:
        format: int64
        type: integer
      style: form
    pid:
      description: The programme identifier.
      explode: false
      in: path
      name: pid
      required: true
      schema:
        minLength: 8
        pattern: "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$"
        type: string
      style: simple
    q:
      description: The term to search for.
      explode: true
      in: query
      name: q
      required: true
      schema:
        type: string
      style: form
    rights:
      description: The rights group to limit results to.
      explode: true
      in: query
      name: rights
      required: true
      schema:
        default: web
        enum:
        - mobile
        - tv
        - web
        type: string
      style: form
    sort:
      description: The sort order of the results.
      explode: true
      in: query
      name: sort
      required: true
      schema:
        type: string
      style: form
    sort_direction:
      description: Whether to sort ascending or descending
      explode: true
      in: query
      name: sort_direction
      required: true
      schema:
        enum:
        - asc
        - desc
        type: string
      style: form
  schemas:
    added:
      additionalProperties: false
      properties:
        programme:
          $ref: '#/components/schemas/programme'
        type:
          enum:
          - added
          type: string
        urn:
          type: string
      required:
      - programme
      - type
      - urn
      type: object
    broadcast:
      additionalProperties: false
      properties:
        available_on_hd_service:
          nullable: true
          type: string
        blanked:
          type: boolean
        channel_title:
          type: string
        duration:
          $ref: '#/components/schemas/broadcast_duration'
        episode:
          $ref: '#/components/schemas/episode'
        episode_id:
          type: string
        events:
          items:
            $ref: '#/components/schemas/broadcast_events_inner'
          type: array
        id:
          type: string
        repeat:
          type: boolean
        scheduled_end:
          type: string
        scheduled_start:
          type: string
        service_id:
          type: string
        transmission_end:
          type: string
        transmission_start:
          type: string
        type:
          enum:
          - broadcast
          type: string
        version_id:
          type: string
      required:
      - blanked
      - episode
      - episode_id
      - id
      - repeat
      - scheduled_end
      - scheduled_start
      - service_id
      - type
      - version_id
      type: object
    category:
      additionalProperties: false
      properties:
        child_episode_count:
          type: number
        child_programme_count:
          type: number
        contextual_title:
          type: string
        id:
          type: string
        kind:
          enum:
          - genre
          - accessibility
          - national
          - childrens
          type: string
        parent_category:
          type: string
        sub_categories:
          items:
            $ref: '#/components/schemas/category'
          type: array
        title:
          type: string
        type:
          enum:
          - category
          type: string
      required:
      - id
      - kind
      - title
      - type
      type: object
    channel:
      additionalProperties: false
      properties:
        has_schedule:
          type: boolean
        id:
          type: string
        master_brand_id:
          type: string
        master_brand_title:
          type: string
        on_air:
          type: boolean
        title:
          type: string
        type:
          enum:
          - channel
          type: string
      required:
      - has_schedule
      - id
      - master_brand_id
      - master_brand_title
      - title
      - type
      type: object
    clip:
      additionalProperties: false
      properties:
        id:
          type: string
        images:
          $ref: '#/components/schemas/clip_images'
        labels:
          $ref: '#/components/schemas/clip_labels'
        master_brand:
          $ref: '#/components/schemas/master_brand'
        onward_journey:
          $ref: '#/components/schemas/clip_onward_journey'
        promotion_type:
          enum:
          - available_now
          - coming_soon
          type: string
        synopses:
          $ref: '#/components/schemas/clip_synopses'
        title:
          type: string
        tleo_id:
          type: string
        tleo_type:
          enum:
          - episode
          - brand
          - series
          type: string
        type:
          enum:
          - clip
          type: string
        versions:
          items:
            $ref: '#/components/schemas/clip_versions_inner'
          type: array
      required:
      - id
      - images
      - master_brand
      - synopses
      - title
      - tleo_id
      - type
      - versions
      type: object
    episode:
      additionalProperties: false
      properties:
        audio_described:
          type: boolean
        categories:
          items:
            type: string
          type: array
        childrens:
          type: boolean
        editorial_subtitle:
          type: string
        editorial_title:
          type: string
        event_group_id:
          type: string
        guidance:
          type: boolean
        has_credits:
          type: boolean
        id:
          type: string
        images:
          $ref: '#/components/schemas/episode_images'
        labels:
          $ref: '#/components/schemas/episode_labels'
        lexical_sort_letter:
          type: string
        live:
          type: boolean
        live_subtitle:
          type: string
        live_title:
          type: string
        master_brand:
          $ref: '#/components/schemas/master_brand'
        next_broadcast:
          $ref: '#/components/schemas/episode_next_broadcast'
        numeric_tleo_position:
          type: number
        original_title:
          type: string
        parent_id:
          type: string
        parent_position:
          type: number
        preview_id:
          type: string
        programme_type:
          enum:
          - narrative
          - sequential
          - self-contained
          - strand
          - unclassified
          - one-off
          type: string
        promoted:
          type: boolean
        related_links:
          items:
            $ref: '#/components/schemas/episode_related_links_inner'
          type: array
        release_date:
          type: string
        release_date_time:
          type: string
        requires_ab:
          items:
            enum:
            - u13
            - u16
            - u18
            - o18
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        requires_sign_in:
          type: boolean
        requires_tv_licence:
          type: boolean
        signed:
          type: boolean
        slice_id:
          type: string
        slice_subtitle:
          type: string
        status:
          enum:
          - available
          - unavailable
          type: string
        subtitle:
          type: string
        synopses:
          $ref: '#/components/schemas/episode_synopses'
        tests:
          items:
            $ref: '#/components/schemas/episode_tests_inner'
          type: array
        title:
          type: string
        tleo_id:
          type: string
        tleo_type:
          enum:
          - episode
          - brand
          - series
          type: string
        type:
          enum:
          - episode
          - episode_large
          type: string
        versions:
          items:
            $ref: '#/components/schemas/episode_versions_inner'
          type: array
      required:
      - audio_described
      - categories
      - guidance
      - id
      - images
      - lexical_sort_letter
      - master_brand
      - requires_sign_in
      - signed
      - status
      - synopses
      - title
      - tleo_id
      - tleo_type
      - type
      - versions
      type: object
    group:
      additionalProperties: false
      properties:
        count:
          type: number
        episode_sort_direction:
          type: string
        group_type:
          enum:
          - tleo
          - curated
          - automated
          - event
          type: string
        id:
          type: string
        images:
          $ref: '#/components/schemas/group_images'
        initial_children:
          items:
            $ref: '#/components/schemas/group_initial_children_inner'
          type: array
        master_brand:
          $ref: '#/components/schemas/master_brand'
        related_links:
          items:
            $ref: '#/components/schemas/group_related_links_inner'
          type: array
        short_title:
          type: string
        stacked:
          type: boolean
        synopses:
          $ref: '#/components/schemas/clip_versions_inner_guidance_text'
        title:
          type: string
        type:
          enum:
          - group
          - group_large
          type: string
      required:
      - id
      - type
      type: object
    ibl: {}
    interaction:
      additionalProperties: false
      properties:
        interaction_points:
          $ref: '#/components/schemas/interaction_interaction_points'
        subtype:
          $ref: '#/components/schemas/interaction_subtype'
        title:
          $ref: '#/components/schemas/interaction_title'
        type:
          $ref: '#/components/schemas/interaction_type'
      required:
      - interaction_points
      - subtype
      - title
      - type
      type: object
    master_brand:
      additionalProperties: false
      properties:
        attribution:
          type: string
        id:
          type: string
        ident_id:
          type: string
        titles:
          $ref: '#/components/schemas/master_brand_titles'
      required:
      - attribution
      - id
      - titles
      type: object
    programme:
      additionalProperties: false
      properties:
        categories:
          items:
            type: string
          type: array
        count:
          type: number
        id:
          type: string
        images:
          $ref: '#/components/schemas/clip_images'
        initial_children:
          items:
            $ref: '#/components/schemas/episode'
          type: array
        labels:
          $ref: '#/components/schemas/programme_labels'
        lexical_sort_letter:
          type: string
        master_brand:
          $ref: '#/components/schemas/master_brand'
        programme_type:
          enum:
          - narrative
          - sequential
          - self-contained
          - strand
          - unclassified
          - one-off
          type: string
        status:
          enum:
          - available
          - unavailable
          type: string
        synopses:
          $ref: '#/components/schemas/clip_versions_inner_guidance_text'
        title:
          type: string
        tleo_type:
          enum:
          - brand
          - series
          - episode
          type: string
        type:
          enum:
          - programme
          - programme_large
          type: string
      required:
      - categories
      - count
      - id
      - images
      - initial_children
      - lexical_sort_letter
      - master_brand
      - status
      - synopses
      - title
      - type
      type: object
    promotion:
      additionalProperties: false
      properties:
        id:
          type: string
        images:
          $ref: '#/components/schemas/clip_images'
        labels:
          $ref: '#/components/schemas/promotion_labels'
        subtitle:
          type: string
        synopses:
          $ref: '#/components/schemas/clip_versions_inner_guidance_text'
        title:
          type: string
        type:
          enum:
          - promotion
          type: string
        url:
          type: string
      required:
      - id
      - type
      type: object
    region:
      additionalProperties: false
      properties:
        id:
          type: string
        kind:
          enum:
          - regional
          - national
          type: string
        short_id:
          type: string
        title:
          type: string
        type:
          enum:
          - region
          type: string
      required:
      - id
      - kind
      - short_id
      - title
      - type
      type: object
    search_group:
      additionalProperties: false
      properties:
        episode:
          $ref: '#/components/schemas/episode'
        id:
          type: string
        type:
          enum:
          - search_group
          type: string
      required:
      - episode
      - id
      - type
      type: object
    store_version:
      additionalProperties: false
      properties:
        download:
          type: boolean
        duration:
          $ref: '#/components/schemas/broadcast_duration'
        guidance:
          $ref: '#/components/schemas/clip_versions_inner_guidance'
        hd:
          type: boolean
        id:
          type: string
        kind:
          type: string
        store_id:
          type: string
        store_profile:
          type: string
        store_session:
          $ref: '#/components/schemas/episode_versions_inner_anyOf_store_session'
        type:
          enum:
          - store_version
          type: string
      required:
      - download
      - duration
      - hd
      - id
      - kind
      - store_id
      - store_profile
      - type
      type: object
    trailer:
      additionalProperties: false
      properties:
        id:
          type: string
        kind:
          enum:
          - available_now
          - watch_now
          - coming_soon
          - streaming_now_sounds
          - other
          type: string
        message:
          type: string
        title:
          type: string
        type:
          enum:
          - trailer
          type: string
        version_id:
          type: string
      required:
      - id
      - kind
      - message
      - title
      - type
      - version_id
      type: object
    user_recommendation:
      additionalProperties: false
      properties:
        algorithm:
          type: string
        episode:
          $ref: '#/components/schemas/episode'
        type:
          enum:
          - user_recommendation
          type: string
      required:
      - algorithm
      - episode
      - type
      type: object
    version:
      additionalProperties: false
      properties:
        availability:
          $ref: '#/components/schemas/clip_versions_inner_availability'
        credits_start:
          type: number
        download:
          type: boolean
        duration:
          $ref: '#/components/schemas/broadcast_duration'
        events:
          items:
            $ref: '#/components/schemas/clip_versions_inner_events_inner'
          type: array
        first_broadcast:
          type: string
        first_broadcast_date_time:
          type: string
        guidance:
          $ref: '#/components/schemas/clip_versions_inner_guidance'
        hd:
          type: boolean
        id:
          type: string
        interactions:
          items:
            $ref: '#/components/schemas/interaction'
          type: array
        kind:
          enum:
          - legal
          - editorial
          - technical-replacement
          - original
          - iplayer-version
          - lengthened
          - shortened
          - pre-watershed
          - post-watershed
          - warnings-higher
          - warnings-lower
          - warnings-none
          - duplication
          - open-subtitled
          - other
          - audio-described
          - signed
          - webcast
          - simulcast
          type: string
        rrc:
          $ref: '#/components/schemas/clip_versions_inner_rrc'
        service_id:
          type: string
        type:
          enum:
          - version
          - version_large
          type: string
        uhd:
          type: boolean
      required:
      - availability
      - download
      - duration
      - hd
      - id
      - kind
      - type
      - uhd
      type: object
    watching:
      additionalProperties: false
      properties:
        episode:
          $ref: '#/components/schemas/episode'
        has_next:
          type: boolean
        offset:
          type: number
        programme:
          $ref: '#/components/schemas/programme'
        progress:
          type: number
        remaining:
          type: number
        status:
          enum:
          - current
          - next
          - ended
          type: string
        type:
          enum:
          - watching
          type: string
        urn:
          type: string
        version:
          $ref: '#/components/schemas/version'
      required:
      - episode
      - has_next
      - programme
      - type
      - urn
      - version
      type: object
    broadcast_duration:
      additionalProperties: false
      properties:
        text:
          type: string
        value:
          type: string
      required:
      - text
      - value
      type: object
    broadcast_events_inner:
      additionalProperties: false
      properties:
        name:
          type: string
        system:
          type: string
        time:
          type: string
      required:
      - name
      - system
      - time
      type: object
    clip_images:
      additionalProperties: false
      properties:
        inherited_from:
          type: string
        standard:
          type: string
        type:
          enum:
          - image
          type: string
      required:
      - standard
      - type
      type: object
    clip_labels:
      additionalProperties: false
      properties:
        category:
          type: string
        editorial:
          type: string
      type: object
    clip_onward_journey:
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          enum:
          - episode
          type: string
      type: object
    clip_synopses:
      additionalProperties: false
      properties:
        editorial:
          type: string
        large:
          type: string
        medium:
          type: string
        small:
          type: string
      type: object
    clip_versions_inner_availability_remaining:
      additionalProperties: false
      properties:
        text:
          type: string
      required:
      - text
      type: object
    clip_versions_inner_availability:
      additionalProperties: false
      properties:
        accurate_start:
          type: string
        end:
          type: string
        remaining:
          $ref: '#/components/schemas/clip_versions_inner_availability_remaining'
        start:
          type: string
      required:
      - start
      type: object
    clip_versions_inner_events_inner_oneOf:
      additionalProperties: false
      properties:
        name:
          type: string
        offset:
          type: integer
        system:
          type: string
      required:
      - name
      - offset
      - system
      type: object
    clip_versions_inner_events_inner:
      oneOf:
      - $ref: '#/components/schemas/clip_versions_inner_events_inner_oneOf'
      - $ref: '#/components/schemas/broadcast_events_inner'
    clip_versions_inner_guidance_text:
      additionalProperties: false
      properties:
        large:
          type: string
        medium:
          type: string
        small:
          type: string
      type: object
    clip_versions_inner_guidance:
      additionalProperties: false
      properties:
        id:
          type: string
        text:
          $ref: '#/components/schemas/clip_versions_inner_guidance_text'
      required:
      - id
      type: object
    clip_versions_inner_rrc_description:
      additionalProperties: false
      properties:
        large:
          type: string
        small:
          type: string
      required:
      - large
      - small
      type: object
    clip_versions_inner_rrc:
      additionalProperties: false
      properties:
        description:
          $ref: '#/components/schemas/clip_versions_inner_rrc_description'
        url:
          type: string
      required:
      - description
      type: object
    clip_versions_inner:
      additionalProperties: false
      properties:
        availability:
          $ref: '#/components/schemas/clip_versions_inner_availability'
        credits_start:
          type: number
        download:
          type: boolean
        duration:
          $ref: '#/components/schemas/broadcast_duration'
        events:
          items:
            $ref: '#/components/schemas/clip_versions_inner_events_inner'
          type: array
        first_broadcast:
          type: string
        first_broadcast_date_time:
          type: string
        guidance:
          $ref: '#/components/schemas/clip_versions_inner_guidance'
        hd:
          type: boolean
        id:
          type: string
        interactions:
          items:
            $ref: '#/components/schemas/interaction'
          type: array
        kind:
          enum:
          - legal
          - editorial
          - technical-replacement
          - original
          - iplayer-version
          - lengthened
          - shortened
          - pre-watershed
          - post-watershed
          - warnings-higher
          - warnings-lower
          - warnings-none
          - duplication
          - open-subtitled
          - other
          - audio-described
          - signed
          - webcast
          - simulcast
          type: string
        rrc:
          $ref: '#/components/schemas/clip_versions_inner_rrc'
        service_id:
          type: string
        type:
          enum:
          - version
          - version_large
          type: string
        uhd:
          type: boolean
      required:
      - availability
      - download
      - duration
      - hd
      - id
      - kind
      - type
      - uhd
      type: object
    episode_images:
      additionalProperties: false
      properties:
        character_image:
          type: string
        inherited_from:
          type: string
        live:
          type: string
        portrait:
          type: string
        promotional:
          type: string
        promotional_with_logo:
          type: string
        standard:
          type: string
        type:
          enum:
          - image
          type: string
      required:
      - standard
      - type
      type: object
    episode_labels:
      additionalProperties: false
      properties:
        category:
          type: string
        editorial:
          type: string
        editorial_category:
          type: string
        time:
          type: string
      type: object
    episode_next_broadcast:
      additionalProperties: false
      properties:
        channel_title:
          type: string
        scheduled_start:
          type: string
      required:
      - channel_title
      - scheduled_start
      type: object
    episode_related_links_inner:
      additionalProperties: false
      properties:
        id:
          type: string
        kind:
          type: string
        title:
          type: string
        type:
          enum:
          - link
          type: string
        url:
          type: string
      required:
      - id
      - kind
      - title
      - type
      - url
      type: object
    episode_synopses:
      additionalProperties: false
      properties:
        editorial:
          type: string
        large:
          type: string
        live:
          type: string
        medium:
          type: string
        preview:
          type: string
        programme_small:
          type: string
        small:
          type: string
      type: object
    episode_tests_inner_variants_inner_data_images:
      properties:
        standard:
          type: string
        type:
          enum:
          - episode
          - episode_large
          type: string
      required:
      - standard
      - type
      type: object
    episode_tests_inner_variants_inner_data:
      properties:
        images:
          $ref: '#/components/schemas/episode_tests_inner_variants_inner_data_images'
      required:
      - images
      type: object
    episode_tests_inner_variants_inner:
      properties:
        data:
          $ref: '#/components/schemas/episode_tests_inner_variants_inner_data'
        id:
          type: string
      required:
      - data
      - id
      type: object
    episode_tests_inner:
      properties:
        id:
          type: string
        status:
          enum:
          - active
          type: string
        variants:
          items:
            $ref: '#/components/schemas/episode_tests_inner_variants_inner'
          type: array
      required:
      - id
      - status
      - variants
      type: object
    episode_versions_inner_anyOf_store_session_stats:
      properties:
        assetName:
          type: string
        contentType:
          type: string
        contentVariant:
          type: string
        episodeName:
          type: string
        parentPID:
          type: string
        parentPIDType:
          type: string
        productVariant:
          type: string
        viewerId:
          type: string
      type: object
    episode_versions_inner_anyOf_store_session:
      additionalProperties: false
      properties:
        ceiling:
          type: number
        stats:
          $ref: '#/components/schemas/episode_versions_inner_anyOf_store_session_stats'
        token:
          type: string
      required:
      - stats
      - token
      type: object
    episode_versions_inner_anyOf:
      additionalProperties: false
      properties:
        download:
          type: boolean
        duration:
          $ref: '#/components/schemas/broadcast_duration'
        guidance:
          $ref: '#/components/schemas/clip_versions_inner_guidance'
        hd:
          type: boolean
        id:
          type: string
        kind:
          type: string
        store_id:
          type: string
        store_profile:
          type: string
        store_session:
          $ref: '#/components/schemas/episode_versions_inner_anyOf_store_session'
        type:
          enum:
          - store_version
          type: string
      required:
      - download
      - duration
      - hd
      - id
      - kind
      - store_id
      - store_profile
      - type
      type: object
    episode_versions_inner:
      anyOf:
      - $ref: '#/components/schemas/clip_versions_inner'
      - $ref: '#/components/schemas/episode_versions_inner_anyOf'
    group_images:
      additionalProperties: false
      properties:
        standard:
          type: string
        type:
          enum:
          - image
          type: string
        vertical:
          type: string
      required:
      - standard
      - type
      - vertical
      type: object
    group_initial_children_inner:
      anyOf:
      - $ref: '#/components/schemas/episode'
      - $ref: '#/components/schemas/broadcast'
    group_related_links_inner:
      additionalProperties: false
      properties:
        kind:
          type: string
        title:
          type: string
        url:
          type: string
      required:
      - kind
      - title
      - url
      type: object
    interaction_interaction_points:
      additionalProperties: false
      properties:
        show_from:
          type: number
        skip_to:
          type: number
      required:
      - show_from
      - skip_to
      type: object
    interaction_subtype:
      anyOf:
      - type: string
      - enum:
        - intro
        - recap
        - this-episode-preview
        - next-episode-teaser
        type: string
    interaction_title_long:
      anyOf:
      - type: string
      - enum:
        - Skip intro
        - Skip recap
        - Skip preview
        type: string
    interaction_title_short:
      anyOf:
      - type: string
      - enum:
        - Skip
        type: string
    interaction_title:
      additionalProperties: false
      properties:
        long:
          $ref: '#/components/schemas/interaction_title_long'
        short:
          $ref: '#/components/schemas/interaction_title_short'
      required:
      - long
      - short
      type: object
    interaction_type:
      anyOf:
      - type: string
      - enum:
        - skip
        type: string
    master_brand_titles:
      additionalProperties: false
      properties:
        large:
          type: string
        medium:
          type: string
        small:
          type: string
      required:
      - large
      - medium
      - small
      type: object
    programme_labels:
      additionalProperties: false
      properties:
        category:
          type: string
      type: object
    promotion_labels:
      additionalProperties: false
      properties:
        promotion:
          type: string
      required:
      - promotion
      type: object
  securitySchemes:
    api_key:
      in: query
      name: api_key
      type: apiKey
    basic:
      description: Used only by store purchases.
      scheme: basic
      type: http

