openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/discoveredSecuritySolutions.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-discoveredSecuritySolutions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions:
    get:
      description: Gets a list of discovered Security Solutions for the subscription.
      operationId: discovered_security_solutions_list
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                  location: eastus
                  name: CP
                  properties:
                    offer: cisco-asav
                    publisher: cisco
                    securityFamily: Ngfw
                    sku: asav-azure-byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                  location: eastus2
                  name: paloalto7
                  properties:
                    offer: vmseries1
                    publisher: paloaltonetworks
                    securityFamily: Ngfw
                    sku: byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.discovered_security_solutions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions:
    get:
      description: Gets a list of discovered Security Solutions for the subscription
        and location.
      operationId: discovered_security_solutions_list_by_home_region
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                  location: eastus
                  name: CP
                  properties:
                    offer: cisco-asav
                    publisher: cisco
                    securityFamily: Ngfw
                    sku: asav-azure-byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                  location: eastus2
                  name: paloalto7
                  properties:
                    offer: vmseries1
                    publisher: paloaltonetworks
                    securityFamily: Ngfw
                    sku: byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.discovered_security_solutions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}
  : get:
      description: Gets a specific discovered Security Solution.
      operationId: discovered_security_solutions_get
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Name of a discovered security solution.
        in: path
        name: discoveredSecuritySolutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolution'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solution from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            discoveredSecuritySolutionName: paloalto7
            resourceGroupName: myRg2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                location: eastus2
                name: paloalto7
                properties:
                  offer: vmseries1
                  publisher: paloaltonetworks
                  securityFamily: Ngfw
                  sku: byol
                type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-openapi-router-controller: openapi_server.controllers.discovered_security_solutions_controller
components:
  parameters:
    DiscoveredSecuritySolutionName:
      description: Name of a discovered security solution.
      in: path
      name: discoveredSecuritySolutionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DiscoveredSecuritySolution:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - description: Describes an Azure resource with location
        properties:
          location:
            description: Location where the resource is stored
            readOnly: true
            type: string
        type: object
      example:
        properties:
          offer: offer
          publisher: publisher
          sku: sku
          securityFamily: Waf
      properties:
        properties:
          $ref: '#/components/schemas/DiscoveredSecuritySolutionProperties'
      required:
      - properties
      title: DiscoveredSecuritySolution
    DiscoveredSecuritySolutionList:
      example:
        value:
        - properties:
            offer: offer
            publisher: publisher
            sku: sku
            securityFamily: Waf
        - properties:
            offer: offer
            publisher: publisher
            sku: sku
            securityFamily: Waf
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/DiscoveredSecuritySolution'
          title: value
          type: array
      title: DiscoveredSecuritySolutionList
      type: object
    DiscoveredSecuritySolutionProperties:
      example:
        offer: offer
        publisher: publisher
        sku: sku
        securityFamily: Waf
      properties:
        offer:
          description: The security solutions' image offer
          title: offer
          type: string
        publisher:
          description: The security solutions' image publisher
          title: publisher
          type: string
        securityFamily:
          description: The security family of the discovered solution
          enum:
          - Waf
          - Ngfw
          - SaasWaf
          - Va
          title: securityFamily
          type: string
          x-ms-enum:
            modelAsString: true
            name: securityFamily
            values:
            - value: Waf
            - value: Ngfw
            - value: SaasWaf
            - value: Va
        sku:
          description: The security solutions' image sku
          title: sku
          type: string
      required:
      - offer
      - publisher
      - securityFamily
      - sku
      title: DiscoveredSecuritySolutionProperties
      type: object
    DiscoveredSecuritySolutions_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: DiscoveredSecuritySolutions_List_default_response_error
      type: object
      x-ms-external: true
    DiscoveredSecuritySolutions_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/DiscoveredSecuritySolutions_List_default_response_error'
      title: DiscoveredSecuritySolutions_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
