openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/security.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: security
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Security/operations:
    get:
      description: Exposes all available operations for discovery purposes.
      operationId: Operations_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts:
    get:
      description: List all the alerts that are associated with the subscription
      operationId: Alerts_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData select. Optional.
        in: query
        name: $select
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData expand. Optional.
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Get security alerts on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/alerts/2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                  name: 2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                  properties:
                    actionTaken: Detected
                    alertDisplayName: Threat Intelligence Alert
                    alertName: ThreatIntelligence
                    associatedResource: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                    canBeInvestigated: true
                    compromisedEntity: vm1
                    confidenceReasons:
                    - reason: Some user reason
                      type: User
                    - reason: Some proccess reason
                      type: Process
                    - reason: Some computer reason
                      type: Computer
                    confidenceScore: 0.8
                    description: "Process was detected running on the host and is\
                      \ considered to be suspicious, verify that the user run it"
                    detectedTimeUtc: 2018-05-01T19:50:47.083633Z
                    entities:
                    - address: 192.0.2.1
                      location:
                        asn: 6584
                        city: sonning
                        countryCode: gb
                        latitude: 51.468
                        longitude: -0.909
                        state: wokingham
                      threatIntelligence:
                      - confidence: 0.8
                        providerName: Team Cymru
                        reportLink: http://www.microsoft.com
                        threatDescription: "In bot armies, the controller is the server\
                          \ machine(s) that gives instructions to the controlled (zombied)\
                          \ hosts that connect to the command and control (C2) network.\
                          \ The controller host is usually running a botnet management\
                          \ application that is sending the commands to the zombied\
                          \ members of the bot army. These commands include, but are\
                          \ not limited to, the following: updating bitcoin wallet\
                          \ information, distributed denial-of-service (DDoS) target\
                          \ listings, updated C2 communication contact lists, and\
                          \ targeting data. C2 servers may be either directly controlled\
                          \ by the malware operators or run on hardware compromised\
                          \ by malware. There are multiple techniques for dynamically\
                          \ changing the control servers so that they are not isolated\
                          \ and brought down. Control servers utilize two general\
                          \ architectures: client-server and peer-to-peer. In a client-server\
                          \ model, all the hosts are controlled by a single server\
                          \ or a few control servers. In a peer-to-peer model, the\
                          \ infected hosts are both clients and servers, and they\
                          \ control other hosts so that instead of isolating the few\
                          \ control servers, all the hosts need to be removed."
                        threatName: rarog
                        threatType: C2
                      type: ip
                    extendedProperties:
                      attacker IP: 192.0.2.1
                      domain Name: Contoso
                      resourceType: Virtual Machine
                      user Name: administrator
                    instanceId: f144ee95-a3e5-42da-a279-967d115809aa
                    isIncident: false
                    remediationSteps: "verify that the user invoked this process\r\
                      \nrun antimalware scan of the VM"
                    reportedSeverity: High
                    reportedTimeUtc: 2018-05-02T05:36:12.2089889Z
                    state: Dismissed
                    subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    vendorName: Microsoft
                  type: Microsoft.Security/Locations/alerts
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/westeurope/alerts/2518765996949954086_2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                  name: 2518765996949954086_2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                  properties:
                    actionTaken: Detected
                    alertDisplayName: Suspicious Screensaver process executed
                    alertName: SuspiciousScreenSaver
                    associatedResource: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/myRg2/providers/microsoft.compute/virtualmachines/vm2
                    canBeInvestigated: true
                    compromisedEntity: vm2
                    confidenceReasons:
                    - reason: Suspicious process execution history for this subscription
                      type: Process
                    - reason: Suspicious process execution history for this subscription
                      type: Process
                    - reason: cmd.exe appeared in multiple alerts of the same type
                      type: Process
                    confidenceScore: 0.3
                    description: "The process ‘%{process name}’ was observed executing\
                      \ from an uncommon location.\r\n\r\nFiles with the .scr extensions\
                      \ are screen saver files and are normally reside and execute\
                      \ from the Windows system directory."
                    detectedTimeUtc: 2018-05-07T13:51:45.0045913Z
                    entities:
                    - azureID: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/myRg2/providers/microsoft.compute/virtualmachines/vm2
                      dnsDomain: ""
                      hostName: vm2
                      netBiosName: vm2
                      ntDomain: ""
                      omsAgentID: 45b44640-3b94-4892-a28c-4a5cae27065a
                      operatingSystem: Unknown
                      type: host
                    - logonId: 0x61450d87
                      name: contosoUser
                      ntDomain: vm2
                      sid: S-1-5-21-2144575486-8928446540-5163864319-500
                      type: account
                    - directory: c:\windows\system32
                      name: cmd.exe
                      type: file
                    - directory: c:\users\contosoUser
                      name: scrsave.scr
                      type: file
                    - commandLine: c:\users\contosoUser\scrsave.scr
                      creationTimeUtc: 2018-05-07T13:51:45.0045913Z
                      processId: 0x4aec
                      type: process
                    extendedProperties:
                      account logon id: 0x61450d87
                      command line: c:\users\contosoUser\scrsave.scr
                      domain name: vm2
                      enrichment_tas_threat__reports: "{\"Kind\":\"MultiLink\",\"\
                        DisplayValueToUrlDictionary\":{\"Report: Suspicious Screen\
                        \ Saver Execution\":\"https://iflowreportsproda.blob.core.windows.net/reports/MSTI-TS-Suspicious-Screen-Saver-Execution.pdf?sv=2016-05-31&sr=b&sig=2igHPl764UM7aBHNaO9mPAnpzoXlwRw8YjpFLLuB2NE%3D&spr=https&st=2018-05-07T00%3A20%3A54Z&se=2018-05-08T00%3A35%3A54Z&sp=r\"\
                        }}"
                      parent process: cmd.exe
                      parent process id: 0x3c44
                      process id: 0x4aec
                      process name: c:\users\contosoUser\scrsave.scr
                      resourceType: Virtual Machine
                      user SID: S-1-5-21-2144575486-8928446540-5163864319-500
                      user name: vm2\contosoUser
                    instanceId: 2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                    remediationSteps: "1. Run Process Explorer and try to identify\
                      \ unknown running processes (see https://technet.microsoft.com/en-us/sysinternals/bb896653.aspx)\r\
                      \n2. Make sure the machine is completely updated and has an\
                      \ updated anti-malware application installed\r\n3. Run a full\
                      \ anti-malware scan and verify that the threat was removed\r\
                      \n4. Install and run Microsoft’s Malicious Software Removal\
                      \ Tool (see https://www.microsoft.com/en-us/download/malicious-software-removal-tool-details.aspx)\r\
                      \n5. Run Microsoft’s Autoruns utility and try to identify unknown\
                      \ applications that are configured to run at login (see https://technet.microsoft.com/en-us/sysinternals/bb963902.aspx)\r\
                      \n6. Escalate the alert to the information security team"
                    reportedSeverity: Low
                    reportedTimeUtc: 2018-05-07T13:51:48.3810457Z
                    state: Active
                    subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    systemSource: Azure
                    vendorName: Microsoft
                    workspaceArmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-21ff7fc3-e762-48dd-bd96-b551f6dcdd23-weu
                  type: Microsoft.Security/Locations/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/allowedConnections:
    get:
      description: Gets the list of all possible traffic between resources for the
        subscription
      operationId: AllowedConnections_List
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnectionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AllowedConnections
      x-ms-examples:
        Get allowed connections on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Security/locations/centralus/allowedConnections/Internal
                  location: centralus
                  name: Internal
                  properties:
                    calculatedDateTime: 2018-08-06T14:55:32.3518545Z
                    connectableResources:
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine3
                      inboundConnectedResources: []
                      outboundConnectedResources: []
                  type: Microsoft.Security/locations/allowedConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions:
    get:
      description: Gets a list of discovered Security Solutions for the subscription.
      operationId: DiscoveredSecuritySolutions_List
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                  location: eastus
                  name: CP
                  properties:
                    offer: cisco-asav
                    publisher: cisco
                    securityFamily: Ngfw
                    sku: asav-azure-byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                  location: eastus2
                  name: paloalto7
                  properties:
                    offer: vmseries1
                    publisher: paloaltonetworks
                    securityFamily: Ngfw
                    sku: byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/externalSecuritySolutions:
    get:
      description: Gets a list of external security solutions for the subscription.
      operationId: ExternalSecuritySolutions_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ExternalSecuritySolutions
      x-ms-examples:
        Get external security solutions on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  kind: AAD
                  location: eastus
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-weu/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  kind: AAD
                  location: westeurope
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-weu/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_barracudanetworks_waf_barracuda
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_barracudanetworks_waf_barracuda
                  properties:
                    deviceType: WAF
                    deviceVendor: barracudanetworks
                    hostname: barracuda
                    lastEventReceived: 2018-05-09T10:30:11.523Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_virtualhoneypot_Microsoft_demovm20
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_virtualhoneypot_Microsoft_demovm20
                  properties:
                    deviceType: Microsoft
                    deviceVendor: virtualHoneypot
                    hostname: demovm20
                    lastEventReceived: 2018-05-08T15:42:22.57Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_virtualhoneypot_Microsoft_demovm10
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_virtualhoneypot_Microsoft_demovm10
                  properties:
                    deviceType: Microsoft
                    deviceVendor: virtualHoneypot
                    hostname: demovm10
                    lastEventReceived: 2018-05-08T10:38:53.423Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_omsprd
                  kind: AAD
                  location: westcentralus
                  name: aad_omsprd
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-ejp/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  kind: AAD
                  location: japaneast
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-ejp/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  type: Microsoft.Security/locations/externalSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies:
    get:
      description: Policies for protecting resources using Just-in-Time access control.
      operationId: JitNetworkAccessPolicies_List
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitNetworkAccessPoliciesList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - JitNetworkAccessPolicies
      x-ms-examples:
        Get JIT network access policies on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/jitNetworkAccessPolicies/default
                  kind: Basic
                  location: westeurope
                  name: default
                  properties:
                    provisioningState: Succeeded
                    requests:
                    - requestor: barbara@contoso.com
                      startTimeUtc: 2018-05-17T08:06:45.5691611Z
                      virtualMachines:
                      - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                        ports:
                        - allowedSourceAddressPrefix: 192.127.0.2
                          endTimeUtc: 2018-05-17T09:06:45.5691611Z
                          number: 3389
                          status: Initiated
                          statusReason: UserRequested
                    virtualMachines:
                    - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                      ports:
                      - allowedSourceAddressPrefix: '*'
                        maxRequestAccessDuration: PT3H
                        number: 22
                        protocol: '*'
                      - allowedSourceAddressPrefix: '*'
                        maxRequestAccessDuration: PT3H
                        number: 3389
                        protocol: '*'
                  type: Microsoft.Security/locations/jitNetworkAccessPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations:
    get:
      description: The location of the responsible ASC of the specific subscription
        (home region). For each subscription there is only one responsible location.
        The location in the response should be used to read or write other resources
        in ASC according to their ID.
      operationId: Locations_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AscLocationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Locations
      x-ms-examples:
        Get security data locations:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/centralus
                  name: centralus
                  properties:
                    homeRegionName: centralus
                  type: Microsoft.Security/locations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}:
    get:
      description: Details of a specific location
      operationId: Locations_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AscLocation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Locations
      x-ms-examples:
        Get security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/centralus
                name: centralus
                properties:
                  homeRegionName: centralus
                type: Microsoft.Security/locations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions:
    get:
      description: Gets a list of external Security Solutions for the subscription
        and location.
      operationId: ExternalSecuritySolutions_ListByHomeRegion
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ExternalSecuritySolutions
      x-ms-examples:
        Get external security solutions on a subscription from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  kind: AAD
                  location: eastus
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-eus
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-weu/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  kind: AAD
                  location: westeurope
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-weu/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-weu
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_barracudanetworks_waf_barracuda
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_barracudanetworks_waf_barracuda
                  properties:
                    deviceType: WAF
                    deviceVendor: barracudanetworks
                    hostname: barracuda
                    lastEventReceived: 2018-05-09T10:30:11.523Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_virtualhoneypot_Microsoft_demovm20
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_virtualhoneypot_Microsoft_demovm20
                  properties:
                    deviceType: Microsoft
                    deviceVendor: virtualHoneypot
                    hostname: demovm20
                    lastEventReceived: 2018-05-08T15:42:22.57Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/cef_omsprd_virtualhoneypot_Microsoft_demovm10
                  kind: CEF
                  location: westcentralus
                  name: cef_omsprd_virtualhoneypot_Microsoft_demovm10
                  properties:
                    deviceType: Microsoft
                    deviceVendor: virtualHoneypot
                    hostname: demovm10
                    lastEventReceived: 2018-05-08T10:38:53.423Z
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/unificationprod/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_omsprd
                  kind: AAD
                  location: westcentralus
                  name: aad_omsprd
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/unificationprod/providers/Microsoft.OperationalInsights/workspaces/omsprd
                  type: Microsoft.Security/locations/externalSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/defaultresourcegroup-ejp/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  kind: AAD
                  location: japaneast
                  name: aad_defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  properties:
                    connectivityState: Discovered
                    deviceType: Azure Active Directory Identity Protection
                    deviceVendor: Microsoft
                    workspace:
                      id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-ejp/providers/Microsoft.OperationalInsights/workspaces/defaultworkspace-20ff7fc3-e762-44dd-bd96-b71116dcdc23-ejp
                  type: Microsoft.Security/locations/externalSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts:
    get:
      description: List all the alerts that are associated with the subscription that
        are stored in a specific location
      operationId: Alerts_ListSubscriptionLevelAlertsByRegion
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData select. Optional.
        in: query
        name: $select
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData expand. Optional.
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Get security alerts on a subscription from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/alerts/2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                  name: 2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                  properties:
                    actionTaken: Detected
                    alertDisplayName: Threat Intelligence Alert
                    alertName: ThreatIntelligence
                    associatedResource: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                    canBeInvestigated: true
                    compromisedEntity: vm1
                    confidenceReasons:
                    - reason: Some user reason
                      type: User
                    - reason: Some proccess reason
                      type: Process
                    - reason: Some computer reason
                      type: Computer
                    confidenceScore: 0.8
                    description: "Process was detected running on the host and is\
                      \ considered to be suspicious, verify that the user run it"
                    detectedTimeUtc: 2018-05-01T19:50:47.083633Z
                    entities:
                    - address: 192.0.2.1
                      location:
                        asn: 6584
                        city: sonning
                        countryCode: gb
                        latitude: 51.468
                        longitude: -0.909
                        state: wokingham
                      threatIntelligence:
                      - confidence: 0.8
                        providerName: Team Cymru
                        reportLink: http://www.microsoft.com
                        threatDescription: "In bot armies, the controller is the server\
                          \ machine(s) that gives instructions to the controlled (zombied)\
                          \ hosts that connect to the command and control (C2) network.\
                          \ The controller host is usually running a botnet management\
                          \ application that is sending the commands to the zombied\
                          \ members of the bot army. These commands include, but are\
                          \ not limited to, the following: updating bitcoin wallet\
                          \ information, distributed denial-of-service (DDoS) target\
                          \ listings, updated C2 communication contact lists, and\
                          \ targeting data. C2 servers may be either directly controlled\
                          \ by the malware operators or run on hardware compromised\
                          \ by malware. There are multiple techniques for dynamically\
                          \ changing the control servers so that they are not isolated\
                          \ and brought down. Control servers utilize two general\
                          \ architectures: client-server and peer-to-peer. In a client-server\
                          \ model, all the hosts are controlled by a single server\
                          \ or a few control servers. In a peer-to-peer model, the\
                          \ infected hosts are both clients and servers, and they\
                          \ control other hosts so that instead of isolating the few\
                          \ control servers, all the hosts need to be removed."
                        threatName: rarog
                        threatType: C2
                      type: ip
                    extendedProperties:
                      attacker IP: 192.0.2.1
                      domain Name: Contoso
                      resourceType: Virtual Machine
                      user Name: administrator
                    instanceId: f144ee95-a3e5-42da-a279-967d115809aa
                    isIncident: false
                    remediationSteps: "verify that the user invoked this process\r\
                      \nrun antimalware scan of the VM"
                    reportedSeverity: High
                    reportedTimeUtc: 2018-05-02T05:36:12.2089889Z
                    state: Dismissed
                    subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    vendorName: Microsoft
                  type: Microsoft.Security/Locations/alerts
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/westeurope/alerts/2518765996949954086_2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                  name: 2518765996949954086_2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                  properties:
                    actionTaken: Detected
                    alertDisplayName: Suspicious Screensaver process executed
                    alertName: SuspiciousScreenSaver
                    associatedResource: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/myRg2/providers/microsoft.compute/virtualmachines/vm2
                    canBeInvestigated: true
                    compromisedEntity: vm2
                    confidenceReasons:
                    - reason: Suspicious process execution history for this subscription
                      type: Process
                    - reason: Suspicious process execution history for this subscription
                      type: Process
                    - reason: cmd.exe appeared in multiple alerts of the same type
                      type: Process
                    confidenceScore: 0.3
                    description: "The process ‘%{process name}’ was observed executing\
                      \ from an uncommon location.\r\n\r\nFiles with the .scr extensions\
                      \ are screen saver files and are normally reside and execute\
                      \ from the Windows system directory."
                    detectedTimeUtc: 2018-05-07T13:51:45.0045913Z
                    entities:
                    - azureID: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/myRg2/providers/microsoft.compute/virtualmachines/vm2
                      dnsDomain: ""
                      hostName: vm2
                      netBiosName: vm2
                      ntDomain: ""
                      omsAgentID: 45b44640-3b94-4892-a28c-4a5cae27065a
                      operatingSystem: Unknown
                      type: host
                    - logonId: 0x61450d87
                      name: contosoUser
                      ntDomain: vm2
                      sid: S-1-5-21-2144575486-8928446540-5163864319-500
                      type: account
                    - directory: c:\windows\system32
                      name: cmd.exe
                      type: file
                    - processId: 0x3c44
                      type: process
                    - directory: c:\users\contosoUser
                      name: scrsave.scr
                      type: file
                    - commandLine: c:\users\contosoUser\scrsave.scr
                      creationTimeUtc: 2018-05-07T13:51:45.0045913Z
                      processId: 0x4aec
                      type: process
                    extendedProperties:
                      account logon id: 0x61450d87
                      command line: c:\users\contosoUser\scrsave.scr
                      domain name: vm2
                      enrichment_tas_threat__reports: "{\"Kind\":\"MultiLink\",\"\
                        DisplayValueToUrlDictionary\":{\"Report: Suspicious Screen\
                        \ Saver Execution\":\"https://iflowreportsproda.blob.core.windows.net/reports/MSTI-TS-Suspicious-Screen-Saver-Execution.pdf?sv=2016-05-31&sr=b&sig=2igHPl764UM7aBHNaO9mPAnpzoXlwRw8YjpFLLuB2NE%3D&spr=https&st=2018-05-07T00%3A20%3A54Z&se=2018-05-08T00%3A35%3A54Z&sp=r\"\
                        }}"
                      parent process: cmd.exe
                      parent process id: 0x3c44
                      process id: 0x4aec
                      process name: c:\users\contosoUser\scrsave.scr
                      resourceType: Virtual Machine
                      user SID: S-1-5-21-2144575486-8928446540-5163864319-500
                      user name: vm2\contosoUser
                    instanceId: 2325cf9e-42a2-4f72-ae7f-9b863cba2d22
                    remediationSteps: "1. Run Process Explorer and try to identify\
                      \ unknown running processes (see https://technet.microsoft.com/en-us/sysinternals/bb896653.aspx)\r\
                      \n2. Make sure the machine is completely updated and has an\
                      \ updated anti-malware application installed\r\n3. Run a full\
                      \ anti-malware scan and verify that the threat was removed\r\
                      \n4. Install and run Microsoft’s Malicious Software Removal\
                      \ Tool (see https://www.microsoft.com/en-us/download/malicious-software-removal-tool-details.aspx)\r\
                      \n5. Run Microsoft’s Autoruns utility and try to identify unknown\
                      \ applications that are configured to run at login (see https://technet.microsoft.com/en-us/sysinternals/bb963902.aspx)\r\
                      \n6. Escalate the alert to the information security team"
                    reportedSeverity: Low
                    reportedTimeUtc: 2018-05-07T13:51:48.3810457Z
                    state: Active
                    subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    systemSource: Azure
                    vendorName: Microsoft
                    workspaceArmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-21ff7fc3-e762-48dd-bd96-b551f6dcdd23-weu
                  type: Microsoft.Security/Locations/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}:
    get:
      description: Get an alert that is associated with a subscription
      operationId: Alerts_GetSubscriptionLevelAlert
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Name of the alert object
        in: path
        name: alertName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Get security alert on a subscription from a security data location:
          parameters:
            alertName: 2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/alerts/2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                name: 2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
                properties:
                  actionTaken: Detected
                  alertDisplayName: Threat Intelligence Alert
                  alertName: ThreatIntelligence
                  associatedResource: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                  canBeInvestigated: true
                  compromisedEntity: vm1
                  confidenceReasons:
                  - reason: Some user reason
                    type: User
                  - reason: Some proccess reason
                    type: Process
                  - reason: Some computer reason
                    type: Computer
                  confidenceScore: 0.8
                  description: "Process was detected running on the host and is considered\
                    \ to be suspicious, verify that the user run it"
                  detectedTimeUtc: 2018-05-01T19:50:47.083633Z
                  entities:
                  - address: 192.0.2.1
                    location:
                      asn: 6584
                      city: sonning
                      countryCode: gb
                      latitude: 51.468
                      longitude: -0.909
                      state: wokingham
                    threatIntelligence:
                    - confidence: 0.8
                      providerName: Team Cymru
                      reportLink: http://www.microsoft.com
                      threatDescription: "In bot armies, the controller is the server\
                        \ machine(s) that gives instructions to the controlled (zombied)\
                        \ hosts that connect to the command and control (C2) network.\
                        \ The controller host is usually running a botnet management\
                        \ application that is sending the commands to the zombied\
                        \ members of the bot army. These commands include, but are\
                        \ not limited to, the following: updating bitcoin wallet information,\
                        \ distributed denial-of-service (DDoS) target listings, updated\
                        \ C2 communication contact lists, and targeting data. C2 servers\
                        \ may be either directly controlled by the malware operators\
                        \ or run on hardware compromised by malware. There are multiple\
                        \ techniques for dynamically changing the control servers\
                        \ so that they are not isolated and brought down. Control\
                        \ servers utilize two general architectures: client-server\
                        \ and peer-to-peer. In a client-server model, all the hosts\
                        \ are controlled by a single server or a few control servers.\
                        \ In a peer-to-peer model, the infected hosts are both clients\
                        \ and servers, and they control other hosts so that instead\
                        \ of isolating the few control servers, all the hosts need\
                        \ to be removed."
                      threatName: rarog
                      threatType: C2
                    type: ip
                  extendedProperties:
                    attacker IP: 192.0.2.1
                    domain Name: Contoso
                    resourceType: Virtual Machine
                    user Name: administrator
                  instanceId: f144ee95-a3e5-42da-a279-967d115809aa
                  isIncident: false
                  remediationSteps: "verify that the user invoked this process\r\n\
                    run antimalware scan of the VM"
                  reportedSeverity: High
                  reportedTimeUtc: 2018-05-02T05:36:12.2089889Z
                  state: Dismissed
                  subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  vendorName: Microsoft
                type: Microsoft.Security/Locations/alerts
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/{alertUpdateActionType}:
    post:
      description: Update the alert's state
      operationId: Alerts_UpdateSubscriptionLevelAlertState
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Name of the alert object
        in: path
        name: alertName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Type of the action to do on the alert
        in: path
        name: alertUpdateActionType
        required: true
        schema:
          enum:
          - Dismiss
          - Reactivate
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Update security alert state on a subscription from a security data location:
          parameters:
            alertName: 2518770965529163669_F144EE95-A3E5-42DA-A279-967D115809AA
            alertUpdateActionType: Dismiss
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections:
    get:
      description: Gets the list of all possible traffic between resources for the
        subscription and location.
      operationId: AllowedConnections_ListByHomeRegion
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnectionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AllowedConnections
      x-ms-examples:
        Get allowed connections on a subscription from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Security/locations/centralus/allowedConnections/Internal
                  location: centralus
                  name: Internal
                  properties:
                    calculatedDateTime: 2018-08-06T14:55:32.3518545Z
                    connectableResources:
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine3
                      inboundConnectedResources: []
                      outboundConnectedResources: []
                  type: Microsoft.Security/locations/allowedConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions:
    get:
      description: Gets a list of discovered Security Solutions for the subscription
        and location.
      operationId: DiscoveredSecuritySolutions_ListByHomeRegion
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                  location: eastus
                  name: CP
                  properties:
                    offer: cisco-asav
                    publisher: cisco
                    securityFamily: Ngfw
                    sku: asav-azure-byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                  location: eastus2
                  name: paloalto7
                  properties:
                    offer: vmseries1
                    publisher: paloaltonetworks
                    securityFamily: Ngfw
                    sku: byol
                  type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies:
    get:
      description: "Policies for protecting resources using Just-in-Time access control\
        \ for the subscription, location"
      operationId: JitNetworkAccessPolicies_ListByRegion
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitNetworkAccessPoliciesList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - JitNetworkAccessPolicies
      x-ms-examples:
        Get JIT network access policies on a subscription from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/jitNetworkAccessPolicies/default
                  kind: Basic
                  location: westeurope
                  name: default
                  properties:
                    provisioningState: Succeeded
                    requests:
                    - requestor: barbara@contoso.com
                      startTimeUtc: 2018-05-17T08:06:45.5691611Z
                      virtualMachines:
                      - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                        ports:
                        - allowedSourceAddressPrefix: 192.127.0.2
                          endTimeUtc: 2018-05-17T09:06:45.5691611Z
                          number: 3389
                          status: Initiated
                          statusReason: UserRequested
                    virtualMachines:
                    - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1
                      ports:
                      - allowedSourceAddressPrefix: '*'
                        maxRequestAccessDuration: PT3H
                        number: 22
                        protocol: '*'
                      - allowedSourceAddressPrefix: '*'
                        maxRequestAccessDuration: PT3H
                        number: 3389
                        protocol: '*'
                  type: Microsoft.Security/locations/jitNetworkAccessPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: Tasks_ListByHomeRegion
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTaskList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendations tasks from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  properties:
                    creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                    lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                    securityTaskParameters:
                      location: uksouth
                      name: NetworkSecurityGroupMissingOnSubnet
                      resourceGroup: myRg
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                      resourceName: default
                      resourceParent: vnet1
                      resourceType: Subnet
                      uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  properties:
                    creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                    lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                    securityTaskParameters:
                      isDataDiskEncrypted: false
                      isOsDiskEncrypted: false
                      name: EncryptionOnVm
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      severity: High
                      uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmName: vm1
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: Tasks_GetSubscriptionLevelTask
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: taskName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTask'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendation task from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                properties:
                  creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                  lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                  securityTaskParameters:
                    location: uksouth
                    name: NetworkSecurityGroupMissingOnSubnet
                    resourceGroup: myRg
                    resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    resourceName: default
                    resourceParent: vnet1
                    resourceType: Subnet
                    uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                  state: Active
                  subState: NA
                type: Microsoft.Security/locations/tasks
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}:
    post:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: Tasks_UpdateSubscriptionLevelTaskState
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: taskName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Type of the action to do on the task
        in: path
        name: taskUpdateActionType
        required: true
        schema:
          enum:
          - Activate
          - Dismiss
          - Start
          - Resolve
          - Close
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Change security recommendation task state:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
            taskUpdateActionType: Dismiss
          responses:
            "204": {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies:
    get:
      description: Gets a list that allows to build a topology view of a subscription
        and location.
      operationId: Topology_ListByHomeRegion
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Topology
      x-ms-examples:
        Get topology on a subscription from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Security/locations/centralus/topologies/vnets
                  location: westus
                  name: vnets
                  properties:
                    calculatedDateTime: 2018-07-10T13:56:10.5755270Z
                    topologyResources:
                    - children:
                      - resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet
                      location: westus
                      networkZones: Internal
                      recommendationsExist: false
                      resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet
                      severity: Healthy
                      topologyScore: 0
                  type: Microsoft.Security/locations/topologies
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Security/locations/centralus/topologies/subnets
                  location: westus
                  name: subnets
                  properties:
                    calculatedDateTime: 2018-07-10T13:56:10.5755270Z
                    topologyResources:
                    - location: westus
                      networkZones: Internal
                      parents:
                      - resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet
                      recommendationsExist: false
                      resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet
                      severity: Healthy
                      topologyScore: 5
                  type: Microsoft.Security/locations/topologies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: Tasks_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTaskList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendations tasks:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  properties:
                    creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                    lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                    securityTaskParameters:
                      location: uksouth
                      name: NetworkSecurityGroupMissingOnSubnet
                      resourceGroup: myRg
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                      resourceName: default
                      resourceParent: vnet1
                      resourceType: Subnet
                      uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  properties:
                    creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                    lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                    securityTaskParameters:
                      isDataDiskEncrypted: false
                      isOsDiskEncrypted: false
                      name: EncryptionOnVm
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      severity: High
                      uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmName: vm1
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies:
    get:
      description: Gets a list that allows to build a topology view of a subscription.
      operationId: Topology_List
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Topology
      x-ms-examples:
        Get topology on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Security/locations/centralus/topologies/vnets
                  location: westus
                  name: vnets
                  properties:
                    calculatedDateTime: 2018-07-10T13:56:10.5755270Z
                    topologyResources:
                    - children:
                      - resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet
                      location: westus
                      networkZones: Internal
                      recommendationsExist: false
                      resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet
                      severity: Healthy
                      topologyScore: 0
                  type: Microsoft.Security/locations/topologies
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Security/locations/centralus/topologies/subnets
                  location: westus
                  name: subnets
                  properties:
                    calculatedDateTime: 2018-07-10T13:56:10.5755270Z
                    topologyResources:
                    - location: westus
                      networkZones: Internal
                      parents:
                      - resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet
                      recommendationsExist: false
                      resourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154bad/resourceGroups/myservers/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet
                      severity: Healthy
                      topologyScore: 5
                  type: Microsoft.Security/locations/topologies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts:
    get:
      description: List all the alerts that are associated with the resource group
      operationId: Alerts_ListByResourceGroup
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-06-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData select. Optional.
        in: query
        name: $select
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData expand. Optional.
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Get security alerts on a resource group:
          parameters:
            api-version: 2015-06-01-preview
[...]
