openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/queueServices.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-queueServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/queueservices/{serviceType}
  : get:
      description: Returns the queue service.
      operationId: queue_services_get
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueService'
          description: OK -- Queue service has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - QueueServices
      x-ms-examples:
        Returns the queue service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/queueservices/default
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/default
                properties:
                  settings:
                    frontEndCallbackThreadsCount: 1600
                    frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds: 5
                    frontEndCpuBasedKeepAliveThrottlingEnabled: true
                    frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold: 90
                    frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle: 2
                    frontEndHttpListenPort: 11001
                    frontEndHttpsListenPort: 11101
                    frontEndMaxMillisecondsBetweenMemorySamples: 10000
                    frontEndMemoryThrottleThresholdSettings: "5,100,0;7,50,0;10,25,0;15,0,25;"
                    frontEndMemoryThrottlingEnabled: true
                    frontEndMinThreadPoolThreads: 1850
                    frontEndThreadPoolBasedKeepAliveIOCompletionThreshold: 1500
                    frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds: 30
                    frontEndThreadPoolBasedKeepAlivePercentage: 10
                    frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold: 1500
                    frontEndUseSlaTimeInAvailability: true
                  version: "1.0"
                type: Microsoft.Storage.Admin/farms/queueservices
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.queue_services_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/queueservices/{serviceType}/metricdefinitions
  : get:
      description: Returns a list of metric definitions for queue service.
      operationId: queue_services_list_metric_definitions
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueServices_ListMetricDefinitions_200_response'
          description: OK -- The list of metric definitions has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - QueueServices
      x-ms-examples:
        Returns a list of metric definitions for queue service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (QueueService)
                    value: E2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (QueueService)
                    value: ServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Availability (QueueService)
                    value: Availability
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total requests (QueueService)
                    value: TotalRequests
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Ingress (QueueService)
                    value: Ingress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Egress (QueueService)
                    value: Egress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (QueueFrontEnd)
                    value: QueueFrontEndRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (QueueFrontEnd)
                    value: QueueFrontEndE2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (QueueFrontEnd)
                    value: QueueFrontEndServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Concurrent requests (QueueFrontEnd)
                    value: QueueFrontEndConcurrentRequests
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (QueueFrontEnd)
                    value: QueueFrontEndRequestQueueLength
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage (QueueFrontEnd)
                    value: QueueFrontEndProcessorTime
                  primaryAggregationType: Average
                  unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.queue_services_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/queueservices/{serviceType}/metrics
  : get:
      description: Returns a list of metrics for the queue service.
      operationId: queue_services_list_metrics
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueServices_ListMetrics_200_response'
          description: OK -- The list of metrics has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - QueueServices
      x-ms-examples:
        Returns a list of metrics for the queue service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (QueueFrontEnd)
                    value: QueueFrontEndRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: End-to-end latency (QueueFrontEnd)
                    value: QueueFrontEndE2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (QueueFrontEnd)
                    value: QueueFrontEndServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Concurrent requests (QueueFrontEnd)
                    value: QueueFrontEndConcurrentRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (QueueFrontEnd)
                    value: QueueFrontEndRequestQueueLength
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage (QueueFrontEnd)
                    value: QueueFrontEndProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - average: 1.88592776264484
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 1.85851217466339
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 1.87040051806059
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 1.90624102793048
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 1.93359342860519
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 1.91756062246845
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 1.90350660188966
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: End-to-end latency (QueueService)
                    value: E2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - average: 1.81003101711863
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 1.78567652998375
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 1.79746391271282
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 1.83270876455636
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 1.85885443391132
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 1.84392369316924
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 1.82936276116956
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Server latency (QueueService)
                    value: ServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - average: 100
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Availability (QueueService)
                    value: Availability
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 709694
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 706686
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 706644
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 707869
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 711097
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 711197
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 713652
                  name:
                    localizedValue: Total requests (QueueService)
                    value: TotalRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 330187754
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 328237824
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 328220543
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 328897291
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 330626016
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 330693320
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 332315876
                  name:
                    localizedValue: Ingress (QueueService)
                    value: Ingress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:24.5345914Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 179169105
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 178217533
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 178211569
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 178640382
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 179836179
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 179870886
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 180647853
                  name:
                    localizedValue: Egress (QueueService)
                    value: Egress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.queue_services_controller
components:
  schemas:
    QueueService:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Queue service.
      example:
        properties:
          settings: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/QueueServiceProperties'
      title: QueueService
    QueueServiceProperties:
      allOf:
      - description: Storage service.
        properties:
          healthStatus:
            description: Current health status.
            enum:
            - Unknown
            - Healthy
            - Warning
            - Critical
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: HealthStatus
          version:
            description: Storage service version.
            type: string
        type: object
      description: Queue service properties.
      example:
        settings: "{}"
      properties:
        settings:
          description: Settings of storage services.
          properties:
            frontEndHttpListenPort:
              description: The HTTP port of the storage service front end.
              format: int32
              title: frontEndHttpListenPort
              type: integer
            frontEndHttpsListenPort:
              description: The HTTPs port of the storage service front end.
              format: int32
              title: frontEndHttpsListenPort
              type: integer
          title: settings
          type: object
      title: QueueServiceProperties
    QueueServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner:
      description: Metric availability.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: Retention of metric.
          title: retention
          type: string
        timeGrain:
          description: Time grain.
          title: timeGrain
          type: string
      title: QueueServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner
      type: object
    QueueServices_ListMetricDefinitions_200_response_value_inner_name:
      description: Localizable string.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of the string.
          title: localizedValue
          type: string
        value:
          description: Value of the string.
          title: value
          type: string
      title: QueueServices_ListMetricDefinitions_200_response_value_inner_name
      type: object
    QueueServices_ListMetricDefinitions_200_response_value_inner:
      description: Metric definition.
      example:
        primaryAggregationType: None
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        metricAvailabilities:
          description: Metric availabilities.
          items:
            $ref: '#/components/schemas/QueueServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner'
          readOnly: true
          title: metricAvailabilities
          type: array
        name:
          $ref: '#/components/schemas/QueueServices_ListMetricDefinitions_200_response_value_inner_name'
        primaryAggregationType:
          description: Aggregate type.
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          readOnly: true
          title: primaryAggregationType
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregateType
        unit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          title: unit
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      title: QueueServices_ListMetricDefinitions_200_response_value_inner
      type: object
    QueueServices_ListMetricDefinitions_200_response:
      description: Pageable list of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of metric definitions.
          items:
            $ref: '#/components/schemas/QueueServices_ListMetricDefinitions_200_response_value_inner'
          readOnly: true
          title: value
          type: array
      title: QueueServices_ListMetricDefinitions_200_response
      type: object
    QueueServices_ListMetrics_200_response_value_inner_metricValues_inner:
      description: Metric value.
      example:
        timeStamp: 2000-01-23T04:56:07.000+00:00
        average: 0.8008282
        total: 5.637377
        count: 6
        maximum: 1.4658129
        minimum: 5.962134
        properties: properties
      properties:
        average:
          description: Average value of metric.
          format: float
          readOnly: true
          title: average
          type: number
        count:
          description: Count of metric values.
          format: int32
          readOnly: true
          title: count
          type: integer
        maximum:
          description: Maximum value of metric.
          format: float
          readOnly: true
          title: maximum
          type: number
        minimum:
          description: Minimum value of metric.
          format: float
          readOnly: true
          title: minimum
          type: number
        properties:
          description: Metric value properties.
          readOnly: true
          title: properties
          type: string
        timeStamp:
          description: Timestamp of metric value.
          format: date-time
          readOnly: true
          title: timeStamp
          type: string
        total:
          description: Total value of metric.
          format: float
          readOnly: true
          title: total
          type: number
      title: QueueServices_ListMetrics_200_response_value_inner_metricValues_inner
      type: object
    QueueServices_ListMetrics_200_response_value_inner:
      description: Metric information.
      example:
        timeGrain: timeGrain
        name:
          localizedValue: localizedValue
          value: value
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        metricUnit: Count
        metricValues:
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
      properties:
        endTime:
          description: Metric end time.
          format: date-time
          readOnly: true
          title: endTime
          type: string
        metricUnit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          title: metricUnit
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
        metricValues:
          description: List of metric values.
          items:
            $ref: '#/components/schemas/QueueServices_ListMetrics_200_response_value_inner_metricValues_inner'
          readOnly: true
          title: metricValues
          type: array
        name:
          $ref: '#/components/schemas/QueueServices_ListMetricDefinitions_200_response_value_inner_name'
        startTime:
          description: Metric start time.
          format: date-time
          readOnly: true
          title: startTime
          type: string
        timeGrain:
          description: Metric time grain.
          readOnly: true
          title: timeGrain
          type: string
      title: QueueServices_ListMetrics_200_response_value_inner
      type: object
    QueueServices_ListMetrics_200_response:
      description: Pageable list of metrics.
      example:
        value:
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of metrics.
          items:
            $ref: '#/components/schemas/QueueServices_ListMetrics_200_response_value_inner'
          readOnly: true
          title: value
          type: array
      title: QueueServices_ListMetrics_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
