openapi: 3.0.1
info:
  description: "A Storage Cache provides scalable caching service for NAS clients,\
    \ serving data from either NFSv3 or Blob at-rest storage (referred to as \"Storage\
    \ Targets\"). These operations allow you to manage caches."
  title: Storage Cache Mgmt Client
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2019-08-01-preview/storagecache.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storagecache
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.StorageCache/operations:
    get:
      description: Lists all of the available RP operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Resource Provider error response describing why the operation
            failed.
      tags:
      - Operations
      x-ms-examples:
        StorageTargets_List:
          parameters:
            accept-language:
            - en-US
            api-version: 2019-08-01-preview
            x-ms-client-request-id:
            - 7e655b68-e491-4cb6-90c3-6a5b10b7bd17
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Create or Update Cache
                    provider: Azure Storage Cache
                    resource: Caches
                  name: Microsoft.StorageCache/caches/write
                - display:
                    operation: Delete Cache
                    provider: Azure Storage Cache
                    resource: Caches
                  name: Microsoft.StorageCache/caches/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/caches:
    get:
      description: Returns all Caches the user has access to under a subscription.
      operationId: caches_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachesListResult'
          description: "A list of Cache objects.  Note that entity references might\
            \ replace complete Cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_List:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                  location: westus
                  name: sc1
                  properties:
                    cacheSizeGB: 3072
                    health:
                      state: Transitioning
                      statusDescription: Cache is being created.
                    mountAddresses:
                    - 192.168.1.1
                    - 192.168.1.2
                    provisioningState: Booting
                    subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                    upgradeStatus:
                      currentFirmwareVersion: AvereOS V5.1.1.2
                      firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                      firmwareUpdateStatus: available
                      lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                      pendingFirmwareVersion: AvereOS V5.1.1.32
                  sku:
                    name: Standard_2G
                  tags:
                    Dept: Initech
                  type: Microsoft.StorageCache/Cache
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc2
                  location: westus
                  name: sc2
                  properties:
                    cacheSizeGB: 3072
                    health:
                      state: Transitioning
                      statusDescription: Cache is being created.
                    mountAddresses:
                    - 192.168.1.1
                    - 192.168.1.2
                    provisioningState: Configuring
                    subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub2
                    upgradeStatus:
                      currentFirmwareVersion: AvereOS V5.1.1.2
                      firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                      firmwareUpdateStatus: available
                      lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                      pendingFirmwareVersion: AvereOS V5.1.1.32
                  sku:
                    name: Standard_2G
                  tags:
                    Dept: Intertrode
                  type: Microsoft.StorageCache/Cache
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/skus:
    get:
      description: Get the list of StorageCache.Cache SKUs available to this subscription.
      operationId: skus_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSkusResult'
          description: A list of SKU descriptors.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - SKUs
      x-ms-examples:
        Skus_List:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - capabilities:
                  - name: throughput GB/s
                    value: "2"
                  - name: cache sizes(GB)
                    value: "3072,6144,12288"
                  locationInfo:
                  - location: East US
                    zones: []
                  locations:
                  - East US
                  name: Standard_2G
                  resourceType: caches
                  restrictions: []
                - capabilities:
                  - name: throughput GB/s
                    value: "4"
                  - name: cache sizes(GB)
                    value: "6144,12288,24576"
                  locationInfo:
                  - location: East US
                    zones: []
                  locations:
                  - East US
                  name: Standard_4G
                  resourceType: caches
                  restrictions: []
                - capabilities:
                  - name: throughput GB/s
                    value: "8"
                  - name: cache sizes(GB)
                    value: "12288,24576,49152"
                  locationInfo:
                  - location: East US
                    zones: []
                  locations:
                  - East US
                  name: Standard_8G
                  resourceType: caches
                  restrictions: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.skus_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/usageModels:
    get:
      description: Get the list of cache Usage Models available to this subscription.
      operationId: usage_models_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageModelsResult'
          description: A list of UsageModel descriptors.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - UsageModels
      x-ms-examples:
        UsageModels_List:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - display:
                    description: "Read heavy, infrequent changes"
                  modelName: READ_HEAVY_INFREQ
                  targetType: nfs3
                - display:
                    description: Clients write directly to storage
                  modelName: WRITE_AROUND
                  targetType: nfs3
                - display:
                    description: Write workload > 15%
                  modelName: WRITE_WORKLOAD_15
                  targetType: nfs3
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_models_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches:
    get:
      description: Returns all Caches the user has access to under a resource group
        and subscription.
      operationId: caches_list_by_resource_group
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachesListResult'
          description: "A list of Cache objects.  Note that entity references might\
            \ replace complete Cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_ListByResourceGroup:
          parameters:
            api-version: 2019-08-01-preview
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                  location: westus
                  name: sc1
                  properties:
                    cacheSizeGB: 3072
                    health:
                      state: Transitioning
                      statusDescription: Cache is being created.
                    mountAddresses:
                    - 192.168.1.1
                    - 192.168.1.2
                    provisioningState: Booting
                    subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                    upgradeStatus:
                      currentFirmwareVersion: AvereOS V5.1.1.2
                      firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                      firmwareUpdateStatus: available
                      lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                      pendingFirmwareVersion: AvereOS V5.1.1.32
                  sku:
                    name: Standard_2G
                  tags:
                    Dept: Initech
                  type: Microsoft.StorageCache/Cache
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc2
                  location: westus
                  name: sc2
                  properties:
                    cacheSizeGB: 3072
                    health:
                      state: Transitioning
                      statusDescription: Cache is being created.
                    mountAddresses:
                    - 192.168.1.1
                    - 192.168.1.2
                    provisioningState: Booting
                    subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub2
                    upgradeStatus:
                      currentFirmwareVersion: AvereOS V5.1.1.2
                      firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                      firmwareUpdateStatus: available
                      lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                      pendingFirmwareVersion: AvereOS V5.1.1.32
                  sku:
                    name: Standard_2G
                  tags:
                    Dept: Intertrode
                  type: Microsoft.StorageCache/Cache
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}:
    delete:
      description: Schedules a Cache for deletion.
      operationId: caches_delete
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Cache deleted.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Started the Cache's transition to Deleted state.
        "204":
          content:
            application/json:
              schema:
                type: object
          description: Cache deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Delete:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: ""
            "202":
              body: ""
            "204":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.caches_controller
    get:
      description: Returns a Cache.
      operationId: caches_get
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Returns the Cache object corresponding to cacheId.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Get:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                location: westus
                name: sc1
                properties:
                  cacheSizeGB: 3072
                  health:
                    state: Transitioning
                    statusDescription: Cache is being created.
                  mountAddresses:
                  - 192.168.1.1
                  - 192.168.1.2
                  provisioningState: Booting
                  subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                  upgradeStatus:
                    currentFirmwareVersion: AvereOS V5.1.1.2
                    firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                    firmwareUpdateStatus: available
                    lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                    pendingFirmwareVersion: AvereOS V5.1.1.32
                sku:
                  name: Standard_2G
                tags:
                  Dept: Initech
                type: Microsoft.StorageCache/Cache
      x-openapi-router-controller: openapi_server.controllers.caches_controller
    patch:
      description: Update a Cache instance.
      operationId: caches_update
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache'
        description: "Object containing the user selectable properties of the new\
          \ cache.  If read-only properties are included, they must match the existing\
          \ values of those properties."
        required: false
        x-body-name: cache
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Patched the Cache.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Update:
          parameters:
            api-version: 2019-08-01-preview
            cache:
              location: westus
              properties:
                cacheSizeGB: 3072
                subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
              sku:
                name: Standard_2G
              tags:
                Dept: Initech
            cacheName: sc1
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                location: westus
                name: sc1
                properties:
                  cacheSizeGB: 3072
                  health:
                    state: Transitioning
                    statusDescription: Cache is being created.
                  mountAddresses:
                  - 192.168.1.1
                  - 192.168.1.2
                  provisioningState: Booting
                  subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                  upgradeStatus:
                    currentFirmwareVersion: AvereOS V5.1.1.2
                    firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                    firmwareUpdateStatus: available
                    lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                    pendingFirmwareVersion: AvereOS V5.1.1.32
                sku:
                  name: Standard_2G
                tags:
                  Dept: Initech
                type: Microsoft.StorageCache/Cache
      x-codegen-request-body-name: cache
      x-openapi-router-controller: openapi_server.controllers.caches_controller
    put:
      description: Create/update a Cache instance.
      operationId: caches_create
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache'
        description: "Object containing the user selectable properties of the new\
          \ cache.  If read-only properties are included, they must match the existing\
          \ values of those properties."
        required: false
        x-body-name: cache
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Cache created or already exists.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Cache creation has been initiated.  Poll the new Cache's provisioningState
            property to monitor creation progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Create:
          parameters:
            api-version: 2019-08-01-preview
            cache:
              location: westus
              properties:
                cacheSizeGB: 3072
                subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
              sku:
                name: Standard_2G
              tags:
                Dept: Initech
            cacheName: sc1
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                location: westus
                name: sc1
                properties:
                  cacheSizeGB: 3072
                  health:
                    state: Transitioning
                    statusDescription: Cache is being created.
                  mountAddresses:
                  - 192.168.1.1
                  - 192.168.1.2
                  provisioningState: Booting
                  subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                  upgradeStatus:
                    currentFirmwareVersion: AvereOS V5.1.1.2
                    firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                    firmwareUpdateStatus: available
                    lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                    pendingFirmwareVersion: AvereOS V5.1.1.32
                sku:
                  name: Standard_2G
                tags:
                  Dept: Initech
                type: Microsoft.StorageCache/Cache
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1
                location: westus
                name: sc1
                properties:
                  cacheSizeGB: 3072
                  health:
                    state: Transitioning
                    statusDescription: Cache is being created.
                  mountAddresses:
                  - 192.168.1.1
                  - 192.168.1.2
                  provisioningState: Booting
                  subnet: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1
                  upgradeStatus:
                    currentFirmwareVersion: AvereOS V5.1.1.2
                    firmwareUpdateDeadline: 2019-04-21T18:25:43.511Z
                    firmwareUpdateStatus: available
                    lastFirmwareUpdate: 2019-01-21T18:25:43.511Z
                    pendingFirmwareVersion: AvereOS V5.1.1.32
                sku:
                  name: Standard_2G
                tags:
                  Dept: Initech
                type: Microsoft.StorageCache/Cache
      x-ms-long-running-operation: true
      x-codegen-request-body-name: cache
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/flush:
    post:
      description: "Tells a cache to write all dirty data to the StorageTarget(s).\
        \  During the flush, clients will see errors returned until the flush is complete."
      operationId: caches_flush
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: All cache data is clean.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Cache has started flushing.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Flush:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: ""
            "202":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/start:
    post:
      description: Tells a Stopped state cache to transition to Active state.
      operationId: caches_start
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Cache is Active.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Cache has started the transition to Active.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Start:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: ""
            "202":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/stop:
    post:
      description: Tells an Active cache to transition to Stopped state.
      operationId: caches_stop
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Cache is stopped.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Cache has started the transition to Stopped.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_Stop:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: ""
            "202":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.caches_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets
  : get:
      description: Returns the StorageTargets for this cache in the subscription and
        resource group.
      operationId: storage_targets_list_by_cache
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTargetsResult'
          description: Returns the list of storage targets defined by cacheId.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - StorageTargets
      x-ms-examples:
        StorageTargets_List:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st1
                  name: st1
                  properties:
                    junctions:
                    - namespacePath: /path/on/cache
                      nfsExport: exp1
                      targetPath: /path/on/exp1
                    - namespacePath: /path2/on/cache
                      nfsExport: exp2
                      targetPath: /path2/on/exp2
                    nfs3:
                      target: 10.0.44.44
                      usageModel: READ_HEAVY_FREQ
                    targetType: nfs3
                  type: Microsoft.StorageCache/Cache/StorageTarget
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st2
                  name: st2
                  properties:
                    clfs:
                      target: https://atj5c2fc9b8c00.blob.core.windows.net/atj5c2fc9b8c01
                    junctions:
                    - namespacePath: /some/crazy/place/on/cache
                      targetPath: /
                    targetType: clfs
                  type: Microsoft.StorageCache/Cache/StorageTarget
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st3
                  name: st3
                  properties:
                    junctions:
                    - namespacePath: /some/crazier/place/on/cache
                      nfsExport: ""
                      targetPath: /
                    targetType: unknown
                    unknown:
                      unknownMap:
                        foo: bar
                        foo2: test
                  type: Microsoft.StorageCache/Cache/StorageTarget
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.storage_targets_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}
  : delete:
      description: "Removes a storage target from a cache.  This operation is allowed\
        \ at any time, but if the cache is down or unhealthy, the actual removal of\
        \ the storage target may be delayed until the cache is healthy again."
      operationId: storage_targets_delete
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Name of storage target.
        in: path
        name: storageTargetName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Storage target deleted.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Started the storage target's deletion.
        "204":
          content:
            application/json:
              schema:
                type: object
          description: Storage target deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - StorageTargets
      x-ms-examples:
        StorageTargets_Delete:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            storageTargetName: st1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: ""
            "202":
              body: ""
            "204":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.storage_targets_controller
    get:
      description: Returns a storage target from a cache.
      operationId: storage_targets_get
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Name of storage target.
        in: path
        name: storageTargetName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: Returns the Storage Target object corresponding to storageTargetName.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - StorageTargets
      x-ms-examples:
        StorageTargets_Get:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            storageTargetName: st1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st1
                name: st1
                properties:
                  junctions:
                  - namespacePath: /path/on/cache
                    nfsExport: exp1
                    targetPath: /path/on/exp1
                  - namespacePath: /path2/on/cache
                    nfsExport: exp2
                    targetPath: /path2/on/exp2
                  nfs3:
                    target: 10.0.44.44
                    usageModel: READ_HEAVY_FREQ
                  targetType: nfs3
                type: Microsoft.StorageCache/Cache/StorageTarget
      x-openapi-router-controller: openapi_server.controllers.storage_targets_controller
    patch:
      description: "Update a storage target.  This operation is allowed at any time,\
        \ but if the cache is down or unhealthy, the actual creation/modification\
        \ of the storage target may be delayed until the cache is healthy again."
      operationId: storage_targets_update
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Name of storage target.
        in: path
        name: storageTargetName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageTarget'
        description: Object containing the definition of a storage target.
        required: false
        x-body-name: storagetarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: Storage Target has been patched.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - StorageTargets
      x-ms-examples:
        StorageTargets_Update:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            storageTargetName: st1
            storagetarget:
              properties:
                junctions:
                - namespacePath: /path/on/cache
                  nfsExport: exp1
                  targetPath: /path/on/exp1
                - namespacePath: /path2/on/cache
                  nfsExport: exp2
                  targetPath: /path2/on/exp2
                nfs3:
                  target: 10.0.44.44
                  usageModel: READ_HEAVY_FREQ
                targetType: nfs3
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st1
                name: st1
                properties:
                  junctions:
                  - namespacePath: /path/on/cache
                    nfsExport: exp1
                    targetPath: /path/on/exp1
                  - namespacePath: /path2/on/cache
                    nfsExport: exp2
                    targetPath: /path2/on/exp2
                  nfs3:
                    target: 10.0.44.44
                    usageModel: READ_HEAVY_FREQ
                  targetType: nfs3
                type: Microsoft.StorageCache/Cache/StorageTarget
      x-codegen-request-body-name: storagetarget
      x-openapi-router-controller: openapi_server.controllers.storage_targets_controller
    put:
      description: "Create/update a storage target.  This operation is allowed at\
        \ any time, but if the cache is down or unhealthy, the actual creation/modification\
        \ of the storage target may be delayed until the cache is healthy again."
      operationId: storage_targets_create
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      - description: Name of storage target.
        in: path
        name: storageTargetName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageTarget'
        description: Object containing the definition of a storage target.
        required: false
        x-body-name: storagetarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: Storage Target has been created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: Storage Target creation has been initiated.  Poll the new Storage
            Target's provisioningState property to monitor creation progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - StorageTargets
      x-ms-examples:
        StorageTargets_Create:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            storageTargetName: st1
            storagetarget:
              properties:
                junctions:
                - namespacePath: /path/on/cache
                  nfsExport: exp1
                  targetPath: /path/on/exp1
                - namespacePath: /path2/on/cache
                  nfsExport: exp2
                  targetPath: /path2/on/exp2
                nfs3:
                  target: 10.0.44.44
                  usageModel: READ_HEAVY_INFREQ
                targetType: nfs3
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st1
                name: st1
                properties:
                  junctions:
                  - namespacePath: /path/on/cache
                    nfsExport: exp1
                    targetPath: /path/on/exp1
                  - namespacePath: /path2/on/cache
                    nfsExport: exp2
                    targetPath: /path2/on/exp2
                  nfs3:
                    target: 10.0.44.44
                    usageModel: READ_HEAVY_INFREQ
                  targetType: nfs3
                type: Microsoft.StorageCache/Cache/StorageTarget
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scgroup/providers/Microsoft.StorageCache/caches/sc1/storagetargets/st1
                name: st1
                properties:
                  junctions:
                  - namespacePath: /path/on/cache
                    nfsExport: exp1
                    targetPath: /path/on/exp1
                  - namespacePath: /path2/on/cache
                    nfsExport: exp2
                    targetPath: /path2/on/exp2
                  nfs3:
                    target: 10.0.44.44
                    usageModel: READ_HEAVY_INFREQ
                  targetType: nfs3
                type: Microsoft.StorageCache/Cache/StorageTarget
      x-ms-long-running-operation: true
      x-codegen-request-body-name: storagetarget
      x-openapi-router-controller: openapi_server.controllers.storage_targets_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/upgrade:
    post:
      description: Tells a cache to upgrade its firmware.
      operationId: caches_upgrade_firmware
      parameters:
      - description: Target resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of cache.
        in: path
        name: cacheName
        required: true
        schema:
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Cache firmware is up to date.
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Cache has started the upgrade.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Caches
      x-ms-examples:
        Caches_UpgradeFirmware:
          parameters:
            api-version: 2019-08-01-preview
            cacheName: sc1
            resourceGroupName: scgroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body: ""
            "202":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.caches_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiOperation:
      description: "REST API operation description: see https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3023-operationsapiimplementation"
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/ApiOperation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: ApiOperation
      type: object
    ApiOperationListResult:
      description: Result of the request to list Resource Provider operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          title: nextLink
          type: string
        value:
          description: List of Resource Provider operations supported by the Microsoft.StorageCache
            resource provider.
          items:
            $ref: '#/components/schemas/ApiOperation'
          title: value
          type: array
      title: ApiOperationListResult
      type: object
    Cache:
      description: "A cache instance.  Follows Azure Resource Manager standards: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md"
      example:
        name: name
        location: location
        id: id
        sku:
          name: name
        type: type
        properties:
          cacheSizeGB: 0
          upgradeStatus:
            firmwareUpdateStatus: available
            firmwareUpdateDeadline: 2000-01-23T04:56:07.000+00:00
            lastFirmwareUpdate: 2000-01-23T04:56:07.000+00:00
            currentFirmwareVersion: currentFirmwareVersion
            pendingFirmwareVersion: pendingFirmwareVersion
          subnet: subnet
          mountAddresses:
          - mountAddresses
          - mountAddresses
          health:
            statusDescription: statusDescription
            state: Unknown
          provisioningState: Succeeded
        tags: "{}"
      properties:
        id:
          description: A fully qualified URL.
          title: URLString
          type: string
        location:
          description: Region name string.
          title: location
          type: string
        name:
          description: "Schema for the name of resources served by this provider.\
            \   Note that objects will contain an odata @id annotation as appropriate,\
            \ this will contain the complete URL of the object.   These names are\
            \ case-preserving, but not case sensitive."
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/Cache_properties'
        sku:
          $ref: '#/components/schemas/Cache_sku'
        tags:
          description: ARM tags as name/value pairs.
          properties: {}
          title: tags
          type: object
        type:
          description: Type for the cache; Microsoft.StorageCache/Cache
          readOnly: true
          title: type
          type: string
      title: Cache
      type: object
      x-ms-azure-resource: true
    CacheHealth:
      description: An indication of cache health.  Gives more information about health
        than just that related to provisioning.
      example:
        statusDescription: statusDescription
        state: Unknown
      properties:
        state:
          description: List of cache health states.
          enum:
          - Unknown
          - Healthy
          - Degraded
          - Down
          - Transitioning
          - Stopping
          - Stopped
          - Upgrading
          - Flushing
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStateType
        statusDescription:
          description: Describes explanation of state.
          title: statusDescription
          type: string
      title: CacheHealth
      type: object
    CacheUpgradeStatus:
      description: Properties describing the software upgrade state of the cache
      example:
        firmwareUpdateStatus: available
        firmwareUpdateDeadline: 2000-01-23T04:56:07.000+00:00
        lastFirmwareUpdate: 2000-01-23T04:56:07.000+00:00
        currentFirmwareVersion: currentFirmwareVersion
        pendingFirmwareVersion: pendingFirmwareVersion
      properties:
        currentFirmwareVersion:
          description: Version string of the firmware currently installed on this
            cache.
          readOnly: true
          title: currentFirmwareVersion
          type: string
        firmwareUpdateDeadline:
          description: Time at which the pending firmware update will automatically
            be installed on the cache.
          format: date-time
          readOnly: true
          title: firmwareUpdateDeadline
          type: string
        firmwareUpdateStatus:
          description: True if there is a firmware update ready to install on this
            cache.  The firmware will automatically be installed after firmwareUpdateDeadline
            if not triggered earlier via the upgrade operation.
          enum:
          - available
          - unavailable
          readOnly: true
          title: firmwareUpdateStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirmwareStatusType
        lastFirmwareUpdate:
          description: Time of the last successful firmware update.
          format: date-time
          readOnly: true
          title: lastFirmwareUpdate
          type: string
        pendingFirmwareVersion:
          description: "When firmwareUpdateAvailable is true, this field holds the\
            \ version string for the update."
          readOnly: true
          title: pendingFirmwareVersion
          type: string
      title: CacheUpgradeStatus
      type: object
    CachesListResult:
      description: Result of the request to list caches. It contains a list of caches
        and a URL link to get the next set of results.
      example:
        value:
        - name: name
          location: location
          id: id
          sku:
            name: name
          type: type
          properties:
            cacheSizeGB: 0
            upgradeStatus:
              firmwareUpdateStatus: available
              firmwareUpdateDeadline: 2000-01-23T04:56:07.000+00:00
              lastFirmwareUpdate: 2000-01-23T04:56:07.000+00:00
              currentFirmwareVersion: currentFirmwareVersion
              pendingFirmwareVersion: pendingFirmwareVersion
            subnet: subnet
            mountAddresses:
            - mountAddresses
            - mountAddresses
            health:
              statusDescription: statusDescription
              state: Unknown
            provisioningState: Succeeded
          tags: "{}"
        - name: name
          location: location
          id: id
          sku:
            name: name
          type: type
          properties:
            cacheSizeGB: 0
            upgradeStatus:
              firmwareUpdateStatus: available
              firmwareUpdateDeadline: 2000-01-23T04:56:07.000+00:00
              lastFirmwareUpdate: 2000-01-23T04:56:07.000+00:00
              currentFirmwareVersion: currentFirmwareVersion
              pendingFirmwareVersion: pendingFirmwareVersion
            subnet: subnet
            mountAddresses:
            - mountAddresses
            - mountAddresses
            health:
              statusDescription: statusDescription
              state: Unknown
            provisioningState: Succeeded
          tags: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of cache list results if there are
            any.
          title: nextLink
          type: string
        value:
          description: List of caches.
          items:
            $ref: '#/components/schemas/Cache'
          title: value
          type: array
      title: CachesListResult
      type: object
    ClfsTarget:
      description: Storage container for use as a CLFS StorageTarget.
      example:
        target: target
      properties:
        target:
          description: A fully qualified URL.
          title: URLString
          type: string
      title: ClfsTarget
      type: object
      x-ms-discriminator-value: clfs
    CloudError:
      description: An error response.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
    NamespaceJunction:
      description: A namespace junction.
      example:
        nfsExport: nfsExport
        namespacePath: namespacePath
        targetPath: targetPath
      properties:
        namespacePath:
          description: Namespace path on a cache for a storage target.
          title: namespacePath
          type: string
        nfsExport:
          description: NFS export where targetPath exists.
          title: nfsExport
          type: string
        targetPath:
          description: Path in storage target to which namespacePath points.
          title: targetPath
          type: string
      title: NamespaceJunction
      type: object
    Nfs3Target:
      description: An NFS mount point for use as a StorageTarget.
      example:
        usageModel: usageModel
        target: target
      properties:
        target:
          description: "IP or name of an NFS Storage Target host, ie: 10.0.44.44"
          pattern: "^[-.0-9a-zA-Z]+$"
          title: target
          type: string
        usageModel:
          description: Identifies the primary usage model to be used for this storage
            target.   GET choices from .../usageModels
          title: usageModel
          type: string
      title: Nfs3Target
      type: object
      x-ms-discriminator-value: nfs3
    ResourceName:
      description: "Schema for the name of resources served by this provider.   Note\
        \ that objects will contain an odata @id annotation as appropriate, this will\
        \ contain the complete URL of the object.   These names are case-preserving,\
        \ but not case sensitive."
      pattern: "^[-0-9a-zA-Z_]{1,31}$"
      title: name
      type: string
    ResourceSku:
      description: A resource SKU
      example:
        locationInfo:
        - location: location
          zones:
          - zones
          - zones
        - location: location
          zones:
          - zones
          - zones
        capabilities:
        - name: name
          value: value
        - name: name
          value: value
        name: name
        restrictions:
        - values:
          - values
          - values
          reasonCode: QuotaId
          type: type
        - values:
          - values
          - values
          reasonCode: QuotaId
          type: type
        locations:
        - locations
        - locations
        resourceType: resourceType
      properties:
        capabilities:
          description: "A list of capabilities of this SKU, such as throughput or\
            \ ops/sec"
          items:
            $ref: '#/components/schemas/ResourceSkuCapabilities'
          title: capabilities
          type: array
        locationInfo:
          description: The set of locations that the SKU is available.
          items:
            $ref: '#/components/schemas/ResourceSkuLocationInfo'
          title: locationInfo
          type: array
        locations:
          description: "The set of locations that the SKU is available. This will\
            \ be supported and registered Azure Geo Regions (e.g. West US, East US,\
            \ Southeast Asia, etc.)."
          items:
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: The name of this sku.
          title: name
          type: string
        resourceType:
          description: The type of resource the sku applies to.
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          description: The restrictions because of which SKU cannot be used. This
            is empty if there are no restrictions.
          items:
            $ref: '#/components/schemas/Restriction'
          title: restrictions
          type: array
      title: ResourceSku
      type: object
    ResourceSkuCapabilities:
      description: A resource SKU capability.
      example:
        name: name
        value: value
      properties:
        name:
          description: "Name of a capability, such as ops/sec"
          title: name
          type: string
        value:
          description: "Quantity, if the capability is measured by quantity"
          title: value
          type: string
      title: ResourceSkuCapabilities
      type: object
    ResourceSkuLocationInfo:
      description: Resource SKU location information.
      example:
        location: location
        zones:
        - zones
        - zones
      properties:
        location:
          description: Location where this Sku is available
          title: location
          type: string
        zones:
          description: Zones if any.
          items:
            type: string
          title: zones
          type: array
      title: ResourceSkuLocationInfo
      type: object
    ResourceSkusResult:
      description: The response from the List Cache SKUs operation.
      example:
        value:
        - locationInfo:
          - location: location
            zones:
            - zones
            - zones
          - location: location
            zones:
            - zones
            - zones
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          name: name
          restrictions:
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: type
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: type
          locations:
          - locations
          - locations
          resourceType: resourceType
        - locationInfo:
          - location: location
            zones:
            - zones
            - zones
          - location: location
            zones:
            - zones
            - zones
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          name: name
          restrictions:
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: type
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: type
          locations:
          - locations
          - locations
          resourceType: resourceType
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of cache Skus.
          title: nextLink
          type: string
        value:
          description: The list of skus available for the subscription.
          items:
            $ref: '#/components/schemas/ResourceSku'
          readOnly: true
          title: value
          type: array
      title: ResourceSkusResult
      type: object
    Restriction:
      description: The restriction because of which SKU cannot be used.
      example:
        values:
        - values
        - values
        reasonCode: QuotaId
        type: type
      properties:
        reasonCode:
          description: The reason for the restriction. As of now this can be "QuotaId"
            or "NotAvailableForSubscription". Quota Id is set when the SKU has requiredQuotas
            parameter as the subscription does not belong to that quota. The "NotAvailableForSubscription"
            is related to capacity at DC.
          enum:
          - QuotaId
          - NotAvailableForSubscription
          title: reasonCode
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReasonCode
        type:
          description: The type of restrictions. As of now only possible value for
            this is location.
          readOnly: true
          title: type
          type: string
        values:
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
          items:
            type: string
          readOnly: true
          title: values
          type: array
      title: Restriction
      type: object
    StorageTarget:
      description: A storage system being cached by a Cache.
      discriminator:
        propertyName: targetType
      example:
        name: name
        id: id
        type: type
        properties:
          clfs:
            target: target
          targetType: nfs3
          nfs3:
            usageModel: usageModel
            target: target
          provisioningState: Succeeded
          junctions:
          - nfsExport: nfsExport
            namespacePath: namespacePath
            targetPath: targetPath
          - nfsExport: nfsExport
            namespacePath: namespacePath
            targetPath: targetPath
          unknown:
            unknownMap:
              key: unknownMap
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: "Schema for the name of resources served by this provider.\
            \   Note that objects will contain an odata @id annotation as appropriate,\
            \ this will contain the complete URL of the object.   These names are\
            \ case-preserving, but not case sensitive."
          pattern: "^[-0-9a-zA-Z_]{1,31}$"
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/StorageTarget_properties'
        type:
          description: Type for the storage target; Microsoft.StorageCache/Cache/StorageTarget
          readOnly: true
          title: type
          type: string
      title: StorageTarget
      type: object
      x-ms-azure-resource: true
    StorageTargetsResult:
      description: A list of storage targets.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            clfs:
              target: target
            targetType: nfs3
            nfs3:
              usageModel: usageModel
              target: target
            provisioningState: Succeeded
            junctions:
            - nfsExport: nfsExport
              namespacePath: namespacePath
              targetPath: targetPath
            - nfsExport: nfsExport
              namespacePath: namespacePath
              targetPath: targetPath
            unknown:
              unknownMap:
                key: unknownMap
        - name: name
          id: id
          type: type
          properties:
            clfs:
              target: target
            targetType: nfs3
            nfs3:
              usageModel: usageModel
              target: target
            provisioningState: Succeeded
            junctions:
            - nfsExport: nfsExport
              namespacePath: namespacePath
              targetPath: targetPath
            - nfsExport: nfsExport
              namespacePath: namespacePath
              targetPath: targetPath
            unknown:
              unknownMap:
                key: unknownMap
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of storage targets.
          title: nextLink
          type: string
        value:
          description: The list of storage targets defined for the cache.
          items:
            $ref: '#/components/schemas/StorageTarget'
          title: value
          type: array
      title: StorageTargetsResult
      type: object
    URLString:
      description: A fully qualified URL.
      title: URLString
      type: string
    UnknownProperties:
      additionalProperties:
        type: string
      description: Properties of an unknown type of StorageTarget
      title: UnknownProperties
      type: object
    UnknownTarget:
      description: Storage container for use as a Unknown StorageTarget.
      example:
        unknownMap:
          key: unknownMap
      properties:
        unknownMap:
          additionalProperties:
            type: string
          description: Properties of an unknown type of StorageTarget
          title: UnknownProperties
          type: object
      title: UnknownTarget
      type: object
      x-ms-discriminator-value: unknown
    UsageModel:
      description: A usage model.
      example:
        modelName: modelName
        display:
          description: description
        targetType: targetType
      properties:
        display:
          $ref: '#/components/schemas/UsageModel_display'
        modelName:
          description: Non localized keyword naming this usage model.
          title: modelName
          type: string
        targetType:
          description: The type of Storage Target to which this model is applicable
            (only nfs for now)
          title: targetType
          type: string
      title: UsageModel
      type: object
    UsageModelsResult:
      description: A list of cache usage models.
      example:
        value:
        - modelName: modelName
          display:
            description: description
          targetType: targetType
        - modelName: modelName
          display:
            description: description
          targetType: targetType
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of cache usage models.
          title: nextLink
          type: string
        value:
          description: The list of usage models available for the subscription.
          items:
            $ref: '#/components/schemas/UsageModel'
          title: value
          type: array
      title: UsageModelsResult
      type: object
    ApiOperation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.StorageCache"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: cache, etc."
          title: resource
          type: string
      title: ApiOperation_display
      type: object
    Cache_properties:
      description: Properties for the cache.
      example:
        cacheSizeGB: 0
        upgradeStatus:
          firmwareUpdateStatus: available
          firmwareUpdateDeadline: 2000-01-23T04:56:07.000+00:00
          lastFirmwareUpdate: 2000-01-23T04:56:07.000+00:00
          currentFirmwareVersion: currentFirmwareVersion
          pendingFirmwareVersion: pendingFirmwareVersion
        subnet: subnet
        mountAddresses:
        - mountAddresses
        - mountAddresses
        health:
          statusDescription: statusDescription
          state: Unknown
        provisioningState: Succeeded
      properties:
        cacheSizeGB:
          description: "The size of this cache's cache, in GB."
          title: cacheSizeGB
          type: integer
        health:
          $ref: '#/components/schemas/CacheHealth'
        mountAddresses:
          description: Array of IP addresses that can be used by clients mounting
            this Cache.
          items:
            type: string
          readOnly: true
          title: mountAddresses
          type: array
        provisioningState:
          description: "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property"
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Creating
          - Deleting
          - Updating
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningStateType
        subnet:
          description: A fully qualified URL.
          title: URLString
          type: string
        upgradeStatus:
          $ref: '#/components/schemas/CacheUpgradeStatus'
      title: Cache_properties
      type: object
      x-ms-client-flatten: true
    Cache_sku:
      description: Sku for the cache.
      example:
        name: name
      properties:
        name:
          description: Sku name for this cache.
          title: name
          type: string
      title: Cache_sku
      type: object
    StorageTarget_properties:
      description: Properties of the storage target.
      example:
        clfs:
          target: target
        targetType: nfs3
        nfs3:
          usageModel: usageModel
          target: target
        provisioningState: Succeeded
        junctions:
        - nfsExport: nfsExport
          namespacePath: namespacePath
          targetPath: targetPath
        - nfsExport: nfsExport
          namespacePath: namespacePath
          targetPath: targetPath
        unknown:
          unknownMap:
            key: unknownMap
      properties:
        clfs:
          $ref: '#/components/schemas/ClfsTarget'
        junctions:
          description: List of cache namespace to target namespace associations.
          items:
            $ref: '#/components/schemas/NamespaceJunction'
          title: junctions
          type: array
        nfs3:
          $ref: '#/components/schemas/Nfs3Target'
        provisioningState:
          description: "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property"
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Creating
          - Deleting
          - Updating
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningStateType
        targetType:
          description: Type for storage target.
          enum:
          - nfs3
          - clfs
          - unknown
          title: targetType
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageTargetType
        unknown:
          $ref: '#/components/schemas/UnknownTarget'
      title: StorageTarget_properties
      type: object
      x-ms-client-flatten: true
    UsageModel_display:
      description: Localized information describing this usage model.
      example:
        description: description
      properties:
        description:
          description: String to display for this usage model.
          title: description
          type: string
      title: UsageModel_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
