openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Places API (New)
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://places.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: places
externalDocs:
  url: https://mapsplatform.google.com/maps-products/#places-section
servers:
- url: https://places.googleapis.com/
tags:
- name: places
paths:
  /v1/places:autocomplete:
    post:
      description: Returns predictions for the given input.
      operationId: places.places.autocomplete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places.autocomplete
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places.autocomplete
      tags:
      - places
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/places:searchNearby:
    post:
      description: Search for places near locations.
      operationId: places.places.searchNearby
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleMapsPlacesV1SearchNearbyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleMapsPlacesV1SearchNearbyResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places.nearbysearch
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places.nearbysearch
      tags:
      - places
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/places:searchText:
    post:
      description: Text query based place search.
      operationId: places.places.searchText
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleMapsPlacesV1SearchTextRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleMapsPlacesV1SearchTextResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places.textsearch
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places.textsearch
      tags:
      - places
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:
    get:
      description: Get a photo media with a photo reference string.
      operationId: places.places.photos.getMedia
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of a photo media in the format:\
          \ `places/{place_id}/photos/{photo_reference}/media`. The resource name\
          \ of a photo as returned in a Place object's `photos.name` field comes with\
          \ the format `places/{place_id}/photos/{photo_reference}`. You need to append\
          \ `/media` at the end of the photo resource to get the photo media resource\
          \ name."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Specifies the maximum desired height, in pixels, of\
          \ the image. If the image is smaller than the values specified, the original\
          \ image will be returned. If the image is larger in either dimension, it\
          \ will be scaled to match the smaller of the two dimensions, restricted\
          \ to its original aspect ratio. Both the max_height_px and max_width_px\
          \ properties accept an integer between 1 and 4800, inclusively. If the value\
          \ is not within the allowed range, an INVALID_ARGUMENT error will be returned.\
          \ At least one of max_height_px or max_width_px needs to be specified. If\
          \ neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT\
          \ error will be returned."
        explode: true
        in: query
        name: maxHeightPx
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. Specifies the maximum desired width, in pixels, of\
          \ the image. If the image is smaller than the values specified, the original\
          \ image will be returned. If the image is larger in either dimension, it\
          \ will be scaled to match the smaller of the two dimensions, restricted\
          \ to its original aspect ratio. Both the max_height_px and max_width_px\
          \ properties accept an integer between 1 and 4800, inclusively. If the value\
          \ is not within the allowed range, an INVALID_ARGUMENT error will be returned.\
          \ At least one of max_height_px or max_width_px needs to be specified. If\
          \ neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT\
          \ error will be returned."
        explode: true
        in: query
        name: maxWidthPx
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. If set, skip the default HTTP redirect behavior and\
          \ render a text format (for example, in JSON format for HTTP use case) response.\
          \ If not set, an HTTP redirect will be issued to redirect the call to the\
          \ image media. This option is ignored for non-HTTP requests."
        explode: true
        in: query
        name: skipHttpRedirect
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleMapsPlacesV1PhotoMedia'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places
      - Oauth2:
        - https://www.googleapis.com/auth/maps-platform.places.details
        Oauth2c:
        - https://www.googleapis.com/auth/maps-platform.places.details
      tags:
      - places
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleGeoTypeViewport:
      description: "A latitude-longitude viewport, represented as two diagonally opposite\
        \ `low` and `high` points. A viewport is considered a closed region, i.e.\
        \ it includes its boundary. The latitude bounds must range between -90 to\
        \ 90 degrees inclusive, and the longitude bounds must range between -180 to\
        \ 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport\
        \ consists of that single point. - If `low.longitude` > `high.longitude`,\
        \ the longitude range is inverted (the viewport crosses the 180 degree longitude\
        \ line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees,\
        \ the viewport includes all longitudes. - If `low.longitude` = 180 degrees\
        \ and `high.longitude` = -180 degrees, the longitude range is empty. - If\
        \ `low.latitude` > `high.latitude`, the latitude range is empty. Both `low`\
        \ and `high` must be populated, and the represented box cannot be empty (as\
        \ specified by the definitions above). An empty viewport will result in an\
        \ error. For example, this viewport fully encloses New York City: { \"low\"\
        : { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\"\
        : 40.91618, \"longitude\": -73.70018 } }"
      example:
        high:
          latitude: 6.027456183070403
          longitude: 1.4658129805029452
        low:
          latitude: 6.027456183070403
          longitude: 1.4658129805029452
      properties:
        high:
          $ref: '#/components/schemas/GoogleTypeLatLng'
        low:
          $ref: '#/components/schemas/GoogleTypeLatLng'
      type: object
    GoogleMapsPlacesV1AuthorAttribution:
      description: "Information about the author of the UGC data. Used in Photo, and\
        \ Review."
      example:
        displayName: displayName
        photoUri: photoUri
        uri: uri
      properties:
        displayName:
          description: Name of the author of the Photo or Review.
          type: string
        photoUri:
          description: Profile photo URI of the author of the Photo or Review.
          type: string
        uri:
          description: URI of the author of the Photo or Review.
          type: string
      type: object
    GoogleMapsPlacesV1AutocompletePlacesRequest:
      description: Request proto for AutocompletePlaces.
      example:
        includedPrimaryTypes:
        - includedPrimaryTypes
        - includedPrimaryTypes
        locationBias:
          rectangle:
            high:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
            low:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
          circle:
            center:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
            radius: 5.962133916683182
        input: input
        regionCode: regionCode
        origin:
          latitude: 6.027456183070403
          longitude: 1.4658129805029452
        inputOffset: 0
        sessionToken: sessionToken
        locationRestriction:
          rectangle:
            high:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
            low:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
          circle:
            center:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
            radius: 5.962133916683182
        includeQueryPredictions: true
        languageCode: languageCode
        includedRegionCodes:
        - includedRegionCodes
        - includedRegionCodes
      properties:
        includeQueryPredictions:
          description: "Optional. If true, the response will include both Place and\
            \ query predictions. Otherwise the response will only return Place predictions."
          type: boolean
        includedPrimaryTypes:
          description: "Optional. Included primary Place type (for example, \"restaurant\"\
            \ or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types.\
            \ A Place is only returned if its primary type is included in this list.\
            \ Up to 5 values can be specified. If no types are specified, all Place\
            \ types are returned."
          items:
            type: string
          type: array
        includedRegionCodes:
          description: "Optional. Only include results in the specified regions, specified\
            \ as up to 15 CLDR two-character region codes. An empty set will not restrict\
            \ the results. If both `location_restriction` and `included_region_codes`\
            \ are set, the results will be located in the area of intersection."
          items:
            type: string
          type: array
        input:
          description: Required. The text string on which to search.
          type: string
        inputOffset:
          description: "Optional. A zero-based Unicode character offset of `input`\
            \ indicating the cursor position in `input`. The cursor position may influence\
            \ what predictions are returned. If empty, defaults to the length of `input`."
          format: int32
          type: integer
        languageCode:
          description: Optional. The language in which to return results. Defaults
            to en-US. The results may be in mixed languages if the language used in
            `input` is different from `language_code` or if the returned Place does
            not have a translation from the local language to `language_code`.
          type: string
        locationBias:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias'
        locationRestriction:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction'
        origin:
          $ref: '#/components/schemas/GoogleTypeLatLng'
        regionCode:
          description: "Optional. The region code, specified as a CLDR two-character\
            \ region code. This affects address formatting, result ranking, and may\
            \ influence what results are returned. This does not restrict results\
            \ to the specified region. To restrict results to a region, use `region_code_restriction`."
          type: string
        sessionToken:
          description: "Optional. A string which identifies an Autocomplete session\
            \ for billing purposes. Must be a URL and filename safe base64 string\
            \ with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT\
            \ error is returned. The session begins when the user starts typing a\
            \ query, and concludes when they select a place and a call to Place Details\
            \ or Address Validation is made. Each session can have multiple queries,\
            \ followed by one Place Details or Address Validation request. The credentials\
            \ used for each request within a session must belong to the same Google\
            \ Cloud Console project. Once a session has concluded, the token is no\
            \ longer valid; your app must generate a fresh token for each session.\
            \ If the `session_token` parameter is omitted, or if you reuse a session\
            \ token, the session is charged as if no session token was provided (each\
            \ request is billed separately). We recommend the following guidelines:\
            \ * Use session tokens for all Place Autocomplete calls. * Generate a\
            \ fresh token for each session. Using a version 4 UUID is recommended.\
            \ * Ensure that the credentials used for all Place Autocomplete, Place\
            \ Details, and Address Validation requests within a session belong to\
            \ the same Cloud Console project. * Be sure to pass a unique session token\
            \ for each new session. Using the same token for more than one session\
            \ will result in each request being billed individually."
          type: string
      type: object
    GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias:
      description: The region to search. The results may be biased around the specified
        region.
      example:
        rectangle:
          high:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          low:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
        circle:
          center:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          radius: 5.962133916683182
      properties:
        circle:
          $ref: '#/components/schemas/GoogleMapsPlacesV1Circle'
        rectangle:
          $ref: '#/components/schemas/GoogleGeoTypeViewport'
      type: object
    GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction:
      description: The region to search. The results will be restricted to the specified
        region.
      example:
        rectangle:
          high:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          low:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
        circle:
          center:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          radius: 5.962133916683182
      properties:
        circle:
          $ref: '#/components/schemas/GoogleMapsPlacesV1Circle'
        rectangle:
          $ref: '#/components/schemas/GoogleGeoTypeViewport'
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponse:
      description: Response proto for AutocompletePlaces.
      example:
        suggestions:
        - queryPrediction:
            structuredFormat:
              mainText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
              secondaryText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
            text:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
          placePrediction:
            distanceMeters: 0
            types:
            - types
            - types
            placeId: placeId
            structuredFormat:
              mainText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
              secondaryText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
            place: place
            text:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
        - queryPrediction:
            structuredFormat:
              mainText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
              secondaryText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
            text:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
          placePrediction:
            distanceMeters: 0
            types:
            - types
            - types
            placeId: placeId
            structuredFormat:
              mainText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
              secondaryText:
                text: text
                matches:
                - endOffset: 6
                  startOffset: 1
                - endOffset: 6
                  startOffset: 1
            place: place
            text:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
      properties:
        suggestions:
          description: "Contains a list of suggestions, ordered in descending order\
            \ of relevance."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion'
          type: array
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion:
      description: An Autocomplete suggestion result.
      example:
        queryPrediction:
          structuredFormat:
            mainText:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
            secondaryText:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
          text:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
        placePrediction:
          distanceMeters: 0
          types:
          - types
          - types
          placeId: placeId
          structuredFormat:
            mainText:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
            secondaryText:
              text: text
              matches:
              - endOffset: 6
                startOffset: 1
              - endOffset: 6
                startOffset: 1
          place: place
          text:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
      properties:
        placePrediction:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction'
        queryPrediction:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction'
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText:
      description: Text representing a Place or query prediction. The text may be
        used as is or formatted.
      example:
        text: text
        matches:
        - endOffset: 6
          startOffset: 1
        - endOffset: 6
          startOffset: 1
      properties:
        matches:
          description: "A list of string ranges identifying where the input request\
            \ matched in `text`. The ranges can be used to format specific parts of\
            \ `text`. The substrings may not be exact matches of `input` if the matching\
            \ was determined by criteria other than string matching (for example,\
            \ spell corrections or transliterations). These values are Unicode character\
            \ offsets of `text`. The ranges are guaranteed to be ordered in increasing\
            \ offset values."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange'
          type: array
        text:
          description: Text that may be used as is or formatted with `matches`.
          type: string
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction:
      description: Prediction results for a Place Autocomplete prediction.
      example:
        distanceMeters: 0
        types:
        - types
        - types
        placeId: placeId
        structuredFormat:
          mainText:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
          secondaryText:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
        place: place
        text:
          text: text
          matches:
          - endOffset: 6
            startOffset: 1
          - endOffset: 6
            startOffset: 1
      properties:
        distanceMeters:
          description: The length of the geodesic in meters from `origin` if `origin`
            is specified. Certain predictions such as routes may not populate this
            field.
          format: int32
          type: integer
        place:
          description: The resource name of the suggested Place. This name can be
            used in other APIs that accept Place names.
          type: string
        placeId:
          description: The unique identifier of the suggested Place. This identifier
            can be used in other APIs that accept Place IDs.
          type: string
        structuredFormat:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat'
        text:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText'
        types:
          description: List of types that apply to this Place from Table A or Table
            B in https://developers.google.com/maps/documentation/places/web-service/place-types.
            A type is a categorization of a Place. Places with shared types will share
            similar characteristics.
          items:
            type: string
          type: array
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction:
      description: Prediction results for a Query Autocomplete prediction.
      example:
        structuredFormat:
          mainText:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
          secondaryText:
            text: text
            matches:
            - endOffset: 6
              startOffset: 1
            - endOffset: 6
              startOffset: 1
        text:
          text: text
          matches:
          - endOffset: 6
            startOffset: 1
          - endOffset: 6
            startOffset: 1
      properties:
        structuredFormat:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat'
        text:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText'
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange:
      description: Identifies a substring within a given text.
      example:
        endOffset: 6
        startOffset: 1
      properties:
        endOffset:
          description: Zero-based offset of the last Unicode character (exclusive).
          format: int32
          type: integer
        startOffset:
          description: Zero-based offset of the first Unicode character of the string
            (inclusive).
          format: int32
          type: integer
      type: object
    GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat:
      description: "Contains a breakdown of a Place or query prediction into main\
        \ text and secondary text. For Place predictions, the main text contains the\
        \ specific name of the Place. For query predictions, the main text contains\
        \ the query. The secondary text contains additional disambiguating features\
        \ (such as a city or region) to further identify the Place or refine the query."
      example:
        mainText:
          text: text
          matches:
          - endOffset: 6
            startOffset: 1
          - endOffset: 6
            startOffset: 1
        secondaryText:
          text: text
          matches:
          - endOffset: 6
            startOffset: 1
          - endOffset: 6
            startOffset: 1
      properties:
        mainText:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText'
        secondaryText:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText'
      type: object
    GoogleMapsPlacesV1Circle:
      description: Circle with a LatLng as center and radius.
      example:
        center:
          latitude: 6.027456183070403
          longitude: 1.4658129805029452
        radius: 5.962133916683182
      properties:
        center:
          $ref: '#/components/schemas/GoogleTypeLatLng'
        radius:
          description: "Required. Radius measured in meters. The radius must be within\
            \ [0.0, 50000.0]."
          format: double
          type: number
      type: object
    GoogleMapsPlacesV1EVChargeOptions:
      description: Information about the EV Charge Station hosted in Place. Terminology
        follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One
        port could charge one car at a time. One port has one or more connectors.
        One station has one or more ports.
      example:
        connectorAggregation:
        - availableCount: 7
          availabilityLastUpdateTime: availabilityLastUpdateTime
          outOfServiceCount: 2
          count: 9
          maxChargeRateKw: 3.616076749251911
          type: EV_CONNECTOR_TYPE_UNSPECIFIED
        - availableCount: 7
          availabilityLastUpdateTime: availabilityLastUpdateTime
          outOfServiceCount: 2
          count: 9
          maxChargeRateKw: 3.616076749251911
          type: EV_CONNECTOR_TYPE_UNSPECIFIED
        connectorCount: 4
      properties:
        connectorAggregation:
          description: A list of EV charging connector aggregations that contain connectors
            of the same type and same charge rate.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation'
          type: array
        connectorCount:
          description: "Number of connectors at this station. However, because some\
            \ ports can have multiple connectors but only be able to charge one car\
            \ at a time (e.g.) the number of connectors may be greater than the total\
            \ number of cars which can charge simultaneously."
          format: int32
          type: integer
      type: object
    GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation:
      description: "EV charging information grouped by [type, max_charge_rate_kw].\
        \ Shows EV charge aggregation of connectors that have the same type and max\
        \ charge rate in kw."
      example:
        availableCount: 7
        availabilityLastUpdateTime: availabilityLastUpdateTime
        outOfServiceCount: 2
        count: 9
        maxChargeRateKw: 3.616076749251911
        type: EV_CONNECTOR_TYPE_UNSPECIFIED
      properties:
        availabilityLastUpdateTime:
          description: The timestamp when the connector availability information in
            this aggregation was last updated.
          format: google-datetime
          type: string
        availableCount:
          description: Number of connectors in this aggregation that are currently
            available.
          format: int32
          type: integer
        count:
          description: Number of connectors in this aggregation.
          format: int32
          type: integer
        maxChargeRateKw:
          description: The static max charging rate in kw of each connector in the
            aggregation.
          format: double
          type: number
        outOfServiceCount:
          description: Number of connectors in this aggregation that are currently
            out of service.
          format: int32
          type: integer
        type:
          description: The connector type of this aggregation.
          enum:
          - EV_CONNECTOR_TYPE_UNSPECIFIED
          - EV_CONNECTOR_TYPE_OTHER
          - EV_CONNECTOR_TYPE_J1772
          - EV_CONNECTOR_TYPE_TYPE_2
          - EV_CONNECTOR_TYPE_CHADEMO
          - EV_CONNECTOR_TYPE_CCS_COMBO_1
          - EV_CONNECTOR_TYPE_CCS_COMBO_2
          - EV_CONNECTOR_TYPE_TESLA
          - EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T
          - EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET
          type: string
      type: object
    GoogleMapsPlacesV1FuelOptions:
      description: The most recent information about fuel options in a gas station.
        This information is updated regularly.
      example:
        fuelPrices:
        - price:
            nanos: 7
            units: units
            currencyCode: currencyCode
          updateTime: updateTime
          type: FUEL_TYPE_UNSPECIFIED
        - price:
            nanos: 7
            units: units
            currencyCode: currencyCode
          updateTime: updateTime
          type: FUEL_TYPE_UNSPECIFIED
      properties:
        fuelPrices:
          description: The last known fuel price for each type of fuel this station
            has. There is one entry per fuel type this station has. Order is not important.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1FuelOptionsFuelPrice'
          type: array
      type: object
    GoogleMapsPlacesV1FuelOptionsFuelPrice:
      description: Fuel price information for a given type.
      example:
        price:
          nanos: 7
          units: units
          currencyCode: currencyCode
        updateTime: updateTime
        type: FUEL_TYPE_UNSPECIFIED
      properties:
        price:
          $ref: '#/components/schemas/GoogleTypeMoney'
        type:
          description: The type of fuel.
          enum:
          - FUEL_TYPE_UNSPECIFIED
          - DIESEL
          - REGULAR_UNLEADED
          - MIDGRADE
          - PREMIUM
          - SP91
          - SP91_E10
          - SP92
          - SP95
          - SP95_E10
          - SP98
          - SP99
          - SP100
          - LPG
          - E80
          - E85
          - METHANE
          - BIO_DIESEL
          - TRUCK_DIESEL
          type: string
        updateTime:
          description: The time the fuel price was last updated.
          format: google-datetime
          type: string
      type: object
    GoogleMapsPlacesV1Photo:
      description: Information about a photo of a place.
      example:
        authorAttributions:
        - displayName: displayName
          photoUri: photoUri
          uri: uri
        - displayName: displayName
          photoUri: photoUri
          uri: uri
        heightPx: 1
        widthPx: 1
        name: name
      properties:
        authorAttributions:
          description: This photo's authors.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1AuthorAttribution'
          type: array
        heightPx:
          description: "The maximum available height, in pixels."
          format: int32
          type: integer
        name:
          description: "Identifier. A reference representing this place photo which\
            \ may be used to look up this place photo again (also called the API \"\
            resource\" name: `places/{place_id}/photos/{photo}`)."
          type: string
        widthPx:
          description: "The maximum available width, in pixels."
          format: int32
          type: integer
      type: object
    GoogleMapsPlacesV1PhotoMedia:
      description: A photo media from Places API.
      example:
        photoUri: photoUri
        name: name
      properties:
        name:
          description: "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`."
          type: string
        photoUri:
          description: A short-lived uri that can be used to render the photo.
          type: string
      type: object
    GoogleMapsPlacesV1Place:
      description: All the information representing a Place.
      example:
        menuForChildren: true
        rating: 1.4894159098541704
        takeout: true
        priceLevel: PRICE_LEVEL_UNSPECIFIED
        photos:
        - authorAttributions:
          - displayName: displayName
            photoUri: photoUri
            uri: uri
          - displayName: displayName
            photoUri: photoUri
            uri: uri
          heightPx: 1
          widthPx: 1
          name: name
        - authorAttributions:
          - displayName: displayName
            photoUri: photoUri
            uri: uri
          - displayName: displayName
            photoUri: photoUri
            uri: uri
          heightPx: 1
          widthPx: 1
          name: name
        regularOpeningHours:
          secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        googleMapsUri: googleMapsUri
        reviews:
        - originalText:
            text: text
            languageCode: languageCode
          publishTime: publishTime
          name: name
          rating: 6.84685269835264
          relativePublishTimeDescription: relativePublishTimeDescription
          text:
            text: text
            languageCode: languageCode
          authorAttribution:
            displayName: displayName
            photoUri: photoUri
            uri: uri
        - originalText:
            text: text
            languageCode: languageCode
          publishTime: publishTime
          name: name
          rating: 6.84685269835264
          relativePublishTimeDescription: relativePublishTimeDescription
          text:
            text: text
            languageCode: languageCode
          authorAttribution:
            displayName: displayName
            photoUri: photoUri
            uri: uri
        servesDessert: true
        paymentOptions:
          acceptsDebitCards: true
          acceptsCreditCards: true
          acceptsNfc: true
          acceptsCashOnly: true
        outdoorSeating: true
        primaryType: primaryType
        addressComponents:
        - types:
          - types
          - types
          longText: longText
          shortText: shortText
          languageCode: languageCode
        - types:
          - types
          - types
          longText: longText
          shortText: shortText
          languageCode: languageCode
        userRatingCount: 7
        id: id
        servesCoffee: true
        regularSecondaryOpeningHours:
        - secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        - secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        servesBeer: true
        evChargeOptions:
          connectorAggregation:
          - availableCount: 7
            availabilityLastUpdateTime: availabilityLastUpdateTime
            outOfServiceCount: 2
            count: 9
            maxChargeRateKw: 3.616076749251911
            type: EV_CONNECTOR_TYPE_UNSPECIFIED
          - availableCount: 7
            availabilityLastUpdateTime: availabilityLastUpdateTime
            outOfServiceCount: 2
            count: 9
            maxChargeRateKw: 3.616076749251911
            type: EV_CONNECTOR_TYPE_UNSPECIFIED
          connectorCount: 4
        servesBreakfast: true
        allowsDogs: true
        servesCocktails: true
        goodForChildren: true
        servesLunch: true
        name: name
        attributions:
        - provider: provider
          providerUri: providerUri
        - provider: provider
          providerUri: providerUri
        liveMusic: true
        currentSecondaryOpeningHours:
        - secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        - secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        goodForWatchingSports: true
        displayName:
          text: text
          languageCode: languageCode
        reservable: true
        primaryTypeDisplayName:
          text: text
          languageCode: languageCode
        iconMaskBaseUri: iconMaskBaseUri
        websiteUri: websiteUri
        servesVegetarianFood: true
        formattedAddress: formattedAddress
        servesBrunch: true
        servesWine: true
        goodForGroups: true
        servesDinner: true
        nationalPhoneNumber: nationalPhoneNumber
        editorialSummary:
          text: text
          languageCode: languageCode
        dineIn: true
        restroom: true
        delivery: true
        shortFormattedAddress: shortFormattedAddress
        utcOffsetMinutes: 1
        types:
        - types
        - types
        fuelOptions:
          fuelPrices:
          - price:
              nanos: 7
              units: units
              currencyCode: currencyCode
            updateTime: updateTime
            type: FUEL_TYPE_UNSPECIFIED
          - price:
              nanos: 7
              units: units
              currencyCode: currencyCode
            updateTime: updateTime
            type: FUEL_TYPE_UNSPECIFIED
        subDestinations:
        - name: name
          id: id
        - name: name
          id: id
        plusCode:
          globalCode: globalCode
          compoundCode: compoundCode
        businessStatus: BUSINESS_STATUS_UNSPECIFIED
        currentOpeningHours:
          secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
          openNow: true
          specialDays:
          - date:
              month: 6
              year: 1
              day: 0
          - date:
              month: 6
              year: 1
              day: 0
          periods:
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          - close:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
            open:
              date:
                month: 6
                year: 1
                day: 0
              hour: 5
              truncated: true
              day: 5
              minute: 2
          weekdayDescriptions:
          - weekdayDescriptions
          - weekdayDescriptions
        adrFormatAddress: adrFormatAddress
        accessibilityOptions:
          wheelchairAccessibleEntrance: true
          wheelchairAccessibleRestroom: true
          wheelchairAccessibleSeating: true
          wheelchairAccessibleParking: true
        viewport:
          high:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          low:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
        curbsidePickup: true
        iconBackgroundColor: iconBackgroundColor
        parkingOptions:
          freeParkingLot: true
          freeStreetParking: true
          freeGarageParking: true
          paidStreetParking: true
          valetParking: true
          paidParkingLot: true
          paidGarageParking: true
        location:
          latitude: 6.027456183070403
          longitude: 1.4658129805029452
        internationalPhoneNumber: internationalPhoneNumber
      properties:
        accessibilityOptions:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceAccessibilityOptions'
        addressComponents:
          description: "Repeated components for each locality level. Note the following\
            \ facts about the address_components[] array: - The array of address components\
            \ may contain more components than the formatted_address. - The array\
            \ does not necessarily include all the political entities that contain\
            \ an address, apart from those included in the formatted_address. To retrieve\
            \ all the political entities that contain a specific address, you should\
            \ use reverse geocoding, passing the latitude/longitude of the address\
            \ as a parameter to the request. - The format of the response is not guaranteed\
            \ to remain the same between requests. In particular, the number of address_components\
            \ varies based on the address requested and can change over time for the\
            \ same address. A component can change position in the array. The type\
            \ of the component can change. A particular component may be missing in\
            \ a later response."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceAddressComponent'
          type: array
        adrFormatAddress:
          description: "The place's address in adr microformat: http://microformats.org/wiki/adr."
          type: string
        allowsDogs:
          description: Place allows dogs.
          type: boolean
        attributions:
          description: A set of data provider that must be shown with this result.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceAttribution'
          type: array
        businessStatus:
          description: The business status for the place.
          enum:
          - BUSINESS_STATUS_UNSPECIFIED
          - OPERATIONAL
          - CLOSED_TEMPORARILY
          - CLOSED_PERMANENTLY
          type: string
        curbsidePickup:
          description: Specifies if the business supports curbside pickup.
          type: boolean
        currentOpeningHours:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHours'
        currentSecondaryOpeningHours:
          description: "Contains an array of entries for the next seven days including\
            \ information about secondary hours of a business. Secondary hours are\
            \ different from a business's main hours. For example, a restaurant can\
            \ specify drive through hours or delivery hours as its secondary hours.\
            \ This field populates the type subfield, which draws from a predefined\
            \ list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT)\
            \ based on the types of the place. This field includes the special_days\
            \ subfield of all hours, set for dates that have exceptional hours."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHours'
          type: array
        delivery:
          description: Specifies if the business supports delivery.
          type: boolean
        dineIn:
          description: Specifies if the business supports indoor or outdoor seating
            options.
          type: boolean
        displayName:
          $ref: '#/components/schemas/GoogleTypeLocalizedText'
        editorialSummary:
          $ref: '#/components/schemas/GoogleTypeLocalizedText'
        evChargeOptions:
          $ref: '#/components/schemas/GoogleMapsPlacesV1EVChargeOptions'
        formattedAddress:
          description: "A full, human-readable address for this place."
          type: string
        fuelOptions:
          $ref: '#/components/schemas/GoogleMapsPlacesV1FuelOptions'
        goodForChildren:
          description: Place is good for children.
          type: boolean
        goodForGroups:
          description: Place accommodates groups.
          type: boolean
        goodForWatchingSports:
          description: Place is suitable for watching sports.
          type: boolean
        googleMapsUri:
          description: A URL providing more information about this place.
          type: string
        iconBackgroundColor:
          description: "Background color for icon_mask in hex format, e.g. #909CE1."
          type: string
        iconMaskBaseUri:
          description: "A truncated URL to an icon mask. User can access different\
            \ icon type by appending type suffix to the end (eg, \".svg\" or \".png\"\
            )."
          type: string
        id:
          description: The unique identifier of a place.
          type: string
        internationalPhoneNumber:
          description: "A human-readable phone number for the place, in international\
            \ format."
          type: string
        liveMusic:
          description: Place provides live music.
          type: boolean
        location:
          $ref: '#/components/schemas/GoogleTypeLatLng'
        menuForChildren:
          description: Place has a children's menu.
          type: boolean
        name:
          description: "This Place's resource name, in `places/{place_id}` format.\
            \ Can be used to look up the Place."
          type: string
        nationalPhoneNumber:
          description: "A human-readable phone number for the place, in national format."
          type: string
        outdoorSeating:
          description: Place provides outdoor seating.
          type: boolean
        parkingOptions:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceParkingOptions'
        paymentOptions:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlacePaymentOptions'
        photos:
          description: Information (including references) about photos of this place.
            A maximum of 10 photos can be returned.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1Photo'
          type: array
        plusCode:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlacePlusCode'
        priceLevel:
          description: Price level of the place.
          enum:
          - PRICE_LEVEL_UNSPECIFIED
          - PRICE_LEVEL_FREE
          - PRICE_LEVEL_INEXPENSIVE
          - PRICE_LEVEL_MODERATE
          - PRICE_LEVEL_EXPENSIVE
          - PRICE_LEVEL_VERY_EXPENSIVE
          type: string
        primaryType:
          description: "The primary type of the given result. This type must one of\
            \ the Places API supported types. For example, \"restaurant\", \"cafe\"\
            , \"airport\", etc. A place can only have a single primary type. For the\
            \ complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
          type: string
        primaryTypeDisplayName:
          $ref: '#/components/schemas/GoogleTypeLocalizedText'
        rating:
          description: "A rating between 1.0 and 5.0, based on user reviews of this\
            \ place."
          format: double
          type: number
        regularOpeningHours:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHours'
        regularSecondaryOpeningHours:
          description: "Contains an array of entries for information about regular\
            \ secondary hours of a business. Secondary hours are different from a\
            \ business's main hours. For example, a restaurant can specify drive through\
            \ hours or delivery hours as its secondary hours. This field populates\
            \ the type subfield, which draws from a predefined list of opening hours\
            \ types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types\
            \ of the place."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHours'
          type: array
        reservable:
          description: Specifies if the place supports reservations.
          type: boolean
        restroom:
          description: Place has restroom.
          type: boolean
        reviews:
          description: "List of reviews about this place, sorted by relevance. A maximum\
            \ of 5 reviews can be returned."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1Review'
          type: array
        servesBeer:
          description: Specifies if the place serves beer.
          type: boolean
        servesBreakfast:
          description: Specifies if the place serves breakfast.
          type: boolean
        servesBrunch:
          description: Specifies if the place serves brunch.
          type: boolean
        servesCocktails:
          description: Place serves cocktails.
          type: boolean
        servesCoffee:
          description: Place serves coffee.
          type: boolean
        servesDessert:
          description: Place serves dessert.
          type: boolean
        servesDinner:
          description: Specifies if the place serves dinner.
          type: boolean
        servesLunch:
          description: Specifies if the place serves lunch.
          type: boolean
        servesVegetarianFood:
          description: Specifies if the place serves vegetarian food.
          type: boolean
        servesWine:
          description: Specifies if the place serves wine.
          type: boolean
        shortFormattedAddress:
          description: "A short, human-readable address for this place."
          type: string
        subDestinations:
          description: A list of sub destinations related to the place.
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceSubDestination'
          type: array
        takeout:
          description: Specifies if the business supports takeout.
          type: boolean
        types:
          description: "A set of type tags for this result. For example, \"political\"\
            \ and \"locality\". For the complete list of possible values, see Table\
            \ A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
          items:
            type: string
          type: array
        userRatingCount:
          description: The total number of reviews (with or without text) for this
            place.
          format: int32
          type: integer
        utcOffsetMinutes:
          description: "Number of minutes this place's timezone is currently offset\
            \ from UTC. This is expressed in minutes to support timezones that are\
            \ offset by fractions of an hour, e.g. X hours and 15 minutes."
          format: int32
          type: integer
        viewport:
          $ref: '#/components/schemas/GoogleGeoTypeViewport'
        websiteUri:
          description: "The authoritative website for this place, e.g. a business'\
            \ homepage. Note that for places that are part of a chain (e.g. an IKEA\
            \ store), this will usually be the website for the individual store, not\
            \ the overall chain."
          type: string
      type: object
    GoogleMapsPlacesV1PlaceAccessibilityOptions:
      description: Information about the accessibility options a place offers.
      example:
        wheelchairAccessibleEntrance: true
        wheelchairAccessibleRestroom: true
        wheelchairAccessibleSeating: true
        wheelchairAccessibleParking: true
      properties:
        wheelchairAccessibleEntrance:
          description: Places has wheelchair accessible entrance.
          type: boolean
        wheelchairAccessibleParking:
          description: Place offers wheelchair accessible parking.
          type: boolean
        wheelchairAccessibleRestroom:
          description: Place has wheelchair accessible restroom.
          type: boolean
        wheelchairAccessibleSeating:
          description: Place has wheelchair accessible seating.
          type: boolean
      type: object
    GoogleMapsPlacesV1PlaceAddressComponent:
      description: "The structured components that form the formatted address, if\
        \ this information is available."
      example:
        types:
        - types
        - types
        longText: longText
        shortText: shortText
        languageCode: languageCode
      properties:
        languageCode:
          description: "The language used to format this components, in CLDR notation."
          type: string
        longText:
          description: "The full text description or name of the address component.\
            \ For example, an address component for the country Australia may have\
            \ a long_name of \"Australia\"."
          type: string
        shortText:
          description: "An abbreviated textual name for the address component, if\
            \ available. For example, an address component for the country of Australia\
            \ may have a short_name of \"AU\"."
          type: string
        types:
          description: An array indicating the type(s) of the address component.
          items:
            type: string
          type: array
      type: object
    GoogleMapsPlacesV1PlaceAttribution:
      description: Information about data providers of this place.
      example:
        provider: provider
        providerUri: providerUri
      properties:
        provider:
          description: Name of the Place's data provider.
          type: string
        providerUri:
          description: URI to the Place's data provider.
          type: string
      type: object
    GoogleMapsPlacesV1PlaceOpeningHours:
      description: Information about business hour of the place.
      example:
        secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
        openNow: true
        specialDays:
        - date:
            month: 6
            year: 1
            day: 0
        - date:
            month: 6
            year: 1
            day: 0
        periods:
        - close:
            date:
              month: 6
              year: 1
              day: 0
            hour: 5
            truncated: true
            day: 5
            minute: 2
          open:
            date:
              month: 6
              year: 1
              day: 0
            hour: 5
            truncated: true
            day: 5
            minute: 2
        - close:
            date:
              month: 6
              year: 1
              day: 0
            hour: 5
            truncated: true
            day: 5
            minute: 2
          open:
            date:
              month: 6
              year: 1
              day: 0
            hour: 5
            truncated: true
            day: 5
            minute: 2
        weekdayDescriptions:
        - weekdayDescriptions
        - weekdayDescriptions
      properties:
        openNow:
          description: Is this place open right now? Always present unless we lack
            time-of-day or timezone data for these opening hours.
          type: boolean
        periods:
          description: "The periods that this place is open during the week. The periods\
            \ are in chronological order, starting with Sunday in the place-local\
            \ timezone. An empty (but not absent) value indicates a place that is\
            \ never open, e.g. because it is closed temporarily for renovations."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHoursPeriod'
          type: array
        secondaryHoursType:
          description: A type string used to identify the type of secondary hours.
          enum:
          - SECONDARY_HOURS_TYPE_UNSPECIFIED
          - DRIVE_THROUGH
          - HAPPY_HOUR
          - DELIVERY
          - TAKEOUT
          - KITCHEN
          - BREAKFAST
          - LUNCH
          - DINNER
          - BRUNCH
          - PICKUP
          - ACCESS
          - SENIOR_HOURS
          - ONLINE_SERVICE_HOURS
          type: string
        specialDays:
          description: "Structured information for special days that fall within the\
            \ period that the returned opening hours cover. Special days are days\
            \ that could impact the business hours of a place, e.g. Christmas day.\
            \ Set for current_opening_hours and current_secondary_opening_hours if\
            \ there are exceptional hours."
          items:
            $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay'
          type: array
        weekdayDescriptions:
          description: "Localized strings describing the opening hours of this place,\
            \ one string for each day of the week. Will be empty if the hours are\
            \ unknown or could not be converted to localized text. Example: \"Sun:\
            \ 18:00–06:00\""
          items:
            type: string
          type: array
      type: object
    GoogleMapsPlacesV1PlaceOpeningHoursPeriod:
      description: A period the place remains in open_now status.
      example:
        close:
          date:
            month: 6
            year: 1
            day: 0
          hour: 5
          truncated: true
          day: 5
          minute: 2
        open:
          date:
            month: 6
            year: 1
            day: 0
          hour: 5
          truncated: true
          day: 5
          minute: 2
      properties:
        close:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint'
        open:
          $ref: '#/components/schemas/GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint'
      type: object
    GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint:
      description: Status changing points.
      example:
        date:
          month: 6
          year: 1
          day: 0
        hour: 5
        truncated: true
        day: 5
        minute: 2
      properties:
        date:
          $ref: '#/components/schemas/GoogleTypeDate'
        day:
          description: "A day of the week, as an integer in the range 0-6. 0 is Sunday,\
            \ 1 is Monday, etc."
          format: int32
          type: integer
        hour:
          description: The hour in 2 digits. Ranges from 00 to 23.
          format: int32
          type: integer
        minute:
          description: The minute in 2 digits. Ranges from 00 to 59.
          format: int32
          type: integer
        truncated:
          description: "Whether or not this endpoint was truncated. Truncation occurs\
            \ when the real hours are outside the times we are willing to return hours\
            \ between, so we truncate the hours back to these boundaries. This ensures\
            \ that at most 24 * 7 hours from midnight of the day of the request are\
            \ returned."
          type: boolean
      type: object
    GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay:
      description: "Structured information for special days that fall within the period\
        \ that the returned opening hours cover. Special days are days that could\
        \ impact the business hours of a place, e.g. Christmas day."
      example:
        date:
          month: 6
          year: 1
          day: 0
      properties:
        date:
          $ref: '#/components/schemas/GoogleTypeDate'
      type: object
    GoogleMapsPlacesV1PlaceParkingOptions:
      description: Information about parking options for the place. A parking lot
        could support more than one option at the same time.
      example:
        freeParkingLot: true
        freeStreetParking: true
        freeGarageParking: true
        paidStreetParking: true
        valetParking: true
        paidParkingLot: true
        paidGarageParking: true
      properties:
        freeGarageParking:
          description: Place offers free garage parking.
          type: boolean
        freeParkingLot:
          description: Place offers free parking lots.
          type: boolean
        freeStreetParking:
          description: Place offers free street parking.
          type: boolean
        paidGarageParking:
          description: Place offers paid garage parking.
          type: boolean
        paidParkingLot:
          description: Place offers paid parking lots.
          type: boolean
        paidStreetParking:
          description: Place offers paid street parking.
          type: boolean
        valetParking:
          description: Place offers valet parking.
          type: boolean
      type: object
    GoogleMapsPlacesV1PlacePaymentOptions:
      description: Payment options the place accepts.
      example:
        acceptsDebitCards: true
        acceptsCreditCards: true
        acceptsNfc: true
        acceptsCashOnly: true
      properties:
        acceptsCashOnly:
          description: Place accepts cash only as payment. Places with this attribute
            may still accept other payment methods.
          type: boolean
        acceptsCreditCards:
          description: Place accepts credit cards as payment.
          type: boolean
        acceptsDebitCards:
          description: Place accepts debit cards as payment.
          type: boolean
        acceptsNfc:
          description: Place accepts NFC payments.
          type: boolean
      type: object
    GoogleMapsPlacesV1PlacePlusCode:
      description: "Plus code (http://plus.codes) is a location reference with two\
        \ formats: global code defining a 14mx14m (1/8000th of a degree) or smaller\
        \ rectangle, and compound code, replacing the prefix with a reference location."
      example:
        globalCode: globalCode
        compoundCode: compoundCode
      properties:
        compoundCode:
          description: "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\"\
            , containing the suffix of the global code and replacing the prefix with\
            \ a formatted name of a reference entity."
          type: string
        globalCode:
          description: "Place's global (full) code, such as \"9FWM33GV+HQ\", representing\
            \ an 1/8000 by 1/8000 degree area (~14 by 14 meters)."
          type: string
      type: object
    GoogleMapsPlacesV1PlaceSubDestination:
      description: "Place resource name and id of sub destinations that relate to\
        \ the place. For example, different terminals are different destinations of\
        \ an airport."
      example:
        name: name
        id: id
      properties:
        id:
          description: The place id of the sub destination.
          type: string
        name:
          description: The resource name of the sub destination.
          type: string
      type: object
    GoogleMapsPlacesV1Review:
      description: Information about a review of a place.
      example:
        originalText:
          text: text
          languageCode: languageCode
        publishTime: publishTime
        name: name
        rating: 6.84685269835264
        relativePublishTimeDescription: relativePublishTimeDescription
        text:
          text: text
          languageCode: languageCode
        authorAttribution:
          displayName: displayName
          photoUri: photoUri
          uri: uri
      properties:
        authorAttribution:
          $ref: '#/components/schemas/GoogleMapsPlacesV1AuthorAttribution'
        name:
          description: "A reference representing this place review which may be used\
            \ to look up this place review again (also called the API \"resource\"\
            \ name: `places/{place_id}/reviews/{review}`)."
          type: string
        originalText:
          $ref: '#/components/schemas/GoogleTypeLocalizedText'
        publishTime:
          description: Timestamp for the review.
          format: google-datetime
          type: string
        rating:
          description: "A number between 1.0 and 5.0, also called the number of stars."
          format: double
          type: number
        relativePublishTimeDescription:
          description: "A string of formatted recent time, expressing the review time\
            \ relative to the current time in a form appropriate for the language\
            \ and country."
          type: string
        text:
          $ref: '#/components/schemas/GoogleTypeLocalizedText'
      type: object
    GoogleMapsPlacesV1SearchNearbyRequest:
      description: 'Request proto for Search Nearby. '
      example:
        includedPrimaryTypes:
        - includedPrimaryTypes
        - includedPrimaryTypes
        excludedPrimaryTypes:
        - excludedPrimaryTypes
        - excludedPrimaryTypes
        regionCode: regionCode
        includedTypes:
        - includedTypes
        - includedTypes
        rankPreference: RANK_PREFERENCE_UNSPECIFIED
        locationRestriction:
          circle:
            center:
              latitude: 6.027456183070403
              longitude: 1.4658129805029452
            radius: 5.962133916683182
        languageCode: languageCode
        excludedTypes:
        - excludedTypes
        - excludedTypes
        maxResultCount: 0
      properties:
        excludedPrimaryTypes:
          description: "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\"\
            ) from https://developers.google.com/maps/documentation/places/web-service/place-types.\
            \ Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a)\
            \ may be specified. If there are any conflicting primary types, i.e. a\
            \ type appears in both included_primary_types and excluded_primary_types,\
            \ an INVALID_ARGUMENT error is returned. If a Place type is specified\
            \ with multiple type restrictions, only places that satisfy all of the\
            \ restrictions are returned. For example, if we have {included_types =\
            \ [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned\
            \ places provide \"restaurant\" related services but do not operate primarily\
            \ as \"restaurants\"."
          items:
            type: string
          type: array
        excludedTypes:
          description: "Excluded Place type (eg, \"restaurant\" or \"gas_station\"\
            ) from https://developers.google.com/maps/documentation/places/web-service/place-types.\
            \ Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a)\
            \ may be specified. If the client provides both included_types (e.g. restaurant)\
            \ and excluded_types (e.g. cafe), then the response should include places\
            \ that are restaurant but not cafe. The response includes places that\
            \ match at least one of the included_types and none of the excluded_types.\
            \ If there are any conflicting types, i.e. a type appears in both included_types\
            \ and excluded_types, an INVALID_ARGUMENT error is returned. If a Place\
            \ type is specified with multiple type restrictions, only places that\
            \ satisfy all of the restrictions are returned. For example, if we have\
            \ {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"\
            ]}, the returned places provide \"restaurant\" related services but do\
            \ not operate primarily as \"restaurants\"."
          items:
            type: string
          type: array
        includedPrimaryTypes:
          description: "Included primary Place type (e.g. \"restaurant\" or \"gas_station\"\
            ) from https://developers.google.com/maps/documentation/places/web-service/place-types.\
            \ A place can only have a single primary type from the supported types\
            \ table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a)\
            \ may be specified. If there are any conflicting primary types, i.e. a\
            \ type appears in both included_primary_types and excluded_primary_types,\
            \ an INVALID_ARGUMENT error is returned. If a Place type is specified\
            \ with multiple type restrictions, only places that satisfy all of the\
            \ restrictions are returned. For example, if we have {included_types =\
            \ [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned\
            \ places provide \"restaurant\" related services but do not operate primarily\
            \ as \"restaurants\"."
          items:
            type: string
          type: array
        includedTypes:
          description: "Included Place type (eg, \"restaurant\" or \"gas_station\"\
            ) from https://developers.google.com/maps/documentation/places/web-service/place-types.\
            \ Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a)\
            \ may be specified. If there are any conflicting types, i.e. a type appears\
            \ in both included_types and excluded_types, an INVALID_ARGUMENT error\
            \ is returned. If a Place type is specified with multiple type restrictions,\
            \ only places that satisfy all of the restrictions are returned. For example,\
            \ if we have {included_types = [\"restaurant\"], excluded_primary_types\
            \ = [\"restaurant\"]}, the returned places provide \"restaurant\" related\
            \ services but do not operate primarily as \"restaurants\"."
          items:
            type: string
          type: array
        languageCode:
          description: "Place details will be displayed with the preferred language\
            \ if available. If the language code is unspecified or unrecognized, place\
            \ details of any language may be returned, with a preference for English\
            \ if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
          type: string
        locationRestriction:
          $ref: '#/components/schemas/GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction'
        maxResultCount:
          description: "Maximum number of results to return. It must be between 1\
            \ and 20 (default), inclusively. If the number is unset, it falls back\
            \ to the upper limit. If the number is set to negative or exceeds the\
            \ upper limit, an INVALID_ARGUMENT error is returned."
          format: int32
          type: integer
        rankPreference:
          description: How results will be ranked in the response.
          enum:
          - RANK_PREFERENCE_UNSPECIFIED
          - DISTANCE
          - POPULARITY
          type: string
        regionCode:
          description: "The Unicode country/region code (CLDR) of the location where\
            \ the request is coming from. This parameter is used to display the place\
            \ details, like region-specific place name, if available. The parameter\
            \ can affect results based on applicable law. For more information, see\
            \ https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html.\
            \ Note that 3-digit region codes are not currently supported."
          type: string
      type: object
    GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction:
      description: The region to search.
      example:
        circle:
          center:
            latitude: 6.027456183070403
            longitude: 1.4658129805029452
          radius: 5.962133916683182
      properties:
        circle:
          $ref: '#/components/schemas/GoogleMapsPlacesV1Circle'
      type: object
    GoogleMapsPlacesV1SearchNearbyResponse:
      description: 'Response proto for Search Nearby. '
      example:
        places:
        - menuForChildren: true
          rating: 1.4894159098541704
          takeout: true
          priceLevel: PRICE_LEVEL_UNSPECIFIED
          photos:
          - authorAttributions:
            - displayName: displayName
              photoUri: photoUri
              uri: uri
            - displayName: displayName
              photoUri: photoUri
              uri: uri
            heightPx: 1
            widthPx: 1
            name: name
          - authorAttributions:
            - displayName: displayName
              photoUri: photoUri
              uri: uri
            - displayName: displayName
              photoUri: photoUri
              uri: uri
            heightPx: 1
            widthPx: 1
            name: name
          regularOpeningHours:
            secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
            openNow: true
            specialDays:
            - date:
                month: 6
                year: 1
                day: 0
            - date:
                month: 6
                year: 1
                day: 0
            periods:
            - close:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
                minute: 2
              open:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
                minute: 2
            - close:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
                minute: 2
              open:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
                minute: 2
            weekdayDescriptions:
            - weekdayDescriptions
            - weekdayDescriptions
          googleMapsUri: googleMapsUri
          reviews:
          - originalText:
              text: text
              languageCode: languageCode
            publishTime: publishTime
            name: name
            rating: 6.84685269835264
            relativePublishTimeDescription: relativePublishTimeDescription
            text:
              text: text
              languageCode: languageCode
            authorAttribution:
              displayName: displayName
              photoUri: photoUri
              uri: uri
          - originalText:
              text: text
              languageCode: languageCode
            publishTime: publishTime
            name: name
            rating: 6.84685269835264
            relativePublishTimeDescription: relativePublishTimeDescription
            text:
              text: text
              languageCode: languageCode
            authorAttribution:
              displayName: displayName
              photoUri: photoUri
              uri: uri
          servesDessert: true
          paymentOptions:
            acceptsDebitCards: true
            acceptsCreditCards: true
            acceptsNfc: true
            acceptsCashOnly: true
          outdoorSeating: true
          primaryType: primaryType
          addressComponents:
          - types:
            - types
            - types
            longText: longText
            shortText: shortText
            languageCode: languageCode
          - types:
            - types
            - types
            longText: longText
            shortText: shortText
            languageCode: languageCode
          userRatingCount: 7
          id: id
          servesCoffee: true
          regularSecondaryOpeningHours:
          - secondaryHoursType: SECONDARY_HOURS_TYPE_UNSPECIFIED
            openNow: true
            specialDays:
            - date:
                month: 6
                year: 1
                day: 0
            - date:
                month: 6
                year: 1
                day: 0
            periods:
            - close:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
                minute: 2
              open:
                date:
                  month: 6
                  year: 1
                  day: 0
                hour: 5
                truncated: true
                day: 5
[...]
