openapi: 3.0.1
info:
  title: Dynamics Telemetry
  version: 2019-01-24
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/dynamicstelemetry/resource-manager/Microsoft.DynamicsTelemetry/preview/2019-01-24/dynamicstelemetry.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: dynamicstelemetry
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.DynamicsTelemetry/operations:
    get:
      operationId: operations_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - Operations
      x-ms-examples:
        List Operations:
          parameters:
            api-version: 2019-01-24
          responses:
            "200":
              body:
              - display:
                  description: Gets the available logs for tenants
                  operation: Read tenants log definitions
                  provider: Microsoft Dynamics Telemetry
                  resource: Log definition
                isDataAction: false
                name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/logDefinitions/read
                origin: system
                properties: {}
              - display:
                  description: Gets the diagnostic setting for the resource
                  operation: Read diagnostic setting
                  provider: Microsoft Dynamics Telemetry
                  resource: tenants
                isDataAction: false
                name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/diagnosticSettings/read
                origin: system
              - display:
                  description: Creates or updates the diagnostic setting for the resource
                  operation: Write diagnostic setting
                  provider: Microsoft Dynamics Telemetry
                  resource: tenants
                isDataAction: false
                name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/diagnosticSettings/write
                origin: system
              - display:
                  description: Writing a diagnostic setting
                  operation: Diagnostic settings write
                  provider: Microsoft Monitoring Insights
                  publisher: Microsoft
                  resource: Diagnostic settings
                isDataAction: false
                name: microsoft.dynamicstelemetry/diagnosticsettings/write
                properties: {}
              - display:
                  description: Reading a diagnostic setting
                  operation: Diagnostic settings read
                  provider: Microsoft Monitoring Insights
                  publisher: Microsoft
                  resource: Diagnostic settings
                isDataAction: false
                name: microsoft.dynamicstelemetry/diagnosticsettings/read
                properties: {}
              - display:
                  description: Deleting a diagnostic setting
                  operation: Diagnostic settings delete
                  provider: Microsoft Monitoring Insights
                  publisher: Microsoft
                  resource: Diagnostic settings
                isDataAction: false
                name: microsoft.dynamicstelemetry/diagnosticsettings/delete
                properties: {}
              - display:
                  description: Reading a diagnostic setting categories
                  operation: Diagnostic settings categories read
                  provider: Microsoft Monitoring Insights
                  publisher: Microsoft
                  resource: Diagnostic settings categories
                isDataAction: false
                name: microsoft.dynamicstelemetry/diagnosticsettingscategories/read
                properties: {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
components:
  schemas:
    Display:
      additionalProperties: false
      example:
        provider: provider
        resource: resource
        description: description
        publisher: publisher
        operation: operation
      properties:
        description:
          title: description
          type: string
        operation:
          title: operation
          type: string
        provider:
          title: provider
          type: string
        publisher:
          title: publisher
          type: string
        resource:
          title: resource
          type: string
      title: Display
      type: object
    LogSpecification:
      additionalProperties: false
      example:
        blobDuration: blobDuration
        displayName: displayName
        name: name
      properties:
        blobDuration:
          format: duration
          title: blobDuration
          type: string
        displayName:
          title: displayName
          type: string
        name:
          title: name
          type: string
      title: LogSpecification
      type: object
    Operation:
      additionalProperties: false
      example:
        display:
          provider: provider
          resource: resource
          description: description
          publisher: publisher
          operation: operation
        origin: origin
        isDataAction: true
        name: name
        properties:
          serviceSpecification:
            logSpecifications:
            - blobDuration: blobDuration
              displayName: displayName
              name: name
            - blobDuration: blobDuration
              displayName: displayName
              name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        isDataAction:
          title: isDataAction
          type: boolean
        name:
          title: name
          type: string
        origin:
          title: origin
          type: string
        properties:
          $ref: '#/components/schemas/Properties'
      required:
      - isDataAction
      title: Operation
      type: object
    OperationList:
      description: List of supported operations.
      items:
        $ref: '#/components/schemas/Operation'
      type: array
    Properties:
      additionalProperties: false
      example:
        serviceSpecification:
          logSpecifications:
          - blobDuration: blobDuration
            displayName: displayName
            name: name
          - blobDuration: blobDuration
            displayName: displayName
            name: name
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
      title: Properties
      type: object
    ServiceSpecification:
      additionalProperties: false
      example:
        logSpecifications:
        - blobDuration: blobDuration
          displayName: displayName
          name: name
        - blobDuration: blobDuration
          displayName: displayName
          name: name
      properties:
        logSpecifications:
          items:
            $ref: '#/components/schemas/LogSpecification'
          title: logSpecifications
          type: array
      title: ServiceSpecification
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
