openapi: 3.0.0
info:
  contact: {}
  title: climateKuul live
  version: "1.0"
  x-apisguru-categories:
  - backend
  x-logo:
    url: https://static.wixstatic.com/media/c53c35_186b357d06f64319ba7866f3469585e6%7Emv2.gif/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/c53c35_186b357d06f64319ba7866f3469585e6%7Emv2.gif
  x-origin:
  - format: openapi
    url: http://api.climatekuul.com/api-docs
    version: "3.0"
  x-providerName: climatekuul.com
servers:
- url: http://api.climatekuul.com:8000/footprint
paths:
  /airtravelCoordinates:
    post:
      deprecated: false
      operationId: airtravel_coordinates
      parameters:
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/airtravelCoordinates_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: airtravelCoordinates
      tags:
      - AirtravelCoordinates
      x-openapi-router-controller: openapi_server.controllers.airtravel_coordinates_controller
      x-codegen-request-body-name: body
  /airtravelCoordinates/confirmCarbonOffset:
    patch:
      deprecated: false
      operationId: confirm_carbon_offset4
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmCarbonOffset4_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmCarbonOffset
      tags:
      - AirtravelCoordinates
      x-openapi-router-controller: openapi_server.controllers.airtravel_coordinates_controller
      x-codegen-request-body-name: body
  /airtravelCoordinates/confirmPayment:
    patch:
      deprecated: false
      operationId: confirm_payment4
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPayment4_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPayment
      tags:
      - AirtravelCoordinates
      x-openapi-router-controller: openapi_server.controllers.airtravel_coordinates_controller
      x-codegen-request-body-name: body
  /airtravelCoordinates/confirmPlanting:
    patch:
      deprecated: false
      operationId: confirms_planting4
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmsPlanting4_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPlanting
      tags:
      - AirtravelCoordinates
      x-openapi-router-controller: openapi_server.controllers.airtravel_coordinates_controller
      x-codegen-request-body-name: body
  /airtravelCoordinates/confirmTransaction:
    patch:
      deprecated: false
      operationId: confirm_payment_of_transaction4
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPaymentOfTransaction4_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmTransaction
      tags:
      - AirtravelCoordinates
      x-openapi-router-controller: openapi_server.controllers.airtravel_coordinates_controller
      x-codegen-request-body-name: body
  /airtravelMultileg:
    post:
      deprecated: false
      operationId: airtravel_multileg
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              apiKey_l1: d95fead6-e8a6-4547-9fb9-7835101a3960
              apiKey_l2: c60f8db5-7204-4427-960d-27400c38b166
              leg1:
                destination_airport_code: DXB
                origin_airport_code: KHI
                travel_class: Economy
              leg2:
                destination_airport_code: LHR
                origin_airport_code: DXB
                travel_class: Business
              leg3:
                destination_airport_code: KHI
                origin_airport_code: FRA
                travel_class: Premium Economy
              legs_count: "2"
              number_of_passengers: "2"
              travel_mode: multileg
            schema:
              $ref: '#/components/schemas/airtravelMultilegRequest'
        description: ""
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: airtravelMultileg
      tags:
      - airtravelMultileg
      x-openapi-router-controller: openapi_server.controllers.airtravel_multileg_controller
      x-codegen-request-body-name: body
  /airtravelMultileg/confirmCarbonOffset:
    patch:
      deprecated: false
      operationId: confirm_carbon_offset3
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmCarbonOffset3_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmCarbonOffset
      tags:
      - airtravelMultileg
      x-openapi-router-controller: openapi_server.controllers.airtravel_multileg_controller
      x-codegen-request-body-name: body
  /airtravelMultileg/confirmPayment:
    patch:
      deprecated: false
      operationId: confirm_payment3
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPayment3_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPayment
      tags:
      - airtravelMultileg
      x-openapi-router-controller: openapi_server.controllers.airtravel_multileg_controller
      x-codegen-request-body-name: body
  /airtravelMultileg/confirmPlanting:
    patch:
      deprecated: false
      operationId: confirms_planting3
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmsPlanting3_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPlanting
      tags:
      - airtravelMultileg
      x-openapi-router-controller: openapi_server.controllers.airtravel_multileg_controller
      x-codegen-request-body-name: body
  /airtravelMultileg/confirmTransaction:
    patch:
      deprecated: false
      operationId: confirm_payment_of_transaction3
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPaymentOfTransaction3_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmTransaction
      tags:
      - airtravelMultileg
      x-openapi-router-controller: openapi_server.controllers.airtravel_multileg_controller
      x-codegen-request-body-name: body
  /ecommerceDelivery:
    post:
      deprecated: false
      operationId: ecommerce_delivery
      parameters:
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/ecommerceDelivery_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: ecommerceDelivery
      tags:
      - EcommerceDelivery
      x-openapi-router-controller: openapi_server.controllers.ecommerce_delivery_controller
      x-codegen-request-body-name: body
  /ecommerceDelivery/confirmCarbonOffset:
    patch:
      deprecated: false
      operationId: confirm_carbon_offset1
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmCarbonOffset1_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmCarbonOffset
      tags:
      - EcommerceDelivery
      x-openapi-router-controller: openapi_server.controllers.ecommerce_delivery_controller
      x-codegen-request-body-name: body
  /ecommerceDelivery/confirmPayment:
    patch:
      deprecated: false
      operationId: confirm_payment1
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPayment1_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPayment
      tags:
      - EcommerceDelivery
      x-openapi-router-controller: openapi_server.controllers.ecommerce_delivery_controller
      x-codegen-request-body-name: body
  /ecommerceDelivery/confirmPlanting:
    patch:
      deprecated: false
      operationId: confirms_planting2
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmsPlanting2_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPlanting
      tags:
      - EcommerceDelivery
      x-openapi-router-controller: openapi_server.controllers.ecommerce_delivery_controller
      x-codegen-request-body-name: body
  /ecommerceDelivery/confirmTransaction:
    patch:
      deprecated: false
      operationId: confirm_payment_of_transaction1
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPaymentOfTransaction1_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmTransaction
      tags:
      - EcommerceDelivery
      x-openapi-router-controller: openapi_server.controllers.ecommerce_delivery_controller
      x-codegen-request-body-name: body
  /requestApiKey:
    post:
      deprecated: false
      operationId: request_api_key
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/requestApiKey_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: requestApiKey
      tags:
      - Request Api Key
      x-openapi-router-controller: openapi_server.controllers.request_api_key_controller
      x-codegen-request-body-name: body
  /roadDistance:
    post:
      deprecated: false
      operationId: road_distance
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/roadDistance_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: RoadDistance
      tags:
      - RoadDistance
      x-openapi-router-controller: openapi_server.controllers.road_distance_controller
      x-codegen-request-body-name: body
  /roadDistance/confirmCarbonOffset:
    patch:
      deprecated: false
      operationId: confirm_carbon_offset5
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmCarbonOffset5_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmCarbonOffset
      tags:
      - RoadDistance
      x-openapi-router-controller: openapi_server.controllers.road_distance_controller
      x-codegen-request-body-name: body
  /roadDistance/confirmPayment:
    patch:
      deprecated: false
      operationId: confirm_payment5
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPayment5_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPayment
      tags:
      - RoadDistance
      x-openapi-router-controller: openapi_server.controllers.road_distance_controller
      x-codegen-request-body-name: body
  /roadDistance/confirmPlanting:
    patch:
      deprecated: false
      operationId: confirms_planting5
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmsPlanting5_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPlanting
      tags:
      - RoadDistance
      x-openapi-router-controller: openapi_server.controllers.road_distance_controller
      x-codegen-request-body-name: body
  /roadDistance/confirmTransaction:
    patch:
      deprecated: false
      operationId: confirm_payment_of_transaction5
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPaymentOfTransaction5_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmTransaction
      tags:
      - RoadDistance
      x-openapi-router-controller: openapi_server.controllers.road_distance_controller
      x-codegen-request-body-name: body
  /urbanDelivery:
    post:
      deprecated: false
      operationId: urban_delivery
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/urbanDelivery_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: urbanDelivery
      tags:
      - UrbanDelivery
      x-openapi-router-controller: openapi_server.controllers.urban_delivery_controller
      x-codegen-request-body-name: body
  /urbanDelivery/confirmCarbonOffset:
    patch:
      deprecated: false
      operationId: confirm_carbon_offset
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmCarbonOffset_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmCarbonOffset
      tags:
      - UrbanDelivery
      x-openapi-router-controller: openapi_server.controllers.urban_delivery_controller
      x-codegen-request-body-name: body
  /urbanDelivery/confirmPayment:
    patch:
      deprecated: false
      operationId: confirm_payment
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPayment_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPayment
      tags:
      - UrbanDelivery
      x-openapi-router-controller: openapi_server.controllers.urban_delivery_controller
      x-codegen-request-body-name: body
  /urbanDelivery/confirmPlanting:
    patch:
      deprecated: false
      operationId: confirms_planting
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmsPlanting_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmPlanting
      tags:
      - UrbanDelivery
      x-openapi-router-controller: openapi_server.controllers.urban_delivery_controller
      x-codegen-request-body-name: body
  /urbanDelivery/confirmTransaction:
    patch:
      deprecated: false
      operationId: confirm_payment_of_transaction
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              $ref: '#/components/schemas/confirmPaymentOfTransaction_request'
        required: false
        x-body-name: body
      responses:
        "200":
          description: ""
      servers:
      - url: http://api.climatekuul.com:8000/footprint
      summary: confirmTransaction
      tags:
      - UrbanDelivery
      x-openapi-router-controller: openapi_server.controllers.urban_delivery_controller
      x-codegen-request-body-name: body
components:
  schemas:
    Leg1:
      example:
        destination_airport_code: DXB
        origin_airport_code: KHI
        travel_class: Economy
      properties:
        destination_airport_code:
          type: string
        origin_airport_code:
          type: string
        travel_class:
          type: string
      required:
      - destination_airport_code
      - origin_airport_code
      - travel_class
      title: Leg1
      type: object
    airtravelMultilegRequest:
      example:
        apiKey_l1: qNahlSrEaduQ
        apiKey_l2: eCqMeAfaDBWG
        contactEmail: example@example.com
        contactFirstName: abc
        contactLastName: xyz
        leg1:
          destination_airport_code: DXB
          origin_airport_code: KHI
          travel_class: Economy
        leg2:
          destination_airport_code: LHR
          origin_airport_code: DXB
          travel_class: Business
        leg3:
          destination_airport_code: KHI
          origin_airport_code: FRA
          travel_class: Premium Economy
        legs_count: "2"
        number_of_passengers: "2"
        travel_mode: multileg
      properties:
        apiKey_l1:
          type: string
        apiKey_l2:
          type: string
        contactEmail:
          type: string
        contactFirstName:
          type: string
        contactLastName:
          type: string
        leg1:
          $ref: '#/components/schemas/Leg1'
        leg2:
          $ref: '#/components/schemas/Leg1'
        leg3:
          $ref: '#/components/schemas/Leg1'
        legs_count:
          type: string
        number_of_passengers:
          type: string
        travel_mode:
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - contactEmail
      - contactFirstName
      - contactLastName
      - leg1
      - leg2
      - leg3
      - legs_count
      - number_of_passengers
      - travel_mode
      title: airtravelMultilegRequest
      type: object
    airtravelCoordinates_request:
      properties:
        apiKey_l1:
          description: Client Api Key
          example: d95fead6-e8a6-4547-9fb9-7835101a3960
          type: string
        apiKey_l2:
          description: Integration Partner Api Key
          example: c60f8db5-7204-4427-960d-27400c38b166
          type: string
        destination_airport_latitude:
          description: "Destination latitude (like:  50.870752, value = -90<=x<=90)"
          example: 24.9056
          format: double
          type: number
        destination_airport_longitude:
          description: "Destination longitude (like:  4.669490, value = -180<=x<=180)"
          example: 67.1569
          format: double
          type: number
        number_of_passengers:
          description: "Number of passengers (like: 1, 2 ,3 )"
          example: 2
          format: int32
          type: integer
        origin_airport_latitude:
          description: "Origin latitude (like: 23.372628 value = -90<=x<=90 )"
          example: 31.5208
          format: double
          type: number
        origin_airport_longitude:
          description: "Origin longitude (like: 113.159339, value = -180<=x<=180 )"
          example: 74.4028
          format: double
          type: number
        travel_class:
          description: "Travel class can be 'First Class', 'Economy', 'Business' or\
            \ 'Premium Economy'"
          example: Economy
          type: string
        travel_mode:
          description: Travel mode can be 'one way' or 'round trip'
          example: round trip
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - destination_airport_latitude
      - destination_airport_longitude
      - number_of_passengers
      - origin_airport_latitude
      - origin_airport_longitude
      - travel_class
      - travel_mode
      type: object
    confirmCarbonOffset4_request:
      properties:
        carbonOffset:
          description: Confirm Carbon Offset (Value = y/n)
          example: "y"
          type: string
        contactEmail:
          description: Contact email
          example: example@example.com
          type: string
        contactFirstName:
          description: Contact first name
          example: abc
          type: string
        contactLastName:
          description: Contact last name
          example: xyz
          type: string
        transaction_id:
          description: transaction_id
          example: 60a78ed201d88997746c91b5
          type: string
      required:
      - carbonOffset
      - transaction_id
      type: object
    confirmPayment4_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPayment:
          description: Confirm Payment (Value = y/n)
          example: "y"
          type: string
        paymentID:
          description: Payment Id
          example: 34567878
          format: int32
          type: integer
        transaction_id:
          description: transaction_id
          example: 60a78ed201d88997746c91b5
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPayment
      - paymentID
      - transaction_id
      type: object
    confirmsPlanting4_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPlanting:
          description: Confirm Planting (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a78ed201d88997746c91b5
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPlanting
      - transaction_id
      type: object
    confirmPaymentOfTransaction4_request:
      properties:
        confirmTransaction:
          description: Confirm Payment Of Transaction (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a78ed201d88997746c91b5
          type: string
      required:
      - confirmTransaction
      - transaction_id
      type: object
    confirmCarbonOffset3_request:
      properties:
        carbonOffset:
          description: Confirm Carbon Offset (Value = y/n)
          example: "y"
          type: string
        contactEmail:
          description: Contact email
          example: example@example.com
          type: string
        contactFirstName:
          description: Contact first name
          example: abc
          type: string
        contactLastName:
          description: Contact last name
          example: xyz
          type: string
        transaction_id:
          description: transaction_id
          example: 60a75c0e94c8cb95a6d0e02e
          type: string
      required:
      - carbonOffset
      - transaction_id
      type: object
    confirmPayment3_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPayment:
          description: Confirm Payment (Value = y/n)
          example: "y"
          type: string
        paymentID:
          description: Payment Id
          example: 34567878
          format: int32
          type: integer
        transaction_id:
          description: transaction_id
          example: 60a75c0e94c8cb95a6d0e02e
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPayment
      - paymentID
      - transaction_id
      type: object
    confirmsPlanting3_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPlanting:
          description: Confirm Planting (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a75c0e94c8cb95a6d0e02e
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPlanting
      - transaction_id
      type: object
    confirmPaymentOfTransaction3_request:
      properties:
        confirmTransaction:
          description: Confirm Payment Of Transaction (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a75c0e94c8cb95a6d0e02e
          type: string
      required:
      - confirmTransaction
      - transaction_id
      type: object
    ecommerceDelivery_request:
      properties:
        apiKey_l1:
          description: Client Api Key
          example: d95fead6-e8a6-4547-9fb9-7835101a3960
          type: string
        apiKey_l2:
          description: Integration Partner Api Key
          example: c60f8db5-7204-4427-960d-27400c38b166
          type: string
        destination_airport_code:
          description: valid airport code of destination
          example: BRU
          type: string
        destination_latitude:
          description: valid latitude of destination
          example: 50.870752
          format: double
          type: number
        destination_longitude:
          description: valid longitude of destination
          example: 4.66949
          format: double
          type: number
        origin_airport_code:
          description: valid airport code of origin
          example: KHI
          type: string
        origin_latitude:
          description: valid latitude of origin
          example: 23.372628
          format: double
          type: number
        origin_longitude:
          description: valid longitude of origin
          example: 113.159339
          format: double
          type: number
        volumetric_weight:
          description: Volumetric weight' (like:2.70)
          example: 2.7
          format: double
          type: number
        waybill_type:
          description: "this can be 'air only', 'road only' or 'air and road'"
          example: road only
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - destination_latitude
      - destination_longitude
      - origin_latitude
      - origin_longitude
      - volumetric_weight
      - waybill_type
      type: object
    confirmCarbonOffset1_request:
      properties:
        carbonOffset:
          description: Confirm Carbon Offset (Value = y/n)
          example: "y"
          type: string
        contactEmail:
          description: Contact email
          example: example@example.com
          type: string
        contactFirstName:
          description: Contact first name
          example: abc
          type: string
        contactLastName:
          description: Contact last name
          example: xyz
          type: string
        transaction_id:
          description: transaction_id
          example: 60a766d401d88997746c91a0
          type: string
      required:
      - carbonOffset
      - transaction_id
      type: object
    confirmPayment1_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPayment:
          description: Confirm Payment (Value = y/n)
          example: "y"
          type: string
        paymentID:
          description: Payment Id
          example: 34567878
          format: int32
          type: integer
        transaction_id:
          description: transaction_id
          example: 60a766d401d88997746c91a0
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPayment
      - paymentID
      - transaction_id
      type: object
    confirmsPlanting2_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPlanting:
          description: Confirm Planting (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a766d401d88997746c91a0
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPlanting
      - transaction_id
      type: object
    confirmPaymentOfTransaction1_request:
      properties:
        confirmTransaction:
          description: Confirm Payment Of Transaction (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a766d401d88997746c91a0
          type: string
      required:
      - confirmTransaction
      - transaction_id
      type: object
    requestApiKey_request:
      properties:
        apiKey_l1:
          description: Api Key for client
          example: qNahlSrEaduQ
          type: string
        apiKey_l2:
          description: Integration Partner Api Key
          example: eCqMeAfaDBWG
          type: string
        email:
          description: User email
          example: abcd@gmail.com
          type: string
        password:
          description: User password
          example: 234
          format: int32
          type: integer
        userFirstName:
          description: User first name
          example: usman
          type: string
        userLastName:
          description: User last name
          example: ch
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - email
      - password
      - userFirstName
      - userLastName
      type: object
    roadDistance_request:
      properties:
        apiKey_l1:
          description: Client Api Key
          example: d95fead6-e8a6-4547-9fb9-7835101a3960
          type: string
        apiKey_l2:
          description: Integration Partner Api Key
          example: c60f8db5-7204-4427-960d-27400c38b166
          type: string
        travel_distance:
          example: 2450
          format: int32
          type: integer
        trip_end:
          description: "timestamp in epoch time (like: 1606780799)"
          example: 18
          format: int32
          type: integer
        trip_start:
          description: "timestamp in epoch time (like: 1604188800)"
          example: 16
          format: int32
          type: integer
        vehicle_make:
          description: "vehicle make (like: Honda, Toyota, Smart), Required only when\
            \ vehicle_type is 'personal car' "
          example: Honda
          type: string
        vehicle_type:
          description: "Vehicle type can be 'personal car', 'light truck' or 'heavy-duty\
            \ truck'"
          example: personal car
          type: string
        vehicle_year:
          description: "vehicle year (like: 2010, 2015, 2019), Required only when\
            \ vehicle_type is 'personal car' "
          example: 2010
          format: int32
          type: integer
      required:
      - apiKey_l1
      - apiKey_l2
      - travel_distance
      - trip_end
      - trip_start
      - vehicle_type
      type: object
    confirmCarbonOffset5_request:
      properties:
        carbonOffset:
          description: Confirm Carbon Offset (Value = y/n)
          example: "y"
          type: string
        contactEmail:
          description: Contact email
          example: example@example.com
          type: string
        contactFirstName:
          description: Contact first name
          example: abc
          type: string
        contactLastName:
          description: Contact last name
          example: xyz
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7823401d88997746c91a7
          type: string
      required:
      - carbonOffset
      - transaction_id
      type: object
    confirmPayment5_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPayment:
          description: Confirm Payment (Value = y/n)
          example: "y"
          type: string
        paymentID:
          description: Payment Id
          example: 34567878
          format: int32
          type: integer
        transaction_id:
          description: transaction_id
          example: 60a7823401d88997746c91a7
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPayment
      - paymentID
      - transaction_id
      type: object
    confirmsPlanting5_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPlanting:
          description: Confirm Planting (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7823401d88997746c91a7
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPlanting
      - transaction_id
      type: object
    confirmPaymentOfTransaction5_request:
      properties:
        confirmTransaction:
          description: Confirm Payment Of Transaction (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7823401d88997746c91a7
          type: string
      required:
      - confirmTransaction
      - transaction_id
      type: object
    urbanDelivery_request:
      properties:
        apiKey_l1:
          description: Client Api Key
          example: d95fead6-e8a6-4547-9fb9-7835101a3960
          type: string
        apiKey_l2:
          description: Integration Partner Api Key
          example: c60f8db5-7204-4427-960d-27400c38b166
          type: string
        destination_latitude:
          description: "Destination latitude (like: 50.870752, value = -90<=x<=90)"
          example: -89.870752
          format: double
          type: number
        destination_longitude:
          description: "Destination longitude (like: 4.669490, value = -180<=x<=180)"
          example: 179.66949
          format: double
          type: number
        item_count:
          description: "item_count' (like:2, value = 0<x<=100)"
          example: 3
          format: int32
          type: integer
        origin_latitude:
          description: "Origin latitude (like: 23.372628, value = -90<=x<=90)"
          example: -89.372628
          format: double
          type: number
        origin_longitude:
          description: "Origin longitude (like: 113.159339, value = -180<=x<=180)"
          example: -179.159339
          format: double
          type: number
        vehicle_type:
          description: "Vehicle type (like: private car, motorcycle,cargo van,zero-emission)"
          example: PRIVATE CAR
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - destination_latitude
      - destination_longitude
      - item_count
      - origin_latitude
      - origin_longitude
      - vehicle_type
      type: object
    confirmCarbonOffset_request:
      properties:
        carbonOffset:
          description: Confirm Carbon Offset (Value = y/n)
          example: "y"
          type: string
        contactEmail:
          description: Contact email
          example: example@example.com
          type: string
        contactFirstName:
          description: Contact first name
          example: abc
          type: string
        contactLastName:
          description: Contact last name
          example: xyz
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7875a01d88997746c91ae
          type: string
      required:
      - carbonOffset
      - transaction_id
      type: object
    confirmPayment_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPayment:
          description: Confirm Payment (Value = y/n)
          example: "y"
          type: string
        paymentID:
          description: Payment Id
          example: 34567878
          format: int32
          type: integer
        transaction_id:
          description: transaction_id
          example: 60a7875a01d88997746c91ae
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPayment
      - paymentID
      - transaction_id
      type: object
    confirmsPlanting_request:
      properties:
        apiKey_l1:
          description: "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)"
          example: d95fead6-e8a6-4247-9fb9-7835101a4560
          type: string
        apiKey_l2:
          description: "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)"
          example: c60f8db5-7904-4227-960d-27400c38b166
          type: string
        confirmPlanting:
          description: Confirm Planting (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7875a01d88997746c91ae
          type: string
      required:
      - apiKey_l1
      - apiKey_l2
      - confirmPlanting
      - transaction_id
      type: object
    confirmPaymentOfTransaction_request:
      properties:
        confirmTransaction:
          description: Confirm Payment Of Transaction (Value = y/n)
          example: "y"
          type: string
        transaction_id:
          description: transaction_id
          example: 60a7875a01d88997746c91ae
          type: string
      required:
      - confirmTransaction
      - transaction_id
      type: object
