openapi: 3.0.1
info:
  description: This API describe Azure Reservation
  title: Azure Reservation
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: reservations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Capacity/calculatePrice:
    post:
      description: Calculate price for placing a `ReservationOrder`.
      operationId: reservation_order_calculate
      parameters:
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
        description: Information needed for calculate or purchase reservation
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatePriceResponse'
          description: Detailed price info for purchasing `ReservationOrder`
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Calculate price for a `ReservationOrder`.
      tags:
      - "Reservation, Calculate"
      x-ms-examples:
        Purchase:
          parameters:
            api-version: 2019-04-01
            body:
              location: westus
              properties:
                appliedScopeType: Shared
                billingPlan: Monthly
                billingScopeId: /subscriptions/ed3a1871-612d-abcd-a849-c2542a68be83
                displayName: TestReservationOrder
                quantity: "1"
                reservedResourceProperties:
                  instanceFlexibility: "On"
                reservedResourceType: VirtualMachines
                term: P1Y
              sku:
                name: standard_D1
          responses:
            "200":
              body:
                properties:
                  billingCurrencyTotal:
                    amount: 46
                    currencyCode: USD
                  paymentSchedule:
                  - billingCurrencyTotal:
                      amount: 40
                      currencyCode: EUR
                    dueDate: 2019-05-14
                    pricingCurrencyTotal:
                      amount: 46
                      currencyCode: USD
                  - dueDate: 2019-06-14
                    pricingCurrencyTotal:
                      amount: 46
                      currencyCode: USD
                  - dueDate: 2019-07-14
                    pricingCurrencyTotal:
                      amount: 46
                      currencyCode: USD
                  pricingCurrencyTotal:
                    amount: 46
                    currencyCode: USD
                  reservationOrderId: 6d9cec54-7de8-abcd-9de7-80f5d634f2d2
                  skuDescription: standard_D1
                  skuTitle: "Reserved VM Instance, Standard_D1, US West, 1 Year"
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_calculate_controller"
  /providers/Microsoft.Capacity/operations:
    get:
      description: List all the operations.
      operationId: operation_list
      parameters:
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: List all the operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get operations.
      tags:
      - Operation
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: 2019-04-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/revisions/read
                - display:
                    description: Registers the Capacity resource provider and enables
                      the creation of Capacity resources.
                    operation: Registers the Capacity Resource Provider.
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/register/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /providers/Microsoft.Capacity/reservationOrders:
    get:
      description: List of all the `ReservationOrder`s that the user has access to
        in the current tenant.
      operationId: reservation_order_list
      parameters:
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderList'
          description: List of `ReservationOrder`s
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get all `ReservationOrder`s.
      tags:
      - Reservation
      x-ms-examples:
        ReservationOrderList:
          parameters:
            api-version: 2019-04-01
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2017-11-01&%24skiptoken=eyJyZyI6IjIwNTkyMzdlLWY3MmYtNDczYi1hNTZiLWExOGJkM2UwMDhlZCIsImlnIjpudWxsLCJzdCI6bnVsbH0%3d
                value:
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443
                  name: 1e6407ba-37a5-499f-80ed-a3f0f338e443
                  properties:
                    billingPlan: Monthly
                    createdDateTime: 2017-08-29T21:22:56.8541664Z
                    displayName: cabri
                    expiryDate: 2018-08-29
                    originalQuantity: 1
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-29T21:20:23.8134834Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443/reservations/cae5924e-7a15-419f-a369-124f52d4a106
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614
                  name: 1ea6e203-288e-4732-b9e1-da8bbe10c614
                  properties:
                    billingPlan: Monthly
                    createdDateTime: 2017-08-30T12:58:20.526Z
                    displayName: cabri
                    expiryDate: 2018-08-30
                    originalQuantity: 9
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-30T12:55:40.2799114Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614/reservations/d04fd48d-e3f6-42a3-a8f6-1ad0b7513e48
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  properties:
                    billingPlan: Monthly
                    createdDateTime: 2017-08-30T03:51:49.8083758Z
                    displayName: cabri
                    expiryDate: 2018-08-30
                    originalQuantity: 7
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-30T03:49:19.0252126Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}:
    get:
      description: Get the details of the `ReservationOrder`.
      operationId: reservation_order_get
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservationOrderId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: May be used to expand the planInformation.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderResponse'
          description: Get the details of the `ReservationOrder`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get a specific `ReservationOrder`.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: 2019-04-01
            reservationOrderId: a075419f-44cc-497f-b68a-14ee811d48b9
          responses:
            "200":
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  billingPlan: Monthly
                  createdDateTime: 2017-08-30T03:51:49.8083758Z
                  displayName: cabri
                  expiryDate: 2018-08-30
                  originalQuantity: 7
                  provisioningState: Succeeded
                  requestDateTime: 2017-08-30T03:49:19.0252126Z
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
        GetReservationWithExpandPayments:
          parameters:
            $expand: schedule
            api-version: 2019-04-01
            reservationOrderId: a075419f-44cc-497f-b68a-14ee811d48b9
          responses:
            "200":
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  billingPlan: Monthly
                  createdDateTime: 2019-08-30T03:51:49Z
                  displayName: cabri
                  expiryDate: 2018-08-30
                  originalQuantity: 7
                  planInformation:
                    nextPaymentDueDate: 2019-09-30
                    pricingCurrencyTotal:
                      amount: 466
                      currencyCode: USD
                    startDate: 2019-08-30
                    transactions:
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-09-30
                      paymentDate: 2019-09-30
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Succeeded
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-10-30
                      extendedStatusInfo:
                        message: Credit card charge failed.
                        statusCode: PaymentDeclined
                      paymentDate: 2019-10-30
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Failed
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-10-31
                      paymentDate: 2019-10-31
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Succeeded
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-11-30
                      paymentDate: 2019-11-30
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Succeeded
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-07-14
                      paymentDate: 2019-06-14
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Scheduled
                    - billingAccount: "23456"
                      billingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      dueDate: 2019-06-14
                      paymentDate: 2019-08-14
                      pricingCurrencyTotal:
                        amount: 466
                        currencyCode: USD
                      status: Scheduled
                  provisioningState: Succeeded
                  requestDateTime: 2019-08-30T03:49:19Z
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
    put:
      description: Purchase `ReservationOrder` and create resource under the specified
        URI.
      operationId: reservation_order_purchase
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
        description: Information needed for calculate or purchase reservation
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderResponse'
          description: The resource has been created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderResponse'
          description: The request is accepted and is being processed. Operation result
            link is in location header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Purchase `ReservationOrder`
      tags:
      - "Reservation, Purchase"
      x-ms-examples:
        Purchase:
          parameters:
            api-version: 2019-04-01
            body:
              location: westus
              properties:
                appliedScopeType: Shared
                billingPlan: Monthly
                billingScopeId: /subscriptions/ed3a1871-612d-abcd-a849-c2542a68be83
                displayName: TestReservationOrder
                quantity: "1"
                renew: false
                reservedResourceProperties:
                  instanceFlexibility: "On"
                reservedResourceType: VirtualMachines
                term: P1Y
              sku:
                name: standard_D1
            reservationOrderId: a075419f-44cc-497f-b68a-14ee811d48b9
          responses:
            "200":
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  billingPlan: Monthly
                  createdDateTime: 2017-08-30T03:51:49.8083758Z
                  displayName: cabri
                  expiryDate: 2018-08-30
                  originalQuantity: 7
                  provisioningState: Succeeded
                  requestDateTime: 2017-08-30T03:49:19.0252126Z
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
            "202":
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  billingPlan: Monthly
                  createdDateTime: 2017-08-30T03:51:49.8083758Z
                  displayName: cabri
                  expiryDate: 2018-08-30
                  originalQuantity: 7
                  provisioningState: Succeeded
                  requestDateTime: 2017-08-30T03:49:19.0252126Z
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_purchase_controller"
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/merge:
    post:
      description: Merge the specified `Reservation`s into a new `Reservation`. The
        two `Reservation`s being merged must have same properties.
      operationId: reservation_merge
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeRequest'
        description: Information needed for commercial request for a reservation
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReservationResponse'
                type: array
          description: Returns the `Reservation` created after the merge.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Merges two `Reservation`s.
      tags:
      - "Reservation, Merge"
      x-ms-examples:
        Merge:
          parameters:
            api-version: 2019-04-01
            body:
              properties:
                sources:
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/cea04232-932e-47db-acb5-e29a945ecc73
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/5bf54dc7-dacd-4f46-a16b-7b78f4a59799
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
              - etag: 5
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 1
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 2
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_merge_controller"
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations:
    get:
      description: List `Reservation`s within a single `ReservationOrder`.
      operationId: reservation_list
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationList'
          description: List `Reservation`s within a single `ReservationOrder`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation`s in a given reservation Order
      tags:
      - Reservation
      x-ms-examples:
        ReservationList:
          parameters:
            api-version: 2019-04-01
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                value:
                - etag: 10
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was split and is no longer active.
                      statusCode: Split
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                    provisioningState: Cancelled
                    quantity: 3
                    renew: false
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitDestinations:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 5
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 1
                    renew: false
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 2
                    renew: false
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    renew: false
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}:
    get:
      description: Get specific `Reservation` details.
      operationId: reservation_get
      parameters:
      - description: Id of the Reservation Item
        in: path
        name: reservationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Supported value of this query is renewProperties
        in: query
        name: expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
          description: Get `Reservation` details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation` details.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: 2019-04-01
            expand: renewProperties
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  renew: false
                  renewDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                  renewProperties:
                    billingCurrencyTotal:
                      amount: 466
                      currencyCode: USD
                    pricingCurrencyTotal:
                      amount: 466
                      currencyCode: USD
                    purchaseProperties:
                      location: westus
                      properties:
                        appliedScopeType: Shared
                        billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                        displayName: Renew_Test_0618
                        quantity: 2
                        renew: false
                        reservedResourceProperties:
                          instanceFlexibility: "On"
                        reservedResourceType: VirtualMachines
                        term: P1Y
                      sku:
                        name: Standard_D1
                  renewSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  term: P1Y
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
    patch:
      description: Updates the applied scopes of the `Reservation`.
      operationId: reservation_update
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the Reservation Item
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        description: Information needed to patch a reservation item
        required: true
        x-ms-parameter-location: method
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
          description: Returns the updated `Reservation`.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Updates a `Reservation`.
      tags:
      - Reservation
      - ApplyScope
      x-ms-examples:
        PatchReservation:
          parameters:
            api-version: 2019-04-01
            parameters:
              properties:
                appliedScopeType: Shared
                instanceFlexibility: "Off"
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Shared
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T23:57:48.1891638Z
                  expiryDate: 2018-09-22
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T23:57:54.3768768Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/availableScopes:
    post:
      description: |
        Get Available Scopes for `Reservation`.
      operationId: reservation_available_scopes
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the Reservation Item
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Properties'
          description: List of `Subscription`s created after the filter.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get Available Scopes for `Reservation`.
      tags:
      - "Reservation, AvailableScopes"
      x-ms-examples:
        AvailableScopes:
          parameters:
            api-version: 2019-04-01
            body:
              properties:
                scopes:
                - /subscriptions/efc7c997-7700-4a74-b731-55aec16c15e9
            reservationId: 356e7ae4-84d0-4da6-ab4b-d6b94f3557da
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                properties:
                  scopes:
                  - scope: /subscriptions/efc7c997-7700-4a74-b731-55aec16c15e9
                    valid: true
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_available_scopes_controller"
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/revisions:
    get:
      description: List of all the revisions for the `Reservation`.
      operationId: reservation_list_revisions
      parameters:
      - description: Id of the Reservation Item
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationList'
          description: List of all the revisions for the `Reservation`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation` revisions.
      tags:
      - Reservation
      x-ms-examples:
        ReservationRevisions:
          parameters:
            api-version: 2019-04-01
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                value:
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/4
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/4
                  properties:
                    appliedScopeType: Shared
                    billingPlan: Monthly
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T23:57:48.1891638Z
                    expiryDate: 2018-09-22
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T23:57:54.3768768Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 3
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/3
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/3
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: An operation is in progress on your reservation. Please
                        wait for operation to complete before taking further action
                      statusCode: Pending
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T23:57:47.488284Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/2
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/2
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    billingPlan: Monthly
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 1
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/1
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/1
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:27.3313607Z
                    expiryDate: 2018-09-22
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: 2017-09-22T22:46:27.3313607Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Creating
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/split:
    post:
      description: Split a `Reservation` into two `Reservation`s with specified quantity
        distribution.
      operationId: reservation_split
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitRequest'
        description: Information needed to Split a reservation item
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReservationResponse'
                type: array
          description: List of `Reservation`s created after the split operation.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Split the `Reservation`.
      tags:
      - "Reservation, Split"
      x-ms-examples:
        Split:
          parameters:
            api-version: 2019-04-01
            body:
              properties:
                quantities:
                - 1
                - 2
                reservationId: /providers/Microsoft.Capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Succeeded
                  quantity: 1
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Succeeded
                  quantity: 2
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 10
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  billingPlan: Monthly
                  billingScopeId: /subscriptions/19376483-64b8-49e4-a931-d5248828720a
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was split and is no longer active.
                    statusCode: Split
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Cancelled
                  quantity: 3
                  renew: false
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitDestinations:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_split_controller"
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/appliedReservations:
    get:
      description: Get applicable `Reservation`s that are applied to this subscription
        or a resource group under this subscription.
      operationId: get_applied_reservation_list
      parameters:
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Id of the subscription
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedReservations'
          description: Applicable `Reservation`s.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get list of applicable `Reservation`s.
      tags:
      - AppliedReservation
      x-ms-examples:
        AppliedReservationList:
          parameters:
            api-version: 2019-04-01
            subscriptionId: 23bc208b-083f-4901-ae85-4f98c0c3b4b6
          responses:
            "200":
              body:
                id: /subscriptions/23bc208b-083f-4901-ae85-4f98c0c3b4b6/providers/microsoft.capacity/AppliedReservations/default
                name: default
                properties:
                  reservationOrderIds:
                    value:
                    - /providers/Microsoft.Capacity/reservationorders/e1eccf0b-2db4-4e84-97e7-98b50e9d46f7
                    - /providers/Microsoft.Capacity/reservationorders/741a32eb-6158-4cee-9642-a0243ae79fac
                    - /providers/Microsoft.Capacity/reservationorders/e061223d-fcff-4d10-bd49-56a740cfb96a
                    - /providers/Microsoft.Capacity/reservationorders/2eeb7234-970e-4663-b60b-85241b515901
                    - /providers/Microsoft.Capacity/reservationorders/9db2f4c5-b1c5-42a8-bd79-ee56cdde2c7f
                    - /providers/Microsoft.Capacity/reservationorders/5da7a877-6d6e-44af-8880-ed3f533bf928
                    - /providers/Microsoft.Capacity/reservationorders/f65b0d0a-f945-4105-821c-d00bc8bacde8
                    - /providers/Microsoft.Capacity/reservationorders/51304124-e477-4b07-b9fa-03b05c8b924b
                    - /providers/Microsoft.Capacity/reservationorders/f5409b98-8a42-4dc6-be0a-cc59bef4d0db
                    - /providers/Microsoft.Capacity/reservationorders/a495550a-80a4-46f8-8843-34d4df46f9a6
                    - /providers/Microsoft.Capacity/reservationorders/1a966e18-c272-4ce1-a0c2-d4e1039023c3
                    - /providers/Microsoft.Capacity/reservationorders/939310b4-f9de-4645-9569-ab5b6cfe958e
                    - /providers/Microsoft.Capacity/reservationorders/4193a889-7c3b-44dc-8b7b-bfd7aad6c723
                type: Microsoft.Capacity/AppliedReservations
      x-openapi-router-controller: openapi_server.controllers.applied_reservation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/catalogs:
    get:
      operationId: get_catalog
      parameters:
      - description: Supported version for this document is 2019-04-01
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Id of the subscription
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The type of the resource for which the skus should be provided.
        in: query
        name: reservedResourceType
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filters the skus based on the location specified in this parameter.
          This can be an azure region or global
        in: query
        name: location
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Catalog'
                type: array
          description: List of available resources
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get the regions and skus that are available for RI purchase for the
        specified Azure subscription.
      tags:
      - Catalog
      x-ms-examples:
        Catalog:
          parameters:
            api-version: 2019-04-01
            location: eastus
            reservedResourceType: VirtualMachines
            subscriptionId: 23bc208b-083f-4901-ae85-4f98c0c3b4b6
          responses:
            "200":
              body:
              - billingPlans:
                  P1Y:
                  - Upfront
                  - Monthly
                  P3Y:
                  - Upfront
                  - Monthly
                locations:
                - eastus
                name: Standard_DS5_v2
                resourceType: VirtualMachines
                restrictions: []
                skuProperties:
                - name: Cores
                  value: "16"
                - name: ProductTitle
                  value: "DSv2 Series, DS5"
                - name: ProductShortName
                  value: DSv2 Series
                - name: SKUName
                  value: DS5 v2
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
              - billingPlans:
                - P1Y:
                  - Upfront
                  - Monthly
                - P3Y:
                  - Upfront
                  - Monthly
                locations:
                - eastus
                name: Standard_D1
                resourceType: VirtualMachines
                restrictions:
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P1Y
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P3Y
                skuProperties:
                - name: Cores
                  value: "1"
                - name: ProductTitle
                  value: "D Series, D1"
                - name: ProductShortName
                  value: D Series
                - name: SKUName
                  value: D1
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
              - billingPlans:
                - P1Y:
                  - Upfront
                  - Monthly
                - P3Y:
                  - Upfront
                  - Monthly
                locations:
                - eastus
                name: Standard_F2
                resourceType: VirtualMachines
                restrictions:
                - reasonCode: NotAvailableForSubscription
                  type: Location
                  values:
                  - eastus
                skuProperties:
                - name: Cores
                  value: "2"
                - name: ProductTitle
                  value: "F Series, F2"
                - name: ProductShortName
                  value: F Series
                - name: SKUName
                  value: F2
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
      x-openapi-router-controller: openapi_server.controllers.catalog_controller
components:
  parameters:
    ApiVersionParameter:
      description: Supported version for this document is 2019-04-01
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ExpandRenewPropertiesParameter:
      description: Supported value of this query is renewProperties
      in: query
      name: expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationIdParameter:
      description: Filters the skus based on the location specified in this parameter.
        This can be an azure region or global
      in: query
      name: location
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReservationIdParameter:
      description: Id of the Reservation Item
      in: path
      name: reservationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReservationOrderIdParameter:
      description: Order Id of the reservation
      in: path
      name: reservationOrderId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReservedResourceTypeIdParameter:
      description: The type of the resource for which the skus should be provided.
      in: query
      name: reservedResourceType
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Id of the subscription
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    MergeParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MergeRequest'
      description: Information needed for commercial request for a reservation
      required: true
      x-ms-parameter-location: method
      x-body-name: body
    PatchParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Patch'
      description: Information needed to patch a reservation item
      required: true
      x-ms-parameter-location: method
      x-body-name: parameters
    PurchaseParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PurchaseRequest'
      description: Information needed for calculate or purchase reservation
      required: true
      x-ms-parameter-location: method
      x-body-name: body
    ScopeParameter:
      content:
        application/json:
          schema:
            items:
              type: string
            type: array
      required: true
      x-ms-parameter-location: method
      x-body-name: body
    SplitParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SplitRequest'
      description: Information needed to Split a reservation item
      required: true
      x-ms-parameter-location: method
      x-body-name: body
  schemas:
    AppliedReservationList:
      example:
        value:
        - value
        - value
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of reservations
          title: nextLink
          type: string
        value:
          items:
            description: "Reservation resource Id. \"/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}\""
            type: string
          title: value
          type: array
      title: AppliedReservationList
      type: object
    AppliedReservations:
      example:
        name: name
        id: id
        type: type
        properties:
          reservationOrderIds:
            value:
            - value
            - value
            nextLink: nextLink
      properties:
        id:
          description: Identifier of the applied reservations
          readOnly: true
          title: id
          type: string
        name:
          description: Name of resource
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AppliedReservationsProperties'
        type:
          description: Type of resource. "Microsoft.Capacity/AppliedReservations"
          readOnly: true
          title: type
          type: string
      title: AppliedReservations
      type: object
    AppliedReservationsProperties:
      example:
        reservationOrderIds:
          value:
          - value
          - value
          nextLink: nextLink
      properties:
        reservationOrderIds:
          $ref: '#/components/schemas/AppliedReservationList'
      title: AppliedReservationsProperties
      type: object
    AppliedScopeType:
      description: Type of the Applied Scope.
      enum:
      - Single
      - Shared
      title: AppliedScopeType
      type: string
      x-ms-enum:
        modelAsString: true
        name: AppliedScopeType
    AppliedScopes:
      description: List of the subscriptions that the benefit will be applied. Do
        not specify if AppliedScopeType is Shared.
      items:
        type: string
      title: AppliedScopes
      type: array
    BillingScopeId:
      description: Subscription that will be charged for purchasing Reservation
      title: BillingScopeId
      type: string
    CalculatePriceResponse:
      example:
        properties:
          skuTitle: skuTitle
          reservationOrderId: reservationOrderId
          pricingCurrencyTotal:
            amount: 1.4658129805029452
            currencyCode: currencyCode
          isBillingPartnerManaged: true
          paymentSchedule:
          - pricingCurrencyTotal:
              amount: 6.027456183070403
              currencyCode: currencyCode
            dueDate: 2000-01-23
            billingCurrencyTotal:
              amount: 6.027456183070403
              currencyCode: currencyCode
            billingAccount: billingAccount
            paymentDate: 2000-01-23
            extendedStatusInfo:
              message: message
              statusCode: None
            status: Succeeded
          - pricingCurrencyTotal:
              amount: 6.027456183070403
              currencyCode: currencyCode
            dueDate: 2000-01-23
            billingCurrencyTotal:
              amount: 6.027456183070403
              currencyCode: currencyCode
            billingAccount: billingAccount
            paymentDate: 2000-01-23
            extendedStatusInfo:
              message: message
              statusCode: None
            status: Succeeded
          billingCurrencyTotal:
            amount: 0.8008281904610115
            currencyCode: currencyCode
          skuDescription: skuDescription
      properties:
        properties:
          $ref: '#/components/schemas/CalculatePriceResponseProperties'
      title: CalculatePriceResponse
      type: object
    CalculatePriceResponseProperties:
      example:
        skuTitle: skuTitle
        reservationOrderId: reservationOrderId
        pricingCurrencyTotal:
          amount: 1.4658129805029452
          currencyCode: currencyCode
        isBillingPartnerManaged: true
        paymentSchedule:
        - pricingCurrencyTotal:
            amount: 6.027456183070403
            currencyCode: currencyCode
          dueDate: 2000-01-23
          billingCurrencyTotal:
            amount: 6.027456183070403
            currencyCode: currencyCode
          billingAccount: billingAccount
          paymentDate: 2000-01-23
          extendedStatusInfo:
            message: message
            statusCode: None
          status: Succeeded
        - pricingCurrencyTotal:
            amount: 6.027456183070403
            currencyCode: currencyCode
          dueDate: 2000-01-23
          billingCurrencyTotal:
            amount: 6.027456183070403
            currencyCode: currencyCode
          billingAccount: billingAccount
          paymentDate: 2000-01-23
          extendedStatusInfo:
            message: message
            statusCode: None
          status: Succeeded
        billingCurrencyTotal:
          amount: 0.8008281904610115
          currencyCode: currencyCode
        skuDescription: skuDescription
      properties:
        billingCurrencyTotal:
          $ref: '#/components/schemas/CalculatePriceResponseProperties_billingCurrencyTotal'
        isBillingPartnerManaged:
          description: True if billing is managed by Microsoft Partner. Used only
            for CSP accounts.
          title: isBillingPartnerManaged
          type: boolean
        paymentSchedule:
          items:
            $ref: '#/components/schemas/PaymentDetail'
          title: paymentSchedule
          type: array
        pricingCurrencyTotal:
          $ref: '#/components/schemas/CalculatePriceResponseProperties_pricingCurrencyTotal'
        reservationOrderId:
          description: GUID that represents reservation order that can be placed after
            calculating price.
          title: reservationOrderId
          type: string
        skuDescription:
          description: Description of SKU that is being purchased.
          title: skuDescription
          type: string
        skuTitle:
          description: Title of SKU that is being purchased.
          title: skuTitle
          type: string
      title: CalculatePriceResponseProperties
      type: object
    Catalog:
      example:
        billingPlans:
          key:
          - Upfront
          - Upfront
        skuProperties:
        - name: name
          value: value
        - name: name
          value: value
        terms:
        - P1Y
        - P1Y
        name: name
        restrictions:
        - values:
          - values
          - values
          reasonCode: reasonCode
          type: type
        - values:
          - values
          - values
          reasonCode: reasonCode
          type: type
        locations:
        - locations
        - locations
        resourceType: resourceType
      properties:
        billingPlans:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ReservationBillingPlan'
            type: array
          description: The billing plan options available for this SKU.
          title: billingPlans
          type: object
        locations:
          items:
            description: "The set of locations that the SKU is available. If not specified,\
              \ the SKU is available in all locations."
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: The name of SKU
          readOnly: true
          title: name
          type: string
        resourceType:
          description: The type of resource the SKU applies to.
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          items:
            $ref: '#/components/schemas/SkuRestriction'
          readOnly: true
          title: restrictions
          type: array
        skuProperties:
          items:
            $ref: '#/components/schemas/SkuProperty'
          readOnly: true
          title: skuProperties
          type: array
        terms:
          description: Available reservation terms for this resource
          items:
            $ref: '#/components/schemas/ReservationTerm'
          readOnly: true
          title: terms
          type: array
      title: Catalog
      type: object
    Error:
      example:
        error:
          code: NotSpecified
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
      title: Error
      type: object
    ErrorResponseCode:
      enum:
      - NotSpecified
      - InternalServerError
      - ServerTimeout
      - AuthorizationFailed
      - BadRequest
      - ClientCertificateThumbprintNotSet
      - InvalidRequestContent
      - OperationFailed
      - HttpMethodNotSupported
      - InvalidRequestUri
      - MissingTenantId
      - InvalidTenantId
      - InvalidReservationOrderId
      - InvalidReservationId
      - ReservationIdNotInReservationOrder
      - ReservationOrderNotFound
      - InvalidSubscriptionId
      - InvalidAccessToken
      - InvalidLocationId
      - UnauthenticatedRequestsThrottled
      - InvalidHealthCheckType
      - Forbidden
      - BillingScopeIdCannotBeChanged
      - AppliedScopesNotAssociatedWithCommerceAccount
      - PatchValuesSameAsExisting
      - RoleAssignmentCreationFailed
      - ReservationOrderCreationFailed
      - ReservationOrderNotEnabled
      - CapacityUpdateScopesFailed
      - UnsupportedReservationTerm
      - ReservationOrderIdAlreadyExists
      - RiskCheckFailed
      - CreateQuoteFailed
      - ActivateQuoteFailed
      - NonsupportedAccountId
      - PaymentInstrumentNotFound
      - MissingAppliedScopesForSingle
      - NoValidReservationsToReRate
      - ReRateOnlyAllowedForEA
      - OperationCannotBePerformedInCurrentState
      - InvalidSingleAppliedScopesCount
      - InvalidFulfillmentRequestParameters
      - NotSupportedCountry
      - InvalidRefundQuantity
      - PurchaseError
      - BillingCustomerInputError
      - BillingPaymentInstrumentSoftError
      - BillingPaymentInstrumentHardError
      - BillingTransientError
      - BillingError
      - FulfillmentConfigurationError
      - FulfillmentOutOfStockError
      - FulfillmentTransientError
      - FulfillmentError
      - CalculatePriceFailed
      title: ErrorResponseCode
      type: string
      x-ms-enum:
        modelAsString: true
        name: ErrorResponseCode
    ExtendedErrorInfo:
      example:
        code: NotSpecified
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
        message:
          title: message
          type: string
      title: ExtendedErrorInfo
      type: object
    ExtendedStatusInfo:
      example:
        message: message
        statusCode: None
      properties:
        message:
          description: The message giving detailed information about the status code.
          title: message
          type: string
        statusCode:
          $ref: '#/components/schemas/ReservationStatusCode'
      title: ExtendedStatusInfo
      type: object
    InstanceFlexibility:
      description: Turning this on will apply the reservation discount to other VMs
        in the same VM size group. Only specify for VirtualMachines reserved resource
        type.
      enum:
      - "On"
      - "Off"
      title: InstanceFlexibility
      type: string
      x-ms-enum:
        modelAsString: true
        name: InstanceFlexibility
    MergeProperties:
      example:
        sources:
        - sources
        - sources
      properties:
        sources:
          description: "Format of the resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          items:
            type: string
          title: sources
          type: array
      title: MergeProperties
      type: object
    MergeRequest:
      example:
        properties:
          sources:
          - sources
          - sources
      properties:
        properties:
          $ref: '#/components/schemas/MergeProperties'
      title: MergeRequest
      type: object
    OperationDisplay:
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          title: description
          type: string
        operation:
          title: operation
          type: string
        provider:
          title: provider
          type: string
        resource:
          title: resource
          type: string
      title: OperationDisplay
      type: object
    OperationList:
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of items.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/OperationResponse'
          title: value
          type: array
      title: OperationList
      type: object
    OperationResponse:
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          title: name
          type: string
        origin:
          title: origin
          type: string
      title: OperationResponse
      type: object
    Patch:
      example:
        properties:
          appliedScopes:
          - appliedScopes
          - appliedScopes
          renewProperties:
            purchaseProperties:
              location: location
              sku:
                name: name
              properties:
                reservedResourceType: VirtualMachines
                reservedResourceProperties:
                  instanceFlexibility: "On"
                billingScopeId: billingScopeId
                quantity: 0
                appliedScopes:
                - appliedScopes
                - appliedScopes
                displayName: displayName
                appliedScopeType: Single
                billingPlan: Upfront
                term: P1Y
                renew: false
          name: name
          appliedScopeType: Single
          instanceFlexibility: "On"
          renew: false
      properties:
        properties:
          $ref: '#/components/schemas/PatchProperties'
      title: Patch
      type: object
    PatchProperties:
      example:
        appliedScopes:
        - appliedScopes
        - appliedScopes
        renewProperties:
          purchaseProperties:
            location: location
            sku:
              name: name
            properties:
              reservedResourceType: VirtualMachines
              reservedResourceProperties:
                instanceFlexibility: "On"
              billingScopeId: billingScopeId
              quantity: 0
              appliedScopes:
              - appliedScopes
              - appliedScopes
              displayName: displayName
              appliedScopeType: Single
              billingPlan: Upfront
              term: P1Y
              renew: false
        name: name
        appliedScopeType: Single
        instanceFlexibility: "On"
        renew: false
      properties:
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopes:
          description: List of the subscriptions that the benefit will be applied.
            Do not specify if AppliedScopeType is Shared.
          items:
            type: string
          title: AppliedScopes
          type: array
        instanceFlexibility:
          $ref: '#/components/schemas/InstanceFlexibility'
        name:
          description: Name of the Reservation
          title: name
          type: string
        renew:
          default: false
          description: Setting this to true will automatically purchase a new reservation
            on the expiration date time.
          title: Renew
          type: boolean
        renewProperties:
          $ref: '#/components/schemas/PatchProperties_renewProperties'
      title: PatchProperties
      type: object
    PaymentDetail:
      description: Information about payment related to a reservation order.
      example:
        pricingCurrencyTotal:
          amount: 6.027456183070403
          currencyCode: currencyCode
        dueDate: 2000-01-23
        billingCurrencyTotal:
          amount: 6.027456183070403
          currencyCode: currencyCode
        billingAccount: billingAccount
        paymentDate: 2000-01-23
        extendedStatusInfo:
          message: message
          statusCode: None
        status: Succeeded
      properties:
        billingAccount:
          description: Shows the Account that is charged for this payment.
          title: billingAccount
          type: string
        billingCurrencyTotal:
          $ref: '#/components/schemas/Price'
        dueDate:
          description: Date when the payment needs to be done.
          format: date
          title: dueDate
          type: string
        extendedStatusInfo:
          $ref: '#/components/schemas/ExtendedStatusInfo'
        paymentDate:
          description: Date when the transaction is completed. Is null when it is
            scheduled.
          format: date
          title: paymentDate
          type: string
        pricingCurrencyTotal:
          $ref: '#/components/schemas/Price'
        status:
          $ref: '#/components/schemas/PaymentStatus'
      title: PaymentDetail
      type: object
    PaymentStatus:
      description: "Describes whether the payment is completed, failed, cancelled\
        \ or scheduled in the future."
      enum:
      - Succeeded
      - Failed
      - Scheduled
      - Cancelled
      title: PaymentStatus
      type: string
      x-ms-enum:
        modelAsString: true
        name: PaymentStatus
    Price:
      example:
        amount: 6.027456183070403
        currencyCode: currencyCode
      properties:
        amount:
          format: double
          title: amount
          type: number
        currencyCode:
          description: The ISO 4217 3-letter currency code for the currency used by
            this purchase record.
          title: currencyCode
          type: string
      title: Price
      type: object
    Properties:
      example:
        properties:
          scopes:
          - valid: true
            scope: scope
          - valid: true
            scope: scope
      properties:
        properties:
          $ref: '#/components/schemas/SubscriptionScopeProperties'
      title: Properties
      type: object
    PurchaseRequest:
      example:
        location: location
        sku:
          name: name
        properties:
          reservedResourceType: VirtualMachines
          reservedResourceProperties:
            instanceFlexibility: "On"
          billingScopeId: billingScopeId
          quantity: 0
          appliedScopes:
          - appliedScopes
          - appliedScopes
          displayName: displayName
          appliedScopeType: Single
          billingPlan: Upfront
          term: P1Y
          renew: false
      properties:
        location:
          description: The Azure Region where the reserved resource lives.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/PurchaseRequestProperties'
        sku:
          $ref: '#/components/schemas/SkuName'
      title: PurchaseRequest
      type: object
    PurchaseRequestProperties:
      example:
        reservedResourceType: VirtualMachines
        reservedResourceProperties:
          instanceFlexibility: "On"
        billingScopeId: billingScopeId
        quantity: 0
        appliedScopes:
        - appliedScopes
        - appliedScopes
        displayName: displayName
        appliedScopeType: Single
        billingPlan: Upfront
        term: P1Y
        renew: false
      properties:
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopes:
          description: List of the subscriptions that the benefit will be applied.
            Do not specify if AppliedScopeType is Shared.
          items:
            type: string
          title: AppliedScopes
          type: array
        billingPlan:
          $ref: '#/components/schemas/ReservationBillingPlan'
        billingScopeId:
          description: Subscription that will be charged for purchasing Reservation
          title: BillingScopeId
          type: string
        displayName:
          description: Friendly name of the Reservation
          title: displayName
          type: string
        quantity:
          description: Quantity of the SKUs that are part of the Reservation. Must
            be greater than zero.
          format: int32
          title: ReservationQuantity
          type: integer
        renew:
          default: false
          description: Setting this to true will automatically purchase a new reservation
            on the expiration date time.
          title: Renew
          type: boolean
        reservedResourceProperties:
          $ref: '#/components/schemas/PurchaseRequestProperties_reservedResourceProperties'
        reservedResourceType:
          $ref: '#/components/schemas/ReservedResourceType'
        term:
          $ref: '#/components/schemas/ReservationTerm'
      title: PurchaseRequestProperties
      type: object
    Renew:
      default: false
      description: Setting this to true will automatically purchase a new reservation
        on the expiration date time.
      title: Renew
      type: boolean
    RenewPropertiesResponse:
      example:
        pricingCurrencyTotal:
          amount: 2.3021358869347655
          currencyCode: currencyCode
        billingCurrencyTotal:
          amount: 5.637376656633329
          currencyCode: currencyCode
        purchaseProperties:
          location: location
          sku:
            name: name
          properties:
            reservedResourceType: VirtualMachines
            reservedResourceProperties:
              instanceFlexibility: "On"
            billingScopeId: billingScopeId
            quantity: 0
            appliedScopes:
            - appliedScopes
            - appliedScopes
[...]
