openapi: 3.0.1
info:
  title: ResourceHealthMetadata API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/ResourceHealthMetadata.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-ResourceHealthMetadata
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      description: Description for List all ResourceHealthMetadata for all sites in
        the subscription.
      operationId: ResourceHealthMetadata_List
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: List all ResourceHealthMetadata for all sites in the subscription.
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a subscription:
          parameters:
            api-version: 2019-08-01
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                  name: default
                  properties:
                    category: Shared
                    signalAvailability: true
                  type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      description: Description for List all ResourceHealthMetadata for all sites in
        the resource group in the subscription.
      operationId: ResourceHealthMetadata_ListByResourceGroup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: List all ResourceHealthMetadata for all sites in the resource group
        in the subscription.
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a resource group:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Default-Web-NorthCentralUS
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                  name: default
                  properties:
                    category: Shared
                    signalAvailability: true
                  type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata:
    get:
      description: Description for Gets the category of ResourceHealthMetadata to
        use for the given site as a collection
      operationId: ResourceHealthMetadata_ListBySite
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: Gets the category of ResourceHealthMetadata to use for the given site
        as a collection
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          parameters:
            api-version: 2019-08-01
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                  name: default
                  properties:
                    category: Shared
                    signalAvailability: true
                  type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default
  : get:
      description: Description for Gets the category of ResourceHealthMetadata to
        use for the given site
      operationId: ResourceHealthMetadata_GetBySite
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        Get ResourceHealthMetadata:
          parameters:
            api-version: 2019-08-01
            metadataName: default
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                name: default
                properties:
                  category: Shared
                  signalAvailability: true
                type: Microsoft.Web/sites/resourceHealthMetadata
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata
  : get:
      description: Description for Gets the category of ResourceHealthMetadata to
        use for the given site as a collection
      operationId: ResourceHealthMetadata_ListBySiteSlot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of web app slot. If not specified then will default to production
          slot.
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: Gets the category of ResourceHealthMetadata to use for the given site
        as a collection
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          parameters:
            api-version: 2019-08-01
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                  name: default
                  properties:
                    category: Shared
                    signalAvailability: true
                  type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default
  : get:
      description: Description for Gets the category of ResourceHealthMetadata to
        use for the given site
      operationId: ResourceHealthMetadata_GetBySiteSlot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of web app slot. If not specified then will default to production
          slot.
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response'
          description: App Service error response.
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      tags:
      - ResourceHealthMetadata
      x-ms-examples:
        Get ResourceHealthMetadata:
          parameters:
            api-version: 2019-08-01
            metadataName: default
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                name: default
                properties:
                  category: Shared
                  signalAvailability: true
                type: Microsoft.Web/sites/resourceHealthMetadata
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ResourceHealthMetadata:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Used for getting ResourceHealthCheck settings.
      example:
        properties: "{}"
      properties:
        properties:
          description: ResourceHealthMetadata resource specific properties
          properties:
            category:
              description: The category that the resource matches in the RHC Policy
                File
              type: string
            signalAvailability:
              description: Is there a health signal for the resource
              type: boolean
          type: object
          x-ms-client-flatten: true
    ResourceHealthMetadataCollection:
      description: Collection of resource health metadata.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/ResourceHealthMetadata'
          type: array
      required:
      - value
      type: object
    ResourceHealthMetadata_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    ResourceHealthMetadata_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        details:
          items:
            $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response_error_details_inner'
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    ResourceHealthMetadata_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ResourceHealthMetadata_List_default_response_error'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

