openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2017-03-30
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/vmssNetworkInterface.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-vmssNetworkInterface
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces
  : get:
      description: Gets all network interfaces in a virtual machine scale set.
      operationId: network_interfaces_list_virtual_machine_scale_set_network_interfaces
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response'
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set network interfaces:
          parameters:
            api-version: 2017-03-30
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1
                  name: nic1
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                      internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                    enableAcceleratedNetworking: false
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1
                      name: ip1
                      properties:
                        loadBalancerBackendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                        loadBalancerInboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.0
                        primary: true
                        privateIPAddress: 10.0.0.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    macAddress: 00-00-00-00-00-00
                    networkSecurityGroup:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                    primary: true
                    provisioningState: Succeeded
                    virtualMachine:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                  name: nic1
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                      internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                    enableAcceleratedNetworking: false
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                      name: ip1
                      properties:
                        loadBalancerBackendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                        loadBalancerInboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                        primary: true
                        privateIPAddress: 10.0.0.5
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    macAddress: 00-00-00-00-00-00
                    networkSecurityGroup:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                    primary: true
                    provisioningState: Succeeded
                    virtualMachine:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces
  : get:
      description: Gets information about all network interfaces in a virtual machine
        in a virtual machine scale set.
      operationId: network_interfaces_list_virtual_machine_scale_set_vm_network_interfaces
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response'
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set vm network interfaces:
          parameters:
            api-version: 2017-03-30
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "1"
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                  name: nic1
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                      internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                    enableAcceleratedNetworking: false
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                      name: ip1
                      properties:
                        loadBalancerBackendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                        loadBalancerInboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                        primary: true
                        privateIPAddress: 10.0.0.5
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    macAddress: 00-00-00-00-00-00
                    networkSecurityGroup:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                    primary: true
                    provisioningState: Succeeded
                    virtualMachine:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}
  : get:
      description: Get the specified network interface in a virtual machine scale
        set.
      operationId: network_interfaces_get_virtual_machine_scale_set_network_interface
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface_200_response'
          description: Request successful. The operation returns the resulting NetworkInterface
            resource.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Get virtual machine scale set network interface:
          parameters:
            api-version: 2017-03-30
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "1"
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                name: nic1
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                    internalDomainNameSuffix: dns.cdmx.internal.cloudapp.net
                  enableAcceleratedNetworking: false
                  enableIPForwarding: false
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                    name: ip1
                    properties:
                      loadBalancerBackendAddressPools:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                      loadBalancerInboundNatRules:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                      primary: true
                      privateIPAddress: 10.0.0.5
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  macAddress: 00-00-00-00-00-00
                  networkSecurityGroup:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                  primary: true
                  provisioningState: Succeeded
                  virtualMachine:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations
  : get:
      description: Get the specified network interface ip configuration in a virtual
        machine scale set.
      operationId: network_interfaces_list_virtual_machine_scale_set_ip_configurations
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response'
          description: Request successful. The operation returns the list of resulting
            NetworkInterfaceIPConfigurations resources.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set network interface ip configurations:
          parameters:
            api-version: 2017-03-30
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "2"
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/nic1/ipConfigurations/ip1
                  name: ip1
                  properties:
                    loadBalancerBackendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                    loadBalancerInboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.2
                    primary: true
                    privateIPAddress: 10.0.0.6
                    privateIPAddressVersion: IPv4
                    privateIPAllocationMethod: Dynamic
                    provisioningState: Succeeded
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}
  : get:
      description: Get the specified network interface ip configuration in a virtual
        machine scale set.
      operationId: network_interfaces_get_virtual_machine_scale_set_ip_configuration
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: The name of the ip configuration.
        in: path
        name: ipConfigurationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration_200_response'
          description: Request successful. The operation returns the resulting NetworkInterfaceIPConfiguration
            resource.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Get virtual machine scale set network interface:
          parameters:
            api-version: 2017-03-30
            ipConfigurationName: ip1
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "2"
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/nic1/ipConfigurations/ip1
                name: ip1
                properties:
                  loadBalancerBackendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                  loadBalancerInboundNatRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.2
                  primary: true
                  privateIPAddress: 10.0.0.6
                  privateIPAddressVersion: IPv4
                  privateIPAllocationMethod: Dynamic
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
components:
  schemas:
    NetworkInterfaceIPConfigurationPropertiesFormat:
      title: properties
      type: object
    NetworkInterfacePropertiesFormat:
      title: properties
      type: object
    NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response_value_inner:
      description: A network interface in a resource group.
      example:
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          title: properties
          type: object
      title: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response_value_inner
      type: object
    NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response:
      description: Response for the ListNetworkInterface API service call.
      example:
        value:
        - etag: etag
          properties: "{}"
        - etag: etag
          properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: A list of network interfaces in a resource group.
          items:
            $ref: '#/components/schemas/NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response_value_inner'
          title: value
          type: array
      title: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces_200_response
      type: object
    NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface_200_response:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A network interface in a resource group.
      example:
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          title: properties
          type: object
      title: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface_200_response
    NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response_value_inner:
      description: IPConfiguration in a network interface.
      example:
        name: name
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          title: properties
          type: object
      title: NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response_value_inner
      type: object
    NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response:
      description: Response for list ip configurations API service call.
      example:
        value:
        - name: name
          etag: etag
          properties: "{}"
        - name: name
          etag: etag
          properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: A list of ip configurations.
          items:
            $ref: '#/components/schemas/NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response_value_inner'
          title: value
          type: array
      title: NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations_200_response
      type: object
    NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration_200_response:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IPConfiguration in a network interface.
      example:
        name: name
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          title: properties
          type: object
      title: NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration_200_response
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
