openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Lets you store and retrieve potentially-large, immutable data objects."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Storage JSON API
  version: v1beta2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/storage/v1beta2/rest
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: storage
externalDocs:
  url: https://developers.google.com/storage/docs/json_api/
servers:
- url: https://storage.googleapis.com/storage/v1beta2
tags:
- name: bucketAccessControls
- name: buckets
- name: channels
- name: defaultObjectAccessControls
- name: objectAccessControls
- name: objects
paths:
  /b:
    get:
      description: Retrieves a list of buckets for a given project.
      operationId: storage.buckets.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: A valid API project identifier.
        explode: true
        in: query
        name: project
        required: true
        schema:
          type: string
        style: form
      - description: Maximum number of buckets to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Buckets'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-accepts:
      - application/json
    post:
      description: Creates a new bucket.
      operationId: storage.buckets.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: A valid API project identifier.
        explode: true
        in: query
        name: project
        required: true
        schema:
          type: string
        style: form
      - description: "Set of properties to return. Defaults to noAcl, unless the bucket\
          \ resource specifies acl or defaultObjectAcl properties, when it defaults\
          \ to full."
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}:
    delete:
      description: Permanently deletes an empty bucket.
      operationId: storage.buckets.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-accepts:
      - application/json
    get:
      description: Returns metadata for the specified bucket.
      operationId: storage.buckets.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-accepts:
      - application/json
    patch:
      description: Updates a bucket. This method supports patch semantics.
      operationId: storage.buckets.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates a bucket.
      operationId: storage.buckets.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the return of the bucket metadata conditional on whether
          the bucket's current metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bucket'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bucket'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - buckets
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/acl:
    get:
      description: Retrieves ACL entries on the specified bucket.
      operationId: storage.bucketAccessControls.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControls'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-accepts:
      - application/json
    post:
      description: Creates a new ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/acl/{entity}:
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the
        specified bucket.
      operationId: storage.bucketAccessControls.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-accepts:
      - application/json
    get:
      description: Returns the ACL entry for the specified entity on the specified
        bucket.
      operationId: storage.bucketAccessControls.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-accepts:
      - application/json
    patch:
      description: Updates an ACL entry on the specified bucket. This method supports
        patch semantics.
      operationId: storage.bucketAccessControls.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates an ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - bucketAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/defaultObjectAcl:
    get:
      description: Retrieves default object ACL entries on the specified bucket.
      operationId: storage.defaultObjectAccessControls.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, only return default ACL listing if the bucket's\
          \ current metageneration matches this value."
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: "If present, only return default ACL listing if the bucket's\
          \ current metageneration does not match the given value."
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControls'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-accepts:
      - application/json
    post:
      description: Creates a new default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/defaultObjectAcl/{entity}:
    delete:
      description: Permanently deletes the default object ACL entry for the specified
        entity on the specified bucket.
      operationId: storage.defaultObjectAccessControls.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-accepts:
      - application/json
    get:
      description: Returns the default object ACL entry for the specified entity on
        the specified bucket.
      operationId: storage.defaultObjectAccessControls.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-accepts:
      - application/json
    patch:
      description: Updates a default object ACL entry on the specified bucket. This
        method supports patch semantics.
      operationId: storage.defaultObjectAccessControls.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates a default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - defaultObjectAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/o:
    get:
      description: Retrieves a list of objects matching the criteria.
      operationId: storage.objects.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which to look for objects.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "Returns results in a directory-like mode. items will contain\
          \ only objects whose names, aside from the prefix, do not contain delimiter.\
          \ Objects whose names, aside from the prefix, contain delimiter will have\
          \ their name, truncated after the delimiter, returned in prefixes. Duplicate\
          \ prefixes are omitted."
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of items plus prefixes to return. As duplicate\
          \ prefixes are omitted, fewer total results may be returned than requested."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to objects whose names begin with this prefix.
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: "If true, lists all versions of a file as distinct results."
        explode: true
        in: query
        name: versions
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objects'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-accepts:
      - application/json
    post:
      description: Stores new data blobs and associated metadata.
      operationId: storage.objects.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Name of the bucket in which to store the new object. Overrides\
          \ the provided object metadata's bucket value, if any."
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Makes the operation conditional on whether the object's current
          generation matches the given value.
        explode: true
        in: query
        name: ifGenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation does not match the given value.
        explode: true
        in: query
        name: ifGenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: "Name of the object. Required when the object metadata is not\
          \ otherwise provided. Overrides the object metadata's name value, if any."
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "Set of properties to return. Defaults to noAcl, unless the object\
          \ resource specifies the acl property, when it defaults to full."
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /b/{bucket}/o/watch:
    post:
      description: Watch for changes on all objects in a bucket.
      operationId: storage.objects.watchAll
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which to look for objects.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "Returns results in a directory-like mode. items will contain\
          \ only objects whose names, aside from the prefix, do not contain delimiter.\
          \ Objects whose names, aside from the prefix, contain delimiter will have\
          \ their name, truncated after the delimiter, returned in prefixes. Duplicate\
          \ prefixes are omitted."
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of items plus prefixes to return. As duplicate\
          \ prefixes are omitted, fewer total results may be returned than requested."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to objects whose names begin with this prefix.
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      - description: "If true, lists all versions of a file as distinct results."
        explode: true
        in: query
        name: versions
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/o/{object}:
    delete:
      description: "Deletes data blobs and associated metadata. Deletions are permanent\
        \ if versioning is not enabled for the bucket, or if the generation parameter\
        \ is used."
      operationId: storage.objects.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which the object resides.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, permanently deletes a specific revision of this\
          \ object (as opposed to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation matches the given value.
        explode: true
        in: query
        name: ifGenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation does not match the given value.
        explode: true
        in: query
        name: ifGenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-accepts:
      - application/json
    get:
      description: Retrieves objects or their associated metadata.
      operationId: storage.objects.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which the object resides.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's generation
          matches the given value.
        explode: true
        in: query
        name: ifGenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's generation
          does not match the given value.
        explode: true
        in: query
        name: ifGenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to noAcl.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_only
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_only
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-accepts:
      - application/json
    patch:
      description: Updates a data blob's associated metadata. This method supports
        patch semantics.
      operationId: storage.objects.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which the object resides.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation matches the given value.
        explode: true
        in: query
        name: ifGenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation does not match the given value.
        explode: true
        in: query
        name: ifGenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates a data blob's associated metadata.
      operationId: storage.objects.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of the bucket in which the object resides.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation matches the given value.
        explode: true
        in: query
        name: ifGenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          generation does not match the given value.
        explode: true
        in: query
        name: ifGenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration matches the given value.
        explode: true
        in: query
        name: ifMetagenerationMatch
        required: false
        schema:
          type: string
        style: form
      - description: Makes the operation conditional on whether the object's current
          metageneration does not match the given value.
        explode: true
        in: query
        name: ifMetagenerationNotMatch
        required: false
        schema:
          type: string
        style: form
      - description: Set of properties to return. Defaults to full.
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - full
          - noAcl
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.read_write
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.read_write
      tags:
      - objects
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/o/{object}/acl:
    get:
      description: Retrieves ACL entries on the specified object.
      operationId: storage.objectAccessControls.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControls'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - objectAccessControls
      x-accepts:
      - application/json
    post:
      description: Creates a new ACL entry on the specified object.
      operationId: storage.objectAccessControls.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectAccessControl'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectAccessControl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - objectAccessControls
      x-content-type: application/json
      x-accepts:
      - application/json
  /b/{bucket}/o/{object}/acl/{entity}:
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the
        specified object.
      operationId: storage.objectAccessControls.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Name of a bucket.
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the object.
        explode: false
        in: path
        name: object
        required: true
        schema:
          type: string
        style: simple
      - description: "The entity holding the permission. Can be user-userId, user-emailAddress,\
          \ group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers."
        explode: false
        in: path
        name: entity
        required: true
        schema:
          type: string
        style: simple
      - description: "If present, selects a specific revision of this object (as opposed\
          \ to the latest version, the default)."
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/devstorage.full_control
        Oauth2c:
        - https://www.googleapis.com/auth/devstorage.full_control
      tags:
      - objectAccessControls
      x-accepts:
      - application/json
    get:
      description: Returns the ACL entry for the specified entity on the specified
        object.
      operationId: storage.objectAccessControls.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
[...]
