openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/tasks.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-tasks
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_list_by_home_region
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTaskList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendations tasks from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  properties:
                    creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                    lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                    securityTaskParameters:
                      location: uksouth
                      name: NetworkSecurityGroupMissingOnSubnet
                      resourceGroup: myRg
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                      resourceName: default
                      resourceParent: vnet1
                      resourceType: Subnet
                      uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  properties:
                    creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                    lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                    securityTaskParameters:
                      isDataDiskEncrypted: false
                      isOsDiskEncrypted: false
                      name: EncryptionOnVm
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      severity: High
                      uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmName: vm1
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_get_subscription_level_task
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: taskName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTask'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendation task from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                properties:
                  creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                  lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                  securityTaskParameters:
                    location: uksouth
                    name: NetworkSecurityGroupMissingOnSubnet
                    resourceGroup: myRg
                    resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    resourceName: default
                    resourceParent: vnet1
                    resourceType: Subnet
                    uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                  state: Active
                  subState: NA
                type: Microsoft.Security/locations/tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}:
    post:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_update_subscription_level_task_state
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: task_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Type of the action to do on the task
        in: path
        name: taskUpdateActionType
        required: true
        schema:
          enum:
          - Activate
          - Dismiss
          - Start
          - Resolve
          - Close
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Change security recommendation task state:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
            taskUpdateActionType: Dismiss
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTaskList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendations tasks:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/locations/westeurope/tasks/62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  name: 62609ee7-d0a5-8616-9fe4-1df5cca7758d
                  properties:
                    creationTimeUtc: 2018-03-05T10:42:03.9935508Z
                    lastStateChangeTimeUtc: 2018-03-05T10:42:03.9935508Z
                    securityTaskParameters:
                      location: uksouth
                      name: NetworkSecurityGroupMissingOnSubnet
                      resourceGroup: myRg
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                      resourceName: default
                      resourceParent: vnet1
                      resourceType: Subnet
                      uniqueKey: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  properties:
                    creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                    lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                    securityTaskParameters:
                      isDataDiskEncrypted: false
                      isOsDiskEncrypted: false
                      name: EncryptionOnVm
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      severity: High
                      uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmName: vm1
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks:
    get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_list_by_resource_group
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTaskList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendation tasks in a resource group:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                  properties:
                    creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                    lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                    securityTaskParameters:
                      isDataDiskEncrypted: false
                      isOsDiskEncrypted: false
                      name: EncryptionOnVm
                      resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      severity: High
                      uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                      vmName: vm1
                    state: Active
                    subState: NA
                  type: Microsoft.Security/locations/tasks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}
  : get:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_get_resource_group_level_task
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: task_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityTask'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Get security recommendation task in a resource group:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: d55b4dc0-779c-c66c-33e5-d7bce24c4222
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/locations/westeurope/tasks/d55b4dc0-779c-c66c-33e5-d7bce24c4222
                name: d55b4dc0-779c-c66c-33e5-d7bce24c4222
                properties:
                  creationTimeUtc: 2018-04-02T11:41:27.0541014Z
                  lastStateChangeTimeUtc: 2018-04-02T11:41:27.0541014Z
                  securityTaskParameters:
                    isDataDiskEncrypted: false
                    isOsDiskEncrypted: false
                    name: EncryptionOnVm
                    resourceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                    severity: High
                    uniqueKey: EncryptionOnVmTaskParameters_/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                    vmId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Compute/virtualMachines/vm1
                    vmName: vm1
                  state: Active
                  subState: NA
                type: Microsoft.Security/locations/tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}
  : post:
      description: Recommended tasks that will help improve the security of the subscription
        proactively
      operationId: tasks_update_resource_group_level_task_state
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "Name of the task object, will be a GUID"
        in: path
        name: task_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Type of the action to do on the task
        in: path
        name: task_update_action_type
        required: true
        schema:
          enum:
          - Activate
          - Dismiss
          - Start
          - Resolve
          - Close
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tasks
      x-ms-examples:
        Change security recommendation task state:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: westeurope
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            taskName: d55b4dc0-779c-c66c-33e5-d7bce24c4222
            taskUpdateActionType: Dismiss
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
components:
  parameters:
    TaskName:
      description: "Name of the task object, will be a GUID"
      in: path
      name: taskName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    TaskUpdateActionType:
      description: Type of the action to do on the task
      in: path
      name: taskUpdateActionType
      required: true
      schema:
        enum:
        - Activate
        - Dismiss
        - Start
        - Resolve
        - Close
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    SecurityTask:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Security task that we recommend to do in order to strengthen security
      example:
        properties:
          subState: subState
          securityTaskParameters:
            name: name
          state: state
          creationTimeUtc: 2000-01-23T04:56:07.000+00:00
          lastStateChangeTimeUtc: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/SecurityTaskProperties'
      title: SecurityTask
    SecurityTaskList:
      description: List of security task recommendations
      example:
        value:
        - properties:
            subState: subState
            securityTaskParameters:
              name: name
            state: state
            creationTimeUtc: 2000-01-23T04:56:07.000+00:00
            lastStateChangeTimeUtc: 2000-01-23T04:56:07.000+00:00
        - properties:
            subState: subState
            securityTaskParameters:
              name: name
            state: state
            creationTimeUtc: 2000-01-23T04:56:07.000+00:00
            lastStateChangeTimeUtc: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/SecurityTask'
          readOnly: true
          title: value
          type: array
      title: SecurityTaskList
      type: object
    SecurityTaskParameters:
      additionalProperties: true
      description: "Changing set of properties, depending on the task type that is\
        \ derived from the name field"
      example:
        name: name
      properties:
        name:
          description: Name of the task type
          readOnly: true
          type: string
      title: SecurityTaskParameters
      type: object
    SecurityTaskProperties:
      description: Describes properties of a task.
      example:
        subState: subState
        securityTaskParameters:
          name: name
        state: state
        creationTimeUtc: 2000-01-23T04:56:07.000+00:00
        lastStateChangeTimeUtc: 2000-01-23T04:56:07.000+00:00
      properties:
        creationTimeUtc:
          description: The time this task was discovered in UTC
          format: date-time
          readOnly: true
          title: creationTimeUtc
          type: string
        lastStateChangeTimeUtc:
          description: The time this task's details were last changed in UTC
          format: date-time
          readOnly: true
          title: lastStateChangeTimeUtc
          type: string
        securityTaskParameters:
          $ref: '#/components/schemas/SecurityTaskParameters'
        state:
          description: "State of the task (Active, Resolved etc.)"
          readOnly: true
          title: state
          type: string
        subState:
          description: Additional data on the state of the task
          readOnly: true
          title: subState
          type: string
      title: SecurityTaskProperties
      type: object
    Tasks_ListByHomeRegion_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: Tasks_ListByHomeRegion_default_response_error
      type: object
      x-ms-external: true
    Tasks_ListByHomeRegion_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Tasks_ListByHomeRegion_default_response_error'
      title: Tasks_ListByHomeRegion_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
