openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/compliances.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-compliances
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.Security/compliances:
    get:
      description: The Compliance scores of the specific management group.
      operationId: compliances_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Compliances_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Compliances
      x-ms-examples:
        Get security compliance data over time:
          parameters:
            api-version: 2017-08-01-preview
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                  name: 2018-01-01Z
                  properties:
                    assessmentResult:
                    - percentage: 77.77777777777779
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-02Z
                  name: 2018-01-02Z
                  properties:
                    assessmentResult:
                    - percentage: 94.44444444444444
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-02T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-03Z
                  name: 2018-01-03Z
                  properties:
                    assessmentResult:
                    - percentage: 100
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-03T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.compliances_controller
  /{scope}/providers/Microsoft.Security/compliances/{complianceName}:
    get:
      description: Details of a specific Compliance.
      operationId: compliances_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the Compliance
        in: path
        name: complianceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Compliance'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Compliances_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Compliances
      x-ms-examples:
        Get security compliance data for a day:
          parameters:
            api-version: 2017-08-01-preview
            complianceName: 2018-01-01Z
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                name: 2018-01-01Z
                properties:
                  assessmentResult:
                  - percentage: 77.77777777777779
                    segmentType: Compliant
                  assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                  resourceCount: 18
                type: Microsoft.Security/compliances
      x-openapi-router-controller: openapi_server.controllers.compliances_controller
components:
  parameters:
    ComplianceName:
      description: name of the Compliance
      in: path
      name: complianceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Compliance:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Compliance of a scope
      example:
        properties:
          assessmentResult:
          - percentage: 0.8008281904610115
            segmentType: segmentType
          - percentage: 0.8008281904610115
            segmentType: segmentType
          assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
          resourceCount: 6
      properties:
        properties:
          $ref: '#/components/schemas/ComplianceProperties'
      title: Compliance
    ComplianceList:
      description: List of Compliance objects response
      example:
        value:
        - properties:
            assessmentResult:
            - percentage: 0.8008281904610115
              segmentType: segmentType
            - percentage: 0.8008281904610115
              segmentType: segmentType
            assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
            resourceCount: 6
        - properties:
            assessmentResult:
            - percentage: 0.8008281904610115
              segmentType: segmentType
            - percentage: 0.8008281904610115
              segmentType: segmentType
            assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
            resourceCount: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Compliance objects
          items:
            $ref: '#/components/schemas/Compliance'
          title: value
          type: array
      title: ComplianceList
      type: object
    ComplianceProperties:
      description: The Compliance score (percentage) of a Subscription is a sum of
        all Resources' Compliances under the given Subscription. A Resource Compliance
        is defined as the compliant ('healthy') Policy Definitions out of all Policy
        Definitions applicable to a given resource.
      example:
        assessmentResult:
        - percentage: 0.8008281904610115
          segmentType: segmentType
        - percentage: 0.8008281904610115
          segmentType: segmentType
        assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
        resourceCount: 6
      properties:
        assessmentResult:
          description: "An array of segment, which is the actually the compliance\
            \ assessment."
          items:
            $ref: '#/components/schemas/ComplianceSegment'
          readOnly: true
          title: assessmentResult
          type: array
        assessmentTimestampUtcDate:
          description: The timestamp when the Compliance calculation was conducted.
          format: date-time
          readOnly: true
          title: assessmentTimestampUtcDate
          type: string
        resourceCount:
          description: The resource count of the given subscription for which the
            Compliance calculation was conducted (needed for Management Group Compliance
            calculation).
          readOnly: true
          title: resourceCount
          type: integer
      title: ComplianceProperties
      type: object
    ComplianceSegment:
      description: A segment of a compliance assessment.
      example:
        percentage: 0.8008281904610115
        segmentType: segmentType
      properties:
        percentage:
          description: The size (%) of the segment.
          format: double
          readOnly: true
          title: percentage
          type: number
        segmentType:
          description: "The segment type, e.g. compliant, non-compliance, insufficient\
            \ coverage, N/A, etc."
          readOnly: true
          title: segmentType
          type: string
      title: ComplianceSegment
      type: object
    Compliances_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: Compliances_List_default_response_error
      type: object
      x-ms-external: true
    Compliances_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Compliances_List_default_response_error'
      title: Compliances_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
