openapi: 3.0.1
info:
  title: hetras Hotel API Version 0
  version: v0
  x-logo:
    url: https://twitter.com/hetras/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.hetras.com/swagger/spec/HotelAPIv0.json
    version: "2.0"
  x-providerName: hetras-certification.net
  x-serviceName: hotel
servers:
- url: https://api.hetras-certification.net/
paths:
  /api/hotel/v0/hotels:
    get:
      deprecated: false
      description: Load the details about all the hotels your application has access
        to.
      operationId: Hotels_GetHotels
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Hotel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Hotel'
                type: array
          description: A list of hotels.
        "204":
          content: {}
          description: You don´t have access to any hotels.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get a list of all the hotels of a chain your application has access
        to.
      tags:
      - Hotels
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}:
    get:
      deprecated: false
      description: Load the details about the specified hotel.
      operationId: Hotels_GetHotel
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
            text/json:
              schema:
                $ref: '#/components/schemas/Hotel'
          description: The details about the hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the details of the hotel with the speccified hotel id.
      tags:
      - Hotels
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/codes:
    get:
      deprecated: false
      description: "With this call you can find codes for a hotel by type or code.\
        \ By default and without any filter criteria\r\n            defined it will\
        \ return you all available codes."
      operationId: Codes_GetCodes
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id you are trying to find codes for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Return all results matching the specified code. A code is unique\
          \ in combination with the type\r\n            which means when you query\
          \ for a code you could get multiple results each for a different type"
        in: query
        name: code
        schema:
          type: string
      - description: Return all codes for the specified type
        in: query
        name: type
        schema:
          enum:
          - GuestRequest
          - RequestDietary
          - VIPStatus
          - ReasonForRateChange
          - Regrets
          - MarketSegments
          - SourceOfBusiness
          - LoyaltyProgram
          - CancellationReason
          - AccountType
          - AccountRank
          - VIPLevel
          - Title
          - ContactFunction
          - Territory
          - CorrespondenceType
          - ExternalProgramType
          - RevenueBucket
          - AdditionalRevenueBucket
          - AdditionalStatisticsBuckets
          - MealPeriod
          - BillingCycle
          - ReminderCycle
          - MajorMarketSegments
          - DocumentType
          - ActivityType
          - ReservationLabels
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodesListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CodesListResponse'
          description: A list of codes for a requested hotel matching the filter criteria.
        "204":
          content: {}
          description: There are no codes found for the given filtering criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get a list of codes for the specified hotel either filtered by type
        or code.
      tags:
      - Codes
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/codes/{id}:
    get:
      deprecated: false
      description: Read the details about a specific code available for the defined
        hotel.
      operationId: Codes_GetCode
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the code available for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code identifier you want to see details for.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeFullEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/CodeFullEntry'
          description: Details for the given code and hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested rateplan could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get all the details for a specific code available for the hotel.
      tags:
      - Codes
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans:
    get:
      deprecated: false
      description: "With this call you can find rateplans for a hotel by different\
        \ filters. By default and without any filter criteria\r\n            defined\
        \ it will return you all active rateplans."
      operationId: RatePlans_GetRateplans
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id you are trying to find rateplans for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Specify which rateplans to return. If you do not specify a value\
          \ you will by default get active\r\n            rateplans."
        in: query
        name: sellingStatus
        schema:
          enum:
          - Active
          - Inactive
          - All
          type: string
      - description: Return all rateplans having commisionable status
        in: query
        name: commissionable
        schema:
          type: boolean
      - description: Return all rateplans belonging to the specified rateplan group
        in: query
        name: group
        schema:
          type: string
      - description: Return all rateplans having the specified rateplan as base rateplan
        in: query
        name: baseRateplan
        schema:
          type: string
      - description: Return all rateplans that are sold through at least one channel
          out of the specified channel group
        in: query
        name: channelGroup
        schema:
          type: string
      - description: Return all rateplans sold through the specified channel
        in: query
        name: channelCode
        schema:
          type: string
      - description: Return all rateplans having one of the specified values as a
          market code
        explode: false
        in: query
        name: marketCodes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return all rateplans by which at least one of the specified room
          types are sold
        explode: false
        in: query
        name: roomTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return all rateplans having at least one of the specified services
          included
        explode: false
        in: query
        name: includedServices
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Amount of items to skip.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      - description: Amount of items to select.
        in: query
        name: top
        schema:
          format: int32
          type: integer
      - description: Return total number of items for a given filter criteria.
        in: query
        name: inlinecount
        schema:
          enum:
          - None
          - AllPages
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateplansListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RateplansListResponse'
          description: A list of rateplans for a requested hotel matching the filter
            criteria.
        "204":
          content: {}
          description: There are no rateplans found for the given filtering and pagination
            criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get a list of rateplans for the specified hotel id matching the filter
        criteria.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/$count:
    get:
      deprecated: false
      operationId: RatePlans_GetRateplansCount
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel you are counting the rateplans for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Specify which rateplans to return. If you do not specify a value\
          \ you will by default get active\r\n            rateplans."
        in: query
        name: sellingStatus
        schema:
          enum:
          - Active
          - Inactive
          - All
          type: string
      - description: Return all rateplans having commisionable status
        in: query
        name: commissionable
        schema:
          type: boolean
      - description: Return all rateplans belonging to the specified rateplan group
        in: query
        name: group
        schema:
          type: string
      - description: Return all rateplans having the specified rateplan as base rateplan
        in: query
        name: baseRateplan
        schema:
          type: string
      - description: Return all rateplans that are sold through at least one channel
          out of the specified channel group
        in: query
        name: channelGroup
        schema:
          type: string
      - description: Return all rateplans sold through the specified channel
        in: query
        name: channelCode
        schema:
          type: string
      - description: Return all rateplans having one of the specified values as a
          market code
        explode: false
        in: query
        name: marketCodes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return all rateplans by which at least one of the specified room
          types are sold
        explode: false
        in: query
        name: roomTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return all rateplans having at least one of the specified services
          included
        explode: false
        in: query
        name: includedServices
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
          description: The rateplans count in the hotel matching the given filter
            criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the count of all rateplans in the hotel matching the given filter
        criteria.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/batch/$rates:
    put:
      deprecated: false
      description: "Currently this call only allows to set the base price for non-derived\
        \ rateplans if the rateplan\r\n            is active and already loaded for\
        \ the specified time period.\r\n            <br /><br />\r\n            A\
        \ request example:<br /><pre>\r\n            [\r\n              {\r\n    \
        \            \"rateplan\": \"STDN01\", \"from\": \"2018-01-01\", \"to\": \"\
        2018-01-30\", \"base_price\": 120.00\r\n              }\r\n            ]\r\
        \n            </pre><br />\r\n            For more details on how the API\
        \ responds to errors please check our documentation on \r\n            <a\
        \ href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\"\
        >Error Handling</a>.<br />"
      operationId: RatePlans_BatchUpdateRates
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RatesBatchUpdateRequestItem'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/RatesBatchUpdateRequestItem'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: The update was successful
        "400":
          content: {}
          description: Bad request. Request body erroneous.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Update a list of base rateplans for a given period and a given base
        price for single occupancy.
      tags:
      - RatePlans
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/{rateplanCode}:
    get:
      deprecated: false
      description: Read the details about a specific rateplan for the defined hotel.
      operationId: RatePlans_GetRateplan
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to see details for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedRateplanEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedRateplanEntry'
          description: Rateplan details for the given rateplan and hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested rateplan could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get all the details for a specific rateplan in the hotel.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/{rateplanCode}/rates:
    get:
      deprecated: false
      description: "With this call you can read the daily rates setup including the\
        \ cancellation policy and minimum guarantee per day for the\r\n          \
        \  specified rateplan. You can specify a timeperiod to read the daily rates\
        \ for. The rateplan needs to be active for at least\r\n            one business\
        \ day in the defined time period and have rates loaded."
      operationId: RatePlans_GetRates
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to see details for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      - description: You can expand the supplements per room type on demand. By default
          they are not shown.
        in: query
        name: expand
        schema:
          enum:
          - RoomTypeSupplements
          type: string
      - description: "Defines the last business day you would like to get rates for.\
          \ The maximum time span between <i>from</i>´and <i>to</i>\r\n          \
          \  is limited to 365 days."
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
      - description: Defines the first business day you would like to get rates for.
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
      - description: Amount of items to skip.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      - description: Amount of items to select.
        in: query
        name: top
        schema:
          format: int32
          type: integer
      - description: Return total number of items for a given filter criteria.
        in: query
        name: inlinecount
        schema:
          enum:
          - None
          - AllPages
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RatesResponse'
          description: List of daily rates within the specified time preiod.
        "204":
          content: {}
          description: The rateplan does not have any active date or is not loaded
            within the defined time period.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested rateplan could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the setup of the daily rates for a specific rateplan and a defined
        timeperiod.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
    patch:
      deprecated: false
      description: "The hetras API is using this <a href=\"https://developer.hetras.com/docs/patch\"\
        \ onfocus=\"this.blur()\" target=\"_blank\">Patch Specification</a>\r\n  \
        \          to partially update an existing resource. Currently this call only\
        \ allows to set the base price for non-derived rateplans if the rateplan\r\
        \n            is active and already loaded for the specified time period.\r\
        \n            <br /><br />\r\n            A request example:<br /><pre>\r\n\
        \            [\r\n              {\r\n                \"op\": \"replace\",\
        \ \"path\": \"/base_price\", \"value\": 120.00\r\n              }\r\n    \
        \        ]\r\n            </pre><br />\r\n            For more details on\
        \ how the API responds to errors please check our documentation on \r\n  \
        \          <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"\
        this.blur()\">Error Handling</a>.<br />"
      operationId: RatePlans_PatchRates
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to update the daily rate details
          for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      - description: "Defines the last business day you would like to get rates for.\
          \ The maximum time span between <i>from</i>´and <i>to</i>\r\n          \
          \  is limited to 365 days."
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
      - description: Defines the first business day you would like to get rates for.
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RatePatchRequest]"
          text/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RatePatchRequest]"
        description: A set of JSON Patch operations.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: The update was successful
        "400":
          content: {}
          description: Bad request. Request body erroneous.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Partially update a rate of the specified rateplan for the defined time
        period.
      tags:
      - RatePlans
      x-codegen-request-body-name: patchRequest
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/{rateplanCode}/rates/$count:
    get:
      deprecated: false
      operationId: RatePlans_GetRatesCount
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to count daily rates for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      - description: "Defines the last business day you would like to get rates for.\
          \ The maximum time span between <i>from</i>´and <i>to</i>\r\n          \
          \  is limited to 365 days."
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
      - description: Defines the first business day you would like to get rates for.
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
          description: The count of daily rates for the specified time period.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the count of all active and loaded daily rates for the defined
        rateplan in a specified time period.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rateplans/{rateplanCode}/rates/{businessDay}:
    get:
      deprecated: false
      description: Read the setup of the daily rate for the defined rateplan for that
        specific business day.
      operationId: RatePlans_GetRate
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to see details for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      - description: The business day you want to get the rate setup for.
        in: path
        name: businessDay
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
          description: Daily rate with room type supplements for the specified rateplan
            and business day.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: "Not Found. The server has not found anything matching the\
            \ Request-URI or the requested\r\n            rateplan could not be found\
            \ or the rate is inactive on this business day."
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the setup of a daily rate for a specific business day and rateplan.
      tags:
      - RatePlans
      x-accepts:
      - application/json
      - text/json
    patch:
      deprecated: false
      description: "The hetras API is using this <a href=\"https://developer.hetras.com/docs/patch\"\
        \ onfocus=\"this.blur()\" target=\"_blank\">Patch Specification</a>\r\n  \
        \          to partially update an existing resource. Currently this call only\
        \ allows to set the base price for non-derived rateplans if the rateplan\r\
        \n            is active and already loaded for the specified business day.\r\
        \n            <br /><br />\r\n            A request example:<br /><pre>\r\n\
        \            [\r\n              {\r\n                \"op\": \"replace\",\
        \ \"path\": \"/base_price\", \"value\": 120.00\r\n              }\r\n    \
        \        ]\r\n            </pre><br />\r\n            For more details on\
        \ how the API responds to errors please check our documentation on \r\n  \
        \          <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"\
        this.blur()\">Error Handling</a>.<br />"
      operationId: RatePlans_PatchRate
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the rateplan belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the rateplan you want to update the daily rate details
          for.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      - description: The business day of the daily rate you want to update.
        in: path
        name: businessDay
        required: true
        schema:
          format: date-time
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RatePatchRequest]"
          text/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RatePatchRequest]"
        description: A set of JSON Patch operations.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: The update was successful
        "400":
          content: {}
          description: Bad request. Request body erroneous.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Partially update a rate of the specified rateplan for a defined business
        day.
      tags:
      - RatePlans
      x-codegen-request-body-name: patchRequest
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/room_types:
    get:
      deprecated: false
      description: With this call you can load the details about a all available room
        types for the specified hotel.
      operationId: RoomTypes_GetRoomTypes
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the room type belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoomType'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoomType'
                type: array
          description: A list of room types for the given hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get a list with the details of all room types for for the specified
        hotel id.
      tags:
      - RoomTypes
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/room_types/{code}:
    get:
      deprecated: false
      description: With this call you can load the details about a specific room type
        in the hotel.
      operationId: RoomTypes_GetRoomType
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the room type belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The code of the room type you want to see details for.
        in: path
        name: code
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomType'
            text/json:
              schema:
                $ref: '#/components/schemas/RoomType'
          description: Room type details for the given room and hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get all the details for a specific room type in the hotel.
      tags:
      - RoomTypes
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rooms:
    get:
      deprecated: false
      description: "Find all rooms for the hotel that match the specified filter criteria.\
        \ The filtering will be done based on the current state of\r\n           \
        \ the rooms."
      operationId: Rooms_GetRooms
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel you are trying to find rooms for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: Return results only for rooms that have the given frontdesk ocuppancy
          status.
        in: query
        name: occupancy
        schema:
          enum:
          - Occupied
          - Vacant
          type: string
      - description: Return results only for rooms that have the given room condition
          status.
        explode: false
        in: query
        name: conditions
        schema:
          items:
            enum:
            - CleanNotInspected
            - Clean
            - Dirty
            type: string
          type: array
        style: form
      - description: Return results only for rooms that have the given maintenance
          status.
        explode: false
        in: query
        name: maintenances
        schema:
          items:
            enum:
            - NotSet
            - None
            - OutOfInventory
            - OutOfOrder
            - OutOfService
            type: string
          type: array
        style: form
      - description: Return result only for rooms for the given room types. Allows
          to pass a comma-separated list of room types.
        explode: false
        in: query
        name: roomTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having all of the given amenities.\
          \ You can provide a comma seperated list of \r\n            amenity codes."
        explode: false
        in: query
        name: amenities
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ views. You can provide a comma seperated list of \r\n            view\
          \ codes."
        explode: false
        in: query
        name: views
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ locations. You can provide a comma seperated list of \r\n            location\
          \ codes."
        explode: false
        in: query
        name: locations
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Amount of items to skip.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      - description: Amount of items to select.
        in: query
        name: top
        schema:
          format: int32
          type: integer
      - description: Return total number of items for a given filter criteria.
        in: query
        name: inlinecount
        schema:
          enum:
          - None
          - AllPages
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
          description: A list of rooms for the hotel based on the set filter criteria.
        "204":
          content: {}
          description: There are no rooms found for the given filtering and pagination
            criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get a list of rooms using the provided filtering and pagination criteria.
      tags:
      - Rooms
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rooms/$count:
    get:
      deprecated: false
      operationId: Rooms_GetRoomsCount
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel you are counting the rooms for.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: Return results only for rooms that have the given frontdesk ocuppancy
          status.
        in: query
        name: occupancy
        schema:
          enum:
          - Occupied
          - Vacant
          type: string
      - description: Return results only for rooms that have the given room condition
          status.
        explode: false
        in: query
        name: conditions
        schema:
          items:
            enum:
            - CleanNotInspected
            - Clean
            - Dirty
            type: string
          type: array
        style: form
      - description: Return results only for rooms that have the given maintenance
          status.
        explode: false
        in: query
        name: maintenances
        schema:
          items:
            enum:
            - NotSet
            - None
            - OutOfInventory
            - OutOfOrder
            - OutOfService
            type: string
          type: array
        style: form
      - description: Return result only for rooms for the given room types. Allows
          to pass a comma-separated list of room types.
        explode: false
        in: query
        name: roomTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having all of the given amenities.\
          \ You can provide a comma seperated list of \r\n            amenity codes."
        explode: false
        in: query
        name: amenities
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ views. You can provide a comma seperated list of \r\n            view\
          \ codes."
        explode: false
        in: query
        name: views
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ locations. You can provide a comma seperated list of \r\n            location\
          \ codes."
        explode: false
        in: query
        name: locations
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TotalCountResponse'
          description: The room count in the hotel matching the given filter criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get the count of all rooms in the hotel matching the given filter criteria.
      tags:
      - Rooms
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rooms/available:
    get:
      deprecated: false
      operationId: Rooms_GetAvailableRooms
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel you are looking for available rooms.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Rooms returned will not be assigned to a reservation or be under\
          \ maintenance between this date\r\n            and the specified to date.\
          \ Still there could be departing reservations or ending maintenances\r\n\
          \            for this date."
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
      - description: "Rooms returned will not be assigned to a reservation or be under\
          \ maintenance between the specified\r\n            from date and this date.\
          \ Still there could be arriving reservations or beginning maintenances\r\
          \n            for this date."
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
      - description: Specifies number of adults the returned rooms will have to be
          able to house. The default value is 1.
        in: query
        name: adults
        schema:
          format: byte
          type: string
      - description: "Should rooms that are set OutOfService in the defined time period\
          \ be returned as available. By default\r\n            they are not."
        in: query
        name: includeOutOfService
        schema:
          type: boolean
      - description: Return result only for rooms for the given room types. Allows
          to pass a comma-separated list of room types.
        explode: false
        in: query
        name: roomTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having all of the given amenities.\
          \ You can provide a comma seperated list of \r\n            amenity codes."
        explode: false
        in: query
        name: amenities
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ views. You can provide a comma seperated list of \r\n            view\
          \ codes."
        explode: false
        in: query
        name: views
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return result only for rooms having at least one of the specified\
          \ locations. You can provide a comma seperated list of \r\n            location\
          \ codes."
        explode: false
        in: query
        name: locations
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Amount of items to skip.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      - description: Amount of items to select.
        in: query
        name: top
        schema:
          format: int32
          type: integer
      - description: Return total number of items for a given filter criteria.
        in: query
        name: inlinecount
        schema:
          enum:
          - None
          - AllPages
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
          description: A list of available rooms in the specified time period.
        "204":
          content: {}
          description: There are no available rooms found for the given criteria.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Request available rooms using a given criteria.
      tags:
      - Rooms
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/rooms/{roomNumber}:
    get:
      deprecated: false
      description: With this call you can load the details about a specific room in
        the hotel. It will show you the current status of the room.
      operationId: Rooms_GetRoom
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the room belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The room number you want to see details for.
        in: path
        name: roomNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
            text/json:
              schema:
                $ref: '#/components/schemas/Room'
          description: Room details for the given room and hotel.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI
            or the requested room could not be found.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Get all the details for a specific room in the hotel.
      tags:
      - Rooms
      x-accepts:
      - application/json
      - text/json
    patch:
      deprecated: false
      description: "The hetras API is using this <a href=\"https://developer.hetras.com/docs/patch\"\
        \ onfocus=\"this.blur()\" target=\"_blank\">Patch Specification</a>\r\n  \
        \          to partially update an existing resource. Currently this call only\
        \ allows to modify condition and housekeeping occupancy status of the room.\r\
        \n            <br /><br />\r\n            A request example:<br /><pre>\r\n\
        \            [\r\n              {\r\n                \"op\": \"replace\",\
        \ \"path\": \"/status/condition\", \"value\": \"CleanNotInspected\"\r\n  \
        \            }, {\r\n                \"op\": \"replace\", \"path\": \"/status/housekeeping_occupancy\"\
        , \"value\": \"Vacant\"\r\n              }\r\n            ]\r\n          \
        \  </pre><br />\r\n            For more details on how the API responds to\
        \ errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\"\
        \ onfocus=\"this.blur()\">Error Handling</a>.<br />"
      operationId: Rooms_PatchRoom
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: The hotel id the room belongs to.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: The room number of the room you would like to update.
        in: path
        name: roomNumber
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RoomPatchRequest]"
          text/json:
            schema:
              $ref: "#/components/schemas/JsonPatchDocument[RoomPatchRequest]"
        description: A set of JSON Patch operations.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: The update was successful
        "400":
          content: {}
          description: Bad request. Request body erroneous.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Partially updates a room.
      tags:
      - Rooms
      x-codegen-request-body-name: patchRequest
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /api/hotel/v0/hotels/{hotelId}/yieldable_rateplans/{rateplanCode}/$rates:
    put:
      deprecated: false
      description: "Saves Yieldable Rate Prices for existing Yieldable Rateplan. The\
        \ rateplan has been created before and with this End Point we \r\n       \
        \     create or update the rate prices. If the Yieldable rateplan prices exist\
        \ it updates them with the new price if not it creates new price entries.<br\
        \ />\r\n            For more details on how the API responds to errors please\
        \ check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\"\
        \ onfocus=\"this.blur()\">Error Handling</a>."
      operationId: YieldableRates_SavePrices
      parameters:
      - description: Application identifier
        in: header
        name: App-Id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Application key.
        in: header
        name: App-Key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - description: Specifies the hotelId which identifies Hotel for which the operation
          will be performed.
        in: path
        name: hotelId
        required: true
        schema:
          format: int32
          type: integer
      - description: Specifies the rateplanCode for which the operation will be performed.
        in: path
        name: rateplanCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/YieldableRateTimeSlice'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/YieldableRateTimeSlice'
              type: array
        description: Specifies the the Yieldable rateplan and prices details to be
          created or updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Saving the Yieldable rateplan prices was successful. You will
            get back the confirmation.
        "400":
          content: {}
          description: Bad request. Request body erroneous.
        "401":
          content: {}
          description: "You provided wrong credentials, or you reached your API limit."
        "403":
          content: {}
          description: The application does not have access to the requested resource.
        "404":
          content: {}
          description: Not Found. The server has not found anything matching the Request-URI.
        "422":
          content: {}
          description: The request failed to validate.
        "500":
          content: {}
          description: We caught an unexpected error on our side. Please report with
            providing the Hetras-Tracking-Id from the response headers and we will
            check the logfiles.
        "503":
          content: {}
          description: The server is currently unavailable. Please try later.
      summary: Saves Yieldable Rate Prices for existing Yieldable Rateplan.
      tags:
      - YieldableRates
      x-codegen-request-body-name: yieldableRatePrices
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
components:
  schemas:
    AccessControlInfo:
      example:
        channel_codes:
        - channel_codes
        - channel_codes
        channel_group: channel_group
      properties:
        channel_codes:
          description: List of codes of distribution channels
          items:
            type: string
          type: array
        channel_group:
          description: Code of the distribution channel group
          type: string
      type: object
    CodeBaseEntry:
      example:
        default: true
        code: code
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        name: name
        id: id
        type: GuestRequest
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        code:
          description: "The code value. This value you will see in reservations as\
            \ market code and in other\r\n            resources like the revenue buckets\
            \ in transactions"
          type: string
        default:
          description: "This attribute tells you if this code is the default code\
            \ for the specific type or not.\r\n            Not all the types of codes\
            \ need to have a default code"
          type: boolean
        id:
          description: The id of the code
          type: string
        name:
          description: The name of the code that usually is more human readable
          type: string
        type:
          description: The type or category of the code
          enum:
          - GuestRequest
          - RequestDietary
          - VIPStatus
          - ReasonForRateChange
          - Regrets
          - MarketSegments
          - SourceOfBusiness
          - LoyaltyProgram
          - CancellationReason
          - AccountType
          - AccountRank
          - VIPLevel
          - Title
          - ContactFunction
          - Territory
          - CorrespondenceType
          - ExternalProgramType
          - RevenueBucket
          - AdditionalRevenueBucket
          - AdditionalStatisticsBuckets
          - MealPeriod
          - BillingCycle
          - ReminderCycle
          - MajorMarketSegments
          - DocumentType
          - ActivityType
          - ReservationLabels
          type: string
      type: object
    CodeFullEntry:
      example:
        parent:
          default: true
          code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          id: id
          type: GuestRequest
        default: true
        code: code
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        name: name
        comment: comment
        id: id
        type: GuestRequest
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        code:
          description: "The code value. This value you will see in reservations as\
            \ market code and in other\r\n            resources like the revenue buckets\
            \ in transactions"
          type: string
        comment:
          description: The comment for this code
          type: string
        default:
          description: "This attribute tells you if this code is the default code\
            \ for the specific type or not.\r\n            Not all the types of codes\
            \ need to have a default code"
          type: boolean
        id:
          description: The id of the code
          type: string
        name:
          description: The name of the code that usually is more human readable
          type: string
        parent:
          $ref: '#/components/schemas/CodeBaseEntry'
        type:
          description: The type or category of the code
          enum:
          - GuestRequest
          - RequestDietary
          - VIPStatus
          - ReasonForRateChange
          - Regrets
          - MarketSegments
          - SourceOfBusiness
          - LoyaltyProgram
          - CancellationReason
          - AccountType
          - AccountRank
          - VIPLevel
          - Title
          - ContactFunction
          - Territory
          - CorrespondenceType
          - ExternalProgramType
          - RevenueBucket
          - AdditionalRevenueBucket
          - AdditionalStatisticsBuckets
          - MealPeriod
          - BillingCycle
          - ReminderCycle
          - MajorMarketSegments
          - DocumentType
          - ActivityType
          - ReservationLabels
          type: string
      type: object
    CodesListRequest:
      properties:
        code:
          description: "Return all results matching the specified code. A code is\
            \ unique in combination with the type\r\n            which means when\
            \ you query for a code you could get multiple results each for a different\
            \ type"
          type: string
        type:
          description: Return all codes for the specified type
          enum:
          - GuestRequest
          - RequestDietary
          - VIPStatus
          - ReasonForRateChange
          - Regrets
          - MarketSegments
          - SourceOfBusiness
          - LoyaltyProgram
          - CancellationReason
          - AccountType
          - AccountRank
          - VIPLevel
          - Title
          - ContactFunction
          - Territory
          - CorrespondenceType
          - ExternalProgramType
          - RevenueBucket
          - AdditionalRevenueBucket
          - AdditionalStatisticsBuckets
          - MealPeriod
          - BillingCycle
          - ReminderCycle
          - MajorMarketSegments
          - DocumentType
          - ActivityType
          - ReservationLabels
          type: string
      type: object
    CodesListResponse:
      example:
        codes:
        - default: true
          code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          id: id
          type: GuestRequest
        - default: true
          code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          id: id
          type: GuestRequest
      properties:
        codes:
          description: The list of codes matching the defined filter criteria
          items:
            $ref: '#/components/schemas/CodeBaseEntry'
          type: array
      type: object
    DatePeriod:
      example:
        from: 2000-01-23T04:56:07.000+00:00
        to: 2000-01-23T04:56:07.000+00:00
      properties:
        from:
          description: Start Date for this time period
          format: date-time
          type: string
        to:
          description: End Date for this time period
          format: date-time
          type: string
      type: object
    Derivation:
      example:
        adjustment: Amount
        base_rateplan:
          code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
      properties:
        adjustment:
          description: Mode for the calculation of the daily rates adjustment
          enum:
          - Amount
          - Percentage
          type: string
        base_rateplan:
          $ref: '#/components/schemas/RelatedRateplan'
      type: object
    EmbeddedReservation:
      description: Basic data about a reservation
      example:
        reservation_status: Tentative
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        departure_date: 2000-01-23T04:56:07.000+00:00
        confirmation_id: confirmation_id
        arrival_date: 2000-01-23T04:56:07.000+00:00
        reservation_number: 2
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        arrival_date:
          description: The arrival date of the guests
          format: date-time
          type: string
        confirmation_id:
          description: "he confirmation id for the booking which the guest can use\
            \ to check in on the kiosk, add the \r\n            booking to the mobile\
            \ app etc. It is used as identifier for all reservations done with the\
            \ \r\n            same booking request"
          type: string
        departure_date:
          description: The departure date of the guests
          format: date-time
          type: string
        reservation_number:
          description: The reservation number of the reservation
          format: int32
          type: integer
        reservation_status:
          description: The current status of this reservation
          enum:
          - Tentative
          - Waitlisted
          - OnRequest
          - NonGuaranteed
          - Guaranteed
          - InHouse
          - CheckedOut
          - NoShow
          - Denied
          - Cancelled
          - Released
          - Walked
          - Expired
          - WalkIn
          - Registered
          type: string
      required:
      - arrival_date
      - confirmation_id
      - departure_date
      - reservation_number
      - reservation_status
      type: object
    EmbeddedRoomType:
      description: "Basic data for a room type. To get the full details please follow\
        \ the self link\r\n            from the links collection"
      example:
        code: code
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        name: name
        description: description
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        code:
          description: Code of the room type
          type: string
        description:
          description: Description of the room type
          type: string
        name:
          description: Name of the room type
          type: string
      type: object
    EmbeddedRoomTypeSimple:
      description: Contains only a basic information about a room type. No cross-links
        available as well.
      example:
        code: code
        name: name
        description: description
      properties:
        code:
          description: Code of the room type
          type: string
        description:
          description: Description of the room type
          type: string
        name:
          description: Name of the room type
          type: string
      type: object
    EmbeddedRoomWithStatus:
      example:
        number: number
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        updated: 2000-01-23T04:56:07.000+00:00
        room_type:
          code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          description: description
        status:
          housekeeping_occupancy: Occupied
          condition: CleanNotInspected
          frontdesk_occupancy: Occupied
          maintenance:
            reason: reason
            from: from
            to: to
            value: NotSet
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        created:
          description: Timestamp the room was created
          format: date-time
          type: string
        description:
          description: Description of the room
          type: string
        name:
          description: Name of the room
          type: string
        number:
          description: Number of the room
          type: string
        room_type:
          $ref: '#/components/schemas/EmbeddedRoomType'
        status:
          $ref: '#/components/schemas/RoomStatus'
        updated:
          description: Timestamp of when the room was changed the last time
          format: date-time
          type: string
      type: object
    ExtendedRateplanEntry:
      example:
        code: code
        _links:
          key:
            hreflang: hreflang
            templated: true
            profile: profile
            name: name
            href: href
            deprecation: deprecation
            title: title
            type: type
        noshow_policy: noshow_policy
        description: description
        taxes_included: true
        is_yieldable: true
        included_services:
        - included_services
        - included_services
        derived_rateplans:
        - code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
        - code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
        booking_periods:
        - from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        - from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        room_types:
        - code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          description: description
        - code: code
          _links:
            key:
              hreflang: hreflang
              templated: true
              profile: profile
              name: name
              href: href
              deprecation: deprecation
              title: title
              type: type
          name: name
          description: description
        folio_name: folio_name
        group:
          code: code
          name: name
        visibility: Public
        created: 2000-01-23T04:56:07.000+00:00
        access_control:
        - channel_codes:
          - channel_codes
          - channel_codes
          channel_group: channel_group
        - channel_codes:
          - channel_codes
          - channel_codes
          channel_group: channel_group
        active: true
        restrictions:
          max_advance_booking: 6
          leadtime_to_book: 0
        market_code: market_code
        suspended: true
        active_periods:
        - from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        - from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        day_use: true
        commissionable: true
        name: name
        derivation:
          adjustment: Amount
          base_rateplan:
            code: code
            _links:
              key:
                hreflang: hreflang
                templated: true
                profile: profile
                name: name
                href: href
                deprecation: deprecation
                title: title
                type: type
            name: name
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        _links:
          additionalProperties:
            $ref: '#/components/schemas/LinkObject'
          description: Collection of links to related resources
          type: object
        access_control:
          description: List of distribution channel groups and channels the rateplan
            is sold through
          items:
            $ref: '#/components/schemas/AccessControlInfo'
          type: array
        active:
          description: Defines if the rateplan has been ended and is expired
          type: boolean
        active_periods:
          description: "List of active periods. Arrival and departure day for reservations\
            \ based on this rateplan need to\r\n            fit into one of these\
            \ time periods"
          items:
            $ref: '#/components/schemas/DatePeriod'
          type: array
        booking_periods:
          description: List of booking periods. During these time periods the rateplan
            is sold
          items:
            $ref: '#/components/schemas/DatePeriod'
          type: array
        code:
          description: Code of the rateplan
          type: string
        commissionable:
          description: Defines if this rateplan is setup with a commission
          type: boolean
        created:
          description: Timestamp the rateplan was created
          format: date-time
          type: string
        day_use:
          description: Defines if this rateplan is used for day use reservations
          type: boolean
        derivation:
          $ref: '#/components/schemas/Derivation'
        derived_rateplans:
          description: Details about all the derived rateplans if any
          items:
            $ref: '#/components/schemas/RelatedRateplan'
          type: array
        description:
          description: Description of the rateplan
          type: string
        folio_name:
          description: "Text defining how the room charges for this rateplan are shown\
            \ on the folio and\r\n            invoice for the guest"
          type: string
        group:
          $ref: '#/components/schemas/RateplanGroup'
        included_services:
          description: List of codes for the included services sold with this rateplan
          items:
            type: string
          type: array
        is_yieldable:
          description: Gives the information if this rateplan is Yieldable rateplan
          type: boolean
        market_code:
          description: The code of the market segment the rate plan is linked to
          type: string
        name:
          description: Name of the rateplan
          type: string
        noshow_policy:
          description: The code of the noshow policy for this rateplan
          type: string
        restrictions:
          $ref: '#/components/schemas/Restrictions'
        room_types:
          description: List of all room types sold through this rateplan
          items:
            $ref: '#/components/schemas/EmbeddedRoomType'
          type: array
        suspended:
          description: "Defines if a rateplan is suspended and no new reservations\
            \ can be created for this\r\n            rateplan at the moment"
          type: boolean
        taxes_included:
          description: Defines if the daily rates include VAT or not
          type: boolean
        updated:
          description: Timestamp of when the rateplan was changed the last time
          format: date-time
          type: string
        visibility:
          description: Defines if this rateplan is visible to the public or only for
            specific customers
          enum:
          - Public
          - Negotiated
          type: string
      type: object
    GetAvailableRoomsRequest:
      properties:
        adults:
          description: Specifies number of adults the returned rooms will have to
            be able to house. The default value is 1.
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        amenities:
          description: "Return result only for rooms having all of the given amenities.\
            \ You can provide a comma seperated list of \r\n            amenity codes."
          items:
            type: string
          type: array
        from:
          description: "Rooms returned will not be assigned to a reservation or be\
            \ under maintenance between this date\r\n            and the specified\
            \ to date. Still there could be departing reservations or ending maintenances\r\
            \n            for this date."
          format: date-time
          type: string
        includeOutOfService:
          description: "Should rooms that are set OutOfService in the defined time\
            \ period be returned as available. By default\r\n            they are\
            \ not."
          type: boolean
        locations:
          description: "Return result only for rooms having at least one of the specified\
            \ locations. You can provide a comma seperated list of \r\n          \
            \  location codes."
          items:
            type: string
          type: array
        roomTypes:
          description: Return result only for rooms for the given room types. Allows
            to pass a comma-separated list of room types.
          items:
            type: string
          type: array
        to:
          description: "Rooms returned will not be assigned to a reservation or be\
            \ under maintenance between the specified\r\n            from date and\
            \ this date. Still there could be arriving reservations or beginning maintenances\r\
            \n            for this date."
          format: date-time
          type: string
        views:
          description: "Return result only for rooms having at least one of the specified\
            \ views. You can provide a comma seperated list of \r\n            view\
            \ codes."
          items:
            type: string
          type: array
      required:
      - from
      - to
      type: object
    GetRatesRequest:
      properties:
        Expand:
          description: You can expand the supplements per room type on demand. By
            default they are not shown.
          enum:
          - RoomTypeSupplements
          type: string
        From:
          description: "Defines the last business day you would like to get rates\
            \ for. The maximum time span between <i>from</i>´and <i>to</i>\r\n   \
            \         is limited to 365 days."
          format: date-time
          type: string
        To:
          description: Defines the first business day you would like to get rates
            for.
          format: date-time
          type: string
      required:
      - From
      - To
      type: object
    GetRoomListRequest:
      properties:
        amenities:
          description: "Return result only for rooms having all of the given amenities.\
            \ You can provide a comma seperated list of \r\n            amenity codes."
          items:
            type: string
          type: array
        conditions:
          description: Return results only for rooms that have the given room condition
            status.
          items:
            enum:
            - CleanNotInspected
            - Clean
            - Dirty
            type: string
          type: array
        locations:
          description: "Return result only for rooms having at least one of the specified\
            \ locations. You can provide a comma seperated list of \r\n          \
            \  location codes."
          items:
            type: string
          type: array
        maintenances:
          description: Return results only for rooms that have the given maintenance
            status.
          items:
            enum:
            - NotSet
            - None
            - OutOfInventory
            - OutOfOrder
            - OutOfService
            type: string
          type: array
        occupancy:
[...]
