openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/availableServiceAliases.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: network-availableServiceAliases
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableServiceAliases:
    get:
      description: Gets all available service aliases for this subscription in this
        region.
      operationId: available_service_aliases_list
      parameters:
      - description: The location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableServiceAliasesResult'
          description: Request successful. Returns all available service aliases for
            the subscription in the region.
      x-ms-examples:
        Get available service aliases:
          parameters:
            api-version: 2019-08-01
            location: westcentralus
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure
                  name: servicesAzure
                  resourceName: /services/Azure
                  type: Microsoft.Network/AvailableServiceAliases
                - id: /subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureManagedInstance
                  name: servicesAzureManagedInstance
                  resourceName: /services/Azure/ManagedInstance
                  type: Microsoft.Network/AvailableServiceAliases
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableServiceAliases
  : get:
      description: Gets all available service aliases for this resource group in this
        region.
      operationId: available_service_aliases_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableServiceAliasesResult'
          description: Request successful. Returns all available service aliases for
            the resource group in the region.
      x-ms-examples:
        Get available service aliases in the resource group:
          parameters:
            api-version: 2019-08-01
            location: westcentralus
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure
                  name: servicesAzure
                  resourceName: /services/Azure
                  type: Microsoft.Network/AvailableServiceAliases
                - id: /subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureManagedInstance
                  name: servicesAzureManagedInstance
                  resourceName: /services/Azure/ManagedInstance
                  type: Microsoft.Network/AvailableServiceAliases
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    AvailableServiceAlias:
      description: The available service alias.
      example:
        name: name
        resourceName: resourceName
        id: id
        type: type
      properties:
        id:
          description: The ID of the service alias.
          title: id
          type: string
        name:
          description: The name of the service alias.
          title: name
          type: string
        resourceName:
          description: The resource name of the service alias.
          title: resourceName
          type: string
        type:
          description: The type of the resource.
          title: type
          type: string
      title: AvailableServiceAlias
      type: object
    AvailableServiceAliasesResult:
      description: An array of available service aliases.
      example:
        value:
        - name: name
          resourceName: resourceName
          id: id
          type: type
        - name: name
          resourceName: resourceName
          id: id
          type: type
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: An array of available service aliases.
          items:
            $ref: '#/components/schemas/AvailableServiceAlias'
          title: value
          type: array
      title: AvailableServiceAliasesResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
