openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Web Fonts Developer API lets you retrieve information about
    web fonts served by Google.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Web Fonts Developer API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://webfonts.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: webfonts
externalDocs:
  url: https://developers.google.com/fonts/docs/developer_api
servers:
- url: https://webfonts.googleapis.com/
tags:
- name: webfonts
paths:
  /v1/webfonts:
    get:
      description: Retrieves the list of fonts currently served by the Google Fonts
        Developer API.
      operationId: webfonts.webfonts.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the font urls in `Webfont.files`, by default, static\
          \ ttf fonts are sent."
        explode: true
        in: query
        name: capability
        required: false
        schema:
          items:
            enum:
            - CAPABILITY_UNSPECIFIED
            - WOFF2
            - VF
            type: string
          type: array
        style: form
      - description: "Filters by Webfont.family, using literal match. If not set,\
          \ returns all families"
        explode: true
        in: query
        name: family
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Enables sorting of the list.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - SORT_UNDEFINED
          - ALPHA
          - DATE
          - POPULARITY
          - STYLE
          - TRENDING
          type: string
        style: form
      - description: "Filters by Webfont.subset, if subset is found in Webfont.subsets.\
          \ If not set, returns all families."
        explode: true
        in: query
        name: subset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebfontList'
          description: Successful response
      tags:
      - webfonts
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Axis:
      description: Metadata for a variable font axis.
      example:
        start: 6.0274563
        end: 0.8008282
        tag: tag
      properties:
        end:
          description: maximum value
          format: float
          type: number
        start:
          description: minimum value
          format: float
          type: number
        tag:
          description: tag name.
          type: string
      type: object
    Webfont:
      description: Metadata describing a family of fonts.
      example:
        kind: kind
        axes:
        - start: 6.0274563
          end: 0.8008282
          tag: tag
        - start: 6.0274563
          end: 0.8008282
          tag: tag
        files:
          key: files
        lastModified: lastModified
        variants:
        - variants
        - variants
        category: category
        family: family
        menu: menu
        version: version
        subsets:
        - subsets
        - subsets
      properties:
        axes:
          description: Axis for variable fonts.
          items:
            $ref: '#/components/schemas/Axis'
          type: array
        category:
          description: The category of the font.
          type: string
        family:
          description: The name of the font.
          type: string
        files:
          additionalProperties:
            type: string
          description: "The font files (with all supported scripts) for each one of\
            \ the available variants, as a key : value map."
          type: object
        kind:
          description: This kind represents a webfont object in the webfonts service.
          type: string
        lastModified:
          description: The date (format "yyyy-MM-dd") the font was modified for the
            last time.
          type: string
        menu:
          description: "Font URL for menu subset, a subset of the font that is enough\
            \ to display the font name"
          type: string
        subsets:
          description: The scripts supported by the font.
          items:
            type: string
          type: array
        variants:
          description: The available variants for the font.
          items:
            type: string
          type: array
        version:
          description: The font version.
          type: string
      type: object
    WebfontList:
      description: Response containing the list of fonts currently served by the Google
        Fonts API.
      example:
        kind: kind
        items:
        - kind: kind
          axes:
          - start: 6.0274563
            end: 0.8008282
            tag: tag
          - start: 6.0274563
            end: 0.8008282
            tag: tag
          files:
            key: files
          lastModified: lastModified
          variants:
          - variants
          - variants
          category: category
          family: family
          menu: menu
          version: version
          subsets:
          - subsets
          - subsets
        - kind: kind
          axes:
          - start: 6.0274563
            end: 0.8008282
            tag: tag
          - start: 6.0274563
            end: 0.8008282
            tag: tag
          files:
            key: files
          lastModified: lastModified
          variants:
          - variants
          - variants
          category: category
          family: family
          menu: menu
          version: version
          subsets:
          - subsets
          - subsets
      properties:
        items:
          description: The list of fonts currently served by the Google Fonts API.
          items:
            $ref: '#/components/schemas/Webfont'
          type: array
        kind:
          description: This kind represents a list of webfont objects in the webfonts
            service.
          type: string
      type: object

