openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/certificate.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-certificate
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates
  : get:
      description: Retrieve a list of certificates.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      operationId: Certificate_ListByAutomationAccount
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        List certificates:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                  name: testCert
                  properties:
                    creationTime: 2017-03-29T17:26:43.337+00:00
                    description: Sample Cert
                    expiryTime: 2018-03-29T17:25:45+00:00
                    isExportable: false
                    lastModifiedTime: 2017-03-29T17:28:55.01+00:00
                    thumbprint: thumbprint of cert
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates/{certificateName}
  : delete:
      description: Delete the certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      operationId: Certificate_Delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of certificate.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        Delete a certificate:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve the certificate identified by certificate name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      operationId: Certificate_Get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of certificate.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        Get a certificate:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: 2017-03-29T17:26:43.337+00:00
                  description: Sample Cert
                  expiryTime: 2018-03-29T17:25:45+00:00
                  isExportable: false
                  lastModifiedTime: 2017-03-29T17:28:55.01+00:00
                  thumbprint: thumbprint of cert
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update a certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      operationId: Certificate_Update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parameters supplied to the update certificate operation.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateUpdateParameters'
        description: The parameters supplied to the update certificate operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        Update a certificate:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            parameters:
              name: testCert
              properties:
                description: sample certificate. Description updated
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: 2017-03-29T17:26:43.337+00:00
                  description: sample certificate. Description updated
                  expiryTime: 2018-03-29T17:25:45+00:00
                  isExportable: false
                  lastModifiedTime: 2017-03-29T17:28:55.01+00:00
                  thumbprint: thumbprint of cert
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      operationId: Certificate_CreateOrUpdate
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parameters supplied to the create or update certificate operation.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: The parameters supplied to the create or update certificate operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        Create or update a certificate:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount18
            certificateName: testCert
            parameters:
              name: testCert
              properties:
                base64Value: base 64 value of cert
                description: Sample Cert
                isExportable: false
                thumbprint: thumbprint of cert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: 2017-03-29T17:26:43.337+00:00
                  description: sample certificate. Description updated
                  expiryTime: 2018-03-29T17:25:45+00:00
                  isExportable: false
                  lastModifiedTime: 2017-03-29T17:28:55.01+00:00
                  thumbprint: thumbprint of cert
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: 2017-03-29T17:26:43.337+00:00
                  description: Sample Cert
                  expiryTime: 2018-03-29T17:25:45+00:00
                  isExportable: false
                  lastModifiedTime: 2017-03-29T17:26:43.337+00:00
                  thumbprint: thumbprint of cert
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Certificate:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Definition of the certificate.
      example:
        properties:
          isExportable: true
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          expiryTime: 2000-01-23T04:56:07.000+00:00
          thumbprint: thumbprint
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/CertificateProperties'
    CertificateCreateOrUpdateParameters:
      description: The parameters supplied to the create or update or replace certificate
        operation.
      example:
        name: name
        properties:
          isExportable: true
          base64Value: base64Value
          thumbprint: thumbprint
          description: description
      properties:
        name:
          description: Gets or sets the name of the certificate.
          type: string
        properties:
          $ref: '#/components/schemas/CertificateCreateOrUpdateProperties'
      required:
      - name
      - properties
      type: object
    CertificateCreateOrUpdateProperties:
      description: The properties of the create certificate operation.
      example:
        isExportable: true
        base64Value: base64Value
        thumbprint: thumbprint
        description: description
      properties:
        base64Value:
          description: Gets or sets the base64 encoded value of the certificate.
          type: string
        description:
          description: Gets or sets the description of the certificate.
          type: string
        isExportable:
          description: Gets or sets the is exportable flag of the certificate.
          nullable: false
          type: boolean
        thumbprint:
          description: Gets or sets the thumbprint of the certificate.
          type: string
      required:
      - base64Value
      type: object
    CertificateListResult:
      description: The response model for the list certificate operation.
      example:
        value:
        - properties:
            isExportable: true
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            expiryTime: 2000-01-23T04:56:07.000+00:00
            thumbprint: thumbprint
            description: description
        - properties:
            isExportable: true
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            expiryTime: 2000-01-23T04:56:07.000+00:00
            thumbprint: thumbprint
            description: description
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of certificates.
          items:
            $ref: '#/components/schemas/Certificate'
          type: array
      type: object
    CertificateProperties:
      description: Properties of the certificate.
      example:
        isExportable: true
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        expiryTime: 2000-01-23T04:56:07.000+00:00
        thumbprint: thumbprint
        description: description
      properties:
        creationTime:
          description: Gets the creation time.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        description:
          description: Gets or sets the description.
          type: string
        expiryTime:
          description: Gets the expiry time of the certificate.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        isExportable:
          description: Gets the is exportable flag of the certificate.
          nullable: false
          readOnly: true
          type: boolean
        lastModifiedTime:
          description: Gets the last modified time.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        thumbprint:
          description: Gets the thumbprint of the certificate.
          readOnly: true
          type: string
      type: object
    CertificateUpdateParameters:
      description: The parameters supplied to the update certificate operation.
      example:
        name: name
        properties:
          description: description
      properties:
        name:
          description: Gets or sets the name of the certificate.
          type: string
        properties:
          $ref: '#/components/schemas/CertificateUpdateProperties'
      type: object
    CertificateUpdateProperties:
      description: The properties of the update certificate operation
      example:
        description: description
      properties:
        description:
          description: Gets or sets the description of the certificate.
          type: string
      type: object
    Certificate_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

