openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Autopilot
  version: 1.53.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_autopilot_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_autopilot_v1
servers:
- url: https://autopilot.twilio.com
tags:
- name: AutopilotV1Assistant
- name: AutopilotV1Defaults
- name: AutopilotV1Dialogue
- name: AutopilotV1Field
- name: AutopilotV1FieldType
- name: AutopilotV1FieldValue
- name: AutopilotV1ModelBuild
- name: AutopilotV1Query
- name: AutopilotV1RestoreAssistant
- name: AutopilotV1Sample
- name: AutopilotV1StyleSheet
- name: AutopilotV1Task
- name: AutopilotV1TaskActions
- name: AutopilotV1TaskStatistics
- name: AutopilotV1Webhook
paths:
  /v1/Assistants:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_assistant
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssistantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Assistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_assistant_controller
    post:
      description: ""
      operationId: create_assistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Assistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_assistant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        defaults:
          mapping:
            assistant_sid: sid
          resource_url: /v1None
        dialogues:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Dialogues"
        field_types:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/FieldTypes"
        model_builds:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/ModelBuilds"
        queries:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Queries"
        style_sheet:
          mapping:
            assistant_sid: sid
          resource_url: /v1None
        tasks:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks"
        webhooks:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Webhooks"
      pathType: list
  /v1/Assistants/Restore:
    description: "TODO: Resource-level docs"
    post:
      description: ""
      operationId: update_restore_assistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRestoreAssistantRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.restore_assistant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1RestoreAssistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_restore_assistant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - sid
      - unique_name
      - friendly_name
      mountName: restore_assistant
      pathType: list
  /v1/Assistants/{AssistantSid}/Defaults:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_defaults
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.defaults'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Defaults
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_defaults_controller
    post:
      description: ""
      operationId: update_defaults
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDefaultsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.defaults'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Defaults
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_defaults_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      className: defaults
      defaultOutputProperties:
      - data
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Dialogues:
    description: "TODO: Resource-level docs"
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - data
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Dialogues/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_dialogue
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Dialogue
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.dialogue'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Dialogue
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_dialogue_controller
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - data
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/FieldTypes:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_field_type
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldType
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_type_controller
    post:
      description: ""
      operationId: create_field_type
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFieldTypeRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.field_type'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldType
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_type_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        field_values:
          mapping:
            assistant_sid: assistant_sid
            field_type_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/FieldTypes/{field_type_sid}/FieldValues"
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_field_value
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the FieldType associated with the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Field Type associated with the Field Value to
          read.
        explode: false
        in: path
        name: FieldTypeSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html)\
          \ tag that specifies the language of the value. Currently supported tags:\
          \ `en-US`"
        explode: true
        in: query
        name: Language
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValueResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldValue
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_value_controller
    post:
      description: ""
      operationId: create_field_value
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the FieldType associated with the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Field Type associated with the Field Value.
        explode: false
        in: path
        name: FieldTypeSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFieldValueRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.field_type.field_value'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldValue
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_value_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - value
      - language
      parent: "/Assistants/{AssistantSid}/FieldTypes/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues/{Sid}:
    delete:
      description: ""
      operationId: delete_field_value
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the FieldType associated with the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Field Type associated with the Field Value to
          delete.
        explode: false
        in: path
        name: FieldTypeSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FieldValue
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldValue
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_value_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_field_value
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the FieldType associated with the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Field Type associated with the Field Value to
          fetch.
        explode: false
        in: path
        name: FieldTypeSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FieldValue
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.field_type.field_value'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldValue
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_value_controller
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - value
      - language
      parent: "/Assistants/{AssistantSid}/FieldTypes/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/FieldTypes/{Sid}:
    delete:
      description: ""
      operationId: delete_field_type
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FieldType
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldType
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_type_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_field_type
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FieldType
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.field_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldType
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_type_controller
    post:
      description: ""
      operationId: update_field_type
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FieldType
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFieldTypeRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.field_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1FieldType
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_type_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        field_values:
          mapping:
            assistant_sid: assistant_sid
            field_type_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/FieldTypes/{field_type_sid}/FieldValues"
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/ModelBuilds:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_model_build
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelBuildResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1ModelBuild
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_model_build_controller
    post:
      description: ""
      operationId: create_model_build
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateModelBuildRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.model_build'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1ModelBuild
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_model_build_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - status
      - date_created
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/ModelBuilds/{Sid}:
    delete:
      description: ""
      operationId: delete_model_build
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the ModelBuild
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1ModelBuild
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_model_build_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_model_build
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the ModelBuild
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.model_build'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1ModelBuild
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_model_build_controller
    post:
      description: ""
      operationId: update_model_build
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the ModelBuild
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateModelBuildRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.model_build'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1ModelBuild
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_model_build_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - status
      - date_created
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Queries:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_query
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html)\
          \ string that specifies the language used by the Query resources to read.\
          \ For example: `en-US`."
        explode: true
        in: query
        name: Language
        required: false
        schema:
          type: string
        style: form
      - description: "The SID or unique name of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build)\
          \ to be queried."
        explode: true
        in: query
        name: ModelBuild
        required: false
        schema:
          type: string
        style: form
      - description: "The status of the resources to read. Can be: `pending-review`,\
          \ `reviewed`, or `discarded`"
        explode: true
        in: query
        name: Status
        required: false
        schema:
          type: string
        style: form
      - description: "The SID of the [Dialogue](https://www.twilio.com/docs/autopilot/api/dialogue)."
        explode: true
        in: query
        name: DialogueSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UK[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Query
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_query_controller
    post:
      description: ""
      operationId: create_query
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQueryRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.query'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Query
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_query_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - query
      - status
      - language
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Queries/{Sid}:
    delete:
      description: ""
      operationId: delete_query
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Query
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Query
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_query_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_query
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Query
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.query'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Query
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_query_controller
    post:
      description: ""
      operationId: update_query
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Query
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateQueryRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.query'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Query
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_query_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - query
      - status
      - language
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/StyleSheet:
    description: "TODO: Resource-level docs"
    get:
      description: Returns Style sheet JSON object for the Assistant
      operationId: fetch_style_sheet
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.style_sheet'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1StyleSheet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_style_sheet_controller
    post:
      description: Updates the style sheet for an Assistant identified by `assistant_sid`.
      operationId: update_style_sheet
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateStyleSheetRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.style_sheet'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1StyleSheet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_style_sheet_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - data
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Tasks:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_task
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaskResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Task
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_controller
    post:
      description: ""
      operationId: create_task
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Task
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        fields:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks/{task_sid}/Fields"
        samples:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks/{task_sid}/Samples"
        statistics:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: /v1None
        task_actions:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: /v1None
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Tasks/{Sid}:
    delete:
      description: ""
      operationId: delete_task
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Task
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Task
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_task
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Task
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Task
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_controller
    post:
      description: ""
      operationId: update_task
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Task
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Task
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        fields:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks/{task_sid}/Fields"
        samples:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks/{task_sid}/Samples"
        statistics:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: /v1None
        task_actions:
          mapping:
            assistant_sid: assistant_sid
            task_sid: sid
          resource_url: /v1None
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Actions:
    description: "TODO: Resource-level docs"
    get:
      description: Returns JSON actions for the Task.
      operationId: fetch_task_actions
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task for which the task actions to fetch were\
          \ defined."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ for which the task actions to fetch were defined."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.task_actions'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1TaskActions
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_actions_controller
    post:
      description: "Updates the actions of an Task identified by {TaskSid} or {TaskUniqueName}."
      operationId: update_task_actions
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task for which the task actions to update were\
          \ defined."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ for which the task actions to update were defined."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTaskActionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.task_actions'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1TaskActions
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_actions_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      className: task_actions
      defaultOutputProperties:
      - data
      mountName: task_actions
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_field
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ resource associated with the Field resources to read."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Field
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_controller
    post:
      description: ""
      operationId: create_field
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ resource associated with the new Field resource."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFieldRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.field'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Field
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - field_type
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields/{Sid}:
    delete:
      description: ""
      operationId: delete_field
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ resource associated with the Field resource to delete."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Field
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Field
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_field
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ resource associated with the Field resource to fetch."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Field
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.field'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Field
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_field_controller
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - field_type
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sample
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ associated with the Sample resources to read."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html)\
          \ string that specifies the language used for the sample. For example: `en-US`."
        explode: true
        in: query
        name: Language
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSampleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Sample
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_sample_controller
    post:
      description: ""
      operationId: create_sample
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ associated with the Sample resource to create."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSampleRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.sample'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Sample
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_sample_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - tagged_text
      - language
      - source_channel
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples/{Sid}:
    delete:
      description: ""
      operationId: delete_sample
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ associated with the Sample resource to delete."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Sample
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Sample
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_sample_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_sample
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ associated with the Sample resource to create."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Sample
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.sample'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Sample
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_sample_controller
    post:
      description: ""
      operationId: update_sample
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the Task associated with the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ associated with the Sample resource to update."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Sample
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSampleRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.sample'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Sample
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_sample_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - tagged_text
      - language
      - source_channel
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Statistics:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_task_statistics
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task)\
          \ that is associated with the resource to fetch."
        explode: false
        in: path
        name: TaskSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.task.task_statistics'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1TaskStatistics
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_task_statistics_controller
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      className: task_statistics
      defaultOutputProperties:
      - samples_count
      - fields_count
      parent: "/Assistants/{AssistantSid}/Tasks/{Sid}"
      pathType: instance
  /v1/Assistants/{AssistantSid}/Webhooks:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_webhook
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to read."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Webhook
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_webhook_controller
    post:
      description: ""
      operationId: create_webhook
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the new resource."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.webhook'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Webhook
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - events
      - wehbook_url
      - webhook_method
      parent: "/Assistants/{Sid}"
      pathType: list
  /v1/Assistants/{AssistantSid}/Webhooks/{Sid}:
    delete:
      description: ""
      operationId: delete_webhook
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resources to delete."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Webhook
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_webhook_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_webhook
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to fetch."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Webhook
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_webhook_controller
    post:
      description: ""
      operationId: update_webhook
      parameters:
      - description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
          \ that is the parent of the resource to update."
        explode: false
        in: path
        name: AssistantSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant.webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Webhook
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - events
      - wehbook_url
      - webhook_method
      parent: "/Assistants/{Sid}"
      pathType: instance
  /v1/Assistants/{Sid}:
    delete:
      description: ""
      operationId: delete_assistant
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Assistant
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Assistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_assistant_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_assistant
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Assistant
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Assistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_assistant_controller
    post:
      description: ""
      operationId: update_assistant
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Assistant
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilot.v1.assistant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - AutopilotV1Assistant
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.autopilot_v1_assistant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        defaults:
          mapping:
            assistant_sid: sid
          resource_url: /v1None
        dialogues:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Dialogues"
        field_types:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/FieldTypes"
        model_builds:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/ModelBuilds"
        queries:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Queries"
        style_sheet:
          mapping:
            assistant_sid: sid
          resource_url: /v1None
        tasks:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Tasks"
        webhooks:
          mapping:
            assistant_sid: sid
          resource_url: "/v1/Assistants/{assistant_sid}/Webhooks"
      pathType: instance
components:
  schemas:
    autopilot.v1.assistant:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        latest_model_build_sid: latest_model_build_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        url: https://openapi-generator.tech
        sid: sid
        callback_url: https://openapi-generator.tech
        unique_name: unique_name
        account_sid: account_sid
        links: "{}"
        callback_events: callback_events
        development_stage: development_stage
        log_queries: true
        needs_model_build: true
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Assistant resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        callback_events:
          description: Reserved.
          nullable: true
          title: callback_events
          type: string
        callback_url:
          description: Reserved.
          format: uri
          nullable: true
          title: callback_url
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        development_stage:
          description: A string describing the state of the assistant.
          nullable: true
          title: development_stage
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource. It is
            not unique and can be up to 255 characters long.
          nullable: true
          title: friendly_name
          type: string
        latest_model_build_sid:
          description: Reserved.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UG[0-9a-fA-F]{32}$"
          title: latest_model_build_sid
          type: string
        links:
          description: A list of the URLs of the Assistant's related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        log_queries:
          description: "Whether queries should be logged and kept after training.\
            \ Can be: `true` or `false` and defaults to `true`. If `true`, queries\
            \ are stored for 30 days, and then deleted. If `false`, no queries are\
            \ stored."
          nullable: true
          title: log_queries
          type: boolean
        needs_model_build:
          description: Whether model needs to be rebuilt.
          nullable: true
          title: needs_model_build
          type: boolean
        sid:
          description: The unique string that we created to identify the Assistant
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource. It can be up to 64 characters long.
          nullable: true
          title: unique_name
          type: string
        url:
          description: The absolute URL of the Assistant resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant
      type: object
    autopilot.v1.assistant.defaults:
      example:
        data: ""
        assistant_sid: assistant_sid
        account_sid: account_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Defaults resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        data:
          description: "The JSON string that describes the default task links for\
            \ the `assistant_initiation`, `collect`, and `fallback` situations."
          nullable: true
          title: data
        url:
          description: The absolute URL of the Defaults resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant.defaults
      type: object
    autopilot.v1.assistant.dialogue:
      example:
        data: ""
        assistant_sid: assistant_sid
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Dialogue resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        data:
          description: The JSON string that describes the dialogue session object.
          nullable: true
          title: data
        sid:
          description: The unique string that we created to identify the Dialogue
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UK[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Dialogue resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant.dialogue
      type: object
    autopilot.v1.assistant.field_type:
      example:
        friendly_name: friendly_name
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        assistant_sid: assistant_sid
        account_sid: account_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the FieldType resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource. It is
            not unique and can be up to 255 characters long.
          nullable: true
          title: friendly_name
          type: string
        links:
          description: A list of the URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that we created to identify the FieldType
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UB[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          nullable: true
          title: unique_name
          type: string
        url:
          description: The absolute URL of the FieldType resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant.field_type
      type: object
    autopilot.v1.assistant.field_type.field_value:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        field_type_sid: field_type_sid
        synonym_of: synonym_of
        assistant_sid: assistant_sid
        account_sid: account_sid
        language: language
        value: value
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the FieldValue resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the FieldType associated with the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        field_type_sid:
          description: The SID of the Field Type associated with the Field Value.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UB[0-9a-fA-F]{32}$"
          title: field_type_sid
          type: string
        language:
          description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html)\
            \ tag that specifies the language of the value. Currently supported tags:\
            \ `en-US`"
          nullable: true
          title: language
          type: string
        sid:
          description: The unique string that we created to identify the FieldValue
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UC[0-9a-fA-F]{32}$"
          title: sid
          type: string
        synonym_of:
          description: The word for which the field value is a synonym of.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UC[0-9a-fA-F]{32}$"
          title: synonym_of
          type: string
        url:
          description: The absolute URL of the FieldValue resource.
          format: uri
          nullable: true
          title: url
          type: string
        value:
          description: The Field Value data.
          nullable: true
          title: value
          type: string
      title: autopilot.v1.assistant.field_type.field_value
      type: object
    autopilot.v1.assistant.model_build:
      example:
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        assistant_sid: assistant_sid
        account_sid: account_sid
        error_code: 6
        build_duration: 0
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ModelBuild resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        build_duration:
          description: The time in seconds it took to build the model.
          nullable: true
          title: build_duration
          type: integer
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        error_code:
          description: "If the `status` for the model build is `failed`, this value\
            \ is a code to more information about the failure. This value will be\
            \ null for all other statuses. See [error code dictionary](https://www.twilio.com/docs/api/errors)\
            \ for a description of the error."
          nullable: true
          title: error_code
          type: integer
        sid:
          description: The unique string that we created to identify the ModelBuild
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UG[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/model_build_enum_status'
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used as an alternative to the `sid` in the URL path
            to address the resource.
          nullable: true
          title: unique_name
          type: string
        url:
          description: The absolute URL of the ModelBuild resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant.model_build
      type: object
    autopilot.v1.assistant.query:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        source_channel: source_channel
        date_created: 2000-01-23T04:56:07.000+00:00
        query: query
        language: language
        dialogue_sid: dialogue_sid
        url: https://openapi-generator.tech
        sid: sid
        sample_sid: sample_sid
        assistant_sid: assistant_sid
        account_sid: account_sid
        model_build_sid: model_build_sid
        results: ""
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Query resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        dialogue_sid:
          description: "The SID of the [Dialogue](https://www.twilio.com/docs/autopilot/api/dialogue)."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UK[0-9a-fA-F]{32}$"
          title: dialogue_sid
          type: string
        language:
          description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html)\
            \ string that specifies the language used by the Query. For example: `en-US`."
          nullable: true
          title: language
          type: string
        model_build_sid:
          description: "The SID of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build)\
            \ queried."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UG[0-9a-fA-F]{32}$"
          title: model_build_sid
          type: string
        query:
          description: The end-user's natural language input.
          nullable: true
          title: query
          type: string
        results:
          description: "The natural language analysis results that include the [Task](https://www.twilio.com/docs/autopilot/api/task)\
            \ recognized and a list of identified [Fields](https://www.twilio.com/docs/autopilot/api/task-field)."
          nullable: true
          title: results
        sample_sid:
          description: "The SID of an optional reference to the [Sample](https://www.twilio.com/docs/autopilot/api/task-sample)\
            \ created from the query."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UF[0-9a-fA-F]{32}$"
          title: sample_sid
          type: string
        sid:
          description: The unique string that we created to identify the Query resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UH[0-9a-fA-F]{32}$"
          title: sid
          type: string
        source_channel:
          description: The communication channel from where the end-user input came.
          nullable: true
          title: source_channel
          type: string
        status:
          description: "The status of the Query. Can be: `pending-review`, `reviewed`,\
            \ or `discarded`"
          nullable: true
          title: status
          type: string
        url:
          description: The absolute URL of the Query resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: autopilot.v1.assistant.query
      type: object
    autopilot.v1.assistant.style_sheet:
      example:
        data: ""
        assistant_sid: assistant_sid
        account_sid: account_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the StyleSheet resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        assistant_sid:
          description: "The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant)\
            \ that is the parent of the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UA[0-9a-fA-F]{32}$"
          title: assistant_sid
[...]
