openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure MySQL resources including servers, databases,\
    \ firewall rules, VNET rules, security alert policies, log files and configurations\
    \ with new business model."
  title: MySQLManagementClient
  version: 2018-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2018-06-01/QueryPerformanceInsights.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mysql-QueryPerformanceInsights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts
  : get:
      description: Retrieve the Query-Store query texts for specified queryIds.
      operationId: QueryTexts_ListByServer
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The query identifiers
        explode: true
        in: query
        name: queryIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTextsResultList'
          description: OK
      tags:
      - QueryTexts
      x-ms-examples:
        QueryTextsListByServer:
          parameters:
            api-version: 2018-06-01
            queryIds:
            - "1"
            - "2"
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/1
                  name: "1"
                  properties:
                    queryId: "1"
                    queryText: "UPDATE `performance_schema`.`setup_instruments` SET\
                      \ `ENABLED` = ? , `TIMED` = ? WHERE NAME = ?"
                  type: Microsoft.DBforMySQL/servers/queryTexts
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/2
                  name: "2"
                  properties:
                    queryId: "2"
                    queryText: "UPDATE `performance_schema`.`setup_instruments` SET\
                      \ `ENABLED` = ? , `TIMED` = ? WHERE NAME LIKE ?"
                  type: Microsoft.DBforMySQL/servers/queryTexts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts/{queryId}
  : get:
      description: Retrieve the Query-Store query texts for the queryId.
      operationId: QueryTexts_Get
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Query-Store query identifier.
        in: path
        name: queryId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryText'
          description: OK
      tags:
      - QueryTexts
      x-ms-examples:
        QueryTextsGet:
          parameters:
            api-version: 2018-06-01
            queryId: 1
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/1
                name: "1"
                properties:
                  queryId: "1"
                  queryText: "UPDATE `performance_schema`.`setup_instruments` SET\
                    \ `ENABLED` = ? , `TIMED` = ? WHERE NAME = ?"
                type: Microsoft.DBforMySQL/servers/queryTexts
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics
  : get:
      description: Retrieve the Query-Store top queries for specified metric and aggregation.
      operationId: TopQueryStatistics_ListByServer
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopQueryStatisticsInput'
        description: The required parameters for retrieving top query statistics.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopQueryStatisticsResultList'
          description: OK
      tags:
      - TopQueryStatistics
      x-ms-examples:
        TopQueryStatisticsListByServer:
          parameters:
            api-version: 2018-06-01
            parameters:
              properties:
                aggregationFunction: avg
                aggregationWindow: PT15M
                numberOfTopQueries: 5
                observationEndTime: 2019-05-07T20:00:00.000Z
                observationStartTime: 2019-05-01T20:00:00.000Z
                observedMetric: duration
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636923268000000000-636923277000000000-avg-duration
                  name: 66-636923268000000000-636923277000000000-avg-duration
                  properties:
                    aggregationFunction: avg
                    databaseNames:
                    - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                    endTime: 2019-05-01T17:15:00Z
                    metricDisplayName: Query duration
                    metricName: duration
                    metricValue: 123.301446136
                    metricValueUnit: milliseconds
                    queryExecutionCount: 1
                    queryId: "66"
                    startTime: 2019-05-01T17:00:00Z
                  type: Microsoft.DBforMySQL/servers/queryStatistics
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636924483000000000-636924492000000000-avg-duration
                  name: 66-636924483000000000-636924492000000000-avg-duration
                  properties:
                    aggregationFunction: avg
                    databaseNames:
                    - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                    endTime: 2019-05-03T03:00:00Z
                    metricDisplayName: Query duration
                    metricName: duration
                    metricValue: 1712.301446136
                    metricValueUnit: milliseconds
                    queryExecutionCount: 1
                    queryId: "66"
                    startTime: 2019-05-03T02:45:00Z
                  type: Microsoft.DBforMySQL/servers/queryStatistics
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics/{queryStatisticId}
  : get:
      description: Retrieve the query statistic for specified identifier.
      operationId: TopQueryStatistics_Get
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Query Statistic identifier.
        in: path
        name: queryStatisticId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStatistic'
          description: OK
      tags:
      - TopQueryStatistics
      x-ms-examples:
        TopQueryStatisticsGet:
          parameters:
            api-version: 2018-06-01
            queryStatisticId: 66-636923268000000000-636923277000000000-avg-duration
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636923268000000000-636923277000000000-avg-duration
                name: 66-636923268000000000-636923277000000000-avg-duration
                properties:
                  aggregationFunction: avg
                  databaseNames:
                  - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                  endTime: 2019-05-01T17:15:00Z
                  metricDisplayName: Query duration
                  metricName: duration
                  metricValue: 123.301446136
                  metricValueUnit: milliseconds
                  queryExecutionCount: 1
                  queryId: "66"
                  startTime: 2019-05-01T17:00:00Z
                type: Microsoft.DBforMySQL/servers/queryStatistics
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics
  : get:
      description: Retrieve wait statistics for specified aggregation window.
      operationId: WaitStatistics_ListByServer
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitStatisticsInput'
        description: The required parameters for retrieving wait statistics.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatisticsResultList'
          description: OK
      tags:
      - WaitStatistics
      x-ms-examples:
        WaitStatisticsListByServer:
          parameters:
            api-version: 2018-06-01
            parameters:
              properties:
                aggregationWindow: PT15M
                observationEndTime: 2019-05-07T20:00:00.000Z
                observationStartTime: 2019-05-01T20:00:00.000Z
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/waitStatistics/636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                  name: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                  properties:
                    count: 2
                    databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                    endTime: 2019-05-06T17:45:00Z
                    eventName: wait/io/socket/sql/client_connection
                    eventTypeName: send
                    queryId: 2
                    startTime: 2019-05-06T17:30:00Z
                    totalTimeInMs: 12.345
                    userId: 0
                  type: Microsoft.DBforMySQL/servers/waitStatistics
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/hyshim-test/providers/Microsoft.DBforMySQL/servers/hyshim-wait-stats-fix/waitStatistics/636927606000000000-636927615000000000-lock-wait/synch/mutex/mysys/THR_LOCK::mutex-2--0
                  name: 636927606000000000-636927615000000000-lock-wait/synch/mutex/mysys/THR_LOCK::mutex-2--0
                  properties:
                    count: 4
                    databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/hyshim-test/providers/Microsoft.DBforMySQL/servers/hyshim-wait-stats-fix/databases/
                    endTime: 2019-05-06T17:45:00Z
                    eventName: wait/synch/mutex/mysys/THR_LOCK::mutex
                    eventTypeName: lock
                    queryId: 2
                    startTime: 2019-05-06T17:30:00Z
                    totalTimeInMs: 56.789
                    userId: 0
                  type: Microsoft.DBforMySQL/servers/waitStatistics
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics/{waitStatisticsId}
  : get:
      description: Retrieve wait statistics for specified identifier.
      operationId: WaitStatistics_Get
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Wait Statistic identifier.
        in: path
        name: waitStatisticsId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatistic'
          description: OK
      tags:
      - WaitStatistics
      x-ms-examples:
        WaitStatisticsGet:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
            waitStatisticsId: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/waitStatistics/636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                name: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                properties:
                  count: 3
                  databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                  endTime: 2019-05-06T17:45:00Z
                  eventName: wait/io/socket/sql/client_connection
                  eventTypeName: send
                  queryId: 2
                  startTime: 2019-05-06T17:30:00Z
                  totalTimeInMs: 12.345
                  userId: 0
                type: Microsoft.DBforMySQL/servers/waitStatistics
      x-accepts:
      - application/json
components:
  parameters:
    QueryIdParameter:
      description: The Query-Store query identifier.
      in: path
      name: queryId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    QueryStatisticIdParameter:
      description: The Query Statistic identifier.
      in: path
      name: queryStatisticId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    WaitStatisticsIdParameter:
      description: The Wait Statistic identifier.
      in: path
      name: waitStatisticsId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    QueryStatistic:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: Represents a Query Statistic.
      example:
        properties:
          metricName: metricName
          metricValue: 0.8008281904610115
          queryExecutionCount: 6
          startTime: 2000-01-23T04:56:07.000+00:00
          databaseNames:
          - databaseNames
          - databaseNames
          endTime: 2000-01-23T04:56:07.000+00:00
          metricDisplayName: metricDisplayName
          aggregationFunction: aggregationFunction
          metricValueUnit: metricValueUnit
          queryId: queryId
      properties:
        properties:
          $ref: '#/components/schemas/QueryStatisticProperties'
    QueryStatisticProperties:
      description: The properties of a query statistic.
      example:
        metricName: metricName
        metricValue: 0.8008281904610115
        queryExecutionCount: 6
        startTime: 2000-01-23T04:56:07.000+00:00
        databaseNames:
        - databaseNames
        - databaseNames
        endTime: 2000-01-23T04:56:07.000+00:00
        metricDisplayName: metricDisplayName
        aggregationFunction: aggregationFunction
        metricValueUnit: metricValueUnit
        queryId: queryId
      properties:
        aggregationFunction:
          description: Aggregation function name.
          type: string
        databaseNames:
          description: The list of database names.
          items:
            type: string
          type: array
        endTime:
          description: Observation end time.
          format: date-time
          type: string
        metricDisplayName:
          description: Metric display name.
          type: string
        metricName:
          description: Metric name.
          type: string
        metricValue:
          description: Metric value.
          format: double
          type: number
        metricValueUnit:
          description: Metric value unit.
          type: string
        queryExecutionCount:
          description: Number of query executions in this time interval.
          format: int64
          type: integer
        queryId:
          description: Database query identifier.
          type: string
        startTime:
          description: Observation start time.
          format: date-time
          type: string
      type: object
    QueryText:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: Represents a Query Text.
      example:
        properties:
          queryText: queryText
          queryId: queryId
      properties:
        properties:
          $ref: '#/components/schemas/QueryTextProperties'
    QueryTextProperties:
      description: The properties of a query text.
      example:
        queryText: queryText
        queryId: queryId
      properties:
        queryId:
          description: Query identifier unique to the server.
          type: string
        queryText:
          description: Query text.
          type: string
      type: object
    QueryTextsResultList:
      description: A list of query texts.
      example:
        value:
        - properties:
            queryText: queryText
            queryId: queryId
        - properties:
            queryText: queryText
            queryId: queryId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of query texts.
          items:
            $ref: '#/components/schemas/QueryText'
          readOnly: true
          type: array
      type: object
    TopQueryStatisticsInput:
      description: Input to get top query statistics
      example:
        properties:
          numberOfTopQueries: 0
          observedMetric: observedMetric
          aggregationWindow: aggregationWindow
          aggregationFunction: aggregationFunction
          observationStartTime: 2000-01-23T04:56:07.000+00:00
          observationEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/TopQueryStatisticsInputProperties'
      required:
      - properties
      type: object
    TopQueryStatisticsInputProperties:
      description: The properties for input to get top query statistics
      example:
        numberOfTopQueries: 0
        observedMetric: observedMetric
        aggregationWindow: aggregationWindow
        aggregationFunction: aggregationFunction
        observationStartTime: 2000-01-23T04:56:07.000+00:00
        observationEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        aggregationFunction:
          description: Aggregation function name.
          type: string
        aggregationWindow:
          description: Aggregation interval type in ISO 8601 format.
          type: string
        numberOfTopQueries:
          description: Max number of top queries to return.
          format: int32
          type: integer
        observationEndTime:
          description: Observation end time.
          format: date-time
          type: string
        observationStartTime:
          description: Observation start time.
          format: date-time
          type: string
        observedMetric:
          description: Observed metric name.
          type: string
      required:
      - aggregationFunction
      - aggregationWindow
      - numberOfTopQueries
      - observationEndTime
      - observationStartTime
      - observedMetric
      type: object
    TopQueryStatisticsResultList:
      description: A list of query statistics.
      example:
        value:
        - properties:
            metricName: metricName
            metricValue: 0.8008281904610115
            queryExecutionCount: 6
            startTime: 2000-01-23T04:56:07.000+00:00
            databaseNames:
            - databaseNames
            - databaseNames
            endTime: 2000-01-23T04:56:07.000+00:00
            metricDisplayName: metricDisplayName
            aggregationFunction: aggregationFunction
            metricValueUnit: metricValueUnit
            queryId: queryId
        - properties:
            metricName: metricName
            metricValue: 0.8008281904610115
            queryExecutionCount: 6
            startTime: 2000-01-23T04:56:07.000+00:00
            databaseNames:
            - databaseNames
            - databaseNames
            endTime: 2000-01-23T04:56:07.000+00:00
            metricDisplayName: metricDisplayName
            aggregationFunction: aggregationFunction
            metricValueUnit: metricValueUnit
            queryId: queryId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of top query statistics.
          items:
            $ref: '#/components/schemas/QueryStatistic'
          readOnly: true
          type: array
      type: object
    WaitStatistic:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: Represents a Wait Statistic.
      example:
        properties:
          totalTimeInMs: 1.4658129805029452
          databaseName: databaseName
          count: 0
          eventName: eventName
          eventTypeName: eventTypeName
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          userId: 5
          queryId: 6
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticProperties'
    WaitStatisticProperties:
      description: The properties of a wait statistic.
      example:
        totalTimeInMs: 1.4658129805029452
        databaseName: databaseName
        count: 0
        eventName: eventName
        eventTypeName: eventTypeName
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        userId: 5
        queryId: 6
      properties:
        count:
          description: Wait event count observed in this time interval.
          format: int64
          type: integer
        databaseName:
          description: Database Name.
          type: string
        endTime:
          description: Observation end time.
          format: date-time
          type: string
        eventName:
          description: Wait event name.
          type: string
        eventTypeName:
          description: Wait event type name.
          type: string
        queryId:
          description: Database query identifier.
          format: int64
          type: integer
        startTime:
          description: Observation start time.
          format: date-time
          type: string
        totalTimeInMs:
          description: Total time of wait in milliseconds in this time interval.
          format: double
          type: number
        userId:
          description: Database user identifier.
          format: int64
          type: integer
      type: object
    WaitStatisticsInput:
      description: Input to get wait statistics
      example:
        properties:
          aggregationWindow: aggregationWindow
          observationStartTime: 2000-01-23T04:56:07.000+00:00
          observationEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticsInputProperties'
      required:
      - properties
      type: object
    WaitStatisticsInputProperties:
      description: The properties for input to get wait statistics
      example:
        aggregationWindow: aggregationWindow
        observationStartTime: 2000-01-23T04:56:07.000+00:00
        observationEndTime: 2000-01-23T04:56:07.000+00:00
      properties:
        aggregationWindow:
          description: Aggregation interval type in ISO 8601 format.
          type: string
        observationEndTime:
          description: Observation end time.
          format: date-time
          type: string
        observationStartTime:
          description: Observation start time.
          format: date-time
          type: string
      required:
      - aggregationWindow
      - observationEndTime
      - observationStartTime
      type: object
    WaitStatisticsResultList:
      description: A list of wait statistics.
      example:
        value:
        - properties:
            totalTimeInMs: 1.4658129805029452
            databaseName: databaseName
            count: 0
            eventName: eventName
            eventTypeName: eventTypeName
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            userId: 5
            queryId: 6
        - properties:
            totalTimeInMs: 1.4658129805029452
            databaseName: databaseName
            count: 0
            eventName: eventName
            eventTypeName: eventTypeName
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            userId: 5
            queryId: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of wait statistics.
          items:
            $ref: '#/components/schemas/WaitStatistic'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

