openapi: 3.0.0
info:
  contact:
    x-twitter: agentOSSoftware
  title: "agentOS API V3, Maintenance Call Group"
  version: v3-maintenance
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/agentOSSoftware/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://live-api.letmc.com/swagger/docs/v3-maintenance
    version: "3.0"
  x-providerName: letmc.com
  x-serviceName: maintenance
servers:
- url: https://live-api.letmc.com
paths:
  /v3/maintenance/{shortName}/maintenance/{branchID}/createmaintenancejob:
    post:
      deprecated: false
      operationId: maintenance_controller_create_maintenance_job
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique ID of the Branch
        explode: false
        in: path
        name: branchID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceIssueModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MaintenanceIssueModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/MaintenanceIssueModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MaintenanceIssueModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/MaintenanceIssueModel'
        description: A JSON object containing details of the maintenance job
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Create a maintenance job for a specific branch
      tags:
      - MaintenanceController
      x-openapi-router-controller: openapi_server.controllers.maintenance_controller_controller
      x-codegen-request-body-name: body
components:
  schemas:
    MaintenanceDocumentModel:
      description: Submission Model - Handles all the fields required to attach documents
        to an online maintenance job
      example:
        MimeType: MimeType
        URL: URL
      properties:
        MimeType:
          description: The document Mime Type
          title: MimeType
          type: string
        URL:
          description: The document URL (This has to be public)
          title: URL
          type: string
      title: MaintenanceDocumentModel
      type: object
    MaintenanceIssueModel:
      description: Submission Model - Handles all fields required to submit an online
        maintenance job
      example:
        IssueNotes: IssueNotes
        TenantTitle: TenantTitle
        IssuePriority: Low
        IssueTitle: IssueTitle
        ExternalID: ExternalID
        TenantForename: TenantForename
        TenantPresenceRequested: true
        TenantPhonePrimary: TenantPhonePrimary
        PropertyCountry: PropertyCountry
        TenantPhoneSecondary: TenantPhoneSecondary
        ReportedAt: 2000-01-23T04:56:07.000+00:00
        TenantSurname: TenantSurname
        Documents:
        - MimeType: MimeType
          URL: URL
        - MimeType: MimeType
          URL: URL
        PropertyPostcode: PropertyPostcode
        IssueFault: IssueFault
        PropertyAddress2: PropertyAddress2
        PropertyAddress1: PropertyAddress1
        TenantEMailAddress: TenantEMailAddress
        PropertyAddress4: PropertyAddress4
        PropertyAddress3: PropertyAddress3
      properties:
        Documents:
          description: Documents linked to a submitted maintenance job
          items:
            $ref: '#/components/schemas/MaintenanceDocumentModel'
          title: Documents
          type: array
        ExternalID:
          description: ID used externally to manage jobs before sending to the system.
            This has a 10 character limit.
          title: ExternalID
          type: string
        IssueFault:
          description: The fault title if applicable
          title: IssueFault
          type: string
        IssueNotes:
          description: Fault notes
          title: IssueNotes
          type: string
        IssuePriority:
          description: The priority of the job (Defaults to 'Low' if incorrect value
            or empty)
          enum:
          - Low
          - Medium
          - High
          title: IssuePriority
          type: string
        IssueTitle:
          description: The title of the issue
          title: IssueTitle
          type: string
        PropertyAddress1:
          description: The first line of the property address
          title: PropertyAddress1
          type: string
        PropertyAddress2:
          description: The second line of the property address
          title: PropertyAddress2
          type: string
        PropertyAddress3:
          description: The third line of the property address
          title: PropertyAddress3
          type: string
        PropertyAddress4:
          description: The forth line of the property address
          title: PropertyAddress4
          type: string
        PropertyCountry:
          description: The country the property is located
          title: PropertyCountry
          type: string
        PropertyPostcode:
          description: The property postcode
          title: PropertyPostcode
          type: string
        ReportedAt:
          description: The date the job was reported
          format: date-time
          title: ReportedAt
          type: string
        TenantEMailAddress:
          description: The email address of the Tenant
          title: TenantEMailAddress
          type: string
        TenantForename:
          description: The forename of the Tenant
          title: TenantForename
          type: string
        TenantPhonePrimary:
          description: The primary phone number of the Tenant
          title: TenantPhonePrimary
          type: string
        TenantPhoneSecondary:
          description: The secondary phone number of the Tenant
          title: TenantPhoneSecondary
          type: string
        TenantPresenceRequested:
          description: Is the Tenant’s presence requested during the maintenance visit?
            (Defaults to “false” if incorrect value or empty)
          title: TenantPresenceRequested
          type: boolean
        TenantSurname:
          description: The surname of the Tenant
          title: TenantSurname
          type: string
        TenantTitle:
          description: The title of the Tenant
          title: TenantTitle
          type: string
      title: MaintenanceIssueModel
      type: object
    Object:
      properties: {}
      type: object
  securitySchemes:
    apiKey:
      description: ApiKey Authentication
      in: header
      name: ApiKey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKey
    basic:
      description: Basic HTTP Authentication
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_basic
