openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure MariaDB resources including servers, databases,\
    \ firewall rules, VNET rules, security alert policies, log files, encryption keys,\
    \ active directory administrator and configurations."
  title: MariaDBManagementClient
  version: 2020-01-01-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/DataEncryptionKeys.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mariadb-DataEncryptionKeys
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/keys:
    get:
      description: Gets a list of  Server keys.
      operationId: server_keys_list_by_instance
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKeyListResult'
          description: Successfully retrieved the list of MariaDB Server keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ServerKeys
      x-ms-examples:
        List the keys for a MariaDB Server.:
          parameters:
            api-version: 2020-01-01-privatepreview
            resourceGroupName: testrg
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/testserver/keys/someVault_someKey_01234567890123456789012345678901
                  kind: azurekeyvault
                  name: someVault_someKey_01234567890123456789012345678901
                  properties:
                    creationDate: 2019-12-01T00:00:00.0Z
                    serverKeyType: AzureKeyVault
                    uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                  type: Microsoft.DBforMariaDB/servers/keys
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.server_keys_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/keys/{keyName}
  : delete:
      description: Deletes the MariaDB Server key with the given name.
      operationId: server_keys_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the MariaDB Server key to be deleted.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the MariaDB Server key.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: The specified MariaDB Server key does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ServerKeys
      x-ms-examples:
        Delete the MariaDB Server key:
          parameters:
            api-version: 2020-01-01-privatepreview
            keyName: someVault_someKey_01234567890123456789012345678901
            resourceGroupName: testrg
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.server_keys_controller
    get:
      description: Gets a MariaDB Server key.
      operationId: server_keys_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the MariaDB Server key to be retrieved.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKey'
          description: Successfully retrieved the specified MariaDB Server key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ServerKeys
      x-ms-examples:
        Get the MariaDB Server key:
          parameters:
            api-version: 2020-01-01-privatepreview
            keyName: someVault_someKey_01234567890123456789012345678901
            resourceGroupName: testrg
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/testserver/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                name: someVault_someKey_01234567890123456789012345678901
                properties:
                  creationDate: 2019-12-01T00:00:00.0Z
                  serverKeyType: AzureKeyVault
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.DBforMariaDB/servers/keys
      x-openapi-router-controller: openapi_server.controllers.server_keys_controller
    put:
      description: Creates or updates a MariaDB Server key.
      operationId: server_keys_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the MariaDB Server key to be operated on (updated
          or created).
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerKey'
        description: The requested MariaDB Server key resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKey'
          description: Successfully updated the MariaDB Server key.
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ServerKeys
      x-ms-examples:
        Creates or updates a MariaDB Server key:
          parameters:
            api-version: 2020-01-01-privatepreview
            keyName: someVault_someKey_01234567890123456789012345678901
            parameters:
              properties:
                serverKeyType: AzureKeyVault
                uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
            resourceGroupName: testrg
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/testserver/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                name: omeVault_someKey_01234567890123456789012345678901
                properties:
                  creationDate: 2017-05-01T00:00:00.0Z
                  serverKeyType: AzureKeyVault
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.DBforMariaDB/servers/keys
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.server_keys_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error response from the Batch service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    ProxyResource:
      description: Resource properties.
      properties:
        id:
          description: Resource ID
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: ProxyResource
      type: object
      x-ms-azure-resource: true
    ServerKey:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A MariaDB Server key.
      example:
        kind: kind
        properties:
          serverKeyType: AzureKeyVault
          creationDate: 2000-01-23T04:56:07.000+00:00
          uri: uri
      properties:
        kind:
          description: Kind of encryption protector. This is metadata used for the
            Azure portal experience.
          readOnly: true
          title: kind
          type: string
        properties:
          $ref: '#/components/schemas/ServerKeyProperties'
      title: ServerKey
    ServerKeyListResult:
      description: A list of MariaDB Server keys.
      example:
        value:
        - kind: kind
          properties:
            serverKeyType: AzureKeyVault
            creationDate: 2000-01-23T04:56:07.000+00:00
            uri: uri
        - kind: kind
          properties:
            serverKeyType: AzureKeyVault
            creationDate: 2000-01-23T04:56:07.000+00:00
            uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ServerKey'
          readOnly: true
          title: value
          type: array
      title: ServerKeyListResult
      type: object
    ServerKeyProperties:
      description: Properties for a key execution.
      example:
        serverKeyType: AzureKeyVault
        creationDate: 2000-01-23T04:56:07.000+00:00
        uri: uri
      properties:
        creationDate:
          description: The key creation date.
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        serverKeyType:
          description: The key type like  'AzureKeyVault'.
          enum:
          - AzureKeyVault
          title: serverKeyType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServerKeyType
        uri:
          description: The URI of the key.
          title: uri
          type: string
      required:
      - serverKeyType
      title: ServerKeyProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
