openapi: 3.0.1
info:
  description: "Our active docs provide the ability to test out your account and to\
    \ see the responses to your queries. The services are RESTful, and are accessed\
    \ using standard HTTP methods over a secure HTTPS channel. Requests and responses\
    \ are currently sent in JSON format, and have a base URL of /v1."
  termsOfService: https://app.idtbeyond.com/terms/
  title: Active Documentation for /v1
  version: 1.1.7
  x-apisguru-categories:
  - telecom
  x-logo:
    backgroundColor: '#222222'
    url: https://twitter.com/net2phone/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://app.idtbeyond.com/swagger/spec-08ef3dc298.json
    version: "2.0"
  x-providerName: idtbeyond.com
servers:
- url: https://api.idtbeyond.com/v1
paths:
  /iatu/balance:
    get:
      description: Returns a JSON of the account balance.
      operationId: iatu_balance_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      responses:
        "200":
          content: {}
          description: Successful balance JSON response
      summary: Account balance
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /iatu/charges/reports/all:
    get:
      description: Returns charges by date range.
      operationId: iatu_charges_reports_all_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        schema:
          default: 2016-01-28
          type: string
      - description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        schema:
          default: 2016-01-28
          type: string
      responses:
        "200":
          content: {}
          description: Successful charges JSON response
      summary: List of account charges in JSON
      tags:
      - charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  /iatu/charges/reports/all.csv:
    get:
      description: Returns charges by date range in CSV.
      operationId: iatu_charges_reports_all_csv_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        schema:
          default: 2016-01-28
          type: string
      - description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        schema:
          default: 2016-01-28
          type: string
      responses:
        "200":
          content: {}
          description: Successful charges CSV response
      summary: List of account charges in CSV
      tags:
      - charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  /iatu/number-validator:
    get:
      description: Checks to verify if the phone number is valid for the country supplied.
      operationId: iatu_number_validator_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: 2-digit code of the country in ISO 3166 format. 'BR'
        in: query
        name: country_code
        required: true
        schema:
          default: BR
          type: string
      - description: The mobile number you would like to validate. '5521983115555'
        in: query
        name: mobile_number
        required: true
        schema:
          default: "5521983115555"
          type: string
      responses:
        "200":
          content: {}
          description: Local value response
      summary: Mobile number validation
      tags:
      - utilities
      x-openapi-router-controller: openapi_server.controllers.utilities_controller
  /iatu/products/promotions:
    get:
      description: Returns a JSON of the current promotions.
      operationId: iatu_products_promotions_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      responses:
        "200":
          content: {}
          description: Successful Promotions JSON response
      summary: Current promotions
      tags:
      - utilities
      x-openapi-router-controller: openapi_server.controllers.utilities_controller
  /iatu/products/reports/all:
    get:
      description: "Returns a JSON list of products, ranges, and their commissions\
        \ percentages."
      operationId: iatu_products_reports_all_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      responses:
        "200":
          content: {}
          description: Products JSON response
      summary: Get a list of products in JSON format
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /iatu/products/reports/all.csv:
    get:
      description: "Returns a CSV of products, ranges, and their commissions percentages."
      operationId: iatu_products_reports_all_csv_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      responses:
        "200":
          content: {}
          description: Products CSV response
      summary: Get a list of products in CSV format
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /iatu/products/reports/local-value:
    get:
      description: "Returns a CSV of products, ranges, and their commissions percentages."
      operationId: iatu_products_reports_local_value_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: 2-digit code of the country in ISO 3166 format. 'GT'
        in: query
        name: country_code
        required: true
        schema:
          default: GT
          type: string
      - description: Name of the mobile carrier. 'Claro'
        in: query
        name: carrier_code
        required: true
        schema:
          default: Claro
          type: string
      - description: "This is the amount, in cents, of the product you are purchasing.\
          \ '500' = $5.00"
        in: query
        name: amount
        required: true
        schema:
          default: 500
          type: integer
      - description: The currency code (ISO 4217) on the product you are querying.
          'USD'
        in: query
        name: currency_code
        required: true
        schema:
          default: USD
          type: string
      responses:
        "200":
          content: {}
          description: Local value response
      summary: Get the estimated Local Value of a product
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /iatu/topups:
    post:
      description: Submits an IATU transaction request.
      operationId: iatu_topups_post
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topups'
        description: Topups details
        required: true
        x-body-name: body
      responses:
        "201":
          content: {}
          description: The transaction has been completed successfully.
        "202":
          content: {}
          description: "The transaction has been received, but the final status is\
            \ unknown. Please query by the client_transaction_id to get the current\
            \ status of the transaction."
        "400":
          content: {}
          description: Invalid ID supplied
        "404":
          content: {}
          description: X not found
        "405":
          content: {}
          description: Validation exception
        "500":
          content: {}
          description: There is an error in your transaction. Please check the error
            code contained in the result for more information.
      summary: Topup a mobile phone
      tags:
      - topups
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /iatu/topups/reports:
    post:
      description: "Search topups transactions, by date, with client_transaction_id\
        \ or to_service_number. Use 'client_transaction_id' to search by transaction\
        \ number, or 'to_service_number' to get transaction status."
      operationId: iatu_topups_reports_post
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopupsReports'
        description: Topups reports request details
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: Successful topups JSON response
      summary: Search topups transactions
      tags:
      - topups
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /iatu/topups/reports/all:
    get:
      description: Returns topups by date range.
      operationId: iatu_topups_reports_all_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        schema:
          default: 2016-01-28
          type: string
      - description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        schema:
          default: 2016-01-28
          type: string
      responses:
        "200":
          content: {}
          description: Successful topups JSON response
      summary: List of account topups in JSON
      tags:
      - topups
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /iatu/topups/reports/all.csv:
    get:
      description: Returns topups by date range in CSV.
      operationId: iatu_topups_reports_all_csv_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        schema:
          default: 2016-01-28
          type: string
      - description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        schema:
          default: 2016-01-28
          type: string
      responses:
        "200":
          content: {}
          description: Successful topups CSV response
      summary: List of account topups in CSV
      tags:
      - topups
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /iatu/topups/reports/totals:
    get:
      description: Returns topups totals by date range.
      operationId: iatu_topups_reports_totals_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      - description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        schema:
          default: 2016-01-28
          type: string
      - description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        schema:
          default: 2016-01-28
          type: string
      responses:
        "200":
          content: {}
          description: Successful topups JSON response
      summary: Summary of account topups in JSON
      tags:
      - topups
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /iatu/topups/reverse:
    post:
      description: "Occasionally, a carrier will not be able to successfully complete\
        \ a topup request. In this case, we will attempt to automatically reverse\
        \ the transaction for you, and return the money into your account. In the\
        \ case when this is not possible, you may need to request a reverse on the\
        \ transaction that has a status of 'transaction_status' 'notredeemed'."
      operationId: iatu_topups_reverse_post
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopupsReversal'
        description: Topups details
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: Successful charges JSON response
      summary: Reversal of a Topup
      tags:
      - topups
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.topups_controller
  /status:
    get:
      description: Returns a JSON of the API status.
      operationId: status_get
      parameters:
      - description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        schema:
          default: APP_ID
          type: string
      - description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        schema:
          default: APP_KEY
          type: string
      responses:
        "200":
          content: {}
          description: Successful status JSON response
      summary: Status check
      tags:
      - utilities
      x-openapi-router-controller: openapi_server.controllers.utilities_controller
components:
  schemas:
    Topups:
      example:
        country_code: GT
        amount: 0
        client_transaction_id: ""
        mobile_number: "50231234567"
        product_code: ""
        plan: Sandbox
        terminal_id: Kiosk 5
        carrier_code: Claro
      properties:
        amount:
          description: "The amount, in cents, of the product you are purchasing. '500'\
            \ = $5.00"
          title: amount
          type: integer
        carrier_code:
          default: Claro
          description: Name of the mobile carrier. 'Claro'
          title: carrier_code
          type: string
        client_transaction_id:
          default: ""
          description: UNIQUE 15 char ID you use to track topups. 'trans0123456789'
          title: client_transaction_id
          type: string
        country_code:
          default: GT
          description: 2-digit code of the country in ISO 3166 format. 'GT'
          title: country_code
          type: string
        mobile_number:
          default: "50231234567"
          description: Mobile number to topup. VALIDATE prior to submission. '50231234567'
          title: mobile_number
          type: string
        plan:
          default: Sandbox
          description: The Application plan being used. Case-sensitive. 'Sandbox'
            or 'Production'
          title: plan
          type: string
        product_code:
          default: ""
          description: Optional code to distinguish one particular product from another.
            '76560'
          title: product_code
          type: string
        terminal_id:
          default: Kiosk 5
          description: ID for the Terminal used to perform the topup. 'Kiosk 5'
          title: terminal_id
          type: string
      title: Topups
      type: object
    TopupsReports:
      example:
        to_service_number: "123456789"
        type_of_report: client_transaction_id or to_service_number
        date_to: 2016-01-28
        client_transaction_id: trans0123456789
        date_from: 2016-01-28
      properties:
        client_transaction_id:
          default: trans0123456789
          description: The UNIQUE 15 char ID used to track topups. 'trans0123456789'
          title: client_transaction_id
          type: string
        date_from:
          default: 2016-01-28
          description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
            timezone). Not used in query by to_service_number. '2016-01-28'
          title: date_from
          type: string
        date_to:
          default: 2016-01-28
          description: The ending date of the search IN YYYY-MM-DD format (America/New_York
            timezone). Not used in query by to_service_number. '2016-01-28'
          title: date_to
          type: string
        to_service_number:
          default: "123456789"
          description: Enter the to_service_number returned in the response to track
            the current transaction status. '0123456789'
          title: to_service_number
          type: string
        type_of_report:
          default: client_transaction_id or to_service_number
          description: The type of query you would like to search by.
          title: type_of_report
          type: string
      title: TopupsReports
      type: object
    TopupsReversal:
      example:
        to_service_number: "123456789"
        client_transaction_id: trans0123456789
      properties:
        client_transaction_id:
          default: trans0123456789
          description: UNIQUE 15 char ID you use to track topups. 'trans0123456789'
          title: client_transaction_id
          type: string
        to_service_number:
          default: "123456789"
          description: UNIQUE IDT transaction number found in the response of a successful
            topup request. '0123456789'
          title: to_service_number
          type: string
      title: TopupsReversal
      type: object
x-original-swagger-version: "2.0"
