

# ValidationResult

Contains the current validation results.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**validations** | [**List&lt;Validation&gt;**](Validation.md) | A list of validations (includes both executed as well as not executed validations). |  [optional] |



