openapi: 3.0.1
info:
  title: App Store Connect API
  version: 1.4.1
  x-apisguru-categories:
  - developer_tools
  x-origin:
  - format: openapi
    url: app-store-connect-openapi-specification.json
    version: "3.0"
  x-platform: app_store_connect_api
  x-providerName: apple.com
  x-serviceName: app-store-connect
externalDocs:
  description: App Store Connect API Documentation
  url: https://developer.apple.com/documentation/appstoreconnectapi
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
paths:
  /v1/ageRatingDeclarations/{id}:
    patch:
      operationId: ageRatingDeclarations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        description: AgeRatingDeclaration representation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Single AgeRatingDeclaration
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AgeRatingDeclarations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appCategories:
    get:
      operationId: appCategories-get_collection
      parameters:
      - description: filter by attribute 'platforms'
        explode: false
        in: query
        name: "filter[platforms]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by existence or non-existence of related 'parent'
        explode: false
        in: query
        name: "exists[parent]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of AppCategories
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppCategories
      x-accepts:
      - application/json
  /v1/appCategories/{id}:
    get:
      operationId: appCategories-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Single AppCategory
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-accepts:
      - application/json
  /v1/appCategories/{id}/parent:
    get:
      operationId: appCategories-parent-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-accepts:
      - application/json
  /v1/appCategories/{id}/subcategories:
    get:
      operationId: appCategories-subcategories-get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-accepts:
      - application/json
  /v1/appEncryptionDeclarations:
    get:
      operationId: appEncryptionDeclarations-get_collection
      parameters:
      - description: filter by attribute 'platform'
        explode: false
        in: query
        name: "filter[platform]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'app'
        explode: false
        in: query
        name: "filter[app]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'builds'
        explode: false
        in: query
        name: "filter[builds]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationsResponse'
          description: List of AppEncryptionDeclarations
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppEncryptionDeclarations
      x-accepts:
      - application/json
  /v1/appEncryptionDeclarations/{id}:
    get:
      operationId: appEncryptionDeclarations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationResponse'
          description: Single AppEncryptionDeclaration
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppEncryptionDeclarations
      x-accepts:
      - application/json
  /v1/appEncryptionDeclarations/{id}/app:
    get:
      operationId: appEncryptionDeclarations-app-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppEncryptionDeclarations
      x-accepts:
      - application/json
  /v1/appEncryptionDeclarations/{id}/relationships/builds:
    post:
      operationId: appEncryptionDeclarations-builds-create_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationBuildsLinkagesRequest'
        description: List of related linkages
        required: true
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEncryptionDeclarations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appInfoLocalizations:
    post:
      operationId: appInfoLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationCreateRequest'
        description: AppInfoLocalization representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appInfoLocalizations/{id}:
    delete:
      operationId: appInfoLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-accepts:
      - application/json
    get:
      operationId: appInfoLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfoLocalizations
      x-accepts:
      - application/json
    patch:
      operationId: appInfoLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationUpdateRequest'
        description: AppInfoLocalization representation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appInfos/{id}:
    get:
      operationId: appInfos-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfos
        explode: false
        in: query
        name: "fields[appInfos]"
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - appStoreAgeRating
            - appStoreState
            - brazilAgeRating
            - kidsAgeBand
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type ageRatingDeclarations
        explode: false
        in: query
        name: "fields[ageRatingDeclarations]"
        required: false
        schema:
          items:
            enum:
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingAndContests
            - gamblingSimulated
            - horrorOrFearThemes
            - kidsAgeBand
            - matureOrSuggestiveThemes
            - medicalOrTreatmentInformation
            - profanityOrCrudeHumor
            - seventeenPlus
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - unrestrictedWebAccess
            - violenceCartoonOrFantasy
            - violenceRealistic
            - violenceRealisticProlongedGraphicOrSadistic
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum number of related appInfoLocalizations returned (when
          they are included)
        explode: true
        in: query
        name: "limit[appInfoLocalizations]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
    patch:
      operationId: appInfos-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoUpdateRequest'
        description: AppInfo representation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfos
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appInfos/{id}/ageRatingDeclaration:
    get:
      operationId: appInfos-ageRatingDeclaration-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type ageRatingDeclarations
        explode: false
        in: query
        name: "fields[ageRatingDeclarations]"
        required: false
        schema:
          items:
            enum:
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingAndContests
            - gamblingSimulated
            - horrorOrFearThemes
            - kidsAgeBand
            - matureOrSuggestiveThemes
            - medicalOrTreatmentInformation
            - profanityOrCrudeHumor
            - seventeenPlus
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - unrestrictedWebAccess
            - violenceCartoonOrFantasy
            - violenceRealistic
            - violenceRealisticProlongedGraphicOrSadistic
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/appInfoLocalizations:
    get:
      operationId: appInfos-appInfoLocalizations-get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: filter by attribute 'locale'
        explode: false
        in: query
        name: "filter[locale]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfos
        explode: false
        in: query
        name: "fields[appInfos]"
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - appStoreAgeRating
            - appStoreState
            - brazilAgeRating
            - kidsAgeBand
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/primaryCategory:
    get:
      operationId: appInfos-primaryCategory-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/primarySubcategoryOne:
    get:
      operationId: appInfos-primarySubcategoryOne-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/primarySubcategoryTwo:
    get:
      operationId: appInfos-primarySubcategoryTwo-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/secondaryCategory:
    get:
      operationId: appInfos-secondaryCategory-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/secondarySubcategoryOne:
    get:
      operationId: appInfos-secondarySubcategoryOne-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appInfos/{id}/secondarySubcategoryTwo:
    get:
      operationId: appInfos-secondarySubcategoryTwo-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-accepts:
      - application/json
  /v1/appPreOrders:
    post:
      operationId: appPreOrders-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderCreateRequest'
        description: AppPreOrder representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPreOrders/{id}:
    delete:
      operationId: appPreOrders-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-accepts:
      - application/json
    get:
      operationId: appPreOrders-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreOrders
        explode: false
        in: query
        name: "fields[appPreOrders]"
        required: false
        schema:
          items:
            enum:
            - app
            - appReleaseDate
            - preOrderAvailableDate
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreOrders
      x-accepts:
      - application/json
    patch:
      operationId: appPreOrders-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderUpdateRequest'
        description: AppPreOrder representation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPreviewSets:
    post:
      operationId: appPreviewSets-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetCreateRequest'
        description: AppPreviewSet representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPreviewSets/{id}:
    delete:
      operationId: appPreviewSets-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-accepts:
      - application/json
    get:
      operationId: appPreviewSets-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: "fields[appPreviewSets]"
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: maximum number of related appPreviews returned (when they are
          included)
        explode: true
        in: query
        name: "limit[appPreviews]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-accepts:
      - application/json
  /v1/appPreviewSets/{id}/appPreviews:
    get:
      operationId: appPreviewSets-appPreviews-get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: "fields[appPreviewSets]"
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-accepts:
      - application/json
  /v1/appPreviewSets/{id}/relationships/appPreviews:
    get:
      operationId: appPreviewSets-appPreviews-get_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesResponse'
          description: List of related linkages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-accepts:
      - application/json
    patch:
      operationId: appPreviewSets-appPreviews-replace_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesRequest'
        description: List of related linkages
        required: true
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPreviews:
    post:
      operationId: appPreviews-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewCreateRequest'
        description: AppPreview representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPreviews/{id}:
    delete:
      operationId: appPreviews-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-accepts:
      - application/json
    get:
      operationId: appPreviews-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviews
      x-accepts:
      - application/json
    patch:
      operationId: appPreviews-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewUpdateRequest'
        description: AppPreview representation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appPricePoints:
    get:
      operationId: appPricePoints-get_collection
      parameters:
      - description: filter by id(s) of related 'priceTier'
        explode: false
        in: query
        name: "filter[priceTier]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'territory'
        explode: false
        in: query
        name: "filter[territory]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointsResponse'
          description: List of AppPricePoints
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppPricePoints
      x-accepts:
      - application/json
  /v1/appPricePoints/{id}:
    get:
      operationId: appPricePoints-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointResponse'
          description: Single AppPricePoint
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPricePoints
      x-accepts:
      - application/json
  /v1/appPricePoints/{id}/territory:
    get:
      operationId: appPricePoints-territory-get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPricePoints
      x-accepts:
      - application/json
  /v1/appPriceTiers:
    get:
      operationId: appPriceTiers-get_collection
      parameters:
      - description: filter by id(s)
        explode: false
        in: query
        name: "filter[id]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: "fields[appPriceTiers]"
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: "limit[pricePoints]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTiersResponse'
          description: List of AppPriceTiers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppPriceTiers
      x-accepts:
      - application/json
  /v1/appPriceTiers/{id}:
    get:
      operationId: appPriceTiers-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: "fields[appPriceTiers]"
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: "limit[pricePoints]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTierResponse'
          description: Single AppPriceTier
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPriceTiers
      x-accepts:
      - application/json
  /v1/appPriceTiers/{id}/pricePoints:
    get:
      operationId: appPriceTiers-pricePoints-get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPriceTiers
      x-accepts:
      - application/json
  /v1/appPrices/{id}:
    get:
      operationId: appPrices-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPrices
        explode: false
        in: query
        name: "fields[appPrices]"
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceResponse'
          description: Single AppPrice
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPrices
      x-accepts:
      - application/json
  /v1/appScreenshotSets:
    post:
      operationId: appScreenshotSets-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotSetCreateRequest'
        description: AppScreenshotSet representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appScreenshotSets/{id}:
    delete:
      operationId: appScreenshotSets-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-accepts:
      - application/json
    get:
      operationId: appScreenshotSets-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: "fields[appScreenshotSets]"
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: "fields[appScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum number of related appScreenshots returned (when they
          are included)
        explode: true
        in: query
        name: "limit[appScreenshots]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-accepts:
      - application/json
  /v1/appScreenshotSets/{id}/appScreenshots:
    get:
      operationId: appScreenshotSets-appScreenshots-get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: "fields[appScreenshotSets]"
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: "fields[appScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-accepts:
      - application/json
  /v1/appScreenshotSets/{id}/relationships/appScreenshots:
    get:
      operationId: appScreenshotSets-appScreenshots-get_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetAppScreenshotsLinkagesResponse'
          description: List of related linkages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-accepts:
      - application/json
    patch:
      operationId: appScreenshotSets-appScreenshots-replace_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotSetAppScreenshotsLinkagesRequest'
        description: List of related linkages
        required: true
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appScreenshots:
    post:
      operationId: appScreenshots-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotCreateRequest'
        description: AppScreenshot representation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshots
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/appScreenshots/{id}:
    delete:
      operationId: appScreenshots-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshots
      x-accepts:
      - application/json
    get:
      operationId: appScreenshots-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: "fields[appScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshots
      x-accepts:
      - application/json
    patch:
      operationId: appScreenshots-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotUpdateRequest'
[...]
