openapi: 3.0.1
info:
  contact:
    name: National Health Authority
    url: https://ndhm.gov.in/
  description: "It is important to standardize the process of identification of an\
    \ individual across healthcare providers, to ensure that the created medical records\
    \ are issued to the right individual or accessed by a Health Information User\
    \ through appropriate consent. \nIn order to issue a Health ID to an individual,\
    \ one only needs basic demographic details like Name, Year of Birth, Gender. In\
    \ addition, citizens should be able to update contact information easily."
  title: Health ID Service
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/ndhm-healthid.yaml
    version: "3.0"
  x-providerName: ndhm.gov.in
  x-serviceName: ndhm-healthid
servers:
- url: https://healthidsbx.ndhm.gov.in/api
tags:
- description: Health ID Authentication APIs
  name: Authentication
- description: APIs to Retrieve Health ID/number using mobile number or aadhar.
  name: Forgot health id/number
- description: Create Health facility ID APIs
  name: Health Facility
- description: APIs to be published by the Health ID system for benefit linkage
  name: Integrated Programs
- description: Health ID Profile APIs (requires authenticated user token)
  name: Profile
- description: APIs to create Health ID using Aadhaar number & mobile number.
  name: Registration with Aadhaar
- description: APIs to create Health ID using mobile number.
  name: Registration with mobile number
- description: Health ID Search APIs
  name: Search
- description: Health ID Tag APIs
  name: Tags
- description: Health ID Information APIs
  name: Utility
paths:
  /v1/account/aadhaar/generateOTP:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered for link account with aadhar
        number
      operationId: generatere_kyc_aadhar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered for link account with aadhar number
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/aadhaar/verifyOTP:
    post:
      deprecated: false
      description: Verify Aadhaar OTP to complete KYC/re-KYC verification
      operationId: verify_aadhar_otp_only_using_post1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAadhaarOtp'
        description: verifyAadhaarOtp
        required: true
        x-body-name: verifyAadhaarOtp
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Aadhaar OTP to complete KYC/re-KYC verification.
      tags:
      - Profile
      x-codegen-request-body-name: verifyAadhaarOtp
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/benefits:
    get:
      deprecated: false
      operationId: get_benefits_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer XToken
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get List of Benefits associated with HealthID.
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/change/passwd/byAadhaar:
    post:
      deprecated: false
      description: Change password via Aadhar for heath id.
      operationId: change_password_via_aadhar_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidOtpRequestPaylaod'
        description: hidOtpRequestPaylaod
        required: true
        x-body-name: hidOtpRequestPaylaod
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Change password via Aadhar for heath id.
      tags:
      - Profile
      x-codegen-request-body-name: hidOtpRequestPaylaod
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/change/passwd/byMobile:
    post:
      deprecated: false
      description: Change password via mobile for heath id.
      operationId: change_password_via_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidOtpRequestPaylaod'
        description: hidOtpRequestPaylaod
        required: true
        x-body-name: hidOtpRequestPaylaod
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Change password via mobile for heath id.
      tags:
      - Profile
      x-codegen-request-body-name: hidOtpRequestPaylaod
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/change/passwd/generateAadhaarOTP:
    get:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number.
      operationId: generate_aadhar_otp_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number.
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/change/passwd/generateMobileOTP:
    get:
      deprecated: false
      description: Generate Mobile OTP to start registration.
      operationId: generate_mobile_otp_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration.
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/change/password:
    post:
      deprecated: false
      description: Change password via password for heath id.
      operationId: change_password_via_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidChangePasswordRequestPayload'
        description: healthFacilityPasswordRequest
        required: true
        x-body-name: healthFacilityPasswordRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Change password via password for heath id.
      tags:
      - Profile
      x-codegen-request-body-name: healthFacilityPasswordRequest
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/getCard:
    get:
      deprecated: false
      operationId: generate_card_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Health ID card in PDF format
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/getPngCard:
    get:
      deprecated: false
      operationId: generate_png_card_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Health ID card PNG
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/getSvgCard:
    get:
      deprecated: false
      operationId: generate_svg_card_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Health ID card SVG
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/profile:
    delete:
      deprecated: false
      operationId: delete_account_using_delete
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Delete account
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
    get:
      deprecated: false
      operationId: get_account_information_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer XToken
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get account information.
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
    post:
      deprecated: false
      operationId: update_account_information_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Update account information
      tags:
      - Profile
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/qrCode:
    get:
      deprecated: false
      operationId: get_qr_code_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer XToken
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: byte
                type: string
            image/png:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get Quick Response code in PNG format for this account.
      tags:
      - Profile
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/account/token:
    post:
      deprecated: false
      operationId: validate_token_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTokenRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Validate auth token
      tags:
      - Profile
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.profile_controller
  /v1/auth/authPassword:
    post:
      deprecated: false
      operationId: authenticate_with_password_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authenticate using Health ID number / Health ID and password
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/authWithMobile:
    post:
      deprecated: false
      operationId: authenticate_user_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthMobileOTPRequest'
        description: authRequest
        required: true
        x-body-name: authRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authenticate request to generate Mobile OTP using Health ID number
        / Health ID
      tags:
      - Authentication
      x-codegen-request-body-name: authRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/authWithMobileToken:
    post:
      deprecated: false
      operationId: auth_with_mobile_token_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthWithMobileTxnAndUserData'
        description: authRequest
        required: true
        x-body-name: authRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authenticate using verified Mobile Number and user data
      tags:
      - Authentication
      x-codegen-request-body-name: authRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/cert:
    get:
      deprecated: false
      operationId: cert_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Auth token public key.
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/confirmWithAadhaarBio:
    post:
      deprecated: false
      operationId: confirm_with_aadhaar_bio_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthAccountAadhaarBioRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authentication with Aadhaar Biometric based auth transaction.
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/confirmWithAadhaarOtp:
    post:
      deprecated: false
      operationId: confirm_with_aadhaar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthAccountAadhaarOTPRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authentication with Aadhaar OTP based auth transaction.
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/confirmWithDemographics:
    post:
      deprecated: false
      operationId: confirm_with_demographics_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthAccountWithDemographicsRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authenticate using demographic data of user.
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/confirmWithMobileOTP:
    post:
      deprecated: false
      operationId: confirm_with_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthAccountMobileOTPRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authentication with Mobile OTP based auth transaction.
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/confirmWithPassword:
    post:
      deprecated: false
      operationId: auth_account_password_request_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthWithPasswordRequest'
        description: authenticationRequest
        required: true
        x-body-name: authenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Authentication with PASSWORD based auth transaction.
      tags:
      - Authentication
      x-codegen-request-body-name: authenticationRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/init:
    post:
      deprecated: false
      operationId: initiate_auth_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthInitRequest'
        description: authRequest
        required: true
        x-body-name: authRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Initiate authentication process for given Health ID
      tags:
      - Authentication
      x-codegen-request-body-name: authRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/auth/resendAuthOTP:
    post:
      deprecated: false
      operationId: resend_auth_mobile_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendOTPRequest'
        description: resendOtpRequest
        required: true
        x-body-name: resendOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Resend Aadhaar/Mobile OTP for Authentication Transaction.
      tags:
      - Authentication
      x-codegen-request-body-name: resendOtpRequest
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /v1/forgot/healthId/aadhaar:
    post:
      deprecated: false
      description: Verify aadhar OTP sent as part of forgetHealth id.
      operationId: retrieval_health_id_by_aadhar_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthAccountAadhaarOTPRequest'
        description: authAccountAadhaarOTPRequest
        required: true
        x-body-name: authAccountAadhaarOTPRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveHealthIdPayloadResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify aadhar OTP sent as part of forgetHealth id.
      tags:
      - Forgot health id/number
      x-codegen-request-body-name: authAccountAadhaarOTPRequest
      x-openapi-router-controller: openapi_server.controllers.forgot_health_id_number_controller
  /v1/forgot/healthId/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generate_aadhar_otp_using_post1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharOtpGenerateRequestPayLoad'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
      - Forgot health id/number
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.forgot_health_id_number_controller
  /v1/forgot/healthId/mobile:
    post:
      deprecated: false
      description: Verify Mobile OTP sent as  part of forgetHealth id.
      operationId: retrieval_health_id_by_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetriveHealthIdMobilePayLoad'
        description: retriveHealthIdMobilePayLoad
        required: true
        x-body-name: retriveHealthIdMobilePayLoad
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveHealthIdPayloadResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Mobile OTP sent as  part of forgetHealth id.
      tags:
      - Forgot health id/number
      x-codegen-request-body-name: retriveHealthIdMobilePayLoad
      x-openapi-router-controller: openapi_server.controllers.forgot_health_id_number_controller
  /v1/forgot/healthId/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate Mobile OTP to start registration transaction.
      operationId: generate_mobile_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMobileOTPRequest'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration
      tags:
      - Forgot health id/number
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.forgot_health_id_number_controller
  /v1/ha/lgd/districts:
    get:
      deprecated: false
      operationId: get_districts_in_state_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: stateCode
        explode: true
        in: query
        name: stateCode
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/DistrictDTO'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get a list of districts in a given  State as per LGD.
      tags:
      - Utility
      x-openapi-router-controller: openapi_server.controllers.utility_controller
  /v1/ha/lgd/states:
    get:
      deprecated: false
      operationId: get_states_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/StatesDTO'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get a list of states as per LGD.
      tags:
      - Utility
      x-openapi-router-controller: openapi_server.controllers.utility_controller
  /v1/ha/tags:
    delete:
      deprecated: false
      operationId: delete_tag_using_delete
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TagRequest'
        description: tagRequest
        required: true
        x-body-name: tagRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TagRequest'
                type: array
          description: OK
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Delete tag against HealthId.
      tags:
      - Tags
      x-codegen-request-body-name: tagRequest
      x-openapi-router-controller: openapi_server.controllers.tags_controller
    get:
      deprecated: false
      operationId: get_tags_using_get
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Get list of Tags against HealthID.
      tags:
      - Tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
    post:
      deprecated: false
      operationId: add_tag_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagRequest'
        description: tagRequest
        required: true
        x-body-name: tagRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TagRequest'
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Add tag against HealthId.
      tags:
      - Tags
      x-codegen-request-body-name: tagRequest
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /v1/health/facility/authenticate:
    post:
      deprecated: false
      description: Generate token for heath facility id.
      operationId: authenticate_health_facility_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthFacilityAuthenticationRequest'
        description: healthFacilityAuthenticationRequest
        required: true
        x-body-name: healthFacilityAuthenticationRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate token for heath facility id.
      tags:
      - Health Facility
      x-codegen-request-body-name: healthFacilityAuthenticationRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/change/password:
    post:
      deprecated: false
      description: Change password for heath facility id.
      operationId: change_password_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthFacilityChangedPasswordRequest'
        description: healthFacilityPasswordRequest
        required: true
        x-body-name: healthFacilityPasswordRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Change password for heath facility id.
      tags:
      - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/createHealthIdWithPreVerified:
    post:
      deprecated: false
      operationId: create_aadhaar_account_using_post1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountWithPreVerifiedAadhaar'
        description: accountRequest
        required: true
        x-body-name: accountRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccountJwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Health ID card SVG
      tags:
      - Health Facility
      x-codegen-request-body-name: accountRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/generate/password:
    post:
      deprecated: false
      description: Generates password for heath facility id.
      operationId: generate_password_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthFacilityPasswordRequest'
        description: healthFacilityPasswordRequest
        required: true
        x-body-name: healthFacilityPasswordRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generates password for heath facility id.
      tags:
      - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/generateOtp:
    post:
      deprecated: false
      description: Generate health facility OTP on registrered mobile number
      operationId: generate_facility_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Auth Token
        example: Bearer XToken
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharOtpGenerateRequestPayLoad'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate health hacility OTP on registrered mobile number
      tags:
      - Health Facility
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/getSvgCard:
    get:
      deprecated: false
      operationId: generate_svg_card_using_get1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      - description: Your health id
        example: demo@ndhm
        explode: false
        in: header
        name: Health-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Auth Token
        example: Bearer X-Token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: generateSvgCard
      tags:
      - Health Facility
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/health/facility/reset/password:
    post:
      deprecated: false
      description: Reset password for heath facility id.
      operationId: reset_password_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthFacilityPasswordRequest'
        description: healthFacilityPasswordRequest
        required: true
        x-body-name: healthFacilityPasswordRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Reset password for heath facility id.
      tags:
      - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
      x-openapi-router-controller: openapi_server.controllers.health_facility_controller
  /v1/hid/benefit/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generate_aadhar_otp_using_post2
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharOtpGenerateRequestPayLoad'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
      - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/aadhaar/verifyAadharOtp:
    post:
      deprecated: false
      description: Create health id using Aadhaar number opt
      operationId: verify_aadhar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHealthIdOptRequest'
        description: createHealthIdOptRequest
        required: true
        x-body-name: createHealthIdOptRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitRequestPayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create health id using Aadhaar Number Otp.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: createHealthIdOptRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/aadhaar/verifyBio:
    post:
      deprecated: false
      description: Create health id using Biometric Authentication.
      operationId: verify_bio_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHidBiometricRequest'
        description: createHidBiometricRequest
        required: true
        x-body-name: createHidBiometricRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitRequestPayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create health id using Biometric Authentication.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: createHidBiometricRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/createHealthId/demo/auth:
    post:
      deprecated: false
      description: Create health id using Aadhaar Demo Auth.
      operationId: create_health_id_by_demo_auth_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHIdDemoAuthRequest'
        description: createHIdDemoAuthRequest
        required: true
        x-body-name: createHIdDemoAuthRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitRequestPayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create health id using Aadhaar Demo Auth.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: createHIdDemoAuthRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/delink:
    post:
      deprecated: false
      description: De-Linked with hid.
      operationId: delink_hid_benefit_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidBenefitDelinkRequestPayload'
        description: hidBenefitLinkedRequestPayload
        required: true
        x-body-name: hidBenefitLinkedRequestPayload
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitLinkedResponsePayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: De-Linked with hid.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: hidBenefitLinkedRequestPayload
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/link:
    post:
      deprecated: false
      description: Linked with hid.
      operationId: link_hid_benefit_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidBenefitLinkedRequestPayload'
        description: hidBenefitLinkedRequestPayload
        required: true
        x-body-name: hidBenefitLinkedRequestPayload
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitLinkedResponsePayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Linked with hid.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: hidBenefitLinkedRequestPayload
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/mobile/createHealthId:
    post:
      deprecated: false
      description: Create health id using mobile Authentication.
      operationId: create_health_id_by_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHidMobileRequest'
        description: createHidMobileRequest
        required: true
        x-body-name: createHidMobileRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create health id using mobile Authentication.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: createHidMobileRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate mobile OTP on registrered mobile number
      operationId: generate_mobile_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMobileOTPRequest'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate mobile OTP on registrered mobile number
      tags:
      - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/notify/benefit:
    post:
      deprecated: false
      description: Create health id using notify Benefit.
      operationId: notify_benefit_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHidNotifyBenefitRequest'
        description: createHidNotifyBenefitRequest
        required: true
        x-body-name: createHidNotifyBenefitRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HidBenefitRequestPayload'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create health id using notify Benefit.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: createHidNotifyBenefitRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/search/aadhaar:
    post:
      deprecated: false
      description: Search health id number using aadhar or aadhar token.
      operationId: find_by_aadhar_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharNumberRequestPayload'
        description: aadharNumberRequestPayload
        required: true
        x-body-name: aadharNumberRequestPayload
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Search health id number using aadhar or aadhar token.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: aadharNumberRequestPayload
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/search/healthIdNumber:
    post:
      deprecated: false
      description: Search benefit using health id number
      operationId: find_by_health_id_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidBenefitNameSearchRequest'
        description: searchRequest
        required: true
        x-body-name: searchRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/HidBenefitSearchResponsePayload'
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Search benefit using health id number.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: searchRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/update/mobile:
    post:
      deprecated: false
      operationId: update_mobile_information_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidUpdateMobiletRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Update mobile number for account.
      tags:
      - Integrated Programs
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/update/profile:
    post:
      deprecated: false
      operationId: update_account_information_using_post1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidUpdateAccountRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDTO'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Update account information
      tags:
      - Integrated Programs
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/hid/benefit/update/status:
    post:
      deprecated: false
      description: Update health id status.
      operationId: update_status_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidStatusRequestPayload'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Update health id status .
      tags:
      - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.integrated_programs_controller
  /v1/registration/aadhaar/createHealthIdWithAadhaarOtp:
    post:
      deprecated: false
      description: Verify Aadhar OTP received on registrered mobile number
      operationId: verify_aadhar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountWithAadhaarOtp'
        description: verifyAadharOtpRequest
        required: true
        x-body-name: verifyAadharOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccountJwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Aadhaar OTP on registrered mobile number to create Health ID.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadharOtpRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/createHealthIdWithPreVerified:
    post:
      deprecated: false
      description: Create Health ID using pre-verified Aadhaar & Mobile.
      operationId: create_aadhaar_account_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountWithPreVerifiedAadhaar'
        description: accountRequest
        required: true
        x-body-name: accountRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccountJwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create Health ID using pre-verified Aadhaar & Mobile.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: accountRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/generateMobileOTP:
    post:
      deprecated: false
      description: Generate Mobile OTP to verify mobile number.
      operationId: generate_mobile_otp_for_txn_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMobileOTPForTxnRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Mobile OTP for verification.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generate_aadhar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharOtpGenerateRequestPayLoad'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/resendAadhaarOtp:
    post:
      deprecated: false
      description: Resend Aadhar OTP on registrered mobile number
      operationId: resend_aadhar_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendOTPRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccountJwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Resend Aadhaar OTP on registrered mobile number to create Health ID.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/search/aadhar:
    post:
      deprecated: false
      description: Search health id number using aadhar.
      operationId: get_health_id_numbers_by_aadhar_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AadharNumberRequestPayload'
        description: aadharNumberRequestPayload
        required: true
        x-body-name: aadharNumberRequestPayload
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Search health id number using aadhar.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: aadharNumberRequestPayload
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/verifyBio:
    post:
      deprecated: false
      description: Verify Aadhaar using biometrics
      operationId: verify_aadhar_bio_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAadhaarWithBio'
        description: verifyAadharOtpRequest
        required: true
        x-body-name: verifyAadharOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Aadhaar using biometrics.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadharOtpRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/verifyMobileOTP:
    post:
      deprecated: false
      description: Verify Mobile OTP in an existing transaction.
      operationId: verify_mobile_otp_for_txn_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyMobileRequest'
        description: request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Mobile OTP in an existing transaction.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/aadhaar/verifyOTP:
    post:
      deprecated: false
      description: Verify Aadhaar OTP received on registrered mobile number
      operationId: verify_aadhar_otp_only_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAadhaarOtp'
        description: verifyAadhaarOtp
        required: true
        x-body-name: verifyAadhaarOtp
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Aadhaar OTP and continue for mobile verification.
      tags:
      - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadhaarOtp
      x-openapi-router-controller: openapi_server.controllers.registration_with_aadhaar_controller
  /v1/registration/mobile/createHealthId:
    post:
      deprecated: false
      operationId: verify_user_via_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountByVerifiedMobileRequest'
        description: createAccountRequest
        required: true
        x-body-name: createAccountRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccountJwtResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Create Health ID with verified mobile token
      tags:
      - Registration with mobile number
      x-codegen-request-body-name: createAccountRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_mobile_number_controller
  /v1/registration/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate Mobile OTP to start registration transaction.
      operationId: generate_mobile_otp_using_post1
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMobileOTPRequest'
        description: generateOtpRequest
        required: true
        x-body-name: generateOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration
      tags:
      - Registration with mobile number
      x-codegen-request-body-name: generateOtpRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_mobile_number_controller
  /v1/registration/mobile/resendOtp:
    post:
      deprecated: false
      description: Resend Mobile OTP in an existing transaction in case previous OTP
        is not received.
      operationId: resent_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendOTPRequest'
        description: resendRequest
        required: true
        x-body-name: resendRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Resend Mobile OTP for Health ID registration
      tags:
      - Registration with mobile number
      x-codegen-request-body-name: resendRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_mobile_number_controller
  /v1/registration/mobile/verifyOtp:
    post:
      deprecated: false
      description: Verify Mobile OTP in current registration transaction.
      operationId: verify_mobile_otp_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyMobileRequest'
        description: verifyOtpRequest
        required: true
        x-body-name: verifyOtpRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MobileVerificationToken'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Verify Mobile OTP sent as part of registration transaction.
      tags:
      - Registration with mobile number
      x-codegen-request-body-name: verifyOtpRequest
      x-openapi-router-controller: openapi_server.controllers.registration_with_mobile_number_controller
  /v1/search/existsByHealthId:
    post:
      deprecated: false
      operationId: search_user_by_userid_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchByHealthIdRequest'
        description: searchDTO
        required: true
        x-body-name: searchDTO
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Search a user by Health IDs.
      tags:
      - Search
      x-codegen-request-body-name: searchDTO
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /v1/search/searchByHealthId:
    post:
      deprecated: false
      operationId: search_user_by_account_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchByHealthIdRequest'
        description: searchRequest
        required: true
        x-body-name: searchRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResponseSingle'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
      - X-HIP-ID: []
      summary: Search a user by Health ID Number.
      tags:
      - Search
      x-codegen-request-body-name: searchRequest
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /v1/search/searchByMobile:
    post:
      deprecated: false
      operationId: search_user_by_mobile_using_post
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en-US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchByMobileRequest'
        description: searchRequest
        required: true
        x-body-name: searchRequest
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResponseSingle'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization: []
[...]
