openapi: 3.0.1
info:
  description: Azure Event Hubs client
  title: EventHubManagementClient
  version: 2014-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2014-09-01/EventHub.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: eventhub-EventHub
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      description: Lists all of the available Event Hub REST API operations.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/CheckNameAvailability:
    post:
      description: Check the give Namespace name availability.
      operationId: namespaces_check_name_availability
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameter'
        description: Parameters to check availability of the given Namespace name
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/CheckNamespaceAvailability:
    post:
      description: Check the give Namespace name availability.
      operationId: namespaces_check_name_space_availability
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameter'
        description: Parameters to check availability of the given Namespace name
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces:
    get:
      description: "Lists all the available Namespaces within a subscription, irrespective\
        \ of the resource groups."
      operationId: namespaces_list_by_subscription
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces returned successfully.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces:
    get:
      description: Lists the available Namespaces within a resource group.
      operationId: namespaces_list_by_resource_group
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces returned successfully.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}:
    delete:
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      operationId: namespaces_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace successfully deleted.
        "202":
          content: {}
          description: Namespace delete request accepted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets the description of the specified namespace.
      operationId: namespaces_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace returned successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace update request accepted.
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    patch:
      description: "Creates or updates a namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      operationId: namespaces_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceUpdateParameter'
        description: Parameters for updating a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace update request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: "Creates or updates a namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      operationId: namespaces_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters for creating a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace successfully created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace create request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
      tags:
      - Namespaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Gets a list of authorization rules for a Namespace.
      operationId: namespaces_list_authorization_rules
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Namespace AuthorizationRule successfully returned.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    post:
      description: Gets a list of authorization rules for a Namespace.
      operationId: namespaces_list_post_authorization_rules
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Namespace AuthorizationRule successfully returned.
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes an AuthorizationRule for a Namespace.
      operationId: namespaces_delete_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace AuthorizationRule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets an AuthorizationRule for a Namespace by rule name.
      operationId: namespaces_get_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace AuthorizationRule returned successfully.
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    post:
      description: Gets an AuthorizationRule for a Namespace by rule name.
      operationId: namespaces_post_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRulePostResource'
          description: Namespace AuthorizationRule returned successfully.
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates or updates an AuthorizationRule for a Namespace.
      operationId: namespaces_create_or_update_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access AuthorizationRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace AuthorizationRule created
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs
  : get:
      description: Gets all the Event Hubs in a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639493.aspx
      operationId: event_hubs_list_all
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubListResult'
          description: Successfully retrieved the list of Event Hubs.
      tags:
      - EventHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}
  : delete:
      description: Deletes an Event Hub from the specified Namespace and resource
        group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639496.aspx
      operationId: event_hubs_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Event Hub successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    get:
      description: Gets an Event Hubs description for the specified Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639501.aspx
      operationId: event_hubs_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: eventHubName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubResource'
          description: Successfully retrieved the Event Hub description.
      tags:
      - EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    put:
      description: Creates or updates a new Event Hub as a nested resource within
        a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639497.aspx
      operationId: event_hubs_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHubCreateOrUpdateParameters'
        description: Parameters supplied to create an Event Hub resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubResource'
          description: Event Hub successfully created.
      tags:
      - EventHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules
  : get:
      description: Gets the authorization rules for an Event Hub.
      operationId: event_hubs_list_authorization_rules
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Event Hub AuthorizationRule returned successfully.
      tags:
      - EventHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes an Event Hub AuthorizationRule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706100.aspx
      operationId: event_hubs_delete_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Event Hub AuthorizationRule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    get:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: event_hubs_get_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Event Hub AuthorizationRule successfully returned.
      tags:
      - EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    post:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: event_hubs_post_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRulePostResource'
          description: Event Hub AuthorizationRule successfully returned.
      tags:
      - EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    put:
      description: Creates or updates an AuthorizationRule for the specified Event
        Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706096.aspx
      operationId: event_hubs_create_or_update_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access AuthorizationRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Event Hub AuthorizationRule successfully created.
      tags:
      - EventHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups
  : get:
      description: Gets all the consumer groups in a Namespace. An empty feed is returned
        if no consumer group exists in the Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639503.aspx
      operationId: consumer_groups_list_all
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupListResult'
          description: Successfully retrieved the list of consumer groups.
      tags:
      - ConsumerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}
  : delete:
      description: Deletes a consumer group from the specified Event Hub and resource
        group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639491.aspx
      operationId: consumer_groups_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumer_group_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Consumer group deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - ConsumerGroups
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
    get:
      description: Gets a description for the specified consumer group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639488.aspx
      operationId: consumer_groups_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumerGroupName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupResource'
          description: Successfully retrieved the consumer group description.
      tags:
      - ConsumerGroups
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
    put:
      description: Creates or updates an Event Hubs consumer group as a nested resource
        within a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639498.aspx
      operationId: consumer_groups_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumer_group_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroupCreateOrUpdateParameters'
        description: Parameters supplied to create or update a consumer group resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupResource'
          description: Consumer group successfully created.
      tags:
      - ConsumerGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    authorizationRuleNameParameter:
      description: The authorization rule name.
      in: path
      name: authorizationRuleName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    consumerGroupNameParameter:
      description: The consumer group name
      in: path
      name: consumerGroupName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    eventHubNameParameter:
      description: The Event Hub name
      in: path
      name: eventHubName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    namespaceNameParameter:
      description: The Namespace name
      in: path
      name: namespaceName
      required: true
      schema:
        maxLength: 50
        minLength: 6
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Name of the resource group within the azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CheckNameAvailabilityParameter:
      description: 'Parameter supplied to check Namespace name availability operation '
      example:
        name: name
      properties:
        name:
          description: Name to check the namespace name availability
          title: name
          type: string
      required:
      - name
      title: CheckNameAvailabilityParameter
      type: object
    CheckNameAvailabilityResult:
      description: The Result of the CheckNameAvailability operation
      example:
        reason: None
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed info regarding the reason associated with the
            Namespace.
          readOnly: true
          title: message
          type: string
        nameAvailable:
          description: "Value indicating Namespace is availability, true if the Namespace\
            \ is available; otherwise, false."
          title: nameAvailable
          type: boolean
        reason:
          $ref: '#/components/schemas/UnavailableReason'
      title: CheckNameAvailabilityResult
      type: object
    ConsumerGroupCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Consumer Group operation.
      example:
        name: name
        location: location
        type: type
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          eventHubPath: eventHubPath
          userMetadata: userMetadata
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        location:
          description: Location of the resource.
          title: location
          type: string
        name:
          description: Name of the consumer group.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ConsumerGroupProperties'
        type:
          description: ARM type of the Namespace.
          title: type
          type: string
      required:
      - location
      title: ConsumerGroupCreateOrUpdateParameters
      type: object
    ConsumerGroupListResult:
      description: The result to the List Consumer Group operation.
      example:
        value:
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            eventHubPath: eventHubPath
            userMetadata: userMetadata
            updatedAt: 2000-01-23T04:56:07.000+00:00
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            eventHubPath: eventHubPath
            userMetadata: userMetadata
            updatedAt: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of Consumer Group
          title: nextLink
          type: string
        value:
          description: Result of the List Consumer Group operation.
          items:
            $ref: '#/components/schemas/ConsumerGroupResource'
          title: value
          type: array
      title: ConsumerGroupListResult
      type: object
    ConsumerGroupProperties:
      description: Properties supplied to the Create Or Update Consumer Group operation.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        eventHubPath: eventHubPath
        userMetadata: userMetadata
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createdAt:
          description: Exact time the message was created.
          format: date-time
          readOnly: true
          title: createdAt
          type: string
        eventHubPath:
          description: The path of the Event Hub.
          readOnly: true
          title: eventHubPath
          type: string
        updatedAt:
          description: The exact time the message was updated.
          format: date-time
          readOnly: true
          title: updatedAt
          type: string
        userMetadata:
          description: The user metadata.
          title: userMetadata
          type: string
      title: ConsumerGroupProperties
      type: object
    ConsumerGroupResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Single item in List or Get Consumer group operation
      example:
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          eventHubPath: eventHubPath
          userMetadata: userMetadata
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/ConsumerGroupProperties'
      title: ConsumerGroupResource
    EventHubCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Event Hub operation.
      example:
        name: name
        location: location
        type: type
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          partitionCount: 6
          messageRetentionInDays: 0
          partitionIds:
          - partitionIds
          - partitionIds
          status: Active
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        location:
          description: Location of the resource.
          title: location
          type: string
        name:
          description: Name of the Event Hub.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/EventHubProperties'
        type:
          description: ARM type of the Namespace.
          title: type
          type: string
      required:
      - location
      title: EventHubCreateOrUpdateParameters
      type: object
    EventHubListResult:
      description: The result of the List EventHubs operation.
      example:
        value:
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            partitionCount: 6
            messageRetentionInDays: 0
            partitionIds:
            - partitionIds
            - partitionIds
            status: Active
            updatedAt: 2000-01-23T04:56:07.000+00:00
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            partitionCount: 6
            messageRetentionInDays: 0
            partitionIds:
            - partitionIds
            - partitionIds
            status: Active
            updatedAt: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of EventHubs.
          title: nextLink
          type: string
        value:
          description: Result of the List EventHubs operation.
          items:
            $ref: '#/components/schemas/EventHubResource'
          title: value
          type: array
      title: EventHubListResult
      type: object
    EventHubProperties:
      description: Properties supplied to the Create Or Update Event Hub operation.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        partitionCount: 6
        messageRetentionInDays: 0
        partitionIds:
        - partitionIds
        - partitionIds
        status: Active
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createdAt:
          description: Exact time the Event Hub was created.
          format: date-time
          readOnly: true
          title: createdAt
          type: string
        messageRetentionInDays:
          description: Number of days to retain the events for this Event Hub.
          format: int64
          title: messageRetentionInDays
          type: integer
        partitionCount:
          description: Number of partitions created for the Event Hub.
          format: int64
          title: partitionCount
          type: integer
        partitionIds:
          description: Current number of shards on the Event Hub.
          items:
            type: string
          readOnly: true
          title: partitionIds
          type: array
        status:
          description: Enumerates the possible values for the status of the Event
            Hub.
          enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: EntityStatus
        updatedAt:
          description: The exact time the message was updated.
          format: date-time
          readOnly: true
          title: updatedAt
          type: string
      title: EventHubProperties
      type: object
    EventHubResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Single item in List or Get Event Hub operation
      example:
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          partitionCount: 6
          messageRetentionInDays: 0
          partitionIds:
          - partitionIds
          - partitionIds
          status: Active
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/EventHubProperties'
      title: EventHubResource
    NamespaceCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Namespace operation.
      example:
        location: location
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          metricId: metricId
          serviceBusEndpoint: serviceBusEndpoint
          provisioningState: provisioningState
          enabled: true
          status: Unknown
          updatedAt: 2000-01-23T04:56:07.000+00:00
        tags:
          key: tags
      properties:
        location:
          description: Namespace location.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Namespace tags.
          title: tags
          type: object
      required:
      - location
      title: NamespaceCreateOrUpdateParameters
      type: object
    NamespaceListResult:
      description: The response of the List Namespace operation.
      example:
        value:
        - sku:
            tier: Basic
            name: Basic
            capacity: 0
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            metricId: metricId
            serviceBusEndpoint: serviceBusEndpoint
            provisioningState: provisioningState
            enabled: true
            status: Unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
        - sku:
            tier: Basic
            name: Basic
            capacity: 0
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            metricId: metricId
            serviceBusEndpoint: serviceBusEndpoint
            provisioningState: provisioningState
            enabled: true
            status: Unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of namespaces.
          title: nextLink
          type: string
        value:
          description: Result of the List Namespace operation.
          items:
            $ref: '#/components/schemas/NamespaceResource'
          title: value
          type: array
      title: NamespaceListResult
      type: object
    NamespaceProperties:
      description: Properties of the Namespace supplied for create or update Namespace
        operation
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        metricId: metricId
        serviceBusEndpoint: serviceBusEndpoint
        provisioningState: provisioningState
        enabled: true
        status: Unknown
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createdAt:
          description: The time the Namespace was created.
          format: date-time
          title: createdAt
          type: string
        enabled:
          description: Specifies whether this instance is enabled.
          title: enabled
          type: boolean
        metricId:
          description: Identifier for Azure Insights metrics
          readOnly: true
          title: metricId
          type: string
        provisioningState:
          description: Provisioning state of the Namespace.
          title: provisioningState
          type: string
        serviceBusEndpoint:
          description: Endpoint you can use to perform Service Bus operations.
          title: serviceBusEndpoint
          type: string
        status:
          description: State of the Namespace.
          enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: NamespaceState
        updatedAt:
          description: The time the Namespace was updated.
          format: date-time
          title: updatedAt
          type: string
      title: NamespaceProperties
      type: object
    NamespaceResource:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Single Namespace item in List or Get Operation
      example:
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          metricId: metricId
          serviceBusEndpoint: serviceBusEndpoint
          provisioningState: provisioningState
          enabled: true
          status: Unknown
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      title: NamespaceResource
    NamespaceUpdateParameter:
      description: Parameters supplied to the Patch/update Namespace operation.
      example:
        sku:
          tier: Basic
          name: Basic
          capacity: 0
        tags:
          key: tags
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: NamespaceUpdateParameter
      type: object
    Operation:
      description: A Event Hub REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list Event Hub operations. It contains
        a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Event Hub operations supported by the Microsoft.EventHub
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    Resource:
      description: The Resource definition
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      description: Parameters supplied to the Create Or Update Authorization Rules
        operation.
      example:
        name: name
        location: location
        properties:
          rights:
          - Manage
          - Manage
      properties:
        location:
          description: Data center location.
          title: location
          type: string
        name:
          description: Name of the AuthorizationRule.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
      title: SharedAccessAuthorizationRuleCreateOrUpdateParameters
      type: object
    SharedAccessAuthorizationRuleListResult:
      description: The response from the List Namespace operation.
      example:
        value:
        - properties:
            rights:
            - Manage
            - Manage
        - properties:
            rights:
            - Manage
            - Manage
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            an incomplete list of Authorization Rules
          title: nextLink
          type: string
        value:
          description: Result of the List Authorization Rules operation.
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          title: value
          type: array
      title: SharedAccessAuthorizationRuleListResult
      type: object
    SharedAccessAuthorizationRulePostProperties:
      description: AuthorizationRule properties.
      example:
        claimType: claimType
        modifiedTime: 2000-01-23T04:56:07.000+00:00
        secondaryKey: secondaryKey
        rights:
        - Manage
        - Manage
        keyName: keyName
        createdTime: 2000-01-23T04:56:07.000+00:00
        claimValue: claimValue
        primaryKey: primaryKey
      properties:
        claimType:
          description: A string that describes Claim Type for authorization rule.
          title: claimType
          type: string
        claimValue:
          description: A string that describes Claim Value of authorization rule.
          title: claimValue
          type: string
        createdTime:
          description: The time the namespace was created.
          format: date-time
          readOnly: true
          title: createdTime
          type: string
        keyName:
          description: A string that describes the Key Name of authorization rule.
          title: keyName
          type: string
        modifiedTime:
          description: The time the namespace was updated.
          format: date-time
          readOnly: true
          title: modifiedTime
          type: string
        primaryKey:
          description: A base64-encoded 256-bit primary key for signing and validating
            the SAS token.
          title: primaryKey
          type: string
        rights:
          description: The rights associated with the rule.
          items:
            enum:
            - Manage
            - Send
            - Listen
            type: string
            x-ms-enum:
              modelAsString: false
              name: AccessRights
          title: rights
          type: array
        secondaryKey:
          description: A base64-encoded 256-bit primary key for signing and validating
            the SAS token.
          title: secondaryKey
          type: string
      required:
      - rights
      title: SharedAccessAuthorizationRulePostProperties
      type: object
    SharedAccessAuthorizationRulePostResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Single item in a List or Get AuthorizationRule operation
      example:
        properties:
          claimType: claimType
          modifiedTime: 2000-01-23T04:56:07.000+00:00
          secondaryKey: secondaryKey
          rights:
          - Manage
          - Manage
          keyName: keyName
          createdTime: 2000-01-23T04:56:07.000+00:00
          claimValue: claimValue
          primaryKey: primaryKey
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRulePostProperties'
      title: SharedAccessAuthorizationRulePostResource
    SharedAccessAuthorizationRuleProperties:
      description: Properties supplied to create or update SharedAccessAuthorizationRule
      example:
        rights:
        - Manage
        - Manage
      properties:
        rights:
          description: The rights associated with the rule.
          items:
            enum:
            - Manage
            - Send
            - Listen
            type: string
            x-ms-enum:
              modelAsString: false
              name: AccessRights
          title: rights
          type: array
      required:
      - rights
      title: SharedAccessAuthorizationRuleProperties
      type: object
    SharedAccessAuthorizationRuleResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Single item in a List or Get AuthorizationRule operation
      example:
        properties:
          rights:
          - Manage
          - Manage
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
      title: SharedAccessAuthorizationRuleResource
    Sku:
      description: SKU parameters supplied to the create Namespace operation
      example:
        tier: Basic
        name: Basic
        capacity: 0
      properties:
        capacity:
          description: The Event Hubs throughput units.
          format: int32
          title: capacity
          type: integer
        name:
          description: Name of this SKU.
          enum:
          - Basic
          - Standard
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
        tier:
          description: The billing tier of this particular SKU.
          enum:
          - Basic
          - Standard
          - Premium
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuTier
      required:
      - tier
      title: Sku
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Definition of Resource
      properties:
        location:
          description: Resource location
          title: location
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      required:
      - location
      title: TrackedResource
    UnavailableReason:
      description: Specifies the reason for the unavailability of the service.
      enum:
      - None
      - InvalidName
      - SubscriptionIsDisabled
      - NameInUse
      - NameInLockdown
      - TooManyNamespaceInCurrentSubscription
      title: UnavailableReason
      type: string
      x-ms-enum:
        modelAsString: false
        name: UnavailableReason
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          readOnly: true
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.EventHub"
          readOnly: true
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Invoice, etc."
          readOnly: true
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
