openapi: 3.0.1
info:
  title: RecoveryServicesClient
  version: 2016-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/replicationusages.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservices-replicationusages
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages
  : get:
      deprecated: false
      description: Fetches the replication usages of the vault.
      operationId: ReplicationUsages_List
      parameters:
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationUsageList'
          description: OK
      tags:
      - ReplicationUsages
      x-ms-examples:
        Gets Replication usages of vault:
          parameters:
            api-version: 2016-06-01
            resourceGroupName: avrai7517RG1
            subscriptionId: 6808dbbc-98c7-431f-a1b1-9580902423b7
            vaultName: avrai7517Vault1
          responses:
            "200":
              body:
                value:
                - jobsSummary:
                    failedJobs: 0
                    inProgressJobs: 0
                    suspendedJobs: 0
                  monitoringSummary:
                    deprecatedProviderCount: 0
                    eventsCount: 0
                    supportedProviderCount: 0
                    unHealthyProviderCount: 0
                    unHealthyVmCount: 0
                    unsupportedProviderCount: 0
                  protectedItemCount: 2
                  recoveryPlanCount: 1
                  registeredServersCount: 2
      x-ms-pageable: {}
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    JobsSummary:
      description: Summary of the replication job data for this vault.
      example:
        failedJobs: 0
        inProgressJobs: 6
        suspendedJobs: 1
      properties:
        failedJobs:
          description: Count of failed jobs.
          type: integer
        inProgressJobs:
          description: Count of in-progress jobs.
          type: integer
        suspendedJobs:
          description: Count of suspended jobs.
          type: integer
      type: object
    MonitoringSummary:
      description: Summary of the replication monitoring data for this vault.
      example:
        supportedProviderCount: 2
        unHealthyProviderCount: 7
        unHealthyVmCount: 9
        eventsCount: 5
        deprecatedProviderCount: 5
        unsupportedProviderCount: 3
      properties:
        deprecatedProviderCount:
          description: Count of all deprecated recovery service providers.
          type: integer
        eventsCount:
          description: Count of all critical warnings.
          type: integer
        supportedProviderCount:
          description: Count of all the supported recovery service providers.
          type: integer
        unHealthyProviderCount:
          description: Count of unhealthy replication providers.
          type: integer
        unHealthyVmCount:
          description: Count of unhealthy VMs.
          type: integer
        unsupportedProviderCount:
          description: Count of all the unsupported recovery service providers.
          type: integer
      type: object
    ReplicationUsage:
      description: Replication usages of a vault.
      example:
        monitoringSummary:
          supportedProviderCount: 2
          unHealthyProviderCount: 7
          unHealthyVmCount: 9
          eventsCount: 5
          deprecatedProviderCount: 5
          unsupportedProviderCount: 3
        protectedItemCount: 2
        jobsSummary:
          failedJobs: 0
          inProgressJobs: 6
          suspendedJobs: 1
        recoveryPlanCount: 4
        registeredServersCount: 1
        recoveryServicesProviderAuthType: 7
      properties:
        jobsSummary:
          $ref: '#/components/schemas/JobsSummary'
        monitoringSummary:
          $ref: '#/components/schemas/MonitoringSummary'
        protectedItemCount:
          description: Number of replication protected items for this vault.
          type: integer
        recoveryPlanCount:
          description: Number of replication recovery plans for this vault.
          type: integer
        recoveryServicesProviderAuthType:
          description: The authentication type of recovery service providers in the
            vault.
          type: integer
        registeredServersCount:
          description: Number of servers registered to this vault.
          type: integer
      type: object
    ReplicationUsageList:
      description: Replication usages for vault.
      example:
        value:
        - monitoringSummary:
            supportedProviderCount: 2
            unHealthyProviderCount: 7
            unHealthyVmCount: 9
            eventsCount: 5
            deprecatedProviderCount: 5
            unsupportedProviderCount: 3
          protectedItemCount: 2
          jobsSummary:
            failedJobs: 0
            inProgressJobs: 6
            suspendedJobs: 1
          recoveryPlanCount: 4
          registeredServersCount: 1
          recoveryServicesProviderAuthType: 7
        - monitoringSummary:
            supportedProviderCount: 2
            unHealthyProviderCount: 7
            unHealthyVmCount: 9
            eventsCount: 5
            deprecatedProviderCount: 5
            unsupportedProviderCount: 3
          protectedItemCount: 2
          jobsSummary:
            failedJobs: 0
            inProgressJobs: 6
            suspendedJobs: 1
          recoveryPlanCount: 4
          registeredServersCount: 1
          recoveryServicesProviderAuthType: 7
      properties:
        value:
          description: The list of replication usages for the given vault.
          items:
            $ref: '#/components/schemas/ReplicationUsage'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
x-original-swagger-version: "2.0"

