openapi: 3.0.1
info:
  description: APIs to deploy and manage resources to SeaBreeze.
  title: SeaBreezeManagementClient
  version: 2018-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-09-01-preview/servicefabricmesh.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: servicefabricmesh
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabricMesh/operations:
    get:
      description: Lists all the available operations provided by Service Fabric SeaBreeze
        resource provider.
      operationId: Operations_List
      parameters:
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      summary: Lists all of the available operations.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/applications:
    get:
      description: Gets the information about all application resources in a given
        resource group. The information include the description and other properties
        of the application.
      operationId: Application_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the application resources in a given subscription.
      tags:
      - Applications
      x-ms-examples:
        ListApplicationsBySubscriptionId:
          description: This example shows how to list all application resources for
            a specified subscription.
          operationId: Application_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                  location: EastUS
                  name: sampleApplication
                  properties:
                    description: Service Fabric Mesh sample application.
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/gateways:
    get:
      description: Gets the information about all gateway resources in a given resource
        group. The information include the description and other properties of the
        gateway.
      operationId: Gateway_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the gateway resources in a given subscription.
      tags:
      - Gateways
      x-ms-examples:
        ListGatewaysBySubscriptionId:
          description: This example shows how to list all gateway resources for a
            specified subscription.
          operationId: Gateway_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                  location: EastUS
                  name: sampleGateway
                  properties:
                    description: Service Fabric Mesh sample gateway.
                    destinationNetwork:
                      name: helloWorldNetwork
                    http:
                    - hosts:
                      - name: contoso.com
                        routes:
                        - destination:
                            applicationName: httpHelloWorldApp
                            endpointName: indexHttpEndpoint
                            serviceName: indexService
                          match:
                            headers:
                            - name: accept
                              type: exact
                              value: application/json
                            path:
                              rewrite: /
                              type: prefix
                              value: /index
                          name: index
                      name: contosoWebsite
                      port: 8081
                    ipAddress: 192.168.1.1
                    provisioningState: Succeeded
                    sourceNetwork:
                      name: Open
                    status: Ready
                    tcp:
                    - destination:
                        applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        serviceName: helloWorldService
                      name: web
                      port: 80
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/gateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/networks:
    get:
      description: Gets the information about all network resources in a given resource
        group. The information include the description and other properties of the
        network.
      operationId: Network_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the network resources in a given subscription.
      tags:
      - Networks
      x-ms-examples:
        ListNetworksBySubscriptionId:
          description: This example shows how to list all network resources for a
            specified subscription.
          operationId: Network_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                  location: EastUS
                  name: sampleNetwork
                  properties:
                    description: Service Fabric Mesh sample network.
                    kind: Local
                    networkAddressPrefix: 2.0.0.0/16
                    provisioningState: Succeeded
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/secrets:
    get:
      description: Gets the information about all secret resources in a given resource
        group. The information include the description and other properties of the
        secret.
      operationId: Secret_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the secret resources in a given subscription.
      tags:
      - Secrets
      x-ms-examples:
        ListSecretsBySubscriptionId:
          description: This example shows how to list all secret resources for a specified
            subscription.
          operationId: Secret_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                  location: EastUS
                  name: dbConnectionString
                  properties:
                    contentType: text/plain
                    description: Mongo DB connection string for backend database!
                    kind: inlinedValue
                    provisioningState: Succeeded
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/secrets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/volumes:
    get:
      description: Gets the information about all volume resources in a given resource
        group. The information include the description and other properties of the
        volume.
      operationId: Volume_ListBySubscription
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the volume resources in a given subscription.
      tags:
      - Volumes
      x-ms-examples:
        ListVolumesBySubscriptionId:
          description: This example shows how to list all volume resources for a specified
            subscription.
          operationId: Volume_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                  location: EastUS
                  name: sampleVolume
                  properties:
                    azureFileParameters:
                      accountName: sbzdemoaccount
                      shareName: sharel
                    description: Service Fabric Mesh sample volume.
                    provider: SFAzureFile
                    provisioningState: Succeeded
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/volumes
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications:
    get:
      description: Gets the information about all application resources in a given
        resource group. The information include the description and other properties
        of the Application.
      operationId: Application_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the application resources in a given resource group.
      tags:
      - Applications
      x-ms-examples:
        ListApplicationsByResourceGroup:
          description: This example shows how to list all application resources within
            a specified resource group.
          operationId: Application_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                  location: EastUS
                  name: sampleApplication
                  properties:
                    description: Service Fabric Mesh sample application.
                    healthState: Ok
                    provisioningState: Succeeded
                    serviceNames:
                    - helloWorldService
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}
  : delete:
      description: Deletes the application resource identified by the name.
      operationId: Application_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content - the specified application was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the application resource.
      tags:
      - Applications
      x-ms-examples:
        DeleteApplication:
          description: "This example shows how to delete an existing application resource.\
            \ If the application resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the application resource\
            \ does not exit, an empty response with 204 status code is returned."
          operationId: Application_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the information about the application resource with the given
        name. The information include the description and other properties of the
        application.
      operationId: Application_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the application resource with the given name.
      tags:
      - Applications
      x-ms-examples:
        GetApplication:
          description: "This example shows how to get a application resource. If the\
            \ application resource exists, its description is returned along with\
            \ an OK (200) status code. If the application resource does not exist,\
            \ an error is returned with an appropriate status code."
          operationId: Application_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                  - helloWorldService
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
      x-accepts:
      - application/json
    put:
      description: "Creates an application resource with the specified name, description\
        \ and properties. If an application resource with the same name exists, then\
        \ it is updated with the specified description and properties."
      operationId: Application_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResourceDescription'
        description: Description for creating a Application resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceDescription'
          description: Created
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates an application resource.
      tags:
      - Applications
      x-ms-examples:
        CreateOrUpdateApplication:
          description: This example shows how to create or update a application resource.
          operationId: Application_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample application.
                services:
                - name: helloWorldService
                  properties:
                    codePackages:
                    - endpoints:
                      - name: helloWorldListener
                        port: 80
                      image: seabreeze/sbz-helloworld:1.0-alpine
                      name: helloWorldCode
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                    description: SeaBreeze Hello World Service.
                    networkRefs:
                    - endpointRefs:
                      - name: helloWorldListener
                      name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                    osType: Linux
                    replicaCount: 1
              tags: {}
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                  - helloWorldService
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Unknown
                  provisioningState: Updating
                  serviceNames:
                  - helloWorldService
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
      x-codegen-request-body-name: applicationResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services
  : get:
      description: Gets the information about all services of an application resource.
        The information include the description and other properties of the Service.
      operationId: Service_List
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Lists all the service resources.
      tags:
      - Services
      x-ms-examples:
        ListServices:
          description: This example shows how to list all services of a given application.
          operationId: Service_List
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication/services/helloWorldService
                  name: helloWorldService
                  properties:
                    codePackages:
                    - endpoints:
                      - name: helloWorldListener
                        port: 80
                      image: seabreeze/sbz-helloworld:1.0-alpine
                      name: helloWorldCode
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                    description: SeaBreeze Hello World Service.
                    healthState: Ok
                    networkRefs:
                    - endpointRefs:
                      - name: helloWorldListener
                      name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                    osType: Linux
                    replicaCount: 1
                    status: Ready
                  type: Microsoft.ServiceFabricMesh/services
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}
  : get:
      description: Gets the information about the service resource with the given
        name. The information include the description and other properties of the
        service.
      operationId: Service_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the service resource with the given name.
      tags:
      - Services
      x-ms-examples:
        GetService:
          description: "This example shows how to get a service resource for a given\
            \ application. If the service resource exists, its description is returned\
            \ along with an OK (200) status code. If the service resource does not\
            \ exist, an error is returned with an appropriate status code."
          operationId: Service_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication/services/helloWorldService
                name: helloWorldService
                properties:
                  codePackages:
                  - endpoints:
                    - name: helloWorldListener
                      port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  description: SeaBreeze Hello World Service.
                  healthState: Ok
                  networkRefs:
                  - endpointRefs:
                    - name: helloWorldListener
                    name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                  osType: Linux
                  replicaCount: 1
                  status: Ready
                type: Microsoft.ServiceFabricMesh/services
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas
  : get:
      description: Gets the information about all replicas of a given service of an
        application. The information includes the runtime properties of the replica
        instance.
      operationId: ServiceReplica_List
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets replicas of a given service.
      tags:
      - ServiceReplicas
      x-ms-examples:
        ReplicasGetAll:
          description: This example shows how to list replicas of a service resources
            for a given application.
          operationId: ServiceReplica_List
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - codePackages:
                  - endpoints:
                    - name: helloWorldListener
                      port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                      - count: 3
                        firstTimestamp: 2018-04-05T22:37:20.9016844
                        lastTimestamp: 2018-04-06T06:36:06.0887046
                        message: Container created and started.
                        name: Created
                        type: Normal
                      - count: 1
                        firstTimestamp: 2018-04-06T06:34:00.6622454
                        lastTimestamp: 2018-04-06T06:34:00.6622454
                        message: Container was stopped.
                        name: Stopped
                        type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                  networkRefs:
                  - endpointRefs:
                    - name: helloWorldListener
                    name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                  osType: Linux
                  replicaName: "0"
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas/{replicaName}
  : get:
      description: Gets the information about the service replica with the given name.
        The information include the description and other properties of the service
        replica.
      operationId: ServiceReplica_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Service Fabric replica name.
        in: path
        name: replicaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the given replica of the service of an application.
      tags:
      - ServiceReplicas
      x-ms-examples:
        ReplicaGet:
          description: "This example shows how to get information about given replica\
            \ of a service. If the replica exists, its description is returned along\
            \ with an OK (200) status code. If the replica does not exist, an error\
            \ is returned with an appropriate status code."
          operationId: ServiceReplica_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: helloWorldApp
            replicaName: "0"
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                codePackages:
                - endpoints:
                  - name: helloWorldListener
                    port: 80
                  image: seabreeze/sbz-helloworld:1.0-alpine
                  instanceView:
                    currentState:
                      exitCode: "0"
                      state: Running
                    events:
                    - count: 3
                      firstTimestamp: 2018-04-05T22:37:20.9016844
                      lastTimestamp: 2018-04-06T06:36:06.0887046
                      message: Container created and started.
                      name: Created
                      type: Normal
                    - count: 1
                      firstTimestamp: 2018-04-06T06:34:00.6622454
                      lastTimestamp: 2018-04-06T06:34:00.6622454
                      message: Container was stopped.
                      name: Stopped
                      type: Normal
                    previousState:
                      exitCode: "0"
                      state: NotSpecified
                    restartCount: 1
                  name: helloWorldCode
                  resources:
                    requests:
                      cpu: 1
                      memoryInGB: 1
                networkRefs:
                - endpointRefs:
                  - name: helloWorldListener
                  name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                osType: Linux
                replicaName: "0"
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas/{replicaName}/codePackages/{codePackageName}/logs
  : get:
      description: Gets the logs for the container of the specified code package of
        the service replica.
      operationId: CodePackage_GetContainerLogs
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: The identity of the application.
        in: path
        name: applicationResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The identity of the service.
        in: path
        name: serviceResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Service Fabric replica name.
        in: path
        name: replicaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of code package of the service.
        in: path
        name: codePackageName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of lines to show from the end of the logs. Default is
          100.
        in: query
        name: tail
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerLogs'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the logs from the container.
      tags:
      - CodePackages
      x-ms-examples:
        GetContainerLogs:
          description: "This example shows how to get logs from the container of service\
            \ replica. If the container exists, the logs are returned with an OK (200)\
            \ status code, otherwise an error is returned with an appropriate status\
            \ code."
          operationId: CodePackage_GetContainerLogs
          parameters:
            api-version: 6.4-preview
            applicationResourceName: sbzDocApp
            codePackageName: sbzDocCode
            replicaName: "0"
            resourceGroupName: sbz_demo
            serviceResourceName: sbzDocService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                content: |2
                   * Running on http://0.0.0.0:8080/ (Press CTRL+C to quit)
                   * Downloading style https://assets-cdn.github.com/assets/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css
                   * Downloading style https://assets-cdn.github.com/assets/github-a698da0d53574b056d3c79ac732d4a70.css
                   * Downloading style https://assets-cdn.github.com/assets/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css
                   * Cached all downloads in /root/.grip/cache-4.5.2
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET / HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/github-a698da0d53574b056d3c79ac732d4a70.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/static/octicons/octicons.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/octicons/octicons.woff2?ef21c39f0ca9b1b5116e5eb7ac5eabe6 HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/favicon.ico HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:05] "GET /seabreeze-index.md HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:09] "GET /seabreeze-api-application_get.md HTTP/1.1" 200 -
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/gateways:
    get:
      description: Gets the information about all gateway resources in a given resource
        group. The information include the description and other properties of the
        Gateway.
      operationId: Gateway_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the gateway resources in a given resource group.
      tags:
      - Gateways
      x-ms-examples:
        ListGatewaysByResourceGroup:
          description: This example shows how to list all gateway resources within
            a specified resource group.
          operationId: Gateway_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                  location: EastUS
                  name: sampleGateway
                  properties:
                    description: Service Fabric Mesh sample gateway.
                    destinationNetwork:
                      name: helloWorldNetwork
                    http:
                    - hosts:
                      - name: contoso.com
                        routes:
                        - destination:
                            applicationName: httpHelloWorldApp
                            endpointName: indexHttpEndpoint
                            serviceName: indexService
                          match:
                            headers:
                            - name: accept
                              type: exact
                              value: application/json
                            path:
                              rewrite: /
                              type: prefix
                              value: /index
                          name: index
                      name: contosoWebsite
                      port: 8081
                    ipAddress: 192.168.1.1
                    provisioningState: Succeeded
                    sourceNetwork:
                      name: Open
                    status: Ready
                    tcp:
                    - destination:
                        applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        serviceName: helloWorldService
                      name: web
                      port: 80
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/gateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/gateways/{gatewayResourceName}
  : delete:
      description: Deletes the gateway resource identified by the name.
      operationId: Gateway_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the gateway.
        in: path
        name: gatewayResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content - the specified gateway was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the gateway resource.
      tags:
      - Gateways
      x-ms-examples:
        DeleteGateway:
          description: "This example shows how to delete an existing gateway resource.\
            \ If the gateway resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the gateway resource does\
            \ not exist, an empty response with 204 status code is returned."
          operationId: Gateway_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the information about the gateway resource with the given
        name. The information include the description and other properties of the
        gateway.
      operationId: Gateway_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the gateway.
        in: path
        name: gatewayResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the gateway resource with the given name.
      tags:
      - Gateways
      x-ms-examples:
        GetGateway:
          description: "This example shows how to get a gateway resource. If the gateway\
            \ resource exists, its description is returned along with an OK (200)\
            \ status code. If the gateway resource does not exist, an error is returned\
            \ with an appropriate status code."
          operationId: Gateway_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                  - hosts:
                    - name: contoso.com
                      routes:
                      - destination:
                          applicationName: httpHelloWorldApp
                          endpointName: indexHttpEndpoint
                          serviceName: indexService
                        match:
                          headers:
                          - name: accept
                            type: exact
                            value: application/json
                          path:
                            rewrite: /
                            type: prefix
                            value: /index
                        name: index
                    name: contosoWebsite
                    port: 8081
                  ipAddress: 192.168.1.1
                  provisioningState: Succeeded
                  sourceNetwork:
                    name: Open
                  status: Ready
                  tcp:
                  - destination:
                      applicationName: helloWorldApp
                      endpointName: helloWorldListener
                      serviceName: helloWorldService
                    name: web
                    port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
      x-accepts:
      - application/json
    put:
      description: "Creates a gateway resource with the specified name, description\
        \ and properties. If a gateway resource with the same name exists, then it\
        \ is updated with the specified description and properties. Use gateway resources\
        \ to create a gateway for public connectivity for services within your application."
      operationId: Gateway_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the gateway.
        in: path
        name: gatewayResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayResourceDescription'
        description: Description for creating a Gateway resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResourceDescription'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResourceDescription'
          description: Created
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates a gateway resource.
      tags:
      - Gateways
      x-ms-examples:
        CreateOrUpdateGateway:
          description: This example shows how to create or update a gateway resource.
          operationId: Gateway_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample gateway.
                destinationNetwork:
                  name: helloWorldNetwork
                http:
                - hosts:
                  - name: contoso.com
                    routes:
                    - destination:
                        applicationName: httpHelloWorldApp
                        endpointName: indexHttpEndpoint
                        serviceName: indexService
                      match:
                        headers:
                        - name: accept
                          type: exact
                          value: application/json
                        path:
                          rewrite: /
                          type: prefix
                          value: /index
                      name: index
                  name: contosoWebsite
                  port: 8081
                sourceNetwork:
                  name: Open
                tcp:
                - destination:
                    applicationName: helloWorldApp
                    endpointName: helloWorldListener
                    serviceName: helloWorldService
                  name: web
                  port: 80
              tags: {}
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                  - hosts:
                    - name: contoso.com
                      routes:
                      - destination:
                          applicationName: httpHelloWorldApp
                          endpointName: indexHttpEndpoint
                          serviceName: indexService
                        match:
                          headers:
                          - name: accept
                            type: exact
                            value: application/json
                          path:
                            rewrite: /
                            type: prefix
                            value: /index
                        name: index
                    name: contosoWebsite
                    port: 8081
                  ipAddress: 192.168.1.1
                  provisioningState: Succeeded
                  sourceNetwork:
                    name: Open
                  status: Ready
                  tcp:
                  - destination:
                      applicationName: helloWorldApp
                      endpointName: helloWorldListener
                      serviceName: helloWorldService
                    name: web
                    port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                  - hosts:
                    - name: contoso.com
                      routes:
                      - destination:
                          applicationName: httpHelloWorldApp
                          endpointName: indexHttpEndpoint
                          serviceName: indexService
                        match:
                          headers:
                          - name: accept
                            type: exact
                            value: application/json
                          path:
                            rewrite: /
                            type: prefix
                            value: /index
                        name: index
                    name: contosoWebsite
                    port: 8081
                  provisioningState: Updating
                  sourceNetwork:
                    name: Open
                  status: Creating
                  tcp:
                  - destination:
                      applicationName: helloWorldApp
                      endpointName: helloWorldListener
                      serviceName: helloWorldService
                    name: web
                    port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
      x-codegen-request-body-name: gatewayResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks:
    get:
      description: Gets the information about all network resources in a given resource
        group. The information include the description and other properties of the
        Network.
      operationId: Network_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the network resources in a given resource group.
      tags:
      - Networks
      x-ms-examples:
        ListNetworksByResourceGroup:
          description: This example shows how to list all network resources within
            a specified resource group.
          operationId: Network_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                  location: EastUS
                  name: sampleNetwork
                  properties:
                    description: Service Fabric Mesh sample network.
                    kind: Local
                    networkAddressPrefix: 2.0.0.0/16
                    provisioningState: Succeeded
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks/{networkResourceName}
  : delete:
      description: Deletes the network resource identified by the name.
      operationId: Network_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content - the specified network was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the network resource.
      tags:
      - Networks
      x-ms-examples:
        DeleteNetwork:
          description: "This example shows how to delete an existing network resource.\
            \ If the network resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the network resource does\
            \ not exist, an empty response with 204 status code is returned."
          operationId: Network_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the information about the network resource with the given
        name. The information include the description and other properties of the
        network.
      operationId: Network_Get
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets the network resource with the given name.
      tags:
      - Networks
      x-ms-examples:
        GetNetwork:
          description: "This example shows how to get a network resource. If the network\
            \ resource exists, its description is returned along with an OK (200)\
            \ status code. If the network resource does not exist, an error is returned\
            \ with an appropriate status code."
          operationId: Network_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
      x-accepts:
      - application/json
    put:
      description: "Creates a network resource with the specified name, description\
        \ and properties. If a network resource with the same name exists, then it\
        \ is updated with the specified description and properties."
      operationId: Network_Create
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identity of the network.
        in: path
        name: networkResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkResourceDescription'
        description: Description for creating a Network resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResourceDescription'
          description: Created
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Creates or updates a network resource.
      tags:
      - Networks
      x-ms-examples:
        CreateOrUpdateNetwork:
          description: This example shows how to create or update a network resource.
          operationId: Network_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample network.
                kind: Local
                networkAddressPrefix: 2.0.0.0/16
              tags: {}
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Updating
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
      x-codegen-request-body-name: networkResourceDescription
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets:
    get:
      description: Gets the information about all secret resources in a given resource
        group. The information include the description and other properties of the
        Secret.
      operationId: Secret_ListByResourceGroup
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResourceDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Gets all the secret resources in a given resource group.
      tags:
      - Secrets
      x-ms-examples:
        ListSecretsByResourceGroup:
          description: This example shows how to list all secret resources within
            a specified resource group.
          operationId: Secret_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                  location: EastUS
                  name: dbConnectionString
                  properties:
                    contentType: text/plain
                    description: Mongo DB connection string for backend database!
                    kind: inlinedValue
                    provisioningState: Succeeded
                    status: Ready
                  tags: {}
                  type: Microsoft.ServiceFabricMesh/secrets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets/{secretResourceName}
  : delete:
      description: Deletes the secret resource identified by the name.
      operationId: Secret_Delete
      parameters:
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API. This parameter is required and its value
          must be `2018-09-01-preview`.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01-preview
          enum:
          - 2018-09-01-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: 2018-09-01-preview
            values:
            - description: The `2018-09-01-preview` version of the API.
              value: 2018-09-01-preview
        x-ms-enum:
          modelAsString: true
          name: 2018-09-01-preview
          values:
          - description: The `2018-09-01-preview` version of the API.
            value: 2018-09-01-preview
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the secret resource.
        in: path
        name: secretResourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content - the specified secret was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Deletes the secret resource.
      tags:
      - Secrets
      x-ms-examples:
        DeleteSecret:
          description: "This example shows how to delete an existing secret resource.\
            \ If the secret resource exists and is deleted successfully, an empty\
            \ response with 200 status code is returned. If the secret resource does\
[...]
