openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "NFL rosters, player stats, team stats, and fantasy stats API."
  title: NFL v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/stats
- url: https://azure-api.sportsdata.io/v3/nfl/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveBoxScores:
    get:
      description: This method returns box scores for all games that are either in-progress
        or have been updated within the last 30 minutes.
      operationId: legacy_box_scores_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Active
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AllTeams:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: teams_all
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScore/{season}/{week}/{hometeam}:
    get:
      operationId: legacy_box_score
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the home team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Legacy Box Score
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoreByScoreIDV3/{scoreid}:
    get:
      operationId: box_score_by_scoreid_v
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The ScoreID of the game. Possible values include: <code>16247</code>,\
          \ <code>16245</code>, etc."
        explode: false
        in: path
        name: scoreid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
          description: ""
      summary: Box Score by ScoreID V3
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoreV3/{season}/{week}/{hometeam}:
    get:
      operationId: box_score_v
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of a team playing in this game. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
          description: ""
      summary: Box Score V3
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScores/{season}/{week}:
    get:
      description: This method returns all box scores for a given season and week.
      operationId: legacy_box_scores
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoresDelta/{season}/{week}/{minutes}:
    get:
      description: "This method returns all box scores for a given season and week,\
        \ but only returns player stats that have changed in the last X minutes."
      operationId: legacy_box_scores_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}:
    get:
      description: "This method returns all box scores for a given season and week,\
        \ but only returns player stats that have changed in the last X minutes. You\
        \ can also filter by type of player stats to include, such as traditional\
        \ fantasy players, IDP players or all players."
      operationId: box_scores_delta_v
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The subcategory of players to include in the returned PlayerGame records. Possible values include:<br><br>
          <code>all</code> Returns all players<br>
          <code>fantasy</code> Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>
          <code>idp</code> Returns traditional fantasy players and IDP players.
        explode: false
        in: path
        name: playerstoinclude
        required: true
        schema:
          default: all
          enum:
          - all
          - fantasy
          - idp
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br><code>1</code>,\n <code>2</code>, etc.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
                type: array
          description: ""
      summary: Box Scores Delta V3
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Byes/{season}:
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: bye_weeks
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bye'
                type: array
          description: ""
      summary: Bye Weeks
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start
        of the new NFL league year. The earliest season for Fantasy data is 2001.
        The earliest season for Team data is 1985. The earliest season for Fantasy
        data is 2001. The earliest season for Team data is 1985.
      operationId: season_current
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_current
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DailyFantasyPlayers/{date}:
    get:
      operationId: daily_fantasy_players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          The date of the contest for which you're pulling\
          \ players\n          <code>2014-SEP-21</code>,\n          <code>2014-NOV-15</code>,\
          \ etc\n        "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DailyFantasyPlayer'
                type: array
          description: ""
      summary: Daily Fantasy Players
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DailyFantasyPoints/{date}:
    get:
      operationId: daily_fantasy_scoring
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the contest for which you're pulling players
                    <code>2014-SEP-21</code>,
                    <code>2014-NOV-15</code>, etc
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DailyFantasyScoring'
                type: array
          description: ""
      summary: Daily Fantasy Scoring
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: dfs_slates_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      operationId: dfs_slates_by_week
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Week
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyDefenseByGame/{season}/{week}:
    get:
      operationId: fantasy_defense_game_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseGame'
                type: array
          description: ""
      summary: Fantasy Defense Game Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}:
    get:
      operationId: fantasy_defense_game_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseGame'
          description: ""
      summary: Fantasy Defense Game Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyDefenseBySeason/{season}:
    get:
      operationId: fantasy_defense_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseSeason'
                type: array
          description: ""
      summary: Fantasy Defense Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyDefenseBySeasonByTeam/{season}/{team}:
    get:
      operationId: fantasy_defense_season_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseSeason'
          description: ""
      summary: Fantasy Defense Season Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyPlayers:
    get:
      description: "This method returns a comprehensive list of draftable fantasy\
        \ football players, including QB, RB, WR, TE, K and DEF.  Players are sorted\
        \ by ADP (AverageDraftPosition)."
      operationId: fantasy_players_with_adp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyPlayer'
                type: array
          description: ""
      summary: Fantasy Players with ADP
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FantasyPlayersIDP:
    get:
      description: "This method returns the top 300+ IDP Fantasy Players for the current\
        \ or upcoming season, ordered by AverageDraftPositionIDP."
      operationId: idp_fantasy_players_with_adp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyPlayer'
                type: array
          description: ""
      summary: IDP Fantasy Players with ADP
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FinalBoxScores:
    get:
      operationId: legacy_box_scores_final
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Final
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FreeAgents:
    get:
      operationId: player_details_by_free_agents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GameLeagueLeaders/{season}/{week}/{position}/{column}:
    get:
      operationId: league_leaders_by_week
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Playerâ€™s position that you would like to filter by.
        explode: false
        in: path
        name: position
        required: true
        schema:
          default: ALL
          enum:
          - ALL
          - OFFENSE
          - QB
          - RB
          - WR
          - TE
          - DEFENSE
          - DL
          - LB
          - DB
          - K
          type: string
        style: simple
      - description: Response member you would like results sorted by.
        explode: false
        in: path
        name: column
        required: true
        schema:
          enum:
          - FantasyPoints
          - PassingYards
          - RushingYards
          - Receptions
          - Sacks
          - Interceptions
          - Touchdowns
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: League Leaders by Week
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GameStats/{season}:
    get:
      description: Game stats for a specified season.
      operationId: game_stats_by_season_deprecated_use_team_game_stats_instead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Season (Deprecated, use Team Game Stats instead)"
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GameStatsByWeek/{season}/{week}:
    get:
      description: Game stats for a specified season and week.
      operationId: game_stats_by_week_deprecated_use_team_game_stats_instead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Week (Deprecated, use Team Game Stats instead)"
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Injuries/{season}/{week}:
    get:
      operationId: injuries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Injuries/{season}/{week}/{team}:
    get:
      operationId: injuries_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed season. this value changes
        immediately after the Super Bowl. The earliest season for Fantasy data is
        2001. The earliest season for Team data is 1985.
      operationId: season_last_completed
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LastCompletedWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_last_completed
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LiveBoxScores:
    get:
      operationId: legacy_box_scores_live
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Live
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByTeam/{team}:
    get:
      operationId: news_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDetail'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameRedZoneInsideFiveStats/{season}/{week}:
    get:
      operationId: player_game_red_zone_stats_inside_five
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Five
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameRedZoneInsideTenStats/{season}/{week}:
    get:
      operationId: player_game_red_zone_stats_inside_ten
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Ten
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameRedZoneStats/{season}/{week}:
    get:
      operationId: player_game_red_zone_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: player_game_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: player_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique FantasyData Player ID. Example:<code>17920</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: player_game_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByWeek/{season}/{week}:
    get:
      operationId: player_game_stats_by_week
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Week
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}:
    get:
      operationId: player_game_stats_by_week_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Week Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsDelta/{minutes}:
    get:
      operationId: player_game_stats_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Only returns player statistics that have changed\
          \ in the last X minutes.  You specify how many minutes in time to go back.\
          \  Valid entries are:\n          <code>1</code> or <code>2</code>.\n   \
          \     "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerOwnership/{season}/{week}:
    get:
      operationId: fantasy_player_ownership_percentages_season_long
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerOwnership'
                type: array
          description: ""
      summary: Fantasy Player Ownership Percentages (Season-Long)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonRedZoneInsideFiveStats/{season}:
    get:
      operationId: player_season_red_zone_stats_inside_five
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Five
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonRedZoneInsideTenStats/{season}:
    get:
      operationId: player_season_red_zone_stats_inside_ten
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Ten
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonRedZoneStats/{season}:
    get:
      operationId: player_season_red_zone_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: player_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByPlayerID/{season}/{playerid}:
    get:
      operationId: player_season_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: player_season_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonThirdDownStats/{season}:
    get:
      operationId: player_season_third_down_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonThirdDown'
                type: array
          description: ""
      summary: Player Season Third Down Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_available
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Available
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      operationId: player_details_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerDetail'
                type: array
          description: ""
      summary: Player Details by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ProBowlers/{season}:
    get:
      operationId: pro_bowlers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season
          <br>Examples: <code>2016</code>, <code>2017</code>
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerInfo'
                type: array
          description: ""
      summary: Pro Bowlers
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/RecentlyUpdatedBoxScores/{minutes}:
    get:
      operationId: legacy_box_scores_delta_current_week
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Delta (Current Week)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Rookies/{season}:
    get:
      operationId: player_details_by_rookie_draft_year
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,\
          \ etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Schedules/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
          description: ""
      summary: Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Scores/{season}:
    get:
      description: Game scores for a specified season.
      operationId: scores_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: 'Scores by Season '
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresByDate/{date}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>,\
          \ <code>2021-NOV-28</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: scores_by_week
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SeasonLeagueLeaders/{season}/{position}/{column}:
    get:
      operationId: league_leaders_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Playerâ€™s position that you would like to filter by.
        explode: false
        in: path
        name: position
        required: true
        schema:
          default: ALL
          enum:
          - ALL
          - OFFENSE
          - QB
          - RB
          - WR
          - TE
          - DEFENSE
          - DL
          - LB
          - DB
          - K
          type: string
        style: simple
      - description: Response member you would like results sorted by.
        explode: false
        in: path
        name: column
        required: true
        schema:
          enum:
          - FantasyPoints
          - PassingYards
          - RushingYards
          - Receptions
          - Sacks
          - Interceptions
          - Touchdowns
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: League Leaders by Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SimulatedBoxScoresV3/{numberofplays}:
    get:
      description: "Gets simulated live box scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: box_scores_v_simulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
                type: array
          description: ""
      summary: Box Scores V3 Simulation
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SimulatedScores/{numberofplays}:
    get:
      description: "Gets simulated live scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: scores_by_week_simulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week Simulation
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      description: This method returns all stadiums.
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{season}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStats/{season}/{week}:
    get:
      operationId: team_game_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams:
    get:
      description: Gets all active teams.
      operationId: teams_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams/{season}:
    get:
      description: List of teams playing in a specified season.
      operationId: teams_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams by Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Timeframes/{type}:
    get:
      description: "Get detailed information about past, present, and future timeframes."
      operationId: timeframes
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Timeframe'
                type: array
          description: ""
      summary: Timeframes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingSeason:
    get:
      description: "Year of the current NFL season, if we are in the mid-season. If\
        \ we are in the off-season, then year of the next upcoming season. This value\
        \ changes immediately after the Super Bowl. The earliest season for Fantasy\
        \ data is 2001. The earliest season for Team data is 1985."
      operationId: season_upcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_upcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    BoxScore:
      example:
        AwayRushing:
        - FantasyPoints: 5.829097284708605
          PlayerID: 2
          Updated: Updated
          Position: Position
          RushingTouchdowns: 9
          PositionCategory: PositionCategory
          ShortName: ShortName
          TwoPointConversionRuns: 5
          Name: Name
          FantasyPosition: FantasyPosition
          Number: 1
          PlayerGameID: 8
          RushingAttempts: 8
          RushingYardsPerAttempt: 5.5569822283364845
          RushingYards: 2
          FumblesLost: 0
[...]
