openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2019-05-13
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-05-13/bms.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}
  : delete:
      description: "Used to disable backup of an item within a container. This is\
        \ an asynchronous operation. To know the status of the\r\nrequest, call the\
        \ GetItemOperationResult API."
      operationId: protected_items_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item to be deleted.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectedItems
      x-ms-examples:
        Delete Protection from Azure Virtual Machine:
          parameters:
            api-version: 2019-05-13
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperations/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protected_items_controller
    get:
      description: "Provides the details of the backed up item. This is an asynchronous\
        \ operation. To know the status of the operation,\r\ncall the GetItemOperationResult\
        \ API."
      operationId: protected_items_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
      tags:
      - ProtectedItems
      x-ms-examples:
        Get Protected Classic Virtual Machine Details:
          parameters:
            api-version: 2019-05-13
            containerName: iaasvmcontainer;iaasvmcontainer;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainer;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: 2017-11-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.ClassicCompute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
        Get Protected Virtual Machine Details:
          parameters:
            api-version: 2019-05-13
            containerName: iaasvmcontainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: 2017-11-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
      x-ms-odata: '#/definitions/GetProtectedItemQueryObject'
      x-openapi-router-controller: openapi_server.controllers.protected_items_controller
    put:
      description: "Enables backup of an item or to modifies the backup policy information\
        \ of an already backed up item. This is an\r\nasynchronous operation. To know\
        \ the status of the operation, call the GetItemOperationResult API."
      operationId: protected_items_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Item name to be backed up.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectedItemResource'
        description: resource backed up item
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ProtectedItems
      x-ms-examples:
        Enable Protection on Azure IaasVm:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                protectedItemType: Microsoft.Compute/virtualMachines
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
        Stop Protection with retain data on Azure IaasVm:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                protectedItemType: Microsoft.Compute/virtualMachines
                protectionState: ProtectionStopped
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: ProtectionStopped
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.protected_items_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}
  : get:
      description: Fetches the result of any operation on the backup item.
      operationId: protected_item_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backup item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: OperationID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectedItemOperationResults
      x-ms-examples:
        Get Operation Results of Protected Vm:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protected_item_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      description: Lists the backup copies for the backed up item.
      operationId: recovery_points_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item whose backup copies are to be fetched.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResourceList'
          description: OK
      tags:
      - RecoveryPoints
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/22244821112382
                  name: "22244821112382"
                  properties:
                    isInstantIlrSessionActive: false
                    isManagedVirtualMachine: true
                    isSourceVMEncrypted: false
                    objectType: IaasVMRecoveryPoint
                    originalStorageAccountOption: false
                    recoveryPointAdditionalInfo: ""
                    recoveryPointTierDetails:
                    - status: Valid
                      type: InstantRP
                    - status: Valid
                      type: HardenedRP
                    recoveryPointTime: 2017-12-21T22:48:25.4353958Z
                    recoveryPointType: CrashConsistent
                    sourceVMStorageType: NormalStorage
                    virtualMachineSize: Standard_D1
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/24977149827250
                  name: "24977149827250"
                  properties:
                    isInstantIlrSessionActive: false
                    isManagedVirtualMachine: true
                    isSourceVMEncrypted: false
                    objectType: IaasVMRecoveryPoint
                    originalStorageAccountOption: false
                    recoveryPointAdditionalInfo: ""
                    recoveryPointTierDetails:
                    - status: Valid
                      type: InstantRP
                    - status: Valid
                      type: HardenedRP
                    recoveryPointTime: 2017-12-20T22:49:44.3317945Z
                    recoveryPointType: CrashConsistent
                    sourceVMStorageType: NormalStorage
                    virtualMachineSize: Standard_D1
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recovery_points_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}
  : get:
      description: "Provides the information of the backed up data identified using\
        \ RecoveryPointID. This is an asynchronous operation.\r\nTo know the status\
        \ of the operation, call the GetProtectedItemOperationResult API."
      operationId: recovery_points_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with backed up item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with backed up item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item name whose backup data needs to be fetched.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: RecoveryPointID represents the backed up data to be fetched.
        in: path
        name: recoveryPointId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResource'
          description: OK
      tags:
      - RecoveryPoints
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            recoveryPointId: "26083826328862"
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/26083826328862
                name: "26083826328862"
                properties:
                  isInstantIlrSessionActive: false
                  isManagedVirtualMachine: true
                  isSourceVMEncrypted: false
                  objectType: IaasVMRecoveryPoint
                  originalStorageAccountOption: false
                  recoveryPointAdditionalInfo: ""
                  recoveryPointTierDetails:
                  - status: Valid
                    type: HardenedRP
                  recoveryPointTime: 2017-11-22T22:32:46.6088472Z
                  recoveryPointType: CrashConsistent
                  sourceVMStorageType: NormalStorage
                  virtualMachineSize: Standard_D1
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
      x-openapi-router-controller: openapi_server.controllers.recovery_points_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore
  : post:
      description: "Restores the specified backed up data. This is an asynchronous\
        \ operation. To know the status of this API call, use\r\nGetProtectedItemOperationResult\
        \ API."
      operationId: restores_trigger
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item to be restored.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: Recovery point ID which represents the backed up data to be restored.
        in: path
        name: recoveryPointId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequestResource'
        description: resource restore request
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - Restores
      x-ms-examples:
        Restore Disks:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: true
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: "348916168024334"
                recoveryType: RestoreDisks
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testingRg/providers/Microsoft.Storage/storageAccounts/testAccount
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: "348916168024334"
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
        Restore to New Azure IaasVm:
          parameters:
            api-version: 2019-05-13
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: false
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: "348916168024334"
                recoveryType: AlternateLocation
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Storage/storageAccounts/testingAccount
                subnetId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet/subnets/default
                targetResourceGroupId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2
                targetVirtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2/providers/Microsoft.Compute/virtualmachines/RSMDALRVM981435
                virtualNetworkId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: "348916168024334"
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.restores_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs
  : get:
      description: Provides a pageable list of jobs.
      operationId: backup_jobs_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResourceList'
          description: OK
      tags:
      - BackupJobs
      x-ms-examples:
        List All Jobs:
          parameters:
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: 2017-08-03T05:31:07.014604Z
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: 2017-08-03T05:31:03.7553376Z
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: 2017-08-03T05:30:32.4487085Z
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Filters:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29
              00:00:00 AM' and operation eq 'Backup' and backupManagementType eq 'AzureIaasVM'
              and status eq 'InProgress'
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: 2017-08-03T05:31:07.014604Z
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Time Filter:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29
              00:00:00 AM'
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs?api-version=2017-07-01&%24filter=startTime+eq+%272016-01-01+00%3a00%3a00+AM%27+and+endTime+eq+%272017-11-29+00%3a00%3a00+AM%27&%24skiptoken=%3c%3fxml+version%3d%221.0%22+encoding%3d%22utf-16%22%3f%3e%0d%0a%3cContinuationToken%3e%0d%0a++%3cContinuationToken%3e%0d%0a++++%3cVersion%3e2.0%3c%2fVersion%3e%0d%0a++++%3cType%3eTable%3c%2fType%3e%0d%0a++++%3cNextPartitionKey%3e1!28!NzI5MTk0OTM1MDkwNjEwODQzMA--%3c%2fNextPartitionKey%3e%0d%0a++++%3cNextRowKey%3e1!108!am9ic3N0YXJ0dGltZWluZGV4XzBfMjUxODkxNDYzNTI2NjE5Nzg5OF8wXzYwOWZkM2JmLTU4MzctNDFkYi1iMjExLTY1MzliNDNlZjM1OA--%3c%2fNextRowKey%3e%0d%0a++++%3cTargetLocation%3ePrimary%3c%2fTargetLocation%3e%0d%0a++%3c%2fContinuationToken%3e%0d%0a%3c%2fContinuationToken%3e
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: 2017-08-03T05:31:07.014604Z
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: 2017-08-03T05:31:03.7553376Z
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: 2017-08-03T05:30:32.4487085Z
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_jobs_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}
  : get:
      description: "Gets the operation result of operation triggered by Export Jobs\
        \ API. If the operation is successful, then it also\r\ncontains URL of a Blob\
        \ and a SAS key to access the same. The blob contains exported jobs in JSON\
        \ serialized format."
      operationId: export_jobs_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OperationID which represents the export job.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
          description: Accepted
      tags:
      - ExportJobsOperationResults
      x-ms-examples:
        Export Jobs Operation Results:
          parameters:
            api-version: 2019-05-13
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                headers: {}
                operation:
                  blobSasKey: ?sv=2014-02-14&sr=b&sig=<sas_signature>&st=2017-11-29T07%3A53%3A34Z&se=2017-11-29T08%3A03%3A34Z&sp=r
                  blobUrl: https://azureblob.blob.core.windows.net/reportcontainer/exportjobsreportc00000000-0000-0000-0000-000000000000
                  objectType: ExportJobsOperationResultInfo
              headers: {}
            "202":
              body:
                headers:
                  Location:
                  - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                  Retry-After:
                  - "60"
                operation:
                  objectType: ExportJobsOperationResultInfo
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-openapi-router-controller: openapi_server.controllers.export_jobs_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      description: Gets extended information associated with the job.
      operationId: job_details_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the job whose details are to be fetched.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: OK
      tags:
      - JobDetails
      x-ms-examples:
        Get Job Details:
          parameters:
            api-version: 2019-05-13
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  activityId: 00000000-0000-0000-0000-000000000000
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: testvm
                  extendedInfo:
                    propertyBag:
                      VM Name: testvm
                    tasksList:
                    - duration: PT0S
                      status: InProgress
                      taskId: Take Snapshot
                    - duration: PT0S
                      status: NotStarted
                      taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: 2017-08-03T05:31:07.014604Z
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
      x-openapi-router-controller: openapi_server.controllers.job_details_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel
  : post:
      description: "Cancels a job. This is an asynchronous operation. To know the\
        \ status of the cancellation, call\r\nGetCancelOperationResult API."
      operationId: job_cancellations_trigger
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the job to cancel.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - JobCancellations
      x-ms-examples:
        Cancel Job:
          parameters:
            api-version: 2019-05-13
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-openapi-router-controller: openapi_server.controllers.job_cancellations_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}
  : get:
      description: Fetches the result of any operation.
      operationId: job_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Job name whose operation result has to be fetched.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: OperationID which represents the operation whose result has to
          be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - JobOperationResults
      x-ms-examples:
        Cancel Job Operation Result:
          parameters:
            api-version: 2019-05-13
            jobName: 00000000-0000-0000-0000-000000000000
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.job_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport
  : post:
      description: Triggers export of jobs specified by filters and returns an OperationID
        to track.
      operationId: jobs_export
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - Jobs
      x-ms-examples:
        Export Jobs:
          parameters:
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-ms-odata: '#/definitions/JobQueryObject'
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies
  : get:
      description: "Lists of backup policies associated with Recovery Services Vault.\
        \ API provides pagination parameters to fetch\r\nscoped results."
      operationId: backup_policies_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResourceList'
          description: OK
      tags:
      - BackupPolicies
      x-ms-examples:
        List protection policies with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM'
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                  name: DefaultPolicy
                  properties:
                    backupManagementType: AzureIaasVM
                    protectedItemsCount: 0
                    retentionPolicy:
                      dailySchedule:
                        retentionDuration:
                          count: 30
                          durationType: Days
                        retentionTimes:
                        - 2017-12-05T19:00:00Z
                      retentionPolicyType: LongTermRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunFrequency: Daily
                      scheduleRunTimes:
                      - 2017-12-05T19:00:00Z
                      scheduleWeeklyFrequency: 0
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                  name: testPolicy1
                  properties:
                    backupManagementType: AzureIaasVM
                    protectedItemsCount: 0
                    retentionPolicy:
                      dailySchedule:
                        retentionDuration:
                          count: 1
                          durationType: Days
                        retentionTimes:
                        - 2018-01-24T02:00:00Z
                      retentionPolicyType: LongTermRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunFrequency: Daily
                      scheduleRunTimes:
                      - 2018-01-24T02:00:00Z
                      scheduleWeeklyFrequency: 0
                    timeZone: Pacific Standard Time
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
        List protection policies with backupManagementType filter as AzureWorkload:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/HourlyLogBackup
                  name: HourlyLogBackup
                  properties:
                    backupManagementType: AzureWorkload
                    protectedItemsCount: 0
                    settings:
                      issqlcompression: false
                      timeZone: UTC
                    subProtectionPolicy:
                    - policyType: Full
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 30
                            durationType: Days
                          retentionTimes:
                          - 2017-12-05T19:00:00Z
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                        - 2017-12-05T19:00:00Z
                        scheduleWeeklyFrequency: 0
                    - policyType: Log
                      retentionPolicy:
                        retentionDuration:
                          count: 30
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        scheduleFrequencyInMins: 60
                        schedulePolicyType: LogSchedulePolicy
                    workLoadType: SQLDataBase
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-ms-odata: '#/definitions/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_policies_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}
  : get:
      description: "Provides the details of the backup policies associated to Recovery\
        \ Services Vault. This is an asynchronous\r\noperation. Status of the operation\
        \ can be fetched using GetPolicyOperationResult API."
      operationId: protection_policies_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Backup policy information to be fetched.
        in: path
        name: policyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
      tags:
      - ProtectionPolicies
      x-ms-examples:
        Get Azure IaasVm Protection Policy Details:
          parameters:
            api-version: 2019-05-13
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                      - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                    - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-openapi-router-controller: openapi_server.controllers.protection_policies_controller
    put:
      description: "Creates or modifies a backup policy. This is an asynchronous operation.\
        \ Status of the operation can be fetched\r\nusing GetPolicyOperationResult\
        \ API."
      operationId: protection_policies_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Backup policy to be created.
        in: path
        name: policyName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPolicyResource'
        description: resource backup policy
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ProtectionPolicies
      x-ms-examples:
        Create or Update Full Azure Vm Protection Policy:
          parameters:
            api-version: 2019-05-13
            parameters:
              properties:
                backupManagementType: AzureIaasVM
                retentionPolicy:
                  monthlySchedule:
                    retentionDuration:
                      count: 2
                      durationType: Months
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                      - Wednesday
                      - Thursday
                      weeksOfTheMonth:
                      - First
                      - Third
                    retentionTimes:
                    - 2018-01-24T10:00:00Z
                  retentionPolicyType: LongTermRetentionPolicy
                  weeklySchedule:
                    daysOfTheWeek:
                    - Monday
                    - Wednesday
                    - Thursday
                    retentionDuration:
                      count: 1
                      durationType: Weeks
                    retentionTimes:
                    - 2018-01-24T10:00:00Z
                  yearlySchedule:
                    monthsOfYear:
                    - February
                    - November
                    retentionDuration:
                      count: 4
                      durationType: Years
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                      - Monday
                      - Thursday
                      weeksOfTheMonth:
                      - Fourth
                    retentionTimes:
                    - 2018-01-24T10:00:00Z
                schedulePolicy:
                  schedulePolicyType: SimpleSchedulePolicy
                  scheduleRunDays:
                  - Monday
                  - Wednesday
                  - Thursday
                  scheduleRunFrequency: Weekly
                  scheduleRunTimes:
                  - 2018-01-24T10:00:00Z
                timeZone: Pacific Standard Time
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    monthlySchedule:
                      retentionDuration:
                        count: 2
                        durationType: Months
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                        - Wednesday
                        - Thursday
                        weeksOfTheMonth:
                        - First
                        - Third
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                    weeklySchedule:
                      daysOfTheWeek:
                      - Monday
                      - Wednesday
                      - Thursday
                      retentionDuration:
                        count: 1
                        durationType: Weeks
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                    yearlySchedule:
                      monthsOfYear:
                      - February
                      - November
                      retentionDuration:
                        count: 4
                        durationType: Years
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                        - Monday
                        - Thursday
                        weeksOfTheMonth:
                        - Fourth
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunDays:
                    - Monday
                    - Wednesday
                    - Thursday
                    scheduleRunFrequency: Weekly
                    scheduleRunTimes:
                    - 2018-01-24T10:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
        Create or Update Full Azure Workload Protection Policy:
          parameters:
            api-version: 2019-05-13
            parameters:
              properties:
                backupManagementType: AzureWorkload
                settings:
                  issqlcompression: false
                  timeZone: Pacific Standard Time
                subProtectionPolicy:
                - policyType: Full
                  retentionPolicy:
                    monthlySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Months
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                        - Sunday
                        weeksOfTheMonth:
                        - Second
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                    weeklySchedule:
                      daysOfTheWeek:
                      - Sunday
                      - Tuesday
                      retentionDuration:
                        count: 2
                        durationType: Weeks
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                    yearlySchedule:
                      monthsOfYear:
                      - January
                      - June
                      - December
                      retentionDuration:
                        count: 1
                        durationType: Years
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                        - Sunday
                        weeksOfTheMonth:
                        - Last
                      retentionTimes:
                      - 2018-01-24T10:00:00Z
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunDays:
                    - Sunday
                    - Tuesday
                    scheduleRunFrequency: Weekly
                    scheduleRunTimes:
                    - 2018-01-24T10:00:00Z
                - policyType: Differential
                  retentionPolicy:
                    retentionDuration:
                      count: 8
                      durationType: Days
                    retentionPolicyType: SimpleRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunDays:
                    - Friday
                    scheduleRunFrequency: Weekly
                    scheduleRunTimes:
                    - 2018-01-24T10:00:00Z
                - policyType: Log
                  retentionPolicy:
                    retentionDuration:
                      count: 7
                      durationType: Days
                    retentionPolicyType: SimpleRetentionPolicy
                  schedulePolicy:
                    scheduleFrequencyInMins: 60
                    schedulePolicyType: LogSchedulePolicy
                workLoadType: SQLDataBase
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureWorkload
                  protectedItemsCount: 0
                  settings:
                    issqlcompression: false
                    timeZone: Pacific Standard Time
                  subProtectionPolicy:
                  - policyType: Full
                    retentionPolicy:
                      monthlySchedule:
                        retentionDuration:
                          count: 1
                          durationType: Months
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                          - Sunday
                          weeksOfTheMonth:
                          - Second
                        retentionTimes:
                        - 2018-01-24T10:00:00Z
                      retentionPolicyType: LongTermRetentionPolicy
                      weeklySchedule:
                        daysOfTheWeek:
                        - Sunday
                        - Tuesday
                        retentionDuration:
                          count: 2
                          durationType: Weeks
                        retentionTimes:
                        - 2018-01-24T10:00:00Z
                      yearlySchedule:
                        monthsOfYear:
                        - January
                        - June
                        - December
                        retentionDuration:
                          count: 1
                          durationType: Years
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                          - Sunday
                          weeksOfTheMonth:
                          - Last
                        retentionTimes:
                        - 2018-01-24T10:00:00Z
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                      - Sunday
                      - Tuesday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                      - 2018-01-24T10:00:00Z
                      scheduleWeeklyFrequency: 0
                  - policyType: Differential
                    retentionPolicy:
                      retentionDuration:
                        count: 8
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                      - Friday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                      - 2018-01-24T10:00:00Z
                      scheduleWeeklyFrequency: 0
                  - policyType: Log
                    retentionPolicy:
                      retentionDuration:
                        count: 7
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      scheduleFrequencyInMins: 60
                      schedulePolicyType: LogSchedulePolicy
                  workLoadType: SQLDataBase
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
        Create or Update Simple Azure Vm Protection Policy:
          parameters:
            api-version: 2019-05-13
            parameters:
              properties:
                backupManagementType: AzureIaasVM
                retentionPolicy:
                  dailySchedule:
                    retentionDuration:
                      count: 1
                      durationType: Days
                    retentionTimes:
                    - 2018-01-24T02:00:00Z
                  retentionPolicyType: LongTermRetentionPolicy
                schedulePolicy:
                  schedulePolicyType: SimpleSchedulePolicy
                  scheduleRunFrequency: Daily
                  scheduleRunTimes:
                  - 2018-01-24T02:00:00Z
                timeZone: Pacific Standard Time
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                      - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                    - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.protection_policies_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}
  : get:
      description: Provides the result of an operation.
      operationId: protection_policy_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Backup policy name whose operation's result needs to be fetched.
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Operation ID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
      tags:
      - ProtectionPolicyOperationResults
      x-ms-examples:
        Get Protection Policy Operation Results:
          parameters:
            api-version: 2019-05-13
            operationId: 00000000-0000-0000-0000-000000000000
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 1
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                      - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                    - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-openapi-router-controller: openapi_server.controllers.protection_policy_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems
  : get:
      description: Provides a pageable list of all items that are backed up within
        a vault.
      operationId: backup_protected_items_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResourceList'
          description: OK
      tags:
      - BackupProtectedItems
      x-ms-examples:
        List protected items with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM' and itemType eq 'VM'
            api-version: 2019-05-13
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  properties:
                    backupManagementType: AzureIaasVM
                    containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                    friendlyName: iaasvm-1
                    healthStatus: Passed
[...]
