openapi: 3.0.1
info:
  title: shinobiapi
  version: v1
  x-apisguru-categories:
  - media
  x-origin:
  - format: swagger
    url: https://api.hillbillysoftware.com/swagger/docs/v1
    version: "2.0"
  x-providerName: hillbillysoftware.com
  x-serviceName: shinobi
servers:
- url: https://api.hillbillysoftware.com/
paths:
  /Actors/Search/{accesstoken}/{Query}:
    get:
      operationId: actor_get
      parameters:
      - in: path
        name: accesstoken
        required: true
        schema:
          type: string
      - in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Actor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Actor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Actor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Actor'
                type: array
          description: List of Actors
      summary: Returns data on queried actor/actress. Result set limited to 5 records
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /AddActor:
    post:
      operationId: add_actor_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorPost'
          text/json:
            schema:
              $ref: '#/components/schemas/ActorPost'
          application/xml:
            schema:
              $ref: '#/components/schemas/ActorPost'
          text/xml:
            schema:
              $ref: '#/components/schemas/ActorPost'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActorPost'
        required: true
        x-body-name: Value
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
          description: Result
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
          description: Result
      summary: Add new actor or actress to database
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-codegen-request-body-name: Value
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /AddTVShow:
    post:
      operationId: add_tv_show_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TVInformationPost'
          text/json:
            schema:
              $ref: '#/components/schemas/TVInformationPost'
          application/xml:
            schema:
              $ref: '#/components/schemas/TVInformationPost'
          text/xml:
            schema:
              $ref: '#/components/schemas/TVInformationPost'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TVInformationPost'
        required: true
        x-body-name: Value
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
          description: Result
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PostResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostResult'
          description: Result
      summary: Add new show to database
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-codegen-request-body-name: Value
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Aliases/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: aliases_by_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
          description: List of known Aliases
      summary: Get known aliases for Movies or Television shows from passed imdbID
      tags:
      - Aliases (Movie & Television Show Aliases)
      x-openapi-router-controller: openapi_server.controllers.aliases_(movie_&_television_show_aliases)controller
  /Aliases/ByName/{AccessToken}/{Title}:
    get:
      operationId: aliases_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Title of movie or television show
        in: path
        name: Title
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Aliases'
                type: array
          description: List of known Aliases
      summary: Get known aliases for Movies or Television shows
      tags:
      - Aliases (Movie & Television Show Aliases)
      x-openapi-router-controller: openapi_server.controllers.aliases_(movie_&_television_show_aliases)controller
  /Awards/ByWinner/{AccessToken}/{Nominee}:
    get:
      operationId: awardsby_winner_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Nominee
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
          description: List of awards
      summary: Gets all awards by nominiee
      tags:
      - Awards (Television & Movies)
      x-openapi-router-controller: openapi_server.controllers.awards_(television_&_movies)controller
  /Awards/ByYear/{Year}:
    get:
      operationId: awards_get
      parameters:
      - in: path
        name: Year
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_Awards'
                type: array
          description: List of awards
      summary: Gets all awards for requested year
      tags:
      - Awards (Television & Movies)
      x-openapi-router-controller: openapi_server.controllers.awards_(television_&_movies)controller
  /Calendar/ByDate/{AccessToken}/{Date}/{Country}:
    get:
      operationId: schedule_by_date_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: date format year-month-day
        in: path
        name: Date
        required: true
        schema:
          type: string
      - description: US / CA / NL / BE / DE / GB or FR
        in: path
        name: Country
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
          description: List of schedules/calendar entries
      summary: Gets TV Schedule for selected data
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Countries/{AccessToken}:
    get:
      operationId: calendar_countries_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Country'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Country'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Country'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Country'
                type: array
          description: List of countries
      summary: Returns list of available countries in calendar database
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Networks/{AccessToken}:
    get:
      operationId: calendar_networks_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Networks'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Networks'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Networks'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Networks'
                type: array
          description: List of networks
      summary: Gets a list of available networks
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Seasons/{AccessToken}/{Name}:
    get:
      operationId: calendar_show_seasons_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShowSeasons'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShowSeasons'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ShowSeasons'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ShowSeasons'
                type: array
          description: List of years
      summary: Returns list of seasons available in the calendar for show
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Show/Season/{AccessToken}/{Name}/{Season}:
    get:
      operationId: calendarby_showname_season_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      - in: path
        name: Season
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
          description: List of schedules/calendar entries
      summary: Get Calendar by showname and season
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Show/{AccessToken}/{Name}/{Year}:
    get:
      operationId: calendar_by_show_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      - in: path
        name: Year
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
          description: List of schedules/calendar entries
      summary: Will return show schedule for queried showname and year
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Calendar/Today/{AccessToken}:
    get:
      operationId: calendar_today_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/schedule'
                type: array
          description: List of schedules/calendar entries
      summary: Will return show schedule for today for all countries in database
      tags:
      - Calendar (Television Show Schedules)
      x-openapi-router-controller: openapi_server.controllers.calendar_(television_show_schedules)controller
  /Cast/ActorBySearch/{AccessToken}/{Actor}:
    get:
      operationId: actor_in_shows_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: "Part of, or full name of actor"
        in: path
        name: Actor
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
          description: List of actors in show
      summary: Returns all shows queried actor/actress is or has been in
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Cast/ByActor/{AccessToken}/{Actor}:
    get:
      operationId: cast_by_actor_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Full name of actor
        in: path
        name: Actor
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
          description: List of shows Actor is appearing in
      summary: Returns list of show actor is appearing in
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Cast/ByTVShow/{accesstoken}/{ShowName}:
    get:
      operationId: actors_in_tv_show_get
      parameters:
      - in: path
        name: accesstoken
        required: true
        schema:
          type: string
      - in: path
        name: ShowName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVShowActor'
                type: array
          description: List of actors in show
      summary: Returns all actors in queried tvshow
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Crew/ByID/{AccessToken}/{ID}:
    get:
      operationId: crew_by_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: "IMDBID, TVmazeID, or TVDBID"
        in: path
        name: ID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
          description: List of crew
      summary: Get crew list by ID
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Crew/ByPerson/{AccessToken}/{PersonName}:
    get:
      operationId: crew_by_person_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: PersonName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
          description: List of crew
      summary: Gets list of productions searched person is/was involved in.
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Crew/ByShowName/{AccessToken}/{ShowName}:
    get:
      operationId: crewby_showname_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Full exact showname
        in: path
        name: ShowName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
          description: List of crew
      summary: Get crew list by showname
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Crew/Search/{AccessToken}/{Phrase}:
    get:
      operationId: crew_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: "Part of, or full showname to search for"
        in: path
        name: Phrase
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Crew'
                type: array
          description: List of crew
      summary: Returns crew for queried show.
      tags:
      - Cast & Crew (Cast & Crew in Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.cast_&_crew_(cast_&_crew_in_movies_&_television_shows)controller
  /Episodes/ByID/{AccessToken}/{ID}:
    get:
      operationId: episodes_by_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: imdbID
        in: path
        name: ID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
          description: List of episodes
      summary: Gets all episodes for selected ID
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Episodes/BySeason/{AccessToken}/{ID}/{Season}:
    get:
      operationId: episodes_by_season_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: imdbID
        in: path
        name: ID
        required: true
        schema:
          type: string
      - description: Season number
        in: path
        name: Season
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
          description: List of episodes for specified season
      summary: Gets list of episodes for specified imdbID and Season number
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Episodes/ByShowName/{AccessToken}/{Showname}:
    get:
      operationId: episodes_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Showname
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Episode'
                type: array
          description: List of episodes
      summary: Gets all episodes for selected show
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Episodes/LatestSeason/Show/{AccessToken}/{Name}:
    get:
      operationId: episodes_last_available_seasonby_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            text/json:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            application/xml:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            text/xml:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
          description: Returns last available Season Number for passed showname
      summary: Gets latest season number based on show name
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Episodes/LatestSeason/{AccessToken}/{ID}:
    get:
      operationId: episodes_last_available_season_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: imdbID
        in: path
        name: ID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            text/json:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            application/xml:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
            text/xml:
              schema:
                $ref: '#/components/schemas/LastAvailableSeason'
          description: Returns last available Season Number for passed imdbID
      summary: "Returns last available season number in database, based on passed\
        \ imdbID"
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Episodes/SeasonCount/{AccessToken}/{ID}:
    get:
      operationId: episodes_season_count_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: imdbID
        in: path
        name: ID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TVShowSeasons'
            text/json:
              schema:
                $ref: '#/components/schemas/TVShowSeasons'
            application/xml:
              schema:
                $ref: '#/components/schemas/TVShowSeasons'
            text/xml:
              schema:
                $ref: '#/components/schemas/TVShowSeasons'
          description: Returns number of seasons available
      summary: Returns number of available seasons and episodes
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /GetIMDBid/ByID/{AccessToken}/{Query}:
    get:
      operationId: get_imd_bid_get_async
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbID'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbID'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbID'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbID'
                type: array
          description: List of imdb ID's
      summary: "Gets list of avaiable IMDB ids from Movies and TV Show databases,\
        \ you can use those to query other end points that need ID's"
      tags:
      - Miscellaneous (Conversion & other Utilities)
      x-openapi-router-controller: openapi_server.controllers.miscellaneous_(conversion_&_other_utilities)controller
  /Images/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: images_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
          description: List of images
      summary: Get images available for movie/tv show with passed imdbID
      tags:
      - Images (Movie & Television Show Images)
      x-openapi-router-controller: openapi_server.controllers.images_(movie_&_television_show_images)controller
  /Images/Search/{Accesstoken}/{Query}:
    get:
      operationId: image_search_get
      parameters:
      - in: path
        name: Accesstoken
        required: true
        schema:
          type: string
      - description: Name or part of name from Movie or Show
        in: path
        name: Query
        required: true
        schema:
          type: string
      - in: query
        name: Strictmatch
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/imdbImages'
                type: array
          description: List of images
      summary: Get images available for movie/tv show with passed query
      tags:
      - Images (Movie & Television Show Images)
      x-openapi-router-controller: openapi_server.controllers.images_(movie_&_television_show_images)controller
  /Magnets/ByDate/{AccessToken}/{Date}:
    get:
      operationId: magnets_by_date_get_async
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Date
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
          description: List of magnet hashes
      summary: "Gets available magnet hashes on passed date (yyyy-mm-dd).  Feature\
        \ not available on free plan, please donate to be able to use this feature."
      tags:
      - Magnets (Magnet hashes of Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.magnets_(magnet_hashes_of_movies_&_television_shows)controller
  /Magnets/ByIMDB/{AccessToken}/{imdbID}:
    get:
      operationId: magnets_byimdb_id_get_async
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: ID with or without tt prefix
        in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
          description: List of magnet hashes
      summary: "Returns list of magnet hashes for passed IMDBID.  Feature not available\
        \ on free plan, please donate to be able to use this feature."
      tags:
      - Magnets (Magnet hashes of Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.magnets_(magnet_hashes_of_movies_&_television_shows)controller
  /Magnets/Search/{AccessToken}/{Query}:
    get:
      operationId: magnets_movie_by_id_get_async
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Name or part of name of movie or tv show
        in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
          description: List of magnet hashes
      summary: "Try and find magnet links for queried movie.  Feature not available\
        \ on free plan, please donate to be able to use this feature"
      tags:
      - Magnets (Magnet hashes of Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.magnets_(magnet_hashes_of_movies_&_television_shows)controller
  /Magnets/TVShow/{AccessToken}/{TVShow}:
    get:
      operationId: t_v_showsearch_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: TVShow
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Magnets'
                type: array
          description: List of magnet hashes
      summary: "Returns results based on query, Feature not available on free plan,\
        \ please donate to be able to use this feature."
      tags:
      - Magnets (Magnet hashes of Movies & Television Shows)
      x-openapi-router-controller: openapi_server.controllers.magnets_(magnet_hashes_of_movies_&_television_shows)controller
  /Movie/ByID/{accesstoken}/{imdbID}:
    get:
      operationId: movie_id_get
      parameters:
      - in: path
        name: accesstoken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/MovieInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/MovieInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/MovieInformation'
          description: Movie information
      tags:
      - "Movies (Movies, Documentaries, & made for Television Movies)"
      x-openapi-router-controller: "openapi_server.controllers.movies_(movies,_documentaries,_&_made_for_television_movies)controller"
  /Movie/Search/{AccessToken}/{Query}:
    get:
      operationId: movie_search_get_async
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MovieInformation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/MovieInformation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/MovieInformation'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/MovieInformation'
                type: array
          description: List of information about queried movie(s)
      summary: "Searches for movies, result set limited to 5 records"
      tags:
      - "Movies (Movies, Documentaries, & made for Television Movies)"
      x-openapi-router-controller: "openapi_server.controllers.movies_(movies,_documentaries,_&_made_for_television_movies)controller"
  /Music/Albums/Art/{AccessToken}/{AlbumID}:
    get:
      operationId: music_album_art_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: AlbumID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumArt'
            text/json:
              schema:
                $ref: '#/components/schemas/AlbumArt'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlbumArt'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlbumArt'
          description: Gets album art for passed AlbumID
      summary: Returns Albumart for passed AlbumID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Albums/CoverArt/{AccessToken}/{MBID}:
    get:
      operationId: music_cd_covers_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: MusicBrainzID
        in: path
        name: MBID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CDCoverArt'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CDCoverArt'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CDCoverArt'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CDCoverArt'
                type: array
          description: Gets CD Cover Art for album
      summary: Gets CD art for passed MusicBrainzID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Albums/MusicBrainzID/{AccessToken}/{MBID}:
    get:
      operationId: music_by_music_brainz_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: MusicBrainzID
        in: path
        name: MBID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
          description: Information about band / artist based on MusicBrainzID
      summary: Get Artist / Band information on MusicBrainzID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Albums/{AccessToken}/{ArtistID}:
    get:
      operationId: music_albums_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: ID of artist or band to retrieve albums from
        in: path
        name: ArtistID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandAlbums'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandAlbums'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandAlbums'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandAlbums'
                type: array
          description: Lists all albums from passed ArtistID
      summary: Get albums from passed ArtistID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Artist/Art/ID/{AccessToken}/{ArtistID}:
    get:
      operationId: music_cover_art_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: ArtistID of artist or band
        in: path
        name: ArtistID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            application/xml:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            text/xml:
              schema:
                $ref: '#/components/schemas/ArtistArt'
          description: Gets art for passed ArtistID
      summary: Retrieves artist / band Banner and logo based on ArtistID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Artist/Art/Name/{AccessToken}/{Name}:
    get:
      operationId: music_cover_art_by_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Name of artist or band
        in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            application/xml:
              schema:
                $ref: '#/components/schemas/ArtistArt'
            text/xml:
              schema:
                $ref: '#/components/schemas/ArtistArt'
          description: Gets art for passed arist or bandname
      summary: Retrieves artist / band Banner and logo based on artist or bandname
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Artist/Extended/{AccessToken}/{Name}:
    get:
      operationId: music_artist_extended_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfoExtended'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfoExtended'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfoExtended'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfoExtended'
                type: array
          description: Extended Information about band / artist
      summary: "Provides extended information, which includes all known albums and\
        \ music videos of artist / band"
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Artist/{AccessToken}/{Name}:
    get:
      operationId: music_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Name (or part) of band or artist name
        in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BandInfo'
                type: array
          description: Information about band / artist
      summary: Get information about passed band name or artist
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Lyrics/AlbumID/{AccessToken}/{AlbumID}:
    get:
      operationId: music_lyricsby_album_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: AlbumID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
          description: lyric(s) for requested albumID
      summary: Returns all lyrics for requested AlbumID
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Lyrics/ByName/{AccessToken}/{Name}:
    get:
      operationId: music_lyrics_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Name (or partial) of band or artist (record set limited to 25)
        in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
          description: lyric(s) for requested artist / band
      summary: Get lyrics for band or artist (record set limited to 25)
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Lyrics/BySong/{AccessToken}/{Song}:
    get:
      operationId: music_lyrics_by_song_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Name or part of song name
        in: path
        name: Song
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Lyric'
                type: array
          description: lyric(s) for requested song
      summary: Get lyrics on song title
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Tracks/{AccessToken}/{AlbumID}:
    get:
      operationId: music_tracks_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: AlbumID (can be retrieved via album endpoint)
        in: path
        name: AlbumID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlbumTracks'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlbumTracks'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AlbumTracks'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AlbumTracks'
                type: array
          description: Lists all tracks on album from passed AlbumID
      summary: Get all tracks from requested album
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Music/Videos/{AccessToken}/{ArtistID}:
    get:
      operationId: musi_videos_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: ArtistID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MusicVideo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/MusicVideo'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/MusicVideo'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/MusicVideo'
                type: array
          description: Lists all videos available for this Artist / Band
      summary: Lists all videos available for this Artist / Band
      tags:
      - "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
      x-openapi-router-controller: "openapi_server.controllers.music_(artists_,bands,_tracks,_album_art,_cover_art,_&_videos)controller"
  /Rating/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: rating_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingItem'
            text/json:
              schema:
                $ref: '#/components/schemas/RatingItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/RatingItem'
            text/xml:
              schema:
                $ref: '#/components/schemas/RatingItem'
          description: Ratings
      summary: "Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics,\
        \ TVMaze etc) of passed IMDBid"
      tags:
      - Ratings  (Movie & Television Show Ratings)
      x-openapi-router-controller: openapi_server.controllers.ratings__(movie_&_television_show_ratings)controller
  /Rating/ByName/{AccessToken}/{Name}:
    get:
      operationId: rating_by_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RatingItem'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/RatingItem'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/RatingItem'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/RatingItem'
                type: array
          description: Ratings
      tags:
      - Ratings  (Movie & Television Show Ratings)
      x-openapi-router-controller: openapi_server.controllers.ratings__(movie_&_television_show_ratings)controller
  /Status/{AccessToken}/{Query}:
    get:
      operationId: show_status_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: "Query can be IMDB, TVDB, or Show name"
        in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_ShowStatus'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/_ShowStatus'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_ShowStatus'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/_ShowStatus'
                type: array
          description: List of statuses
      summary: "Returns status of queried show (query can be IMDB, TVDB, or showname)"
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /TV/ByID/{accesstoken}/{imdbID}:
    get:
      operationId: t_v_show_id_get
      parameters:
      - in: path
        name: accesstoken
        required: true
        schema:
          type: string
      - description: imdbID of show you want info on
        in: query
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TVInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/TVInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/TVInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/TVInformation'
          description: Television show information
      summary: Returns TVShow information based on IMDBid
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /TV/ByName/{AccessToken}/{Query}:
    get:
      operationId: t_v_show_by_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVInformation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TVInformation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVInformation'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TVInformation'
                type: array
          description: List of television show information
      summary: "Returns results based on query, result set limited to 5 records"
      tags:
      - "Television (Shows, Episodes, & Statuses)"
      x-openapi-router-controller: "openapi_server.controllers.television_(shows,_episodes,_&_statuses)controller"
  /Trailers/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: trailersby_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
          description: List of trailers
      summary: Get Trailers for passed imdbID
      tags:
      - Trailers (Movie & Television Show Trailers)
      x-openapi-router-controller: openapi_server.controllers.trailers_(movie_&_television_show_trailers)controller
  /Trailers/CountByID/{AccessToken}/{imdbID}:
    get:
      operationId: trailer_count_by_id_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: imdbID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            text/json:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            text/xml:
              schema:
                $ref: '#/components/schemas/TrailerCount'
          description: Count of trailers available for imdbID
      summary: Get trailer count for passed ID
      tags:
      - Trailers (Movie & Television Show Trailers)
      x-openapi-router-controller: openapi_server.controllers.trailers_(movie_&_television_show_trailers)controller
  /Trailers/CountByName/{AccessToken}/{Name}:
    get:
      operationId: trailer_count_by_name_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - in: path
        name: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            text/json:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/TrailerCount'
            text/xml:
              schema:
                $ref: '#/components/schemas/TrailerCount'
          description: Count of trailers available for passed name
      summary: Get trailer count for passed name (Movie title or TVShow name)
      tags:
      - Trailers (Movie & Television Show Trailers)
      x-openapi-router-controller: openapi_server.controllers.trailers_(movie_&_television_show_trailers)controller
  /Trailers/Search/{AccessToken}/{Phrase}:
    get:
      operationId: trailer_search_get
      parameters:
      - in: path
        name: AccessToken
        required: true
        schema:
          type: string
      - description: Trailer you like to search for
        in: path
        name: Phrase
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Trailer'
                type: array
          description: List of trailers
      summary: Gets trailers by search phrase (limited to 10 records)
      tags:
      - Trailers (Movie & Television Show Trailers)
      x-openapi-router-controller: openapi_server.controllers.trailers_(movie_&_television_show_trailers)controller
components:
  schemas:
    Actor:
      example:
        BirthYear: BirthYear
        PopularityIndex: PopularityIndex
        DeathYear: DeathYear
        ProfileImage: ProfileImage
        Bio: Bio
        Gender: Gender
        Name: Name
      properties:
        Bio:
          title: Bio
          type: string
        BirthYear:
          title: BirthYear
          type: string
        DeathYear:
          title: DeathYear
          type: string
        Gender:
          title: Gender
          type: string
        Name:
          title: Name
          type: string
        PopularityIndex:
          title: PopularityIndex
          type: string
        ProfileImage:
          title: ProfileImage
          type: string
      title: Actor
      type: object
    ActorPost:
      example:
        BirthYear: BirthYear
        PopularityIndex: PopularityIndex
        AccessToken: AccessToken
        DeathYear: DeathYear
        ProfileImage: ProfileImage
        Bio: Bio
        Gender: Gender
        Name: Name
      properties:
        AccessToken:
          title: AccessToken
          type: string
        Bio:
          title: Bio
          type: string
        BirthYear:
          title: BirthYear
          type: string
        DeathYear:
          title: DeathYear
          type: string
        Gender:
          title: Gender
          type: string
        Name:
          title: Name
          type: string
        PopularityIndex:
          title: PopularityIndex
          type: string
        ProfileImage:
          title: ProfileImage
          type: string
      title: ActorPost
      type: object
    AlbumArt:
      example:
        Art: Art
        AlbumID: AlbumID
        Albumname: Albumname
      properties:
        AlbumID:
          title: AlbumID
          type: string
        Albumname:
          title: Albumname
          type: string
        Art:
          title: Art
          type: string
      title: AlbumArt
      type: object
    AlbumTracks:
      example:
        ArtistID: ArtistID
        Length: Length
        TrackNo: TrackNo
        AlbumID: AlbumID
        TrackName: TrackName
      properties:
        AlbumID:
          title: AlbumID
          type: string
        ArtistID:
          title: ArtistID
          type: string
        Length:
          title: Length
          type: string
        TrackName:
          title: TrackName
          type: string
        TrackNo:
          title: TrackNo
          type: string
      title: AlbumTracks
      type: object
    Aliases:
      example:
        ExternalIDs:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        Aka: Aka
        OriginalName: OriginalName
        Name: Name
      properties:
        Aka:
          title: Aka
          type: string
        ExternalIDs:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: ExternalIDs
          type: array
        Name:
          title: Name
          type: string
        OriginalName:
          title: OriginalName
          type: string
      title: Aliases
      type: object
    ArtistArt:
      example:
        ArtistID: ArtistID
        Banner: Banner
        Logo: Logo
        Name: Name
      properties:
        ArtistID:
          title: ArtistID
          type: string
        Banner:
          title: Banner
          type: string
        Logo:
          title: Logo
          type: string
        Name:
          title: Name
          type: string
      title: ArtistArt
      type: object
    BandAlbums:
      example:
        ArtistID: ArtistID
        Releaseyear: Releaseyear
        AlbumID: AlbumID
        Label: Label
        Bibliography: Bibliography
        AlbumArt: AlbumArt
        Name: Name
      properties:
        AlbumArt:
          title: AlbumArt
          type: string
        AlbumID:
          title: AlbumID
          type: string
        ArtistID:
          title: ArtistID
          type: string
        Bibliography:
          title: Bibliography
          type: string
        Label:
          title: Label
          type: string
        Name:
          title: Name
          type: string
        Releaseyear:
          title: Releaseyear
          type: string
      title: BandAlbums
      type: object
    BandInfo:
      example:
        ArtistID: ArtistID
        FormationYear: FormationYear
        SocialMedia: SocialMedia
        MusicBrainzID: MusicBrainzID
        Banner: Banner
        Biography: Biography
        DisbandedYear: DisbandedYear
        WebSite: WebSite
        Genre: Genre
        Members: Members
        Logo: Logo
        Name: Name
      properties:
        ArtistID:
          title: ArtistID
          type: string
        Banner:
          title: Banner
          type: string
        Biography:
          title: Biography
          type: string
        DisbandedYear:
          title: DisbandedYear
          type: string
        FormationYear:
          title: FormationYear
          type: string
        Genre:
          title: Genre
          type: string
        Logo:
          title: Logo
          type: string
        Members:
          title: Members
          type: string
        MusicBrainzID:
          title: MusicBrainzID
          type: string
        Name:
          title: Name
          type: string
        SocialMedia:
          title: SocialMedia
          type: string
        WebSite:
          title: WebSite
          type: string
      title: BandInfo
      type: object
    BandInfoExtended:
      example:
        ArtistID: ArtistID
        MusicBrainzID: MusicBrainzID
        Banner: Banner
        Albums:
        - ArtistID: ArtistID
          Releaseyear: Releaseyear
          AlbumID: AlbumID
          Label: Label
          Bibliography: Bibliography
          AlbumArt: AlbumArt
          Name: Name
        - ArtistID: ArtistID
          Releaseyear: Releaseyear
          AlbumID: AlbumID
          Label: Label
          Bibliography: Bibliography
          AlbumArt: AlbumArt
          Name: Name
        Logo: Logo
        Name: Name
        Videos:
        - ArtistID: ArtistID
          Decription: Decription
          AlbumID: AlbumID
          Video: Video
        - ArtistID: ArtistID
          Decription: Decription
          AlbumID: AlbumID
          Video: Video
        FormationYear: FormationYear
        SocialMedia: SocialMedia
        Biography: Biography
        DisbandedYear: DisbandedYear
        WebSite: WebSite
        Genre: Genre
        Members: Members
      properties:
        Albums:
          items:
            $ref: '#/components/schemas/BandAlbums'
          title: Albums
          type: array
        ArtistID:
          title: ArtistID
          type: string
        Banner:
          title: Banner
          type: string
        Biography:
          title: Biography
          type: string
        DisbandedYear:
          title: DisbandedYear
          type: string
        FormationYear:
          title: FormationYear
          type: string
        Genre:
          title: Genre
          type: string
        Logo:
          title: Logo
          type: string
        Members:
          title: Members
          type: string
        MusicBrainzID:
          title: MusicBrainzID
          type: string
        Name:
          title: Name
          type: string
        SocialMedia:
          title: SocialMedia
          type: string
        Videos:
          items:
            $ref: '#/components/schemas/MusicVideo'
          title: Videos
          type: array
        WebSite:
          title: WebSite
          type: string
      title: BandInfoExtended
      type: object
    CDCoverArt:
      example:
        CoverImage: CoverImage
        CoverThumbMedium: CoverThumbMedium
        CoverType: CoverType
        MusicBrainzID: MusicBrainzID
        CoverThumbSmall: CoverThumbSmall
      properties:
        CoverImage:
          title: CoverImage
          type: string
        CoverThumbMedium:
          title: CoverThumbMedium
          type: string
        CoverThumbSmall:
          title: CoverThumbSmall
          type: string
        CoverType:
          title: CoverType
          type: string
        MusicBrainzID:
          title: MusicBrainzID
          type: string
      title: CDCoverArt
      type: object
    Country:
      example:
        Name: Name
      properties:
        Name:
          title: Name
          type: string
      title: Country
      type: object
    Crew:
      example:
        Type: Type
        Image: Image
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        ShowName: ShowName
        Name: Name
      properties:
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        Image:
          title: Image
          type: string
        Name:
          title: Name
          type: string
        ShowName:
          title: ShowName
          type: string
        Type:
          title: Type
          type: string
      title: Crew
      type: object
    Episode:
      example:
        EpisodeNo: EpisodeNo
        Airtime: Airtime
        Title: Title
        Image: Image
        Season: Season
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        Synopsis: Synopsis
        Airdate: Airdate
      properties:
        Airdate:
          title: Airdate
          type: string
        Airtime:
          title: Airtime
          type: string
        EpisodeNo:
          title: EpisodeNo
          type: string
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        Image:
          title: Image
          type: string
        Season:
          title: Season
          type: string
        Synopsis:
          title: Synopsis
          type: string
        Title:
          title: Title
          type: string
      title: Episode
      type: object
    ExternalIDs:
      example:
        ID: ID
        Name: Name
      properties:
        ID:
          title: ID
          type: string
        Name:
          title: Name
          type: string
      title: ExternalIDs
      type: object
    LastAvailableSeason:
      example:
        Season: Season
      properties:
        Season:
          title: Season
          type: string
      title: LastAvailableSeason
      type: object
    Lyric:
      example:
        Artist: Artist
        Song: Song
        AlbumID: AlbumID
        Lyrics: Lyrics
      properties:
        AlbumID:
          title: AlbumID
          type: string
        Artist:
          title: Artist
          type: string
        Lyrics:
          title: Lyrics
          type: string
        Song:
          title: Song
          type: string
      title: Lyric
      type: object
    Magnets:
      example:
        Type: Type
        Seeds: Seeds
        Size: Size
        Peers: Peers
        Title: Title
        Hash: Hash
        Image: Image
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        FirstSeenDate: FirstSeenDate
        Name: Name
      properties:
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        FirstSeenDate:
          description: Date this hash was first detected
          title: FirstSeenDate
          type: string
        Hash:
          description: The actual hash you need to construct your magnet
          title: Hash
          type: string
        Image:
          title: Image
          type: string
        Name:
          title: Name
          type: string
        Peers:
          description: Number of Peers available at FirstSeenDate
          title: Peers
          type: string
        Seeds:
          description: Number of Seeds available at FirstSeenDate
          title: Seeds
          type: string
        Size:
          title: Size
          type: string
        Title:
          title: Title
          type: string
        Type:
          title: Type
          type: string
      title: Magnets
      type: object
    MovieInformation:
      example:
        Runtime: Runtime
        ReleaseYear: ReleaseYear
        Title: Title
        ID: ID
        ImdbID: ImdbID
        Synopsis: Synopsis
      properties:
        ID:
          title: ID
          type: string
        ImdbID:
          title: ImdbID
          type: string
        ReleaseYear:
          title: ReleaseYear
          type: string
        Runtime:
          title: Runtime
          type: string
        Synopsis:
          title: Synopsis
          type: string
        Title:
          title: Title
          type: string
      title: MovieInformation
      type: object
    MusicVideo:
      example:
        ArtistID: ArtistID
        Decription: Decription
        AlbumID: AlbumID
        Video: Video
      properties:
        AlbumID:
          title: AlbumID
          type: string
        ArtistID:
          title: ArtistID
          type: string
        Decription:
          title: Decription
          type: string
        Video:
          title: Video
          type: string
      title: MusicVideo
      type: object
    Networks:
      example:
        Network: Network
        Country: Country
      properties:
        Country:
          title: Country
          type: string
        Network:
          title: Network
          type: string
      title: Networks
      type: object
    PostResult:
      example:
        Status: Status
      properties:
        Status:
          title: Status
          type: string
      title: PostResult
      type: object
    RatingItem:
      example:
        IMDB: IMDB
        RottenTomatoes: RottenTomatoes
        EpisoDate: EpisoDate
        MetaCritics: MetaCritics
        TVMaze: TVMaze
        imdbID: imdbID
        TVDB: TVDB
        RottenTomatoesAudienceScore: RottenTomatoesAudienceScore
        Trakt: Trakt
        Name: Name
      properties:
        EpisoDate:
          title: EpisoDate
          type: string
        IMDB:
          title: IMDB
          type: string
        MetaCritics:
          title: MetaCritics
          type: string
        Name:
          title: Name
          type: string
        RottenTomatoes:
          title: RottenTomatoes
          type: string
        RottenTomatoesAudienceScore:
          title: RottenTomatoesAudienceScore
          type: string
        TVDB:
          title: TVDB
          type: string
        TVMaze:
          title: TVMaze
          type: string
        Trakt:
          title: Trakt
          type: string
        imdbID:
          title: imdbID
          type: string
      title: RatingItem
      type: object
    ShowSeasons:
      example:
        Year: Year
      properties:
        Year:
          title: Year
          type: string
      title: ShowSeasons
      type: object
    TVInformation:
      example:
        ReleaseYear: ReleaseYear
        EpisodeCount: EpisodeCount
        ShowImage: ShowImage
        ShowStatus: ShowStatus
        Title: Title
        EpisodeRuntime: EpisodeRuntime
        ID: ID
        Seasons: Seasons
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        Synopsis: Synopsis
      properties:
        EpisodeCount:
          title: EpisodeCount
          type: string
        EpisodeRuntime:
          title: EpisodeRuntime
          type: string
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        ID:
          title: ID
          type: string
        ReleaseYear:
          title: ReleaseYear
          type: string
        Seasons:
          title: Seasons
          type: string
        ShowImage:
          title: ShowImage
          type: string
        ShowStatus:
          title: ShowStatus
          type: string
        Synopsis:
          title: Synopsis
          type: string
        Title:
          title: Title
          type: string
      title: TVInformation
      type: object
    TVInformationPost:
      example:
        AccessToken: AccessToken
        EpisodeCount: EpisodeCount
        ShowImage: ShowImage
        ShowStatus: ShowStatus
        Title: Title
        EpisodeRuntime: EpisodeRuntime
        Genres: Genres
        Seasons: Seasons
        ImdbID: ImdbID
        PremierYear: PremierYear
        Synopsis: Synopsis
      properties:
        AccessToken:
          title: AccessToken
          type: string
        EpisodeCount:
          title: EpisodeCount
          type: string
        EpisodeRuntime:
          title: EpisodeRuntime
          type: string
        Genres:
          title: Genres
          type: string
        ImdbID:
          title: ImdbID
          type: string
        PremierYear:
          title: PremierYear
          type: string
        Seasons:
          title: Seasons
          type: string
        ShowImage:
          title: ShowImage
          type: string
        ShowStatus:
          title: ShowStatus
          type: string
        Synopsis:
          title: Synopsis
          type: string
        Title:
          title: Title
          type: string
      title: TVInformationPost
      type: object
    TVShowActor:
      example:
        Role: Role
        Image: Image
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
        ShowName: ShowName
        Name: Name
      properties:
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        Image:
          title: Image
          type: string
        Name:
          title: Name
          type: string
        Role:
          title: Role
          type: string
        ShowName:
          title: ShowName
          type: string
      title: TVShowActor
      type: object
    TVShowSeasons:
      example:
        Episodes: Episodes
        Seasons: Seasons
        Showname: Showname
        Externals:
        - ID: ID
          Name: Name
        - ID: ID
          Name: Name
      properties:
        Episodes:
          title: Episodes
          type: string
        Externals:
          items:
            $ref: '#/components/schemas/ExternalIDs'
          title: Externals
          type: array
        Seasons:
          title: Seasons
          type: string
        Showname:
          title: Showname
          type: string
      title: TVShowSeasons
      type: object
    Trailer:
      example:
        Site: Site
        TrailerName: TrailerName
        YouTubeEmbeddedCode: YouTubeEmbeddedCode
        Episode: Episode
        TrailerSize: TrailerSize
        YouTubeURL: YouTubeURL
        MediaType: MediaType
        Season: Season
        TrailerType: TrailerType
        Key: Key
      properties:
        Episode:
          title: Episode
          type: string
        Key:
          description: "Key for trailer, usually end part of uri for youtube links"
          title: Key
          type: string
        MediaType:
          description: "Returns Media Type, either C (Channel) T (Television) or M\
            \ (Movie)"
          title: MediaType
          type: string
        Season:
          title: Season
          type: string
        Site:
          title: Site
          type: string
        TrailerName:
          title: TrailerName
          type: string
        TrailerSize:
          title: TrailerSize
          type: string
        TrailerType:
          description: "Returns Trailer type (trailer, teaser, channel, episode,credits,\
            \ clip etc)"
          title: TrailerType
          type: string
        YouTubeEmbeddedCode:
          title: YouTubeEmbeddedCode
          type: string
        YouTubeURL:
          title: YouTubeURL
          type: string
      title: Trailer
      type: object
    TrailerCount:
      example:
        Count: 0
      properties:
        Count:
          format: int32
          title: Count
          type: integer
      title: TrailerCount
      type: object
    _Awards:
      example:
        Nominee: Nominee
        Type: Type
        Category: Category
        Year: Year
        Winner: Winner
      properties:
        Category:
          title: Category
          type: string
        Nominee:
          title: Nominee
          type: string
        Type:
          title: Type
          type: string
        Winner:
          title: Winner
          type: string
        Year:
          title: Year
          type: string
      title: _Awards
      type: object
    _ShowStatus:
      example:
        tvdbID: tvdbID
        YearsOn: YearsOn
        imdbID: imdbID
        Title: Title
        Enddate: Enddate
        ID: ID
        status: status
      properties:
        Enddate:
          title: Enddate
          type: string
        ID:
          title: ID
          type: string
        Title:
          title: Title
          type: string
        YearsOn:
          title: YearsOn
          type: string
        imdbID:
          title: imdbID
          type: string
        status:
          title: status
          type: string
        tvdbID:
          title: tvdbID
          type: string
      title: _ShowStatus
      type: object
    imdbID:
      example:
        ShinobiID: ShinobiID
        Type: Type
        Title: Title
        ID: ID
      properties:
        ID:
          title: ID
          type: string
        ShinobiID:
          title: ShinobiID
          type: string
        Title:
          title: Title
          type: string
        Type:
          title: Type
          type: string
      title: imdbID
      type: object
    imdbImages:
      example:
        Backdrops:
        - Backdrops
        - Backdrops
        Posters:
        - Posters
        - Posters
        Type: Type
        imdbID: imdbID
      properties:
        Backdrops:
          items:
            type: string
          title: Backdrops
          type: array
        Posters:
          items:
            type: string
          title: Posters
          type: array
        Type:
          title: Type
          type: string
        imdbID:
          title: imdbID
          type: string
      title: imdbImages
      type: object
    schedule:
      example:
        PremiereDate: PremiereDate
        AirTime: AirTime
        Title: Title
        Image: Image
        ShowName: ShowName
        DaysOn: DaysOn
        AirDate: AirDate
        Episode: Episode
        Runtime: Runtime
        Network: Network
        Country: Country
        Summary: Summary
        ID: ID
        Season: Season
      properties:
        AirDate:
          title: AirDate
          type: string
        AirTime:
          title: AirTime
          type: string
        Country:
          title: Country
          type: string
        DaysOn:
          title: DaysOn
          type: string
        Episode:
          title: Episode
          type: string
        ID:
          title: ID
          type: string
        Image:
          title: Image
          type: string
        Network:
          title: Network
          type: string
        PremiereDate:
          title: PremiereDate
          type: string
        Runtime:
          title: Runtime
          type: string
        Season:
          title: Season
          type: string
        ShowName:
          title: ShowName
          type: string
        Summary:
          title: Summary
          type: string
        Title:
[...]
