openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: MLB projections API.
  title: MLB v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/mlb-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: mlb-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/mlb/projections
- url: https://azure-api.sportsdata.io/v3/mlb/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DepthCharts:
    get:
      description: Returns Depth Charts for all active MLB teams.
      operationId: DepthCharts
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
                type: array
          description: ""
      summary: Depth Charts
      x-accepts:
      - application/json
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured MLB players, along\
        \ with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      operationId: ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStats/{season}:
    get:
      operationId: ProjectedPlayerSeasonStatsWithAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
                type: array
          description: ""
      summary: Projected Player Season Stats (with ADP)
      x-accepts:
      - application/json
  /{format}/StartingLineupsByDate/{date}:
    get:
      operationId: StartingLineupsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StartingLineups'
                type: array
          description: ""
      summary: Starting Lineups by Date
      x-accepts:
      - application/json
components:
  schemas:
    DepthChart:
      example:
        PlayerID: 1
        Updated: Updated
        DepthOrder: 6
        Position: Position
        PositionCategory: PositionCategory
        DepthChartID: 0
        TeamID: 5
        Name: Name
      properties:
        DepthChartID:
          nullable: false
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 9
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            InningDescription: InningDescription
            Innings:
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            AwayTeam: AwayTeam
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 6
            AwayTeamRuns: 9
            HomeTeamID: 2
            ForecastTempHigh: 1
            RunnerOnThird: true
            DateTime: DateTime
            CurrentHittingTeamID: 7
            CurrentHitter: CurrentHitter
            CurrentHitterID: 4
            HomeTeamHits: 1
            AwayTeamErrors: 1
            AwayTeamHits: 5
            ForecastWindSpeed: 9
            GameID: 6
            OverPayout: 8
            AwayTeamStartingPitcherID: 3
            Outs: 4
            Status: Status
            ForecastWindDirection: 9
            LosingPitcher: LosingPitcher
            HomeTeam: HomeTeam
            Updated: Updated
            Channel: Channel
            Inning: 3
            DueUpHitterID2: 6
            DueUpHitterID3: 7
            HomeTeamRuns: 5
            RunnerOnFirst: true
            CurrentPitcher: CurrentPitcher
            DueUpHitterID1: 1
            HomeTeamStartingPitcherID: 6
            NeutralVenue: true
            StadiumID: 9
            SeriesInfo:
              GameNumber: 1
              MaxLength: 7
              AwayTeamWins: 4
              HomeTeamWins: 4
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 3
            GlobalAwayTeamID: 8
            DateTimeUTC: DateTimeUTC
            RescheduledFromGameID: 5
            AwayTeamMoneyLine: 2
            HomeTeamErrors: 6
            RescheduledGameID: 3
            AwayTeamProbablePitcherID: 7
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 3
            InningHalf: InningHalf
            HomeTeamProbablePitcherID: 6
            AwayTeamID: 5
            IsClosed: true
            LastPlay: LastPlay
            ForecastWindChill: 5
            UnderPayout: 9
            GlobalHomeTeamID: 6
            WinningPitcher: WinningPitcher
            HomeTeamStartingPitcher: HomeTeamStartingPitcher
            Season: 0
            GlobalGameID: 9
            Attendance: 0
            RunnerOnSecond: true
            SavingPitcherID: 4
            OverUnder: 7.740351818741173
            Strikes: 0
            CurrentPitcherID: 1
            SeasonType: 6
            PointSpread: 3.0205796992916243
            SavingPitcher: SavingPitcher
            LosingPitcherID: 0
            ForecastTempLow: 4
            WinningPitcherID: 0
            AwayTeamStartingPitcher: AwayTeamStartingPitcher
            Balls: 2
            PointSpreadHomeTeamMoneyLine: 7
            CurrentPitchingTeamID: 1
            Day: Day
          OperatorGameID: 5
          SlateGameID: 4
          SlateID: 6
          GameID: 7
        - RemovedByOperator: true
          Game:
            InningDescription: InningDescription
            Innings:
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            AwayTeam: AwayTeam
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 6
            AwayTeamRuns: 9
            HomeTeamID: 2
            ForecastTempHigh: 1
            RunnerOnThird: true
            DateTime: DateTime
            CurrentHittingTeamID: 7
            CurrentHitter: CurrentHitter
            CurrentHitterID: 4
            HomeTeamHits: 1
            AwayTeamErrors: 1
            AwayTeamHits: 5
            ForecastWindSpeed: 9
            GameID: 6
            OverPayout: 8
            AwayTeamStartingPitcherID: 3
            Outs: 4
            Status: Status
            ForecastWindDirection: 9
            LosingPitcher: LosingPitcher
            HomeTeam: HomeTeam
            Updated: Updated
            Channel: Channel
            Inning: 3
            DueUpHitterID2: 6
            DueUpHitterID3: 7
            HomeTeamRuns: 5
            RunnerOnFirst: true
            CurrentPitcher: CurrentPitcher
            DueUpHitterID1: 1
            HomeTeamStartingPitcherID: 6
            NeutralVenue: true
            StadiumID: 9
            SeriesInfo:
              GameNumber: 1
              MaxLength: 7
              AwayTeamWins: 4
              HomeTeamWins: 4
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 3
            GlobalAwayTeamID: 8
            DateTimeUTC: DateTimeUTC
            RescheduledFromGameID: 5
            AwayTeamMoneyLine: 2
            HomeTeamErrors: 6
            RescheduledGameID: 3
            AwayTeamProbablePitcherID: 7
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 3
            InningHalf: InningHalf
            HomeTeamProbablePitcherID: 6
            AwayTeamID: 5
            IsClosed: true
            LastPlay: LastPlay
            ForecastWindChill: 5
            UnderPayout: 9
            GlobalHomeTeamID: 6
            WinningPitcher: WinningPitcher
            HomeTeamStartingPitcher: HomeTeamStartingPitcher
            Season: 0
            GlobalGameID: 9
            Attendance: 0
            RunnerOnSecond: true
            SavingPitcherID: 4
            OverUnder: 7.740351818741173
            Strikes: 0
            CurrentPitcherID: 1
            SeasonType: 6
            PointSpread: 3.0205796992916243
            SavingPitcher: SavingPitcher
            LosingPitcherID: 0
            ForecastTempLow: 4
            WinningPitcherID: 0
            AwayTeamStartingPitcher: AwayTeamStartingPitcher
            Balls: 2
            PointSpreadHomeTeamMoneyLine: 7
            CurrentPitchingTeamID: 1
            Day: Day
          OperatorGameID: 5
          SlateGameID: 4
          SlateID: 6
          GameID: 7
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 8
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 6
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 3
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 2
          SlatePlayerID: 1
          TeamID: 8
          PlayerGameProjectionStatID: 4
          OperatorSalary: 8
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 0
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 3
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 2
          SlatePlayerID: 1
          TeamID: 8
          PlayerGameProjectionStatID: 4
          OperatorSalary: 8
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 0
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 4
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          InningDescription: InningDescription
          Innings:
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          AwayTeam: AwayTeam
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 6
          AwayTeamRuns: 9
          HomeTeamID: 2
          ForecastTempHigh: 1
          RunnerOnThird: true
          DateTime: DateTime
          CurrentHittingTeamID: 7
          CurrentHitter: CurrentHitter
          CurrentHitterID: 4
          HomeTeamHits: 1
          AwayTeamErrors: 1
          AwayTeamHits: 5
          ForecastWindSpeed: 9
          GameID: 6
          OverPayout: 8
          AwayTeamStartingPitcherID: 3
          Outs: 4
          Status: Status
          ForecastWindDirection: 9
          LosingPitcher: LosingPitcher
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Inning: 3
          DueUpHitterID2: 6
          DueUpHitterID3: 7
          HomeTeamRuns: 5
          RunnerOnFirst: true
          CurrentPitcher: CurrentPitcher
          DueUpHitterID1: 1
          HomeTeamStartingPitcherID: 6
          NeutralVenue: true
          StadiumID: 9
          SeriesInfo:
            GameNumber: 1
            MaxLength: 7
            AwayTeamWins: 4
            HomeTeamWins: 4
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 3
          GlobalAwayTeamID: 8
          DateTimeUTC: DateTimeUTC
          RescheduledFromGameID: 5
          AwayTeamMoneyLine: 2
          HomeTeamErrors: 6
          RescheduledGameID: 3
          AwayTeamProbablePitcherID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 3
          InningHalf: InningHalf
          HomeTeamProbablePitcherID: 6
          AwayTeamID: 5
          IsClosed: true
          LastPlay: LastPlay
          ForecastWindChill: 5
          UnderPayout: 9
          GlobalHomeTeamID: 6
          WinningPitcher: WinningPitcher
          HomeTeamStartingPitcher: HomeTeamStartingPitcher
          Season: 0
          GlobalGameID: 9
          Attendance: 0
          RunnerOnSecond: true
          SavingPitcherID: 4
          OverUnder: 7.740351818741173
          Strikes: 0
          CurrentPitcherID: 1
          SeasonType: 6
          PointSpread: 3.0205796992916243
          SavingPitcher: SavingPitcher
          LosingPitcherID: 0
          ForecastTempLow: 4
          WinningPitcherID: 0
          AwayTeamStartingPitcher: AwayTeamStartingPitcher
          Balls: 2
          PointSpreadHomeTeamMoneyLine: 7
          CurrentPitchingTeamID: 1
          Day: Day
        OperatorGameID: 5
        SlateGameID: 4
        SlateID: 6
        GameID: 7
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 3
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 2
        SlatePlayerID: 1
        TeamID: 8
        PlayerGameProjectionStatID: 4
        OperatorSalary: 8
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 0
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      example:
        InningDescription: InningDescription
        Innings:
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        AwayTeam: AwayTeam
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 6
        AwayTeamRuns: 9
        HomeTeamID: 2
        ForecastTempHigh: 1
        RunnerOnThird: true
        DateTime: DateTime
        CurrentHittingTeamID: 7
        CurrentHitter: CurrentHitter
        CurrentHitterID: 4
        HomeTeamHits: 1
        AwayTeamErrors: 1
        AwayTeamHits: 5
        ForecastWindSpeed: 9
        GameID: 6
        OverPayout: 8
        AwayTeamStartingPitcherID: 3
        Outs: 4
        Status: Status
        ForecastWindDirection: 9
        LosingPitcher: LosingPitcher
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Inning: 3
        DueUpHitterID2: 6
        DueUpHitterID3: 7
        HomeTeamRuns: 5
        RunnerOnFirst: true
        CurrentPitcher: CurrentPitcher
        DueUpHitterID1: 1
        HomeTeamStartingPitcherID: 6
        NeutralVenue: true
        StadiumID: 9
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 3
        GlobalAwayTeamID: 8
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 5
        AwayTeamMoneyLine: 2
        HomeTeamErrors: 6
        RescheduledGameID: 3
        AwayTeamProbablePitcherID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 3
        InningHalf: InningHalf
        HomeTeamProbablePitcherID: 6
        AwayTeamID: 5
        IsClosed: true
        LastPlay: LastPlay
        ForecastWindChill: 5
        UnderPayout: 9
        GlobalHomeTeamID: 6
        WinningPitcher: WinningPitcher
        HomeTeamStartingPitcher: HomeTeamStartingPitcher
        Season: 0
        GlobalGameID: 9
        Attendance: 0
        RunnerOnSecond: true
        SavingPitcherID: 4
        OverUnder: 7.740351818741173
        Strikes: 0
        CurrentPitcherID: 1
        SeasonType: 6
        PointSpread: 3.0205796992916243
        SavingPitcher: SavingPitcher
        LosingPitcherID: 0
        ForecastTempLow: 4
        WinningPitcherID: 0
        AwayTeamStartingPitcher: AwayTeamStartingPitcher
        Balls: 2
        PointSpreadHomeTeamMoneyLine: 7
        CurrentPitchingTeamID: 1
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamErrors:
          nullable: true
          type: integer
        AwayTeamHits:
          nullable: true
          type: integer
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamProbablePitcherID:
          nullable: true
          type: integer
        AwayTeamRuns:
          nullable: true
          type: integer
        AwayTeamStartingPitcher:
          nullable: true
          type: string
        AwayTeamStartingPitcherID:
          nullable: true
          type: integer
        Balls:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        CurrentHitter:
          nullable: true
          type: string
        CurrentHitterID:
          nullable: true
          type: integer
        CurrentHittingTeamID:
          nullable: true
          type: integer
        CurrentPitcher:
          nullable: true
          type: string
        CurrentPitcherID:
          nullable: true
          type: integer
        CurrentPitchingTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DueUpHitterID1:
          nullable: true
          type: integer
        DueUpHitterID2:
          nullable: true
          type: integer
        DueUpHitterID3:
          nullable: true
          type: integer
        ForecastDescription:
          nullable: true
          type: string
        ForecastTempHigh:
          nullable: true
          type: integer
        ForecastTempLow:
          nullable: true
          type: integer
        ForecastWindChill:
          nullable: true
          type: integer
        ForecastWindDirection:
          nullable: true
          type: integer
        ForecastWindSpeed:
          nullable: true
          type: integer
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamErrors:
          nullable: true
          type: integer
        HomeTeamHits:
          nullable: true
          type: integer
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamProbablePitcherID:
          nullable: true
          type: integer
        HomeTeamRuns:
          nullable: true
          type: integer
        HomeTeamStartingPitcher:
          nullable: true
          type: string
        HomeTeamStartingPitcherID:
          nullable: true
          type: integer
        Inning:
          nullable: true
          type: integer
        InningDescription:
          nullable: true
          type: string
        InningHalf:
          nullable: true
          type: string
        Innings:
          items:
            $ref: '#/components/schemas/Inning'
          type: array
        IsClosed:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        LosingPitcher:
          nullable: true
          type: string
        LosingPitcherID:
          nullable: true
          type: integer
        NeutralVenue:
          nullable: true
          type: boolean
        Outs:
          nullable: true
          type: integer
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        RescheduledFromGameID:
          nullable: true
          type: integer
        RescheduledGameID:
          nullable: true
          type: integer
        RunnerOnFirst:
          nullable: true
          type: boolean
        RunnerOnSecond:
          nullable: true
          type: boolean
        RunnerOnThird:
          nullable: true
          type: boolean
        SavingPitcher:
          nullable: true
          type: string
        SavingPitcherID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Strikes:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        WinningPitcher:
          nullable: true
          type: string
        WinningPitcherID:
          nullable: true
          type: integer
    Inning:
      example:
        InningID: 7
        AwayTeamRuns: 3
        InningNumber: 6
        HomeTeamRuns: 0
        GameID: 7
      properties:
        AwayTeamRuns:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeTeamRuns:
          nullable: true
          type: integer
        InningID:
          nullable: false
          type: integer
        InningNumber:
          nullable: false
          type: integer
    Lineup:
      example:
        PlayerID: 6
        BattingOrder: 0
        Position: Position
        FirstName: FirstName
        Starting: true
        Team: Team
        Confirmed: true
        LastName: LastName
        TeamID: 1
      properties:
        BattingOrder:
          nullable: true
          type: integer
        Confirmed:
          nullable: true
          type: boolean
        FirstName:
          nullable: true
          type: string
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Starting:
          nullable: true
          type: boolean
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
    Player:
      example:
        PlayerID: 3
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 5
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        SportsDirectPlayerID: 1
        UsaTodayPlayerID: 7
        Jersey: 7
        PhotoUrl: PhotoUrl
        Status: Status
        Position: Position
        FanDuelPlayerID: 6
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 4
        Weight: 1
        Experience: Experience
        SportRadarPlayerID: SportRadarPlayerID
        College: College
        LastName: LastName
        BirthDate: BirthDate
        Salary: 7
        FantasyDraftPlayerID: 5
        SportsDataID: SportsDataID
        RotoworldPlayerID: 4
        TeamID: 1
        DraftKingsPlayerID: 0
        UpcomingGameID: 6
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 2
        Team: Team
        ThrowHand: ThrowHand
        YahooPlayerID: 5
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        BatHand: BatHand
        FirstName: FirstName
        PositionCategory: PositionCategory
        ProDebut: ProDebut
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        BirthState: BirthState
        DraftKingsName: DraftKingsName
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        FantasyAlarmPlayerID: 1
        HighSchool: HighSchool
        BirthCity: BirthCity
        MLBAMID: 9
      properties:
        BatHand:
          nullable: true
          type: string
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        College:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        HighSchool:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        MLBAMID:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        ProDebut:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Salary:
          nullable: true
          type: integer
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDataID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThrowHand:
          nullable: true
          type: string
        UpcomingGameID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGameProjection:
      example:
        IntentionalWalks: 0.8851374739011653
        PitchingQualityStarts: 9.183123594773994
        PitchingTriples: 7.835035282970782
        PlayerID: 8
        InjuryStartDate: InjuryStartDate
        PitchingHomeRuns: 0.43431398824148815
        HitByPitch: 6.878052220127876
        PitchingBlownSaves: 4.678947989005849
        DateTime: DateTime
        SubstituteBattingOrder: 3
        IsolatedPower: 7.058770351582356
        PitchingCompleteGames: 9.132027271330688
        PitchingOnBasePlusSlugging: 8.863729185622827
        CaughtStealing: 2.3021358869347655
        PopOuts: 4.518309517874243
        PitchingGroundOuts: 6.073898085781152
        Singles: 6.173804034172511
        PitchingShutOuts: 8.37823741034869
        EarnedRunAverage: 2.027123023002322
        Wins: 9.785002165136461
        GameID: 8
        Outs: 5.533258397034986
        GroundOuts: 6.778324963048013
        Position: Position
        PitchingInningStarted: 2
        PitchingHolds: 3.901545264248647
        FantasyDraftSalary: 1
        OnBasePercentage: 8.969578798196912
        PitchingCatchersInterference: 7.260521264802104
        PitchingWeightedOnBasePercentage: 2.380090174313445
        PitchingDoublePlays: 0.8774076871421566
        OpponentID: 3
        Losses: 4.652396432933246
        FantasyPointsDraftKings: 7.457744773683766
        HomeRuns: 6.704019297950036
        PitchingStrikeoutsPerNineInnings: 9.897492629215506
        PitchingSluggingPercentage: 3.7814124730767915
        WeightedOnBasePercentage: 3.2841216543560217
        Hits: 5.944895607614016
        Started: 6
        IsGameOver: true
        PitchesThrownStrikes: 0.2025324113236393
        PitchingGroundIntoDoublePlay: 4.86315908102884
        TeamID: 1
        Runs: 0.35262192099236644
        FantasyDataSalary: 1
        PitchingPlateAppearances: 1.8268702177058116
        PitchingRuns: 0.4182561061793122
        PlateAppearances: 3.804112695731078
        Strikeouts: 1.2555055362323109
        PitchingHits: 4.459605034958679
        BattingAverageOnBallsInPlay: 5.962133916683182
        Team: Team
        PitchingLineOuts: 8.28965939814297
        Season: 0
        Walks: 3.8008573585058016
        PitchingBattingAverageOnBallsInPlay: 1.041444916118296
        FanDuelSalary: 7
        PitchingGrandSlams: 5.507386964179881
        PitchesSeen: 3.2588565619047607
        TotalOutsPitched: 5.7911894223693885
        PitchingFlyOuts: 7.933506881737151
        DoublePlays: 7.061401241503109
        InjuryBodyPart: InjuryBodyPart
        WalksHitsPerInningsPitched: 1.0639121808530916
        HomeOrAway: HomeOrAway
        InningsPitchedDecimal: 3.353193347011243
        PitchingDoubles: 9.702963800023566
        PitchingBallsInPlay: 6.628464275087742
        Day: Day
        PitchingSacrifices: 5.312489704336296
        LeftOnBase: 6.519180951018382
        FanDuelPosition: FanDuelPosition
        PitchingBattingAverageAgainst: 4.258773108174356
        SacrificeFlies: 4.332304821875894
        GlobalTeamID: 6
        InjuryStatus: InjuryStatus
        DraftKingsSalary: 3
        Name: Name
        PitchingWalks: 0.4768402382624515
        BattingAverage: 1.4658129805029452
        Doubles: 9.301444243932576
        PitchingEarnedRuns: 0.5199002018724985
        OnBasePlusSlugging: 7.740351818741173
        BallsInPlay: 6.027456183070403
        PitchingIntentionalWalks: 1.7325933120207193
        PitchesThrown: 4.078845849666752
        AtBats: 0.8008281904610115
        SubstituteBattingOrderSequence: 5
        InningsPitchedOuts: 7.143538047012306
        FantasyPointsBatting: 6.84685269835264
        OpponentPositionRank: 3
        Updated: Updated
        Triples: 5.974942028545841
        BattingOrderConfirmed: true
        LineOuts: 0.10263654006109402
        PitchingReachedOnError: 8.761432466225475
        FantasyPointsFanDuel: 1.1730742509559433
        RunsBattedIn: 7.203794749804894
        PitchingOnBasePercentage: 4.573936264232251
        Errors: 4.145608029883936
        PitchingPerfectGames: 9.254183946267839
        Games: 9
        SluggingPercentage: 4.8789878742268815
        PitchingSingles: 7.606863723092579
        StatID: 9
        PitchingStrikeouts: 3.111202833403195
        GrandSlams: 1.284659006116532
        Saves: 9.386524999783381
        StolenBases: 1.3949519358941398
        FantasyPointsYahoo: 9.965781217890562
        FieldingIndependentPitching: 9.369310271410669
        OpponentRank: 7
        PitchingTotalBases: 5.877124706116695
        YahooSalary: 7
        Sacrifices: 2.7977867356748476
        InningsPitchedFull: 3.0937452626664474
        DraftKingsPosition: DraftKingsPosition
        FantasyPointsFantasyDraft: 4.965218492984954
        FlyOuts: 6.683562403749608
        GlobalOpponentID: 3
        Opponent: Opponent
        GroundIntoDoublePlay: 2.8841621266687802
        TotalBases: 4.372688051310086
        ReachedOnError: 0.4833312865174044
        GlobalGameID: 6
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FantasyPoints: 1.4894159098541704
        PitchingNoHitters: 6.623518433804886
        PositionCategory: PositionCategory
        PitchingSacrificeFlies: 5.299143560275359
        PitchingHitByPitch: 8.251625748923757
        InjuryNotes: InjuryNotes
        BattingOrder: 5
        SeasonType: 2
        PitchingPopOuts: 3.502657762086401
        PitchingWalksPerNineInnings: 3.1497903714250555
        FantasyPointsPitching: 5.025004791520295
      properties:
        AtBats:
          nullable: true
          type: number
        BallsInPlay:
          nullable: true
          type: number
        BattingAverage:
          nullable: true
          type: number
        BattingAverageOnBallsInPlay:
          nullable: true
          type: number
        BattingOrder:
          nullable: true
          type: integer
        BattingOrderConfirmed:
          nullable: true
          type: boolean
        CaughtStealing:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DoublePlays:
          nullable: true
          type: number
        Doubles:
          nullable: true
          type: number
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        EarnedRunAverage:
          nullable: true
          type: number
        Errors:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsBatting:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPitching:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldingIndependentPitching:
          nullable: true
          type: number
        FlyOuts:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        GrandSlams:
          nullable: true
          type: number
        GroundIntoDoublePlay:
          nullable: true
          type: number
        GroundOuts:
          nullable: true
          type: number
        HitByPitch:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        HomeRuns:
          nullable: true
          type: number
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        InningsPitchedDecimal:
          nullable: true
          type: number
        InningsPitchedFull:
          nullable: true
          type: number
        InningsPitchedOuts:
          nullable: true
          type: number
        IntentionalWalks:
          nullable: true
          type: number
        IsGameOver:
          nullable: false
          type: boolean
        IsolatedPower:
          nullable: true
          type: number
        LeftOnBase:
          nullable: true
          type: number
        LineOuts:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        OnBasePercentage:
          nullable: true
          type: number
        OnBasePlusSlugging:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        Outs:
          nullable: true
          type: number
        PitchesSeen:
          nullable: true
          type: number
        PitchesThrown:
          nullable: true
          type: number
        PitchesThrownStrikes:
          nullable: true
          type: number
        PitchingBallsInPlay:
          nullable: true
          type: number
        PitchingBattingAverageAgainst:
          nullable: true
          type: number
        PitchingBattingAverageOnBallsInPlay:
          nullable: true
          type: number
        PitchingBlownSaves:
          nullable: true
          type: number
        PitchingCatchersInterference:
          nullable: true
          type: number
        PitchingCompleteGames:
          nullable: true
          type: number
        PitchingDoublePlays:
          nullable: true
          type: number
        PitchingDoubles:
          nullable: true
          type: number
        PitchingEarnedRuns:
          nullable: true
          type: number
        PitchingFlyOuts:
          nullable: true
          type: number
        PitchingGrandSlams:
          nullable: true
          type: number
        PitchingGroundIntoDoublePlay:
          nullable: true
          type: number
        PitchingGroundOuts:
          nullable: true
          type: number
        PitchingHitByPitch:
          nullable: true
          type: number
        PitchingHits:
          nullable: true
          type: number
        PitchingHolds:
          nullable: true
          type: number
        PitchingHomeRuns:
          nullable: true
          type: number
        PitchingInningStarted:
          nullable: true
          type: integer
        PitchingIntentionalWalks:
          nullable: true
          type: number
        PitchingLineOuts:
          nullable: true
          type: number
        PitchingNoHitters:
          nullable: true
          type: number
        PitchingOnBasePercentage:
          nullable: true
          type: number
        PitchingOnBasePlusSlugging:
          nullable: true
          type: number
        PitchingPerfectGames:
          nullable: true
          type: number
        PitchingPlateAppearances:
          nullable: true
          type: number
        PitchingPopOuts:
          nullable: true
          type: number
        PitchingQualityStarts:
          nullable: true
          type: number
        PitchingReachedOnError:
          nullable: true
          type: number
        PitchingRuns:
          nullable: true
          type: number
        PitchingSacrificeFlies:
          nullable: true
          type: number
        PitchingSacrifices:
          nullable: true
          type: number
        PitchingShutOuts:
          nullable: true
          type: number
        PitchingSingles:
          nullable: true
          type: number
        PitchingSluggingPercentage:
          nullable: true
          type: number
        PitchingStrikeouts:
          nullable: true
          type: number
        PitchingStrikeoutsPerNineInnings:
          nullable: true
          type: number
        PitchingTotalBases:
          nullable: true
          type: number
        PitchingTriples:
          nullable: true
          type: number
        PitchingWalks:
          nullable: true
          type: number
        PitchingWalksPerNineInnings:
          nullable: true
          type: number
        PitchingWeightedOnBasePercentage:
          nullable: true
          type: number
        PlateAppearances:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PopOuts:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        ReachedOnError:
          nullable: true
          type: number
        Runs:
          nullable: true
          type: number
        RunsBattedIn:
          nullable: true
          type: number
        SacrificeFlies:
          nullable: true
          type: number
        Sacrifices:
          nullable: true
          type: number
        Saves:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Singles:
          nullable: true
          type: number
        SluggingPercentage:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        StolenBases:
          nullable: true
          type: number
        Strikeouts:
          nullable: true
          type: number
        SubstituteBattingOrder:
          nullable: true
          type: integer
        SubstituteBattingOrderSequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TotalBases:
          nullable: true
          type: number
        TotalOutsPitched:
          nullable: true
          type: number
        Triples:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        Walks:
          nullable: true
          type: number
        WalksHitsPerInningsPitched:
          nullable: true
          type: number
        WeightedOnBasePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: number
        YahooPosition:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    PlayerSeasonProjection:
      example:
        IntentionalWalks: 5.944895607614016
        PitchingQualityStarts: 1.7325933120207193
        PitchingTriples: 5.299143560275359
        PlayerID: 3
        PitchingHomeRuns: 0.5199002018724985
        HitByPitch: 3.5571952270680973
        PitchingBlownSaves: 7.04836565559697
        SubstituteBattingOrder: 0
        IsolatedPower: 6.704019297950036
        PitchingCompleteGames: 3.2588565619047607
        PitchingOnBasePlusSlugging: 4.459605034958679
        CaughtStealing: 9.301444243932576
        PopOuts: 9.897492629215506
        PitchingGroundOuts: 7.260521264802104
        Singles: 0.4833312865174044
        PitchingShutOuts: 9.254183946267839
        EarnedRunAverage: 4.145608029883936
        Wins: 5.6644160867523485
        Outs: 6.519180951018382
        GroundOuts: 6.438423552598547
        Position: Position
        PitchingInningStarted: 7
        PitchingHolds: 9.702963800023566
        OnBasePercentage: 0.8851374739011653
        PitchingCatchersInterference: 5.533258397034986
        PitchingWeightedOnBasePercentage: 7.606863723092579
        PitchingDoublePlays: 4.078845849666752
        Losses: 7.143538047012306
        FantasyPointsDraftKings: 1.4894159098541704
        HomeRuns: 1.284659006116532
        PitchingStrikeoutsPerNineInnings: 8.761432466225475
        PitchingSluggingPercentage: 3.502657762086401
        WeightedOnBasePercentage: 3.812761638325517
        Hits: 6.965117697638846
        Started: 7
        PitchesThrownStrikes: 8.969578798196912
        PitchingGroundIntoDoublePlay: 4.678947989005849
        TeamID: 6
        Runs: 7.835035282970782
        PitchingPlateAppearances: 0.43431398824148815
        PitchingRuns: 6.623518433804886
        PlateAppearances: 3.7814124730767915
        Strikeouts: 9.386524999783381
        PitchingHits: 0.8774076871421566
        BattingAverageOnBallsInPlay: 2.3021358869347655
        Team: Team
        PitchingLineOuts: 4.86315908102884
        Season: 8
        Walks: 1.3949519358941398
        PitchingBattingAverageOnBallsInPlay: 3.0576100241049344
        PitchingGrandSlams: 1.041444916118296
        PitchesSeen: 0.10263654006109402
        TotalOutsPitched: 6.966044574347761
        PitchingFlyOuts: 4.258773108174356
        DoublePlays: 3.616076749251911
        WalksHitsPerInningsPitched: 1.2555055362323109
        InningsPitchedDecimal: 2.8841621266687802
        PitchingDoubles: 0.2025324113236393
        PitchingBallsInPlay: 7.740351818741173
        PitchingSacrifices: 8.863729185622827
        LeftOnBase: 3.353193347011243
        PitchingBattingAverageAgainst: 3.0205796992916243
        SacrificeFlies: 3.1497903714250555
        GlobalTeamID: 6
        Name: Name
        PitchingWalks: 5.312489704336296
        BattingAverage: 5.637376656633329
        Doubles: 2.027123023002322
        PitchingEarnedRuns: 6.628464275087742
        OnBasePlusSlugging: 7.058770351582356
        BallsInPlay: 5.962133916683182
        PitchingIntentionalWalks: 5.507386964179881
        PitchesThrown: 4.652396432933246
        AtBats: 0.8008281904610115
        SubstituteBattingOrderSequence: 2
        InningsPitchedOuts: 6.878052220127876
        FantasyPointsBatting: 1.0246457001441578
        Updated: Updated
        Triples: 9.806951670467935
        BattingOrderConfirmed: true
        LineOuts: 3.0937452626664474
        PitchingReachedOnError: 8.28965939814297
        FantasyPointsFanDuel: 6.84685269835264
        RunsBattedIn: 0.4768402382624515
        PitchingOnBasePercentage: 8.251625748923757
        Errors: 7.386281948385884
        PitchingPerfectGames: 3.901545264248647
        Games: 9
        SluggingPercentage: 0.35262192099236644
        PitchingSingles: 1.8268702177058116
        StatID: 4
        PitchingStrikeouts: 9.183123594773994
        GrandSlams: 8.762042012749001
        AverageDraftPosition: 1.4658129805029452
        Saves: 3.804112695731078
        StolenBases: 2.7977867356748476
        FantasyPointsYahoo: 4.965218492984954
        FieldingIndependentPitching: 5.025004791520295
        PitchingTotalBases: 0.4182561061793122
        Sacrifices: 2.380090174313445
        InningsPitchedFull: 6.778324963048013
        FantasyPointsFantasyDraft: 7.457744773683766
        FlyOuts: 9.965781217890562
        AuctionValue: 6
        GroundIntoDoublePlay: 9.018348186070783
        TotalBases: 4.8789878742268815
        ReachedOnError: 5.877124706116695
        FantasyPoints: 1.2315135367772556
        PitchingNoHitters: 6.073898085781152
        PositionCategory: PositionCategory
        PitchingSacrificeFlies: 4.573936264232251
        PitchingHitByPitch: 9.132027271330688
        BattingOrder: 7
        SeasonType: 4
        PitchingPopOuts: 2.9409642974827896
        PitchingWalksPerNineInnings: 8.37823741034869
        FantasyPointsPitching: 1.1730742509559433
      properties:
        AtBats:
          nullable: true
          type: number
        AuctionValue:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BallsInPlay:
          nullable: true
          type: number
        BattingAverage:
          nullable: true
          type: number
        BattingAverageOnBallsInPlay:
          nullable: true
          type: number
        BattingOrder:
          nullable: true
          type: integer
        BattingOrderConfirmed:
          nullable: true
          type: boolean
        CaughtStealing:
          nullable: true
          type: number
        DoublePlays:
          nullable: true
          type: number
        Doubles:
          nullable: true
          type: number
        EarnedRunAverage:
          nullable: true
          type: number
        Errors:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsBatting:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPitching:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldingIndependentPitching:
          nullable: true
          type: number
        FlyOuts:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        GrandSlams:
          nullable: true
          type: number
        GroundIntoDoublePlay:
          nullable: true
          type: number
        GroundOuts:
          nullable: true
          type: number
        HitByPitch:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeRuns:
          nullable: true
          type: number
        InningsPitchedDecimal:
          nullable: true
          type: number
        InningsPitchedFull:
          nullable: true
          type: number
        InningsPitchedOuts:
          nullable: true
          type: number
        IntentionalWalks:
          nullable: true
          type: number
        IsolatedPower:
          nullable: true
          type: number
        LeftOnBase:
          nullable: true
          type: number
        LineOuts:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        OnBasePercentage:
          nullable: true
          type: number
        OnBasePlusSlugging:
          nullable: true
          type: number
        Outs:
          nullable: true
          type: number
        PitchesSeen:
          nullable: true
          type: number
        PitchesThrown:
          nullable: true
          type: number
        PitchesThrownStrikes:
          nullable: true
          type: number
        PitchingBallsInPlay:
          nullable: true
          type: number
        PitchingBattingAverageAgainst:
          nullable: true
          type: number
        PitchingBattingAverageOnBallsInPlay:
          nullable: true
          type: number
        PitchingBlownSaves:
          nullable: true
          type: number
        PitchingCatchersInterference:
          nullable: true
          type: number
        PitchingCompleteGames:
          nullable: true
          type: number
        PitchingDoublePlays:
          nullable: true
          type: number
        PitchingDoubles:
          nullable: true
          type: number
        PitchingEarnedRuns:
          nullable: true
          type: number
        PitchingFlyOuts:
          nullable: true
          type: number
        PitchingGrandSlams:
          nullable: true
          type: number
        PitchingGroundIntoDoublePlay:
          nullable: true
          type: number
        PitchingGroundOuts:
          nullable: true
          type: number
        PitchingHitByPitch:
          nullable: true
          type: number
        PitchingHits:
          nullable: true
          type: number
        PitchingHolds:
          nullable: true
          type: number
        PitchingHomeRuns:
          nullable: true
          type: number
        PitchingInningStarted:
          nullable: true
          type: integer
        PitchingIntentionalWalks:
          nullable: true
          type: number
        PitchingLineOuts:
          nullable: true
          type: number
        PitchingNoHitters:
          nullable: true
          type: number
        PitchingOnBasePercentage:
          nullable: true
          type: number
        PitchingOnBasePlusSlugging:
          nullable: true
          type: number
        PitchingPerfectGames:
          nullable: true
          type: number
        PitchingPlateAppearances:
          nullable: true
          type: number
        PitchingPopOuts:
          nullable: true
          type: number
        PitchingQualityStarts:
          nullable: true
          type: number
        PitchingReachedOnError:
          nullable: true
          type: number
        PitchingRuns:
          nullable: true
          type: number
        PitchingSacrificeFlies:
          nullable: true
          type: number
        PitchingSacrifices:
          nullable: true
          type: number
        PitchingShutOuts:
          nullable: true
          type: number
        PitchingSingles:
          nullable: true
          type: number
        PitchingSluggingPercentage:
          nullable: true
          type: number
        PitchingStrikeouts:
          nullable: true
          type: number
        PitchingStrikeoutsPerNineInnings:
          nullable: true
          type: number
        PitchingTotalBases:
          nullable: true
          type: number
        PitchingTriples:
          nullable: true
          type: number
        PitchingWalks:
          nullable: true
          type: number
        PitchingWalksPerNineInnings:
          nullable: true
          type: number
        PitchingWeightedOnBasePercentage:
          nullable: true
          type: number
        PlateAppearances:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PopOuts:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        ReachedOnError:
          nullable: true
          type: number
        Runs:
          nullable: true
          type: number
        RunsBattedIn:
          nullable: true
          type: number
        SacrificeFlies:
          nullable: true
          type: number
        Sacrifices:
          nullable: true
          type: number
        Saves:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Singles:
          nullable: true
          type: number
        SluggingPercentage:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        StolenBases:
          nullable: true
          type: number
        Strikeouts:
          nullable: true
          type: number
        SubstituteBattingOrder:
          nullable: true
          type: integer
        SubstituteBattingOrderSequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TotalBases:
          nullable: true
          type: number
        TotalOutsPitched:
          nullable: true
          type: number
        Triples:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        Walks:
          nullable: true
          type: number
        WalksHitsPerInningsPitched:
          nullable: true
          type: number
        WeightedOnBasePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: number
    Series:
      example:
        GameNumber: 1
        MaxLength: 7
        AwayTeamWins: 4
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
    StartingLineups:
      example:
        Status: Status
        HomeBattingLineup:
        - PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        - PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        AwayBattingLineup:
        - PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        - PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        AwayTeam: AwayTeam
        HomeTeam: HomeTeam
        AwayStartingPitcher:
          PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        HomeTeamID: 2
        AwayTeamID: 5
        HomeStartingPitcher:
          PlayerID: 6
          BattingOrder: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 1
        DateTime: DateTime
        SeasonType: 9
        Season: 7
        Day: Day
        GameID: 5
      properties:
        AwayBattingLineup:
          items:
            $ref: '#/components/schemas/Lineup'
          type: array
        AwayStartingPitcher:
          $ref: '#/components/schemas/Lineup'
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        HomeBattingLineup:
          items:
            $ref: '#/components/schemas/Lineup'
          type: array
        HomeStartingPitcher:
          $ref: '#/components/schemas/Lineup'
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
    TeamDepthChart:
      example:
        TeamID: 5
        DepthCharts:
        - PlayerID: 1
          Updated: Updated
          DepthOrder: 6
          Position: Position
          PositionCategory: PositionCategory
          DepthChartID: 0
          TeamID: 5
          Name: Name
        - PlayerID: 1
          Updated: Updated
          DepthOrder: 6
          Position: Position
          PositionCategory: PositionCategory
          DepthChartID: 0
          TeamID: 5
          Name: Name
      properties:
        DepthCharts:
          items:
            $ref: '#/components/schemas/DepthChart'
          type: array
        TeamID:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

