openapi: 3.0.1
info:
  description: The destination for current and historic NBA statistics.
  title: NBA Stats API
  version: version
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/en/thumb/0/03/National_Basketball_Association_logo.svg/100px-National_Basketball_Association_logo.svg.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/danielwelch/little-pynny/master/little-pynny/swagger.json
    version: "2.0"
  x-providerName: nba.com
  x-unofficialSpec: true
servers:
- url: //stats.nba.com/stats
paths:
  /allstarballotpredictor:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PointCap
        schema:
          type: string
      - in: query
        name: WestPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer5
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer5
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscore:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoreadvanced:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoreadvancedv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscorefourfactors:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscorefourfactorsv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoremisc:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoremiscv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoreplayertrackv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscorescoring:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscorescoringv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoresummaryv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoretraditionalv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoreusage:
    get:
      deprecated: true
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /boxscoreusagev2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /commonTeamYears:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /commonallplayers:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: IsOnlyCurrentSeason
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /commonplayerinfo:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /commonplayoffseries:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /commonteamroster:
    get:
      deprecated: false
      parameters:
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /draftcombinedrillresults:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /draftcombinenonstationaryshooting:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /draftcombineplayeranthro:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /draftcombinespotshooting:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /draftcombinestats:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /drafthistory:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /franchisehistory:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /homepageleaders:
    get:
      deprecated: false
      parameters:
      - in: query
        name: StatCategory
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /homepagev2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: StatType
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaderstiles:
    get:
      deprecated: false
      parameters:
      - in: query
        name: Stat
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashlineups:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GroupQuantity
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashplayerbiostats:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashplayerclutch:
    get:
      deprecated: false
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashplayerptshot:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashplayershotlocations:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashplayerstats:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashptdefend:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashptteamdefend:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashteamclutch:
    get:
      deprecated: false
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashteamptshot:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashteamshotlocations:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leaguedashteamstats:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /leagueleaders:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: StatCategory
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Scope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playbyplay:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playbyplayv2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playercareerstats:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playercompare:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbyclutch:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbygamesplits:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbygeneralsplits:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbylastngames:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbyopponent:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbyshootingsplits:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbyteamperformance:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashboardbyyearoveryear:
    get:
      deprecated: false
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptpass:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptreb:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptreboundlogs:
    get:
      deprecated: true
      parameters:
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      - in: query
        name: Outcome
        schema:
          type: string
      - in: query
        name: Location
        schema:
          type: string
      - in: query
        name: Month
        schema:
          type: string
      - in: query
        name: SeasonSegment
        schema:
          type: string
      - in: query
        name: DateFrom
        schema:
          type: string
      - in: query
        name: DateTo
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        schema:
          type: string
      - in: query
        name: VsConference
        schema:
          type: string
      - in: query
        name: VsDivision
        schema:
          type: string
      - in: query
        name: GameSegment
        schema:
          type: string
      - in: query
        name: Period
        schema:
          type: string
      - in: query
        name: LastNGames
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptshotdefend:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptshotlog:
    get:
      deprecated: true
      parameters:
      - in: query
        name: LeagueID
        schema:
          type: string
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerdashptshots:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playergamelog:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerprofile:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: GraphStartSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphEndSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphStat
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playerprofilev2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playersvsplayers:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PlayerTeamID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: VsTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playervsplayer:
    get:
      deprecated: false
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /playoffpicture:
    get:
      deprecated: false
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /scoreboard:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameDate
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: DayOffset
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-accepts:
      - application/json
  /scoreboardV2:
    get:
      deprecated: false
      parameters:
      - in: query
        name: GameDate
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: DayOffset
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
[...]
