openapi: 3.0.1
info:
  description: Azure software plans let users create and manage licenses for various
    software used in Azure.
  title: Software Plan RP
  version: 2019-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: SoftwareplanClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/softwareplan/resource-manager/Microsoft.SoftwarePlan/preview/2019-06-01-preview/softwareplan.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: softwareplan
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.SoftwarePlan/register:
    post:
      description: Register to Microsoft.SoftwarePlan resource provider.
      operationId: SoftwarePlan_Register
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "204":
          content: {}
          description: OK - Microsoft.SoftwarePlan is registered
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Software plan
      x-ms-examples:
        HybridUseBenefitListResult:
          parameters:
            api-version: 2019-06-01-preview
            subscriptionId: '98df3792-7962-4f18-8be2-d5576f122de3 '
          responses:
            "204": {}
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits:
    get:
      description: Get all hybrid use benefits associated with an ARM resource.
      operationId: HybridUseBenefit_List
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Supports applying filter on the type of SKU
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitListResult'
          description: OK - returns an array of plans at that scope
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefits
      x-ms-examples:
        HybridUseBenefitListResult:
          parameters:
            $filter: SQL_Server_EE_AHB
            api-version: 2019-06-01-preview
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                value:
                - etag: 1
                  id: "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/SQL_hostGroup_hostName"
                  name: SQL_hostGroup_hostName
                  properties:
                    createdDate: 2019-06-05T21:50:07.846Z
                    lastUpdatedDate: 2019-06-05T21:50:07.846Z
                    provisioningState: Succeeded
                  sku:
                    name: SQL_Server_EE_AHB
                  type: Microsoft.SoftwarePlans/hybridUseBenefits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}:
    delete:
      description: Deletes a given plan ID
      operationId: HybridUseBenefit_Delete
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This is a unique identifier for a plan. Should be a guid.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK - successfully deleted the given plan
        "204":
          content: {}
          description: OK - there was no plan to delete
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefit
      x-ms-examples:
        HybridUseBenefit:
          parameters:
            api-version: 2019-06-01-preview
            planId: 94f46eda-45f8-493a-8425-251921463a89
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets a given plan ID
      operationId: HybridUseBenefit_Get
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This is a unique identifier for a plan. Should be a guid.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
          description: OK - returns the plan that is created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefit
      x-ms-examples:
        HybridUseBenefit:
          parameters:
            api-version: 2019-06-01-preview
            planId: 94f46eda-45f8-493a-8425-251921463a89
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                etag: 1
                id: "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/SQL_{hostGroupName}_{hostName}"
                name: "SQL_{hostGroupName}_{hostName}"
                properties:
                  createdDate: 2019-06-05T21:50:07.846Z
                  lastUpdatedDate: 2019-06-05T21:50:07.846Z
                  provisioningState: Succeeded
                sku:
                  name: SQL_Server_EE_AHB
                type: Microsoft.SoftwarePlans/hybridUseBenefits
      x-accepts:
      - application/json
    patch:
      description: Updates an existing hybrid use benefit
      operationId: HybridUseBenefit_Update
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This is a unique identifier for a plan. Should be a guid.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridUseBenefitModel'
        description: Request body for creating a hybrid use benefit
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
          description: OK - successfully updated the given hybrid use benefit
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefit
      x-ms-examples:
        HybridUseBenefit:
          parameters:
            api-version: 2019-06-01-preview
            body:
              sku:
                name: SQLBYOLStandardForADH
              type: Microsoft.SoftwarePlan/hybridUseBenefits
            planId: 94f46eda-45f8-493a-8425-251921463a89
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                etag: 1
                id: "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/SQL_{hostGroupName}_{hostName}"
                name: "SQL_{hostGroupName}_{hostName}"
                properties:
                  createdDate: 2019-06-05T21:50:07.846Z
                  lastUpdatedDate: 2019-06-05T21:50:07.846Z
                  provisioningState: Succeeded
                sku:
                  name: SQLBYOLStandardForADH
                type: Microsoft.SoftwarePlans/hybridUseBenefits
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a new hybrid use benefit under a given scope
      operationId: HybridUseBenefit_Create
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This is a unique identifier for a plan. Should be a guid.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridUseBenefitModel'
        description: Request body for creating a hybrid use benefit
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
          description: OK - returns the plan that is created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefit
      x-ms-examples:
        HybridUseBenefit:
          parameters:
            api-version: 2019-06-01-preview
            body:
              sku:
                name: SQL_Server_Perpetual
              type: Microsoft.SoftwarePlan/hybridUseBenefits
            planId: 94f46eda-45f8-493a-8425-251921463a89
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                etag: 1
                id: "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/SQL_{hostGroupName}_{hostName}"
                name: "SQL_{hostGroupName}_{hostName}"
                properties:
                  createdDate: 2019-06-05T21:50:07.846Z
                  lastUpdatedDate: 2019-06-05T21:50:07.846Z
                  provisioningState: Succeeded
                sku:
                  name: SQL_Server_Perpetual
                type: Microsoft.SoftwarePlans/hybridUseBenefits
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}/revisions:
    get:
      description: Gets the version history of a hybrid use benefit
      operationId: HybridUseBenefitRevision_List
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This is a unique identifier for a plan. Should be a guid.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitListResult'
          description: OK - returns an array of plans ordered by revision
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed.
      tags:
      - Hybrid use benefit revisions
      x-ms-examples:
        HybridUseBenefitRevisionsResponse:
          parameters:
            api-version: 2019-06-01-preview
            planId: 94f46eda-45f8-493a-8425-251921463a89
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                value:
                - etag: 1
                  id: "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/SQL_{hostGroupName}_{hostName}"
                  name: "SQL_{hostGroupName}_{hostName}"
                  properties:
                    createdDate: 2019-06-05T21:50:07.846Z
                    lastUpdatedDate: 2019-06-05T21:50:07.846Z
                    provisioningState: Succeeded
                  sku:
                    name: SQL_Server_EE_AHB
                  type: Microsoft.SoftwarePlans/hybridUseBenefits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.SoftwarePlan/operations:
    get:
      description: List all the operations.
      operationId: Operations_List
      parameters:
      - description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The api-version to be used by the service
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: List all the operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      summary: Get operations.
      tags:
      - Software plan operations
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: 2019-06-01-preview
            scope: "subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/HostGroups/{host-group-name}/hosts/{host-name}"
          responses:
            "200":
              body:
                value:
                - display:
                    description: Read all hybrid use benefits
                    operation: Get hybrid use benefit
                    provider: Microsoft Software Plan
                    resource: hybridUseBenefits
                  name: Microsoft.SoftwarePlan/hybridUseBenefits/read
                - display:
                    description: Create a hybrid use benefit
                    operation: Create hybrid use benefit
                    provider: Microsoft Software Plan
                    resource: hybridUseBenefits
                  name: Microsoft.SoftwarePlan/hybridUseBenefits/write
                - display:
                    description: Update a hybrid use benefit
                    operation: Update hybrid use benefit
                    provider: Microsoft Software Plan
                    resource: hybridUseBenefits
                  name: Microsoft.SoftwarePlan/hybridUseBenefits/action
                - display:
                    description: Delete a hybrid use benefit
                    operation: Delete hybrid use benefit
                    provider: Microsoft Software Plan
                    resource: hybridUseBenefits
                  name: Microsoft.SoftwarePlan/hybridUseBenefits/delete
                - display:
                    description: Read all hybrid use benefit revisions
                    operation: Get hybrid use benefit
                    provider: Microsoft Software Plan
                    resource: hybridUseBenefits
                  name: Microsoft.SoftwarePlan/hybridUseBenefits/revisions/read
                - display:
                    description: Registers the SoftwarePlan resource provider and
                      enables the creation of SoftwarePlan resources.
                    operation: Registers the SoftwarePlan Resource Provider.
                    provider: Microsoft Software Plan
                    resource: SoftwarePlan
                  name: Microsoft.SoftwarePlan/register/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The api-version to be used by the service
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    PlanIdParameter:
      description: This is a unique identifier for a plan. Should be a guid.
      in: path
      name: planId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScopeParameter:
      description: The scope at which the operation is performed. This is limited
        to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
        for now
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    PutBodyParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HybridUseBenefitModel'
      description: Request body for creating a hybrid use benefit
      required: true
      x-ms-parameter-location: method
  schemas:
    Error:
      description: Error object returned by the RP
      example:
        code: InvalidRequestParameter
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          description: A user readable error message. Localized based on x-ms-effective-locale
            header in the request
          type: string
      type: object
    ErrorCode:
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      type: string
      x-ms-enum:
        modelAsString: true
        name: ErrorCode
    HybridUseBenefitListResult:
      description: List of hybrid use benefits
      example:
        value:
        - etag: 0
          sku:
            name: name
          properties:
            lastUpdatedDate: 2000-01-23T04:56:07.000+00:00
            createdDate: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
        - etag: 0
          sku:
            name: name
          properties:
            lastUpdatedDate: 2000-01-23T04:56:07.000+00:00
            createdDate: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of items.
          type: string
        value:
          description: List of hybrid use benefits
          items:
            $ref: '#/components/schemas/HybridUseBenefitModel'
          type: array
      type: object
    HybridUseBenefitModel:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Response on GET of a hybrid use benefit
      example:
        etag: 0
        sku:
          name: name
        properties:
          lastUpdatedDate: 2000-01-23T04:56:07.000+00:00
          createdDate: 2000-01-23T04:56:07.000+00:00
          provisioningState: Succeeded
      properties:
        etag:
          description: Indicates the revision of the hybrid use benefit
          format: int32
          readOnly: true
          type: integer
        properties:
          $ref: '#/components/schemas/HybridUseBenefitProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - sku
    HybridUseBenefitProperties:
      description: Hybrid use benefit properties
      example:
        lastUpdatedDate: 2000-01-23T04:56:07.000+00:00
        createdDate: 2000-01-23T04:56:07.000+00:00
        provisioningState: Succeeded
      properties:
        createdDate:
          description: Created date
          format: date-time
          readOnly: true
          type: string
        lastUpdatedDate:
          description: Last updated date
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
      type: object
    OperationDisplay:
      description: Display fields for an operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of the operation
          type: string
        operation:
          description: Operation to be performed
          type: string
        provider:
          description: Resource Provider name
          type: string
        resource:
          description: Resource that is acted upon
          type: string
      type: object
    OperationList:
      description: List all the operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of items.
          type: string
        value:
          description: List of all operations
          items:
            $ref: '#/components/schemas/OperationResponse'
          type: array
      type: object
    OperationResponse:
      description: Operation response.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: Name of the operation
          type: string
        origin:
          description: Origin of the response
          type: string
      type: object
    ProvisioningState:
      description: Represent the current state of the Reservation.
      enum:
      - Succeeded
      - Cancelled
      - Failed
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Sku:
      description: The SKU to be applied for this resource
      example:
        name: name
      properties:
        name:
          description: Name of the SKU to be applied
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

