openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Version History API - Prod
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: versionhistory.googleapis.com API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://versionhistory.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: versionhistory
externalDocs:
  url: https://developers.chrome.com/versionhistory
servers:
- url: https://versionhistory.googleapis.com/
tags:
- name: platforms
paths:
  /v1/{parent}/channels:
    get:
      description: Returns list of channels that are available for a given platform.
      operationId: versionhistory_platforms_channels_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The platform, which owns this collection of channels.\
          \ Format: {product}/platforms/{platform}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Optional limit on the number of channels to include\
          \ in the response. If unspecified, the server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListChannels`\
          \ call. Provide this to retrieve the subsequent page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelsResponse'
          description: Successful response
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /v1/{parent}/platforms:
    get:
      description: Returns list of platforms that are available for a given product.
        The resource "product" has no resource name in its name.
      operationId: versionhistory_platforms_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The product, which owns this collection of platforms.\
          \ Format: {product}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Optional limit on the number of channels to include\
          \ in the response. If unspecified, the server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListChannels`\
          \ call. Provide this to retrieve the subsequent page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlatformsResponse'
          description: Successful response
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /v1/{parent}/releases:
    get:
      description: Returns list of releases of the given version.
      operationId: versionhistory_platforms_channels_versions_releases_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The version, which owns this collection of releases.\
          \ Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Filter string. Format is a comma separated list of\
          \ All comma separated filter clauses are conjoined with a logical \"and\"\
          . Valid field_names are \"version\", \"name\", \"platform\", \"channel\"\
          , \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"<\"\
          , \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance\
          \ from stable. must be a valid channel when filtering by channel. Ex) stable\
          \ < beta, beta < dev, canary < canary_asan. Version comparison is done numerically.\
          \ Ex) 1.0.0.8 < 1.0.0.10. If version is not entirely written, the version\
          \ will be appended with 0 for the missing fields. Ex) version > 80 becoms\
          \ version > 80.0.0.0 When filtering by starttime or endtime, string must\
          \ be in RFC 3339 date string format. Name and platform are filtered by string\
          \ comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version\
          \ > 80, version < 81 Ex) \"...?filter=starttime>2020-01-01T00:00:00Z"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Ordering string. Valid order_by strings are \"version\"\
          , \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"\
          fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the\
          \ sorting order. Multiple order_by strings can be used in a comma separated\
          \ list. Ordering by channel will sort by distance from the stable channel\
          \ (not alphabetically). A list of channels sorted in this order is: stable,\
          \ beta, dev, canary, and canary_asan. Sorting by name may cause unexpected\
          \ behaviour as it is a naive string sort. For example, 1.0.0.8 will be before\
          \ 1.0.0.10 in descending order. If order_by is not specified the response\
          \ will be sorted by starttime in descending order. Ex) \"...?order_by=starttime\
          \ asc\" Ex) \"...?order_by=platform desc, channel, startime desc\""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Optional limit on the number of releases to include\
          \ in the response. If unspecified, the server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListReleases`\
          \ call. Provide this to retrieve the subsequent page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReleasesResponse'
          description: Successful response
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /v1/{parent}/versions:
    get:
      description: Returns list of version for the given platform/channel.
      operationId: versionhistory_platforms_channels_versions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The channel, which owns this collection of versions.\
          \ Format: {product}/platforms/{platform}/channels/{channel}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Filter string. Format is a comma separated list of\
          \ All comma separated filter clauses are conjoined with a logical \"and\"\
          . Valid field_names are \"version\", \"name\", \"platform\", and \"channel\"\
          . Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison\
          \ is done by distance from stable. Ex) stable < beta, beta < dev, canary\
          \ < canary_asan. Version comparison is done numerically. If version is not\
          \ entirely written, the version will be appended with 0 in missing fields.\
          \ Ex) version > 80 becoms version > 80.0.0.0 Name and platform are filtered\
          \ by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex)\
          \ \"...?filter=version > 80, version < 81"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Ordering string. Valid order_by strings are \"version\"\
          , \"name\", \"platform\", and \"channel\". Optionally, you can append \"\
          \ desc\" or \" asc\" to specify the sorting order. Multiple order_by strings\
          \ can be used in a comma separated list. Ordering by channel will sort by\
          \ distance from the stable channel (not alphabetically). A list of channels\
          \ sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting\
          \ by name may cause unexpected behaviour as it is a naive string sort. For\
          \ example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by\
          \ is not specified the response will be sorted by version in descending\
          \ order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc,\
          \ channel, version\""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Optional limit on the number of versions to include\
          \ in the response. If unspecified, the server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListVersions`\
          \ call. Provide this to retrieve the subsequent page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVersionsResponse'
          description: Successful response
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Channel:
      description: Each Channel is owned by a Platform and owns a collection of versions.
        Possible Channels are listed in the Channel enum below. Not all Channels are
        available for every Platform (e.g. CANARY does not exist for LINUX).
      example:
        name: name
        channelType: CHANNEL_TYPE_UNSPECIFIED
      properties:
        channelType:
          description: Type of channel.
          enum:
          - CHANNEL_TYPE_UNSPECIFIED
          - STABLE
          - BETA
          - DEV
          - CANARY
          - CANARY_ASAN
          - ALL
          - EXTENDED
          - LTS
          - LTC
          title: channelType
          type: string
        name:
          description: "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\""
          title: name
          type: string
      title: Channel
      type: object
    Interval:
      description: "Represents a time interval, encoded as a Timestamp start (inclusive)\
        \ and a Timestamp end (exclusive). The start must be less than or equal to\
        \ the end. When the start equals the end, the interval is empty (matches no\
        \ time). When both start and end are unspecified, the interval matches any\
        \ time."
      example:
        startTime: startTime
        endTime: endTime
      properties:
        endTime:
          description: "Optional. Exclusive end of the interval. If specified, a Timestamp\
            \ matching this interval will have to be before the end."
          format: google-datetime
          title: endTime
          type: string
        startTime:
          description: "Optional. Inclusive start of the interval. If specified, a\
            \ Timestamp matching this interval will have to be the same or after the\
            \ start."
          format: google-datetime
          title: startTime
          type: string
      title: Interval
      type: object
    ListChannelsResponse:
      description: Response message for ListChannels.
      example:
        channels:
        - name: name
          channelType: CHANNEL_TYPE_UNSPECIFIED
        - name: name
          channelType: CHANNEL_TYPE_UNSPECIFIED
        nextPageToken: nextPageToken
      properties:
        channels:
          description: The list of channels.
          items:
            $ref: '#/components/schemas/Channel'
          title: channels
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
      title: ListChannelsResponse
      type: object
    ListPlatformsResponse:
      description: Response message for ListPlatforms.
      example:
        nextPageToken: nextPageToken
        platforms:
        - name: name
          platformType: PLATFORM_TYPE_UNSPECIFIED
        - name: name
          platformType: PLATFORM_TYPE_UNSPECIFIED
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        platforms:
          description: The list of platforms.
          items:
            $ref: '#/components/schemas/Platform'
          title: platforms
          type: array
      title: ListPlatformsResponse
      type: object
    ListReleasesResponse:
      description: Response message for ListReleases.
      example:
        nextPageToken: nextPageToken
        releases:
        - name: name
          version: version
          fractionGroup: fractionGroup
          fraction: 0.8008281904610115
          serving:
            startTime: startTime
            endTime: endTime
        - name: name
          version: version
          fractionGroup: fractionGroup
          fraction: 0.8008281904610115
          serving:
            startTime: startTime
            endTime: endTime
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        releases:
          description: The list of releases.
          items:
            $ref: '#/components/schemas/Release'
          title: releases
          type: array
      title: ListReleasesResponse
      type: object
    ListVersionsResponse:
      description: Response message for ListVersions.
      example:
        versions:
        - name: name
          version: version
        - name: name
          version: version
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        versions:
          description: The list of versions.
          items:
            $ref: '#/components/schemas/Version'
          title: versions
          type: array
      title: ListVersionsResponse
      type: object
    Platform:
      description: Each Platform is owned by a Product and owns a collection of channels.
        Available platforms are listed in Platform enum below. Not all Channels are
        available for every Platform (e.g. CANARY does not exist for LINUX).
      example:
        name: name
        platformType: PLATFORM_TYPE_UNSPECIFIED
      properties:
        name:
          description: "Platform name. Format is \"{product}/platforms/{platform}\""
          title: name
          type: string
        platformType:
          description: Type of platform.
          enum:
          - PLATFORM_TYPE_UNSPECIFIED
          - WIN
          - WIN64
          - MAC
          - LINUX
          - ANDROID
          - WEBVIEW
          - IOS
          - ALL
          - MAC_ARM64
          - LACROS
          - LACROS_ARM32
          - CHROMEOS
          - LACROS_ARM64
          - FUCHSIA
          title: platformType
          type: string
      title: Platform
      type: object
    Release:
      description: "A Release is owned by a Version. A Release contains information\
        \ about the release(s) of its parent version. This includes when the release\
        \ began and ended, as well as what percentage it was released at. If the version\
        \ is released again, or if the serving percentage changes, it will create\
        \ another release under the version."
      example:
        name: name
        version: version
        fractionGroup: fractionGroup
        fraction: 0.8008281904610115
        serving:
          startTime: startTime
          endTime: endTime
      properties:
        fraction:
          description: "Rollout fraction. This fraction indicates the fraction of\
            \ people that should receive this version in this release. If the fraction\
            \ is not specified in ReleaseManager, the API will assume fraction is\
            \ 1."
          format: double
          title: fraction
          type: number
        fractionGroup:
          description: "Rollout fraction group. Only fractions with the same fraction_group\
            \ are statistically comparable: there may be non-fractional differences\
            \ between different fraction groups."
          format: int64
          title: fractionGroup
          type: string
        name:
          description: "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
          title: name
          type: string
        serving:
          $ref: '#/components/schemas/Interval'
        version:
          description: String containing just the version number. e.g. "84.0.4147.38"
          title: version
          type: string
      title: Release
      type: object
    Version:
      description: Each Version is owned by a Channel. A Version only displays the
        Version number (e.g. 84.0.4147.38). A Version owns a collection of releases.
      example:
        name: name
        version: version
      properties:
        name:
          description: "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\"\
            \ e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\""
          title: name
          type: string
        version:
          description: String containing just the version number. e.g. "84.0.4147.38"
          title: version
          type: string
      title: Version
      type: object
