openapi: 3.0.1
info:
  description: Azure Application Insights client for API keys of a component.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentApiKeys_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentApiKeys_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/APIKeys/{keyId}
  : delete:
      description: Delete an API Key of an Application Insights component.
      operationId: a_pi_keys_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API Key ID. This is unique within a Application Insights
          component.
        in: path
        name: key_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAPIKey'
          description: The API Key that was successfully deleted.
      x-ms-examples:
        APIKeyDelete:
          parameters:
            api-version: 2015-05-01
            keyId: bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                createdDate: "Thu, 28 Sep 2017 16:59:18 GMT"
                id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
                linkedReadProperties:
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
                linkedWriteProperties: []
                name: test2
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get the API Key for this key id.
      operationId: a_pi_keys_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API Key ID. This is unique within a Application Insights
          component.
        in: path
        name: keyId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAPIKey'
          description: The API Key for this key id.
      x-ms-examples:
        APIKeysGet:
          parameters:
            api-version: 2015-05-01
            keyId: bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                createdDate: "Thu, 28 Sep 2017 16:59:18 GMT"
                id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
                linkedReadProperties:
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
                linkedWriteProperties: []
                name: test2
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ApiKeys
  : get:
      description: Gets a list of API keys of an Application Insights component.
      operationId: a_pi_keys_list
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAPIKeyListResult'
          description: A list containing 0 or more API key definitions of an Application
            Insights component.
      x-ms-examples:
        APIKeysList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - createdDate: "Thu, 28 Sep 2017 16:58:52 GMT"
                  id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/fe2e0138-47c1-46c5-8726-872f54c1ca08
                  linkedReadProperties:
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
                  linkedWriteProperties:
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/annotations
                  name: test
                - createdDate: "Thu, 28 Sep 2017 16:59:18 GMT"
                  id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
                  linkedReadProperties:
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
                  - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
                  linkedWriteProperties: []
                  name: test2
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Create an API Key of an Application Insights component.
      operationId: a_pi_keys_create
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRequest'
        description: Properties that need to be specified to create an API key of
          a Application Insights component.
        required: true
        x-body-name: APIKeyProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAPIKey'
          description: An object containing the API Key definition created by this
            POST call.
      x-ms-examples:
        APIKeyCreate:
          parameters:
            APIKeyProperties:
              linkedReadProperties:
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
              linkedWriteProperties:
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/annotations
              name: test2
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                apiKey: eip8wlzuzlf4wzczhnzao54zcswew25azs4kadhb
                createdDate: "Thu, 28 Sep 2017 16:58:52 GMT"
                id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/fe2e0138-47c1-46c5-8726-872f54c1ca08
                linkedReadProperties:
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
                linkedWriteProperties:
                - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/annotations
                name: test
      x-codegen-request-body-name: APIKeyProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    KeyId:
      description: The API Key ID. This is unique within a Application Insights component.
      in: path
      name: keyId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    APIKeyRequest:
      description: An Application Insights component API Key creation request definition.
      example:
        linkedReadProperties:
        - linkedReadProperties
        - linkedReadProperties
        name: name
        linkedWriteProperties:
        - linkedWriteProperties
        - linkedWriteProperties
      properties:
        linkedReadProperties:
          description: The read access rights of this API Key.
          items:
            type: string
          title: linkedReadProperties
          type: array
        linkedWriteProperties:
          description: The write access rights of this API Key.
          items:
            type: string
          title: linkedWriteProperties
          type: array
        name:
          description: The name of the API Key.
          title: name
          type: string
      title: APIKeyRequest
      type: object
    ApplicationInsightsComponentAPIKey:
      description: Properties that define an API key of an Application Insights Component.
      example:
        createdDate: createdDate
        apiKey: apiKey
        linkedReadProperties:
        - linkedReadProperties
        - linkedReadProperties
        name: name
        id: id
        linkedWriteProperties:
        - linkedWriteProperties
        - linkedWriteProperties
      properties:
        apiKey:
          description: The API key value. It will be only return once when the API
            Key was created.
          readOnly: true
          title: apiKey
          type: string
        createdDate:
          description: The create date of this API key.
          title: createdDate
          type: string
        id:
          description: The unique ID of the API key inside an Application Insights
            component. It is auto generated when the API key is created.
          readOnly: true
          title: id
          type: string
        linkedReadProperties:
          description: The read access rights of this API Key.
          items:
            type: string
          title: linkedReadProperties
          type: array
        linkedWriteProperties:
          description: The write access rights of this API Key.
          items:
            type: string
          title: linkedWriteProperties
          type: array
        name:
          description: The name of the API key.
          title: name
          type: string
      title: ApplicationInsightsComponentAPIKey
      type: object
    ApplicationInsightsComponentAPIKeyListResult:
      description: Describes the list of API Keys of an Application Insights Component.
      example:
        value:
        - createdDate: createdDate
          apiKey: apiKey
          linkedReadProperties:
          - linkedReadProperties
          - linkedReadProperties
          name: name
          id: id
          linkedWriteProperties:
          - linkedWriteProperties
          - linkedWriteProperties
        - createdDate: createdDate
          apiKey: apiKey
          linkedReadProperties:
          - linkedReadProperties
          - linkedReadProperties
          name: name
          id: id
          linkedWriteProperties:
          - linkedWriteProperties
          - linkedWriteProperties
      properties:
        value:
          description: List of API Key definitions.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponentAPIKey'
          title: value
          type: array
      required:
      - value
      title: ApplicationInsightsComponentAPIKeyListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
