openapi: 3.0.3
info:
  contact:
    x-twitter: Rapid_API
  description: "# Moon-API.com Postman Collection\n\nWelcome to the Moon Phase API\
    \ Postman Collection! This collection contains a set of pre-configured API requests\
    \ to interact with the Moon Phase API endpoints provided by [moon-api.com](https://moon-api.com).\
    \ Explore the enchanting world of the moon and its ever-changing phases with ease\
    \ using this collection.\n\n## Getting Started\n\nTo start using this Postman\
    \ collection, follow these steps:\n\n1. [Download and install Postman](https://www.postman.com/downloads/)\
    \ if you haven't already.\n2. Import the Moon API Postman Collection into your\
    \ Postman app.\n3. Set your RapidAPI key in the collection's environment variables.\n\
    4. Begin making requests to explore the moon phase data and retrieve lunar information.\n\
    \    \n\n## Collection Structure\n\nThe Moon-API.com Postman Collection consists\
    \ of the following requests:\n\n- **Basic Moon Phase**: Retrieve the main moon\
    \ phase data.\n- **Advanced Moon Phase**: Get detailed moon phase data based on\
    \ a specific timezone and coordinates.\n- **Plain Text Moon Phase**: Get a plain\
    \ text description of the current moon phase.\n- **Emoji Moon Phase**: Get the\
    \ relevant emoji of the current moon phase.\n- **Lunar Calender**: Get the current\
    \ year's moon phases in a markdown calender.\n    \n\n## Environment Variables\n\
    \nThe collection uses environment variables to store your RapidAPI key. To use\
    \ this collection effectively, ensure you set the `X-Rapidapi-Key` variable in\
    \ the collection's environment with your actual RapidAPI key.\n\n## How to Use\n\
    \n1. Select the desired request from the Moon API collection.\n2. Click on the\
    \ request to open it.\n3. Send the request and view the response to retrieve the\
    \ moon phase data.\n    \n\n## Documentation\n\nFor more information on the Moon\
    \ Phase API endpoints and their response formats, refer to the [official Moon\
    \ API documentation](https://rapidapi.com/MoonAPIcom/api/moon-phase/details).\
    \ Visit [moon-api.com](https://moon-api.com) to learn more about the Moon Phase\
    \ API and the services provided.\n\nHappy moon exploration with the Moon Phase\
    \ API Postman Collection provided by [moon-api.com](https://moon-api.com)!"
  title: Moon API
  version: 1.0.0
  x-apisguru-categories:
  - education
  - text
  x-logo:
    url: https://twitter.com/Rapid_API/profile_image?size=original
  x-origin:
  - format: postman
    url: https://moon-api.com/postman.json
    version: 2.x
  x-providerName: rapidapi.com
servers:
- url: https://moon-phase.p.rapidapi.com
paths:
  /advanced:
    get:
      description: Get Advanced Moon Phase Data
      operationId: get_advanced_moon_phase_data
      parameters:
      - description: "Filter data in the Advanced Moon API by specifying the desired\
          \ fields using the `filters` parameter in the request. Include a comma-separated\
          \ list of keys to retrieve customized data, allowing you to fetch specific\
          \ moon phase information and related details."
        explode: true
        in: query
        name: filters
        required: false
        schema:
          example: "moon.phase_name,moon.stage,moon_phases.full_moon.next"
          type: string
        style: form
      - explode: false
        in: header
        name: X-Rapidapi-Key
        required: false
        schema:
          example: "{{Rapidapi-Key}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Get Advanced Moon Phase Data:
                  value:
                    datestamp: "Thu, 01 Jun 2023 11:45:25 +0200"
                    moon:
                      age_days: 12
                      emoji: 🌔
                      illumination: 88%
                      lunar_cycle: 38.97%
                      moon_altitude: -50.256859109962605
                      moon_azimuth: 339.31434124218265
                      moon_distance: 382878.864197106
                      moon_parallactic_angle: -2.0214503141006763
                      moonrise: 1088
                      moonrise_timestamp: 1685635680
                      moonset: 03:18
                      moonset_timestamp: 1685582280
                      phase: "0.38966480971092"
                      phase_name: Waxing Gibbous
                      stage: waxing
                      zodiac_sign: Gemini
                    moon_phases:
                      first_quarter:
                        current:
                          datestamp: "Fri, 28 Apr 2023 18:34:00 +0200"
                          days_ago: 33
                          timestamp: 1682699640
                        next:
                          datestamp: "Sun, 18 Jun 2023 04:41:00 +0200"
                          days_ahead: 16
                          timestamp: 1687056060
                      full_moon:
                        current:
                          datestamp: "Fri, 05 May 2023 18:34:00 +0200"
                          days_ago: 26
                          timestamp: 1683304440
                        next:
                          datestamp: "Sun, 04 Jun 2023 04:41:00 +0200"
                          days_ahead: 2
                          timestamp: 1685846460
                      last_quarter:
                        current:
                          datestamp: "Fri, 12 May 2023 16:53:00 +0200"
                          days_ago: 19
                          timestamp: 1683903180
                        next:
                          datestamp: "Sun, 11 Jun 2023 04:41:00 +0200"
                          days_ahead: 9
                          timestamp: 1686451260
                      new_moon:
                        current:
                          datestamp: "Fri, 19 May 2023 16:53:00 +0200"
                          days_ago: 12
                          timestamp: 1684507980
                        next:
                          datestamp: "Sun, 18 Jun 2023 05:37:00 +0200"
                          days_ahead: 16
                          timestamp: 1687059420
                    sun:
                      day_length: 978
                      solar_noon: 777
                      sun_altitude: 41.698139184701695
                      sun_azimuth: 108.19562393041076
                      sun_distance: 1.5164378744305298E8
                      sunrise: 1685584270
                      sunrise_timestamp: 01:51
                      sunset: 1685648688
                      sunset_timestamp: 1184
                    timestamp: 1685612725
              schema:
                $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response'
          description: Get Advanced Moon Phase Data
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7d06860f4ae09bc4-FRA
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: "no-cache, private"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 01 Jun 2023 09:45:25 GMT"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=2tz5nmLaobOLnUf4o1opTCtzJDGuslGzP3hoACleEWP0TEyqfFv42v831U62bri7PEBIDsywDEmOoe7ooHM2Xr%2BVFcP%2BlUAJJ2qPMIdmvxoaeQycKtIUUzQ8J7%2FucnTJmqeu9S7g\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: RapidAPI-1.2.8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            X-RapidAPI-Region:
              explode: false
              schema:
                example: AWS - eu-central-1
                type: string
              style: simple
            X-RapidAPI-Version:
              explode: false
              schema:
                example: 1.2.8
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: h3=":443"; ma=86400
                type: string
              style: simple
      summary: Get Advanced Moon Phase Data
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /basic:
    get:
      description: Get Basic Moon Phase Data
      operationId: get_basic_moon_phase_data
      parameters:
      - explode: false
        in: header
        name: X-Rapidapi-Key
        required: false
        schema:
          example: "{{Rapidapi-Key}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Get Basic Moon Phase Data:
                  value:
                    days_until_next_full_moon: 4
                    days_until_next_new_moon: 18
                    phase_name: Waxing gibbous
                    stage: waxing
              schema:
                $ref: '#/components/schemas/getBasicMoonPhaseData_200_response'
          description: Get Basic Moon Phase Data
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7cc6a9b2a8787780-LHR
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 24 May 2023 15:44:56 GMT"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=l56LN6rvJsNCUVRMf7bAEG0NjEr1Z5OvkbosIKMBePUwT28unnJaooS%2BVzZZwJMVGNd6wLCiNUeHfJlObSuJNb6Dut%2BTPzHnQtVnbdQkc8Wg6J9y3Q1kZHQMekGSabPhxKJqI5p9\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Tk:
              explode: false
              schema:
                example: "N"
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Cache:
              explode: false
              schema:
                example: HIT
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                type: string
              style: simple
      summary: Get Basic Moon Phase Data
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /calendar:
    get:
      description: Get Lunar Calendar
      operationId: get_lunar_calendar
      parameters:
      - description: "Filter data in the Advanced Moon API by specifying the desired\
          \ fields using the `filters` parameter in the request. Include a comma-separated\
          \ list of keys to retrieve customized data, allowing you to fetch specific\
          \ moon phase information and related details."
        explode: true
        in: query
        name: filters
        required: false
        schema:
          example: "moon.phase_name,moon.stage,moon_phases.full_moon.next"
          type: string
        style: form
      - explode: false
        in: header
        name: X-Rapidapi-Key
        required: false
        schema:
          example: "{{Rapidapi-Key}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Get Lunar Calendar:
                  value: "| Month | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |\
                    \ 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 |\
                    \ 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | \n| --- | --- | ---\
                    \ | --- | --- | --- | --- | --- | --- | --- | --- | --- | ---\
                    \ | --- | --- | --- | --- | --- | --- | --- | --- | --- | ---\
                    \ | --- | --- | --- | --- | --- | --- | --- | --- | --- |\n| January\
                    \ | 🌔 | 🌔 | 🌕 | 🌕 | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗\
                    \ | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒\
                    \ | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 |\n| February | 🌔 | 🌕 |\
                    \ 🌕 | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 |\
                    \ 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 |\
                    \ 🌓 | 🌔 | 🌔 | 🌔 | 🌔 |\n| March | 🌔 | 🌔 | 🌔 | 🌕 | 🌕 |\
                    \ 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 |\
                    \ 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 |\
                    \ 🌔 | 🌔 |\n| April | 🌔 | 🌔 | 🌕 | 🌕 | 🌕 | 🌖 | 🌖 | 🌖 |\
                    \ 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 |\
                    \ 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 |\n| May\
                    \ | 🌔 | 🌔 | 🌕 | 🌕 | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗\
                    \ | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒\
                    \ | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 |\n| June | 🌔 | 🌕 | 🌕\
                    \ | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘\
                    \ | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓\
                    \ | 🌔 | 🌔 | 🌔 | 🌔 |\n| July | 🌔 | 🌕 | 🌕 | 🌕 | 🌖 | 🌖\
                    \ | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑\
                    \ | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔\
                    \ | 🌔 |\n| August | 🌕 | 🌕 | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗\
                    \ | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒\
                    \ | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 | 🌔 | 🌕 |\n| September\
                    \ | 🌕 | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘\
                    \ | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓\
                    \ | 🌓 | 🌔 | 🌔 | 🌔 | 🌔 | 🌕 | 🌕 |\n| October | 🌕 | 🌕 |\
                    \ 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 |\
                    \ 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 |\
                    \ 🌔 | 🌔 | 🌔 | 🌕 | 🌕 |\n| November | 🌕 | 🌖 | 🌖 | 🌖 | 🌖\
                    \ | 🌗 | 🌗 | 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒\
                    \ | 🌒 | 🌒 | 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 | 🌔 | 🌕\
                    \ | 🌕 | 🌕 |\n| December | 🌕 | 🌖 | 🌖 | 🌖 | 🌖 | 🌗 | 🌗 |\
                    \ 🌗 | 🌗 | 🌘 | 🌘 | 🌘 | 🌘 | 🌑 | 🌑 | 🌑 | 🌒 | 🌒 | 🌒 |\
                    \ 🌒 | 🌓 | 🌓 | 🌓 | 🌓 | 🌔 | 🌔 | 🌔 | 🌔 | 🌕 | 🌕 | - |\n"
          description: Get Lunar Calendar
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7d69e9abae3e34e4-DUB
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: "no-cache, private"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 13 Jun 2023 11:14:56 GMT"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=xQdeDxQcXLLvVeRdVJriJ7k92VBD7jPKs0qUYuJVPsK0tnj0mt4bahj%2ByQrmqq5IYPBEJBE0W9kGobbUKSuUhGAf5P6JuZJzSklfGKSpZE5yH%2FWtf8nALnzC719TMRMd7ZmcFDZ5\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: RapidAPI-1.2.8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            X-RapidAPI-Region:
              explode: false
              schema:
                example: AWS - eu-west-1
                type: string
              style: simple
            X-RapidAPI-Version:
              explode: false
              schema:
                example: 1.2.8
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: h3=":443"; ma=86400
                type: string
              style: simple
      summary: Get Lunar Calendar
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /emoji:
    get:
      description: Get Emoji of Moon Phase
      operationId: get_emoji_of_moon_phase
      parameters:
      - explode: false
        in: header
        name: X-Rapidapi-Key
        required: false
        schema:
          example: "{{Rapidapi-Key}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Get Emoji of Moon Phase:
                  value: 🌔
          description: Get Emoji of Moon Phase
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7d068265ece791ea-FRA
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: "no-cache, private"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 01 Jun 2023 09:42:55 GMT"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=UVWE04aPRN6PWn2SQ8cZv8eW1wbIf19dIBCVl%2FNEUjNhD1ukoT3h6vHEEA9mMtpukUmmDs9ZuErEXeEJ1m2lJGA7x3POMIBK8UufmQRtW%2BD97KU%2BtwbdEUBWG8Wj%2FtJiTqLQCdER\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: RapidAPI-1.2.8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            X-RapidAPI-Region:
              explode: false
              schema:
                example: AWS - eu-central-1
                type: string
              style: simple
            X-RapidAPI-Version:
              explode: false
              schema:
                example: 1.2.8
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: h3=":443"; ma=86400
                type: string
              style: simple
      summary: Get Emoji of Moon Phase
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /plain-text:
    get:
      description: Get Plain Text Moon Phase Data
      operationId: get_plain_text_moon_phase_data
      parameters:
      - explode: false
        in: header
        name: X-Rapidapi-Key
        required: false
        schema:
          example: "{{Rapidapi-Key}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Get Plain Text Moon Phase Data:
                  value: Waxing Crescent
          description: Get Plain Text Moon Phase Data
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7cc6a9dd4e13954f-DUB
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 24 May 2023 15:45:03 GMT"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=FAIBAVp7EafLttCv4uYTD9wJLY7qqnJP04KGjvZ18GexcHoBz28Iwv59%2BAWIeTOGoxvsaUc2olx0lVv3m4G84%2F5tw%2BSwI%2FtI6eSEjjje3uKWqF2VxcvJw0on50uUfVHJXzR6jtf0\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: RapidAPI-1.2.8
                type: string
              style: simple
            Tk:
              explode: false
              schema:
                example: "N"
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Cache:
              explode: false
              schema:
                example: HIT
                type: string
              style: simple
            X-RapidAPI-Region:
              explode: false
              schema:
                example: AWS - eu-west-1
                type: string
              style: simple
            X-RapidAPI-Version:
              explode: false
              schema:
                example: 1.2.8
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                type: string
              style: simple
      summary: Get Plain Text Moon Phase Data
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_current:
      example:
        datestamp: "Fri, 12 May 2023 16:53:00 +0200"
        days_ago: 19
        timestamp: 1683903180
      properties:
        datestamp:
          example: "Fri, 12 May 2023 16:53:00 +0200"
          title: datestamp
          type: string
        days_ago:
          example: 19
          title: days_ago
          type: number
        timestamp:
          example: 1683903180
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_current
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter:
      example:
        next:
          datestamp: "Sun, 18 Jun 2023 04:41:00 +0200"
          days_ahead: 16
          timestamp: 1687056060
        current:
          datestamp: "Fri, 28 Apr 2023 18:34:00 +0200"
          days_ago: 33
          timestamp: 1682699640
      properties:
        current:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_current'
        next:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_next'
      title: getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_next:
      example:
        datestamp: "Sun, 11 Jun 2023 04:41:00 +0200"
        days_ahead: 9
        timestamp: 1686451260
      properties:
        datestamp:
          example: "Sun, 11 Jun 2023 04:41:00 +0200"
          title: datestamp
          type: string
        days_ahead:
          example: 9
          title: days_ahead
          type: number
        timestamp:
          example: 1686451260
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_next
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_current:
      example:
        datestamp: "Fri, 28 Apr 2023 18:34:00 +0200"
        days_ago: 33
        timestamp: 1682699640
      properties:
        datestamp:
          example: "Fri, 28 Apr 2023 18:34:00 +0200"
          title: datestamp
          type: string
        days_ago:
          example: 33
          title: days_ago
          type: number
        timestamp:
          example: 1682699640
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_current
      type: object
    getAdvancedMoonPhaseData_200_response:
      example:
        datestamp: "Thu, 01 Jun 2023 11:45:25 +0200"
        moon:
          moonset: 03:18
          phase: "0.38966480971092"
          age_days: 12
          emoji: 🌔
          illumination: 88%
          moonset_timestamp: 1685582280
          zodiac_sign: Gemini
          lunar_cycle: 38.97%
          moonrise: "1088"
          moon_azimuth: 339.31434124218265
          moon_distance: 382878.864197106
          moon_altitude: -50.256859109962605
          moon_parallactic_angle: -2.0214503141006763
          stage: waxing
          phase_name: Waxing Gibbous
          moonrise_timestamp: 1685635680
        moon_phases:
          first_quarter:
            next:
              datestamp: "Sun, 18 Jun 2023 04:41:00 +0200"
              days_ahead: 16
              timestamp: 1687056060
            current:
              datestamp: "Fri, 28 Apr 2023 18:34:00 +0200"
              days_ago: 33
              timestamp: 1682699640
          new_moon:
            next:
              datestamp: "Sun, 18 Jun 2023 05:37:00 +0200"
              days_ahead: 16
              timestamp: 1687059420
            current:
              datestamp: "Fri, 19 May 2023 16:53:00 +0200"
              days_ago: 12
              timestamp: 1684507980
          full_moon:
            next:
              datestamp: "Sun, 04 Jun 2023 04:41:00 +0200"
              days_ahead: 2
              timestamp: 1685846460
            current:
              datestamp: "Fri, 05 May 2023 18:34:00 +0200"
              days_ago: 26
              timestamp: 1683304440
          last_quarter:
            next:
              datestamp: "Sun, 11 Jun 2023 04:41:00 +0200"
              days_ahead: 9
              timestamp: 1686451260
            current:
              datestamp: "Fri, 12 May 2023 16:53:00 +0200"
              days_ago: 19
              timestamp: 1683903180
        sun:
          sun_distance: 151643787.44305298
          solar_noon: "777"
          sunrise: 1685584270
          day_length: "978"
          sun_azimuth: 108.19562393041076
          sunset_timestamp: "1184"
          sunset: 1685648688
          sunrise_timestamp: 01:51
          sun_altitude: 41.698139184701695
        timestamp: 1685612725
      properties:
        datestamp:
          example: "Thu, 01 Jun 2023 11:45:25 +0200"
          title: datestamp
          type: string
        moon:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon'
        moon_phases:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases'
        sun:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_sun'
        timestamp:
          example: 1685612725
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_next:
      example:
        datestamp: "Sun, 18 Jun 2023 04:41:00 +0200"
        days_ahead: 16
        timestamp: 1687056060
      properties:
        datestamp:
          example: "Sun, 18 Jun 2023 04:41:00 +0200"
          title: datestamp
          type: string
        days_ahead:
          example: 16
          title: days_ahead
          type: number
        timestamp:
          example: 1687056060
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter_next
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_next:
      example:
        datestamp: "Sun, 04 Jun 2023 04:41:00 +0200"
        days_ahead: 2
        timestamp: 1685846460
      properties:
        datestamp:
          example: "Sun, 04 Jun 2023 04:41:00 +0200"
          title: datestamp
          type: string
        days_ahead:
          example: 2
          title: days_ahead
          type: number
        timestamp:
          example: 1685846460
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_next
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_next:
      example:
        datestamp: "Sun, 18 Jun 2023 05:37:00 +0200"
        days_ahead: 16
        timestamp: 1687059420
      properties:
        datestamp:
          example: "Sun, 18 Jun 2023 05:37:00 +0200"
          title: datestamp
          type: string
        days_ahead:
          example: 16
          title: days_ahead
          type: number
        timestamp:
          example: 1687059420
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_next
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases:
      example:
        first_quarter:
          next:
            datestamp: "Sun, 18 Jun 2023 04:41:00 +0200"
            days_ahead: 16
            timestamp: 1687056060
          current:
            datestamp: "Fri, 28 Apr 2023 18:34:00 +0200"
            days_ago: 33
            timestamp: 1682699640
        new_moon:
          next:
            datestamp: "Sun, 18 Jun 2023 05:37:00 +0200"
            days_ahead: 16
            timestamp: 1687059420
          current:
            datestamp: "Fri, 19 May 2023 16:53:00 +0200"
            days_ago: 12
            timestamp: 1684507980
        full_moon:
          next:
            datestamp: "Sun, 04 Jun 2023 04:41:00 +0200"
            days_ahead: 2
            timestamp: 1685846460
          current:
            datestamp: "Fri, 05 May 2023 18:34:00 +0200"
            days_ago: 26
            timestamp: 1683304440
        last_quarter:
          next:
            datestamp: "Sun, 11 Jun 2023 04:41:00 +0200"
            days_ahead: 9
            timestamp: 1686451260
          current:
            datestamp: "Fri, 12 May 2023 16:53:00 +0200"
            days_ago: 19
            timestamp: 1683903180
      properties:
        first_quarter:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_first_quarter'
        full_moon:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_full_moon'
        last_quarter:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter'
        new_moon:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_new_moon'
      title: getAdvancedMoonPhaseData_200_response_moon_phases
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_new_moon:
      example:
        next:
          datestamp: "Sun, 18 Jun 2023 05:37:00 +0200"
          days_ahead: 16
          timestamp: 1687059420
        current:
          datestamp: "Fri, 19 May 2023 16:53:00 +0200"
          days_ago: 12
          timestamp: 1684507980
      properties:
        current:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_current'
        next:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_next'
      title: getAdvancedMoonPhaseData_200_response_moon_phases_new_moon
      type: object
    getAdvancedMoonPhaseData_200_response_sun:
      example:
        sun_distance: 151643787.44305298
        solar_noon: "777"
        sunrise: 1685584270
        day_length: "978"
        sun_azimuth: 108.19562393041076
        sunset_timestamp: "1184"
        sunset: 1685648688
        sunrise_timestamp: 01:51
        sun_altitude: 41.698139184701695
      properties:
        day_length:
          example: "978"
          title: day_length
          type: string
        solar_noon:
          example: "777"
          title: solar_noon
          type: string
        sun_altitude:
          example: 41.698139184701695
          title: sun_altitude
          type: number
        sun_azimuth:
          example: 108.19562393041076
          title: sun_azimuth
          type: number
        sun_distance:
          example: 151643787.44305298
          title: sun_distance
          type: number
        sunrise:
          example: 1685584270
          title: sunrise
          type: number
        sunrise_timestamp:
          example: 01:51
          title: sunrise_timestamp
          type: string
        sunset:
          example: 1685648688
          title: sunset
          type: number
        sunset_timestamp:
          example: "1184"
          title: sunset_timestamp
          type: string
      title: getAdvancedMoonPhaseData_200_response_sun
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_current:
      example:
        datestamp: "Fri, 19 May 2023 16:53:00 +0200"
        days_ago: 12
        timestamp: 1684507980
      properties:
        datestamp:
          example: "Fri, 19 May 2023 16:53:00 +0200"
          title: datestamp
          type: string
        days_ago:
          example: 12
          title: days_ago
          type: number
        timestamp:
          example: 1684507980
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_new_moon_current
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter:
      example:
        next:
          datestamp: "Sun, 11 Jun 2023 04:41:00 +0200"
          days_ahead: 9
          timestamp: 1686451260
        current:
          datestamp: "Fri, 12 May 2023 16:53:00 +0200"
          days_ago: 19
          timestamp: 1683903180
      properties:
        current:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_current'
        next:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter_next'
      title: getAdvancedMoonPhaseData_200_response_moon_phases_last_quarter
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_full_moon:
      example:
        next:
          datestamp: "Sun, 04 Jun 2023 04:41:00 +0200"
          days_ahead: 2
          timestamp: 1685846460
        current:
          datestamp: "Fri, 05 May 2023 18:34:00 +0200"
          days_ago: 26
          timestamp: 1683304440
      properties:
        current:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_current'
        next:
          $ref: '#/components/schemas/getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_next'
      title: getAdvancedMoonPhaseData_200_response_moon_phases_full_moon
      type: object
    getAdvancedMoonPhaseData_200_response_moon:
      example:
        moonset: 03:18
        phase: "0.38966480971092"
        age_days: 12
        emoji: 🌔
        illumination: 88%
        moonset_timestamp: 1685582280
        zodiac_sign: Gemini
        lunar_cycle: 38.97%
        moonrise: "1088"
        moon_azimuth: 339.31434124218265
        moon_distance: 382878.864197106
        moon_altitude: -50.256859109962605
        moon_parallactic_angle: -2.0214503141006763
        stage: waxing
        phase_name: Waxing Gibbous
        moonrise_timestamp: 1685635680
      properties:
        age_days:
          example: 12
          title: age_days
          type: number
        emoji:
          example: 🌔
          title: emoji
          type: string
        illumination:
          example: 88%
          title: illumination
          type: string
        lunar_cycle:
          example: 38.97%
          title: lunar_cycle
          type: string
        moon_altitude:
          example: -50.256859109962605
          title: moon_altitude
          type: number
        moon_azimuth:
          example: 339.31434124218265
          title: moon_azimuth
          type: number
        moon_distance:
          example: 382878.864197106
          title: moon_distance
          type: number
        moon_parallactic_angle:
          example: -2.0214503141006763
          title: moon_parallactic_angle
          type: number
        moonrise:
          example: "1088"
          title: moonrise
          type: string
        moonrise_timestamp:
          example: 1685635680
          title: moonrise_timestamp
          type: number
        moonset:
          example: 03:18
          title: moonset
          type: string
        moonset_timestamp:
          example: 1685582280
          title: moonset_timestamp
          type: number
        phase:
          example: "0.38966480971092"
          title: phase
          type: string
        phase_name:
          example: Waxing Gibbous
          title: phase_name
          type: string
        stage:
          example: waxing
          title: stage
          type: string
        zodiac_sign:
          example: Gemini
          title: zodiac_sign
          type: string
      title: getAdvancedMoonPhaseData_200_response_moon
      type: object
    getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_current:
      example:
        datestamp: "Fri, 05 May 2023 18:34:00 +0200"
        days_ago: 26
        timestamp: 1683304440
      properties:
        datestamp:
          example: "Fri, 05 May 2023 18:34:00 +0200"
          title: datestamp
          type: string
        days_ago:
          example: 26
          title: days_ago
          type: number
        timestamp:
          example: 1683304440
          title: timestamp
          type: number
      title: getAdvancedMoonPhaseData_200_response_moon_phases_full_moon_current
      type: object
    getBasicMoonPhaseData_200_response:
      example:
        days_until_next_new_moon: 18
        stage: waxing
        phase_name: Waxing gibbous
        days_until_next_full_moon: 4
      properties:
        days_until_next_full_moon:
          example: 4
          title: days_until_next_full_moon
          type: number
        days_until_next_new_moon:
          example: 18
          title: days_until_next_new_moon
          type: number
        phase_name:
          example: Waxing gibbous
          title: phase_name
          type: string
        stage:
          example: waxing
          title: stage
          type: string
      title: getBasicMoonPhaseData_200_response
      type: object
