openapi: 3.0.1
info:
  contact:
    name: "US EPA, OECA Integration, Targeting and Access Branch"
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed\
    \ and maintained by EPA's Office of Enforcement and Compliance Assurance for public\
    \ use. ECHO provides integrated compliance and enforcement information for over\
    \ 1 million regulated facilities nationwide.\n\nDFR Rest Services provide multiple\
    \ service endpoints, to retrieve detailed facility location, enforcement, compliance\
    \ monitoring, and pollutant information for any single facility.  See the Detailed\
    \ Facility Report (DFR) Help Page (https://echo.epa.gov/help/reports/detailed-facility-report-help)\
    \ for additional information on the DFR.  Additionally, a Data Dictionary (https://echo.epa.gov/help/reports/dfr-data-dictionary)\
    \ is also available. \nThere is one primary service end point, get_dfr, that provides\
    \ all available DFR data.  All other service end points that are exposed, will\
    \ return data on a single section of the DFR.    \n\\\nAdditional ECHO Resources:\
    \   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"\
    https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>,\
    \ <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n "
  license:
    name: This page was built with the Swagger API.
    url: https://swagger.io
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Detailed Facility
    Report (DFR)
  version: 0.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png
  x-origin:
  - format: swagger
    url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=DFR
    version: "2.0"
  x-providerName: epa.gov
  x-serviceName: dfr
servers:
- url: https://echodata.epa.gov/echo
paths:
  /dfr_rest_services.air_3_yr_download:
    get:
      description: "For the provided system identifier, dowloads all displayed Air\
        \ quaterly/monthly Facility Level Status, High Priority Violation (HPV) History,\
        \ HPV Detailed Violations and Federal Reportable Violation  information in\
        \ a Comma Seperated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads the complete Air Compliance History Section of the DFR
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "For the provided system identifier, dowloads all displayed Air\
        \ quaterly/monthly Facility Level Status, High Priority Violation (HPV) History,\
        \ HPV Detailed Violations and Federal Reportable Violation  information in\
        \ a Comma Seperated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads the complete Air Compliance History Section of the DFR
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.cwa_3_yr_effluent_download:
    get:
      description: "For the provided system identifier, dowloads all displayed NPDES\
        \ quaterly/monthly effluent violation information in a Comma Seperated Value\
        \ (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads NPDES Effluent Violation Information by month and quarter.
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "For the provided system identifier, dowloads all displayed NPDES\
        \ quaterly/monthly effluent violation information in a Comma Seperated Value\
        \ (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads NPDES Effluent Violation Information by month and quarter.
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.cwa_3_yr_sepscs_download:
    get:
      description: "For the provided system identifier, dowloads all displayed NPDES\
        \ quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event\
        \ Violation  information in a Comma Seperated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: "Downloads NPDES Compliance Schedule, Permit Schedule and Single Event\
        \ Violation Information by month and quarter."
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "For the provided system identifier, dowloads all displayed NPDES\
        \ quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event\
        \ Violation  information in a Comma Seperated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: "Downloads NPDES Compliance Schedule, Permit Schedule and Single Event\
        \ Violation Information by month and quarter."
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_air_compliance:
    get:
      description: This procedure obtains data for Air Compliance in the Environmental
        Conditions Section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 12 quarters.
      summary: Detailed Facility Report Air Compliance Report Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for Air Compliance in the Environmental
        Conditions Section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 12 quarters.
      summary: Detailed Facility Report Air Compliance Report Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_air_quality:
    get:
      description: This procedure obtains data for Air Quality in the Environmental
        Conditions Section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_quality_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_quality_get_200_response'
          description: Returns an object that includes information on air quality
      summary: Detailed Facility Report Air Quality Report Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for Air Quality in the Environmental
        Conditions Section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_quality_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_air_quality_get_200_response'
          description: Returns an object that includes information on air quality
      summary: Detailed Facility Report Air Quality Report Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_aws_docs:
    get:
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_aws_docs_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_aws_docs_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_aws_docs_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_aws_docs_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_case_formal_actions:
    get:
      description: Displays closed case information from EPA's Federal Enforcement
        & Compliance System that are related to the facility.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_case_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_case_formal_actions_get_200_response'
          description: Returns an object that includes information on cases.
      summary: Displays Cases related to the Facility
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Displays closed case information from EPA's Federal Enforcement
        & Compliance System that are related to the facility.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_case_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_case_formal_actions_get_200_response'
          description: Returns an object that includes information on cases.
      summary: Displays Cases related to the Facility
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_compliance_history:
    get:
      description: This procedure obtains data for the Compliance Monitoring History
        (5 years) in the Enforcement and Compliance Section of the Detailed Facility
        report.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_history_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_history_get_200_response'
          description: Returns an object that includes an array of compliance histories
      summary: Detailed Facility Report 5 Year Compliance Monitoring History Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the Compliance Monitoring History
        (5 years) in the Enforcement and Compliance Section of the Detailed Facility
        report.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_history_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_history_get_200_response'
          description: Returns an object that includes an array of compliance histories
      summary: Detailed Facility Report 5 Year Compliance Monitoring History Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_compliance_summary:
    get:
      description: This procedure obtains data for Compliance Summary Data in the
        Enforcement and Compliance Section of the Detailed Facility report.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_summary_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_summary_get_200_response'
          description: Returns an object that includes an array of compliance summaries
      summary: Detailed Facility Report Compliance Summary Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for Compliance Summary Data in the
        Enforcement and Compliance Section of the Detailed Facility report.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_summary_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_compliance_summary_get_200_response'
          description: Returns an object that includes an array of compliance summaries
      summary: Detailed Facility Report Compliance Summary Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_csv:
    get:
      description: "For a supplied system id and DFR section name, the procedure will\
        \ download that section in a Comma Separated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads a spectific section  of the DFR in CSV Format
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "For a supplied system id and DFR section name, the procedure will\
        \ download that section in a Comma Separated Value (CSV) format."
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Downloads a spectific section  of the DFR in CSV Format
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_3yr_compliance:
    get:
      description: |-
        This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:
        > "In Viol" = Facility is in violation
        > "No Viol" = No violation found
        > "Unk" = Unknown status
        > "SNC/Cat 1" = SNC/Category I violation found
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 13 quarters
      summary: Detailed Facility Report 3 Year CWA Facility-Level Status Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:
        > "In Viol" = Facility is in violation
        > "No Viol" = No violation found
        > "Unk" = Unknown status
        > "SNC/Cat 1" = SNC/Category I violation found
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 13 quarters
      summary: Detailed Facility Report 3 Year CWA Facility-Level Status Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_3yr_d80d90_counts:
    get:
      description: Displays monlthly and quarterly counts of D80 and D90 Effluent
        Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_d80d90_counts_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_d80d90_counts_get_200_response'
          description: Returns an object that includes an array of D80/D90 counts
            for 13 quarters and 39 months.
      summary: Displays monlthly and quarterly counts of D80 and D90 Effluent Non
        Reporting Violations Related to the Facility
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Displays monlthly and quarterly counts of D80 and D90 Effluent
        Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_d80d90_counts_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_3yr_d80d90_counts_get_200_response'
          description: Returns an object that includes an array of D80/D90 counts
            for 13 quarters and 39 months.
      summary: Displays monlthly and quarterly counts of D80 and D90 Effluent Non
        Reporting Violations Related to the Facility
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_cs_compliance:
    get:
      description: This procedure obtains data for the CWA Compliance Schedule Violations
        section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_cs_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_cs_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 13 quarters.
      summary: Detailed Facility Report CWA CSV Compliance Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the CWA Compliance Schedule Violations
        section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_cs_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_cs_compliance_get_200_response'
          description: Returns an object that includes an array of compliance statuses
            for 13 quarters.
      summary: Detailed Facility Report CWA CSV Compliance Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_eff_alr:
    get:
      description: This procedure obtains data for the CWA Pollutant Discharge section
        located in the Three Year Compliance Status by Quarter portion of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_get_200_response'
          description: Returns an object that includes an array of effluent ALR for
            13 quarters.
      summary: Detailed Facility Report CWA Effluent ALR Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the CWA Pollutant Discharge section
        located in the Three Year Compliance Status by Quarter portion of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_get_200_response'
          description: Returns an object that includes an array of effluent ALR for
            13 quarters.
      summary: Detailed Facility Report CWA Effluent ALR Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_eff_alr_exp:
    get:
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_exp_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_exp_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_exp_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_alr_exp_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_eff_compliance:
    get:
      description: 'This procedure obtains data for the CWA Effluent Compliance section
        on the DFR.  '
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_get_200_response'
          description: Returns an object that includes an array of effluent compliance
            statuses for 13 quarters.
      summary: Detailed Facility Report CWA Effluent Compliance Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: 'This procedure obtains data for the CWA Effluent Compliance section
        on the DFR.  '
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_get_200_response'
          description: Returns an object that includes an array of effluent compliance
            statuses for 13 quarters.
      summary: Detailed Facility Report CWA Effluent Compliance Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_eff_compliance_exp:
    get:
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_exp_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_exp_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_exp_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_eff_compliance_exp_get_200_response'
          description: Results
      summary: Placeholder
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_ps_compliance:
    get:
      description: This procedure obtains data for the CWA Permit Schedule Violations
        section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_ps_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_ps_compliance_get_200_response'
          description: Returns an object that includes an array of permit schedule
            violations for 13 quarters.
      summary: Detailed Facility Report CWA PSV Compliance Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the CWA Permit Schedule Violations
        section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_ps_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_ps_compliance_get_200_response'
          description: Returns an object that includes an array of permit schedule
            violations for 13 quarters.
      summary: Detailed Facility Report CWA PSV Compliance Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_rnc_compliance:
    get:
      description: |-
        This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.
        > S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule
        > E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)
        > X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)
        > T = SNC/Category I - compliance schedule reporting violation
        > D = SNC/Category I - reporting violation - nonreceipt of DMR
        > N = RNC/Category II - reportable non-compliance
        > P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion
        > R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action
        > C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted "m".
        > Blank = Not considered in RNC/SNC
        > N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_rnc_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_rnc_compliance_get_200_response'
          description: Returns an object that includes an array of RNC compliance
            statuses for 12 quarters
      summary: Detailed Facility Report CWA RNC Compliance Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.
        > S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule
        > E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)
        > X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)
        > T = SNC/Category I - compliance schedule reporting violation
        > D = SNC/Category I - reporting violation - nonreceipt of DMR
        > N = RNC/Category II - reportable non-compliance
        > P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion
        > R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action
        > C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted "m".
        > Blank = Not considered in RNC/SNC
        > N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_rnc_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_rnc_compliance_get_200_response'
          description: Returns an object that includes an array of RNC compliance
            statuses for 12 quarters
      summary: Detailed Facility Report CWA RNC Compliance Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_cwa_se_compliance:
    get:
      description: This procedure obtains data for the CWA Single Event Violations
        section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_se_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_se_compliance_get_200_response'
          description: Returns an object that includes an array of single-event statuses
            for 13 quarters.
      summary: Detailed Facility Report CWA SEV Compliance Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the CWA Single Event Violations
        section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_se_compliance_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_cwa_se_compliance_get_200_response'
          description: Returns an object that includes an array of single-event statuses
            for 13 quarters.
      summary: Detailed Facility Report CWA SEV Compliance Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_d80d90s_details:
    get:
      description: Displays detailed D80/D90 Effluent Non Reporting  information from
        EPA's ICIS NPDES system for the facility for a given quarter or month.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: The NPDES_ID for the NPDES Permit to download DMR D80 and D90
          Non-Receipt violations.
        in: query
        name: p_npdes_id
        schema:
          type: string
      - description: "For the D80.D90 download, identifies whether or not MISSINGviolations\
          \ are downloaded or LATE violations are downloaded.  Valid values are: \
          \ MiISSING and LATE."
        in: query
        name: p_missinglate
        schema:
          enum:
          - MISSING
          - LATE
          type: string
      - description: "Identifies the time frame type, month or quarter, for the D80/D90\
          \ download."
        in: query
        name: p_qmtype
        schema:
          enum:
          - MONTH
          - QUARTER
          type: string
      - description: A number between 1 and 39 that identifies the specific month
          or quarter for the D80/D90 violation download.
        in: query
        name: p_qmvalue
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_d80d90s_details_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_d80d90s_details_get_200_response'
          description: Returns an object that includes information for  D80/D90 violations.
      summary: Display detailed D80/D90 information for the facility for a given quarter
        or month
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Displays detailed D80/D90 Effluent Non Reporting  information from
        EPA's ICIS NPDES system for the facility for a given quarter or month.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: The NPDES_ID for the NPDES Permit to download DMR D80 and D90
          Non-Receipt violations.
        in: query
        name: p_npdes_id
        schema:
          type: string
      - description: "For the D80.D90 download, identifies whether or not MISSINGviolations\
          \ are downloaded or LATE violations are downloaded.  Valid values are: \
          \ MiISSING and LATE."
        in: query
        name: p_missinglate
        schema:
          enum:
          - MISSING
          - LATE
          type: string
      - description: "Identifies the time frame type, month or quarter, for the D80/D90\
          \ download."
        in: query
        name: p_qmtype
        schema:
          enum:
          - MONTH
          - QUARTER
          type: string
      - description: A number between 1 and 39 that identifies the specific month
          or quarter for the D80/D90 violation download.
        in: query
        name: p_qmvalue
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_d80d90s_details_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_d80d90s_details_get_200_response'
          description: Returns an object that includes information for  D80/D90 violations.
      summary: Display detailed D80/D90 information for the facility for a given quarter
        or month
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_demographics_by_id:
    get:
      description: Displays precalculated 2010 Census and American Community Survey
        demographic information for a provided facility identifier.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_demographics_by_id_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_demographics_by_id_get_200_response'
          description: Returns an object that includes demographics
      summary: Displays 2010 Census and ACS demographics by Facility ID
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Displays precalculated 2010 Census and American Community Survey
        demographic information for a provided facility identifier.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_demographics_by_id_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_demographics_by_id_get_200_response'
          description: Returns an object that includes demographics
      summary: Displays 2010 Census and ACS demographics by Facility ID
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_dfr:
    get:
      description: This procedure is the overall service for the Detailed Facility
        Report. It returns all of the data displayed in the DFR web report by invoking
        individual procedures that each return a targeted portion of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: System Acronym Filter.  Enter a single system acronym to filter
          results.
        in: query
        name: p_system
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_dfr_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_dfr_get_200_response'
          description: Returns a complex object (Detailed Facility Report) composed
            of objects from all of the other procedures.
      summary: Detailed Facility Report Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure is the overall service for the Detailed Facility
        Report. It returns all of the data displayed in the DFR web report by invoking
        individual procedures that each return a targeted portion of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_dfr_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_dfr_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_dfr_get_200_response'
          description: Returns a complex object (Detailed Facility Report) composed
            of objects from all of the other procedures.
      summary: Detailed Facility Report Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_ejscreen_indexes:
    get:
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_ejscreen_indexes_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_ejscreen_indexes_get_200_response'
          description: Results
      summary: Detailed Facility Report EJScreen Indexes Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_ejscreen_indexes_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_ejscreen_indexes_get_200_response'
          description: Results
      summary: Detailed Facility Report EJScreen Indexes Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_enforcement_summary:
    get:
      description: This procedure obtains data for the Enforcement and Compliance
        Summary in the Facility Summary section of the Detailed Facility Report.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_enforcement_summary_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_enforcement_summary_get_200_response'
          description: Returns an object that includes an array of enforcement compliance
            summaries
      summary: Detailed Facility Report Enforcement Summary Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the Enforcement and Compliance
        Summary in the Facility Summary section of the Detailed Facility Report.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_enforcement_summary_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_enforcement_summary_get_200_response'
          description: Returns an object that includes an array of enforcement compliance
            summaries
      summary: Detailed Facility Report Enforcement Summary Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_extract_dates:
    get:
      description: "By EPA System, displays the extract dates that data was extracted\
        \ for the DFR from multiple EPA computer systems."
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_extract_dates_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_extract_dates_get_200_response'
          description: Returns an object  that includes information on DFR system
            extract dates.
      summary: Displays the dates that data was extracted from native EPA systems
        for the DFR.
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "By EPA System, displays the extract dates that data was extracted\
        \ for the DFR from multiple EPA computer systems."
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_extract_dates_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_extract_dates_get_200_response'
          description: Returns an object  that includes information on DFR system
            extract dates.
      summary: Displays the dates that data was extracted from native EPA systems
        for the DFR.
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_formal_actions:
    get:
      description: This procedure obtains data for the Formal Enforcement Actions
        section of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_formal_actions_get_200_response'
          description: Returns an object that includes an array of formal actions.
      summary: Detailed Facility Report Formal Actions Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the Formal Enforcement Actions
        section of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_formal_actions_get_200_response'
          description: Returns an object that includes an array of formal actions.
      summary: Detailed Facility Report Formal Actions Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_icis_formal_actions:
    get:
      description: "This procedure obtains data for the Integrated Compliance Information\
        \ System, Formal Enforcement Actions section of the DFR. "
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_icis_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_icis_formal_actions_get_200_response'
          description: Returns an object that includes an array of ICIS formal actions.
      summary: Detailed Facility Report ICIS Formal Actions Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "This procedure obtains data for the Integrated Compliance Information\
        \ System, Formal Enforcement Actions section of the DFR. "
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_icis_formal_actions_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_icis_formal_actions_get_200_response'
          description: Returns an object that includes an array of ICIS formal actions.
      summary: Detailed Facility Report ICIS Formal Actions Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_inspections:
    get:
      description: This procedure obtains data for Enforcement and Compliance Summary
        Section of the Detailed Facility report.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_inspections_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_inspections_get_200_response'
          description: Returns an object that includes an array of inspection enforcement
            summaries
      summary: Detailed Facility Report Inspections Summary Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for Enforcement and Compliance Summary
        Section of the Detailed Facility report.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_inspections_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_inspections_get_200_response'
          description: Returns an object that includes an array of inspection enforcement
            summaries
      summary: Detailed Facility Report Inspections Summary Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_map:
    get:
      description: Returns an object with the facility's latitude and longitude coordinates.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_map_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_map_get_200_response'
          description: Returns an object that includes information for displaying
            a map
      summary: Detailed Facility Report Map Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Returns an object with the facility's latitude and longitude coordinates.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_map_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_map_get_200_response'
          description: Returns an object that includes information for displaying
            a map
      summary: Detailed Facility Report Map Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_naics:
    get:
      description: This procedure obtains data for the Facility NAICS Codes section
        in Facility/System Characteristics of the Detailed Facility Report.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_naics_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_naics_get_200_response'
          description: Returns an object that includes an array of NAICS codes
      summary: Detailed Facility Report NAICS Code Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the Facility NAICS Codes section
        in Facility/System Characteristics of the Detailed Facility Report.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_naics_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_naics_get_200_response'
          description: Returns an object that includes an array of NAICS codes
      summary: Detailed Facility Report NAICS Code Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_notices:
    get:
      description: This procedure obtains data for the Notices/Informal Actions section
        of the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_notices_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_notices_get_200_response'
          description: Returns an object that includes an array of notices
      summary: Detailed Facility Report Notices Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: This procedure obtains data for the Notices/Informal Actions section
        of the DFR.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_notices_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_notices_get_200_response'
          description: Returns an object that includes an array of notices
      summary: Detailed Facility Report Notices Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_permits:
    get:
      description: |-
        This procedure obtains data for the following sections of the Detailed Facility Report.
        > Facility Information (FRS) in the Facility Summary.
        > Regulatory Interests in the Facility Summary.
        > Also Reports in the Facility Summary.
        > Facility/System Characteristics in Facility/System Characteristics.
        > Facility Contact Information in Facility/System Characteristics.
        > Facility SIC Codes in Facility/System Characteristics section.
        > Facility NAICS Codes in Facility/System Characteristics section.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
          \ facility or the facility identifier from the following EPA Systems: RCRAINFO\
          \ (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
        in: query
        name: p_id
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_permits_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_permits_get_200_response'
          description: Returns an object that includes an array of permits
      summary: Detailed Facility Report Permits Service
      tags:
      - Detailed Facility Report
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        This procedure obtains data for the following sections of the Detailed Facility Report.
        > Facility Information (FRS) in the Facility Summary.
        > Regulatory Interests in the Facility Summary.
        > Also Reports in the Facility Summary.
        > Facility/System Characteristics in Facility/System Characteristics.
        > Facility Contact Information in Facility/System Characteristics.
        > Facility SIC Codes in Facility/System Characteristics section.
        > Facility NAICS Codes in Facility/System Characteristics section.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_dfr_rest_services_get_air_compliance_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_permits_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_dfr_rest_services_get_permits_get_200_response'
          description: Returns an object that includes an array of permits
      summary: Detailed Facility Report Permits Service
      tags:
      - Detailed Facility Report
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /dfr_rest_services.get_rcra_compliance:
    get:
      description: This procedure obtains data for the RCRA Compliance section of
        the DFR.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: "Either the EPA Facility Registry System's REGISTRY_ID for a\
[...]
