openapi: 3.0.0
info:
  contact:
    name: Vonage Business Cloud Support
    url: https://businesssupport.vonage.com/contactus
  description: |
    The Vonage Business Cloud Reports API enables you to retrieve call logs for your account.

    Your application must subscribe to the Reports API suite to use this API.
  termsOfService: https://www.vonage.com/business/legal-policy-center/business-cloud/tos
  title: Reports API
  version: 1.0.1
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/reports.yml
    version: "3.0"
  x-providerName: vonage.com
  x-serviceName: reports
servers:
- url: https://api.vonage.com/t/vbc.prod/reports
paths:
  /accounts/{account_id}/call-logs:
    get:
      description: Retrieve call logs for your account
      operationId: get_call_logs
      parameters:
      - description: The Vonage Business Cloud account ID
        example: 913874
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter records by start date (greater equal or equal to)
        example: 2019-01-01 00:00:00
        explode: true
        in: query
        name: start:gte
        required: true
        schema:
          type: string
        style: form
      - description: Filter records by start date (less equal or equal to)
        example: 2019-01-01 00:00:00
        explode: true
        in: query
        name: start:lte
        required: true
        schema:
          type: string
        style: form
      - description: Filter records by end date (greater equal or equal to)
        example: 2019-01-01 00:00:00
        explode: true
        in: query
        name: end:gte
        required: false
        schema:
          type: string
        style: form
      - description: Filter records by end date (less equal or equal to)
        example: 2019-01-01 00:00:00
        explode: true
        in: query
        name: end:lte
        required: false
        schema:
          type: string
        style: form
      - description: Number of records per page
        example: 10
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          default: 10
          type: number
        style: form
      - description: Current page number
        example: 10
        explode: true
        in: query
        name: page
        required: true
        schema:
          default: 0
          type: number
        style: form
      - description: Filter by called number
        example: 17325550100
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Filter by source number
        example: 17325550100
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Filter by source user
        explode: true
        in: query
        name: source_user
        required: false
        schema:
          type: string
        style: form
      - description: Filter by destination user
        explode: true
        in: query
        name: destination_user
        required: false
        schema:
          type: string
        style: form
      - description: Filter by call direction.
        example: Inbound
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - Inbound
          - Outbound
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsHalResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorsResponse'
          description: Invalid parameters given
      security:
      - bearerAuth: []
      summary: Retrieve call logs for your account
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    AccountID:
      description: The Vonage Business Cloud account ID
      example: 913874
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        type: string
      style: simple
  schemas:
    CallLog:
      example:
        charge: 0
        destination_user: JSmith
        length: 60
        start: 2019-01-01 00:00:00
        source_device_name: Smith
        in_network: true
        recorded: true
        destination_extension: 1000
        destination_sip_id: VH1111111
        result: Answered
        source_extension: 1000
        rate: 0
        source_sip_id: VH1111111
        destination_user_full_name: John Smith
        end: 2019-01-01 00:00:00
        from: "17325550100"
        source_user: JSmith
        source_user_full_name: John Smith
        id: f27b937d-6dde-441a-9595-006e7302eac1
        to: "17325550100"
        international: false
        destination_device_name: Smith
        direction: Inbound
      properties:
        charge:
          description: Amount charged for the call
          example: 0
          title: charge
          type: number
        destination_device_name:
          description: Name of the destination device of the call
          example: Smith
          title: destination_device_name
          type: string
        destination_extension:
          description: Destination extension of the call
          example: 1000
          title: destination_extension
          type: number
        destination_sip_id:
          description: SIP ID of the destination device of the call
          example: VH1111111
          title: destination_sip_id
          type: string
        destination_user:
          description: Destination user of the call
          example: JSmith
          title: destination_user
          type: string
        destination_user_full_name:
          description: Full name of the destination user of the call
          example: John Smith
          title: destination_user_full_name
          type: string
        direction:
          description: Direction of the call
          example: Inbound
          title: direction
          type: string
        end:
          description: End time of the call
          example: 2019-01-01 00:00:00
          title: end
          type: string
        from:
          description: Source number of the call
          example: "17325550100"
          title: from
          type: string
        id:
          description: Unique identifier of the call
          example: f27b937d-6dde-441a-9595-006e7302eac1
          title: id
          type: string
        in_network:
          description: Indicates if call was on/off network
          example: true
          title: in_network
          type: boolean
        international:
          description: Indicates if call was international
          example: false
          title: international
          type: boolean
        length:
          description: Duration of the call in seconds
          example: 60
          title: length
          type: number
        rate:
          description: Rate charged for the call
          example: 0
          title: rate
          type: number
        recorded:
          description: Indicates if call was recorded
          example: true
          title: recorded
          type: boolean
        result:
          description: Result of the call
          example: Answered
          title: result
          type: string
        source_device_name:
          description: Name of the source device of the call
          example: Smith
          title: source_device_name
          type: string
        source_extension:
          description: Source extension of the call
          example: 1000
          title: source_extension
          type: number
        source_sip_id:
          description: SIP ID of the source device of the call
          example: VH1111111
          title: source_sip_id
          type: string
        source_user:
          description: Source user of the call
          example: JSmith
          title: source_user
          type: string
        source_user_full_name:
          description: Full name of the source user of the call
          example: John Smith
          title: source_user_full_name
          type: string
        start:
          description: Start time of the call
          example: 2019-01-01 00:00:00
          title: start
          type: string
        to:
          description: Destination number of the call
          example: "17325550100"
          title: to
          type: string
      title: CallLog
      type: object
    CallLogsEmbeddedObject:
      example:
        call_logs:
        - charge: 0
          destination_user: JSmith
          length: 60
          start: 2019-01-01 00:00:00
          source_device_name: Smith
          in_network: true
          recorded: true
          destination_extension: 1000
          destination_sip_id: VH1111111
          result: Answered
          source_extension: 1000
          rate: 0
          source_sip_id: VH1111111
          destination_user_full_name: John Smith
          end: 2019-01-01 00:00:00
          from: "17325550100"
          source_user: JSmith
          source_user_full_name: John Smith
          id: f27b937d-6dde-441a-9595-006e7302eac1
          to: "17325550100"
          international: false
          destination_device_name: Smith
          direction: Inbound
        - charge: 0
          destination_user: JSmith
          length: 60
          start: 2019-01-01 00:00:00
          source_device_name: Smith
          in_network: true
          recorded: true
          destination_extension: 1000
          destination_sip_id: VH1111111
          result: Answered
          source_extension: 1000
          rate: 0
          source_sip_id: VH1111111
          destination_user_full_name: John Smith
          end: 2019-01-01 00:00:00
          from: "17325550100"
          source_user: JSmith
          source_user_full_name: John Smith
          id: f27b937d-6dde-441a-9595-006e7302eac1
          to: "17325550100"
          international: false
          destination_device_name: Smith
          direction: Inbound
      properties:
        call_logs:
          items:
            $ref: '#/components/schemas/CallLog'
          title: call_logs
          type: array
      title: CallLogsEmbeddedObject
      type: object
    CallLogsHalResponse:
      example:
        _embedded:
          call_logs:
          - charge: 0
            destination_user: JSmith
            length: 60
            start: 2019-01-01 00:00:00
            source_device_name: Smith
            in_network: true
            recorded: true
            destination_extension: 1000
            destination_sip_id: VH1111111
            result: Answered
            source_extension: 1000
            rate: 0
            source_sip_id: VH1111111
            destination_user_full_name: John Smith
            end: 2019-01-01 00:00:00
            from: "17325550100"
            source_user: JSmith
            source_user_full_name: John Smith
            id: f27b937d-6dde-441a-9595-006e7302eac1
            to: "17325550100"
            international: false
            destination_device_name: Smith
            direction: Inbound
          - charge: 0
            destination_user: JSmith
            length: 60
            start: 2019-01-01 00:00:00
            source_device_name: Smith
            in_network: true
            recorded: true
            destination_extension: 1000
            destination_sip_id: VH1111111
            result: Answered
            source_extension: 1000
            rate: 0
            source_sip_id: VH1111111
            destination_user_full_name: John Smith
            end: 2019-01-01 00:00:00
            from: "17325550100"
            source_user: JSmith
            source_user_full_name: John Smith
            id: f27b937d-6dde-441a-9595-006e7302eac1
            to: "17325550100"
            international: false
            destination_device_name: Smith
            direction: Inbound
        _links:
          next:
            href: href
          prev:
            href: href
          self:
            href: href
          first:
            href: href
        total_page: 10
        page: 1
        total_items: 100
        page_size: 10
      properties:
        _embedded:
          $ref: '#/components/schemas/CallLogsEmbeddedObject'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          description: Current page number
          example: 1
          title: page
          type: number
        page_size:
          description: Number of records per page
          example: 10
          title: page_size
          type: number
        total_items:
          description: Total number of records
          example: 100
          title: total_items
          type: number
        total_page:
          description: Total number of pages
          example: 10
          title: total_page
          type: number
      title: CallLogsHalResponse
      type: object
    DetailedInvalidParam:
      example:
        reason: reason
        name: name
      properties:
        name:
          description: Invalid property name
          title: name
          type: string
        reason:
          description: Invalid property reason
          title: reason
          type: string
      title: DetailedInvalidParam
      type: object
    ErrorResponse:
      properties:
        msg:
          description: Error message
          type: string
        status:
          description: Http Response Code
          type: number
      type: object
    FirstHref:
      description: URL to the first page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: FirstHref
      type: object
    LastHref:
      description: URL to the last page of records
      properties:
        href:
          type: string
      type: object
    Links:
      example:
        next:
          href: href
        prev:
          href: href
        self:
          href: href
        first:
          href: href
      properties:
        first:
          $ref: '#/components/schemas/FirstHref'
        next:
          $ref: '#/components/schemas/NextHref'
        prev:
          $ref: '#/components/schemas/PrevHref'
        self:
          $ref: '#/components/schemas/SelfHref'
      title: Links
      type: object
    NextHref:
      description: URL to the next page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: NextHref
      type: object
    PrevHref:
      description: URL to the previous page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: PrevHref
      type: object
    SelfHref:
      description: URL to the current page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: SelfHref
      type: object
    ValidationErrorsResponse:
      example:
        instance: instance
        title: title
        invalid_parameters:
        - reason: reason
          name: name
        - reason: reason
          name: name
        status: 0.8008281904610115
      properties:
        instance:
          description: Error Track ID
          title: instance
          type: string
        invalid_parameters:
          description: Invalid parameters and their reason for failing
          items:
            $ref: '#/components/schemas/DetailedInvalidParam'
          title: invalid_parameters
          type: array
        status:
          description: Error status code
          title: status
          type: number
        title:
          description: Error title
          title: title
          type: string
      title: ValidationErrorsResponse
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OAuth
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller.info_from_bearerAuth
