openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides additional information about Firebase Cloud Messaging (FCM)
    message sends and deliveries.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Firebase Cloud Messaging Data API
  version: v1beta1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://fcmdata.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: fcmdata
externalDocs:
  url: https://firebase.google.com/docs/cloud-messaging
servers:
- url: https://fcmdata.googleapis.com/
tags:
- name: projects
paths:
  /v1beta1/{parent}/deliveryData:
    get:
      description: List aggregate delivery data for the given Android application.
      operationId: fcmdata.projects.androidApps.deliveryData.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The application for which to list delivery data. Format:\
          \ `projects/{project_id}/androidApps/{app_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of entries to return. The service may return\
          \ fewer than this value. If unspecified, at most 1,000 entries will be returned.\
          \ The maximum value is 10,000; values above 10,000 will be capped to 10,000.\
          \ This default may change over time."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListAndroidDeliveryDataRequest`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListAndroidDeliveryDataRequest` must match\
          \ the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1ListAndroidDeliveryDataResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleFirebaseFcmDataV1beta1AndroidDeliveryData:
      description: "Message delivery data for a given date, app, and analytics label\
        \ combination."
      example:
        date:
          month: 1
          year: 1
          day: 7
        data:
          countMessagesAccepted: countMessagesAccepted
          messageOutcomePercents:
            droppedTooManyPendingMessages: 2.027123
            pending: 4.145608
            droppedAppForceStopped: 9.301444
            delivered: 7.0614014
            droppedDeviceInactive: 3.6160767
          deliveryPerformancePercents:
            deliveredNoDelay: 5.637377
            delayedUserStopped: 5.962134
            delayedMessageThrottled: 1.4658129
            delayedDeviceDoze: 0.8008282
            delayedDeviceOffline: 6.0274563
          messageInsightPercents:
            priorityLowered: 2.302136
        analyticsLabel: analyticsLabel
        appId: appId
      properties:
        analyticsLabel:
          description: The analytics label associated with the messages sent. All
            messages sent without an analytics label will be grouped together in a
            single entry.
          type: string
        appId:
          description: The app ID to which the messages were sent.
          type: string
        data:
          $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1Data'
        date:
          $ref: '#/components/schemas/GoogleTypeDate'
      type: object
    GoogleFirebaseFcmDataV1beta1Data:
      description: Data detailing messaging delivery
      example:
        countMessagesAccepted: countMessagesAccepted
        messageOutcomePercents:
          droppedTooManyPendingMessages: 2.027123
          pending: 4.145608
          droppedAppForceStopped: 9.301444
          delivered: 7.0614014
          droppedDeviceInactive: 3.6160767
        deliveryPerformancePercents:
          deliveredNoDelay: 5.637377
          delayedUserStopped: 5.962134
          delayedMessageThrottled: 1.4658129
          delayedDeviceDoze: 0.8008282
          delayedDeviceOffline: 6.0274563
        messageInsightPercents:
          priorityLowered: 2.302136
      properties:
        countMessagesAccepted:
          description: Count of messages accepted by FCM intended to Android devices.
            The targeted device must have opted in to the collection of usage and
            diagnostic information.
          format: int64
          type: string
        deliveryPerformancePercents:
          $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1DeliveryPerformancePercents'
        messageInsightPercents:
          $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1MessageInsightPercents'
        messageOutcomePercents:
          $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1MessageOutcomePercents'
      type: object
    GoogleFirebaseFcmDataV1beta1DeliveryPerformancePercents:
      description: Overview of delivery performance for messages that were successfully
        delivered. All percentages are calculated with countMessagesAccepted as the
        denominator. These categories are not mutually exclusive; a message can be
        delayed for multiple reasons.
      example:
        deliveredNoDelay: 5.637377
        delayedUserStopped: 5.962134
        delayedMessageThrottled: 1.4658129
        delayedDeviceDoze: 0.8008282
        delayedDeviceOffline: 6.0274563
      properties:
        delayedDeviceDoze:
          description: "The percentage of accepted messages that were delayed because\
            \ the device was in doze mode. Only [normal priority messages](https://firebase.google.com/docs/cloud-messaging/concept-options#setting-the-priority-of-a-message)\
            \ should be delayed due to doze mode."
          format: float
          type: number
        delayedDeviceOffline:
          description: The percentage of accepted messages that were delayed because
            the target device was not connected at the time of sending. These messages
            were eventually delivered when the device reconnected.
          format: float
          type: number
        delayedMessageThrottled:
          description: "The percentage of accepted messages that were delayed due\
            \ to message throttling, such as [collapsible message throttling](https://firebase.google.com/docs/cloud-messaging/concept-options#collapsible_throttling)\
            \ or [maximum message rate throttling](https://firebase.google.com/docs/cloud-messaging/concept-options#device_throttling)."
          format: float
          type: number
        delayedUserStopped:
          description: "The percentage of accepted messages that were delayed because\
            \ the intended device user-profile was [stopped](https://firebase.google.com/docs/cloud-messaging/android/receive#handling_messages)\
            \ on the target device at the time of the send. The messages were eventually\
            \ delivered when the user-profile was started again."
          format: float
          type: number
        deliveredNoDelay:
          description: The percentage of accepted messages that were delivered to
            the device without delay from the FCM system.
          format: float
          type: number
      type: object
    GoogleFirebaseFcmDataV1beta1ListAndroidDeliveryDataResponse:
      description: Response message for ListAndroidDeliveryData.
      example:
        nextPageToken: nextPageToken
        androidDeliveryData:
        - date:
            month: 1
            year: 1
            day: 7
          data:
            countMessagesAccepted: countMessagesAccepted
            messageOutcomePercents:
              droppedTooManyPendingMessages: 2.027123
              pending: 4.145608
              droppedAppForceStopped: 9.301444
              delivered: 7.0614014
              droppedDeviceInactive: 3.6160767
            deliveryPerformancePercents:
              deliveredNoDelay: 5.637377
              delayedUserStopped: 5.962134
              delayedMessageThrottled: 1.4658129
              delayedDeviceDoze: 0.8008282
              delayedDeviceOffline: 6.0274563
            messageInsightPercents:
              priorityLowered: 2.302136
          analyticsLabel: analyticsLabel
          appId: appId
        - date:
            month: 1
            year: 1
            day: 7
          data:
            countMessagesAccepted: countMessagesAccepted
            messageOutcomePercents:
              droppedTooManyPendingMessages: 2.027123
              pending: 4.145608
              droppedAppForceStopped: 9.301444
              delivered: 7.0614014
              droppedDeviceInactive: 3.6160767
            deliveryPerformancePercents:
              deliveredNoDelay: 5.637377
              delayedUserStopped: 5.962134
              delayedMessageThrottled: 1.4658129
              delayedDeviceDoze: 0.8008282
              delayedDeviceOffline: 6.0274563
            messageInsightPercents:
              priorityLowered: 2.302136
          analyticsLabel: analyticsLabel
          appId: appId
      properties:
        androidDeliveryData:
          description: "The delivery data for the provided app. There will be one\
            \ entry per combination of app, date, and analytics label."
          items:
            $ref: '#/components/schemas/GoogleFirebaseFcmDataV1beta1AndroidDeliveryData'
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          type: string
      type: object
    GoogleFirebaseFcmDataV1beta1MessageInsightPercents:
      description: Additional information about message delivery. All percentages
        are calculated with countMessagesAccepted as the denominator.
      example:
        priorityLowered: 2.302136
      properties:
        priorityLowered:
          description: "The percentage of accepted messages that had their priority\
            \ lowered from high to normal. See [documentation for setting message\
            \ priority](https://firebase.google.com/docs/cloud-messaging/android/message-priority)."
          format: float
          type: number
      type: object
    GoogleFirebaseFcmDataV1beta1MessageOutcomePercents:
      description: Percentage breakdown of message delivery outcomes. These categories
        are mutually exclusive. All percentages are calculated with countMessagesAccepted
        as the denominator. These categories may not account for all message outcomes.
      example:
        droppedTooManyPendingMessages: 2.027123
        pending: 4.145608
        droppedAppForceStopped: 9.301444
        delivered: 7.0614014
        droppedDeviceInactive: 3.6160767
      properties:
        delivered:
          description: The percentage of all accepted messages that were successfully
            delivered to the device.
          format: float
          type: number
        droppedAppForceStopped:
          description: The percentage of accepted messages that were dropped because
            the application was force stopped on the device at the time of delivery
            and retries were unsuccessful.
          format: float
          type: number
        droppedDeviceInactive:
          description: "The percentage of accepted messages that were dropped because\
            \ the target device is inactive. FCM will drop messages if the target\
            \ device is deemed inactive by our servers. If a device does reconnect,\
            \ we call [OnDeletedMessages()](https://firebase.google.com/docs/cloud-messaging/android/receive#override-ondeletedmessages)\
            \ in our SDK instead of delivering the messages."
          format: float
          type: number
        droppedTooManyPendingMessages:
          description: "The percentage of accepted messages that were dropped due\
            \ to [too many undelivered non-collapsible messages](https://firebase.google.com/docs/cloud-messaging/concept-options#collapsible_and_non-collapsible_messages).\
            \ Specifically, each app instance can only have 100 pending messages stored\
            \ on our servers for a device which is disconnected. When that device\
            \ reconnects, those messages are delivered. When there are more than the\
            \ maximum pending messages, we call [OnDeletedMessages()](https://firebase.google.com/docs/cloud-messaging/android/receive#override-ondeletedmessages)\
            \ in our SDK instead of delivering the messages."
          format: float
          type: number
        pending:
          description: "The percentage of messages accepted on this day that were\
            \ not dropped and not delivered, due to the device being disconnected\
            \ (as of the end of the America/Los_Angeles day when the message was sent\
            \ to FCM). A portion of these messages will be delivered the next day\
            \ when the device connects but others may be destined to devices that\
            \ ultimately never reconnect."
          format: float
          type: number
      type: object
    GoogleTypeDate:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 1
        year: 1
        day: 7
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          type: integer
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

