openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NASCAR v2
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nascar-v2.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nascar-v2
servers:
- url: http://azure-api.sportsdata.io/nascar/v2
- url: https://azure-api.sportsdata.io/nascar/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DriverRaceProjections/{raceid}:
    get:
      operationId: driver_race_projections_entry_list
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Race ID.
          Example:<code>1</code>, <code>2</code>, etc.
        explode: false
        in: path
        name: raceid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DriverRaceProjection'
                type: array
          description: ""
      summary: Driver Race Projections (Entry List)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/driver/{driverid}:
    get:
      operationId: driver_details
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Driver ID.
          Example:<code>80000268</code>.
        explode: false
        in: path
        name: driverid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
          description: ""
      summary: Driver Details
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/drivers:
    get:
      operationId: drivers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Driver'
                type: array
          description: ""
      summary: Drivers
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/raceresult/{raceid}:
    get:
      operationId: race_results
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Race ID.
          Example:<code>1</code>, <code>2</code>, etc.
        explode: false
        in: path
        name: raceid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceResult'
          description: ""
      summary: Race Results
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/races/{season}:
    get:
      operationId: races_schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Race'
                type: array
          description: ""
      summary: Races / Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/series:
    get:
      operationId: series
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Series'
                type: array
          description: ""
      summary: Series
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Driver:
      example:
        Chassis: Chassis
        BirthPlace: BirthPlace
        NumberDisplay: NumberDisplay
        Updated: Updated
        FirstName: FirstName
        Gender: Gender
        Weight: 5
        Created: Created
        Sponsors: Sponsors
        CrewChief: CrewChief
        DriverID: 0
        Number: 1
        Manufacturer: Manufacturer
        Height: 6
        Team: Team
        LastName: LastName
        PhotoUrl: PhotoUrl
        Engine: Engine
        BirthDate: BirthDate
      properties:
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthPlace:
          nullable: true
          title: BirthPlace
          type: string
        Chassis:
          nullable: true
          title: Chassis
          type: string
        Created:
          nullable: true
          title: Created
          type: string
        CrewChief:
          nullable: true
          title: CrewChief
          type: string
        DriverID:
          nullable: false
          title: DriverID
          type: integer
        Engine:
          nullable: true
          title: Engine
          type: string
        FirstName:
          nullable: true
          title: FirstName
          type: string
        Gender:
          nullable: true
          title: Gender
          type: string
        Height:
          nullable: true
          title: Height
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        Manufacturer:
          nullable: true
          title: Manufacturer
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        NumberDisplay:
          nullable: true
          title: NumberDisplay
          type: string
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        Sponsors:
          nullable: true
          title: Sponsors
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Weight:
          nullable: true
          title: Weight
          type: integer
      title: Driver
    DriverRace:
      example:
        Poles: 1.4894159098541704
        FinalPosition: 9.301444243932576
        DateTime: DateTime
        StartPosition: 5.025004791520295
        Created: Created
        DraftKingsSalary: 1
        Name: Name
        PositionDifferential: 6.84685269835264
        DriverID: 5
        Points: 1.2315135367772556
        CurrentPosition: 6.027456183070403
        Number: 4
        Manufacturer: Manufacturer
        Season: 4
        FastestLaps: 7.061401241503109
        Wins: 9.369310271410669
        FantasyPoints: 5.637376656633329
        NumberDisplay: NumberDisplay
        Updated: Updated
        Bonus: 0.8008281904610115
        QualifyingSpeed: 7.457744773683766
        LapsLed: 2.027123023002322
        Penalty: 7.386281948385884
        FantasyPointsDraftKings: 2.3021358869347655
        Laps: 3.616076749251911
        PoleFinalPosition: 1.0246457001441578
        Day: Day
        StatID: 9
        RaceID: 1
      properties:
        Bonus:
          nullable: true
          title: Bonus
          type: number
        Created:
          nullable: true
          title: Created
          type: string
        CurrentPosition:
          nullable: true
          title: CurrentPosition
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        DriverID:
          nullable: false
          title: DriverID
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FastestLaps:
          nullable: true
          title: FastestLaps
          type: number
        FinalPosition:
          nullable: true
          title: FinalPosition
          type: number
        Laps:
          nullable: true
          title: Laps
          type: number
        LapsLed:
          nullable: true
          title: LapsLed
          type: number
        Manufacturer:
          nullable: true
          title: Manufacturer
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        NumberDisplay:
          nullable: true
          title: NumberDisplay
          type: string
        Penalty:
          nullable: true
          title: Penalty
          type: number
        Points:
          nullable: true
          title: Points
          type: number
        PoleFinalPosition:
          nullable: true
          title: PoleFinalPosition
          type: number
        Poles:
          nullable: true
          title: Poles
          type: number
        PositionDifferential:
          nullable: true
          title: PositionDifferential
          type: number
        QualifyingSpeed:
          nullable: true
          title: QualifyingSpeed
          type: number
        RaceID:
          nullable: true
          title: RaceID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        StartPosition:
          nullable: true
          title: StartPosition
          type: number
        StatID:
          nullable: false
          title: StatID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Wins:
          nullable: true
          title: Wins
          type: number
      title: DriverRace
    DriverRaceProjection:
      example:
        Poles: 1.4894159098541704
        FinalPosition: 9.301444243932576
        DateTime: DateTime
        StartPosition: 5.025004791520295
        Created: Created
        DraftKingsSalary: 1
        Name: Name
        PositionDifferential: 6.84685269835264
        DriverID: 5
        Points: 1.2315135367772556
        CurrentPosition: 6.027456183070403
        Number: 4
        Manufacturer: Manufacturer
        Season: 4
        FastestLaps: 7.061401241503109
        Wins: 9.369310271410669
        FantasyPoints: 5.637376656633329
        NumberDisplay: NumberDisplay
        Updated: Updated
        Bonus: 0.8008281904610115
        QualifyingSpeed: 7.457744773683766
        LapsLed: 2.027123023002322
        Penalty: 7.386281948385884
        FantasyPointsDraftKings: 2.3021358869347655
        Laps: 3.616076749251911
        PoleFinalPosition: 1.0246457001441578
        Day: Day
        StatID: 9
        RaceID: 1
      properties:
        Bonus:
          nullable: true
          title: Bonus
          type: number
        Created:
          nullable: true
          title: Created
          type: string
        CurrentPosition:
          nullable: true
          title: CurrentPosition
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        DriverID:
          nullable: false
          title: DriverID
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FastestLaps:
          nullable: true
          title: FastestLaps
          type: number
        FinalPosition:
          nullable: true
          title: FinalPosition
          type: number
        Laps:
          nullable: true
          title: Laps
          type: number
        LapsLed:
          nullable: true
          title: LapsLed
          type: number
        Manufacturer:
          nullable: true
          title: Manufacturer
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        NumberDisplay:
          nullable: true
          title: NumberDisplay
          type: string
        Penalty:
          nullable: true
          title: Penalty
          type: number
        Points:
          nullable: true
          title: Points
          type: number
        PoleFinalPosition:
          nullable: true
          title: PoleFinalPosition
          type: number
        Poles:
          nullable: true
          title: Poles
          type: number
        PositionDifferential:
          nullable: true
          title: PositionDifferential
          type: number
        QualifyingSpeed:
          nullable: true
          title: QualifyingSpeed
          type: number
        RaceID:
          nullable: true
          title: RaceID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        StartPosition:
          nullable: true
          title: StartPosition
          type: number
        StatID:
          nullable: false
          title: StatID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Wins:
          nullable: true
          title: Wins
          type: number
      title: DriverRaceProjection
    Race:
      example:
        PoleWinnerID: 8
        SeriesID: 6
        Updated: Updated
        RescheduledDay: RescheduledDay
        DateTime: DateTime
        Created: Created
        Name: Name
        IsInProgress: true
        ScheduledLaps: 6
        IsOver: true
        RescheduledDateTime: RescheduledDateTime
        SeriesName: SeriesName
        Broadcast: Broadcast
        Canceled: true
        ActualLaps: 6
        Season: 3
        Day: Day
        WinnerID: 1
        RaceID: 9
        Track: Track
      properties:
        ActualLaps:
          nullable: true
          title: ActualLaps
          type: integer
        Broadcast:
          nullable: true
          title: Broadcast
          type: string
        Canceled:
          nullable: false
          title: Canceled
          type: boolean
        Created:
          nullable: true
          title: Created
          type: string
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        IsInProgress:
          nullable: false
          title: IsInProgress
          type: boolean
        IsOver:
          nullable: false
          title: IsOver
          type: boolean
        Name:
          nullable: true
          title: Name
          type: string
        PoleWinnerID:
          nullable: true
          title: PoleWinnerID
          type: integer
        RaceID:
          nullable: false
          title: RaceID
          type: integer
        RescheduledDateTime:
          nullable: true
          title: RescheduledDateTime
          type: string
        RescheduledDay:
          nullable: true
          title: RescheduledDay
          type: string
        ScheduledLaps:
          nullable: true
          title: ScheduledLaps
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeriesID:
          nullable: false
          title: SeriesID
          type: integer
        SeriesName:
          nullable: true
          title: SeriesName
          type: string
        Track:
          nullable: true
          title: Track
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        WinnerID:
          nullable: true
          title: WinnerID
          type: integer
      title: Race
    RaceResult:
      example:
        DriverRaces:
        - Poles: 1.4894159098541704
          FinalPosition: 9.301444243932576
          DateTime: DateTime
          StartPosition: 5.025004791520295
          Created: Created
          DraftKingsSalary: 1
          Name: Name
          PositionDifferential: 6.84685269835264
          DriverID: 5
          Points: 1.2315135367772556
          CurrentPosition: 6.027456183070403
          Number: 4
          Manufacturer: Manufacturer
          Season: 4
          FastestLaps: 7.061401241503109
          Wins: 9.369310271410669
          FantasyPoints: 5.637376656633329
          NumberDisplay: NumberDisplay
          Updated: Updated
          Bonus: 0.8008281904610115
          QualifyingSpeed: 7.457744773683766
          LapsLed: 2.027123023002322
          Penalty: 7.386281948385884
          FantasyPointsDraftKings: 2.3021358869347655
          Laps: 3.616076749251911
          PoleFinalPosition: 1.0246457001441578
          Day: Day
          StatID: 9
          RaceID: 1
        - Poles: 1.4894159098541704
          FinalPosition: 9.301444243932576
          DateTime: DateTime
          StartPosition: 5.025004791520295
          Created: Created
          DraftKingsSalary: 1
          Name: Name
          PositionDifferential: 6.84685269835264
          DriverID: 5
          Points: 1.2315135367772556
          CurrentPosition: 6.027456183070403
          Number: 4
          Manufacturer: Manufacturer
          Season: 4
          FastestLaps: 7.061401241503109
          Wins: 9.369310271410669
          FantasyPoints: 5.637376656633329
          NumberDisplay: NumberDisplay
          Updated: Updated
          Bonus: 0.8008281904610115
          QualifyingSpeed: 7.457744773683766
          LapsLed: 2.027123023002322
          Penalty: 7.386281948385884
          FantasyPointsDraftKings: 2.3021358869347655
          Laps: 3.616076749251911
          PoleFinalPosition: 1.0246457001441578
          Day: Day
          StatID: 9
          RaceID: 1
        Race:
          PoleWinnerID: 8
          SeriesID: 6
          Updated: Updated
          RescheduledDay: RescheduledDay
          DateTime: DateTime
          Created: Created
          Name: Name
          IsInProgress: true
          ScheduledLaps: 6
          IsOver: true
          RescheduledDateTime: RescheduledDateTime
          SeriesName: SeriesName
          Broadcast: Broadcast
          Canceled: true
          ActualLaps: 6
          Season: 3
          Day: Day
          WinnerID: 1
          RaceID: 9
          Track: Track
      properties:
        DriverRaces:
          items:
            $ref: '#/components/schemas/DriverRace'
          title: DriverRaces
          type: array
        Race:
          $ref: '#/components/schemas/Race'
      title: RaceResult
    Series:
      example:
        SeriesID: 0
        Name: Name
      properties:
        Name:
          nullable: true
          title: Name
          type: string
        SeriesID:
          nullable: false
          title: SeriesID
          type: integer
      title: Series
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
