openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Intelligence
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_intelligence_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_intelligence_v2
servers:
- url: https://intelligence.twilio.com
tags:
- name: IntelligenceV2Media
- name: IntelligenceV2OperatorResult
- name: IntelligenceV2Sentence
- name: IntelligenceV2Service
- name: IntelligenceV2Transcript
paths:
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieves a list of all Services for an account.
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_service_controller
    post:
      description: Create a new Service for the given Account
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - language_code
      - date_created
      - version
      pathType: list
  /v2/Services/{Sid}:
    delete:
      description: Delete a specific Service.
      operationId: delete_service
      parameters:
      - description: A 34 character string that uniquely identifies this Service.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_service_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Service.
      operationId: fetch_service
      parameters:
      - description: A 34 character string that uniquely identifies this Service.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_service_controller
    post:
      description: Update a specific Service.
      operationId: update_service
      parameters:
      - description: A 34 character string that uniquely identifies this Service.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - language_code
      - date_created
      - version
      pathType: instance
  /v2/Transcripts:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Transcripts for a given service.
      operationId: list_transcript
      parameters:
      - description: The unique SID identifier of the Service.
        explode: true
        in: query
        name: ServiceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GA[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: Filter by before StartTime.
        explode: true
        in: query
        name: BeforeStartTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter by after StartTime.
        explode: true
        in: query
        name: AfterStartTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter by before DateCreated.
        explode: true
        in: query
        name: BeforeDateCreated
        required: false
        schema:
          type: string
        style: form
      - description: Filter by after DateCreated.
        explode: true
        in: query
        name: AfterDateCreated
        required: false
        schema:
          type: string
        style: form
      - description: Filter by status.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Language Code.
        explode: true
        in: query
        name: LanguageCode
        required: false
        schema:
          type: string
        style: form
      - description: Filter by SourceSid.
        explode: true
        in: query
        name: SourceSid
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTranscriptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Transcript
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_transcript_controller
    post:
      description: Create a new Transcript for the service
      operationId: create_transcript
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTranscriptRequest'
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.transcript'
          description: Accepted
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Transcript
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_transcript_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      - media_start_time
      - duration
      - status
      dependentProperties:
        media:
          mapping:
            sid: sid
          resource_url: "/v2/Transcripts/{sid}/Media"
        operator_results:
          mapping:
            transcript_sid: sid
          resource_url: "/v2/Transcripts/{transcript_sid}/OperatorResults"
        sentences:
          mapping:
            transcript_sid: sid
          resource_url: "/v2/Transcripts/{transcript_sid}/Sentences"
      pathType: list
  /v2/Transcripts/{Sid}:
    delete:
      description: Delete a specific Transcript.
      operationId: delete_transcript
      parameters:
      - description: A 34 character string that uniquely identifies this Transcript.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Transcript
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_transcript_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Transcript.
      operationId: fetch_transcript
      parameters:
      - description: A 34 character string that uniquely identifies this Transcript.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.transcript'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Transcript
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_transcript_controller
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      - media_start_time
      - duration
      - status
      dependentProperties:
        media:
          mapping:
            sid: sid
          resource_url: "/v2/Transcripts/{sid}/Media"
        operator_results:
          mapping:
            transcript_sid: sid
          resource_url: "/v2/Transcripts/{transcript_sid}/OperatorResults"
        sentences:
          mapping:
            transcript_sid: sid
          resource_url: "/v2/Transcripts/{transcript_sid}/Sentences"
      pathType: instance
  /v2/Transcripts/{Sid}/Media:
    description: "TODO: Resource-level docs"
    get:
      description: Get download URLs for media if possible
      operationId: fetch_media
      parameters:
      - description: The unique SID identifier of the Transcript.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Grant access to PII Redacted/Unredacted Media. If redaction\
          \ is enabled, the default is `true` to access redacted media."
        explode: true
        in: query
        name: Redacted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.transcript.media'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Media
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_media_controller
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - service_sid
      - sid
      parent: "/Transcripts/{Sid}"
      pathType: instance
  /v2/Transcripts/{TranscriptSid}/OperatorResults:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Operator Results for the given Transcript.
      operationId: list_operator_result
      parameters:
      - description: A 34 character string that uniquely identifies this Transcript.
        explode: false
        in: path
        name: TranscriptSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Grant access to PII redacted/unredacted Language Understanding\
          \ operator. If redaction is enabled, the default is True."
        explode: true
        in: query
        name: Redacted
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperatorResultResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2OperatorResult
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_operator_result_controller
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - operator_sid
      parent: "/Transcripts/{Sid}"
      pathType: list
  /v2/Transcripts/{TranscriptSid}/OperatorResults/{OperatorSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Operator Result for the given Transcript.
      operationId: fetch_operator_result
      parameters:
      - description: A 34 character string that uniquely identifies this Transcript.
        explode: false
        in: path
        name: TranscriptSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that identifies this Language Understanding
          operator sid.
        explode: false
        in: path
        name: OperatorSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^LY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Grant access to PII redacted/unredacted Language Understanding\
          \ operator. If redaction is enabled, the default is True."
        explode: true
        in: query
        name: Redacted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.transcript.operator_result'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2OperatorResult
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_operator_result_controller
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - operator_sid
      parent: "/Transcripts/{Sid}"
      pathType: instance
  /v2/Transcripts/{TranscriptSid}/Sentences:
    description: "TODO: Resource-level docs"
    get:
      description: Get all Transcript Sentences by TranscriptSid
      operationId: list_sentence
      parameters:
      - description: The unique SID identifier of the Transcript.
        explode: false
        in: path
        name: TranscriptSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Grant access to PII Redacted/Unredacted Sentences. If redaction\
          \ is enabled, the default is `true` to access redacted sentences."
        explode: true
        in: query
        name: Redacted
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSentenceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IntelligenceV2Sentence
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.intelligence_v2_sentence_controller
    servers:
    - url: https://intelligence.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - media_channel
      - sentence_index
      - transcript
      - start_time
      - end_time
      - confidence
      parent: "/Transcripts/{Sid}"
      pathType: list
components:
  schemas:
    intelligence.v2.service:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        media_redaction: true
        webhook_http_method: webhook_http_method
        webhook_url: webhook_url
        date_created: 2000-01-23T04:56:07.000+00:00
        version: 1
        url: https://openapi-generator.tech
        auto_transcribe: true
        sid: sid
        language_code: language_code
        data_logging: true
        unique_name: unique_name
        auto_redaction: true
        account_sid: account_sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account the Service belongs
            to.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        auto_redaction:
          description: Instructs the Speech Recognition service to automatically redact
            PII from all transcripts made on this service.
          nullable: true
          title: auto_redaction
          type: boolean
        auto_transcribe:
          description: Instructs the Speech Recognition service to automatically transcribe
            all recordings made on the account.
          nullable: true
          title: auto_transcribe
          type: boolean
        data_logging:
          description: |-
            Data logging allows Twilio to improve the quality of the speech recognition & language understanding services through using customer data to refine, fine tune and evaluate machine learning models.
            Note: Data logging cannot be activated via API, only via www.twilio.com, as it requires additional consent.
          nullable: true
          title: data_logging
          type: boolean
        date_created:
          description: "The date that this Service was created, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this Service was updated, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: "A human readable description of this resource, up to 64 characters."
          nullable: true
          title: friendly_name
          type: string
        language_code:
          description: The default language code of the audio.
          nullable: true
          title: language_code
          type: string
        media_redaction:
          description: "Instructs the Speech Recognition service to automatically\
            \ redact PII from all transcripts media made on this service. The auto_redaction\
            \ flag must be enabled, results in error otherwise."
          nullable: true
          title: media_redaction
          type: boolean
        sid:
          description: A 34 character string that uniquely identifies this Service.
          nullable: true
          title: sid
          type: string
        unique_name:
          description: "Provides a unique and addressable name to be assigned to this\
            \ Service, assigned by the developer, to be optionally used in addition\
            \ to SID."
          nullable: true
          title: unique_name
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
        version:
          description: The version number of this Service.
          nullable: true
          title: version
          type: integer
        webhook_http_method:
          $ref: '#/components/schemas/service_enum_http_method'
        webhook_url:
          description: The URL Twilio will request when executing the Webhook.
          nullable: true
          title: webhook_url
          type: string
      title: intelligence.v2.service
      type: object
    intelligence.v2.transcript:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        channel: ""
        redaction: true
        url: https://openapi-generator.tech
        sid: sid
        duration: 0
        service_sid: service_sid
        customer_key: customer_key
        language_code: language_code
        data_logging: true
        media_start_time: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        status: status
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel:
          description: Media Channel describing Transcript Source and Participant
            Mapping
          nullable: true
          title: channel
        customer_key:
          nullable: true
          title: customer_key
          type: string
        data_logging:
          description: |-
            Data logging allows Twilio to improve the quality of the speech recognition & language understanding services through using customer data to refine, fine tune and evaluate machine learning models.
            Note: Data logging cannot be activated via API, only via www.twilio.com, as it requires additional consent.
          nullable: true
          title: data_logging
          type: boolean
        date_created:
          description: "The date that this Transcript was created, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this Transcript was updated, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        duration:
          description: The duration of this Transcript's source
          nullable: true
          title: duration
          type: integer
        language_code:
          description: The default language code of the audio.
          nullable: true
          title: language_code
          type: string
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        media_start_time:
          description: "The date that this Transcript's media was started, given in\
            \ ISO 8601 format."
          format: date-time
          nullable: true
          title: media_start_time
          type: string
        redaction:
          description: "If the transcript has been redacted, a redacted alternative\
            \ of the transcript will be available."
          nullable: true
          title: redaction
          type: boolean
        service_sid:
          description: The unique SID identifier of the Service.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GA[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: A 34 character string that uniquely identifies this Transcript.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/transcript_enum_status'
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: intelligence.v2.transcript
      type: object
    intelligence.v2.transcript.media:
      example:
        service_sid: service_sid
        account_sid: account_sid
        media_url: https://openapi-generator.tech
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        media_url:
          description: "Downloadable URL for media, if stored in Twilio AI."
          format: uri
          nullable: true
          title: media_url
          type: string
        service_sid:
          description: The unique SID identifier of the Service.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GA[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique SID identifier of the Transcript.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: intelligence.v2.transcript.media
      type: object
    intelligence.v2.transcript.operator_result:
      example:
        label_probabilities: ""
        transcript_sid: transcript_sid
        text_generation_results: ""
        extract_match: true
        url: https://openapi-generator.tech
        operator_type: operator_type
        predicted_probability: 6.027456183070403
        utterance_match: true
        extract_results: ""
        name: name
        operator_sid: operator_sid
        normalized_result: normalized_result
        predicted_label: predicted_label
        utterance_results:
        - ""
        - ""
        match_probability: 0.8008281904610115
      properties:
        extract_match:
          description: Boolean to tell if extract Language Understanding Processing
            model matches results.
          nullable: true
          title: extract_match
          type: boolean
        extract_results:
          description: List of text extraction results. This might be available on
            classify-extract model outputs.
          nullable: true
          title: extract_results
        label_probabilities:
          description: The labels probabilities. This might be available on conversation
            classify model outputs.
          nullable: true
          title: label_probabilities
        match_probability:
          description: Percentage of 'matching' class needed to consider a sentence
            matches
          nullable: true
          title: match_probability
          type: number
        name:
          description: The name of the applied Language Understanding.
          nullable: true
          title: name
          type: string
        normalized_result:
          description: Normalized output of extraction stage which matches Label.
          nullable: true
          title: normalized_result
          type: string
        operator_sid:
          description: A 34 character string that identifies this Language Understanding
            operator sid.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^LY[0-9a-fA-F]{32}$"
          title: operator_sid
          type: string
        operator_type:
          $ref: '#/components/schemas/operator_result_enum_operator_type'
        predicted_label:
          description: The 'matching' class. This might be available on conversation
            classify model outputs.
          nullable: true
          title: predicted_label
          type: string
        predicted_probability:
          description: Percentage of 'matching' class needed to consider a sentence
            matches.
          nullable: true
          title: predicted_probability
          type: number
        text_generation_results:
          description: Output of a text generation operator for example Conversation
            Sumamary.
          nullable: true
          title: text_generation_results
        transcript_sid:
          description: A 34 character string that uniquely identifies this Transcript.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GT[0-9a-fA-F]{32}$"
          title: transcript_sid
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
        utterance_match:
          description: Boolean to tell if Utterance matches results.
          nullable: true
          title: utterance_match
          type: boolean
        utterance_results:
          description: List of mapped utterance object which matches sentences.
          items: {}
          nullable: true
          title: utterance_results
          type: array
      title: intelligence.v2.transcript.operator_result
      type: object
    intelligence.v2.transcript.sentence:
      example:
        start_time: 5.637376656633329
        transcript: transcript
        media_channel: 1
        confidence: 0.8008281904610115
        end_time: 6.027456183070403
        sentence_index: 5
        sid: sid
      properties:
        confidence:
          nullable: true
          title: confidence
          type: number
        end_time:
          description: Offset from the beginning of the transcript when this sentence
            ends.
          nullable: true
          title: end_time
          type: number
        media_channel:
          description: The channel number.
          nullable: true
          title: media_channel
          type: integer
        sentence_index:
          description: The index of the sentence in the transcript.
          nullable: true
          title: sentence_index
          type: integer
        sid:
          description: A 34 character string that uniquely identifies this Sentence.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        start_time:
          description: Offset from the beginning of the transcript when this sentence
            starts.
          nullable: true
          title: start_time
          type: number
        transcript:
          description: Transcript text.
          nullable: true
          title: transcript
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: sensitive
      title: intelligence.v2.transcript.sentence
      type: object
    operator_result_enum_operator_type:
      enum:
      - conversation_classify
      - utterance_classify
      - extract
      - extract_normalize
      - pii_extract
      title: operator_result_enum_operator_type
      type: string
    service_enum_http_method:
      enum:
      - GET
      - POST
      - "NULL"
      title: service_enum_http_method
      type: string
    transcript_enum_call_direction:
      enum:
      - inbound
      - outbound
      - internal
      - unknown
      type: string
    transcript_enum_status:
      enum:
      - queued
      - in-progress
      - completed
      - failed
      - canceled
      title: transcript_enum_status
      type: string
    ListServiceResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListServiceResponse_meta
      type: object
    ListServiceResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        services:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          media_redaction: true
          webhook_http_method: webhook_http_method
          webhook_url: webhook_url
          date_created: 2000-01-23T04:56:07.000+00:00
          version: 1
          url: https://openapi-generator.tech
          auto_transcribe: true
          sid: sid
          language_code: language_code
          data_logging: true
          unique_name: unique_name
          auto_redaction: true
          account_sid: account_sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          media_redaction: true
          webhook_http_method: webhook_http_method
          webhook_url: webhook_url
          date_created: 2000-01-23T04:56:07.000+00:00
          version: 1
          url: https://openapi-generator.tech
          auto_transcribe: true
          sid: sid
          language_code: language_code
          data_logging: true
          unique_name: unique_name
          auto_redaction: true
          account_sid: account_sid
      properties:
        meta:
          $ref: '#/components/schemas/ListServiceResponse_meta'
        services:
          items:
            $ref: '#/components/schemas/intelligence.v2.service'
          title: services
          type: array
      title: ListServiceResponse
      type: object
    CreateServiceRequest:
      properties:
        AutoRedaction:
          description: Instructs the Speech Recognition service to automatically redact
            PII from all transcripts made on this service.
          type: boolean
        AutoTranscribe:
          description: Instructs the Speech Recognition service to automatically transcribe
            all recordings made on the account.
          type: boolean
        DataLogging:
          description: |-
            Data logging allows Twilio to improve the quality of the speech recognition & language understanding services through using customer data to refine, fine tune and evaluate machine learning models.
            Note: Data logging cannot be activated via API, only via www.twilio.com, as it requires additional consent.
          type: boolean
        FriendlyName:
          description: "A human readable description of this resource, up to 64 characters."
          type: string
        LanguageCode:
          description: The default language code of the audio.
          type: string
        MediaRedaction:
          description: "Instructs the Speech Recognition service to automatically\
            \ redact PII from all transcripts media made on this service. The auto_redaction\
            \ flag must be enabled, results in error otherwise."
          type: boolean
        UniqueName:
          description: "Provides a unique and addressable name to be assigned to this\
            \ Service, assigned by the developer, to be optionally used in addition\
            \ to SID."
          type: string
        WebhookHttpMethod:
          $ref: '#/components/schemas/service_enum_http_method'
        WebhookUrl:
          description: The URL Twilio will request when executing the Webhook.
          type: string
      required:
      - UniqueName
      title: CreateServiceRequest
      type: object
    UpdateServiceRequest:
      properties:
        AutoRedaction:
          description: Instructs the Speech Recognition service to automatically redact
            PII from all transcripts made on this service.
          type: boolean
        AutoTranscribe:
          description: Instructs the Speech Recognition service to automatically transcribe
            all recordings made on the account.
          type: boolean
        DataLogging:
          description: |-
            Data logging allows Twilio to improve the quality of the speech recognition & language understanding services through using customer data to refine, fine tune and evaluate machine learning models.
            Note: Data logging cannot be activated via API, only via www.twilio.com, as it requires additional consent.
          type: boolean
        FriendlyName:
          description: "A human readable description of this resource, up to 64 characters."
          type: string
        LanguageCode:
          description: The default language code of the audio.
          type: string
        MediaRedaction:
          description: "Instructs the Speech Recognition service to automatically\
            \ redact PII from all transcripts media made on this service. The auto_redaction\
            \ flag must be enabled, results in error otherwise."
          type: boolean
        UniqueName:
          description: "Provides a unique and addressable name to be assigned to this\
            \ Service, assigned by the developer, to be optionally used in addition\
            \ to SID."
          type: string
        WebhookHttpMethod:
          $ref: '#/components/schemas/service_enum_http_method'
        WebhookUrl:
          description: The URL Twilio will request when executing the Webhook.
          type: string
      title: UpdateServiceRequest
      type: object
    ListTranscriptResponse:
      example:
        transcripts:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          channel: ""
          redaction: true
          url: https://openapi-generator.tech
          sid: sid
          duration: 0
          service_sid: service_sid
          customer_key: customer_key
          language_code: language_code
          data_logging: true
          media_start_time: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          status: status
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          channel: ""
          redaction: true
          url: https://openapi-generator.tech
          sid: sid
          duration: 0
          service_sid: service_sid
          customer_key: customer_key
          language_code: language_code
          data_logging: true
          media_start_time: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListServiceResponse_meta'
        transcripts:
          items:
            $ref: '#/components/schemas/intelligence.v2.transcript'
          title: transcripts
          type: array
      title: ListTranscriptResponse
      type: object
    CreateTranscriptRequest:
      properties:
        Channel:
          description: JSON object describing Media Channel including Source and Participants
        CustomerKey:
          description: Used to store client provided metadata. Maximum of 64 double-byte
            UTF8 characters.
          type: string
        MediaStartTime:
          description: "The date that this Transcript's media was started, given in\
            \ ISO 8601 format."
          format: date-time
          type: string
        ServiceSid:
          description: The unique SID identifier of the Service.
          maxLength: 34
          minLength: 34
          pattern: "^GA[0-9a-fA-F]{32}$"
          type: string
      required:
      - Channel
      - ServiceSid
      title: CreateTranscriptRequest
      type: object
    ListOperatorResultResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        operator_results:
        - label_probabilities: ""
          transcript_sid: transcript_sid
          text_generation_results: ""
          extract_match: true
          url: https://openapi-generator.tech
          operator_type: operator_type
          predicted_probability: 6.027456183070403
          utterance_match: true
          extract_results: ""
          name: name
          operator_sid: operator_sid
          normalized_result: normalized_result
          predicted_label: predicted_label
          utterance_results:
          - ""
          - ""
          match_probability: 0.8008281904610115
        - label_probabilities: ""
          transcript_sid: transcript_sid
          text_generation_results: ""
          extract_match: true
          url: https://openapi-generator.tech
          operator_type: operator_type
          predicted_probability: 6.027456183070403
          utterance_match: true
          extract_results: ""
          name: name
          operator_sid: operator_sid
          normalized_result: normalized_result
          predicted_label: predicted_label
          utterance_results:
          - ""
          - ""
          match_probability: 0.8008281904610115
      properties:
        meta:
          $ref: '#/components/schemas/ListServiceResponse_meta'
        operator_results:
          items:
            $ref: '#/components/schemas/intelligence.v2.transcript.operator_result'
          title: operator_results
          type: array
      title: ListOperatorResultResponse
      type: object
    ListSentenceResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        sentences:
        - start_time: 5.637376656633329
          transcript: transcript
          media_channel: 1
          confidence: 0.8008281904610115
          end_time: 6.027456183070403
          sentence_index: 5
          sid: sid
        - start_time: 5.637376656633329
          transcript: transcript
          media_channel: 1
          confidence: 0.8008281904610115
          end_time: 6.027456183070403
          sentence_index: 5
          sid: sid
      properties:
        meta:
          $ref: '#/components/schemas/ListServiceResponse_meta'
        sentences:
          items:
            $ref: '#/components/schemas/intelligence.v2.transcript.sentence'
          title: sentences
          type: array
      title: ListSentenceResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta
