openapi: 3.0.1
info:
  description: A client for issuing REST requests to the Azure metrics service.
  title: Azure Metrics
  version: 2018-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: AzureMetricsClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/data-plane/preview/2018-09-01-preview/metricsCreate_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-metricsCreate_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://monitoring.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProvider}/{resourceTypeName}/{resourceName}/metrics
  : post:
      description: '**Post the metric values for a resource**.'
      operationId: Metrics_Create
      parameters:
      - description: Supports application/json and application/x-ndjson
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      - description: Content length of the payload
        in: header
        name: Content-Length
        required: true
        schema:
          format: int32
          type: integer
      - description: Authorization token issue for issued for audience "https:\\monitoring.azure.com\"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The azure subscription id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The ARM resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The ARM resource provider name
        in: path
        name: resourceProvider
        required: true
        schema:
          type: string
      - description: The ARM resource type name
        in: path
        name: resourceTypeName
        required: true
        schema:
          type: string
      - description: The ARM resource name
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureMetricsDocument'
        description: The Azure metrics document json payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMetricsResult'
          description: The azure metrics publish succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureMetricsResult'
          description: An unexpected error from the server. See response object for
            the reason
      tags:
      - Metrics
      x-ms-examples:
        Post azure metrics for cows sold with related metadata as dimensions:
          parameters:
            Authorization: "Bearer {AAD JWT token issued for \"https:\\\\monitoring.azure.com\\\
              }\""
            Content-Length: 783
            Content-Type: application/json
            api-version: 2018-09-01-preview
            body:
              data:
                baseData:
                  dimNames:
                  - Breed
                  - Color
                  - Age
                  metric: CowsSold
                  namespace: Cows
                  series:
                  - count: 3
                    dimValues:
                    - Angus
                    - Blue
                    - "5"
                    max: 20
                    min: 5
                    sum: 30
              time: 2018-08-24T 11:02:00-7:00
            resourceGroupName: CowsSeller
            resourceName: cowssellerstore
            resourceProvider: Microsoft.Storage
            resourceTypeName: storageAccounts
            subscriptionId: b7ac8a0c-fbae-4e29-a0f7-09999b8857a1
          responses:
            "200":
              body:
                statusCode: 200
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ApiError:
      example:
        code: code
        message: message
      properties:
        code:
          description: Gets or sets the azure metrics error code
          type: string
        message:
          description: Gets or sets the azure metrics error message
          type: string
      type: object
    ApiFailureResponse:
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      type: object
    AzureMetricsBaseData:
      example:
        metric: metric
        series:
        - dimValues:
          - dimValues
          - dimValues
          min: 1.4658129805029452
          max: 6.027456183070403
          count: 0
          sum: 5.962133916683182
        - dimValues:
          - dimValues
          - dimValues
          min: 1.4658129805029452
          max: 6.027456183070403
          count: 0
          sum: 5.962133916683182
        namespace: namespace
        dimNames:
        - dimNames
        - dimNames
      properties:
        dimNames:
          description: Gets or sets the list of dimension names (optional)
          items:
            type: string
          type: array
        metric:
          description: Gets or sets the Metric name
          type: string
        namespace:
          description: Gets or sets the Metric namespace
          type: string
        series:
          description: Gets or sets the list of time series data for the metric (one
            per unique dimension combination)
          items:
            $ref: '#/components/schemas/AzureTimeSeriesData'
          type: array
      required:
      - metric
      - namespace
      - series
      type: object
    AzureMetricsData:
      example:
        baseData:
          metric: metric
          series:
          - dimValues:
            - dimValues
            - dimValues
            min: 1.4658129805029452
            max: 6.027456183070403
            count: 0
            sum: 5.962133916683182
          - dimValues:
            - dimValues
            - dimValues
            min: 1.4658129805029452
            max: 6.027456183070403
            count: 0
            sum: 5.962133916683182
          namespace: namespace
          dimNames:
          - dimNames
          - dimNames
      properties:
        baseData:
          $ref: '#/components/schemas/AzureMetricsBaseData'
      required:
      - baseData
      type: object
    AzureMetricsDocument:
      example:
        data:
          baseData:
            metric: metric
            series:
            - dimValues:
              - dimValues
              - dimValues
              min: 1.4658129805029452
              max: 6.027456183070403
              count: 0
              sum: 5.962133916683182
            - dimValues:
              - dimValues
              - dimValues
              min: 1.4658129805029452
              max: 6.027456183070403
              count: 0
              sum: 5.962133916683182
            namespace: namespace
            dimNames:
            - dimNames
            - dimNames
        time: time
      properties:
        data:
          $ref: '#/components/schemas/AzureMetricsData'
        time:
          description: Gets or sets Time property (in ISO 8601 format)
          type: string
      required:
      - data
      - time
      type: object
    AzureMetricsResult:
      example:
        apiFailureResponse:
          error:
            code: code
            message: message
        statusCode: 0
      properties:
        apiFailureResponse:
          $ref: '#/components/schemas/ApiFailureResponse'
        statusCode:
          description: 'Http status code response '
          format: int32
          type: integer
      type: object
    AzureTimeSeriesData:
      example:
        dimValues:
        - dimValues
        - dimValues
        min: 1.4658129805029452
        max: 6.027456183070403
        count: 0
        sum: 5.962133916683182
      properties:
        count:
          description: Gets or sets Count value
          format: int32
          type: integer
        dimValues:
          description: Gets or sets dimension values
          items:
            type: string
          type: array
        max:
          description: Gets or sets Max value
          format: double
          type: number
        min:
          description: Gets or sets Min value
          format: double
          type: number
        sum:
          description: Gets or sets Sum value
          format: double
          type: number
      required:
      - count
      - max
      - min
      - sum
      type: object
x-original-swagger-version: "2.0"

