openapi: 3.0.1
info:
  description: Consumption management client provides access to consumption resources
    for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/preview/2018-11-01-preview/consumption.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: "Consumption APIs for Azure Go-to-market scopes. Includes Credits,\
    \ Events, Lots, Charges and Pricesheets."
  externalDocs:
    url: https://docs.microsoft.com/en-us/rest/api/consumption/
  name: GTM-Preview
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/charges
  : get:
      description: "Lists the charges by billing profile id for given start and end\
        \ date. Start and end date are used to determine the billing period. For current\
        \ month, the data will be provided from month to date. If there are no charges\
        \ for a month then that month will show all zeroes."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_by_billing_profile_list
      parameters:
      - description: BillingAccount ID
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billingProfileId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Start date
        in: query
        name: startDate
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: End date
        in: query
        name: endDate
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByBillingProfile'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChargesListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            endDate: 2019-02-28
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                  name: bcb1b554-985d-46e5-d9a3-92399414677e
                  properties:
                    azureCharges:
                      currency: USD
                      value: 27000
                    billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                    billingPeriodId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Billing/billingPeriods/201902
                    billingProfileId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe
                    chargesBilledSeparately:
                      currency: USD
                      value: 4487.5
                    marketplaceCharges:
                      currency: USD
                      value: 0
                    usageEnd: 2019-02-28
                    usageStart: 2019-02-01
                  type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/balanceSummary
  : get:
      description: The credit summary by billingAccountId and billingProfileId for
        given start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: credit_summary_by_billing_profile_get
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditSummary'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Credits
      x-ms-examples:
        CreditSummaryByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/credits/balanceSummary/436626aa-9ebd-4ef6-94e7-91bfef2f2859
                name: 436626aa-9ebd-4ef6-94e7-91bfef2f2859
                properties:
                  balanceSummary:
                    currentBalance:
                      currency: USD
                      value: 100
                    estimatedBalance:
                      currency: USD
                      value: 600
                  expiredCredit:
                    currency: USD
                    value: 0
                  pendingCreditAdjustments:
                    currency: USD
                    value: 500
                  pendingEligibleCharges:
                    currency: USD
                    value: 0
                type: Microsoft.Consumption/credits/balanceSummary
      x-openapi-router-controller: openapi_server.controllers.credits_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/events
  : get:
      description: Lists the events by billingAccountId and billingProfileId for given
        start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: events_by_billing_profile_list
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Start date
        in: query
        name: start_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: End date
        in: query
        name: end_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Events
      x-ms-examples:
        EventsListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            endDate: 2018-05-30
            startDate: 2018-04-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/events/bcb1b554-985d-46e5-d9a3-92399414677e
                  name: bcb1b554-985d-46e5-d9a3-92399414677e
                  properties:
                    adjustments:
                      currency: USD
                      value: 0
                    charges:
                      currency: USD
                      value: 500
                    closedBalance:
                      currency: USD
                      value: 500
                    creditExpired:
                      currency: USD
                      value: 0
                    description: "Settled invoice #312033"
                    eventType: SettledCharges
                    invoiceNumber: "3301"
                    newCredit:
                      currency: USD
                      value: 0
                    transactionDate: 2018-01-01T00:00:00Z
                  type: Microsoft.Consumption/events
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/events/6898a55b-96f2-40bb-8329-bf3b493f3d88
                  name: 6898a55b-96f2-40bb-8329-bf3b493f3d88
                  properties:
                    adjustments:
                      currency: USD
                      value: 0
                    charges:
                      currency: USD
                      value: 0
                    closedBalance:
                      currency: USD
                      value: 900
                    creditExpired:
                      currency: USD
                      value: 0
                    description: New credits added
                    eventType: NewCredit
                    invoiceNumber: "3302"
                    newCredit:
                      currency: USD
                      value: 400
                    transactionDate: 2018-02-01T00:00:00Z
                  type: Microsoft.Consumption/events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/lots
  : get:
      description: Lists the lots by billingAccountId and billingProfileId for given
        start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: lots_by_billing_profile_list
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lots'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Lots
      x-ms-examples:
        LotsListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/lots/e3f15e96-afad-4940-b459-0c7ea9692efe
                  name: e3f15e96-afad-4940-b459-0c7ea9692efe
                  properties:
                    closedBalance:
                      currency: USD
                      value: 60.9
                    expirationDate: 2018-03-01T00:00:00Z
                    originalAmount:
                      currency: USD
                      value: 5000
                    poNumber: "3524"
                    source: PurchasedCredit
                    startDate: 2018-02-01T00:00:00Z
                  type: Microsoft.Consumption/lots
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/lots/436626aa-9ebd-4ef6-94e7-91bfef2f2859
                  name: 436626aa-9ebd-4ef6-94e7-91bfef2f2859
                  properties:
                    closedBalance:
                      currency: USD
                      value: 80.9
                    expirationDate: 2018-12-31T00:00:00Z
                    originalAmount:
                      currency: USD
                      value: 6000
                    poNumber: "31224"
                    source: PurchasedCredit
                    startDate: 2018-04-01T00:00:00Z
                  type: Microsoft.Consumption/lots
      x-openapi-router-controller: openapi_server.controllers.lots_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/providers/Microsoft.Consumption/charges
  : get:
      description: "Lists the charges by invoice section id for given start and end\
        \ date. Start and end date are used to determine the billing period. For current\
        \ month, the data will be provided from month to date. If there are no charges\
        \ for a month then that month will show all zeroes."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_by_invoice_section_list
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Invoice Section Id.
        in: path
        name: invoiceSectionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Start date
        in: query
        name: start_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: End date
        in: query
        name: end_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to group charges by properties/productName.
        in: query
        name: $apply
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByInvoiceSection'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChargesListByInvoiceSection:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            endDate: 2019-02-28
            invoiceSectionId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/invoiceSections/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                  name: bcb1b554-985d-46e5-d9a3-92399414677e
                  properties:
                    azureCharges:
                      currency: USD
                      value: 27000
                    billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                    billingPeriodId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Billing/billingPeriods/201902
                    chargesBilledSeparately:
                      currency: USD
                      value: 4487.5
                    invoiceSectionId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/invoiceSections/f30c32de-fba9-4cf1-a146-2ff60881e0fe
                    marketplaceCharges:
                      currency: USD
                      value: 0
                    usageEnd: 2019-02-28
                    usageStart: 2019-02-01
                  type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/charges:
    get:
      description: "Lists the charges by billingAccountId for given start and end\
        \ date. Start and end date are used to determine the billing period. For current\
        \ month, the data will be provided from month to date. If there are no charges\
        \ for a month then that month will show all zeroes."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_by_billing_account_list
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Start date
        in: query
        name: start_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: End date
        in: query
        name: end_date
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to group charges by properties/billingProfileId,\
          \ or properties/invoiceSectionId."
        in: query
        name: $apply
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByBillingAccount'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChargesListByBillingAccount:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            endDate: 2019-02-28
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                  name: bcb1b554-985d-46e5-d9a3-92399414677e
                  properties:
                    azureCharges:
                      currency: USD
                      value: 5000
                    billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                    billingPeriodId: /providers/Microsoft.Billing/billingAccounts/bcb1b554-985d-46e5-d9a3-92399414677e/providers/Microsoft.Billing/billingPeriods/201902
                    chargesBilledSeparately:
                      currency: USD
                      value: 60.9
                    marketplaceCharges:
                      currency: USD
                      value: 100
                    usageEnd: 2019-02-28
                    usageStart: 2019-02-01
                  type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/pricesheet/default/download
  : post:
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: billing_profile_pricesheet_download
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Billing Account Id.
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
      - description: Azure Billing Profile Id.
        in: path
        name: billingProfileId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesheetDownloadResponse'
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
            Azure-AsyncOperation:
              description: "To get the progress of the operation, call GET operation\
                \ on the URL in Azure-AsyncOperation header field."
              schema:
                type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - pricesheets
      x-ms-examples:
        pricesheetDownload:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
            billingProfileId: 95869cd5-6f00-42b3-8708-04e85fef9e15
          responses:
            "200":
              body:
                id: /providers/Microsoft.Consumption/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/pricesheets/default
                name: default
                properties:
                  downloadUrl: https://myaccount.blob.core.windows.net/?restype=service&comp=properties&sv=2015-04-05&ss=bf&srt=s&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=F%6GRVAZ5Cdj2Pw4tgU7IlSTkWgn7bUkkAg8P6HESXwmf%4B
                  expiryTime: 03/05/2019 20:13:06
                type: Microsoft.Consumption/pricesheets
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/providers/Microsoft.Billing/operationStatus/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                Location: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/billingProfiles/2dcffe0c-ee92-4265-8647-515b8fe7dc78/pricesheetDownloadOperations/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                OData-EntityId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.pricesheets_controller
  /providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/invoices/{invoiceName}/pricesheet/default/download:
    post:
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: invoice_pricesheet_download
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Billing Account Id.
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
      - description: The name of an invoice resource.
        in: path
        name: invoiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesheetDownloadResponse'
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
            Azure-AsyncOperation:
              description: "To get the progress of the operation, call GET operation\
                \ on the URL in Azure-AsyncOperation header field."
              schema:
                type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - pricesheets
      x-ms-examples:
        pricesheetDownload:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
            invoiceName: 95869cd5-6f00-42b3-8708-04e85fef9e15
          responses:
            "200":
              body:
                id: /providers/Microsoft.Consumption/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/pricesheets/default
                name: default
                properties:
                  downloadUrl: https://myaccount.blob.core.windows.net/?restype=service&comp=properties&sv=2015-04-05&ss=bf&srt=s&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=F%6GRVAZ5Cdj2Pw4tgU7IlSTkWgn7bUkkAg8P6HESXwmf%4B
                  expiryTime: 03/05/2019 20:13:06
                type: Microsoft.Consumption/pricesheets
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/providers/Microsoft.Billing/operationStatus/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                Location: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/invoices/2dcffe0c-ee92-4265-8647-515b8fe7dc78/pricesheetDownloadOperations/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                OData-EntityId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.pricesheets_controller
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2018-11-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    billingProfileIdParameter:
      description: Billing Profile Id.
      in: path
      name: billingProfileId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    endDateParameter:
      description: End date
      in: query
      name: endDate
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    invoiceNameParameter:
      description: Invoice name.
      in: path
      name: invoiceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    invoiceSectionIdParameter:
      description: Invoice Section Id.
      in: path
      name: invoiceSectionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    startDateParameter:
      description: Start date
      in: query
      name: startDate
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Address:
      description: Address details.
      properties:
        addressLine1:
          description: Address Line1.
          title: addressLine1
          type: string
        addressLine2:
          description: Address Line2.
          title: addressLine2
          type: string
        addressLine3:
          description: Address Line3.
          title: addressLine3
          type: string
        city:
          description: Address City.
          title: city
          type: string
        country:
          description: "Country code uses ISO2, 2-digit format.."
          title: country
          type: string
        phoneNumber:
          description: Phone Number.
          title: phoneNumber
          type: string
        postalCode:
          description: Postal Code.
          title: postalCode
          type: string
        region:
          description: Address Region.
          title: region
          type: string
      title: Address
      type: object
    Amount:
      description: Object to represent monetary quantities.
      example:
        currency: currency
        value: 0.8008281904610115
      properties:
        currency:
          description: The currency for the amount value.
          readOnly: true
          title: currency
          type: string
        value:
          description: Amount value.
          readOnly: true
          title: value
          type: number
      title: Amount
      type: object
    BillingAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A billing account resource.
      properties:
        properties:
          $ref: '#/components/schemas/BillingAccountProperties'
    BillingAccountProperties:
      description: The properties of the billing account.
      properties:
        accountType:
          description: The billing account Type.
          enum:
          - CommerceRoot
          - Enrollment
          readOnly: true
          title: accountType
          type: string
        address:
          $ref: '#/components/schemas/Address'
        agreements:
          description: Agreements associated with billing account
          readOnly: true
          title: agreements
          type: string
        billingProfiles:
          description: The billing profiles associated to the billing account.
          items:
            $ref: '#/components/schemas/BillingProfile'
          readOnly: true
          title: billingProfiles
          type: array
        company:
          description: The Company this billing account belongs to.
          readOnly: true
          title: company
          type: string
        country:
          description: The country associated with billing account.
          readOnly: true
          title: country
          type: string
        defaultCurrency:
          description: "The ISO currency, for example, USD."
          readOnly: true
          title: defaultCurrency
          type: string
        departments:
          description: The departments associated to the enrollment.
          items:
            $ref: '#/components/schemas/Department'
          readOnly: true
          title: departments
          type: array
        enrollmentAccounts:
          description: The accounts associated to the enrollment.
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
          readOnly: true
          title: enrollmentAccounts
          type: array
        enrollmentDetails:
          $ref: '#/components/schemas/Enrollment'
        invoiceSections:
          description: The invoiceSections associated to the billing account.
          items:
            $ref: '#/components/schemas/InvoiceSection'
          readOnly: true
          title: invoiceSections
          type: array
      title: BillingAccountProperties
      type: object
    BillingProfile:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A billing profile resource.
      properties:
        properties:
          $ref: '#/components/schemas/BillingProfileProperties'
      title: BillingProfile
    BillingProfileProperties:
      description: The properties of the billing profile.
      properties:
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingContact:
          description: Billing contact.
          readOnly: true
          title: billingContact
          type: string
        currency:
          description: Currency on the billing profile.
          readOnly: true
          title: currency
          type: string
        displayName:
          description: The billing profile name.
          title: displayName
          type: string
        emailInvoice:
          description: Email invoice.
          readOnly: true
          title: emailInvoice
          type: boolean
        invoiceDay:
          description: Invoice day.
          format: date-time
          readOnly: true
          title: invoiceDay
          type: integer
        poNumber:
          description: Purchase order number.
          title: poNumber
          type: string
      title: BillingProfileProperties
      type: object
    ChargeSummaryByBillingAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by billing account.
      example:
        properties:
          chargesBilledSeparately:
            currency: currency
            value: 0.8008281904610115
          usageStart: usageStart
          azureCharges:
            currency: currency
            value: 0.8008281904610115
          invoiceSectionId: invoiceSectionId
          billingProfileId: billingProfileId
          billingAccountId: billingAccountId
          marketplaceCharges:
            currency: currency
            value: 0.8008281904610115
          usageEnd: usageEnd
          billingPeriodId: billingPeriodId
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
      title: ChargeSummaryByBillingAccount
    ChargeSummaryByBillingProfile:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by billing profile.
      example:
        properties:
          chargesBilledSeparately:
            currency: currency
            value: 0.8008281904610115
          usageStart: usageStart
          azureCharges:
            currency: currency
            value: 0.8008281904610115
          invoiceSectionId: invoiceSectionId
          billingProfileId: billingProfileId
          billingAccountId: billingAccountId
          marketplaceCharges:
            currency: currency
            value: 0.8008281904610115
          usageEnd: usageEnd
          billingPeriodId: billingPeriodId
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
      title: ChargeSummaryByBillingProfile
    ChargeSummaryByInvoiceSection:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by invoiceSection.
      example:
        properties:
          chargesBilledSeparately:
            currency: currency
            value: 0.8008281904610115
          usageStart: usageStart
          azureCharges:
            currency: currency
            value: 0.8008281904610115
          invoiceSectionId: invoiceSectionId
          billingProfileId: billingProfileId
          billingAccountId: billingAccountId
          marketplaceCharges:
            currency: currency
            value: 0.8008281904610115
          usageEnd: usageEnd
          billingPeriodId: billingPeriodId
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
      title: ChargeSummaryByInvoiceSection
    ChargeSummaryProperties:
      description: The properties of the charge summary.
      example:
        chargesBilledSeparately:
          currency: currency
          value: 0.8008281904610115
        usageStart: usageStart
        azureCharges:
          currency: currency
          value: 0.8008281904610115
        invoiceSectionId: invoiceSectionId
        billingProfileId: billingProfileId
        billingAccountId: billingAccountId
        marketplaceCharges:
          currency: currency
          value: 0.8008281904610115
        usageEnd: usageEnd
        billingPeriodId: billingPeriodId
      properties:
        azureCharges:
          $ref: '#/components/schemas/Amount'
        billingAccountId:
          description: The id of the billing account resource that the charge belongs
            to.
          readOnly: true
          title: billingAccountId
          type: string
        billingPeriodId:
          description: The id of the billing period resource that the usage belongs
            to.
          readOnly: true
          title: billingPeriodId
          type: string
        billingProfileId:
          description: The id of the billing profile resource that the charge belongs
            to.
          readOnly: true
          title: billingProfileId
          type: string
        chargesBilledSeparately:
          $ref: '#/components/schemas/Amount'
        invoiceSectionId:
          description: The id of the invoice section resource that the charge belongs
            to.
          readOnly: true
          title: invoiceSectionId
          type: string
        marketplaceCharges:
          $ref: '#/components/schemas/Amount'
        usageEnd:
          description: Billing period end date.
          readOnly: true
          title: usageEnd
          type: string
        usageStart:
          description: Billing period start date.
          readOnly: true
          title: usageStart
          type: string
      title: ChargeSummaryProperties
      type: object
    ChargesListByBillingAccount:
      description: Result of listing charge summary by billing account. It contains
        a list of available change summaries in reverse chronological order by billing
        period.
      example:
        value:
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
      properties:
        value:
          description: The list of charge summary by billing account.
          items:
            $ref: '#/components/schemas/ChargeSummaryByBillingAccount'
          readOnly: true
          title: value
          type: array
      title: ChargesListByBillingAccount
      type: object
    ChargesListByBillingProfile:
      description: Result of listing charge summary by billing profile. It contains
        a list of available change summaries in reverse chronological order by billing
        period.
      example:
        value:
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
      properties:
        value:
          description: The list of charge summary by billing profile.
          items:
            $ref: '#/components/schemas/ChargeSummaryByBillingProfile'
          readOnly: true
          title: value
          type: array
      title: ChargesListByBillingProfile
      type: object
    ChargesListByInvoiceSection:
      description: Result of listing charge summary by invoiceSection. It contains
        a list of available change summaries in reverse chronological order by billing
        period.
      example:
        value:
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
        - properties:
            chargesBilledSeparately:
              currency: currency
              value: 0.8008281904610115
            usageStart: usageStart
            azureCharges:
              currency: currency
              value: 0.8008281904610115
            invoiceSectionId: invoiceSectionId
            billingProfileId: billingProfileId
            billingAccountId: billingAccountId
            marketplaceCharges:
              currency: currency
              value: 0.8008281904610115
            usageEnd: usageEnd
            billingPeriodId: billingPeriodId
      properties:
        value:
          description: The list of charge summary by invoiceSection.
          items:
            $ref: '#/components/schemas/ChargeSummaryByInvoiceSection'
          readOnly: true
          title: value
          type: array
      title: ChargesListByInvoiceSection
      type: object
    CreditBalanceSummary:
      description: Summary of credit balances.
      example:
        estimatedBalance:
          currency: currency
          value: 0.8008281904610115
        currentBalance:
          currency: currency
          value: 0.8008281904610115
      properties:
        currentBalance:
          $ref: '#/components/schemas/Amount'
        estimatedBalance:
          $ref: '#/components/schemas/Amount'
      title: CreditBalanceSummary
      type: object
    CreditSummary:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A credit summary resource.
      example:
        properties:
          expiredCredit:
            currency: currency
            value: 0.8008281904610115
          pendingEligibleCharges:
            currency: currency
            value: 0.8008281904610115
          balanceSummary:
            estimatedBalance:
              currency: currency
              value: 0.8008281904610115
            currentBalance:
              currency: currency
              value: 0.8008281904610115
          pendingCreditAdjustments:
            currency: currency
            value: 0.8008281904610115
      properties:
        properties:
          $ref: '#/components/schemas/CreditSummaryProperties'
      title: CreditSummary
    CreditSummaryProperties:
      description: The properties of the credit summary.
      example:
        expiredCredit:
          currency: currency
          value: 0.8008281904610115
        pendingEligibleCharges:
          currency: currency
          value: 0.8008281904610115
        balanceSummary:
          estimatedBalance:
            currency: currency
            value: 0.8008281904610115
          currentBalance:
            currency: currency
            value: 0.8008281904610115
        pendingCreditAdjustments:
          currency: currency
          value: 0.8008281904610115
      properties:
        balanceSummary:
          $ref: '#/components/schemas/CreditBalanceSummary'
        expiredCredit:
          $ref: '#/components/schemas/Amount'
        pendingCreditAdjustments:
          $ref: '#/components/schemas/Amount'
        pendingEligibleCharges:
          $ref: '#/components/schemas/Amount'
      title: CreditSummaryProperties
      type: object
    Department:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A department resource.
      properties:
        properties:
          $ref: '#/components/schemas/DepartmentProperties'
      title: Department
    DepartmentProperties:
      description: The properties of the department.
      properties:
        costCenter:
          description: The cost center name.
          title: costCenter
          type: string
        departmentName:
          description: The name for department.
          title: departmentName
          type: string
        enrollmentAccounts:
          description: "Associated enrollment accounts. By default this is not populated,\
            \ unless it's specified in $expand."
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
          title: enrollmentAccounts
          type: array
        status:
          description: The status for department.
          title: status
          type: string
      title: DepartmentProperties
      type: object
    DownloadUrl:
      description: A secure URL that can be used to download a an entity until the
        URL expires.
      example:
        downloadUrl: downloadUrl
        expiryTime: expiryTime
      properties:
        downloadUrl:
          description: The URL to the PDF file.
          readOnly: true
          title: downloadUrl
          type: string
        expiryTime:
          description: The time in UTC at which this download URL will expire.
          readOnly: true
          title: expiryTime
          type: string
      title: DownloadUrl
      type: object
    Enrollment:
      description: Current entity level details
      properties:
        billingCycle:
          description: Enrollment billing cycle
          readOnly: true
          title: billingCycle
          type: string
        channel:
          description: The channel for Enrollment
          readOnly: true
          title: channel
          type: string
        countryCode:
          description: The countryCode for Enrollment
          readOnly: true
          title: countryCode
          type: string
        currency:
          description: The currency associated with enrollment
          readOnly: true
          title: currency
          type: string
        endDate:
          description: Enrollment End Date
          format: date-time
          readOnly: true
          title: endDate
          type: string
        language:
          description: The language for Enrollment
          readOnly: true
          title: language
          type: string
        policies:
          $ref: '#/components/schemas/EnrollmentPolicies'
        startDate:
          description: Enrollment Start Date
          format: date-time
          readOnly: true
          title: startDate
          type: string
        status:
          description: Enrollment status
          readOnly: true
          title: status
          type: string
      title: Enrollment
      type: object
    EnrollmentAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An account resource.
      properties:
        properties:
          $ref: '#/components/schemas/EnrollmentAccountProperties'
      title: EnrollmentAccount
    EnrollmentAccountProperties:
      description: The properties of the account.
      properties:
        accountName:
          description: The account name.
          title: accountName
          type: string
        accountOwner:
          description: The account owner
          title: accountOwner
          type: string
        costCenter:
          description: The cost center name.
          title: costCenter
          type: string
        department:
          $ref: '#/components/schemas/Department'
        endDate:
          description: Account End Date
          format: date-time
          title: endDate
          type: string
        startDate:
          description: Account Start Date
          format: date-time
          title: startDate
          type: string
        status:
          description: The status for account.
          title: status
          type: string
      title: EnrollmentAccountProperties
      type: object
    EnrollmentPolicies:
      description: The attributes associated with legacy enrollment
      properties:
        accountOwnerViewCharges:
          description: The accountOwnerViewCharges flag for Enrollment
          readOnly: true
          title: accountOwnerViewCharges
          type: boolean
        departmentAdminViewCharges:
          description: The departmentAdminViewCharges flag for Enrollment
          readOnly: true
          title: departmentAdminViewCharges
          type: boolean
        marketplacesEnabled:
          description: The marketplaces flag for Enrollment
          readOnly: true
          title: marketplacesEnabled
          type: boolean
        reservedInstancesEnabled:
          description: The reserved instances flag for Enrollment
          readOnly: true
          title: reservedInstancesEnabled
          type: boolean
      title: EnrollmentPolicies
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    EventProperties:
      description: The event properties.
      example:
        charges:
          currency: currency
          value: 0.8008281904610115
        adjustments:
          currency: currency
          value: 0.8008281904610115
        creditExpired:
          currency: currency
          value: 0.8008281904610115
        newCredit:
          currency: currency
          value: 0.8008281904610115
        invoiceNumber: invoiceNumber
        description: description
        closedBalance:
          currency: currency
          value: 0.8008281904610115
        eventType: NewCredit
        transactionDate: 2000-01-23T04:56:07.000+00:00
      properties:
        adjustments:
          $ref: '#/components/schemas/Amount'
        charges:
          $ref: '#/components/schemas/Amount'
        closedBalance:
          $ref: '#/components/schemas/Amount'
        creditExpired:
          $ref: '#/components/schemas/Amount'
        description:
          description: Transaction description.
          readOnly: true
          title: description
          type: string
        eventType:
          description: The type of event.
          enum:
          - NewCredit
          - ExpiredCredit
          - SettledCharges
          title: eventType
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventType
        invoiceNumber:
          description: Invoice Number.
          readOnly: true
          title: invoiceNumber
          type: string
        newCredit:
          $ref: '#/components/schemas/Amount'
        transactionDate:
          description: Transaction Date.
          format: date-time
          readOnly: true
          title: transactionDate
          type: string
      title: EventProperties
      type: object
    EventSummary:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An event summary resource.
      example:
        properties:
          charges:
            currency: currency
            value: 0.8008281904610115
          adjustments:
            currency: currency
            value: 0.8008281904610115
          creditExpired:
            currency: currency
            value: 0.8008281904610115
          newCredit:
            currency: currency
            value: 0.8008281904610115
          invoiceNumber: invoiceNumber
          description: description
          closedBalance:
            currency: currency
            value: 0.8008281904610115
          eventType: NewCredit
          transactionDate: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/EventProperties'
      title: EventSummary
    Events:
      description: Result of listing event summary.
      example:
        value:
        - properties:
            charges:
              currency: currency
              value: 0.8008281904610115
            adjustments:
              currency: currency
              value: 0.8008281904610115
            creditExpired:
              currency: currency
              value: 0.8008281904610115
            newCredit:
              currency: currency
              value: 0.8008281904610115
            invoiceNumber: invoiceNumber
            description: description
            closedBalance:
              currency: currency
              value: 0.8008281904610115
            eventType: NewCredit
            transactionDate: 2000-01-23T04:56:07.000+00:00
        - properties:
            charges:
              currency: currency
              value: 0.8008281904610115
            adjustments:
              currency: currency
              value: 0.8008281904610115
            creditExpired:
              currency: currency
              value: 0.8008281904610115
            newCredit:
              currency: currency
              value: 0.8008281904610115
            invoiceNumber: invoiceNumber
            description: description
            closedBalance:
              currency: currency
              value: 0.8008281904610115
            eventType: NewCredit
            transactionDate: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          description: The list of event summary.
          items:
            $ref: '#/components/schemas/EventSummary'
          readOnly: true
          title: value
          type: array
      title: Events
      type: object
    InvoiceSection:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An InvoiceSection resource.
      properties:
        properties:
          $ref: '#/components/schemas/InvoiceSectionProperties'
      title: InvoiceSection
    InvoiceSectionProperties:
      description: The properties of an InvoiceSection.
      properties:
        billingProfiles:
          description: The billing profiles associated to the billing account.
          items:
            $ref: '#/components/schemas/BillingProfile'
          title: billingProfiles
          type: array
        displayName:
          description: The name of the InvoiceSection.
          title: displayName
          type: string
      title: InvoiceSectionProperties
      type: object
    LotProperties:
      description: The lot properties.
      example:
        originalAmount:
          currency: currency
          value: 0.8008281904610115
        closedBalance:
          currency: currency
          value: 0.8008281904610115
        source: PurchasedCredit
        poNumber: poNumber
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        closedBalance:
          $ref: '#/components/schemas/Amount'
        expirationDate:
          description: Expiration Date.
          format: date-time
          readOnly: true
          title: expirationDate
          type: string
        originalAmount:
          $ref: '#/components/schemas/Amount'
        poNumber:
          description: PO Number.
          readOnly: true
          title: poNumber
          type: string
        source:
          description: Lot source.
          enum:
          - PurchasedCredit
          - PromotionalCredit
          readOnly: true
          title: source
          type: string
          x-ms-enum:
            modelAsString: true
            name: LotSource
        startDate:
          description: Start Date.
          format: date-time
          readOnly: true
          title: startDate
          type: string
      title: LotProperties
      type: object
    LotSummary:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A lot summary resource.
      example:
        properties:
          originalAmount:
            currency: currency
            value: 0.8008281904610115
          closedBalance:
            currency: currency
            value: 0.8008281904610115
          source: PurchasedCredit
          poNumber: poNumber
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/LotProperties'
      title: LotSummary
    Lots:
      description: Result of listing lot summary.
      example:
        value:
        - properties:
            originalAmount:
              currency: currency
              value: 0.8008281904610115
            closedBalance:
              currency: currency
              value: 0.8008281904610115
            source: PurchasedCredit
            poNumber: poNumber
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
        - properties:
            originalAmount:
              currency: currency
              value: 0.8008281904610115
            closedBalance:
              currency: currency
              value: 0.8008281904610115
            source: PurchasedCredit
            poNumber: poNumber
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          description: The list of lot summary.
          items:
            $ref: '#/components/schemas/LotSummary'
          readOnly: true
          title: value
          type: array
      title: Lots
      type: object
    Operation:
      description: A Consumption REST API operation.
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of listing consumption operations. It contains a list of
        operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of consumption operations supported by the Microsoft.Consumption
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    PricesheetDownloadResponse:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Download response of Pricesheets.
      example:
        properties:
          downloadUrl: downloadUrl
          expiryTime: expiryTime
      properties:
        properties:
          $ref: '#/components/schemas/DownloadUrl'
      title: PricesheetDownloadResponse
    ProxyResource:
      description: The Resource model definition.
      properties:
        eTag:
          description: "eTag of the resource. To handle concurrent update scenario,\
            \ this field will be used to determine whether the user is updating the\
            \ latest version or not."
          type: string
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          title: tags
          type: object
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          readOnly: true
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Consumption."
          readOnly: true
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: UsageDetail,\
            \ etc."
          readOnly: true
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
