openapi: 3.0.0
info:
  contact:
    email: hello@redeal.io
  description: Access analytics for Redeal
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Redeal Analytics API
  version: 1.0.0
  x-apisguru-categories:
  - analytics
  x-logo:
    url: https://static.redeal.se/APIDefinitions/re-deal-logo-cmyk_1.svg
  x-origin:
  - format: openapi
    url: https://static.redeal.se/APIDefinitions/analytics.redeal.io-1.0.0-swagger.yaml
    version: "3.0"
  x-providerName: redeal.io
  x-serviceName: analytics
servers:
- description: Redeal Analytics API
  url: https://analytics.redeal.io/api/1.0.0
tags:
- description: Operations available to regular developers
  name: developers
paths:
  /events:
    get:
      description: |
        By passing in the company, site or deal Id a set of user interaction event records is returned. For pagination of a large result set use queryexecutionid and nexttoken instead.
      operationId: get_events
      parameters:
      - description: pass an optional company Id
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: pass an optional site Id
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: pass an optional deal Id
        explode: true
        in: query
        name: deal
        required: false
        schema:
          type: string
        style: form
      - description: type of records to return
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - all
          - clicks
          - contacts
          type: string
        style: form
      - description: next token to start returning records from
        explode: true
        in: query
        name: nexttoken
        required: false
        schema:
          type: string
        style: form
      - description: id of execution to get more records based on next token
        explode: true
        in: query
        name: queryexecutionid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EventRecord'
                type: array
          description: analytics results matching criteria
        "400":
          description: bad input parameter
      summary: get events for analytics
      tags:
      - developers
      x-openapi-router-controller: openapi_server.controllers.developers_controller
components:
  schemas:
    EventRecord:
      example:
        agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15\
          \ (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1"
        deal: afe76fe60defa9000288e4ff
        code: code
        role: Ambassador
        session: a909d7aff093c4423ccee7cc
        latitude: "51.4353"
        channel: Whatsapp
        optin: Redeal
        resolution: 360x760
        devicetype: Mobile
        userlanguage: de-DE
        revenue: 10.5
        total: 12.6
        contact: MailChimp
        denyreason: Deal is expired
        emailaddrsha256: cc63f389e0957aeacc9db39b8a0c2e7792aae3eb76af8909d30d9eab1f7309ac
        company: a89d82faf093c43c9c28659d
        currency: EUR
        email: a89d82faf093c43c9c28659d
        flow: afe76fe60defa9000288e4ff
        longitude: "-0.3096"
        timestamp: 2016-08-29T09:12:33.001Z
        cost: 1.1
        os: iOS
        ip: 0.0.0.0
        click: Minimize
        flowtype: Start
        deal name: My deal
        site: a909d7aff093c4423ccee7cc
        delay: 473
        costcurrency: EUR
        browsertype: Chrome
        clicks: 1
        impression: Widget
        device: a75984d7a1d1a4379
        user: a909d7aff093c4423ccee7cc
        flowstep: FriendImpression
        site name: My site
      properties:
        agent:
          example: "Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15\
            \ (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1"
          title: agent
          type: string
        browsertype:
          example: Chrome
          title: browsertype
          type: string
        channel:
          example: Whatsapp
          title: channel
          type: string
        click:
          example: Minimize
          title: click
          type: string
        clicks:
          example: 1
          title: clicks
          type: integer
        code:
          title: code
          type: string
          example: null
        company:
          example: a89d82faf093c43c9c28659d
          title: company
          type: string
        contact:
          example: MailChimp
          title: contact
          type: string
        cost:
          example: 1.1
          title: cost
          type: number
        costcurrency:
          example: EUR
          title: costcurrency
          type: string
        currency:
          example: EUR
          title: currency
          type: string
        deal:
          example: afe76fe60defa9000288e4ff
          title: deal
          type: string
        deal name:
          example: My deal
          title: deal name
          type: string
        delay:
          example: 473
          title: delay
          type: integer
        denyreason:
          example: Deal is expired
          title: denyreason
          type: string
        device:
          example: a75984d7a1d1a4379
          title: device
          type: string
        devicetype:
          example: Mobile
          title: devicetype
          type: string
        email:
          example: a89d82faf093c43c9c28659d
          title: email
          type: string
        emailaddrsha256:
          example: cc63f389e0957aeacc9db39b8a0c2e7792aae3eb76af8909d30d9eab1f7309ac
          title: emailaddrsha256
          type: string
        flow:
          example: afe76fe60defa9000288e4ff
          title: flow
          type: string
        flowstep:
          example: FriendImpression
          title: flowstep
          type: string
        flowtype:
          example: Start
          title: flowtype
          type: string
        impression:
          example: Widget
          title: impression
          type: string
        ip:
          example: 0.0.0.0
          title: ip
          type: string
        latitude:
          example: "51.4353"
          title: latitude
          type: string
        longitude:
          example: "-0.3096"
          title: longitude
          type: string
        optin:
          example: Redeal
          title: optin
          type: string
        os:
          example: iOS
          title: os
          type: string
        resolution:
          example: 360x760
          title: resolution
          type: string
        revenue:
          example: 10.5
          title: revenue
          type: number
        role:
          example: Ambassador
          title: role
          type: string
        session:
          example: a909d7aff093c4423ccee7cc
          title: session
          type: string
        site:
          example: a909d7aff093c4423ccee7cc
          title: site
          type: string
        site name:
          example: My site
          title: site name
          type: string
        timestamp:
          example: 2016-08-29T09:12:33.001Z
          format: date-time
          title: timestamp
          type: string
        total:
          example: 12.6
          title: total
          type: number
        user:
          example: a909d7aff093c4423ccee7cc
          title: user
          type: string
        userlanguage:
          example: de-DE
          title: userlanguage
          type: string
      required:
      - agent
      - browsertype
      - channel
      - click
      - clicks
      - code
      - company
      - contact
      - cost
      - costcurrency
      - currency
      - deal
      - deal name
      - delay
      - denyreason
      - device
      - devicetype
      - email
      - emailaddrsha256
      - flow
      - flowstep
      - flowtype
      - impression
      - ip
      - latitude
      - longitude
      - optin
      - os
      - resolution
      - revenue
      - role
      - session
      - site
      - site name
      - timestamp
      - total
      - user
      - userlanguage
      title: EventRecord
      type: object
