openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2019-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-automations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/automations:
    get:
      description: Lists all the security automations in the specified subscription.
        Use the 'nextLink' property in the response to get the next page of security
        automations for the specified subscription.
      operationId: automations_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        List all security automations of a specified subscription:
          parameters:
            api-version: 2019-01-01-preview
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                value:
                - etag: etag value
                  id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/automations/exampleAutomation
                  location: Central US
                  name: exampleAutomation
                  properties:
                    actions:
                    - actionType: LogicApp
                      logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                    description: An example of a security automation that triggers
                      one LogicApp resource (myTest1) on any security assessment of
                      type customAssessment
                    isEnabled: true
                    scopes:
                    - description: "A description that helps to identify this scope\
                        \ - for example: security assessments that relate to the resource\
                        \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                      scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                    sources:
                    - eventSource: Assessments
                      ruleSets:
                      - rules:
                        - expectedValue: customAssessment
                          operator: Equals
                          propertyJPath: $.Entity.AssessmentType
                          propertyType: String
                  tags: {}
                  type: Microsoft.Security/automations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.automations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations:
    get:
      description: Lists all the security automations in the specified resource group.
        Use the 'nextLink' property in the response to get the next page of security
        automations for the specified resource group.
      operationId: automations_list_by_resource_group
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        List all security automations of a specified resource group:
          parameters:
            api-version: 2019-01-01-preview
            resourceGroupName: exampleResourceGroup
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                value:
                - etag: etag value
                  id: /subscriptions/e4272367-5645-4c4e-9c67-3b74b59a6982/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/automations/exampleAutomation
                  location: Central US
                  name: exampleAutomation
                  properties:
                    actions:
                    - actionType: LogicApp
                      logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                    description: An example of a security automation that triggers
                      one LogicApp resource (myTest1) on any security assessment of
                      type customAssessment
                    isEnabled: true
                    scopes:
                    - description: "A description that helps to identify this scope\
                        \ - for example: security assessments that relate to the resource\
                        \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                      scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                    sources:
                    - eventSource: Assessments
                      ruleSets:
                      - rules:
                        - expectedValue: customAssessment
                          operator: Equals
                          propertyJPath: $.Entity.AssessmentType
                          propertyType: String
                  tags: {}
                  type: Microsoft.Security/automations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.automations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}:
    delete:
      description: Deletes a security automation.
      operationId: automations_delete
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The security automation name.
        in: path
        name: automation_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        Delete a security automation:
          parameters:
            api-version: 2019-01-01-preview
            automationName: myAutomationName
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.automations_controller
    get:
      description: Retrieves information about the model of a security automation.
      operationId: automations_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The security automation name.
        in: path
        name: automationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        Retrieve a security automation:
          parameters:
            api-version: 2019-01-01-preview
            automationName: exampleAutomation
            resourceGroupName: exampleResourceGroup
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                etag: etag value
                id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/automations/exampleAutomation
                location: Central US
                name: exampleAutomation
                properties:
                  actions:
                  - actionType: LogicApp
                    logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  description: An example of a security automation that triggers one
                    LogicApp resource (myTest1) on any security assessment of type
                    customAssessment
                  isEnabled: true
                  scopes:
                  - description: "A description that helps to identify this scope\
                      \ - for example: security assessments that relate to the resource\
                      \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                    scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                  sources:
                  - eventSource: Assessments
                    ruleSets:
                    - rules:
                      - expectedValue: customAssessment
                        operator: Equals
                        propertyJPath: $.Entity.AssessmentType
                        propertyType: String
                tags: {}
                type: Microsoft.Security/automations
      x-openapi-router-controller: openapi_server.controllers.automations_controller
    put:
      description: "Creates or updates a security automation. If a security automation\
        \ is already created and a subsequent request is issued for the same automation\
        \ id, then it will be updated."
      operationId: automations_create_or_update
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The security automation name.
        in: path
        name: automation_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
        description: The security automation resource
        required: true
        x-ms-parameter-location: method
        x-body-name: Automation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        Create or update a security automation:
          parameters:
            Automation:
              etag: etag value (must be supplied for update)
              location: Central US
              properties:
                actions:
                - actionType: LogicApp
                  logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  uri: https://exampleTriggerUri1.com
                description: An example of a security automation that triggers one
                  LogicApp resource (myTest1) on any security assessment of type customAssessment
                isEnabled: true
                scopes:
                - description: "A description that helps to identify this scope -\
                    \ for example: security assessments that relate to the resource\
                    \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                  scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                sources:
                - eventSource: Assessments
                  ruleSets:
                  - rules:
                    - expectedValue: customAssessment
                      operator: Equals
                      propertyJPath: $.Entity.AssessmentType
                      propertyType: String
              tags: {}
            api-version: 2019-01-01-preview
            automationName: exampleAutomation
            resourceGroupName: exampleResourceGroup
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                etag: new etag value
                id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/automations/exampleAutomation
                location: Central US
                name: exampleAutomation
                properties:
                  actions:
                  - actionType: LogicApp
                    logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  description: An example of a security automation that triggers one
                    LogicApp resource (myTest1) on any security assessment of type
                    customAssessment
                  isEnabled: true
                  scopes:
                  - description: "A description that helps to identify this scope\
                      \ - for example: security assessments that relate to the resource\
                      \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                    scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                  sources:
                  - eventSource: Assessments
                    ruleSets:
                    - rules:
                      - expectedValue: customAssessment
                        operator: Equals
                        propertyJPath: $.Entity.AssessmentType
                        propertyType: String
                tags: {}
                type: Microsoft.Security/automations
            "201":
              body:
                etag: new etag value
                id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/SecurityAutomations/exampleAutomation
                location: Central US
                name: exampleAutomation
                properties:
                  actions:
                  - actionType: LogicApp
                    logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  description: An example of a security automation that triggers one
                    LogicApp resource (myTest1) on any security assessment of type
                    customAssessment
                  isEnabled: true
                  scopes:
                  - description: "A description that helps to identify this scope\
                      \ - for example: security assessments that relate to the resource\
                      \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                    scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                  sources:
                  - eventSource: Assessments
                    ruleSets:
                    - rules:
                      - expectedValue: customAssessment
                        operator: Equals
                        propertyJPath: $.Entity.AssessmentType
                        propertyType: String
                tags: {}
                type: Microsoft.Security/SecurityAutomations
        Disable or enable a security automation:
          parameters:
            Automation:
              etag: etag value (must be supplied for update)
              location: Central US
              properties:
                actions:
                - actionType: LogicApp
                  logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  uri: https://exampleTriggerUri1.com
                description: An example of a security automation that triggers one
                  LogicApp resource (myTest1) on any security assessment of type customAssessment
                isEnabled: false
                scopes:
                - description: "A description that helps to identify this scope -\
                    \ for example: security assessments that relate to the resource\
                    \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                  scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                sources:
                - eventSource: Assessments
                  ruleSets:
                  - rules:
                    - expectedValue: customAssessment
                      operator: Equals
                      propertyJPath: $.Entity.AssessmentType
                      propertyType: String
              tags: {}
            api-version: 2019-01-01-preview
            automationName: exampleAutomation
            resourceGroupName: exampleResourceGroup
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                etag: new etag value
                id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/automations/exampleAutomation
                location: Central US
                name: exampleAutomation
                properties:
                  actions:
                  - actionType: LogicApp
                    logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  description: An example of a security automation that triggers one
                    LogicApp resource (myTest1) on any security assessment of type
                    customAssessment
                  isEnabled: false
                  scopes:
                  - description: "A description that helps to identify this scope\
                      \ - for example: security assessments that relate to the resource\
                      \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                    scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                  sources:
                  - eventSource: Assessments
                    ruleSets:
                    - rules:
                      - expectedValue: customAssessment
                        operator: Equals
                        propertyJPath: $.Entity.AssessmentType
                        propertyType: String
                tags: {}
                type: Microsoft.Security/automations
            "201":
              body:
                etag: new etag value
                id: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/exampleResourceGroup/providers/Microsoft.Security/SecurityAutomations/exampleAutomation
                location: Central US
                name: exampleAutomation
                properties:
                  actions:
                  - actionType: LogicApp
                    logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  description: An example of a security automation that triggers one
                    LogicApp resource (myTest1) on any security assessment of type
                    customAssessment
                  isEnabled: false
                  scopes:
                  - description: "A description that helps to identify this scope\
                      \ - for example: security assessments that relate to the resource\
                      \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                    scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                  sources:
                  - eventSource: Assessments
                    ruleSets:
                    - rules:
                      - expectedValue: customAssessment
                        operator: Equals
                        propertyJPath: $.Entity.AssessmentType
                        propertyType: String
                tags: {}
                type: Microsoft.Security/SecurityAutomations
      x-codegen-request-body-name: Automation
      x-openapi-router-controller: openapi_server.controllers.automations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}/validate
  : post:
      description: Validates the security automation model before create or update.
        Any validation errors are returned to the client.
      operationId: automations_validate
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The security automation name.
        in: path
        name: automation_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
        description: The security automation resource
        required: true
        x-ms-parameter-location: method
        x-body-name: Automation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationValidationStatus'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_List_default_response'
          description: Error response that describes why the operation failed.
      tags:
      - Automations
      x-ms-examples:
        Validate the security automation model before create or update:
          parameters:
            Automation:
              location: Central US
              properties:
                actions:
                - actionType: LogicApp
                  logicAppResourceId: /subscriptions/e54a4a18-5b94-4f90-9471-bd3decad8a2e/resourceGroups/sample/providers/Microsoft.Logic/workflows/MyTest1
                  uri: https://exampleTriggerUri1.com
                description: An example of a security automation that triggers one
                  LogicApp resource (myTest1) on any security assessment of type customAssessment
                isEnabled: true
                scopes:
                - description: "A description that helps to identify this scope -\
                    \ for example: security assessments that relate to the resource\
                    \ group myResourceGroup within the subscription a5caac9c-5c04-49af-b3d0-e204f40345d5"
                  scopePath: /subscriptions/a5caac9c-5c04-49af-b3d0-e204f40345d5/resourceGroups/myResourceGroup
                sources:
                - eventSource: Assessments
                  ruleSets:
                  - rules:
                    - expectedValue: customAssessment
                      operator: Equals
                      propertyJPath: $.Entity.AssessmentType
                      propertyType: String
              tags: {}
            api-version: 2019-01-01-preview
            automationName: exampleAutomation
            resourceGroupName: exampleResourceGroup
            subscriptionId: a5caac9c-5c04-49af-b3d0-e204f40345d5
          responses:
            "200":
              body:
                isValid: true
                message: Validation Successful
      x-codegen-request-body-name: Automation
      x-openapi-router-controller: openapi_server.controllers.automations_controller
components:
  parameters:
    AutomationName:
      description: The security automation name.
      in: path
      name: automationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    AutomationInBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Automation'
      description: The security automation resource
      required: true
      x-ms-parameter-location: method
      x-body-name: Automation
  schemas:
    Automation:
      allOf:
      - allOf:
        - description: Describes an Azure resource.
          properties:
            id:
              description: Resource Id
              readOnly: true
              type: string
            name:
              description: Resource name
              readOnly: true
              type: string
            type:
              description: Resource type
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        - description: Describes an Azure resource with location
          properties:
            location:
              description: Location where the resource is stored
              readOnly: true
              type: string
          type: object
        - description: Describes an Azure resource with kind
          properties:
            kind:
              description: Kind of the resource
              type: string
          type: object
        - description: Entity tag is used for comparing two or more entities from
            the same requested resource.
          properties:
            etag:
              description: Entity tag is used for comparing two or more entities from
                the same requested resource.
              type: string
          type: object
        - description: A list of key value pairs that describe the resource.
          properties:
            tags:
              additionalProperties:
                type: string
              description: A list of key value pairs that describe the resource.
              type: object
          type: object
        description: Describes an Azure tracked resource.
      description: The security automation resource.
      example:
        properties:
          sources:
          - eventSource: Assessments
            ruleSets:
            - rules:
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
            - rules:
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
          - eventSource: Assessments
            ruleSets:
            - rules:
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
            - rules:
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
              - propertyType: String
                expectedValue: expectedValue
                operator: Equals
                propertyJPath: propertyJPath
          isEnabled: true
          description: description
          scopes:
          - scopePath: scopePath
            description: description
          - scopePath: scopePath
            description: description
          actions:
          - actionType: LogicApp
          - actionType: LogicApp
      properties:
        properties:
          $ref: '#/components/schemas/AutomationProperties'
      title: Automation
    AutomationAction:
      description: The action that should be triggered.
      discriminator:
        propertyName: actionType
      example:
        actionType: LogicApp
      properties:
        actionType:
          description: The type of the action that will be triggered by the Automation
          enum:
          - LogicApp
          - EventHub
          - Workspace
          title: actionType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ActionType
            values:
            - value: LogicApp
            - value: EventHub
            - value: Workspace
      required:
      - actionType
      title: AutomationAction
      type: object
    AutomationActionEventHub:
      allOf:
      - $ref: '#/components/schemas/AutomationAction'
      description: "The target Event Hub to which event data will be exported. To\
        \ learn more about Security Center continuous export capabilities, visit https://aka.ms/ASCExportLearnMore"
      properties:
        connectionString:
          description: The target Event Hub connection string (it will not be included
            in any response).
          type: string
        eventHubResourceId:
          description: The target Event Hub Azure Resource ID.
          type: string
        sasPolicyName:
          description: The target Event Hub SAS policy name.
          readOnly: true
          type: string
      x-ms-discriminator-value: EventHub
    AutomationActionLogicApp:
      allOf:
      - $ref: '#/components/schemas/AutomationAction'
      description: "The logic app action that should be triggered. To learn more about\
        \ Security Center's Workflow Automation capabilities, visit https://aka.ms/ASCWorkflowAutomationLearnMore"
      properties:
        logicAppResourceId:
          description: "The triggered Logic App Azure Resource ID. This can also reside\
            \ on other subscriptions, given that you have permissions to trigger the\
            \ Logic App"
          type: string
        uri:
          description: The Logic App trigger URI endpoint (it will not be included
            in any response).
          format: uri
          type: string
      x-ms-discriminator-value: LogicApp
    AutomationActionWorkspace:
      allOf:
      - $ref: '#/components/schemas/AutomationAction'
      description: "The\_Log\_Analytics\_Workspace\_to\_which\_event data will be\
        \ exported. Security alerts data will reside in the 'SecurityAlert' table\
        \ and the assessments data will reside in the 'SecurityRecommendation' table\
        \ (under the 'Security'/'SecurityCenterFree' solutions). Note that in order\
        \ to view the data in the workspace, the Security Center Log Analytics free/standard\
        \ solution needs to be enabled on that workspace. To learn more about Security\
        \ Center continuous export capabilities, visit https://aka.ms/ASCExportLearnMore"
      properties:
        workspaceResourceId:
          description: The fully qualified Log Analytics Workspace Azure Resource
            ID.
          type: string
      x-ms-discriminator-value: Workspace
    AutomationList:
      description: List of security automations response.
      example:
        value:
        - properties:
            sources:
            - eventSource: Assessments
              ruleSets:
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
            - eventSource: Assessments
              ruleSets:
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
            isEnabled: true
            description: description
            scopes:
            - scopePath: scopePath
              description: description
            - scopePath: scopePath
              description: description
            actions:
            - actionType: LogicApp
            - actionType: LogicApp
        - properties:
            sources:
            - eventSource: Assessments
              ruleSets:
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
            - eventSource: Assessments
              ruleSets:
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
              - rules:
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
                - propertyType: String
                  expectedValue: expectedValue
                  operator: Equals
                  propertyJPath: propertyJPath
            isEnabled: true
            description: description
            scopes:
            - scopePath: scopePath
              description: description
            - scopePath: scopePath
              description: description
            actions:
            - actionType: LogicApp
            - actionType: LogicApp
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of security automations under the given scope.
          items:
            $ref: '#/components/schemas/Automation'
          title: value
          type: array
      required:
      - value
      title: AutomationList
      type: object
    AutomationProperties:
      description: A set of properties that defines the behavior of the automation
        configuration. To learn more about the supported security events data models
        schemas - please visit https://aka.ms/ASCAutomationSchemas.
      example:
        sources:
        - eventSource: Assessments
          ruleSets:
          - rules:
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
          - rules:
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
        - eventSource: Assessments
          ruleSets:
          - rules:
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
          - rules:
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
            - propertyType: String
              expectedValue: expectedValue
              operator: Equals
              propertyJPath: propertyJPath
        isEnabled: true
        description: description
        scopes:
        - scopePath: scopePath
          description: description
        - scopePath: scopePath
          description: description
        actions:
        - actionType: LogicApp
        - actionType: LogicApp
      properties:
        actions:
          description: "A collection of the actions which are triggered if all the\
            \ configured rules evaluations, within at least one rule set, are true."
          items:
            $ref: '#/components/schemas/AutomationAction'
          title: actions
          type: array
        description:
          description: The security automation description.
          title: description
          type: string
        isEnabled:
          description: Indicates whether the security automation is enabled.
          title: isEnabled
          type: boolean
        scopes:
          description: A collection of scopes on which the security automations logic
            is applied. Supported scopes are the subscription itself or a resource
            group under that subscription. The automation will only apply on defined
            scopes.
          items:
            $ref: '#/components/schemas/AutomationScope'
          title: scopes
          type: array
        sources:
          description: A collection of the source event types which evaluate the security
            automation set of rules.
          items:
            $ref: '#/components/schemas/AutomationSource'
          title: sources
          type: array
      title: AutomationProperties
      type: object
    AutomationRuleSet:
      description: "A rule set which evaluates all its rules upon an event interception.\
        \ Only when all the included rules in the rule set will be evaluated as 'true',\
        \ will the event trigger the defined actions."
      example:
        rules:
        - propertyType: String
          expectedValue: expectedValue
          operator: Equals
          propertyJPath: propertyJPath
        - propertyType: String
          expectedValue: expectedValue
          operator: Equals
          propertyJPath: propertyJPath
      properties:
        rules:
          items:
            $ref: '#/components/schemas/AutomationTriggeringRule'
          title: rules
          type: array
      title: AutomationRuleSet
      type: object
    AutomationScope:
      description: A single automation scope.
      example:
        scopePath: scopePath
        description: description
      properties:
        description:
          description: The resources scope description.
          title: description
          type: string
        scopePath:
          description: The resources scope path. Can be the subscription on which
            the automation is defined on or a resource group under that subscription
            (fully qualified Azure resource IDs).
          title: scopePath
          type: string
      title: AutomationScope
      type: object
    AutomationSource:
      description: The source event types which evaluate the security automation set
        of rules. For example - security alerts and security assessments. To learn
        more about the supported security events data models schemas - please visit
        https://aka.ms/ASCAutomationSchemas.
      example:
        eventSource: Assessments
        ruleSets:
        - rules:
          - propertyType: String
            expectedValue: expectedValue
            operator: Equals
            propertyJPath: propertyJPath
          - propertyType: String
            expectedValue: expectedValue
            operator: Equals
            propertyJPath: propertyJPath
        - rules:
          - propertyType: String
            expectedValue: expectedValue
            operator: Equals
            propertyJPath: propertyJPath
          - propertyType: String
            expectedValue: expectedValue
            operator: Equals
            propertyJPath: propertyJPath
      properties:
        eventSource:
          description: A valid event source type.
          enum:
          - Assessments
          - Alerts
          title: eventSource
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventSource
            values:
            - value: Assessments
            - value: Alerts
        ruleSets:
          description: A set of rules which evaluate upon event interception. A logical
            disjunction is applied between defined rule sets (logical 'or').
          items:
            $ref: '#/components/schemas/AutomationRuleSet'
          title: ruleSets
          type: array
      title: AutomationSource
      type: object
    AutomationTriggeringRule:
      description: A rule which is evaluated upon event interception. The rule is
        configured by comparing a specific value from the event model to an expected
        value. This comparison is done by using one of the supported operators set.
      example:
        propertyType: String
        expectedValue: expectedValue
        operator: Equals
        propertyJPath: propertyJPath
      properties:
        expectedValue:
          description: The expected value.
          title: expectedValue
          type: string
        operator:
          description: A valid comparer operator to use. A case-insensitive comparison
            will be applied for String PropertyType.
          enum:
          - Equals
          - GreaterThan
          - GreaterThanOrEqualTo
          - LesserThan
          - LesserThanOrEqualTo
          - NotEquals
          - Contains
          - StartsWith
          - EndsWith
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: Operator
            values:
            - value: Equals
            - value: GreaterThan
            - value: GreaterThanOrEqualTo
            - value: LesserThan
            - value: LesserThanOrEqualTo
            - value: NotEquals
            - value: Contains
            - value: StartsWith
            - value: EndsWith
        propertyJPath:
          description: The JPath of the entity model property that should be checked.
          title: propertyJPath
          type: string
        propertyType:
          description: "The data type of the compared operands (string, integer, floating\
            \ point number or a boolean [true/false]]"
          enum:
          - String
          - Integer
          - Number
          - Boolean
          title: propertyType
          type: string
          x-ms-enum:
            modelAsString: true
            name: PropertyType
            values:
            - value: String
            - value: Integer
            - value: Number
            - value: Boolean
      title: AutomationTriggeringRule
      type: object
    AutomationValidationStatus:
      description: The security automation model state property bag.
      example:
        isValid: true
        message: message
      properties:
        isValid:
          description: Indicates whether the model is valid or not.
          title: isValid
          type: boolean
        message:
          description: The validation message.
          title: message
          type: string
      title: AutomationValidationStatus
      type: object
    Automations_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: Automations_List_default_response_error
      type: object
      x-ms-external: true
    Automations_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Automations_List_default_response_error'
      title: Automations_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
