openapi: 3.0.1
info:
  description: Azure Application Insights workbook template type.
  title: ApplicationInsightsManagementClient
  version: 2019-10-17-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/workbookTemplates_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-workbookTemplates_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooktemplates:
    get:
      description: Get all Workbook templates defined within a specified resource
        group.
      operationId: WorkbookTemplates_ListByResourceGroup
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplatesListResult'
          description: A list containing 0 or more workbook template definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookTemplatesList:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
              - id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name
                location: westus
                name: my-resource-name
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplate
              - id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name2
                location: westus
                name: my-resource-name2
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template 2
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplate
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooktemplates/{resourceName}:
    delete:
      description: Delete a workbook template.
      operationId: WorkbookTemplates_Delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The workbook template has been successfully deleted.
        "204":
          content: {}
          description: The resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookTemplateDelete:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-template-resource
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a single workbook template by its resourceName.
      operationId: WorkbookTemplates_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: A workbook template definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookTemplateGet:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-resource-name
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name
                location: westus
                name: my-resource-name
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplate
      x-accepts:
      - application/json
    patch:
      description: Updates a workbook template that has already been added.
      operationId: WorkbookTemplates_Update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkbookTemplateUpdateParameters'
        description: Properties that need to be specified to patch a workbook template.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The workbook template definition updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookTemplateUpdate:
          parameters:
            api-version: 2018-06-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-template-resource
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
            workbookTemplateProperties:
              location: west us
              name: display-name-of-template
              properties:
                author: Contoso
                galleries:
                - category: Failures
                  name: Simple Template
                  order: 100
                  resourceType: microsoft.insights/components
                  type: tsg
                priority: 1
                templateData: {}
              type: microsoft.insights/workbooktemplates
          responses:
            "200":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplates
      x-codegen-request-body-name: WorkbookTemplateUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a new workbook template.
      operationId: WorkbookTemplates_CreateOrUpdate
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkbookTemplate'
        description: Properties that need to be specified to create a new workbook.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The newly created workbook template.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The newly created workbook template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookTemplateAdd:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: testtemplate2
            subscriptionId: subid
            workbookTemplateProperties:
              location: west us
              properties:
                author: Contoso
                galleries:
                - category: Failures
                  name: Simple Template
                  order: 100
                  resourceType: microsoft.insights/components
                  type: tsg
                priority: 1
                templateData: {}
          responses:
            "200":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplates
            "201":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                  priority: 1
                  templateData: {}
                type: microsoft.insights/workbooktemplates
      x-codegen-request-body-name: workbookTemplateProperties
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    WorkbookTemplateResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    WorkbookError:
      description: Error message body that will indicate why the operation failed.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    WorkbookTemplate:
      allOf:
      - $ref: '#/components/schemas/WorkbookTemplateResource'
      description: An Application Insights workbook template definition.
      example:
        properties:
          author: author
          localized:
            key:
            - templateData: "{}"
              galleries:
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
            - templateData: "{}"
              galleries:
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
          templateData: "{}"
          galleries:
          - name: name
            category: category
            type: type
            order: 0
            resourceType: resourceType
          - name: name
            category: category
            type: type
            order: 0
            resourceType: resourceType
          priority: 6
      properties:
        properties:
          $ref: '#/components/schemas/WorkbookTemplateProperties'
    WorkbookTemplateGallery:
      description: Gallery information for a workbook template.
      example:
        name: name
        category: category
        type: type
        order: 0
        resourceType: resourceType
      properties:
        category:
          description: Category for the gallery.
          type: string
        name:
          description: Name of the workbook template in the gallery.
          type: string
        order:
          description: Order of the template within the gallery.
          type: integer
        resourceType:
          description: Azure resource type supported by the gallery.
          type: string
        type:
          description: Type of workbook supported by the workbook template.
          type: string
      type: object
    WorkbookTemplateLocalizedGallery:
      description: Localized template data and gallery information.
      example:
        templateData: "{}"
        galleries:
        - name: name
          category: category
          type: type
          order: 0
          resourceType: resourceType
        - name: name
          category: category
          type: type
          order: 0
          resourceType: resourceType
      properties:
        galleries:
          description: Workbook galleries supported by the template.
          items:
            $ref: '#/components/schemas/WorkbookTemplateGallery'
          type: array
        templateData:
          description: Valid JSON object containing workbook template payload.
          properties: {}
          type: object
      type: object
    WorkbookTemplateProperties:
      description: Properties that contain a workbook template.
      example:
        author: author
        localized:
          key:
          - templateData: "{}"
            galleries:
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
          - templateData: "{}"
            galleries:
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
        templateData: "{}"
        galleries:
        - name: name
          category: category
          type: type
          order: 0
          resourceType: resourceType
        - name: name
          category: category
          type: type
          order: 0
          resourceType: resourceType
        priority: 6
      properties:
        author:
          description: Information about the author of the workbook template.
          type: string
        galleries:
          description: Workbook galleries supported by the template.
          items:
            $ref: '#/components/schemas/WorkbookTemplateGallery'
          type: array
        localized:
          additionalProperties:
            items:
              $ref: '#/components/schemas/WorkbookTemplateLocalizedGallery'
            type: array
          description: Key value pair of localized gallery. Each key is the locale
            code of languages supported by the Azure portal.
          type: object
        priority:
          description: Priority of the template. Determines which template to open
            when a workbook gallery is opened in viewer mode.
          type: integer
        templateData:
          description: Valid JSON object containing workbook template payload.
          properties: {}
          type: object
      required:
      - galleries
      - templateData
      type: object
    WorkbookTemplateResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    WorkbookTemplateUpdateParameters:
      description: The parameters that can be provided when updating workbook template.
      example:
        properties:
          author: author
          localized:
            key:
            - templateData: "{}"
              galleries:
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
            - templateData: "{}"
              galleries:
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
              - name: name
                category: category
                type: type
                order: 0
                resourceType: resourceType
          templateData: "{}"
          galleries:
          - name: name
            category: category
            type: type
            order: 0
            resourceType: resourceType
          - name: name
            category: category
            type: type
            order: 0
            resourceType: resourceType
          priority: 6
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/WorkbookTemplateProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
    WorkbookTemplatesListResult:
      description: WorkbookTemplate list result.
      example:
        value:
        - properties:
            author: author
            localized:
              key:
              - templateData: "{}"
                galleries:
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
              - templateData: "{}"
                galleries:
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
            templateData: "{}"
            galleries:
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            priority: 6
        - properties:
            author: author
            localized:
              key:
              - templateData: "{}"
                galleries:
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
              - templateData: "{}"
                galleries:
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
                - name: name
                  category: category
                  type: type
                  order: 0
                  resourceType: resourceType
            templateData: "{}"
            galleries:
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            - name: name
              category: category
              type: type
              order: 0
              resourceType: resourceType
            priority: 6
      properties:
        value:
          description: An array of workbook templates.
          items:
            $ref: '#/components/schemas/WorkbookTemplate'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

