openapi: 3.0.0
info:
  contact:
    email: netbox@digitalocean.com
  description: API to access NetBox
  license:
    name: Apache v2 License
  termsOfService: https://github.com/digitalocean/netbox
  title: NetBox API
  version: "2.4"
  x-apisguru-categories:
  - cloud
  x-origin:
  - format: swagger
    url: https://github.com/APIs-guru/openapi-directory/files/5383965/swagger.yaml.txt
    version: "2.0"
  x-preferred: false
  x-providerName: netboxdemo.com
servers:
- url: http://netboxdemo.com/api
security:
- Bearer: []
paths:
  /circuits/_choices/:
    get:
      description: ""
      operationId: circuits__choices_list
      responses:
        "200":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
  /circuits/_choices/{id}/:
    get:
      description: ""
      operationId: circuits__choices_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
  /circuits/circuit-terminations/:
    get:
      description: ""
      operationId: circuits_circuit-terminations_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: term_side
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: port_speed
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: upstream_speed
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: xconnect_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: circuit_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuit_terminations_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: circuits_circuit-terminations_create
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuitTermination'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/circuit-terminations/{id}/:
    delete:
      description: ""
      operationId: circuits_circuit-terminations_delete
      parameters:
      - description: A unique integer value identifying this circuit termination.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: circuits_circuit-terminations_read
      parameters:
      - description: A unique integer value identifying this circuit termination.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: circuits_circuit-terminations_partial_update
      parameters:
      - description: A unique integer value identifying this circuit termination.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuitTermination'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: circuits_circuit-terminations_update
      parameters:
      - description: A unique integer value identifying this circuit termination.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuitTermination'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/circuit-types/:
    get:
      description: ""
      operationId: circuits_circuit-types_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuit_types_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: circuits_circuit-types_create
      requestBody:
        $ref: '#/components/requestBodies/CircuitType'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/circuit-types/{id}/:
    delete:
      description: ""
      operationId: circuits_circuit-types_delete
      parameters:
      - description: A unique integer value identifying this circuit type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: circuits_circuit-types_read
      parameters:
      - description: A unique integer value identifying this circuit type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: circuits_circuit-types_partial_update
      parameters:
      - description: A unique integer value identifying this circuit type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CircuitType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: circuits_circuit-types_update
      parameters:
      - description: A unique integer value identifying this circuit type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CircuitType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/circuits/:
    get:
      description: ""
      operationId: circuits_circuits_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: cid
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: install_date
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: commit_rate
        required: false
        schema:
          type: number
        style: form
      - description: Multiple values may be separated by commas.
        explode: true
        in: query
        name: id__in
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: provider_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: type_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tenant
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuits_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: circuits_circuits_create
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuit'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/circuits/{id}/:
    delete:
      description: ""
      operationId: circuits_circuits_delete
      parameters:
      - description: A unique integer value identifying this circuit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: circuits_circuits_read
      parameters:
      - description: A unique integer value identifying this circuit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: circuits_circuits_partial_update
      parameters:
      - description: A unique integer value identifying this circuit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: circuits_circuits_update
      parameters:
      - description: A unique integer value identifying this circuit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableCircuit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/providers/:
    get:
      description: ""
      operationId: circuits_providers_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: asn
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: account
        required: false
        schema:
          type: string
        style: form
      - description: Multiple values may be separated by commas.
        explode: true
        in: query
        name: id__in
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_providers_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: circuits_providers_create
      requestBody:
        $ref: '#/components/requestBodies/Provider'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/providers/{id}/:
    delete:
      description: ""
      operationId: circuits_providers_delete
      parameters:
      - description: A unique integer value identifying this provider.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: circuits_providers_read
      parameters:
      - description: A unique integer value identifying this provider.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: circuits_providers_partial_update
      parameters:
      - description: A unique integer value identifying this provider.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Provider'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: circuits_providers_update
      parameters:
      - description: A unique integer value identifying this provider.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Provider'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-content-type: application/json
      x-accepts:
      - application/json
  /circuits/providers/{id}/graphs/:
    get:
      description: A convenience method for rendering graphs for a particular provider.
      operationId: circuits_providers_graphs
      parameters:
      - description: A unique integer value identifying this provider.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-accepts:
      - application/json
  /dcim/_choices/:
    get:
      description: ""
      operationId: dcim__choices_list
      responses:
        "200":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/_choices/{id}/:
    get:
      description: ""
      operationId: dcim__choices_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/connected-device/:
    get:
      description: |-
        This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer
        interface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors
        via a protocol such as LLDP. Two query parameters must be included in the request:

        * `peer_device`: The name of the peer device
        * `peer_interface`: The name of the peer interface
      operationId: dcim_connected-device_list
      parameters:
      - description: The name of the peer device
        explode: true
        in: query
        name: peer_device
        required: true
        schema:
          type: string
        style: form
      - description: The name of the peer interface
        explode: true
        in: query
        name: peer_interface
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/console-connections/:
    get:
      description: ""
      operationId: dcim_console-connections_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: connection_status
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_connections_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/console-port-templates/:
    get:
      description: ""
      operationId: dcim_console-port-templates_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: devicetype_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_port_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_console-port-templates_create
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePortTemplate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-port-templates/{id}/:
    delete:
      description: ""
      operationId: dcim_console-port-templates_delete
      parameters:
      - description: A unique integer value identifying this console port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_console-port-templates_read
      parameters:
      - description: A unique integer value identifying this console port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_console-port-templates_partial_update
      parameters:
      - description: A unique integer value identifying this console port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePortTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_console-port-templates_update
      parameters:
      - description: A unique integer value identifying this console port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePortTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-ports/:
    get:
      description: ""
      operationId: dcim_console-ports_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_connections_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_console-ports_create
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePort'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-ports/{id}/:
    delete:
      description: ""
      operationId: dcim_console-ports_delete
      parameters:
      - description: A unique integer value identifying this console port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_console-ports_read
      parameters:
      - description: A unique integer value identifying this console port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_console-ports_partial_update
      parameters:
      - description: A unique integer value identifying this console port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePort'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_console-ports_update
      parameters:
      - description: A unique integer value identifying this console port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsolePort'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-server-port-templates/:
    get:
      description: ""
      operationId: dcim_console-server-port-templates_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: devicetype_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_server_port_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_console-server-port-templates_create
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPortTemplate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-server-port-templates/{id}/:
    delete:
      description: ""
      operationId: dcim_console-server-port-templates_delete
      parameters:
      - description: A unique integer value identifying this console server port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_console-server-port-templates_read
      parameters:
      - description: A unique integer value identifying this console server port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPortTemplate'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_console-server-port-templates_partial_update
      parameters:
      - description: A unique integer value identifying this console server port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPortTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_console-server-port-templates_update
      parameters:
      - description: A unique integer value identifying this console server port template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPortTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPortTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-server-ports/:
    get:
      description: ""
      operationId: dcim_console-server-ports_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_server_ports_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_console-server-ports_create
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPort'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/console-server-ports/{id}/:
    delete:
      description: ""
      operationId: dcim_console-server-ports_delete
      parameters:
      - description: A unique integer value identifying this console server port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_console-server-ports_read
      parameters:
      - description: A unique integer value identifying this console server port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPort'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_console-server-ports_partial_update
      parameters:
      - description: A unique integer value identifying this console server port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPort'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_console-server-ports_update
      parameters:
      - description: A unique integer value identifying this console server port.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableConsoleServerPort'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleServerPort'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-bay-templates/:
    get:
      description: ""
      operationId: dcim_device-bay-templates_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: devicetype_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_device_bay_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_device-bay-templates_create
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBayTemplate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBayTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-bay-templates/{id}/:
    delete:
      description: ""
      operationId: dcim_device-bay-templates_delete
      parameters:
      - description: A unique integer value identifying this device bay template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_device-bay-templates_read
      parameters:
      - description: A unique integer value identifying this device bay template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBayTemplate'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_device-bay-templates_partial_update
      parameters:
      - description: A unique integer value identifying this device bay template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBayTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBayTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_device-bay-templates_update
      parameters:
      - description: A unique integer value identifying this device bay template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBayTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBayTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-bays/:
    get:
      description: ""
      operationId: dcim_device-bays_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_device_bays_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_device-bays_create
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBay'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBay'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-bays/{id}/:
    delete:
      description: ""
      operationId: dcim_device-bays_delete
      parameters:
      - description: A unique integer value identifying this device bay.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_device-bays_read
      parameters:
      - description: A unique integer value identifying this device bay.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBay'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_device-bays_partial_update
      parameters:
      - description: A unique integer value identifying this device bay.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBay'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBay'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_device-bays_update
      parameters:
      - description: A unique integer value identifying this device bay.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceBay'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBay'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-roles/:
    get:
      description: ""
      operationId: dcim_device-roles_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: color
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: vm_role
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_device_roles_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_device-roles_create
      requestBody:
        $ref: '#/components/requestBodies/DeviceRole'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRole'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-roles/{id}/:
    delete:
      description: ""
      operationId: dcim_device-roles_delete
      parameters:
      - description: A unique integer value identifying this device role.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_device-roles_read
      parameters:
      - description: A unique integer value identifying this device role.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRole'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_device-roles_partial_update
      parameters:
      - description: A unique integer value identifying this device role.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/DeviceRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRole'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_device-roles_update
      parameters:
      - description: A unique integer value identifying this device role.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/DeviceRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRole'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-types/:
    get:
      description: ""
      operationId: dcim_device-types_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: part_number
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: u_height
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: is_full_depth
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_console_server
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_pdu
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_network_device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: subdevice_role
        required: false
        schema:
          type: string
        style: form
      - description: Multiple values may be separated by commas.
        explode: true
        in: query
        name: id__in
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_device_types_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_device-types_create
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceType'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceType'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/device-types/{id}/:
    delete:
      description: ""
      operationId: dcim_device-types_delete
      parameters:
      - description: A unique integer value identifying this device type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_device-types_read
      parameters:
      - description: A unique integer value identifying this device type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceType'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_device-types_partial_update
      parameters:
      - description: A unique integer value identifying this device type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceType'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_device-types_update
      parameters:
      - description: A unique integer value identifying this device type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDeviceType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceType'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/devices/:
    get:
      description: ""
      operationId: dcim_devices_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: serial
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: position
        required: false
        schema:
          type: number
        style: form
      - description: Multiple values may be separated by commas.
        explode: true
        in: query
        name: id__in
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_type_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: role_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: role
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tenant
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: platform_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: asset_tag
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: region_id
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: rack_group_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: rack_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: cluster_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_full_depth
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_console_server
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_pdu
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: is_network_device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: mac_address
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: has_primary_ip
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: virtual_chassis_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_devices_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_devices_create
      requestBody:
        $ref: '#/components/requestBodies/WritableDevice'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/devices/{id}/:
    delete:
      description: ""
      operationId: dcim_devices_delete
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_devices_read
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceWithConfigContext'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_devices_partial_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDevice'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_devices_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableDevice'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/devices/{id}/napalm/:
    get:
      description: Execute a NAPALM method on a Device
      operationId: dcim_devices_napalm
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/interface-connections/:
    get:
      description: ""
      operationId: dcim_interface-connections_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: connection_status
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_interface_connections_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_interface-connections_create
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceConnection'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceConnection'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interface-connections/{id}/:
    delete:
      description: ""
      operationId: dcim_interface-connections_delete
      parameters:
      - description: A unique integer value identifying this interface connection.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_interface-connections_read
      parameters:
      - description: A unique integer value identifying this interface connection.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceConnection'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_interface-connections_partial_update
      parameters:
      - description: A unique integer value identifying this interface connection.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceConnection'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceConnection'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_interface-connections_update
      parameters:
      - description: A unique integer value identifying this interface connection.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceConnection'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceConnection'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interface-templates/:
    get:
      description: ""
      operationId: dcim_interface-templates_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: form_factor
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: mgmt_only
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: devicetype_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_interface_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_interface-templates_create
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceTemplate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interface-templates/{id}/:
    delete:
      description: ""
      operationId: dcim_interface-templates_delete
      parameters:
      - description: A unique integer value identifying this interface template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_interface-templates_read
      parameters:
      - description: A unique integer value identifying this interface template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceTemplate'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_interface-templates_partial_update
      parameters:
      - description: A unique integer value identifying this interface template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_interface-templates_update
      parameters:
      - description: A unique integer value identifying this interface template.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterfaceTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceTemplate'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interfaces/:
    get:
      description: ""
      operationId: dcim_interfaces_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: enabled
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: mtu
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: mgmt_only
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: number
        style: form
      - description: ""
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lag_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: mac_address
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: vlan_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: vlan
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: form_factor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_interfaces_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_interfaces_create
      requestBody:
        $ref: '#/components/requestBodies/WritableInterface'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interfaces/{id}/:
    delete:
      description: ""
      operationId: dcim_interfaces_delete
      parameters:
      - description: A unique integer value identifying this interface.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_interfaces_read
      parameters:
      - description: A unique integer value identifying this interface.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_interfaces_partial_update
      parameters:
      - description: A unique integer value identifying this interface.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterface'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_interfaces_update
      parameters:
      - description: A unique integer value identifying this interface.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInterface'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/interfaces/{id}/graphs/:
    get:
      description: A convenience method for rendering graphs for a particular interface.
      operationId: dcim_interfaces_graphs
      parameters:
      - description: A unique integer value identifying this interface.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
  /dcim/inventory-items/:
    get:
      description: ""
      operationId: dcim_inventory-items_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: part_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: serial
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: asset_tag
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: discovered
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: parent_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_inventory_items_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_inventory-items_create
      requestBody:
        $ref: '#/components/requestBodies/WritableInventoryItem'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/inventory-items/{id}/:
    delete:
      description: ""
      operationId: dcim_inventory-items_delete
      parameters:
      - description: A unique integer value identifying this inventory item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_inventory-items_read
      parameters:
      - description: A unique integer value identifying this inventory item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_inventory-items_partial_update
      parameters:
      - description: A unique integer value identifying this inventory item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInventoryItem'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_inventory-items_update
      parameters:
      - description: A unique integer value identifying this inventory item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WritableInventoryItem'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/manufacturers/:
    get:
      description: ""
      operationId: dcim_manufacturers_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_manufacturers_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_manufacturers_create
      requestBody:
        $ref: '#/components/requestBodies/Manufacturer'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturer'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/manufacturers/{id}/:
    delete:
      description: ""
      operationId: dcim_manufacturers_delete
      parameters:
      - description: A unique integer value identifying this manufacturer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_manufacturers_read
      parameters:
      - description: A unique integer value identifying this manufacturer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturer'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_manufacturers_partial_update
      parameters:
      - description: A unique integer value identifying this manufacturer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Manufacturer'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturer'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: dcim_manufacturers_update
      parameters:
      - description: A unique integer value identifying this manufacturer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Manufacturer'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturer'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/platforms/:
    get:
      description: ""
      operationId: dcim_platforms_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer_id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: manufacturer
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_platforms_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: dcim_platforms_create
      requestBody:
        $ref: '#/components/requestBodies/WritablePlatform'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
          description: ""
      tags:
      - dcim
      x-content-type: application/json
      x-accepts:
      - application/json
  /dcim/platforms/{id}/:
    delete:
      description: ""
      operationId: dcim_platforms_delete
      parameters:
      - description: A unique integer value identifying this platform.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: dcim_platforms_read
      parameters:
      - description: A unique integer value identifying this platform.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
          description: ""
      tags:
      - dcim
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: dcim_platforms_partial_update
      parameters:
      - description: A unique integer value identifying this platform.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
[...]
