openapi: 3.0.1
info:
  description: Azure Alerts Management Service provides a single pane of glass of
    alerts across Azure Monitor.
  title: Azure Alerts Management Service Resource Provider
  version: 2019-05-05-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: alertsmanagement-AlertsManagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.AlertsManagement/alertsMetaData:
    get:
      description: List alerts meta data information based on value of identifier
        parameter.
      operationId: alerts_meta_data
      parameters:
      - description: client API version
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: Identification of the information to be retrieved by API call.
        in: query
        name: identifier
        required: true
        schema:
          enum:
          - MonitorServiceList
          type: string
          x-ms-enum:
            modelAsString: true
            name: identifier
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: identifier
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsMetaData'
          description: OK. Successfully listed alert meta data.
      x-ms-examples:
        MonService:
          parameters:
            api-version: 2019-05-05-preview
            identifier: MonitorServiceList
          responses:
            "200":
              body:
                properties:
                  data:
                  - displayName: Activity Log - Administrative
                    name: ActivityLog Administrative
                  - displayName: Activity Log - Autoscale
                    name: ActivityLog Autoscale
                  - displayName: Activity Log - Policy
                    name: ActivityLog Policy
                  - displayName: Activity Log - Recommendation
                    name: ActivityLog Recommendation
                  - displayName: Activity Log - Security
                    name: ActivityLog Security
                  - displayName: Application Insights
                    name: Application Insights
                  - displayName: Azure Backup
                    name: Azure Backup
                  - displayName: Custom
                    name: Custom
                  - displayName: Data Box Edge
                    name: Data Box Edge
                  - displayName: VM Insights
                    name: VM Insights
                  - displayName: Log Analytics
                    name: Log Analytics
                  - displayName: NAGIOS
                    name: Nagios
                  - displayName: Platform
                    name: Platform
                  - displayName: Resource Health
                    name: Resource Health
                  - displayName: SCOM
                    name: SCOM
                  - displayName: Service Health
                    name: ServiceHealth
                  - displayName: SmartDetector
                    name: Smart Detector
                  - displayName: ZABBIX
                    name: Zabbix
                  metadataIdentifier: MonitorServiceList
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.AlertsManagement/operations:
    get:
      description: List all operations available through Azure Alerts Management Resource
        Provider.
      operationId: operations_list
      parameters:
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationsList'
          description: OK. Successfully retrieved operations list.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules:
    get:
      description: List all action rules of the subscription and given input filters
      operationId: action_rules_list_by_subscription
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: targetResourceGroup
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: targetResourceType
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: targetResource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitorService
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: filter by impacted/target scope (provide comma separated list
          for multiple scopes). The value should be an well constructed ARM id of
          the scope.
        in: query
        name: impactedScope
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by alert rule description
        in: query
        name: description
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by alert rule id
        in: query
        name: alertRuleId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by action group configured as part of action rule
        in: query
        name: actionGroup
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by action rule name
        in: query
        name: name
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionRulesList'
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all action rule in a given subscription
      x-ms-examples:
        GetActionRulesSubscriptionWide:
          parameters:
            api-version: 2019-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/actionRules?api-version=2018-11-02-privatepreview&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/DailySuppression
                  location: Global
                  name: DailySuppression
                  properties:
                    conditions:
                      monitorService:
                        operator: Equals
                        values:
                        - Platform
                        - Application Insights
                      severity:
                        operator: Equals
                        values:
                        - Sev0
                        - Sev2
                      targetResourceType:
                        operator: NotEquals
                        values:
                        - Microsoft.Compute/VirtualMachines
                    createdAt: 2018-06-12T22:05:09Z
                    createdBy: abc@microsoft.com
                    description: Action rule on resource group for daily suppression
                    lastModifiedAt: 2018-06-12T22:05:09Z
                    lastModifiedBy: xyz@microsoft.com
                    scope:
                      scopeType: ResourceGroup
                      values:
                      - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                    status: Enabled
                    suppressionConfig:
                      recurrenceType: Daily
                      schedule:
                        endDate: 12/18/2018
                        endTime: 14:00:00
                        startDate: 12/09/2018
                        startTime: 06:00:00
                    type: Suppression
                  tags: {}
                  type: Microsoft.AlertsManagement/actionRules
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/WeeklySuppression
                  location: Global
                  name: WeeklySuppression
                  properties:
                    conditions:
                      description:
                        operator: Contains
                        values:
                        - Percentage CPU greater than 80%
                        - Metric alert on resource foo
                      monitorCondition:
                        operator: Equals
                        values:
                        - Fired
                    createdAt: 2018-06-12T22:05:09Z
                    createdBy: abc@microsoft.com
                    description: Action rule on resource group for sending diagnostics
                    lastModifiedAt: 2018-06-12T22:05:09Z
                    lastModifiedBy: xyz@microsoft.com
                    scope:
                      scopeType: Resource
                      values:
                      - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.Compute/VirtualMachines/testResource
                    status: Enabled
                    type: Diagnostics
                  tags: {}
                  type: Microsoft.AlertsManagement/actionRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts:
    get:
      description: "List all existing alerts, where the results can be filtered on\
        \ the basis of multiple parameters (e.g. time range). The results can then\
        \ be sorted on the basis specific fields, with the default being lastModifiedDateTime. "
      operationId: alerts_get_all
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitorCondition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the alert instance. Default value is to select
          all.
        in: query
        name: alertState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by specific alert rule.  Default value is to select all.
        in: query
        name: alertRule
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter the alerts list by the Smart Group Id. Default value is
          none.
        in: query
        name: smartGroupId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include context which has contextual data specific to the monitor
          service. Default value is false'
        in: query
        name: includeContext
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include egress config which would be used for displaying the
          content in portal.  Default value is 'false'.
        in: query
        name: includeEgressConfig
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Determines number of alerts returned per page in response. Permissible\
          \ value is between 1 to 250. When the \"includeContent\"  filter is selected,\
          \ maximum value allowed is 25. Default value is 25."
        in: query
        name: pageCount
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Sort the query results by input field,  Default value is 'lastModifiedDateTime'."
        in: query
        name: sortBy
        schema:
          enum:
          - name
          - severity
          - alertState
          - monitorCondition
          - targetResource
          - targetResourceName
          - targetResourceGroup
          - targetResourceType
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      - description: Sort the query results order in either ascending or descending.  Default
          value is 'desc' for time fields and 'asc' for others.
        in: query
        name: sortOrder
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This filter allows to selection of the fields(comma separated)
          which would  be part of the essential section. This would allow to project
          only the  required fields rather than getting entire content.  Default is
          to fetch all the fields in the essentials section.
        in: query
        name: select
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: timeRange
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: Filter by custom time range in the format <start-time>/<end-time>  where
          time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
          time. Either timeRange or customTimeRange could be used but not both. Default
          is none.
        in: query
        name: customTimeRange
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsList'
          description: OK. Successfully listed alert objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        ListAlerts:
          parameters:
            api-version: 2019-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05-preview&timeRange=1d&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                - id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                  name: cpu alert
                  properties:
                    context: {}
                    egressConfig: {}
                    essentials:
                      alertRule: https://servisdffsdf.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                        Alert Rule/details/index?savedSearchId=&scheduleId=
                      alertState: Acknowledged
                      lastModifiedDateTime: 2018-09-13T15:51:02Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                      monitorService: Application Insights
                      severity: Sev3
                      signalType: Log
                      smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                      smartGroupingReason: Occurred frequently with other alerts
                      sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                      startDateTime: 2018-09-13T15:51:02Z
                      targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                      targetResourceGroup: servicedeskresourcegroup
                      targetResourceName: servicedeskappinsight
                      targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
                - id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                  name: cpu alert
                  properties:
                    context: {}
                    egressConfig: {}
                    essentials:
                      alertRule: https://servicsdfsdf.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                        Alert Rule/details/index?savedSearchId=&scheduleId=
                      alertState: New
                      lastModifiedDateTime: 2018-09-13T15:51:02Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                      monitorService: Application Insights
                      severity: Sev3
                      signalType: Log
                      smartGroupId: d1c49c89-ea95-4697-a299-c0f5ebac62f1
                      smartGroupingReason: Alerts that frequently occur together have
                        been grouped.
                      sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                      startDateTime: 2018-09-13T15:51:02Z
                      targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/cind/providers/microsoft.operationalinsights/workspaces/servicedeskwcus
                      targetResourceGroup: servicedeskresourcegroup
                      targetResourceName: servicedeskwcus
                      targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}:
    get:
      description: Get information related to a specific alert
      operationId: alerts_get_by_id
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Unique ID of an alert instance.
        in: path
        name: alertId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Returns the alert with the specified ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get a specific alert.
      x-ms-examples:
        GetById:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  context: {}
                  egressConfig: {}
                  essentials:
                    alertRule: https://sersdfsdfinsight.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                      Alert Rule/details/index?savedSearchId=&scheduleId=
                    alertState: Acknowledged
                    lastModifiedDateTime: 2018-09-13T15:51:02Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                    monitorService: Application Insights
                    severity: Sev3
                    signalType: Log
                    smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                    smartGroupingReason: Occurred frequently with other alerts
                    sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                    startDateTime: 2018-09-13T15:51:02Z
                    targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                    targetResourceGroup: servicedeskresourcegroup
                    targetResourceName: servicedeskappinsight
                    targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate:
    post:
      description: Change the state of an alert.
      operationId: alerts_change_state
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Unique ID of an alert instance.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: New state of the alert.
        in: query
        name: newState
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Alert state updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-05-05-preview
            body:
              comments: Acknowledging alert
            newState: Acknowledged
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  context: {}
                  egressConfig: {}
                  essentials:
                    alertRule: https://servisdfsdfappinsight.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                      Alert Rule/details/index?savedSearchId=&scheduleId=
                    alertState: Acknowledged
                    lastModifiedDateTime: 2018-09-13T15:51:02Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                    monitorService: Application Insights
                    severity: Sev3
                    signalType: Log
                    smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                    smartGroupingReason: Occurred frequently with other alerts
                    sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                    startDateTime: 2018-09-13T15:51:02Z
                    targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                    targetResourceGroup: servicedeskresourcegroup
                    targetResourceName: servicedeskappinsight
                    targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history:
    get:
      description: "Get the history of an alert, which captures any monitor condition\
        \ changes (Fired/Resolved) and alert state changes (New/Acknowledged/Closed)."
      operationId: alerts_get_history
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Unique ID of an alert instance.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertModification'
          description: OK. Returns the history of the specified alert.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100/history/default
                name: CPU Alert
                properties:
                  alertId: 66114d64-d9d9-478b-95c9-b789d6502100
                  modifications:
                  - comments: Acknowledging alert
                    description: State changed from 'New' to 'Acknowledged'
                    modificationEvent: StateChange
                    modifiedAt: 2018-06-13T06:14:15.7378737Z
                    modifiedBy: vikramm@microsoft.com
                    newValue: Acknowledged
                    oldValue: New
                  - comments: ""
                    description: New Alert Object is created
                    modificationEvent: AlertCreated
                    modifiedAt: 2018-06-13T06:09:01Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alertsSummary:
    get:
      description: Get a summarized count of your alerts grouped by various parameters
        (e.g. grouping by 'Severity' returns the count of alerts for each severity).
      operationId: alerts_get_summary
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: "This parameter allows the result set to be grouped by input\
          \ fields (Maximum 2 comma separated fields supported). For example, groupby=severity\
          \ or groupby=severity,alertstate."
        in: query
        name: groupby
        required: true
        schema:
          enum:
          - severity
          - alertState
          - monitorCondition
          - monitorService
          - signalType
          - alertRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertsSummaryGroupByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertsSummaryGroupByFields
        x-ms-parameter-location: method
      - description: Include count of the SmartGroups as part of the summary. Default
          value is 'false'.
        in: query
        name: includeSmartGroupsCount
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitor_condition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the alert instance. Default value is to select
          all.
        in: query
        name: alert_state
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by specific alert rule.  Default value is to select all.
        in: query
        name: alert_rule
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: Filter by custom time range in the format <start-time>/<end-time>  where
          time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
          time. Either timeRange or customTimeRange could be used but not both. Default
          is none.
        in: query
        name: custom_time_range
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsSummary'
          description: OK. Alert summary returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Summary:
          parameters:
            api-version: 2019-05-05-preview
            groupby: "severity,alertState"
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alertsSummary/current
                name: current
                properties:
                  groupedby: severity
                  smartGroupsCount: 100
                  total: 14189
                  values:
                  - count: 6517
                    groupedby: alertState
                    name: Sev0
                    values:
                    - count: 6517
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 3175
                    groupedby: alertState
                    name: Sev1
                    values:
                    - count: 3175
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1120
                    groupedby: alertState
                    name: Sev2
                    values:
                    - count: 1120
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1902
                    groupedby: alertState
                    name: Sev3
                    values:
                    - count: 1902
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1475
                    groupedby: alertState
                    name: Sev4
                    values:
                    - count: 1475
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                type: Microsoft.AlertsManagement/alertsSummary
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups:
    get:
      description: 'List all the Smart Groups within a specified subscription. '
      operationId: smart_groups_get_all
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitor_condition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the smart group. Default value is to select
          all.
        in: query
        name: smartGroupState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: "Determines number of alerts returned per page in response. Permissible\
          \ value is between 1 to 250. When the \"includeContent\"  filter is selected,\
          \ maximum value allowed is 25. Default value is 25."
        in: query
        name: page_count
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Sort the query results by input field. Default value is sort
          by 'lastModifiedDateTime'.
        in: query
        name: sortBy
        schema:
          enum:
          - alertsCount
          - state
          - severity
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: SmartGroupsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: SmartGroupsSortByFields
        x-ms-parameter-location: method
      - description: Sort the query results order in either ascending or descending.  Default
          value is 'desc' for time fields and 'asc' for others.
        in: query
        name: sort_order
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupsList'
          description: OK. Returns list of all smartGroups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all Smart Groups within a specified subscription
      x-ms-examples:
        List:
          parameters:
            api-version: 2019-05-05-preview
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                  name: cpu alert
                  properties:
                    alertSeverities:
                    - count: 1942
                      name: Sev3
                    alertStates:
                    - count: 1941
                      name: New
                    - count: 1
                      name: Acknowledged
                    alertsCount: 1942
                    lastModifiedDateTime: 2018-06-13T06:30:09Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 1942
                      name: Fired
                    monitorServices:
                    - count: 1942
                      name: Application Insights
                    resourceGroups:
                    - count: 1942
                      name: alertscorrelationrg
                    resourceTypes:
                    - count: 1942
                      name: components
                    resources:
                    - count: 1942
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                    severity: Sev3
                    smartGroupState: New
                    startDateTime: 2018-06-06T12:35:09Z
                  type: Microsoft.AlertsManagement/smartGroups
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/01114c7c-769f-4fd4-b6fa-ab77693b83cd
                  name: CPU Alert
                  properties:
                    alertSeverities:
                    - count: 6984
                      name: Sev0
                    - count: 6927
                      name: Sev1
                    alertStates:
                    - count: 15358
                      name: New
                    - count: 12
                      name: Acknowledged
                    - count: 4
                      name: Closed
                    alertsCount: 15374
                    lastModifiedDateTime: 2018-06-13T06:29:01Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 15374
                      name: Fired
                    monitorServices:
                    - count: 13911
                      name: Log Analytics
                    resourceGroups:
                    - count: 15374
                      name: mms-eus
                    resourceTypes:
                    - count: 6912
                      name: microsoft.operationalinsights/workspaces
                    - count: 8462
                      name: workspaces
                    resources:
                    - count: 15374
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/mms-eus/providers/microsoft.operationalinsights/workspaces/alertsint
                    severity: Sev0
                    smartGroupState: Acknowledged
                    startDateTime: 2018-05-17T10:18:44.2020997Z
                  type: Microsoft.AlertsManagement/smartGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}:
    get:
      description: Get information related to a specific Smart Group.
      operationId: smart_groups_get_by_id
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smartGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Returns the group with the specified smart group Id.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get information related to a specific Smart Group.
      x-ms-examples:
        Get:
          parameters:
            api-version: 2019-05-05-preview
            smartGroupId: 603675da-9851-4b26-854a-49fc53d32715
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: New
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/changeState:
    post:
      description: Change the state of a Smart Group.
      operationId: smart_groups_change_state
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: New state of the alert.
        in: query
        name: new_state
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Smart Group state updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        changestate:
          parameters:
            api-version: 2019-05-05-preview
            body:
              comments: Acknowledging smart group
            newState: Acknowledged
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: Acknowledged
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/history:
    get:
      description: "Get the history a smart group, which captures any Smart Group\
        \ state changes (New/Acknowledged/Closed) ."
      operationId: smart_groups_get_history
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupModification'
          description: OK. Returns the list of changes of smart group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            api-version: 2019-05-05-preview
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059/history/default
                name: cpu alert
                properties:
                  modifications:
                  - comments: ""
                    description: New Smart Group is created
                    modificationEvent: SmartGroupCreated
                    modifiedAt: 2018-06-06T12:35:09Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/actionRules:
    get:
      description: "List all action rules of the subscription, created in given resource\
        \ group and given input filters"
      operationId: action_rules_list_by_resource_group
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: filter by impacted/target scope (provide comma separated list
          for multiple scopes). The value should be an well constructed ARM id of
          the scope.
        in: query
        name: impacted_scope
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by alert rule description
        in: query
        name: description
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by alert rule id
        in: query
        name: alert_rule_id
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by action group configured as part of action rule
        in: query
        name: action_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by action rule name
        in: query
        name: name
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionRulesList'
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all action rules created in a resource group
      x-ms-examples:
        GetActionRulesResourceGroupWide:
          parameters:
            api-version: 2019-05-05-preview
            resourceGroupName: alertscorrelationrg
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules?api-version=2018-11-02-privatepreview&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/DailySuppression
                  location: Global
                  name: DailySuppression
                  properties:
                    conditions:
                      monitorService:
                        operator: Equals
                        values:
                        - Platform
                        - Application Insights
                      severity:
                        operator: Equals
                        values:
                        - Sev0
                        - Sev2
                      targetResourceType:
                        operator: NotEquals
                        values:
                        - Microsoft.Compute/VirtualMachines
                    createdAt: 2018-06-12T22:05:09Z
                    createdBy: abc@microsoft.com
                    description: Action rule on resource group for daily suppression
                    lastModifiedAt: 2018-06-12T22:05:09Z
                    lastModifiedBy: xyz@microsoft.com
                    scope:
                      scopeType: ResourceGroup
                      values:
                      - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                    status: Enabled
                    suppressionConfig:
                      recurrenceType: Daily
                      schedule:
                        endDate: 12/18/2018
                        endTime: 14:00:00
                        startDate: 12/09/2018
                        startTime: 06:00:00
                    type: Suppression
                  tags: {}
                  type: Microsoft.AlertsManagement/actionRules
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/WeeklySuppression
                  location: Global
                  name: WeeklySuppression
                  properties:
                    actionGroupId: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.insights/actiongroups/testAG
                    conditions:
                      alertContext:
                        operator: DoesNotContain
                        values:
                        - testresource
                        - foo
                      description:
                        operator: Contains
                        values:
                        - Percentage CPU greater than 80%
                        - Metric alert on resource foo
                      monitorCondition:
                        operator: Equals
                        values:
                        - Fired
                    createdAt: 2018-06-12T22:05:09Z
                    createdBy: abc@microsoft.com
                    description: Action rule on resource group for sending email
                    lastModifiedAt: 2018-06-12T22:05:09Z
                    lastModifiedBy: xyz@microsoft.com
                    scope:
                      scopeType: Resource
                      values:
                      - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.Compute/VirtualMachines/testResource
                    status: Enabled
                    type: ActionGroup
                  tags: {}
                  type: Microsoft.AlertsManagement/actionRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/actionRules/{actionRuleName}
  : delete:
      description: Deletes a given action rule
      operationId: action_rules_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name that needs to be deleted
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: OK. Returns true if deleted successfully
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Delete action rule
      x-ms-examples:
        DeleteActionRule:
          parameters:
            actionRuleName: DailySuppression
            api-version: 2019-05-05-preview
            resourceGroupName: alertscorrelationrg
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get a specific action rule
      operationId: action_rules_get_by_name
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of action rule that needs to be fetched
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionRule'
          description: OK. Returns the specific action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get action rule by name
      x-ms-examples:
        GetActionRuleById:
          parameters:
            actionRuleName: DailySuppression
            api-version: 2019-05-05-preview
            resourceGroupName: alertscorrelationrg
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/DailySuppression
                location: Global
                name: DailySuppression
                properties:
                  conditions:
                    monitorCondition:
                      operator: Equals
                      values:
                      - Fired
                    monitorService:
                      operator: Equals
                      values:
                      - Platform
                      - Application Insights
                    severity:
                      operator: Equals
                      values:
                      - Sev0
                      - Sev2
                    targetResourceType:
                      operator: NotEquals
                      values:
                      - Microsoft.Compute/VirtualMachines
                  createdAt: 2018-06-12T22:05:09Z
                  createdBy: abc@microsoft.com
                  description: Action rule on resource group for daily suppression
                  lastModifiedAt: 2018-06-12T22:05:09Z
                  lastModifiedBy: xyz@microsoft.com
                  scope:
                    scopeType: ResourceGroup
                    values:
                    - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                  status: Enabled
                  suppressionConfig:
                    recurrenceType: Daily
                    schedule:
                      endDate: 12/18/2018
                      endTime: 14:00:00
                      startDate: 12/09/2018
                      startTime: 06:00:00
                  type: Suppression
                tags: {}
                type: Microsoft.AlertsManagement/actionRules
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Update enabled flag and/or tags for the given action rule
      operationId: action_rules_update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name that needs to be updated
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchObject'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: actionRulePatch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionRule'
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Patch action rule
      x-ms-examples:
        PatchActionRule:
          parameters:
            actionRuleName: WeeklySuppression
            actionRulePatch:
              properties:
                status: Disabled
              tags:
                key1: value1
                key2: value2
            api-version: 2019-05-05-preview
            resourceGroupName: alertscorrelationrg
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/WeeklySuppression
                location: Global
                name: WeeklySuppression
                properties:
                  conditions:
                    monitorService:
                      operator: Equals
                      values:
                      - Platform
                      - Application Insights
                    severity:
                      operator: Equals
                      values:
                      - Sev0
                      - Sev2
                    targetResourceType:
                      operator: NotEquals
                      values:
                      - Microsoft.Compute/VirtualMachines
                  createdAt: 2018-06-12T22:05:09Z
                  createdBy: abc@microsoft.com
                  description: Action rule on resource group for weekly suppression
                  lastModifiedAt: 2018-06-12T22:05:09Z
                  lastModifiedBy: xyz@microsoft.com
                  scope:
                    scopeType: ResourceGroup
                    values:
                    - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                  status: Disabled
                  suppressionConfig:
                    recurrenceType: Weekly
                    schedule:
                      endDate: 12/18/2018
                      endTime: 14:00:00
                      recurrenceValues:
                      - 1
                      - 2
                      startDate: 12/09/2018
                      startTime: 06:00:00
                  type: Suppression
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.AlertsManagement/actionRules
      x-codegen-request-body-name: actionRulePatch
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates/Updates a specific action rule
      operationId: action_rules_create_update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of action rule that needs to be created/updated
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-05-preview
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRule'
        description: action rule to be created/updated
        required: true
        x-body-name: actionRule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionRule'
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Create/update an action rule
      x-ms-examples:
        PutActionRule:
          parameters:
            actionRule:
              location: Global
              properties:
                conditions:
                  monitorCondition:
                    operator: Equals
                    values:
                    - Fired
                  monitorService:
                    operator: Equals
                    values:
                    - Platform
                    - Application Insights
                  severity:
                    operator: Equals
                    values:
                    - Sev0
                    - Sev2
                  targetResourceType:
                    operator: NotEquals
                    values:
                    - Microsoft.Compute/VirtualMachines
                description: Action rule on resource group for daily suppression
                scope:
                  scopeType: ResourceGroup
                  values:
                  - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                status: Enabled
                suppressionConfig:
                  recurrenceType: Daily
                  schedule:
                    endDate: 12/18/2018
                    endTime: 14:00:00
                    startDate: 12/09/2018
                    startTime: 06:00:00
                type: Suppression
              tags: {}
            actionRuleName: DailySuppression
            api-version: 2019-05-05-preview
            resourceGroupName: alertscorrelationrg
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/DailySuppression
                location: Global
                name: DailySuppression
                properties:
                  conditions:
                    monitorCondition:
                      operator: Equals
                      values:
                      - Fired
                    monitorService:
                      operator: Equals
                      values:
                      - Platform
                      - Application Insights
                    severity:
                      operator: Equals
                      values:
                      - Sev0
                      - Sev2
                    targetResourceType:
                      operator: NotEquals
                      values:
                      - Microsoft.Compute/VirtualMachines
                  createdAt: 2018-06-12T22:05:09Z
                  createdBy: abc@microsoft.com
                  description: Action rule on resource group for daily suppression
                  lastModifiedAt: 2018-06-12T22:05:09Z
                  lastModifiedBy: xyz@microsoft.com
                  scope:
                    scopeType: ResourceGroup
                    values:
                    - /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg
                  status: Enabled
                  suppressionConfig:
                    recurrenceType: Daily
                    schedule:
                      endDate: 12/18/2018
                      endTime: 14:00:00
                      startDate: 12/09/2018
                      startTime: 06:00:00
                  type: Suppression
                tags: {}
                type: Microsoft.AlertsManagement/actionRules
      x-codegen-request-body-name: actionRule
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    actionGroup:
      description: filter by action group configured as part of action rule
      in: query
      name: actionGroup
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    actionRuleName:
      description: filter by action rule name
      in: query
      name: name
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertId:
      description: Unique ID of an alert instance.
      in: path
      name: alertId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertRule:
      description: Filter by specific alert rule.  Default value is to select all.
      in: query
      name: alertRule
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertRuleId:
      description: filter by alert rule id
      in: query
      name: alertRuleId
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertState:
      description: Filter by state of the alert instance. Default value is to select
        all.
      in: query
      name: alertState
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    alertsSortBy:
      description: "Sort the query results by input field,  Default value is 'lastModifiedDateTime'."
      in: query
      name: sortBy
      schema:
        enum:
        - name
        - severity
        - alertState
        - monitorCondition
        - targetResource
        - targetResourceName
        - targetResourceGroup
        - targetResourceType
        - startDateTime
        - lastModifiedDateTime
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertsSortByFields
      x-ms-parameter-location: method
    alertsSummaryGroupBy:
      description: "This parameter allows the result set to be grouped by input fields\
        \ (Maximum 2 comma separated fields supported). For example, groupby=severity\
        \ or groupby=severity,alertstate."
      in: query
      name: groupby
      required: true
      schema:
        enum:
        - severity
        - alertState
        - monitorCondition
        - monitorService
        - signalType
        - alertRule
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertsSummaryGroupByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertsSummaryGroupByFields
      x-ms-parameter-location: method
    api-version:
      description: client API version
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2019-05-05-preview
        type: string
        x-ms-enum:
          modelAsString: true
          name: api-version
      x-ms-enum:
        modelAsString: true
        name: api-version
    customTimeRange:
      description: Filter by custom time range in the format <start-time>/<end-time>  where
        time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
        time. Either timeRange or customTimeRange could be used but not both. Default
        is none.
      in: query
      name: customTimeRange
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    description:
      description: filter by alert rule description
      in: query
      name: description
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    identifier:
      description: Identification of the information to be retrieved by API call.
      in: query
      name: identifier
      required: true
      schema:
        enum:
        - MonitorServiceList
        type: string
        x-ms-enum:
          modelAsString: true
          name: identifier
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: identifier
      x-ms-parameter-location: method
    impactedScope:
      description: filter by impacted/target scope (provide comma separated list for
        multiple scopes). The value should be an well constructed ARM id of the scope.
      in: query
      name: impactedScope
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeContext:
      description: Include context which has contextual data specific to the monitor
        service. Default value is false'
      in: query
      name: includeContext
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeEgressConfig:
      description: Include egress config which would be used for displaying the content
        in portal.  Default value is 'false'.
      in: query
      name: includeEgressConfig
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeSmartGroupsCount:
      description: Include count of the SmartGroups as part of the summary. Default
        value is 'false'.
      in: query
      name: includeSmartGroupsCount
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    monitorCondition:
      description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
        Default value is to select all.
      in: query
      name: monitorCondition
      schema:
        enum:
        - Fired
        - Resolved
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: MonitorCondition
      x-ms-parameter-location: method
    monitorService:
      description: Filter by monitor service which generates the alert instance. Default
        value is select all.
      in: query
      name: monitorService
      schema:
        enum:
        - Application Insights
        - ActivityLog Administrative
        - ActivityLog Security
        - ActivityLog Recommendation
        - ActivityLog Policy
        - ActivityLog Autoscale
        - Log Analytics
        - Nagios
        - Platform
        - SCOM
        - ServiceHealth
        - SmartDetector
        - VM Insights
        - Zabbix
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: MonitorService
      x-ms-parameter-location: method
    newState:
      description: New state of the alert.
      in: query
      name: newState
      required: true
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
[...]
