openapi: 3.0.0
info:
  description: Use MotaWord API to post and track your translation projects.
  title: MotaWord API
  version: "1.0"
  x-apiClientRegistration:
    url: https://www.motaword.com/developer/register
  x-apisguru-categories:
  - text
  x-cli-description: Use MotaWord CLI to interact with your MotaWord account in many
    ways to manage your translation and localization needs. Visit motaword.com/developer
    for details.
  x-cli-name: motaword
  x-logo:
    url: https://dentycj2qhk72.cloudfront.net/new/images/new_logo_horizontal.png
  x-origin:
  - format: openapi
    url: https://api.motaword.com/swagger
    version: "3.0"
  x-providerName: motaword.com
externalDocs:
  url: https://www.motaword.com/developer
servers:
- url: https://api.motaword.com
- url: https://sandbox.motaword.com
- url: http://localhost
security:
- mwoAuth:
  - default
paths:
  /:
    get:
      description: |
        The root endpoint will provide you with an OpenAPI definition of MotaWord API.
      operationId: get_endpoints
      responses:
        "200":
          content:
            text/yaml:
              schema:
                type: object
          description: YAML representation of our OpenAPI definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
      security: []
      summary: Available endpoints
      tags:
      - Static
      x-cli-cmd-group: static
      x-openapi-router-controller: openapi_server.controllers.static_controller
    x-internal: true
  /async/download:
    get:
      description: Download the result of an async operation that you have requested
        in other endpoints.
      operationId: download_async
      parameters:
      - description: Async operation key
        example: f0db2468-6b77-41a4-bafe-70157bc166ad
        explode: true
        in: query
        name: async_request_key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: File
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Download result of an async operation
      tags:
      - Async
      x-cli-cmd-group: async
      x-openapi-router-controller: openapi_server.controllers.async_controller
  /blogs:
    get:
      operationId: get_blog_posts
      parameters:
      - description: "Article language, default `en`. When no blog article is available\
          \ and `fallback=true` is specified, it falls back to `en`."
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: "When `true`, and no article is found in the locale, it falls\
          \ back to `locale=en`."
        explode: true
        in: query
        name: fallback
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogArticleList'
          description: List of blog articles
      summary: Get blog posts - ordered by created desc by default
      tags:
      - Blog
      x-cli-cmd-group: blog
      x-openapi-router-controller: openapi_server.controllers.blog_controller
    x-internal: true
  /cache/{key}:
    delete:
      operationId: delete_cache
      parameters:
      - description: Cache key
        example: any key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
      summary: Clear cache by key
      x-openapi-router-controller: openapi_server.controllers.default_controller
    x-internal: true
  /commissions:
    get:
      operationId: get_commissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionList'
          description: Commissions for client.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnauthorizedUser
      summary: Returns a commission list of current client.
      tags:
      - Commission
      x-cli-cmd-group: commissions
      x-openapi-router-controller: openapi_server.controllers.commission_controller
    post:
      operationId: get_commissions_by_filter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportFilter'
        required: false
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionList'
          description: Commissions for client.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnauthorizedUser
      summary: Returns a commission list of current client.
      tags:
      - Commission
      x-cli-cmd-group: commissions
      x-openapi-router-controller: openapi_server.controllers.commission_controller
      x-codegen-request-body-name: body
    x-internal: true
  /continuous_projects:
    get:
      description: "View a list of continuous projects under your account. Continuous\
        \ projects are those that are constantly updated, such as a CI/CD project,\
        \ software project, website translation and such."
      operationId: get_continuous_projects
      parameters:
      - description: Type of continuous project.
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: active
          enum:
          - active
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectsList'
          description: Newly created continuous project
      summary: View continuous projects
      tags:
      - ContinuousProject
      x-cli-aliases:
      - list
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: "Create a new continuous project for your software, website, CI/CD\
        \ translation needs."
      operationId: create_continuous_project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinuousProject'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProject'
          description: Newly created continuous project
      summary: Create a continuous project
      tags:
      - ContinuousProject
      x-cli-aliases:
      - create
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{id}:
    delete:
      description: "Delete an existing continuous project. Your project will be cancelled,\
        \ and you will still be charged for the amount of translations we have done\
        \ for you so far."
      operationId: delete_continuous_project
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Continuous project deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Delete a continuous project
      tags:
      - ContinuousProject
      x-cli-aliases:
      - delete
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    get:
      description: View the details of a continuous project.
      operationId: get_continuous_project
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProject'
          description: ContinuousProject model
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: View a continuous project
      tags:
      - ContinuousProject
      x-cli-aliases:
      - get
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: Update the details and settings of continuous project.
      operationId: update_continuous_project
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinuousProjectUpdateContent'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProject'
          description: Update continuous project operation status
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Update a continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{id}/analytics-token:
    get:
      description: Get JWT token to be used in analytics dashboards
      operationId: get_analytics_token
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsToken'
          description: JWT token result
      summary: Get JWT token to be used in analytics dashboards
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/collect-analytics:
    post:
      description: Save/collect analytics data from Active widget
      operationId: collect_analytics
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsCollection'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Analytics data collection result
      summary: Save/collect analytics data from Active widget
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
    x-internal: true
  /continuous_projects/{id}/complete:
    post:
      description: Complete continuous project
      operationId: complete
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
      summary: Complete continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/documents/quote:
    post:
      description: Get a new quote for provided documents in continuous project
      operationId: get_quote_for_documents
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQuotesForDocumentsBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: Newly created project
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectInsertFailed
      summary: Get quote for documents
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
    x-internal: true
  /continuous_projects/{id}/documents/{documentId}/complete:
    post:
      description: "Complete a continuous project document. Per your project settings,\
        \ a continuous project document can be target language-specific or project-wide\
        \ for all target languages of the project."
      operationId: complete_continuous_document
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound FileNotFound DocumentNotFound
      summary: Complete a continuous project document
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/documents/{documentId}/quote:
    post:
      description: "Get a new quote for provided document in continuous project. Per\
        \ your project settings, a continuous project document can be target language-specific\
        \ or project-wide for all target languages of the project."
      operationId: get_quote_for_document
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: Newly created project
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectInsertFailed
      summary: Get a quote for a continuous project document
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/languages/quote:
    post:
      description: Get a new quote for provided target languages in continuous project
      operationId: get_quote_for_languages
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQuotesForLanguagesBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: Newly created project
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectInsertFailed
      summary: Get quote for languages
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
    x-internal: true
  /continuous_projects/{id}/languages/{targetLanguage}/complete:
    post:
      description: Complete continuous project language
      operationId: complete_language
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Target language that you want to complete
        example: en-US
        explode: false
        in: path
        name: targetLanguage
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
      summary: Complete continuous project language
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/languages/{targetLanguage}/quote:
    post:
      description: Get a new quote for provided target language in continuous project
      operationId: get_quote_for_language
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Target language that you want to complete
        example: en-US
        explode: false
        in: path
        name: targetLanguage
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: Newly created project(s)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectInsertFailed
      summary: Get quote for language
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    x-internal: true
  /continuous_projects/{id}/subscription:
    delete:
      description: Delete subscription for continuous project
      operationId: delete_subscription
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Delete continuous project subscription
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Delete subscription for continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    get:
      description: Get subscription for continuous project
      operationId: get_subscription
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Get continuous project subscription
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Get subscription for continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: Create subscription for continuous project
      operationId: create_subscription
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Newly created continuous project subscription
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Create subscription for continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
    put:
      description: Update subscription for continuous project
      operationId: update_subscription
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Updated continuous project subscription
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Update subscription for continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{id}/subscription/payment:
    put:
      description: Update subscription payment method for continuous project
      operationId: update_subscription_payment_method
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Updated continuous project subscription
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Update subscription payment method for continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{id}/translate/{targetLanguage}:
    post:
      description: "Instantly translate your content with your existing TM and MT\
        \ resources. This is the primary endpoint to translate your files and content\
        \ on the fly, especially in CI/CD environments. This is a complex endpoint\
        \ that is configured in your Active or Continuous Project dashboards. For\
        \ instance, you can configure whether to use your TM, or translate missing\
        \ strings via MT and then post-edit those new translations. There are various\
        \ scenarios you can establish via a set of configurations."
      operationId: translate
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Target language that you want to instantly translate your file
          into.
        example: en-US
        explode: false
        in: path
        name: targetLanguage
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantTranslationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantTranslationResult'
          description: "Instant translation result. It may return a list of translated\
            \ strings, or a list of translated files."
      summary: Instantly translate your content
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/documents:
    get:
      description: View the documents under this continuous project
      operationId: get_continuous_project_documents
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: filterByLanguage
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectDocumentList'
          description: A list of continuous project document models
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: View continuous documents
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: "Add a new document to your continuous project. If the name already\
        \ exists, it will update the existing document. In most scenarios, this operation\
        \ will also trigger auto-translation of your document, via MT and/or TM."
      operationId: add_document
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrUpdateDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectDocument'
          description: The newly added continuous project document object.
      summary: Add a new document to your continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/documents/progress:
    post:
      description: Get continuous project document progress for multiple IDs
      operationId: post_continuous_project_document_progress
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinuousProjectDocumentProgressBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Progress'
          description: Progress information
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Get continuous project document progress for multiple IDs
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/documents/strings:
    post:
      operationId: post_continuous_project_file_strings
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinuousProjectDocumentStringsBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringList'
          description: Response for strings and their translations
      summary: Get a list of strings and its translations in the project.
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/documents/{documentId}:
    get:
      description: View the details of a source document in continuous translation
        project.
      operationId: get_continuous_project_document
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Document ID/Name
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectDocument'
          description: Progress information
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: View a continuous document
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: "Update source document in your continuous project. In most scenarios,\
        \ this operation will also trigger auto-translation of your document, via\
        \ MT and/or TM."
      operationId: update_document
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Continuous project document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrUpdateDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectDocument'
          description: The updated continuous project document object.
      summary: Update the document
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/documents/{documentId}/progress:
    get:
      description: Monitor the translation progress of a document in a continuous
        project in real-time.
      operationId: get_continuous_project_document_progress
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Document ID/Name
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: filterByLanguage
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Progress'
          description: Progress information
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Monitor progress of a continuous document
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
  /continuous_projects/{projectId}/documents/{documentId}/strings:
    get:
      description: "View the strings from a document and their translations in your\
        \ continuous translation project, for all target languages. If you need the\
        \ translated version of your source document/file, then you need to use package\
        \ and download endpoints."
      operationId: get_continuous_project_file_strings
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Document ID/Name
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringList'
          description: Response for strings and their translations
      summary: View strings their translations in a continuous document
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
  /continuous_projects/{projectId}/invoices:
    get:
      description: Get real-time access to a continuous project's invoices.
      operationId: get_continuous_project_invoices
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectInvoices'
          description: Invoices List
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Invoices of a continuous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
  /continuous_projects/{projectId}/progress:
    get:
      description: Monitor the translation progress of an ongoing continuous project
        in real-time.
      operationId: get_continuous_project_progress
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: filterByLanguage
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectProgress'
          description: Progress information
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Monitor progress and status of a continous project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
  /continuous_projects/{projectId}/strings:
    get:
      description: "View the strings and their translations in your continuous translation\
        \ project, for all target languages. If you need the translated version of\
        \ your source document/file, then you need to use package and download endpoints."
      operationId: get_continuous_project_strings
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringList'
          description: Response for strings and their translations
      summary: View strings and translations in continuous project
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
  /continuous_projects/{projectId}/strings/cached:
    delete:
      description: Clear/delete continuous project translation cache.
      operationId: clear_translation_cache
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Locale
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: Continuous Project File ID
        explode: true
        in: query
        name: file_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation response
      summary: Clear translation cache
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
    get:
      description: MotaWord caches your account intensively (and in a smart way) in
        real-time translation environments. This endpoint will return the currently
        cached strings and translations in your continuous translation project.
      operationId: get_translation_cache
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Flatten cache results and ignore document keys
        explode: true
        in: query
        name: flatten
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectCache'
          description: Response for strings and their translations
      summary: View cached strings translations in continuous project
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
  /continuous_projects/{projectId}/strings/recache-tms:
    post:
      description: Recache translations for the continuous project.
      operationId: recache_translations
      parameters:
      - description: Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Locale
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: Continuous Project File ID
        explode: true
        in: query
        name: file_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation response
      summary: Recache translations
      tags:
      - Strings
      x-cli-cmd-group: strings
      x-openapi-router-controller: openapi_server.controllers.strings_controller
  /continuous_projects/{projectId}/widgets:
    get:
      description: View a list of widgets in your Active project to be used in your
        website. Most website-specific configuration is provided via widgets.
      operationId: get_active_widgets
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveWidgetList'
          description: List of widgets
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: View Active widgets
      tags:
      - ContinuousProject
      x-cli-aliases:
      - widgets
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: "Create a new widget for your Active project to be used in your\
        \ website. Most website-specific configuration is provided via widgets. This\
        \ does not create a new Active project, just a separate widget."
      operationId: create_active_widget
      parameters:
      - description: Continuous project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveWidget'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveWidget'
          description: Updated widget details
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound | ActiveWidgetNotFound | UnauthorizedUser
      summary: Create a new Active widget
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/widgets/{widgetId}:
    delete:
      description: Delete a single widget for this Active project
      operationId: delete_active_widget
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Active widget ID belonging to this Continuous Project
        example: 236
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Delete operation result
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound | ActiveWidgetNotFound | UnauthorizedUser
      summary: Delete a single widget for this Active project
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    get:
      description: View the details of an Active widget to be used in your website.
        Most website-specific configuration is provided via widgets.
      operationId: get_active_widget
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Active widget ID belonging to this Continuous Project
        example: 236
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveWidget'
          description: Active widget details
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound | ActiveWidgetNotFound
      summary: View an Active widget
      tags:
      - ContinuousProject
      x-cli-aliases:
      - widget
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
    post:
      description: Update Active widget settings.
      operationId: update_active_widget
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Active widget ID belonging to this Continuous Project
        example: 236
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveWidget'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveWidget'
          description: Updated widget details
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound | ActiveWidgetNotFound | UnauthorizedUser
      summary: Update Active widget settings.
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
      x-codegen-request-body-name: body
  /continuous_projects/{projectId}/widgets/{widgetId}/reset-token:
    post:
      description: "Reset the public token used with your Active widget. This token\
        \ is used when communicating from your environment to MotaWord systems for\
        \ translation, analytics and meta."
      operationId: reset_active_widget_token
      parameters:
      - description: Continuous Project ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Active widget ID belonging to this Continuous Project
        example: 236
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveWidget'
          description: Updated widget details
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound | ActiveWidgetNotFound | UnauthorizedUser
      summary: Reset Active widget token
      tags:
      - ContinuousProject
      x-cli-cmd-group: continuous-projects
      x-openapi-router-controller: openapi_server.controllers.continuous_project_controller
  /corporate:
    get:
      description: View the details of the corporate account that your user account
        belongs to.
      operationId: get_corporate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateAccount'
          description: Corporate account details
      summary: View your corporate account
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
  /corporate/permissions:
    get:
      description: View a list of available permissions for your corporate account.
        They are used when assigning permissions to your corporate users.
      operationId: get_available_corporate_permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionList'
          description: List of permission strings
      summary: View available permissions
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
  /corporate/user-groups:
    get:
      description: View a list of user groups under my corporate account. User groups
        are a part of our RBAC implementation and can be used to configure complex
        permission scenarios.
      operationId: get_corporate_user_groups
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupList'
          description: User group list
      summary: View user groups
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    post:
      description: Create or update a corporate user group
      operationId: save_corporate_user_group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
          description: User group list
      summary: Create or update a corporate user group
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
      x-codegen-request-body-name: body
  /corporate/users:
    get:
      description: "View a list of users under your corporate account. This endpoint\
        \ will only return information if your user account is permitted to view corporate\
        \ account users, configured by your administrator."
      operationId: get_corporate_users
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: User list
      summary: View users
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    post:
      description: "Create or update a user under your corporate account. This endpoint\
        \ requires permissions for corporate user management, configured by your administrator."
      operationId: save_corporate_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateContent'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Created or updated user
      summary: Create or update a user
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
      x-codegen-request-body-name: body
  /corporates/all:
    get:
      description: Get a list of corporate accounts
      operationId: get_corporates_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CorporateAccount'
                type: array
          description: Corporate account list
      summary: Get a list of corporate accounts
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
  /corporates/{corporateId}:
    get:
      description: Get details of this corporate account
      operationId: get_corporate_by_id
      parameters:
      - description: Corporate ID
        example: 2
        explode: false
        in: path
        name: corporateId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateAccount'
          description: Corporate account details
      summary: Get details of this corporate account
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    x-internal: true
  /corporates/{corporateId}/permissions:
    get:
      description: Get a list of available permissions for this corporate account.
        They are used when assigning permissions to corporate users.
      operationId: get_available_corporate_permissions_by_id
      parameters:
      - description: Corporate ID
        example: 2
        explode: false
        in: path
        name: corporateId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionList'
          description: List of permission strings
      summary: Get a list of available permissions for this corporate account. They
        are used when assigning permissions to corporate users.
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    x-internal: true
  /corporates/{corporateId}/user-groups:
    get:
      description: Get a list of user groups for this corporate account
      operationId: get_corporate_user_groups_by_id
      parameters:
      - description: Corporate ID
        example: 2
        explode: false
        in: path
        name: corporateId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupList'
          description: User group list
      summary: Get a list of user groups for this corporate account
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    post:
      description: Create or update a corporate user group for this corporate account
      operationId: save_corporate_user_group_by_id
      parameters:
      - description: Corporate ID
        example: 2
        explode: false
        in: path
        name: corporateId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
          description: User group list
      summary: Create or update a corporate user group for this corporate account
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
      x-codegen-request-body-name: body
    x-internal: true
  /corporates/{corporateId}/users:
    get:
      description: Get a list of users for this corporate account
      operationId: get_corporate_users_by_id
      parameters:
      - description: Corporate ID
        example: 2
        explode: false
        in: path
        name: corporateId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: User list
      summary: Get a list of users for this corporate account
      tags:
      - Corporate
      x-cli-cmd-group: corporates
      x-openapi-router-controller: openapi_server.controllers.corporate_controller
    x-internal: true
  /delete-account:
    delete:
      description: "Delete your MotaWord account. Be careful; once deleted, you will\
        \ not have access to MotaWord via API or your dashboards."
      operationId: delete_account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Delete your account
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /documents:
    get:
      description: "View a list of files and documents that you have translations\
        \ for. This endpoint lets you view your MotaWord account as a multilingual\
        \ translated file repository, without needing to go through your projects\
        \ to interact with files in them."
      operationId: get_documents
      parameters:
      - description: "When true, this will return the most 4 recent active documents."
        explode: true
        in: query
        name: recent
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type_filter
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - TEXT_DOCUMENTS
          - PRESENTATIONS
          - SPREADSHEETS
          - PDFS
          - IMAGES
          - SUBTITLES
          - DESIGNS
          - LOCALIZATION
          - WEB
          - STYLE_GUIDES
          - GLOSSARIES
          type: string
        style: form
      - description: "searches in source language of documents, in source and target\
          \ languages of document's quote"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: updated_at
          enum:
          - id
          - updated_at
          - created_at
          - name
          type: string
        style: form
      - explode: true
        in: query
        name: order_type
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderType'
        style: form
      - description: "Attach further information. Possible values 'preview' to fetch\
          \ temporary preview URLs. This is NOT recommended to be used with list calls.\
          \ Only use with[]=preview for single document/style guide calls."
        explode: true
        in: query
        name: "with[]"
        required: false
        schema:
          items:
            enum:
            - preview
            - editors
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
          description: Document list
      summary: View your documents
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/subjects:
    get:
      description: Get a list of subjects of projects
      operationId: get_all_document_subjects
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DocumentSubjects'
                type: array
          description: List of subjects of all projects.
      summary: Get a list of subjects of projects
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{documentId}:
    get:
      description: View a single document from your MotaWord account with its translation
        info.
      operationId: get_document
      parameters:
      - description: Document ID or filename
        example: "179469"
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousProjectDocument'
          description: Document
      summary: View a single document
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{documentId}/progress:
    get:
      description: View the translation or proofreading progress of a document in
        your account. You can also track the progress of a document under the project
        that it was ordered with.
      operationId: get_document_progress
      parameters:
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Progress'
          description: Progress information
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: DocumentNotFound
      summary: View a document translation progress
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /documents/{documentId}/regenerate_preview:
    post:
      description: Regenerate preview and return preview URL for given file
      operationId: regenerate_preview
      parameters:
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegeneratePreviewResponse'
          description: RegeneratePreviewResponse
      summary: Regenerate preview and return preview URL for given file
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
    x-internal: true
  /documents/{documentId}/similars:
    get:
      description: "Find documents similar to this document. Optionally, include translation\
        \ information."
      operationId: get_similar_documents
      parameters:
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Determines the number of similar documents to return.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
        style: form
      - description: "Attach further information. Possible values 'preview' to fetch\
          \ temporary preview URLs. This is NOT recommended to be used with list calls.\
          \ Only use with[]=preview for single document/style guide calls."
        explode: true
        in: query
        name: "with[]"
        required: false
        schema:
          items:
            enum:
            - preview
            - editors
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
          description: Document list
      summary: Find documents similar to this document.
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
    x-internal: true
  /documents/{documentId}/use_as_draft:
    post:
      description: Use the translation of given source manual document as manual draft
        source for the given target document.
      operationId: use_as_draft
      parameters:
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UseAsDraftPayload'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
      summary: Use the translation of given source manual document as manual draft
        source for the given target document.
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
      x-codegen-request-body-name: body
    x-internal: true
  /documents/{documentId}/use_as_regular:
    post:
      description: Use the translation of the given manual document as a regular file.
      operationId: use_as_regular
      parameters:
      - description: Document ID
        example: 179469
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UseAsRegularPayload'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation status
      summary: Use the translation of the given manual document as a regular file.
      tags:
      - Document
      x-cli-cmd-group: documents
      x-openapi-router-controller: openapi_server.controllers.document_controller
      x-codegen-request-body-name: body
    x-internal: true
  /downgrade-proofreader:
    post:
      operationId: downgrade_proofreader
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "304":
          description: Vendor is already a translator
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: VendorNotFound
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
    x-internal: true
  /earnings:
    get:
      description: "View your vendor earnings from your translation activites. Includes\
        \ real-time earnings from ongoing projects, and fixed earnings from completed\
        \ projects, as well as total earnings and string edits."
      operationId: get_earnings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Earnings'
          description: Earnings for vendors
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: View your vendor earnings
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /formats:
    get:
      description: |
        Get a list of supported formats for documents, style guides and extensions.
      operationId: get_formats
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Formats'
                type: array
          description: A list of supported formats
      security: []
      summary: List of supported file formats
      tags:
      - Static
      x-cli-cmd-group: static
      x-openapi-router-controller: openapi_server.controllers.static_controller
  /freeze-account:
    post:
      description: "Freeze your account temporarily, especially to stop receiving\
        \ project notifications."
      operationId: freeze_account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "304":
          description: Account is already frozen for notifications
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Freeze account
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /glossary:
    get:
      description: Download your corporate account's global glossary. This endpoint
        is available only for corporate account customers. This glossary will be automatically
        attached to each new project under your account.
      operationId: download_global_glossary
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Glossary file streamed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: GlossaryNotFound
      summary: Download account glossary.
      tags:
      - Glossary
      x-cli-cmd-group: glossaries
      x-openapi-router-controller: openapi_server.controllers.glossary_controller
    post:
      description: Update your corporate account's global glossary. This endpoint
        is available only for corporate account customers. This glossary will be automatically
        attached to each new project under your account.
      operationId: update_global_glossary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountGlossaryUploadRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountGlossaryUploadRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall NoFileUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedGlossaryFormat
      summary: Create or update the account glossary
      tags:
      - Glossary
      x-cli-cmd-group: glossaries
      x-openapi-router-controller: openapi_server.controllers.glossary_controller
      x-codegen-request-body-name: body
  /integrations/token:
    get:
      description: Generate a new access token for MotaWord's integrations service
      operationId: get_integrations_token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsToken'
          description: Token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: IntegrationsNotEnabled
      summary: Generate a new access token for MotaWord's integrations service
      tags:
      - Integrations
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
  /invitation/vendors:
    post:
      description: Get vendor list for compiled invitation needs
      operationId: get_invitation_vendors
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/FileNeedsVendor'
              type: array
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorInvitationList'
          description: Invitation need grouped by vendor
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: FileTooLarge FileTooSmall NoFileUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UnsupportedGlossaryFormat
      summary: Get vendor list for compiled invitation needs
      tags:
      - Invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
      x-codegen-request-body-name: body
    x-internal: true
  /languages:
    get:
      description: Get a list of supported languages
      operationId: get_languages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Language'
                type: array
          description: A list of supported languages
      security: []
      summary: List of supported languages
      tags:
      - Static
      x-cli-cmd-group: static
      x-openapi-router-controller: openapi_server.controllers.static_controller
  /location:
    post:
      operationId: log_location
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateContent'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: "Log user's current location. This data is used in our Intelligent\
        \ Project Manager for various data analysis, including project prioritization\
        \ for vendors and account validation."
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
    x-internal: true
  /make-proofreader:
    post:
      operationId: make_proofreader
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "304":
          description: Vendor is already a proofreader
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: VendorNotFound
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
    x-internal: true
  /me:
    get:
      description: "Get your user information, including client, corporate account\
        \ and vendor account information."
      operationId: get_me
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User summary
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: View your account info
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
    post:
      operationId: update_me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateContent'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Update your account info
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
  /ml/delivery-prediction:
    post:
      description: Get a delivery prediction for a project
      operationId: get_delivery_prediction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPredictionPayload'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryPredictionResponse'
          description: Prediction and its probability
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Get a delivery prediction for a project
      tags:
      - MachineLearning
      x-openapi-router-controller: openapi_server.controllers.machine_learning_controller
      x-codegen-request-body-name: body
    x-internal: true
  /notifications/subscribe:
    post:
      description: Subscribe to push notifications to receive project and platform
        notifications.
      operationId: subscribe_notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSubscription'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Saved notification subscription information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter | Failed to save subscription
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Subscribe to push notifications
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
    x-internal: true
  /notifications/unsubscribe:
    post:
      operationId: unsubscribe_notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSubscription'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Deleted notification subscription information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: MissingParameter | Failed to delete subscription
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
    x-internal: true
  /pam/chat:
    post:
      description: Sends a message to the channel.
      operationId: post_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PamMessage'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing Parameter
      summary: Sends a message to chat
      tags:
      - Pam
      x-cli-cmd-group: pam
      x-openapi-router-controller: openapi_server.controllers.pam_controller
      x-codegen-request-body-name: body
    x-internal: true
  /pam/profiles/client/{clientId}:
    get:
      description: Get the Pam  profile of a client for this client ID
      operationId: get_client_profile_for_pam
      parameters:
      - description: Client ID
        example: 3707
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
          description: Client profile
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ClientProfileNotFound
      summary: Get the Pam profile of a client for this client ID
      tags:
      - Pam
      x-cli-cmd-group: pam
      x-openapi-router-controller: openapi_server.controllers.pam_controller
    x-internal: true
  /pam/projects/{projectId}/completion-report:
    get:
      description: Get completion report data of a project
      operationId: get_project_completion_report_for_pam
      parameters:
      - description: Quote ID
        example: 74
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCompletionReport'
          description: Project Completion Report
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ProjectNotFound
      summary: Get completion report data of a project
      tags:
      - Pam
      x-cli-cmd-group: pam
      x-openapi-router-controller: openapi_server.controllers.pam_controller
    x-internal: true
  /password:
    post:
      description: "Password should contain at least one uppercase, lowercase character\
        \ and one number"
      operationId: update_password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateContent'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Update your account password
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
  /payment:
    get:
      description: "Returns billing and saved credit card information for user, and\
        \ their corporate account if present & allowed."
      operationId: get_payment_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInfo'
          description: "Returns billing and saved card information for user, and their\
            \ corporate if present."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound UnauthorizedUser
      summary: View your payment and billing info
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
    post:
      description: Update your billing and saved credit card information
      operationId: update_payment_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentInfo'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInfo'
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: UserNotFound
      summary: Update payment info
      tags:
      - User
      x-cli-cmd-group: users
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
  /payment/reset-corporate-payment-code:
    post:
      description: Reset your corporate account's payment code to bypass credit card
        payment. This will invalidate your current payment code and your users should
        be aware of this change while ordering translations.
      operationId: reset_corporate_payment_code
[...]
