openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides the two-letter state abbreviation (or the province\
    \ abbreviation for Canada) for the purposes of standardizing state name data,\
    \ improving query results, analytics, and data merging."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid State Data Standardization API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getstateabbreviation.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getstateabbreviation
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getstateabbreviation
servers:
- url: https://api.interzoid.com
paths:
  /getstateabbreviation:
    get:
      description: Gets a two-letter abbreviation for a state or province given a
        permutation of state or province data.
      operationId: getstateabbreviation
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: State (or province) name from which to retrieve the two letter
          abbreviation.
        explode: true
        in: query
        name: state
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getstateabbreviation_200_response'
          description: State (or province) standardized two-letter abbreviation
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets a two-letter abbreviation for a state or province name data
      tags:
      - State Data Standardization
      x-openapi-router-controller: openapi_server.controllers.state_data_standardization_controller
components:
  schemas:
    getstateabbreviation_200_response:
      example:
        Abbreviation: Abbreviation
        Credits: Credits
        State: State
        Code: Code
      properties:
        Abbreviation:
          title: Abbreviation
          type: string
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        State:
          title: State
          type: string
      title: getstateabbreviation_200_response
      type: object
