openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/configurations.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-configurations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations
  : post:
      description: Gets all configuration information for an HDI cluster.
      operationId: configurations_list
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfigurations'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Configurations
      x-ms-examples:
        Get all configuration information:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                configurations:
                  core-site:
                    fs.azure.account.key.test.blob.core.windows.net: accountKey
                    fs.defaultFS: wasb://test.blob.core.windows.net
                  gateway:
                    restAuthCredential.isEnabled: "true"
                    restAuthCredential.password: '**********'
                    restAuthCredential.username: admin
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}
  : get:
      description: The configuration object for the specified cluster. This API is
        not recommended and might be removed in the future. Please consider using
        List configurations API instead.
      operationId: configurations_get
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster configuration.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfiguration'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Configurations
      x-ms-examples:
        Get Core site settings:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: core-site
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                fs.azure.account.key.test.blob.core.windows.net: accountKey
                fs.defaultFS: wasb://test.blob.core.windows.net
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
    post:
      deprecated: true
      description: "Configures the HTTP settings on the specified cluster. This API\
        \ is deprecated, please use UpdateGatewaySettings in cluster endpoint instead."
      operationId: configurations_update
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster configuration.
        in: path
        name: configuration_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterConfiguration'
        description: The cluster configurations.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: Ok response definition
        "202":
          content: {}
          description: Accepted response definition
        "204":
          content: {}
          description: No content response definition
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Configurations
      x-ms-examples:
        Disable HTTP connectivity:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: gateway
            parameters:
              restAuthCredential.isEnabled: "false"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "204": {}
        Enable HTTP connectivity:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: gateway
            parameters:
              restAuthCredential.isEnabled: "true"
              restAuthCredential.password: '**********'
              restAuthCredential.username: hadoop
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "204": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ConfigurationNameParameter:
      description: The name of the cluster configuration.
      in: path
      name: configurationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ClusterConfiguration:
      additionalProperties:
        type: string
      description: The configuration object for the specified configuration for the
        specified cluster.
      title: ClusterConfiguration
      type: object
    ClusterConfigurations:
      description: The configuration object for the specified cluster.
      example:
        configurations:
          key: null
      properties:
        configurations:
          additionalProperties:
            $ref: '#/components/schemas/ClusterConfiguration'
          description: The configuration object for the specified configuration for
            the specified cluster.
          title: configurations
          type: object
      title: ClusterConfigurations
      type: object
    Configurations_List_default_response:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: Configurations_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
