openapi: 3.0.1
info:
  description: The User Subscription Management Client.
  title: SubscriptionClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/user-subscriptions/Microsoft.Subscriptions/preview/2015-11-01/Offer.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Offer
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /delegatedProviders/{delegatedProviderId}/offers:
    get:
      description: Get the list of offers for the specified delegated provider.
      operationId: delegated_provider_offers_list
      parameters:
      - description: Id of the delegated provider.
        in: path
        name: delegatedProviderId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
          description: OK
      tags:
      - DelegatedProviderOffers
      x-ms-examples:
        Get the list of offers.:
          parameters:
            api-version: 2015-11-01
            delegatedProviderId: 0af9c33b-f7ac-4161-add5-17b2f0b6a669
          responses:
            "200":
              body:
                value:
                - description: ""
                  displayName: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                  id: /delegatedProviders/default/offers/TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                  name: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                - description: ""
                  displayName: TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                  id: /delegatedProviders/default/offers/TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                  name: TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                - description: ""
                  displayName: TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
                  id: /delegatedProviders/default/offers/TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
                  name: TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.delegated_provider_offers_controller
  /delegatedProviders/{delegatedProviderId}/offers/{offerName}:
    get:
      description: Get the specified offer for the delegated provider.
      operationId: delegated_provider_offers_get
      parameters:
      - description: Id of the delegated provider.
        in: path
        name: delegatedProviderId
        required: true
        schema:
          type: string
      - description: Name of the offer.
        in: path
        name: offerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: OK
      tags:
      - DelegatedProviderOffers
      x-ms-examples:
        Get the specified offer name.:
          parameters:
            api-version: 2015-11-01
            delegatedProviderId: 0af9c33b-f7ac-4161-add5-17b2f0b6a669
            offerName: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
          responses:
            "200":
              body:
                description: ""
                displayName: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                id: /delegatedProviders/default/offers/TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                name: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
      x-openapi-router-controller: openapi_server.controllers.delegated_provider_offers_controller
  /offers:
    get:
      description: Get the list of public offers for the root provider.
      operationId: offers_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
          description: OK
      tags:
      - Offers
      x-ms-examples:
        Get the list of public offers for the root provider.:
          parameters:
            api-version: 2015-11-01
          responses:
            "200":
              body:
                value:
                - description: ""
                  displayName: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                  id: /delegatedProviders/default/offers/TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                  name: TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                - description: ""
                  displayName: TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                  id: /delegatedProviders/default/offers/TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                  name: TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                - description: ""
                  displayName: TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
                  id: /delegatedProviders/default/offers/TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
                  name: TestOffer-37097402-a512-40c2-b779-f0b3a54e5596
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.offers_controller
components:
  schemas:
    Offer:
      description: Represents an offering of services against which a subscription
        can be created.
      example:
        displayName: displayName
        name: name
        description: description
        id: id
      properties:
        description:
          description: Description of offer.
          title: description
          type: string
        displayName:
          description: Display name of offer.
          title: displayName
          type: string
        id:
          description: The offer ID
          title: id
          type: string
        name:
          description: The name of the offer.
          title: name
          type: string
      title: Offer
      type: object
    OfferList:
      description: List of public offers.
      example:
        value:
        - displayName: displayName
          name: name
          description: description
          id: id
        - displayName: displayName
          name: name
          description: description
          id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to next page.
          title: nextLink
          type: string
        value:
          description: List of public offers.
          items:
            $ref: '#/components/schemas/Offer'
          title: value
          type: array
      title: OfferList
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
