openapi: 3.0.1
info:
  description: "The Azure Management Groups API enables consolidation of multiple\
    \ \nsubscriptions/resources into an organizational hierarchy and centrally \n\
    manage access control, policies, alerting and reporting for those resources.\n"
  title: Management Groups
  version: 2018-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementgroups/resource-manager/Microsoft.Management/preview/2018-01-01-preview/management.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: managementgroups-management
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: "A Management Group is a customer defined scope (grouping mechanism)\
    \ that \nprovides access control (authorization), policy management and reporting.\
    \ \nManagement Groups are organized in a strictly tree-based hierarchy.\n"
  name: ManagementGroups
- description: |
    Management operations supported by the Microsoft.Management resource provider.
  name: Operations
- description: |
    A list of entities that belong to the Management Groups.
  name: Entities
paths:
  /providers/Microsoft.Management/checkNameAvailability:
    post:
      description: Checks if the specified management group name is valid and unique
      operationId: CheckNameAvailability
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Management group name availability check parameters.
        required: true
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CheckNameAvailability
      x-ms-examples:
        CheckManagementGroupNameAvailability:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            checkNameAvailabilityRequest:
              name: nameTocheck
              type: /providers/Microsoft.Management/managementGroups
          responses:
            "200":
              body:
                message: <error message>
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: checkNameAvailabilityRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Management/getEntities:
    post:
      description: |
        List all entities (Management Groups, Subscriptions, etc.) for the authenticated user.
      operationId: Entities_List
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        in: query
        name: $skiptoken
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: A filter which allows the call to be filtered for a specific
          group.
        in: query
        name: groupName
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - Entities
      x-ms-examples:
        GetEntities:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                  name: 20000000-0001-0000-0000-000000000000
                  properties:
                    displayName: Group 1 Tenant 2
                    parent:
                      id: /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000
                    permissions: view
                    tenantId: 20000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
                - id: /providers/Microsoft.Management/managementGroups/20000000-0004-0000-0000-000000000000
                  name: 20000000-0004-0000-0000-000000000000
                  properties:
                    displayName: Group 4 Tenant 2
                    parent:
                      id: /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000
                    permissions: delete
                    tenantId: 20000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups:
    get:
      description: |
        List management groups for the authenticated user.
      operationId: ManagementGroups_List
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        in: query
        name: $skiptoken
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        ListManagementGroups:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                  name: 20000000-0001-0000-0000-000000000000
                  properties:
                    displayName: Group 1 Tenant 2
                    tenantId: 20000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
                - id: /providers/Microsoft.Management/managementGroups/20000000-0004-0000-0000-000000000000
                  name: 20000000-0004-0000-0000-000000000000
                  properties:
                    displayName: Group 4 Tenant 2
                    tenantId: 20000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}:
    delete:
      description: |
        Delete management group.
        If a management group contains child resources, the request will fail.
      operationId: ManagementGroups_Delete
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        DeleteManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: GroupToDelete
          responses:
            "202":
              body:
                id: /providers/Microsoft.Management/managementGroups/GroupToDelete
                name: GroupToDelete
                properties:
                  provisioningState: Updating
                type: /providers/Microsoft.Management/managementGroups
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: |
        Get the details of the management group.
      operationId: ManagementGroups_Get
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The $expand=children query string parameter allows clients to
          request inclusion of children in the response payload.
        in: query
        name: $expand
        schema:
          enum:
          - children
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The $recurse=true query string parameter allows clients to request
          inclusion of entire hierarchy in the response payload. Note that  $expand=children
          must be passed up if $recurse is set to true.
        in: query
        name: $recurse
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: A filter which allows the exclusion of subscriptions from results
          (i.e. '$filter=children.childType ne Subscription')
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        GetManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: 20000000-0001-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                name: 20000000-0001-0000-0000-000000000000
                properties:
                  details:
                    parent:
                      displayName: RootGroup
                      id: /providers/Microsoft.Management/managementGroups/RootGroup
                      name: RootGroup
                    updatedBy: 16b8ef21-5c9f-420c-bcc9-e4f8c9f30b4b
                    updatedTime: 2018-01-01T00:00:00.00Z
                    version: 1
                  displayName: Group 1 Tenant 2
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
        GetManagementGroupWithExpand:
          parameters:
            $expand: children
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: 20000000-0001-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                name: 20000000-0001-0000-0000-000000000000
                properties:
                  children:
                  - displayName: Group 2 Tenant 2
                    id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    name: 20000000-0002-0000-0000-000000000000
                    type: /providers/Microsoft.Management/managementGroups
                  - displayName: Group 3 Tenant 2
                    id: /providers/Microsoft.Management/managementGroups/20000000-0003-0000-0000-000000000000
                    name: 20000000-0003-0000-0000-000000000000
                    type: /providers/Microsoft.Management/managementGroups
                  - displayName: Subscription 4 Tenant 1
                    id: /subscriptions/10000000-F004-0000-0000-000000000000
                    name: 10000000-F004-0000-0000-000000000000
                    type: /subscriptions
                  - displayName: Subscription 5 Tenant 2
                    id: /subscriptions/20000000-F005-0000-0000-000000000000
                    name: 20000000-F005-0000-0000-000000000000
                    type: /subscriptions
                  - displayName: Subscription 3 Tenant 3
                    id: /subscriptions/30000000-F003-0000-0000-000000000000
                    name: 30000000-F003-0000-0000-000000000000
                    type: /subscriptions
                  details:
                    parent:
                      displayName: 20000000-0000-0000-0000-000000000000
                      id: /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000
                      name: 20000000-0000-0000-0000-000000000000
                    updatedBy: Test
                    updatedTime: 2018-01-01T00:00:00.00Z
                    version: 1
                  displayName: Group 1 Tenant 2
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
        GetManagementGroupsWithExpandAndRecurse:
          parameters:
            $expand: children
            $recurse: true
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: 20000000-0001-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/RootGroup
                name: RootGroup
                properties:
                  children:
                  - children:
                    - children:
                      - displayName: Pay-As-You-Go
                        id: /subscriptions/728bcbe4-8d56-4510-86c2-4921b8beefbc
                        name: 728bcbe4-8d56-4510-86c2-4921b8beefbc
                        roles:
                        - /providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635
                        type: /subscriptions
                      displayName: Leaf
                      id: /providers/Microsoft.Management/managementGroups/Leaf
                      name: Leaf
                      roles:
                      - /providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635
                      type: /providers/Microsoft.Management/managementGroups
                    displayName: Child
                    id: /providers/Microsoft.Management/managementGroups/Child
                    name: Child
                    roles:
                    - /providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635
                    type: /providers/Microsoft.Management/managementGroups
                  - displayName: Leaf
                    id: /providers/Microsoft.Management/managementGroups/AnotherChild
                    name: AnotherChild
                    roles:
                    - /providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635
                    type: /providers/Microsoft.Management/managementGroups
                  details:
                    parent:
                      displayName: 20000000-0000-0000-0000-000000000000
                      id: /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000
                      name: 20000000-0000-0000-0000-000000000000
                    updatedBy: bd490e30-04cb-433e-b8c8-6066959a8bab
                    updatedTime: 2018-01-25T02:26:49.0022093Z
                    version: 2
                  displayName: RootGroup
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
      x-accepts:
      - application/json
    patch:
      description: |
        Update a management group.
      operationId: ManagementGroups_Update
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchManagementGroupRequest'
        description: Management group patch parameters.
        required: true
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        PatchManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: ChildGroup
            patchGroupRequest:
              displayName: AlternateDisplayName
              parentGroupId: /providers/Microsoft.Management/managementGroups/AlternateRootGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ChildGroup
                name: ChildGroup
                properties:
                  details:
                    parent:
                      displayName: AlternateRootGroup
                      id: /providers/Microsoft.Management/managementGroups/AlternateRootGroup
                      name: AlternateRootGroup
                    updatedBy: bd490e30-04cb-433e-b8c8-6066959a8bab
                    updatedTime: 2018-01-25T02:46:59.0545645Z
                    version: 2
                  displayName: AlternateDisplayName
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
      x-codegen-request-body-name: patchGroupRequest
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Create or update a management group.
        If a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.
      operationId: ManagementGroups_CreateOrUpdate
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagementGroupRequest'
        description: Management group creation parameters.
        required: true
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        PutManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            createManagementGroupRequest:
              properties:
                displayName: ChildGroup
                parent:
                  id: /providers/Microsoft.Management/managementGroups/RootGroup
            groupId: ChildGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ChildGroup
                name: ChildGroup
                properties:
                  details:
                    parent:
                      displayName: RootGroup
                      id: /providers/Microsoft.Management/managementGroups/RootGroup
                      name: RootGroup
                    updatedBy: 16b8ef21-5c9f-420c-bcc9-e4f8c9f30b4b
                    updatedTime: 2018-01-01T00:00:00.00Z
                    version: 1
                  displayName: ChildGroup
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
            "202":
              body:
                id: /providers/Microsoft.Management/managementGroups/ChildGroup
                name: ChildGroup
                properties:
                  provisioningState: Updating
                type: /providers/Microsoft.Management/managementGroups
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createManagementGroupRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}:
    delete:
      description: |
        De-associates subscription from the management group.
      operationId: ManagementGroupSubscriptions_Delete
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        DeleteSubscriptionFromManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: Group
            subscriptionId: 728bcbe4-8d56-4510-86c2-4921b8beefbc
          responses:
            "204": {}
      x-accepts:
      - application/json
    put:
      description: |
        Associates existing subscription with the management group.
      operationId: ManagementGroupSubscriptions_Create
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        AddSubscriptionToManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: Group
            subscriptionId: 728bcbe4-8d56-4510-86c2-4921b8beefbc
          responses:
            "204": {}
      x-accepts:
      - application/json
  /providers/Microsoft.Management/operations:
    get:
      description: Lists all of the available Management REST API operations.
      operationId: Operations_List
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2018-01-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CacheControlHeader:
      description: Indicates that the request shouldn't utilize any caches.
      in: header
      name: Cache-Control
      schema:
        default: no-cache
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    EntityViewParameter:
      description: The view parameter allows clients to request that the list of entities
        be returned in the form of a hierarchy.
      in: query
      name: view
      schema:
        enum:
        - hierarchy
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ExpandParameter:
      description: The $expand=children query string parameter allows clients to request
        inclusion of children in the response payload.
      in: query
      name: $expand
      schema:
        enum:
        - children
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    FilterParameter:
      description: A filter which allows the exclusion of subscriptions from results
        (i.e. '$filter=children.childType ne Subscription')
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    GroupIdParameter:
      description: Management Group ID.
      in: path
      name: groupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    GroupNameParameter:
      description: A filter which allows the call to be filtered for a specific group.
      in: query
      name: groupName
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    OperationResultIdParameter:
      description: The id of the operation result.
      in: path
      name: operationResultId
      required: true
      schema:
        enum:
        - create
        - delete
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    RecurseParameter:
      description: The $recurse=true query string parameter allows clients to request
        inclusion of entire hierarchy in the response payload. Note that  $expand=children
        must be passed up if $recurse is set to true.
      in: query
      name: $recurse
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkipTokenParameter:
      description: "Page continuation token is only used if a previous operation returned\
        \ a partial result. \nIf a previous response contains a nextLink element,\
        \ the value of the nextLink element will include a token parameter that specifies\
        \ a starting point to use for subsequent calls.\n"
      in: query
      name: $skiptoken
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    SubscriptionIdParameter:
      description: Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    CheckNameAvailabilityParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CheckNameAvailabilityRequest'
      description: Management group name availability check parameters.
      required: true
      x-ms-parameter-location: client
    CreateManagementGroupRequestParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateManagementGroupRequest'
      description: Management group creation parameters.
      required: true
      x-ms-parameter-location: client
    PatchGroupRequestParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PatchManagementGroupRequest'
      description: Management group patch parameters.
      required: true
      x-ms-parameter-location: client
  schemas:
    CheckNameAvailabilityRequest:
      description: Management group name availability check parameters.
      example:
        name: name
        type: /providers/Microsoft.Management/managementGroups
      properties:
        name:
          description: the name to check for availability
          type: string
        type:
          description: fully qualified resource type which includes provider namespace
          enum:
          - /providers/Microsoft.Management/managementGroups
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
            values:
            - value: /providers/Microsoft.Management/managementGroups
      type: object
    CheckNameAvailabilityResult:
      description: Describes the result of the request to check management group name
        availability.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: "Required if nameAvailable == false. Localized. If reason ==\
            \ invalid, provide the user with the reason why the given name is invalid,\
            \ and provide the resource naming requirements so that the user can select\
            \ a valid name. If reason == AlreadyExists, explain that is already in\
            \ use, and direct them to select a different name."
          readOnly: true
          type: string
        nameAvailable:
          description: "Required. True indicates name is valid and available. False\
            \ indicates the name is invalid, unavailable, or both."
          readOnly: true
          type: boolean
        reason:
          description: "Required if nameAvailable == false. Invalid indicates the\
            \ name provided does not match the resource provider's naming requirements\
            \ (incorrect length, unsupported characters, etc.) AlreadyExists indicates\
            \ that the name is already in use and is therefore unavailable."
          enum:
          - Invalid
          - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: Reason
            values:
            - value: Invalid
            - value: AlreadyExists
      type: object
    CreateManagementGroupChildInfo:
      description: The child information of a management group used during creation.
      example:
        children:
        - null
        - null
        displayName: displayName
        roles:
        - roles
        - roles
        name: name
        id: id
        type: /providers/Microsoft.Management/managementGroups
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
          readOnly: true
          type: array
        displayName:
          description: The friendly name of the child resource.
          readOnly: true
          type: string
        id:
          description: "The fully qualified ID for the child resource (management\
            \ group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: The name of the child entity.
          readOnly: true
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          readOnly: true
          type: array
        type:
          $ref: '#/components/schemas/ManagementGroupChildType'
      type: object
    CreateManagementGroupDetails:
      description: The details of a management group used during creation.
      example:
        parent:
          displayName: displayName
          name: name
          id: id
        updatedTime: 2000-01-23T04:56:07.000+00:00
        updatedBy: updatedBy
        version: 0.8008281904610115
      properties:
        parent:
          $ref: '#/components/schemas/CreateParentGroupInfo'
        updatedBy:
          description: The identity of the principal or process that updated the object.
          readOnly: true
          type: string
        updatedTime:
          description: The date and time when this object was last updated.
          format: date-time
          readOnly: true
          type: string
        version:
          description: The version number of the object.
          format: int32
          readOnly: true
          type: number
      type: object
    CreateManagementGroupProperties:
      description: The generic properties of a management group used during creation.
      example:
        children:
        - children:
          - null
          - null
          displayName: displayName
          roles:
          - roles
          - roles
          name: name
          id: id
          type: /providers/Microsoft.Management/managementGroups
        - children:
          - null
          - null
          displayName: displayName
          roles:
          - roles
          - roles
          name: name
          id: id
          type: /providers/Microsoft.Management/managementGroups
        displayName: displayName
        roles:
        - roles
        - roles
        tenantId: tenantId
        details:
          parent:
            displayName: displayName
            name: name
            id: id
          updatedTime: 2000-01-23T04:56:07.000+00:00
          updatedBy: updatedBy
          version: 0.8008281904610115
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
          nullable: true
          readOnly: true
          type: array
        details:
          $ref: '#/components/schemas/CreateManagementGroupDetails'
        displayName:
          description: The friendly name of the management group. If no value is passed
            then this  field will be set to the groupId.
          nullable: true
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          nullable: true
          readOnly: true
          type: array
        tenantId:
          description: "The AAD Tenant ID associated with the management group. For\
            \ example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
      type: object
    CreateManagementGroupRequest:
      description: Management group creation parameters.
      example:
        name: name
        id: id
        type: type
        properties:
          children:
          - children:
            - null
            - null
            displayName: displayName
            roles:
            - roles
            - roles
            name: name
            id: id
            type: /providers/Microsoft.Management/managementGroups
          - children:
            - null
            - null
            displayName: displayName
            roles:
            - roles
            - roles
            name: name
            id: id
            type: /providers/Microsoft.Management/managementGroups
          displayName: displayName
          roles:
          - roles
          - roles
          tenantId: tenantId
          details:
            parent:
              displayName: displayName
              name: name
              id: id
            updatedTime: 2000-01-23T04:56:07.000+00:00
            updatedBy: updatedBy
            version: 0.8008281904610115
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          type: string
        properties:
          $ref: '#/components/schemas/CreateManagementGroupProperties'
        type:
          description: "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    CreateParentGroupInfo:
      description: (Optional) The ID of the parent management group used during creation.
      example:
        displayName: displayName
        name: name
        id: id
      properties:
        displayName:
          description: The friendly name of the parent management group.
          readOnly: true
          type: string
        id:
          description: "The fully qualified ID for the parent management group.  For\
            \ example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          type: string
        name:
          description: The name of the parent management group
          readOnly: true
          type: string
      type: object
    EntityHierarchyItem:
      description: The management group details for the hierarchy view.
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/EntityHierarchyItemProperties'
        type:
          description: "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    EntityHierarchyItemProperties:
      description: The generic properties of a management group.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/EntityHierarchyItem'
          nullable: true
          type: array
        displayName:
          description: The friendly name of the management group.
          type: string
        permissions:
          $ref: '#/components/schemas/Permissions'
      type: object
    EntityInfo:
      description: The entity.
      example:
        name: name
        id: id
        type: type
        properties:
          parent:
            id: id
          displayName: displayName
          permissions: noaccess
          tenantId: tenantId
      properties:
        id:
          description: "The fully qualified ID for the entity.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the entity. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/EntityInfoProperties'
        type:
          description: "The type of the resource. For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
    EntityInfoProperties:
      description: The generic properties of an entity.
      example:
        parent:
          id: id
        displayName: displayName
        permissions: noaccess
        tenantId: tenantId
      properties:
        displayName:
          description: The friendly name of the management group.
          type: string
        parent:
          $ref: '#/components/schemas/EntityParentGroupInfo'
        permissions:
          $ref: '#/components/schemas/Permissions'
        tenantId:
          description: "The AAD Tenant ID associated with the entity. For example,\
            \ 00000000-0000-0000-0000-000000000000"
          type: string
      type: object
    EntityListResult:
      description: Describes the result of the request to view entities.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            parent:
              id: id
            displayName: displayName
            permissions: noaccess
            tenantId: tenantId
        - name: name
          id: id
          type: type
          properties:
            parent:
              id: id
            displayName: displayName
            permissions: noaccess
            tenantId: tenantId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of entities.
          items:
            $ref: '#/components/schemas/EntityInfo'
          type: array
      type: object
    EntityParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      example:
        id: id
      properties:
        id:
          description: "The fully qualified ID for the parent management group.  For\
            \ example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        details: details
        message: message
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
      type: object
    ErrorResponse:
      description: The error object.
      example:
        error:
          code: code
          details: details
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      type: object
    ManagementGroup:
      description: The management group details.
      example:
        name: name
        id: id
        type: type
        properties:
          children:
          - children:
            - null
            - null
            displayName: displayName
            roles:
            - roles
            - roles
            name: name
            id: id
            type: /providers/Microsoft.Management/managementGroups
          - children:
            - null
            - null
            displayName: displayName
            roles:
            - roles
            - roles
            name: name
            id: id
            type: /providers/Microsoft.Management/managementGroups
          displayName: displayName
          roles:
          - roles
          - roles
          tenantId: tenantId
          details:
            parent:
              displayName: displayName
              name: name
              id: id
            updatedTime: 2000-01-23T04:56:07.000+00:00
            updatedBy: updatedBy
            version: 0.8008281904610115
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupProperties'
        type:
          description: "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ManagementGroupChildInfo:
      description: The child information of a management group.
      example:
        children:
        - null
        - null
        displayName: displayName
        roles:
        - roles
        - roles
        name: name
        id: id
        type: /providers/Microsoft.Management/managementGroups
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          type: array
        displayName:
          description: The friendly name of the child resource.
          type: string
        id:
          description: "The fully qualified ID for the child resource (management\
            \ group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          type: string
        name:
          description: The name of the child entity.
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/ManagementGroupChildType'
      type: object
    ManagementGroupChildType:
      description: The type of child resource.
      enum:
      - /providers/Microsoft.Management/managementGroups
      - /subscriptions
      type: string
    ManagementGroupDetails:
      description: The details of a management group.
      example:
        parent:
          displayName: displayName
          name: name
          id: id
        updatedTime: 2000-01-23T04:56:07.000+00:00
        updatedBy: updatedBy
        version: 0.8008281904610115
      properties:
        parent:
          $ref: '#/components/schemas/ParentGroupInfo'
        updatedBy:
          description: The identity of the principal or process that updated the object.
          type: string
        updatedTime:
          description: The date and time when this object was last updated.
          format: date-time
          type: string
        version:
          description: The version number of the object.
          format: int32
          type: number
      type: object
    ManagementGroupInfo:
      description: The management group resource.
      example:
        name: name
        id: id
        type: type
        properties:
          displayName: displayName
          tenantId: tenantId
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupInfoProperties'
        type:
          description: "The type of the resource. For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
    ManagementGroupInfoProperties:
      description: The generic properties of a management group.
      example:
        displayName: displayName
        tenantId: tenantId
      properties:
        displayName:
          description: The friendly name of the management group.
          type: string
        tenantId:
          description: "The AAD Tenant ID associated with the management group. For\
            \ example, 00000000-0000-0000-0000-000000000000"
          type: string
      type: object
    ManagementGroupListResult:
      description: Describes the result of the request to list management groups.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            displayName: displayName
            tenantId: tenantId
        - name: name
          id: id
          type: type
          properties:
            displayName: displayName
            tenantId: tenantId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of management groups.
          items:
            $ref: '#/components/schemas/ManagementGroupInfo'
          type: array
      type: object
    ManagementGroupProperties:
      description: The generic properties of a management group.
      example:
        children:
        - children:
          - null
          - null
          displayName: displayName
          roles:
          - roles
          - roles
          name: name
          id: id
          type: /providers/Microsoft.Management/managementGroups
        - children:
          - null
          - null
          displayName: displayName
          roles:
          - roles
          - roles
          name: name
          id: id
          type: /providers/Microsoft.Management/managementGroups
        displayName: displayName
        roles:
        - roles
        - roles
        tenantId: tenantId
        details:
          parent:
            displayName: displayName
            name: name
            id: id
          updatedTime: 2000-01-23T04:56:07.000+00:00
          updatedBy: updatedBy
          version: 0.8008281904610115
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          nullable: true
          type: array
        details:
          $ref: '#/components/schemas/ManagementGroupDetails'
        displayName:
          description: The friendly name of the management group.
          type: string
        roles:
          description: The role definitions associated with the management group.
          items:
            type: string
          nullable: true
          type: array
        tenantId:
          description: "The AAD Tenant ID associated with the management group. For\
            \ example, 00000000-0000-0000-0000-000000000000"
          type: string
      type: object
    Operation:
      description: Operation supported by the Microsoft.Management resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayProperties'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          type: string
      type: object
    OperationDisplayProperties:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Operation description.
          readOnly: true
          type: string
        operation:
          description: The operation that can be performed.
          readOnly: true
          type: string
        provider:
          description: The name of the provider.
          readOnly: true
          type: string
        resource:
          description: The resource on which the operation is performed.
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: Describes the result of the request to list Microsoft.Management
        operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          type: string
        value:
          description: List of operations supported by the Microsoft.Management resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    OperationResults:
      description: The results of an asynchronous operation.
      example:
        name: name
        id: id
        type: type
        properties:
          provisioningState: Updating
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/Properties'
        type:
          description: "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          type: string
      type: object
    ParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      example:
        displayName: displayName
        name: name
        id: id
      properties:
        displayName:
          description: The friendly name of the parent management group.
          type: string
        id:
          description: "The fully qualified ID for the parent management group.  For\
            \ example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          type: string
        name:
          description: The name of the parent management group
          type: string
      type: object
    PatchManagementGroupRequest:
      description: Management group patch parameters.
      example:
        displayName: displayName
        parentId: parentId
      properties:
        displayName:
          description: The friendly name of the management group.
          nullable: true
          type: string
        parentId:
          description: "(Optional) The fully qualified ID for the parent management\
            \ group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          nullable: true
          type: string
      type: object
    Permissions:
      description: The users specific permissions to this item.
      enum:
      - noaccess
      - view
      - edit
      - delete
      type: string
    ProvisioningState:
      description: The provisioning status.
      enum:
      - Updating
      title: Provisioning State
      type: string
    Properties:
      example:
        provisioningState: Updating
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
      title: Properties
      type: object
      x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

