openapi: 3.0.1
info:
  description: Get the latest IRS data and most up to date charity information for
    your website or application
  title: OrgHunter
  version: 1.0.0
  x-logo:
    url: http://orghunter.com/sites/all/themes/orghunter/img/logo.jpg
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.0.1
    format: swagger
    url: https://orghunter.3scale.net/swagger/spec.json
    version: "1.2"
  x-providerName: orghunter.com
servers:
- url: http://data.orghunter.com/
security:
- user_key: []
tags:
- description: Charity Financial API Test
  name: CharityFinancial
- description: Charity Premium API Test
  name: CharityPremium
- description: Charity GeoLocation API Test
  name: GeoLocation
- description: Charity NTEE Classification/Categories API Test
  name: categories
- description: Charity Basic API Test
  name: details
- description: Charity Search Summary API Test
  name: summary
paths:
  /v1/categories:
    post:
      description: <p>This operation provides a list of categories.</p>
      operationId: get_categories
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get categories!
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /v1/charitybasic:
    post:
      description: <p>This operation detail data.</p>
      operationId: v1_charitybasic_post
      parameters:
      - description: ein (Employer Identification Number)
        in: query
        name: ein
        schema:
          type: string
          x-data-threescale-name: ein
        x-data-threescale-name: ein
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get details!
      tags:
      - details
      x-openapi-router-controller: openapi_server.controllers.details_controller
  /v1/charityfinancial:
    post:
      description: <p>This operation detail data.</p>
      operationId: v1_charityfinancial_post
      parameters:
      - description: ein (Employer Identification Number)
        in: query
        name: ein
        schema:
          type: string
          x-data-threescale-name: ein
        x-data-threescale-name: ein
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get details!
      tags:
      - CharityFinancial
      x-openapi-router-controller: openapi_server.controllers.charity_financial_controller
  /v1/charitygeolocation:
    post:
      description: <p>This operation detail data.</p>
      operationId: v1_charitygeolocation_post
      parameters:
      - description: ein (Employer Identification Number)
        in: query
        name: ein
        schema:
          type: string
          x-data-threescale-name: ein
        x-data-threescale-name: ein
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get details!
      tags:
      - GeoLocation
      x-openapi-router-controller: openapi_server.controllers.geo_location_controller
  /v1/charitypremium:
    post:
      description: <p>This operation detail data.</p>
      operationId: v1_charitypremium_post
      parameters:
      - description: ein (Employer Identification Number)
        in: query
        name: ein
        schema:
          type: string
          x-data-threescale-name: ein
        x-data-threescale-name: ein
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get details!
      tags:
      - CharityPremium
      x-openapi-router-controller: openapi_server.controllers.charity_premium_controller
  /v1/charitysearch:
    post:
      description: <p>This operation provides summary data.</p>
      operationId: get_summary
      parameters:
      - description: Employer Identification Number (EIN)
        in: query
        name: ein
        schema:
          type: string
          x-data-threescale-name: ein
        x-data-threescale-name: ein
      - description: "Charity Name or Keyword. Example: humane society or cancer"
        in: query
        name: searchTerm
        schema:
          type: string
          x-data-threescale-name: searchTerm
        x-data-threescale-name: searchTerm
      - description: "City Name. Example: Miami"
        in: query
        name: city
        schema:
          type: string
          x-data-threescale-name: city
        x-data-threescale-name: city
      - description: State Name - Two letter state abbreviation
        in: query
        name: state
        schema:
          type: string
          x-data-threescale-name: state
        x-data-threescale-name: state
      - description: Zipcode Value - 5 digit zipcode value
        in: query
        name: zipCode
        schema:
          type: string
          x-data-threescale-name: zipCode
        x-data-threescale-name: zipCode
      - description: Category Value Selected from Categories API
        in: query
        name: category
        schema:
          type: string
          x-data-threescale-name: category
        x-data-threescale-name: category
      - description: eligible=1 will return only organizations that are tax deductible
          and in good standing with the IRS
        in: query
        name: eligible
        schema:
          type: string
          x-data-threescale-name: eligible
        x-data-threescale-name: eligible
      - description: Record Set Start Position
        in: query
        name: start
        schema:
          type: string
          x-data-threescale-name: start
        x-data-threescale-name: start
      - description: Records Per Page. Default Value = 20
        in: query
        name: rows
        schema:
          type: string
          x-data-threescale-name: rows
        x-data-threescale-name: rows
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get summary data!
      tags:
      - summary
      x-openapi-router-controller: openapi_server.controllers.summary_controller
components:
  schemas: {}
  securitySchemes:
    user_key:
      description: Your API access key
      in: query
      name: user_key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_user_key
x-original-swagger-version: "2.0"
