openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/workspaceSettings.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-workspaceSettings
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings:
    get:
      description: "Settings about where we should store your security data and logs.\
        \ If the result is empty, it means that no custom-workspace configuration\
        \ was set"
      operationId: workspace_settings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Get workspace settings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                  name: default
                  properties:
                    scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                  type: Microsoft.Security/workspaceSettings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/workspaceSettings/myRg
                  name: myRg
                  properties:
                    scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg
                    workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myOtherRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace2
                  type: Microsoft.Security/workspaceSettings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}:
    delete:
      description: Deletes the custom workspace settings for this subscription. new
        VMs will report to the default workspace
      operationId: workspace_settings_delete
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Delete a workspace setting data for resource group:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    get:
      description: "Settings about where we should store your security data and logs.\
        \ If the result is empty, it means that no custom-workspace configuration\
        \ was set"
      operationId: workspace_settings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspaceSettingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Get a workspace setting on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    patch:
      description: Settings about where we should store your security data and logs
      operationId: workspace_settings_update
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
        x-ms-parameter-location: method
        x-body-name: workspaceSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Update a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-codegen-request-body-name: workspaceSetting
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    put:
      description: creating settings about where we should store your security data
        and logs
      operationId: workspace_settings_create
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
        x-ms-parameter-location: method
        x-body-name: workspaceSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Create a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-codegen-request-body-name: workspaceSetting
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
components:
  parameters:
    WorkspaceSettingName:
      description: Name of the security setting
      in: path
      name: workspaceSettingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    WorkspaceSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkspaceSetting'
      description: Security data setting object
      required: true
      x-ms-parameter-location: method
      x-body-name: workspaceSetting
  schemas:
    WorkspaceSetting:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Configures where to store the OMS agent data for workspaces under
        a scope
      example:
        properties:
          scope: scope
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceSettingProperties'
      title: WorkspaceSetting
    WorkspaceSettingList:
      description: List of workspace settings response
      example:
        value:
        - properties:
            scope: scope
            workspaceId: workspaceId
        - properties:
            scope: scope
            workspaceId: workspaceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of workspace settings
          items:
            $ref: '#/components/schemas/WorkspaceSetting'
          title: value
          type: array
      required:
      - value
      title: WorkspaceSettingList
      type: object
    WorkspaceSettingProperties:
      description: Workspace setting data
      example:
        scope: scope
        workspaceId: workspaceId
      properties:
        scope:
          description: All the VMs in this scope will send their security data to
            the mentioned workspace unless overridden by a setting with more specific
            scope
          title: scope
          type: string
        workspaceId:
          description: The full Azure ID of the workspace to save the data in
          title: workspaceId
          type: string
      required:
      - scope
      - workspaceId
      title: WorkspaceSettingProperties
      type: object
    WorkspaceSettings_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: WorkspaceSettings_List_default_response_error
      type: object
      x-ms-external: true
    WorkspaceSettings_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/WorkspaceSettings_List_default_response_error'
      title: WorkspaceSettings_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
