openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJobStreams.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-sourceControlSyncJobStreams
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams
  : get:
      description: Retrieve a list of sync job streams identified by sync job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: source_control_sync_job_streams_list_by_sync_job
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: The source control sync job id.
        in: path
        name: sourceControlSyncJobId
        required: true
        schema:
          format: uuid
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobStreamsListBySyncJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobStreams_ListBySyncJob_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControlSyncJobStreams
      x-ms-examples:
        Get a list of sync job streams identified by sync job id:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005
                  properties:
                    sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005
                    streamType: Error
                    summary: "ForbiddenError: The server failed to authenticate the\
                      \ request. Verify that the certificate is valid and is associated\
                      \ with this subscription."
                    time: 2017-03-28T23:14:26.903+00:00
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006
                  properties:
                    sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006
                    streamType: Error
                    summary: "System.Management.Automation.RuntimeException: Cannot\
                      \ index into a null array.\r\n   at CallSite.Target(Closure\
                      \ , CallSite , Object , Int32 )\r\n   at System.Dynamic.UpdateDelegates.UpdateAndExecute2[T0,T1,TRet](CallSite\
                      \ site, T0 arg0, T1 arg1)\r\n   at System.Management.Automation.Interpreter.DynamicInstruction`3.Run(InterpretedFrame\
                      \ frame)\r\n   at System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame\
                      \ frame)"
                    time: 2017-03-28T23:14:27.903+00:00
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                  properties:
                    sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                    streamType: Error
                    summary: "System.Management.Automation.ParameterBindingValidationException:\
                      \ Cannot validate argument on parameter 'Location'. The argument\
                      \ is null or empty. Provide an argument that is not null or\
                      \ empty, and then try the command again. ---> System.Management.Automation.ValidationMetadataException:\
                      \ The argument is null or empty. Provide an argument that is\
                      \ not null or empty, and then try the command again.\r\n   at\
                      \ System.Management.Automation.ValidateNotNullOrEmptyAttribute.Validate(Object\
                      \ arguments, EngineIntrinsics engineIntrinsics)"
                    time: 2017-03-28T23:14:28.903+00:00
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.source_control_sync_job_streams_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams/{streamId}
  : get:
      description: Retrieve a sync job stream identified by stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: source_control_sync_job_streams_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: The source control sync job id.
        in: path
        name: sourceControlSyncJobId
        required: true
        schema:
          format: uuid
          type: string
      - description: The id of the sync job stream.
        in: path
        name: streamId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobStreamById'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobStreams_ListBySyncJob_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControlSyncJobStreams
      x-ms-examples:
        Get a sync job stream identified by sync job stream id.:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b
            streamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                properties:
                  sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                  streamText: "New-AzureAffinityGroup : Cannot validate argument on\
                    \ parameter 'Location'. The argument is null or empty. Provide\
                    \ an \r\nargument that is not null or empty, and then try the\
                    \ command again.\r\nAt DatabaseExportImport1fba401e-0:69 char:69\r\
                    \n+ \r\n + CategoryInfo : InvalidData: . . . ."
                  streamType: Error
                  summary: ""
                  time: 2017-03-28T23:14:26.903+00:00
                  value:
                    Exception:
                      Message: "System.Management.Automation.ParameterBindingValidationException:\
                        \ Cannot validate argument on parameter 'Location'. The argument\
                        \ is null or empty . . .} }"
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.source_control_sync_job_streams_controller
components:
  schemas:
    SourceControlSyncJobStream:
      description: Definition of the source control sync job stream.
      example:
        id: id
        properties:
          summary: summary
          streamType: Error
          sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
          time: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Resource id.
          readOnly: true
          title: id
          type: string
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobStreamProperties'
      title: SourceControlSyncJobStream
      type: object
    SourceControlSyncJobStreamById:
      description: Definition of the source control sync job stream by id.
      example:
        id: id
        properties:
          summary: summary
          streamType: Error
          streamText: streamText
          sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
          time: 2000-01-23T04:56:07.000+00:00
          value:
            key: "{}"
      properties:
        id:
          description: Resource id.
          readOnly: true
          title: id
          type: string
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobStreamByIdProperties'
      title: SourceControlSyncJobStreamById
      type: object
    SourceControlSyncJobStreamByIdProperties:
      description: Definition of source control sync job stream by id properties.
      example:
        summary: summary
        streamType: Error
        streamText: streamText
        sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
        time: 2000-01-23T04:56:07.000+00:00
        value:
          key: "{}"
      properties:
        sourceControlSyncJobStreamId:
          description: The sync job stream id.
          title: sourceControlSyncJobStreamId
          type: string
        streamText:
          description: The text of the sync job stream.
          title: streamText
          type: string
        streamType:
          description: The type of the sync job stream.
          enum:
          - Error
          - Output
          title: streamType
          type: string
          x-ms-enum:
            modelAsString: true
            name: streamType
        summary:
          description: The summary of the sync job stream.
          title: summary
          type: string
        time:
          description: The time of the sync job stream.
          format: date-time
          nullable: true
          readOnly: true
          title: time
          type: string
        value:
          additionalProperties:
            properties: {}
            type: object
          description: The values of the job stream.
          title: value
          type: object
      title: SourceControlSyncJobStreamByIdProperties
      type: object
    SourceControlSyncJobStreamProperties:
      description: Definition of source control sync job stream properties.
      example:
        summary: summary
        streamType: Error
        sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        sourceControlSyncJobStreamId:
          description: The sync job stream id.
          title: sourceControlSyncJobStreamId
          type: string
        streamType:
          description: The type of the sync job stream.
          enum:
          - Error
          - Output
          title: streamType
          type: string
          x-ms-enum:
            modelAsString: true
            name: streamType
        summary:
          description: The summary of the sync job stream.
          title: summary
          type: string
        time:
          description: The time of the sync job stream.
          format: date-time
          nullable: true
          readOnly: true
          title: time
          type: string
      title: SourceControlSyncJobStreamProperties
      type: object
    SourceControlSyncJobStreamsListBySyncJob:
      description: The response model for the list source control sync job streams
        operation.
      example:
        value:
        - id: id
          properties:
            summary: summary
            streamType: Error
            sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
            time: 2000-01-23T04:56:07.000+00:00
        - id: id
          properties:
            summary: summary
            streamType: Error
            sourceControlSyncJobStreamId: sourceControlSyncJobStreamId
            time: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of source control sync job streams.
          items:
            $ref: '#/components/schemas/SourceControlSyncJobStream'
          title: value
          type: array
      title: SourceControlSyncJobStreamsListBySyncJob
      type: object
    SourceControlSyncJobStreams_ListBySyncJob_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: SourceControlSyncJobStreams_ListBySyncJob_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
