openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Frontline
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_frontline_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_frontline_v1
servers:
- url: https://frontline-api.twilio.com
tags:
- name: FrontlineV1User
paths:
  /v1/Users/{Sid}:
    description: A User resource represents a frontline user.
    get:
      description: Fetch a frontline user
      operationId: fetch_user
      parameters:
      - description: The SID of the User resource to fetch. This value can be either
          the `sid` or the `identity` of the User resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/frontline.v1.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FrontlineV1User
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.frontline_v1_user_controller
    post:
      description: Update an existing frontline user
      operationId: update_user
      parameters:
      - description: The SID of the User resource to update. This value can be either
          the `sid` or the `identity` of the User resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/frontline.v1.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FrontlineV1User
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.frontline_v1_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://frontline-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      pathType: instance
components:
  schemas:
    frontline.v1.user:
      example:
        friendly_name: friendly_name
        identity: identity
        avatar: avatar
        state: state
        url: https://openapi-generator.tech
        is_available: true
        sid: sid
      properties:
        avatar:
          description: The avatar URL which will be shown in Frontline application.
          nullable: true
          title: avatar
          type: string
        friendly_name:
          description: The string that you assigned to describe the User.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        identity:
          description: "The application-defined string that uniquely identifies the\
            \ resource's User. This value is often a username or an email address,\
            \ and is case-sensitive."
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        is_available:
          description: Whether the User is available for new conversations. Defaults
            to `false` for new users.
          nullable: true
          title: is_available
          type: boolean
        sid:
          description: The unique string that we created to identify the User resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^US[0-9a-fA-F]{32}$"
          title: sid
          type: string
        state:
          $ref: '#/components/schemas/user_enum_state_type'
        url:
          description: An absolute API resource URL for this user.
          format: uri
          nullable: true
          title: url
          type: string
      title: frontline.v1.user
      type: object
    user_enum_state_type:
      enum:
      - active
      - deactivated
      title: user_enum_state_type
      type: string
    UpdateUserRequest:
      properties:
        Avatar:
          description: The avatar URL which will be shown in Frontline application.
          type: string
        FriendlyName:
          description: The string that you assigned to describe the User.
          type: string
        IsAvailable:
          description: "Whether the User is available for new conversations. Set to\
            \ `false` to prevent User from receiving new inbound conversations if\
            \ you are using [Pool Routing](https://www.twilio.com/docs/frontline/handle-incoming-conversations#3-pool-routing)."
          type: boolean
        State:
          $ref: '#/components/schemas/user_enum_state_type'
      title: UpdateUserRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta
