openapi: 3.0.1
info:
  contact:
    name: Fun Generators
    url: http://fungenerators.com/
  description: |
    Fungenerators taunt generation API generates random taunts / insults,  relevant to the given category. Many categories are supported and new ones are added very frequently. [Click here to subscribe](http://fungenerators.com/api/taunt/)
  termsOfService: https://fungenerators.com/terms
  title: Taunt as a service
  version: "1.5"
  x-apisguru-categories:
  - text
  x-origin:
  - format: swagger
    url: https://fungenerators.com/yaml/taunt.yaml
    version: "2.0"
  x-providerName: fungenerators.com
  x-serviceName: taunt
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- description: Taunt Generation API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/api/taunt/
  name: Taunt
paths:
  /taunt/categories:
    get:
      description: Get available taunt generation categories.
      parameters:
      - description: start
        in: query
        name: start
        schema:
          format: integer
          type: integer
      - description: limit
        in: query
        name: limit
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": "7",
                    "start": 0,
                    "limit": 10
                  },
                  "contents": [
                    [
                      {
                        "name": "new-age-insult",
                        "title": "Random Insult Generator",
                        "description": "Nothing personal mate! Just for fun! This is not appropriate for children!"
                      },
                      {
                        "name": "shakespeare",
                        "title": "Random Shakespearean Curse Generator",
                        "description": "Generates a random Shakespeare sounding curse every-time you visit the page. Cursing is bad for health ;) , use it only when necessary."
                      },
                      {
                        "name": "lutheran-insult",
                        "title": "Random Lutheran Insult Generator",
                        "description": "Let Luther insult you from the history! These insults directly from the books of Luther will make you feel like the real Hanswursts - blockheads, boors, and dunderheads."
                      },
                      {
                        "name": "scottish",
                        "title": "Random Scottish Insult Generator",
                        "description": "If you are insulting someone insult like Scot! Our Scottish insult generator will be your mate and do most of job for you!"
                      },
                      {
                        "name": "pirate-insult",
                        "title": "Pirate Insult Generator",
                        "description": "If you are insulting someone insult like Pirate! Our Pirate insult generator will make you a weasel hearted worm suckin' spineless bastitch !"
                      },
                      {
                        "name": "conservative-insult",
                        "title": "Conservative Insult Generator",
                        "description": "If you are in a political argument and need to insult the conservative on the other side in a hurry, our conservative insult generator will do the job for you!"
                      },
                      {
                        "name": "liberal-insult",
                        "title": "Liberal Insult Generator",
                        "description": "If you are in a political argument and need to insult the liberal on the other side in a hurry, our liberal insult generator will do the job for you!"
                      }
                    ]
                  ]
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}     "
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Taunt
      x-accepts:
      - application/json
  /taunt/generate:
    get:
      description: Generated taunts in the given category
      parameters:
      - description: Category to generator taunt from
        in: query
        name: category
        required: true
        schema:
          format: string
          type: string
      - description: Limit. Controls number of taunts generated. Max of 5-10 based
          on the plan
        in: query
        name: limit
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": null,
                    "limit": 3
                  },
                  "contents": {
                    "category": "shakespeare",
                    "taunts": [
                      "Thou infectious hasty-witted mammet!",
                      "Thou distempered iron-witted fustilarian!",
                      "Thou reeky ill-breeding scullion!"
                    ]
                  },
                  "copyright": "https://fungenerators.com/"
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Taunt
      x-accepts:
      - application/json
components:
  schemas: {}
  securitySchemes:
    X-Fungenerators-Api-Secret:
      in: header
      name: X-Fungenerators-Api-Secret
      type: apiKey
x-original-swagger-version: "2.0"

