openapi: 3.0.1
info:
  description: The Locations API provides access to MasterCard's ATM and Merchant
    location database
  title: Locations API
  version: 1.0.0
  x-artifactId: locations
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/locations
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: Locations
servers:
- url: https://api.mastercard.com/
paths:
  /atms/v1/atm:
    get:
      description: |
        Returns detailed information about an ATM location.  This information can be used to display ATMs on a map, provide driving directions, or show special ATM features.
      parameters:
      - description: Zero-based offset where the response will start. The actual start
          position is this value +1. An offset of 10 starts at item 11. Combined with
          the PageLength option this allows pagination to be supported through the
          service requests.
        example: "0"
        in: query
        name: PageOffset
        required: true
        schema:
          type: integer
          x-explorer: true
        x-explorer: true
      - description: Maximum number of items to retrieve within the current "page"
          of results.
        example: "5"
        in: query
        name: PageLength
        required: true
        schema:
          type: integer
          x-explorer: true
        x-explorer: true
      - description: Line 1 of the street address for the merchant location.  Usually
          includes the street number and name. This parameter is ignored if latitude
          and longitude are provided. If you provide this parameter you must also
          provide the Country parameter and either City parameter or PostalCode parameter.
        example: 114 Fifth Avenue
        in: query
        name: AddressLine1
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Line 2 of the street address usually an apartment number or suite
          number. This parameter is used rarely and is ignored if latitude and longitude
          are provided. If you provide this parameter you must also provide the Country
          parameter and either City parameter or PostalCode parameter.
        example: Apartment 1
        in: query
        name: AddressLine2
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: The name of the city for a merchant location.  This parameter
          is ignored if latitude and longitude are provided. If you provide this parameter
          you must also provide the Country parameter.
        example: New York City
        in: query
        name: City
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: The state or province for a merchant location (only supported
          for US and Canada locations).  This parameter is ignored if latitude and
          longitude are provided. If you provide this parameter you must also provide
          the Country parameter.
        example: NY
        in: query
        name: CountrySubdivision
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: The zip code or postal code for a merchant location.  This parameter
          is ignored if latitude and longitude are provided. If you provide this parameter
          you must also provide the Country parameter.
        example: "11101"
        in: query
        name: PostalCode
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      - description: Any three digit country code for an ATM location.  Valid values
          are Three digit alpha country code as defined in ISO 3166-1.  This parameter
          is ignored if latitude and longitude are provided. This parameter is required
          if any other address information is provided including AddressLine1 AddressLine2
          City PostalCode or CountrySubdivision.
        example: USA
        in: query
        name: Country
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: The latitude of a merchant location.  If latitude is provided
          longitude must also be provided.
        example: "38.76006576913497"
        in: query
        name: Latitude
        schema:
          format: double
          type: number
          x-explorer: false
        x-explorer: false
      - description: The longitude of a merchant location.  If longitude is provided
          latitude must also be provided.
        example: "-90.74615107952418"
        in: query
        name: Longitude
        schema:
          format: double
          type: number
          x-explorer: false
        x-explorer: false
      - description: Indicates the unit for the radius as well as the units of the
          distance of each location from the basepoint in the response.
        example: MILE
        in: query
        name: DistanceUnit
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: This is the radius from the search point in the distance unit
          you set.  For example if you want to search for locations within 50 miles
          of a certain point you would set DistanceUnit=mile and Radius=50.  This
          parameter is ignored in non-geocoded countries.
        example: "25"
        in: query
        name: Radius
        schema:
          type: integer
          x-explorer: false
        x-explorer: false
      - description: This indicates whether the ATM should have the ability to read
          chip cards or not.
        example: "1"
        in: query
        name: SupportEMV
        schema:
          type: integer
          x-explorer: false
        x-explorer: false
      - description: This field will provide ATM Terminals which can still process
          Maestro transactions but are not yet EMV chip reader enabled. Information
          available only for USA and Argentina till October 2014.
        example: "1"
        in: query
        name: InternationalMaestroAccepted
        schema:
          type: integer
          x-explorer: false
        x-explorer: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtmsResponse'
          description: An array of ATM locations
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: "Returns detailed information about an ATM location.  This information\
        \ can be used to display ATMs on a map, provide driving directions, or show\
        \ special ATM features."
      tags:
      - ATM Locations
      x-samples:
      - name: atm_locations
        request:
          application/json: |-
            {
              "PageOffset": "0",
              "PageLength": "5",
              "PostalCode": "11101"
            }
        response:
          application/json: |-
            {
             "Atms":{
                "PageOffset":"0",
                "TotalCount":26,
                "Atm":[
                   {
                      "Location":{
                         "Name":"Sandbox ATM Location 1",
                         "Distance":0.93,
                         "DistanceUnit":"MILE",
                         "Address":{
                            "Line1":"4201 Leverton Cove Road",
                            "Line2":"",
                            "City":"SPRINGFIELD",
                            "PostalCode":"11101",
                            "CountrySubdivision":{
                               "Name":"UYQQQQ",
                               "Code":"QQ"
                            },
                            "Country":{
                               "Name":"UYQQQRR",
                               "Code":"UYQ"
                            }
                         },
                         "Point":{
                            "Latitude":38.76006576913497,
                            "Longitude":-90.74615107952418
                         },
                         "LocationType":{
                            "Type":"OTHER"
                         }
                      },
                      "HandicapAccessible":"NO",
                      "Camera":"NO",
                      "Availability":"UNKNOWN",
                      "AccessFees":"UNKNOWN",
                      "Owner":"Sandbox ATM 1",
                      "SharedDeposit":"NO",
                      "SurchargeFreeAlliance":"NO",
                      "SurchargeFreeAllianceNetwork":"DOES_NOT_PARTICIPATE_IN_SFA",
                      "Sponsor":"Sandbox",
                      "SupportEMV":1,
                      "InternationalMaestroAccepted":1
                   }
                ]
              }
            }
      x-accepts:
      - application/json
  /atms/v1/country:
    get:
      description: |
        Returns countries with valid ATM locations.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
          description: A list of all the countries that contain ATMs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns countries with valid ATM locations.
      tags:
      - ATM Countries
      x-samples:
      - name: example_atm_country
        request:
          application/json: |-
            {

            }
        response:
          application/json: |-
            {
              "Countries": {
                "Country": [
                  {
                    "Name": "THAILAND",
                    "Code": "THA",
                    "Geocoding": "FALSE"
                  },
                  {
                    "Name": "TIMOR-LESTE",
                    "Code": "TMP",
                    "Geocoding": "FALSE"
                  },
                  {
                    "Name": "TONGA",
                    "Code": "TON",
                    "Geocoding": "FALSE"
                  }
                ]
              }
            }
      x-accepts:
      - application/json
  /atms/v1/countrysubdivision:
    get:
      description: |
        Returns country subdivisions that have ATM locations.  A country subdivision is a segment within a country (ex  state or province). Country subdivisions are only available for the US and Canada.
      parameters:
      - description: Any three digit country code as defined in ISO 3166-1.  "USA"
          or "CAN"
        example: USA
        in: query
        name: Country
        required: true
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountrySubdivisionResponse'
          description: A list of all the CountrySubdivisions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns country subdivisions that have ATM locations.  A country subdivision
        is a segment within a country (ex  state or province). Country subdivisions
        are only available for the US and Canada.
      tags:
      - ATM Country Subdivisions
      x-samples:
      - name: example_atm_countrysubdivision
        request:
          application/json: |-
            {
              "Country": "USA"
            }
        response:
          application/json: |-
            {
              "CountrySubdivisions": {
                  "CountrySubdivision": [
                    {
                      "Name": "ARMED FORCES AMERICAS",
                      "Code": "AA"
                    },
                    {
                      "Name": "ARMED FORCES CAN AFRICA E",
                      "Code": "AE"
                    },
                    {
                      "Name": "ALASKA",
                      "Code": "AK"
                    }
                  ]
                }
            }
      x-accepts:
      - application/json
  /merchants/v1/category:
    get:
      description: |
        Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
          description: A list of all the categories supported
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: |
        Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).
      tags:
      - Merchant Categories
      x-samples:
      - name: example_merchants_category
        request:
          application/json: |-
            {

            }
        response:
          application/json: |-
            {
              "Categories": {
                "Category": [
                  "1Apparel",
                  "2Automotive",
                  "3Beauty",
                  "4Book Stores",
                  "5Convenience Stores",
                  "7Dry Cleaners And Laundry Services",
                  "8Fast Food Restaurants",
                  "9Gift Shops, Hobbies, Jewelers",
                  "10Grocery Stores And Supermarkets",
                  "11Health"
                ]
              }
            }
      x-accepts:
      - application/json
  /merchants/v1/country:
    get:
      description: |
        Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.
      parameters:
      - description: This is the type of merchant location. Options  "acceptance.paypass"
          "topup.repower"  "products.prepaidtravelcard"  and "offers.easysavings"
        example: acceptance.paypass
        in: query
        name: details
        required: true
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
          description: A list of all the countries have a certain category
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: |
        Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.
      tags:
      - Merchant Countries
      x-samples:
      - name: example_merchants_country
        request:
          application/json: |-
            {
              "details": "acceptance.paypass"
            }
        response:
          application/json: |-
            {
              "Countries": {
                "Country": [
                  {
                    "Name": "AUSTRALIA",
                    "Code": "AUS",
                    "Geocoding": "TRUE"
                  },
                  {
                    "Name": "AUSTRIA",
                    "Code": "AUT",
                    "Geocoding": "TRUE"
                  },
                  {
                    "Name": "BELGIUM",
                    "Code": "BEL",
                    "Geocoding": "TRUE"
                  }
                ]
              }
            }
      x-accepts:
      - application/json
  /merchants/v1/countrysubdivision:
    get:
      description: |
        Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.
      parameters:
      - description: This is the type of merchant location. Options  "acceptance.paypass"
          "topup.repower"  "products.prepaidtravelcard"  and "offers.easysavings"
        example: topup.repower
        in: query
        name: details
        required: true
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      - description: Any three digit country code as defined in ISO 3166-1. For example
          "USA or "CAN"
        example: USA
        in: query
        name: country
        required: true
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountrySubdivisionResponse'
          description: A list of all the CountrySubdivisions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: |
        Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.
      tags:
      - Merchant Country Subdivisions
      x-samples:
      - name: example_merchants_countrysubdivision
        request:
          application/json: |-
            {
              "details": "topup.repower",
              "country": "USA"
            }
        response:
          application/json: |-
            {
              "CountrySubdivisions": {
                "CountrySubdivision": [
                  {
                    "Name": "ARMED FORCES AMERICAS",
                    "Code": "AA"
                  },
                  {
                    "Name": "ARMED FORCES CAN AFRICA E",
                    "Code": "AE"
                  },
                  {
                    "Name": "ALASKA",
                    "Code": "AK"
                  }
                ]
              }
            }
      x-accepts:
      - application/json
  /merchants/v1/merchant:
    get:
      description: |
        Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.
      parameters:
      - description: Type of merchant location. Options are "acceptance.paypass" "topup.repower"
          "products.prepaidtravelcard" "offers.easysavings" and "features.cashback".
          Cash Back is currently only available in the US.
        example: acceptance.paypass
        in: query
        name: Details
        required: true
        schema:
          type: string
          x-explorer: true
        x-explorer: true
      - description: Zero-based offset where the response will start. The actual start
          position is this value +1. An offset of 10 starts at item 11. Combined with
          the PageLength option this allows pagination to be supported through the
          service requests.
        example: "0"
        in: query
        name: PageOffset
        required: true
        schema:
          type: integer
          x-explorer: true
        x-explorer: true
      - description: Maximum number of items to retrieve within the current "page"
          of results.
        example: "5"
        in: query
        name: PageLength
        required: true
        schema:
          type: integer
          x-explorer: true
        x-explorer: true
      - description: Category of the merchant location. See the Categories (Merchant)
          resource for a list of valid categories. This parameter is only valid for
          merchant queries with Details = "acceptance.paypass" or "features.cashback".
        example: features.cashback
        in: query
        name: Category
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Line 1 of the street address for the merchant location.  Usually
          includes the street number and name. This parameter is ignored if latitude
          and longitude are provided. If you provide this parameter you must also
          provide the Country parameter and either City parameter or PostalCode parameter.
        example: 42 Elm Street
        in: query
        name: AddressLine1
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Line 2 of the street address usually an apartment number or suite
          number. This parameter is used rarely and is ignored if latitude and longitude
          are provided. If you provide this parameter you must also provide the Country
          parameter and either City parameter or PostalCode parameter.
        example: Suite 101
        in: query
        name: AddressLine2
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Name of the city for a merchant location.  This parameter is
          ignored if latitude and longitude are provided. If you provide this parameter
          you must also provide the Country parameter.
        example: New York
        in: query
        name: City
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: State or province for a merchant location (only supported for
          US and Canada locations).  This parameter is ignored if latitude and longitude
          are provided. If you provide this parameter you must also provide the Country
          parameter.
        example: NY
        in: query
        name: CountrySubdivision
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Zip code or postal code for a merchant location.  This parameter
          is ignored if latitude and longitude are provided. If you provide this parameter
          you must also provide the Country parameter.
        example: "11001"
        in: query
        name: PostalCode
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Any three digit country code for an ATM location.  Valid values
          are Three digit alpha country code as defined in ISO 3166-1.  This parameter
          is ignored if latitude and longitude are provided. This parameter is required
          if any other address information is provided including AddressLine1 AddressLine2
          City PostalCode or CountrySubdivision. By default we supply ATM location
          data for United States ATMs for up to twenty-five records per request.
        example: USA
        in: query
        name: Country
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: Latitude of a merchant location.  If latitude is provided longitude
          must also be provided.
        example: "38.53463"
        in: query
        name: Latitude
        schema:
          format: double
          type: number
          x-explorer: true
        x-explorer: true
      - description: Longitude of a merchant location.  If longitude is provided latitude
          must also be provided.
        example: "-90.286781"
        in: query
        name: Longitude
        schema:
          format: double
          type: number
          x-explorer: true
        x-explorer: true
      - description: Indicates the unit for the radius as well as the units of the
          distance of each location from the basepoint in the response.
        example: MILE
        in: query
        name: DistanceUnit
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      - description: This is the radius from the search point in the distance unit
          you set.  For example if you want to search for locations within 50 miles
          of a certain point you would set DistanceUnit=mile and Radius=50.  This
          parameter is ignored in non-geocoded countries.
        example: "25"
        in: query
        name: Radius
        schema:
          type: integer
          x-explorer: false
        x-explorer: false
      - description: Unique identifier that represents the merhcant sponsor of an
          offer. Any valid merchant ID.
        example: "34760"
        in: query
        name: OfferMerchantID
        schema:
          type: string
          x-explorer: false
        x-explorer: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsResponse'
          description: An array of Merchant locations
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: |
        Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.
      tags:
      - Merchant Locations
      x-samples:
      - name: example_merchants
        request:
          application/json: |-
            {
              "Details": "acceptance.paypass",
              "PageOffset": "0",
              "PageLength": "5",
              "Latitude": "38.53463",
              "Longitude": "-90.286781"
            }
        response:
          application/json: |-
            {
              "Merchants": {
                "PageOffset": "0",
                "TotalCount": "3",
                "Merchant": [
                  {
                    "Id": "36564",
                    "Name": "Merchant 36564",
                    "Category": "7 - Dry Cleaners And Laundry Services",
                    "Location": {
                      "Name": "Merchant 36564",
                      "Distance": "0.9320591049747101",
                      "DistanceUnit": "MILE",
                      "Address": {
                        "Line1": "3822 West Fork Street",
                        "City": "Great Falls",
                        "PostalCode": "51765",
                        "CountrySubdivision": {
                          "Name": "Country Subdivision 517521",
                          "Code": "Country Subdivision Code 517521"
                        },
                        "Country": {
                          "Name": "Country 5175215",
                          "Code": "Country Code 5175215"
                        }
                      },
                      "Point": {
                        "Latitude": "38.52114017591121",
                        "Longitude": "-90.28678100000002"
                      }
                    },
                    "Acceptance": {
                      "PayPass": {
                        "Register": "true"
                      }
                    }
                  }
                ]
              }
            }
      x-accepts:
      - application/json
components:
  schemas:
    Acceptance:
      example:
        PayPass:
          FuelPump: true
          Ticketing: true
          TollBooth: true
          VendingMachine: true
          DriveThru: true
          Register: true
          Concession: true
          Pharmacy: true
      properties:
        PayPass:
          $ref: '#/components/schemas/PayPass'
      type: object
    Address:
      example:
        Country:
          Geocoding: true
          Code: AFG
          Name: AFGHANISTAN
        PostalCode: "60601"
        CountrySubdivision:
          Code: IL
          Name: ILLINOIS
        City: CHICAGO
        Line1: 42 ELM AVENUE
        Line2: SUITE 100
      properties:
        City:
          description: The name of the city for an ATM location.
          example: CHICAGO
          type: string
        Country:
          $ref: '#/components/schemas/Country'
        CountrySubdivision:
          $ref: '#/components/schemas/CountrySubdivision'
        Line1:
          description: Line 1 of the street address for the merchant location.  Usually
            includes the street number and name.
          example: 42 ELM AVENUE
          type: string
        Line2:
          description: Line 2 of the street address usually an apartment number or
            suite number.
          example: SUITE 100
          type: string
        PostalCode:
          description: The zip code or postal code for an ATM location.
          example: "60601"
          type: string
      type: object
    Atm:
      example:
        Availability: ALWAYS_AVAILABLE
        Owner: EGLOBAL
        SurchargeFreeAlliance: "true"
        InternationalMaestroAccepted: 1
        SupportEMV: 1
        AccessFees: DOMESTIC
        Sponsor: PeoplesBank
        Camera: "true"
        SurchargeFreeAllianceNetwork: DOES_NOT_PARTICIPATE_IN_SFA
        HandicapAccessible: "true"
        SharedDeposit: "true"
        Location:
          Address:
            Country:
              Geocoding: true
              Code: AFG
              Name: AFGHANISTAN
            PostalCode: "60601"
            CountrySubdivision:
              Code: IL
              Name: ILLINOIS
            City: CHICAGO
            Line1: 42 ELM AVENUE
            Line2: SUITE 100
          Point:
            Latitude: 32.75723000000001
            Longitude: 89.700215
          DistanceUnit: KILOMETER
          LocationType:
            Type: AIRPORT
            AirportCode: JFK
          Distance: 0.91
          Name: QUIK TRIP STORE 1
      properties:
        AccessFees:
          description: "This value indicates under what conditions access fees are\
            \ charged. Options are UNKNOWN, DOMESTIC, INTERNATIONAL, DOMESTIC_AND_INTERNATIONAL,\
            \ NO_FEE."
          example: DOMESTIC
          type: string
        Availability:
          description: "This value indicates the availability hours of the ATM. Options\
            \ are UNKNOWN, ALWAYS_AVAILABLE, BUSINESS_HOURS, IRREGULAR_HOURS."
          example: ALWAYS_AVAILABLE
          type: string
        Camera:
          description: "This value indicates whether or not a security camera is present\
            \ or near ATM. Options are UNKNOWN, YES, NO."
          example: "true"
          type: string
        HandicapAccessible:
          description: "This value indicates whether or not the ATM is accessible\
            \ by wheelchair. Options are UNKNOWN, YES, NO."
          example: "true"
          type: string
        InternationalMaestroAccepted:
          description: This field will provide ATM Terminals which can still process
            Maestro transactions but are not yet EMV chip reader enabled. Information
            available only for USA and Argentina till October 2014. 1=Yes.
          example: 1
          type: integer
        Location:
          $ref: '#/components/schemas/Location'
        Owner:
          description: This is the DBA name of the financial institution affiliate
            or independent service organization.
          example: EGLOBAL
          type: string
        SharedDeposit:
          description: This value indicates whether or not the ATM participates in
            the MasterCard Shared Deposit network. Options are YES or NO.
          example: "true"
          type: string
        Sponsor:
          description: This is the legal or business name of the entity that sponsors
            the owner of the ATM into the MasterCard network.
          example: PeoplesBank
          type: string
        SupportEMV:
          description: This indicates whether the ATM has the ability to read chip
            cards or not. Options are 1 = Yes 2 = No or Empty = Unknown.
          example: 1
          type: integer
        SurchargeFreeAlliance:
          description: This value indicates whether or not the ATM participates in
            the MasterCard Shared (only) Surcharge Free Alliance network. Options
            are YES or NO.
          example: "true"
          type: string
        SurchargeFreeAllianceNetwork:
          description: "This value indicates whether or not the ATM participates in\
            \ the MasterCard Shared (only) Surcharge Free Alliance network. Options\
            \ are DOES_NOT_PARTICIPATE_IN_SFA, ALLPOINT_PREPAID, MONEYPASS_DEBIT,\
            \ and ALL_SURCHARGE_FREE."
          example: DOES_NOT_PARTICIPATE_IN_SFA
          type: string
      type: object
    Atms:
      example:
        TotalCount: 2746
        Atm:
        - Availability: ALWAYS_AVAILABLE
          Owner: EGLOBAL
          SurchargeFreeAlliance: "true"
          InternationalMaestroAccepted: 1
          SupportEMV: 1
          AccessFees: DOMESTIC
          Sponsor: PeoplesBank
          Camera: "true"
          SurchargeFreeAllianceNetwork: DOES_NOT_PARTICIPATE_IN_SFA
          HandicapAccessible: "true"
          SharedDeposit: "true"
          Location:
            Address:
              Country:
                Geocoding: true
                Code: AFG
                Name: AFGHANISTAN
              PostalCode: "60601"
              CountrySubdivision:
                Code: IL
                Name: ILLINOIS
              City: CHICAGO
              Line1: 42 ELM AVENUE
              Line2: SUITE 100
            Point:
              Latitude: 32.75723000000001
              Longitude: 89.700215
            DistanceUnit: KILOMETER
            LocationType:
              Type: AIRPORT
              AirportCode: JFK
            Distance: 0.91
            Name: QUIK TRIP STORE 1
        - Availability: ALWAYS_AVAILABLE
          Owner: EGLOBAL
          SurchargeFreeAlliance: "true"
          InternationalMaestroAccepted: 1
          SupportEMV: 1
          AccessFees: DOMESTIC
          Sponsor: PeoplesBank
          Camera: "true"
          SurchargeFreeAllianceNetwork: DOES_NOT_PARTICIPATE_IN_SFA
          HandicapAccessible: "true"
          SharedDeposit: "true"
          Location:
            Address:
              Country:
                Geocoding: true
                Code: AFG
                Name: AFGHANISTAN
              PostalCode: "60601"
              CountrySubdivision:
                Code: IL
                Name: ILLINOIS
              City: CHICAGO
              Line1: 42 ELM AVENUE
              Line2: SUITE 100
            Point:
              Latitude: 32.75723000000001
              Longitude: 89.700215
            DistanceUnit: KILOMETER
            LocationType:
              Type: AIRPORT
              AirportCode: JFK
            Distance: 0.91
            Name: QUIK TRIP STORE 1
        PageOffset: "25"
      properties:
        Atm:
          items:
            $ref: '#/components/schemas/Atm'
          type: array
        PageOffset:
          description: Zero-based offset where the response will start. The actual
            start position is this value +1. An offset of 10 starts at item 11. Combined
            with the PageLength option this allows pagination to be supported through
            the service requests.
          example: "25"
          type: string
        TotalCount:
          description: This is the total number of ATMs that match your criteria.
          example: 2746
          type: integer
      type: object
    AtmsResponse:
      example:
        Atms:
          TotalCount: 2746
          Atm:
          - Availability: ALWAYS_AVAILABLE
            Owner: EGLOBAL
            SurchargeFreeAlliance: "true"
            InternationalMaestroAccepted: 1
            SupportEMV: 1
            AccessFees: DOMESTIC
            Sponsor: PeoplesBank
            Camera: "true"
            SurchargeFreeAllianceNetwork: DOES_NOT_PARTICIPATE_IN_SFA
            HandicapAccessible: "true"
            SharedDeposit: "true"
            Location:
              Address:
                Country:
                  Geocoding: true
                  Code: AFG
                  Name: AFGHANISTAN
                PostalCode: "60601"
                CountrySubdivision:
                  Code: IL
                  Name: ILLINOIS
                City: CHICAGO
                Line1: 42 ELM AVENUE
                Line2: SUITE 100
              Point:
                Latitude: 32.75723000000001
                Longitude: 89.700215
              DistanceUnit: KILOMETER
              LocationType:
                Type: AIRPORT
                AirportCode: JFK
              Distance: 0.91
              Name: QUIK TRIP STORE 1
          - Availability: ALWAYS_AVAILABLE
            Owner: EGLOBAL
            SurchargeFreeAlliance: "true"
            InternationalMaestroAccepted: 1
            SupportEMV: 1
            AccessFees: DOMESTIC
            Sponsor: PeoplesBank
            Camera: "true"
            SurchargeFreeAllianceNetwork: DOES_NOT_PARTICIPATE_IN_SFA
            HandicapAccessible: "true"
            SharedDeposit: "true"
            Location:
              Address:
                Country:
                  Geocoding: true
                  Code: AFG
                  Name: AFGHANISTAN
                PostalCode: "60601"
                CountrySubdivision:
                  Code: IL
                  Name: ILLINOIS
                City: CHICAGO
                Line1: 42 ELM AVENUE
                Line2: SUITE 100
              Point:
                Latitude: 32.75723000000001
                Longitude: 89.700215
              DistanceUnit: KILOMETER
              LocationType:
                Type: AIRPORT
                AirportCode: JFK
              Distance: 0.91
              Name: QUIK TRIP STORE 1
          PageOffset: "25"
      properties:
        Atms:
          $ref: '#/components/schemas/Atms'
      type: object
    Cashback:
      example:
        MaximumAmount: 40
      properties:
        MaximumAmount:
          description: Maximum cashback amount permitted at the location.
          example: 40
          type: integer
      type: object
    Categories:
      example:
        Category:
        - SPORTS
        - SPORTS
      properties:
        Category:
          items:
            description: Merchant's category.
            example: SPORTS
            type: string
          type: array
      type: object
    CategoriesResponse:
      example:
        Categories:
          Category:
          - SPORTS
          - SPORTS
      properties:
        Categories:
          $ref: '#/components/schemas/Categories'
      type: object
    Countries:
      example:
        Country:
        - Geocoding: true
          Code: AFG
          Name: AFGHANISTAN
        - Geocoding: true
          Code: AFG
          Name: AFGHANISTAN
      properties:
        Country:
          items:
            $ref: '#/components/schemas/Country'
          type: array
      type: object
    CountriesResponse:
      example:
        Countries:
          Country:
          - Geocoding: true
            Code: AFG
            Name: AFGHANISTAN
          - Geocoding: true
            Code: AFG
            Name: AFGHANISTAN
      properties:
        Countries:
          $ref: '#/components/schemas/Countries'
      type: object
    Country:
      example:
        Geocoding: true
        Code: AFG
        Name: AFGHANISTAN
      properties:
        Code:
          description: Three digit alpha country code as defined in ISO 3166-1.
          example: AFG
          type: string
        Geocoding:
          description: Boolean which indicates if the country is geocoded. TRUE or
            FALSE
          example: true
          type: boolean
        Name:
          description: Name of the country.
          example: AFGHANISTAN
          type: string
      type: object
    CountrySubdivision:
      example:
        Code: IL
        Name: ILLINOIS
      properties:
        Code:
          description: Abbreviated code for the state or province.
          example: IL
          type: string
        Name:
          description: Name of the state or province for an ATM location.
          example: ILLINOIS
          type: string
      type: object
    CountrySubdivisionResponse:
      example:
        CountrySubdivisions:
          CountrySubdivision:
          - Code: IL
            Name: ILLINOIS
          - Code: IL
            Name: ILLINOIS
      properties:
        CountrySubdivisions:
          $ref: '#/components/schemas/CountrySubdivisions'
      type: object
    CountrySubdivisions:
      example:
        CountrySubdivision:
        - Code: IL
          Name: ILLINOIS
        - Code: IL
          Name: ILLINOIS
      properties:
        CountrySubdivision:
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          type: array
      type: object
    Error:
      example:
        ReasonCode: ReasonCode
        Source: Atms.Atm.Location.Address.Line1
      properties:
        ReasonCode:
          description: Identify the reason for the error.
          type: string
        Source:
          description: Unique identifier that attempts to define the field in error
            when available.  If a specific field can't be identified System will be
            returned.
          example: Atms.Atm.Location.Address.Line1
          type: string
      type: object
    ErrorResponse:
      example:
        Errors:
          Error:
          - ReasonCode: ReasonCode
            Source: Atms.Atm.Location.Address.Line1
          - ReasonCode: ReasonCode
            Source: Atms.Atm.Location.Address.Line1
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
    Errors:
      example:
        Error:
        - ReasonCode: ReasonCode
          Source: Atms.Atm.Location.Address.Line1
        - ReasonCode: ReasonCode
          Source: Atms.Atm.Location.Address.Line1
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    Features:
      example:
        Cashback:
          MaximumAmount: 40
      properties:
        Cashback:
          $ref: '#/components/schemas/Cashback'
      type: object
    Location:
      example:
        Address:
          Country:
            Geocoding: true
            Code: AFG
            Name: AFGHANISTAN
          PostalCode: "60601"
          CountrySubdivision:
            Code: IL
            Name: ILLINOIS
          City: CHICAGO
          Line1: 42 ELM AVENUE
          Line2: SUITE 100
        Point:
          Latitude: 32.75723000000001
          Longitude: 89.700215
        DistanceUnit: KILOMETER
        LocationType:
          Type: AIRPORT
          AirportCode: JFK
        Distance: 0.91
        Name: QUIK TRIP STORE 1
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        Distance:
          description: This is the numerical value for the distance from the provided
            location to the selected ATM.
          example: 0.91
          format: double
          type: number
        DistanceUnit:
          description: This is the unit of measure value for the distance from the
            provided location to the selected ATM. Options are KILOMETER and MILE.
          example: KILOMETER
          type: string
        LocationType:
          $ref: '#/components/schemas/LocationType'
        Name:
          description: This is the name of the ATM location
          example: QUIK TRIP STORE 1
          type: string
        Point:
          $ref: '#/components/schemas/Point'
      type: object
    LocationType:
      example:
        Type: AIRPORT
        AirportCode: JFK
      properties:
        AirportCode:
          description: Airport code is a 3 digit field. This is an optional field
            and will only be returned if Atms.Atm.Location.LocationType.Type=AIRPORT
          example: JFK
          type: string
        Type:
          description: "Type of location for the ATM. Options are OTHER, AIRPORT,\
            \ HOSPITAL, FINANCIAL_INSTITUTION."
          example: AIRPORT
          type: string
      type: object
    Merchant:
      example:
        MerchantOfferId: "1143109"
        Acceptance:
          PayPass:
            FuelPump: true
            Ticketing: true
            TollBooth: true
            VendingMachine: true
            DriveThru: true
            Register: true
            Concession: true
            Pharmacy: true
        Products:
          PrepaidTravelcard: true
        Category: DINING AND ENTERTAINMENT
        Topup:
          rePower:
            MoneyPak: true
            CardSwipe: true
        WebsiteUrl: www.mcdonalds.com
        PhoneNumber: "8165442210"
        Features:
          Cashback:
            MaximumAmount: 40
        Id: "2801796"
        Location:
          Address:
            Country:
              Geocoding: true
              Code: AFG
              Name: AFGHANISTAN
            PostalCode: "60601"
            CountrySubdivision:
              Code: IL
              Name: ILLINOIS
            City: CHICAGO
            Line1: 42 ELM AVENUE
            Line2: SUITE 100
          Point:
            Latitude: 32.75723000000001
            Longitude: 89.700215
          DistanceUnit: KILOMETER
          LocationType:
            Type: AIRPORT
            AirportCode: JFK
          Distance: 0.91
          Name: QUIK TRIP STORE 1
        Name: MCDONALDS
      properties:
        Acceptance:
          $ref: '#/components/schemas/Acceptance'
        Category:
          description: Merchant's category.
          example: DINING AND ENTERTAINMENT
          type: string
        Features:
          $ref: '#/components/schemas/Features'
        Id:
          description: Numerical merchant identifier.
          example: "2801796"
          type: string
        Location:
          $ref: '#/components/schemas/Location'
        MerchantOfferId:
          description: Merchant's Easy Savings Offer Id
          example: "1143109"
          type: string
        Name:
          description: Name of the merchant
          example: MCDONALDS
          type: string
        PhoneNumber:
          description: Merchant's phone number
          example: "8165442210"
          type: string
        Products:
          $ref: '#/components/schemas/Products'
        Topup:
          $ref: '#/components/schemas/Topup'
        WebsiteUrl:
          description: Merchant's website URL address.
          example: www.mcdonalds.com
          type: string
      type: object
    Merchants:
      example:
        TotalCount: 86
        Merchant:
        - MerchantOfferId: "1143109"
          Acceptance:
            PayPass:
              FuelPump: true
              Ticketing: true
              TollBooth: true
              VendingMachine: true
              DriveThru: true
              Register: true
              Concession: true
              Pharmacy: true
          Products:
            PrepaidTravelcard: true
          Category: DINING AND ENTERTAINMENT
          Topup:
            rePower:
              MoneyPak: true
              CardSwipe: true
          WebsiteUrl: www.mcdonalds.com
          PhoneNumber: "8165442210"
          Features:
            Cashback:
              MaximumAmount: 40
          Id: "2801796"
          Location:
            Address:
              Country:
                Geocoding: true
                Code: AFG
                Name: AFGHANISTAN
              PostalCode: "60601"
              CountrySubdivision:
                Code: IL
                Name: ILLINOIS
              City: CHICAGO
              Line1: 42 ELM AVENUE
              Line2: SUITE 100
            Point:
              Latitude: 32.75723000000001
              Longitude: 89.700215
            DistanceUnit: KILOMETER
            LocationType:
              Type: AIRPORT
              AirportCode: JFK
            Distance: 0.91
            Name: QUIK TRIP STORE 1
          Name: MCDONALDS
        - MerchantOfferId: "1143109"
          Acceptance:
            PayPass:
              FuelPump: true
              Ticketing: true
              TollBooth: true
              VendingMachine: true
              DriveThru: true
              Register: true
              Concession: true
              Pharmacy: true
          Products:
            PrepaidTravelcard: true
          Category: DINING AND ENTERTAINMENT
          Topup:
            rePower:
              MoneyPak: true
              CardSwipe: true
          WebsiteUrl: www.mcdonalds.com
          PhoneNumber: "8165442210"
          Features:
            Cashback:
              MaximumAmount: 40
          Id: "2801796"
          Location:
            Address:
              Country:
                Geocoding: true
                Code: AFG
                Name: AFGHANISTAN
              PostalCode: "60601"
              CountrySubdivision:
                Code: IL
                Name: ILLINOIS
              City: CHICAGO
              Line1: 42 ELM AVENUE
              Line2: SUITE 100
            Point:
              Latitude: 32.75723000000001
              Longitude: 89.700215
            DistanceUnit: KILOMETER
            LocationType:
              Type: AIRPORT
              AirportCode: JFK
            Distance: 0.91
            Name: QUIK TRIP STORE 1
          Name: MCDONALDS
        PageOffset: "25"
      properties:
        Merchant:
          items:
            $ref: '#/components/schemas/Merchant'
          type: array
        PageOffset:
          description: Zero-based offset where the response will start. The actual
            start position is this value +1. An offset of 10 starts at item 11. Combined
            with the PageLength option this allows pagination to be supported through
            the service requests.
          example: "25"
          type: string
        TotalCount:
          description: This is the total number of ATtms that match your criteria.
          example: 86
          type: integer
      type: object
    MerchantsResponse:
      example:
        Merchants:
          TotalCount: 86
          Merchant:
          - MerchantOfferId: "1143109"
            Acceptance:
              PayPass:
                FuelPump: true
                Ticketing: true
                TollBooth: true
                VendingMachine: true
                DriveThru: true
                Register: true
                Concession: true
                Pharmacy: true
            Products:
              PrepaidTravelcard: true
            Category: DINING AND ENTERTAINMENT
            Topup:
              rePower:
                MoneyPak: true
                CardSwipe: true
            WebsiteUrl: www.mcdonalds.com
            PhoneNumber: "8165442210"
            Features:
              Cashback:
                MaximumAmount: 40
            Id: "2801796"
            Location:
              Address:
                Country:
                  Geocoding: true
                  Code: AFG
                  Name: AFGHANISTAN
                PostalCode: "60601"
                CountrySubdivision:
                  Code: IL
                  Name: ILLINOIS
                City: CHICAGO
                Line1: 42 ELM AVENUE
                Line2: SUITE 100
              Point:
                Latitude: 32.75723000000001
                Longitude: 89.700215
              DistanceUnit: KILOMETER
              LocationType:
                Type: AIRPORT
                AirportCode: JFK
              Distance: 0.91
              Name: QUIK TRIP STORE 1
            Name: MCDONALDS
          - MerchantOfferId: "1143109"
            Acceptance:
              PayPass:
                FuelPump: true
                Ticketing: true
                TollBooth: true
                VendingMachine: true
                DriveThru: true
                Register: true
                Concession: true
                Pharmacy: true
            Products:
              PrepaidTravelcard: true
            Category: DINING AND ENTERTAINMENT
            Topup:
              rePower:
                MoneyPak: true
                CardSwipe: true
            WebsiteUrl: www.mcdonalds.com
            PhoneNumber: "8165442210"
            Features:
              Cashback:
                MaximumAmount: 40
            Id: "2801796"
            Location:
              Address:
                Country:
                  Geocoding: true
                  Code: AFG
                  Name: AFGHANISTAN
                PostalCode: "60601"
                CountrySubdivision:
                  Code: IL
                  Name: ILLINOIS
                City: CHICAGO
                Line1: 42 ELM AVENUE
                Line2: SUITE 100
              Point:
                Latitude: 32.75723000000001
                Longitude: 89.700215
              DistanceUnit: KILOMETER
              LocationType:
                Type: AIRPORT
                AirportCode: JFK
              Distance: 0.91
              Name: QUIK TRIP STORE 1
            Name: MCDONALDS
          PageOffset: "25"
      properties:
        Merchants:
          $ref: '#/components/schemas/Merchants'
      type: object
    PayPass:
      example:
        FuelPump: true
        Ticketing: true
        TollBooth: true
        VendingMachine: true
        DriveThru: true
        Register: true
        Concession: true
        Pharmacy: true
      properties:
        Concession:
          description: Boolean value which indicates if the concession area is equipped
            with a PayPass card reader.
          example: true
          type: boolean
        DriveThru:
          description: Boolean value which indicates if the drive thru is equipped
            with a PayPass card reader.
          example: true
          type: boolean
        FuelPump:
          description: Boolean value which indicates if the fuel pump is equipped
            with a PayPass card reader.
          example: true
          type: boolean
        Pharmacy:
          description: Boolean value which indicates if the pharmacy is equipped with
            a PayPass card reader.
          example: true
          type: boolean
        Register:
          description: Boolean value which indicates if the register is equipped with
            a PayPass card reader.
          example: true
          type: boolean
        Ticketing:
          description: Boolean value which indicates if the ticketing area is equipped
            with a PayPass card reader.
          example: true
          type: boolean
        TollBooth:
          description: Boolean value which indicates if the toll booth is equipped
            with a PayPass card reader.
          example: true
          type: boolean
        VendingMachine:
          description: Boolean value which indicates if the vending machine is equipped
            with a PayPass card reader.
          example: true
          type: boolean
      type: object
    Point:
      example:
        Latitude: 32.75723000000001
        Longitude: 89.700215
      properties:
        Latitude:
          description: Latitude of the merchant's location.
          example: 32.75723000000001
          format: double
          type: number
        Longitude:
          description: Longitude of the merchant's location.
          example: 89.700215
          format: double
          type: number
      type: object
    Products:
      example:
        PrepaidTravelcard: true
      properties:
        PrepaidTravelcard:
          description: Boolean value which indicates if the merchant accepts MasterCard
            Prepaid Travel Cards.
          example: true
          type: boolean
      type: object
    Topup:
      example:
        rePower:
          MoneyPak: true
          CardSwipe: true
      properties:
        rePower:
          $ref: '#/components/schemas/rePower'
      type: object
    rePower:
      example:
        MoneyPak: true
        CardSwipe: true
      properties:
        CardSwipe:
          description: Boolean value which indicates if the repower card load type
            at this merchant supports Card Swipe.
          example: true
          type: boolean
        MoneyPak:
          description: Boolean value which indicates if the repower card load type
            at this merchant supports MoneyPak.
          example: true
          type: boolean
      type: object
x-original-swagger-version: "2.0"

