openapi: 3.0.1
info:
  contact:
    email: support@tradematic.com
  description: "### Overview\nTradematic Cloud is a trading infrastructure for building\
    \ investment services.\n\nIt’s a trading engine + API + ready-made adapters to\
    \ stock and forex brokers, crypto exchanges, and market data providers.\n\nYou\
    \ can use it as a cloud API, or you can deploy it on your servers. \n\n\n\n###\
    \ How to use Tradematic Cloud API\n\nSign up at [tradematic.cloud](https://tradematic.cloud).\
    \ After signing up, you will receive your API key.\n\n### Authorization\n\nAdd\
    \ the 'X-API-KEY' header with your API key to each request.\n\n### Examples of\
    \ writing code with Tradematic Cloud API\n\nExamples are available at [tradematic.cloud](https://tradematic.cloud).\
    \ \n\n### Swagger (.yaml) File\nSwagger (.yaml) file can be found [here](http://tradematic.cloud/sdk/swagger.yaml).\n"
  title: Tradematic Cloud API
  version: 1.0.2
  x-apisguru-categories:
  - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://tradematic.cloud/img/logo-dark.png
  x-origin:
  - format: swagger
    url: https://tradematic.cloud/sdk/swagger.yaml
    version: "2.0"
  x-providerName: tradematic.com
servers:
- url: https://api.tradematic.com/
tags:
- description: Server status
  name: Status API
- description: Clients management
  name: Client API
- description: Trading signals and copy trading
  name: Autofollow API
- description: Backtest and optimization tasks management
  name: TaskManager API
- description: Strategy builder
  name: Builder API
- description: News
  name: News API
- description: Market data
  name: MarketData API
- description: Trading
  name: Cloud API
paths:
  /autofollow/strategies:
    get:
      description: Get autofollow strategies list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Strategy'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get autofollow strategies list
      tags:
      - Autofollow API
      x-accepts:
      - application/json
    post:
      description: Create new autofollow strategy
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_autofollow_strategies_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_autofollow_strategies_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Create new autofollow strategy
      tags:
      - Autofollow API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /autofollow/strategies/{strategyid}:
    get:
      description: Get autofollow strategy by ID
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategy'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get autofollow strategy by ID
      tags:
      - Autofollow API
      x-accepts:
      - application/json
    put:
      description: Update autofollow strategy
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_autofollow_strategies__strategyid__put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_autofollow_strategies__strategyid__put_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Update autofollow strategy
      tags:
      - Autofollow API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /autofollow/strategies/{strategyid}/content:
    put:
      description: Update rules for strategy that was created with strategy builder
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_autofollow_strategies__strategyid__content_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_autofollow_strategies__strategyid__content_put_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Update rules for strategy that was created with strategy builder
      tags:
      - Autofollow API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /autofollow/strategies/{strategyid}/positions:
    get:
      description: Get positions for strategy
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StrategyPosition'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get positions for strategy
      tags:
      - Autofollow API
      x-accepts:
      - application/json
  /autofollow/strategies/{strategyid}/signals:
    get:
      description: Get trading signals for strategy
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Signal'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get trading signals for strategy
      tags:
      - Autofollow API
      x-accepts:
      - application/json
    post:
      description: Send a new signal for autofollow strategy
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_autofollow_strategies__strategyid__signals_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_autofollow_strategies__strategyid__signals_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Send a new signal for autofollow strategy
      tags:
      - Autofollow API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /builder/rules:
    get:
      description: Get strategy builder rules list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get strategy builder rules list
      tags:
      - Builder API
      x-accepts:
      - application/json
  /builder/rules/{ruleid}:
    get:
      description: Get strategy builder rules by ID
      parameters:
      - in: path
        name: ruleid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get strategy builder rules by ID
      tags:
      - Builder API
      x-accepts:
      - application/json
  /client/apikeys:
    get:
      description: Get API keys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/APIKey'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get API keys
      tags:
      - Client API
      x-accepts:
      - application/json
    post:
      description: Create new API key
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_client_apikeys_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Create new API key
      tags:
      - Client API
      x-accepts:
      - application/json
  /client/apikeys/{keyid}:
    delete:
      description: Delete API key
      parameters:
      - in: path
        name: keyid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_client_apikeys__keyid__delete_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Delete API key
      tags:
      - Client API
      x-accepts:
      - application/json
  /client/users:
    get:
      description: Get users list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get users list
      tags:
      - Client API
      x-accepts:
      - application/json
  /client/users/login:
    post:
      description: Logs user into the system
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_client_users_login_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Logs user into the system
      tags:
      - Client API
      x-accepts:
      - application/json
  /client/users/register:
    post:
      description: Register a new user
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_client_users_register_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_client_users_register_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Register a new user
      tags:
      - Client API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /client/users/{userid}:
    get:
      description: Get user by ID
      parameters:
      - in: path
        name: userid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get user by ID
      tags:
      - Client API
      x-accepts:
      - application/json
  /cloud/accounts:
    get:
      description: Get trading accounts list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get trading accounts list
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}:
    get:
      description: Get trading account by ID
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get trading account by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/closeall:
    post:
      description: Close all positions by account
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Close all positions by account
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/orders:
    get:
      description: Get orders list by account
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get orders list by account
      tags:
      - Cloud API
      x-accepts:
      - application/json
    post:
      description: Place a new order
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_cloud_accounts__accountid__orders_post_request'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Place a new order
      tags:
      - Cloud API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/orders/{orderid}:
    delete:
      description: Cancel an order by ID
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      - in: path
        name: orderid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Cancel an order by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/snapshots:
    get:
      description: Get account equity and cash snapshots
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Snapshot'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get account equity and cash snapshots
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/sync:
    post:
      description: Syhchronize an account with account active strategies
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Syhchronize an account with account active strategies
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/accounts/{accountid}/trades:
    get:
      description: Get trades list by account
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trade'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get trades list by account
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/commands:
    get:
      description: Get commands list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Command'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get commands list
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/commands/{commandid}:
    get:
      description: Get command by ID
      parameters:
      - in: path
        name: commandid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get command by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/connections:
    get:
      description: Get connections list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connection'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get connections list
      tags:
      - Cloud API
      x-accepts:
      - application/json
    post:
      description: Create a new connection
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_cloud_connections_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_connections_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Create a new connection
      tags:
      - Cloud API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /cloud/connections/{connectionid}:
    delete:
      description: Delete connection by ID
      parameters:
      - in: path
        name: connectionid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_connections_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Delete connection by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
    get:
      description: Get connection by ID
      parameters:
      - in: path
        name: connectionid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get connection by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
    put:
      description: Update existing connection
      parameters:
      - in: path
        name: connectionid
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_cloud_connections_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_connections_post_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Update existing connection
      tags:
      - Cloud API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /cloud/connectors:
    get:
      description: Get available connectors list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connector'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get available connectors list
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/connectors/{connectorid}:
    get:
      description: Get connector by ID
      parameters:
      - in: path
        name: connectorid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get connector by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/sessions:
    get:
      description: Get sessions list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Session'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get sessions list
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/sessions/{sessionid}:
    get:
      description: Get session by ID
      parameters:
      - in: path
        name: sessionid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get session by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/strategies:
    get:
      description: Get list of active (executing) strategies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CloudStrategy'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get list of active (executing) strategies
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/strategies/start:
    post:
      description: Start a strategy execution for account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_cloud_strategies_start_post_request'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Start a strategy execution for account
      tags:
      - Cloud API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /cloud/strategies/{strategyid}:
    get:
      description: Get active (executing) strategy by ID
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CloudStrategy'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get active (executing) strategy by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /cloud/strategies/{strategyid}/stop:
    post:
      description: Stop a strategy execution by ID
      parameters:
      - in: path
        name: strategyid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cloud_accounts__accountid__closeall_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Stop a strategy execution by ID
      tags:
      - Cloud API
      x-accepts:
      - application/json
  /marketdata/markets:
    get:
      description: Get markets list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Market'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get markets list
      tags:
      - MarketData API
      x-accepts:
      - application/json
  /marketdata/markets/{marketid}:
    get:
      description: Get market by ID
      parameters:
      - in: path
        name: marketid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get market by ID
      tags:
      - MarketData API
      x-accepts:
      - application/json
  /marketdata/symbols:
    get:
      description: Get symbols list
      parameters:
      - in: query
        name: marketid
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: filter
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Symbol'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get symbols list
      tags:
      - MarketData API
      x-accepts:
      - application/json
  /marketdata/symbols/{symbolid}:
    get:
      description: Get symbol by ID
      parameters:
      - in: path
        name: symbolid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbol'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get symbol by ID
      tags:
      - MarketData API
      x-accepts:
      - application/json
  /marketdata/symbols/{symbolid}/histdata:
    get:
      description: Get historical data for instrument
      parameters:
      - in: path
        name: symbolid
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: tf
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_marketdata_symbols__symbolid__histdata_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get historical data for instrument
      tags:
      - MarketData API
      x-accepts:
      - application/json
  /news/news:
    get:
      description: Get news list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get news list
      tags:
      - News API
      x-accepts:
      - application/json
  /news/news/{newsid}:
    get:
      description: Get news by ID
      parameters:
      - in: path
        name: newsid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/News'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get news by ID
      tags:
      - News API
      x-accepts:
      - application/json
  /ping:
    get:
      description: Ping
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Ping
      tags:
      - Status API
      x-accepts:
      - application/json
  /taskmanager/tasks:
    get:
      description: Get tasks list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Task'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get tasks list
      tags:
      - TaskManager API
      x-accepts:
      - application/json
    post:
      description: Create a new task
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_taskmanager_tasks_post_request'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks_post_202_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Create a new task
      tags:
      - TaskManager API
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}:
    get:
      description: Get task by ID
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get task by ID
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/bymonths:
    get:
      description: "Get backtest data for equity chart, grouped by months"
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ByMonths'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: "Get backtest data for equity chart, grouped by months"
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/byquarters:
    get:
      description: "Get backtest data for equity chart, grouped by quarters"
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ByQuarters'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: "Get backtest data for equity chart, grouped by quarters"
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/byyears:
    get:
      description: "Get backtest data for equity chart, grouped by years"
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ByYears'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: "Get backtest data for equity chart, grouped by years"
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/contribution:
    get:
      description: Get backtest symbol contribution data
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contribution'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get backtest symbol contribution data
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/drawdown:
    get:
      description: Get data for drawdown chart
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DrawdownItem'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get data for drawdown chart
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/equity:
    get:
      description: Get data for equity chart
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EquityItem'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get data for equity chart
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/equitypct:
    get:
      description: Get data for equity chart (%)
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EquityPctItem'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get data for equity chart (%)
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/equitypctsm:
    get:
      description: Get spared data for equity chart (%)
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EquityPctSmItem'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get spared data for equity chart (%)
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/folder:
    get:
      description: Get task result folder name
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks__taskid__folder_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get task result folder name
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/performance:
    get:
      description: Get backtest statistics
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks__taskid__performance_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get backtest statistics
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/result:
    get:
      description: Get task result
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks__taskid__result_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get task result
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/result2:
    get:
      description: Get task result (version 2)
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks__taskid__result2_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get task result (version 2)
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/status:
    get:
      description: Get task status
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_taskmanager_tasks__taskid__status_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get task status
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /taskmanager/tasks/{taskid}/trades:
    get:
      description: Get backtest trades list
      parameters:
      - in: path
        name: taskid
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BacktestTrade'
                type: array
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get backtest trades list
      tags:
      - TaskManager API
      x-accepts:
      - application/json
  /time:
    get:
      description: Get current server time
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_time_get_200_response'
          description: Successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - Secured: []
      summary: Get current server time
      tags:
      - Status API
      x-accepts:
      - application/json
components:
  schemas:
    APIKey:
      example:
        permissions: permissions
        keyid: keyid
        key: key
      properties:
        key:
          type: string
        keyid:
          type: string
        permissions:
          type: string
      type: object
    Account:
      example:
        changepercent: changepercent
        comments: comments
        change: change
        currencytext: currencytext
        positions:
          key: positions
        sessionid: sessionid
        accountid: accountid
        computer: computer
        positionspercent:
          key: positionspercent
        typeid: typeid
        hwid: hwid
        currencyid: currencyid
        cash: cash
        value: value
        account: account
        accounttypename: accounttypename
      properties:
        account:
          type: string
        accountid:
          type: string
        accounttypename:
          type: string
        cash:
          type: string
        change:
          type: string
        changepercent:
          type: string
        comments:
          type: string
        computer:
          type: string
        currencyid:
          type: string
        currencytext:
          type: string
        hwid:
          type: string
        positions:
          additionalProperties:
            type: string
          type: object
        positionspercent:
          additionalProperties:
            type: string
          type: object
        sessionid:
          type: string
        typeid:
          type: string
        value:
          type: string
      type: object
    BacktestTrade:
      example:
        symbol: symbol
        entrysignal: entrysignal
        exitprice: exitprice
        barsheld: barsheld
        changepct: changepct
        exitdatetime: exitdatetime
        mfe: mfe
        mae: mae
        shares: shares
        entrydatetime: entrydatetime
        size: size
        exitsignal: exitsignal
        commission: commission
        position: position
        entryprice: entryprice
        pandl: pandl
      properties:
        barsheld:
          type: string
        changepct:
          type: string
        commission:
          type: string
        entrydatetime:
          type: string
        entryprice:
          type: string
        entrysignal:
          type: string
        exitdatetime:
          type: string
        exitprice:
          type: string
        exitsignal:
          type: string
        mae:
          type: string
        mfe:
          type: string
        pandl:
          type: string
        position:
          type: string
        shares:
          type: string
        size:
          type: string
        symbol:
          type: string
      type: object
    ByMonths:
      example:
        period: period
        equitypct: equitypct
      properties:
        equitypct:
          type: string
        period:
          type: string
      type: object
    ByQuarters:
      example:
        period: period
        equitypct: equitypct
      properties:
        equitypct:
          type: string
        period:
          type: string
      type: object
    ByYears:
      example:
        period: period
        equitypct: equitypct
      properties:
        equitypct:
          type: string
        period:
          type: string
      type: object
    CloudStrategy:
      example:
        strategystatusname: strategystatusname
        computer: computer
        strategyid: strategyid
        hwid: hwid
        message: message
        strategy: strategy
        account: account
        status: status
      properties:
        account:
          type: string
        computer:
          type: string
        hwid:
          type: string
        message:
          type: string
        status:
          type: string
        strategy:
          type: string
        strategyid:
          type: string
        strategystatusname:
          type: string
      type: object
    Command:
      example:
        commandstatusname: commandstatusname
        message: message
        type: type
        commandid: commandid
        commandtypename: commandtypename
        accountid: accountid
        computer: computer
        commanddate: 2000-01-23T04:56:07.000+00:00
        hwid: hwid
        parameters:
          key: parameters
        account: account
        status: status
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        account:
          type: string
        accountid:
          type: string
        commanddate:
          format: date-time
          type: string
        commandid:
          type: string
        commandstatusname:
          type: string
        commandtypename:
          type: string
        computer:
          type: string
        hwid:
          type: string
        message:
          type: string
        parameters:
          additionalProperties:
            type: string
          type: object
        status:
          type: string
        timestamp:
          format: date-time
          type: string
        type:
          type: string
      type: object
    Connection:
      example:
        creationdate: 2000-01-23T04:56:07.000+00:00
        connectionstring: connectionstring
        connectortypename: connectortypename
        connectorid: connectorid
        connectorname: connectorname
        active: active
        sessionid: sessionid
        login: login
        connectorcode: connectorcode
        password: password
        updatedate: 2000-01-23T04:56:07.000+00:00
        port: port
        host: host
        connectionid: connectionid
      properties:
        active:
          type: string
        connectionid:
          type: string
        connectionstring:
          type: string
        connectorcode:
          type: string
        connectorid:
          type: string
        connectorname:
          type: string
        connectortypename:
          type: string
        creationdate:
          format: date-time
          type: string
        host:
          type: string
        login:
          type: string
        password:
          type: string
        port:
          type: string
        sessionid:
          type: string
        updatedate:
          format: date-time
          type: string
      type: object
    Connector:
      example:
        code: code
        connectortypename: connectortypename
        connectorid: connectorid
        name: name
        typeid: typeid
      properties:
        code:
          type: string
        connectorid:
          type: string
        connectortypename:
          type: string
        name:
          type: string
        typeid:
          type: string
      type: object
    Contribution:
      example:
        symbol: symbol
        share: share
        pandl: pandl
      properties:
        pandl:
          type: string
        share:
          type: string
        symbol:
          type: string
      type: object
    DrawdownItem:
      example:
        drawdownpct: drawdownpct
        timestamp: timestamp
      properties:
        drawdownpct:
          type: string
        timestamp:
          type: string
      type: object
    EquityItem:
      example:
        cash: cash
        equity: equity
        timestamp: timestamp
      properties:
        cash:
          type: string
        equity:
          type: string
        timestamp:
          type: string
      type: object
    EquityPctItem:
      example:
        buyandhold: buyandhold
        equity: equity
        timestamp: timestamp
      properties:
        buyandhold:
          type: string
        equity:
          type: string
        timestamp:
          type: string
      type: object
    EquityPctSmItem:
      example:
        buyandhold: buyandhold
        equity: equity
        timestamp: timestamp
      properties:
        buyandhold:
          type: string
        equity:
          type: string
        timestamp:
          type: string
      type: object
    Error:
      example:
        message: message
        status: 0
      properties:
        message:
          type: string
        status:
          type: integer
      type: object
    Longentry:
      example:
        validor: validor
        name: name
        id: id
        parameters:
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        validnot: validnot
      properties:
        id:
          type: string
        name:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        validnot:
          type: string
        validor:
          type: string
      type: object
    Longexit:
      example:
        validor: validor
        name: name
        id: id
        parameters:
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        validnot: validnot
      properties:
        id:
          type: string
        name:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        validnot:
          type: string
        validor:
          type: string
      type: object
    Longshort:
      example:
        avgbarsheld: avgbarsheld
        avglossbarsheld: avglossbarsheld
        maxdrawdownpct: maxdrawdownpct
        avglosspct: avglosspct
        grossloss: grossloss
        maxdrawdownpctdate: maxdrawdownpctdate
        avgloss: avgloss
        totaltrades: totaltrades
        totalvolume: totalvolume
        profitabletrades: profitabletrades
        netprofit: netprofit
        avgprofitbarsheld: avgprofitbarsheld
        maxdrawdown: maxdrawdown
        netprofitpct: netprofitpct
        avgprofitavgloss: avgprofitavgloss
        losingtrades: losingtrades
        losingtradespct: losingtradespct
        avgprofitpct: avgprofitpct
        grossprofit: grossprofit
        maxconsecloss: maxconsecloss
        profitabletradespct: profitabletradespct
        totalcommission: totalcommission
        turnover: turnover
        mar: mar
        maxdrawdownlength: maxdrawdownlength
        apr: apr
        margininterest: margininterest
        profitriskratio: profitriskratio
        rar: rar
        avgprofit: avgprofit
        startcapital: startcapital
        sortinoratio: sortinoratio
        endcapital: endcapital
        mpr: mpr
        maxdrawdowndate: maxdrawdowndate
        maxconsecwin: maxconsecwin
        recoveryfactor: recoveryfactor
        exposure: exposure
        profitfactor: profitfactor
        sharperatio: sharperatio
      properties:
        apr:
          type: string
        avgbarsheld:
          type: string
        avgloss:
          type: string
        avglossbarsheld:
          type: string
        avglosspct:
          type: string
        avgprofit:
          type: string
        avgprofitavgloss:
          type: string
        avgprofitbarsheld:
          type: string
        avgprofitpct:
          type: string
        endcapital:
          type: string
        exposure:
          type: string
        grossloss:
          type: string
        grossprofit:
          type: string
        losingtrades:
          type: string
        losingtradespct:
          type: string
        mar:
          type: string
        margininterest:
          type: string
        maxconsecloss:
          type: string
        maxconsecwin:
          type: string
        maxdrawdown:
          type: string
        maxdrawdowndate:
          type: string
        maxdrawdownlength:
          type: string
        maxdrawdownpct:
          type: string
        maxdrawdownpctdate:
          type: string
        mpr:
          type: string
        netprofit:
          type: string
        netprofitpct:
          type: string
        profitabletrades:
          type: string
        profitabletradespct:
          type: string
        profitfactor:
          type: string
        profitriskratio:
          type: string
        rar:
          type: string
        recoveryfactor:
          type: string
        sharperatio:
          type: string
        sortinoratio:
          type: string
        startcapital:
          type: string
        totalcommission:
          type: string
        totaltrades:
          type: string
        totalvolume:
          type: string
        turnover:
          type: string
      type: object
    Market:
      example:
        code: code
        name: name
        countryid: countryid
        marketid: marketid
      properties:
        code:
          type: string
        countryid:
          type: string
        marketid:
          type: string
        name:
          type: string
      type: object
    NewOrder:
      properties:
        buy:
          type: string
        price:
          type: string
        shares:
          type: string
        symbol:
          type: string
        type:
          type: string
      type: object
    NewSignal:
      properties:
        position:
          type: string
        price:
          type: string
        shares:
          type: string
        size:
          type: string
        symbol:
          type: string
        timestamp:
          format: date-time
          type: string
        type:
          type: string
      type: object
    NewStrategy:
      properties:
        apr:
          type: string
        author:
          type: string
        content:
          type: string
        description:
          type: string
        drawdown:
          type: string
        guid:
          type: string
        limitorder:
          type: string
        marketname:
          type: string
        multiposition:
          type: string
        name:
          type: string
        positionsize:
          type: string
        strategytypeid:
          type: string
        symbols:
          type: string
        timeframe:
          type: string
      type: object
    NewTask:
      properties:
        isbenchmark:
          type: string
        strategyid:
          type: string
        tasktypeid:
          type: string
        userid2:
          type: string
      type: object
    NewUser:
      properties:
        name:
          type: string
        password:
          type: string
        username:
          type: string
      type: object
    News:
      example:
        newsid: newsid
        source: source
        body: body
        title: title
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        body:
          type: string
        newsid:
          type: string
        source:
          type: string
        timestamp:
          format: date-time
          type: string
        title:
          type: string
      type: object
    Order:
      example:
        shares: shares
        number: number
        symbol: symbol
        orderid: orderid
        price: price
        buy: buy
        statusname: statusname
        message: message
        account: account
        status: status
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        account:
          type: string
        buy:
          type: string
        message:
          type: string
        number:
          type: string
        orderid:
          type: string
        price:
          type: string
        shares:
          type: string
        status:
          type: string
        statusname:
          type: string
        symbol:
          type: string
        timestamp:
          format: date-time
          type: string
      type: object
    Parameter:
      example:
        default: default
        stop: stop
        name: name
        start: start
        step: step
        type: type
      properties:
        default:
          type: string
        name:
          type: string
        start:
          type: string
        step:
          type: string
        stop:
          type: string
        type:
          type: string
      type: object
    Parameters:
      additionalProperties:
        type: string
      type: object
    Positions:
      additionalProperties:
        type: string
      type: object
    Result:
      example:
        c: 6.027456183070403
        t: 7
        v: 9
        h: 1.4658129805029452
        l: 5.962133916683182
        "n": 5
        o: 2.3021358869347655
      properties:
        c:
          type: number
        h:
          type: number
        l:
          type: number
        "n":
          type: integer
        o:
          type: number
        t:
          type: integer
        v:
          type: integer
      type: object
    Rule:
      example:
        ruletype: ruletype
        validor: validor
        name: name
        description: description
        guid: guid
        category: category
        parameters:
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        - default: default
          stop: stop
          name: name
          start: start
          step: step
          type: type
        validnot: validnot
      properties:
        category:
          type: string
        description:
          type: string
        guid:
          type: string
        name:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        ruletype:
          type: string
        validnot:
          type: string
        validor:
          type: string
      type: object
    Rules:
      example:
        longentry:
        - validor: validor
          name: name
          id: id
          parameters:
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          validnot: validnot
        - validor: validor
          name: name
          id: id
          parameters:
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          validnot: validnot
        longexit:
        - validor: validor
          name: name
          id: id
          parameters:
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          validnot: validnot
        - validor: validor
          name: name
          id: id
          parameters:
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          - default: default
            stop: stop
            name: name
            start: start
            step: step
            type: type
          validnot: validnot
      properties:
        longentry:
          items:
            $ref: '#/components/schemas/Longentry'
          type: array
        longexit:
          items:
            $ref: '#/components/schemas/Longexit'
          type: array
      type: object
    Session:
      example:
        mode: mode
        computer: computer
        sessionmodename: sessionmodename
        sessionstatusname: sessionstatusname
        hwid: hwid
        sessionid: sessionid
        login: login
        type: type
        userid: userid
        status: status
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        computer:
          type: string
        hwid:
          type: string
        login:
          type: string
        mode:
          type: string
        sessionid:
          type: string
        sessionmodename:
          type: string
        sessionstatusname:
          type: string
        status:
          type: string
        timestamp:
          format: date-time
          type: string
        type:
          type: string
        userid:
          type: string
      type: object
    Signal:
      example:
        shares: shares
        symbol: symbol
        size: size
        price: price
        signalid: signalid
        position: position
        type: type
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        position:
          type: string
        price:
          type: string
        shares:
          type: string
        signalid:
          type: string
        size:
          type: string
        symbol:
          type: string
        timestamp:
          format: date-time
          type: string
        type:
          type: string
      type: object
    Snapshot:
      example:
        snapshotid: snapshotid
        cash: cash
        value: value
        daynum: daynum
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        cash:
          type: string
        daynum:
          type: string
        snapshotid:
          type: string
        timestamp:
          format: date-time
          type: string
        value:
          type: string
      type: object
    StartStrategyData:
      properties:
        accountid:
          type: string
        strategyid:
          type: string
      type: object
    Strategy:
      example:
        code: code
        multiposition: multiposition
        taskfolder: taskfolder
        taskresult:
          apr: apr
          curYearProfit: curYearProfit
          totalProfit: totalProfit
          drawdown: drawdown
          monthProfit: monthProfit
          halfYearProfit: halfYearProfit
          weekProfit: weekProfit
          yearProfit: yearProfit
          curMonthProfit: curMonthProfit
          prevMonthProfit: prevMonthProfit
        datascale: datascale
        description: description
        rules:
          longentry:
          - validor: validor
            name: name
            id: id
            parameters:
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            validnot: validnot
          - validor: validor
            name: name
            id: id
            parameters:
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            validnot: validnot
          longexit:
          - validor: validor
            name: name
            id: id
            parameters:
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            validnot: validnot
          - validor: validor
            name: name
            id: id
            parameters:
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            - default: default
              stop: stop
              name: name
              start: start
              step: step
              type: type
            validnot: validnot
        risklevelid: risklevelid
        strategytypeid: strategytypeid
        symbols:
        - null
        - null
        timeframe: timeframe
        updatedate: 2000-01-23T04:56:07.000+00:00
        permissions: permissions
        drawdown: drawdown
        risklevelname: risklevelname
        taskid: taskid
        owner: owner
        image: image
        apr: apr
        brokername: brokername
        marketname: marketname
        author: author
        limitorder: limitorder
        url: url
        risklevelcode: risklevelcode
        folder: folder
        name: name
        guid: guid
        strategyid: strategyid
        positionsize: positionsize
      properties:
        apr:
          type: string
        author:
          type: string
        brokername:
          type: string
        code:
          type: string
        datascale:
          type: string
        description:
          type: string
        drawdown:
          type: string
        folder:
          type: string
        guid:
          type: string
        image:
          type: string
        limitorder:
          type: string
        marketname:
          type: string
        multiposition:
          type: string
        name:
          type: string
        owner:
          type: string
        permissions:
          type: string
        positionsize:
          type: string
        risklevelcode:
          type: string
        risklevelid:
          type: string
        risklevelname:
          type: string
        rules:
          $ref: '#/components/schemas/Rules'
        strategyid:
          type: string
        strategytypeid:
          type: string
        symbols:
          items:
            $ref: '#/components/schemas/Symbol'
          type: array
        taskfolder:
          type: string
        taskid:
          type: string
        taskresult:
          $ref: '#/components/schemas/Taskresult'
        timeframe:
          type: string
        updatedate:
          format: date-time
          type: string
        url:
          type: string
      type: object
    StrategyPosition:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        symbol: symbol
        size: size
        price: price
      properties:
        date:
          format: date-time
          type: string
        price:
          type: string
        size:
          type: string
        symbol:
          type: string
      type: object
    Symbol:
      type: string
    Task:
      example:
        statusupdatedate: 2000-01-23T04:56:07.000+00:00
        usestaticdata: usestaticdata
        name: name
        strategyid: strategyid
        isbenchmark: isbenchmark
        taskid: taskid
        status: status
      properties:
        isbenchmark:
          type: string
        name:
          type: string
        status:
          type: string
        statusupdatedate:
          format: date-time
          type: string
        strategyid:
          type: string
        taskid:
          type: string
        usestaticdata:
          type: string
      type: object
    Taskresult:
      example:
        apr: apr
        curYearProfit: curYearProfit
        totalProfit: totalProfit
        drawdown: drawdown
        monthProfit: monthProfit
        halfYearProfit: halfYearProfit
        weekProfit: weekProfit
        yearProfit: yearProfit
        curMonthProfit: curMonthProfit
        prevMonthProfit: prevMonthProfit
      properties:
        apr:
          type: string
        curMonthProfit:
          type: string
        curYearProfit:
          type: string
        drawdown:
          type: string
        halfYearProfit:
          type: string
        monthProfit:
          type: string
        prevMonthProfit:
          type: string
        totalProfit:
          type: string
        weekProfit:
          type: string
        yearProfit:
          type: string
      type: object
    Trade:
      example:
        shares: shares
        number: number
        symbol: symbol
        price: price
        buy: buy
        account: account
        tradeid: tradeid
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        account:
          type: string
        buy:
          type: string
        number:
          type: string
        price:
          type: string
        shares:
          type: string
        symbol:
          type: string
        timestamp:
          format: date-time
          type: string
        tradeid:
          type: string
      type: object
    UpdatedConnection:
      properties:
        active:
          type: string
        connectorid:
          type: string
        host:
          type: string
        login:
          type: string
        password:
          type: string
        port:
          type: string
      type: object
    UpdatedStrategy:
      properties:
        author:
          type: string
        description:
          type: string
        limitorder:
          type: string
        marketname:
          type: string
        multiposition:
          type: string
        name:
          type: string
        symbols:
          type: string
      type: object
    UpdatedStrategyContent:
      properties:
        rules:
          $ref: '#/components/schemas/Rules'
      type: object
    User:
      example:
        comments: comments
        createdby: createdby
        name: name
        regdate: regdate
        userid: userid
        username: username
      properties:
        comments:
          type: string
        createdby:
          type: string
        name:
          type: string
        regdate:
          type: string
        userid:
          type: string
        username:
          type: string
      type: object
    _autofollow_strategies_post_request:
      properties:
        strategy:
          $ref: '#/components/schemas/NewStrategy'
      type: object
    _autofollow_strategies_post_200_response:
      example:
        strategyid: 0
      properties:
        strategyid:
          type: integer
      type: object
    _autofollow_strategies__strategyid__put_request:
      properties:
        strategy:
          $ref: '#/components/schemas/UpdatedStrategy'
      type: object
    _autofollow_strategies__strategyid__put_200_response:
      example:
        result: result
      properties:
        result:
          type: string
      type: object
    _autofollow_strategies__strategyid__content_put_request:
      properties:
        strategy:
          $ref: '#/components/schemas/UpdatedStrategyContent'
      type: object
    _autofollow_strategies__strategyid__content_put_200_response:
      example:
        strategyid: strategyid
      properties:
        strategyid:
          type: string
      type: object
    _autofollow_strategies__strategyid__signals_post_request:
      properties:
        signal:
          $ref: '#/components/schemas/NewSignal'
      type: object
    _autofollow_strategies__strategyid__signals_post_200_response:
      example:
        signalid: signalid
      properties:
        signalid:
          type: string
      type: object
    _client_apikeys_post_200_response:
      example:
        keyid: 0
        key: key
      properties:
        key:
          type: string
        keyid:
          type: integer
      type: object
    _client_apikeys__keyid__delete_200_response:
      example:
        keyid: 0
      properties:
        keyid:
          type: integer
      type: object
    _client_users_login_post_200_response:
      example:
        name: name
        userid: 0
      properties:
        name:
          type: string
        userid:
          type: integer
      type: object
    _client_users_register_post_request:
      properties:
        user:
          $ref: '#/components/schemas/NewUser'
      type: object
    _client_users_register_post_200_response:
      example:
        userid: 0
      properties:
        userid:
          type: integer
      type: object
    _cloud_accounts__accountid__closeall_post_202_response:
      example:
        commandid: 0
      properties:
        commandid:
          type: integer
      type: object
    _cloud_accounts__accountid__orders_post_request:
      properties:
        order:
          $ref: '#/components/schemas/NewOrder'
      type: object
    _cloud_connections_post_request:
      properties:
        connection:
          $ref: '#/components/schemas/UpdatedConnection'
      type: object
    _cloud_connections_post_200_response:
      example:
        connectionid: 0
      properties:
        connectionid:
          type: integer
      type: object
    _cloud_strategies_start_post_request:
      properties:
        data:
          $ref: '#/components/schemas/StartStrategyData'
      type: object
    _marketdata_symbols__symbolid__histdata_get_200_response:
      example:
        ticker: ticker
        adjusted: true
        resultsCount: 3
        queryCount: 0
        results:
        - c: 6.027456183070403
          t: 7
          v: 9
          h: 1.4658129805029452
          l: 5.962133916683182
          "n": 5
          o: 2.3021358869347655
        - c: 6.027456183070403
          t: 7
          v: 9
          h: 1.4658129805029452
          l: 5.962133916683182
          "n": 5
          o: 2.3021358869347655
        status: status
      properties:
        adjusted:
          type: boolean
        queryCount:
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Result'
          type: array
        resultsCount:
          type: integer
        status:
          type: string
        ticker:
          type: string
      type: object
    _taskmanager_tasks_post_request:
      properties:
        task:
          $ref: '#/components/schemas/NewTask'
      type: object
    _taskmanager_tasks_post_202_response:
      example:
        taskid: taskid
      properties:
        taskid:
          type: string
      type: object
    _taskmanager_tasks__taskid__folder_get_200_response:
      example:
        folder: folder
      properties:
        folder:
          type: string
      type: object
    _taskmanager_tasks__taskid__performance_get_200_response:
      example:
        buyandhold:
          avgbarsheld: avgbarsheld
          avglossbarsheld: avglossbarsheld
          maxdrawdownpct: maxdrawdownpct
          avglosspct: avglosspct
          grossloss: grossloss
          maxdrawdownpctdate: maxdrawdownpctdate
          avgloss: avgloss
          totaltrades: totaltrades
          totalvolume: totalvolume
          profitabletrades: profitabletrades
          netprofit: netprofit
          avgprofitbarsheld: avgprofitbarsheld
          maxdrawdown: maxdrawdown
          netprofitpct: netprofitpct
          avgprofitavgloss: avgprofitavgloss
          losingtrades: losingtrades
          losingtradespct: losingtradespct
          avgprofitpct: avgprofitpct
          grossprofit: grossprofit
          maxconsecloss: maxconsecloss
          profitabletradespct: profitabletradespct
          totalcommission: totalcommission
          turnover: turnover
          mar: mar
          maxdrawdownlength: maxdrawdownlength
          apr: apr
          margininterest: margininterest
          profitriskratio: profitriskratio
          rar: rar
          avgprofit: avgprofit
          startcapital: startcapital
          sortinoratio: sortinoratio
          endcapital: endcapital
          mpr: mpr
          maxdrawdowndate: maxdrawdowndate
          maxconsecwin: maxconsecwin
          recoveryfactor: recoveryfactor
          exposure: exposure
          profitfactor: profitfactor
          sharperatio: sharperatio
        longshort:
          avgbarsheld: avgbarsheld
          avglossbarsheld: avglossbarsheld
          maxdrawdownpct: maxdrawdownpct
          avglosspct: avglosspct
          grossloss: grossloss
          maxdrawdownpctdate: maxdrawdownpctdate
          avgloss: avgloss
          totaltrades: totaltrades
          totalvolume: totalvolume
          profitabletrades: profitabletrades
          netprofit: netprofit
          avgprofitbarsheld: avgprofitbarsheld
          maxdrawdown: maxdrawdown
          netprofitpct: netprofitpct
          avgprofitavgloss: avgprofitavgloss
          losingtrades: losingtrades
          losingtradespct: losingtradespct
          avgprofitpct: avgprofitpct
          grossprofit: grossprofit
          maxconsecloss: maxconsecloss
          profitabletradespct: profitabletradespct
          totalcommission: totalcommission
          turnover: turnover
          mar: mar
          maxdrawdownlength: maxdrawdownlength
          apr: apr
          margininterest: margininterest
          profitriskratio: profitriskratio
          rar: rar
          avgprofit: avgprofit
          startcapital: startcapital
          sortinoratio: sortinoratio
          endcapital: endcapital
          mpr: mpr
          maxdrawdowndate: maxdrawdowndate
          maxconsecwin: maxconsecwin
          recoveryfactor: recoveryfactor
          exposure: exposure
          profitfactor: profitfactor
          sharperatio: sharperatio
        short:
          avgbarsheld: avgbarsheld
          avglossbarsheld: avglossbarsheld
          maxdrawdownpct: maxdrawdownpct
          avglosspct: avglosspct
          grossloss: grossloss
          maxdrawdownpctdate: maxdrawdownpctdate
          avgloss: avgloss
          totaltrades: totaltrades
          totalvolume: totalvolume
          profitabletrades: profitabletrades
          netprofit: netprofit
          avgprofitbarsheld: avgprofitbarsheld
          maxdrawdown: maxdrawdown
          netprofitpct: netprofitpct
          avgprofitavgloss: avgprofitavgloss
          losingtrades: losingtrades
          losingtradespct: losingtradespct
          avgprofitpct: avgprofitpct
          grossprofit: grossprofit
          maxconsecloss: maxconsecloss
          profitabletradespct: profitabletradespct
          totalcommission: totalcommission
          turnover: turnover
          mar: mar
          maxdrawdownlength: maxdrawdownlength
          apr: apr
          margininterest: margininterest
          profitriskratio: profitriskratio
          rar: rar
          avgprofit: avgprofit
          startcapital: startcapital
          sortinoratio: sortinoratio
          endcapital: endcapital
          mpr: mpr
          maxdrawdowndate: maxdrawdowndate
          maxconsecwin: maxconsecwin
          recoveryfactor: recoveryfactor
          exposure: exposure
          profitfactor: profitfactor
          sharperatio: sharperatio
        long:
          avgbarsheld: avgbarsheld
          avglossbarsheld: avglossbarsheld
          maxdrawdownpct: maxdrawdownpct
          avglosspct: avglosspct
          grossloss: grossloss
          maxdrawdownpctdate: maxdrawdownpctdate
          avgloss: avgloss
          totaltrades: totaltrades
          totalvolume: totalvolume
          profitabletrades: profitabletrades
          netprofit: netprofit
          avgprofitbarsheld: avgprofitbarsheld
          maxdrawdown: maxdrawdown
          netprofitpct: netprofitpct
          avgprofitavgloss: avgprofitavgloss
          losingtrades: losingtrades
          losingtradespct: losingtradespct
          avgprofitpct: avgprofitpct
          grossprofit: grossprofit
          maxconsecloss: maxconsecloss
          profitabletradespct: profitabletradespct
          totalcommission: totalcommission
          turnover: turnover
          mar: mar
          maxdrawdownlength: maxdrawdownlength
          apr: apr
          margininterest: margininterest
          profitriskratio: profitriskratio
          rar: rar
          avgprofit: avgprofit
          startcapital: startcapital
          sortinoratio: sortinoratio
          endcapital: endcapital
          mpr: mpr
          maxdrawdowndate: maxdrawdowndate
          maxconsecwin: maxconsecwin
          recoveryfactor: recoveryfactor
          exposure: exposure
          profitfactor: profitfactor
          sharperatio: sharperatio
      properties:
        buyandhold:
          $ref: '#/components/schemas/Longshort'
        long:
          $ref: '#/components/schemas/Longshort'
        longshort:
          $ref: '#/components/schemas/Longshort'
        short:
          $ref: '#/components/schemas/Longshort'
      type: object
    _taskmanager_tasks__taskid__result_get_200_response:
      example:
        equity_png: equity_png
        equity_csv: equity_csv
        equitypctnofill_csv: equitypctnofill_csv
        drawdown_png: drawdown_png
        contribution_png: contribution_png
        trades_png: trades_png
        contribution_csv: contribution_csv
        bymonths_csv: bymonths_csv
        equitypct_csv: equitypct_csv
        trades_csv: trades_csv
        bymonths_png: bymonths_png
        equitypct_png: equitypct_png
        equitypctnofill_png: equitypctnofill_png
        equitypctsm_png: equitypctsm_png
        byquarters_png: byquarters_png
        byyears_png: byyears_png
        equitypctsm_csv: equitypctsm_csv
        performance_png: performance_png
        drawdown_csv: drawdown_csv
        equitypctsm: equitypctsm
        performance_csv: performance_csv
        byquarters_csv: byquarters_csv
        byyears_csv: byyears_csv
      properties:
        bymonths_csv:
          type: string
        bymonths_png:
          type: string
        byquarters_csv:
          type: string
        byquarters_png:
          type: string
        byyears_csv:
          type: string
        byyears_png:
          type: string
        contribution_csv:
          type: string
        contribution_png:
          type: string
        drawdown_csv:
          type: string
        drawdown_png:
          type: string
        equity_csv:
          type: string
        equity_png:
          type: string
        equitypct_csv:
          type: string
        equitypct_png:
          type: string
        equitypctnofill_csv:
          type: string
        equitypctnofill_png:
          type: string
        equitypctsm:
          type: string
        equitypctsm_csv:
          type: string
        equitypctsm_png:
          type: string
        performance_csv:
          type: string
        performance_png:
          type: string
        trades_csv:
          type: string
        trades_png:
          type: string
      type: object
    _taskmanager_tasks__taskid__result2_get_200_response:
      example:
        apr: apr
        curYearProfit: curYearProfit
        totalProfit: totalProfit
        drawdown: drawdown
        monthProfit: monthProfit
        halfYearProfit: halfYearProfit
        weekProfit: weekProfit
        yearProfit: yearProfit
        curMonthProfit: curMonthProfit
        prevMonthProfit: prevMonthProfit
      properties:
        apr:
          type: string
        curMonthProfit:
          type: string
        curYearProfit:
          type: string
        drawdown:
          type: string
        halfYearProfit:
          type: string
        monthProfit:
          type: string
        prevMonthProfit:
          type: string
        totalProfit:
          type: string
        weekProfit:
          type: string
        yearProfit:
          type: string
      type: object
    _taskmanager_tasks__taskid__status_get_200_response:
      example:
        status: status
      properties:
        status:
          type: string
      type: object
    _time_get_200_response:
      example:
        servertime: 0
      properties:
        servertime:
          type: integer
      type: object
  securitySchemes:
    Secured:
      in: header
      name: X-API-Key
      type: apiKey
x-original-swagger-version: "2.0"

