openapi: 3.0.1
info:
  description: "Learn more about home mortgage data, download the data yourself, or\
    \ build new tools using our API."
  title: The Consumer Financial Protection Bureau
  version: "1.0"
  x-apisguru-categories:
  - financial
  x-logo:
    url: http://cfpb.github.io/img/logo_210.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.11
    format: swagger
    url: https://api.consumerfinance.gov/api-docs
    version: "1.2"
  x-providerName: consumerfinance.gov
externalDocs:
  url: http://cfpb.github.io/api/hmda/
servers:
- url: https://api.consumerfinance.gov:443/
tags:
- description: Operations about datasets
  name: data
- description: Operations about LAR data
  name: hmda
paths:
  /data:
    get:
      operationId: getDatasets
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get a list of all datasets.
      tags:
      - data
      x-accepts:
      - application/json
  /data/hmda:
    get:
      operationId: getDatasetHmda
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get metadata for this dataset.
      tags:
      - hmda
      x-accepts:
      - application/json
  /data/hmda/concept/{concept}:
    get:
      operationId: getConceptHmda
      parameters:
      - description: Name of concept
        in: path
        name: concept
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get information about a particular concept in this dataset.
      tags:
      - hmda
      x-accepts:
      - application/json
  /data/hmda/slice/{slice}:
    get:
      operationId: querySliceHmda
      parameters:
      - description: Name of slice
        in: path
        name: slice
        required: true
        schema:
          type: string
      - description: "Fields to return, separated by commas."
        in: query
        name: $select
        schema:
          type: string
      - description: "Conditions to search for in the slice, in SQL WHERE style."
        in: query
        name: $where
        schema:
          type: string
      - description: "Fields to group by, summarizing the data, separated by commas."
        in: query
        name: $group
        schema:
          type: string
      - description: "Number of records to return, 100 by default. Enter 0 for no\
          \ limit."
        in: query
        name: $limit
        schema:
          type: integer
      - description: Number of records to skip.
        in: query
        name: $offset
        schema:
          type: integer
      - description: "Fields to order by, separated by commas. ASC and DESC can be\
          \ used to modify the order."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: JavaScript callback to invoke. Only useful with JSONP requests.
        in: query
        name: $callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/QueryResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/QueryResponse'
          description: No response was specified
      summary: Query a slice in this dataset.
      tags:
      - hmda
      x-accepts:
      - application/json
      - application/xml
      - text/csv
      - text/javascript
  /data/hmda/slice/{slice}/metadata:
    get:
      operationId: getSliceMetadataHmda
      parameters:
      - description: Name of slice
        in: path
        name: slice
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get the metadata for a slice in this dataset.
      tags:
      - hmda
      x-accepts:
      - application/json
  /data/{dataset}:
    get:
      operationId: getDataset
      parameters:
      - description: Name of dataset
        in: path
        name: dataset
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get metadata about a dataset.
      tags:
      - data
      x-accepts:
      - application/json
components:
  schemas:
    QueryResponse:
      description: Response to a slice query.
      example:
        total: 6
        size: 0
      properties:
        size:
          type: integer
        total:
          type: integer
      required:
      - size
      - total
      type: object
x-original-swagger-version: "2.0"

