openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Cloud Data Fusion is a fully-managed, cloud native, enterprise data\
    \ integration service for quickly building and managing data pipelines. It provides\
    \ a graphical interface to increase time efficiency and reduce complexity, and\
    \ allows business users, developers, and data scientists to easily and reliably\
    \ build scalable data integration solutions to cleanse, prepare, blend, transfer\
    \ and transform data without having to wrestle with infrastructure."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Data Fusion API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://datafusion.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: datafusion
externalDocs:
  url: https://cloud.google.com/data-fusion/docs
servers:
- url: https://datafusion.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: datafusion_projects_locations_operations_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: datafusion_projects_locations_operations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Updates a single Data Fusion instance.
      operationId: datafusion_projects_locations_instances_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Output only. The name of this instance is in the form of projects/{project}/locations/{location}/instances/{instance}."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Field mask is used to specify the fields that the update will\
          \ overwrite in an instance resource. The fields specified in the update_mask\
          \ are relative to the resource, not the full request. A field will be overwritten\
          \ if it is in the mask. If the user does not provide a mask, the label field\
          \ will be overwritten."
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: datafusion_projects_locations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "If true, the returned list will include locations which are\
          \ not yet revealed."
        explode: true
        in: query
        name: includeUnrevealedLocations
        required: false
        schema:
          type: boolean
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: datafusion_projects_locations_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: datafusion_projects_locations_operations_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:restart:
    post:
      description: Restart a single Data Fusion instance. At the end of an operation
        instance is fully restarted.
      operationId: datafusion_projects_locations_instances_restart
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the Data Fusion instance which need to be\
          \ restarted in the form of projects/{project}/locations/{location}/instances/{instance}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestartInstanceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/dnsPeerings:
    get:
      description: Lists DNS peerings for a given resource.
      operationId: datafusion_projects_locations_instances_dns_peerings_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, which owns this collection of dns peerings.\
          \ Format: projects/{project}/locations/{location}/instances/{instance}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of dns peerings to return. The service may\
          \ return fewer than this value. If unspecified, at most 50 dns peerings\
          \ will be returned. The maximum value is 200; values above 200 will be coerced\
          \ to 200."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListDnsPeerings` call.\
          \ Provide this to retrieve the subsequent page. When paginating, all other\
          \ parameters provided to `ListDnsPeerings` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDnsPeeringsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates DNS peering on the given resource.
      operationId: datafusion_projects_locations_instances_dns_peerings_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource on which DNS peering will be created.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The name of the peering to create.
        explode: true
        in: query
        name: dnsPeeringId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsPeering'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsPeering'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/instances:
    get:
      description: Lists Data Fusion instances in the specified project and location.
      operationId: datafusion_projects_locations_instances_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The project and location for which to retrieve instance\
          \ information in the format projects/{project}/locations/{location}. If\
          \ the location is specified as '-' (wildcard), then all regions available\
          \ to the project are queried, and the results are aggregated."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: List filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Sort results. Supported values are \"name\", \"name desc\",\
          \ or \"\" (unsorted)."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The next_page_token value to use if there are additional results
          to retrieve for this list request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstancesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new Data Fusion instance in the specified project and
        location.
      operationId: datafusion_projects_locations_instances_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The instance's project and location in the format\
          \ projects/{project}/locations/{location}."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The name of the instance to create. Instance name can
          only contain lowercase alphanumeric characters and hyphens. It must start
          with a letter and must not end with a hyphen. It can have a maximum of 30
          characters.
        explode: true
        in: query
        name: instanceId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/versions:
    get:
      description: Lists possible versions for Data Fusion instances in the specified
        project and location.
      operationId: datafusion_projects_locations_versions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The project and location for which to retrieve instance\
          \ information in the format projects/{project}/locations/{location}."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Whether or not to return the latest patch of every available\
          \ minor version. If true, only the latest patch will be returned. Ex. if\
          \ allowed versions is [6.1.1, 6.1.2, 6.2.0] then response will be [6.1.2,\
          \ 6.2.0]"
        explode: true
        in: query
        name: latestPatchOnly
        required: false
        schema:
          type: boolean
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The next_page_token value to use if there are additional results
          to retrieve for this list request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableVersionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty
        policy if the resource exists and does not have a policy set.
      operationId: datafusion_projects_locations_instances_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum policy version that will be used to format\
          \ the policy. Valid values are 0, 1, and 3. Requests specifying an invalid\
          \ value will be rejected. Requests for policies with any conditional role\
          \ bindings must specify version 3. Policies with no conditional role bindings\
          \ may specify any valid value or leave the field unset. The policy in the\
          \ response might use the policy version that you specified, or it might\
          \ use a lower policy version. For example, if you specify version 3, but\
          \ the policy has no conditional role bindings, the response uses version\
          \ 1. To learn which resources support conditions in their IAM policies,\
          \ see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified resource. Replaces\
        \ any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED`\
        \ errors."
      operationId: datafusion_projects_locations_instances_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{resource}:testIamPermissions:
    post:
      description: "Returns permissions that a caller has on the specified resource.\
        \ If the resource does not exist, this will return an empty set of permissions,\
        \ not a `NOT_FOUND` error. Note: This operation is designed to be used for\
        \ building permission-aware UIs and command-line tools, not for authorization\
        \ checking. This operation may \"fail open\" without warning."
      operationId: datafusion_projects_locations_instances_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Accelerator:
      description: Identifies Data Fusion accelerators for an instance.
      example:
        acceleratorType: ACCELERATOR_TYPE_UNSPECIFIED
        state: STATE_UNSPECIFIED
      properties:
        acceleratorType:
          description: The type of an accelator for a CDF instance.
          enum:
          - ACCELERATOR_TYPE_UNSPECIFIED
          - CDC
          - HEALTHCARE
          - CCAI_INSIGHTS
          - CLOUDSEARCH
          title: acceleratorType
          type: string
        state:
          description: The state of the accelerator.
          enum:
          - STATE_UNSPECIFIED
          - ENABLED
          - DISABLED
          - UNKNOWN
          title: state
          type: string
      title: Accelerator
      type: object
    AuditConfig:
      description: "Specifies the audit configuration for a service. The configuration\
        \ determines which permission types are logged, and what identities, if any,\
        \ are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\
        \ If there are AuditConfigs for both `allServices` and a specific service,\
        \ the union of the two AuditConfigs is used for that service: the log_types\
        \ specified in each AuditConfig are enabled, and the exempted_members in each\
        \ AuditLogConfig are exempted. Example Policy with multiple AuditConfigs:\
        \ { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\"\
        \ ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" }\
        \ ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\"\
        : [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy\
        \ enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com`\
        \ from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      example:
        auditLogConfigs:
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        service: service
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: '#/components/schemas/AuditLogConfig'
          title: auditLogConfigs
          type: array
        service:
          description: "Specifies a service that will be enabled for audit logging.\
            \ For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices`\
            \ is a special value that covers all services."
          title: service
          type: string
      title: AuditConfig
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions.\
        \ Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\"\
        : [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This\
        \ enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com\
        \ from DATA_READ logging."
      example:
        logType: LOG_TYPE_UNSPECIFIED
        exemptedMembers:
        - exemptedMembers
        - exemptedMembers
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this
            type of permission. Follows the same format of Binding.members.
          items:
            type: string
          title: exemptedMembers
          type: array
        logType:
          description: The log type that this config enables.
          enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
          title: logType
          type: string
      title: AuditLogConfig
      type: object
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          title: members
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
          title: role
          type: string
      title: Binding
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CryptoKeyConfig:
      description: The crypto key configuration. This field is used by the Customer-managed
        encryption keys (CMEK) feature.
      example:
        keyReference: keyReference
      properties:
        keyReference:
          description: "The name of the key which is used to encrypt/decrypt customer\
            \ data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          title: keyReference
          type: string
      title: CryptoKeyConfig
      type: object
    DataResidencyAugmentedView:
      description: "Next tag: 7"
      properties:
        crGopoGuris:
          description: Cloud resource to Google owned production object mapping in
            the form of GURIs. The GURIs should be available in DG KB storage/cns
            tables. This is the preferred way of providing cloud resource mappings.
            For further details please read go/cloud-resource-monitoring_sig
          items:
            type: string
          type: array
        crGopoPrefixes:
          description: "Cloud resource to Google owned production object mapping in\
            \ the form of prefixes. These should be available in DG KB storage/cns\
            \ tables. The entity type, which is the part of the string before the\
            \ first colon in the GURI, must be completely specified in prefix. For\
            \ details about GURI please read go/guri. For further details about the\
            \ field please read go/cloud-resource-monitoring_sig."
          items:
            type: string
          type: array
        serviceData:
          $ref: '#/components/schemas/ServiceData'
        tpIds:
          description: The list of project_id's of the tenant projects in the 'google.com'
            org which serve the Cloud Resource. See go/drz-mst-sig for more details.
          items:
            type: string
          type: array
      type: object
    DnsPeering:
      description: DNS peering configuration. These configurations are used to create
        DNS peering with the customer Cloud DNS.
      example:
        domain: domain
        name: name
        description: description
        targetNetwork: targetNetwork
        targetProject: targetProject
      properties:
        description:
          description: Optional. Optional description of the dns zone.
          title: description
          type: string
        domain:
          description: Required. The dns name suffix of the zone.
          title: domain
          type: string
        name:
          description: "Required. The resource name of the dns peering zone. Format:\
            \ projects/{project}/locations/{location}/instances/{instance}/dnsPeerings/{dns_peering}"
          title: name
          type: string
        targetNetwork:
          description: Optional. Optional target network to which dns peering should
            happen.
          title: targetNetwork
          type: string
        targetProject:
          description: Optional. Optional target project to which dns peering should
            happen.
          title: targetProject
          type: string
      title: DnsPeering
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EventPublishConfig:
      description: Confirguration of PubSubEventWriter.
      example:
        topic: topic
        enabled: true
      properties:
        enabled:
          description: Required. Option to enable Event Publishing.
          title: enabled
          type: boolean
        topic:
          description: "Required. The resource name of the Pub/Sub topic. Format:\
            \ projects/{project_id}/topics/{topic_id}"
          title: topic
          type: string
      title: EventPublishConfig
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language\
        \ (CEL) syntax. CEL is a C-like expression language. The syntax and semantics\
        \ of CEL are documented at https://github.com/google/cel-spec. Example (Comparison):\
        \ title: \"Summary size limit\" description: \"Determines if a summary is\
        \ less than 100 chars\" expression: \"document.summary.size() < 100\" Example\
        \ (Equality): title: \"Requestor is owner\" description: \"Determines if requestor\
        \ is the document owner\" expression: \"document.owner == request.auth.claims.email\"\
        \ Example (Logic): title: \"Public documents\" description: \"Determine whether\
        \ the document should be publicly visible\" expression: \"document.type !=\
        \ 'private' && document.type != 'internal'\" Example (Data Manipulation):\
        \ title: \"Notification string\" description: \"Create a notification string\
        \ with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\"\
        \ The exact variables and functions that may be referenced within an expression\
        \ are determined by the service that evaluates it. See the service documentation\
        \ for additional information."
      example:
        expression: expression
        description: description
        location: location
        title: title
      properties:
        description:
          description: "Optional. Description of the expression. This is a longer\
            \ text which describes the expression, e.g. when hovered over it in a\
            \ UI."
          title: description
          type: string
        expression:
          description: Textual representation of an expression in Common Expression
            Language syntax.
          title: expression
          type: string
        location:
          description: "Optional. String indicating the location of the expression\
            \ for error reporting, e.g. a file name and a position in the file."
          title: location
          type: string
        title:
          description: "Optional. Title for the expression, i.e. a short string describing\
            \ its purpose. This can be used e.g. in UIs which allow to enter the expression."
          title: title
          type: string
      title: Expr
      type: object
    Instance:
      description: Represents a Data Fusion instance.
      example:
        enableZoneSeparation: true
        patchRevision: patchRevision
        availableVersion:
        - type: TYPE_UNSPECIFIED
          defaultVersion: true
          versionNumber: versionNumber
          availableFeatures:
          - availableFeatures
          - availableFeatures
        - type: TYPE_UNSPECIFIED
          defaultVersion: true
          versionNumber: versionNumber
          availableFeatures:
          - availableFeatures
          - availableFeatures
        displayName: displayName
        stateMessage: stateMessage
        description: description
        eventPublishConfig:
          topic: topic
          enabled: true
        satisfiesPzs: true
        serviceEndpoint: serviceEndpoint
        type: TYPE_UNSPECIFIED
        zone: zone
        cryptoKeyConfig:
          keyReference: keyReference
        dataprocServiceAccount: dataprocServiceAccount
        options:
          key: options
        state: STATE_UNSPECIFIED
        enableStackdriverMonitoring: true
        disabledReason:
        - DISABLED_REASON_UNSPECIFIED
        - DISABLED_REASON_UNSPECIFIED
        enableRbac: true
        enableStackdriverLogging: true
        workforceIdentityServiceEndpoint: workforceIdentityServiceEndpoint
        p4ServiceAccount: p4ServiceAccount
        networkConfig:
          ipAllocation: ipAllocation
          connectionType: CONNECTION_TYPE_UNSPECIFIED
          network: network
          privateServiceConnectConfig:
            networkAttachment: networkAttachment
            unreachableCidrBlock: unreachableCidrBlock
            effectiveUnreachableCidrBlock: effectiveUnreachableCidrBlock
        gcsBucket: gcsBucket
        serviceAccount: serviceAccount
        updateTime: updateTime
        version: version
        dataplexDataLineageIntegrationEnabled: true
        labels:
          key: labels
        apiEndpoint: apiEndpoint
        createTime: createTime
        name: name
        accelerators:
        - acceleratorType: ACCELERATOR_TYPE_UNSPECIFIED
          state: STATE_UNSPECIFIED
        - acceleratorType: ACCELERATOR_TYPE_UNSPECIFIED
          state: STATE_UNSPECIFIED
        privateInstance: true
        tenantProjectId: tenantProjectId
      properties:
        accelerators:
          description: Output only. List of accelerators enabled for this CDF instance.
          items:
            $ref: '#/components/schemas/Accelerator'
          readOnly: true
          title: accelerators
          type: array
        apiEndpoint:
          description: Output only. Endpoint on which the REST APIs is accessible.
          readOnly: true
          title: apiEndpoint
          type: string
        availableVersion:
          description: Output only. Available versions that the instance can be upgraded
            to using UpdateInstanceRequest.
          items:
            $ref: '#/components/schemas/Version'
          readOnly: true
          title: availableVersion
          type: array
        createTime:
          description: Output only. The time the instance was created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        cryptoKeyConfig:
          $ref: '#/components/schemas/CryptoKeyConfig'
        dataplexDataLineageIntegrationEnabled:
          description: Optional. Option to enable the Dataplex Lineage Integration
            feature.
          title: dataplexDataLineageIntegrationEnabled
          type: boolean
        dataprocServiceAccount:
          description: User-managed service account to set on Dataproc when Cloud
            Data Fusion creates Dataproc to run data processing pipelines. This allows
            users to have fine-grained access control on Dataproc's accesses to cloud
            resources.
          title: dataprocServiceAccount
          type: string
        description:
          description: A description of this instance.
          title: description
          type: string
        disabledReason:
          description: "Output only. If the instance state is DISABLED, the reason\
            \ for disabling the instance."
          items:
            enum:
            - DISABLED_REASON_UNSPECIFIED
            - KMS_KEY_ISSUE
            type: string
          readOnly: true
          title: disabledReason
          type: array
        displayName:
          description: Display name for an instance.
          title: displayName
          type: string
        enableRbac:
          description: Option to enable granular role-based access control.
          title: enableRbac
          type: boolean
        enableStackdriverLogging:
          description: Option to enable Stackdriver Logging.
          title: enableStackdriverLogging
          type: boolean
        enableStackdriverMonitoring:
          description: Option to enable Stackdriver Monitoring.
          title: enableStackdriverMonitoring
          type: boolean
        enableZoneSeparation:
          description: Option to enable granular zone separation.
          title: enableZoneSeparation
          type: boolean
        eventPublishConfig:
          $ref: '#/components/schemas/EventPublishConfig'
        gcsBucket:
          description: Output only. Cloud Storage bucket generated by Data Fusion
            in the customer project.
          readOnly: true
          title: gcsBucket
          type: string
        labels:
          additionalProperties:
            type: string
          description: The resource labels for instance to use to annotate any related
            underlying resources such as Compute Engine VMs. The character '=' is
            not allowed to be used within the labels.
          title: labels
          type: object
        name:
          description: "Output only. The name of this instance is in the form of projects/{project}/locations/{location}/instances/{instance}."
          readOnly: true
          title: name
          type: string
        networkConfig:
          $ref: '#/components/schemas/NetworkConfig'
        options:
          additionalProperties:
            type: string
          description: Map of additional options used to configure the behavior of
            Data Fusion instance.
          title: options
          type: object
        p4ServiceAccount:
          description: Output only. P4 service account for the customer project.
          readOnly: true
          title: p4ServiceAccount
          type: string
        patchRevision:
          description: Optional. Current patch revision of the Data Fusion.
          title: patchRevision
          type: string
        privateInstance:
          description: "Specifies whether the Data Fusion instance should be private.\
            \ If set to true, all Data Fusion nodes will have private IP addresses\
            \ and will not be able to access the public internet."
          title: privateInstance
          type: boolean
        satisfiesPzs:
          description: Output only. Reserved for future use.
          readOnly: true
          title: satisfiesPzs
          type: boolean
        serviceAccount:
          deprecated: true
          description: Output only. Deprecated. Use tenant_project_id instead to extract
            the tenant project ID.
          readOnly: true
          title: serviceAccount
          type: string
        serviceEndpoint:
          description: Output only. Endpoint on which the Data Fusion UI is accessible.
          readOnly: true
          title: serviceEndpoint
          type: string
        state:
          description: Output only. The current state of this Data Fusion instance.
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - ACTIVE
          - FAILED
          - DELETING
          - UPGRADING
          - RESTARTING
          - UPDATING
          - AUTO_UPDATING
          - AUTO_UPGRADING
          - DISABLED
          readOnly: true
          title: state
          type: string
        stateMessage:
          description: Output only. Additional information about the current state
            of this Data Fusion instance if available.
          readOnly: true
          title: stateMessage
          type: string
        tenantProjectId:
          description: Output only. The name of the tenant project.
          readOnly: true
          title: tenantProjectId
          type: string
        type:
          description: Required. Instance type.
          enum:
          - TYPE_UNSPECIFIED
          - BASIC
          - ENTERPRISE
          - DEVELOPER
          title: type
          type: string
        updateTime:
          description: Output only. The time the instance was last updated.
          format: google-datetime
          readOnly: true
          title: updateTime
          type: string
        version:
          description: Current version of the Data Fusion. Only specifiable in Update.
          title: version
          type: string
        workforceIdentityServiceEndpoint:
          description: Output only. Endpoint on which the Data Fusion UI is accessible
            to third-party users
          readOnly: true
          title: workforceIdentityServiceEndpoint
          type: string
        zone:
          description: Name of the zone in which the Data Fusion instance will be
            created. Only DEVELOPER instances use this field.
          title: zone
          type: string
      title: Instance
      type: object
    ListAvailableVersionsResponse:
      description: Response message for the list available versions request.
      example:
        nextPageToken: nextPageToken
        availableVersions:
        - type: TYPE_UNSPECIFIED
          defaultVersion: true
          versionNumber: versionNumber
          availableFeatures:
          - availableFeatures
          - availableFeatures
        - type: TYPE_UNSPECIFIED
          defaultVersion: true
          versionNumber: versionNumber
          availableFeatures:
          - availableFeatures
          - availableFeatures
      properties:
        availableVersions:
          description: Represents a list of versions that are supported.
          items:
            $ref: '#/components/schemas/Version'
          title: availableVersions
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results or empty if there
            are no more results in the list.
          title: nextPageToken
          type: string
      title: ListAvailableVersionsResponse
      type: object
    ListDnsPeeringsResponse:
      description: Response message for list DNS peerings.
      example:
        nextPageToken: nextPageToken
        dnsPeerings:
        - domain: domain
          name: name
          description: description
          targetNetwork: targetNetwork
          targetProject: targetProject
        - domain: domain
          name: name
          description: description
          targetNetwork: targetNetwork
          targetProject: targetProject
      properties:
        dnsPeerings:
          description: List of dns peering.
          items:
            $ref: '#/components/schemas/DnsPeering'
          title: dnsPeerings
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
      title: ListDnsPeeringsResponse
      type: object
    ListInstancesResponse:
      description: Response message for the list instance request.
      example:
        unreachable:
        - unreachable
        - unreachable
        instances:
        - enableZoneSeparation: true
          patchRevision: patchRevision
          availableVersion:
          - type: TYPE_UNSPECIFIED
            defaultVersion: true
            versionNumber: versionNumber
            availableFeatures:
            - availableFeatures
            - availableFeatures
          - type: TYPE_UNSPECIFIED
            defaultVersion: true
            versionNumber: versionNumber
            availableFeatures:
            - availableFeatures
            - availableFeatures
          displayName: displayName
          stateMessage: stateMessage
          description: description
          eventPublishConfig:
            topic: topic
            enabled: true
          satisfiesPzs: true
          serviceEndpoint: serviceEndpoint
          type: TYPE_UNSPECIFIED
          zone: zone
          cryptoKeyConfig:
            keyReference: keyReference
          dataprocServiceAccount: dataprocServiceAccount
          options:
            key: options
          state: STATE_UNSPECIFIED
          enableStackdriverMonitoring: true
          disabledReason:
          - DISABLED_REASON_UNSPECIFIED
          - DISABLED_REASON_UNSPECIFIED
          enableRbac: true
          enableStackdriverLogging: true
          workforceIdentityServiceEndpoint: workforceIdentityServiceEndpoint
          p4ServiceAccount: p4ServiceAccount
          networkConfig:
            ipAllocation: ipAllocation
            connectionType: CONNECTION_TYPE_UNSPECIFIED
            network: network
            privateServiceConnectConfig:
              networkAttachment: networkAttachment
              unreachableCidrBlock: unreachableCidrBlock
              effectiveUnreachableCidrBlock: effectiveUnreachableCidrBlock
          gcsBucket: gcsBucket
          serviceAccount: serviceAccount
          updateTime: updateTime
          version: version
          dataplexDataLineageIntegrationEnabled: true
          labels:
            key: labels
          apiEndpoint: apiEndpoint
          createTime: createTime
          name: name
          accelerators:
          - acceleratorType: ACCELERATOR_TYPE_UNSPECIFIED
            state: STATE_UNSPECIFIED
          - acceleratorType: ACCELERATOR_TYPE_UNSPECIFIED
            state: STATE_UNSPECIFIED
          privateInstance: true
          tenantProjectId: tenantProjectId
        - enableZoneSeparation: true
          patchRevision: patchRevision
          availableVersion:
          - type: TYPE_UNSPECIFIED
            defaultVersion: true
            versionNumber: versionNumber
            availableFeatures:
            - availableFeatures
            - availableFeatures
          - type: TYPE_UNSPECIFIED
            defaultVersion: true
            versionNumber: versionNumber
            availableFeatures:
            - availableFeatures
            - availableFeatures
          displayName: displayName
          stateMessage: stateMessage
          description: description
          eventPublishConfig:
            topic: topic
            enabled: true
          satisfiesPzs: true
          serviceEndpoint: serviceEndpoint
          type: TYPE_UNSPECIFIED
          zone: zone
          cryptoKeyConfig:
            keyReference: keyReference
          dataprocServiceAccount: dataprocServiceAccount
          options:
[...]
