openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Messaging
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_messaging_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_messaging_v1
servers:
- url: https://messaging.twilio.com
tags:
- name: MessagingV1AlphaSender
- name: MessagingV1BrandRegistration
- name: MessagingV1BrandRegistrationOtp
- name: MessagingV1BrandVetting
- name: MessagingV1ChannelSender
- name: MessagingV1Deactivations
- name: MessagingV1DomainCerts
- name: MessagingV1DomainConfig
- name: MessagingV1DomainConfigMessagingService
- name: MessagingV1ExternalCampaign
- name: MessagingV1LinkshorteningMessagingService
- name: MessagingV1LinkshorteningMessagingServiceDomainAssociation
- name: MessagingV1PhoneNumber
- name: MessagingV1Service
- name: MessagingV1ShortCode
- name: MessagingV1TollfreeVerification
- name: MessagingV1UsAppToPerson
- name: MessagingV1UsAppToPersonUsecase
- name: MessagingV1Usecase
paths:
  /v1/Deactivations:
    description: A Deactivation resource to retrieve a list of United States phone
      numbers that have been deactivated by mobile carriers on a specific date.
    get:
      description: Fetch a list of all United States numbers that have been deactivated
        on a specific date.
      operationId: fetch_deactivation
      parameters:
      - description: The request will return a list of all United States Phone Numbers
          that were deactivated on the day specified by this parameter. This date
          should be specified in YYYY-MM-DD format.
        explode: true
        in: query
        name: Date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.deactivation'
          description: Temporary Redirect
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Deactivations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_deactivations_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      className: deactivations
      defaultOutputProperties:
      - redirect_to
      pathType: instance
  /v1/LinkShortening/Domains/{DomainSid}/Certificate:
    delete:
      description: ""
      operationId: delete_domain_cert_v4
      parameters:
      - description: Unique string used to identify the domain that this certificate
          should be associated with.
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainCerts
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_certs_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_domain_cert_v4
      parameters:
      - description: Unique string used to identify the domain that this certificate
          should be associated with.
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_cert_v4'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainCerts
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_certs_controller
    post:
      description: ""
      operationId: update_domain_cert_v4
      parameters:
      - description: Unique string used to identify the domain that this certificate
          should be associated with.
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDomainCertV4Request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_cert_v4'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_cert_v4'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainCerts
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_certs_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      className: domain_certs
      defaultOutputProperties:
      - certificate_sid
      - domain_name
      - domain_sid
      - date_expires
      - date_created
      - date_updated
      - url
      mountName: domain_certs
      pathType: instance
  /v1/LinkShortening/Domains/{DomainSid}/Config:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_domain_config
      parameters:
      - description: Unique string used to identify the domain that this config should
          be associated with.
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_config'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainConfig
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_config_controller
    post:
      description: ""
      operationId: update_domain_config
      parameters:
      - description: Unique string used to identify the domain that this config should
          be associated with.
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDomainConfigRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_config'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_config'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainConfig
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_config_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - config_sid
      - fallback_url
      - callback_url
      - continue_on_failure
      - date_created
      - date_updated
      - url
      - disable_https
      mountName: domain_config
      pathType: instance
  /v1/LinkShortening/Domains/{DomainSid}/MessagingServices/{MessagingServiceSid}:
    delete:
      description: ""
      operationId: delete_linkshortening_messaging_service
      parameters:
      - description: "The domain SID to dissociate from a messaging service. With\
          \ URL shortening enabled, links in messages sent with the associated messaging\
          \ service will be shortened to the provided domain"
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "A messaging service SID to dissociate from a domain. With URL\
          \ shortening enabled, links in messages sent with the provided messaging\
          \ service will be shortened to the associated domain"
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1LinkshorteningMessagingService
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_linkshortening_messaging_service_controller
    description: "TODO: Resource-level docs"
    post:
      description: ""
      operationId: create_linkshortening_messaging_service
      parameters:
      - description: "The domain SID to associate with a messaging service. With URL\
          \ shortening enabled, links in messages sent with the associated messaging\
          \ service will be shortened to the provided domain"
        explode: false
        in: path
        name: DomainSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "A messaging service SID to associate with a domain. With URL\
          \ shortening enabled, links in messages sent with the provided messaging\
          \ service will be shortened to the associated domain"
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.linkshortening_messaging_service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1LinkshorteningMessagingService
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_linkshortening_messaging_service_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - messaging_service_sid
      - domain_sid
      - url
      mountName: linkshortening_messaging_service
      pathType: instance
  /v1/LinkShortening/MessagingService/{MessagingServiceSid}/DomainConfig:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_domain_config_messaging_service
      parameters:
      - description: Unique string used to identify the Messaging service that this
          domain should be associated with.
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.domain_config_messaging_service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1DomainConfigMessagingService
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_domain_config_messaging_service_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - domain_sid
      - config_sid
      - fallback_url
      - callback_url
      - continue_on_failure
      - date_created
      - date_updated
      - url
      - messaging_service_sid
      mountName: domain_config_messaging_service
      pathType: instance
  /v1/LinkShortening/MessagingServices/{MessagingServiceSid}/Domain:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_linkshortening_messaging_service_domain_association
      parameters:
      - description: Unique string used to identify the Messaging service that this
          domain should be associated with.
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.linkshortening_messaging_service_domain_association'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1LinkshorteningMessagingServiceDomainAssociation
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_linkshortening_messaging_service_domain_association_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - domain_sid
      - messaging_service_sid
      - url
      mountName: linkshortening_messaging_service_domain_association
      pathType: instance
  /v1/Services:
    description: "A Messaging Service resource to create, fetch, update, delete or\
      \ add/remove senders from Messaging Services."
    get:
      description: ""
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_service_controller
    post:
      description: ""
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        alpha_senders:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/AlphaSenders"
        channel_senders:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/ChannelSenders"
        messages:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Messages"
        phone_numbers:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/PhoneNumbers"
        short_codes:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/ShortCodes"
        us_app_to_person:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Compliance/Usa2p"
        us_app_to_person_usecases:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Compliance/Usa2p/Usecases"
      pathType: list
  /v1/Services/PreregisteredUsa2p:
    description: Resource to associate preregistered campaign with Messaging Service.
    post:
      description: ""
      operationId: create_external_campaign
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateExternalCampaignRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.external_campaign'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ExternalCampaign
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_external_campaign_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - campaign_id
      - messaging_service_sid
      mountName: external_campaign
      pathType: list
  /v1/Services/Usecases:
    description: Use Case resource. Fetch possible use cases for a Messaging Service.
    get:
      description: ""
      operationId: fetch_usecase
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.usecase'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Usecase
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_usecase_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - usecases
      pathType: list
  /v1/Services/{MessagingServiceSid}/ChannelSenders:
    description: "A Messaging Service resource to read, fetch all Channel Senders\
      \ associated with a Messaging Service."
    get:
      description: ""
      operationId: list_channel_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to read the resources from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelSenderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ChannelSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_channel_sender_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - sender
      - sender_type
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{MessagingServiceSid}/ChannelSenders/{Sid}:
    description: "A Messaging Service resource to read, fetch all Channel Senders\
      \ associated with a Messaging Service."
    get:
      description: ""
      operationId: fetch_channel_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the ChannelSender resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.channel_sender'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ChannelSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_channel_sender_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - sender
      - sender_type
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{MessagingServiceSid}/Compliance/Usa2p:
    description: A service for (fetch/create/delete) A2P Campaign for a Messaging
      Service
    get:
      description: ""
      operationId: list_us_app_to_person
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsAppToPersonResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPerson
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_controller
    post:
      description: ""
      operationId: create_us_app_to_person
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
          \ to create the resources from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUsAppToPersonRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.us_app_to_person'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPerson
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - brand_registration_sid
      - campaign_status
      - date_created
      mountName: us_app_to_person
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{MessagingServiceSid}/Compliance/Usa2p/Usecases:
    description: Messaging Service Use Case resource. Fetch possible use cases for
      service. The Use Cases API returns an empty list if there is an issue with the
      customer's A2P brand registration. This Brand cannot register any campaign use
      cases. Customers are requested to contact support with their A2P brand information.
    get:
      description: ""
      operationId: fetch_us_app_to_person_usecase
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string to identify the A2P brand.
        explode: true
        in: query
        name: BrandRegistrationSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.us_app_to_person_usecase'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPersonUsecase
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_usecase_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - us_app_to_person_usecases
      mountName: us_app_to_person_usecases
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{MessagingServiceSid}/Compliance/Usa2p/{Sid}:
    delete:
      description: ""
      operationId: delete_us_app_to_person
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
          \ to delete the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the US A2P Compliance resource to delete `QE2c6890da8086d771620e9b13fadeba0b`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^QE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPerson
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_controller
    description: A service for (fetch/create/delete) A2P Campaign for a Messaging
      Service
    get:
      description: ""
      operationId: fetch_us_app_to_person
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the US A2P Compliance resource to fetch `QE2c6890da8086d771620e9b13fadeba0b`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^QE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.us_app_to_person'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPerson
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_controller
    post:
      description: ""
      operationId: update_us_app_to_person
      parameters:
      - description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api)\
          \ to update the resource from."
        explode: false
        in: path
        name: MessagingServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the US A2P Compliance resource to update `QE2c6890da8086d771620e9b13fadeba0b`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^QE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUsAppToPersonRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.us_app_to_person'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1UsAppToPerson
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_us_app_to_person_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - brand_registration_sid
      - campaign_status
      - date_created
      mountName: us_app_to_person
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/AlphaSenders:
    description: "A Messaging Service resource to add, fetch or remove an Alpha Sender\
      \ ID from a Messaging Service."
    get:
      description: ""
      operationId: list_alpha_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlphaSenderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1AlphaSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_alpha_sender_controller
    post:
      description: ""
      operationId: create_alpha_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAlphaSenderRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.alpha_sender'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1AlphaSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_alpha_sender_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - alpha_sender
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/AlphaSenders/{Sid}:
    delete:
      description: ""
      operationId: delete_alpha_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the AlphaSender resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1AlphaSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_alpha_sender_controller
    description: "A Messaging Service resource to add, fetch or remove an Alpha Sender\
      \ ID from a Messaging Service."
    get:
      description: ""
      operationId: fetch_alpha_sender
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the AlphaSender resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.alpha_sender'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1AlphaSender
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_alpha_sender_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - alpha_sender
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/PhoneNumbers:
    description: "A Messaging Service resource to add, fetch or remove phone numbers\
      \ from a Messaging Service."
    get:
      description: ""
      operationId: list_phone_number
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhoneNumberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1PhoneNumber
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_phone_number_controller
    post:
      description: ""
      operationId: create_phone_number
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.phone_number'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1PhoneNumber
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_phone_number_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      - country_code
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/PhoneNumbers/{Sid}:
    delete:
      description: ""
      operationId: delete_phone_number
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the PhoneNumber resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1PhoneNumber
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_phone_number_controller
    description: "A Messaging Service resource to add, fetch or remove phone numbers\
      \ from a Messaging Service."
    get:
      description: ""
      operationId: fetch_phone_number
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the PhoneNumber resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1PhoneNumber
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_phone_number_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      - country_code
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/ShortCodes:
    description: "A Messaging Service resource to add, fetch or remove short code\
      \ numbers from a Messaging Service."
    get:
      description: ""
      operationId: list_short_code
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShortCodeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ShortCode
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_short_code_controller
    post:
      description: ""
      operationId: create_short_code
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateShortCodeRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.short_code'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ShortCode
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_short_code_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - short_code
      - country_code
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/ShortCodes/{Sid}:
    delete:
      description: ""
      operationId: delete_short_code
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the ShortCode resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ShortCode
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_short_code_controller
    description: "A Messaging Service resource to add, fetch or remove short code\
      \ numbers from a Messaging Service."
    get:
      description: ""
      operationId: fetch_short_code
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the ShortCode resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service.short_code'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1ShortCode
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_short_code_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - short_code
      - country_code
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{Sid}:
    delete:
      description: ""
      operationId: delete_service
      parameters:
      - description: The SID of the Service resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_service_controller
    description: "A Messaging Service resource to create, fetch, update, delete or\
      \ add/remove senders from Messaging Services."
    get:
      description: ""
      operationId: fetch_service
      parameters:
      - description: The SID of the Service resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_service_controller
    post:
      description: ""
      operationId: update_service
      parameters:
      - description: The SID of the Service resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1Service
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        alpha_senders:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/AlphaSenders"
        channel_senders:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/ChannelSenders"
        messages:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Messages"
        phone_numbers:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/PhoneNumbers"
        short_codes:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/ShortCodes"
        us_app_to_person:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Compliance/Usa2p"
        us_app_to_person_usecases:
          mapping:
            messaging_service_sid: sid
          resource_url: "/v1/Services/{messaging_service_sid}/Compliance/Usa2p/Usecases"
      pathType: instance
  /v1/Tollfree/Verifications:
    description: A Messaging resource to add and fetch Tollfree Verifications.
    get:
      description: ""
      operationId: list_tollfree_verification
      parameters:
      - description: The SID of the Phone Number associated with the Tollfree Verification.
        explode: true
        in: query
        name: TollfreePhoneNumberSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: The compliance status of the Tollfree Verification record.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/tollfree_verification_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTollfreeVerificationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1TollfreeVerification
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_tollfree_verification_controller
    post:
      description: ""
      operationId: create_tollfree_verification
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTollfreeVerificationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1TollfreeVerification
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_tollfree_verification_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      mountName: tollfree_verifications
      pathType: list
  /v1/Tollfree/Verifications/{Sid}:
    delete:
      description: ""
      operationId: delete_tollfree_verification
      parameters:
      - description: The unique string to identify Tollfree Verification.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1TollfreeVerification
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_tollfree_verification_controller
    description: A Messaging resource to add and fetch Tollfree Verifications.
    get:
      description: ""
      operationId: fetch_tollfree_verification
      parameters:
      - description: The unique string to identify Tollfree Verification.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1TollfreeVerification
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_tollfree_verification_controller
    post:
      description: ""
      operationId: update_tollfree_verification
      parameters:
      - description: The unique string to identify Tollfree Verification.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTollfreeVerificationRequest'
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: Accepted
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1TollfreeVerification
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_tollfree_verification_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      mountName: tollfree_verifications
      pathType: instance
  /v1/a2p/BrandRegistrations:
    description: A Messaging Service resource to add and fetch Brand Registrations.
    get:
      description: ""
      operationId: list_brand_registrations
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBrandRegistrationsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandRegistration
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_registration_controller
    post:
      description: ""
      operationId: create_brand_registrations
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBrandRegistrationsRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandRegistration
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_registration_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      dependentProperties:
        brand_registration_otps:
          mapping:
            brand_registration_sid: sid
          resource_url: "/v1/a2p/BrandRegistrations/{brand_registration_sid}/SmsOtp"
        brand_vettings:
          mapping:
            brand_sid: sid
          resource_url: "/v1/a2p/BrandRegistrations/{brand_sid}/Vettings"
      pathType: list
  /v1/a2p/BrandRegistrations/{BrandRegistrationSid}/SmsOtp:
    description: A Messaging Service resource to retry OTP verification for Sole Proprietor
      Brand Registrations.
    post:
      description: ""
      operationId: create_brand_registration_otp
      parameters:
      - description: Brand Registration Sid of Sole Proprietor Brand.
        explode: false
        in: path
        name: BrandRegistrationSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations.brand_registration_otp'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandRegistrationOtp
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_registration_otp_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - brand_registration_sid
      mountName: brand_registration_otps
      parent: "/a2p/BrandRegistrations/{Sid}"
      pathType: list
  /v1/a2p/BrandRegistrations/{BrandSid}/Vettings:
    description: A Messaging Service resource to add and get Brand Vettings.
    get:
      description: ""
      operationId: list_brand_vetting
      parameters:
      - description: The SID of the Brand Registration resource of the vettings to
          read .
        explode: false
        in: path
        name: BrandSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The third-party provider of the vettings to read
        explode: true
        in: query
        name: VettingProvider
        required: false
        schema:
          $ref: '#/components/schemas/brand_vetting_enum_vetting_provider'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBrandVettingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandVetting
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_vetting_controller
    post:
      description: ""
      operationId: create_brand_vetting
      parameters:
      - description: The SID of the Brand Registration resource of the vettings to
          create .
        explode: false
        in: path
        name: BrandSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBrandVettingRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations.brand_vetting'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandVetting
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_vetting_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - brand_sid
      - brand_vetting_sid
      - date_created
      - date_updated
      - vetting_status
      - vetting_class
      mountName: brand_vettings
      parent: "/a2p/BrandRegistrations/{Sid}"
      pathType: list
  /v1/a2p/BrandRegistrations/{BrandSid}/Vettings/{BrandVettingSid}:
    description: A Messaging Service resource to add and get Brand Vettings.
    get:
      description: ""
      operationId: fetch_brand_vetting
      parameters:
      - description: The SID of the Brand Registration resource of the vettings to
          read .
        explode: false
        in: path
        name: BrandSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio SID of the third-party vetting record.
        explode: false
        in: path
        name: BrandVettingSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations.brand_vetting'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandVetting
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_vetting_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - brand_sid
      - brand_vetting_sid
      - date_created
      - date_updated
      - vetting_status
      - vetting_class
      mountName: brand_vettings
      parent: "/a2p/BrandRegistrations/{Sid}"
      pathType: instance
  /v1/a2p/BrandRegistrations/{Sid}:
    description: A Messaging Service resource to add and fetch Brand Registrations.
    get:
      description: ""
      operationId: fetch_brand_registrations
      parameters:
      - description: The SID of the Brand Registration resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandRegistration
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_registration_controller
    post:
      description: ""
      operationId: update_brand_registrations
      parameters:
      - description: The SID of the Brand Registration resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.brand_registrations'
          description: Accepted
      security:
      - accountSid_authToken: []
      tags:
      - MessagingV1BrandRegistration
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.messaging_v1_brand_registration_controller
    servers:
    - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      dependentProperties:
        brand_registration_otps:
          mapping:
            brand_registration_sid: sid
          resource_url: "/v1/a2p/BrandRegistrations/{brand_registration_sid}/SmsOtp"
        brand_vettings:
          mapping:
            brand_sid: sid
          resource_url: "/v1/a2p/BrandRegistrations/{brand_sid}/Vettings"
      pathType: instance
components:
  schemas:
    brand_registrations_enum_brand_feedback:
      enum:
      - TAX_ID
      - STOCK_SYMBOL
      - NONPROFIT
      - GOVERNMENT_ENTITY
      - OTHERS
      title: brand_registrations_enum_brand_feedback
      type: string
    brand_registrations_enum_identity_status:
      enum:
      - SELF_DECLARED
      - UNVERIFIED
      - VERIFIED
      - VETTED_VERIFIED
      title: brand_registrations_enum_identity_status
      type: string
    brand_registrations_enum_status:
      enum:
      - PENDING
      - APPROVED
      - FAILED
      - IN_REVIEW
      - DELETED
      title: brand_registrations_enum_status
      type: string
    brand_vetting_enum_vetting_provider:
      enum:
      - campaign-verify
      title: brand_vetting_enum_vetting_provider
      type: string
    messaging.v1.brand_registrations:
      example:
        a2p_profile_bundle_sid: a2p_profile_bundle_sid
        brand_feedback:
        - brand_feedback
        - brand_feedback
        date_updated: 2000-01-23T04:56:07.000+00:00
        brand_score: 0
        identity_status: identity_status
        date_created: 2000-01-23T04:56:07.000+00:00
        russell_3000: true
        failure_reason: failure_reason
        tax_exempt_status: tax_exempt_status
        tcr_id: tcr_id
        url: https://openapi-generator.tech
        sid: sid
        government_entity: true
        customer_profile_bundle_sid: customer_profile_bundle_sid
        skip_automatic_sec_vet: true
        account_sid: account_sid
        mock: true
        links: "{}"
        brand_type: brand_type
        status: status
      properties:
        a2p_profile_bundle_sid:
          description: A2P Messaging Profile Bundle BundleSid.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: a2p_profile_bundle_sid
          type: string
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Brand Registration resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        brand_feedback:
          description: Feedback on how to improve brand score
          items:
            $ref: '#/components/schemas/brand_registrations_enum_brand_feedback'
          nullable: true
          title: brand_feedback
          type: array
        brand_score:
          description: "The secondary vetting score if it was done. Otherwise, it\
            \ will be the brand score if it's returned from TCR. It may be null if\
            \ no score is available."
          nullable: true
          title: brand_score
          type: integer
        brand_type:
          description: "Type of brand. One of: \"STANDARD\", \"SOLE_PROPRIETOR\".\
            \ SOLE_PROPRIETOR is for the low volume, SOLE_PROPRIETOR campaign use\
            \ case. There can only be one SOLE_PROPRIETOR campaign created per SOLE_PROPRIETOR\
            \ brand. STANDARD is for all other campaign use cases. Multiple campaign\
            \ use cases can be created per STANDARD brand."
          nullable: true
          title: brand_type
          type: string
        customer_profile_bundle_sid:
          description: A2P Messaging Profile Bundle BundleSid.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: customer_profile_bundle_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        failure_reason:
          description: A reason why brand registration has failed. Only applicable
            when status is FAILED.
          nullable: true
          title: failure_reason
          type: string
        government_entity:
          description: Identified as a government entity
          nullable: true
          title: government_entity
          type: boolean
        identity_status:
          $ref: '#/components/schemas/brand_registrations_enum_identity_status'
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        mock:
          description: "A boolean that specifies whether brand should be a mock or\
            \ not. If true, brand will be registered as a mock brand. Defaults to\
            \ false if no value is provided."
          nullable: true
          title: mock
          type: boolean
        russell_3000:
          description: Publicly traded company identified in the Russell 3000 Index
          nullable: true
          title: russell_3000
          type: boolean
        sid:
          description: The unique string to identify Brand Registration.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        skip_automatic_sec_vet:
          description: A flag to disable automatic secondary vetting for brands which
            it would otherwise be done.
          nullable: true
          title: skip_automatic_sec_vet
          type: boolean
        status:
          $ref: '#/components/schemas/brand_registrations_enum_status'
        tax_exempt_status:
          description: Nonprofit organization tax-exempt status per section 501 of
            the U.S. tax code.
          nullable: true
          title: tax_exempt_status
          type: string
        tcr_id:
          description: Campaign Registry (TCR) Brand ID. Assigned only after successful
            brand registration.
          nullable: true
          title: tcr_id
          type: string
        url:
          description: The absolute URL of the Brand Registration resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.brand_registrations
      type: object
    messaging.v1.brand_registrations.brand_registration_otp:
      example:
        brand_registration_sid: brand_registration_sid
        account_sid: account_sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Brand Registration resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        brand_registration_sid:
          description: The unique string to identify Brand Registration of Sole Proprietor
            Brand
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BN[0-9a-fA-F]{32}$"
          title: brand_registration_sid
          type: string
      title: messaging.v1.brand_registrations.brand_registration_otp
      type: object
    messaging.v1.brand_registrations.brand_vetting:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        vetting_status: vetting_status
        date_created: 2000-01-23T04:56:07.000+00:00
        vetting_class: vetting_class
        vetting_id: vetting_id
        account_sid: account_sid
        brand_vetting_sid: brand_vetting_sid
        brand_sid: brand_sid
        url: https://openapi-generator.tech
        vetting_provider: vetting_provider
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the vetting record."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        brand_sid:
          description: The unique string to identify Brand Registration.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BN[0-9a-fA-F]{32}$"
          title: brand_sid
          type: string
        brand_vetting_sid:
          description: The Twilio SID of the third-party vetting record.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^VT[0-9a-fA-F]{32}$"
          title: brand_vetting_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        url:
          description: The absolute URL of the Brand Vetting resource.
          format: uri
          nullable: true
          title: url
          type: string
        vetting_class:
          description: The type of vetting that has been conducted. One of “STANDARD”
            (Aegis) or “POLITICAL” (Campaign Verify).
          nullable: true
          title: vetting_class
          type: string
        vetting_id:
          description: The unique identifier of the vetting from the third-party provider.
          nullable: true
          title: vetting_id
          type: string
        vetting_provider:
          $ref: '#/components/schemas/brand_vetting_enum_vetting_provider'
        vetting_status:
          description: "The status of the import vetting attempt. One of “PENDING,”\
            \ “SUCCESS,” or “FAILED”."
          nullable: true
          title: vetting_status
          type: string
      title: messaging.v1.brand_registrations.brand_vetting
      type: object
    messaging.v1.deactivation:
      example:
        redirect_to: https://openapi-generator.tech
      properties:
        redirect_to:
          description: Returns an authenticated url that redirects to a file containing
            the deactivated numbers for the requested day. This url is valid for up
            to two minutes.
          format: uri
          nullable: true
          title: redirect_to
          type: string
      title: messaging.v1.deactivation
      type: object
    messaging.v1.domain_cert_v4:
      example:
        domain_name: https://openapi-generator.tech
        date_updated: 2000-01-23T04:56:07.000+00:00
        domain_sid: domain_sid
        certificate_sid: certificate_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        date_expires: 2000-01-23T04:56:07.000+00:00
        cert_in_validation: ""
        url: https://openapi-generator.tech
      properties:
        cert_in_validation:
          description: Optional JSON field describing the status and upload date of
            a new certificate in the process of validation
          nullable: true
          title: cert_in_validation
        certificate_sid:
          description: The unique string that we created to identify this Certificate
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CW[0-9a-fA-F]{32}$"
          title: certificate_sid
          type: string
        date_created:
          description: Date that this Domain was registered to the Twilio platform
            to create a new Domain object.
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_expires:
          description: Date that the private certificate associated with this domain
            expires. You will need to update the certificate before that date to ensure
            your shortened links will continue to work.
          format: date-time
          nullable: true
          title: date_expires
          type: string
        date_updated:
          description: Date that this Domain was last updated.
          format: date-time
          nullable: true
          title: date_updated
          type: string
        domain_name:
          description: Full url path for this domain.
          format: uri
          nullable: true
          title: domain_name
          type: string
        domain_sid:
          description: The unique string that we created to identify the Domain resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DN[0-9a-fA-F]{32}$"
          title: domain_sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.domain_cert_v4
      type: object
    messaging.v1.domain_config:
      example:
        callback_url: https://openapi-generator.tech
        date_updated: 2000-01-23T04:56:07.000+00:00
        domain_sid: domain_sid
        config_sid: config_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        fallback_url: https://openapi-generator.tech
        continue_on_failure: true
        disable_https: true
        url: https://openapi-generator.tech
      properties:
        callback_url:
          description: URL to receive click events to your webhook whenever the recipients
            click on the shortened links.
          format: uri
          nullable: true
          title: callback_url
          type: string
        config_sid:
          description: The unique string that we created to identify the Domain config
            (prefix ZK).
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ZK[0-9a-fA-F]{32}$"
          title: config_sid
          type: string
        continue_on_failure:
          description: Boolean field to set customer delivery preference when there
            is a failure in linkShortening service
          nullable: true
          title: continue_on_failure
          type: boolean
        date_created:
          description: Date this Domain Config was created.
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: Date that this Domain Config was last updated.
          format: date-time
          nullable: true
          title: date_updated
          type: string
        disable_https:
          description: "Customer's choice to send links with/without \"https://\"\
            \ attached to shortened url. If true, messages will not be sent with https://\
            \ at the beginning of the url. If false, messages will be sent with https://\
            \ at the beginning of the url. False is the default behavior if it is\
            \ not specified."
          nullable: true
          title: disable_https
          type: boolean
        domain_sid:
          description: The unique string that we created to identify the Domain resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DN[0-9a-fA-F]{32}$"
          title: domain_sid
          type: string
        fallback_url:
          description: "Any requests we receive to this domain that do not match an\
            \ existing shortened message will be redirected to the fallback url. These\
            \ will likely be either expired messages, random misdirected traffic,\
            \ or intentional scraping."
          format: uri
          nullable: true
          title: fallback_url
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.domain_config
      type: object
    messaging.v1.domain_config_messaging_service:
      example:
        callback_url: https://openapi-generator.tech
        date_updated: 2000-01-23T04:56:07.000+00:00
        domain_sid: domain_sid
        messaging_service_sid: messaging_service_sid
        config_sid: config_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        fallback_url: https://openapi-generator.tech
        continue_on_failure: true
        url: https://openapi-generator.tech
      properties:
        callback_url:
          description: URL to receive click events to your webhook whenever the recipients
            click on the shortened links.
          format: uri
          nullable: true
          title: callback_url
          type: string
        config_sid:
          description: The unique string that we created to identify the Domain config
            (prefix ZK).
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ZK[0-9a-fA-F]{32}$"
          title: config_sid
          type: string
        continue_on_failure:
          description: Boolean field to set customer delivery preference when there
            is a failure in linkShortening service
          nullable: true
          title: continue_on_failure
          type: boolean
        date_created:
          description: Date this Domain Config was created.
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: Date that this Domain Config was last updated.
          format: date-time
          nullable: true
          title: date_updated
          type: string
        domain_sid:
          description: The unique string that we created to identify the Domain resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DN[0-9a-fA-F]{32}$"
          title: domain_sid
          type: string
        fallback_url:
          description: "Any requests we receive to this domain that do not match an\
            \ existing shortened message will be redirected to the fallback url. These\
            \ will likely be either expired messages, random misdirected traffic,\
            \ or intentional scraping."
          format: uri
          nullable: true
          title: fallback_url
          type: string
        messaging_service_sid:
          description: The unique string that identifies the messaging service
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: messaging_service_sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.domain_config_messaging_service
      type: object
    messaging.v1.external_campaign:
      example:
        messaging_service_sid: messaging_service_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        campaign_id: campaign_id
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that the Campaign belongs to."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        campaign_id:
          description: ID of the preregistered campaign.
          nullable: true
          title: campaign_id
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        messaging_service_sid:
          description: "The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource)\
            \ that the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: messaging_service_sid
          type: string
        sid:
          description: The unique string that identifies a US A2P Compliance resource
            `QE2c6890da8086d771620e9b13fadeba0b`.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^QE[0-9a-fA-F]{32}$"
          title: sid
          type: string
      title: messaging.v1.external_campaign
      type: object
    messaging.v1.linkshortening_messaging_service:
      example:
        domain_sid: domain_sid
        messaging_service_sid: messaging_service_sid
        url: https://openapi-generator.tech
      properties:
        domain_sid:
          description: The unique string identifies the domain resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DN[0-9a-fA-F]{32}$"
          title: domain_sid
          type: string
        messaging_service_sid:
          description: The unique string that identifies the messaging service
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: messaging_service_sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.linkshortening_messaging_service
      type: object
    messaging.v1.linkshortening_messaging_service_domain_association:
      example:
        domain_sid: domain_sid
        messaging_service_sid: messaging_service_sid
        url: https://openapi-generator.tech
      properties:
        domain_sid:
          description: The unique string that we created to identify the Domain resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DN[0-9a-fA-F]{32}$"
          title: domain_sid
          type: string
        messaging_service_sid:
          description: The unique string that identifies the messaging service
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: messaging_service_sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: messaging.v1.linkshortening_messaging_service_domain_association
      type: object
    messaging.v1.service:
      example:
        inbound_request_url: https://openapi-generator.tech
        area_code_geomatch: true
        friendly_name: friendly_name
        use_inbound_webhook_on_number: true
        date_updated: 2000-01-23T04:56:07.000+00:00
        usecase: usecase
        us_app_to_person_registered: true
        mms_converter: true
        date_created: 2000-01-23T04:56:07.000+00:00
        fallback_method: HEAD
        fallback_to_long_code: true
        validity_period: 1
        fallback_url: https://openapi-generator.tech
        status_callback: https://openapi-generator.tech
        sticky_sender: true
        url: https://openapi-generator.tech
        sid: sid
        scan_message_content: scan_message_content
        inbound_method: HEAD
        synchronous_validation: true
        smart_encoding: true
        account_sid: account_sid
        links: "{}"
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Service resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        area_code_geomatch:
          description: "Whether to enable [Area Code Geomatch](https://www.twilio.com/docs/messaging/services#area-code-geomatch)\
            \ on the Service Instance."
          nullable: true
          title: area_code_geomatch
          type: boolean
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        fallback_method:
          description: "The HTTP method we use to call `fallback_url`. Can be: `GET`\
            \ or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: fallback_method
          type: string
        fallback_to_long_code:
          description: "[OBSOLETE] Former feature used to fallback to long code sender\
            \ after certain short code message failures."
          nullable: true
          title: fallback_to_long_code
          type: boolean
        fallback_url:
          description: The URL that we call using `fallback_method` if an error occurs
            while retrieving or executing the TwiML from the Inbound Request URL.
            If the `use_inbound_webhook_on_number` field is enabled then the webhook
            url defined on the phone number will override the `fallback_url` defined
            for the Messaging Service.
          format: uri
          nullable: true
          title: fallback_url
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        inbound_method:
          description: The HTTP method we use to call `inbound_request_url`. Can be
            `GET` or `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: inbound_method
          type: string
        inbound_request_url:
          description: "The URL we call using `inbound_method` when a message is received\
            \ by any phone number or short code in the Service. When this property\
            \ is `null`, receiving inbound messages is disabled. All messages sent\
            \ to the Twilio phone number or short code will not be logged and received\
            \ on the Account. If the `use_inbound_webhook_on_number` field is enabled\
            \ then the webhook url defined on the phone number will override the `inbound_request_url`\
            \ defined for the Messaging Service."
          format: uri
          nullable: true
          title: inbound_request_url
          type: string
        links:
          description: The absolute URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        mms_converter:
          description: "Whether to enable the [MMS Converter](https://www.twilio.com/docs/messaging/services#mms-converter)\
            \ for messages sent through the Service instance."
          nullable: true
          title: mms_converter
          type: boolean
        scan_message_content:
          $ref: '#/components/schemas/service_enum_scan_message_content'
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          title: sid
          type: string
        smart_encoding:
          description: "Whether to enable [Smart Encoding](https://www.twilio.com/docs/messaging/services#smart-encoding)\
[...]
