openapi: 3.0.1
info:
  contact: {}
  description: |-
    Authentication is required to access all methods of the API. Enter username and password.
                    Credentials are automatically set as you type.
  title: Tradeworks
  version: "1.0"
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/tradeworks_tech/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.6.2
    format: swagger
    url: http://devui.magick.nu/api/api-docs
    version: "1.2"
  x-providerName: magick.nu
servers:
- url: http://devui.magick.nu/rest
tags:
- name: strategies
- name: tradingAccounts
- name: users
paths:
  /strategies/strategyId/{strategyId}:
    get:
      operationId: get_strategies_strategy_id_strategy_id
      parameters:
      - in: path
        name: strategyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get Strategy by ID
      tags:
      - strategies
      x-openapi-router-controller: openapi_server.controllers.strategies_controller
  /strategies/templates:
    get:
      operationId: get_strategies_templates
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get all Template Strategies
      tags:
      - strategies
      x-openapi-router-controller: openapi_server.controllers.strategies_controller
  /tradingAccounts:
    post:
      operationId: post_trading_accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradingAccount'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Add a Trading Account
      tags:
      - tradingAccounts
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.trading_accounts_controller
  /tradingAccounts/password/{username}/{brokerserver}/{mt4username}:
    put:
      operationId: put_trading_accounts_password_username_brokerserver_mt4username
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      - in: path
        name: brokerserver
        required: true
        schema:
          type: string
      - in: path
        name: mt4username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordDTO'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Update MT4 Account Password
      tags:
      - tradingAccounts
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.trading_accounts_controller
  /users:
    post:
      operationId: post_users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDTO'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Create a new Tradeworks User
      tags:
      - users
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /users/email/{email}:
    get:
      operationId: get_users_email_email
      parameters:
      - in: path
        name: email
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Check if email is available
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /users/password/{username}:
    put:
      operationId: put_users_password_username
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordDTO'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Update user's password
      tags:
      - users
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /users/username/{username}:
    get:
      operationId: get_users_username_username
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Check if username is available
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
components:
  schemas:
    PasswordDTO:
      example:
        oldPassword: oldPassword
        newPassword: newPassword
      properties:
        newPassword:
          title: newPassword
          type: string
        oldPassword:
          title: oldPassword
          type: string
      title: PasswordDTO
      type: object
    TradingAccount:
      example:
        password: password
        brokerServer: brokerServer
        magickUsername: magickUsername
        username: username
      properties:
        brokerServer:
          title: brokerServer
          type: string
        magickUsername:
          title: magickUsername
          type: string
        password:
          title: password
          type: string
        username:
          title: username
          type: string
      title: TradingAccount
      type: object
    UserDTO:
      example:
        firstName: firstName
        lastName: lastName
        password: password
        subscriptionType: subscriptionType
        affiliateId: affiliateId
        email: email
        username: username
      properties:
        affiliateId:
          title: affiliateId
          type: string
        email:
          title: email
          type: string
        firstName:
          title: firstName
          type: string
        lastName:
          title: lastName
          type: string
        password:
          title: password
          type: string
        subscriptionType:
          title: subscriptionType
          type: string
        username:
          title: username
          type: string
      title: UserDTO
      type: object
x-original-swagger-version: "2.0"
