openapi: 3.0.1
info:
  description: Azure DevTest Labs REST API version 2015-05-21-preview.
  title: DevTestLabsClient
  version: 2015-05-21-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/preview/2015-05-21-preview/DTL.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- oauth2:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs.
      operationId: lab_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Lab
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.lab_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs.
      operationId: lab_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Lab
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.lab_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources
  : get:
      description: List artifact sources.
      operationId: artifact_source_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[ArtifactSource]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[ArtifactSource]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - ArtifactSource
      x-ms-odata: '#/definitions/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifact_source_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts.
      operationId: artifact_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Artifact]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Artifact]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Artifact
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: artifact_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
            text/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Artifact
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: "Generates an ARM template for the given artifact, uploads the\
        \ required files to a storage account, and validates the generated artifact."
      operationId: artifact_generate_arm_template
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        required: true
        x-body-name: generateArmTemplateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Artifact
      x-codegen-request-body-name: generateArmTemplateRequest
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}
  : delete:
      description: Delete artifact source.
      operationId: artifact_source_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - ArtifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_source_controller
    get:
      description: Get artifact source.
      operationId: artifact_source_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - ArtifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_source_controller
    patch:
      description: Modify properties of artifact sources.
      operationId: artifact_source_patch_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
          text/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - ArtifactSource
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_source_controller
    put:
      description: Create or replace an existing artifact source.
      operationId: artifact_source_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
          text/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - ArtifactSource
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_source_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights:
    get:
      description: List cost insights.
      operationId: cost_insight_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[CostInsight]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[CostInsight]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CostInsight
      x-ms-odata: '#/definitions/CostInsight'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.cost_insight_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}
  : get:
      description: Get cost insight.
      operationId: cost_insight_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost insight.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
            text/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CostInsight
      x-openapi-router-controller: openapi_server.controllers.cost_insight_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}/refreshData
  : post:
      description: Refresh Lab's Cost Insight Data. This operation can take a while
        to complete.
      operationId: cost_insight_refresh_data
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost insight.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CostInsight
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.cost_insight_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs:
    get:
      description: List costs.
      operationId: cost_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Cost]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Cost]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Cost
      x-ms-odata: '#/definitions/Cost'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.cost_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}:
    get:
      description: Get cost.
      operationId: cost_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cost'
            text/json:
              schema:
                $ref: '#/components/schemas/Cost'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Cost
      x-openapi-router-controller: openapi_server.controllers.cost_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}/refreshData
  : post:
      description: Refresh Lab's Cost Data. This operation can take a while to complete.
      operationId: cost_refresh_data
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Cost
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.cost_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages:
    get:
      description: List custom images.
      operationId: custom_image_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[CustomImage]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[CustomImage]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CustomImage
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.custom_image_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: custom_image_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CustomImage
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.custom_image_controller
    get:
      description: Get custom image.
      operationId: custom_image_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CustomImage
      x-openapi-router-controller: openapi_server.controllers.custom_image_controller
    put:
      description: Create or replace an existing custom image. This operation can
        take a while to complete.
      operationId: custom_image_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        required: true
        x-body-name: customImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - CustomImage
      x-ms-long-running-operation: true
      x-codegen-request-body-name: customImage
      x-openapi-router-controller: openapi_server.controllers.custom_image_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas:
    get:
      description: List formulas.
      operationId: formula_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Formula]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Formula]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Formula
      x-ms-odata: '#/definitions/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.formula_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}
  : delete:
      description: Delete formula.
      operationId: formula_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Formula
      x-openapi-router-controller: openapi_server.controllers.formula_controller
    get:
      description: Get formula.
      operationId: formula_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Formula
      x-openapi-router-controller: openapi_server.controllers.formula_controller
    put:
      description: Create or replace an existing Formula. This operation can take
        a while to complete.
      operationId: formula_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
          text/json:
            schema:
              $ref: '#/components/schemas/Formula'
        required: true
        x-body-name: formula
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Formula
      x-ms-long-running-operation: true
      x-codegen-request-body-name: formula
      x-openapi-router-controller: openapi_server.controllers.formula_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages:
    get:
      description: List gallery images.
      operationId: gallery_image_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[GalleryImage]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[GalleryImage]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - GalleryImage
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_image_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies
  : post:
      description: Evaluates Lab Policy.
      operationId: policy_set_evaluate_policies
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        required: true
        x-body-name: evaluatePoliciesRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - PolicySet
      x-codegen-request-body-name: evaluatePoliciesRequest
      x-openapi-router-controller: openapi_server.controllers.policy_set_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies
  : get:
      description: List policies.
      operationId: policy_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Policy]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Policy]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Policy
      x-ms-odata: '#/definitions/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}
  : delete:
      description: Delete policy.
      operationId: policy_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Policy
      x-openapi-router-controller: openapi_server.controllers.policy_controller
    get:
      description: Get policy.
      operationId: policy_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Policy
      x-openapi-router-controller: openapi_server.controllers.policy_controller
    patch:
      description: Modify properties of policies.
      operationId: policy_patch_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
          text/json:
            schema:
              $ref: '#/components/schemas/Policy'
        required: true
        x-body-name: policy
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Policy
      x-codegen-request-body-name: policy
      x-openapi-router-controller: openapi_server.controllers.policy_controller
    put:
      description: Create or replace an existing policy.
      operationId: policy_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
          text/json:
            schema:
              $ref: '#/components/schemas/Policy'
        required: true
        x-body-name: policy
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Policy
      x-codegen-request-body-name: policy
      x-openapi-router-controller: openapi_server.controllers.policy_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules:
    get:
      description: List schedules.
      operationId: schedule_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Schedule]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Schedule]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}
  : delete:
      description: Delete schedule. This operation can take a while to complete.
      operationId: schedule_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
    get:
      description: Get schedule.
      operationId: schedule_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
    patch:
      description: Modify properties of schedules.
      operationId: schedule_patch_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
          text/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
        x-body-name: schedule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-codegen-request-body-name: schedule
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
    put:
      description: Create or replace an existing schedule. This operation can take
        a while to complete.
      operationId: schedule_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
          text/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
        x-body-name: schedule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-ms-long-running-operation: true
      x-codegen-request-body-name: schedule
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute
  : post:
      description: Execute a schedule. This operation can take a while to complete.
      operationId: schedule_execute
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - Schedule
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.schedule_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines
  : get:
      description: List virtual machines.
      operationId: virtual_machine_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[LabVirtualMachine]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[LabVirtualMachine]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-odata: '#/definitions/LabVirtualMachine'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}
  : delete:
      description: Delete virtual machine. This operation can take a while to complete.
      operationId: virtual_machine_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
    get:
      description: Get virtual machine.
      operationId: virtual_machine_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
    patch:
      description: Modify properties of virtual machines.
      operationId: virtual_machine_patch_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
          text/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
        required: true
        x-body-name: labVirtualMachine
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-codegen-request-body-name: labVirtualMachine
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
    put:
      description: Create or replace an existing Virtual Machine. This operation can
        take a while to complete.
      operationId: virtual_machine_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
          text/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
        required: true
        x-body-name: labVirtualMachine
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-long-running-operation: true
      x-codegen-request-body-name: labVirtualMachine
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts
  : post:
      description: Apply artifacts to Lab VM. This operation can take a while to complete.
      operationId: virtual_machine_apply_artifacts
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
        required: true
        x-body-name: applyArtifactsRequest
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-long-running-operation: true
      x-codegen-request-body-name: applyArtifactsRequest
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start
  : post:
      description: Start a Lab VM. This operation can take a while to complete.
      operationId: virtual_machine_start
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop
  : post:
      description: Stop a Lab VM. This operation can take a while to complete.
      operationId: virtual_machine_stop
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual Machine.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualMachine
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks
  : get:
      description: List virtual networks.
      operationId: virtual_network_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderBy
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[VirtualNetwork]"
            text/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[VirtualNetwork]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualNetwork
      x-ms-odata: '#/definitions/VirtualNetwork'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}
  : delete:
      description: Delete virtual network. This operation can take a while to complete.
      operationId: virtual_network_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualNetwork
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_network_controller
    get:
      description: Get virtual network.
      operationId: virtual_network_get_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualNetwork
      x-openapi-router-controller: openapi_server.controllers.virtual_network_controller
    patch:
      description: Modify properties of virtual networks.
      operationId: virtual_network_patch_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        required: true
        x-body-name: virtualNetwork
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualNetwork
      x-codegen-request-body-name: virtualNetwork
      x-openapi-router-controller: openapi_server.controllers.virtual_network_controller
    put:
      description: Create or replace an existing virtual network. This operation can
        take a while to complete.
      operationId: virtual_network_create_or_update_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-05-21-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        required: true
        x-body-name: virtualNetwork
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - oauth2:
        - user_impersonation
      tags:
      - VirtualNetwork
      x-ms-long-running-operation: true
      x-codegen-request-body-name: virtualNetwork
      x-openapi-router-controller: openapi_server.controllers.virtual_network_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}:
    delete:
      description: Delete lab. This operation can take a while to complete.
      operationId: lab_delete_resource
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: name
        required: true
        schema:
[...]
