openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/linkedWorkspace.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-linkedWorkspace
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/linkedWorkspace
  : get:
      description: Retrieve the linked workspace for the account id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/linkedworkspaceoperations
      operationId: LinkedWorkspace_Get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedWorkspace'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedWorkspace_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - LinkedWorkspace
      x-ms-examples:
        Get the linked workspace of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContosoAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.OperationalInsights/workspaces/ContosoWorkspace
              headers: {}
      x-accepts:
      - application/json
components:
  schemas:
    LinkedWorkspace:
      description: Definition of the linked workspace.
      example:
        id: id
      properties:
        id:
          description: Gets the id of the linked workspace.
          readOnly: true
          type: string
      type: object
    LinkedWorkspace_Get_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

