openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure PostgreSQL resources including servers, databases,\
    \ firewall rules, log files and configurations."
  title: PostgreSQLManagementClient
  version: 2017-04-30-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/postgresql.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: postgresql
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DBforPostgreSQL/operations:
    get:
      description: Lists all of the available REST API operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
      tags:
      - Operations
      x-ms-examples:
        OperationList:
          parameters:
            api-version: 2017-04-30-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Returns the list of Performance Tiers available.
                    operation: List Performance Tiers
                    provider: Microsoft DB for PostgreSQL
                    resource: Performance Tiers
                  name: Microsoft.DBforPostgreSQL/locations/performanceTiers/read
                - display:
                    description: Return the list of servers or gets the properties
                      for the specified server.
                    operation: List/Get PostgreSQL Servers
                    provider: Microsoft DB for PostgreSQL
                    resource: PostgreSQL Server
                  name: Microsoft.DBforPostgreSQL/servers/read
                - display:
                    description: Creates a server with the specified parameters or
                      update the properties or tags for the specified server.
                    operation: Create/Update PostgreSQL Server
                    provider: Microsoft DB for PostgreSQL
                    resource: PostgreSQL Server
                  name: Microsoft.DBforPostgreSQL/servers/write
                - display:
                    description: Deletes an existing server.
                    operation: Delete PostgreSQL Server
                    provider: Microsoft DB for PostgreSQL
                    resource: PostgreSQL Server
                  name: Microsoft.DBforPostgreSQL/servers/delete
                - display:
                    description: Returns the list of Performance Tiers available.
                    operation: List Performance Tiers
                    provider: Microsoft DB for PostgreSQL
                    resource: Performance Tiers
                  name: Microsoft.DBforPostgreSQL/performanceTiers/read
                - display:
                    description: Return the list of firewall rules for a server or
                      gets the properties for the specified firewall rule.
                    operation: List/Get Firewall Rules
                    provider: Microsoft DB for PostgreSQL
                    resource: Firewall Rules
                  name: Microsoft.DBforPostgreSQL/servers/firewallRules/read
                - display:
                    description: Creates a firewall rule with the specified parameters
                      or update an existing rule.
                    operation: Create/Update Firewall Rule
                    provider: Microsoft DB for PostgreSQL
                    resource: Firewall Rules
                  name: Microsoft.DBforPostgreSQL/servers/firewallRules/write
                - display:
                    description: Deletes an existing firewall rule.
                    operation: Delete Firewall Rule
                    provider: Microsoft DB for PostgreSQL
                    resource: Firewall Rules
                  name: Microsoft.DBforPostgreSQL/servers/firewallRules/delete
                - display:
                    description: Return types of metrics that are available for databases
                    operation: Get database metric definitions
                    provider: Microsoft DB for PostgreSQL
                    resource: Database Metric Definition
                  name: Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/metricDefinitions/read
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        displayDescription: CPU percent
                        displayName: CPU percent
                        fillGapWithZero: true
                        name: cpu_percent
                        unit: Percent
                      - aggregationType: Average
                        displayDescription: Compute Unit limit
                        displayName: Compute Unit limit
                        name: compute_limit
                        unit: Count
                      - aggregationType: Average
                        displayDescription: Compute Unit percentage
                        displayName: Compute Unit percentage
                        fillGapWithZero: true
                        name: compute_consumption_percent
                        unit: Percent
                      - aggregationType: Average
                        displayDescription: Memory percent
                        displayName: Memory percent
                        fillGapWithZero: true
                        name: memory_percent
                        unit: Percent
                      - aggregationType: Average
                        displayDescription: IO percent
                        displayName: IO percent
                        fillGapWithZero: true
                        name: io_consumption_percent
                        unit: Percent
                      - aggregationType: Average
                        displayDescription: Storage percentage
                        displayName: Storage percentage
                        name: storage_percent
                        unit: Percent
                      - aggregationType: Average
                        displayDescription: Storage used
                        displayName: Storage used
                        name: storage_used
                        unit: Bytes
                      - aggregationType: Average
                        displayDescription: Storage limit
                        displayName: Storage limit
                        name: storage_limit
                        unit: Bytes
                      - aggregationType: Average
                        displayDescription: Total active connections
                        displayName: Total active connections
                        fillGapWithZero: true
                        name: active_connections
                        unit: Count
                      - aggregationType: Average
                        displayDescription: Total failed connections
                        displayName: Total failed connections
                        fillGapWithZero: true
                        name: connections_failed
                        unit: Count
                - display:
                    description: Gets the disagnostic setting for the resource
                    operation: Read diagnostic setting
                    provider: Microsoft DB for PostgreSQL
                    resource: Database Metric Definition
                  name: Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/diagnosticSettings/read
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Write diagnostic setting
                    provider: Microsoft DB for PostgreSQL
                    resource: Database Metric Definition
                  name: Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/diagnosticSettings/write
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/checkNameAvailability:
    post:
      description: Check the availability of name for resource
      operationId: check_name_availability_execute
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityRequest'
        description: The required parameters for checking if resource name is available.
        required: true
        x-body-name: nameAvailabilityRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
          description: OK
      tags:
      - CheckNameAvailability
      x-ms-examples:
        NameAvailability:
          parameters:
            api-version: 2017-04-30-preview
            nameAvailabilityRequest:
              name: name1
              type: Microsoft.DBforPostgreSQL
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: ""
      x-codegen-request-body-name: nameAvailabilityRequest
      x-openapi-router-controller: openapi_server.controllers.check_name_availability_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/performanceTiers:
    get:
      description: List all the performance tiers at specified location in a given
        subscription.
      operationId: location_based_performance_tier_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the location.
        in: path
        name: locationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTierListResult'
          description: OK
      tags:
      - LocationBasedPerformanceTier
      x-ms-examples:
        PerformanceTiersList:
          parameters:
            api-version: 2017-04-30-preview
            locationName: WestUS
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - backupRetentionDays: 7
                  id: Basic
                  serviceLevelObjectives:
                  - dtu: 50
                    edition: Basic
                    id: PGSQLB50
                    storageMB: 51200
                  - dtu: 100
                    edition: Basic
                    id: PGSQLB100
                    storageMB: 51200
                - backupRetentionDays: 35
                  id: Standard
                  serviceLevelObjectives:
                  - dtu: 100
                    edition: Standard
                    id: PGSQLS100
                    storageMB: 128000
                  - dtu: 200
                    edition: Standard
                    id: PGSQLS200
                    storageMB: 128000
                  - dtu: 400
                    edition: Standard
                    id: PGSQLS400
                    storageMB: 128000
                  - dtu: 800
                    edition: Standard
                    id: PGSQLS800
                    storageMB: 128000
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.location_based_performance_tier_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/performanceTiers:
    get:
      description: List all the performance tiers in a given subscription.
      operationId: performance_tiers_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTierListResult'
          description: OK
      tags:
      - PerformanceTiers
      x-ms-examples:
        PerformanceTiersList:
          parameters:
            api-version: 2017-04-30-preview
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - backupRetentionDays: 7
                  id: Basic
                  serviceLevelObjectives:
                  - dtu: 50
                    edition: Basic
                    id: PGSQLB50
                    storageMB: 51200
                  - dtu: 100
                    edition: Basic
                    id: PGSQLB100
                    storageMB: 51200
                - backupRetentionDays: 35
                  id: Standard
                  serviceLevelObjectives:
                  - dtu: 100
                    edition: Standard
                    id: PGSQLS100
                    storageMB: 128000
                  - dtu: 200
                    edition: Standard
                    id: PGSQLS200
                    storageMB: 128000
                  - dtu: 400
                    edition: Standard
                    id: PGSQLS400
                    storageMB: 128000
                  - dtu: 800
                    edition: Standard
                    id: PGSQLS800
                    storageMB: 128000
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.performance_tiers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/servers:
    get:
      description: List all the servers in a given subscription.
      operationId: servers_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerListResult'
          description: OK
      tags:
      - Servers
      x-ms-examples:
        ServerList:
          parameters:
            api-version: 2017-04-30-preview
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                  location: onebox
                  name: testserver
                  properties:
                    administratorLogin: cloudsa
                    fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                    sslEnforcement: Enabled
                    storageMB: 1024
                    userVisibleState: Ready
                  sku:
                    capacity: 100
                    name: PGSQLB100
                    tier: Basic
                  tags:
                    elasticServer: "1"
                  type: Microsoft.DBforPostgreSQL/servers
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/serv1
                  location: onebox
                  name: serv1
                  properties:
                    administratorLogin: cloudsa
                    fullyQualifiedDomainName: serv1.test-vm1.onebox.xdb.mscds.com
                    sslEnforcement: Enabled
                    storageMB: 1024
                    userVisibleState: Ready
                  sku:
                    capacity: 100
                    name: PGSQLB100
                    tier: Basic
                  tags:
                    elasticServer: "1"
                  type: Microsoft.DBforPostgreSQL/servers
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup2/providers/Microsoft.DBforPostgreSQL/servers/serv2
                  location: onebox
                  name: serv2
                  properties:
                    administratorLogin: cloudsa
                    fullyQualifiedDomainName: serv2.test-vm1.onebox.xdb.mscds.com
                    sslEnforcement: Enabled
                    storageMB: 1024
                    userVisibleState: Ready
                  sku:
                    capacity: 100
                    name: PGSQLB100
                    tier: Basic
                  tags:
                    elasticServer: "1"
                  type: Microsoft.DBforPostgreSQL/servers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers:
    get:
      description: List all the servers in a given resource group.
      operationId: servers_list_by_resource_group
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerListResult'
          description: OK
      tags:
      - Servers
      x-ms-examples:
        ServerListByResourceGroup:
          parameters:
            api-version: 2017-04-30-preview
            resourceGroupName: TestGroup
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/serv1
                  location: onebox
                  name: serv1
                  properties:
                    administratorLogin: cloudsa
                    fullyQualifiedDomainName: serv1.test-vm1.onebox.xdb.mscds.com
                    sslEnforcement: Enabled
                    storageMB: 1024
                    userVisibleState: Ready
                  sku:
                    capacity: 100
                    name: PGSQLB100
                    tier: Basic
                  tags:
                    elasticServer: "1"
                  type: Microsoft.DBforPostgreSQL/servers
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                  location: onebox
                  name: testserver
                  properties:
                    administratorLogin: cloudsa
                    fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                    sslEnforcement: Enabled
                    storageMB: 1024
                    userVisibleState: Ready
                  sku:
                    capacity: 100
                    name: PGSQLB100
                    tier: Basic
                  tags:
                    elasticServer: "1"
                  type: Microsoft.DBforPostgreSQL/servers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}:
    delete:
      description: Deletes a server.
      operationId: servers_delete
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - Servers
      x-ms-examples:
        ServerDelete:
          parameters:
            api-version: 2017-04-30-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    get:
      description: Gets information about a server.
      operationId: servers_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: OK
      tags:
      - Servers
      x-ms-examples:
        ServerGet:
          parameters:
            api-version: 2017-04-30-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                location: onebox
                name: testserver
                properties:
                  administratorLogin: cloudsa
                  fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                  sslEnforcement: Enabled
                  storageMB: 1024
                  userVisibleState: Ready
                sku:
                  capacity: 100
                  name: PGSQLB100
                  tier: Basic
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforPostgreSQL/servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    patch:
      description: Updates an existing server. The request body can contain one to
        many of the properties present in the normal server definition.
      operationId: servers_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdateParameters'
        description: The required parameters for updating a server.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Servers
      x-ms-examples:
        ServerUpdate:
          parameters:
            api-version: 2017-04-30-preview
            parameters:
              properties:
                administratorLoginPassword: newpassword
                sslEnforcement: Disabled
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                location: onebox
                name: testserver
                properties:
                  administratorLogin: cloudsa
                  fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                  sslEnforcement: Disabled
                  storageMB: 1024
                  userVisibleState: Ready
                sku:
                  capacity: 100
                  name: PGSQLB100
                  tier: Basic
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforPostgreSQL/servers
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    put:
      description: "Creates a new server, or will overwrite an existing server."
      operationId: servers_create
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerForCreate'
        description: The required parameters for creating or updating a server.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: Created
        "202":
          content: {}
          description: Accepted
      tags:
      - Servers
      x-ms-examples:
        ServerCreate:
          parameters:
            api-version: 2017-04-30-preview
            parameters:
              location: OneBox
              properties:
                administratorLogin: cloudsa
                administratorLoginPassword: password
                createMode: Default
                sslEnforcement: Enabled
                storageMB: 1024
              sku:
                capacity: 100
                name: SkuName
                tier: Basic
              tags:
                ElasticServer: "1"
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                location: onebox
                name: testserver
                properties:
                  administratorLogin: cloudsa
                  fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                  sslEnforcement: Enabled
                  storageMB: 1024
                  userVisibleState: Ready
                sku:
                  capacity: 100
                  name: PGSQLB100
                  tier: Basic
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforPostgreSQL/servers
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver
                location: onebox
                name: testserver
                properties:
                  administratorLogin: cloudsa
                  fullyQualifiedDomainName: testserver.test-vm1.onebox.xdb.mscds.com
                  sslEnforcement: Enabled
                  storageMB: 1024
                  userVisibleState: Ready
                sku:
                  capacity: 100
                  name: PGSQLB100
                  tier: Basic
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforPostgreSQL/servers
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/configurations
  : get:
      description: List all the configurations in a given server.
      operationId: configurations_list_by_server
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationListResult'
          description: OK
      tags:
      - Configurations
      x-ms-examples:
        ConfigurationList:
          parameters:
            api-version: 2017-04-30-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/array_nulls
                  name: array_nulls
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enable input of NULL elements in arrays.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/backslash_quote
                  name: backslash_quote
                  properties:
                    allowedValues: "safe_encoding,on,off"
                    dataType: Enumeration
                    defaultValue: safe_encoding
                    description: Sets whether "\'" is allowed in string literals.
                    source: system-default
                    value: safe_encoding
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/bytea_output
                  name: bytea_output
                  properties:
                    allowedValues: "escape,hex"
                    dataType: Enumeration
                    defaultValue: hex
                    description: Sets the output format for bytea.
                    source: system-default
                    value: hex
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/check_function_bodies
                  name: check_function_bodies
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Check function bodies during CREATE FUNCTION.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_encoding
                  name: client_encoding
                  properties:
                    allowedValues: "BIG5,EUC_CN,EUC_JP,EUC_JIS_2004,EUC_KR,EUC_TW,GB18030,GBK,ISO_8859_5,ISO_8859_6,ISO_8859_7,ISO_8859_8,JOHAB,KOI8R,KOI8U,LATIN1,LATIN2,LATIN3,LATIN4,LATIN5,LATIN6,LATIN7,LATIN8,LATIN9,LATIN10,MULE_INTERNAL,SJIS,SHIFT_JIS_2004,SQL_ASCII,UHC,UTF8,WIN866,WIN874,WIN1250,WIN1251,WIN1252,WIN1253,WIN1254,WIN1255,WIN1256,WIN1257,WIN1258"
                    dataType: Enumeration
                    defaultValue: sql_ascii
                    description: Sets the client's character set encoding.
                    source: system-default
                    value: sql_ascii
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_min_messages
                  name: client_min_messages
                  properties:
                    allowedValues: "debug5,debug4,debug3,debug2,debug1,log,notice,warning,error"
                    dataType: Enumeration
                    defaultValue: notice
                    description: Sets the message levels that are sent to the client.
                    source: system-default
                    value: notice
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/constraint_exclusion
                  name: constraint_exclusion
                  properties:
                    allowedValues: "partition,on,off"
                    dataType: Enumeration
                    defaultValue: partition
                    description: Enables the planner to use constraints to optimize
                      queries.
                    source: system-default
                    value: partition
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_index_tuple_cost
                  name: cpu_index_tuple_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "0.005"
                    description: Sets the planner's estimate of the cost of processing
                      each index entry during an index scan.
                    source: system-default
                    value: "0.005"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_operator_cost
                  name: cpu_operator_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "0.0025"
                    description: Sets the planner's estimate of the cost of processing
                      each operator or function call.
                    source: system-default
                    value: "0.0025"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_tuple_cost
                  name: cpu_tuple_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "0.01"
                    description: Sets the planner's estimate of the cost of processing
                      each tuple (row).
                    source: system-default
                    value: "0.01"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cursor_tuple_fraction
                  name: cursor_tuple_fraction
                  properties:
                    allowedValues: 0-1
                    dataType: Numeric
                    defaultValue: "0.1"
                    description: Sets the planner's estimate of the fraction of a
                      cursor's rows that will be retrieved.
                    source: system-default
                    value: "0.1"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/datestyle
                  name: datestyle
                  properties:
                    allowedValues: "(iso|postgres|sql|german)\\,\\s(dmy|mdy|ymd)"
                    dataType: String
                    defaultValue: "iso, mdy"
                    description: Sets the display format for date and time values.
                    source: system-default
                    value: "iso, mdy"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/deadlock_timeout
                  name: deadlock_timeout
                  properties:
                    allowedValues: 1-2147483647
                    dataType: Integer
                    defaultValue: "1000"
                    description: "Sets the amount of time, in milliseconds, to wait\
                      \ on a lock before checking for deadlock."
                    source: system-default
                    value: "1000"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_parse
                  name: debug_print_parse
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs each query's parse tree.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_plan
                  name: debug_print_plan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs each query's execution plan.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_rewritten
                  name: debug_print_rewritten
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs each query's rewritten parse tree.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_statistics_target
                  name: default_statistics_target
                  properties:
                    allowedValues: 1-10000
                    dataType: Integer
                    defaultValue: "100"
                    description: Sets the default statistics target.
                    source: system-default
                    value: "100"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_text_search_config
                  name: default_text_search_config
                  properties:
                    allowedValues: "[A-Za-z\\._]+"
                    dataType: String
                    defaultValue: pg_catalog.english
                    description: Sets default text search configuration.
                    source: system-default
                    value: pg_catalog.english
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_deferrable
                  name: default_transaction_deferrable
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Sets the default deferrable status of new transactions.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_isolation
                  name: default_transaction_isolation
                  properties:
                    allowedValues: "serializable,repeatable read,read committed,read\
                      \ uncommitted"
                    dataType: Enumeration
                    defaultValue: read committed
                    description: Sets the transaction isolation level of each new
                      transaction.
                    source: system-default
                    value: read committed
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_read_only
                  name: default_transaction_read_only
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Sets the default read-only status of new transactions.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_with_oids
                  name: default_with_oids
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Create new tables with OIDs by default.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_bitmapscan
                  name: enable_bitmapscan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of bitmap-scan plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashagg
                  name: enable_hashagg
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of hashed aggregation plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashjoin
                  name: enable_hashjoin
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of hash join plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexonlyscan
                  name: enable_indexonlyscan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of index-only-scan plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexscan
                  name: enable_indexscan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of index-scan plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_material
                  name: enable_material
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of materialization.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_mergejoin
                  name: enable_mergejoin
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of merge join plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_nestloop
                  name: enable_nestloop
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of nested-loop join plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_seqscan
                  name: enable_seqscan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of sequential-scan plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_sort
                  name: enable_sort
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of explicit sort steps.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_tidscan
                  name: enable_tidscan
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables the planner's use of TID scan plans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/escape_string_warning
                  name: escape_string_warning
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Warn about backslash escapes in ordinary string literals.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/exit_on_error
                  name: exit_on_error
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Terminate session on any error.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/extra_float_digits
                  name: extra_float_digits
                  properties:
                    allowedValues: -15-3
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the number of digits displayed for floating-point
                      values.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/from_collapse_limit
                  name: from_collapse_limit
                  properties:
                    allowedValues: 1-2147483647
                    dataType: Integer
                    defaultValue: "8"
                    description: Sets the FROM-list size beyond which subqueries are
                      not collapsed.
                    source: system-default
                    value: "8"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo
                  name: geqo
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enables genetic query optimization.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_effort
                  name: geqo_effort
                  properties:
                    allowedValues: 1-10
                    dataType: Integer
                    defaultValue: "5"
                    description: "GEQO: effort is used to set the default for other\
                      \ GEQO parameters."
                    source: system-default
                    value: "5"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_generations
                  name: geqo_generations
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: "GEQO: number of iterations of the algorithm."
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_pool_size
                  name: geqo_pool_size
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: "GEQO: number of individuals in the population."
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_seed
                  name: geqo_seed
                  properties:
                    allowedValues: 0-1
                    dataType: Numeric
                    defaultValue: "0.0"
                    description: "GEQO: seed for random path selection."
                    source: system-default
                    value: "0.0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_selection_bias
                  name: geqo_selection_bias
                  properties:
                    allowedValues: 1.5-2
                    dataType: Numeric
                    defaultValue: "2.0"
                    description: "GEQO: selective pressure within the population."
                    source: system-default
                    value: "2.0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_threshold
                  name: geqo_threshold
                  properties:
                    allowedValues: 2-2147483647
                    dataType: Integer
                    defaultValue: "12"
                    description: Sets the threshold of FROM items beyond which GEQO
                      is used.
                    source: system-default
                    value: "12"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/gin_fuzzy_search_limit
                  name: gin_fuzzy_search_limit
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum allowed result for exact search
                      by GIN.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/intervalstyle
                  name: intervalstyle
                  properties:
                    allowedValues: "postgres,postgres_verbose,sql_standard,iso_8601"
                    dataType: Enumeration
                    defaultValue: postgres
                    description: Sets the display format for interval values.
                    source: system-default
                    value: postgres
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/join_collapse_limit
                  name: join_collapse_limit
                  properties:
                    allowedValues: 1-2147483647
                    dataType: Integer
                    defaultValue: "8"
                    description: Sets the FROM-list size beyond which JOIN constructs
                      are not flattened.
                    source: system-default
                    value: "8"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/lock_timeout
                  name: lock_timeout
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum allowed duration (in milliseconds)
                      of any wait for a lock. 0 turns this off.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_checkpoints
                  name: log_checkpoints
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs each checkpoint.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_connections
                  name: log_connections
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs each successful connection.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_disconnections
                  name: log_disconnections
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: "Logs end of a session, including duration."
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_duration
                  name: log_duration
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs the duration of each completed SQL statement.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_error_verbosity
                  name: log_error_verbosity
                  properties:
                    allowedValues: "terse,default,verbose"
                    dataType: Enumeration
                    defaultValue: default
                    description: Sets the verbosity of logged messages.
                    source: system-default
                    value: default
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_lock_waits
                  name: log_lock_waits
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Logs long lock waits.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_duration_statement
                  name: log_min_duration_statement
                  properties:
                    allowedValues: -1-2147483647
                    dataType: Integer
                    defaultValue: "-1"
                    description: Sets the minimum execution time (in milliseconds)
                      above which statements will be logged. -1 disables logging statement
                      durations.
                    source: system-default
                    value: "-1"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_error_statement
                  name: log_min_error_statement
                  properties:
                    allowedValues: "debug5,debug4,debug3,debug2,debug1,info,notice,warning,error,log,fatal,panic"
                    dataType: Enumeration
                    defaultValue: error
                    description: Causes all statements generating error at or above
                      this level to be logged.
                    source: system-default
                    value: error
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_messages
                  name: log_min_messages
                  properties:
                    allowedValues: "debug5,debug4,debug3,debug2,debug1,info,notice,warning,error,log,fatal,panic"
                    dataType: Enumeration
                    defaultValue: warning
                    description: Sets the message levels that are logged.
                    source: system-default
                    value: warning
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_statement
                  name: log_statement
                  properties:
                    allowedValues: "none,ddl,mod,all"
                    dataType: Enumeration
                    defaultValue: none
                    description: Sets the type of statements logged.
                    source: system-default
                    value: none
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_locks_per_transaction
                  name: max_locks_per_transaction
                  properties:
                    allowedValues: 10-2147483647
                    dataType: Integer
                    defaultValue: "64"
                    description: Sets the maximum number of locks per transaction.
                    source: system-default
                    value: "64"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_pred_locks_per_transaction
                  name: max_pred_locks_per_transaction
                  properties:
                    allowedValues: 10-2147483647
                    dataType: Integer
                    defaultValue: "64"
                    description: Sets the maximum number of predicate locks per transaction.
                    source: system-default
                    value: "64"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_prepared_transactions
                  name: max_prepared_transactions
                  properties:
                    allowedValues: 0-8388607
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum number of simultaneously prepared
                      transactions.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/quote_all_identifiers
                  name: quote_all_identifiers
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: "When generating SQL fragments, quote all identifiers."
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/random_page_cost
                  name: random_page_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "4.0"
                    description: Sets the planner's estimate of the cost of a nonsequentially
                      fetched disk page.
                    source: system-default
                    value: "4.0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/search_path
                  name: search_path
                  properties:
                    allowedValues: "[A-Za-z.\"$, ]+"
                    dataType: String
                    defaultValue: "\"$user\", public"
                    description: Sets the schema search order for names that are not
                      schema-qualified.
                    source: system-default
                    value: "\"$user\", public"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/seq_page_cost
                  name: seq_page_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "1.0"
                    description: Sets the planner's estimate of the cost of a sequentially
                      fetched disk page.
                    source: system-default
                    value: "1.0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/sql_inheritance
                  name: sql_inheritance
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Causes subtables to be included by default in various
                      commands.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/standard_conforming_strings
                  name: standard_conforming_strings
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Causes '...' strings to treat backslashes literally.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/statement_timeout
                  name: statement_timeout
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum allowed duration (in milliseconds)
                      of any statement. 0 turns this off.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/synchronize_seqscans
                  name: synchronize_seqscans
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "on"
                    description: Enable synchronized sequential scans.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/synchronous_commit
                  name: synchronous_commit
                  properties:
                    allowedValues: "local,remote_write,on,off"
                    dataType: Enumeration
                    defaultValue: "on"
                    description: Sets the current transaction's synchronization level.
                    source: system-default
                    value: "on"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/transform_null_equals
                  name: transform_null_equals
                  properties:
                    allowedValues: "on,off"
                    dataType: Boolean
                    defaultValue: "off"
                    description: Treats "expr=NULL" as "expr IS NULL".
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/xmlbinary
                  name: xmlbinary
                  properties:
                    allowedValues: "base64,hex"
                    dataType: Enumeration
                    defaultValue: base64
                    description: Sets how binary values are to be encoded in XML.
                    source: system-default
                    value: base64
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/xmloption
                  name: xmloption
                  properties:
                    allowedValues: "content,document"
                    dataType: Enumeration
                    defaultValue: content
                    description: Sets whether XML data in implicit parsing and serialization
                      operations is to be considered as documents or content fragments.
                    source: system-default
                    value: content
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/force_parallel_mode
                  name: force_parallel_mode
                  properties:
                    allowedValues: "off,on,regress"
                    dataType: Enumeration
                    defaultValue: "off"
                    description: Forces use of parallel query facilities.
                    source: system-default
                    value: "off"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/idle_in_transaction_session_timeout
                  name: idle_in_transaction_session_timeout
                  properties:
                    allowedValues: 0-2147483647
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum allowed duration of any idling transaction.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_parallel_workers_per_gather
                  name: max_parallel_workers_per_gather
                  properties:
                    allowedValues: 0-1024
                    dataType: Integer
                    defaultValue: "0"
                    description: Sets the maximum number of parallel processes per
                      executor node.
                    source: system-default
                    value: "0"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/min_parallel_relation_size
                  name: min_parallel_relation_size
                  properties:
                    allowedValues: 0-715827882
                    dataType: Integer
                    defaultValue: "8388608"
                    description: Sets the minimum size of relations to be considered
                      for parallel scan.
                    source: system-default
                    value: "8388608"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/parallel_setup_cost
                  name: parallel_setup_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "1000"
                    description: Sets the planner's estimate of the cost of starting
                      up worker processes for parallel query.
                    source: system-default
                    value: "1000"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/parallel_tuple_cost
                  name: parallel_tuple_cost
                  properties:
                    allowedValues: 0-1.79769e+308
                    dataType: Numeric
                    defaultValue: "0.1"
                    description: Sets the planner's estimate of the cost of passing
                      each tuple (row) from worker to master backend.
                    source: system-default
                    value: "0.1"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_retention_days
                  name: log_retention_days
                  properties:
                    allowedValues: 1-7
                    dataType: Integer
                    defaultValue: "3"
                    description: Sets how many days a log file is saved for.
                    source: system-default
                    value: "3"
                  type: Microsoft.DBforPostgreSQL/servers/configurations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/configurations/{configurationName}
  : get:
      description: Gets information about a configuration of server.
      operationId: configurations_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server configuration.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
          description: OK
      tags:
      - Configurations
      x-ms-examples:
        ConfigurationGet:
          parameters:
            api-version: 2017-04-30-preview
            configurationName: array_nulls
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/array_nulls
                name: array_nulls
                properties:
                  allowedValues: "on,off"
                  dataType: Boolean
                  defaultValue: "on"
                  description: Enable input of NULL elements in arrays.
                  source: system-default
                  value: "on"
                type: Microsoft.DBforPostgreSQL/servers/configurations
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
    put:
      description: Updates a configuration of a server.
      operationId: configurations_create_or_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server configuration.
        in: path
        name: configuration_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Configuration'
        description: The required parameters for updating a server configuration.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Configurations
      x-ms-examples:
        ConfigurationCreateOrUpdate:
          parameters:
            api-version: 2017-04-30-preview
            configurationName: array_nulls
            parameters:
              properties:
                source: user-override
                value: "off"
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/array_nulls
                name: array_nulls
                properties:
                  allowedValues: "on,off"
                  dataType: Boolean
                  defaultValue: "on"
                  description: Enable input of NULL elements in arrays.
                  source: user-override
                  value: "off"
                type: Microsoft.DBforPostgreSQL/servers/configurations
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/databases
  : get:
      description: List all the databases in a given server.
      operationId: databases_list_by_server
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        DatabaseList:
          parameters:
            api-version: 2017-04-30-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/databases/db1
                  name: db1
                  properties:
                    charset: UTF8
                    collation: English_United States.1252
                  type: Microsoft.DBforPostgreSQL/servers/databases
                - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/databases/db2
                  name: db2
                  properties:
                    charset: UTF8
                    collation: English_United States.1252
                  type: Microsoft.DBforPostgreSQL/servers/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/databases/{databaseName}
  : delete:
      description: Deletes a database.
      operationId: databases_delete
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - Databases
      x-ms-examples:
        DatabaseDelete:
          parameters:
            api-version: 2017-04-30-preview
            databaseName: db1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    get:
      description: Gets information about a database.
      operationId: databases_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        DatabaseGet:
          parameters:
            api-version: 2017-04-30-preview
            databaseName: db1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/databases/db1
                name: db1
                properties:
                  charset: UTF8
                  collation: English_United States.1252
                type: Microsoft.DBforPostgreSQL/servers/databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    put:
      description: Creates a new database or updates an existing database.
      operationId: databases_create_or_update
      parameters:
      - description: The API version to use for the request.
[...]
