openapi: 3.0.1
info:
  contact:
    name: openapi@mastercard.com
  description: Mastercard ABU API
  license:
    name: Mastercard
    url: http://www.mastercard.com
  title: MasterCard ABU API
  version: 1.1.0
  x-artifactId: maws
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/automatic-billing-updater-abu
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MAWS
servers:
- url: https://api.mastercard.com/maws
paths:
  /v1/maws:
    post:
      description: |-
        <ul>
          <li><p><b>Pull model:</b></p>
            <br>
            <p>To receive information for a given PAN, the customer sends a request and will receive a response with the most up to date information.</p>
            <p>In this page, customers can execute samples of requests to explore the pattern of the API responses. However, once the customer decides to start using the SDK, it is necessary to be fully onboarded to ABU API Pull model.</p>
          </li>
          <br>
          <li><p><b>Push model:</b></p>
            <br>
            <p>Customers can choose to automatically receive ABU account update notifications on a designated endpoint. This means that a customer can subscribe to each PAN in order to receive updates, so that when these PANs have any changes, the customer will receive the updates via notifications on the designated endpoint.</p>
            <p>Different fields on the API are mandatory to use this model.</p><p>In order to complete a full end-to-end test scenario (including the notifications), it is necessary to be fully onboarded on ABU API Push model:</p>
            <p>- An endpoint provided by the customer must be registered with Mastercard so that notifications can be pro-actively sent out to the customer.</p>
            <p>- A certificate provided by Mastercard representative must be used by the customer to receive notifications on the designated endpoint.</p>
            <br>
            <p><b>* For customers who are already enrolled to ABU API Pull model and want to start using ABU API Push model, it is necessary to perform a technical enrollment that involves a certificate exchange and must be registered as an ABU API Push model user.</b></p>
            <br>
            <p>For more details on how to proceed with onboarding for ABU API push model contact abu_push_onboarding@mastercard.com.</p><p>Note: This email is for ABU API push onboarding only. For general ABU API inquiry questions contact api_support@mastercard.com and for general ABU questions contact abu_helpdesk@mastercard.com.</p>
          </li>
        </ul>
      operationId: abu_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ABU'
        description: Request for ABU API
        required: true
        x-body-name: Abu Request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbuResponse'
          description: OK
        "400":
          content: {}
          description: "Possible causes: <br>Validation failure or System error.</br>"
        "401":
          content: {}
          description: Possible causes:<br>ClientID not provisioned.<br>
        "500":
          content: {}
          description: System error.
      summary: Access methods for merchants to ABU program.
      tags:
      - ABU
      x-action: post
      x-samples:
      - name: ABU_sample_request
        request:
          application/json: |-
            {
              "jsonrpc":"2.0",
              "method":"abu",
              "params": {
                  "merchantId":"000111222333456",
                  "ica": "1111",
                  "oldAccountNumber":"5573491171027315",
                  "oldExpirationDate":"0714",
                  "discretionaryData":"RandomData",
                  "subMerchantId":"000000000000001",
                  "subscribe":"subscribe"
              },
              "id":"a1234567890"
            }
        response:
          application/json: |-
            {
                "jsonrpc": "2.0",
                "id": "a1234567890",
                "result": {
                    "merchantId": "000111222333456",
                    "ica": "1111",
                    "oldAccountNumber": "5573491171027315",
                    "oldExpirationDate": "0714",
                    "discretionaryData": "RandomData",
                    "subMerchantId": "000000000000001",
                    "newAccountNumber": "5573491171027315",
                    "newExpirationDate": "0318",
                    "reasonIdentifier": "EXPIRY",
                    "subscriptionIndicator":"S",
                    "subscriptionIdentifier":"Successfully subscribed"
                },
                "status": true
            }
      x-codegen-request-body-name: Abu Request
      x-openapi-router-controller: openapi_server.controllers.abu_controller
components:
  schemas:
    ABU:
      example:
        method: abu
        id: a1234567890
        jsonrpc: "2.0"
        params:
          subMerchantId: "000000000000001"
          oldAccountNumber: "5573491171027312"
          merchantId: "000111222333456"
          subscribe: subscribe
          ica: "1111"
          discretionaryData: RandomData
          oldExpirationDate: "0714"
      properties:
        id:
          description: "An identifier established by the Client that MUST contain\
            \ a String, Number, or NULL value if included."
          example: a1234567890
          title: id
          type: string
          x-explorer: true
        jsonrpc:
          description: A String specifying the version of the JSON-RPC protocol. MUST
            be exactly "2.0".
          example: "2.0"
          title: jsonrpc
          type: string
          x-explorer: true
        method:
          description: A String containing the name of the method to be invoked.
          example: abu
          title: method
          type: string
          x-explorer: true
        params:
          $ref: '#/components/schemas/AbuDTO'
      required:
      - id
      - method
      - params
      title: ABU
      type: object
    AbuDTO:
      example:
        subMerchantId: "000000000000001"
        oldAccountNumber: "5573491171027312"
        merchantId: "000111222333456"
        subscribe: subscribe
        ica: "1111"
        discretionaryData: RandomData
        oldExpirationDate: "0714"
      properties:
        discretionaryData:
          description: Optional data that can be used by the requested for matching
            to the original inquiry.
          example: RandomData
          maxLength: 10
          minLength: 0
          title: discretionaryData
          type: string
          x-explorer: true
        ica:
          description: "<p class='suffix-required' style='margin-bottom:5px'>[This\
            \ field is required when the multiple ICAs are registered under the same\
            \ client key.]</p>Data that can be used to inform the ICA number: Interbank\
            \ Card Association."
          example: "1111"
          maxLength: 11
          minLength: 0
          title: ica
          type: string
          x-explorer: true
        merchantId:
          description: Registered merchant ID that is mapped to the Customer ID.
          example: "000111222333456"
          maxLength: 15
          minLength: 15
          title: merchantId
          type: string
          x-explorer: true
        oldAccountNumber:
          description: Account number on file provided by merchant.
          example: "5573491171027312"
          maxLength: 19
          minLength: 16
          title: oldAccountNumber
          type: string
          x-explorer: true
        oldExpirationDate:
          description: Account number expiration date on file provided by merchant
            that must be in MMYY format.
          example: "0714"
          maxLength: 4
          minLength: 4
          title: oldExpirationDate
          type: string
          x-explorer: true
        subMerchantId:
          description: Optionally populated when the merchant ID is actually a previously
            populated payment facilitator or payment aggregator.
          example: "000000000000001"
          maxLength: 15
          minLength: 15
          title: subMerchantId
          type: string
          x-explorer: true
        subscribe:
          description: "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field\
            \ used by Push Model only - REQUIRED]</p>Optional data that can be used\
            \ to subscribe, un-subscribe or query subscription status for PAN updates.\
            \ Valid values are \"subscribe\", \"un-subscribe\" and \"query\"."
          example: subscribe
          maxLength: 12
          minLength: 0
          title: subscribe
          type: string
          x-explorer: true
      required:
      - merchantId
      - oldAccountNumber
      - oldExpirationDate
      title: AbuDTO
      type: object
    AbuResponse:
      example:
        result:
          subMerchantId: "000000000000001"
          oldAccountNumber: "5573491171027318"
          subscriptionIndicator: S
          merchantId: "000111222333456"
          ica: "1111"
          newAccountNumber: "5573491171027318"
          discretionaryData: RandomData
          responseIndicator: P
          oldExpirationDate: "0714"
          subscriptionIdentifier: Successfully subscribed
          newExpirationDate: "1218"
          reasonIdentifier: EXPIRY
        id: a1234567890
        jsonrpc: "2.0"
        status: true
      properties:
        id:
          description: "An identifier established by the Client that MUST contain\
            \ a String, Number, or NULL value if included."
          example: a1234567890
          title: id
          type: string
        jsonrpc:
          description: A String specifying the version of the JSON-RPC protocol. MUST
            be exactly "2.0".
          example: "2.0"
          title: jsonrpc
          type: string
        result:
          $ref: '#/components/schemas/AbuResultDTO'
        status:
          description: "The Service Status, success (true) or failure (false)."
          example: true
          title: status
          type: boolean
      title: AbuResponse
      type: object
    AbuResultDTO:
      example:
        subMerchantId: "000000000000001"
        oldAccountNumber: "5573491171027318"
        subscriptionIndicator: S
        merchantId: "000111222333456"
        ica: "1111"
        newAccountNumber: "5573491171027318"
        discretionaryData: RandomData
        responseIndicator: P
        oldExpirationDate: "0714"
        subscriptionIdentifier: Successfully subscribed
        newExpirationDate: "1218"
        reasonIdentifier: EXPIRY
      properties:
        discretionaryData:
          description: Discretionary data as in the request.
          example: RandomData
          maxLength: 10
          minLength: 0
          title: discretionaryData
          type: string
        ica:
          description: ICA number as in the request.
          example: "1111"
          maxLength: 11
          minLength: 0
          title: ica
          type: string
          x-explorer: true
        merchantId:
          description: Merchant ID as in the request.
          example: "000111222333456"
          maxLength: 15
          minLength: 15
          title: merchantId
          type: string
        newAccountNumber:
          description: New account number.
          example: "5573491171027318"
          maxLength: 19
          minLength: 16
          title: newAccountNumber
          type: string
        newExpirationDate:
          description: "New account number expiration date, in MMYY format."
          example: "1218"
          maxLength: 4
          minLength: 4
          title: newExpirationDate
          type: string
        oldAccountNumber:
          description: Account number on file as in the request.
          example: "5573491171027318"
          maxLength: 19
          minLength: 16
          title: oldAccountNumber
          type: string
        oldExpirationDate:
          description: Expiration date on file as in the request.
          example: "0714"
          maxLength: 4
          minLength: 4
          title: oldExpirationDate
          type: string
        reasonIdentifier:
          description: Response Type based on requested account.
          example: EXPIRY
          maxLength: 6
          title: reasonIdentifier
          type: string
        responseIndicator:
          description: "One character additional data, returned bases on  reasonIdentifier.(Note-\
            \ ResponseIndicator displayed only when ReasonIdentifier is VALID or UNKNWN)"
          example: P
          maxLength: 1
          minLength: 1
          title: responseIndicator
          type: string
        subMerchantId:
          description: SubMerchantID as in the request.
          example: "000000000000001"
          maxLength: 15
          minLength: 15
          title: subMerchantId
          type: string
        subscriptionIdentifier:
          description: "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field\
            \ used by Push Model only]</p> Response Type based on the status of subscribe/un-subscribe\
            \ or query subscription status for PAN."
          example: Successfully subscribed
          maxLength: 70
          title: subscriptionIdentifier
          type: string
        subscriptionIndicator:
          description: "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field\
            \ used by Push Model only]</p> One character additional data, returned\
            \ based on subscriptionIdentifier:<ul><li>\"S\" for success</li><li>\"\
            F\" for failures</li><li>\"T\" for token results.</li></ul>"
          example: S
          maxLength: 1
          minLength: 1
          title: subscriptionIndicator
          type: string
      title: AbuResultDTO
      type: object
x-original-swagger-version: "2.0"
