openapi: 3.0.1
info:
  title: RemediationsClient
  version: 2018-07-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/remediations.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: policyinsights-remediations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations:
    get:
      description: Gets all remediations for the management group.
      operationId: Remediations_ListForManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationListResult'
          description: The retrieved remediations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List remediations at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
                - id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  name: 0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  properties:
                    createdOn: 2018-09-13T21:49:16.4638131Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:50:18.4647478Z
                    policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
        List remediations at management group scope with query parameters:
          parameters:
            $filter: PolicyAssignmentId eq '/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5'
            $top: 1
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}
  : delete:
      description: Deletes an existing remediation at management group scope.
      operationId: Remediations_DeleteAtManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The deleted remediation.
        "204":
          content: {}
          description: The remediation did not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Delete remediation at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
            remediationName: storageRemediation
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: Gets an existing remediation at management group scope.
      operationId: Remediations_GetAtManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The retrieved remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Get remediation at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
            remediationName: storageRemediation
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates or updates a remediation at management group scope.
      operationId: Remediations_CreateOrUpdateAtManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Remediation'
        description: The remediation parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The updated remediation.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The created remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Create remediation at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
            parameters:
              properties:
                policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
            remediationName: storageRemediation
          responses:
            "200":
              body:
                id: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "201":
              body:
                id: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: '*/*'
      x-accepts:
      - application/json
  ? /providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel
  : post:
      description: Cancels a remediation at management group scope.
      operationId: Remediations_CancelAtManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The remediation that was canceled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Cancel a remediation at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
            remediationName: myRemediation
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/myRemediation
                name: myRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Cancelling
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
  ? /providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments
  : post:
      description: Gets all deployments for a remediation at management group scope.
      operationId: Remediations_ListDeploymentsAtManagementGroup
      parameters:
      - description: The namespace for Microsoft Management RP; only "Microsoft.Management"
          is allowed.
        in: path
        name: managementGroupsNamespace
        required: true
        schema:
          enum:
          - Microsoft.Management
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Management group ID.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationDeploymentsListResult'
          description: The retrieved remediation deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List deployments for a remediation at management group scope:
          parameters:
            api-version: 2018-07-01-preview
            managementGroupId: financeMg
            managementGroupsNamespace: Microsoft.Management
            remediationName: myRemediation
          responses:
            "200":
              body:
                value:
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/a088e8fd-8600-4126-8d74-fc7ead0e9ae4
                  lastUpdatedOn: 2018-09-13T21:52:09.8919106Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
                  resourceLocation: eastus
                  status: Succeeded
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/c1164d71-0942-499f-bc2f-b6b7b0bae493/resourcegroups/rg3/providers/microsoft.resources/deployments/6b8898c0-18a2-449e-987a-8d4d4f634f56
                  lastUpdatedOn: 2018-09-13T21:52:09.8761679Z
                  remediatedResourceId: /subscriptions/c1164d71-0942-499f-bc2f-b6b7b0bae493/resourcegroups/rg3/providers/microsoft.storage/storageaccounts/stor1
                  resourceLocation: westus
                  status: Succeeded
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/remediations:
    get:
      description: Gets all remediations for the subscription.
      operationId: Remediations_ListForSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationListResult'
          description: The retrieved remediations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List remediations at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg2/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  name: 0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  properties:
                    createdOn: 2018-09-13T21:49:16.4638131Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:50:18.4647478Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
        List remediations at subscription scope with query parameters:
          parameters:
            $filter: PolicyAssignmentId eq '/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5'
              AND PolicyDefinitionReferenceId eq 'storageSkuDef'
            $top: 1
            api-version: 2018-07-01-preview
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    policyDefinitionReferenceId: storageSkuDef
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg2/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  name: 0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  properties:
                    createdOn: 2018-09-13T21:49:16.4638131Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:50:18.4647478Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    policyDefinitionReferenceId: storageSkuDef
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}:
    delete:
      description: Deletes an existing remediation at subscription scope.
      operationId: Remediations_DeleteAtSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The deleted remediation.
        "204":
          content: {}
          description: The remediation did not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Delete remediation at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: Gets an existing remediation at subscription scope.
      operationId: Remediations_GetAtSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The retrieved remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Get remediation at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates or updates a remediation at subscription scope.
      operationId: Remediations_CreateOrUpdateAtSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Remediation'
        description: The remediation parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The updated remediation.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The created remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Create remediation at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            parameters:
              properties:
                policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
            remediationName: storageRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "201":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
        Create remediation at subscription scope with all properties:
          parameters:
            api-version: 2018-07-01-preview
            parameters:
              properties:
                filters:
                  locations:
                  - eastus
                  - westus
                policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                policyDefinitionReferenceId: 8c8fa9e4
            remediationName: storageRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  policyDefinitionReferenceId: 8c8fa9e4
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "201":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  policyDefinitionReferenceId: 8c8fa9e4
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel:
    post:
      description: Cancels a remediation at subscription scope.
      operationId: Remediations_CancelAtSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The remediation that was canceled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Cancel a remediation at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/myRemediation
                name: myRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Cancelling
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments:
    post:
      description: Gets all deployments for a remediation at subscription scope.
      operationId: Remediations_ListDeploymentsAtSubscription
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationDeploymentsListResult'
          description: The retrieved remediation deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List deployments for a remediation at subscription scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/a088e8fd-8600-4126-8d74-fc7ead0e9ae4
                  lastUpdatedOn: 2018-09-13T21:52:09.8919106Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
                  resourceLocation: eastus
                  status: Succeeded
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg3/providers/microsoft.resources/deployments/6b8898c0-18a2-449e-987a-8d4d4f634f56
                  lastUpdatedOn: 2018-09-13T21:52:09.8761679Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg3/providers/microsoft.storage/storageaccounts/stor1
                  resourceLocation: westus
                  status: Succeeded
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations:
    get:
      description: Gets all remediations for the subscription.
      operationId: Remediations_ListForResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationListResult'
          description: The retrieved remediations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List remediations at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  name: 0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  properties:
                    createdOn: 2018-09-13T21:49:16.4638131Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:50:18.4647478Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
        List remediations at resource group scope with query parameters:
          parameters:
            $filter: PolicyAssignmentId eq '/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5'
            $top: 1
            api-version: 2018-07-01-preview
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  name: 0866f0cc-6cb3-422c-9fb6-a4e3e2266da8
                  properties:
                    createdOn: 2018-09-13T21:49:16.4638131Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 2
                      totalDeployments: 2
                    lastUpdatedOn: 2018-09-13T21:50:18.4647478Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}
  : delete:
      description: Deletes an existing remediation at resource group scope.
      operationId: Remediations_DeleteAtResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The deleted remediation.
        "204":
          content: {}
          description: The remediation did not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Delete remediation at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: Gets an existing remediation at resource group scope.
      operationId: Remediations_GetAtResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The retrieved remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Get remediation at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates or updates a remediation at resource group scope.
      operationId: Remediations_CreateOrUpdateAtResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Remediation'
        description: The remediation parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The updated remediation.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The created remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Create remediation at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            parameters:
              properties:
                policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
            remediationName: storageRemediation
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "201":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: '*/*'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel
  : post:
      description: Cancels a remediation at resource group scope.
      operationId: Remediations_CancelAtResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The remediation that was canceled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Cancel a remediation at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/myRemediation
                name: myRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 2
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Cancelling
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments
  : post:
      description: Gets all deployments for a remediation at resource group scope.
      operationId: Remediations_ListDeploymentsAtResourceGroup
      parameters:
      - description: Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationDeploymentsListResult'
          description: The retrieved remediation deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List deployments for a remediation at resource group scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            resourceGroupName: rg1
            subscriptionId: 35ee058e-5fa0-414c-8145-3ebb8d09b6e2
          responses:
            "200":
              body:
                value:
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/a088e8fd-8600-4126-8d74-fc7ead0e9ae4
                  lastUpdatedOn: 2018-09-13T21:52:09.8919106Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
                  resourceLocation: eastus
                  status: Succeeded
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/6b8898c0-18a2-449e-987a-8d4d4f634f56
                  lastUpdatedOn: 2018-09-13T21:52:09.8761679Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/stor2
                  resourceLocation: westus
                  status: Succeeded
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{resourceId}/providers/Microsoft.PolicyInsights/remediations:
    get:
      description: Gets all remediations for a resource.
      operationId: Remediations_ListForResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: OData filter expression.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-client-name: Filter
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationListResult'
          description: The retrieved remediations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List remediations at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 1
                      totalDeployments: 1
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
        List remediations at individual resource scope with query parameters:
          parameters:
            $filter: PolicyAssignmentId eq '/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5'
            $top: 1
            api-version: 2018-07-01-preview
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  name: 790996e6-9871-4b1f-9cd9-ec42cd6ced1e
                  properties:
                    createdOn: 2018-09-13T21:51:09.075918Z
                    deploymentStatus:
                      failedDeployments: 0
                      successfulDeployments: 1
                      totalDeployments: 1
                    lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                    policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                    provisioningState: Succeeded
                  type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}:
    delete:
      description: Deletes an existing remediation at individual resource scope.
      operationId: Remediations_DeleteAtResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The deleted remediation.
        "204":
          content: {}
          description: The remediation did not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Delete remediation at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 1
                    totalDeployments: 1
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: Gets an existing remediation at resource scope.
      operationId: Remediations_GetAtResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The retrieved remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Get remediation at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: storageRemediation
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 1
                    totalDeployments: 1
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Succeeded
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates or updates a remediation at resource scope.
      operationId: Remediations_CreateOrUpdateAtResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Remediation'
        description: The remediation parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The updated remediation.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The created remediation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Create remediation at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            parameters:
              properties:
                policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
            remediationName: storageRemediation
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
            "201":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/storageRemediation
                name: storageRemediation
                properties:
                  createdOn: 2018-09-12T20:58:58.7531298Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 0
                    totalDeployments: 2
                  lastUpdatedOn: 2018-09-12T20:58:58.7531298Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourceGroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Accepted
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel:
    post:
      description: Cancel a remediation at resource scope.
      operationId: Remediations_CancelAtResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remediation'
          description: The remediation that was canceled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Cancel a remediation at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                id: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1/providers/microsoft.policyinsights/remediations/myRemediation
                name: myRemediation
                properties:
                  createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentStatus:
                    failedDeployments: 0
                    successfulDeployments: 1
                    totalDeployments: 1
                  lastUpdatedOn: 2018-09-13T21:52:10.0011706Z
                  policyAssignmentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5
                  provisioningState: Cancelling
                type: Microsoft.PolicyInsights/remediations
              headers: {}
      x-accepts:
      - application/json
  /{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments:
    post:
      description: Gets all deployments for a remediation at resource scope.
      operationId: Remediations_ListDeploymentsAtResource
      parameters:
      - description: Resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: The name of the remediation.
        in: path
        name: remediationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Maximum number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-client-name: Top
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationDeploymentsListResult'
          description: The retrieved remediation deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        List deployments for a remediation at individual resource scope:
          parameters:
            api-version: 2018-07-01-preview
            remediationName: myRemediation
            resourceId: subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
          responses:
            "200":
              body:
                value:
                - createdOn: 2018-09-13T21:51:09.075918Z
                  deploymentId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/a088e8fd-8600-4126-8d74-fc7ead0e9ae4
                  lastUpdatedOn: 2018-09-13T21:52:09.8919106Z
                  remediatedResourceId: /subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1
                  resourceLocation: eastus
                  status: Succeeded
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    filterParameter:
      description: OData filter expression.
      in: query
      name: $filter
      schema:
        type: string
        x-ms-client-name: Filter
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      x-ms-client-name: Filter
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: Management group ID.
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    managementGroupsNamespaceParameter:
      description: The namespace for Microsoft Management RP; only "Microsoft.Management"
        is allowed.
      in: path
      name: managementGroupsNamespace
      required: true
      schema:
        enum:
        - Microsoft.Management
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    remediationNameParameter:
      description: The name of the remediation.
      in: path
      name: remediationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceIdParameter:
      description: Resource ID.
      in: path
      name: resourceId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    subscriptionIdParameter:
      description: Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    topParameter:
      description: Maximum number of records to return.
      in: query
      name: $top
      schema:
        format: int32
        minimum: 0
        type: integer
        x-ms-client-name: Top
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      x-ms-client-name: Top
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
  schemas:
    ErrorDefinition:
      description: Error definition.
      example:
        code: code
        additionalInfo:
        - type: type
          info: "{}"
        - type: type
          info: "{}"
        details:
        - null
        - null
        message: message
        target: target
      properties:
        additionalInfo:
          description: Additional scenario specific error details.
          items:
            $ref: '#/components/schemas/TypedErrorInfo'
          readOnly: true
          type: array
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          readOnly: true
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
          type: array
        message:
          description: Description of the error.
          readOnly: true
          type: string
        target:
          description: The target of the error.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Error response.
      example:
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
      type: object
    Remediation:
      description: The remediation definition.
      example:
        name: name
        id: id
        type: type
        properties:
          deploymentStatus:
            totalDeployments: 1
            successfulDeployments: 6
            failedDeployments: 0
          policyDefinitionReferenceId: policyDefinitionReferenceId
          lastUpdatedOn: 2000-01-23T04:56:07.000+00:00
          filters:
            locations:
            - locations
            - locations
          provisioningState: provisioningState
          createdOn: 2000-01-23T04:56:07.000+00:00
          policyAssignmentId: policyAssignmentId
      properties:
        id:
          description: The ID of the remediation.
          readOnly: true
          type: string
        name:
          description: The name of the remediation.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RemediationProperties'
        type:
          description: The type of the remediation.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RemediationDeployment:
      description: Details of a single deployment created by the remediation.
      example:
        deploymentId: deploymentId
        lastUpdatedOn: 2000-01-23T04:56:07.000+00:00
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
        resourceLocation: resourceLocation
        createdOn: 2000-01-23T04:56:07.000+00:00
        remediatedResourceId: remediatedResourceId
        status: status
      properties:
        createdOn:
          description: The time at which the remediation was created.
          format: date-time
          readOnly: true
          type: string
        deploymentId:
          description: Resource ID of the template deployment that will remediate
            the resource.
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/ErrorDefinition'
        lastUpdatedOn:
          description: The time at which the remediation deployment was last updated.
          format: date-time
          readOnly: true
          type: string
        remediatedResourceId:
          description: Resource ID of the resource that is being remediated by the
            deployment.
          readOnly: true
          type: string
        resourceLocation:
          description: Location of the resource that is being remediated.
          readOnly: true
          type: string
        status:
          description: Status of the remediation deployment.
          readOnly: true
          type: string
      type: object
    RemediationDeploymentSummary:
      description: The deployment status summary for all deployments created by the
        remediation.
      example:
        totalDeployments: 1
        successfulDeployments: 6
        failedDeployments: 0
      properties:
        failedDeployments:
          description: The number of deployments required by the remediation that
            have failed.
          type: integer
        successfulDeployments:
          description: The number of deployments required by the remediation that
            have succeeded.
          type: integer
        totalDeployments:
          description: The number of deployments required by the remediation.
          type: integer
      type: object
    RemediationDeploymentsListResult:
      description: List of deployments for a remediation.
      example:
        value:
        - deploymentId: deploymentId
          lastUpdatedOn: 2000-01-23T04:56:07.000+00:00
          error:
            code: code
            additionalInfo:
            - type: type
              info: "{}"
            - type: type
              info: "{}"
            details:
            - null
            - null
            message: message
            target: target
          resourceLocation: resourceLocation
          createdOn: 2000-01-23T04:56:07.000+00:00
          remediatedResourceId: remediatedResourceId
          status: status
        - deploymentId: deploymentId
          lastUpdatedOn: 2000-01-23T04:56:07.000+00:00
          error:
            code: code
            additionalInfo:
            - type: type
              info: "{}"
            - type: type
              info: "{}"
            details:
            - null
            - null
            message: message
            target: target
          resourceLocation: resourceLocation
          createdOn: 2000-01-23T04:56:07.000+00:00
          remediatedResourceId: remediatedResourceId
[...]
