openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Backend entity in
    Azure API Management deployment. The Backend entity in API Management represents
    a backend service that is configured to skip certification chain validation when
    using a self-signed certificate to test mutual certificate authentication.
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimbackends.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimbackends
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends
  : get:
      description: Lists a collection of backends in the specified service instance.
      operationId: Backend_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| title | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| url | filter | ge, le, eq, ne,\
          \ gt, lt | substringof, contains, startswith, endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_200_response'
          description: Lists a collection of Backend entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementListBackends:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend
                  name: proxybackend
                  properties:
                    credentials:
                      authorization:
                        parameter: opensesma
                        scheme: Basic
                      header:
                        x-my-1:
                        - val1
                        - val2
                      query:
                        sv:
                        - xx
                        - bb
                        - cc
                    description: description5308
                    protocol: http
                    proxy:
                      password: opensesame
                      url: http://192.168.1.1:8080
                      username: Contoso\admin
                    tls:
                      validateCertificateChain: false
                      validateCertificateName: false
                    url: https://backendname2644/
                  type: Microsoft.ApiManagement/service/backends
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend
                  name: sfbackend
                  properties:
                    description: Service Fabric Test App 1
                    properties:
                      serviceFabricCluster:
                        clientCertificatethumbprint: EBA029198AA3E76EF0D70482626E5BCF148594A6
                        managementEndpoints:
                        - https://somecluster.com
                        maxPartitionResolutionRetries: 5
                        serverX509Names:
                        - issuerCertificateThumbprint: IssuerCertificateThumbprint1
                          name: ServerCommonName1
                    protocol: http
                    url: fabric:/mytestapp/mytestservice
                  type: Microsoft.ApiManagement/service/backends
      x-ms-odata: ./definitions.json#/definitions/BackendContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendId}
  : delete:
      description: Deletes the specified backend.
      operationId: Backend_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The backend was successfully deleted.
        "204":
          content: {}
          description: The backend was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementDeleteBackend:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            backendId: sfbackend
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the backend specified by its identifier.
      operationId: Backend_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Get_200_response'
          description: The response body contains the specified Backend entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementGetBackend:
          parameters:
            api-version: 2019-01-01
            backendId: sfbackend
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend
                name: sfbackend
                properties:
                  description: Service Fabric Test App 1
                  properties:
                    serviceFabricCluster:
                      clientCertificatethumbprint: EBA029198AA3E76EF0D70482626E5BCF148594A6
                      managementEndpoints:
                      - https://somecluster.com
                      maxPartitionResolutionRetries: 5
                      serverX509Names:
                      - issuerCertificateThumbprint: IssuerCertificateThumbprint1
                        name: ServerCommonName1
                  protocol: http
                  url: fabric:/mytestapp/mytestservice
                type: Microsoft.ApiManagement/service/backends
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the backend specified by
        its identifier.
      operationId: Backend_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified backend entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementHeadBackend:
          parameters:
            api-version: 2019-01-01
            backendId: sfbackend
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates an existing backend.
      operationId: Backend_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_Update_request'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The existing backend was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementUpdateBackend:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            backendId: proxybackend
            parameters:
              properties:
                description: description5308
                tls:
                  validateCertificateChain: false
                  validateCertificateName: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a backend.
      operationId: Backend_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_Get_200_response'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Get_200_response'
          description: The existing backend was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Get_200_response'
          description: Backend was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Backend
      x-ms-examples:
        ApiManagementCreateBackendProxyBackend:
          parameters:
            api-version: 2019-01-01
            backendId: proxybackend
            parameters:
              properties:
                credentials:
                  authorization:
                    parameter: opensesma
                    scheme: Basic
                  header:
                    x-my-1:
                    - val1
                    - val2
                  query:
                    sv:
                    - xx
                    - bb
                    - cc
                description: description5308
                protocol: http
                proxy:
                  password: opensesame
                  url: http://192.168.1.1:8080
                  username: Contoso\admin
                tls:
                  validateCertificateChain: true
                  validateCertificateName: true
                url: https://backendname2644/
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend
                name: proxybackend
                properties:
                  credentials:
                    authorization:
                      parameter: opensesma
                      scheme: Basic
                    header:
                      x-my-1:
                      - val1
                      - val2
                    query:
                      sv:
                      - xx
                      - bb
                      - cc
                  description: description5308
                  protocol: http
                  proxy:
                    password: opensesame
                    url: http://192.168.1.1:8080
                    username: Contoso\admin
                  tls:
                    validateCertificateChain: false
                    validateCertificateName: false
                  url: https://backendname2644/
                type: Microsoft.ApiManagement/service/backends
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend
                name: proxybackend
                properties:
                  credentials:
                    authorization:
                      parameter: opensesma
                      scheme: Basic
                    header:
                      x-my-1:
                      - val1
                      - val2
                    query:
                      sv:
                      - xx
                      - bb
                      - cc
                  description: description5308
                  protocol: http
                  proxy:
                    password: opensesame
                    url: http://192.168.1.1:8080
                    username: Contoso\admin
                  tls:
                    validateCertificateChain: false
                    validateCertificateName: false
                  url: https://backendname2644/
                type: Microsoft.ApiManagement/service/backends
        ApiManagementCreateBackendServiceFabric:
          parameters:
            api-version: 2019-01-01
            backendId: sfbackend
            parameters:
              properties:
                description: Service Fabric Test App 1
                properties:
                  serviceFabricCluster:
                    clientCertificatethumbprint: EBA029198AA3E76EF0D70482626E5BCF148594A6
                    managementEndpoints:
                    - https://somecluster.com
                    maxPartitionResolutionRetries: 5
                    serverX509Names:
                    - issuerCertificateThumbprint: IssuerCertificateThumbprint1
                      name: ServerCommonName1
                protocol: http
                url: fabric:/mytestapp/mytestservice
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend
                name: sfbackend
                properties:
                  description: Service Fabric Test App 1
                  properties:
                    serviceFabricCluster:
                      clientCertificatethumbprint: EBA029198AA3E76EF0D70482626E5BCF148594A6
                      managementEndpoints:
                      - https://somecluster.com
                      maxPartitionResolutionRetries: 5
                      serverX509Names:
                      - issuerCertificateThumbprint: IssuerCertificateThumbprint1
                        name: ServerCommonName1
                  protocol: http
                  url: fabric:/mytestapp/mytestservice
                type: Microsoft.ApiManagement/service/backends
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend
                name: sfbackend
                properties:
                  description: Service Fabric Test App 1
                  properties:
                    serviceFabricCluster:
                      clientCertificatethumbprint: EBA029198AA3E76EF0D70482626E5BCF148594A6
                      managementEndpoints:
                      - https://somecluster.com
                      maxPartitionResolutionRetries: 5
                      serverX509Names:
                      - issuerCertificateThumbprint: IssuerCertificateThumbprint1
                        name: ServerCommonName1
                  protocol: http
                  url: fabric:/mytestapp/mytestservice
                type: Microsoft.ApiManagement/service/backends
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendId}/reconnect
  : post:
      description: "Notifies the APIM proxy to create a new connection to the backend\
        \ after the specified timeout. If no timeout was specified, timeout of 2 minutes\
        \ is used."
      operationId: Backend_Reconnect
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        in: path
        name: backendId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_Reconnect_request'
        description: Reconnect request parameters.
        required: false
      responses:
        "202":
          content: {}
          description: Reconnect request accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - BackendReconnect
      x-ms-examples:
        ApiManagementBackendReconnect:
          parameters:
            api-version: 2019-01-01
            backendId: proxybackend
            parameters:
              properties:
                after: PT3S
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "202": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Backend_Reconnect_request_properties:
      description: Properties to control reconnect requests.
      properties:
        after:
          description: Duration in ISO8601 format after which reconnect will be initiated.
            Minimum duration of the Reconnect is PT2M.
          format: duration
          type: string
      type: object
    Backend_Update_request:
      description: Backend update parameters.
      properties:
        properties:
          $ref: '#/components/schemas/Backend_Update_request_properties'
      type: object
    Backend_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Backend_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Backend_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Backend details.
      example:
        properties:
          protocol: http
          url: url
      properties:
        properties:
          $ref: '#/components/schemas/Backend_ListByService_200_response_value_inner_properties'
    Backend_ListByService_200_response_value_inner:
      description: Backend details.
      example:
        properties:
          protocol: http
          url: url
      properties:
        properties:
          $ref: '#/components/schemas/Backend_ListByService_200_response_value_inner_properties'
      type: object
    Backend_ListByService_200_response_value_inner_properties:
      description: Parameters supplied to the Create Backend operation.
      example:
        protocol: http
        url: url
      properties:
        protocol:
          description: Backend communication protocol.
          enum:
          - http
          - soap
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackendProtocol
            values:
            - description: The Backend is a RESTful service.
              value: http
            - description: The Backend is a SOAP service.
              value: soap
        url:
          description: Runtime Url of the Backend.
          maxLength: 2000
          minLength: 1
          type: string
      required:
      - protocol
      - url
      type: object
    Backend_ListByService_200_response:
      description: Paged Backend list representation.
      example:
        value:
        - properties:
            protocol: http
            url: url
        - properties:
            protocol: http
            url: url
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Backend values.
          items:
            $ref: '#/components/schemas/Backend_ListByService_200_response_value_inner'
          type: array
      type: object
    Backend_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Backend_Update_request_properties:
      description: Parameters supplied to the Update Backend operation.
      properties:
        protocol:
          description: Backend communication protocol.
          enum:
          - http
          - soap
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackendProtocol
            values:
            - description: The Backend is a RESTful service.
              value: http
            - description: The Backend is a SOAP service.
              value: soap
        url:
          description: Runtime Url of the Backend.
          maxLength: 2000
          minLength: 1
          type: string
      type: object
    Backend_Reconnect_request:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Reconnect request parameters.
      properties:
        properties:
          $ref: '#/components/schemas/Backend_Reconnect_request_properties'
    Backend_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Backend_ListByService_default_response_error'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

