openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2017-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/jobs.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-jobs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs
  : get:
      deprecated: false
      description: Provides a pageable list of jobs.
      operationId: backup_jobs_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResourceList'
          description: OK
      tags:
      - BackupJobs
      x-ms-examples:
        ListJobs:
          parameters:
            api-version: 2017-07-01
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/cb7120f5-a787-4c2a-a793-19ad03776ad1
                  name: cb7120f5-a787-4c2a-a793-19ad03776ad1
                  properties:
                    activityId: 5417abaf-8cb7-41d8-a497-dee2ff4b930b
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: iaasvmtestv2vm1
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: 2017-08-03T05:31:07.014604Z
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/947d792d-e27f-4139-af05-d3c598dc5cc6
                  name: 947d792d-e27f-4139-af05-d3c598dc5cc6
                  properties:
                    activityId: e202d134-0286-4fdc-83ce-9426a213bd81
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: 2017-08-03T05:31:03.7553376Z
                    entityFriendlyName: iaasvmtestv2vm1
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: 2017-08-03T05:30:32.4487085Z
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_jobs_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      deprecated: false
      description: Gets exteded information associated with the job.
      operationId: job_details_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the job whose details are to be fetched.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: OK
      tags:
      - JobDetails
      x-ms-examples:
        GetJobDetails:
          parameters:
            api-version: 2017-07-01
            jobName: cb7120f5-a787-4c2a-a793-19ad03776ad1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/cb7120f5-a787-4c2a-a793-19ad03776ad1
                name: cb7120f5-a787-4c2a-a793-19ad03776ad1
                properties:
                  activityId: 5417abaf-8cb7-41d8-a497-dee2ff4b930b
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: iaasvmtestv2vm1
                  extendedInfo:
                    propertyBag:
                      VM Name: iaasvmtestv2vm1
                    tasksList:
                    - duration: PT0S
                      status: InProgress
                      taskId: Take Snapshot
                    - duration: PT0S
                      status: NotStarted
                      taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: 2017-08-03T05:31:07.014604Z
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
      x-openapi-router-controller: openapi_server.controllers.job_details_controller
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureIaaSVMErrorInfo:
      description: Azure IaaS VM workload-specific error information.
      properties:
        errorCode:
          description: Error code.
          format: int32
          title: errorCode
          type: integer
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        errorTitle:
          description: "Title: Typically, the entity that the error pertains to."
          title: errorTitle
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          title: recommendations
          type: array
      title: AzureIaaSVMErrorInfo
      type: object
    AzureIaaSVMJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: Azure IaaS VM workload-specifc job object.
      properties:
        actionsInfo:
          description: Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureIaaSVMJobExtendedInfo'
        virtualMachineVersion:
          description: Specifies whether the backup item is a Classic or an Azure
            Resource Manager VM.
          type: string
      x-ms-discriminator-value: AzureIaaSVMJob
    AzureIaaSVMJobExtendedInfo:
      description: Azure IaaS VM workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        progressPercentage:
          description: Indicates progress of the job. Null if it has not started or
            completed.
          format: double
          title: progressPercentage
          type: number
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMJobTaskDetails'
          title: tasksList
          type: array
      title: AzureIaaSVMJobExtendedInfo
      type: object
    AzureIaaSVMJobTaskDetails:
      description: Azure IaaS VM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        instanceId:
          description: The instanceId.
          title: instanceId
          type: string
        progressPercentage:
          description: Progress of the task.
          format: double
          title: progressPercentage
          type: number
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: AzureIaaSVMJobTaskDetails
      type: object
    DpmErrorInfo:
      description: DPM workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          title: recommendations
          type: array
      title: DpmErrorInfo
      type: object
    DpmJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: DPM workload-specifc job object.
      properties:
        actionsInfo:
          description: The state/actions applicable on this job like cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        containerName:
          description: "Name of cluster/server protecting current backup item, if\
            \ any."
          type: string
        containerType:
          description: Type of container.
          type: string
        dpmServerName:
          description: DPM server name managing the backup item or backup job.
          type: string
        duration:
          description: Time elapsed for job.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/DpmErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/DpmJobExtendedInfo'
        workloadType:
          description: Type of backup item.
          type: string
      x-ms-discriminator-value: DpmJob
    DpmJobExtendedInfo:
      description: Additional information on the DPM workload-specific job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: The job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/DpmJobTaskDetails'
          title: tasksList
          type: array
      title: DpmJobExtendedInfo
      type: object
    DpmJobTaskDetails:
      description: DPM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: DpmJobTaskDetails
      type: object
    Job:
      description: Defines workload agnostic properties for a job.
      discriminator:
        propertyName: jobType
      example:
        backupManagementType: Invalid
        activityId: activityId
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        jobType: jobType
        entityFriendlyName: entityFriendlyName
        operation: operation
        status: status
      properties:
        activityId:
          description: ActivityId of job.
          title: activityId
          type: string
        backupManagementType:
          description: Backup management type to execute the current job.
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          title: backupManagementType
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        entityFriendlyName:
          description: Friendly name of the entity on which the current job is executing.
          title: entityFriendlyName
          type: string
        jobType:
          description: This property will be used as the discriminator for deciding
            the specific types in the polymorhpic chain of types.
          title: jobType
          type: string
        operation:
          description: The operation name.
          title: operation
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: Job status.
          title: status
          type: string
      required:
      - jobType
      title: Job
      type: object
    JobQueryObject:
      description: Filters to list the jobs.
      properties:
        backupManagementType:
          description: Type of backup managmenent for the job.
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        endTime:
          description: Job has ended at this time. Value is in UTC.
          format: date-time
          type: string
        jobId:
          description: JobID represents the job uniquely.
          type: string
        operation:
          description: Type of operation.
          enum:
          - Invalid
          - Register
          - UnRegister
          - ConfigureBackup
          - Backup
          - Restore
          - DisableBackup
          - DeleteBackupData
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobOperationType
        startTime:
          description: Job has started at this time. Value is in UTC.
          format: date-time
          type: string
        status:
          description: Status of the job.
          enum:
          - Invalid
          - InProgress
          - Completed
          - Failed
          - CompletedWithWarnings
          - Cancelled
          - Cancelling
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
      type: object
    JobResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Defines workload agnostic properties for a job.
      example:
        properties:
          backupManagementType: Invalid
          activityId: activityId
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          jobType: jobType
          entityFriendlyName: entityFriendlyName
          operation: operation
          status: status
      properties:
        properties:
          $ref: '#/components/schemas/Job'
      title: JobResource
    JobResourceList:
      allOf:
      - $ref: '#/components/schemas/ResourceList'
      description: List of Job resources
      example:
        value:
        - properties:
            backupManagementType: Invalid
            activityId: activityId
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            jobType: jobType
            entityFriendlyName: entityFriendlyName
            operation: operation
            status: status
        - properties:
            backupManagementType: Invalid
            activityId: activityId
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            jobType: jobType
            entityFriendlyName: entityFriendlyName
            operation: operation
            status: status
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/JobResource'
          title: value
          type: array
      title: JobResourceList
    MabErrorInfo:
      description: MAB workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        recommendations:
          description: List of localized recommendations.
          items:
            type: string
          title: recommendations
          type: array
      title: MabErrorInfo
      type: object
    MabJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: MAB workload-specific job.
      properties:
        actionsInfo:
          description: The state/actions applicable on jobs like cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time taken by job to run.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/MabErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/MabJobExtendedInfo'
        mabServerName:
          description: Name of server protecting the DS.
          type: string
        mabServerType:
          description: Server type of MAB container.
          enum:
          - Invalid
          - Unknown
          - IaasVMContainer
          - IaasVMServiceContainer
          - DPMContainer
          - AzureBackupServerContainer
          - MABContainer
          - Cluster
          - AzureSqlContainer
          - Windows
          - VCenter
          type: string
          x-ms-enum:
            modelAsString: true
            name: MabServerType
        workloadType:
          description: Workload type of backup item.
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      x-ms-discriminator-value: MabJob
    MabJobExtendedInfo:
      description: Additional information for the MAB workload-specific job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message specific to this job.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: The job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks for this job.
          items:
            $ref: '#/components/schemas/MabJobTaskDetails'
          title: tasksList
          type: array
      title: MabJobExtendedInfo
      type: object
    MabJobTaskDetails:
      description: MAB workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: MabJobTaskDetails
      type: object
    Object:
      description: Base of all objects.
      type: object
    Resource:
      description: ARM Resource.
      properties:
        eTag:
          description: Optional ETag.
          title: eTag
          type: string
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceList:
      description: Base for all lists of resources.
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext()
            fetches next page of resources.
          title: nextLink
          type: string
      title: ResourceList
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
