openapi: 3.0.1
info:
  description: REST API for Azure Spring Cloud
  title: AppPlatformManagementClient
  version: 2019-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: appplatform
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.AppPlatform/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.AppPlatform
        provider.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperations'
          description: Success. The response describes the list of operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-05-01-preview
          responses:
            "200":
              body:
                nextLink: "providers/Microsoft.AppPlatform?$skipToken={opaqueString}"
                value:
                - dataAction: false
                  display:
                    description: Create or Update Managed Applications
                    operation: Create or Update Managed Applications
                    provider: Microsoft Azure Distributed Managed Service for Spring
                    resource: Managed Applications
                  name: Microsoft.AppPlatform/Spring/read
                  origin: "user,system"
                  properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/Spring:
    get:
      description: Handles requests to list all resources in a subscription.
      operationId: services_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceList'
          description: Success. The response describes the list of Services in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_ListBySubscription:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                  location: eastus
                  name: myservice
                  properties:
                    configServerProperties:
                      configServer:
                        gitProperty:
                          label: master
                          searchPaths:
                          - /
                          uri: https://github.com/fake-user/fake-repository.git
                      state: Succeeded
                    provisioningState: Succeeded
                    serviceId: 12345678abcd1234abcd12345678abcd
                    trace:
                      appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                      enabled: true
                      state: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.AppPlatform/Spring
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/locations/{location}/checkNameAvailability:
    post:
      description: Checks that the resource name is valid and is not already in use.
      operationId: services_check_name_availability
      parameters:
      - description: the region
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityParameters'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: availabilityParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
          description: Success. The response describes the name availability.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_CheckNameAvailability:
          parameters:
            api-version: 2019-05-01-preview
            availabilityParameters:
              name: myservice
              type: Microsoft.AppPlatform/Spring
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: The name is already used.
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: availabilityParameters
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring:
    get:
      description: Handles requests to list all resources in a resource group.
      operationId: services_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceList'
          description: Success. The response describes the list of Services in the
            resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_List:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                  location: eastus
                  name: myservice
                  properties:
                    configServerProperties:
                      configServer:
                        gitProperty:
                          label: master
                          searchPaths:
                          - /
                          uri: https://github.com/fake-user/fake-repository.git
                      state: Succeeded
                    provisioningState: Succeeded
                    serviceId: 12345678abcd1234abcd12345678abcd
                    trace:
                      appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                      enabled: true
                      state: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.AppPlatform/Spring
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}:
    delete:
      description: Operation to delete a Service.
      operationId: services_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Accepted. The response indicates the delete operation is performed
            in the background.
        "204":
          content: {}
          description: Success. The response indicates the resource is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_Delete:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    get:
      description: Get a Service and its properties.
      operationId: services_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: Success. The response describes the corresponding Service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_Get:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                        - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    patch:
      description: Operation to update an exiting Service.
      operationId: services_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceResource'
        description: Parameters for the update operation
        required: true
        x-body-name: resource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: Success. The response describes the updated Service.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: Accepted. The response indicates the exiting Service is now
            updating and contains a Location header to query the operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_Update:
          parameters:
            api-version: 2019-05-01-preview
            resource:
              location: eastus
              properties:
                configServerProperties:
                  configServer:
                    gitProperty:
                      label: master
                      searchPaths:
                      - /
                      uri: https://github.com/fake-user/fake-repository.git
                trace:
                  appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                  enabled: true
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                        - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                        - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Updating
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: resource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    put:
      description: Create a new Service or update an exiting Service.
      operationId: services_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceResource'
        description: Parameters for the create or update operation
        required: true
        x-body-name: resource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: Success. The response describes the updated Service.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: Created. The response describes the new Service and contains
            a Location header to query the operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Services_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            resource:
              location: eastus
              properties:
                configServerProperties:
                  configServer:
                    gitProperty:
                      label: master
                      searchPaths:
                      - /
                      uri: https://github.com/fake-user/fake-repository.git
                trace:
                  appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                  enabled: true
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                        - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                        - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Creating
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: resource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps:
    get:
      description: Handles requests to list all resources in a Service.
      operationId: apps_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResourceCollection'
          description: Success. The response describes the list of Apps in the Service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Apps_List:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                  name: myapp
                  properties:
                    activeDeploymentName: mydeployment1
                    persistentDisk:
                      mountPath: mypersistentdisk
                      sizeInGB: 2
                      usedInGB: 1
                    provisioningState: Succeeded
                    public: true
                    temporaryDisk:
                      mountPath: mytemporarydisk
                      sizeInGB: 2
                    url: myapp.myservice.azuremicroservices.io
                  type: Microsoft.AppPlatform/Spring/apps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}
  : delete:
      description: Operation to delete an App.
      operationId: apps_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success. The response indicates the resource is deleted.
        "204":
          content: {}
          description: Success. The response indicates the resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Apps_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    get:
      description: Get an App and its properties.
      operationId: apps_get
      parameters:
      - description: Indicates whether sync status
        in: query
        name: syncStatus
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: appName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResource'
          description: Success. The response describes the corresponding App.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Apps_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    patch:
      description: Operation to update an exiting App.
      operationId: apps_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppResource'
        description: Parameters for the update operation
        required: true
        x-body-name: appResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResource'
          description: Success. The response describes the updated App.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResource'
          description: Accepted. The response indicates the exiting App is now updating
            and contains a Location header to query the operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Apps_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            appResource:
              properties:
                activeDeploymentName: mydeployment1
                persistentDisk:
                  mountPath: mypersistentdisk
                  sizeInGB: 2
                public: true
                temporaryDisk:
                  mountPath: mytemporarydisk
                  sizeInGB: 2
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Updating
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: appResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    put:
      description: Create a new App or update an exiting App.
      operationId: apps_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppResource'
        description: Parameters for the create or update operation
        required: true
        x-body-name: appResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResource'
          description: Success. The response describes the updated App.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResource'
          description: Created. The response describes the new App and contains a
            Location header to query the operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Apps_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            appResource:
              properties:
                activeDeploymentName: mydeployment1
                persistentDisk:
                  mountPath: mypersistentdisk
                  sizeInGB: 2
                public: true
                temporaryDisk:
                  mountPath: mytemporarydisk
                  sizeInGB: 2
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Creating
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: appResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings
  : get:
      description: Handles requests to list all resources in an App.
      operationId: bindings_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResourceCollection'
          description: Success. The response describes the list of Bindings in the
            App.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Bindings_List:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                  name: mybinding
                  properties:
                    bindingParameters:
                      apiType: SQL
                      databaseName: db1
                    createdAt: 2019-01-01T12:34:56.000Z
                    generatedProperties: |-
                      spring.datasource.url=jdbc:mysql://localhost:3306/test
                      spring.datasource.username=root
                      spring.datasource.password=1****6
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                    resourceName: my-cosmosdb-1
                    resourceType: Microsoft.DocumentDB
                    updatedAt: 2019-01-01T12:34:56.000Z
                  type: Microsoft.AppPlatform/Spring/apps/bindings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings/{bindingName}
  : delete:
      description: Operation to delete a Binding.
      operationId: bindings_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Binding resource.
        in: path
        name: binding_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success. The response indicates the resource is deleted.
        "204":
          content: {}
          description: Success. The response indicates the resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Bindings_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    get:
      description: Get a Binding and its properties.
      operationId: bindings_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Binding resource.
        in: path
        name: bindingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResource'
          description: Success. The response describes the corresponding Binding.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Bindings_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    patch:
      description: Operation to update an exiting Binding.
      operationId: bindings_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Binding resource.
        in: path
        name: binding_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindingResource'
        description: Parameters for the update operation
        required: true
        x-body-name: bindingResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResource'
          description: Success. The response describes the updated Binding.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Bindings_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            bindingResource:
              properties:
                bindingParameters:
                  apiType: SQL
                  databaseName: db1
                key: xxxx
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
      x-codegen-request-body-name: bindingResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    put:
      description: Create a new Binding or update an exiting Binding.
      operationId: bindings_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Binding resource.
        in: path
        name: binding_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindingResource'
        description: Parameters for the create or update operation
        required: true
        x-body-name: bindingResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResource'
          description: Success. The response describes the created or updated Binding.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Bindings_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            bindingResource:
              properties:
                bindingParameters:
                  apiType: SQL
                  databaseName: db1
                key: xxxx
                resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                resourceName: my-cosmosdb-1
                resourceType: Microsoft.DocumentDB
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
      x-codegen-request-body-name: bindingResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments
  : get:
      description: Handles requests to list all resources in an App.
      operationId: deployments_list
      parameters:
      - description: Version of the deployments to be listed
        explode: true
        in: query
        name: version
        schema:
          items:
            type: string
          type: array
          uniqueItems: false
        style: form
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResourceCollection'
          description: Success. The response describes the list of Deployments in
            the App.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_List:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                  name: mydeployment
                  properties:
                    active: false
                    appName: myapp
                    deploymentSettings:
                      cpu: 1
                      environmentVariables:
                        env: test
                      instanceCount: 1
                      jvmOptions: -Xms1G -Xmx3G
                      memoryInGB: 3
                      runtimeVersion: Java_8
                    instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                    provisioningState: Succeeded
                    source:
                      artifactSelector: sub-module-1
                      relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                      type: Source
                      version: "1.0"
                    status: Running
                  type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}
  : delete:
      description: Operation to delete a Deployment.
      operationId: deployments_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success. The response indicates the resource is deleted.
        "204":
          content: {}
          description: Success. The response indicates the resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    get:
      description: Get a Deployment and its properties.
      operationId: deployments_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResource'
          description: Success. The response describes the corresponding Deployment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                  - discoveryStatus: pending
                    name: instance1
                    status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    patch:
      description: Operation to update an exiting Deployment.
      operationId: deployments_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentResource'
        description: Parameters for the update operation
        required: true
        x-body-name: deploymentResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResource'
          description: Success. The response describes the updated Deployment.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResource'
          description: "Accepted. The response indicates the exiting Deployment is\
            \ now updating and contains a Location\r\nheader to query the operation\
            \ result."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            deploymentResource:
              properties:
                source:
                  artifactSelector: sub-module-1
                  relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                  type: Source
                  version: "1.0"
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                  - discoveryStatus: pending
                    name: instance1
                    status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                  - discoveryStatus: pending
                    name: instance1
                    status: Running
                  provisioningState: Updating
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: deploymentResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
    put:
      description: Create a new Deployment or update an exiting Deployment.
      operationId: deployments_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentResource'
        description: Parameters for the create or update operation
        required: true
        x-body-name: deploymentResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResource'
          description: Success. The response describes the updated Deployment.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResource'
          description: "Created. The response describes the new Deployment and contains\
            \ a Location header to query the\r\noperation result."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            deploymentResource:
              properties:
                deploymentSettings:
                  cpu: 1
                  environmentVariables:
                    env: test
                  instanceCount: 1
                  jvmOptions: -Xms1G -Xmx3G
                  memoryInGB: 3
                  runtimeVersion: Java_8
                source:
                  artifactSelector: sub-module-1
                  relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                  type: Source
                  version: "1.0"
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                  - discoveryStatus: pending
                    name: instance1
                    status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                  - discoveryStatus: pending
                    name: instance1
                    status: Running
                  provisioningState: Updating
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Compiling
                type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: deploymentResource
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/getLogFileUrl
  : post:
      description: Get deployment log file URL
      operationId: deployments_get_log_file_url
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFileUrlResponse'
          description: Success. The response contains the log file URL.
        "204":
          content: {}
          description: Success. The deployment does not have log file.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_GetLogFileUrl:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                url: https://spring.blob.core.windows.net/logs/110ec0c337154d45b1f01daf2196c0bf/b58b0cb4ecdea3c65311b4ca8833fe47b6ae0a7500f87a8eb31e8379d3fe48f1-2019081312-42b7b90c-f108-4c09-b33d-1ea134f57f23?sv=2018-03-28&sr=b&sig=example-signature&se=2019-08-14T09%3A43%3A52Z&sp=r
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/restart
  : post:
      description: Restart the deployment.
      operationId: deployments_restart
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success.
        "202":
          content: {}
          description: "Accepted. The response indicates the Deployment is now restarting\
            \ and contains a Location header\r\nto query the operation result."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_Restart:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/start
  : post:
      description: Start the deployment.
      operationId: deployments_start
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success.
        "202":
          content: {}
          description: "Accepted. The response indicates the Deployment is now starting\
            \ and contains a Location header to\r\nquery the operation result."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AppPlatform
      x-ms-examples:
        Deployments_Start:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.app_platform_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/stop
  : post:
      description: Stop the deployment.
      operationId: deployments_stop
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2019-05-01-preview
          type: string
      - description: Gets subscription ID which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Service resource.
        in: path
        name: service_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the App resource.
        in: path
        name: app_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Deployment resource.
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Success.
        "202":
          content: {}
          description: "Accepted. The response indicates the Deployment is now stopping\
[...]
