openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/account.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-account
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Automation/operations:
    get:
      description: Lists all of the available Automation REST API operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts:
    get:
      description: Retrieve a list of accounts within a given subscription.
      operationId: automation_account_list
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccountListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Error response describing why the operation failed.
      summary: Lists the Automation Accounts within an Azure subscription.
      tags:
      - AutomationAccount
      x-ms-examples:
        List automation accounts by resource group:
          parameters:
            api-version: 2015-10-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/JPEDeploy1/providers/Microsoft.Automation/automationAccounts/JPEDDeployDSC1
                  location: japaneast
                  name: JPEDDeployDSC1
                  properties:
                    creationTime: 2015-04-28T23:48:25.143+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.06+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/jpeDemo1/providers/Microsoft.Automation/automationAccounts/jpeDemoAutomation1
                  location: japaneast
                  name: jpeDemoAutomation1
                  properties:
                    creationTime: 2015-04-25T02:04:10.223+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.06+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/ASERG1/providers/Microsoft.Automation/automationAccounts/ASEAutomationAccount1
                  location: australiasoutheast
                  name: ASEAutomationAccount1
                  properties:
                    creationTime: 2016-04-12T05:19:19.48+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.64+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo
                  location: East US 2
                  name: AAEU2DSCDemo
                  properties:
                    creationTime: 2015-08-04T14:44:02.397+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo2
                  location: East US 2
                  name: AAEU2DSCDemo2
                  properties:
                    creationTime: 2015-08-04T15:03:45.977+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo1
                  location: East US 2
                  name: AAsnoverDemo1
                  properties:
                    creationTime: 2016-01-29T02:29:13.18+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/oaastest/providers/Microsoft.Automation/automationAccounts/automationaccdelete
                  location: eastus2
                  name: automationaccdelete
                  properties:
                    creationTime: 2016-03-29T20:30:49.97+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/mytest1212
                  location: eastus2
                  name: mytest1212
                  properties:
                    creationTime: 2016-12-12T20:25:36.34+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/deleteacc
                  location: eastus2
                  name: deleteacc
                  properties:
                    creationTime: 2017-01-12T22:13:39.79+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Automation/automationAccounts/deleteme
                  location: eastus2
                  name: deleteme
                  properties:
                    creationTime: 2017-01-12T21:56:10.267+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/tst/providers/Microsoft.Automation/automationAccounts/deleteme3
                  location: eastus2
                  name: deleteme3
                  properties:
                    creationTime: 2017-01-12T22:00:51.333+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/Eus2Account1
                  location: East US 2
                  name: Eus2Account1
                  properties:
                    creationTime: 2016-05-19T19:07:43.2+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/EUS2Deploy1/providers/Microsoft.Automation/automationAccounts/EUS2DDeployDSC1
                  location: eastus2
                  name: EUS2DDeployDSC1
                  properties:
                    creationTime: 2015-04-28T23:50:56.16+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/eusAccount2
                  location: eastus2
                  name: eusAccount2
                  properties:
                    creationTime: 2016-05-19T19:12:19.853+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdAutomation1
                  location: eastus2
                  name: myProdAutomation1
                  properties:
                    creationTime: 2017-02-16T21:31:06.333+00:00
                    lastModifiedTime: 2017-02-16T21:31:06.333+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdDevAutomation
                  location: eastus2
                  name: myProdDevAutomation
                  properties:
                    creationTime: 2016-10-27T21:11:16.71+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdPublicAutomation
                  location: eastus2
                  name: myProdPublicAutomation
                  properties:
                    creationTime: 2016-11-18T19:49:08.893+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myTestaccount
                  location: eastus2
                  name: myTestaccount
                  properties:
                    creationTime: 2016-09-24T00:47:04.227+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus
                  location: eastus2
                  name: kjohn-sandbox-eus
                  properties:
                    creationTime: 2017-03-19T17:29:18.493+00:00
                    lastModifiedTime: 2017-03-19T17:29:18.493+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-proddev
                  location: eastus2
                  name: kjohn-sandbox-eus-proddev
                  properties:
                    creationTime: 2017-01-06T02:33:10.29+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest
                  location: eastus2
                  name: kjohn-sandbox-eus-prodtest
                  properties:
                    creationTime: 2017-01-10T23:40:13.103+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest2
                  location: eastus2
                  name: kjohn-sandbox-eus-prodtest2
                  properties:
                    creationTime: 2017-01-11T00:20:50.463+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsEUS-AA2
                  location: eastus2
                  name: LinuxPatchingOpsEUS-AA2
                  properties:
                    creationTime: 2016-09-24T03:17:00.043+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxTestNewAA
                  location: eastus2
                  name: LinuxTestNewAA
                  properties:
                    creationTime: 2016-09-23T18:50:54.887+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/OaasCSsubid-east-us/providers/Microsoft.Automation/automationAccounts/psrdfeAccount2
                  location: East US 2
                  name: psrdfeAccount2
                  properties:
                    creationTime: 2015-05-05T00:26:49.02+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/myrg/providers/Microsoft.Automation/automationAccounts/my-account-one
                  location: eastus2
                  name: my-account-one
                  properties:
                    creationTime: 2016-10-27T17:54:31.007+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-no-vms
                  location: eastus2
                  name: myku-no-vms
                  properties:
                    creationTime: 2016-09-30T01:12:00.853+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-win-vms
                  location: eastus2
                  name: myku-win-vms
                  properties:
                    creationTime: 2016-09-30T01:17:07.613+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/SVCPrnAcctTest1
                  location: eastus2
                  name: SVCPrnAcctTest1
                  properties:
                    creationTime: 2016-03-28T20:12:48.163+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/tesdbgfvfhgjghjgh/providers/Microsoft.Automation/automationAccounts/testfgbhfghfgh
                  location: eastus2
                  name: testfgbhfghfgh
                  properties:
                    creationTime: 2016-12-12T20:48:59.3+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/test-linux-linuxopsworkspace
                  location: eastus2
                  name: test-linux-linuxopsworkspace
                  properties:
                    creationTime: 2016-09-23T18:59:56.99+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-dsc-test-1
                  location: eastus2
                  name: my-dsc-test-1
                  properties:
                    creationTime: 2016-11-10T00:21:05.133+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-test-automation-1
                  location: eastus2
                  name: my-test-automation-1
                  properties:
                    creationTime: 2016-11-09T19:57:50.043+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/myresourcegroupeus/providers/Microsoft.Automation/automationAccounts/myAccount
                  location: eastus2
                  name: myAccount
                  properties:
                    creationTime: 2017-03-10T19:10:30.453+00:00
                    lastModifiedTime: 2017-03-10T19:10:30.453+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123
                  location: eastus2
                  name: myAccount123
                  properties:
                    creationTime: 2016-09-29T00:32:32.52+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads
                  location: East US 2
                  name: myAccountasfads
                  properties:
                    creationTime: 2017-03-24T23:21:03.27+00:00
                    lastModifiedTime: 2017-03-24T23:21:03.27+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/myResourceGroupEUS/providers/Microsoft.Automation/automationAccounts/myAccountEUS
                  location: eastus2
                  name: myAccountEUS
                  properties:
                    creationTime: 2016-09-29T23:13:38.873+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1
                  location: East US 2
                  name: myAutomationAccount1
                  properties:
                    creationTime: 2017-03-24T23:22:33.26+00:00
                    lastModifiedTime: 2017-03-24T23:22:33.26+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11
                  location: East US 2
                  name: myAutomationAccount11
                  properties:
                    creationTime: 2017-03-26T02:10:24.523+00:00
                    lastModifiedTime: 2017-03-26T02:11:12.027+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2
                  location: East US 2
                  name: myAutomationAccount2
                  properties:
                    creationTime: 2017-03-24T23:24:20.31+00:00
                    lastModifiedTime: 2017-03-24T23:24:20.31+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3
                  location: East US 2
                  name: myAutomationAccount3
                  properties:
                    creationTime: 2017-03-24T23:24:43.967+00:00
                    lastModifiedTime: 2017-03-24T23:24:43.967+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4
                  location: East US 2
                  name: myAutomationAccount4
                  properties:
                    creationTime: 2017-03-25T02:04:56.9+00:00
                    lastModifiedTime: 2017-03-25T02:04:56.9+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6
                  location: East US 2
                  name: myAutomationAccount6
                  properties:
                    creationTime: 2017-03-25T02:10:44.567+00:00
                    lastModifiedTime: 2017-03-25T02:10:44.567+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7
                  location: East US 2
                  name: myAutomationAccount7
                  properties:
                    creationTime: 2017-03-25T02:19:17.943+00:00
                    lastModifiedTime: 2017-03-25T02:19:17.943+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/WEURG1/providers/Microsoft.Automation/automationAccounts/CSSCase1
                  location: westeurope
                  name: CSSCase1
                  properties:
                    creationTime: 2016-08-18T05:53:58.91+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/deleteme
                  location: westeurope
                  name: deleteme
                  properties:
                    creationTime: 2017-01-12T21:48:47.98+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/mms-weu/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsWEU-AA2
                  location: westeurope
                  name: LinuxPatchingOpsWEU-AA2
                  properties:
                    creationTime: 2016-09-24T02:27:35.713+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/LinuxPatchJobs
                  location: westeurope
                  name: LinuxPatchJobs
                  properties:
                    creationTime: 2016-09-14T22:02:28.223+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolAAC1
                  location: westeurope
                  name: MyCoolAAC1
                  properties:
                    creationTime: 2016-09-22T05:59:22.443+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolACT1
                  location: westeurope
                  name: MyCoolACT1
                  properties:
                    creationTime: 2016-09-22T06:05:18.5+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-West-Europe/providers/Microsoft.Automation/automationAccounts/MyTestmyTest-WEU
                  location: West Europe
                  name: MyTestmyTest-WEU
                  properties:
                    creationTime: 2014-11-12T02:48:51.473+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/WEDeploy1/providers/Microsoft.Automation/automationAccounts/WEDDeployDSC1
                  location: westeurope
                  name: WEDDeployDSC1
                  properties:
                    creationTime: 2015-04-28T23:20:01.73+00:00
                    lastModifiedTime: 2017-03-13T08:43:47.36+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/SEADeploy1/providers/Microsoft.Automation/automationAccounts/SEADDeployDSC1
                  location: southeamyia
                  name: SEADDeployDSC1
                  properties:
                    creationTime: 2015-04-28T19:06:39.1+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.683+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/seaDemo1/providers/Microsoft.Automation/automationAccounts/seaDemoAutomation1
                  location: southeamyia
                  name: seaDemoAutomation1
                  properties:
                    creationTime: 2015-04-25T01:31:32.15+00:00
                    lastModifiedTime: 2017-02-09T21:35:16.683+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo2
                  location: South Central US
                  name: AAsnoverDemo2
                  properties:
                    creationTime: 2016-01-29T02:30:05.84+00:00
                    lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/SCUSDeploy1/providers/Microsoft.Automation/automationAccounts/SCUSDDeployDSC1
                  location: southcentralus
                  name: SCUSDDeployDSC1
                  properties:
                    creationTime: 2015-06-04T23:06:44.897+00:00
                    lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/scusposthydtest1
                  location: South Central US
                  name: scusposthydtest1
                  properties:
                    creationTime: 2015-06-04T16:44:18.823+00:00
                    lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-South-Central-US/providers/Microsoft.Automation/automationAccounts/scustestaccount1
                  location: South Central US
                  name: scustestaccount1
                  properties:
                    creationTime: 2015-05-30T01:54:57.313+00:00
                    lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/UKSRG1/providers/Microsoft.Automation/automationAccounts/AAUKSmyTest1
                  location: uksouth
                  name: AAUKSmyTest1
                  properties:
                    creationTime: 2017-02-15T02:31:03.19+00:00
                    lastModifiedTime: 2017-02-15T02:31:03.19+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/Gaurav_machines/providers/Microsoft.Automation/automationAccounts/Tip-WCUS-AutomationAccount
                  location: westcentralus
                  name: Tip-WCUS-AutomationAccount
                  properties:
                    creationTime: 2017-03-08T19:53:36.2933333+00:00
                    lastModifiedTime: 2017-03-08T19:53:36.2933333+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/myRG/providers/Microsoft.Automation/automationAccounts/aa-my
                  location: northeurope
                  name: aa-my
                  properties:
                    creationTime: 2016-09-21T18:59:56.26+00:00
                    lastModifiedTime: 2017-02-09T21:35:15.457+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/CIDAccout1
                  location: Central India
                  name: CIDAccout1
                  properties:
                    creationTime: 2016-02-24T20:04:58.867+00:00
                    lastModifiedTime: 2017-02-09T21:35:19.003+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/aaspntest
                  location: northcentralus
                  name: aaspntest
                  properties:
                    creationTime: 2016-12-06T17:18:51.88+00:00
                    lastModifiedTime: 2017-02-09T21:35:19.37+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsccomposite
                  location: northcentralus
                  name: dsccomposite
                  properties:
                    creationTime: 2017-02-13T17:37:55.163+00:00
                    lastModifiedTime: 2017-03-06T17:19:15.09+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsclinux
                  location: northcentralus
                  name: dsclinux
                  properties:
                    creationTime: 2017-03-06T21:50:05.493+00:00
                    lastModifiedTime: 2017-03-06T21:50:05.493+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc
                  location: northcentralus
                  name: mydsc
                  properties:
                    creationTime: 2016-11-01T17:28:36.197+00:00
                    lastModifiedTime: 2017-02-09T21:35:19.37+00:00
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc2
                  location: northcentralus
                  name: mydsc2
                  properties:
                    creationTime: 2016-11-01T18:50:06.063+00:00
                    lastModifiedTime: 2017-03-11T01:33:13.113+00:00
                  type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts:
    get:
      description: Retrieve a list of accounts within a given resource group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: automation_account_list_by_resource_group
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccountListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AutomationAccount
      x-ms-examples:
        List automation accounts by resource group:
          parameters:
            api-version: 2015-10-31
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myaccount
                  location: eastus2
                  name: myaccount
                  properties:
                    creationTime: 2016-09-24T00:47:04.227+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123
                  location: eastus2
                  name: myAccount123
                  properties:
                    creationTime: 2016-09-29T00:32:32.52+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads
                  location: East US 2
                  name: myAccountasfads
                  properties:
                    creationTime: 2017-03-24T23:21:03.27+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-24T23:21:03.27+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1
                  location: East US 2
                  name: myAutomationAccount1
                  properties:
                    creationTime: 2017-03-24T23:22:33.26+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-24T23:22:33.26+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11
                  location: East US 2
                  name: myAutomationAccount11
                  properties:
                    creationTime: 2017-03-26T02:10:24.523+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-26T02:11:12.027+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2
                  location: East US 2
                  name: myAutomationAccount2
                  properties:
                    creationTime: 2017-03-24T23:24:20.31+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-24T23:24:20.31+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3
                  location: East US 2
                  name: myAutomationAccount3
                  properties:
                    creationTime: 2017-03-24T23:24:43.967+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-24T23:24:43.967+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4
                  location: East US 2
                  name: myAutomationAccount4
                  properties:
                    creationTime: 2017-03-25T02:04:56.9+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-25T02:04:56.9+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6
                  location: East US 2
                  name: myAutomationAccount6
                  properties:
                    creationTime: 2017-03-25T02:10:44.567+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-25T02:10:44.567+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7
                  location: East US 2
                  name: myAutomationAccount7
                  properties:
                    creationTime: 2017-03-25T02:19:17.943+00:00
                    lastModifiedBy: myEmailId@microsoft.com
                    lastModifiedTime: 2017-03-25T02:19:17.943+00:00
                    state: Ok
                  type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}
  : delete:
      description: Delete an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: automation_account_delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AutomationAccount
      x-ms-examples:
        Delete automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
    get:
      description: Get information about an Automation Account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: automation_account_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AutomationAccount
      x-ms-examples:
        Get automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
    patch:
      description: Update an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: automation_account_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationAccountUpdateParameters'
        description: Parameters supplied to the update automation account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AutomationAccount
      x-ms-examples:
        Update an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            parameters:
              location: East US 2
              name: myAutomationAccount9
              properties:
                sku:
                  name: Free
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
    put:
      description: Create or update automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: automation_account_create_or_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationAccountCreateOrUpdateParameters'
        description: Parameters supplied to the create or update automation account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AutomationAccount
      x-ms-examples:
        Create or update automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            parameters:
              location: East US 2
              name: myAutomationAccount9
              properties:
                sku:
                  name: Free
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: ContoseAutomationAccount
                properties:
                  creationTime: 2017-03-28T18:21:15.187+00:00
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-28T18:21:15.187+00:00
                  sku:
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.automation_account_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listKeys
  : post:
      description: Retrieve the automation keys for an account.
      operationId: keys_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ListKeys
      x-ms-examples:
        Get lists of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                keys:
                - KeyName: Primary
                  Permissions: Full
                  Value: '**************************************************************'
                - KeyName: Secondary
                  Permissions: Full
                  Value: '**************************************************************'
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.list_keys_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics
  : get:
      description: Retrieve the statistics for the account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/statisticsoperations
      operationId: statistics_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Statistics
      x-ms-examples:
        Get statistics of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount11
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - counterProperty: New
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/New
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Activating
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Activating
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Running
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Running
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Completed
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Completed
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Failed
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Failed
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Stopped
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopped
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Blocked
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Blocked
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Suspended
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspended
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Disconnected
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Disconnected
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Suspending
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspending
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Stopping
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopping
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Resuming
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Resuming
                  startTime: 2017-03-19T02:11:49.9879197+00:00
                - counterProperty: Removing
                  counterValue: 0
                  endTime: 2017-03-26T02:11:49.9879197+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Removing
                  startTime: 2017-03-19T02:11:49.9879197+00:00
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/usages
  : get:
      description: Retrieve the usage for the account id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/usageoperations
      operationId: usages_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Usages
      x-ms-examples:
        Get usages of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount11
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 0
                  limit: 500
                  name:
                    localizedValue: AccountUsage
                    value: AccountUsage
                  throttleStatus: NotThrottled
                  unit: Minute
                - currentValue: 429
                  limit: 500
                  name:
                    localizedValue: SubscriptionUsage
                    value: SubscriptionUsage
                  throttleStatus: NotThrottled
                  unit: Minute
                - currentValue: 8
                  limit: 5
                  name:
                    localizedValue: DscSubscriptionUsage
                    value: DscSubscriptionUsage
                  throttleStatus: ThrottledAtSubscriptionLevel
                  unit: Count
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.usages_controller
components:
  schemas:
    AutomationAccount:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: Definition of the automation account type.
      example:
        etag: etag
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          description: description
          state: Ok
          sku:
            name: Free
            family: family
            capacity: 0
      properties:
        etag:
          description: Gets or sets the etag of the resource.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/AutomationAccountProperties'
      title: AutomationAccount
    AutomationAccountCreateOrUpdateParameters:
      description: The parameters supplied to the create or update automation account
        operation.
      example:
        name: name
        location: location
        properties:
          sku:
            name: Free
            family: family
            capacity: 0
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets the location of the resource.
          title: location
          type: string
        name:
          description: Gets or sets name of the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AutomationAccountCreateOrUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          title: tags
          type: object
      title: AutomationAccountCreateOrUpdateParameters
      type: object
    AutomationAccountCreateOrUpdateProperties:
      description: The parameters supplied to the create or update account properties.
      example:
        sku:
          name: Free
          family: family
          capacity: 0
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
      title: AutomationAccountCreateOrUpdateProperties
      type: object
    AutomationAccountListResult:
      description: The response model for the list account operation.
      example:
        value:
        - etag: etag
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            description: description
            state: Ok
            sku:
              name: Free
              family: family
              capacity: 0
        - etag: etag
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            description: description
            state: Ok
            sku:
              name: Free
              family: family
              capacity: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        value:
          description: Gets or sets list of accounts.
          items:
            $ref: '#/components/schemas/AutomationAccount'
          title: value
          type: array
      title: AutomationAccountListResult
      type: object
    AutomationAccountProperties:
      description: Definition of the account property.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        description: description
        state: Ok
        sku:
          name: Free
          family: family
          capacity: 0
      properties:
        creationTime:
          description: Gets the creation time.
          format: date-time
          nullable: false
          readOnly: true
          title: creationTime
          type: string
        description:
          description: Gets or sets the description.
          title: description
          type: string
        lastModifiedBy:
          description: Gets or sets the last modified by.
          title: lastModifiedBy
          type: string
        lastModifiedTime:
          description: Gets the last modified time.
          format: date-time
          nullable: false
          readOnly: true
          title: lastModifiedTime
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
        state:
          description: Gets status of account.
          enum:
          - Ok
          - Unavailable
          - Suspended
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: AutomationAccountState
      title: AutomationAccountProperties
      type: object
    AutomationAccountUpdateParameters:
      description: The parameters supplied to the update automation account operation.
      example:
        name: name
        location: location
        properties:
          sku:
            name: Free
            family: family
            capacity: 0
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets the location of the resource.
          title: location
          type: string
        name:
          description: Gets or sets the name of the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AutomationAccountUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          title: tags
          type: object
      title: AutomationAccountUpdateParameters
      type: object
    AutomationAccountUpdateProperties:
      description: The parameters supplied to the update account properties.
      example:
        sku:
          name: Free
          family: family
          capacity: 0
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
      title: AutomationAccountUpdateProperties
      type: object
    Key:
      description: Automation key which is used to register a DSC Node
      example:
        KeyName: Primary
        Permissions: Read
        Value: Value
      properties:
        KeyName:
          description: Automation key name.
          enum:
          - Primary
          - Secondary
          readOnly: true
          title: KeyName
          type: string
          x-ms-enum:
            modelAsString: true
            name: AutomationKeyName
        Permissions:
          description: Automation key permissions.
          enum:
          - Read
          - Full
          readOnly: true
          title: Permissions
          type: string
          x-ms-enum:
            modelAsString: true
            name: AutomationKeyPermissions
        Value:
          description: Value of the Automation Key used for registration.
          readOnly: true
          title: Value
          type: string
      title: Key
      type: object
    KeyListResult:
      example:
        keys:
        - KeyName: Primary
          Permissions: Read
          Value: Value
        - KeyName: Primary
          Permissions: Read
          Value: Value
      properties:
        keys:
          description: Lists the automation keys.
          items:
            $ref: '#/components/schemas/Key'
          title: keys
          type: array
      title: KeyListResult
      type: object
    Operation:
      description: Automation REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: The response model for the list of Automation operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
      properties:
        value:
          description: List of Automation operations supported by the Automation resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Sku:
      description: The account SKU.
      example:
        name: Free
        family: family
        capacity: 0
      properties:
        capacity:
          description: Gets or sets the SKU capacity.
          format: int32
          title: capacity
          type: integer
        family:
          description: Gets or sets the SKU family.
          title: family
          type: string
        name:
          description: Gets or sets the SKU name of the account.
          enum:
          - Free
          - Basic
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuNameEnum
      required:
      - name
      title: Sku
      type: object
    Statistics:
      description: Definition of the statistic.
      example:
        counterValue: 0
        counterProperty: counterProperty
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        id: id
      properties:
        counterProperty:
          description: Gets the property value of the statistic.
          readOnly: true
          title: counterProperty
          type: string
        counterValue:
          description: Gets the value of the statistic.
          format: int64
          readOnly: true
          title: counterValue
          type: integer
        endTime:
          description: Gets the endTime of the statistic.
          format: date-time
          nullable: true
          readOnly: true
          title: endTime
          type: string
        id:
          description: Gets the id.
          readOnly: true
          title: id
          type: string
        startTime:
          description: Gets the startTime of the statistic.
          format: date-time
          nullable: false
          readOnly: true
          title: startTime
          type: string
      title: Statistics
      type: object
    StatisticsListResult:
      description: The response model for the list statistics operation.
      example:
        value:
        - counterValue: 0
          counterProperty: counterProperty
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          id: id
        - counterValue: 0
          counterProperty: counterProperty
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          id: id
      properties:
        value:
          description: Gets or sets a list of statistics.
          items:
            $ref: '#/components/schemas/Statistics'
          title: value
          type: array
      title: StatisticsListResult
      type: object
    Usage:
      description: Definition of Usage.
      example:
        unit: unit
        throttleStatus: throttleStatus
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        id: id
        currentValue: 0.8008281904610115
      properties:
        currentValue:
          description: Gets or sets the current usage value.
          format: double
          title: currentValue
          type: number
        id:
          description: Gets or sets the id of the resource.
          title: id
          type: string
        limit:
          description: Gets or sets max limit. -1 for unlimited
          format: int64
          title: limit
          type: integer
        name:
          $ref: '#/components/schemas/UsageCounterName'
        throttleStatus:
          description: Gets or sets the throttle status.
          title: throttleStatus
          type: string
        unit:
          description: Gets or sets the usage unit name.
          title: unit
          type: string
      title: Usage
      type: object
    UsageCounterName:
      description: Definition of usage counter name.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Gets or sets the localized usage counter name.
          title: localizedValue
          type: string
        value:
          description: Gets or sets the usage counter name.
          title: value
          type: string
      title: UsageCounterName
      type: object
    UsageListResult:
      description: The response model for the get usage operation.
      example:
        value:
        - unit: unit
          throttleStatus: throttleStatus
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          id: id
          currentValue: 0.8008281904610115
        - unit: unit
          throttleStatus: throttleStatus
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          id: id
          currentValue: 0.8008281904610115
      properties:
        value:
          description: Gets or sets usage.
          items:
            $ref: '#/components/schemas/Usage'
          title: value
          type: array
      title: UsageListResult
      type: object
    Operations_List_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: Operations_List_default_response
      type: object
    Operation_display:
      description: "Provider, Resource and Operation values"
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Automation"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Runbooks, Jobs\
            \ etc."
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
