openapi: 3.0.1
info:
  contact:
    email: mastercard@mastercard.com
    name: Mastercard
  description: MasterCard Bin Table Listing API
  license:
    name: mastercard
    url: http://www.mastercard.com
  title: MasterCard Bin Table Listing
  version: "1.0"
  x-artifactId: bintable
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/bin-table-resource
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: BINTableResource
  x-test-on-environment:
    environment: SANDBOX_MTF
servers:
- url: https://api.mastercard.com/fraud/mtf/bintable/v1
paths:
  /binlisting:
    get:
      description: REST service will retrieve and return the BIN Table file to Merchants.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinTableResponse'
          description: Successfully retrieved the BIN Table Listing file and available
            to Merchants
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResource'
          description: Resource Not Found
      summary: BIN Table Listing file
      tags:
      - BIN Table Listing Service
      x-samples:
      - keyId: default2
        name: example_BinTAble_Getrequest
        request:
          application/json: "{\n }     "
        response:
          application/json: |-
            {
               "data":"04241000000000000000424109999999999999MSI0000004782FIFTH"

             }
      x-accepts:
      - application/json
components:
  schemas:
    BinTableResponse:
      example:
        data: "001234"
      properties:
        data:
          description: BIN Table Listing file.
          example: "001234"
          type: string
      required:
      - data
      type: object
    NoResource:
      example:
        description: Resource not found
        recoverable: false
        ReasonCode: RESOURCE_UNKOWN
        Source: System
      properties:
        ReasonCode:
          description: RESOURCE_UNKOWN
          example: RESOURCE_UNKOWN
          type: string
        Source:
          description: System.
          example: System
          type: string
        description:
          description: Resource not found
          example: Resource not found
          type: string
        recoverable:
          example: false
          type: boolean
      type: object
x-original-swagger-version: "2.0"

