openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Routes
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_routes_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_routes_v2
servers:
- url: https://routes.twilio.com
tags:
- name: RoutesV2PhoneNumber
- name: RoutesV2SipDomain
- name: RoutesV2Trunk
paths:
  /v2/PhoneNumbers/{PhoneNumber}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch the Inbound Processing Region assigned to a phone number.
      operationId: fetch_phone_number
      parameters:
      - description: The phone number in E.164 format
        explode: false
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2PhoneNumber
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_phone_number_controller
    post:
      description: Assign an Inbound Processing Region to a phone number.
      operationId: update_phone_number
      parameters:
      - description: The phone number in E.164 format
        explode: false
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2PhoneNumber
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_phone_number_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://routes.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
  /v2/SipDomains/{SipDomain}:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_sip_domain
      parameters:
      - description: ""
        explode: false
        in: path
        name: SipDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.sip_domain'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2SipDomain
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_sip_domain_controller
    post:
      description: ""
      operationId: update_sip_domain
      parameters:
      - description: ""
        explode: false
        in: path
        name: SipDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSipDomainRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.sip_domain'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2SipDomain
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_sip_domain_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://routes.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
  /v2/Trunks/{SipTrunkDomain}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch the Inbound Processing Region assigned to a SIP Trunk.
      operationId: fetch_trunks
      parameters:
      - description: The absolute URL of the SIP Trunk
        explode: false
        in: path
        name: SipTrunkDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.trunks'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2Trunk
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_trunk_controller
    post:
      description: Assign an Inbound Processing Region to a SIP Trunk
      operationId: update_trunks
      parameters:
      - description: The absolute URL of the SIP Trunk
        explode: false
        in: path
        name: SipTrunkDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTrunksRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.trunks'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - RoutesV2Trunk
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.routes_v2_trunk_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://routes.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
components:
  schemas:
    routes.v2.phone_number:
      example:
        voice_region: voice_region
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        phone_number: phone_number
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date that this phone number was assigned an Inbound Processing\
            \ Region, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that the Inbound Processing Region was updated for\
            \ this phone number, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: "A human readable description of the Inbound Processing Region\
            \ assignments for this phone number, up to 64 characters."
          nullable: true
          title: friendly_name
          type: string
        phone_number:
          description: The phone number in E.164 format
          nullable: true
          title: phone_number
          type: string
        sid:
          description: A 34 character string that uniquely identifies the Inbound
            Processing Region assignments for this phone number.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^QQ[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        voice_region:
          description: The Inbound Processing Region used for this phone number for
            voice.
          nullable: true
          title: voice_region
          type: string
      title: routes.v2.phone_number
      type: object
    routes.v2.sip_domain:
      example:
        voice_region: voice_region
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
        sip_domain: sip_domain
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          nullable: true
          title: friendly_name
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^QQ[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sip_domain:
          nullable: true
          title: sip_domain
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
        voice_region:
          nullable: true
          title: voice_region
          type: string
      title: routes.v2.sip_domain
      type: object
    routes.v2.trunks:
      example:
        voice_region: voice_region
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        sip_trunk_domain: sip_trunk_domain
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date that this SIP Trunk was assigned an Inbound Processing\
            \ Region, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that the Inbound Processing Region was updated for\
            \ this SIP Trunk, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: "A human readable description of the Inbound Processing Region\
            \ assignments for this SIP Trunk, up to 64 characters."
          nullable: true
          title: friendly_name
          type: string
        sid:
          description: A 34 character string that uniquely identifies the Inbound
            Processing Region assignments for this SIP Trunk.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^QQ[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sip_trunk_domain:
          description: The absolute URL of the SIP Trunk
          nullable: true
          title: sip_trunk_domain
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        voice_region:
          description: The Inbound Processing Region used for this SIP Trunk for voice.
          nullable: true
          title: voice_region
          type: string
      title: routes.v2.trunks
      type: object
    UpdatePhoneNumberRequest:
      properties:
        FriendlyName:
          description: "A human readable description of this resource, up to 64 characters."
          type: string
        VoiceRegion:
          description: The Inbound Processing Region used for this phone number for
            voice
          type: string
      title: UpdatePhoneNumberRequest
      type: object
    UpdateSipDomainRequest:
      properties:
        FriendlyName:
          description: ""
          type: string
        VoiceRegion:
          description: ""
          type: string
      title: UpdateSipDomainRequest
      type: object
    UpdateTrunksRequest:
      properties:
        FriendlyName:
          description: "A human readable description of this resource, up to 64 characters."
          type: string
        VoiceRegion:
          description: The Inbound Processing Region used for this SIP Trunk for voice
          type: string
      title: UpdateTrunksRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
