openapi: 3.0.0
info:
  description: "With the Movie Reviews API, you can search New York Times movie reviews\
    \ by keyword and get lists of NYT Critics' Picks."
  termsOfService: http://developer.nytimes.com/tou
  title: Movie Reviews API
  version: 2.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/movie_reviews/movie_reviews_v2.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: movie_reviews
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/movies/v2
- url: https://api.nytimes.com/svc/movies/v2
security:
- apikey: []
paths:
  /critics/{resource-type}.json:
    get:
      parameters:
      - description: |
          all | full-time | part-time | [reviewer-name]

          Specify all to get all Times reviewers, or specify full-time or part-time to get that subset. Specify a reviewer's name to get details about a particular reviewer.
        explode: false
        in: path
        name: resource-type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_critics__resource_type__json_get_200_response'
          description: An array of Movie Critics
      x-accepts:
      - application/json
  /reviews/search.json:
    get:
      parameters:
      - description: "Search keywords; matches movie title and indexed terms\n\nTo\
          \ limit your search to exact matches only, surround your search string with\
          \ single quotation marks (e.g., query='28+days+later'). Otherwise, responses\
          \ will include partial matches (\"head words\") as well as exact matches\
          \ (e.g., president will match president, presidents and presidential).\n\
          \  \n  If you specify multiple terms without quotation marks, they will\
          \ be combined in an OR search.\n  \n  If you omit the query parameter, your\
          \ request will be equivalent to a reviews and NYT Critics' Picks request.\n"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: |
          Set this parameter to Y to limit the results to NYT Critics' Picks. To get only those movies that have not been highlighted by Times critics, specify critics-pick=N. (To get all reviews regardless of critics-pick status, simply omit this parameter.)
        explode: true
        in: query
        name: critics-pick
        required: false
        schema:
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      - description: |
          Include this parameter to limit your results to reviews by a specific critic. Reviewer names should be formatted like this: Manohla Dargis.
        explode: true
        in: query
        name: reviewer
        required: false
        schema:
          type: string
        style: form
      - description: |
          Single date: YYYY-MM-DD

          Start and end date: YYYY-MM-DD;YYYY-MM-DD

          The publication-date is the date the review was first published in The Times.
        explode: true
        in: query
        name: publication-date
        required: false
        schema:
          type: string
        style: form
      - description: |
          Single date: YYYY-MM-DD

          Start and end date: YYYY-MM-DD;YYYY-MM-DD

          The opening-date is the date the movie's opening date in the New York region.
        explode: true
        in: query
        name: opening-date
        required: false
        schema:
          type: string
        style: form
      - description: "Positive integer, multiple of 20"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: |
          Sets the sort order of the results.

          Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

          If you do not specify a sort order, the results will be ordered by publication-date.
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_reviews_search_json_get_200_response'
          description: An array of Movies
      x-accepts:
      - application/json
  /reviews/{resource-type}.json:
    get:
      parameters:
      - description: |+
          Specify all to retrieve all reviews, including NYT Critics' Picks.

          Specify picks to get NYT Critics' Picks currently in theaters.

        explode: false
        in: path
        name: resource-type
        required: true
        schema:
          enum:
          - all
          - picks
          type: string
        style: simple
      - description: "Positive integer, multiple of 20"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: |
          Sets the sort order of the results.

          Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

          If you do not specify a sort order, the results will be ordered by publication-date.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: by-publication-date
          enum:
          - by-title
          - by-publication-date
          - by-opening-date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_reviews_search_json_get_200_response'
          description: An array of Movies
      x-accepts:
      - application/json
components:
  schemas:
    Critic:
      example:
        multimedia:
          resource:
            src: src
            width: 1
            credit: credit
            type: type
            height: 6
        bio: bio
        seo_name: seo_name
        sort_name: sort_name
        display_name: display_name
        status: status
      properties:
        bio:
          type: string
        display_name:
          type: string
        multimedia:
          $ref: '#/components/schemas/Critic_multimedia'
        seo_name:
          type: string
        sort_name:
          type: string
        status:
          type: string
      type: object
    Movie:
      example:
        multimedia:
          resource:
            src: src
            width: 5
            type: type
            height: 1
        date_updated: date_updated
        display_title: display_title
        link:
          suggested_link_text: suggested_link_text
          type: type
          url: url
        publication_date: publication_date
        summary_short: summary_short
        critics_pick: 6
        byline: byline
        headline: headline
        mpaa_rating: mpaa_rating
        opening_date: opening_date
      properties:
        byline:
          type: string
        critics_pick:
          type: integer
        date_updated:
          type: string
        display_title:
          type: string
        headline:
          type: string
        link:
          $ref: '#/components/schemas/Movie_link'
        mpaa_rating:
          type: string
        multimedia:
          $ref: '#/components/schemas/Movie_multimedia'
        opening_date:
          type: string
        publication_date:
          type: string
        summary_short:
          type: string
      type: object
    _critics__resource_type__json_get_200_response:
      example:
        copyright: copyright
        results:
        - multimedia:
            resource:
              src: src
              width: 1
              credit: credit
              type: type
              height: 6
          bio: bio
          seo_name: seo_name
          sort_name: sort_name
          display_name: display_name
          status: status
        - multimedia:
            resource:
              src: src
              width: 1
              credit: credit
              type: type
              height: 6
          bio: bio
          seo_name: seo_name
          sort_name: sort_name
          display_name: display_name
          status: status
        num_results: 0
        status: status
      properties:
        copyright:
          type: string
        num_results:
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Critic'
          type: array
        status:
          type: string
      type: object
    _reviews_search_json_get_200_response:
      example:
        copyright: copyright
        results:
        - multimedia:
            resource:
              src: src
              width: 5
              type: type
              height: 1
          date_updated: date_updated
          display_title: display_title
          link:
            suggested_link_text: suggested_link_text
            type: type
            url: url
          publication_date: publication_date
          summary_short: summary_short
          critics_pick: 6
          byline: byline
          headline: headline
          mpaa_rating: mpaa_rating
          opening_date: opening_date
        - multimedia:
            resource:
              src: src
              width: 5
              type: type
              height: 1
          date_updated: date_updated
          display_title: display_title
          link:
            suggested_link_text: suggested_link_text
            type: type
            url: url
          publication_date: publication_date
          summary_short: summary_short
          critics_pick: 6
          byline: byline
          headline: headline
          mpaa_rating: mpaa_rating
          opening_date: opening_date
        num_results: 0
        status: status
      properties:
        copyright:
          type: string
        num_results:
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Movie'
          type: array
        status:
          type: string
      type: object
    Critic_multimedia_resource:
      example:
        src: src
        width: 1
        credit: credit
        type: type
        height: 6
      properties:
        credit:
          type: string
        height:
          type: integer
        src:
          type: string
        type:
          type: string
        width:
          type: integer
      type: object
    Critic_multimedia:
      example:
        resource:
          src: src
          width: 1
          credit: credit
          type: type
          height: 6
      properties:
        resource:
          $ref: '#/components/schemas/Critic_multimedia_resource'
      type: object
    Movie_link:
      example:
        suggested_link_text: suggested_link_text
        type: type
        url: url
      properties:
        suggested_link_text:
          type: string
        type:
          type: string
        url:
          type: string
      type: object
    Movie_multimedia_resource:
      example:
        src: src
        width: 5
        type: type
        height: 1
      properties:
        height:
          type: integer
        src:
          type: string
        type:
          type: string
        width:
          type: integer
      type: object
    Movie_multimedia:
      example:
        resource:
          src: src
          width: 5
          type: type
          height: 1
      properties:
        resource:
          $ref: '#/components/schemas/Movie_multimedia_resource'
      type: object
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey

