

# TestResult

Show each group result.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**groups** | [**List**](List.md) |  |  [optional] |



