openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2016-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/logProfiles_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-logProfiles_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles:
    get:
      description: List the log profiles.
      operationId: LogProfiles_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogProfileCollection'
          description: Successful request to list log profiles
      tags:
      - LogProfiles
      x-ms-examples:
        List log profiles:
          parameters:
            api-version: 2016-03-01
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
                  location: ""
                  name: default
                  properties:
                    categories:
                    - Delete
                    - Write
                    - Action
                    locations:
                    - global
                    retentionPolicy:
                      days: 3
                      enabled: true
                    serviceBusRuleId: ""
                    storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                  type: ""
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default2
                  location: ""
                  name: default2
                  properties:
                    categories:
                    - Delete
                    - Write
                    - Action
                    locations:
                    - global
                    retentionPolicy:
                      days: 15
                      enabled: true
                    serviceBusRuleId: ""
                    storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8165
                  type: ""
              headers: {}
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}:
    delete:
      description: Deletes the log profile.
      operationId: LogProfiles_Delete
      parameters:
      - description: The name of the log profile.
        in: path
        name: logProfileName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful request to delete a log profile
      tags:
      - LogProfiles
      x-ms-examples:
        Delete log profile:
          parameters:
            api-version: 2016-03-01
            logProfileName: Rac46PostSwapRG
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Gets the log profile.
      operationId: LogProfiles_Get
      parameters:
      - description: The name of the log profile.
        in: path
        name: logProfileName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogProfileResource'
          description: Successful request to get more information about a log profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - LogProfiles
      x-ms-examples:
        Get log profile:
          parameters:
            api-version: 2016-03-01
            logProfileName: default
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
                location: ""
                name: default
                properties:
                  categories:
                  - Delete
                  - Write
                  - Action
                  locations:
                  - global
                  retentionPolicy:
                    days: 3
                    enabled: true
                  serviceBusRuleId: ""
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                type: ""
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Updates an existing LogProfilesResource. To update other fields
        use the CreateOrUpdate method.
      operationId: LogProfiles_Update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the log profile.
        in: path
        name: logProfileName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogProfileResourcePatch'
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogProfileResource'
          description: An existing log profile was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Patch a log profile:
          parameters:
            api-version: 2016-03-01
            logProfileName: Rac46PostSwapRG
            logProfilesResource:
              properties:
                categories:
                - Write
                - Delete
                - Action
                locations:
                - global
                retentionPolicy:
                  days: 3
                  enabled: true
                serviceBusRuleId: ""
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
              tags:
                key1: value1
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
                location: ""
                name: default
                properties:
                  categories:
                  - Delete
                  - Write
                  - Action
                  locations:
                  - global
                  retentionPolicy:
                    days: 3
                    enabled: true
                  serviceBusRuleId: ""
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                tags:
                  key1: value1
                type: ""
              headers: {}
      x-codegen-request-body-name: logProfilesResource
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a log profile in Azure Monitoring REST API.
      operationId: LogProfiles_CreateOrUpdate
      parameters:
      - description: The name of the log profile.
        in: path
        name: logProfileName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogProfileResource'
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogProfileResource'
          description: Successful request to create or update a log profile
      tags:
      - LogProfiles
      x-ms-examples:
        Create or update a log profile:
          parameters:
            api-version: 2016-03-01
            logProfileName: Rac46PostSwapRG
            parameters:
              location: ""
              properties:
                categories:
                - Write
                - Delete
                - Action
                locations:
                - global
                retentionPolicy:
                  days: 3
                  enabled: true
                serviceBusRuleId: ""
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
              tags: {}
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
                location: ""
                name: default
                properties:
                  categories:
                  - Delete
                  - Write
                  - Action
                  locations:
                  - global
                  retentionPolicy:
                    days: 3
                    enabled: true
                  serviceBusRuleId: ""
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                type: ""
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    LogProfileNameParameter:
      description: The name of the log profile.
      in: path
      name: logProfileName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LogProfileCollection:
      description: Represents a collection of log profiles.
      example:
        value:
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            locations:
            - locations
            - locations
            categories:
            - categories
            - categories
            retentionPolicy:
              days: 0
              enabled: true
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            locations:
            - locations
            - locations
            categories:
            - categories
            - categories
            retentionPolicy:
              days: 0
              enabled: true
      properties:
        value:
          description: the values of the log profiles.
          items:
            $ref: '#/components/schemas/LogProfileResource'
          type: array
      required:
      - value
      type: object
    LogProfileProperties:
      description: The log profile properties.
      example:
        serviceBusRuleId: serviceBusRuleId
        storageAccountId: storageAccountId
        locations:
        - locations
        - locations
        categories:
        - categories
        - categories
        retentionPolicy:
          days: 0
          enabled: true
      properties:
        categories:
          description: "the categories of the logs. These categories are created as\
            \ is convenient to the user. Some values are: 'Write', 'Delete', and/or\
            \ 'Action.'"
          items:
            type: string
          type: array
        locations:
          description: List of regions for which Activity Log events should be stored
            or streamed. It is a comma separated list of valid ARM locations including
            the 'global' location.
          items:
            type: string
          type: array
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
        serviceBusRuleId:
          description: "The service bus rule ID of the service bus namespace in which\
            \ you would like to have Event Hubs created for streaming the Activity\
            \ Log. The rule ID is of the format: '{service bus resource ID}/authorizationrules/{key\
            \ name}'."
          type: string
        storageAccountId:
          description: the resource id of the storage account to which you would like
            to send the Activity Log.
          type: string
      required:
      - categories
      - locations
      - retentionPolicy
      type: object
    LogProfileResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The log profile resource.
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          locations:
          - locations
          - locations
          categories:
          - categories
          - categories
          retentionPolicy:
            days: 0
            enabled: true
      properties:
        properties:
          $ref: '#/components/schemas/LogProfileProperties'
      required:
      - properties
    LogProfileResourcePatch:
      description: The log profile resource for patch operations.
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          locations:
          - locations
          - locations
          categories:
          - categories
          - categories
          retentionPolicy:
            days: 0
            enabled: true
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/LogProfileProperties'
        tags:
          description: Resource tags
          type: object
      type: object
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        tags:
          description: Resource tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    RetentionPolicy:
      description: Specifies the retention policy for the log.
      example:
        days: 0
        enabled: true
      properties:
        days:
          description: the number of days for the retention in days. A value of 0
            will retain the events indefinitely.
          format: int32
          minimum: 0
          type: integer
        enabled:
          description: a value indicating whether the retention policy is enabled.
          type: boolean
      required:
      - days
      - enabled
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

