openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API for controlling access to data by Google personnel.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Access Approval API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://accessapproval.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: accessapproval
externalDocs:
  url: https://cloud.google.com/assured-workloads/access-approval/docs
servers:
- url: https://accessapproval.googleapis.com/
tags:
- name: folders
- name: organizations
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes the settings associated with a project, folder, or organization.\
        \ This will have the effect of disabling Access Approval for the project,\
        \ folder, or organization, but only if all ancestors also have Access Approval\
        \ disabled. If Access Approval is enabled at a higher level of the hierarchy,\
        \ then Access Approval will still be enabled at this level as the settings\
        \ are inherited."
      operationId: accessapproval.projects.deleteAccessApprovalSettings
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the AccessApprovalSettings to delete.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Gets an approval request. Returns NOT_FOUND if the request does
        not exist.
      operationId: accessapproval.projects.approvalRequests.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    patch:
      description: "Updates the settings associated with a project, folder, or organization.\
        \ Settings to update are determined by the value of field_mask."
      operationId: accessapproval.projects.updateAccessApprovalSettings
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\"\
          \ * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "The update mask applies to the settings. Only the top level\
          \ fields of AccessApprovalSettings (notification_emails & enrolled_services)\
          \ are supported. For each field, if it is included, the currently stored\
          \ value will be entirely overwritten with the value of the field passed\
          \ in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask\
          \ If this field is left unset, only the notification_emails field will be\
          \ updated."
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessApprovalSettings'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessApprovalSettings'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:approve:
    post:
      description: Approves a request and returns the updated ApprovalRequest. Returns
        NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the
        request exists but is not in a pending state.
      operationId: accessapproval.projects.approvalRequests.approve
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the approval request to approve.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveApprovalRequestMessage'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:dismiss:
    post:
      description: "Dismisses a request. Returns the updated ApprovalRequest. NOTE:\
        \ This does not deny access to the resource if another request has been made\
        \ and approved. It is equivalent in effect to ignoring the request altogether.\
        \ Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION\
        \ if the request exists but is not in a pending state."
      operationId: accessapproval.projects.approvalRequests.dismiss
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the ApprovalRequest to dismiss.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DismissApprovalRequestMessage'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:invalidate:
    post:
      description: "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest.\
        \ NOTE: This does not deny access to the resource if another request has been\
        \ made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION\
        \ if the request exists but is not in an approved state."
      operationId: accessapproval.projects.approvalRequests.invalidate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the ApprovalRequest to invalidate.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvalidateApprovalRequestMessage'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/approvalRequests:
    get:
      description: "Lists approval requests associated with a project, folder, or\
        \ organization. Approval requests can be filtered by state (pending, active,\
        \ dismissed). The order is reverse chronological."
      operationId: accessapproval.projects.approvalRequests.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The parent resource. This may be \"projects/{project}\", \"\
          folders/{folder}\", or \"organizations/{organization}\"."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter on the type of approval requests to retrieve. Must\
          \ be one of the following values: * [not set]: Requests that are pending\
          \ or have active approvals. * ALL: All requests. * PENDING: Only pending\
          \ requests. * ACTIVE: Only active (i.e. currently approved) requests. *\
          \ DISMISSED: Only requests that have been dismissed, or requests that are\
          \ not approved and past expiration. * EXPIRED: Only requests that have been\
          \ approved, and the approval has expired. * HISTORY: Active, dismissed and\
          \ expired requests."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Requested page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying the page of results to return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApprovalRequestsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AccessApprovalServiceAccount:
      description: Access Approval service account related to a project/folder/organization.
      properties:
        accountEmail:
          description: Email address of the service account.
          type: string
        name:
          description: "The resource name of the Access Approval service account.\
            \ Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\"\
            \ * \"organizations/{organization}/serviceAccount\""
          type: string
      type: object
    AccessApprovalSettings:
      description: Settings on a Project/Folder/Organization related to Access Approval.
      example:
        ancestorHasActiveKeyVersion: true
        enrolledAncestor: true
        preferNoBroadApprovalRequests: true
        activeKeyVersion: activeKeyVersion
        name: name
        enrolledServices:
        - cloudProduct: cloudProduct
          enrollmentLevel: ENROLLMENT_LEVEL_UNSPECIFIED
        - cloudProduct: cloudProduct
          enrollmentLevel: ENROLLMENT_LEVEL_UNSPECIFIED
        preferredRequestExpirationDays: 0
        notificationEmails:
        - notificationEmails
        - notificationEmails
        notificationPubsubTopic: notificationPubsubTopic
        invalidKeyVersion: true
      properties:
        activeKeyVersion:
          description: "The asymmetric crypto key version to use for signing approval\
            \ requests. Empty active_key_version indicates that a Google-managed key\
            \ should be used for signing. This property will be ignored if set by\
            \ an ancestor of this resource, and new non-empty values may not be set."
          type: string
        ancestorHasActiveKeyVersion:
          description: "Output only. This field is read only (not settable via UpdateAccessApprovalSettings\
            \ method). If the field is true, that indicates that an ancestor of this\
            \ Project or Folder has set active_key_version (this field will always\
            \ be unset for the organization since organizations do not have ancestors)."
          readOnly: true
          type: boolean
        enrolledAncestor:
          description: "Output only. This field is read only (not settable via UpdateAccessApprovalSettings\
            \ method). If the field is true, that indicates that at least one service\
            \ is enrolled for Access Approval in one or more ancestors of the Project\
            \ or Folder (this field will always be unset for the organization since\
            \ organizations do not have ancestors)."
          readOnly: true
          type: boolean
        enrolledServices:
          description: "A list of Google Cloud Services for which the given resource\
            \ has Access Approval enrolled. Access requests for the resource given\
            \ by name against any of these services contained here will be required\
            \ to have explicit approval. If name refers to an organization, enrollment\
            \ can be done for individual services. If name refers to a folder or project,\
            \ enrollment can only be done on an all or nothing basis. If a cloud_product\
            \ is repeated in this list, the first entry will be honored and all following\
            \ entries will be discarded. A maximum of 10 enrolled services will be\
            \ enforced, to be expanded as the set of supported services is expanded."
          items:
            $ref: '#/components/schemas/EnrolledService'
          type: array
        invalidKeyVersion:
          description: "Output only. This field is read only (not settable via UpdateAccessApprovalSettings\
            \ method). If the field is true, that indicates that there is some configuration\
            \ issue with the active_key_version configured at this level in the resource\
            \ hierarchy (e.g. it doesn't exist or the Access Approval service account\
            \ doesn't have the correct permissions on it, etc.) This key version is\
            \ not necessarily the effective key version at this level, as key versions\
            \ are inherited top-down."
          readOnly: true
          type: boolean
        name:
          description: "The resource name of the settings. Format is one of: * \"\
            projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\"\
            \ * \"organizations/{organization}/accessApprovalSettings\""
          type: string
        notificationEmails:
          description: A list of email addresses to which notifications relating to
            approval requests should be sent. Notifications relating to a resource
            will be sent to all emails in the settings of ancestor resources of that
            resource. A maximum of 50 email addresses are allowed.
          items:
            type: string
          type: array
        notificationPubsubTopic:
          description: Optional. A pubsub topic to which notifications relating to
            approval requests should be sent.
          type: string
        preferNoBroadApprovalRequests:
          description: This preference is communicated to Google personnel when sending
            an approval request but can be overridden if necessary.
          type: boolean
        preferredRequestExpirationDays:
          description: "This preference is shared with Google personnel, but can be\
            \ overridden if said personnel deems necessary. The approver ultimately\
            \ can set the expiration at approval time."
          format: int32
          type: integer
      type: object
    AccessLocations:
      description: Home office and physical location of the principal.
      example:
        principalPhysicalLocationCountry: principalPhysicalLocationCountry
        principalOfficeCountry: principalOfficeCountry
      properties:
        principalOfficeCountry:
          description: "The \"home office\" location of the principal. A two-letter\
            \ country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\"\
            \ or a region code. In some limited situations Google systems may refer\
            \ refer to a region code instead of a country code. Possible Region Codes:\
            \ * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North\
            \ America * SAM: South America * ANT: Antarctica * ANY: Any location"
          type: string
        principalPhysicalLocationCountry:
          description: "Physical location of the principal at the time of the access.\
            \ A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\"\
            \ or \"GB\" or a region code. In some limited situations Google systems\
            \ may refer refer to a region code instead of a country code. Possible\
            \ Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa\
            \ * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any\
            \ location"
          type: string
      type: object
    AccessReason:
      example:
        detail: detail
        type: TYPE_UNSPECIFIED
      properties:
        detail:
          description: More detail about certain reason types. See comments for each
            type above.
          type: string
        type:
          description: Type of access justification.
          enum:
          - TYPE_UNSPECIFIED
          - CUSTOMER_INITIATED_SUPPORT
          - GOOGLE_INITIATED_SERVICE
          - GOOGLE_INITIATED_REVIEW
          - THIRD_PARTY_DATA_REQUEST
          - GOOGLE_RESPONSE_TO_PRODUCTION_ALERT
          - CLOUD_INITIATED_ACCESS
          type: string
      type: object
    ApprovalRequest:
      description: A request for the customer to approve access to a resource.
      example:
        requestTime: requestTime
        requestedLocations:
          principalPhysicalLocationCountry: principalPhysicalLocationCountry
          principalOfficeCountry: principalOfficeCountry
        requestedReason:
          detail: detail
          type: TYPE_UNSPECIFIED
        approve:
          expireTime: expireTime
          signatureInfo:
            customerKmsKeyVersion: customerKmsKeyVersion
            googlePublicKeyPem: googlePublicKeyPem
            signature: signature
            googleKeyAlgorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
            serializedApprovalRequest: serializedApprovalRequest
          approveTime: approveTime
          autoApproved: true
          invalidateTime: invalidateTime
        name: name
        dismiss:
          implicit: true
          dismissTime: dismissTime
        requestedDuration: requestedDuration
        requestedResourceName: requestedResourceName
        requestedResourceProperties:
          excludesDescendants: true
        requestedExpiration: requestedExpiration
      properties:
        approve:
          $ref: '#/components/schemas/ApproveDecision'
        dismiss:
          $ref: '#/components/schemas/DismissDecision'
        name:
          description: "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"\
            ."
          type: string
        requestTime:
          description: The time at which approval was requested.
          format: google-datetime
          type: string
        requestedDuration:
          description: The requested access duration.
          format: google-duration
          type: string
        requestedExpiration:
          description: The original requested expiration for the approval. Calculated
            by adding the requested_duration to the request_time.
          format: google-datetime
          type: string
        requestedLocations:
          $ref: '#/components/schemas/AccessLocations'
        requestedReason:
          $ref: '#/components/schemas/AccessReason'
        requestedResourceName:
          description: The resource for which approval is being requested. The format
            of the resource name is defined at https://cloud.google.com/apis/design/resource_names.
            The resource name here may either be a "full" resource name (e.g. "//library.googleapis.com/shelves/shelf1/books/book2")
            or a "relative" resource name (e.g. "shelves/shelf1/books/book2") as described
            in the resource name specification.
          type: string
        requestedResourceProperties:
          $ref: '#/components/schemas/ResourceProperties'
      type: object
    ApproveApprovalRequestMessage:
      description: Request to approve an ApprovalRequest.
      example:
        expireTime: expireTime
      properties:
        expireTime:
          description: The expiration time of this approval.
          format: google-datetime
          type: string
      type: object
    ApproveDecision:
      description: A decision that has been made to approve access to a resource.
      example:
        expireTime: expireTime
        signatureInfo:
          customerKmsKeyVersion: customerKmsKeyVersion
          googlePublicKeyPem: googlePublicKeyPem
          signature: signature
          googleKeyAlgorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          serializedApprovalRequest: serializedApprovalRequest
        approveTime: approveTime
        autoApproved: true
        invalidateTime: invalidateTime
      properties:
        approveTime:
          description: The time at which approval was granted.
          format: google-datetime
          type: string
        autoApproved:
          description: True when the request has been auto-approved.
          type: boolean
        expireTime:
          description: The time at which the approval expires.
          format: google-datetime
          type: string
        invalidateTime:
          description: "If set, denotes the timestamp at which the approval is invalidated."
          format: google-datetime
          type: string
        signatureInfo:
          $ref: '#/components/schemas/SignatureInfo'
      type: object
    DismissApprovalRequestMessage:
      description: Request to dismiss an approval request.
      properties: {}
      type: object
    DismissDecision:
      description: A decision that has been made to dismiss an approval request.
      example:
        implicit: true
        dismissTime: dismissTime
      properties:
        dismissTime:
          description: The time at which the approval request was dismissed.
          format: google-datetime
          type: string
        implicit:
          description: This field will be true if the ApprovalRequest was implicitly
            dismissed due to inaction by the access approval approvers (the request
            is not acted on by the approvers before the exiration time).
          type: boolean
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EnrolledService:
      description: Represents the enrollment of a cloud resource into a specific service.
      example:
        cloudProduct: cloudProduct
        enrollmentLevel: ENROLLMENT_LEVEL_UNSPECIFIED
      properties:
        cloudProduct:
          description: "The product for which Access Approval will be enrolled. Allowed\
            \ values are listed below (case-sensitive): * all * GA * App Engine *\
            \ Artifact Registry * BigQuery * Certificate Authority Service * Cloud\
            \ Bigtable * Cloud Key Management Service * Compute Engine * Cloud Composer\
            \ * Cloud Dataflow * Cloud Dataproc * Cloud DLP * Cloud EKM * Cloud Firestore\
            \ * Cloud HSM * Cloud Identity and Access Management * Cloud Logging *\
            \ Cloud NAT * Cloud Pub/Sub * Cloud Spanner * Cloud SQL * Cloud Storage\
            \ * Eventarc * Google Kubernetes Engine * Organization Policy Serivice\
            \ * Persistent Disk * Resource Manager * Secret Manager * Speaker ID Note:\
            \ These values are supported as input for legacy purposes, but will not\
            \ be returned from the API. * all * ga-only * appengine.googleapis.com\
            \ * artifactregistry.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com\
            \ * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com\
            \ * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com\
            \ * dataproc.googleapis.com * dlp.googleapis.com * iam.googleapis.com\
            \ * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com\
            \ * spanner.googleapis.com * secretmanager.googleapis.com * speakerid.googleapis.com\
            \ * storage.googleapis.com Calls to UpdateAccessApprovalSettings using\
            \ 'all' or any of the XXX.googleapis.com will be translated to the associated\
            \ product name ('all', 'App Engine', etc.). Note: 'all' will enroll the\
            \ resource in all products supported at both 'GA' and 'Preview' levels.\
            \ More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services"
          type: string
        enrollmentLevel:
          description: The enrollment level of the service.
          enum:
          - ENROLLMENT_LEVEL_UNSPECIFIED
          - BLOCK_ALL
          type: string
      type: object
    InvalidateApprovalRequestMessage:
      description: Request to invalidate an existing approval.
      properties: {}
      type: object
    ListApprovalRequestsResponse:
      description: Response to listing of ApprovalRequest objects.
      example:
        approvalRequests:
        - requestTime: requestTime
          requestedLocations:
            principalPhysicalLocationCountry: principalPhysicalLocationCountry
            principalOfficeCountry: principalOfficeCountry
          requestedReason:
            detail: detail
            type: TYPE_UNSPECIFIED
          approve:
            expireTime: expireTime
            signatureInfo:
              customerKmsKeyVersion: customerKmsKeyVersion
              googlePublicKeyPem: googlePublicKeyPem
              signature: signature
              googleKeyAlgorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
              serializedApprovalRequest: serializedApprovalRequest
            approveTime: approveTime
            autoApproved: true
            invalidateTime: invalidateTime
          name: name
          dismiss:
            implicit: true
            dismissTime: dismissTime
          requestedDuration: requestedDuration
          requestedResourceName: requestedResourceName
          requestedResourceProperties:
            excludesDescendants: true
          requestedExpiration: requestedExpiration
        - requestTime: requestTime
          requestedLocations:
            principalPhysicalLocationCountry: principalPhysicalLocationCountry
            principalOfficeCountry: principalOfficeCountry
          requestedReason:
            detail: detail
            type: TYPE_UNSPECIFIED
          approve:
            expireTime: expireTime
            signatureInfo:
              customerKmsKeyVersion: customerKmsKeyVersion
              googlePublicKeyPem: googlePublicKeyPem
              signature: signature
              googleKeyAlgorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
              serializedApprovalRequest: serializedApprovalRequest
            approveTime: approveTime
            autoApproved: true
            invalidateTime: invalidateTime
          name: name
          dismiss:
            implicit: true
            dismissTime: dismissTime
          requestedDuration: requestedDuration
          requestedResourceName: requestedResourceName
          requestedResourceProperties:
            excludesDescendants: true
          requestedExpiration: requestedExpiration
        nextPageToken: nextPageToken
      properties:
        approvalRequests:
          description: Approval request details.
          items:
            $ref: '#/components/schemas/ApprovalRequest'
          type: array
        nextPageToken:
          description: "Token to retrieve the next page of results, or empty if there\
            \ are no more."
          type: string
      type: object
    ResourceProperties:
      description: The properties associated with the resource of the request.
      example:
        excludesDescendants: true
      properties:
        excludesDescendants:
          description: Whether an approval will exclude the descendants of the resource
            being requested.
          type: boolean
      type: object
    SignatureInfo:
      description: Information about the digital signature of the resource.
      example:
        customerKmsKeyVersion: customerKmsKeyVersion
        googlePublicKeyPem: googlePublicKeyPem
        signature: signature
        googleKeyAlgorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
        serializedApprovalRequest: serializedApprovalRequest
      properties:
        customerKmsKeyVersion:
          description: The resource name of the customer CryptoKeyVersion used for
            signing.
          type: string
        googleKeyAlgorithm:
          description: The hashing algorithm used for signature verification. It will
            only be present in the case of Google managed keys.
          enum:
          - CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          - GOOGLE_SYMMETRIC_ENCRYPTION
          - AES_128_GCM
          - AES_256_GCM
          - AES_128_CBC
          - AES_256_CBC
          - AES_128_CTR
          - AES_256_CTR
          - RSA_SIGN_PSS_2048_SHA256
          - RSA_SIGN_PSS_3072_SHA256
          - RSA_SIGN_PSS_4096_SHA256
          - RSA_SIGN_PSS_4096_SHA512
          - RSA_SIGN_PKCS1_2048_SHA256
          - RSA_SIGN_PKCS1_3072_SHA256
          - RSA_SIGN_PKCS1_4096_SHA256
          - RSA_SIGN_PKCS1_4096_SHA512
          - RSA_SIGN_RAW_PKCS1_2048
          - RSA_SIGN_RAW_PKCS1_3072
          - RSA_SIGN_RAW_PKCS1_4096
          - RSA_DECRYPT_OAEP_2048_SHA256
          - RSA_DECRYPT_OAEP_3072_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA512
          - RSA_DECRYPT_OAEP_2048_SHA1
          - RSA_DECRYPT_OAEP_3072_SHA1
          - RSA_DECRYPT_OAEP_4096_SHA1
          - EC_SIGN_P256_SHA256
          - EC_SIGN_P384_SHA384
          - EC_SIGN_SECP256K1_SHA256
          - HMAC_SHA256
          - HMAC_SHA1
          - HMAC_SHA384
          - HMAC_SHA512
          - HMAC_SHA224
          - EXTERNAL_SYMMETRIC_ENCRYPTION
          type: string
        googlePublicKeyPem:
          description: "The public key for the Google default signing, encoded in\
            \ PEM format. The signature was created using a private key which may\
            \ be verified using this public key."
          type: string
        serializedApprovalRequest:
          description: "The ApprovalRequest that is serialized without the SignatureInfo\
            \ message field. This data is used with the hashing algorithm to generate\
            \ the digital signature, and it can be used for signature verification."
          format: byte
          type: string
        signature:
          description: The digital signature.
          format: byte
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

