openapi: 3.0.1
info:
  contact:
    email: info@visualcrossing.com
    name: Visual Crossing Corporation
    url: https://www.visualcrossing.com/weather-api
    x-twitter: visualcrossing
  description: Weather Forecast and Historical Weather Data via RESTful API.
  license:
    name: Visual Crossing Weather API
    url: https://www.visualcrossing.com/weather-api
  termsOfService: https://www.visualcrossing.com/weather-services-terms
  title: Visual Crossing Weather API
  version: "4.6"
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/visualcrossing/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://www.visualcrossing.com/weather/specs/visualcrossing-weather-api-openapi.json
    version: "3.0"
  x-providerName: visualcrossing.com
  x-serviceName: weather
externalDocs:
  description: Full Timeline Weather API Documentation
  url: https://www.visualcrossing.com/resources/documentation/weather-api/timeline-weather-api/
servers:
- url: https://weather.visualcrossing.com
paths:
  /VisualCrossingWebServices/rest/services/timeline/{location}:
    get:
      description: "Seamless access to daily and hourly historical and forecast weather\
        \ data plus weather alerts, events and current conditions."
      parameters:
      - description: "Locaton of interest as an address, partial address or decimal\
          \ latitude,longtude value"
        example: "London,UK"
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: data format of the output either json or CSV
        example: json
        explode: true
        in: query
        name: contentType
        required: false
        schema:
          type: string
        style: form
      - example: us
        explode: true
        in: query
        name: unitGroup
        required: false
        schema:
          type: string
        style: form
      - description: "data to include in the output (required for CSV format - days,hours,alerts,current,events\
          \ )"
        example: days
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - description: Language to use for weather descriptions
        example: us
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      - example: INSERT_YOUR_KEY
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (15-day forecast request)
      x-accepts:
      - application/json
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/timeline/{location}/{startdate}:
    get:
      description: "Seamless access to daily and hourly historical and forecast weather\
        \ data plus weather alerts, events and current conditions."
      parameters:
      - example: "London,UK"
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - example: 2022-02-01T00:00:00.000Z
        explode: false
        in: path
        name: startdate
        required: true
        schema:
          type: string
        style: simple
      - description: data format of the output either json or CSV
        example: json
        explode: true
        in: query
        name: contentType
        required: false
        schema:
          type: string
        style: form
      - example: us
        explode: true
        in: query
        name: unitGroup
        required: false
        schema:
          type: string
        style: form
      - description: "data to include in the output (required for CSV format - days,hours,alerts,current,events\
          \ )"
        example: days
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - description: Language to use for weather descriptions
        example: us
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      - example: INSERT_YOUR_KEY
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (single date request)
      x-accepts:
      - application/json
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/timeline/{location}/{startdate}/{enddate}:
    get:
      description: "Seamless access to daily and hourly historical and forecast weather\
        \ data plus weather alerts, events and current conditions."
      parameters:
      - example: "London,UK"
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - example: 2022-02-01T00:00:00.000Z
        explode: false
        in: path
        name: startdate
        required: true
        schema:
          type: string
        style: simple
      - example: 2022-03-01T00:00:00.000Z
        explode: false
        in: path
        name: enddate
        required: true
        schema:
          type: string
        style: simple
      - description: data format of the output either json or CSV
        example: json
        explode: true
        in: query
        name: contentType
        required: false
        schema:
          type: string
        style: form
      - example: us
        explode: true
        in: query
        name: unitGroup
        required: false
        schema:
          type: string
        style: form
      - description: "data to include in the output (required for CSV format - days,hours,alerts,current,events\
          \ )"
        example: days
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - description: Language to use for weather descriptions
        example: us
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      - example: INSERT_YOUR_KEY
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (date range request)
      x-accepts:
      - application/json
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/weatherdata/forecast:
    get:
      description: "Provides access to weather forecast information. The forecast\
        \ is available for up to 15 days at the hourly, 12 hour and daily summary\
        \ level."
      parameters:
      - example: "false"
        explode: true
        in: query
        name: sendAsDatasource
        required: false
        schema:
          type: boolean
        style: form
      - example: "false"
        explode: true
        in: query
        name: allowAsynch
        required: false
        schema:
          type: boolean
        style: form
      - example: "false"
        explode: true
        in: query
        name: shortColumnNames
        required: false
        schema:
          type: boolean
        style: form
      - example: Sterling%2C%20VA%2C%20US
        explode: true
        in: query
        name: locations
        required: false
        schema:
          type: string
        style: form
      - example: "24"
        explode: true
        in: query
        name: aggregateHours
        required: false
        schema:
          type: string
        style: form
      - example: json
        explode: true
        in: query
        name: contentType
        required: false
        schema:
          type: string
        style: form
      - example: us
        explode: true
        in: query
        name: unitGroup
        required: false
        schema:
          type: string
        style: form
      - example: INSERT_YOUR_KEY
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Weather Forecast API
      tags:
      - Weather Forecast
      x-accepts:
      - application/json
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/weatherdata/history:
    get:
      description: The weather history data is suitable for retrieving hourly or daily
        historical weather records.
      parameters:
      - example: "-1"
        explode: true
        in: query
        name: maxDistance
        required: false
        schema:
          type: string
        style: form
      - example: "false"
        explode: true
        in: query
        name: shortColumnNames
        required: false
        schema:
          type: boolean
        style: form
      - example: 2020-02-04T00%3A00%3A00
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          type: string
        style: form
      - example: "24"
        explode: true
        in: query
        name: aggregateHours
        required: false
        schema:
          type: string
        style: form
      - example: "false"
        explode: true
        in: query
        name: collectStationContributions
        required: false
        schema:
          type: boolean
        style: form
      - example: 2020-01-28T00%3A00%3A00
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          type: string
        style: form
      - example: "-1"
        explode: true
        in: query
        name: maxStations
        required: false
        schema:
          type: string
        style: form
      - example: "false"
        explode: true
        in: query
        name: allowAsynch
        required: false
        schema:
          type: boolean
        style: form
      - example: Sterling%2C%20VA%2C%20US
        explode: true
        in: query
        name: locations
        required: false
        schema:
          type: string
        style: form
      - example: "false"
        explode: true
        in: query
        name: includeNormals
        required: false
        schema:
          type: boolean
        style: form
      - example: json
        explode: true
        in: query
        name: contentType
        required: false
        schema:
          type: string
        style: form
      - example: us
        explode: true
        in: query
        name: unitGroup
        required: false
        schema:
          type: string
        style: form
      - example: INSERT_YOUR_KEY
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Retrieves hourly or daily historical weather records.
      tags:
      - Historical Weather
      x-accepts:
      - application/json
    servers:
    - url: https://weather.visualcrossing.com
components:
  schemas: {}

