openapi: 3.0.1
info:
  description: Application operation results.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ApplicationOperationResults.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ApplicationOperationResults
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults
  : get:
      description: Returns a list of all application operation results at a location.
      operationId: ApplicationOperationResults_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOperationResultList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - ApplicationOperationResults
      x-ms-examples:
        Returns a list of all application operation results at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - properties:
                    provisioningState: Succeeded
                - error:
                    code: OperationBlockedDueToUpdateInProgress
                    message: "The operation cannot be performed at the present time,\
                      \ because there is an Azure Stack update in progress. Wait until\
                      \ the Azure Stack update is complete and then try your operation\
                      \ again."
                  properties:
                    provisioningState: Failed
            "404": {}
      x-ms-odata: '#/definitions/ApplicationOperationResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults/{operation}
  : get:
      description: Returns the status of an application operation.
      operationId: ApplicationOperationResults_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier.
        in: path
        name: operation
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOperationResult'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - ApplicationOperationResults
      x-ms-examples:
        Returns the status of the operation.:
          parameters:
            api-version: 2016-05-01
            location: local
            operation: 7129ebd4-efb5-4faf-89a5-9b9071811610
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                properties:
                  provisioningState: Succeeded
            "404": {}
      x-accepts:
      - application/json
components:
  parameters:
    OperationParameter:
      description: Operation identifier.
      in: path
      name: operation
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationOperationResult:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application operation result description.
      example:
        properties:
          instances:
          - instances
          - instances
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationOperationResultModel'
    ApplicationOperationResultList:
      description: Pageable list of application operation results.
      example:
        value:
        - properties:
            instances:
            - instances
            - instances
            provisioningState: provisioningState
        - properties:
            instances:
            - instances
            - instances
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of application operation results.
          items:
            $ref: '#/components/schemas/ApplicationOperationResult'
          type: array
      type: object
    ApplicationOperationResultModel:
      description: Application operation result properties.
      example:
        instances:
        - instances
        - instances
        provisioningState: provisioningState
      properties:
        instances:
          description: List of operation result instances.
          items:
            type: string
          type: array
        provisioningState:
          description: Success or failure of operation.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

