openapi: 3.0.1
info:
  description: Definition of ISBNdb.com API
  title: ISBNdb API
  version: 1.0.1
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://isbndb.com/sites/default/files/ISBN-295x62_0.jpg
  x-origin:
  - format: swagger
    url: https://isbndb.com/modules/isbndb_api_docs/swagger.json
    version: "2.0"
  x-providerName: isbndb.com
servers:
- url: https://api.isbndb.com/
paths:
  /author/{name}:
    get:
      description: Returns the name and a list of books by the author.
      parameters:
      - description: The name of an author in the Author's database
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
          description: The author name was found in the database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: Author not found
      security:
      - api_key: []
      summary: Gets author details
      tags:
      - Author
      x-accepts:
      - application/json
  /authors/{query}:
    get:
      description: This returns a list of authors whos name matches the given query
      parameters:
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      - description: A string to search for in the Author’s database
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorQueryResults'
          description: The query string found results in the author's database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: There are no results in the author's database for the given
            query
      security:
      - api_key: []
      summary: Search authors
      tags:
      - Author
      x-accepts:
      - application/json
  /book/{isbn}:
    get:
      description: Returns the book details
      parameters:
      - description: an ISBN 10 or ISBN 13 in the Books database
        in: path
        name: isbn
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
          description: The book ISBN was found in the database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: Book not found
      security:
      - api_key: []
      summary: Gets book details
      tags:
      - Book
      x-accepts:
      - application/json
  /books/{query}:
    get:
      description: This returns a list of books that match the query
      parameters:
      - description: A string to search for in the Book’s database
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      - description: Filters the query results by author
        in: query
        name: author
        schema:
          type: string
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The query string found results in the books's database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: There are no results in the book's database for the given query
      security:
      - api_key: []
      summary: Search books
      tags:
      - Book
      x-accepts:
      - application/json
  /publisher/{name}:
    get:
      description: Returns details and a list of books by the publisher.
      parameters:
      - description: The name of a publisher in the Publisher's database
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
          description: The publisher name was found in the database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: Publisher not found
      security:
      - api_key: []
      summary: Gets publisher details
      tags:
      - Publisher
      x-accepts:
      - application/json
  /publishers/{query}:
    get:
      description: This returns a list of publishers that match the given query
      parameters:
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      - description: A string to search for in the Publisher’s database
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The query string found results in the publisher's database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: There are no results in the publisher's database for the given
            query
      security:
      - api_key: []
      summary: Search publishers
      tags:
      - Publisher
      x-accepts:
      - application/json
  /search:
    get:
      description: Uses a free query string compatible with ElasticSearch 6 to search
        in any of the ISBNDB's databases
      parameters:
      - description: A query string compatible with ElasticSearch 6
        in: query
        name: q
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Results were found in the requested database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: No results found in the requested database
      security:
      - api_key: []
      summary: Search all ISBNDB databases
      tags:
      - Search
      x-accepts:
      - application/json
  /stats:
    get:
      description: Returns a status object about the ISBNDB database.
      responses:
        "200":
          content: {}
          description: Stats on the ISBNDB sucessfully retrieved
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
      security:
      - api_key: []
      summary: Gets status on the ISBNDB Database
      tags:
      - Stats
      x-accepts:
      - application/json
  /subject/{name}:
    get:
      description: Returns details and a list of books with subject.
      parameters:
      - description: A subject in the Subject's database
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
          description: The subject was found in the database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: Subject not found
      security:
      - api_key: []
      summary: Gets subject details
      tags:
      - Subject
      x-accepts:
      - application/json
  /subjects/{query}:
    get:
      description: This returns a list of subjects that match the given query
      parameters:
      - description: "How many items should be returned per page, maximum of 1,000"
        in: query
        name: pageSize
        schema:
          type: string
      - description: A string to search for in the Subject’s database
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: "The number of page to retrieve, please note the API will not\
          \ return more than 10,000 results no matter how you paginate them"
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The query string found results in the subject's database
          headers:
            Access-Control-Allow-Origin:
              description: CORS Header to allow different origin responses
              schema:
                type: string
        "404":
          content: {}
          description: There are no results in the subject's database for the given
            query
      security:
      - api_key: []
      summary: Search subjects
      tags:
      - Subject
      x-accepts:
      - application/json
components:
  schemas:
    Author:
      description: Describes the name of an author and the books written by that author
        in the database
      example:
        books:
        - overview: overview
          isbn: isbn
          subjects:
          - subjects
          - subjects
          format: format
          edition: edition
          language: language
          title_long: title_long
          title: title
          pages: 0
          reviews:
          - reviews
          - reviews
          date_published: 2000-01-23T04:56:07.000+00:00
          isbn13: isbn13
          publisher: publisher
          synopsys: synopsys
          excerpt: excerpt
          dewey_decimal: dewey_decimal
          authors:
          - authors
          - authors
          dimensions: dimensions
        - overview: overview
          isbn: isbn
          subjects:
          - subjects
          - subjects
          format: format
          edition: edition
          language: language
          title_long: title_long
          title: title
          pages: 0
          reviews:
          - reviews
          - reviews
          date_published: 2000-01-23T04:56:07.000+00:00
          isbn13: isbn13
          publisher: publisher
          synopsys: synopsys
          excerpt: excerpt
          dewey_decimal: dewey_decimal
          authors:
          - authors
          - authors
          dimensions: dimensions
        author: author
      properties:
        author:
          type: string
        books:
          items:
            $ref: '#/components/schemas/Book'
          type: array
      type: object
    AuthorQueryResults:
      description: Describes the results of a query in the author's database
      example:
        total: 0
        authors:
        - authors
        - authors
      properties:
        authors:
          items:
            type: string
          type: array
        total:
          type: integer
      type: object
    Book:
      description: Describes a book in the book's database
      example:
        overview: overview
        isbn: isbn
        subjects:
        - subjects
        - subjects
        format: format
        edition: edition
        language: language
        title_long: title_long
        title: title
        pages: 0
        reviews:
        - reviews
        - reviews
        date_published: 2000-01-23T04:56:07.000+00:00
        isbn13: isbn13
        publisher: publisher
        synopsys: synopsys
        excerpt: excerpt
        dewey_decimal: dewey_decimal
        authors:
        - authors
        - authors
        dimensions: dimensions
      properties:
        authors:
          items:
            type: string
          type: array
        date_published:
          format: date-time
          type: string
        dewey_decimal:
          type: string
        dimensions:
          type: string
        edition:
          type: string
        excerpt:
          type: string
        format:
          type: string
        isbn:
          type: string
        isbn13:
          type: string
        language:
          type: string
        overview:
          type: string
        pages:
          type: integer
        publisher:
          type: string
        reviews:
          items:
            type: string
          type: array
        subjects:
          items:
            type: string
          type: array
        synopsys:
          type: string
        title:
          type: string
        title_long:
          type: string
      type: object
    Publisher:
      example:
        books:
        - isbn: isbn
        - isbn: isbn
        name: name
      properties:
        books:
          items:
            $ref: '#/components/schemas/Publisher_books_inner'
          type: array
        name:
          type: string
      type: object
    Subject:
      example:
        parent: parent
        subject: subject
      properties:
        parent:
          type: string
        subject:
          type: string
      type: object
    Publisher_books_inner:
      example:
        isbn: isbn
      properties:
        isbn:
          type: string
      type: object
  securitySchemes:
    api_key:
      in: header
      name: x-api-key
      type: apiKey
x-original-swagger-version: "2.0"

