openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/syncMembers.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-syncMembers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers
  : get:
      description: Lists sync members in the given sync group.
      operationId: sync_members_list_by_sync_group
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncMemberListResult'
          description: Successfully retrieved the list of sync members.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        List sync members under a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                  name: syncgroupcrud-4879
                  properties:
                    databaseName: syncgroupcrud-7421
                    databaseType: AzureSqlDatabase
                    serverName: syncgroupcrud-3379.database.windows.net
                    syncDirection: Bidirectional
                    syncState: UnProvisioned
                    userName: myUser
                  type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers/{syncMemberName}
  : delete:
      description: Deletes a sync member.
      operationId: sync_members_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the sync member.
        "202":
          content: {}
          description: Deleting the sync member is in progress.
        "204":
          content: {}
          description: The specified sync member does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Delete a sync member:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
    get:
      description: Gets a sync member.
      operationId: sync_members_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncMember'
          description: Successfully retrieved the specified sync member.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Get a sync member:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
    patch:
      description: Updates an existing sync member.
      operationId: sync_members_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncMember'
        description: The requested sync member resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncMember'
          description: Successfully updated the sync member.
        "202":
          content: {}
          description: Updating the sync member is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Update an existing sync member:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                databaseName: syncgroupcrud-7421
                databaseType: AzureSqlDatabase
                serverName: syncgroupcrud-3379.database.windows.net
                syncDirection: Bidirectional
                syncState: UnProvisioned
                userName: myUser
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
    put:
      description: Creates or updates a sync member.
      operationId: sync_members_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncMember'
        description: The requested sync member resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncMember'
          description: Successfully updated the sync member.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncMember'
          description: Successfully created the sync member.
        "202":
          content: {}
          description: Creating or updating the sync member is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Create a new sync member:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                databaseName: syncgroupcrud-7421
                databaseType: AzureSqlDatabase
                serverName: syncgroupcrud-3379.database.windows.net
                syncDirection: Bidirectional
                syncState: UnProvisioned
                userName: myUser
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
            "202": {}
        Update a sync member:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                databaseName: syncgroupcrud-7421
                databaseType: AzureSqlDatabase
                serverName: syncgroupcrud-3379.database.windows.net
                syncDirection: Bidirectional
                syncState: UnProvisioned
                userName: myUser
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-65440/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187/syncMembers/syncgroupcrud-4879
                name: syncgroupcrud-4879
                properties:
                  databaseName: syncgroupcrud-7421
                  databaseType: AzureSqlDatabase
                  serverName: syncgroupcrud-3379.database.windows.net
                  syncDirection: Bidirectional
                  syncState: UnProvisioned
                  userName: myUser
                type: Microsoft.Sql/servers/databases/syncGroups/syncMembers
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers/{syncMemberName}/refreshSchema
  : post:
      description: Refreshes a sync member database schema.
      operationId: sync_members_refresh_member_schema
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully refreshed a sync member schema.
        "202":
          content: {}
          description: The sync member schema refresh operation is on going.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Refresh a sync member database schema:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers/{syncMemberName}/schemas
  : get:
      description: Gets a sync member database schema.
      operationId: sync_members_list_member_schemas
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group on which the sync member is hosted.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The name of the sync member.
        in: path
        name: syncMemberName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncFullSchemaPropertiesListResult'
          description: Successfully get a sync member schema.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMember - Sync member is invalid.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member due to quota exceeded.
      tags:
      - SyncMembers
      x-ms-examples:
        Get a sync member schema:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            syncMemberName: syncgroupcrud-4879
          responses:
            "200":
              body:
                value:
                - lastUpdateTime: 2017-05-30T07:16:08.21Z
                  tables:
                  - columns:
                    - dataSize: "4"
                      dataType: int
                      hasError: false
                      isPrimaryKey: false
                      name: intField
                      quotedName: "[intField]"
                    - dataSize: "100"
                      dataType: nvarchar
                      hasError: false
                      isPrimaryKey: false
                      name: charField
                      quotedName: "[charField]"
                    errorId: Schema_TableHasNoPrimaryKey
                    hasError: true
                    name: dbo.myTable
                    quotedName: "[dbo].[myTable]"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_members_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    SyncFullSchemaProperties:
      description: Properties of the database full schema.
      example:
        tables:
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          name: name
          errorId: errorId
          hasError: true
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          name: name
          errorId: errorId
          hasError: true
        lastUpdateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        lastUpdateTime:
          description: Last update time of the database schema.
          format: date-time
          readOnly: true
          title: lastUpdateTime
          type: string
        tables:
          description: List of tables in the database full schema.
          items:
            $ref: '#/components/schemas/SyncFullSchemaTable'
          readOnly: true
          title: tables
          type: array
      title: SyncFullSchemaProperties
      type: object
    SyncFullSchemaPropertiesListResult:
      description: A list of sync schema properties.
      example:
        value:
        - tables:
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          lastUpdateTime: 2000-01-23T04:56:07.000+00:00
        - tables:
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          lastUpdateTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncFullSchemaProperties'
          readOnly: true
          title: value
          type: array
      title: SyncFullSchemaPropertiesListResult
      type: object
    SyncFullSchemaTable:
      description: Properties of the table in the database full schema.
      example:
        quotedName: quotedName
        columns:
        - quotedName: quotedName
          dataType: dataType
          name: name
          dataSize: dataSize
          isPrimaryKey: true
          errorId: errorId
          hasError: true
        - quotedName: quotedName
          dataType: dataType
          name: name
          dataSize: dataSize
          isPrimaryKey: true
          errorId: errorId
          hasError: true
        name: name
        errorId: errorId
        hasError: true
      properties:
        columns:
          description: List of columns in the table of database full schema.
          items:
            $ref: '#/components/schemas/SyncFullSchemaTableColumn'
          readOnly: true
          title: columns
          type: array
        errorId:
          description: Error id of the table.
          readOnly: true
          title: errorId
          type: string
        hasError:
          description: If there is error in the table.
          readOnly: true
          title: hasError
          type: boolean
        name:
          description: Name of the table.
          readOnly: true
          title: name
          type: string
        quotedName:
          description: Quoted name of the table.
          readOnly: true
          title: quotedName
          type: string
      title: SyncFullSchemaTable
      type: object
    SyncFullSchemaTableColumn:
      description: Properties of the column in the table of database full schema.
      example:
        quotedName: quotedName
        dataType: dataType
        name: name
        dataSize: dataSize
        isPrimaryKey: true
        errorId: errorId
        hasError: true
      properties:
        dataSize:
          description: Data size of the column.
          readOnly: true
          title: dataSize
          type: string
        dataType:
          description: Data type of the column.
          readOnly: true
          title: dataType
          type: string
        errorId:
          description: Error id of the column.
          readOnly: true
          title: errorId
          type: string
        hasError:
          description: If there is error in the table.
          readOnly: true
          title: hasError
          type: boolean
        isPrimaryKey:
          description: If it is the primary key of the table.
          readOnly: true
          title: isPrimaryKey
          type: boolean
        name:
          description: Name of the column.
          readOnly: true
          title: name
          type: string
        quotedName:
          description: Quoted name of the column.
          readOnly: true
          title: quotedName
          type: string
      title: SyncFullSchemaTableColumn
      type: object
    SyncMember:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: An Azure SQL Database sync member.
      example:
        properties:
          databaseType: AzureSqlDatabase
          sqlServerDatabaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          password: password
          databaseName: databaseName
          syncDirection: Bidirectional
          syncState: SyncInProgress
          serverName: serverName
          userName: userName
          syncAgentId: syncAgentId
      properties:
        properties:
          $ref: '#/components/schemas/SyncMemberProperties'
      title: SyncMember
    SyncMemberListResult:
      description: A list of Azure SQL Database sync members.
      example:
        value:
        - properties:
            databaseType: AzureSqlDatabase
            sqlServerDatabaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            password: password
            databaseName: databaseName
            syncDirection: Bidirectional
            syncState: SyncInProgress
            serverName: serverName
            userName: userName
            syncAgentId: syncAgentId
        - properties:
            databaseType: AzureSqlDatabase
            sqlServerDatabaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            password: password
            databaseName: databaseName
            syncDirection: Bidirectional
            syncState: SyncInProgress
            serverName: serverName
            userName: userName
            syncAgentId: syncAgentId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncMember'
          readOnly: true
          title: value
          type: array
      title: SyncMemberListResult
      type: object
    SyncMemberProperties:
      description: Properties of a sync member.
      example:
        databaseType: AzureSqlDatabase
        sqlServerDatabaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        password: password
        databaseName: databaseName
        syncDirection: Bidirectional
        syncState: SyncInProgress
        serverName: serverName
        userName: userName
        syncAgentId: syncAgentId
      properties:
        databaseName:
          description: Database name of the member database in the sync member.
          title: databaseName
          type: string
        databaseType:
          description: Database type of the sync member.
          enum:
          - AzureSqlDatabase
          - SqlServerDatabase
          title: databaseType
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncMemberDbType
        password:
          description: Password of the member database in the sync member.
          title: password
          type: string
          x-ms-mutability:
          - create
          - update
        serverName:
          description: Server name of the member database in the sync member
          title: serverName
          type: string
        sqlServerDatabaseId:
          description: SQL Server database id of the sync member.
          format: uuid
          title: sqlServerDatabaseId
          type: string
        syncAgentId:
          description: ARM resource id of the sync agent in the sync member.
          title: syncAgentId
          type: string
        syncDirection:
          description: Sync direction of the sync member.
          enum:
          - Bidirectional
          - OneWayMemberToHub
          - OneWayHubToMember
          title: syncDirection
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncDirection
        syncState:
          description: Sync state of the sync member.
          enum:
          - SyncInProgress
          - SyncSucceeded
          - SyncFailed
          - DisabledTombstoneCleanup
          - DisabledBackupRestore
          - SyncSucceededWithWarnings
          - SyncCancelling
          - SyncCancelled
          - UnProvisioned
          - Provisioning
          - Provisioned
          - ProvisionFailed
          - DeProvisioning
          - DeProvisioned
          - DeProvisionFailed
          - Reprovisioning
          - ReprovisionFailed
          - UnReprovisioned
          readOnly: true
          title: syncState
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncMemberState
        userName:
          description: User name of the member database in the sync member.
          title: userName
          type: string
      title: SyncMemberProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
