openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: LoL v3 Projections
  title: LoL v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/lol-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: lol-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/lol/projections
- url: https://azure-api.sportsdata.io/v3/lol/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: Dfs Slates By Date
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      description: Projected Player Game Stats by Date
      operationId: ProjectedPlayerGameStatsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Example: <code>2019-01-20</code>
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Date
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      description: Projected Player Game Stats by Date
      operationId: ProjectedPlayerGameStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Example: <code>2019-01-20</code>
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>100001500</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Player
      x-accepts:
      - application/json
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        VideoGameId: 6
        IsMultiDaySlate: true
        SlateID: 6
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            Group: Group
            TeamAKey: TeamAKey
            TeamAMoneyLine: 9
            IsClosed: true
            TeamBMoneyLine: 7
            DateTime: DateTime
            TeamBId: 4
            TeamAName: TeamAName
            DrawMoneyLine: 0
            TeamAScore: 2
            Season: 5
            BestOf: BestOf
            TeamBName: TeamBName
            Status: Status
            RoundId: 5
            Updated: Updated
            TeamBPointSpreadPayout: 1
            TeamBKey: TeamBKey
            Winner: Winner
            TeamAId: 7
            SeasonType: 2
            PointSpread: 1.4658129805029452
            TeamAPointSpreadPayout: 3
            VenueType: VenueType
            UpdatedUtc: UpdatedUtc
            VenueId: 1
            Day: Day
            Week: 6
            GameId: 6
            TeamBScore: 1
          OperatorGameID: 1
          SlateGameID: 4
          SlateID: 5
          GameID: 7
        - RemovedByOperator: true
          Game:
            Group: Group
            TeamAKey: TeamAKey
            TeamAMoneyLine: 9
            IsClosed: true
            TeamBMoneyLine: 7
            DateTime: DateTime
            TeamBId: 4
            TeamAName: TeamAName
            DrawMoneyLine: 0
            TeamAScore: 2
            Season: 5
            BestOf: BestOf
            TeamBName: TeamBName
            Status: Status
            RoundId: 5
            Updated: Updated
            TeamBPointSpreadPayout: 1
            TeamBKey: TeamBKey
            Winner: Winner
            TeamAId: 7
            SeasonType: 2
            PointSpread: 1.4658129805029452
            TeamAPointSpreadPayout: 3
            VenueType: VenueType
            UpdatedUtc: UpdatedUtc
            VenueId: 1
            Day: Day
            Week: 6
            GameId: 6
            TeamBScore: 1
          OperatorGameID: 1
          SlateGameID: 4
          SlateID: 5
          GameID: 7
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 2
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 6
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 6
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 9
          SlatePlayerID: 6
          TeamID: 3
          PlayerGameProjectionStatID: 9
          OperatorSalary: 9
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 8
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 6
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 9
          SlatePlayerID: 6
          TeamID: 3
          PlayerGameProjectionStatID: 9
          OperatorSalary: 9
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 8
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 1
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        VideoGameId:
          nullable: true
          type: integer
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        OperatorGameID: 1
        SlateGameID: 4
        SlateID: 5
        GameID: 7
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 6
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 9
        SlatePlayerID: 6
        TeamID: 3
        PlayerGameProjectionStatID: 9
        OperatorSalary: 9
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 8
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      example:
        Group: Group
        TeamAKey: TeamAKey
        TeamAMoneyLine: 9
        IsClosed: true
        TeamBMoneyLine: 7
        DateTime: DateTime
        TeamBId: 4
        TeamAName: TeamAName
        DrawMoneyLine: 0
        TeamAScore: 2
        Season: 5
        BestOf: BestOf
        TeamBName: TeamBName
        Status: Status
        RoundId: 5
        Updated: Updated
        TeamBPointSpreadPayout: 1
        TeamBKey: TeamBKey
        Winner: Winner
        TeamAId: 7
        SeasonType: 2
        PointSpread: 1.4658129805029452
        TeamAPointSpreadPayout: 3
        VenueType: VenueType
        UpdatedUtc: UpdatedUtc
        VenueId: 1
        Day: Day
        Week: 6
        GameId: 6
        TeamBScore: 1
      properties:
        BestOf:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DrawMoneyLine:
          nullable: true
          type: integer
        GameId:
          nullable: false
          type: integer
        Group:
          nullable: true
          type: string
        IsClosed:
          nullable: true
          type: boolean
        PointSpread:
          nullable: true
          type: number
        RoundId:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
        TeamAId:
          nullable: true
          type: integer
        TeamAKey:
          nullable: true
          type: string
        TeamAMoneyLine:
          nullable: true
          type: integer
        TeamAName:
          nullable: true
          type: string
        TeamAPointSpreadPayout:
          nullable: true
          type: integer
        TeamAScore:
          nullable: true
          type: integer
        TeamBId:
          nullable: true
          type: integer
        TeamBKey:
          nullable: true
          type: string
        TeamBMoneyLine:
          nullable: true
          type: integer
        TeamBName:
          nullable: true
          type: string
        TeamBPointSpreadPayout:
          nullable: true
          type: integer
        TeamBScore:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        UpdatedUtc:
          nullable: true
          type: string
        VenueId:
          nullable: true
          type: integer
        VenueType:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
        Winner:
          nullable: true
          type: string
    PlayerGameProjection:
      example:
        TrueDamageTaken: 3.0576100241049344
        VisionWardsBoughtInGame: 3.2588565619047607
        DateTime: DateTime
        Name: Name
        PentaKills: 6.438423552598547
        OpponentId: 9
        LongestTimeSpentLiving: 6.84685269835264
        NeutralMinionsKilledEnemyJungle: 6.683562403749608
        ObjectivePlayerScore: 8.762042012749001
        UnrealKills: 5.533258397034986
        TotalMinionsKilled: 7.058770351582356
        TrueDamageDealtToChampions: 3.0205796992916243
        TotalDamageDealt: 3.353193347011243
        NeutralMinionsKIlled: 9.965781217890562
        TenKillsOrAssists: 6.704019297950036
        NeutralMinionsKIlledTeamJungle: 9.369310271410669
        PlayerId: 2
        Updated: Updated
        Position: Position
        TotalUnitsHealed: 4.652396432933246
        MagicDamageDealt: 7.457744773683766
        TotalHeal: 0.8851374739011653
        QuadraKills: 6.778324963048013
        Assists: 0.8008281904610115
        TotalDamageTaken: 7.143538047012306
        PhysicalDamageDealtToChampions: 6.965117697638846
        Games: 7
        DoubleKills: 5.962133916683182
        Matches: 5
        SightWardsBoughtInGame: 6.878052220127876
        LargestKillingSpree: 1.0246457001441578
        MagicDamageTaken: 4.965218492984954
        IsClosed: true
        TotalTimeCrowdControlDealt: 0.10263654006109402
        TurretKills: 7.04836565559697
        GoldEarned: 9.301444243932576
        KillingSpree: 4.145608029883936
        TripleKills: 8.969578798196912
        LargestMultiKill: 1.4894159098541704
        MatchName: MatchName
        Opponent: Opponent
        Deaths: 1.4658129805029452
        Team: Team
        PhysicalDamageTaken: 1.284659006116532
        FantasyPoints: 5.637376656633329
        InhibitorKills: 2.027123023002322
        MagicDamageDealtToChampions: 1.1730742509559433
        GoldSpent: 3.616076749251911
        CombatPlayerScore: 6.027456183070403
        Kills: 7.386281948385884
        LargestCriticalStrike: 1.2315135367772556
        TrueDamageDealt: 7.740351818741173
        TotalPlayerScore: 6.519180951018382
        WardsKilled: 4.078845849666752
        TeamId: 5
        TotalDamageDealtToChampions: 3.0937452626664474
        Day: Day
        PhysicalDamageDealt: 3.5571952270680973
        GameId: 2
        WardsPlaced: 0.2025324113236393
      properties:
        Assists:
          nullable: true
          type: number
        CombatPlayerScore:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Deaths:
          nullable: true
          type: number
        DoubleKills:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        GameId:
          nullable: false
          type: integer
        Games:
          nullable: false
          type: integer
        GoldEarned:
          nullable: true
          type: number
        GoldSpent:
          nullable: true
          type: number
        InhibitorKills:
          nullable: true
          type: number
        IsClosed:
          nullable: false
          type: boolean
        KillingSpree:
          nullable: true
          type: number
        Kills:
          nullable: true
          type: number
        LargestCriticalStrike:
          nullable: true
          type: number
        LargestKillingSpree:
          nullable: true
          type: number
        LargestMultiKill:
          nullable: true
          type: number
        LongestTimeSpentLiving:
          nullable: true
          type: number
        MagicDamageDealt:
          nullable: true
          type: number
        MagicDamageDealtToChampions:
          nullable: true
          type: number
        MagicDamageTaken:
          nullable: true
          type: number
        MatchName:
          nullable: true
          type: string
        Matches:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        NeutralMinionsKIlled:
          nullable: true
          type: number
        NeutralMinionsKIlledTeamJungle:
          nullable: true
          type: number
        NeutralMinionsKilledEnemyJungle:
          nullable: true
          type: number
        ObjectivePlayerScore:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentId:
          nullable: false
          type: integer
        PentaKills:
          nullable: true
          type: number
        PhysicalDamageDealt:
          nullable: true
          type: number
        PhysicalDamageDealtToChampions:
          nullable: true
          type: number
        PhysicalDamageTaken:
          nullable: true
          type: number
        PlayerId:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        QuadraKills:
          nullable: true
          type: number
        SightWardsBoughtInGame:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamId:
          nullable: true
          type: integer
        TenKillsOrAssists:
          nullable: true
          type: number
        TotalDamageDealt:
          nullable: true
          type: number
        TotalDamageDealtToChampions:
          nullable: true
          type: number
        TotalDamageTaken:
          nullable: true
          type: number
        TotalHeal:
          nullable: true
          type: number
        TotalMinionsKilled:
          nullable: true
          type: number
        TotalPlayerScore:
          nullable: true
          type: number
        TotalTimeCrowdControlDealt:
          nullable: true
          type: number
        TotalUnitsHealed:
          nullable: true
          type: number
        TripleKills:
          nullable: true
          type: number
        TrueDamageDealt:
          nullable: true
          type: number
        TrueDamageDealtToChampions:
          nullable: true
          type: number
        TrueDamageTaken:
          nullable: true
          type: number
        TurretKills:
          nullable: true
          type: number
        UnrealKills:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        VisionWardsBoughtInGame:
          nullable: true
          type: number
        WardsKilled:
          nullable: true
          type: number
        WardsPlaced:
          nullable: true
          type: number
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

