openapi: 3.0.1
info:
  description: Azure resources can be locked to prevent other users in your organization
    from deleting or modifying resources.
  title: ManagementLockClient
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: resources-locks
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/operations:
    get:
      description: Lists all of the available Microsoft.Authorization REST API operations.
      operationId: AuthorizationOperations_List
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks:
    get:
      description: Gets all the management locks for a subscription.
      operationId: ManagementLocks_ListAtSubscriptionLevel
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK - Returns an array of resource locks.
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}:
    delete:
      description: "To delete management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_DeleteAtSubscriptionLevel
      parameters:
      - description: The name of lock to delete.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      summary: Deletes the management lock at the subscription level.
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    get:
      description: Gets a management lock at the subscription level.
      operationId: ManagementLocks_GetAtSubscriptionLevel
      parameters:
      - description: The name of the lock to get.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK - Returns information about the lock.
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    put:
      description: "When you apply a lock at a parent scope, all child resources inherit\
        \ the same lock. To create management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_CreateOrUpdateAtSubscriptionLevel
      parameters:
      - description: "The name of lock. The lock name can be a maximum of 260 characters.\
          \ It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK - Returns information about the lock.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created - Returns information about the lock.
      summary: Creates or updates a management lock at the subscription level.
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks:
    get:
      description: Gets all the management locks for a resource group.
      operationId: ManagementLocks_ListAtResourceGroupLevel
      parameters:
      - description: The name of the resource group containing the locks to get.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK - Returns an array of resource locks.
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}:
    delete:
      description: "To delete management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_DeleteAtResourceGroupLevel
      parameters:
      - description: The name of the resource group containing the lock.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of lock to delete.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      summary: Deletes a management lock at the resource group level.
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    get:
      description: Gets a management lock at the resource group level.
      operationId: ManagementLocks_GetAtResourceGroupLevel
      parameters:
      - description: The name of the locked resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the lock to get.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK - Returns information about the lock.
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    put:
      description: "When you apply a lock at a parent scope, all child resources inherit\
        \ the same lock. To create management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_CreateOrUpdateAtResourceGroupLevel
      parameters:
      - description: The name of the resource group to lock.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: "The lock name. The lock name can be a maximum of 260 characters.\
          \ It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK - Returns information about the lock.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created - Returns information about the lock.
      summary: Creates or updates a management lock at the resource group level.
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks
  : get:
      description: Gets all the management locks for a resource or any level below
        resource.
      operationId: ManagementLocks_ListAtResourceLevel
      parameters:
      - description: The name of the resource group containing the locked resource.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the locked resource.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the locked resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK - Returns an array of resource locks.
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}
  : delete:
      description: "To delete management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_DeleteAtResourceLevel
      parameters:
      - description: 'The name of the resource group containing the resource with
          the lock to delete. '
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The resource provider namespace of the resource with the lock
          to delete.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource with the lock to delete.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource with the lock to delete.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The name of the lock to delete.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      summary: Deletes the management lock of a resource or any level below the resource.
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    get:
      description: Get the management lock of a resource or any level below resource.
      operationId: ManagementLocks_GetAtResourceLevel
      parameters:
      - description: 'The name of the resource group. '
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: "An extra path parameter needed in some services, like SQL Databases."
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of the resource.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    put:
      description: "When you apply a lock at a parent scope, all child resources inherit\
        \ the same lock. To create management locks, you must have access to Microsoft.Authorization/*\
        \ or Microsoft.Authorization/locks/* actions. Of the built-in roles, only\
        \ Owner and User Access Administrator are granted those actions."
      operationId: ManagementLocks_CreateOrUpdateAtResourceLevel
      parameters:
      - description: 'The name of the resource group containing the resource to lock. '
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The resource provider namespace of the resource to lock.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource to lock.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to lock.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: "The name of lock. The lock name can be a maximum of 260 characters.\
          \ It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: Parameters for creating or updating a  management lock.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK - Returns information about the lock.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created - Returns information about the lock.
      summary: Creates or updates a management lock at the resource level or any level
        below the resource.
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/locks:
    get:
      description: Gets all the management locks for a scope.
      operationId: ManagementLocks_ListByScope
      parameters:
      - description: "The scope for the lock. When providing a scope for the assignment,\
          \ use '/subscriptions/{subscriptionId}' for subscriptions, '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'\
          \ for resource groups, and '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePathIfPresent}/{resourceType}/{resourceName}'\
          \ for resources."
        in: path
        name: scope
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK - Returns an array of resource locks.
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/locks/{lockName}:
    delete:
      description: Delete a management lock by scope.
      operationId: ManagementLocks_DeleteByScope
      parameters:
      - description: 'The scope for the lock. '
        in: path
        name: scope
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    get:
      description: Get a management lock by scope.
      operationId: ManagementLocks_GetByScope
      parameters:
      - description: 'The scope for the lock. '
        in: path
        name: scope
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
      - ManagementLocks
      x-accepts:
      - application/json
    put:
      description: Create or update a management lock by scope.
      operationId: ManagementLocks_CreateOrUpdateByScope
      parameters:
      - description: "The scope for the lock. When providing a scope for the assignment,\
          \ use '/subscriptions/{subscriptionId}' for subscriptions, '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'\
          \ for resource groups, and '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePathIfPresent}/{resourceType}/{resourceName}'\
          \ for resources."
        in: path
        name: scope
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: Create or update management lock parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ManagementLockListResult:
      description: The list of locks.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            notes: notes
            level: NotSpecified
            owners:
            - applicationId: applicationId
            - applicationId: applicationId
        - name: name
          id: id
          type: type
          properties:
            notes: notes
            level: NotSpecified
            owners:
            - applicationId: applicationId
            - applicationId: applicationId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The list of locks.
          items:
            $ref: '#/components/schemas/ManagementLockObject'
          type: array
      type: object
    ManagementLockObject:
      description: The lock information.
      example:
        name: name
        id: id
        type: type
        properties:
          notes: notes
          level: NotSpecified
          owners:
          - applicationId: applicationId
          - applicationId: applicationId
      properties:
        id:
          description: The resource ID of the lock.
          readOnly: true
          type: string
        name:
          description: The name of the lock.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagementLockProperties'
        type:
          description: The resource type of the lock - Microsoft.Authorization/locks.
          readOnly: true
          type: string
      required:
      - properties
      type: object
      x-ms-azure-resource: true
    ManagementLockOwner:
      description: Lock owner properties.
      example:
        applicationId: applicationId
      properties:
        applicationId:
          description: The application ID of the lock owner.
          type: string
      type: object
    ManagementLockProperties:
      description: The lock properties.
      example:
        notes: notes
        level: NotSpecified
        owners:
        - applicationId: applicationId
        - applicationId: applicationId
      properties:
        level:
          description: "The level of the lock. Possible values are: NotSpecified,\
            \ CanNotDelete, ReadOnly. CanNotDelete means authorized users are able\
            \ to read and modify the resources, but not delete. ReadOnly means authorized\
            \ users can only read from a resource, but they can't modify or delete\
            \ it."
          enum:
          - NotSpecified
          - CanNotDelete
          - ReadOnly
          type: string
          x-ms-enum:
            modelAsString: true
            name: LockLevel
        notes:
          description: Notes about the lock. Maximum of 512 characters.
          type: string
        owners:
          description: The owners of the lock.
          items:
            $ref: '#/components/schemas/ManagementLockOwner'
          type: array
      required:
      - level
      type: object
    Operation:
      description: Microsoft.Authorization operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list Microsoft.Authorization operations.
        It contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
        value:
          description: List of Microsoft.Authorization operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          type: string
        provider:
          description: "Service provider: Microsoft.Authorization"
          type: string
        resource:
          description: "Resource on which the operation is performed: Profile, endpoint,\
            \ etc."
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

