openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API for managing Drive Labels
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Drive Labels API
  version: v2beta
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://drivelabels.googleapis.com/$discovery/rest?version=v2beta
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: drivelabels
externalDocs:
  url: https://developers.google.com/drive/labels
servers:
- url: https://drivelabels.googleapis.com/
tags:
- name: labels
- name: limits
- name: users
paths:
  /v2beta/labels:
    get:
      description: List labels.
      operationId: drivelabels_labels_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The customer to scope this list request to. For example: \"\
          customers/abcd1234\". If unset, will return all labels within the current\
          \ customer."
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - description: "The BCP-47 language code to use for evaluating localized field\
          \ labels. When not specified, values in the default configured language\
          \ are used."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the level of access the user must have on the returned
          Labels. The minimum role a user must have on a label. Defaults to `READER`.
        explode: true
        in: query
        name: minimumRole
        required: false
        schema:
          enum:
          - LABEL_ROLE_UNSPECIFIED
          - READER
          - APPLIER
          - ORGANIZER
          - EDITOR
          type: string
        style: form
      - description: "Maximum number of labels to return per page. Default: 50. Max:\
          \ 200."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token of the page to return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include only published labels in the results. * When\
          \ `true`, only the current published label revisions are returned. Disabled\
          \ labels are included. Returned label resource names reference the published\
          \ revision (`labels/{id}/{revision_id}`). * When `false`, the current label\
          \ revisions are returned, which might not be published. Returned label resource\
          \ names don't reference a specific revision (`labels/{id}`)."
        explode: true
        in: query
        name: publishedOnly
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to `true` in order to use the user's admin credentials. This
          will return all Labels within the customer.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      - description: "When specified, only certain fields belonging to the indicated\
          \ view are returned."
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - LABEL_VIEW_BASIC
          - LABEL_VIEW_FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaListLabelsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels.readonly
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
    post:
      description: Creates a new Label.
      operationId: drivelabels_labels_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The BCP-47 language code to use for evaluating localized Field\
          \ labels in response. When not specified, values in the default configured\
          \ language will be used."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: Set to `true` in order to use the user's admin privileges. The
          server will verify the user is an admin before allowing access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/limits/label:
    get:
      description: "Get the constraints on the structure of a Label; such as, the\
        \ maximum number of Fields allowed and maximum length of the label title."
      operationId: drivelabels_limits_get_label
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Label revision resource name Must be: \"limits/label\""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelLimits'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels.readonly
      tags:
      - limits
      x-openapi-router-controller: openapi_server.controllers.limits_controller
  /v2beta/{name}:
    delete:
      description: "Deletes a Label's permission. Permissions affect the Label resource\
        \ as a whole, are not revisioned, and do not require publishing."
      operationId: drivelabels_labels_revisions_permissions_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Label Permission resource name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `true` in order to use the user's admin credentials. The
          server will verify the user is an admin for the Label before allowing access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      - description: "The revision_id of the label that the write request will be\
          \ applied to. If this is not the latest revision of the label, the request\
          \ will not be processed and will return a 400 Bad Request error."
        explode: true
        in: query
        name: writeControl.requiredRevisionId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
    get:
      description: Gets the user capabilities.
      operationId: drivelabels_users_get_capabilities
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the user. Only "users/me/capabilities"
          is supported.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "The customer to scope this request to. For example: \"customers/abcd1234\"\
          . If unset, will return settings within the current customer."
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - description: Set to `true` in order to use the user's admin credentials. The
          server verifies that the user is an admin for the label before allowing
          access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      - description: "When specified, only certain fields belonging to the indicated\
          \ view are returned."
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - LABEL_VIEW_BASIC
          - LABEL_VIEW_FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserCapabilities'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels.readonly
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v2beta/{name}:delta:
    post:
      description: "Updates a single Label by applying a set of update requests resulting\
        \ in a new draft revision. The batch update is all-or-nothing: If any of the\
        \ update requests are invalid, no changes are applied. The resulting draft\
        \ revision must be published before the changes may be used with Drive Items."
      operationId: drivelabels_labels_delta
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the Label to update.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{name}:disable:
    post:
      description: "Disable a published Label. Disabling a Label will result in a\
        \ new disabled published revision based on the current published revision.\
        \ If there is a draft revision, a new disabled draft revision will be created\
        \ based on the latest draft revision. Older draft revisions will be deleted.\
        \ Once disabled, a label may be deleted with `DeleteLabel`."
      operationId: drivelabels_labels_disable
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Label resource name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaDisableLabelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{name}:enable:
    post:
      description: "Enable a disabled Label and restore it to its published state.\
        \ This will result in a new published revision based on the current disabled\
        \ published revision. If there is an existing disabled draft revision, a new\
        \ revision will be created based on that draft and will be enabled."
      operationId: drivelabels_labels_enable
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Label resource name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaEnableLabelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{name}:publish:
    post:
      description: "Publish all draft changes to the Label. Once published, the Label\
        \ may not return to its draft state. See `google.apps.drive.labels.v2.Lifecycle`\
        \ for more information. Publishing a Label will result in a new published\
        \ revision. All previous draft revisions will be deleted. Previous published\
        \ revisions will be kept but are subject to automated deletion as needed.\
        \ Once published, some changes are no longer permitted. Generally, any change\
        \ that would invalidate or cause new restrictions on existing metadata related\
        \ to the Label will be rejected. For example, the following changes to a Label\
        \ will be rejected after the Label is published: * The label cannot be directly\
        \ deleted. It must be disabled first, then deleted. * Field.FieldType cannot\
        \ be changed. * Changes to Field validation options cannot reject something\
        \ that was previously accepted. * Reducing the max entries."
      operationId: drivelabels_labels_publish
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Label resource name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaPublishLabelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{name}:updateLabelCopyMode:
    post:
      description: "Updates a Label's `CopyMode`. Changes to this policy are not revisioned,\
        \ do not require publishing, and take effect immediately."
      operationId: drivelabels_labels_update_label_copy_mode
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the Label to update.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{parent}/locks:
    get:
      description: Lists the LabelLocks on a Label.
      operationId: drivelabels_labels_revisions_locks_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Label on which Locks are applied. Format: labels/{label}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Maximum number of Locks to return per page. Default: 100. Max:\
          \ 200."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token of the page to return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaListLabelLocksResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels.readonly
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
  /v2beta/{parent}/permissions:
    get:
      description: Lists a Label's permissions.
      operationId: drivelabels_labels_revisions_permissions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent Label resource name on which Label Permission\
          \ are listed. Format: labels/{label}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Maximum number of permissions to return per page. Default: 50.\
          \ Max: 200."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token of the page to return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Set to `true` in order to use the user's admin credentials. The
          server will verify the user is an admin for the Label before allowing access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels.readonly
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
    patch:
      description: "Updates a Label's permissions. If a permission for the indicated\
        \ principal doesn't exist, a new Label Permission is created, otherwise the\
        \ existing permission is updated. Permissions affect the Label resource as\
        \ a whole, are not revisioned, and do not require publishing."
      operationId: drivelabels_labels_revisions_update_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent Label resource name.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `true` in order to use the user's admin credentials. The
          server will verify the user is an admin for the Label before allowing access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
    post:
      description: "Updates a Label's permissions. If a permission for the indicated\
        \ principal doesn't exist, a new Label Permission is created, otherwise the\
        \ existing permission is updated. Permissions affect the Label resource as\
        \ a whole, are not revisioned, and do not require publishing."
      operationId: drivelabels_labels_revisions_permissions_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent Label resource name on the Label Permission\
          \ is created. Format: labels/{label}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `true` in order to use the user's admin credentials. The
          server will verify the user is an admin for the Label before allowing access.
        explode: true
        in: query
        name: useAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{parent}/permissions:batchDelete:
    post:
      description: "Deletes Label permissions. Permissions affect the Label resource\
        \ as a whole, are not revisioned, and do not require publishing."
      operationId: drivelabels_labels_revisions_permissions_batch_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent Label resource name shared by all permissions\
          \ being deleted. Format: labels/{label} If this is set, the parent field\
          \ in the UpdateLabelPermissionRequest messages must either be empty or match\
          \ this field."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
  /v2beta/{parent}/permissions:batchUpdate:
    post:
      description: "Updates Label permissions. If a permission for the indicated principal\
        \ doesn't exist, a new Label Permission is created, otherwise the existing\
        \ permission is updated. Permissions affect the Label resource as a whole,\
        \ are not revisioned, and do not require publishing."
      operationId: drivelabels_labels_revisions_permissions_batch_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent Label resource name shared by all permissions\
          \ being updated. Format: labels/{label} If this is set, the parent field\
          \ in the UpdateLabelPermissionRequest messages must either be empty or match\
          \ this field."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.admin.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.admin.labels
      - Oauth2:
        - https://www.googleapis.com/auth/drive.labels
        Oauth2c:
        - https://www.googleapis.com/auth/drive.labels
      tags:
      - labels
      x-openapi-router-controller: openapi_server.controllers.labels_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleAppsDriveLabelsV2betaBadgeColors:
      description: The color derived from BadgeConfig and changed to the closest recommended
        supported color.
      example:
        backgroundColor:
          red: 7.0614014
          green: 2.302136
          blue: 5.637377
          alpha: 5.962134
        foregroundColor:
          red: 7.0614014
          green: 2.302136
          blue: 5.637377
          alpha: 5.962134
        soloColor:
          red: 7.0614014
          green: 2.302136
          blue: 5.637377
          alpha: 5.962134
      properties:
        backgroundColor:
          $ref: '#/components/schemas/GoogleTypeColor'
        foregroundColor:
          $ref: '#/components/schemas/GoogleTypeColor'
        soloColor:
          $ref: '#/components/schemas/GoogleTypeColor'
      title: GoogleAppsDriveLabelsV2betaBadgeColors
      type: object
    GoogleAppsDriveLabelsV2betaBadgeConfig:
      description: Badge status of the label.
      example:
        color:
          red: 7.0614014
          green: 2.302136
          blue: 5.637377
          alpha: 5.962134
        priorityOverride: priorityOverride
      properties:
        color:
          $ref: '#/components/schemas/GoogleTypeColor'
        priorityOverride:
          description: "Override the default global priority of this badge. When set\
            \ to 0, the default priority heuristic is used."
          format: int64
          title: priorityOverride
          type: string
      title: GoogleAppsDriveLabelsV2betaBadgeConfig
      type: object
    GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest:
      description: Deletes one of more Label Permissions.
      example:
        useAdminAccess: true
        requests:
        - useAdminAccess: true
          name: name
        - useAdminAccess: true
          name: name
      properties:
        requests:
          description: Required. The request message specifying the resources to update.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest'
          title: requests
          type: array
        useAdminAccess:
          description: "Set to `true` in order to use the user's admin credentials.\
            \ The server will verify the user is an admin for the Label before allowing\
            \ access. If this is set, the use_admin_access field in the DeleteLabelPermissionRequest\
            \ messages must either be empty or match this field."
          title: useAdminAccess
          type: boolean
      title: GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest
      type: object
    GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest:
      description: Updates one or more Label Permissions.
      example:
        useAdminAccess: true
        requests:
        - parent: parent
          useAdminAccess: true
          labelPermission:
            audience: audience
            role: LABEL_ROLE_UNSPECIFIED
            person: person
            name: name
            email: email
            group: group
        - parent: parent
          useAdminAccess: true
          labelPermission:
            audience: audience
            role: LABEL_ROLE_UNSPECIFIED
            person: person
            name: name
            email: email
            group: group
      properties:
        requests:
          description: Required. The request message specifying the resources to update.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest'
          title: requests
          type: array
        useAdminAccess:
          description: "Set to `true` in order to use the user's admin credentials.\
            \ The server will verify the user is an admin for the Label before allowing\
            \ access. If this is set, the use_admin_access field in the UpdateLabelPermissionRequest\
            \ messages must either be empty or match this field."
          title: useAdminAccess
          type: boolean
      title: GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest
      type: object
    GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse:
      description: Response for updating one or more Label Permissions.
      example:
        permissions:
        - audience: audience
          role: LABEL_ROLE_UNSPECIFIED
          person: person
          name: name
          email: email
          group: group
        - audience: audience
          role: LABEL_ROLE_UNSPECIFIED
          person: person
          name: name
          email: email
          group: group
      properties:
        permissions:
          description: Required. Permissions updated.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          title: permissions
          type: array
      title: GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse
      type: object
    GoogleAppsDriveLabelsV2betaDateLimits:
      description: Limits for date Field type.
      example:
        minValue:
          month: 6
          year: 1
          day: 0
        maxValue:
          month: 6
          year: 1
          day: 0
      properties:
        maxValue:
          $ref: '#/components/schemas/GoogleTypeDate'
        minValue:
          $ref: '#/components/schemas/GoogleTypeDate'
      title: GoogleAppsDriveLabelsV2betaDateLimits
      type: object
    GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest:
      description: "Deletes a Label Permission. Permissions affect the Label resource\
        \ as a whole, are not revisioned, and do not require publishing."
      example:
        useAdminAccess: true
        name: name
      properties:
        name:
          description: Required. Label Permission resource name.
          title: name
          type: string
        useAdminAccess:
          description: Set to `true` in order to use the user's admin credentials.
            The server will verify the user is an admin for the Label before allowing
            access.
          title: useAdminAccess
          type: boolean
      title: GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest:
      description: "The set of requests for updating aspects of a Label. If any request\
        \ is not valid, no requests will be applied."
      example:
        view: LABEL_VIEW_BASIC
        useAdminAccess: true
        requests:
        - createField:
            field:
              creator:
                person: person
              queryKey: queryKey
              textOptions:
                minLength: 2
                maxLength: 3
              selectionOptions:
                listOptions:
                  maxEntries: 9
                choices:
                - publishTime: publishTime
                  creator:
                    person: person
                  updateTime: updateTime
                  disabler:
                    person: person
                  updater:
                    person: person
                  lifecycle:
                    hasUnpublishedChanges: true
                    disabledPolicy:
                      showInApply: true
                      hideInSearch: true
                    state: STATE_UNSPECIFIED
                  displayHints:
                    darkBadgeColors:
                      backgroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      foregroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      soloColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                    hiddenInSearch: true
                    badgePriority: badgePriority
                    disabled: true
                    shownInApply: true
                    badgeColors:
                      backgroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      foregroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      soloColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                  lockStatus:
                    locked: true
                  createTime: createTime
                  schemaCapabilities:
                    canUpdate: true
                    canEnable: true
                    canDisable: true
                    canDelete: true
                  appliedCapabilities:
                    canRead: true
                    canSelect: true
                    canSearch: true
                  publisher:
                    person: person
                  id: id
                  properties:
                    displayName: displayName
                    insertBeforeChoice: insertBeforeChoice
                    description: description
                    badgeConfig:
                      color:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      priorityOverride: priorityOverride
                  disableTime: disableTime
                - publishTime: publishTime
                  creator:
                    person: person
                  updateTime: updateTime
                  disabler:
                    person: person
                  updater:
                    person: person
                  lifecycle:
                    hasUnpublishedChanges: true
                    disabledPolicy:
                      showInApply: true
                      hideInSearch: true
                    state: STATE_UNSPECIFIED
                  displayHints:
                    darkBadgeColors:
                      backgroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      foregroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      soloColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                    hiddenInSearch: true
                    badgePriority: badgePriority
                    disabled: true
                    shownInApply: true
                    badgeColors:
                      backgroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      foregroundColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      soloColor:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                  lockStatus:
                    locked: true
                  createTime: createTime
                  schemaCapabilities:
                    canUpdate: true
                    canEnable: true
                    canDisable: true
                    canDelete: true
                  appliedCapabilities:
                    canRead: true
                    canSelect: true
                    canSearch: true
                  publisher:
                    person: person
                  id: id
                  properties:
                    displayName: displayName
                    insertBeforeChoice: insertBeforeChoice
                    description: description
                    badgeConfig:
                      color:
                        red: 7.0614014
                        green: 2.302136
                        blue: 5.637377
                        alpha: 5.962134
                      priorityOverride: priorityOverride
                  disableTime: disableTime
              updateTime: updateTime
              disabler:
                person: person
              integerOptions:
                minValue: minValue
                maxValue: maxValue
              updater:
                person: person
              lifecycle:
                hasUnpublishedChanges: true
                disabledPolicy:
                  showInApply: true
                  hideInSearch: true
                state: STATE_UNSPECIFIED
              dateOptions:
                minValue:
                  month: 6
                  year: 1
                  day: 0
                dateFormat: dateFormat
                maxValue:
                  month: 6
                  year: 1
                  day: 0
                dateFormatType: DATE_FORMAT_UNSPECIFIED
              displayHints:
                hiddenInSearch: true
                disabled: true
                shownInApply: true
                required: true
              lockStatus:
                locked: true
              createTime: createTime
              schemaCapabilities:
                canUpdate: true
                canEnable: true
                canDisable: true
                canDelete: true
              appliedCapabilities:
                canRead: true
                canWrite: true
                canSearch: true
              publisher:
                person: person
              id: id
              userOptions:
                listOptions:
                  maxEntries: 9
              properties:
                displayName: displayName
                insertBeforeField: insertBeforeField
                required: true
              disableTime: disableTime
          disableSelectionChoice:
            disabledPolicy:
              showInApply: true
              hideInSearch: true
            id: id
            updateMask: updateMask
            fieldId: fieldId
          deleteField:
            id: id
          disableField:
            disabledPolicy:
              showInApply: true
              hideInSearch: true
            id: id
            updateMask: updateMask
          updateLabel:
            updateMask: updateMask
            properties:
              description: description
              title: title
          enableField:
            id: id
          enableSelectionChoice:
            id: id
            fieldId: fieldId
          createSelectionChoice:
            choice:
              publishTime: publishTime
              creator:
                person: person
              updateTime: updateTime
              disabler:
                person: person
              updater:
                person: person
              lifecycle:
                hasUnpublishedChanges: true
                disabledPolicy:
                  showInApply: true
                  hideInSearch: true
                state: STATE_UNSPECIFIED
              displayHints:
                darkBadgeColors:
                  backgroundColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                  foregroundColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                  soloColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                hiddenInSearch: true
                badgePriority: badgePriority
                disabled: true
                shownInApply: true
                badgeColors:
                  backgroundColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                  foregroundColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                  soloColor:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
              lockStatus:
                locked: true
              createTime: createTime
              schemaCapabilities:
                canUpdate: true
                canEnable: true
                canDisable: true
                canDelete: true
              appliedCapabilities:
                canRead: true
                canSelect: true
                canSearch: true
              publisher:
                person: person
              id: id
              properties:
                displayName: displayName
                insertBeforeChoice: insertBeforeChoice
                description: description
                badgeConfig:
                  color:
                    red: 7.0614014
                    green: 2.302136
                    blue: 5.637377
                    alpha: 5.962134
                  priorityOverride: priorityOverride
              disableTime: disableTime
            fieldId: fieldId
          deleteSelectionChoice:
            id: id
            fieldId: fieldId
          updateField:
            id: id
            updateMask: updateMask
            properties:
              displayName: displayName
              insertBeforeField: insertBeforeField
              required: true
          updateFieldType:
            dateOptions:
              minValue:
                month: 6
                year: 1
                day: 0
              dateFormat: dateFormat
              maxValue:
                month: 6
                year: 1
                day: 0
              dateFormatType: DATE_FORMAT_UNSPECIFIED
            textOptions:
              minLength: 2
              maxLength: 3
            selectionOptions:
              listOptions:
                maxEntries: 9
              choices:
              - publishTime: publishTime
                creator:
                  person: person
                updateTime: updateTime
                disabler:
                  person: person
                updater:
                  person: person
                lifecycle:
                  hasUnpublishedChanges: true
                  disabledPolicy:
                    showInApply: true
                    hideInSearch: true
                  state: STATE_UNSPECIFIED
                displayHints:
                  darkBadgeColors:
                    backgroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    foregroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    soloColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                  hiddenInSearch: true
                  badgePriority: badgePriority
                  disabled: true
                  shownInApply: true
                  badgeColors:
                    backgroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    foregroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    soloColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                lockStatus:
                  locked: true
                createTime: createTime
                schemaCapabilities:
                  canUpdate: true
                  canEnable: true
                  canDisable: true
                  canDelete: true
                appliedCapabilities:
                  canRead: true
                  canSelect: true
                  canSearch: true
                publisher:
                  person: person
                id: id
                properties:
                  displayName: displayName
                  insertBeforeChoice: insertBeforeChoice
                  description: description
                  badgeConfig:
                    color:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    priorityOverride: priorityOverride
                disableTime: disableTime
              - publishTime: publishTime
                creator:
                  person: person
                updateTime: updateTime
                disabler:
                  person: person
                updater:
                  person: person
                lifecycle:
                  hasUnpublishedChanges: true
                  disabledPolicy:
                    showInApply: true
                    hideInSearch: true
                  state: STATE_UNSPECIFIED
                displayHints:
                  darkBadgeColors:
                    backgroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    foregroundColor:
                      red: 7.0614014
                      green: 2.302136
                      blue: 5.637377
                      alpha: 5.962134
                    soloColor:
                      red: 7.0614014
                      green: 2.302136
[...]
