openapi: 3.0.1
info:
  description: The Disk Resource Provider Client.
  title: DiskResourceProviderClient
  version: 2016-04-30-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/preview/2016-04-30-preview/disk.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute-disk
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a subscription.
      operationId: disks_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskList'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a subscription.:
          parameters:
            api-version: 2016-04-30-preview
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                  location: westus
                  name: myManagedDisk1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                  location: westus
                  name: myManagedDisk2
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.872242+00:00
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk3"
                  location: westus
                  name: myManagedDisk3
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.3973934+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a subscription.
      operationId: snapshots_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotList'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a subscription.:
          parameters:
            api-version: 2016-04-30-preview
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  location: westus
                  name: mySnapshot1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:47:30.6630569+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                  location: westus
                  name: mySnapshot2
                  properties:
                    creationData:
                      createOption: Import
                      sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:47:30.3247198+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a resource group.
      operationId: disks_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskList'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a resource group.:
          parameters:
            api-version: 2016-04-30-preview
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.872242+00:00
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.3973934+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}:
    delete:
      description: Deletes a disk.
      operationId: disks_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: "If the disk is deleted, this is an expected error code."
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    get:
      description: Gets information about a disk.
      operationId: disks_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: diskName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        Get information about a managed disk.:
          parameters:
            api-version: 2017-03-30
            diskName: myManagedDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                location: westus
                name: myManagedDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 10
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: 2016-12-28T04:41:35.079872+00:00
                tags:
                  department: Development
                  project: ManagedDisks
                type: Microsoft.Compute/disks
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    patch:
      description: Updates (patches) a disk.
      operationId: disks_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskUpdate'
        description: Disk object supplied in the body of the Patch disk operation.
        required: true
        x-body-name: disk
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-codegen-request-body-name: disk
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    put:
      description: Creates or updates a disk.
      operationId: disks_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disk'
        description: Disk object supplied in the body of the Put disk operation.
        required: true
        x-body-name: disk
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: Accepted
      tags:
      - Disks
      x-ms-examples:
        Create a managed disk by copying a snapshot.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a managed disk from a platform image.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: FromImage
                  imageReference:
                    id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                osType: Windows
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: FromImage
                    imageReference:
                      id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                  osType: Windows
                  provisioningState: Updating
        Create a managed disk from an existing managed disk in the same or different subscription.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
            diskName: myDisk2
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                  provisioningState: Updating
        Create an empty managed disk.:
          parameters:
            api-version: 2016-04-30-preview
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Empty
                diskSizeGB: 200
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 200
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: disk
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/beginGetAccess:
    post:
      description: Grants access to a disk.
      operationId: disks_grant_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessData'
        description: Access data object supplied in the body of the get disk access
          operation.
        required: true
        x-body-name: grantAccessData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessUri'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-codegen-request-body-name: grantAccessData
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/endGetAccess:
    post:
      description: Revokes access to a disk.
      operationId: disks_revoke_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a resource group.
      operationId: snapshots_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotList'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a resource group.:
          parameters:
            api-version: 2016-04-30-preview
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  location: westus
                  name: mySnapshot
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}:
    delete:
      description: Deletes a snapshot.
      operationId: snapshots_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: "If the snapshot is deleted, this is an expected error code."
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    get:
      description: Gets information about a snapshot.
      operationId: snapshots_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshotName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        Get information about a snapshot.:
          parameters:
            api-version: 2016-04-30-preview
            resourceGroupName: myResourceGroup
            snapshotName: mySnapshot
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                location: westus
                name: mySnapshot
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 100
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: 2016-12-28T04:41:35.079872+00:00
                tags:
                  department: Development
                  project: Snapshots
                type: Microsoft.Compute/snapshots
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    patch:
      description: Updates (patches) a snapshot.
      operationId: snapshots_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotUpdate'
        description: Snapshot object supplied in the body of the Patch snapshot operation.
        required: true
        x-body-name: snapshot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-codegen-request-body-name: snapshot
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    put:
      description: Creates or updates a snapshot.
      operationId: snapshots_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot'
        description: Snapshot object supplied in the body of the Put disk operation.
        required: true
        x-body-name: snapshot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: Accepted
      tags:
      - Snapshots
      x-ms-examples:
        Create a snapshot by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: 2017-03-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
            snapshotName: mySnapshot1
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
        Create a snapshot by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: 2017-03-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            snapshotName: mySnapshot1
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a snapshot from an existing snapshot in the same or a different subscription.:
          parameters:
            api-version: 2017-03-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            snapshotName: mySnapshot2
            subscriptionId: "{subscription-id}"
          responses:
            "202":
              body:
                location: West US
                name: mySnapshot2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: snapshot
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess
  : post:
      description: Grants access to a snapshot.
      operationId: snapshots_grant_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessData'
        description: Access data object supplied in the body of the get snapshot access
          operation.
        required: true
        x-body-name: grantAccessData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessUri'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-codegen-request-body-name: grantAccessData
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess
  : post:
      description: Revokes access to a snapshot.
      operationId: snapshots_revoke_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the snapshot within the given subscription and resource
          group.
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DiskNameParameter:
      description: "The name of the managed disk that is being created. The name can't\
        \ be changed after the disk is created. Supported characters for the name\
        \ are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
      in: path
      name: diskName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SnapshotNameParameter:
      description: The name of the snapshot within the given subscription and resource
        group.
      in: path
      name: snapshotName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccessUri:
      description: A disk access SAS uri.
      example:
        properties:
          output:
            accessSAS: accessSAS
      properties:
        properties:
          $ref: '#/components/schemas/AccessUriOutput'
      title: AccessUri
      type: object
    AccessUriOutput:
      description: "Azure properties, including output."
      example:
        output:
          accessSAS: accessSAS
      properties:
        output:
          $ref: '#/components/schemas/AccessUriRaw'
      title: AccessUriOutput
      type: object
    AccessUriRaw:
      description: This object gets 'bubbled up' through flattening.
      example:
        accessSAS: accessSAS
      properties:
        accessSAS:
          description: A SAS uri for accessing a disk.
          readOnly: true
          title: accessSAS
          type: string
      title: AccessUriRaw
      type: object
    ApiError:
      description: Api error.
      example:
        code: code
        innererror:
          errordetail: errordetail
          exceptiontype: exceptiontype
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        details:
          description: The Api error details
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          title: details
          type: array
        innererror:
          $ref: '#/components/schemas/InnerError'
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiError
      type: object
    ApiErrorBase:
      description: Api error base.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiErrorBase
      type: object
    CreationData:
      description: Data used when creating a disk.
      example:
        storageAccountId: storageAccountId
        sourceUri: sourceUri
        imageReference:
          lun: 0
          id: id
        createOption: Empty
        sourceResourceId: sourceResourceId
      properties:
        createOption:
          description: This enumerates the possible sources of a disk's creation.
          enum:
          - Empty
          - Attach
          - FromImage
          - Import
          - Copy
          - Restore
          title: createOption
          type: string
          x-ms-enum:
            modelAsString: false
            name: DiskCreateOption
        imageReference:
          $ref: '#/components/schemas/ImageDiskReference'
        sourceResourceId:
          description: "If createOption is Copy, this is the ARM id of the source\
            \ snapshot or disk. If createOption is Restore, this is the ARM-like id\
            \ of the source disk restore point."
          title: sourceResourceId
          type: string
        sourceUri:
          description: "If createOption is Import, this is a SAS URI to a blob to\
            \ be imported into a managed disk. If createOption is Copy, this is a\
            \ relative Uri containing the id of the source snapshot to be copied into\
            \ a managed disk."
          title: sourceUri
          type: string
        storageAccountId:
          description: "If createOption is Import, the Azure Resource Manager identifier\
            \ of the storage account containing the blob to import as a disk. Required\
            \ only if the blob is in a different subscription"
          title: storageAccountId
          type: string
      required:
      - createOption
      title: CreationData
      type: object
    Disk:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Disk resource.
      example:
        properties:
          accountType: Standard_LRS
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          osType: Windows
          timeCreated: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          ownerId: ownerId
          diskSizeGB: 6
          encryptionSettings:
            diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            enabled: true
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
      properties:
        properties:
          $ref: '#/components/schemas/DiskProperties'
      title: Disk
    DiskList:
      description: The List Disks operation response.
      example:
        value:
        - properties:
            accountType: Standard_LRS
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            ownerId: ownerId
            diskSizeGB: 6
            encryptionSettings:
              diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              enabled: true
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
        - properties:
            accountType: Standard_LRS
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            ownerId: ownerId
            diskSizeGB: 6
            encryptionSettings:
              diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              enabled: true
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
        nextLink: nextLink
      properties:
        nextLink:
          description: the uri to fetch the next page of disks. Call ListNext() with
            this to fetch the next page of disks.
          title: nextLink
          type: string
        value:
          description: A list of disks.
          items:
            $ref: '#/components/schemas/Disk'
          title: value
          type: array
      required:
      - value
      title: DiskList
      type: object
    DiskProperties:
      description: Disk resource properties.
      example:
        accountType: Standard_LRS
        creationData:
          storageAccountId: storageAccountId
          sourceUri: sourceUri
          imageReference:
            lun: 0
            id: id
          createOption: Empty
          sourceResourceId: sourceResourceId
        osType: Windows
        timeCreated: 2000-01-23T04:56:07.000+00:00
        provisioningState: provisioningState
        ownerId: ownerId
        diskSizeGB: 6
        encryptionSettings:
          diskEncryptionKey:
            secretUrl: secretUrl
            sourceVault:
              id: id
          enabled: true
          keyEncryptionKey:
            sourceVault:
              id: id
            keyUrl: keyUrl
      properties:
        accountType:
          description: the storage account type of the disk.
          enum:
          - Standard_LRS
          - Premium_LRS
          title: accountType
          type: string
          x-ms-enum:
            modelAsString: false
            name: StorageAccountTypes
        creationData:
          $ref: '#/components/schemas/CreationData'
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        encryptionSettings:
          $ref: '#/components/schemas/EncryptionSettings'
        osType:
          description: The Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
        ownerId:
          description: A relative URI containing the VM id that has the disk attached.
          readOnly: true
          title: ownerId
          type: string
        provisioningState:
          description: The disk provisioning state.
          readOnly: true
          title: provisioningState
          type: string
        timeCreated:
          description: The time when the disk was created.
          format: date-time
          readOnly: true
          title: timeCreated
          type: string
      required:
      - creationData
      title: DiskProperties
      type: object
    DiskUpdate:
      allOf:
      - $ref: '#/components/schemas/ResourceUpdate'
      description: Disk update resource.
      example:
        properties:
          accountType: Standard_LRS
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          osType: Windows
          diskSizeGB: 0
          encryptionSettings:
            diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            enabled: true
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
      properties:
        properties:
          $ref: '#/components/schemas/DiskUpdateProperties'
      title: DiskUpdate
    DiskUpdateProperties:
      description: Disk resource update properties.
      example:
        accountType: Standard_LRS
        creationData:
          storageAccountId: storageAccountId
          sourceUri: sourceUri
          imageReference:
            lun: 0
            id: id
          createOption: Empty
          sourceResourceId: sourceResourceId
        osType: Windows
        diskSizeGB: 0
        encryptionSettings:
          diskEncryptionKey:
            secretUrl: secretUrl
            sourceVault:
              id: id
          enabled: true
          keyEncryptionKey:
            sourceVault:
              id: id
            keyUrl: keyUrl
      properties:
        accountType:
          description: the storage account type of the disk.
          enum:
          - Standard_LRS
          - Premium_LRS
          title: accountType
          type: string
          x-ms-enum:
            modelAsString: false
            name: StorageAccountTypes
        creationData:
          $ref: '#/components/schemas/CreationData'
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        encryptionSettings:
          $ref: '#/components/schemas/EncryptionSettings'
        osType:
          description: the Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
      title: DiskUpdateProperties
      type: object
    EncryptionSettings:
      description: Encryption settings for disk or snapshot
      example:
        diskEncryptionKey:
          secretUrl: secretUrl
          sourceVault:
            id: id
        enabled: true
        keyEncryptionKey:
          sourceVault:
            id: id
          keyUrl: keyUrl
      properties:
        diskEncryptionKey:
          $ref: '#/components/schemas/KeyVaultAndSecretReference'
        enabled:
          description: "Set this flag to true and provide DiskEncryptionKey and optional\
            \ KeyEncryptionKey to enable encryption. Set this flag to false and remove\
            \ DiskEncryptionKey and KeyEncryptionKey to disable encryption. If EncryptionSettings\
            \ is null in the request object, the existing settings remain unchanged."
          title: enabled
          type: boolean
        keyEncryptionKey:
          $ref: '#/components/schemas/KeyVaultAndKeyReference'
      title: EncryptionSettings
      type: object
    GrantAccessData:
      description: Data used for requesting a SAS.
      example:
        access: None
        durationInSeconds: 0
      properties:
        access:
          enum:
          - None
          - Read
          title: access
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessLevel
        durationInSeconds:
          description: Time duration in seconds until the SAS access expires.
          format: int32
          title: durationInSeconds
          type: integer
      required:
      - access
      - durationInSeconds
      title: GrantAccessData
      type: object
    ImageDiskReference:
      description: The source image used for creating the disk.
      example:
        lun: 0
        id: id
      properties:
        id:
          description: A relative uri containing either a Platform Image Repository
            or user image reference.
          title: id
          type: string
        lun:
          description: "If the disk is created from an image's data disk, this is\
            \ an index that indicates which of the data disks in the image to use.\
            \ For OS disks, this field is null."
          format: int32
          title: lun
          type: integer
      required:
      - id
      title: ImageDiskReference
      type: object
    InnerError:
      description: Inner error details.
      example:
        errordetail: errordetail
        exceptiontype: exceptiontype
      properties:
        errordetail:
          description: The internal error message or exception dump.
          title: errordetail
          type: string
        exceptiontype:
          description: The exception type.
          title: exceptiontype
          type: string
      title: InnerError
      type: object
    KeyVaultAndKeyReference:
      description: "Key Vault Key Url and vault id of KeK, KeK is optional and when\
        \ provided is used to unwrap the encryptionKey"
      example:
        sourceVault:
          id: id
        keyUrl: keyUrl
      properties:
        keyUrl:
          description: Url pointing to a key or secret in KeyVault
          title: keyUrl
          type: string
        sourceVault:
          $ref: '#/components/schemas/SourceVault'
      required:
      - keyUrl
      - sourceVault
      title: KeyVaultAndKeyReference
      type: object
    KeyVaultAndSecretReference:
      description: 'Key Vault Secret Url and vault id of the encryption key '
      example:
        secretUrl: secretUrl
        sourceVault:
          id: id
      properties:
        secretUrl:
          description: Url pointing to a key or secret in KeyVault
          title: secretUrl
          type: string
        sourceVault:
          $ref: '#/components/schemas/SourceVault'
      required:
      - secretUrl
      - sourceVault
      title: KeyVaultAndSecretReference
      type: object
    OperationStatusResponse:
      description: Operation status response
      example:
        name: name
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        error:
          code: code
          innererror:
            errordetail: errordetail
            exceptiontype: exceptiontype
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
        status: status
      properties:
        endTime:
          description: End time of the operation
          format: date-time
          readOnly: true
          title: endTime
          type: string
        error:
          $ref: '#/components/schemas/ApiError'
        name:
          description: Operation ID
          readOnly: true
          title: name
          type: string
        startTime:
          description: Start time of the operation
          format: date-time
          readOnly: true
          title: startTime
          type: string
        status:
          description: Operation status
          readOnly: true
          title: status
          type: string
      title: OperationStatusResponse
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceUpdate:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: ResourceUpdate
      type: object
    Snapshot:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Snapshot resource.
      example:
        properties:
          accountType: Standard_LRS
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          osType: Windows
          timeCreated: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          ownerId: ownerId
          diskSizeGB: 6
          encryptionSettings:
            diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            enabled: true
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
      properties:
        properties:
          $ref: '#/components/schemas/DiskProperties'
      title: Snapshot
    SnapshotList:
      description: The List Snapshots operation response.
      example:
        value:
        - properties:
            accountType: Standard_LRS
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            ownerId: ownerId
            diskSizeGB: 6
            encryptionSettings:
              diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              enabled: true
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
        - properties:
            accountType: Standard_LRS
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            ownerId: ownerId
            diskSizeGB: 6
            encryptionSettings:
              diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              enabled: true
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of snapshots. Call ListNext()
            with this to fetch the next page of snapshots.
          title: nextLink
          type: string
        value:
          description: A list of snapshots.
          items:
            $ref: '#/components/schemas/Snapshot'
          title: value
          type: array
      required:
      - value
      title: SnapshotList
      type: object
    SnapshotUpdate:
      allOf:
      - $ref: '#/components/schemas/ResourceUpdate'
      description: Snapshot update resource.
      example:
        properties:
          accountType: Standard_LRS
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          osType: Windows
          diskSizeGB: 0
          encryptionSettings:
            diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            enabled: true
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
      properties:
        properties:
          $ref: '#/components/schemas/DiskUpdateProperties'
      title: SnapshotUpdate
    SourceVault:
      description: "The vault id is an Azure Resource Manager Resource id in the form\
        \ /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}"
      example:
        id: id
      properties:
        id:
          description: Resource Id
          title: id
          type: string
      title: SourceVault
      type: object
x-original-swagger-version: "2.0"
