openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Trusthub
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://twilio.com/docs/static/img/favicons/favicon_57.c9643fd8d.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_trusthub_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_trusthub_v1
servers:
- url: https://trusthub.twilio.com
tags:
- name: TrusthubV1ComplianceInquiries
- name: TrusthubV1ComplianceRegistrationInquiries
- name: TrusthubV1ComplianceTollfreeInquiries
- name: TrusthubV1CustomerProfiles
- name: TrusthubV1CustomerProfilesChannelEndpointAssignment
- name: TrusthubV1CustomerProfilesEntityAssignments
- name: TrusthubV1CustomerProfilesEvaluations
- name: TrusthubV1EndUser
- name: TrusthubV1EndUserType
- name: TrusthubV1Policies
- name: TrusthubV1SupportingDocument
- name: TrusthubV1SupportingDocumentType
- name: TrusthubV1TrustProducts
- name: TrusthubV1TrustProductsChannelEndpointAssignment
- name: TrusthubV1TrustProductsEntityAssignments
- name: TrusthubV1TrustProductsEvaluations
paths:
  /v1/ComplianceInquiries/Customers/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Inquiry for the authenticated account.
        This is necessary to start a new embedded session.
      operationId: create_compliance_inquiry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateComplianceInquiryRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.compliance_inquiry'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1ComplianceInquiries
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_compliance_inquiries_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_inquiries
      defaultOutputProperties:
      - inquiry_id
      - session_token
      - customer_id
      mountName: compliance_inquiries
      pathType: list
  /v1/ComplianceInquiries/Customers/{CustomerId}/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: "Resume a specific Compliance Inquiry that has expired, or re-open\
        \ a rejected Compliance Inquiry for editing."
      operationId: update_compliance_inquiry
      parameters:
      - description: The unique CustomerId matching the Customer Profile/Compliance
          Inquiry that should be resumed or resubmitted. This value will have been
          returned by the initial Compliance Inquiry creation call.
        explode: false
        in: path
        name: CustomerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateComplianceInquiryRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.compliance_inquiry'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1ComplianceInquiries
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_compliance_inquiries_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_inquiries
      defaultOutputProperties:
      - inquiry_id
      - session_token
      - customer_id
      mountName: compliance_inquiries
      pathType: instance
  /v1/ComplianceInquiries/Registration/RegulatoryCompliance/GB/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Registration Inquiry for the authenticated
        account. This is necessary to start a new embedded session.
      operationId: create_compliance_registration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateComplianceRegistrationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.compliance_registration'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1ComplianceRegistrationInquiries
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_compliance_registration_inquiries_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_registration_inquiries
      defaultOutputProperties:
      - inquiry_id
      - session_token
      - registration_id
      mountName: compliance_registration_inquiries
      pathType: list
  /v1/ComplianceInquiries/Tollfree/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Tollfree Verification Inquiry for the authenticated
        account. This is necessary to start a new embedded session.
      operationId: create_compliance_tollfree_inquiry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateComplianceTollfreeInquiryRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.compliance_tollfree_inquiry'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1ComplianceTollfreeInquiries
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_compliance_tollfree_inquiries_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_tollfree_inquiries
      defaultOutputProperties:
      - inquiry_id
      - session_token
      - registration_id
      mountName: compliance_tollfree_inquiries
      pathType: list
  /v1/CustomerProfiles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Customer-Profiles for an account.
      operationId: list_customer_profile
      parameters:
      - description: The verification status of the Customer-Profile resource.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/customer_profile_enum_status'
        style: form
      - description: The string that you assigned to describe the resource.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: The unique string of a policy that is associated to the Customer-Profile
          resource.
        explode: true
        in: query
        name: PolicySid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerProfileResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfiles
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_controller
    post:
      description: Create a new Customer-Profile.
      operationId: create_customer_profile
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCustomerProfileRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfiles
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles
      defaultOutputProperties:
      - sid
      - policy_sid
      - friendly_name
      dependentProperties:
        customer_profiles_channel_endpoint_assignment:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/ChannelEndpointAssignments"
        customer_profiles_entity_assignments:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/EntityAssignments"
        customer_profiles_evaluations:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/Evaluations"
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/ChannelEndpointAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: list_customer_profile_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of an channel endpoint
        explode: true
        in: query
        name: ChannelEndpointSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: comma separated list of channel endpoint sids
        explode: true
        in: query
        name: ChannelEndpointSids
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerProfileChannelEndpointAssignmentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_channel_endpoint_assignment_controller
    post:
      description: Create a new Assigned Item.
      operationId: create_customer_profile_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCustomerProfileChannelEndpointAssignmentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_channel_endpoint_assignment_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_channel_endpoint_assignment
      parent: "/CustomerProfiles/{Sid}"
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/ChannelEndpointAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: delete_customer_profile_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_channel_endpoint_assignment_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: fetch_customer_profile_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_channel_endpoint_assignment_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_channel_endpoint_assignment
      parent: "/CustomerProfiles/{Sid}"
      pathType: instance
  /v1/CustomerProfiles/{CustomerProfileSid}/EntityAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: list_customer_profile_entity_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerProfileEntityAssignmentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_entity_assignments_controller
    post:
      description: Create a new Assigned Item.
      operationId: create_customer_profile_entity_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCustomerProfileEntityAssignmentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_entity_assignment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_entity_assignments_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_entity_assignments
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_entity_assignments
      parent: "/CustomerProfiles/{Sid}"
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/EntityAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: delete_customer_profile_entity_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_entity_assignments_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: fetch_customer_profile_entity_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_entity_assignment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_entity_assignments_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_entity_assignments
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_entity_assignments
      parent: "/CustomerProfiles/{Sid}"
      pathType: instance
  /v1/CustomerProfiles/{CustomerProfileSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the customer_profile
        resource.
      operationId: list_customer_profile_evaluation
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerProfileEvaluationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_evaluations_controller
    post:
      description: Create a new Evaluation
      operationId: create_customer_profile_evaluation
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCustomerProfileEvaluationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_evaluation'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_evaluations_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_evaluations
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_evaluations
      parent: "/CustomerProfiles/{Sid}"
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: fetch_customer_profile_evaluation
      parameters:
      - description: The unique string that we created to identify the customer_profile
          resource.
        explode: false
        in: path
        name: CustomerProfileSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that identifies the Evaluation resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^EL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile.customer_profile_evaluation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_evaluations_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_evaluations
      defaultOutputProperties:
      - sid
      mountName: customer_profiles_evaluations
      parent: "/CustomerProfiles/{Sid}"
      pathType: instance
  /v1/CustomerProfiles/{Sid}:
    delete:
      description: Delete a specific Customer-Profile.
      operationId: delete_customer_profile
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfiles
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Customer-Profile instance.
      operationId: fetch_customer_profile
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfiles
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_controller
    post:
      description: Updates a Customer-Profile in an account.
      operationId: update_customer_profile
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCustomerProfileRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.customer_profile'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1CustomerProfiles
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_customer_profiles_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles
      defaultOutputProperties:
      - sid
      - policy_sid
      - friendly_name
      dependentProperties:
        customer_profiles_channel_endpoint_assignment:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/ChannelEndpointAssignments"
        customer_profiles_entity_assignments:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/EntityAssignments"
        customer_profiles_evaluations:
          mapping:
            customer_profile_sid: sid
          resource_url: "/v1/CustomerProfiles/{customer_profile_sid}/Evaluations"
      pathType: instance
  /v1/EndUserTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End-User Types.
      operationId: list_end_user_type
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUserType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_type_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
  /v1/EndUserTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific End-User Type Instance.
      operationId: fetch_end_user_type
      parameters:
      - description: The unique string that identifies the End-User Type resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUserType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_type_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
  /v1/EndUsers:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End User for an account.
      operationId: list_end_user
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_controller
    post:
      description: Create a new End User.
      operationId: create_end_user
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEndUserRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
  /v1/EndUsers/{Sid}:
    delete:
      description: Delete a specific End User.
      operationId: delete_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific End User Instance.
      operationId: fetch_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_controller
    post:
      description: Update an existing End User.
      operationId: update_end_user
      parameters:
      - description: The unique string created by Twilio to identify the End User
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateEndUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1EndUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_end_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
  /v1/Policies:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Policys.
      operationId: list_policies
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoliciesResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1Policies
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_policies_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: policies
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
  /v1/Policies/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Policy Instance.
      operationId: fetch_policies
      parameters:
      - description: The unique string that identifies the Policy resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.policies'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1Policies
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_policies_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: policies
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
  /v1/SupportingDocumentTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document Types.
      operationId: list_supporting_document_type
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocumentType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_type_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
  /v1/SupportingDocumentTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Supporting Document Type Instance.
      operationId: fetch_supporting_document_type
      parameters:
      - description: The unique string that identifies the Supporting Document Type
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocumentType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_type_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
  /v1/SupportingDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document for an account.
      operationId: list_supporting_document
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_controller
    post:
      description: Create a new Supporting Document.
      operationId: create_supporting_document
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSupportingDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
  /v1/SupportingDocuments/{Sid}:
    delete:
      description: Delete a specific Supporting Document.
      operationId: delete_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Supporting Document Instance.
      operationId: fetch_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_controller
    post:
      description: Update an existing Supporting Document.
      operationId: update_supporting_document
      parameters:
      - description: The unique string created by Twilio to identify the Supporting
          Document resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSupportingDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1SupportingDocument
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_supporting_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
  /v1/TrustProducts:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Customer-Profiles for an account.
      operationId: list_trust_product
      parameters:
      - description: The verification status of the Customer-Profile resource.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/trust_product_enum_status'
        style: form
      - description: The string that you assigned to describe the resource.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: The unique string of a policy that is associated to the Customer-Profile
          resource.
        explode: true
        in: query
        name: PolicySid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrustProductResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProducts
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_controller
    post:
      description: Create a new Customer-Profile.
      operationId: create_trust_product
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTrustProductRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProducts
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products
      defaultOutputProperties:
      - sid
      - policy_sid
      - friendly_name
      dependentProperties:
        trust_products_channel_endpoint_assignment:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/ChannelEndpointAssignments"
        trust_products_entity_assignments:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/EntityAssignments"
        trust_products_evaluations:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/Evaluations"
      pathType: list
  /v1/TrustProducts/{Sid}:
    delete:
      description: Delete a specific Customer-Profile.
      operationId: delete_trust_product
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProducts
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Customer-Profile instance.
      operationId: fetch_trust_product
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProducts
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_controller
    post:
      description: Updates a Customer-Profile in an account.
      operationId: update_trust_product
      parameters:
      - description: The unique string that we created to identify the Customer-Profile
          resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTrustProductRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProducts
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products
      defaultOutputProperties:
      - sid
      - policy_sid
      - friendly_name
      dependentProperties:
        trust_products_channel_endpoint_assignment:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/ChannelEndpointAssignments"
        trust_products_entity_assignments:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/EntityAssignments"
        trust_products_evaluations:
          mapping:
            trust_product_sid: sid
          resource_url: "/v1/TrustProducts/{trust_product_sid}/Evaluations"
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/ChannelEndpointAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: list_trust_product_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of an channel endpoint
        explode: true
        in: query
        name: ChannelEndpointSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: comma separated list of channel endpoint sids
        explode: true
        in: query
        name: ChannelEndpointSids
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrustProductChannelEndpointAssignmentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_channel_endpoint_assignment_controller
    post:
      description: Create a new Assigned Item.
      operationId: create_trust_product_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTrustProductChannelEndpointAssignmentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_channel_endpoint_assignment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_channel_endpoint_assignment_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      mountName: trust_products_channel_endpoint_assignment
      parent: "/TrustProducts/{Sid}"
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/ChannelEndpointAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: delete_trust_product_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_channel_endpoint_assignment_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: fetch_trust_product_channel_endpoint_assignment
      parameters:
      - description: The unique string that we created to identify the CustomerProfile
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_channel_endpoint_assignment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_channel_endpoint_assignment_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      mountName: trust_products_channel_endpoint_assignment
      parent: "/TrustProducts/{Sid}"
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/EntityAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: list_trust_product_entity_assignment
      parameters:
      - description: The unique string that we created to identify the TrustProduct
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrustProductEntityAssignmentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_entity_assignments_controller
    post:
      description: Create a new Assigned Item.
      operationId: create_trust_product_entity_assignment
      parameters:
      - description: The unique string that we created to identify the TrustProduct
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTrustProductEntityAssignmentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_entity_assignment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_entity_assignments_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_entity_assignments
      defaultOutputProperties:
      - sid
      mountName: trust_products_entity_assignments
      parent: "/TrustProducts/{Sid}"
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/EntityAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: delete_trust_product_entity_assignment
      parameters:
      - description: The unique string that we created to identify the TrustProduct
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_entity_assignments_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: fetch_trust_product_entity_assignment
      parameters:
      - description: The unique string that we created to identify the TrustProduct
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Identity resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_entity_assignment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_entity_assignments_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_entity_assignments
      defaultOutputProperties:
      - sid
      mountName: trust_products_entity_assignments
      parent: "/TrustProducts/{Sid}"
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the trust_product
        resource.
      operationId: list_trust_product_evaluation
      parameters:
      - description: The unique string that we created to identify the trust_product
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrustProductEvaluationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_evaluations_controller
    post:
      description: Create a new Evaluation
      operationId: create_trust_product_evaluation
      parameters:
      - description: The unique string that we created to identify the trust_product
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTrustProductEvaluationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_evaluation'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_evaluations_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_evaluations
      defaultOutputProperties:
      - sid
      mountName: trust_products_evaluations
      parent: "/TrustProducts/{Sid}"
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: fetch_trust_product_evaluation
      parameters:
      - description: The unique string that we created to identify the trust_product
          resource.
        explode: false
        in: path
        name: TrustProductSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that identifies the Evaluation resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^EL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.trust_product.trust_product_evaluation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrusthubV1TrustProductsEvaluations
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.trusthub_v1_trust_products_evaluations_controller
    servers:
    - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_evaluations
      defaultOutputProperties:
      - sid
      mountName: trust_products_evaluations
      parent: "/TrustProducts/{Sid}"
      pathType: instance
components:
  schemas:
    compliance_registration_enum_business_identity_type:
      enum:
      - direct_customer
      - isv_reseller_or_partner
      - unknown
      title: compliance_registration_enum_business_identity_type
      type: string
    compliance_registration_enum_business_registration_authority:
      enum:
      - UK:CRN
      - US:EIN
      - CA:CBN
      - AU:ACN
      - Other
      title: compliance_registration_enum_business_registration_authority
      type: string
    compliance_registration_enum_end_user_type:
      enum:
      - Individual
      - Business
      title: compliance_registration_enum_end_user_type
      type: string
    compliance_registration_enum_phone_number_type:
      enum:
      - local
      - national
      - mobile
      - toll-free
      title: compliance_registration_enum_phone_number_type
      type: string
    compliance_tollfree_inquiry_enum_opt_in_type:
      enum:
      - VERBAL
      - WEB_FORM
      - PAPER_FORM
      - VIA_TEXT
      - MOBILE_QR_CODE
      title: compliance_tollfree_inquiry_enum_opt_in_type
      type: string
    compliance_tollfree_inquiry_enum_status:
      enum:
      - PENDING_REVIEW
      - IN_REVIEW
      - TWILIO_APPROVED
      - TWILIO_REJECTED
      type: string
    customer_profile_enum_end_user_type:
      enum:
      - individual
      - business
      type: string
    customer_profile_enum_status:
      enum:
      - draft
      - pending-review
      - in-review
      - twilio-rejected
      - twilio-approved
      title: customer_profile_enum_status
      type: string
    customer_profile_evaluation_enum_status:
      enum:
      - compliant
      - noncompliant
      title: customer_profile_evaluation_enum_status
      type: string
    policies_enum_end_user_type:
      enum:
      - individual
      - business
      type: string
    supporting_document_enum_status:
      enum:
      - draft
      - pending-review
      - rejected
      - approved
      - expired
      - provisionally-approved
      title: supporting_document_enum_status
      type: string
    trust_product_enum_end_user_type:
      enum:
      - individual
      - business
      type: string
    trust_product_enum_status:
      enum:
      - draft
      - pending-review
      - in-review
      - twilio-rejected
      - twilio-approved
      title: trust_product_enum_status
      type: string
    trust_product_evaluation_enum_status:
      enum:
      - compliant
      - noncompliant
      title: trust_product_evaluation_enum_status
      type: string
    trusthub.v1.compliance_inquiry:
      example:
        inquiry_id: inquiry_id
        inquiry_session_token: inquiry_session_token
        customer_id: customer_id
        url: https://openapi-generator.tech
      properties:
        customer_id:
          description: The CustomerID matching the Customer Profile that should be
            resumed or resubmitted for editing.
          nullable: true
          title: customer_id
          type: string
        inquiry_id:
          description: The unique ID used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_id
          type: string
        inquiry_session_token:
          description: The session token used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_session_token
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.compliance_inquiry
      type: object
    trusthub.v1.compliance_registration:
      example:
        inquiry_id: inquiry_id
        inquiry_session_token: inquiry_session_token
        registration_id: registration_id
        url: https://openapi-generator.tech
      properties:
        inquiry_id:
          description: The unique ID used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_id
          type: string
        inquiry_session_token:
          description: The session token used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_session_token
          type: string
        registration_id:
          description: The RegistrationId matching the Registration Profile that should
            be resumed or resubmitted for editing.
          nullable: true
          title: registration_id
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.compliance_registration
      type: object
    trusthub.v1.compliance_tollfree_inquiry:
      example:
        inquiry_id: inquiry_id
        inquiry_session_token: inquiry_session_token
        registration_id: registration_id
        url: https://openapi-generator.tech
      properties:
        inquiry_id:
          description: The unique ID used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_id
          type: string
        inquiry_session_token:
          description: The session token used to start an embedded compliance registration
            session.
          nullable: true
          title: inquiry_session_token
          type: string
        registration_id:
          description: The TolfreeId matching the Tollfree Profile that should be
            resumed or resubmitted for editing.
          nullable: true
          title: registration_id
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.compliance_tollfree_inquiry
      type: object
    trusthub.v1.customer_profile:
      example:
        policy_sid: policy_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        valid_until: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        status_callback: https://openapi-generator.tech
        email: email
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Customer-Profile resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        email:
          description: The email address that will receive updates when the Customer-Profile
            resource changes status.
          nullable: true
          title: email
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        links:
          description: The URLs of the Assigned Items of the Customer-Profile resource.
          format: uri-map
          nullable: true
          title: links
          type: object
        policy_sid:
          description: The unique string of a policy that is associated to the Customer-Profile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: policy_sid
          type: string
        sid:
          description: The unique string that we created to identify the Customer-Profile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/customer_profile_enum_status'
        status_callback:
          description: The URL we call to inform your application of status changes.
          format: uri
          nullable: true
          title: status_callback
          type: string
        url:
          description: The absolute URL of the Customer-Profile resource.
          format: uri
          nullable: true
          title: url
          type: string
        valid_until:
          description: "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format when the resource will be valid until."
          format: date-time
          nullable: true
          title: valid_until
          type: string
      title: trusthub.v1.customer_profile
      type: object
    trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment:
      example:
        channel_endpoint_sid: channel_endpoint_sid
        customer_profile_sid: customer_profile_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        channel_endpoint_type: channel_endpoint_type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Item Assignment resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_endpoint_sid:
          description: The SID of an channel endpoint
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          title: channel_endpoint_sid
          type: string
        channel_endpoint_type:
          description: "The type of channel endpoint. eg: phone-number"
          nullable: true
          title: channel_endpoint_type
          type: string
        customer_profile_sid:
          description: The unique string that we created to identify the CustomerProfile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: customer_profile_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        sid:
          description: The unique string that we created to identify the Item Assignment
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RA[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Identity resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment
      type: object
    trusthub.v1.customer_profile.customer_profile_entity_assignment:
      example:
        customer_profile_sid: customer_profile_sid
        object_sid: object_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Item Assignment resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        customer_profile_sid:
          description: The unique string that we created to identify the CustomerProfile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: customer_profile_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        object_sid:
          description: The SID of an object bag that holds information of the different
            items.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          title: object_sid
          type: string
        sid:
          description: The unique string that we created to identify the Item Assignment
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BV[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Identity resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.customer_profile.customer_profile_entity_assignment
      type: object
    trusthub.v1.customer_profile.customer_profile_evaluation:
      example:
        policy_sid: policy_sid
        customer_profile_sid: customer_profile_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        results:
        - ""
        - ""
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the customer_profile resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        customer_profile_sid:
          description: The unique string that we created to identify the customer_profile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BU[0-9a-fA-F]{32}$"
          title: customer_profile_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        policy_sid:
          description: The unique string of a policy that is associated to the customer_profile
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: policy_sid
          type: string
        results:
          description: The results of the Evaluation which includes the valid and
            invalid attributes.
          items: {}
          nullable: true
          title: results
          type: array
        sid:
          description: The unique string that identifies the Evaluation resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^EL[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/customer_profile_evaluation_enum_status'
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.customer_profile.customer_profile_evaluation
      type: object
    trusthub.v1.end_user:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        attributes: ""
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the End User resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: The set of parameters that are the attributes of the End Users
            resource which are listed in the End User Types.
          nullable: true
          title: attributes
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        sid:
          description: The unique string created by Twilio to identify the End User
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          description: The type of end user of the Bundle resource - can be `individual`
            or `business`.
          nullable: true
          title: type
          type: string
        url:
          description: The absolute URL of the End User resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.end_user
      type: object
    trusthub.v1.end_user_type:
      example:
        friendly_name: friendly_name
        fields:
        - ""
        - ""
        machine_name: machine_name
        url: https://openapi-generator.tech
        sid: sid
      properties:
        fields:
          description: The required information for creating an End-User. The required
            fields will change as regulatory needs change and will differ for businesses
            and individuals.
          items: {}
          nullable: true
          title: fields
          type: array
        friendly_name:
          description: "A human-readable description that is assigned to describe\
            \ the End-User Type resource. Examples can include first name, last name,\
            \ email, business name, etc"
          nullable: true
          title: friendly_name
          type: string
        machine_name:
          description: "A machine-readable description of the End-User Type resource.\
            \ Examples can include first_name, last_name, email, business_name, etc."
          nullable: true
          title: machine_name
          type: string
        sid:
          description: The unique string that identifies the End-User Type resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^OY[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the End-User Type resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.end_user_type
      type: object
    trusthub.v1.policies:
      example:
        friendly_name: friendly_name
        requirements: ""
        url: https://openapi-generator.tech
        sid: sid
      properties:
        friendly_name:
          description: A human-readable description that is assigned to describe the
            Policy resource. Examples can include Primary Customer profile policy
          nullable: true
          title: friendly_name
          type: string
        requirements:
          description: The SID of an object that holds the policy information
          nullable: true
          title: requirements
        sid:
          description: The unique string that identifies the Policy resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Policy resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: trusthub.v1.policies
      type: object
    trusthub.v1.supporting_document:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        mime_type: mime_type
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        attributes: ""
        type: type
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Document resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: The set of parameters that are the attributes of the Supporting
            Documents resource which are listed in the Supporting Document Types.
          nullable: true
          title: attributes
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        mime_type:
          description: The image type uploaded in the Supporting Document container.
          nullable: true
          title: mime_type
          type: string
        sid:
          description: The unique string created by Twilio to identify the Supporting
            Document resource.
          maxLength: 34
[...]
